[2020-11-10 07:46] aryx commented on #1952
Yes for mozilla it is not gonna happen ... They're using weird macros everywhere that makes the code unparsable.
It's not C++, it's C++_WITH_OUR_OWN_MINI_LANGUAGE_FOR_RESOURCE_MANAGEMENT_AND_OTHER_STUFF.

[2020-11-10 08:08] aryx commented on #1925
Ok but what? I can put "Bug in lexer, you forgot the call to complete_parse_info somewhere"

[2020-11-10 09:57] aryx commented on #1952
The tree-sitter c++ parser can parse 93% of Cataclysm, which is not bad, but there's lots of parse errors on code I don't really understand:

[code]

[2020-11-10 10:31] #1987 closed, assigned to nobody

[2020-11-10 11:05] #1955 closed, assigned to nobody

[2020-11-10 11:07] aryx commented on #1953
Looks like there is a tree-sitter grammar for it: https://github.com/tree-sitter/tree-sitter-scala

@izar it would be great if you could evaluate whether the tree-sitter-scala parser is good and can parse correctly
a big percentage of your code.

[2020-11-10 11:22] #1963 closed, assigned to nobody

[2020-11-10 13:48] #1960 closed, assigned to nobody

[2020-11-10 14:18] izar commented on #1953
Will do. Thanks!

[2020-11-10 14:21] mschwager commented on #1925
I think the problem is that we're putting `NO FILE INFO YET` in the output `path` key. Then, when the Python code tries to use `path`, it blows up because this file doesn't exist. E.g.

[code]

[code]

The `semgrep-core` output is:

[code]

Notice `'path': 'NO FILE INFO YET'` - this makes the Python code blow up because it assumes `path` is an existing file. Shouldn't `semgrep-core` know that the

[2020-11-10 14:44] mschwager commented on #1925
https://github.com/returntocorp/semgrep/pull/1999!

[2020-11-10 14:48] mschwager commented on #1817
We're now gracefully handling this error case: https://github.com/returntocorp/semgrep/pull/1999

This error either means Semgrep is running over invalid code, or there's a bug in our parsing. Either way, we shouldn't see `NO FILE INFO YET` anymore after the 0.31.0 release of Semgrep. I'm going to close this issue out, if you see lexical errors please open a new issue with the relevant pattern and

[2020-11-10 14:48] #1817 closed, assigned to nobody

[2020-11-10 14:49] mschwager commented on #1412
We're now gracefully handling this error case: https://github.com/returntocorp/semgrep/pull/1999

This error either means Semgrep is running over invalid code, or there's a bug in our parsing. Either way, we shouldn't see `NO FILE INFO YET` anymore after the 0.31.0 release of Semgrep. I'm going to close this issue out, if you see lexical errors please open a new issue with the relevant pattern and

[2020-11-10 14:49] #1412 closed, assigned to nobody

[2020-11-10 15:40] mschwager commented on #1981
Looks like this is from running the [`jquery-insecure-selector`](https://github.com/returntocorp/semgrep-rules/blob/develop/javascript/jquery/security/audit/jquery-insecure-selector.yaml) rule against the `semgrep-core/tests/OTHER/PERF/swagger-ui-bundle.js` file in this repository. I can reproduce the hanging behavior in `semgrep-core` by running the appropriate rules file ([rules-file.txt](https:

[2020-11-10 15:56] mschwager commented on #1972
Huh, weird. I'm seeing the same behavior on all of the following:

- https://semgrep.dev/s/6WK1/?version=0.29.0
- https://semgrep.dev/s/6WK1/?version=0.30.0
- And running your original rule/snippet against 0.29.0 and 0.30.0 locally

Since we have a working rule for your use-case I'm going to suggest we keep moving forward! Let us know if you see this again :+1:

[2020-11-10 15:56] #1972 closed, assigned to nobody

[2020-11-10 16:04] mschwager commented on #1947
This looks like a TS vs. JS issue. E.g. if I run the same rule with JS selected it works as expected: https://semgrep.dev/s/olX0/?version=develop.

cc @aryx @mjambon it looks like our metavariable matching is off for TS vs. the equivalent JS.

[2020-11-10 16:50] mschwager commented on #1991
The `nosem` functionality is case-insensitive, you just need a space before it, e.g. https://semgrep.dev/s/z8Od/

Here's the `nosem` logic if you're curious: https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/constants.py#L44

[2020-11-10 16:50] #1991 closed, assigned to mschwager

[2020-11-10 17:00] mschwager opened #2000 "PHP parse error on 'use function' namespace importing"
Running against: https://github.com/amphp/http-client

[code]

This is PHP's namespace importing functionality: https://www.php.net/manual/en/language.namespaces.importing.php

[2020-11-10 17:04] mschwager opened #2001 "PHP parse error on return type declaration"
Running against: https://github.com/amphp/http-client

[code]

This is PHP's return type declarations functionality: https://www.php.net/manual/en/functions.returning-values.php#functions.returning-values.type-declaration

[2020-11-10 17:07] mschwager opened #2002 "PHP parse error on class constant visibility modifiers"
Running against: https://github.com/amphp/http-client

[code]

This is PHP's class constant visibility modifiers: https://www.php.net/manual/en/language.oop5.constants.php

[2020-11-10 17:12] mschwager opened #2003 "PHP parse error on anonymous class with arguments"
Running against: https://github.com/amphp/http-client

[code]

This is using PHP's anonymous class with constructor arguments functionality: https://www.php.net/manual/en/language.oop5.anonymous.php

[2020-11-10 17:14] dlukeomalley commented on #1982
@j-martin makes sense. Do you have a sense of how you'll add `// nosem` to all of your findings and/or how receptive the rest of your team would be to that type of change?

The idea of establishing a "baseline" is really interesting to me, but the mechanics of it feel cumbersome both from the perspective of the work involved AND the buy-in required from the rest of your team. Curious what we could

[2020-11-10 17:18] mschwager opened #2004 "PHP parse error on grouped 'use' declarations"
Running against: https://github.com/paragonie/airship

[code]

This is PHP's grouped 'use' declarations functionality: https://www.php.net/manual/en/language.namespaces.importing.php#language.namespaces.importing.group

[2020-11-10 17:25] mschwager opened #2005 "semgrep-core errors on symlinks"
Running against: https://github.com/mapbender/mapbender-starter

[code]

That file is a symlink:

[code]

We should either: A.) follow symlinks in `semgrep-core`, or B.) resolve symlinks in Python before passing them to `semgrep-core`.

[2020-11-10 18:05] j-martin commented on #1982
I've added manually in bulk via emacs+helm/ag+iedit, I could have done it with `find` + `sed` or if I wanted to be fancy, write a mock rule and add `semgrep --autofix`. My rule was simple enough for `grep` so `sed` would have been fine.

Culturally, we already do it for pylint, pmd, spotbugs, mypy, shellcheck, eslint, etc. so it was not an issue at all. I think the `// no****` is expected from any

[2020-11-10 18:06] mschwager commented on #1361
Related #1981?

[2020-11-10 18:10] mschwager commented on #2005
Or C.) ignore symlink files in Python before passing them to `semgrep-core`. Symlinks seem like an annoyance in a static analysis context because the reported lines and such will be for the linked file, not the linker. If the linked file is also in the repository then we'll analyze it anyway (unless there's an edge-case like the linker has the correct extension and the linked does not).

@brendong

[2020-11-10 18:11] j-martin commented on #1991
Ah! Can we re-open to handle no space prefix?

[2020-11-10 18:30] mschwager commented on #1991
I can re-open if you'd like, but the required space prefix was intentional. To avoid maintaining a list of all supported language's comment syntax we don't actually require the comment symbol. To minimize false positives in `nosem` detection we required the space prefix, e.g. we won't detect the following as a `nosem` annotation:

[code]

However, there are still false positives like:

[code]

Thi

[2020-11-10 18:34] j-martin commented on #1991
That's entirely reasonable. I think it should be documented then since I can't think of a linter (that I've used) that cares about the leading space in the comment.

[2020-11-10 19:46] mschwager commented on #1991
Sure thing! See https://github.com/returntocorp/semgrep-docs/pull/42

[2020-11-10 20:17] j-martin commented on #1991
Cool. It might also make sense to throw a warning when `nosem.*` (no space prefix) is found.

[2020-11-10 20:37] dlukeomalley commented on #1032
Is this done now that semgrep.dev/docs exists? 🤞

[2020-11-10 21:27] mschwager commented on #1032
Yup! Good catch

[2020-11-10 21:27] #1032 closed, assigned to nobody

[2020-11-10 21:54] colleend opened #2008 "Semgrep Action 'update dev.semgrep.dev' is failing"
**Describe the bug**
The semgrep action running the command `curl --fail -X POST https://dev.semgrep.dev/api/admin/update-docker`
is failing due to 502 error.

Example: https://github.com/returntocorp/semgrep/runs/1380745159

[2020-11-11 00:11] mjambon opened #2010 "typescript parsing error: support 'infer X' in conditional types"
This needs to be fixed in the tree-sitter-typescript grammar. Tracked at https://github.com/tree-sitter/tree-sitter-typescript/issues/101.

[2020-11-11 00:19] inkz opened #2011 "Decorators for TypeScript"
**Is your feature request related to a problem? Please describe.**
Decorators are proposed feature for JS
https://github.com/tc39/proposal-decorators

and is also marked as experimental feature for TS
https://www.typescriptlang.org/docs/handbook/decorators.html

but they are widely used already in modern Typescript frameworks

[code]

https://docs.nestjs.com/exception-filters

**Describe the solut

[2020-11-11 03:08] mjambon opened #2012 "typescript parsing error: precedence issue involving 'as' and '&'"
See https://github.com/tree-sitter/tree-sitter-typescript/issues/102

In the following,
[code]
the right handside is parsed as `({} as {}) & {}` instead of `{} as ({} & {})`.

[2020-11-11 04:27] mjambon commented on #2011
@aryx decorators are supported by the tree-sitter-javascript and tree-sitter-typescript grammars. We could use them to parse the pattern or we could add the feature to the pfff parser.

[2020-11-11 04:28] mjambon commented on #2011
@inkz thank you for the detailed report!

[2020-11-11 05:04] mjambon opened #2013 "typescript parsing bug: support '-readonly' in mapped types"
This requires a change in the tree-sitter-typescript grammar. See details at https://github.com/tree-sitter/tree-sitter-typescript/issues/103.

[2020-11-11 11:25] aryx commented on #2011
Actually they were not always put in the AST in tree-sitter-typescript. I've fixed that too.

[2020-11-11 13:57] #2011 closed, assigned to aryx

[2020-11-11 14:26] aryx commented on #1947
Nice find @mschwager
Apparently the tree-sitter-based parser (which is used when running in TS mode) does not return the right thing for a foreach with a const iterator. The one in pfff (which is used when running in JS mode because tree-sitter-javascript fails on the code because it contains type annotations), returns the right thing, hence the different behavior in JS vs TS mode.

[2020-11-11 15:26] #1947 closed, assigned to mjambon

[2020-11-11 15:27] tkisason opened #2016 "verbose or -v flag has confusing UX"
_[edited by @ievans after discussion with @tkisason on Slack]_

**Describe the bug**

When you run semgrep with --verbose or -v option, the output may not be changed.

**To Reproduce**

[code]

Same with --verbose or -v, before and after config.

**Expected behavior**

We should see an indication that the verbose mode is enabled and instructions on how to get even more verbosity. Perhaps (`Running

[2020-11-11 16:40] antitree opened #2018 "Add Support for Setting Temporary Directory To A Location That Is Not World Readable"
**Is your feature request related to a problem? Please describe.**
When running semgrep locally, portions of the files it scans (ast cache) are stored in a world readable /tmp directory. This is likely fine for single user systems and CI/CD but in cases where I'm trying not to expose, for example, customer source code, it's seems like a risk. There does not appear to be any way to override this te

[2020-11-11 16:59] mschwager commented on #2018
Hi @antitree,

We use the [`tempfile`](https://docs.python.org/3/library/tempfile.html) library for choosing our temporary cache directory. It supports setting the directory via the [`TMPDIR`](https://docs.python.org/3/library/tempfile.html#tempfile.gettempdir) environment variable. I just tested this functionality with the following command and it worked for me:

[code]

Can you confirm?

[2020-11-11 17:03] mschwager commented on #2016
Discussing in community Slack: https://r2c-community.slack.com/archives/CK86BJ5DW/p1605109095481300

[2020-11-11 17:18] mschwager commented on #1948
Hi @msorens,

I agree, this seems odd. cc @aryx if the semi-colon is included in the pattern shouldn't it be matched in the code? E.g. https://semgrep.dev/s/OkXL/ shouldn't we match all of `foo(5);` instead of just `foo(5)`?

[2020-11-11 18:06] brendongo opened #2020 "Write test to check config directory search"
When semgrep is passed a directory as a config it should find all .yaml files and treat them as config files.

0.31.0 saw a regression that was fixed by https://github.com/returntocorp/semgrep/pull/2019 we should add testing to catch this case.

[2020-11-11 19:38] nbrahms commented on #1831
For posterity: we've been unable to reproduce this issue, so we're closing it out until we can 😞

[2020-11-11 19:38] #1831 closed, assigned to nbrahms

[2020-11-11 22:23] colleend commented on #2008
Somehow docker resolved this issue without any work on our part 😱 .

This means it will be difficult to reproduce. Everything is also working now, so I will just close this issue; if it reoccurs again, we can do a deeper delve into what is going wrong and what we can do about it.

[2020-11-11 22:23] #2008 closed, assigned to nbrahms, colleend

[2020-11-11 23:22] inkz commented on #2011
Thanks for quick update! :+1:

[2020-11-12 02:31] mjambon opened #2023 "typescript parsing bug: add support for rest element in tuple types e.g. '[number, ...number[]]'"
Requires change in the tree-sitter-typescript grammar. Tracked at https://github.com/tree-sitter/tree-sitter-typescript/issues/104.

[2020-11-12 03:04] mjambon opened #2024 "typescript parsing bug: support optional elements in tuple types"
Requires a change in tree-sitter-typescript. Tracked at https://github.com/tree-sitter/tree-sitter-typescript/issues/106.

This will support question marks after tuple elements:
[code]

[2020-11-12 05:23] mjambon opened #2025 "typescript parsing bug: non-null assertion operator after array dererefence e.g. 'a[0]! += 2'"
Requires change in tree-sitter-typescript. Tracked at https://github.com/tree-sitter/tree-sitter-typescript/issues/107

I suspected this feature is rarely used. Not sure.

[2020-11-12 07:40] #1927 closed, assigned to nobody

[2020-11-12 07:41] aryx commented on #2011
works on develop: https://semgrep.dev/s/kWoP/?version=develop

[2020-11-12 07:43] aryx commented on #1947
works now on develop: https://semgrep.dev/s/ZWOw/?version=develop

[2020-11-12 09:19] #1873 closed, assigned to aryx

[2020-11-12 10:25] #1740 closed, assigned to aryx

[2020-11-12 10:36] #1719 closed, assigned to aryx

[2020-11-12 10:38] aryx commented on #1392
How are things progressing @Sjord ? Anything we can do to help?
Do you think we could merge what you wrote?

[2020-11-12 11:07] aryx commented on #1740
This now works at least: https://semgrep.dev/s/ne2Y/?version=develop

[2020-11-12 11:08] aryx commented on #1719
This now works on develop: https://semgrep.dev/s/ere0/?version=develop

[2020-11-12 11:09] aryx commented on #1873
This now works on develop: https://semgrep.dev/s/D8Lj?version=develop

[2020-11-12 12:02] Sjord commented on #1392
Progress is slow but steady. The parser can currently parse most common features. We started with 329 todo's. I have resolved 201 of those, and added another 30. The TODO's I added are mostly when I am not sure if what I'm doing is the correct way.

I ran into a couple of [upstream](https://github.com/tree-sitter/tree-sitter-c-sharp/issues/138) [issues](https://github.com/tree-sitter/tree-sitter-c

[2020-11-12 13:09] aryx commented on #1948
Thx @mschwager for simplifying the problem. Indeed, the issue is that because of the ASI (automatic semicolon insertion)
done in JS/TS, when we parse a pattern like 'foo(...);' we are not sure if the user originally wanted to
write the expression pattern 'foo(...)' or the exrp-statement pattern 'foo(...);', and right now we were just assuming the first and removing the semicolon from the pattern.

[2020-11-12 13:10] aryx commented on #1948
The other issue is that the generic AST didn't store certain semicolons in the AST such as the one for return/break/continue.
I can fix that too. After that the code above should match the right range, and the autofix should work better because we would delete the right range of text.

[2020-11-12 14:08] aryx commented on #1877
We used to force to use the fully qualified name in the pattern, but I think it's confusing for people, so maybe we should
relax that constraint and let @RequestMapping  in a pattern to match the code.

[2020-11-12 14:13] #1877 closed, assigned to nobody

[2020-11-12 14:15] aryx opened #2029 "Name resolution should not prevent simple pattern to match the same code"
This address this previously reported issue:
https://github.com/returntocorp/semgrep/issues/1877#issuecomment-722449548

[2020-11-12 14:18] aryx commented on #2029
If someone write a pattern like @Attr class foo { ...} and the code is
import org.foo.bar.Attr;
@attr class foo { }
we should match it!

Currently because of name resolution, the @attr used in the code is expanded as @org.foo.bar.Attr class foo {}
which then does not match the simple unqualified @Attr class foo { ... } in the pattern.

[2020-11-12 14:19] aryx commented on #2029
See https://semgrep.dev/s/7g72/

[2020-11-12 14:20] aryx commented on #1877
I've created another task to track the name resolution issue.

[2020-11-12 14:20] aryx commented on #1877
See https://github.com/returntocorp/semgrep/issues/2029

[2020-11-12 14:24] aryx commented on #1897
the regexp in import now works thx to https://github.com/returntocorp/semgrep/pull/2017

[2020-11-12 14:43] antitree commented on #2018
Works for me. Thanks!

[2020-11-12 14:43] #2018 closed, assigned to mschwager

[2020-11-12 15:13] aryx commented on #1392
Fantastic! We can definitely help later to update to the latest tree-sitter-csharp and also to extend the grammar to allow semgrep-specific constructs (metavariables, ellipsis). In the mean time, I think the easiest way to go forward and for you to make a Pull Request on our repo so we can review it and merge it.

[2020-11-12 15:13] aryx commented on #1392
@dlukeomalley does Sjord need to sign some CLA agreement?

[2020-11-12 15:33] ievans opened #2031 "golang package import not binding metavariable"
The snippet below works if you use a generic metavariable (eg $X) for the line inside $F, but not if you try to re-reference the $P metavar from the import.

[code]

https://semgrep.dev/s/3e7K

[2020-11-12 15:43] hexagonrecursion commented on #1952
This is c++11 https://en.cppreference.com/w/cpp/language/user_literal
Headers where the literals are defined:
https://github.com/CleverRaven/Cataclysm-DDA/blob/master/src/units.h#L635-L839
https://github.com/CleverRaven/Cataclysm-DDA/blob/master/src/calendar.h#L339-L367

[2020-11-12 16:36] nbrahms commented on #2031
Possibly related to https://github.com/returntocorp/semgrep/issues/1771

[2020-11-12 16:38] nbrahms commented on #2031
Also see https://github.com/returntocorp/semgrep/issues/2029

[2020-11-12 16:50] mjambon opened #2032 "spacegrep CLI: add option to echo the whole input, highlighting matched regions"
Currently, only matching lines are shown in the command-line output. A visual effect similar to the live editor would be great.

The option would show the whole file, including parts that don't match. It would be useful for checking visually if a pattern works as expected.

[2020-11-12 18:43] chmccreery opened #2033 "Inline // nosem not working"
**Describe the bug**
When chef runs Semgrep in CI, they have several lines that get flagged every time, even though they are tagged with comments like // nosem: ruleid

**To Reproduce**
Create a file in go that violates the rule go.grpc.security.grpc-client-insecure-connection.grpc-client-insecure-connection and add a // nosem: go.grpc.security.grpc-client-insecure-connection.grpc-client-insecure-

[2020-11-12 18:46] mjambon opened #2034 "typescript parsing bug: Add support for labeled tuple elements e.g. '[a: string, b: number]'"
This requires a change in tree-sitter-typescript. Tracked at https://github.com/tree-sitter/tree-sitter-typescript/issues/108.

[2020-11-12 18:58] ievans commented on #2005
+1 to (C) @mschwager . This seems like a normal convention for unix-y tools, see ripgrep discussion https://github.com/BurntSushi/ripgrep/issues/692 and dumb-jump https://github.com/jacktasia/dumb-jump/issues/344

[2020-11-12 20:01] #2029 closed, assigned to aryx

[2020-11-12 21:37] mschwager commented on #2033
It works for me here: https://semgrep.dev/s/B2BA/

I also tested this out locally and it worked there too. :thinking:

[2020-11-12 21:40] mschwager commented on #2031
Looks like we have the same thing in Python: https://semgrep.dev/s/5W70/

However, our Python equivalences mitigate this concern, so we can't really compare the two: https://semgrep.dev/s/GRqq/

I'll have to defer to @aryx on this one. Is it possible to do a similar equivalence as Python and have users specify the fully qualified name, e.g. `logrus.WithError(...).Info(...)`, which automatically wo

[2020-11-12 21:44] mschwager opened #2035 "Add PHP support for deep expression operator"
[code]

[2020-11-13 03:30] msorens commented on #2033
@mschwager Could you post details of how you tested from the command line locally. It is not working for me and I am seeing some new unusual behavior--it is putting my entire file path in the rule id on the first line here!
[code]

[2020-11-13 06:33] mjambon commented on #1981
The following rule takes 28 minutes on my machine, and returns 0 matches:
[code]

Is this task about making pattern matching faster or about setting a timeout?

A timeout for parsing+matching can be set with `semgrep-core -timeout 5` and it works, but optimizing pattern matching so that it completes within 5 seconds on this test case is whole different story.

[2020-11-13 07:39] aryx commented on #1952
Could you create an issue on the tree-sitter C++ parser, given that's the one we are using for C++:
https://github.com/tree-sitter/tree-sitter-cpp

[2020-11-13 11:50] #1948 closed, assigned to nobody

[2020-11-13 13:33] aryx commented on #1948
Works now correctly on develop: https://semgrep.dev/s/6WXK/?version=develop

[2020-11-13 14:13] mschwager commented on #2033
By default the `nosem` functionality requires the full rule-id, e.g.

[code]

You can disable this functionality with the `--no-rewrite-rule-ids` flag, which will allow:

[code]

[2020-11-13 15:31] #2035 closed, assigned to nobody

[2020-11-13 15:47] glb commented on #2031
`$P.WithError(...).Info(...)`, interestingly, matches *both* of the following:

[code]

which is ... good? ... but not especially expected.

[2020-11-13 18:29] msorens commented on #2033
OK, let's back up a bit. Here are the details of my particular issue.

I have in my file this bit of code:
[code]

In my CI pipeline I am invoking semgrep-agent...
[code]
That uses a policy consisting of a single ruleset, `r2c-ci`, which contains the rule mentioned in my `nosem` above.

The result in CI is this:
[code]

... plus two more similar issues; all three should be suppressed via those `no

[2020-11-13 18:41] mschwager commented on #1404
Moving this from the customers board. Checked with @Isaac0616 and they are not blocked so removing it from the active sprint.

[2020-11-13 18:47] msorens commented on #2033
Oh, one more thing, @mschwager . If I change the `nosem` comment to omit the target (that is, just `// nosem`) that the system functions correctly; those three issues are not reported.

[2020-11-13 18:59] clintgibler commented on #1345
Adding a comment here because of a customer ask:

It appears that we already do constant propagation in a number of cases, but support varies:

* Python: https://semgrep.dev/s/clintgibler:python-constant-prop
* Ruby:  https://semgrep.dev/s/clintgibler:ruby-constant-prop

See also https://github.com/returntocorp/semgrep/issues/1645

CC @aryx @IagoAbal

[2020-11-13 19:25] mschwager commented on #2033
Hmm, weird. I'm unable to reproduce with nearly the same setup.

Trying against:

[code]

[code]

If I include the `nosem` comment:

[code]

[code]

The only difference I see in our setups are: 1.) we're not using the same Python version, `3.7.0` vs. `3.7.9`, and 2.) our local git states could be different, but I wouldn't expect that to affect this. To your knowledge, am I correctly reproducing?

[2020-11-13 19:27] underyx commented on #2033
@minusworld could you check the rule IDs when using a semgrep.dev policy? I think they might be different and including the /tmp/…/ path we download the rules to.

[2020-11-13 19:28] underyx commented on #2033
But I also thought I saw @chmccreery fixing that here: https://github.com/returntocorp/semgrep-action/commit/0b39727b2839ce7a38dc1a08a0991c566183d8b8#diff-c8c6d93c56ca3e3dbc740822fa786917478a112a4d6ed6eb7bb3667f225f6877R131

[2020-11-13 19:28] #1937 closed, assigned to nobody

[2020-11-13 20:21] mjambon opened #2043 "spacegrep fails on files without read permission"
Spacegrep, when scanning for files, tries to open regular files or directories even if it doesn't have the permission to to do. This results in the following exception:
[code]
Instead, such files should be ignored with a warning, similarly to how binary files are ignored. The `--force` option could apply here as well and cause files without read permission to not be ignored.

[2020-11-14 00:12] msorens commented on #2033
@underyx FWIW: Yes, in CI I used to see the `tmp.` artifact you mentioned--but yielding exactly the same end result. That is, it used to show this:
[code]
but is now showing this:
[code]

[2020-11-14 00:56] underyx commented on #2033
I see, thanks for confirming that @msorens! Looking at @chmccreery's commit, seems like we only strip the `tmp.` when printing the rule ID, so `semgrep` thinks that is actually part of the proper rule ID, and that must be why the `// nosem` comment that seems logical doesn't actually work. It expects the `tmp.[…]` rule ID to be mentioned in the comment.

@minusworld @mschwager are you maybe famili

[2020-11-14 03:44] mjambon opened #2046 "Honor '--timeout' option in generic mode (spacegrep)"
Currently, the time limit for processing a file is set with e.g. `semgrep --timeout 2` but is only honored by the `semgrep-core` back-end. It is not honored by `spacegrep` which invoked for language=generic.

[2020-11-14 04:01] mjambon opened #2047 "Install spacecat command"
The spacecat companion command to spacegrep was removed from the install bundle to save some space. Instead, we ship a single executable named `spacegrep` that serves both as `spacegrep` and `spacecat`, depending on the name of the command (argv[0]). For a proper installation with pip or brew, all we need is install an executable named `spacecat` that's a link to or a copy of the `spacegrep` execu

[2020-11-14 04:31] mjambon commented on #2046
Based on https://github.com/ocaml/ocaml/issues/5908, there's no way to implement this in ocaml and have it work on Windows too. We can duplicate [what semgrep-core uses](https://github.com/returntocorp/pfff/blob/01f4bce05bcd3bdb90fc43bb165eb146678ea193/commons/Common.ml#L1004-L1039) but it feels wrong (overkill, fragile).

Another way is to manage the timeout from the semgrep python wrapper. I hav

[2020-11-14 13:42] mhrsecx01 opened #2050 "semgrep.dev bug report"
https://semgrep.dev/s/X2pB

[2020-11-14 15:24] aryx commented on #1882
PHPWord now parses correctly at 100%
(using the develop version of semgrep)

[2020-11-14 17:35] #2002 closed, assigned to nobody

[2020-11-15 07:43] baradm100 commented on #1995
Hi team!
I have this issue as well, any news?

## Logs

[code]

[2020-11-15 13:09] #2000 closed, assigned to nobody

[2020-11-15 13:13] aryx commented on #1882
phpunit parsing should improve now. All the parsing errors in PHPunit mentioned above have been fixed
(but there are some still remaining).

[2020-11-15 21:21] msorens opened #2051 "Autofix loses fidelity by adding and subtracting characters"
**Describe the bug**
Two errors and one conundrum in the attached sandbox:

### The errors
(1) Lost a space from both matches.
(2) Gained an extra closing parenthesis--but only from one of the two matches!

### The conundrum
I understand why my two fragments of code are semantically equivalent and matched by the pattern. However, I was actually trying to write a rule to match just the first one; i

[2020-11-16 06:48] ben-elttam commented on #1714
https://r2c-community.slack.com/archives/CK86BJ5DW/p1600705062035800?thread_ts=1600654541.021900&cid=CK86BJ5DW

[2020-11-16 08:55] #2003 closed, assigned to nobody

[2020-11-16 08:57] aryx commented on #1882
Use of anonymous classes has been fixed, see https://github.com/returntocorp/semgrep/issues/2003

[2020-11-16 09:33] #2001 closed, assigned to nobody

[2020-11-16 09:34] aryx commented on #1882
Type annotations on closures are not correctly supported. See https://github.com/returntocorp/semgrep/issues/2001

[2020-11-16 09:40] inkz opened #2052 "ellipsis operator and metavariables inside imports for TypeScript"
**Is your feature request related to a problem? Please describe.**
Currently there is no opportunity to catch and track arbitrary `import ... from ...`s in TypeScript
e.g.
trying to find `jwt_decode` library import on code like this

[code]

with pattern like this

[code]
https://semgrep.dev/s/KdR5

wont return results

trying to use pattern like this

[code]
https://semgrep.dev/s/4B6z

will retur

[2020-11-16 15:03] #2004 closed, assigned to nobody

[2020-11-16 15:04] aryx commented on #1882
Use grouped declarations are now supported: https://github.com/returntocorp/semgrep/issues/2004

[2020-11-16 15:05] aryx commented on #1882
Most errors reported above are now fixed. I'll close for now; the popular framework libraries
are still not parsing fully at 100% but we can create a separate issue with new errors.

[2020-11-16 15:05] #1882 closed, assigned to nobody

[2020-11-16 15:06] erwanlr commented on #1882
Thank you very much @aryx !

[2020-11-16 15:19] mschwager commented on #2050
Hi @mhrsecx01,

Can you elaborate on what the bug is here? It looks like your rule has an empty pattern. Are you expecting the editor to warn you when there's an empty pattern?

[2020-11-16 16:20] emjin commented on #1071
This works: https://semgrep.dev/s/emjin:java-annotation

[2020-11-16 16:20] #1071 closed, assigned to nobody

[2020-11-16 17:45] ajinabraham opened #2054 "semgrep thows exception on python setup.py install"
**Describe the bug**
A clear and concise description of what the bug is.
[code]

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

Add semgrep to a setup.py script and run `python setup.py install`

**Expected behavior**
install gracefully

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?

[2020-11-16 17:46] brendongo commented on #2051
@mjambon I'm not too sure but I think our parsed typescript code loses the parenthesis around the returned dictionary on line 2? Is something like this a job for spacegrep?

[2020-11-16 17:55] ajinabraham commented on #2054
Setup in question https://github.com/MobSF/Mobile-Security-Framework-MobSF/blob/setup/setup.py

Repro

[code]

[2020-11-16 18:04] mschwager commented on #2054
Thanks for the heads up @ajinabraham - we'll look into this shortly :+1:

[2020-11-16 18:09] brendongo commented on #2054
Was able to reproduce this locally but not entirely sure what's happening. @mschwager do you know have any ideas why python is trying to read spacegrep as utf-8 :D

[2020-11-16 18:12] brendongo commented on #2054
Was able to reproduce this with semgrep==0.27.0 so it's not just spacegrep, python tries to read semgrep-core as utf-8 as well.

[2020-11-16 19:08] chmccreery commented on #2033
Ohh yes, I looked into stripping the temporary folder name earlier in the pipeline with @nbrahms but it got really hairy. If that is what needs to happen, we can revisit it, but if Semgrep core can handle this, that would likely be preferable

[2020-11-16 19:17] brendongo commented on #2054
Might be relevant: https://github.com/pypa/setuptools/blob/master/setuptools/command/easy_install.py#L591
I think we might not want to name the folder we put the binaries in scripts/ but I'm not sure if we need to do extra work somewhere to make sure the files are included in the wheel if we put them in a different folder.

[2020-11-16 21:08] mschwager commented on #2033
Yes, I believe it should. But it also comes with its own trade-offs. I'm not 100% sure, but I believe rule-id rewriting and `--no-rewrite-rule-ids` were originally included to prevent rule-id duplication (e.g. `sql-injection` rule-id in Python and Ruby won't stomp on each other). So using that flag to turn it off opens the door for some issues there. I've touched on this in a bit more depth previo

[2020-11-16 21:54] chmccreery commented on #2033
@mschwager I am happy to try stripping the `tmp.` as you suggest. I think I tried to do that before and it ran into issues, but I can't remember what they were and I'm happy to take another look now to resolve this issue.

[2020-11-16 21:56] minusworld opened #2056 "Change `none` to `regex` to clarify that these are regex-only rules"
Alias `none` to mitigate breaking downstream changes

[2020-11-17 13:18] aryx commented on #1819
This now works after https://github.com/returntocorp/semgrep/pull/2060

[2020-11-17 13:25] #1819 closed, assigned to nobody

[2020-11-17 13:32] aryx commented on #1692
This is not a parse error but a NoTokenLocation error because $STR seems to be binded to nothing.

[2020-11-17 13:38] aryx commented on #1583
This now works on develop, thx to martin recent update to the latest tree-sitter.

[2020-11-17 13:38] aryx commented on #1583
see https://semgrep.dev/s/WeW2?version=develop

[2020-11-17 14:38] #1583 closed, assigned to nobody

[2020-11-17 15:21] aryx commented on #1581
works now on develop: https://semgrep.dev/s/GRyq?version=develop

[2020-11-17 15:21] #1581 closed, assigned to nobody

[2020-11-17 15:23] aryx commented on #1580
Some examples now work, but the first semgreplive link still does not parse correctly.

[2020-11-17 15:25] aryx commented on #1582
works on develop! https://semgrep.dev/s/Rryq?version=develop

[2020-11-17 15:25] #1582 closed, assigned to nobody

[2020-11-17 15:31] #1692 closed, assigned to nobody

[2020-11-17 15:38] aryx commented on #1868
Weird. @mjambon any idea why tree-sitter has a different behavior with or without a trailing newline?

[2020-11-17 15:39] aryx commented on #1457
Closed 3 out of the 4 submitted by brendon

[2020-11-17 15:47] aryx commented on #1457
rails now parse correctly at 100% (not sure why the xfail in our tests is not a PASS now).

[2020-11-17 15:58] aryx commented on #1457
gitlabhq has just 1 parse error! (on 15000 files)

[2020-11-17 15:59] aryx commented on #1457
metasploit has 7 parse errors, so 99.94% correct parsing

[2020-11-17 16:03] aryx commented on #1457
and 1 parse error in brew! 99.89% success

[2020-11-17 16:06] aryx commented on #1580
We could probably report this bug on the tree-sitter-ruby repo for this one.

[2020-11-17 16:07] msorens commented on #2033
Thanks for the efforts going into resolving this! I was just wondering what the full scope of this is. From my (limited) perspective--this has been a problem for different rules in different repos for me--it appears that I cannot use a targeted nosem (i.e., `//nosem: <rule-id>`) at all. Are there any scenarios where a targeted nosem does work today? Some other language, perhaps...? Is there someth

[2020-11-17 17:38] #1345 closed, assigned to nobody

[2020-11-17 18:22] mschwager commented on #2033
Hey @msorens we found the bug on our end. Due to the way we manage rules in `semgrep-agent`, we were mismatching rule-id's in output vs. their internal representation. This meant that `nosem` functionality was breaking when specifying a rule-id. This will be fixed with https://github.com/returntocorp/semgrep-action/pull/109 :+1:

[2020-11-17 18:48] #2033 closed, assigned to mschwager

[2020-11-17 19:21] aryx commented on #1692
works now on develop

[2020-11-17 19:45] colleend opened #2067 "Github Action Changelog Reminder Lint is Failing"
**Describe the bug**
The Lint: Changelog Reminder Github action is failing on due to the deprecation of set-env.

**To Reproduce**
For example, changelog reminder is failing on:
https://github.com/returntocorp/semgrep/pull/2065

**Expected behavior**
No CI failure.

[2020-11-17 21:58] mschwager commented on #2033
@msorens can you confirm that the latest `semgrep-agent` fixes this for you?

[2020-11-17 22:19] msorens commented on #2033
Testing methodology:

1. **Establish baseline.** Removed `nosem` masking entirely -- confirmed issues **are** flagged. ✅

2. **Test issue at hand.** Re-introduced targeted `nosem` (i.e. `// nosem: <rule-id>`) on previously tagged lines -- confirmed issues are **not** flagged. ✅

3. **Avoid phantom results.** Since I have returned the state to what existed before this PR, it is possible that semgre

[2020-11-17 23:08] chmccreery commented on #2033
Beautiful 🙏 👏

[2020-11-18 07:51] #1346 closed, assigned to nobody

[2020-11-18 08:36] #2046 closed, assigned to mjambon

[2020-11-18 09:57] aryx commented on #1614
there are lots of blog posts indicating this is actually a bad practice, and that ruby 2.7 warns about using the hash syntax
and ruby 3.0 will forbid it, so probably better to not encourage it.

[2020-11-18 09:57] #1614 closed, assigned to nobody

[2020-11-18 09:59] aryx commented on #2056
Can you explain more the issue? Can you give more context? I have no idea where we we currently accept 'none'.

[2020-11-18 10:04] aryx commented on #2031
log.WithFields(nil).WithError(nil).Info("something") is parsed as
( ( ( log.WithFields(nil) ) .WithError(nil) ).Info("something"))
so yes $P can match the log.WithFields(nil)  expression

[2020-11-18 11:27] #2052 closed, assigned to aryx

[2020-11-18 14:09] aryx commented on #2031
Note that fully qualifying with logrus.WithError(...).Info(...) currently works for Go too.
However, it feels like again, just like for attributes, forcing users to fully qualify is confusing.
I will allow to not fully qualify if the aliased name match the actual code.
We do that already for attributes/annotations.

[2020-11-18 14:55] minusworld commented on #2056
![image](https://user-images.githubusercontent.com/2374948/99546096-ecbccb00-296a-11eb-9b4d-a1a0287eaaff.png)

![image](https://user-images.githubusercontent.com/2374948/99546147-fd6d4100-296a-11eb-982d-031b62e5bc30.png)

[2020-11-18 16:15] #2031 closed, assigned to aryx

[2020-11-18 16:22] #1361 closed, assigned to aryx

[2020-11-18 16:22] DrewDennison commented on #1361
Fixed by https://github.com/returntocorp/semgrep/pull/2045. @DrewDennison to test

[2020-11-18 16:31] DrewDennison commented on #1457
@mschwager lots of progress here! Can you break out any remaining failing parsing errors into separate tickets so we can close this?

[2020-11-18 16:36] aryx commented on #1771
Ok I think I've figured it out! Should be able to fix that soon as well as many related import and aliasing issues.

[2020-11-18 17:26] mschwager commented on #1457
Looks like we can fix this by moving `rails` from `xfail_repo`, and we'll have to wait on the others. The only remaining ticket is https://github.com/returntocorp/semgrep/issues/1580.

[2020-11-18 17:51] #2067 closed, assigned to colleend

[2020-11-18 18:28] ievans opened #2078 "javascript timeout errors on Signal-Desktop WASM autogenerated code"
**Describe the bug**
Semgrep times out running rules against three large files in Signal desktop:

[code]

**To Reproduce**

$ git clone https://github.com/signalapp/Signal-Desktop
$ time semgrep --config=r/javascript.jquery.security.audit.jquery-insecure-selector.jquery-insecure-selector Signal-Desktop

**Expected behavior**
I think Semgrep should be able to parse a 25K LoC file and run a rule in

[2020-11-18 18:42] ievans opened #2079 "Document supported languages, and what file extensions will be considered for each language"
If I run semgrep with --lang=typescript or --lang=ts, how do I know what files will be considered? Specifically, will .tsx be considered as part of typescript?

My suggestions:
- semgrep CLI should show supported language tags under --help and link to documentation for details on which file extensions are mapped under each language
- perhaps update https://semgrep.dev/docs/status/ to link to that

[2020-11-18 19:02] ievans opened #2080 "Semgrep does not report parse errors on some typescript files it fails to parse"
https://semgrep.dev/s/d7Xd produces a parse error in the live editor

But creating the same file locally, test.tsx, and running the snippet gives:

[code]

But oddly:
[code]

[2020-11-18 19:05] ievans commented on #2080
Ah, this is related to the existing issue about live editor .tsx support. Closing.

[2020-11-18 19:05] #2080 closed, assigned to nobody

[2020-11-18 19:24] ievans opened #2081 "NoTokenLocation error during python fstring parse"
Semgrep at develop, running with `$ semgrep -e '$X' -l py semgrep/semgrep` gives me:

[code]

[2020-11-18 21:30] brendongo commented on #2081
Minimal Reproduction: https://semgrep.dev/s/Er9e

[2020-11-18 22:07] mschwager opened #2085 "CI failures: "Check builds for macOS""
E.g. https://github.com/returntocorp/semgrep/runs/1420766603

Seeing:

[code]

[2020-11-18 22:33] nbrahms commented on #2081
Even simpler is https://semgrep.dev/s/Lrxo

[2020-11-18 22:35] nbrahms commented on #2081
Looks like it's a regression between 0.27.0 and 0.28.0.

[2020-11-18 22:38] nbrahms commented on #2081
Note that there is absolutely no difference between ASTs:

0.28.0 AST:
[code]

0.27.0 AST:
[code]

[2020-11-18 22:44] nbrahms commented on #2081
This is blocking dog-fooding, so placing as high prio

[2020-11-19 00:11] #2085 closed, assigned to nobody

[2020-11-19 08:27] aryx commented on #1225
Works now that I've fixed the aliasing vs direct match.
See https://semgrep.dev/s/GRK2/

[2020-11-19 08:27] #1225 closed, assigned to aryx

[2020-11-19 09:28] aryx commented on #2078
v32.0 probably solves that

[2020-11-19 09:28] aryx commented on #2050
@mhrsecx01 without more information we will have to close the issue.

[2020-11-19 09:32] aryx commented on #1096
What about
import yaml
...
yaml.load(...)

Would that be good enough?

[2020-11-19 09:34] aryx commented on #478
Do we still need this now that people can migrate most of the pattern-where-python to the safe metavariable-comparison of @mschwager ?

[2020-11-19 09:36] aryx commented on #353
what about a AND with 2 patterns, one doing import a, the other import b, that way for sure they can be in any order in the file.

[2020-11-19 09:59] aryx commented on #327
This works now at least: https://semgrep.dev/s/Rr1e/?version=develop

[2020-11-19 10:21] aryx commented on #353
I would close this issue if the AND solution is considered good enough.

[2020-11-19 10:23] aryx commented on #1227
Is this still an issue @DrewDennison ?

[2020-11-19 10:24] aryx commented on #1713
Can we close this now?

[2020-11-19 11:36] aryx commented on #327
and this example should now work on develop: https://semgrep.dev/s/jDl

[2020-11-19 11:37] #327 closed

[2020-11-19 11:37] #353 closed

[2020-11-19 13:54] #1095 closed, assigned to nobody

[2020-11-19 14:36] mschwager commented on #1096
That would work for shallow modules, but not easily specified for deeper modules. E.g. for `os.path.join` we'd need 3 patterns:

[code]

[code]

[code]

There's also the inverse where we **no longer** want to detect something based on imports. Like if we're trying to detect the builtin [`eval`](https://docs.python.org/3/library/functions.html#eval), but it's been "imported over":

[code]

None of

[2020-11-19 14:52] IgorSasovets opened #2095 "javascript-pattern-bug: detect presence of validate function"
Hello team!

First of all, thanks for this great project. It is really awesome and helps a lot! I have an issue with the JS pattern that I use to check presence of validation in a function. The reason is that semgrep does not detect matches when I pass pattern
[code]
But when I use pattern
[code]
it works correctly.

Here is a link to the sample:
https://semgrep.dev/s/B2A2

Thanks in advance!

[2020-11-19 15:02] #1771 closed, assigned to aryx, ievans, DrewDennison

[2020-11-19 15:33] aryx commented on #1771
This works now on develop: https://semgrep.dev/s/KdNY/?version=develop

[2020-11-19 15:59] aryx commented on #975
Here are results on develop with the latest fix:
https://semgrep.dev/s/D8Do/?version=develop

Note that $X contains the right thing internally (if you look at the value binded to $X internally), but in the message we output sometimes the wrong thing because of the new way we print the content of metavariable. We used to rely on abstract_content, but there was some problems with missing tokens, but

[2020-11-19 15:59] aryx commented on #975
Still, there's progress, we now bind the fully qualified name in Python.

[2020-11-19 16:16] mschwager opened #2097 "Ruby parse error on rational 'r' suffix"
E.g. from `rails`:

[code]

This is the rational 'r' suffix for a literal: https://ruby-doc.org/core-2.5.0/Rational.html

[2020-11-19 16:19] mschwager commented on #1457
Looks like https://github.com/returntocorp/semgrep/issues/2097 is blocking `rails` as a QA repo.

[2020-11-19 16:23] DrewDennison commented on #2078
@ievans there is now a 30s timeout. Can you retry with latest?

[2020-11-19 16:41] mschwager opened #2098 "Ruby parse error on brew example code"
Running Semgrep against this file: [`empty_example_group.rb`](https://github.com/Homebrew/brew/blob/master/Library/Homebrew/vendor/bundle/ruby/2.6.0/gems/rubocop-rspec-2.0.0/lib/rubocop/cop/rspec/empty_example_group.rb).

I get the following error:

[code]

The actual parse error is masked here, so it's hard to tell which Ruby language feature is causing the issue.

Ruby itself seems to think the

[2020-11-19 16:53] ievans commented on #2078
Thanks @DrewDennison. As of v.32 we now timeout successfully and have only three files that we fail on! I'll edit the issue to reflect

[code]

[2020-11-19 17:48] aryx commented on #2078
progress!

[2020-11-19 18:46] mjambon opened #2099 "Handle spacegrep timeouts cleanly"
Currently spacegrep takes a `--timeout` option. If the spacegrep job times out, it fails with a non-zero exit code and prints just `"\ntimeout\n"` on stderr. I'm pretty sure semgrep doesn't understand this as a timeout since spacegrep is supposed to produce well-formed json.

What we want:

* Make the necessary changes such that a spacegrep timeout is reported as a timeout by the semgrep wrapper r

[2020-11-19 19:44] aryx commented on #2099
Note though that's it's very unlikely you get any timeout in spacegrep :)
We use timeout in semgrep because the performance of X ... Y is very very bad, but really we should optimize it.

[2020-11-19 19:46] aryx commented on #2097
seems a pretty simple tree-sitter-ruby extension.

[2020-11-19 19:50] aryx commented on #2095
You need to remove the 'return' in the pattern.
This is because return foo.bar() will not match code like return foo.bar().then().after().morestuff().
because those are not the same thing. Internally this is parsed as
return ((((foo.bar() ) . then()) . after () ) . morestuff () )

If you remove the return, and just use $FUNC.validate(), then we will match this expression anywhere, including
deeply

[2020-11-19 19:50] aryx commented on #2095
cc @DrewDennison and @nbrahms who are interested in those kinds of limitations.

[2020-11-20 01:22] mjambon commented on #2099
@aryx here's one case where spacegrep is slow. The target has only 504 lines and matching the pattern `$A ... $B ... $C ... foo` takes 38 seconds:
[code]

[2020-11-20 02:40] ievans opened #2102 "Typescript rule hangs on Signal Desktop"
This hangs for at least an hour:

using Signal-Desktop at https://github.com/signalapp/Signal-Desktop

[code]

[code]

Labeling as P0 (high) as this makes Semgrep totally unusable when running any set of rules that contains this rule.

[2020-11-20 06:07] aryx commented on #2099
Good test case

[2020-11-20 08:39] IgorSasovets commented on #2095
Hello @aryx ! Thank you for the answer. I have one more question and any help or thoughts on that would be highly appreciated. Yes, I can confirm the removing `return` from pattern resolves the issue. I want to match more complex pattern. Please see https://semgrep.dev/s/pGzL . For now, I am not able to do this. The next step will be to add more deep inspection using semgrep. Main goal of this dee

[2020-11-20 17:13] clintgibler opened #2103 "Semgrep fails to parse C function calls at the top level"
**Describe the bug**
Semgrep appears to fail to parse C code with function calls at the top level scope.

[code]

**To Reproduce**
https://semgrep.dev/s/clintgibler:c-top-level-fxn-call

**Expected behavior**
I would expect this to parse.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**
P2

[2020-11-20 17:15] clintgibler commented on #2103
A user reported this bug based on something they were trying to do.

I know we're not actively supporting C, curious if @aryx thinks this is trivial to fix.

[2020-11-20 17:20] clintgibler opened #2104 "Semgrep fails to parse C code with `#ifdef` mid function call"
**Describe the bug**

Semgrep does not appear to parse function calls with an `#ifdef` in the middle of it, or perhaps because it's in the middle of a string.

[code]

**To Reproduce**
https://semgrep.dev/s/clintgibler:c-ifdef-mid-function-call

**Expected behavior**
I would expect this to parse.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority

[2020-11-20 17:55] DrewDennison commented on #1909
hey @msorens is this still needed for you? If so, would you mind letting me know your prioritization? 🙏

[2020-11-20 17:58] msorens commented on #1909
Since I resolved issues with using the recommended channel (the semgrep-agent docker image) I no longer need this. Thanks for checking!

[2020-11-20 17:58] DrewDennison commented on #1909
awesome, thanks for the update

[2020-11-20 17:58] #1909 closed, assigned to nobody

[2020-11-20 19:14] DrewDennison commented on #1218
cc @AzureUmbra

[2020-11-20 19:29] Sjord commented on #1392
In [`declaration_expression`, I return a PatVar](https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/parsing/Parse_csharp_tree_sitter.ml#L1841-L1844), which needs a type:

[code]

However, if you have C# like this:

[code]

The variable `item` doesn't really have a type. So far I have mapped `var` to None, where a type option is allowed.

Any ideas? Should I map `var item` to a PatId

[2020-11-20 20:38] brendongo commented on #1981
Verified 0.32.0 doesn't stall with new timeouts

[2020-11-20 20:38] #1981 closed, assigned to mjambon, brendongo

[2020-11-20 20:40] ievans commented on #1981
@brendongo @mjambon we should open a new issue to track the poor matching speed

[2020-11-21 05:13] jynik commented on #2103
Hi there - just wanted join in to elaborate a bit further and provide some more real-world context.

This pattern can be found in upstream U-Boot code.  `SOME_FUNC()` corresponds to a function-like macro which actually expands to a structure declaration; essentially, it's registering some command handlers using a ["linker list"](https://gitlab.denx.de/u-boot/u-boot/-/blob/master/doc/api/linker_lis

[2020-11-23 10:11] aryx commented on #1392
You can use PatId if the iterator variable does not have a type.

[2020-11-23 12:41] aryx commented on #2103
Complex issue. See my paper about it 10 years ago: https://link.springer.com/content/pdf/10.1007/978-3-642-00722-4_9.pdf

pfff and semgrep-core provides a way to pass a configuration file to partially evaluate some cpp macros that leads to
parsing errors, but this is not currently surfaced in the semgrep CLI.

Of course you can also call on your own the preprocessor and pass the resulting file to

[2020-11-23 12:43] aryx commented on #2103
BTW @clintgibler toplevel calls in C are not accepted by the C grammar (here the macro indeed expands to a full function definition, not a toplevel function call).

[2020-11-23 12:43] aryx commented on #2103
Another problem with calling the preprocessor is that the resulting code is not what the user sees, so the user may write patterns that involves macros that would not be found in the resulting code.

[2020-11-23 13:44] aryx commented on #2104
The problem is is that ifdef can cut anywhere, and so the C parser in pfff currently handles a few cpp idioms,
but it's impossible to handle all of them.
See https://link.springer.com/content/pdf/10.1007/978-3-642-00722-4_9.pdf for more information.

[2020-11-23 14:55] Mariia-Kovtun opened #2111 "Metavariable match around Cyrillic characters causes crash with UnicodeDecodeError"
Running semgrep rules caused UnicodeDecodeError:

`Traceback (most recent call last):`
  `File "/home/user/.local/bin/semgrep", line 8, in <module>
    sys.exit(main())`
  `File "/home/user/.local/lib/python3.8/site-packages/semgrep/__main__.py", line 19, in main
    cli()`
  `File "/home/user/.local/lib/python3.8/site-packages/semgrep/cli.py", line 379, in cli
    semgrep.semgrep_main.main(`
  `F

[2020-11-23 15:19] underyx opened #2112 "Make -c shorthand for --config"
[code]

I get this almost every week 😅 Since nothing else uses `-c` we should be good to use it here, right? I assume it was originally `-f` cause it was used to pass a config file, but now most people pass shorthand or URLs instead of local files.

It's also probably a good idea to keep `-f` as a hidden alias for this option.

[2020-11-23 15:35] underyx commented on #2111
I just ran this command:

[code]

Using v0.32.0. Could you verify that the same exact command gives you an error? It might after all be related to the rules that you run. The traceback seems to fail at a part of the code that runs after a match is found.

[2020-11-23 15:36] underyx commented on #2111
Yep, managed to reproduce with this:

[code]

And after loading the file in vscode, converting line endings from CRLF to LF, and re-running, I successfully get results.

[2020-11-23 16:13] jynik commented on #2103
@aryx - Agreed and everything makes sense; all of the challenges are things I've been encountering when attempting to develop some analysis tooling, sans semgrep. Will look into the literature you mentioned to better appreciate the challenges.

parsing errors, but this is not currently surfaced in the semgrep CLI.

I'm interested in building some tooling atop of the semgrep API, so this seems like

[2020-11-23 16:36] nbrahms commented on #2102
@ievans As of 0.33, we set a default timeout of 5 seconds per file, and a maximum number of 3 timeouts per file (so we'd expect your run to take around 15 seconds, assuming one file is breaking here).

Would this alter the priority of your issue?

[2020-11-23 16:42] aryx commented on #2103
Well there's code inside pfff/lang_cpp/parsing/pp_token.ml that implements a partial C preprocessor, that is you can
pass to semgrep-core a config file with some macros, and semgrep-core will expands those macros during parsing and
mark them specially in the AST so it knows where it comes from. It's just that it's hard to automatically generate a minimal config file that will enable 100% parsing o

[2020-11-23 17:16] dlukeomalley commented on #1482
Closing based on discussion in #2082

[2020-11-23 17:16] #1482 closed, assigned to nobody

[2020-11-23 17:30] ievans commented on #2102
@nbrahms yes I think that would definitely make it a P2!

[2020-11-23 17:55] colleend opened #2114 "ocaml matching of dots in arguments"
**Describe the feature**
It would be nice if patterns for functions in other languages (like a pattern `foo(1,2)`) also worked on ocaml in order to make cheatsheets of different languages more similar across the board.
https://semgrep.dev/s/ol79/

As it matches in other languages:
https://semgrep.dev/s/6WEo/

[2020-11-23 19:03] #2050 closed, assigned to nobody

[2020-11-23 21:46] #2114 closed, assigned to nobody

[2020-11-23 22:50] kiwiz opened #2117 "Destructured arguments with default values not matched"
**Describe the bug**
When querying JS/TS, a destructured object parameter with a default value (`{a=''}`) doesn't appear to be picked up properly. Not sure if I'm just missing some nuance - I've tried the following patterns as well:

- `{$A=$B}`
- `{$A=''}`

**To Reproduce**
https://semgrep.dev/s/1LEw

**Expected behavior**
`resources=''` to be matched in the repro.

**What is the priority of the

[2020-11-24 12:30] underyx commented on #2111
Did some investigatin' and found that the bug is in this snippet of code:

[code]

There's a misalignment somewhere between the reported metavar start, and how Python reads the file an utf-8 encoded text.

### Text as it appears in file

[code]

### Bytes as Python repr

[code]

### Mapping between the two

(The `•` character is used for padding when multiple characters of the bytes representation

[2020-11-24 14:13] aryx commented on #2111
It's possible we report wrong byte location in semgrep-core if the file contains unicode character. @mjambon you remember the unicode hack you did? with Unicode.UTF8.asciify? Any chance this might affect byte location?

[2020-11-24 14:23] underyx commented on #2111
Thanks for checking on that. @brendongo in the meantime, how do you think we could fail more gracefully here?

[2020-11-24 15:20] jynik commented on #2103
Thank you, @aryx.  Over the coming months I'll dive in deeper and explore a bit.

Just some unsolicited thoughtsfrom the security practitioner user side of things (specifically, one focused on lower-level firmware, drivers, OS) --  I'd say that there's definitely an acceptable threshold of "good enough" in terms of parsing that folks like me would want. In many situations, I'd be happy collecting

[2020-11-24 19:02] #2099 closed, assigned to mjambon

[2020-11-24 19:28] mjambon commented on #1713
This is now fixed:
[code]
This is fixed too:
[code]

It's all good now, already released.

[2020-11-24 19:28] #1713 closed, assigned to mjambon

[2020-11-25 14:48] Sjord opened #2123 "Semgrep changing current directory causes unexpected file resolving behaviour"
Semgrep [changes to the current directory to SEMGREP_SRC_DIRECTORY in some cases](https://github.com/returntocorp/semgrep/blob/b28753dcc3d3aa24bdae1802321cd8e0661d219c/semgrep/semgrep/config_resolver.py#L241-L253). This can lead to unexpected behaviour when resolving relative files.

**To Reproduce**

[code]

As you can see, .myconfig/semgrep.yml exists, and semgrep claims it does not exist. But s

[2020-11-25 14:56] Sjord opened #2124 "Quickstart on Docker hub uses old code volume"
**Describe the bug**

[This page on docker hub](https://hub.docker.com/r/returntocorp/semgrep) says:

This should be

Since the repo was changed from /home/repo to /src in PR #1192.

[2020-11-25 15:08] ievans commented on #2123
Thanks for this bug report @Sjord. As a workaround, have you seen https://github.com/returntocorp/semgrep-action? Many other semgrep users are using that successfully to run in GitLab CI, and it has a lot of other features that may be appropriate. Someone just contributed support for Gitlab SAST output to it. Anyways may save you some time as you are trying to get it set up in GitLab CI.

[2020-11-25 15:12] ievans commented on #2124
Nice catch @Sjord, I updated the Dockerhub page to fix!

[2020-11-25 15:12] #2124 closed, assigned to nobody

[2020-11-25 16:30] aryx commented on #2103
We're now also using the tree-sittter based C parser which does better error recovery than the one in pfff/, so the example you posted now actually parse with this new parser.

[2020-11-25 16:31] aryx commented on #2103
I'll close this issue since the example now works, but feel free to open a new issue with more discussions on parsing C and cpp.

[2020-11-25 17:49] chmccreery commented on #2117
@aryx do you have any advice here?

[2020-11-26 06:42] KrishnaTejaJ opened #2128 "Unexpected non-json output while invoking semgrep-core"
**Bug Description**
Error message: "Unexpected non-json output while invoking semgrep-core:\n\n\nAn error occurred while invoking the semgrep engine" is the output while applying python semgrep rule to a cloned repo(https://github.com/python/cpython)

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev: https://semgrep.dev/s/KrishnaTejaJ:log-level3

**Expected b

[2020-11-26 09:30] #2111 closed, assigned to mjambon, underyx

[2020-11-27 18:49] kishorbhat opened #2132 "CONTRIBUTING.md should mention that spacegrep also needs to be installed locally"
**Describe the bug**
Just a doc update issue. [CONTRIBUTING.md](https://github.com/returntocorp/semgrep/blob/develop/CONTRIBUTING.md) mentions that after grabbing a `semgrep-core` release bundle you'll need to copy the `semgrep-core` binary to a findable location before semgrep is fully operational, but unless you do the same for the `spacegrep` binary this is what you see on running the analysis

[2020-11-30 09:52] aryx commented on #2117
Probably a bug in how we represent destructured parameter with default value in the generic AST.

[2020-11-30 09:53] aryx commented on #2117
I remember translating those pattern constructs was complicated ... and we went through different strategies (translating them to simpler constructs via transpile_js.ml, translating them to generic AST pattern, and translating them to generic AST expression assignment. I'll have a look.

[2020-11-30 19:36] nbrahms commented on #1128
Closing as this is duplicated by #2005

[2020-11-30 19:36] #1128 closed, assigned to nobody

[2020-11-30 21:50] #2081 closed, assigned to aryx, nbrahms

[2020-11-30 22:07] #1469 closed, assigned to mjambon

[2020-11-30 22:47] msorens opened #2137 "Presence/absence of statement terminator drastically changes match"
**Describe the bug**
In this sandbox 1 (https://semgrep.dev/s/OkBe/) observe:
(a) there is no statement terminator on the pattern
(b) the expression is matched in the sample
<img width="375" alt="image" src="https://user-images.githubusercontent.com/6817500/100673510-69ab5580-3318-11eb-8db1-a52f782a42cf.png">

In this sandbox 2 (https://semgrep.dev/s/erwX/) observe:
(a) now there is a statement te

[2020-11-30 23:19] minusworld commented on #2137
Thanks @msorens! @aryx - Do you know why this might be happening?

[2020-12-01 00:26] #2132 closed, assigned to mjambon, minusworld

[2020-12-01 02:18] msorens commented on #1946
This is fixed in production as far as I can tell; OK to close. 😁

[2020-12-01 09:40] dvyakimov opened #2141 "Error: :found mismatch between test and result ids - test={test_ids} result={reported_ids}""
In semgrep UI I see 5 test errors
https://semgrep.dev/s/ZWp7

But if i try to look at it in CLI, I get some system error:

<img width="909" alt="Снимок экрана 2020-12-01 в 12 38 08" src="https://user-images.githubusercontent.com/34271513/100722813-13025200-33d2-11eb-90bc-0ad164b43026.png">

"found mismatch between test and result ids - test={test_ids} result={reported_ids}"

[2020-12-01 15:37] aryx commented on #2137
It is important to understand that in programming languages like C/C++/Java/Javascript/... there are _expressions_ and _statements_. Those are 2 different things. Expressions can appear inside if conditions, in function call arguments, etc. Statements can not appear everywhere; they are sequence of operations (with ; as a separator/terminator) or special control flow constructs (if, while, etc.).

[2020-12-01 15:38] aryx commented on #2137
This is an explanation on why the statement pattern match the whole statement, because that's how the engine works; when you write a statement in a pattern, we will visit every statement and match it against, and if there's a match, we say the (whole) statement matched.

[2020-12-01 15:41] aryx commented on #2137
Note that when you look for foo();,  semgrep also accept to match return foo();, even though technically those are 2 different kinds
of statements. And again, semgrep will return a match to the full statement 'return foo();', not just the expression part foo().

[2020-12-01 15:42] aryx commented on #2137
We could change that, but we may break many existing rules doing so.

[2020-12-01 15:48] aryx commented on #2095
I think it's because of a current limitation on metavariable matching a field name or a variable/parameter.
See https://github.com/returntocorp/semgrep/issues/1930

[2020-12-01 15:50] aryx commented on #2095
Right now unfortunately you have to rewrite your pattern as: https://semgrep.dev/s/ne7G/

[2020-12-01 17:27] msorens commented on #2137
Thanks, @aryx. Yes, it is precisely because of the difference between expressions and statements that this is an issue. In fact, when you state "... we magically accept it to match full statement...", I am not sure that is desirable. Certainly "magic" implies unexpected behavior to some percentage of your users, as it did for me.

In fact, in this instance I meant to target an expression rather th

[2020-12-01 17:48] #2005 closed, assigned to nbrahms

[2020-12-01 21:22] mschwager commented on #2141
Hi there @dvyakimov,

This is trying to tell you that your test is returning findings that aren't annotated, or aren't tested in the test code. More specifically, the `sfs.golang.cors.sameorigin.echo.requestheader` rule is missing tests in your test code. To fix this error you can either temporarily remove the rule from your config file or added tests for that rule to the test code.

Ideally this

[2020-12-02 00:09] minusworld commented on #1509
Closed by https://github.com/returntocorp/semgrep/pull/2133. Available in Semgrep 0.33.0

[2020-12-02 00:09] #1509 closed, assigned to nobody

[2020-12-02 00:19] ievans commented on #182
@minusworld what do you thinking about closing this out now that we have the generic mode?

[2020-12-02 00:47] minusworld commented on #182
sgtm

[2020-12-02 00:47] #182 closed

[2020-12-02 03:16] minusworld commented on #2054
<strike>@brendongo Do you know where we put the binaries in scripts/ offhand?</strike>

Found it.

Looks like we were originally installing to `bin/` but there's a comment linking to this issue that suggests we can't for some reason: https://github.com/pypa/setuptools/issues/210#issuecomment-216657975

The recommendation is to move over to `scripts/` after install, which is what we do now.

Then,

[2020-12-02 03:47] minusworld commented on #2054
This `data_files` thing might be an option: https://docs.python.org/3/distutils/setupscript.html#installing-additional-files

Could also consider an upstream patch to easy_install 🤷‍♂️

[2020-12-02 03:58] minusworld commented on #2054
Indeed, if I rename `scripts/` in the `.egg`, easy_install quits complaining:

[code]

[2020-12-02 04:01] DrewDennison commented on #2054
Huzzah! Nice work @minusworld

[2020-12-02 04:21] minusworld commented on #2054
Heh, thanks -- we still actually have to solve the issue 🤷‍♂️
Now comes the hard part 😅

[2020-12-02 07:48] IgorSasovets commented on #2095
Hello @aryx ! Thanks for the suggestion

[2020-12-02 08:14] aryx commented on #2137
One issue is that for the case of a single pattern like foo();, maybe indeed we should not apply the magic, and maybe
give a warning to the user saying "you probably want to remove the semicolon", but the problem is when you use a more complex pattern like
foo();
...
bar();

and we like that this matches even code like foo();stuff(); return bar();  or even foo(); stuff(); print bar();

Without thi

[2020-12-02 14:10] aryx opened #2148 "Allow partial if pattern"
Allow patterns like 'if($X > $Y)'
without any then or else part. Just looking for conditionals.

[2020-12-02 14:59] #2148 closed, assigned to nobody

[2020-12-02 15:57] msorens commented on #2137
Agreed about the ugliness 😁 and since I am still on the learning curve I certainly accept your judgment. I still think it would be useful to document in some fashion.

[2020-12-02 16:15] aryx opened #2150 "Allow special metavariables like $...X to match multiple arguments"
This is really useful when working with the autofix feature, so the fix line can
refer to list of arguments in the original code.

[2020-12-02 16:31] nbrahms opened #2152 "Matches to "fake" token nodes crash Semgrep"
**Describe the bug**
Any time there is a match to an AST node that is missing token information, Semgrep will crash irrecoverably.

**To Reproduce**
This can be demonstrated on older versions of Semgrep (e.g. 0.28) by matching, e.g., an expression metavariable to an fstring. In 0.22, attempting to match an empty tuple will also crash as the AST is missing the tuple parends.

**Expected behavior**

[2020-12-02 17:06] minusworld opened #2154 "spacegrep does not match equivalent metavariables"
**Describe the bug**
spacegrep / generic pattern matching does not match equivalent metavariables.

For example, this rule:

[code]

does not match:

[code]

**To Reproduce**
https://semgrep.dev/s/Rr0E/?version=develop

**Expected behavior**
Expect to match because `as build` and `--from=build` are the same.

[2020-12-02 18:24] colleend opened #2155 "Add function def matching tests to semgrep-core"

[2020-12-02 18:50] minusworld commented on #2054
@ajinabraham As a temporary workaround, you may try installing without easy_install via another method. This isn't ideal, so we will keep working on this issue.

@brendongo @DrewDennison Any suggestions for how to proceed? I see two main options:
1. Figure out an alternative to `scripts/`
2. Try to fix `easy_install` upstream to check the file type, or something similar

[2020-12-02 18:57] ajinabraham commented on #2054
This is out of my control. This came as a requirement to install and package MobSF(which uses libsast that has a requirement on semgrep) on a pentesting distribution. The maintainer of that project expects a setup.py like most tools. https://github.com/MobSF/Mobile-Security-Framework-MobSF/issues/1585#issue-739539115

[2020-12-02 19:01] mcbryde opened #2156 "Metavariables don't match between class names and method return types in Java"
**Describe the bug**
Semgrep doesn't seem to match type between class names and method return types for Java code.

I'm trying to identify race conditions in Java caused by multithreaded apps using singletons inappropriately.  As part of that, I was trying to identify all singleton classes in a codebase; specifically all classes which have a static method which returns an instance of the class.

*

[2020-12-02 19:06] ajinabraham commented on #2054
Note sure if it's relevant, but have you looked into bundling data files or binaries  using MANIFEST.in ?
https://packaging.python.org/guides/using-manifest-in/

[2020-12-02 19:29] minusworld commented on #2054
OK gotcha. MANIFEST.in looks like it could be an option. 👍  We'll look into it and see if it works.

[2020-12-02 20:47] dlukeomalley opened #2157 "[Ruby] Unable to parse certain trailing commas in arguments"
@minusworld @aryx Filing this issue with a more generic title as I'm less familiar with Ruby, please feel free to update / modify

The following Ruby code only parses 2/3 cases:

[code]

Reproduction: https://semgrep.dev/s/l0nL

[2020-12-02 21:15] aryx commented on #2157
Ruby allows trailing commas in arguments? @clintgibler ?

[2020-12-02 22:22] devd opened #2159 "Max line length for any finding"
**Is your feature request related to a problem? Please describe.**
In a minified JS file, showing the "matched line" will basically mean the whole file is printed. This is pretty painful to navigate around. And since every match in the file is a new finding, the whole file is printed again and again.

**Describe the solution you'd like**
Ideally, I would like to only show the matched section (the

[2020-12-02 22:52] colleend commented on #2155
closed with https://github.com/returntocorp/semgrep/commit/1e74038ec22c81ea1b1418bd3c8e4512271744eb

[2020-12-02 22:53] #2155 closed, assigned to colleend

[2020-12-02 22:53] clintgibler commented on #2156
As I understand it, @mcbryde is wanting to enforce that the `$CLASS` metavariable in the two clauses references the same Java class.

[2020-12-02 23:20] nbrahms commented on #2156
I dug into this a bit.

In this match:
[code]

the metavariable `$CLASS` matches to a pure `Name` identifier node, whereas in:

[code]

the metavariable `$CLASS` matches to a `TyName` node, and the metavariables don't match as a result.

Some thoughts on things we can do:
- Change `ClassDef` so the the class name is a `TyName`; I worry that this has negative effects when matching the class as the

[2020-12-03 08:43] #2150 closed, assigned to aryx

[2020-12-03 10:05] aryx commented on #2157
Apparently it does, and looks like the tree-sitter-ruby grammar accepts those trailing commas.
Weird.

[2020-12-03 13:12] #2141 closed, assigned to nobody

[2020-12-03 16:23] aryx commented on #2157
cc @mjambon

[2020-12-03 16:54] nbrahms commented on #1500
@brendongo Do you know which version of semgrep saw this?

I can reproduce on 0.33.

[2020-12-03 16:56] nbrahms commented on #1500
[code]

[2020-12-03 16:57] nbrahms commented on #1500
This appears to have been fixed by other work between issue opening and 0.33.

Please re-open if you can reproduce.

[2020-12-03 16:57] #1500 closed, assigned to aryx, nbrahms

[2020-12-03 17:55] colleend opened #2170 "Update generate_test_matrix"
Should:

* [x] add new tests to the script (func_def, class_def, annotations, key_value)
* [x] add category (alpha, beta, GA) header generating code
* [x] optional: add exceptions with a different emoji

[2020-12-03 17:56] ievans opened #2171 "Our docker push is broken"
Our docker push is broken: https://github.com/returntocorp/semgrep/actions/runs/398772129
<img width="1275" alt="Screen Shot 2020-12-03 at 11 19 38 AM" src="https://user-images.githubusercontent.com/409041/101056886-0f490980-3551-11eb-964c-418b9bb425f7.png">

Failed attempt to fix: https://github.com/returntocorp/semgrep/pull/2168

labelling as priority medium b/c it's blocking release to a custom

[2020-12-03 22:08] #2156 closed, assigned to aryx

[2020-12-03 22:45] dlukeomalley commented on #1409
@chgg-kboberg - Given your Semgrep Action PR, are we good to close this issue?

[2020-12-03 22:52] chgg-kboberg commented on #1409
Yes, we can close this.

[2020-12-03 22:52] #1409 closed, assigned to underyx

[2020-12-03 23:45] dee-see opened #2179 "[Ruby] & operator not working in patterns"
https://semgrep.dev/s/neZG

Hello team! It seems like semgrep doesn't match anything with the `&` operator.

Pattern: `$A & $B`
Test code: `1 & 3`

Fun fact, matching `... & ...` causes an error in the parsing of the pattern and not just a "no match". I tried with `+` and `|` and those operators seemed to work.

[2020-12-03 23:50] mjambon commented on #2157
I submitted a fix in the tree-sitter-ruby grammar (https://github.com/tree-sitter/tree-sitter-ruby/pull/137). When it's merged, we'll have to update our repos to propagate the change.

[2020-12-03 23:53] dee-see commented on #2179
Some precision

- `$A & $B` parses but does not match
- `... & ...` does not parse
- `$A + $B` parses and matches
- `... + ...` does not parse
- `$A | $B` parses and matches
- `... | ...` parses and matches

[2020-12-04 00:07] dee-see commented on #2179
https://semgrep.dev/s/7gXv/

Another interesting behavior

`... && ...` will match both lines:

[code]

It works well with `|` vs `||` however

[2020-12-04 00:31] #2056 closed, assigned to minusworld

[2020-12-04 00:33] brendongo commented on #2171
Taking a look

[2020-12-04 00:50] dlukeomalley commented on #2179
@aryx @mjambon Tagging you two as the usual suspects here for Ruby parsing :)

[2020-12-04 01:12] brendongo commented on #2171
Fixed by https://github.com/returntocorp/semgrep/pull/2181

[2020-12-04 01:12] #2171 closed, assigned to underyx, brendongo

[2020-12-04 01:31] DrewDennison commented on #2128
@KrishnaTejaJ I think I was able to fix it with https://github.com/returntocorp/semgrep/pull/2182. Could you please let me know if that fixes it for you and you are unblocked or if there is something else weird with your local build env

[2020-12-04 01:34] DrewDennison commented on #2128
the decoding bug was blocking me from reproducing your results with 0.33 but then I got
![image](https://user-images.githubusercontent.com/1011067/101110367-7640df80-359e-11eb-805b-3e575fcd3bc4.png)

locally which is what I believe you are looking for

[2020-12-04 01:46] ievans commented on #320
@mschwager is this obviated by the recent work for language graduation?

[2020-12-04 04:17] msorens opened #2183 "Multi-line autofix indents should align"
**Describe the bug**
Consider this `fix` block of the rule:
[code]

A first attempt at a multi-line autofix looks somewhat askew--notice the second line of the fix has no indent; it is just left-justified:
<img width="643" alt="image" src="https://user-images.githubusercontent.com/6817500/101120317-2d8b2580-35a2-11eb-97e2-05a6be41a985.png">

I understand why that occurs: autofix is actually not ap

[2020-12-04 07:57] aryx commented on #2156
This now works on develop: https://semgrep.dev/s/QwAD/?version=develop

[2020-12-04 07:58] aryx commented on #2156
or like you did it originally: https://semgrep.dev/s/Kd5P?version=develop

[2020-12-04 09:26] aryx commented on #2157
Nice job martin. I still don't understand why the modifications to the lexer you did can solve the problem here, or why the parser was working on the first 2 cases but not the last one? There's even a trailing comma in the first example; why this parses but not the last one? This is mystery to me.

[2020-12-04 14:57] aryx opened #2186 "Better message for partial parsing errors"
**Is your feature request related to a problem? Please describe.**

Tree-sitter has some powerful error-recovery mechanism where a mistake in a file (or a programming language
feature not yet handled by the grammar) does not cause the whole file to fail; Instead tree-sitter tries its best
to parse what it can and to return a valid AST semgrep can work on.

Unfortunately, currently semgrep wrongly

[2020-12-04 14:58] aryx commented on #2186
cc @mjambon again.

[2020-12-04 15:02] aryx commented on #2104
This now works in the command-line.
[code]

[2020-12-04 15:04] aryx commented on #2104
We still need to improve the CLI to say instead "1 file could not be *fully* analyzed"
tracked here: https://github.com/returntocorp/semgrep/issues/2186
We also need to update the web UI to display the match even if there was a partial parse error in the file
tracked here: https://github.com/returntocorp/semgrep-app/issues/1214

but at least the semgrep program now returns a match in this file, ev

[2020-12-04 15:23] aryx opened #2188 "New pretty-printer-based autofix"
**Is your feature request related to a problem? Please describe.**

Autofix is still hacky. Each week we get another bug report from msorens that he does not work fully. We tried different approaches:
 - using the abstract_content returned by semgrep-core to get the content of the metavariable,
    but we're missing lots of tokens such as commas which are not stored in the generic AST
 - using ins

[2020-12-04 15:23] aryx commented on #2188
cc @brendongo @nbrahms

[2020-12-04 15:45] mschwager opened #2189 "Add 'key_value' detection to Ruby patterns"
Consider the following Ruby code:

[code]

Similar to other languages like Python and JS, it'd be nice to search for patterns on Ruby's [`Hash`](https://docs.ruby-lang.org/en/2.0.0/Hash.html) object:

[code]

[2020-12-04 16:52] mschwager opened #2190 "Add gathering of 'parse.pct' metrics for additional languages"
A language's parse rate is now used to determine its maturity (alpha/beta/GA): https://semgrep.dev/docs/status/.

With this in mind, it would be very helpful to have parse rate information for all supported languages. This allows us to determine the maturity tier for each language. Parse rate information by language can be found here: https://dashboard.semgrep.dev/metrics.

My understanding is tha

[2020-12-04 17:17] mjambon commented on #2190
Currently, the stats are gathered using scripts in ocaml-tree-sitter for historical reasons. For each language, there's a list of file extensions and a list of public git repos (and an optional list of private git repos). Each repo is cloned if needs to be and then scanned by the parser for the language, which dumps a file containing error counts. The second part (in python) is to upload the numbe

[2020-12-04 17:46] DrewDennison commented on #2156
@mcbryde this will ship out in our next release but for now it's in the trunk branch. Please let me know if you need a patch release cut or if you're ok waiting until next release early next week

[2020-12-04 18:10] nbrahms commented on #1539
@aryx @underyx thoughts on closing as wont-fix?

[2020-12-04 19:29] mjambon opened #2191 "Live editor mixup between ts and tsx"
Originally reported by @msorens.

**Describe the bug**

In the live editor, a legal typescript file fails to parse if it contains a type assertion using the angle brackets syntax. However, the semgrep command line works fine. The error message is
[code]
Based on the error message above, it looks like the snippet was incorrectly put in a file with the `.tsx` extension instead of `.ts`. The extensio

[2020-12-04 19:53] underyx commented on #2191
Oh wow, that's nasty, I was so happy about the hack of making all TypeScript snippets .tsx to support both! But then we have to change this somehow.

I just don't know how. Will we need to create a new, separate menu option to select TSX as snippet language explicitly?

[2020-12-04 20:14] mjambon opened #2192 "Support typescript patterns with type assertions"
Originally requested by @msorens

Related to bug https://github.com/returntocorp/semgrep/issues/2191

Type assertions in typescript allow two syntaxes:
[code]

We get no matches when we were expecting two matches:
[code]

Additionally, the angle bracket syntax is not supported in patterns. It would be good if it were, if the selected language is pure typescript and not tsx:
[code]

[2020-12-04 20:39] colleend commented on #2170
done with https://github.com/returntocorp/semgrep/pull/2178!

[2020-12-04 20:39] #2170 closed, assigned to colleend

[2020-12-04 20:42] mjambon commented on #2191
@underyx yes, the easy, clean way would be to provide tsx as a separate language. There may be other ways, like perhaps trying both languages speculatively and picking the one that works.

[2020-12-05 03:09] ievans commented on #2137
Agreed that the documentation should definitely be updated to explain this in detail @msorens.

The choice to search for statements as _both_ expressions and statements was something that I pushed heavily for; the earliest versions of semgrep (sgrep :)) didn't do it. As @aryx said, since many of our users don't fully understand the difference between statements and expressions, making the engine t

[2020-12-05 17:01] KrishnaTejaJ commented on #2128
@DrewDennison Can you be a bit more elaborate on how exactly I get the result locally?

[2020-12-06 01:10] mjambon opened #2196 "spacegrep: Add -i option to spacegrep for case-insensitive searches"
This is useful for text search in general. Spacegrep is focused on ascii support, so this option would only handle the downcasing of ascii letters.

[2020-12-06 19:43] IagoAbal commented on #1425
@mschwager these errors should be gone after PR returntocorp/pfff#341, I have tried your first example with semgrep@develop and it worked fine. Could you re-try your examples and let me know if you get any more errors? Note that we still don't have proper support for those constructs, and you will get warnings about that, but now the taint analysis will at least run and it can give you some alarms

[2020-12-07 09:59] aryx opened #2199 "Report expression range, not full statement range, when use ExprStmt pattern as an Expr"
This is a followup to: https://github.com/returntocorp/semgrep/issues/2137#issuecomment-739114025

If the pattern is `foo();`, but the code is `print(foo()); ` we currently match such code because we magically
allow ExprStmt pattern to go deeper, but then we should not report the whole statement as a match and instead
just the matched expression.

This is a bit tricky to implement because of the w

[2020-12-07 10:24] aryx commented on #2190
I can add the semgrep-core option to parse a repo and outputs parsing stats for it.
semgrep-core -lang X -parsing-stats <dir>
which can output a JSON with {total_lines: <int>, lines_with_errors: <int>, etc. files_with_timeout: <int>, etc.)

[2020-12-07 10:26] aryx commented on #2189
A semgrep.live link would be even better :)

[2020-12-07 10:27] aryx commented on #2189
example: https://semgrep.dev/s/D8vv/

[2020-12-07 10:30] aryx commented on #2183
The right fix really is to rely on an refmt like tool to reformat the file after program transformation.
There are lots of hacks in Coccinelle to try to indent correctly the autofixed code.

[2020-12-07 13:29] aryx commented on #2192
remove the 'const' in the pattern and it will match.

[2020-12-07 13:31] aryx commented on #2192
the pattern is parsed by pfff and there we allow JSX, and the <xxx> syntax is not allowed with JSX.
Because the 2 forms are equivalent, I think it's better of we force people to use the 'as' syntax in the pattern
and allow it to match both forms (they are equivalent).

[2020-12-07 13:45] #2179 closed, assigned to aryx, mjambon

[2020-12-07 14:05] aryx opened #2202 "SEMGREP_CORE_DEBUG=1 and semgrep-core -debug do not work anymore"

[2020-12-07 14:05] aryx commented on #2202
This prevent people for diagnosing which files are problematic when semgrep is too slow.

[2020-12-07 14:13] aryx commented on #2179
This now works on develop: https://semgrep.dev/s/neZG?version=develop

[2020-12-07 14:15] aryx commented on #2192
Closing the issue, just remove the 'const' in the pattern.

[2020-12-07 14:15] #2192 closed, assigned to aryx

[2020-12-07 14:32] mschwager commented on #2190
That would be great :+1:

[2020-12-07 14:53] aryx commented on #2190
where is the code to manage parsing stats in ocaml-tree-sitter @mjambon ? did you define a few types in OCaml for it already? Just looking for a starting point to do something similar for pfff in semgrep-core.

[2020-12-07 15:10] #2189 closed, assigned to nobody

[2020-12-07 15:19] aryx commented on #2102
Someone reported a similar problem on some private Go repositories.

[2020-12-07 15:20] aryx commented on #2078
Is this a dupe?

[2020-12-07 16:23] mschwager commented on #2097
See also https://github.com/tree-sitter/tree-sitter-ruby/issues/138

[2020-12-07 16:47] ievans commented on #2102
@nbrahms @aryx surprisingly, even in v0.33 I tried leaving it overnight and it didn't terminate after 6hrs. We should re-prioritize IMO (cc @mjambon?)

[2020-12-07 16:48] ievans commented on #2078
No, https://github.com/returntocorp/semgrep/issues/2102 is tracking the fact that we don't terminate, ever; this is tracking the fact that some small-to-medium size files have timeouts.

[2020-12-07 17:21] #2202 closed, assigned to aryx

[2020-12-07 17:24] ievans commented on #2159
👍 an easy change and a good one. If someone wants to take this on, you'll be touching most of the same paths as in #2082.

[2020-12-07 17:50] mschwager commented on #320
I don't think language graduation work solves the spirit of this task, but this task isn't very actionable without a much larger, potentially distracting, discussion/refactor so I'm fine with closing it out :+1:

[2020-12-07 17:50] #320 closed

[2020-12-07 17:56] mschwager commented on #1386
@nbrahms is this task still relevant? Can you give reproduction steps inline here? On your Github Action link I'm seeing "The logs for this run have expired and are no longer available."

Now that our [rule testing is publicly documented](https://semgrep.dev/docs/writing-rules/testing-rules/) we should ensure this flag/functionality works as expected.

[2020-12-07 17:57] dee-see commented on #2179
Thanks @aryx ! This still fails however https://semgrep.dev/s/Kd4j/?version=develop

[2020-12-07 18:02] mschwager commented on #1407
Looks like this is fixed:

[code]

[2020-12-07 18:02] #1407 closed, assigned to nobody

[2020-12-07 18:14] mschwager commented on #1868
It looks like `tree-sitter` errors out in both cases, they're just different errors:

[code]

[code]

Not sure if this is our bug, or `tree-sitter`s. I suspect this is our bug and we're not correctly handling `(MISSING "end" ...)`.

[2020-12-07 18:41] aryx commented on #2179
yes we might have restrict where '...' can appear in Ruby to just function calls or a few other places because of grammar
ambiguities. In the mean time you can always use metavariables like $_X & $_Y

[2020-12-07 18:44] ievans commented on #2137
@msorens how would you feel if I closed this in favor of https://github.com/returntocorp/semgrep/issues/2199 and creating a section in the documentation talking about expression vs statement?

[2020-12-07 19:01] dee-see commented on #2179
Alright, this fix is good enough for my current use case anyway. Thanks!

[2020-12-07 19:30] j-martin opened #2208 "[Java] Add the ability to use ellipsis (or equivalent) for method chaining."
**Is your feature request related to a problem? Please describe.**

The ellipsis `...` operator does not seem to support usage in method chaining. https://semgrep.dev/docs/writing-rules/pattern-syntax/#ellipsis-operator

For example, we want to ensure a fluent API / builder-like (from an external library) is invoked in the right order. We do not care about any method calls in between. More specifi

[2020-12-07 19:32] underyx commented on #2191
@msorens I considered this low priority because I never used this kind of type assertion. Could you tell me if this is something more than 1% of users would use? If it's as rare as I expect (and I might be wrong) then it might be worth it to keep the live editor UI simpler for our users and leaving only a TypeScript option in the menu.

I don't think we can try speculatively because the same logic

[2020-12-07 20:11] #1292 closed, assigned to nobody

[2020-12-07 20:49] mjambon commented on #1868
I wasn't aware of this `MISSING` kind of errors. It's something we'd need to handle. Good catch.

[2020-12-07 21:27] msorens commented on #2191
Wow, great question, @underyx ! In Chef's code base it is very common--I count over 600 instances in our set of TS files. And those are put in not just by me 😉 , but at least a dozen people.
While, like you, I do not know if my experience can validly be extrapolated to make broader claims for other companies, my gut feeling is the opposite of yours, that anyone writing serious TypeScript would be

[2020-12-07 21:33] msorens commented on #2137
That is certainly sufficient. Based on the thoughtful comments in this thread, I am not at all sure there should be any changes at this point other than documentation; you have definitely put more time into thinking about this than I have. 👍

[2020-12-07 22:36] mschwager commented on #2098
Tracked this down to https://github.com/tree-sitter/tree-sitter-ruby/issues/140.

[2020-12-07 22:37] mschwager commented on #1580
Might be the same as https://github.com/returntocorp/semgrep/issues/2098 and https://github.com/tree-sitter/tree-sitter-ruby/issues/140.

[2020-12-07 23:31] ievans commented on #2137
@msorens thanks for the quick reply, and I really appreciate your detailed original writeup. I'm going to close in favor of #2199 and I opened a PR to add some of @aryx 's comments to the documentation here: https://github.com/returntocorp/semgrep-docs/pull/61

[2020-12-07 23:31] #2137 closed, assigned to ievans

[2020-12-08 01:27] msorens opened #2209 "Type assertions not working with autofix"
**Describe the bug**

With this rule in file `general.yaml` ...
[code]
...and this contents of file `foo.ts`...
[code]

...command-line semgrep correctly returns two findings, but the autofix result is incorrect:
[code]

Other notes:
I did not expect any differences from these variations, but just for completeness:
1. Using expressions instead of statements (i.e. removing the trailing semicolon in

[2020-12-08 08:59] aryx commented on #1868
Nice matt. Learning a new thing about tree-sitter every week :)

[2020-12-08 08:59] aryx commented on #1868
We can probably add this MISSING token with a fake token in the CST and AST.

[2020-12-08 10:29] underyx opened #2211 "No way to match only `try {...}` block without `catch {...}` in JS/TS"
see chat here: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1607112321088700

[2020-12-08 14:25] aryx commented on #2102
Ok by adding more logging and by using SEMGREP_CORE_EXTRA="log_to_file mylog -debug -profile" I managed to find the issue; There is no timeout on any file, which is good; the -timeout option is working as intented. The problem is that given the rules in r/typescript, semgrep-core finds more than 4M matches, and then it takes forever to get the range and metavar information for those 4M matches (th

[2020-12-08 15:30] aryx commented on #2102
I've added a -max_match_per_file option to semgrep_core, with a default to 10 000. When a file generate matches
above that limit, we fake a Timeout exception on this file in the list of errors returned by semgrep-core to the semgrep-python wrapper. We could change that error type later, but at least it prevents semgrep from stalling forever on Signal-desktop.

[2020-12-08 15:37] aryx commented on #2102
Still takes 8m19, but a least it finishes:
[code]

[2020-12-08 15:39] aryx commented on #2102
Note that the semgrep-python wrapper captures the stderr of semgrep-core, and only when it finishes it outputs it (when run with semgrep --debug). This is a bit annoying @brendongo because it prevents to see the progress output of semgrep-core, to see for example live which files it is currently processing.

[2020-12-08 16:05] ievans commented on #2102
Thanks @aryx

This sounds like a great resolution for now!

[2020-12-08 17:57] dlukeomalley commented on #1990
Closing as fixed by #2082

[2020-12-08 17:57] #1990 closed, assigned to nobody

[2020-12-08 18:29] dlukeomalley commented on #2095
@aryx @DrewDennison Are you tracking work here? I'm cleaning up our misc. issue boards and wanted to confirm it's on your radar versus the boards I help manage.

[2020-12-08 19:50] aryx commented on #2095
closing. There's another issue tracking the metavariable matching fields and variables at the same time.

[2020-12-08 19:50] #2095 closed, assigned to aryx

[2020-12-08 19:51] #2102 closed, assigned to aryx, mjambon

[2020-12-08 20:09] aryx commented on #2211
you could do
try {
  ...
  <... localStorage.$METHOD(...) ...>
 ...
} catch(...) { ... }

[2020-12-08 20:09] aryx commented on #2211
but yes it would be nice to match just the try { ... } part without caring about the catch part.

[2020-12-08 20:10] aryx commented on #2211
We recently allowed partial function pattern, partial if, I guess we could add partial try.

[2020-12-08 20:24] mschwager commented on #2157
Fix was merged into tree-sitter, we're no longer blocked!

[2020-12-08 20:27] mschwager commented on #2098
Upstream is fixed :+1:

[2020-12-08 20:49] underyx commented on #2211
we could certainly try :dancers:

[2020-12-08 20:51] underyx commented on #2211
@aryx I think your suggestion fails to parse as a pattern: https://semgrep.dev/s/9RN0/

[2020-12-08 21:04] aryx commented on #2208
Good idea, given those method chains emulate are similar to sequence of statements.

[2020-12-08 21:05] aryx commented on #2208
I would vote for
x.foo(). ... .bar(). ...

[2020-12-08 21:08] aryx commented on #2208
I am a bit worried about grammar ambiguity with x.foo()...bar()... but maybe it is possible

[2020-12-08 21:38] DrewDennison opened #2213 "Allow for tests to not live with the yaml files"
Provide an argument for separating out test files from the yaml files when running the tests. This is @ajinabraham's most requested feature

[2020-12-08 21:43] mschwager commented on #2213
Looks like https://github.com/returntocorp/semgrep/issues/1796 - not sure if @ievans's comment still applies

[2020-12-08 21:46] DrewDennison commented on #2213
closing at dup of #1796

[2020-12-08 21:46] #2213 closed, assigned to mschwager

[2020-12-09 00:26] nbrahms commented on #2208
@aryx my vote would be for `x.$...METHODS.bar()` FWIW.

[2020-12-09 00:29] zwass commented on #1952
Just listening to Clint Gibler's talk about semgrep at Empire Hacking. I would be interested in using semgrep with the [osquery codebase](https://github.com/osquery/osquery/). We don't use macros very extensively there. Would this be feasible?

[2020-12-09 00:37] bflad opened #2215 "Matching Go switch Statements"
## Description

Matching `switch` statements in Go seems like it might be difficult or unsupported at the moment: https://semgrep.dev/s/kWn1

This Go code exercises a few styles of `switch` for playing:

[code]

Attempting any of the following generic rule patterns always returns:

[code]

[code]

[code]

## References

- https://semgrep.dev/docs/status/
- https://golang.org/ref/spec#Switch_statem

[2020-12-09 01:00] nbrahms commented on #2208
An interesting suggestion might be to adopt:

`${[...]VAR} | $[...]VAR | ${...} | ...`

as a complete generic syntax for wildcard matching, with the first option the preferred unambiguous syntax. This would allow users to unambiguously describe method chaining, for instance.

The downside is that you'd conflict with interpolation dialects in JavaScript and Scala.

To match method chaining, then, o

[2020-12-09 08:47] aryx commented on #2208
Ok, let's try the syntax @j-martin intuitively used: x.foo()... .bar()...
this seems to not generate any grammar conflicts. When written on a single line it's a bit ugly, but on multi-line, as method
chaining is usually used, it's not bad:
[code]
it's actually pretty similar to what we have for statements
db.selectFrom();
...
fetch();
stream();
...

[2020-12-09 09:03] aryx commented on #1952
I've just tried the tree-sitter-cpp parser on osquery and it just parses 75% of the codebase.
Here are a few parsing errors reported by the current version of tree-sitter-cpp:
[code]
problem on size_t{10}

[code]
problem on HIDDEN_FLAG macro.

It problable needs quite some work to extend https://github.com/tree-sitter/tree-sitter-cpp to handle all those constructs
to get a good parsing percentage

[2020-12-09 09:04] aryx commented on #1952
I think in the short term we could spend some time to integrate tree-sitter-cpp in semgrep, to be able to parse and match C++ code, but you will get lower coverage than for the other languages as lots of the C++ code (in osquery case 25%) would not be parsed.

[2020-12-09 09:56] aryx commented on #2211
you need some extra () and semicolon to parse currently:
https://semgrep.dev/s/er3R/

[2020-12-09 11:03] #2211 closed, assigned to nobody

[2020-12-09 14:32] underyx commented on #2208
`x.foo()...().bar()`

is another one to consider just cause it looks more like actual method chaining

[2020-12-09 14:36] #2215 closed, assigned to aryx

[2020-12-09 14:37] aryx commented on #2215
Because of some grammar conflicts when using ... inside switch, you'll have to use 'case ...' to express an ellipsis inside
switch, for example:
[code]

[2020-12-09 16:28] DrewDennison commented on #2128
hi @KrishnaTejaJ when you say "environment: Local Build" are you building from source or are you installing via pip?

I did

[code]

[2020-12-09 16:50] KrishnaTejaJ commented on #2128
I used pip, but yeah the steps you mentioned did it for me. Thank you!

[2020-12-09 16:50] #2128 closed, assigned to DrewDennison

[2020-12-09 17:52] bflad commented on #2215
Thank you for the quick response, @aryx!

[2020-12-09 19:10] j-martin commented on #2208
Unless I am mistaken, @underyx `...()` would infer that the method has a zero-arity. `...(...)` would be more correct, but not necessarily describe really that it is an arbitrary number of the method calls.

@aryx I think `db.selectFrom() ... .fetch().stream()` is reasonable as long the doc insists on the importance of the spaces or new lines. Would `db.selectFrom()... .fetch().stream()` still be

[2020-12-09 22:11] aryx commented on #2208
Je pense que je vais suivre ton intuition d'origine. $O.foo() ... .bar() ... me parait une bonne idee.

Note that you may have to write them on a single line in the pattern because of the way ASI (Automatic semicolon insertion)
does not always play well with the few semgrep extensions to the Javascript grammar.

[2020-12-10 12:54] Sjord commented on #1392
Could you help with this, @aryx or @mjambon ? I want to use the latest treesitter C# grammar in semgrep-core. Could you perhaps import that from upstream?

[2020-12-10 16:43] DrewDennison commented on #2128
awesome, glad to know this worked for you and thanks again for the bug report

[2020-12-10 17:53] underyx commented on #2054
@minusworld will we be able to try this solution by 0.35?

[2020-12-10 17:56] underyx commented on #2157
just tagging you @mjambon about the above ^ 🙌

[2020-12-10 19:34] aryx commented on #1392
@mjambon can you update ocaml-tree-sitter-lang to use the latest tree-sitter-csharp?

[2020-12-10 19:40] zwass commented on #1952
@aryx thank you for the great feedback! I wonder about that first case -- isn't that standard C++ syntax? Trying to remember what the checks were that I wanted to add to osquery that I thought semgrep could be a good fit for. I will post here if I remember those.

[2020-12-10 20:06] underyx opened #2229 "Java fields metavars don't match correctly"
https://semgrep.dev/s/P9W0

[2020-12-10 20:29] righettod opened #2230 "Cannot use on Windows 10 Entreprise"
**Describe the bug**

I cannot execute it on a Windows 10 Enterprise 64 bits system with Python 3.7.4.

**To Reproduce**

Install the tool and try to scan a file via ` semgrep -e '[RULE]' --lang=php **`

**Expected behavior**

The analysis result.

**Screenshots**

![image](https://user-images.githubusercontent.com/1573775/101825672-3776d080-3b2e-11eb-91be-5f45d3bb8c16.png)

![image](https://user-

[2020-12-10 20:32] aryx commented on #1952
I don't think you can have toplevel function calls in C or C++, and that's what this code looks like, it looks like a function call,
when really it's a macro that expand in a declaration (that you can have at the toplevel in C or c++).

Macros ...

[2020-12-10 20:57] underyx commented on #2230
Yay, thanks for following up from the meetup Dominique!

[2020-12-10 21:51] mschwager opened #2231 "Ruby: Road to GA"
We're very close to Ruby GA support! By our [language maturity definitions](https://semgrep.dev/docs/status/#maturity-definitions) we've achieved the **feature support** and **ruleset count** goals. Feature support can be seen in the feature matrix, and we have the following rulesets:

* [`/p/ruby`](https://semgrep.dev/p/ruby)
* [`/p/minusworld.ruby-on-rails-xss`](https://semgrep.dev/p/minusworld.

[2020-12-10 21:53] mschwager commented on #2230
Is this for native Windows support, or WSL? WSL should work, so that would be a bug if so - for native Windows we've been tracking in https://github.com/returntocorp/semgrep/issues/1330.

[2020-12-10 22:48] cpholguera opened #2232 "Add support for Swift"
It would be great to have Swift support, along with Kotlin support this can allow for very comprehensive static analysis of mobile apps.

[2020-12-10 22:51] underyx commented on #2232
I gave you a +1 as thanks for dropping by on our issue tracker :D

[2020-12-11 06:08] inkz opened #2234 "TypeScript: add support CommonJS-style import and export"
In TypeScript this kind of syntax is supported for CommonJS modules

[code]

reference: https://www.typescriptlang.org/docs/handbook/2/modules.html#commonjs-style-import-and-export-

currently it is impossible to catch this type of import with Semgrep patterns

expected support would look smth like this:
https://semgrep.dev/s/6WOW

pattern:
[code]

code:

[code]

[2020-12-11 09:09] righettod commented on #2230
@mschwager It's for native support.
However usage of the docker image is a way until it is available natively.
@underyx  You are welcome, it was a great and cool event 😃

[2020-12-11 14:27] aryx commented on #2196
We can close this no @mjambon ?
You need to use "Fixes #<issue  number>" or "Closes #<issue>" in the commit message to get github to automatically close the issue
once the related PR is merged.  "Implements #<issue>" does not close automatically the issue.

[2020-12-11 14:27] #2196 closed, assigned to mjambon

[2020-12-11 17:59] dlukeomalley commented on #2157
@mjambon Any updates on updating tree-sitter for this?

[2020-12-11 18:52] j-martin commented on #2208
@aryx can we re-open this issue to add Java support or should I create a new issue? [jOOQ](https://www.jooq.org/) is a Java library. I was not clear about which language I was looking for. I did mention JS/TS since we use TS for our front-end.

[2020-12-11 18:52] zythosec opened #2237 "Custom policy locally with Docker results in unknown exception: End_of_file"
**Describe the bug**
Running a custom policy consisting of PHP/Javascript rules locally with the latest Docker image on https://github.com/rapid7/hackazon (vulnerable web application) results in an internal error:

docker run --rm -v "${PWD}:/src" returntocorp/semgrep:0.34.0 --config hackazon.yaml
running 16 rules...
an internal error occured while invoking semgrep-core:
	unknown exception: End_of

[2020-12-11 19:14] #1796 closed, assigned to mschwager

[2020-12-11 19:17] DrewDennison commented on #1796
@ajinabraham yay! Can you please confirm the changes @mschwager made in #2221 work for your needs and if not, please reopen. It should roll out in our release next week.

[2020-12-11 19:27] mjambon opened #2239 "Create working template for adding a tree-sitter language"
Ideas and code are in this public Slack conversation: https://r2c-community.slack.com//archives/CK86BJ5DW/p1607462630101000

This task is about:

* creating a shell script and possibly a dockerfile for adding a new tree-sitter language with a canonical repo structure (like most are e.g. ruby, kotlin, javascript; not typescript/tsx)
* setting up a CI job that ensures it keeps working

[2020-12-11 19:33] mjambon opened #2240 "Separate ocaml and nodejs worlds to facilitate contributions"
This was discussed here: https://r2c-community.slack.com/archives/CK86BJ5DW/p1605820145019400

The goal is to allow contributions to tree-sitter grammars without setting up an ocaml dev environment, and also allow contributions on the ocaml side in semgrep-core without having to know about setting up nodejs for the tree-sitter parser generators.

We want an easy tool for turning the collection of

[2020-12-11 20:42] mschwager commented on #2237
I suspect this may be related to https://github.com/returntocorp/semgrep/pull/1603. That modified the only `End_of_file` behavior in `semgrep-core`:

[code]

I was unable to reproduce this locally on a test PHP file, so it must be related to one of your local PHP files.

cc @aryx for the `semgrep-core` assist.

[2020-12-12 16:39] aryx commented on #2190
Ok I think my part is done. You can now do
semgrep-core -lang go -json -parsing_stats /path/to/go/repo 2>/dev/null
and it will print on stdout some JSON info about total line count and error line count for this go project.

[2020-12-13 13:51] aryx opened #2247 "[Java] Constant propagation of static field, and xxx vs this.xxx access"
See https://semgrep.dev/s/LrKn/

[2020-12-14 14:11] Sjord commented on #1215
See also [#2123: Semgrep changing current directory causes unexpected file resolving behaviour](https://github.com/returntocorp/semgrep/issues/2123).

[2020-12-14 14:35] mschwager commented on #2230
Great, thanks for the clarification. I'm going to close this one in favor of #1330.

[2020-12-14 14:35] #2230 closed, assigned to nobody

[2020-12-14 15:56] righettod commented on #2230
Ok thank you very much.

[2020-12-14 18:48] ajinabraham opened #2252 "Support ARM architecture"
Prioriry: Low

**Is your feature request related to a problem? Please describe.**
Was trying to use semgrep on my android tablet.
install is successful, but cannot invoke semgrep.

[code]
I guess this is because the binary was not targeted for ARM.

**Describe the solution you'd like**

Would be nice to have a arm compatible semgrep-core

**Describe alternatives you've considered**
A clear and con

[2020-12-14 19:31] mschwager commented on #1754
Hi @msorens,

We've made quite a few performance improvements in Semgrep [`0.34.0`](https://github.com/returntocorp/semgrep/blob/develop/CHANGELOG.md#0340---2020-12-09). Can you confirm that you're still seeing performance issues on this file with the latest version of Semgrep?

[2020-12-14 22:06] msorens commented on #840
Yes, please! This would be terribly useful.

[2020-12-14 23:18] msorens commented on #1754
Thanks for the note, @mschwager ! Here is some data that I just ran--**v 0.33.0**:

[code]
I then upgrade to **0.34.0** and re-ran:
[code]

My conclusions:
(1) There were indeed performance improvements--but not from 0.34.0--the results for 0.33.0 and 0.34.0 were essentially identical for my data.
(2) There is still a substantial performance penalty (about 4x slower) for the single file I targeted

[2020-12-14 23:34] mjambon opened #2255 "spacegrep: Memoize + get rid of the 10-line limitation in ellipsis"
In spacegrep aka generic matching, an ellipsis pattern (`...`) can span at most 10 lines. This restriction has served as a convenient way to avoid polynomial matching complexity O(n^(k+1)) where k is the number of `...` in the pattern. It was also useful to work around the problem of not returning the shortest match, which was fixed by #2108 .

Memoizing intermediate match results should change th

[2020-12-15 10:35] aryx commented on #2240
A nice thing is that semgrep really just need ocaml-tree-sitter-lang/ and the runtime part of ocaml-tree-sitter.
We don't need the ocaml-tree-sitter/semgrep-grammars at all under semgrep; we just care about ocaml-tree-sitter-lang
so maybe it would be better to extract the runtime part of ocaml-tree-sitter/ and put just that under semgrep/ (and actually even better under semgrep/semgrep-core/).

Th

[2020-12-15 10:37] aryx commented on #2240
For example today I've updated semgrep-grammar to the latest tree-sitter-ruby, then I updated ocaml-tree-sitter to the latest semgrep-grammars, then I've made a new release in updated ocaml-tree-sitter-lang.

Now the only thing I need to pull in semgrep is the latest ocaml-tree-sitter-lang; I don't even care about the latest ocaml-tree-sitter (if the runtime and types didn't change; for example a

[2020-12-15 12:08] aryx commented on #1580
This now correctly parses, but the AST for it seems wrong.

[2020-12-15 12:28] aryx opened #2258 "[Ruby] Heredoc content are not in the CST"
followup to https://github.com/returntocorp/semgrep/issues/1580

[code]

Tasks:
- [ ]  ~~https://github.com/tree-sitter/tree-sitter-ruby/issues/176~~
- [x] https://github.com/tree-sitter/tree-sitter-ruby/issues/177

[2020-12-15 12:29] aryx commented on #2258
The grammar.js for ruby is weird because it has a heredoc_body rule, but it's not referenced by
anything. Might be referenced by the scanner, which makes it hard for us to make the connection.

[2020-12-15 12:57] #2157 closed, assigned to mjambon

[2020-12-15 12:58] aryx commented on #1580
I've created another issue for the CST/AST problem:

[2020-12-15 12:58] #1580 closed, assigned to nobody

[2020-12-15 12:58] #2097 closed, assigned to mjambon

[2020-12-15 12:59] aryx commented on #2098
link above does not work anymore.
But if it's related to Heredoc, it's probably fixed.

[2020-12-15 12:59] #2098 closed, assigned to mjambon

[2020-12-15 14:58] mschwager commented on #1457
Closing out with addition of `rails` in https://github.com/returntocorp/semgrep/pull/2257.

[2020-12-15 14:58] #1457 closed, assigned to mschwager

[2020-12-15 15:53] mschwager commented on #2231
Created some additional upstream issues for new parsing errors:

- https://github.com/tree-sitter/tree-sitter-ruby/issues/143
- https://github.com/tree-sitter/tree-sitter-ruby/issues/144
- https://github.com/tree-sitter/tree-sitter-ruby/issues/145
- https://github.com/tree-sitter/tree-sitter-ruby/issues/146

[2020-12-15 16:23] aryx commented on #2208
Should work now for Java.

[2020-12-15 16:47] mschwager commented on #1754
Complex rules on large files will undoubtedly incur a performance cost. I'm trying to get a feel for what a "fix" looks like here. What are your performance expectations in this situation? If performance is a primary concern over correctness, can `--exclude`, `--timeout`, and/or `--timeout-threshold` achieve the desired outcome? Or would you rather remove the offending rule instead of file?

[2020-12-15 18:22] mschwager commented on #2237
@aryx does this error look familiar to you?

[2020-12-15 18:25] daghan opened #2261 "This docker rule should return some results"
**Describe the bug**
This should be a correct rule / query

https://semgrep.dev/s/daghan:docker-test???version=develop

**What is the priority of the bug to you?**
P2

**Environment**
semgrep.dev version=develop

[2020-12-15 18:31] mschwager commented on #2234
@inkz do you know what the priority is here?

@aryx do you have a sense of how much work this would involve?

My initial thoughts here are that we hold off until we decide to do The Big Imports Refactor. Instead of fixing these import issues one by one we could lump this into https://github.com/returntocorp/semgrep/issues/285 or https://github.com/returntocorp/semgrep/issues/975 and fix everything

[2020-12-15 18:37] mschwager commented on #2261
@daghan It looks like your `patterns` operators were missing `-`. E.g. https://semgrep.dev/s/olB1/?version=develop

We should definitely warn the user here, though. I'll investigate and see why that's not happening.

[2020-12-15 18:44] mschwager commented on #2261
Looks like this is a cloud app issue - closing in favor of https://github.com/returntocorp/semgrep-app/issues/1291.

[2020-12-15 18:44] #2261 closed, assigned to nobody

[2020-12-15 18:49] mschwager commented on #2252
Hi @ajinabraham,

We currently only target x86 Linux and macOS in our `semgrep-core` build. Including ARM builds is low priority for now. I'll leave this open so others with this request can chime in :+1:

[2020-12-15 20:37] mjambon opened #2262 "Fix path filtering for generic + live editor"
**Describe the bug**

In the live editor, using the generic mode in combination with a `paths` filter fails to run on the file entered in the box.

In this case, the file name needs to match `*Dockerfile*`. This name pattern will vary widely, and path filtering doesn't make much sense in the live editor anyway since the file entered doesn't have a name. I suggest ignoring the `paths` field entirel

[2020-12-15 22:48] ben-elttam commented on #2234
@inkz raised this from a thread I started on slack. To me it make sense to fix it all at once if that's going to happen sometime in the coming months.

[2020-12-16 00:13] msorens commented on #1754
Ah, guess I did not directly address that. I am satisfied with the current performance level, given the improvements already in place. An extra 30 seconds for an occasional unwieldy file is not a concern for me.

[2020-12-16 00:18] inkz commented on #2234
yep, as this is a user request, and @ben-elttam  is ok with waiting a little bit, it would be awesome to tackle it during Big Imports Refactor!
I'll be happy to help with testing and some practical examples. :+1:

[2020-12-16 01:25] msorens opened #2263 "UI data not kept up to date between views"
**Describe the bug**
After updating my projects list to this (deleted 2 projects AND changed policy on one of the remaining projects) ...
<img width="454" alt="image" src="https://user-images.githubusercontent.com/6817500/102292217-92774180-3ef9-11eb-800e-f9c999e10ced.png">
I then went over to the Policies page and the data was stale:
<img width="509" alt="image" src="https://user-images.githubuse

[2020-12-16 07:18] Frostweeds opened #2264 "Difference between report generated by semgrep and semgrep-agent"
We are currently using semgrep to generate vulnerability reports and we have seen that there seems to be differences in-between the JSON structure generated by semgrep and semgrep-agent. For example, semgrep returns a structure of the form
[code]
while semgrep-agent returns directly the array as the top-level struct. There is also an `extra` field which contains `metadata` in the semgrep while in

[2020-12-16 12:31] aryx opened #2266 "[Python] Parse error on zulip on raw string and escape char"
This does not parse: https://github.com/zulip/zulip/blob/master/zerver/openapi/markdown_extension.py
which causes semgrep CI to fail because we use zulip codebase in our test infra.

[2020-12-16 12:34] aryx commented on #2266
The problematic line is:
[code]
because when we see \{ we think it's an escape char, and then the following { is interpreted as the start of an interpolation, but then \n after cause a parse error because we expect an expression here.

It's because we don't handle at all raw-string. By miracle it worked until now, but in a raw string the  '\' is actually interpreted as an escape char where it shou

[2020-12-16 13:54] #2266 closed, assigned to nobody

[2020-12-16 16:12] mschwager commented on #2264
Hi @RomainJufer,

We used to have [output](https://github.com/returntocorp/semgrep/blob/96c72584f20a00fd0f3a42b651cf8589c8aa2b13/docs/output.md) documentation, but it looks like it didn't make it to our new [docs](https://semgrep.dev/docs/) site. The old output documentation should give you an idea for the `semgrep` JSON output. However, I would not expect the `semgrep` and `semgrep-agent` JSON ou

[2020-12-16 16:43] msorens opened #2271 "Multiple occurrences of rules in override search and in ruleset filter should be eliminated"
**Describe the bug**

Many occurrences of some rules show up when adding an override to a ruleset in a policy.

**To Reproduce**
Added a ruleset (r2c-best-practices) to a policy, selected <kbd>Add Override</kbd>, then typed in "permission" in the search box:
<img width="1111" alt="image" src="https://user-images.githubusercontent.com/6817500/102377441-8337d880-3f79-11eb-8c10-867c870b6e38.png">

Cu

[2020-12-16 16:44] underyx commented on #2264
You're right on all counts, Matt. I did also find that the output format documentation is [commented out currently in the docs](https://github.com/returntocorp/semgrep-docs/blame/main/docs/integrations.md#L244), which is probably a decision by @dlukeomalley.

The formats are different and will likely stay that way. Semgrep-agent does some processing and adds fields to aid issue deduplication, and

[2020-12-16 17:12] mschwager commented on #1754
Great! We're currently putting a lot of effort into performance improvements, so this should get even better shortly.

With all the different code <-> rule combinations out there it's often difficult for us to foresee all degenerative cases, so thanks for pointing us the right direction. I'm going to close this one out, feel free to open new issues if you see particularly bad performance on a rule

[2020-12-16 17:12] #1754 closed, assigned to mschwager

[2020-12-16 17:50] mschwager commented on #2234
Assigning to @aryx for now - we can unassign later if this is too much work.

[2020-12-16 19:30] Mandawi opened #2272 "[Java] "NoTokenLocation" on @Attr({})"
**Describe the bug**
"NoTokenLocation Match returned an empty list" should instead just return an empty list for that metavar. Returning an error prevents it from detecting all possible attributes in RequireScope annotation.

**To Reproduce**
https://semgrep.dev/s/J9Xd

**What is the priority of the bug to you?**
P0 because I can't run this rule without it.

[2020-12-16 20:09] Sjord commented on #1392
Most common language features are implemented in the treesitter parser. One feature that isn't implemented yet is LINQ queries. I intent to convert LINQ queries to function calls, to Select, OrderBy, etc. This is pretty hard. And I think I've run into an [upstream bug](https://github.com/tree-sitter/tree-sitter-c-sharp/issues/144) with this.

[2020-12-16 20:23] aryx commented on #1392
I still count around 60 todo().
Do you want us to finish those?

[2020-12-16 21:58] xens commented on #2264
thanks @mschwager and @underyx for your answers. Initially we wanted to import data from the `semgrep-agent` inside DefectDojo as there's now a parser for it (https://github.com/DefectDojo/django-DefectDojo/issues/2720), but we saw the data-model differences between `semgrep` and `semgrep-agent` and we understood that only `semgrep` was supported for now inside DDJ. So as I understand we have two

[2020-12-16 22:06] mjambon opened #2276 "Broken image link (semgrep logo) on PyPI package page"
https://pypi.org/project/semgrep/

![image](https://user-images.githubusercontent.com/343265/102412038-ca3cc280-3fa7-11eb-80b7-be5f48c28955.png)

[2020-12-16 23:16] mjambon opened #2277 "json test matrix no longer has a "json" language entry"
~~I suspect this is due to the following change because it obtains the list of languages differently than before: https://github.com/returntocorp/semgrep/commit/55a918d~~

[2020-12-16 23:24] mschwager commented on #2272
Hi @Mandawi,

This looks like a Java parsing bug. cc @aryx who's familiar with the relevant parts of the codebase.

[2020-12-17 03:31] mjambon opened #2278 "Automate testing and release of artifacts used by semgrep-app and r2c-web"
Motivation
--

Finding out about problems during the release of semgrep is bad because it requires urgent fixes by people not involved directly in the release process. Or rather, the person making the release is often not competent for fixing the problems as they happen.

The other obvious goal is to shorten the release process by automating more of it.

Proposal
--

This effort can be somewhat in

[2020-12-17 08:32] aryx commented on #1338
Some recent interest for Rust :) https://www.reddit.com/r/rust/comments/kepkjz/well_paid_opportunity_to_add_open_source_support/

[2020-12-17 08:39] aryx commented on #2231
Thx @mschwager for filing all those parsing issues, especially because you filed them in another repository :)

[2020-12-17 09:13] Sjord commented on #1392
No, I'll keep working on this. What I meant was that language features that are commonly used are implemented, and rarely used features are still to do. The result of this is that the parser in its current state can parse most files.

I am only working on [Parse_csharp_tree_sitter.ml](https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/parsing/Parse_csharp_tree_sitter.ml), which does

[2020-12-17 10:06] aryx commented on #1392
Ok sounds good.
@mjambon could you add the C# grammar in semgrep-grammars/ and start the extension to support $X (we can do ... later).
We also need to imitate the sgrep_spatch_pattern rule we have in the pfff grammars, because this is the first time we will rely on tree-sitter to also parse the pattern.

[2020-12-17 10:08] aryx commented on #1392
I've created a separate issue to use the tree-sitter parser to also parse the semgrep C# pattern.

[2020-12-17 10:11] aryx opened #2280 "[C#] Parse C# semgrep pattern via tree-sitter"
We usually use pfff to parse the semgrep patterns. We now often use tree-sitter to parse the code (e.g., for Java, Go, etc.)
but up until now we were still relying on pfff the the many semgrep extensions to the grammars to parse a pattern.
With C# we don't have a C# parser, even a basic one, so we need to rely on tree-sitter to also parse the pattern.
This is the first time we do that, even though

[2020-12-17 10:12] aryx commented on #2280
@mjambon do you feel you could do that or you prefer me to do it?

[2020-12-17 10:12] aryx commented on #2280
cc @colleend because we will need to do something similar for Kotlin.

[2020-12-17 13:41] #2229 closed, assigned to aryx

[2020-12-17 14:55] aryx commented on #2237
No, does not look familiar, and I don't think the code snippet you put above is related.

Could you reduce further the problem? Ideally a semgrep.live link showing the problem would be the best way for us to debug it.
Ideally a single pattern, and a simple file showing the issue.

[2020-12-17 14:57] aryx commented on #2234
What is the "The Big Imports Refactor"? I've spent some time on import related issue a few weeks ago, to get metavariable to match the whole path, but I don't think there's a more general refactoring solving all the problems.

[2020-12-17 15:04] #2247 closed, assigned to IagoAbal

[2020-12-17 15:05] aryx commented on #2272
Ok I got this.

[2020-12-17 16:01] mschwager commented on #2054
**TL;DR: After further investigation I can't find a way to make both `pip` and `setuptools`/`easy_install` work with a bundled `semgrep-core` binary.** The Python documentation recommends 3 ways for packaging additional data files with a package. Each had a shortcoming in my testing.

* [`scripts`](https://docs.python.org/3/distutils/setupscript.html#installing-scripts) - `pip`: works, `setuptools

[2020-12-17 16:45] blshkv commented on #2054
pip is a higher-level interface on top of setuptools or distribute, it might even call setup.py (never used pip, so not sure). So please focus on setuptools solution

[2020-12-17 17:10] ajinabraham commented on #2054
I guess semgrep needs to support pip as that's the easiest and widely used way for people to install semgrep. Other tools that integrate semgrep also have to install semgrep which may not use pip at all.

@mschwager In the ideal scenario, instead of semgrep-core as a binary in a python package, there should have been shared objects targeted for multiple arch and OS. So I wouldn't see any issues wi

[2020-12-17 17:21] msorens opened #2286 "Add auditing details regarding rules actually applied in CI scans"
**Is your feature request related to a problem? Please describe.**

When I do a semgrep run in CI, for auditing purposes one should be able to trace back not just
(a) what files were scanned, but also
(b) what were they scanned with.

Let me explain:

In the dashboard each project identifies its policy:
<img width="1080" alt="image" src="https://user-images.githubusercontent.com/6817500/102517216-

[2020-12-17 18:33] #2272 closed, assigned to aryx

[2020-12-17 19:58] chgg-kboberg opened #2287 "Ruby parser doesn't handle `rescue` blocks correctly"
**Describe the bug**
Ruby parser doesn't correctly handle `rescue` blocks in function definitions, e.g.

[code]
should match
[code]

**To Reproduce**
https://semgrep.dev/s/gpde/

**Expected behavior**
Semgrep should find a match but does not.

**What is the priority of the bug to you?**
This is a P1.  You can work around this with explicit handling of `rescue`: https://semgrep.dev/s/Qwvo/
**Enviro

[2020-12-17 20:21] mschwager commented on #2287
Hi @chgg-kboberg,

Nice find, this is quite an odd bug. It looks like we successfully match when the optional `begin`/`end` are included: https://semgrep.dev/s/3eoo/.

Following along [here](https://www.rubyguides.com/2019/06/ruby-rescue-exceptions/) it looks like they are optional like you're example specifies. cc @aryx or @mjambon for a parsing assist.

[2020-12-17 20:22] #2277 closed, assigned to mschwager

[2020-12-17 20:49] mjambon commented on #2287
From @mschwager 's example https://semgrep.dev/s/3eoo/, it looks like a parsing error because the correct `end` isn't included in the match.
![image](https://user-images.githubusercontent.com/343265/102542064-177f6980-4066-11eb-99ee-a833ff16c897.png)

(but maybe it's something else)

[2020-12-17 21:54] mjambon commented on #2280
@aryx Happy to do it. I should be able to start today.

Point 2 ("allow to parse just expression, or statement, or declaration") is not something I'm familiar with. Maybe it will be easy, I don't know.

[2020-12-17 22:40] mschwager commented on #2280
Can we get C# to alpha support? https://semgrep.dev/docs/status/#maturity-definitions :D

[2020-12-18 12:52] aryx commented on #1392
FYI @Sjord, I made a big refactoring of AST_generic.stmt in https://github.com/returntocorp/semgrep/pull/2289 to make stmt a record. I made an helper function AST_generic.s to help build stmt from a stmt_kind.
I've refatored Parse_csharp_tree_sitter.ml but if you have some unpushed branch I suggest you to rebase from develop.

[2020-12-18 13:41] dvyakimov opened #2290 "Java regexp: translate '*' to any symbol"
I need to find all the places where a '*' is given as an argument, but regex recognize it for any character. How do I escape this character?

https://semgrep.dev/s/5QYW

[2020-12-18 14:37] mschwager commented on #2290
Hi @dvyakimov,

You can escape it like `\*`: https://semgrep.dev/s/Ge2e/

[2020-12-18 14:42] mschwager opened #2291 "Ruby parse errors"
Closing out #2231, so I'm creating this issue to track additional known Ruby parsing bugs.

- [x] 'not pattern match' operator: https://github.com/tree-sitter/tree-sitter-ruby/issues/143
- [x]  uppercase literal prefixes: https://github.com/tree-sitter/tree-sitter-ruby/issues/144
- [x]  hex ASCII character code: https://github.com/tree-sitter/tree-sitter-ruby/issues/145
- [x]  loop iterator: https

[2020-12-18 14:42] mschwager commented on #2231
Ruby is GA! https://dashboard.semgrep.dev/languages

[2020-12-18 14:42] #2231 closed, assigned to nobody

[2020-12-18 14:52] trdyer opened #2292 "Junit output does not include `classname` attribute"
**Describe the bug**
I am running semgrep with the following config
`semgrep --config=p/r2c-ci . -l go --junit-xml -o semgrep-r2c-ci.xml`
It produces the expected issues, and writes to the `semgrep-r2c-ci.xml` file. However the output in the testcase attribute doesn't include 'classname', which is required by the junit schema.

running the following in a Jenkins pipeline to record the issues subse

[2020-12-18 15:16] mschwager commented on #2292
Hi there @trdyer,

Would you be open to fixing this issue and testing it out?

Our `junit_xml` test case data is generated here: https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/rule_match.py#L147.

It looks like the `TestCase` class takes an optional `classname` kwarg:https://github.com/kyrus/python-junit-xml/blob/master/junit_xml/__init__.py#L364.

Although, I'm not sure what

[2020-12-18 15:47] ievans commented on #2292
cc @nightwatchcyber (who contributed the support in https://github.com/returntocorp/semgrep/pull/1495) -- would you be interested in taking a look at this?

[2020-12-18 15:53] trdyer commented on #2292
@mschwager I can certainly take a look. I know go2xunit uses the go package path (foo/bar/packagename), but file path would certainly work too.

[2020-12-18 15:53] mschwager commented on #2054
Can you point me to where you're seeing the original issue? I can reproduce it, but I can't see where/why this is an issue vs. simply using `pip`. Is it a CI system, or install instructions somewhere that can be updated?

As mentioned above in my testing, `setuptools` is unable to handle this situation, unless I'm missing something. If you can point me to a packaging mechanism that allows for bina

[2020-12-18 15:57] mschwager commented on #2286
Hi @msorens,

Thanks for the feedback, we will discuss it today :+1:

[2020-12-18 16:03] mschwager opened #2294 "Autofix mega issue"
I'm creating this issue to track all our autofix feedback.

As it currently stands, [`autofix`](https://semgrep.dev/docs/experiments/overview/#autofix) is an experimental feature, which means it receives limited support. However, we have set aside time in the near future for `autofix` improvements. This issue will be useful for organizing some of that work and discussing improvements.

Current `au

[2020-12-18 16:49] trdyer commented on #2292
@mschwager @ievans It has admittedly been a few years since I have written any python. Is there a "Getting Started" guide.

I assume I should just be able to build and test inside docker from the included dockerfile?

[2020-12-18 17:29] mschwager commented on #2292
Sure thing, the CONTRIBUTING guide should be a good start: https://github.com/returntocorp/semgrep/blob/develop/CONTRIBUTING.md :+1:

[2020-12-18 17:34] msorens opened #2295 "pattern-regex and pattern not working together"
**Describe the bug**
Trying to use both `pattern-regex` and `pattern` in a single rule and they do not seem to be compatible. I am hoping this is just user error, but I have tried a number of combinations and the matches are not what I would expect.

**To Reproduce**
https://semgrep.dev/s/Rok8/

My goal is to be able to distinguish these two lines:
[code]
Semantically they are equivalent so a patt

[2020-12-18 17:46] aryx opened #2296 "[Go] timeout on protobuf generated code"
from:
https://r2c-community.slack.com/archives/G01FXEAJJHK/p1607345861005600

it looks like go.lang.security.audit.net.wip-xss-using-responsewriter-and-printf.wip-xss-using-responsewriter-and-printf

and in particular
[code]

is causing some timeout on code generated by protoc-gen-twirp v5.12.0 and it's 5700 lines of code,

Maybe we can find outthere other code generated by protoc-gen-twirp so we

[2020-12-18 18:03] msorens opened #2298 "Duplicates across rulesets should be eliminated"
**Describe the bug**
I recently changed a policy from one ruleset (`r2c-ci`) to multiple rulesets. Upon adding a dummy test file to trigger a finding in CI, the finding was reported twice. I have not verified, but I suspect the rule is present in two rulesets so is therefore reporting twice:

<img width="425" alt="image" src="https://user-images.githubusercontent.com/6817500/102645668-b021f200-411

[2020-12-18 19:02] mschwager commented on #2295
With `pattern-regex` you want to use `pattern-inside`: https://semgrep.dev/s/AvYw/.

Although from my basic testing it looks like `pattern-regex` is unlikely to play well with other operators like `metavariable-regex` because `pattern-regex` doesn't contain, and thus pass along, metavariable information. You could also try capturing the whole expression in a metavariable and using `metavariable-re

[2020-12-18 19:15] ievans commented on #2292
@trdyer can you share the timeline for your PoC so we can know how quickly to move here? And are you using semgrep in Docker, or at a fixed release point? Once this merges, it will be immediately available in the Docker image `returntocorp/semgrep:develop` but you would have to wait for the v0.36 release for it to be on pip/brew/etc.

[2020-12-18 19:17] ajinabraham commented on #2054
@mschwager @blshkv can give more information on that. He had a use case of integrating/bundling tools with Pentoo, a security-focused Linux Distro. For python projects, the standard approach followed by the project is  `python setup.py install`  it seems.  When I require `semgrep` in setup.py, and uses `install`  problem occurs. Maybe for non-pip and problematic use cases, it should fail gracefull

[2020-12-18 19:25] trdyer commented on #2292
Currently I have it pegged to the 0.35.0 docker tag, I don't love using tags like develop/latest in CI because the builds are less than reproducible, but I will mostly have to live with that because the rulesets could change at any time.

Theoretically I could have this integrated with my jenkins workflow fairly soon, failing builds based on the introduction of issues is my only roadblock and shou

[2020-12-18 19:35] ievans commented on #2292
thanks for the info @trdyer, that's helpful! The main question is, if we rush to release this before 12/25 will that actually be helpful, or is it fine to wait till start of January? (also cc @chmccreery for thoughts on our progress with versioning the rulesets)

[2020-12-18 20:30] trdyer commented on #2292
No, I don't have any real priority on getting this going apart from my own curiosity. Don't rush out a release on my account!

[2020-12-18 20:33] zythosec commented on #2237
Hi @aryx how can I debug the line at which the issue is? There is no indication of where the error lies in parsing the codebase.

Otherwise if you want to reproduce, the code is a public repository here: https://github.com/rapid7/hackazon so you could pull the code down and run with the above policy with semgrep in Docker to see the issue.

[2020-12-18 21:11] chmccreery commented on #2292
We currently are versioning policies but _not_ versioning rulesets, although that is an important piece of the registry re-work that is planned for 2021. It's always good to know about more customers who are thinking about this and asking for it, though 👍

[2020-12-18 21:20] chmccreery commented on #2286
To summarize the Slack conversation we had and make GitHub the source of all truth:
- As of yesterday, all findings on semgrep.dev/manage/findings (summary tab) indicate which policy and ruleset they came from
- Also as of yesterday, semgrep-action prints out not only the policy name that it used, but also the number of rules it ran
<img width="611" alt="Screen Shot 2020-12-18 at 1 18 54 PM" src="

[2020-12-18 23:17] j-martin commented on #2208
@aryx I gave 0.35 a try and java still does not work. Looking at the git log it should have made it in the [release](https://github.com/returntocorp/semgrep/commits/1f5c79ceea37d6679ad3bd6c8549de199f557020).

JS: Works
[code]

Java: Does not work
[code]

[code]

[2020-12-19 00:39] msorens opened #2299 "semgrep-agent from the command-line connects to incorrect dashboard project"
**Describe the bug**

When I attempt to run semgrep-agent on the command-line in the same fashion that I run it in CI, it is not connecting to the right project on the web UI dashboard (and therefore not using the correct policy).
In the figure, my two real projects are highlighted: chef/automate (which exists at `https://github.com/chef/automate`) and chef/chef-cloud (`https://github.com/chef/che

[2020-12-20 00:03] blshkv commented on #2054
You can also have a look at https://snarky.ca/what-the-heck-is-pyproject-toml/ for the complete picture.

[2020-12-20 02:57] nightwatchcyber commented on #2292
I agree with the comment above - it should be fairly easy to use the optional "classname" attribute in TestCase() and set it to something. Had I realized it wasn't optional, I would have included it in the original pull req. Unfortunately, I don't have the time to do this right now but I get some time, I will be happy to help.

[2020-12-20 03:28] blshkv commented on #2054
I think the closest software is frida where we solved а similar problem, see:
 https://github.com/frida/frida-python/issues/136
See also https://github.com/frida/frida-core and https://github.com/frida/frida-python (setup.py)

I'm happy with the things as they are now (0.28.0) in general.
We download semgrep-0.28.0-cp36.cp37.cp38.py36.py37.py38-none-any.whl binary and install semgrep python using

[2020-12-20 16:51] msorens commented on #2295
Thanks, @mschwager, but neither of those quite does it.

The first one finds the correct two lines, but the `autofix` metavariables are unfulfilled:
<img width="1088" alt="image" src="https://user-images.githubusercontent.com/6817500/102718792-f0f84300-429e-11eb-8e3f-de5b6cb32461.png">

The second one is not matching both lines. Changing the regex to `'return\s+.+'` would get the right lines, but

[2020-12-21 00:24] ievans opened #2301 "Semgrep in docker always reports "new version is available""
**Describe the bug**
Semgrep when run in docker under the :latest tag prints out:
[code]

**To Reproduce**
As described in https://notes.eatonphil.com/static-analysis-with-semgrep.html

**Expected behavior**
Semgrep should realize the docker tag is `latest` or `develop` and not print that there is a new version.

**What is the priority of the bug to you?**
P2

[2020-12-21 00:27] ievans opened #2302 "Live editor missing documentation for keys required for local run"
From: https://notes.eatonphil.com/static-analysis-with-semgrep.html

[code]

Priority: P2

Suggestion: We should add documentation of the converted syntax that the live editor is magically inserting, or reconsider that "magic" -- possibly by always showing the `language:` key in the YAML to the user and just editing the yaml if the user switches the language dropdown.

[2020-12-21 00:35] eatonphil commented on #2302
It would also be helpful if semgrep errored if the `languages` or `mode` values are nonsensical. It took me some time to debug random failure when I set `languages: "generic"` or even `languages: []` vs. `languages: ["generic"]` which finally worked.

Thanks for reporting!

[2020-12-21 02:09] msorens opened #2303 "Deleting notification not updating display AND semi-corrupting data"
**Describe the bug**

1. Created webhook in https://chefio.slack.com / #auth-team-notify on November 12.
2. Created webhook in https://chefio.slack.com / #a2-notify on December 20.

https://chefio.slack.com/apps/... then correctly showed these two:
<img width="721" alt="image" src="https://user-images.githubusercontent.com/6817500/102731648-3e9b9c80-42ed-11eb-86e6-9b32cab2a5b8.png">

3. In https:/

[2020-12-21 13:30] dvyakimov opened #2304 "[Python] Can't enforce metavariable equality between fields and identifiers of the same name"
Function with self.$SECRET = $SECRET can't be found

https://semgrep.dev/s/2xyj

[2020-12-21 15:14] mschwager commented on #2304
Hi @dvyakimov,

It looks like we generally cannot find patterns of the form `self.$META = $META` yet: https://semgrep.dev/s/jRry/

cc @aryx on whether this is feasible or not.

[2020-12-21 15:17] mschwager commented on #2295
Okay, I'm going to mark this for `autofix` improvements :+1:

[2020-12-21 15:18] #2290 closed, assigned to nobody

[2020-12-21 15:47] dvyakimov opened #2305 "Clearly document that metavariables match all expressions, and how to exclude array assignment"
I don't need to capture tokens with brackets (like `$SECRET[index]='...'`). But I have to, because there is `$SECRET = '...'` that I need.

Is it possible to capture `$SECRET = '...'`  without `$SECRET[index]='...'` ?

https://semgrep.dev/s/1Zrl

[2020-12-21 17:01] mschwager commented on #2305
Hi there,

It does seem a bit odd that `$META = "..."` catches both of the following: https://semgrep.dev/s/rdzj/

And even including a `pattern-not` doesn't remove the additional finding: https://semgrep.dev/s/b7lq/

cc @aryx for another potential Python overmatch.

[2020-12-21 18:16] mschwager commented on #2301
I suspect this is because your `latest` tag is out of date. Note that `docker run` does not try to `pull` `latest`. E.g.

[code]

[code]

So, if you're running via Docker, the message is correctly telling you to visit https://github.com/returntocorp/semgrep#upgrading, which suggests running `docker pull returntocorp/semgrep:latest`.

[2020-12-21 20:53] mschwager opened #2306 "Parse_info.NoTokenLocation on React HTML attributes with no value"
https://semgrep.dev/s/N4qn/

The offending code appears to be:

[code]

However, if I change this code to the following then everything works as expected:

[code]

Note that empty attribute syntax is valid: https://html.spec.whatwg.org/multipage/syntax.html#attributes-2

[2020-12-21 20:53] mschwager commented on #2306
cc @aryx @mjambon

[2020-12-21 21:10] mschwager commented on #2306
Note, re-enable `typescript.react.best-practice.react-props-in-state.react-props-in-state` when this is fixed.

[2020-12-22 14:10] dvyakimov commented on #2305
Why it's not a bug? :)

[2020-12-22 14:11] dvyakimov commented on #2304
Why it's not a bug? :)

[2020-12-22 15:49] ievans commented on #2304
@dvyakimov I agree this is a bug :D adding the label. Can you share what kind of priority this is for you? P0 = can't do anything with semgrep if not fixed, p1 = medium, p2 = minor annoyance

[2020-12-22 16:11] dvyakimov commented on #2304
p1

[2020-12-22 16:51] #2292 closed, assigned to mschwager

[2020-12-22 17:09] #2299 closed

[2020-12-22 19:53] mschwager commented on #2303
Hi @msorens,

Interesting behavior - seems like there could be a race condition somewhere. Unfortunately I'm unable to reproduce.

Here are the exact steps I tried:

- Visit https://semgrep.dev/manage/notifications
- "+ Notification Channel" -> Slack -> paste valid Slack hook URL1 -> Save
- "+ Notification Channel" -> Slack -> paste valid, but different, Slack hook URL2 -> Save
- Delete URL2 -> su

[2020-12-22 22:25] mschwager commented on #2305
I believe this likely is a bug, I just wanted to confirm with one of our PA experts before treating it as such. Regardless, we likely won't have a fix implemented and released until after the new year :+1:

[2020-12-23 06:18] rezen opened #2307 "PHP pattern support for object methods"
For PHP Semgrep doesn't seem to support pattern matching on object methods, here is a quick sample you can try out.

[code]

## Tests

| rule                                 | code                                                                         | match? |
|--------------------------------------|------------------------------------------------------------------------------|--------|
| $wpdb

[2020-12-23 14:40] mschwager commented on #1856
Looks like we're still seeing this: https://semgrep.dev/s/weKN/

[2020-12-23 14:53] mschwager commented on #2307
Hi @rezen,

Interesting, that behavior does seem odd. I've created some live editor links to quickly test:

- https://semgrep.dev/s/x1d0/
- https://semgrep.dev/s/OPlR/
- https://semgrep.dev/s/eLZ0/

It does look like our object method detection is buggy here.

Please note that our [PHP support is currently in alpha](https://semgrep.dev/docs/status/) and will be best-effort. With that being said, b

[2020-12-23 15:42] mschwager commented on #2054
Thanks for the additional information!

Can you point me to where this is being done? That will help with my testing and learning about this issue.

I'm trying to brainstorm the best solution here. Would bringing your own `semgrep-core` and `spacegrep` binaries then running `setup.py` work for you? They're included in the `.whl` artifacts, so you could easily grab them there. Something like the fo

[2020-12-23 15:44] mschwager commented on #2301
Closing this out, let me know if the above description wasn't the issue.

[2020-12-23 15:44] #2301 closed, assigned to nobody

[2020-12-23 16:35] msorens commented on #2303
Just experimented a bit and I am seeing a new variation, 100% repeatable.
(This is more reliable data since I was paying close attention to my steps carefully this time.)

My system is a Mac running Mojave (10.14.6).
Same issues in Chrome [Version 87.0.4280.88 (Official Build) (x86_64)] and in Firefox [84.0.1 (64-bit)].

Today I started with my one good, working slack notification and never touche

[2020-12-23 17:10] rezen commented on #2307
Glad to hear! I considered filing after Christmas, hoping no one was around 🎉 but I knew there was a risk of me forgetting so I submitted 😄

[2020-12-23 17:38] mschwager commented on #2303
Ahh, thanks for the clarification, I'm able to reproduce now. This appears to be a bug in our state management between "Save" and "Delete" functionality. Since this is low priority, we'll hold off on a fix until after the new year :+1:

[2020-12-24 00:49] nbrahms commented on #2306
This looks to be more complicated than just parsing of jsx props:

https://semgrep.dev/s/dKjX/

is a more minimal example. Note that deleting either `<section>` will allow the rule to succeed, even if the `<video>` tag is left as is (with default-true attributes).

[2020-12-24 00:53] nbrahms commented on #2306
I'm pretty sure this is something funky with literal rendered text including "//", combined with default-true JSX attributes:

https://semgrep.dev/s/Zvgx/

Removing the `//` in the text causes the match to succeed.

[2020-12-24 00:54] nbrahms commented on #2306
https://semgrep.dev/s/ndXg/, which is semantically equivalent, also succeeds

[2020-12-24 00:55] nbrahms commented on #2306
This could be a problem:

![image](https://user-images.githubusercontent.com/2490631/103047218-a47f6280-453f-11eb-9038-964da63cc606.png)

cc. @mjambon

[2020-12-24 09:04] blshkv commented on #2054
At Pentoo/Gentoo we build all software from source usually and create ebuilds using bash (pretty much) for each package.
It is common to have multiple repositories for each different modules. It definitely would help to create cleaner ebuilds because the Gentoo API expects modelised software.

Here is the current Pentoo implementation:
https://github.com/pentoo/pentoo-overlay/tree/master/dev-util/

[2020-12-24 14:50] nightwatchcyber opened #2309 "Testing support for generic languages"
**Is your feature request related to a problem? Please describe.**
Generic rules aren't supported by the "--test" command

**Describe the solution you'd like**
Support for testing generic rules

**Describe alternatives you've considered**
**Additional context**
You can test it as follows:
1. git clone https://github.com/returntocorp/semgrep-rules.git.
2. semgrep --test semgrep-rules/generic/docker

[2020-12-24 15:28] nightwatchcyber commented on #2309
Works now:
semgrep --test semgrep-rules/generic/dockerfile/best-practice/

[2020-12-24 15:28] #2309 closed, assigned to nobody

[2020-12-25 13:23] dvyakimov opened #2310 "Couldn't escape '^' symbol in regexp (python)"
Somethig wrong with symol '^' escaping in regexp
https://semgrep.dev/s/PJee

[2020-12-25 13:58] dvyakimov commented on #2310
For this moment we found a workaround:
`- pattern-where-python: "not (vars['$T'].startswith('\"^') and vars['$T'].endswith('$\"'))"`

but it will be cool to fix this issue or explain my problem

[2020-12-26 08:07] Ruin0x11 commented on #1931
I did a lot of work on this:

https://github.com/Ruin0x11/semgrep/tree/lua
https://github.com/Ruin0x11/pfff/tree/lua
https://github.com/Ruin0x11/semgrep-grammars/tree/lua
https://github.com/Ruin0x11/ocaml-tree-sitter/tree/lua
https://github.com/Ruin0x11/ocaml-tree-sitter-lang/tree/lua
https://github.com/Ruin0x11/tree-sitter-lua/tree/fix-call-expression

At this stage it can parse Lua source code t

[2020-12-26 12:53] underyx commented on #2310
Hey @dvyakimov, thanks for the report! Just wanted to let you know that our team is taking time off for the holidays until January 4th, and we'll have a look at this issue then 👍

[2020-12-26 14:35] hexagonrecursion commented on #1952
Parsing C++ is hard.

https://github.com/tree-sitter/tree-sitter-cpp/issues/74
tldr: in order to support its primary use case (updating the parse tree in real time as you type) tree-sitter-cpp makes certain sacrifices and accepts certain inaccuracies that may make it a less than ideal backend for semgrep.

http://www.computing.surrey.ac.uk/research/dsrg/fog/FogThesis.pdf#page=375 appendix F
A fair

[2020-12-28 15:40] aantn opened #2313 "Cannot Run Semgrep - Exception: Could not locate 'semgrep-core' binary"
I installed semgrep using pip. When I run the command `semgrep` then I recieve the following error:

[code]

[2020-12-28 15:55] aantn commented on #2313
The issue seems to be that semgrep is looking for semgrep-core in C:\Python39 but it should actually look in C:\Python39\Scripts

[2020-12-28 17:04] ievans commented on #2280
@mjambon @aryx from my limited understanding, this is now a critical path point for Lua, C#, and Kotlin. Should we prioritize beyond priority:low?

[2020-12-28 17:24] ievans commented on #2313
Hi @aantn, thanks for this issue (I'm the same person who just replied to your email!) -- could you add a bit of detail about the environment you are running under? This looks like Windows -- what version, and is it under [WSL](https://docs.microsoft.com/en-us/windows/wsl/about)? I believe Semgrep is currently only supported on Windows running under the WSL, @mschwager can confirm when he returns

[2020-12-28 18:37] aantn commented on #2313
Yes, that's right. I'm was running it directly on Windows before I realized
that it isn't supported.

This specific error has an easy fix but there are other issues running it
on Windows once you fix this issue. I may take a deeper look at this later
on as for me usecase I need native window support.

You can close this issue.

On Mon, Dec 28, 2020, 19:24 Isaac Evans <notifications@github.com> wro

[2020-12-28 19:48] ievans commented on #2313
Thanks @aantn! I'm going to close for now, but cc @mschwager / @pabloest / @dlukeomalley this is probably a sign that our documentation should be more conspicuous about "works under WSL but _not_ Windows"

[2020-12-28 19:48] #2313 closed, assigned to nobody

[2020-12-28 20:35] aryx commented on #2280
I bumped to medium (given we are almost all in vacation, I don't think we can put high for now).

[2020-12-29 16:56] bflad opened #2316 "Go Autofix with Type Assertion Dropping Parenthesis"
**Describe the bug**

When attempting to use a Go language rule fix with a metavariable that contains a type assertion (`.(T)` syntax) inside a call expression, the fix is dropping a closing parenthesis.

**To Reproduce**

Live Editor: https://semgrep.dev/s/PJe3

Given a `type-assertion-bug.yaml` configuration:

[code]

And a `type-assertion-bug.go` source file with testing annotations:

[code]

P

[2020-12-30 13:48] aryx commented on #2316
Thx for the very complete bug report!

[2020-12-30 20:05] devd opened #2317 "semgrep fails to match sinatra route definition fragments"
**Describe the bug**
Writing a rule to catch new routes on sinatra fails. trying to match `route $METHOD, $PATH do` fails as an invalid pattern; the pattern `route  ...` works but it kinda limits any future things I can do with meta variable matching.

**To Reproduce**
https://semgrep.dev/s/devd:sinatra-new-route

Change the `route ...` to `route $METHOD, $PATH do` and see the error

**Expected be

[2020-12-31 14:13] nightwatchcyber opened #2320 "Detecting absence of Java annotations"
**Describe the bug**
Trying to figure out how to detect the absence of a Java annotation when other annotations are used.

Here is one that detect the presence of "@RolesAllowed" within another one:
https://semgrep.dev/s/nightwatchcyber:java_annotations_inverse
[code]

However, changing this to "pattern-not" doesn't work, instead it detects everything:
https://semgrep.dev/s/nightwatchcyber:java_an

[2020-12-31 14:16] nightwatchcyber opened #2321 "Support for properties files in generic matching"
It would be nice to have support for searching properties files in the generic matching. For example, a file like this:

[code]

There are several issues preventing the existing mechanism from working:
1. The "..." operator spans multiple lines while in properties it should end at the end of the line.
2. The "..." operator stops are things like ";" and "," which are legal values.
3. Comments "#" s

[2020-12-31 22:19] nbrahms commented on #2317
@devd Right now I don't think we support matching only a fragment of the `do...end` control block like you're writing.

Instead, you could match the complete block as so (https://semgrep.dev/s/6nJY/):

[code]

Alternatively, you could just write:

[code]

which also matches just fine.

However, putting myself in your role, I can imagine you want to just match the route definition line and not the

[2020-12-31 22:40] nbrahms commented on #2317
As a workaround, I realized you could just write:
[code]

See https://semgrep.dev/s/zvdP/

[2021-01-01 00:31] PhillipNordwall opened #2323 "Parser doesn't handle either C attributes or Macros Quite right"
**Describe the bug**
I am getting inconsistent behavior when using attributes and macros, where C code that parses fine with clang and gcc doesn't quite work with semgrep. But it is a bit inconsistent. See the code examples in the reproducers listed. They should have similar behavior but don't.

I originally ran into this with https://github.com/freebsd/freebsd-src/blob/main/usr.bin/xinstall/xinst

[2021-01-01 01:08] devd commented on #2317
ohh interesting. I didn't realize semgrep would be smart enough about handling the syntactic sugar (that is, I can just do `route($METHOD, $PATH, $BLOCK)`). I think for now that should be sufficient so I think you can also close this fwiw -- as you mention, it could be a feature request now and I don't believe its that necessary.

[2021-01-01 02:28] nbrahms commented on #2317
Awesome, glad to hear this works for you. Ideally Semgrep is supposed to handle syntactic sugar well (semantic equivalences after all), and we do get it right in a few cases ;) .

[2021-01-01 02:28] #2317 closed, assigned to nobody

[2021-01-01 04:44] aantn opened #2324 "Support more complex auto-fixes with multiple fixes embedded in different parts of the pattern"
I would like to implement a rule that identifies potential optimizations in Python where the user can use a set instead of a list for membership tests. For various reasons (see below) it is very difficult to impement an autofix for such a rule today.

Here is an example of code that can be optimized:

[code]

There are two possible fixes for this code. The first fix is:
[code]

The second fix is:

[2021-01-02 21:04] Sjord commented on #1392
How should async/await be mapped? I think async should be a keyword_attribute on methods, and await a special used in `Call`. Does that make sense?

[2021-01-03 18:12] dlukeomalley commented on #2321
@mjambon Tagging you for context and thoughts.

Thank you @nightwatchcyber for the issue 🙏

[2021-01-03 18:14] dlukeomalley commented on #2323
Thank you @PhillipNordwall for filing the detailed ticket. Queued up to chat about this with the team this week.

[2021-01-04 14:45] mschwager commented on #2324
Hi @aantn,

[`autofix`](https://semgrep.dev/docs/experiments/overview/#autofix) is currently an experimental feature, so support will be limited. However, we are planning on improving its functionality in the near future, and we're tracking that in https://github.com/returntocorp/semgrep/issues/2294. I'll include this issue there :+1:

Thank you for the very comprehensive write-up :)

[2021-01-04 15:27] mschwager commented on #2310
Huh, looks like we have some odd behavior with the inline [string matching](https://semgrep.dev/docs/writing-rules/pattern-syntax/#string-matching) functionality.

* In Python I can match a literal `^` by backslash escaping with `\^`: https://semgrep.dev/s/kXxe/
* In Go a single `\^` escape produces a pattern parse error: https://semgrep.dev/s/wedB/
* And in Go a double `\\^` escape parses correct

[2021-01-04 15:34] aryx commented on #1392
there is a Await of tok * expr in AST_generic and an Async keyword_attribute

[2021-01-04 15:41] mschwager commented on #2320
Hi @nightwatchcyber,

We don't have a great, generalized solution for working with arbitrary placement of annotations, but the following works in your specialized case: https://semgrep.dev/s/OPrw/. The problem is there will be a large blow-up of `pattern-not`'s if you have many annotation combinations.

I've often wanted a generalized way for specifying: "find this pattern, in any order." I've tri

[2021-01-04 15:43] aryx commented on #2317
you can probably also do 'route $METHOD, $PATH, ...'

[2021-01-04 17:41] aryx commented on #1931
@DrewDennison we should add Lua and C# on https://dashboard.semgrep.dev/languages

[2021-01-04 18:20] dkasak commented on #2154
Is this related to #1699?

[2021-01-04 18:57] DrewDennison commented on #1931
will do. Note that there are some metrics already https://dashboard.semgrep.dev/metric/semgrep.core.c-sharp.parse.pct https://dashboard.semgrep.dev/metric/semgrep.core.tests.lua.unit-test.num

[2021-01-04 20:33] ievans commented on #2272
@Mandawi looks like this is fixed -- you should be able to verify by running with the `@develop` docker image -- and will be going out in the next release!

[2021-01-04 22:38] nbrahms commented on #2304
@ievans @dvyakimov The reason why we might _not_ consider this a bug is that the left-hand-side is a field, while the right-hand side is an identifier, and these are not semantically equivalent. That said, I can't think of a clear counter-example where considering fields and identifiers semantically equivalent would be an issue.

cc. @aryx  for thoughts here.

@dvyakimov In the meantime, you could

[2021-01-04 22:45] nbrahms commented on #2305
@dvyakimov In Semgrep, a metavariable matches any expression. In this case, both `secret` and `secret[foo]` are expressions, so your metavariable matches both. To explicitly exclude the latter case, you'd want to use a `pattern-not` clause, as demonstrated in https://semgrep.dev/s/Q5kJ/.

I hope this helps.

I also realize we're probably lacking some documentation on this kind of use case, which l

[2021-01-04 22:48] nbrahms commented on #2305
This is probably really confusing, but the reason your `pattern-not` didn't work and mine (in https://semgrep.dev/s/Q5kJ/) did, is that I used a different name for the metavariable, and you got bitten by our metavariable-equivalence rules 😖

[2021-01-04 22:57] nbrahms commented on #2296
@aryx What's the priority for this issue?

[2021-01-04 22:59] nbrahms commented on #2320
Hi @nightwatchcyber

What's the priority of this issue for you? P0 (blocking your adoption of Semgrep or workflow), P1 (important to fix or quite annoying), P2 (regular bug that should get fixed)?

🙇

[2021-01-05 09:12] aryx commented on #2280
bumped to high now that everyone is back from vacation and we need that for C#, Lua, and Kotlin.

[2021-01-05 10:11] aryx commented on #2296
If we can't find a public codebase that we can reproduce the timeout on, we can't easily fix it.
Also the work by @mjambon on improving semgrep performance should match perfectly here. It's a A ... B type of pattern.

[2021-01-05 14:13] nightwatchcyber commented on #2320
The solution described above may work for me, I will give it a try.

Regarding priority, this would be a P2.

Thanks again!

[2021-01-05 14:35] #2054 closed, assigned to mschwager

[2021-01-05 14:44] mschwager commented on #2054
Hi @blshkv,

I've just merged https://github.com/returntocorp/semgrep/pull/2326, which should fix this. This change will go out in the next release in the next few days. The install process should remain similar, but you'll have to make a few changes (note we now have two binaries: `semgrep-core` and `spacegrep`):

* `PRECOMPILED_LOCATION` no longer exists. You can now use the `SEMGREP_SKIP_BIN` e

[2021-01-05 15:43] aryx commented on #2304
Got a fix, but then it introduces some regressions elsewhere ...

[2021-01-05 15:49] aryx commented on #2208
weird, this....stream() works, but not db....stream(). I also get a parse error in that last case.

[2021-01-05 18:45] minusworld commented on #2237
Can confirm in my own environment:

[code]

[2021-01-05 19:10] minusworld commented on #2237
I tested this locally with a pip-installed version of 0.34.0 and did not experience the same issue, so it looks only related to the Docker image.

[2021-01-05 20:24] mjambon opened #2331 "ruby: explain how to match any string template (originally filed as a bug)"
**Describe the bug**

User expects the semgrep pattern `"..."` to match a ruby string written as `"Hello, #{name}!"` (string interpolation) but it doesn't match in the current version of semgrep.

**To Reproduce**

https://semgrep.dev/s/zvyP/

**Expected behavior**

It should match because it seems natural due to usage of double quotes to delimit the string template.

**Screenshots**

![image](htt

[2021-01-05 20:28] nbrahms commented on #2331
@mjambon I think we mean `"..."` to explicitly mean a "constant string", so it shouldn't match in this case. That way we can realistically write rules that, e.g., allow hard-coded SQL strings, but not interpolated SQL strings.

[2021-01-05 20:39] mjambon commented on #2331
@nbrahms makes sense.

It's a question of documentation, then. Wherever the `"..."` syntax is presented, the reason for matching only constant strings should be explained. I suggest adding a commented example in here:

![image](https://user-images.githubusercontent.com/343265/103696320-01711480-4f53-11eb-9d85-6a6739864dcc.png)

[2021-01-05 23:11] msorens opened #2332 "Working with multiple policies"
**Is your feature request related to a problem? Please describe.**

_While my PRs are set up to do differential runs, I wanted to set up a periodic scan of the entire code base as well. This is the outcome of that exploration._

My differential runs (from the makefile perspective) look like this--this effectively runs via CI with every PR. (Here `SEMGREP_REPO` is "chef/automate", my real repositor

[2021-01-06 00:22] minusworld commented on #2331
@colleend Is it possible to make a semgrep-core test for this and get it into a cheatsheet as well?

[2021-01-06 00:47] colleend commented on #2331
yep, we can add to the strings tests 👍

[2021-01-06 00:48] minusworld commented on #2237
Confirmed: same issue `unknown exception: End_of_file` with Docker 0.35.0.

[2021-01-06 00:49] minusworld commented on #2237
Similar issue reported here: https://github.com/returntocorp/semgrep/issues/1037. This appears to have been solved incidentally during other bugfixes.

[2021-01-06 02:02] minusworld commented on #2237
I've isolated the problem to this rule: `javascript.wkhtmltoimage.security.audit.wkhtmltoimage-injection.wkhtmltoimage-injection`. This might be a normal timeout error that gets handled differently when in Docker than when run directly.

[2021-01-06 08:54] #2304 closed, assigned to aryx

[2021-01-06 14:48] aryx commented on #2304
This now works on develop: https://semgrep.dev/s/2xyj?version=develop

[2021-01-06 15:05] aryx commented on #2280
I don't think the grammar.js in semgrep-csharp allows statement pattern. The toplevel compilation_unit accepts
a list of declarations but not a single statement or sequence of statements. We probably need to do the same than for expr
and so maybe something like __SEMGREP__PATTERN that precedes either an expression or statement or list of statements.
@mjambon

[2021-01-06 15:05] aryx commented on #2280
Maybe we can close this issue and create a separate one for extending the kind of C# pattern we can parse.

[2021-01-06 16:06] aryx commented on #1931
Ok we're getting really close to get Lua support in semgrep!

[2021-01-06 16:07] aryx commented on #1931
Hopefully we can release in the next version of semgrep next week (0.37)

[2021-01-06 16:08] aryx commented on #1392
Ok we're getting really close to C# support in Semgrep!

[2021-01-06 16:08] aryx commented on #1392
Hopefully we can release in the next version of semgrep next week (0.37)

[2021-01-06 16:30] minusworld commented on #2237
Similar problem occurs with `javascript.wkhtmltopdf.security.audit.wkhtmltopdf-injection.wkhtmltopdf-injection`.

[2021-01-06 16:55] mwild1 commented on #1931
@Ruin0x11 @aryx and all: I just want to say thanks so much for all this effort! It's more exciting than Christmas! I'm looking forward to beginning experimenting with it :)

Happy new year!

[2021-01-06 19:53] chmccreery opened #2339 "Ability to upvote or downvote rules to crowdsource data"
**Is your feature request related to a problem? Please describe.**
Requested by an external user, who is running other people's rules and feeling the need to create overrides for some noisy rules.

**Describe the solution you'd like**
Some kind of way to communicate which rules are too noisy and crowdsource that type of information

**Describe alternatives you've considered**
We could auto-detect

[2021-01-06 19:56] chmccreery commented on #2332
Thanks for creating this!

1) feels like working around a bigger problem in our workflow, and I would rather fix the big problem instead of patching the holes in a workaround. But feel free to ping me again later if this is really bothering you and we haven't provided a better way to do this.

I just submitted a PR for 2) because it has been on my to-do list for awhile and I just needed a little e

[2021-01-06 20:00] dlukeomalley commented on #2339
I can't wait to put global fix-rate data on rulesets and rules as part of the registry 🎉

[2021-01-06 20:13] mschwager commented on #2331
Similarly, we don't match Python f-strings with a string literal: https://semgrep.dev/s/9ole/

[2021-01-06 20:14] mschwager commented on #2320
Closing out, feel free to re-open if this doesn't solve your problem :+1:

[2021-01-06 20:14] #2320 closed, assigned to mschwager

[2021-01-06 21:49] dlukeomalley commented on #2332
Because Semgrep.dev deduplicates results and will only email/Slack/alert on new findings, is it necessary to use different policies for your nightly and PR scans? The time where this would be problematic is the first nightly scan you do, in which case Semgrep.dev may believe all (or most) of the results are new since they haven't been registered in its database before.

A related request I've gott

[2021-01-06 23:05] minusworld commented on #2237
My current hypothesis is this:
The pattern
[code]
in the rules `javascript.wkhtmltopdf.security.audit.wkhtmltopdf-injection.wkhtmltopdf-injection` and `javascript.wkhtmltoimage.security.audit.wkhtmltoimage-injection.wkhtmltoimage-injection` return so much text that it breaks some IO limit inside Docker containers. I think our best bet right now is addressing these rules.

[2021-01-06 23:10] minusworld commented on #2237
Issue created for these rules: https://github.com/returntocorp/semgrep-rules/issues/1058

[2021-01-07 02:31] chmccreery opened #2343 "Semgrep-action reporting wrong line number in notification"
**Describe the bug**
Slack notification links to the wrong line number

Helpful context: https://returntocorp.slack.com/archives/C010SQK6GSD/p1610039074017600?thread_ts=1609985111.013900&cid=C010SQK6GSD

**To Reproduce**
Not totally sure, but this is the situation where we encountered it:
1) Introduce a new rule to a managed policy
2) Create a pull request on a repo with pre-existing issues
3) Com

[2021-01-07 09:38] aryx commented on #1392
We are also at around 97% parsing success with tree-sitter, so not bad:
https://dashboard.semgrep.dev/metric/semgrep.core.c-sharp.parse.pct

[2021-01-07 09:39] aryx commented on #1931
Good news we are also at 99.9% parsing success rate with tree-sitter-lua: https://dashboard.semgrep.dev/metric/semgrep.core.lua.parse.pct

[2021-01-07 12:01] #2280 closed, assigned to aryx, mjambon

[2021-01-07 12:02] aryx opened #2345 "[C#] add tests to reach "alpha" maturity level"
I think the main blocker is to handle sequence of statements in C# semgrep pattern.

[2021-01-07 12:03] aryx commented on #2345
we are at 97% parsing stats, so above the 90% required by https://semgrep.dev/docs/status/#maturity-definitions

[2021-01-07 12:03] aryx commented on #2345
related work I did for lua: https://github.com/returntocorp/semgrep/pull/2344

[2021-01-07 16:16] ievans opened #2346 "PermissionError exception not handled"
**Describe the bug**
Semgrep fails with an exception when it does not have permissions to run on files.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

[code]

[code]

**Expected behavior**

Like grep, semgrep should note the error and continue. Should probably show up as a key under `errors` in the JSON output.

[code]

**What is the priority of the bug

[2021-01-07 16:17] ievans opened #2347 "suggest a config like --config=p/r2c-ci if no config provided"
Related to @underyx issue about supporting -c for config  https://github.com/returntocorp/semgrep/issues/2112 , I just spent a full minute trying to remember the name for our "default" rule pack. Let's make that easier to find on the CLI, by suggest a config like --config=p/r2c-ci if no config provided, in --help, or if the current config is empty

[2021-01-07 16:50] msorens commented on #2332
@dlukeomalley
(1) So if I understand you correctly, semgrep will still report the findings if I look in the log, but it will only emit notifications about them the first time. Then, yes, I think that would obviate the need for the shenanigans with my fictitious project.

(2) On the "audit log" suggestion, yes, that sounds like it would cover my use case sufficiently.

[2021-01-07 17:16] mschwager commented on #2054
@blshkv, heads up, I've confirmed the fix, which went out in `v0.36.0`:

[code]

If you don't include `SEMGREP_SKIP_BIN` you'll see something like:

[code]

If you don't have `semgrep-core` available on your system you'll see something like:

[code]

Note that we now include an additional binary called `spacegrep` which will have to be installed similar to `semgrep-core`. We include those instruct

[2021-01-07 17:38] nbrahms commented on #2343
33m
nathan  This finding was first discovered when scanning commit ce7901b1dea65315f48182165a7ddf660da1a93a on Nov. 24, 2020. At that time, it appeared on line 174 of DataTable.tsx. It was then marked as fixed at some point after that. It was then rediscovered by a scan of commit a95fc5acef8a81a1e13a0bcc13510d895821992c on Jan. 6, 2021, where that line now appears on 206.
:+1:
1

33m
nathan  So th

[2021-01-07 17:57] aryx commented on #2234
Hopefully I can work on it next week.  A  it swamped this week with backlogs.

[2021-01-07 17:58] aryx commented on #2287
Hopefully I can work on it next week.  A  it swamped this week with backlogs.

[2021-01-07 18:59] becojo opened #2348 "Configure files to match when running semgrep on a directory"
**Is your feature request related to a problem? Please describe.**

I'm running rules that apply to `ruby` and Semgrep does not match Ruby code contained `Gemfile` when it's ran on a directory. It appears to only look at files with the `.rb` extension.

**Describe the solution you'd like**
I'd like to have the option to configure what files should be matched for a given language.

For my purpose,

[2021-01-07 19:05] aryx commented on #2296
Note that the user, Eva, used to have semgrep never finishing on some private Go repositories. With some of the fix
that went to 0.34 we actually now detect the problem (too many matches) and at least skip the rule and file and try the other stuff,
so the remaining stuff is lower priority.

[2021-01-07 19:34] aryx commented on #2208
Actually we probably need to revert the support for method chaining using '...' for Javascript. It introduces some regressions
for other rules: https://github.com/returntocorp/semgrep-rules/issues/1055

[2021-01-07 19:42] aryx commented on #2237
Maybe we can write a simple linter for semgrep patterns that at least about rules that looks like they would match too much.

[2021-01-07 19:43] aryx opened #2349 "[Perf] A basic linter for semgrep rules (detect really-slow patterns)"
Some patterns can be too general and can leads to too many matches that can cause the semgrep engine to
timeout.
Maybe we could at least warn about such patterns.

[2021-01-07 19:43] aryx commented on #2237
created issue here: https://github.com/returntocorp/semgrep/issues/2349

[2021-01-07 19:45] aryx commented on #2349
We could use spacegrep to write rules to run on semgrep-rules/, but for now I think a few hardcoded AST-based checks in semgrep-core might be enough.
For example I've found in semgrep-rules some patterns like: $FOO
that will match everything (the rules contains a few pattern-inside that combines with this pattern, but semgrep-core does not know about that, and this leads to some timeout).

[2021-01-07 19:46] aryx commented on #2349
example of bad patterns:

[code]
[code]

[code]

this last one should be rewritten

[2021-01-07 19:47] aryx commented on #2349
Note that in many of those cases we want to explicicely match a metavar or a ..., so spacegrep might not be able to help.

[2021-01-07 19:49] aryx commented on #2349
maybe I can plug in 'semgrep --validate' used in semgrep-rules @minusworld to report possible performance problems?

[2021-01-07 19:52] aryx commented on #2349
related issue that was causing performance problems: https://github.com/returntocorp/semgrep/issues/2102

[2021-01-07 19:52] aryx commented on #2349
because of typescript rules comtaining just pattern: '$PROP' if I remember correctly

[2021-01-07 23:22] #2303 closed, assigned to mschwager

[2021-01-07 23:30] Mandawi commented on #2272
Thanks for the help 👍

[2021-01-07 23:31] aantn commented on #2324
Yes, understood. I don't expect support for this.

[2021-01-08 01:25] minusworld commented on #2154
@dkasak 🤔  I'm not sure, since `pattern-inside` and `pattern` works for other languages. I think it has something to do with how semgrep determines "uniqueness" of metavariables behind-the-scenes. I think spacegrep doesn't do anything to determine differences or sameness between metavariables yet.

This is my hunch, anyway.

[2021-01-08 08:24] aryx opened #2352 "[Perf] use nathan's bloom filter idea to improve matching performance"
see https://returntocorp.slack.com/archives/C6A1GN4P3/p1609872936216400 for more information

[2021-01-08 08:24] aryx commented on #2352
cc @nbrahms

[2021-01-08 08:25] aryx commented on #2349
Bonus: fix semgrep-rules
Bonus: plug in web UI to give warnings

[2021-01-08 08:34] aryx commented on #2346
related: https://github.com/returntocorp/semgrep/issues/2043

[2021-01-08 08:45] aryx commented on #2349
examples of slow rules we removed to detect: https://github.com/returntocorp/semgrep-rules/pull/1059#event-4182269988

[2021-01-08 08:56] aryx commented on #2188
good example to try on: https://semgrep.dev/s/GR7B

[2021-01-08 09:37] aryx commented on #2208
So I'll go with my original proposal and require an extra ".", so $O.foo() . ... .bar(). ...
A bit heavy, but does not generate problems with ASI and avoid ambiguity with patterns like
[code]
which we want to be considered statements (and where we insert extra semicolon after $O.foo(); like Javascript does).

[2021-01-08 10:23] aryx commented on #2208
So both method chaining in Java and JS now requires an extra ".", so:
[code]
to look for method calls with bar called after foo on any object.

[2021-01-08 10:24] aryx commented on #2208
and you need the extra space between '.' and '...'
(I could fix it with lexing hack if it really bothers you).

[2021-01-08 10:56] #2208 closed, assigned to aryx

[2021-01-08 11:07] aryx commented on #2352
see also https://github.com/returntocorp/bloom-test

[2021-01-08 12:58] erwanlr opened #2356 "PHP Class in pattern results in parsing error"
**Describe the bug**
When using `class $Class` or `class SomeThing` in a pattern, it results in an invalid pattern error

**To Reproduce**
https://semgrep.dev/s/gLpR

**Expected behavior**
There should be a match

**What is the priority of the bug to you?**
P1

**Environment**
semgrep.dev and semgrep cli 0.35.0 on MacOSX (installed via brew)

**Notes**
- Using a pattern like `pattern: public funct

[2021-01-08 13:51] blshkv commented on #2054
I have adjusted our ebuilds, SEMGREP_SKIP_BIN works fine. Thanks a lot guys

[2021-01-08 14:24] mschwager commented on #2303
Hey @msorens,

A fix has been pushed. The cloud app will receive the fix next time we release, which should be in the next couple days :+1:

Thanks again for finding this!

[2021-01-08 15:59] j-martin commented on #2208
I think the morse code approach is perfectly reasonable and less ambiguous.

Thanks!

[2021-01-08 18:22] mschwager commented on #1099
Unassigning myself - https://github.com/returntocorp/semgrep/pull/1774 didn't go through.

[2021-01-08 18:24] mschwager commented on #2348
Hi @Becojo,

Unfortunately, we don't have a great, built-in mechanism for achieving this, but a little help from `find` should do the trick:

[code]

[code]

Does this work for you? Note we have an existing issue to either make `--include` additive, or add new functionality for this behavior: https://github.com/returntocorp/semgrep/issues/1099

[2021-01-08 18:31] becojo commented on #2348
I'd prefer the additive includes. I'll close this in favor of #1099.

[2021-01-08 18:31] #2348 closed, assigned to mschwager

[2021-01-08 21:55] aryx commented on #2208
Ahah i like the morse reference.

[2021-01-09 00:29] zythosec opened #2360 "R Support"
**Is your feature request related to a problem? Please describe.**
Add support for the [R](https://www.r-project.org/about.html) programming language

**Additional context**
R provides a wide variety of statistical (linear and nonlinear modelling, classical statistical tests, time-series analysis, classification, clustering, …) and graphical techniques, and is highly extensible. It used frequently

[2021-01-09 00:31] zythosec commented on #2360
FYI I've started this work in my forks of semgrep-grammars and ocaml-tree-sitter.

[2021-01-09 10:11] underyx commented on #2360
Wow, that's wonderful news! We're happy to help you along the way if there's anything you need.

I was curious so I looked and found that [lintr](https://github.com/jimhester/lintr) exists thus far for static analysis for R. I also found a formatting tool but not much else. I wonder how prevalent static analysis is in the R ecosystem currently 🤔

[2021-01-09 12:42] zythosec commented on #2360
Thanks! [tree-sitter-r](https://github.com/r-lib/tree-sitter-r) exists so R was pretty straight forward to add. The only other static analysis tool I could find was within R itself, [CodeDepends](https://cran.r-project.org/web/packages/CodeDepends/vignettes/intro.html), so I'm not sure how prevalent it is either.

[2021-01-10 20:29] yonkeltron opened #2367 "TypeScript import pattern not being matched with named placeholders"
I am rather new to Semgrep but I have been loving it so far. I found what I believe to be a problem after taking the rather-excellent tutorial. My problem is related to imports which seems relevant to #2234 and possibly also #285?

The bug report submission option from the live editor auto-generated this link: https://semgrep.dev/s/0Qgq

# Details of my issue

Pattern:

[code]

I would have expect

[2021-01-10 22:08] ievans commented on #2367
Hi @yonkeltron, thanks for such a great writeup and taking the time to link previous issues, and glad you've found Semgrep useful! Our Typescript support is in beta (https://semgrep.dev/docs/status) so filing issues like this is extremely helpful for us to promote it to GA status. To help the team triage this issue, can you share the relative priority for you? P2: low priority; P1: annoying but no

[2021-01-10 22:16] ievans commented on #2360
This is super exciting @zythosec! I also wanted to mention that a good number of the people adding new languages are on Slack (https://r2c.dev/slack) if you ever have any urgent questions or want to talk about design decisions for new language additions.

[2021-01-10 22:20] yonkeltron commented on #2367
Yes right now P0. This is blocking my use of Semgrep as we am looking to employ Semgrep on a research project which, likely, specifically deals with imports. Happy to share more about the use case if needed but I'll need to look at other options for analyzing TypeScript code absent this feature. Obviously I could still use Semgrep for this sort of thing in other languages like, say, Python.

Does

[2021-01-10 22:29] ievans commented on #2367
Thanks @yonkeltron for sharing that -- I've added a priority label so we'll see what @aryx or @mjambon think soon.

If you'd like to push the process ahead today further, feel free to comment with more ideal patterns + expectations on what they would match. If you're feeling even more ambitious, you could make a PR to the typescript unit tests directory https://github.com/returntocorp/semgrep/tree

[2021-01-10 23:57] Uzair614 opened #2368 "pattern-not and metavariable regex not working together"
Here is the code that I want to run semgrep on
[code]

^^ I want to catch lines WITHOUT the tenantId WHERE clause. So in the above case, line 1 should be flagged but line 2 should be fine.

The yaml config
[code]

(Note: the regex is a simple search for "tenantId" in the string for illustrative purposes)

A bit of rudimentary debugging on my side indicated that the reason no matches are found with

[2021-01-11 00:43] inkz opened #2369 "Find classes extends in JavaScript"
**Is your feature request related to a problem? Please describe.**
Unable to find classes in JavaScript that extends specific class:

https://semgrep.dev/s/4xBZ/

[code]

[code]

while this feature works for TypeScript: https://semgrep.dev/s/PJ9E/

[2021-01-11 03:56] tvfmmfvt commented on #2369
New .. hi .. relieving :

JavaScript extends usu via explicit sted _of_ global namespaces, variables bound only ish within closures .

Skip the math,

ref JavaScript Patterns, oreilly, first for antipatterns it's a soup actually

Typescript has a rigorous type system.

[2021-01-11 03:58] tvfmmfvt commented on #2368
Not claiming but will use as exercise when bandwidth thx. Tight precise.

[2021-01-11 12:16] aryx commented on #2369
What is this spam comment above?

Edit: deleted

[2021-01-11 12:30] aryx commented on #2369
The dump of the AST is "null" when in Javascript mode, and correct when in typescript mode. Not sure what's going on.
At least it should say parse error if we return a null AST.

[2021-01-11 14:19] yonkeltron commented on #2367
I confess that my OCaml is rather ghastly, despite having read the most excellent text of Minsky's book. I actually knew his brother once upon a time.

In any case, I will work with my team to compile some examples of precisely what we'd need.

[2021-01-11 15:02] yonkeltron commented on #2367
# A quick sketch to get some fast feedback.

## The sort of TypeScript code we'd want to examine

[code]

## Whereas the following patterns seem like they'd do what we want

[code]

# Immediate questions

1. Is this sufficiently illustrative?
2. Do the differences in ideal functionality vs. current make sense?
3. What additional info can we provide?

[2021-01-11 17:59] dlukeomalley commented on #2332
That is my understanding from chatting with @nbrahms (CCed so he can correct me if I misunderstand).

@chmccreery @msorens - Given all of the other tickets we've filed based on this one, should we close this ticket?

[2021-01-11 19:01] mschwager opened #2373 "Findings page table does not sort by numerical order"
When sorting in descending order on the "Fixed" column I see:

![image](https://user-images.githubusercontent.com/1724818/104226133-8d2bea80-5404-11eb-8e53-1d53fcbaec7b.png)

`100.0%` is below `66.7%`.

For simplicity I changed the columns to be strings instead of numbers, but this broke sorting. Let's fix this up :+1:

cc @minusworld @nbrahms

[2021-01-11 20:36] colleend commented on #2368
Thanks for opening such a well-written and detailed issue!

It does appear that the metavariable-regex and pattern-not combination results in the pattern-not matching both the first and second lines. This is indeed a bug that we will look into (most likely a python wrapper issue).

In the meantime, I've written something using the PCRE regex negative lookahead parameter (?!) in order to perform an

[2021-01-11 21:54] mschwager opened #2375 "Avoid double building OCaml binaries in CI"
In `.github/workflows/build-tests.yml` we have a job to `Build and Test semgrep-core`. In `.github/workflows/tests.yml` we have a nearly identical job to `Build and Test semgrep-core`. Fortunately these workflows can be run in parallel, but it doesn't make sense to build these binaries twice since it's a very expensive operation.

Let's refactor such that we can build the binaries once, and all su

[2021-01-12 01:12] bflad opened #2376 "Go Pattern Matching With ([]interface{}) Type Assertion"
**Describe the bug**

[Interface types in Go](https://golang.org/ref/spec#Interface_types) can be type asserted to any valid type at compile time (though they may panic at runtime). An example use case for this is an abstract data mapping function that returns an interface type whose result is later parsed into primitive Go types. It is unclear in this case whether there is a possible pattern to m

[2021-01-12 01:22] bflad commented on #2376
Similar issue occurs with:

[code]

And pattern:

[code]

Returns correct match if type assertion is swapped for a primitive type, such as `string`:

[code]

And pattern:

[code]

So that may provide a clue.

[2021-01-12 14:29] aryx commented on #2152
ok, found a fix, will submit a PR ASAP

[2021-01-12 14:44] aryx commented on #2349
Have a look at Check_semgrep.ml
Should be called by semgrep -validate

[2021-01-13 07:42] #2152 closed, assigned to aryx, brendongo

[2021-01-13 07:51] inkz opened #2382 "Track metavariable from aliased import in JS/TS"
Currently unable to use metavar from `import * as $X from 'foobar'` in other patterns
example:

https://semgrep.dev/s/yddd
code
[code]
rule
[code]
does not find anything (both TypeScript and JavaScript)

but able to tackle it when inside one pattern:
https://semgrep.dev/s/rddA
[code]

[2021-01-13 11:47] aryx commented on #2382
If it works when inside one pattern, might be a semgrep-python issue when comparing metavars from different match?
@nbrahms ?

[2021-01-13 11:49] aryx commented on #2323
Sorry for our late reply, but semgrep does not use internally gcc or clang; it parses the code as-is, which has some advantages (it is usually faster to not analyze all the included files like gcc/clang do, it does not require to know how to build files (which -I and -D to use), but is limited.
The C parser in semgrep recognizes some of the cpp idioms, but not all of them.

[2021-01-13 11:53] dvyakimov opened #2387 "--max-lines-per-finding does not work for json output"
If I hide results of code I use `--max-lines-per-finding`

`semgrep --config s/weeX  --max-lines-per-finding 2`

But how can I hide results in JSON ? A piece of code feel up a lot of space in the file, although I need only to get the beginning and end of the function.

`semgrep --config s/weeX --json -o /path/to/path-semgrep.json --max-lines-per-finding 2`

[2021-01-13 12:17] brendongo commented on #2387
Hi @dvyakimov the `--max-lines-per-finding` is mostly intended just for the plain text output. Are you able to do some post processing of the json output. Something like this should remove all the lines fields from the json:

[code]

[2021-01-13 12:23] dvyakimov commented on #2387
Okay, thank you! But if you make it on your side, it will be much faster! :)

[2021-01-13 14:01] Mariia-Kovtun opened #2388 "Type-awareness for more languages"
Type-awareness that has appeared for Java and Go (https://r2c.dev/blog/2020/type-awareness-in-semantic-grep/) is a very convinient option, solving some problems.
Is it planned to be added for other languages? (As for me, I'm really waiting for it for Python, JS and C).

[2021-01-13 14:19] aryx commented on #1868
Another example from @emjin : https://semgrep.dev/s/emjin:rescue
if you add an extra newline at the end, you get the parse error, otherwise no.

[2021-01-13 14:20] aryx commented on #1868
This bite us again today with emma. Would be nice to find a fix.

[2021-01-13 17:15] aryx commented on #2388
It should be easy to add for C, because the types are in the code; we just need to propagate them from their declaration to their uses. The problem is that for Python and JS, most of the time there is no type; so it has to be inferred, and this is far far more difficult. An option is to rely on LSP servers to get type information, or external tools like typescript or mypy, but again it's a lot of

[2021-01-13 17:24] j-martin commented on #2208
@aryx just to confirm semgrep 0.37 works as intended. Merci beaucoup!

[2021-01-13 17:26] aryx commented on #2208
Parfait!

[2021-01-13 18:55] mschwager commented on #2054
@blshkv,

In the `0.37.0` release (https://github.com/returntocorp/semgrep/pull/2383) we removed the `setup.py` dependency on the `wheel` package unless you're explicitly building the wheels. I noticed your ebuild was including that implicit dependency, and it shouldn't be needed anymore :+1:

[2021-01-13 23:43] #2332 closed, assigned to nobody

[2021-01-14 00:42] blshkv commented on #2054
Thanks, I was too lazy to ask for it ;-)

[2021-01-14 03:56] inkz commented on #2382
one more example that is not related to import aliases but have same issue with metavars matching:
https://semgrep.dev/s/7oo4/

code:
[code]

the idea is to track call to injected service of HttpService type
works as one pattern:
https://semgrep.dev/s/Ekko/
[code]

does not work when split to `pattern-inside`+`pattern`
https://semgrep.dev/s/7oo4

[code]

[2021-01-14 10:12] #2287 closed, assigned to emjin

[2021-01-14 11:47] dvyakimov opened #2392 "Add exit code meaning to documentation"
Could you publish error list ?

I use semgrep as semantic analysis for my tool. I have installed semgrep inside the container as CLI. At some moment, he gave me 7 error code back, but I didn't find a description of the code until I found out that I was mistaken in the rule.

[2021-01-14 12:07] brendongo commented on #2392
Yeah looks like our docs are a little stale there. Will track updating that page in the docs with this issue.

For now this file might be useful https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/error.py#L18

[2021-01-14 12:20] brendongo commented on #2392
PR to update here: https://github.com/returntocorp/semgrep-docs/pull/75

[2021-01-14 20:41] mschwager opened #2395 "CI QA repo test timing out"
https://github.com/returntocorp/semgrep/runs/1704014556

[code]

https://github.com/returntocorp/semgrep/runs/1704014685

[code]

cc @aryx @brendongo

[2021-01-14 20:41] mschwager opened #2396 "Restore we45/Vulnerable-Flask-app in CI (was Matchtimeout error only in CI)"
https://github.com/returntocorp/semgrep/runs/1704014556

[code]

https://github.com/returntocorp/semgrep/runs/1704014685

[code]

cc @aryx @brendongo

[2021-01-14 20:52] mschwager commented on #2396
Looks like [`loader.js`](https://github.com/we45/Vulnerable-Flask-App/blob/master/app/static/loader.js) is a large minified file, but I'm unable to reproduce locally:

[code]

[2021-01-14 21:40] mschwager commented on #2395
Ooops: https://github.com/returntocorp/semgrep/issues/2396

[2021-01-14 21:40] #2395 closed, assigned to nobody

[2021-01-14 21:41] mschwager commented on #2388
Here's an existing issue for C: https://github.com/returntocorp/semgrep/issues/1344

[2021-01-14 21:52] aryx commented on #2388
Note that @emjin was interested in fixing that for c

[2021-01-14 22:58] markchristensen-sl opened #2398 "Azure Pipelines CI support"
**Is your feature request related to a problem? Please describe.**
[Azure Pipelines](https://docs.microsoft.com/en-us/azure/devops/pipelines/?view=azure-devops) isn't listed as a Semgrep CI [standalone provider](https://semgrep.dev/docs/integrations/).

**Describe the solution you'd like**
Instructions or support for integrating with Azure Pipelines.

**Additional context**
Using a Microsoft Hoste

[2021-01-15 07:09] brendongo commented on #2392
Exit codes are in docs: https://semgrep.dev/docs/cli-usage/

[2021-01-15 07:09] #2392 closed, assigned to brendongo

[2021-01-15 08:24] ievans opened #2400 "Java not matching short type names"
**Describe the bug**
In Java, Semgrep doesn't match the short name for a type when the FQN is used.

**To Reproduce**
https://semgrep.dev/s/Avv6

**Expected behavior**
expect to match lines 5,7,10 but it only matches 7 and 10.

**What is the priority of the bug to you?**
Unknown (user reported)

**Environment**
v.37

[2021-01-15 08:50] aryx commented on #2400
If you wrote new ArrayList, how do we know which one you actually want? How do we know it's the java.util one? there could be another one in another library?
At least when you search for java.util.ArrayList we find the FQ one, and also the aliased one, but here you want the reverse, that is if you didn't specify much, here just new ArrayList, then you want semgrep to find all the possible one?

[2021-01-15 09:07] #2346 closed, assigned to mschwager

[2021-01-15 10:21] aryx commented on #2349
Another bug to detect: identical patterns:
see hardcoded_passport_secret in semgrep-rules/ where
  - pattern: |
      $F = require("passport-auth0").Strategy;
      ...
      $P.clientSecret = "...";
      ...
      new $F($P, ...);

is duplicated once.

[2021-01-15 10:29] aryx commented on #2349
We may need to parse the whole yaml file and have a global view of all the patterns, not just analyze one by one separately
how we do in semgrep-core -validate_pattern.

[2021-01-15 10:31] aryx commented on #2349
For the duplicated pattern check, would be nice to write it via semgrep :) meta! like
pattern: $X
...
pattern: $X

[2021-01-15 10:53] libre-man commented on #2400
But the other way around (specifying `java.util.ArrayList`) also doesn't work: https://semgrep.dev/s/DooW

[2021-01-15 10:55] aryx commented on #2400
Yes this one definitely sounds like a bug; we should manage the aliasing do at the first line when you imported the class.

[2021-01-15 12:24] traw commented on #2232
[Tree-sitter-swift](https://github.com/tree-sitter/tree-sitter-swift) might be of some help

[2021-01-15 15:20] emjin opened #2401 "Typed metavariables in Go doesn't match constants"
**Describe the bug**
Constants are not matched when using typed metavariables in Go

**To Reproduce**
https://semgrep.dev/s/emjin:go-string

**Expected behavior**
Expected first two to both match

**What is the priority of the bug to you?**
Unknown, user bug

**Environment**
If not using semgrep.dev: are you running off docker, an official binary, a local build?

[2021-01-15 16:16] brendongo opened #2402 "Semgrep fails to run on MacOS 11 Big Sur"
**Describe the bug**
When running semgrep installed with pip on MacOS 11 get the following error message:
[code]
**Environment**
If not using semgrep.dev: are you running off docker, an official binary, a local build?
macOS BigSur

[2021-01-15 16:18] brendongo commented on #2402
Looks like this occurs because pypi thinks the wheel published for Mac_10_14 is incompatible with MacOS 11. This was fixed in  pip 20.3 (https://github.com/pypa/pip/issues/9138). Updating pip and reinstalling semgrep should fix this.

[2021-01-15 16:18] #2402 closed, assigned to nobody

[2021-01-15 16:30] #1699 closed, assigned to minusworld, brendongo

[2021-01-15 22:17] dlukeomalley commented on #2401
@emjin @aryx @DrewDennison - What's the relatively priority of this issue and is it on-deck to be addressed? From the reporter on Slack:

[2021-01-16 09:42] mwild1 opened #2404 "Lua method calls not fully handled"
Hi folks, congratulations on the release, and thanks again @Ruin0x11 and everyone involved with adding Lua support!

I just ran the sample `$X == $X` rule to get started, and found an issue.

**Describe the bug**
Method calls (of the form `object:method()` seem to be only partly handled.

In Lua `foo:bar("abc")` is syntactically equivalent to `foo.bar(foo, "abc")`, but it is not parsed this way by