[2021-03-19 00:40] Isaac0616 commented on #2781
Some reference:
https://github.com/tc39/proposal-export-ns-from
https://developer.mozilla.org/en-US/docs/web/javascript/reference/statements/export (search "Draft ECMAScript® 2O21")

[2021-03-19 00:41] colleend commented on #2663
Hi! @chrisdlangton did you happen to want the functionality ```--timeout``` instead of ```--timeout-threshold```?

```--timeout``` indicates the maximum time spent running the rule on a single file, and ```--timeout-threshold``` indicates the max number of rules that can timeout on a file.

Using ```--timeout-threshold 0``` resulted in the predicted timeout error on the file, and using ```--timeou

[2021-03-19 01:54] chrisdlangton commented on #2663
@colleend that tip does work as described.

I have to be completely honest, I don't want any timeout to cause failure. If I have a large dictionary the tests should still run and pass if there are no rule violations regardless of size.

using timeout settings are brittle, and require tuning as the code base changes and the semgrep config increases too - the most important thing is the timeout solv

[2021-03-19 03:43] msorens opened #2782 "Policy view should check whether disabled rules still exist"
**Describe the bug**
When a disabled rule from a ruleset has been deleted in the ruleset, that needs to be reflected when viewing the policy. As shown I opened the policy then opened the set of disabled rules for a ruleset.

<img width="322" alt="image" src="https://user-images.githubusercontent.com/6817500/111728680-9d0fe280-882a-11eb-87ea-ed124a489837.png">

Selecting the rule attempts to open u

[2021-03-19 08:52] aryx commented on #2781
seems related to https://github.com/returntocorp/semgrep/issues/1950
I wonder if we could fix both at the same time

[2021-03-19 08:53] aryx commented on #2781
oh there's also https://github.com/returntocorp/semgrep/issues/1995

[2021-03-19 09:54] dkasak opened #2783 "Expression equivalence under variable definition substitution"
Say I want to check whether a project is checking for string equality under lowercase. The following rule seems like it should do the job:

[code]

However, this will only match those exact expressions. Even a simple semantically equivalent case such as the following would remain undetected:

[code]

Ideally, semgrep should be able to match the above snippet with the previously stated rules by con

[2021-03-19 12:20] arjunkhunti-crest opened #2784 "Semgrep is exits with error code 2 without further details"
While scanning the [addonfactory-ucc-generator](https://github.com/splunk/addonfactory-ucc-generator) repository with semgrep v0.43.0 execution gets terminated with error code 2.

**Command used for execution**
[code]

**Attachment:**

![image](https://user-images.githubusercontent.com/69838413/111776964-a192d480-88d8-11eb-859d-ceb8eb9b72fe.png)

**Steps to reproduce:**
[code]

[2021-03-19 12:53] mschwager commented on #2780
Similar issue: https://github.com/returntocorp/semgrep/issues/2486

But I agree, I would expect the [regex string matching](https://semgrep.dev/docs/writing-rules/pattern-syntax/#string-matching) to work inside backticks in Javascript :+1:

[2021-03-19 16:04] fproulx-boostsecurity opened #2786 "mode taint broken in 0.42.0+ (--json-time conflict)"
Looks like 0.42.0 addition of `--json-time` broke the `mode: taint` experimental feature (it works in `0.41.0`)

Try:
https://semgrep.dev/s/fproulx-boostsecurity:dom-xss-taint-tracking

[2021-03-19 16:09] fproulx-boostsecurity opened #2787 "mode taint should be improved minimally to make it somewhat useful"
I have a test case here (which BTW is broken in `0.42.0`+ -- filed separate bug here https://github.com/returntocorp/semgrep/issues/2786)

Here is a playground that shows basically the only scenario that works.
If the other scenarios listed would be made to work this would make mode taint actually useful...

https://semgrep.dev/s/fproulx-boostsecurity:dom-xss-taint-tracking

[2021-03-19 16:55] bt-nia commented on #2784
Without `--verbose`, there's no output here? I think I have the same behaviour in one of my internal repos with these 3 (and more) rulesets in place.

[2021-03-19 17:37] mschwager commented on #2783
Hi there,

We've been working on basic [data-flow analysis](https://semgrep.dev/docs/experiments/overview/#data-flow-analysis), but not to that level of sophistication. cc @aryx and @IagoAbal who are more familiar with this functionality.

[2021-03-19 17:40] mschwager commented on #2784
Hmm, I wonder if this is the same as https://github.com/returntocorp/semgrep/issues/2784, but with `--junit-xml` instead of `--sarif`. I'll investigate :+1:

EDIT: Oops, I meant https://github.com/returntocorp/semgrep/issues/2748, 2748 <-> 2784 :confused:

[2021-03-19 17:50] colleend commented on #2663
Yes definitely -- thanks for your fast reply! What would you say is your priority for this issue? It might be a tough fix.

I've tried digging a little deeper into it, and it seems like the command

``` semgrep-core/_build/default/cli/Main.exe -lang python -e '{..., $X: $A, ..., $X: $B, ...}' dict-timeout-test.py```

where ```dict-timeout-test.py``` is the dictionary provided in semgrep-dev link r

[2021-03-19 17:53] mschwager commented on #1425
Confirmed, no longer seeing these parse errors :tada:

[2021-03-19 17:53] #1425 closed, assigned to IagoAbal

[2021-03-19 17:55] aryx commented on #2787
@IagoAbal want to take a look? Does some work on the IL could fix the issue?

[2021-03-19 18:14] emjin commented on #2780
Would it be sufficient to make either of the latter two patterns in https://semgrep.dev/s/we5x work instead?

[2021-03-19 18:16] ropnop commented on #2780
Sure! The end result I need is to flag string templates with variables and distinguish them from just backticked strings with no variables. Regex was the solution I was trying, but i'd be happy if either of the latter two worked instead

[2021-03-19 18:24] fproulx-boostsecurity commented on #2787
Basically if the following scenarios (`mode: taint`) were made to work, that would at least allow to implement some injections rules that have a good number of `TPs` and also many `FNs`. But that's a conscious choice, for my use case that's a valid trade off (High Signal / Low Noise). Better to have many good, easy to understand and fix `TPs`, than wasting time on many hard to validate `FPs`, .

[

[2021-03-19 18:43] ievans commented on #1218
@aryx should I close this as #wontfix and make a new issue to improve our documentation or UX?

[2021-03-19 19:28] Isaac0616 opened #2790 "Typescript parsing error: typeof const_array[number]"
**Describe the bug**
Encountered a typescript parsing error in our codebase.
It seems to be the usage of creating types from values in an array.

**To Reproduce**
https://semgrep.dev/s/eLRX

**Expected behavior**
No parsing error.

**What is the priority of the bug to you?**
P1

[2021-03-19 19:31] aryx commented on #1218
There are very few tests relying on the difference and in most cases the difference is very subtle (too subtle for a regular user i think) so we may still want to merge them; just that we will have to rewrite some of our rules

[2021-03-19 19:52] #2786 closed, assigned to nobody

[2021-03-19 20:05] mschwager commented on #2790
Thanks for the heads up! cc @mjambon

[2021-03-19 22:45] Isaac0616 opened #2792 "Typescript parsing error: readonly modifier in angle brackets"
**Describe the bug**
Typescript parsing error: readonly modifier in angle brackets.

**To Reproduce**
https://semgrep.dev/s/7oLv

**Expected behavior**
No parsing error.

**What is the priority of the bug to you?**
P1

[2021-03-20 07:05] Isaac0616 commented on #2382
@inkz @aryx Any updates on this issue?
I found that the problem in the first example is that the value of `$SESSION` is `'express-session'` when invoking and `session` when importing.
See https://semgrep.dev/s/8y4J.

Given that #285 was closed, what is the best way to find out a function call from a module?
Is there something similar to Python rule like `path.to.module.function(...)`
I want to wri

[2021-03-21 03:09] ievans commented on #2302
go away stale bot

[2021-03-21 23:45] ajinabraham commented on #554
Shouldn't it detect template literals irrespective if it's inside a function or not?

[2021-03-22 12:19] #2452 closed, assigned to IagoAbal

[2021-03-22 12:22] #2763 closed, assigned to emjin

[2021-03-22 13:51] mschwager commented on #2664
Any thoughts here? Would a warning on the CLI be sufficient, or are you looking for improvements to the cloud editor?

[2021-03-22 14:03] mschwager commented on #2734
@brendongo could this be related to https://github.com/returntocorp/semgrep-action/issues/227? In `v0.41.1` it looks like `semgrep-core/pfff` is an empty directory, which makes me wonder if something is symlinking to it, or if the directory has other special properties. I.e. why do we get this error on `semgrep-core/pfff`, but no other directories in the tree?

[2021-03-22 14:23] aryx commented on #2664
I'm working with @emjin on a metachecker for our rules; this would be a good check, that is a metavariable-regexp should be part of a conjonction where the metavariable is mentioned in one of the AND pattern.

[2021-03-22 14:24] aryx commented on #2664
And if one of the AND is an either, then all the either should define the metavariable.

[2021-03-22 14:31] aryx commented on #2664
and in your example @mschwager  the metachecker will not issue a warning, because one of the pattern in the AND define the metavariable (we could force the user to group the pattern-inside and metavariable-regexp in a nested patterns:, but we could do the transformation ourselvers internally).

To answer @ievans " Probably need an optimization to not filter if metavariable didn't occur in patterns

[2021-03-22 14:39] aryx commented on #2664
And in your example @mschwager semgrep currently returns 2 matches actually (as it should).

[2021-03-22 14:41] aryx commented on #2664
I'd probably write the rule like this though:
[code]

[2021-03-22 14:50] aryx commented on #2548
I think there is no need to propagate metavariables during the match; we just need to AND the metavariable-regexp with the relevant patterns;
In some sense, metavariable-regexp is a trick to overcome some limitations of semgrep; we currently allow regexp in strings, so you don't do $E = "$STR"   where metavariab-regexp: $STR regexp: foo|bar, but instead write directly $E = "=~/foo|bar"
so we just

[2021-03-22 15:00] aryx commented on #2548
I think this was a simple solution that didn't need any change to the engine: https://semgrep.dev/s/Doq2/ just group the metavariable-regexp with a nested patterns:

[2021-03-22 15:39] mschwager commented on #2748
I think adding errors to the structured output would be a good solution, similar to JSON. The best SARIF location I can find is the [`toolExecutionNotifications` or `toolConfigurationNotifications` property](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317588). Does that seem reasonable?

[2021-03-22 16:49] dlukeomalley commented on #2781
Thank you @Isaac0616, queuing this up for our support team to look into this week and get back to you with thoughts/fix ETA.

[2021-03-22 16:52] dlukeomalley commented on #2782
@minusworld @dan5382 @adamberman - I'm increasingly becoming a fan of stopping the use of rulesets in policies, choosing instead to just add all the rules from a ruleset to a policy and making it easy within a policy to manage them. Is this something we can include as part of the Dashboard > Policy work we're pursuing these next few weeks?

[2021-03-22 17:36] emjin opened #2798 "YAML ellipses don't work at the beginning of list elements"
**Describe the bug**
Does not correctly parse

[code]

**To Reproduce**
https://staging.semgrep.dev/s/rZBP should parse

[2021-03-22 20:09] #2748 closed, assigned to mschwager

[2021-03-22 20:58] IagoAbal commented on #2783
We don't support this kind of equivalences yet. But the need for such equivalences has popped up several times, and we have plans to add such feature.

[2021-03-22 21:02] aryx commented on #2783
Yep great idea @dkasak. We definitely need to add this feature.

[2021-03-22 21:16] chmccreery commented on #2779
@dlukeomalley where do we go from here? This seems to me like sprint/product work more than bug fixing, can we remove from Customers/on-call board?

[2021-03-22 21:18] chmccreery commented on #2782
@dlukeomalley where do we go from here? This seems to me like sprint/product work more than bug fixing, so I am removing from customers board/on-call work. Please add it back if you disagree.

[2021-03-22 23:00] IagoAbal commented on #554
@ajinabraham we have two different constant-propagation passes, the first one focuses on global constants and is flow-insensitive, the second one focuses on functions and is flow-sensitive (more powerful). Eventually we should unify both and offer the same capabilities, but it will be some work and we are not there yet. Typically most code will be inside some function, that is why I think that wha

[2021-03-22 23:03] IagoAbal commented on #2787
Hi! I think it shouldn't take much work to handle these examples. It just probably requires a bit more work on our IL as @aryx is suggesting. I will take a look at it this week!

[2021-03-22 23:23] Isaac0616 opened #2799 "`semgrep --test` a yaml file"
**Is your feature request related to a problem? Please describe.**
Currently, `semgrep --test` doesn't allow a yaml file to be the test file even the rules and test files are separated.
For example, `semgrep --test --config rules/ tests/` will ignore `x.yaml` in the following dir structure.
[code]
The current workaround is using other file extensions for the generic patterns, but I think once the

[2021-03-23 08:22] aryx commented on #1474
With @emjin semgrep support for YAML we wrote a semgrep rule to check for those double ids (in the same rule though).
Then if the dir/filename is part of the full id, that should be enough.

[2021-03-23 09:48] aryx commented on #2078
Ok so I'll close this issue then. People can add those autogenerated file to their semgrep ignore.

[2021-03-23 09:48] #2078 closed, assigned to aryx

[2021-03-23 09:57] aryx commented on #2799
We could maybe add somewhere a is_semgrep_yaml() function to differentiate a regular yaml file from a semgrep yaml file.
@mschwager what do you think?
A problem though is that we started to write semgrep rules on semgrep rules thx to the yaml support in semgrep, so sometimes we actually need to process a semgrep rule yaml file as a target file :)

[2021-03-23 10:13] aryx commented on #912
yes. Actually the new full-rule handling in semgrep-core  does not make the difference  between pattern and pattern-inside for this case and so will find the match (semgrep still does not though).

[2021-03-23 13:21] mschwager commented on #2799
Yup, we can add some additional logic to differentiate in this special case. A few quick thoughts:

- We could support a new extension like `.test.yaml` which supersedes existing logic, e.g. `foo.yaml` and `foo.test.yaml`
- We could add an additional flag like `--test-yaml` - not ideal, it'd be nice to generalize
- We could require the configuration and tests to be in different directories for YAM

[2021-03-23 14:42] aryx commented on #2799
I like option 1.

[2021-03-23 15:28] aryx opened #2802 "[Javascript] Can't use ellipsis in body of lambda"
https://semgrep.dev/s/x1Ke

If you replace ... by $XXX it works, but ... generates a parse error.
reference conversation: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1616512805025200?thread_ts=1616429605.020000&cid=C018NJRRCJ0

[2021-03-23 15:42] aryx commented on #2802
You can overcome the limitation by using a metavariable, so I've put low priority for now.

[2021-03-23 16:56] aryx commented on #2802
@emjin want to look at this?

[2021-03-23 17:57] dlukeomalley commented on #2782
Sounds good @chmccreery!

@msorens I'm interested in tackling this work with two upcoming projects: versioned rules, getting rid of rulesets. Are you ok with me either closing this ticket and/or merging it with my internal tracking ones?

[2021-03-23 21:36] emjin commented on #2802
I can take a look! I have a couple issues I would want to get to first

[2021-03-23 22:59] clintgibler opened #2805 "Constant propagation causes =~"//" string matching to match assigned variable"
**Describe the bug**
To be honest, I'm not sure if this is a bug to be fixed, or just unintuitive behavior. It was surprising to me as a user.

If you have a pattern like `"=~/http:///"` and are matching code like:

[code]

The pattern will match that line **twice**, once for the right hand side string AND (the surprising part) the variable assigned, `a`.

This caused me to believe Semgrep was dup

[2021-03-23 23:52] dlukeomalley commented on #2663
@colleend Cleaning up and organizing tickets for upcoming sprints. My read of the above is that this is a performance issue and there may be other tickets to file - are there any other tickets you can link to for us to prioritize? Thank you! 🙏

[2021-03-24 00:42] Isaac0616 opened #2806 "Allow multiple rules to be triggered by the same line in test files."
**Is your feature request related to a problem? Please describe.**
Sometimes, different rules will be triggered by the same line.
However, we are not able to comment two `ruleid: ` on the same line.
We can try to avoid it by changing the test code, but it would be more convenient to comment multiple rule ids.

This happens when we have two rules to catch similar things.
One is for a more generic c

[2021-03-24 00:48] Isaac0616 opened #2807 "Prevent `ruleid` comments in the test file from triggering another rule."
**Is your feature request related to a problem? Please describe.**
For example, a rule
[code]
with a test
[code]

The line of `ruleid` would trigger the same rule again.
I changed the rule id to `use-xfo` to prevent the recursion, but it would be nice if I don't have to.

**Describe the solution you'd like**
Prevent `ruleid` comments in the test file from triggering another rule.

[2021-03-24 06:32] #2278 closed, assigned to nobody

[2021-03-24 08:22] #2798 closed, assigned to emjin

[2021-03-24 09:13] #2778 closed, assigned to mjambon

[2021-03-24 09:37] aryx commented on #2685
Right now in semgrep, the pattern  `<$EL />` will match lots of JSX elements: `<foo />`, but also `<foo ></foo>`, also `<foo>xxx</foo>`, etc.
and internally a pattern like `<$EL></$EL>` is actually transformed in `<$EL />`. This is maybe too much because it prevents users like @yoav-lavi  to explicitely match code like `<div></div>` but not `<div />`.

@minusworld @mschwager @ievans maybe we shoul

[2021-03-24 09:57] Isaac0616 commented on #2806
Found that there used to be another issue (#753)

[2021-03-24 10:55] aryx commented on #2802
hmm actually I think it's a small fix; I'll do it.

[2021-03-24 10:56] aryx commented on #2802
I'm making a new release today, so better to get this fix in before

[2021-03-24 14:28] mschwager commented on #2664
Since the focus has moved to statically detecting this kind of thing I'm going to unassign myself :+1:

[2021-03-24 15:06] aryx opened #2810 "[Go] allow keyvalue and composite literals as a pattern"
Right now you can't write a pattern like `key: 1` or even `{key: 1}` in Go. We force it to be part of a
full initializer call as in `Foo{key:1}`.
We should allow the previous patterns too.

See https://r2c-community.slack.com/archives/C018NJRRCJ0/p1616516012028100 for more context

[2021-03-24 15:38] aryx commented on #2664
You're more than welcome @mschwager to contribute to this new metachecker if you want.

[2021-03-24 15:57] aryx commented on #2685
@yoav-lavi the matching and autofix seems to work better on the latest: https://semgrep.dev/s/N4Lz/?version=develop
Now remains to fix how we want semgrep JSX pattern to match code and which equivalence to put by default (as I mentioned above).
Progress still!

[2021-03-24 15:58] aryx commented on #2802
weird, does not seem to work in the playground.

[2021-03-24 16:45] fproulx-boostsecurity commented on #2799
I like the idea of `foo.test.yaml`. It does not make yaml a special case as much as having to use a different flag....

[2021-03-24 16:53] yoav-lavi commented on #2685
Yes, it seems to work better in that version, thanks! By the way, the editor seems to treat JSX as an error for some reason @aryx

[2021-03-24 17:11] aryx commented on #2802
just docker which took time to get the latest develop.

[2021-03-24 17:11] #2802 closed, assigned to aryx

[2021-03-24 17:12] aryx opened #2812 "[JSX] change default set of JSX equivalences."
Right now in semgrep, the pattern <$EL /> will match lots of JSX elements: <foo />, but also <foo ></foo>, also <foo>xxx</foo>, etc.
and internally a pattern like <$EL></$EL> is actually transformed in <$EL />. This is maybe too much because it prevents users like @yoav-lavi to explicitely match code like <div></div> but not <div />.

@minusworld @mschwager @ievans maybe we should disable most of

[2021-03-24 17:13] aryx commented on #2685
ok, closing this issue. For the equivalance thing I've created another issue: https://github.com/returntocorp/semgrep/issues/2812

[2021-03-24 17:13] #2685 closed, assigned to aryx

[2021-03-24 17:14] aryx commented on #2812
origin of the conversation here: https://github.com/returntocorp/semgrep/issues/2685

[2021-03-24 17:15] aryx commented on #2812
another related pb mentioned by gitlab: https://semgrep.dev/s/squaresurf:react-dangerouslysetinnerhtml
link to slack: https://r2c-community.slack.com/archives/C01KY32FDAT/p1615507626047700

[2021-03-24 17:39] mschwager commented on #2548
Not entirely sure why, but that rule errors out in `v0.41.1`: https://semgrep.dev/s/Doq2/?version=v0.41.1, so I'm not sure that would've fixed it.

[2021-03-24 17:53] #2810 closed, assigned to aryx

[2021-03-24 18:00] colleend commented on #2663
Currently no other tickets linked to this issue -- I would say that this is a lower priority performance issue due to the potential complexity of the fix & the rarity of scanning such large dicts.

[2021-03-24 21:14] aryx commented on #2753
@emjin maybe it's related to the record extension of Java we are planning to add.

[2021-03-24 21:52] clintgibler opened #2819 "... operator in PHP ($foo[...]) cannot be parsed."
**Describe the bug**
Having a Semgrep pattern with `...` in a `$foo[...]` yields a "Pattern could not be parsed as a PHP semgrep pattern."

**To Reproduce**
https://semgrep.dev/s/clintgibler:php-ellipsis-brackets-bug

**Expected behavior**
I expect the pattern `$foo[...]` to match `$foo[some_arg]`.

**What is the priority of the bug to you?**
P1 (important to fix or quite annoying)

[2021-03-24 22:02] clintgibler opened #2820 "PHP patterns using variable names that start with `$_` are treated as metavariables when they shouldn't be"
**Describe the bug**
When you try to write a PHP Semgrep pattern using a name that has a specific built-in meaning, like `$_COOKIE`, `$_GET`, or `$_POST`, Semgrep treats that as a metavariable, matching any variable, not just the literal variable name you used.

**To Reproduce**
https://semgrep.dev/s/clintgibler:php-underscores-incorrectly-metavar

**Expected behavior**
I would expect the pattern

[2021-03-25 06:06] inkz opened #2826 "matching Ruby's backticks"
1) \`...\` - does not match backticks with variables like: \`foo #{bar}\`
https://semgrep.dev/s/YgKD/

2) \`...#{...}...\` - will srictly match backticks with only one `#{...}`
https://semgrep.dev/s/6rWW/

It makes it impossible to match backticks without knowing how many `#{...}` are used beforehand.

Even though backticks in Ruby and JS/TS are slightly different things, I as a user would expect

[2021-03-25 08:29] #2820 closed, assigned to emjin

[2021-03-25 08:32] #2819 closed, assigned to emjin

[2021-03-25 14:04] aryx opened #2830 "[YAML] cheatsheets for YAML"
See the sidebar on the right at
https://staging.semgrep.dev/s/JqoR/

We miss many tests in semgrep-core showing how to write patterns for YAML.
Of course YAML is not really a programmnig language, so many of those tests are hard to write for YAML,
but maybe there are a few we can do.

[2021-03-25 14:05] aryx commented on #2830
Note that JSON also has the same problem. Maybe we need another set of tests files for InfrastructureAsCode languages.

[2021-03-25 20:05] mschwager commented on #2812
the more verbose <$EL style={$STYLE} >...</$EL>.
What do you think? We should even maybe require to use ... for the attributes to says more attributes are ok (to be consistent with what we do elsewhere @mschwager ?)

That sounds good to me. We may even want to consider the opposite equivalence: `<$EL style={$STYLE}>...</$EL>` matches `<$EL style={$STYLE} />`. In this case we can always remove spec

[2021-03-26 00:00] Isaac0616 opened #2835 "Performance issue with `metavariable-regex`"
**Describe the bug**
It is not necessary a bug.
I am trying to scan a very large json config file with generic pattern.
If I use the pattern:
[code]
It is very performant and returns the result with in a second.
However, if I try use the following pattern for better extensibility
[code]
It would take several minutes.
I am guessing that it becomes so slow because it has to invoke regex matching in

[2021-03-26 00:29] kiwiz opened #2837 "Semgrep won't scan files that don't end with the right extension"
**Describe the bug**
Semgrep won't scan a `yaml` file if the file doesn't end in a `.yml` or `.yaml` file when targetting a directory. I tried specifying an `paths.include` entry, but that doesn't work.

**To Reproduce**
Create a rule that targets `yaml` and scan a directory with yaml files:
[code]

[code]

**Expected behavior**
Semgrep should scan the yaml files and report any findings

**Screens

[2021-03-26 00:33] minusworld commented on #2837
I have experienced this behavior before; it appears to me that specifying a target directly on the CLI overrides the defaults for that language and `paths.include` is only a filter of the defaults.

[2021-03-26 02:31] #2286 closed, assigned to chmccreery

[2021-03-26 08:48] aryx commented on #2812
You're right! Ok, I'll modify the engine but we will have to modify a few semgrep-rules then.

[2021-03-26 08:49] aryx commented on #2812
What about the attributes? should we require ... in the list of attributes to say more are ok? Or have it implicit like we do inside objects or classes?

[2021-03-26 09:24] aryx opened #2838 "[Go] for ... does not match for loops"
https://semgrep.dev/s/58Wk?stepByStep=1

[2021-03-26 12:35] bard opened #2841 "Typescript parsing error: ({ foo }: { foo: number })"
**Describe the bug**

Typescript parsing error: function declaration with argument destructuring

**To Reproduce**

https://semgrep.dev/s/GWRG/

**Expected behavior**

No parsing error.

**What is the priority of the bug to you?**

P2

[2021-03-26 14:05] underyx commented on #2841
For the record, I verified the provided sample compiles correctly in TypeScript 4.x

[2021-03-26 14:06] #2838 closed, assigned to aryx

[2021-03-26 15:12] clintgibler commented on #1834
I also think that being able to do `**` in path inclusions/exclusions would be quite useful 👍

[2021-03-26 15:31] aryx opened #2846 "[Javascript] import * as $BROWSER from xxx does not bind correctly $BROWSER"
**Describe the bug**
See https://semgrep.dev/s/KWdj/

$BROWSER is bound to 'browser' in one case and 'module/core/browser' in the other preventing
both metavariables to be unified.

It would also be good to find a way to describe both cases without using pattern-either. How to
qualify the call to unsafeRedirect from "modules/core/browser" in one way and match all the possible variations,
like we d

[2021-03-26 15:32] aryx commented on #2846
For reference, origin of the discussion: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1616770539056600

[2021-03-26 18:56] hex0punk opened #2847 "[Go] support for `select` blocks and matching cases inside of those"
**Is your feature request related to a problem? Please describe.**
Currently, there is no clean way to write a pattern for this:

[code]

**Describe the solution you'd like**
I am interested in finding where the channel send occurs, but because it occurs as a `case` inside of a `select` block, there is no way to detect that in semgrep without getting a `Pattern could not be parsed as a Golang semg

[2021-03-26 19:07] aryx commented on #2847
I think this is better (which you suggested on slack):
[code]

[2021-03-26 19:08] hex0punk commented on #2847
yep, agreed

[2021-03-26 19:08] ievans commented on #2847
hi @hex0punk, thanks so much for creating an issue! can you share the relative priority of this for you -- is it blocking your adoption of semgrep (p0), a significant problem to using semgrep for you (p1), or a minor annoyance (p2)?

playground link: https://semgrep.dev/s/Nr4L

[2021-03-26 19:12] hex0punk commented on #2847
for sure!

**Priority**: (p2)
**Reason**: not a significant problem at the moment, just working on new semgrep rules while I have time. It _is_ a common pattern in go though.

[2021-03-26 22:02] IagoAbal opened #2849 "typescript: tainting: Deep-expression operator not allowed in pattern-sources"
****Describe** the bug**
Trying to use deep-expression patterns results in a parser error (the pattern is considered invalid). This works fine for other languages (e.g. Python).

**To Reproduce**
https://semgrep.dev/s/e4LR/

[2021-03-27 14:28] aryx commented on #2849
Seems to work actually: https://semgrep.dev/s/Q85d/
Does not seem to work at the toplevel, but it does not really make sense to use <... location.href ...> at the toplevel; just remove
the <... ...> and it would work the same.

[2021-03-27 23:47] ajinabraham commented on #554
if it works inside a function, it should be fine for me. Good to document this behaviour somewhere if not done already.

`var`, `let` and `const` were all already optional IIRC.

[2021-03-28 18:56] IagoAbal commented on #2849
Hmm, this does work in Python however, you can write a top-level deep-expression pattern: https://semgrep.dev/s/Wggj/.

I wanted to propose using

[code]

 in #2787 since that would at least make one of the inline examples work, but the pattern is considered invalid.

[2021-03-28 20:35] IagoAbal commented on #2787
Most of these examples can be make to work by introducing extra temporary variables during AST-to-IL. The dataflow analyses only track facts on simple variables. This is clean and convenient. Perhaps we should consider changing the IL to force some subexpressions to be variables instead.

[2021-03-29 04:16] msorens commented on #2782
As we have discussed, I am on board with getting rid of rulesets. Seems like this issue would still be applicable at the policy level though, no?
OK with me to handle this as you see fit.

[2021-03-29 07:35] aryx commented on #2849
yes maybe the python grammar allows toplevel deep-expr pattern, but as I said, they are useless; The only use of the deep-expr pattern is when it's not at the toplevel but inside a stmt or expression; otherwise just use the location.href and it will be equivalent.

[2021-03-29 11:04] IagoAbal commented on #2849
I understand it's useless when given to Semgrep directly, but
[code]
is not equivalent to
[code]
In the former case it only matches a RHS that is exactly `location.href`, whereas using deep-expression patterns you can match `location.href` against any subexpression of the RHS.

[2021-03-29 11:07] IagoAbal commented on #2849
See example from #2787:

[code]
We can make this example work in other ways, but one workaround would be to use deep-expression patterns. Not sure how useful they would be in general.

[2021-03-29 11:57] aryx commented on #2849
oh I see, then it's the code handling pattern-sources: that we need to fix.

[2021-03-29 11:58] aryx commented on #2837
yeah @emjin , first bug report for yaml!

[2021-03-29 11:59] aryx commented on #2835
Can you attach this big .json file, so we can troubleshoot and reproduce easily?
A link to semgrep.dev would be ideal.

[2021-03-29 12:01] aryx commented on #2835
We're actually in the process of transferring some of the logic from Python to OCaml, so this could be a case where semgrep-core could handle really faster than semgrep.

[2021-03-29 14:54] chmccreery commented on #2782
Maybe what @dlukeomalley was thinking was we may no longer have a thing called "overrides" if policies are just a flat list of rules - to disable a rule, you would remove the rule instead of "disabling" it inside a ruleset.

[2021-03-29 16:53] Isaac0616 commented on #2835
Let me find a reproducible example.
The original json contains some sensitive information.

[2021-03-29 19:05] IagoAbal commented on #2849
If it is desirable to make the pattern in `pattern-sources:` match against any subexpression, then I could give it a try myself.

[2021-03-29 19:17] fproulx-boostsecurity commented on #1834
👍 👍 👍 on this, this is super useful to exclude any findings in says `**/migrations/*` for `typescript`

[2021-03-29 20:15] mjambon commented on #1539
Closing this based on @nbrahms arguments above.

[2021-03-29 20:15] #1539 closed, assigned to nobody

[2021-03-29 20:17] underyx commented on #1539
If we decide that Semgrep shouldn't detect this, please remove the referenced rule: https://github.com/returntocorp/semgrep-rules/blob/develop/python/lang/correctness/common-mistakes/string-concat-in-list.yaml

[2021-03-29 20:34] mjambon commented on #1804
Simplified example, target python code:
[code]

Pattern that fails but was expected to match https://dev.semgrep.dev/s/Q5D4/ :
[code]

Pattern that matches https://dev.semgrep.dev/s/gLgJ/ :
[code]

I'm guessing the issue is that `<... thing ...>` can only match an expression, not a statement. The original expectation seems natural to me.

Assigning @aryx to this.

[2021-03-29 21:39] mjambon commented on #1780
For patterns, we use the java parser from pfff, but for target code we use the tree-sitter one. It would help to provide a minimal input so as to see clearly what differs.

[2021-03-29 21:46] mjambon commented on #1860
Fixed in https://github.com/tree-sitter/tree-sitter-typescript/issues/95

[2021-03-29 21:46] #1860 closed, assigned to mjambon

[2021-03-29 22:22] mjambon commented on #2306
@nbrahms's example https://semgrep.dev/s/Zvgx/ now works with or without the `//`.

The original (big) https://semgrep.dev/s/N4qn/ still doesn't find a match. It needs simplification before we can determine what's wrong.

[2021-03-29 22:31] mjambon commented on #2306
@mschwager I'm not able to reproduce a case that works. I tried replacing this
[code]
by this
[code]
but there's still no match.

If you happen to remember what should match the pattern, that would help.

[2021-03-29 22:57] mjambon commented on #2323
@aryx here's a series of simpler examples. They differ only by the body of the macro `A`, which is not used.

ok https://semgrep.dev/s/wxxN:
[code]
parse error https://semgrep.dev/s/kLLO/:
[code]
parse error https://semgrep.dev/s/xYY0:
[code]
ok https://semgrep.dev/s/O11R/:
[code]
parse error https://semgrep.dev/s/e440/:
[code]
None of the parse errors above are expected.

[2021-03-30 02:25] mjambon commented on #2849
It this just a matter of tweaking the syntax extension of tree-sitter-typescript for semgrep?

[2021-03-30 07:22] aryx commented on #1780
I fixed the difference recently actually. See https://github.com/returntocorp/semgrep/pull/2732

[2021-03-30 07:22] #1780 closed, assigned to nobody

[2021-03-30 07:47] aryx commented on #2849
For JS/TS we actually still use the pfff parser for the pattern.
And yes we could tweak the grammar to allow toplevel <... ...>, but as I said, it does not make much sense to use <... ...> at the toplevel, so I'd rather fix pattern-sources: instead.

[2021-03-30 07:52] aryx commented on #1804
yes, <... ...> expect an 'expression' context, so when python parses this, it actually parses <... a ...> as an
expression statement (in other languages they have a semicolon), so matt example is really parsed internally as
[code]
and expression statement does not match an if header.

[2021-03-30 07:55] aryx commented on #1804
We could change semgrep to have those deep expression operator go inside if/while/... headers, but I'm not sure that's what we want for other languages.

[2021-03-30 08:06] aryx commented on #2780
Yes, you cant use regexp for that. The regexp can't see the $ in the backticked string, because internally those are transformed in an expression.

[2021-03-30 08:07] aryx commented on #2780
@emjin fixed the underlying request, but the title of the issue itself is a wontfix I think.

[2021-03-30 08:24] aryx commented on #2841
I have a hard time myself "parsing" this code mentally.

[2021-03-30 08:25] aryx commented on #2826
@emjin maybe your recent fix for Javascript could work for Ruby too?

[2021-03-30 08:27] #2773 closed, assigned to minusworld

[2021-03-30 08:54] bard commented on #2841
For the record: I realized this only happens in type declarations, where the argument destructuring brings little value anyway, and replacing `<{ report: ({error}: { error: Error }) => void }>`  with  `<{ report: (args: { error: Error }) => void }>`  is perfectly fine. Initially, it appeared that argument destructuring wasn't parsed in function definitions either, but that's not the case. As such,

[2021-03-30 08:56] underyx commented on #2841
Thanks for the update @bard! I'll update the priority label accordingly.

[2021-03-30 09:09] aryx opened #2852 "[Benchmark] make sure the different SemgrepVariant return the same findings"
Probably need to pass --json to semgrep and then make sure the result finding sets are equal to the base (the std SemgrepVariant).

[2021-03-30 09:10] aryx commented on #2852
@mjambon is pretty busy this week with being OnCall so if @emjin you could implement it that would be great.

[2021-03-30 09:59] aryx commented on #2847
link https://semgrep.dev/s/nqqg/

[2021-03-30 10:50] #2847 closed, assigned to aryx

[2021-03-30 13:57] mschwager commented on #2306
IIRC this bug was just fixing the `NoTokenLocation`, not necessarily producing a finding!

[2021-03-30 13:57] #2306 closed, assigned to nobody

[2021-03-30 14:12] mschwager commented on #1804
Ahh, I think I didn't realize this initially. Only considering expressions makes sense to me, I just have to adjust my mental model :)

[2021-03-30 15:01] #2780 closed, assigned to emjin

[2021-03-30 15:01] emjin commented on #2826
Looks like it doesn't :(

[2021-03-30 16:34] pabloest opened #2855 "Traceback error when running a local scan with --json-time"
**Describe the bug**
Semgrep exits before completing the scan and displays a traceback error.

**To Reproduce**
Run `semgrep --json --json-time --config=p/security-audit` on the repo at [https://github.com/rapid7/hackazon](https://github.com/rapid7/hackazon)

**Expected behavior**
Semgrep should not exit before completing its scan and should not display a traceback error.

**Screenshots**
[code]

[2021-03-30 18:22] dlukeomalley commented on #2782
Exactly. You wouldn't have anything to override in a world that doesn't support depending on / inheriting from a ruleset. I imagine you'd just remove the rule from your policy. If we take this approach, I'd expect to provide a policy history so you can see how it has changed over time.

I'm still wrestling with how users will add related rules in the registry to their policy. Without rulesets, are

[2021-03-30 18:51] aryx commented on #2847
This works now on develop: https://semgrep.dev/s/nqqg/?version=develop
Note that you need to use 'case ...' inside a select/switch, and not just '...' because
of ambiguities otherwise in the grammar.

[2021-03-30 19:03] emjin commented on #2780
You can use this https://semgrep.dev/s/DJwy/?version=develop to match what you want on develop now!

[2021-03-30 20:35] mjambon commented on #2852
I didn't do it initially under the assumption that the correctness of semgrep was tested elsewhere. New bugs could still show up here, so this sounds like a good idea.

[2021-03-30 20:39] mjambon commented on #2855
Thanks @pabloest. It looks like `json["time"]["targets"][0]` might be the culprit.

[2021-03-30 20:48] IagoAbal commented on #2849
I took a quick look, I see two choices:

1. Read `pattern-source` as a deep-expr pattern even if it's not. So just read the pattern and then wrap it in a `DeepEllipsis`.
2. Use `Semgrep_generic.check` instead of `Semgrep_generic.match_e_e` to match `pattern-source`s.

Choice 1 is easier to implement.

What do you think? Any better way to fix this that I missed?

Also, I guess this is only desirabl

[2021-03-31 00:54] fasiha opened #2859 "Automatically detect deeply-chained calls on objects through assignment"
## Is your feature request related to a problem? Please describe.
As described on [Slack](https://r2c-community.slack.com/archives/CK86BJ5DW/p1617137770088500), the pattern
[code]
works great on code where this entire chain is present, but does not work if it's broken by assigning to variables, e.g., the above rule can't catch
[code]

## Describe the solution you'd like
It would be wonderful if th

[2021-03-31 08:50] mjambon opened #2862 "Make homebrew PRs from returntocorp, not from a personal account"
Currently, the release process automatically make a PR to update the semgrep package for homebrew. This PR comes from https://github.com/brendongo/homebrew-core rather than https://github.com/returntocorp/homebrew-core. The latter would allow the person in charge of the release to push manual fixes to the PR without Brendon.

Assigning to @brendongo because he knows this best but maybe someone els

[2021-03-31 12:10] fcsonline commented on #2331
As a workaround, I was able to match an interpolation in a string with this combination of patterns:

[code]

[2021-03-31 18:17] chmccreery commented on #2782
I have been wondering about this ^ too, but it seems to me like a great opportunity for r2c, after writing and vetting new rules, to just email users on a semi-regular cadence with "new rules we recommend for you" based off of which rules they are running right now. This seems like a pretty easy recommendation system to create, given that the rules are already tagged with languages, frameworks, bu

[2021-03-31 18:44] nbrahms opened #2863 "Add mechanism to get Semgrep progress logs when it runs forever"
**Is your feature request related to a problem? Please describe.**
I'd like to get a debug log of Semgrep to inspect when Semgrep crashes or times out. Right now the OCaml core supports logging to a file, but there's no way to tell the Python wrapper to forward the necessary flags to the core to turn on logging.

**Describe the solution you'd like**
Either:
- log by default to some file (e.g. `.se

[2021-03-31 21:19] IagoAbal commented on #2787
@fproulx-boostsecurity The first examples do not work because the dataflow analysis kind of assumes that the _source_ will be a function, it is expecting something like:

[code]
I will fix that so it works also for sources that are object attributes.

Then the problem with `window.location.href` is that it's basically `(window.location).href` and that doesn't match `location.href`. There could be

[2021-03-31 21:32] mschwager commented on #2812
How does it work inside objects or classes?

My first thought is we could consider attributes like function parameters. That is, we don't include an implicit `...` - the following all have different meanings: `func()`, `func(...)`, `func(..., foo="bar", ...)`, etc. What do you think?

[2021-04-01 01:48] mjambon opened #2865 "Upgrade junit-xml -> junit-xml-2"
The issue is that "junit-xml source is not available in PyPI for v1.9". See the original suggestion and patch at: https://github.com/Homebrew/homebrew-core/pull/73902#issuecomment-806632065

[2021-04-01 02:19] mjambon commented on #2862
I made this change to our CI job in charge of creating the homebrew-core: https://github.com/returntocorp/semgrep/pull/2861/commits/2b89c60787c818db4fb43ecbcc3323f328898875

I expect this to make the PR from returntocorp/homebrew-core allowing every r2c member to make fixes. I don't know if it works.

[2021-04-01 07:16] aryx commented on #2859
thx @fasiha, great issue.

[2021-04-01 07:33] aryx commented on #2812
Inside object or classes right now you don't have to put '...', which may not be right.

I think it's better to require '...' for attributes (and probably also for object/classes) to be more consistent.

[2021-04-01 07:40] aryx commented on #2849
ok, let's go with 1. for now. I wrote this code a long time ago, so I don't really remember it.

[2021-04-01 09:50] dkasak commented on #2787
@IagoAbal Slight tangent, but another thing that would be useful is to be able to specify a *parameter* of a certain function as a taint source. This comes up in various web frameworks where functions of a certain name are automagically called upon a HTTP request, e.g. `resource_POST` gets called when someone `POST`s to `/resource` and receives the request as its first parameter, so that parameter

[2021-04-01 09:54] dkasak commented on #2787
And to get back on topic, perhaps this could be made to work with [equivalences](https://semgrep.dev/docs/experiments/overview/#equivalences)? So that the patterns don't have to be duplicated.

[2021-04-01 13:59] mschwager opened #2866 "[python] Type annotation breaks identifier bindings in metavariables"
Originally from this Slack conversation: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1617204624073700

The user noted that the following rule isn't working as expected: https://semgrep.dev/s/0xdbe:sequelise_rawquery_engine. I believe the `query` variable on line 2 should produce a finding. However, if we change the `pattern-inside` to `execute(...)` it works as expected: https://semgrep.

[2021-04-01 14:05] simon-engledew opened #2867 "Invalid SARIF: invocation should be a child of run"
**Describe the bug**

According to the SARIF spec, `invocation` should be the child of a `run`:

https://docs.oasis-open.org/sarif/sarif/v2.1.0/csprd01/sarif-v2.1.0-csprd01.html#_Toc10540933

Currently `build_sarif_output` is nesting it at the root of the document, which is producing SARIF which does not conform to the specification:

https://github.com/returntocorp/semgrep/blob/9a73a142dccfa28199

[2021-04-01 15:48] nbrahms opened #2871 "Metavariable equivalence doesn't work with deep-expression matches between patterns"
**Describe the bug**
Metavariable equivalence appears to fail when comparing a pattern ID variable to a name variable.

**To Reproduce**
See https://semgrep.dev/s/AlXw/

**Expected behavior**
The above snippet should find the code.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**
~P1. User wants to replace https://awesomeope

[2021-04-01 16:36] IagoAbal commented on #2787
@dkasak please open a new issue and provide some more detail for that use case where a parameter is a taint source, thanks! The best is to use https://semgrep.dev/editor to share the example that you would like to work (but it doesn't). You can assign it directly to me.

Regarding `window.location.href`, yes, I think this could be handled with user-specified equivalences indeed. That may be a bett

[2021-04-01 16:59] nbrahms commented on #2866
@mschwager Can you add in the user's priority please?

[2021-04-01 18:34] pabloest opened #2872 "Some links to rule source code return a 404"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. Go to the [XSS ruleset](https://semgrep.dev/p/xss)
2. Click on the “More” link for the first rule listed, “go.lang.security.audit.xss.import-text-template”
3. Click on the “Source for this rule” link
4. This link points to [https://github.com/returntocorp/semgrep-rules/blob/develop/go/lang/security/audit

[2021-04-01 18:38] pabloest commented on #2872
let me know if I should open this on the semgrep-app repo instead

[2021-04-01 21:14] emjin commented on #2601
We've released YAML support! https://semgrep.dev/s/Ppb3

[2021-04-01 21:14] #2601 closed, assigned to emjin

[2021-04-01 21:45] dee-see opened #2874 "Do not wait until the end to flush to the output file"
**Is your feature request related to a problem? Please describe.**

When running a scan that's taking several hours to complete I wish I had results to work on while it's running. I'm also afraid that if it crashes at some point after 2 or 3 hours I'm going to lose everything semgrep might have found up to now.

**Describe the solution you'd like**

I have a scan running now sitting at 14/22 rules

[2021-04-01 23:05] dlukeomalley commented on #2782
+1, and we could also take the Craigslist "Saved Search" feature as inspiration (i.e. subscribe to a search query and get notified when new results match your query).

[2021-04-02 07:06] aryx commented on #2787
We could use a special metavariable to tag the tainted parameter, e.g. foo($TAINTED,...)

[2021-04-02 07:07] aryx commented on #2787
But could you give us precise example and
Prcise reference
To API where this would be useful?

[2021-04-02 14:56] mschwager commented on #2865
We have this dependency for what seems like ~100 lines of boilerplate dict -> XML conversion ([`TestCase`](https://github.com/kyrus/python-junit-xml/blob/master/junit_xml/__init__.py#L364)). It's also seen 1 commit in the last 18 months or so, which isn't particularly reassuring. Another option I'd be supportive of is removing this dependency in favor of a function we write (or mostly copy). Less

[2021-04-02 14:56] mschwager commented on #2865
cc @dtrodrigues

[2021-04-02 16:12] #2799 closed, assigned to nobody

[2021-04-02 17:11] fproulx-boostsecurity commented on #2787
In that case, that's for DOM XSS, client-side with React (provided example), but it could apply to many other scenarios. The fact that this can work at file level, vs function level (for normal match mode) is pretty cool. That's really what I see as the real value, improve those injection rules to work minimally cross-function.

[2021-04-02 17:52] mschwager commented on #2837
I think this is less of a `yaml` bug and more of an `include` deficiency - see also: https://github.com/returntocorp/semgrep/issues/1099

[2021-04-02 18:58] ievans commented on #2867
@underyx want to take a look? seems like an easy fix. @simon-engledew would be happy to accept a PR from you as well if you're up for it!

[2021-04-02 19:00] ievans commented on #2874
thanks @dee-see for making this, I was surprised we didn't have this issue already. Seems like an obvious change and I suspect @aryx / @minusworld have some plans to do this already.

Part of the reason we might be that we expect semgrep to be fast and want it to get faster. Is the corpus you are running on public by chance, or is there anything you can share about it? There is a major perf initia

[2021-04-02 19:25] dee-see commented on #2874
I was running it on https://github.com/elastic/kibana with the `p/react` ruleset.

[2021-04-02 19:37] aryx commented on #2874
Cc @emjin

[2021-04-02 23:09] nbrahms commented on #2871
I dug around a bit here, and my RCA was incorrect. Instead, the issue was a combination of:

1. Deep-expression metavariables are not recursively bound, so the `$VALUE` between patterns did not match
2. Deep-expression matching does not navigate into blocks (is this intentional?)

I was able to work around the issue by combining into single patterns, and duplicating the pattern for every level of

[2021-04-02 23:34] nbrahms opened #2878 "[golang] `go func() { ... }` doesn't parse as a pattern"
**Describe the bug**
The `go` keyword seems to break pattern parsing, but not target parsing.

**To Reproduce**
https://semgrep.dev/s/1n85/

**Expected behavior**
Pattern should parse (and match)

**Screenshots**
P1 (prevents rule-writing)

[2021-04-02 23:41] nbrahms commented on #2878
Per suggestion from @colleend , remembering to include the trailing argument invocation makes things parse correctly.

[2021-04-02 23:50] nbrahms opened #2879 "[golang] Deep expressions don't work with `go` keyword"
**Describe the bug**
Deep expression matching doesn't work with `go` statements

**To Reproduce**
https://semgrep.dev/s/kLre/

**Expected behavior**
Pattern should match

**Screenshots**

**What is the priority of the bug to you?**
Unknown priority 😢

[2021-04-02 23:50] nbrahms commented on #2879
See https://r2c-community.slack.com/archives/C018NJRRCJ0/p1617303718081300

[2021-04-03 20:13] ajinabraham opened #2880 "Tools integrating semgrep programatically breaks as the API is being updated on releases."
**Is your feature request related to a problem? Please describe.**
njsscan was using semgrep 0.38 and a recent upgrade to 0.45 breaks tests

[code]

Current njsscan integration with semgrep: https://github.com/ajinabraham/libsast/blob/master/libsast/core_sgrep/helpers.py#L9

**Describe the solution you'd like**

Can we have two sets of APIs?

For seamless integration and maintenance, the semgrep A

[2021-04-05 13:47] mschwager commented on #2866
I didn't get a response for priority from the community Slack

[2021-04-05 14:02] mschwager commented on #2880
cc @mjambon who added the `json_time` functionality (https://github.com/returntocorp/semgrep/pull/2702). Is there a reason this isn't optional and defaulting to `False`?

@ajinabraham you can fix this by adding a `json_time=False` line to your `OutputSettings` call :+1:

[2021-04-05 15:23] nbrahms commented on #2855
@DrewDennison to what level are we supporting this flag?

[2021-04-05 15:25] nbrahms commented on #2784
Thanks for the contribution @arjunkhunti-crest ! I'm assuming that this issue is now closed? If it is not, please reopen. 🙇

[2021-04-05 15:25] #2784 closed, assigned to nobody

[2021-04-05 15:33] nbrahms commented on #2664
@ievans @JoelPagliuca I think for the sake of getting this proper prioritization, I'm going to remove the `bug` label (@ievans unless you see a specific thing in the program that can be fixed to resolve this).

cc. @DrewDennison for feature prioritization.

[2021-04-05 15:45] nbrahms commented on #2866
Looking at https://semgrep.dev/s/Aly0/, it appears that the type annotations cause us to improperly bind the expression hash, rather than the variable AST identifier, to the matched Identifier node.

[2021-04-05 15:52] nbrahms commented on #2841
https://semgrep.dev/s/B4y7/ is a simpler expression of the issue.

[2021-04-05 15:55] IagoAbal commented on #2805
It's a known issue and when this happens inside a function is quick to fix https://semgrep.dev/s/DJyq/, so I' ll do soon. It's trickier to fix for the global const-propagation.

[2021-04-05 15:56] nbrahms commented on #2738
@underyx Do you know the user's priority?

[2021-04-05 15:56] nbrahms commented on #2736
@underyx Do you know the user's priority?

[2021-04-05 15:58] nbrahms commented on #2737
@dlukeomalley let's keep all medium+ external-facing bugs on the customers board 🙇

[2021-04-05 16:10] ajinabraham commented on #2880
I fixed it by adding `json_time`. @mschwager, it would be nice to have a stable API for programmatic integration with semgrep.

[2021-04-05 16:45] ahmsec opened #2882 "Request: support import equivalences for JavaScript"
**Is your feature request related to a problem? Please describe.**
The Semgrep docs describe equivalences for imports, however it appears that this feature isn't supported for JavaScript.
https://semgrep.dev/docs/writing-rules/pattern-syntax/#imports

**Describe the solution you'd like**
Support import equivalences for JavaScript. For example, it would be nice if the pattern `child_process.execSyn

[2021-04-05 17:32] mjambon opened #2884 "Enforce consistent formatting by using ocamlformat instead of ocp-indent on our OCaml repos."
We need to:
* identify the configuration we need (preferably a standard, conservative style with minimal tweaks)
* check that we're getting satisfying results when running ocamlformat on our code
* use it instead of ocp-indent in the pre-commit hook

[2021-04-05 17:51] mjambon opened #2885 "Finish Parse_ocaml_tree_sitter.ml"
We'd like to use some of the features of OCaml that have been added over the last 10 years or so, such as [`type id = private int`](https://ocaml.org/manual/privatetypes.html). Currently we're blocked because semgrep doesn't support them and we use semgrep on our own code base, resulting in semgrep errors during CI.

Alternatively we could:
* tolerate semgrep parsing failures
* not run semgrep at

[2021-04-05 19:03] brendongo commented on #2862
@mjambon afaict that change will make the job open a PR TO the returntocorp/homebrew-core not FROM that repo :D

[2021-04-05 19:18] ievans commented on #1208
go away stale bot

[2021-04-05 19:19] IagoAbal commented on #554
Actually `const` or `final` is mandatory, except for Python/Ruby where it is indeed inferred.

[2021-04-05 19:25] IagoAbal commented on #554
@aryx should we allow this "const" inference for more languages (perhaps we end up with some undesirable false positives?) or should I just make a few clarifications in the docs?

[2021-04-05 21:34] mjambon commented on #2862
oh I see, from this example:
[code]
I didn't know what a "tap" was :-(

I had a quick look at both [dawidd6/action-homebrew-bump-formula](https://github.com/dawidd6/action-homebrew-bump-formula/blob/master/main.rb) and [bump-formula-pr.rb](https://github.com/Homebrew/brew/blob/master/Library/Homebrew/dev-cmd/bump-formula-pr.rb) and I can't say I understand what's going on in there.

Maybe ask how

[2021-04-05 22:28] IagoAbal commented on #1301
I think this is more about typing. To make those two examples work maybe it's not too difficult, but in general we would need a type inferrer for the generic AST. I guess we focus on those two simple cases for now?

[2021-04-05 23:16] #2878 closed, assigned to nbrahms

[2021-04-05 23:16] #2879 closed, assigned to nbrahms

[2021-04-06 07:58] aryx commented on #2880
@mschwager what about we have a semgrep_api_v1.py somewhere, with big comments at the top we can't change the signatures of the functions?

[2021-04-06 08:05] aryx commented on #1301
yep, just make the basic examples work should be enough for now. I hope the work on symbolic expression propagation
can get those for free.

[2021-04-06 08:19] aryx commented on #554
yes maybe we can enable it for more languages, e.g., JS/TS, (even though people should really use const since they can
in those languages).

[2021-04-06 09:07] simon-engledew commented on #2867
@ievans No problem, done! :+1:

[2021-04-06 09:48] underyx commented on #2867
Closed by https://github.com/returntocorp/semgrep/pull/2888

Thanks a lot for the contribution @simon-engledew! We try to publish a release every Tuesday, so this might even go live later today 🙃

[2021-04-06 14:17] aryx opened #2890 "Access generic AST from other languages (Semgrep "API")"
Just an issue to track this.

[2021-04-06 14:18] mschwager commented on #2880
I like it, that sounds good to me :+1:

[2021-04-06 14:30] aryx commented on #2880
For reference, I'm doing something similar on the generic AST side: https://github.com/returntocorp/semgrep/pull/2891
with a generic_ast_v1.atd

[2021-04-06 21:31] #1970 closed, assigned to mjambon

[2021-04-06 21:35] mjambon commented on #1992
Fixed in original grammar on March 3, 2021.

Need to update typescript grammar in semgrep.

[2021-04-06 21:57] mjambon commented on #2034
Fixed on December 15, 2020.

[2021-04-06 21:57] #2034 closed, assigned to mjambon

[2021-04-06 23:20] mjambon commented on #2737
It was a bug in the official typescript implementation. `abstract` and `async` don't go together. It is now reported as such at least since [typescript 4.1.5](https://www.typescriptlang.org/play?ts=4.1.5#code/IYIwzgLgTsDGEAJYBthjAgYge2wg3gFAIIAOAriMgJawKiQzz1gCeAdnSMFABQCUALgQAFKNgC21MAFMAPADds1ACYA+ANyEAvoSA) but it is tolerated in 4.0.x.

We could probably tolerate any combination of modifiers i

[2021-04-06 23:29] mjambon commented on #2737
Closing this because the user will have to fix their code at some point anyway, by removing the `async` keyword occurring next to `abstract`.

[2021-04-06 23:29] #2737 closed, assigned to mjambon

[2021-04-07 00:23] mjambon commented on #2790
Tracked at https://github.com/tree-sitter/tree-sitter-typescript/issues/141

[2021-04-07 00:25] mjambon commented on #2790
In the latest version of the tree-sitter-typescript grammar, this is no longer reported as a parse error, but it is parsed incorrectly.

[2021-04-07 08:04] #2852 closed, assigned to emjin

[2021-04-07 08:51] aryx commented on #2737
Nice, we reach a point where parse errors reported by users are actually legitimate parsing errors :)

[2021-04-07 08:54] aryx commented on #2310
I think we want to use PCRE matching for the inline string matching. That should solve some problems.

[2021-04-07 09:05] aryx commented on #2866
It's because 'query : str = f"stuff"' is parsed as an Assign (Cast(str, Id query), String "stuff")
and so $QUERY matches the whole Cast expression, not just just the Id.
For other languages we don't have the problem because variable declarations and assignments are different constructs
(e.g., let x : int = 1;  vs x = 1) and when we match variable declarations, we allow a variable declaration witho

[2021-04-07 09:45] aryx commented on #2866
Thx matt and nathan for the hints of what was wrong.

[2021-04-07 10:49] #2866 closed, assigned to aryx

[2021-04-07 20:44] mjambon commented on #2792
Hey @Isaac0616. The snippet in https://semgrep.dev/s/7oLv is:
[code]
The second line is just a type expression, which is invalid in this position, [as seen in the typescript playground](https://www.typescriptlang.org/play?#code/MYewdgzgLgBAbgQwDYFcCmEBcMBOaEAm4SAnjNDgJZgDmA2gLowC8MdARAuwDQzsBGPPsHYMA3ACgAgjhwISAHjyFiZCtXoMAfJKA). The following would be valid:
[code]
~~Semgrep is fine with the abov

[2021-04-07 20:44] #2792 closed, assigned to mjambon

[2021-04-07 20:57] #1993 closed, assigned to mjambon

[2021-04-07 20:58] #1994 closed, assigned to mjambon

[2021-04-07 21:00] #2010 closed, assigned to mjambon

[2021-04-07 21:02] #2012 closed, assigned to mjambon

[2021-04-07 21:02] #2013 closed, assigned to mjambon

[2021-04-07 21:03] #2023 closed, assigned to mjambon

[2021-04-07 21:03] #2024 closed, assigned to mjambon

[2021-04-07 21:04] #2025 closed, assigned to mjambon

[2021-04-07 21:32] mjambon commented on #2613
Tracked at https://github.com/tree-sitter/tree-sitter-typescript/issues/142

[2021-04-07 21:45] mjambon commented on #2667
@aryx The pattern `...; 42;` does not match the target `17; 42;` (https://semgrep.dev/s/Q8Jx/). Maybe `...` means "any sequence" of patterns and the following `;` is parsed as the empty statement. Whether it's a bug or not, it's not intuitive to the user and should be changed into something that's not misleading (could be an error or a warning; could be that a semicolon following a `...` statement

[2021-04-07 23:26] mjambon commented on #2736
It was fixed in the tree-sitter grammar. Needs upgrade in semgrep.

[2021-04-07 23:35] mjambon commented on #2738
Tracked at https://github.com/tree-sitter/tree-sitter-typescript/issues/143

[2021-04-08 00:03] mjambon commented on #2841
Tracked at https://github.com/tree-sitter/tree-sitter-typescript/issues/144

[2021-04-08 00:34] mjambon commented on #1950
We need more details on the status of this javascript extension before implementing anything. See activity at https://github.com/tree-sitter/tree-sitter-javascript/issues/154

[2021-04-08 03:53] Isaac0616 opened #2900 "Typescript parsing error: parameter destructuring function type"
**Describe the bug**
Function type with parameter destructuring like `({ x }: { x: number }) => number` would cause parsing error.
The semgrep editor example was a simplified version of the code I encountered.

**To Reproduce**
https://semgrep.dev/s/KWy6

**Expected behavior**
No parsing error.

**What is the priority of the bug to you?**
P1

[2021-04-08 04:47] #2310 closed, assigned to emjin

[2021-04-08 06:26] Isaac0616 opened #2901 "TypeScript parsing error: `export type { SomeThing };`"
**Describe the bug**
semgrep fail to parse the TypeScript: `export type { SomeThing };`
The reproduce example was copied from https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-8.html.

**To Reproduce**
https://semgrep.dev/s/Yg4Q/

**Expected behavior**
No parsing error.

**What is the priority of the bug to you?**
P1

[2021-04-08 07:11] sangwoo-joh opened #2902 "Invalid pattern capture with parenthesis for Python"
**Describe the bug**
When capturing patterns for Python, semgrep ignores parenthesis matching in some cases.

**To Reproduce**
For the code below:

[code]

Pattern: `not $X is $Y`

**Expected behavior**
Do not capture the `not (z(x) is k(y))`, because it is `not ($X is $Y)` pattern.

Since it captures the last closing parenthesis `)` wrongly, it is impossible to write a safe autofix rule to fix th

[2021-04-08 10:11] aryx commented on #2188
still

[2021-04-08 11:35] Sjord commented on #2345
This issue is still relevant and should be prioritized.

[2021-04-08 15:10] emjin commented on #2830
Closing because the tests are too hard to write for YAML; we should have another set of test files

[2021-04-08 15:10] #2830 closed, assigned to emjin

[2021-04-08 16:49] brendongo commented on #2902
@aryx seems like a matching/python parsing issue rather than autofix?

[2021-04-08 16:54] DrewDennison commented on #2704
@Floby thanks for the bug report. We're blocked on tree-sitter supporting unicode. Good news is that @aryx and @mjambon just commit permissions to tree-sitter so it will get fixed eventually but I don't have a definite timeline for you at this time.

[2021-04-08 17:00] zx8 opened #2907 "Search by partial function name"
Apologies if this is already possible, I went through the docs and couldn't find an example of how to do this.

I want to be able to search by _partial_ function name for when I'm doing large scale refactoring to e.g. standardise function names across my entire codebase, for example:

[code]

It would be great if I could somehow search for all functions starting with `fo`, containing `oba`, ending

[2021-04-08 17:04] underyx commented on #2907
I believe [`metavariable-regex`](https://semgrep.dev/docs/writing-rules/rule-syntax/#metavariable-regex) might do what you want! See an example here: https://semgrep.dev/s/okbn/

[2021-04-08 17:11] brendongo commented on #2902
Hi @sangwoo-joh looks like this might be a little difficult to fix because we currently don't keep track of noop parenthesis in our parser (doing so allows us to treat `not a is b` as semantically the same as `not (a is b)`) so the fix will be a bit complex in the autofix side.

A rule like https://semgrep.dev/s/zk50 that leverages pattern-inside might get you the right autofix while this issue re

[2021-04-08 17:13] zx8 commented on #2907
That'll do the trick... Thank you! 🙂

[2021-04-08 17:13] #2907 closed, assigned to nobody

[2021-04-08 17:32] ievans commented on #2704
@DrewDennison looks like [unicode is fixed](https://github.com/tree-sitter/tree-sitter-java/issues/60), but record extensions aren't yet?

[2021-04-08 18:16] aryx commented on #2704
@emjin fixed the record extension, but we're waiting for tree-sitter people to merge and fix the CI issues they have with tree-sitter-java.

[2021-04-08 23:28] mjambon commented on #2704
Fixed by https://github.com/tree-sitter/tree-sitter-java/pull/72

[2021-04-08 23:42] brendongo commented on #2880
I think if we have https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/semgrep_main.py#L132 actually set fields based on arguments it would work as an API. This function is run in tests intending it to be the entry point for calling from other python files

[2021-04-08 23:42] mjambon commented on #2369
Note that the tree-sitter parser for javascript works:

[code]

[code]

[2021-04-09 00:22] nbrahms commented on #2901
Fixed after merge and integration of https://github.com/tree-sitter/tree-sitter-typescript/pull/145

[2021-04-09 00:26] Isaac0616 commented on #2835
I generate a json file with
[code]

The rule
[code]
would be more than 10 times slower than
[code]
on my machine.

If the json file is larger, the performance difference would be larger.

semgrep.dev: https://semgrep.dev/s/9q0R

[2021-04-09 01:27] mjambon commented on #2396
What's the summary of the findings? Is it that were hitting a timeout only sometimes, due to a job being always slow?

[2021-04-09 05:19] sangwoo-joh commented on #2902
Hi @brendongo , thanks for your update!
I will use the pattern-inside rule until the issue will be fixed.
Thank you!

[2021-04-09 11:02] aryx commented on #2882
After those PRs, semgrep will handle aliasing of functions imported via require() or import/from.

[2021-04-09 12:48] #2882 closed, assigned to aryx

[2021-04-09 13:07] aryx commented on #2835
Ok, this kind of things should go faster once we shipped the new experimental matching engine.
If you use semgrep --experimental on the command-line, you'll see this test goes from 5s to 0.5s.

[2021-04-09 13:28] aryx commented on #2882
This works now on develop: https://semgrep.dev/s/kLwz/?version=develop

[2021-04-09 17:00] sabrinabrogren opened #2911 "Generic pattern matching on function calls (understanding parenthesis)"
**Describe the bug**
With generic pattern matching, it seems that multiline functions aren't correctly parsed when the arguments to those functions also have parenthesis.

**To Reproduce**
https://semgrep.dev/s/xY9P

**Expected behavior**
The match should include the whole function (highlighting on lines 34-36 should go down to line 38).

**What is the priority of the bug to you?**
P2 (regular bug

[2021-04-09 18:07] IagoAbal commented on #2787
The first examples are now fixed: https://semgrep.dev/s/fproulx-boostsecurity:dom-xss-taint-tracking?version=develop
Now finishing up a PR that will add some basic cross-function capabilities!

[2021-04-09 22:56] IagoAbal commented on #2849
PR #2881 effectively fixes this problem, although it does it in a different way than it was proposed here. I'm closing the issue but please reopen if you disagree.

[2021-04-09 22:56] #2849 closed, assigned to nobody

[2021-04-10 07:14] aryx commented on #2396
I think one of our react rule has a pattern: $STYLE, which matches too many times in a file.
We need to remove it or rewrite the rule. cc @minusworld

[2021-04-10 19:51] #2321 closed, assigned to nobody

[2021-04-11 16:26] ankush commented on #2159
I can work on this if no one is working on it.

[2021-04-12 08:31] aryx opened #2914 "[JSON] Can not parse single field pattern"
https://semgrep.dev/s/zko1

[2021-04-12 08:32] aryx commented on #2835
BTW, you should be able to use 'json' instead of 'generic' once I fix https://github.com/returntocorp/semgrep/issues/2914

[2021-04-12 09:32] #2914 closed, assigned to aryx

[2021-04-12 10:27] aryx opened #2917 "[Java] support ellipsis in for header (for(...) { ... } )"
https://semgrep.dev/s/okRN

[2021-04-12 12:20] #2917 closed, assigned to aryx

[2021-04-12 13:28] aryx opened #2919 "[JSON] partial single field with a metavar for a key should match any key"
https://semgrep.dev/s/bDge?version=develop

[2021-04-12 13:29] aryx commented on #2919
related to https://github.com/returntocorp/semgrep/issues/2835

[2021-04-12 17:33] ievans commented on #2159
@ankush sounds great! I can review your PR once it's ready.

[2021-04-12 18:08] brendongo commented on #2865
Closed by https://github.com/returntocorp/semgrep/pull/2895

[2021-04-12 18:08] #2865 closed, assigned to brendongo

[2021-04-13 07:56] #2919 closed, assigned to aryx

[2021-04-13 09:05] aryx commented on #2835
Note that I've fixed things so that you can also use the 'json' language instead of 'generic' for your example:
https://semgrep.dev/s/bDge?version=develop

[2021-04-13 09:48] aryx opened #2925 "Report parsing error location for errors in yaml files in the playground"
When there is a mistake in a yaml file in the playground, it's very hard to know what is wrong.

[2021-04-13 09:54] aryx commented on #2925
for example what is wrong with this rule:
[code]
if you put that in the playground it just says invalid yaml pattern, but no error location (the error is the '-' in the pattern: line)

[2021-04-13 09:55] aryx opened #2926 "[Yaml] the '- "String"' YAML pattern does not match the yaml content"
https://semgrep.dev/s/GWpn

[2021-04-13 09:56] aryx commented on #2926
slack conversation: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1618305077001600

[2021-04-13 10:32] aryx commented on #2466
possible related issue discussed on slack: https://r2c-community.slack.com/archives/CK86BJ5DW/p1617739952157800

[2021-04-13 10:34] aryx commented on #2466
closing, duplicate of #2432

[2021-04-13 10:34] #2466 closed, assigned to nobody

[2021-04-13 10:34] aryx commented on #2432
related slack issue? https://r2c-community.slack.com/archives/CK86BJ5DW/p1617739952157800

[2021-04-13 17:23] fasiha opened #2929 "Getting semgrep-core in pipenv"
## Describe the bug
Forgive me, I'm not sure if this should be a bug issue or a feature request issue, it's more of a request for pointer to documentation—I see [here](https://github.com/returntocorp/semgrep/tree/develop/semgrep#semgrep-cli-development) that

I'm running into this when attempting to build a [conda recipe](https://github.com/conda-forge/staged-recipes/pull/14494#issuecomment-817081

[2021-04-13 18:13] clintgibler commented on #744
@mschwager already gave a great overview and description, but here's some more details about how I'm imagining it at least.

Here are some specific use case examples of what I'd like to be able to do, taking Java routes as an example:
https://semgrep.dev/s/clintgibler:java-routes

I'm being a bit handwavy about what the JSON results should look like and I'm not tied to it, it could just be raw AST

[2021-04-13 19:24] mschwager commented on #2929
Ahh, yeah I've encountered this before. If you're installing from source you'll need to bring your own `semgrep-core` and `spacegrep` binaries. If they're in a non-standard location you can use `SEMGREP_SKIP_BIN` to proceed with the installation as long as they're available in the `PATH` for `semgrep` to use post-installation. So something like the following:

[code]

I need to update our docs wit

[2021-04-13 19:31] #2926 closed, assigned to emjin

[2021-04-13 19:49] fasiha commented on #2929
Thank you @mschwager!! I will look into how to make the conda recipe pull the wheel instead of the tarball, which is how `grayskull` the PyPI→conda recipe generator seems to work.

[2021-04-13 22:04] mjambon opened #2932 "Add support for "nosem" comments in generic mode"
Questions to answer before working on this:
* What kind of annotations are supported when using specific languages with the semgrep-core matching engine?
* What component takes care of identifying and silencing matches containing a nosem annotation?
* Are the same requirements applicable to spacegrep (generic mode)?

What we can do within spacegrep includes:
* Filter out matches based on some cond

[2021-04-13 22:31] minusworld commented on #2932
This may be relevant: https://github.com/returntocorp/semgrep/pull/2574

I believe that `nosem` comments do not work with regex-only rules, though.

[2021-04-13 23:07] daghan opened #2933 "Searching for rules is hard"
**Is your feature request related to a problem? Please describe.**
When I search for "Flask xss" it only returns [nothing](https://semgrep.dev/r?q=flask%20xss&lang=go,javascript,python,java,yaml,typescript,generic,regex,js,kt,json,ocaml,none,ruby,php,c&sev=ERROR,WARNING,INFO&tag=dgryski.semgrep-go,ajinabraham.njsscan,dlint,security,nodejsscan,best-practice,correctness,identical-id,identical-patter

[2021-04-14 02:23] mjambon commented on #2900
@nbrahms I created the `needs-upgrade` label for those fixes in tree-sitter grammars that need to be propagated to semgrep. This is to indicate that the issue shouldn't be closed.

[2021-04-14 10:48] aryx commented on #2911
I think you reached a core limitation of generic/spacegrep. It works on ispacing/ndentation, it does not really understand the program,
so it does not really understand parenthesis either.

[2021-04-14 14:05] mschwager commented on #2929
@fasiha heads up: [this README](https://github.com/returntocorp/semgrep/blob/develop/semgrep/README.md) has been removed in favor of our [docs here](https://github.com/returntocorp/semgrep/blob/develop/doc/README.md). Thanks for catching this!

I'll leave this issue open until https://github.com/conda-forge/staged-recipes/pull/14494 is in just in case there's anything else necessary on our end :+1

[2021-04-14 15:52] minusworld commented on #2806
Closed by https://github.com/returntocorp/semgrep/pull/2923

[2021-04-14 15:52] #2806 closed, assigned to minusworld

[2021-04-14 15:53] minusworld commented on #2806
@Isaac0616 - I ended up doing comma-separated since that was a bit easier to implement. Please let us know if it works as expected. Thanks! 👍 🙏

[2021-04-14 20:02] #2339 closed, assigned to nobody

[2021-04-14 20:03] #2343 closed, assigned to nobody

[2021-04-14 20:09] mjambon commented on #2911
A solution is to use indentation in the pattern:
[code]
https://semgrep.dev/s/GW9n/

So you get fewer false positives but you may get false negatives if the code uses a weird indentation. The following matches ok:
[code]
but this doesn't match:
[code]
--> https://semgrep.dev/s/R8OK

[2021-04-14 20:19] mjambon commented on #2911
Adding indentation to the pattern always makes it more specific. That's the best we can do given how spacegrep works.

I'm labeling this as a documentation issue. Task:
* add an example to the cheatsheet demonstrating the use of a indented pattern

[2021-04-14 22:07] Isaac0616 commented on #2806
Thanks! I will check it out.

[2021-04-15 00:09] brendongo commented on #2862
Update: opened an issue on homebrew/brew to see if opening a PR from an org is a feature they would support me adding to brew https://github.com/Homebrew/brew/issues/11143

[2021-04-15 03:17] #2154 closed, assigned to nobody

[2021-04-15 12:28] #2296 closed, assigned to nobody

[2021-04-15 12:49] #2704 closed, assigned to aryx

[2021-04-15 12:53] aryx commented on #2728
@nbrahms isn't your recent change supposed to also fix that? I tried on develop but does not seem to work.

[2021-04-15 14:44] mschwager commented on #1404
After thinking about this a bit more, I think this comment (https://github.com/returntocorp/semgrep/issues/1404#issuecomment-667254293) mostly gets it right, except for one thing: the patterns should look more like valid JSON. E.g.

[code]

[code]

[code]

[code]

This is a bit more verbose, but it makes patterns look more like the language itself, like our other languages.

We could probably foll

[2021-04-15 14:46] aryx commented on #2704
This works now on develop: https://semgrep.dev/s/2xeD?version=develop
Should  be part of the next semgrep release 0.47.0

[2021-04-15 15:15] sabrinabrogren commented on #2911
Thanks for taking a look @aryx and @mjambon, that makes a lot of sense. I'll take another shot at making this rule work!

[2021-04-15 16:57] #2925 closed, assigned to emjin

[2021-04-15 19:17] mjambon commented on #2911
@sabihb I see the error message "A gradient between the same two colors is just a solid color." I suppose you want a pattern like `linear-gradient($ANY, $COLOR, $COLOR)` but this won't work with spacegrep because the metavariables can only capture single words (alphanumeric sequences).

Maybe a workaround is to enumerate the different ways to specify a color:
[code]
or
[code]
or
[code]
etc.

[2021-04-15 19:37] mjambon opened #2947 "Java naming bug"
**Describe the bug**
Matching discrepancy.
Pattern:
[code]
Target:
[code]

**To Reproduce**

 https://semgrep.dev/s/PpKp/

**Expected behavior**

There is a match in the first `while` block but I wasn't expecting one. There's (correctly) no match in the second `while` block, despite being identical to the first one.

**Screenshots**

![image](https://user-images.githubusercontent.com/343265/114927

[2021-04-16 01:01] fasiha commented on #2929
Small question: at [ocaml-tree-sitter/scripts/install-tree-sitter-lib line 64](https://github.com/returntocorp/ocaml-tree-sitter/blob/8f2515c1ccbacff797c8d884379f8219658cc5fd/scripts/install-tree-sitter-lib#L73): `sudo make install` fails both on Linux CI ([log](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=304533&view=logs&j=6f142865-96c3-535c-b7ea-873d86b887bd&t=22b06

[2021-04-16 01:06] colleend opened #2949 "Ruby Interpolated Strings Matching"
**Describe the bug**
If you assign a Ruby interpolated string to a variable and attempt to match that assignment, semgrep does not detect a match.

**To Reproduce**
https://semgrep.dev/s/zkLl/

**Expected behavior**
There are no matches, but I would expect the pattern to match the first line in the target.

[2021-04-16 01:16] emjin commented on #2949
I think this is a duplicate of https://github.com/returntocorp/semgrep/issues/2826? Not that I've gotten around to it, but I can take a look

[2021-04-16 04:30] fasiha commented on #1330
We're interested in running semgrep on Windows natively (Docker and WSL won't work for us unfortunately). I've been working with [OCaml for Windows](https://fdopen.github.io/opam-repository-mingw/) which, with a couple of changes to a couple of build scripts, seems to be working well.

I ran into this though:
[code]
It looks like [parmap](https://github.com/rdicosmo/parmap/issues/76)'s `fork`-base

[2021-04-16 08:15] #2787 closed, assigned to IagoAbal

[2021-04-16 13:37] mschwager commented on #1330
Hey @fasiha,

Thanks for looking into this! If you're interested in continuing to push this forward, then we could take a look at the changes. Supporting Windows is an additional maintenance burden for us, but it does open the door for Semgrep to run on many many more systems. There's no guarantee that we could take on that maintenance right now, but if the changes are fairly minimal, and we can l

[2021-04-16 13:47] mschwager commented on #1330
To add a bit more color to the overall objective, I think, by far, the biggest hurdle to running Semgrep on Windows is getting the OCaml binaries compiled and released. Our Python code should currently work on Windows as-is. Of course, there may be a few bugs here and there, but overall I think it should Just Work.

Semgrep installation can be forced on Windows if you'd like to test things out - y

[2021-04-16 15:12] fasiha commented on #1330
Thanks for the detailed notes @mschwager!

Thanks for confirming, this matches my expectation. Here's how I got to it:

1. Download [Win10 evaluation images](https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/) from Microsoft.
2. Install [OCaml for Windows](https://fdopen.github.io/opam-repository-mingw/) which is—this is important—a *clone* of Cygwin with *all-native* versio

[2021-04-16 17:09] becojo opened #2954 "Invalid SARIF file: invocation is missing required property executionSuccessful"
**Describe the bug**
The SARIF report that semgrep generates is missing the required boolean property `executionSuccessful` on invocation objects. The invocation objects currently only contain the `toolExecutionNotifications` property.

[code]

**To Reproduce**

1. Create an empty SARIF report:
[code]
2. Upload it on https://sarifweb.azurewebsites.net/Validation

3. View the validation errors:

![

[2021-04-16 19:19] IagoAbal commented on #2787
@fproulx-boostsecurity All your examples should now work except for `location.href` still not matching `window.location.href`. I think @dkasak suggestion to use equivalences is a good one, let us know otherwise! Also note that the cross-function support is still very basic, so your example works because dangerous() is defined before render(), if it were defined after then it wouldn't work. Should

[2021-04-16 21:20] mschwager commented on #1330
This is perfect!

Moving forward here would look something like:

- Gather all the commands necessary to build these binaries from scratch on Windows
- Create a new Github Action workflow for building on Windows, similar to [Linux and OSX](https://github.com/returntocorp/semgrep/blob/develop/.github/workflows/build-tests.yml)
- Ensure the binaries are properly tested and packaged in the Windows wo

[2021-04-16 23:23] mjambon commented on #1330
Parmap uses `fork()`. It's used by the `-j` option of semgrep-core for processing multiple input files in parallel. If we disable it, perhaps by installing a dummy parmap library when on Windows, we could then get semgrep-core to build and run on Windows. I don't know if this option is even used by the python wrapper at the moment or what the python wrapper uses for running tasks in parallel.

Ano

[2021-04-16 23:33] mjambon opened #2956 "Eliminate sudo from the build"
Various people are annoyed by the need for `sudo` to build semgrep. I know it's used to install libtree-sitter. I don't think it's used for anything else but we need to check.

* [Build for Conda](https://github.com/conda-forge/staged-recipes/pull/14494#issuecomment-820837740)
* [Build for Windows](https://github.com/returntocorp/semgrep/issues/1330)

[2021-04-17 03:36] fasiha commented on #1330
Thanks for the notes @mjambon!!

I am placing myself entirely in your hands for both the `parmap` and segfault-vs-mem-leak issues ☺️ but, from my perspective (which is: first Windows build, then cross-platform conda build), the sudo isn't a big deal because we can patch that :) I'm testing that right now on the conda Linux CI.

And, because OCaml for Windows is a Cygwin environment, those Bash scr

[2021-04-17 08:07] priv-kweihmann opened #2957 "Provide a LICENSE file along with pypi release"
Currently it can only be assumed from meta data under what license the pypi release is shipped.
INAL but I think LGPL somehow requires to ships the LICENSE text along with a release, which isn't the case if just pulled from pypi

[2021-04-17 13:20] aryx commented on #2956
maybe max can help?

[2021-04-17 14:00] dkasak commented on #2787
ftr, I'm planning to, just a bit busy right now!

[2021-04-17 16:26] ankush commented on #2159
@ievans please review the linked PR ^

[2021-04-18 22:30] #2375 closed, assigned to nobody

[2021-04-19 12:10] aryx commented on #2947
This is because in the first while, the cond is unresolved, and we currently allow an unresolved variable to match a resolved variable (see the comment in Matching_generic.equal_ast_binded_code why) if they have the same name.

The second is not matching because the cond is incorrectly resolved to the cond declared in the previous while. We should implement a blocking scope in Naming_AST.ml, which

[2021-04-19 15:38] aryx opened #2963 "[JSX] support ... in text body"
https://staging.semgrep.dev/s/rZbA

[2021-04-19 15:39] aryx opened #2964 "[JSX] allow metavar in attribute values"
https://staging.semgrep.dev/s/bo0r

[2021-04-19 15:43] tuhaolam opened #2965 "experimental feature not work good on semgrep 0.47.0"
[mqq@VM_0_74_centos ~/semgrep/tests/experiments]$ /usr/local/bin/semgrep -f test_autofix.yaml test_autofix.py --dryrun --autofix
semgrep error: Invalid rule schema
  --> test_autofix.yaml:1
1  | rules:
2  | - id: use-sys-exit
3  |   pattern: exit($X)
4  |   message: |
5  |     Use `sys.exit` over the python shell `exit` built-in. `exit` is a helper
6  |     for the interactive shell and is not be

[2021-04-19 16:06] #1007 closed, assigned to aryx

[2021-04-19 16:10] #2965 closed, assigned to nobody

[2021-04-19 16:11] tuhaolam commented on #2965
It's fixed with correcting yaml syntax.

[2021-04-20 09:34] zabbal opened #2971 "Make blocking setting more fine-grained"
**Is your feature request related to a problem? Please describe.**
Not really, would be nice to have more flexibility though.

**Describe the solution you'd like**
There's 1:1 correspondency between projects and policies and blocking is policy property. So either all the rules in the policy are blocking or none of them. However, there's more granularity withing the policy (at least in web-UI) - in

[2021-04-20 11:26] underyx opened #2972 "nosemgrep comment doesn't work with pattern-regex"
**Describe the bug**

Rules using pattern-regex (such as [generic.secrets.security.detected-aws-account-id](https://semgrep.dev/r/generic.secrets.security.detected-aws-account-id)) cannot be muted with a `# nosemgrep` comment.

**To Reproduce**

https://semgrep.dev/s/okZ6

**Expected behavior**

The nosem comments should be picked up so these lines don't return a finding.

**What is the priority o

[2021-04-20 11:47] underyx commented on #2972
I think that’s probably what causes the bug — when a rule uses regex to search, we probably look for nosemgrep comments only within the regex match, which obviously cannot have the comment inside it :sweat_smile: Here are two samples:

- rule uses regex search, nosemgrep is broken: https://semgrep.dev/s/okZ6
- rule uses normal Semgrep pattern, nosemgrep works: https://semgrep.dev/s/2bDq

[2021-04-20 15:47] mschwager commented on #2932
I thought, per https://github.com/returntocorp/semgrep/pull/2574, `nosem` does work in generic mode?

Anyway, https://github.com/returntocorp/semgrep/pull/2973, adds support for `pattern-regex` rules.

[2021-04-20 17:27] #2972 closed, assigned to mschwager

[2021-04-20 18:28] mschwager commented on #2956
Looking at the `sudo` usage, here's the tail end of the `make` command:

[code]

And here's `sudo make install`:

[code]

Naturally this command will need `sudo` because it's performing `install` on root-owned portions of the filesystem. My question is: can we avoid the `make install` altogether? We have the resultant libraries we need (`libtree-sitter.a` and `libtree-sitter.so.0.0`). Can we put t

[2021-04-20 21:33] fasiha commented on #1330
Some more information and a request for help 🙏!

Since I couldn't get farther with a native Windows build due to `parmap` unavailable on MinGW (which is what OCaml for Windows uses to produce native stand-alone Windows builds), I switched gears to see if I could use full Cygwin to get a build that depends on cygwin1.dll. I understand  this might not be a long-term solution for, e.g., conda, but wo

[2021-04-20 22:05] colleend commented on #2949
awesome! and yep, seems like the same issue

[2021-04-20 22:07] colleend commented on #2971
Thanks for filing an issue! We'll look into having more fine-grained control regarding blocking/non-blocking for rules in a policy. This isn't in our roadmap this quarter, but we'll eventually get to it 👍

[2021-04-21 07:22] #2753 closed, assigned to emjin

[2021-04-21 08:01] aryx opened #2977 "Improve UX to help user fix their complex semgrep patterns (report partial matches, debugger mode, etc.)"
Kurt recently had troubles to fix his semgrep pattern:
https://semgrep.dev/s/e42d/

He thought it was related to spacing, but semgrep actually ignores spacing, so the main issue is that his pattern was mostly right
but he didn't have a clue which parts of the pattern were too restrictive.

The correct pattern is: https://semgrep.dev/s/0nZB/
So the goal of this issue is how to help the user goes fr

[2021-04-21 08:08] aryx commented on #2977
There was 3 fixes to the original pattern:
 - (a) a missing '...' between 2 statements, which is not obvious
 - (b) the metavariables were wrong
 - (c) a weird semicolon that prevented the match (this is a real bug that we need to fix separately)

Here is the procedure I followed to fix his rule/pattern:
 - (1) try his rule under the Debugger mode; See that the "and is inside" pattern correctly ma

[2021-04-21 08:10] aryx commented on #2977
For (a), the problem is that the pattern was basically `foo(); int $X = 2;` which will not match `foo(); int a = 1, b = 2` because
internally we rewrite multiple declaration in separate declarations, so really the final code is `foo(); int a = 1; int b = 2;` and so you need now the '...' with `foo(); ... int $X = 2`.

[2021-04-21 20:55] #2387 closed, assigned to nobody

[2021-04-21 21:10] brendongo commented on #2957
Will go in the next release @priv-kweihmann thanks for filing the issue

[2021-04-22 00:33] Isaac0616 opened #2979 "Semgrep playground seems to show results in the benchmark program"
**Describe the bug**
Semgrep playground seems to show results in the benchmark program.
In addition, executing the pattern `$ANY` would result in the following error message.

**To Reproduce**
https://semgrep.dev/s/rAwJ
https://semgrep.dev/s/yzrA

**Expected behavior**
Only show the results of the test code

**Screenshots**
![Screen Shot 2021-04-21 at 5 30 05 PM](https://user-images.githubusercont

[2021-04-22 01:02] Isaac0616 opened #2980 "[Playground] Very general pattern `$XXX` causes parsing error in Python on internal benchmark-target.py file"
**Describe the bug**
Using the pattern `$ANY` would cause parsing error in some Python code.
Changing the pattern to `$ANY(...)` would cease the error.
Not sure what is the exact code causing the issue because the error message seems to always say the error is on line 1.

**To Reproduce**
https://semgrep.dev/s/yzrA/

**Expected behavior**
`$ANY` does not cause parsing error.

**What is the priorit

[2021-04-22 01:03] Isaac0616 commented on #2979
Actually, the second one seems to be a separated issue, so I filled #2980.

[2021-04-22 02:44] Isaac0616 opened #2981 "semgrep fails to parse empty yaml file"
**Describe the bug**
semgrep will through the parse error if the target yaml file is empty.

**To Reproduce**
Can't not reproduce in the playground.
Can reproduce by `semgrep --verbose --pattern 'test:' --lang yaml empty.yaml`

**Expected behavior**
No error.
It seems that other languages (at least Python) won't throw error for the empty file.

**What is the priority of the bug to you?**
P2

**Env

[2021-04-22 03:28] Isaac0616 opened #2982 "Python parsing error: f-string + multiple colons"
**Describe the bug**
It is a corner case.
`f"{td:%Y-%m-%d %H:%M}"` cause parsing error at the second colon where `td` is `datetime` object.
(Similar code `"{td:%Y-%m-%d %H:%M}".format(td=td)` won't).

**To Reproduce**
https://semgrep.dev/s/Nr9N

**Expected behavior**
No error.

**Priority**
P1

[2021-04-22 04:00] Isaac0616 commented on #2835
@aryx Is the progress of experimental matching engine tracking somewhere?
I am pretty excited about this feature.

[2021-04-22 04:29] fasiha commented on #1330
Sorry to spam everyone on the thread again 🙇. I updated the [comment above](https://github.com/returntocorp/semgrep/issues/1330#issuecomment-823614219) because we found a fix for the dllctypes_stub.so issue and were able to get binaries on Cygwin (!!!), but then ran into some unexpected exceptions when running Semgrep from the Python installation.

Any tips would be most appreciated! Thank you all

[2021-04-22 07:11] aryx commented on #2426
:wave:

[2021-04-22 09:09] #2867 closed, assigned to nobody

[2021-04-22 13:23] mschwager commented on #1330
Amazing! Nice work!

The only `End_of_file` I see in `semgrep-core` is:

[code]

The most curious line to me is: `(* '... +1 do'  cos input_line dont return the trailing \n *)`.

Could this be a Windows vs. Unix line ending issue? E.g. `\r\n` vs. `\n`?

Or maybe somehow related to https://github.com/returntocorp/semgrep/issues/2237?

cc @aryx who's more familiar with this code.

[2021-04-22 13:25] YakDriver opened #2985 "Markdown Support"
**Is your feature request related to a problem? Please describe.**
I want to use semgrep to find and fix problems in Markdown documentation.

We use semgrep extensively in the [Terraform AWS Provider](https://github.com/hashicorp/terraform-provider-aws) to enforce code conventions and style in Go code. It would be awesome to use the same tool, which is already part of our CI, to help bring consist

[2021-04-22 14:38] aryx opened #2986 "Support break/continue in the IL"
Right now we don't handle correctly code using break or continue in our dataflow analysis.
We need to extend AST_to_IL.ml to handle those constructs.

Here is a simple break.c file:
[code]
If you do semgrep-core -dump_il break.c
you'll see some Todo for this construct:

[code]
Instead we need to convert those constructs in extra labels and Goto (see IL.ml).

[2021-04-22 15:03] fasiha commented on #1330
Ohh, I wonder if it’s something related to shell ARG_MAX or max file name lengths or any number of Windows vs Unix differences, let me try that angle!

I’m also wondering if it’s possible for me to share this Windows image containing everything so you could poke around—it’s a Parallels image downloaded from Microsoft a week or two ago so it should be good for another couple of weeks (these expire

[2021-04-22 18:05] minusworld opened #2987 "spacegrep error when parsing a markdown file"
**Describe the bug**
spacegrep encounters an error when parsing the markdown file in issue https://github.com/returntocorp/semgrep/issues/2985.

**To Reproduce**
1. ❌  This is the original issue with a reduced pattern for easier debugging. This fails: https://semgrep.dev/s/ljGo/
2. ✅  Removing a big chunk of the markdown file works: https://semgrep.dev/s/YgJd/
3. ❌  Removing each line until it fai

[2021-04-22 18:08] minusworld commented on #2985
👋

I've used `generic` to parse Markdown files before, and your approach seems perfectly fine.
It looks like the engine we use to parse text for `generic` mode is having trouble with that Markdown file. I've filed an issue here: https://github.com/returntocorp/semgrep/issues/2987.

I'll leave this open as Markdown support is independent of a bug in `generic`. However, once that bug gets addressed

[2021-04-22 18:09] minusworld commented on #2987
Also, I tested this locally on the CLI (version 0.48.0) and it fails for the listed examples

[2021-04-22 18:16] mjambon commented on #2932
So yes, nosem is supported in generic mode. I haven't looked into the implementation, which is in the python wrapper.

Here's what works and doesn't work:

![image](https://user-images.githubusercontent.com/343265/115765966-3cf5ea00-a35c-11eb-903b-8df7a3a281d5.png)

https://semgrep.dev/s/plDe

[2021-04-22 18:42] mjambon commented on #2932
I think this will work in most cases, so I'm making this issue low priority.

At some point, we should improve this and document it, for the generic mode at least. This is why I leave the issue open.

[I just realized `nosem` was deprecated, so I'm now referring to it as `nosemgrep`]

I suggest:
* in generic mode, treat any line containing the word `nosemgrep` or the word `nosemgrep` followed by a

[2021-04-22 19:13] mjambon commented on #2956
@mschwager ocaml-tree-sitter's `configure` script writes the values of `TREESITTER_INCDIR` and `TREESITTER_LIBDIR` environment variables into files `config.sh` (for bash scripts) and `config.mk` (for makefiles). It seems this config is not taken into account by `scripts/install-tree-sitter-lib`, but maybe that's what we should do. Something like this:
[code]

[2021-04-22 19:19] mschwager commented on #2932
To try and disambiguate `nosem` functionality from random `nosem` strings in code, e.g. `func_nosemblance_of_reality(arg)`, we currently require a space before the keyword. E.g. this example works as expected: https://semgrep.dev/s/2bgr/

It's a bit of a shortcoming, or at least a trade-off, that allows it to support arbitrary languages at the cost of semantic comment meaning.

[2021-04-22 19:37] mjambon opened #2989 "Homebrew package: check that we install a compatible version of libtree-sitter"
Regarding the use of homebrew's package to install libtree-sitter (runtime library linked against `semgrep-core`), [I wrote](https://github.com/returntocorp/semgrep/pull/2969#issuecomment-825128090):

This issue is for following up on the pull request mentioned above, which has already been merged and might work just fine until tree-sitter release `0.20.0`.

[2021-04-22 19:41] brendongo commented on #2989
Oh good to know. I'll see if we can pin the dependency somehow

[2021-04-22 21:23] colleend commented on #2982
Thanks for filing this issue! Would you happen to know what priority this bug is for you?

[2021-04-22 21:27] colleend commented on #2981
Thanks for filing this issue! We'll solve this issue as soon as possible, although because it is low priority it may take us some time.

[2021-04-22 21:35] colleend commented on #2980
Interesting, using the metavariable $ANY as a pattern doesn't seem to cause an error with any other language. Is there a specific code pattern that you're trying to use `$ANY` to catch?

[2021-04-22 21:37] colleend commented on #2979
Thanks for filing this issue! I've also noticed that the playground has this error, and filed it separately in a private repository. Thanks for catching this and bringing this to our attention 👍

Replicate of https://github.com/returntocorp/semgrep-app/issues/2326

[2021-04-22 21:38] #2979 closed, assigned to nobody

[2021-04-22 21:54] mjambon commented on #1330
I don't see symlinks for these files on my ubuntu/linux machine, just regular files. I'm on dune 2.8.2. The installation of the spacegrep files into .opam is done with `dune install`, which is why I think it's an issue with dune.

The `_build` folder is managed exclusively by dune, so yes, it seems to be an issue with some version of dune on Windows.

[2021-04-22 22:00] mjambon opened #2991 "yaml parsing: End_of_file exception on Windows"
[code]

See [original report](https://github.com/returntocorp/semgrep/issues/1330#issuecomment-823614219).

[2021-04-22 22:17] Isaac0616 commented on #2982
It is not super common for us, so probably P1.

[2021-04-22 22:20] Isaac0616 commented on #2980
It is from the discussion of a workaround: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1617825363120300.

[2021-04-22 23:03] Isaac0616 opened #2992 "Python import alias"
**Describe the bug**
Not sure whether it is a bug, intended behavior, or should be a feature request.
For the pattern `import $X.function`, `$X` will only match one level of modules.
For example, it matches `import x.function` but not `import x.y.function`.
In contrast, for the pattern `$X.function(...)`, `$X` would match multiple level of modules.
For example,
[code]
#1771 seems to be a relevant

[2021-04-22 23:55] ahmsec opened #2993 "Typescript `export default` classes not matched"
**Describe the bug**
Semgrep fails to match a TypeScript class declaration that's prefixed by `export default`. On the other hand, Semgrep does match if the prefix is just `export`, or if there's no export prefix.

**To Reproduce**
https://semgrep.dev/s/ahmsec:ts_export_default_not_detected

**Expected behavior**
It should be possible to construct a Semgrep rule that matches a TypeScript class dec

[2021-04-23 00:01] colleend commented on #2954
Thanks for filing this issue! We currently aren't putting much points into supporting SARIF output right now, but it will be on our roadmap Q2. We'll get to this issue then!

[2021-04-23 00:36] mjambon commented on #2932
Requiring a space is not an awful trade-off, but I think we should be able to support `//nosem` (without a space).

Zero-width assertions are supported by python regexps and by libpcre, so we could have a simple regexp that ensures that the string `nosem` is not part of a larger word. The [baked-in shortcut is `\b`](https://www.regular-expressions.info/wordboundaries.html) e.g. `\bnosem\b` but oth

[2021-04-23 00:37] fasiha commented on #2991
I added some logging to [`core_runner.py`](https://github.com/returntocorp/semgrep/blob/20ef9956e6b848ad10c16e5de206000ba42811b6/semgrep/semgrep/core_runner.py#L231) so that, when I invoke semgrep as
[code]
the full command (`cmd` in [the code](https://github.com/returntocorp/semgrep/blob/20ef9956e6b848ad10c16e5de206000ba42811b6/semgrep/semgrep/core_runner.py#L231)) that Python will shell out to s

[2021-04-23 01:26] mjambon commented on #2991
Indeed it looks like the bad temp folder `/tmp` comes from the call to `Filename.temp_file` by `Common.new_temp_file`. This is surprising because the whole point of such function is to pick a proper folder.

To test this, you can run `utop` (if not installed, use `ocaml` or run `opam install utop` to install it) and check the value of `Filename.get_temp_dir_name ()`:
[code]
^ if you're getting `"/

[2021-04-23 01:32] mjambon commented on #2989
If we can't pin a version, we should ask the [tree-sitter project](https://github.com/tree-sitter/tree-sitter) folks what they think we should do.

[2021-04-23 02:09] fasiha commented on #2991
Ahhh, thank you @mjambon that makes total sense! I built this binary on Cygwin, and it would make sense that the resulting binary only contains the Cygwin module! Otherwise it would be silly to compile all modules in the resulting binary and checking `Sys.os_type` at *runtime* to decide how to make temp files. Hmmm.

From Semgrep's perspective, you're probably not interested in Cygwin and would ra

[2021-04-23 02:19] jedwards1211 commented on #1013
The problem with JS now is the possible syntaxes has forked.  Not only do you have to parse differently depending on if the user is using Flow or not, the user could also be using one the the three Babel pipeline operator proposals or other exotic syntax options.  Tools written in JS that use the user's installed Babel version/config will probably be able to offer better support than semgrep for b

[2021-04-23 02:37] mjambon commented on #2991
"Hmmm" is also my reaction :sweat_smile:. I don't fully understand what's going on. I asked the question here: https://discuss.ocaml.org/t/executable-built-on-cygwin-runs-on-win32-tries-and-fail-to-use-tmp/7726

PS: I'm not clear on the different variants of Windows builds. Until today I thought there were just 2 kinds: MinGW32 and Cygwin, the former requiring Cygwin at compile time but otherwise

[2021-04-23 03:21] fasiha commented on #2991
Ahh you raise a great point—when Cygwin executables ask for /tmp, who translates that to somewhere on the Windows file system? Is it the shell? No, because I can open cmd.exe and run `c:\cygwin64\bin\ls -sh /tmp` which works just fine, and prints out the contents of C:\cygwin\tmp. Sooo I'm guessing that semgrep-core is failing to write to it's "/tmp" because that directory doesn't exist in whateve

[2021-04-23 04:07] fasiha commented on #2991
Copying [`cygpath`](https://cygwin.com/cygwin-ug-net/cygpath.html) from my full Cygwin install to the plain Windows VM where I've installed Semgrep, I see that `cygpath -w /tmp` corresponds to `C:\Users\User\AppData\Local\Programs\Python\Python39\Lib\site-packages\semgrep\tmp`.

This must be because I put cygwin1.dll in `C:\Users\User\AppData\Local\Programs\Python\Python39\Lib\site-packages\semgre

[2021-04-23 05:11] fasiha commented on #2991
I posted a reply there that hopefully is both correct and also useful to the OCaml community. In researching it, I realized that as an alternative to creating a `tmp` subdirectory to be a sibling directory of the directory that contains cygwin1.dll, we could also explicitly set `TMPDIR`, which is what the Unix `temp_dir_name` function looks for. That could be very convenient too, for cases where w

[2021-04-23 07:07] mjambon commented on #2991
Excellent work, @fasiha!

[2021-04-23 23:10] na-ka-na commented on #744
+1 we want to use semgrep, but the first use case for us is - the right ordering of python decorators if multiple of them are used

[2021-04-24 02:52] kenptr opened #2994 "Doesn't find files when running in docker"
**Describe the bug and repro**

Run semgrep with:

`docker run --rm -it --entrypoint sh -v $PWD:/app -w /app returntocorp/semgrep:latest`

Inside the container:

[code]

**Expected behavior**

Work the same way when running locally:

[code]

**What is the priority of the bug to you?**
P0  - wanted to use it in Gitlab CI.

**Environment**

- macos, Big Sur
- Docker Desktop 3.2.2
- `$ docker run --r

[2021-04-26 09:11] aryx commented on #1007
cc @ajinabraham this feature might simplify a few of your rules.
Basically instead of
    - pattern-inside: |
        function $HANDLER(..., $WRITER http.ResponseWriter, ...) {
          ...
        }
    - pattern-inside: |
        function(..., $WRITER http.ResponseWriter, ...) {
          ...
        }

you can now just do function ...(..., $WRITER http.ResponseWriter, ...) { ... }

(this is a

[2021-04-26 09:37] pokle opened #2995 "semgrep autofix breaks format strings"
**Describe the bug**
autofix opens up format string quotes, but doesn't put them back together

**To Reproduce**
( I'm not linking to  https://semgrep.dev because that exposes another bug in the playground! If you want to see for yourself, try https://semgrep.dev/s/v0vY/ - and switch to the advanced tab. You'll find that it has broken the indentation of `fix`, making it inoperable )

pr.yml:
[code

[2021-04-26 10:10] aryx opened #2996 "[Java] can't parse nested annotations patterns"
https://semgrep.dev/s/nqvY

[2021-04-26 10:13] aryx commented on #2996
At least you can abuse is-inside and write it as:
https://semgrep.dev/s/E57N/
original slack discussion: https://r2c-community.slack.com/archives/CK86BJ5DW/p1619428973330600

[2021-04-26 14:04] mschwager commented on #2994
Semgrep does some interesting magic when inside Docker, see also: https://github.com/returntocorp/semgrep/issues/1215.

If you're using a non-standard (i.e. not `/src`) volume location you'll have to set the `SEMGREP_SRC_DIRECTORY` as well. Thanks for the great reproduction steps, I just tested your commands and it works as expected with that environment variable set:

[code]

Another option would

[2021-04-26 14:26] mschwager commented on #2991
Great work @fasiha! Thanks for looking so deeply into this, you're making Semgrep better for everyone :tada:

As you mentioned, it seems we can leverage `TMPDIR` to get around this issue. I suspect setting an environment variable here is preferable vs. patching the build :+1:. Similar to https://github.com/returntocorp/semgrep/issues/2018, this is one of the great things about leveraging these sta

[2021-04-26 16:04] msiebuhr opened #2997 "Autofix in JSON breaks on some documents"
**Describe the bug**
When I use semgrep to autofix certain patterns of JSON, semgrep produces incorrect and invalid JSON documents.

**To Reproduce**
(I've tried using https://semgrep.dev, but it threw away my work a few times, so now I try here...)

[code]
Used on
[code]

By running:
[code]

Produces this output
[code]

**Expected behavior**
[code]
**Workarounds**

The correct output is produced

[2021-04-26 16:16] leonard84 opened #2999 "Editor Examples can leak into each other"
https://semgrep.dev/s/8n8N

Example `Finding Route in Java Application`, is affected by previous selected examples.
![grafik](https://user-images.githubusercontent.com/1151511/116115887-d4d83880-a6ba-11eb-948a-f4e9349f1dc8.png)

![grafik](https://user-images.githubusercontent.com/1151511/116116111-110b9900-a6bb-11eb-9a30-b9c4707e1c7b.png)

To reproduce select `Semgrep vs grep` and then  `Finding R

[2021-04-26 17:00] fasiha commented on #2991
If you'd like to support *both* line endings in the same binary, that would be very cool!

But this behavior might be "correct": we might be seeing this behavior only because the binary was built in Cygwin, so it only supports Unix line endings, similar to how it would support only Windows line endings if it was built as a native-Windows executable? If this is the case, I think you can close this

[2021-04-26 17:01] colleend commented on #2995
Thanks for filing this issue! We really appreciate it 🙏  Currently our autofix feature is in the alpha stage, and we're not putting many points in supporting it. However, we will get to this issue as soon as possible!

[2021-04-26 17:02] nbrahms commented on #2996
@aryx Do you have user prioritization for this ticket?

[2021-04-26 17:09] YakDriver commented on #2987
Our team is anxiously awaiting this! Thanks for your work on it.

[2021-04-26 17:10] colleend commented on #2992
Thanks for filing this issue! There has definitely been discussion about "import $X.function" matching cases such as "from x.y import function", and we agree that this makes sense. Another relevant ticket comment is https://github.com/returntocorp/semgrep/issues/975#issuecomment-681014485. This would be a nice feature to have, although it's not currently high priority.

[2021-04-26 17:57] ievans opened #3001 "Can't use ellipsis in Java { } structure"
I expect that

[code]

is a valid semgrep pattern, but it is not. Changing it to `@ApiResponses(value = { @ApiResponse(responseCode = "404", ...) })` works fine though. Live example: https://semgrep.dev/s/J37y

[2021-04-26 18:06] aryx commented on #3001
dupe of https://github.com/returntocorp/semgrep/issues/2996?

[2021-04-26 18:38] aryx commented on #2996
there's a workaround for it, so I guess low priority.

[2021-04-26 18:53] #2826 closed, assigned to emjin

[2021-04-26 21:01] mschwager commented on #2949
Fixed by https://github.com/returntocorp/semgrep/pull/2967

[2021-04-26 21:01] #2949 closed, assigned to nobody

[2021-04-26 23:01] bertonjulian commented on #2438
+1 also to this feature (unless there is another way to check this), as we currently use something like this for our rules and it would help to have a rule checking that this file still exists as we want to make sure our rules don't silently fail if devs change the name of the file we are searching in.

[code]

[2021-04-27 09:11] aschilling commented on #3001
The workaround via `@ApiResponses(value = { @ApiResponse(responseCode = "404", ...) }) ` does not work properly, as soon as there is a comma at the end of the API response, see [https://semgrep.dev/s/lj8E](https://semgrep.dev/s/lj8E). In this example, a match is detected because the sample occurrence ends with a comma, which is is identified as a non-match by the ellipsis operator. Because of patt

[2021-04-27 09:19] aschilling commented on #2996
The workaround works. Thanks for that. Nevertheless, I support this issue, because as soon as it comes to negation of rules, even in this simple case, one pattern is much easier to negate than a combination of two patterns.

[2021-04-27 10:11] nekinie opened #3006 "TypeScript parsing error: useState<Engagement[]>()"
**Describe the bug**
Semgrep fails to parse the typescript line:
[code]
Resulting in the output:
[code]

**Expected behavior**
No parsing error.

**What is the priority of the bug to you?**
P1

**Environment**
Docker returntocorp/semgrep:0.48.0

[2021-04-27 12:57] aryx commented on #2980
@underyx feel free to reassign to who can cover your code now.

[2021-04-27 13:02] aryx commented on #2980
The internal bencmark file is here: https://semgrep.dev/s/ok60/
when run locally I get indeed an error:
[code]

[2021-04-27 13:04] aryx commented on #2980
I should fix this exception in the CLI, but still there are many wrong things happening here:
 - this is not a parsing error as the playground says, it's a reporting error on a match; we were not able to locate the matched code
 - the error is not even on the target file, it's on an internal file we use in the background; error on such file should not propagate
 -

[2021-04-27 13:07] aryx opened #3007 "[Python] NoTokenLocation exception on matched code"
https://semgrep.dev/s/ok60

[2021-04-27 13:08] aryx commented on #2980
tracking the NoTokenLocation exn here: https://github.com/returntocorp/semgrep/issues/3007
but the high priority is not to fix that; it's instead making sure semgrep and the playground and this benchmark code is resilent to such errors (especially when they do not even happen on the target file but on an internal benchmark-target file).

[2021-04-27 16:49] #2159 closed, assigned to nobody

[2021-04-27 18:14] underyx commented on #2980
Identified the cause as this one line: https://github.com/returntocorp/semgrep-app/blob/5fe6046e196eaf0913edf655fab306eebadd684e/server/semgrep_app/controllers/run.py#L149

Will push a fix tomorrow.

[2021-04-27 19:43] mjambon commented on #2781
Tracked at https://github.com/tree-sitter/tree-sitter-javascript/issues/172

[2021-04-27 20:50] fasiha commented on #1330
I wonder if this is related to this argument in `dune build --help` (dune 2.8.5):
[code]
You most likely ran `opam init` with sandbox enabled, and I wonder if that either sets `DUNE_SANDBOX` or allows your install to copy the binaries rather than trying to symlink them in this way. I can't seem to get dune to `copy` these though: even in the `_build` directory, these are "symlinks", in quotes beca

[2021-04-27 21:29] mjambon commented on #3006
This code parses without an error with the latest grammar for TSX, which should be integrated into semgrep sometime in the coming weeks.

[code]

[2021-04-27 21:40] mjambon commented on #1330
@fasiha this seems tricky enough to ask directly the dune folks at https://github.com/ocaml/dune/issues. It's probably also worth probing discuss.ocaml.org since other users may have had to solve this.

[2021-04-27 22:29] zythosec opened #3009 "Ellipsis Metavariables for Go, Python, Java, etc."
**Is your feature request related to a problem? Please describe.**
I am currently unable to capture all arguments passed to a Go variadic function. This is blocking me from doing further analysis on my codebase and adding tailored suggestions to the message.

**Describe the solution you'd like**
I would like the ability to have named capture groups so that I can capture all arguments passed to a v

[2021-04-28 02:24] inkz opened #3010 "[JavaScript] Matching variables in loop declaration"
have issues with matching variables inside loop declarations
for example if I need to catch for loop with `i = 0` like
[code]

patterns like this:
[code]

[code]

[code]
do not work
https://semgrep.dev/s/gJB0/

[2021-04-28 09:34] #2982 closed, assigned to aryx

[2021-04-28 10:44] aryx commented on #3010
This works: https://semgrep.dev/s/Q8RZ/
You can't just use 1 semicolon, because for requires 2.
Then you need 'let $X = 0' right now. We could do like for regular declaration and also match assignments for those, but it's not the case currently.

[2021-04-28 11:25] #2963 closed, assigned to aryx

[2021-04-28 11:25] #2964 closed, assigned to aryx

[2021-04-28 14:00] dnwe opened #3014 "language:yaml handling of regex matching against quoted/unquoted strings?"
**Describe the bug**

👋 Hi, and thanks for all your hard work on semgrep! It's a great tool. I just recently noticed that `language: yaml` support was available and was testing it out. I'm aware the language support via YAML parser is alpha, but thought I'd raise this anyway just to check it's a known issue.

It was not clear how we should write a `language:yaml` rule that can correctly match agai

[2021-04-28 14:11] #3009 closed, assigned to aryx

[2021-04-28 23:23] ben-elttam opened #3019 "Multiple output options simultaneously"
**Is your feature request related to a problem? Please describe.**

Often I like to get the default text log output of `semgrep`, but also re-run with `--json` and `--sarif` to save these options as well.
I do want to have to run `semgrep` 3 separate times with slightly different logging options.

**Describe the solution you'd like**

I would like to be able to execute `semgrep` once and get all o

[2021-04-29 01:48] fasiha opened #3020 "Can source releases on GitHub include all source in submodules?"
**Is your feature request related to a problem? Please describe.**

It would be nice if the "Source code" downloads on the GitHub releases page (zip and tar.gz) included all submodules bundled (ocaml-tree-sitter, pfff, all the `tree-sitter-lang`s, etc.). This would make these zip/tarball much more useful to me, since I'd have everything I need to build Semgrep (other than upstream dependencies) in

[2021-04-29 02:04] inkz commented on #3010
@aryx got it! thanks :+1:

[2021-04-29 02:04] #3010 closed, assigned to nobody

[2021-04-29 16:11] mschwager commented on #3014
Hi there @dnwe,

Thanks for the heads up! I think we could improve this rule by using the inline [string matching](https://semgrep.dev/docs/writing-rules/pattern-syntax/#string-matching) syntax. When I use this syntax all your code variants are caught as expected: https://semgrep.dev/s/1ndv/. Would you be interested in submitting a fix to [`no-fractional-cpu-limits`](https://github.com/returntocor

[2021-04-29 16:52] nbrahms commented on #3001
@ievans What's the priority of this issue for you?

[2021-04-29 16:58] nbrahms commented on #2396
Removing bug label here so it doesn't interfere with our escalations filters

[2021-04-29 18:32] ievans commented on #3001
@nbrahms was reported by an external user, see https://r2c-community.slack.com/archives/CK86BJ5DW/p1619455010337100

[2021-04-29 20:20] #2980 closed, assigned to underyx

[2021-04-30 08:11] aryx commented on #3020
@mjambon is working on refactoring things related to submodule. Maybe this can help.

[2021-04-30 14:51] aschilling commented on #3001
Hi I think this is a rather important issue which prevents semgrep for Java usage. Today, annotations are commonly used to configure runtime behavior, therefore such configurations are rather common and thus I think the priority of this issue should be high.

[2021-04-30 15:14] aryx commented on #3001
ok, bumping the priority

[2021-05-01 02:41] mjambon opened #3026 "Upgrade to lsp 1.5 or any version compatible with ocaml 4.12"
This blocks the upgrade to ocaml 4.12. See [details](https://github.com/returntocorp/ocaml-layer/pull/5#issuecomment-830492540).

[2021-05-01 02:48] mjambon opened #3027 "Upgrade build to use ocaml 4.12"
This [homebrew PR for semgrep](https://github.com/Homebrew/homebrew-core/pull/76176) shows a bug that could be avoided by switching to ocaml-4.12.

Building docker images with all the external dependencies on it is [in progress](https://github.com/returntocorp/ocaml-layer/pull/5) and [blocked by a version constraint on `lsp`](https://github.com/returntocorp/semgrep/issues/3026).

Update: now that

[2021-05-01 20:54] mjambon opened #3028 "Add paren-matching example to cheatsheet for generic mode"
We've had two different users ask about how to properly match parentheses in generic mode.

Target code:
[code]

Pattern they usually write (https://semgrep.dev/s/mjambon:generic-block-loose):
[code]

Pattern they should write instead (https://semgrep.dev/s/mjambon:generic-block):
[code]

The best short explanation I have is from `spacegrep --help`:

A related problem is to match a simple function

[2021-05-01 21:42] kenptr commented on #2994
I've tried suggestion, seems like it's the correct way. Although it's not running rules in my case, not sure what can be the problem. `--verbose --debug` doesn't show anything meaningful:

[code]

Does anyone saw this kind of behavior?

Update: When I run it locally, it works as expected

[2021-05-02 09:14] underyx opened #3029 "typescript: Cannot match `import { ... } from ...` without matching `import type { ... } from ...`"
See here: https://semgrep.dev/s/XLxb

I think `import` and `import type` might be considered equivalent. But I wanted to allow only `import type` in this rule that tries to keep the import chain small for lower bundle sizes.

[2021-05-02 09:19] underyx opened #3030 "typescript: `import ... from "lodash"` doesn't parse as a pattern"
See here: https://semgrep.dev/s/1nlv

I expected to be able to match both `import { sortBy } from "lodash";` and `import _ from "lodash";` by placing a `...` that could match either the simple variable name, or the destructuring expression with the braces. Instead, I get a parse error.

The logical alternative of `import $NAME from "lodash"` doesn't match the variant with curly braces which is und

[2021-05-02 09:24] underyx opened #3031 "typescript: `import $NAME from "lodash";` also matches imports from `"lodash/foo"`"
See here: https://semgrep.dev/s/9qj8/

I kinda understand that if someone blocklists importing from a module, then submodules should probably be blocked as well. But in my case I specifically wanted to block only `"lodash"` so people have to use `"lodash/foo"` instead.

I can work around this by using a regex on that string: `import $NAME from "=~/^lodash$/";` but that feels a bit hacky so I wante

[2021-05-02 10:33] #2425 closed, assigned to mjambon

[2021-05-03 15:21] #1645 closed, assigned to IagoAbal

[2021-05-03 15:31] nbrahms opened #3033 "Upgrade JS / TS grammars"
To at least TS 4c20b54.

[2021-05-03 19:11] mjambon commented on #2425
This was solved last week by https://github.com/returntocorp/semgrep/pull/3022

[2021-05-03 19:50] mschwager commented on #2994
@kenptr do you happen to have a code file we can reproduce the slow behavior in? Some of our Javascript/Typescript rules have slower performance than we'd like, so you may be hitting a pathological code path. `react-controlled-component-password` seems like a relatively simple rule, so I wouldn't expect performance to be that bad.

Docker IO can slow Semgrep down considerably vs. running locally,

[2021-05-03 19:53] mschwager commented on #2954
Looks like this should be fixed by https://github.com/returntocorp/semgrep/pull/2983. Feel free to re-open if you're still having issues :+1:

[2021-05-03 19:53] #2954 closed, assigned to nobody

[2021-05-03 20:54] mjambon commented on #3020
From looking into [release.yml](https://github.com/returntocorp/semgrep/blob/develop/.github/workflows/release.yml), we're not doing anything special to make a clean source release. Maybe @brendongo or @mschwager can confirm.

If so, we could definitely build a tarball containing all the in-house sources. We might have to consolidate the current steps that fetch the sources into a single script (`

[2021-05-04 13:02] #554 closed, assigned to IagoAbal

[2021-05-04 14:12] anantshri opened #3034 "Provide an option to not create a file when zero output"
Running semgrep cli with `-o` option creates a file irrespective of output length.
Ideally a file should be created if some output is present. I understand this might be default behaviour. I would suggest adding a specific switch `-no-blank-file` in to cover a scenario for zero length files.

This is especially useful for cases where semgrep runs in batch mode or via automation.

[2021-05-04 14:18] mschwager commented on #3020
Yup, it seems reasonable to me to make a full source release available :+1:

I'm not familiar with everything involved in the OCaml build process, so I'd defer to others on that.

[2021-05-04 14:21] mschwager commented on #3019
Hey @ben-elttam,

What's your sense of priority on this? This sounds like a nice-to-have feature request to me.

[2021-05-04 14:22] mschwager commented on #3006
Related: https://github.com/returntocorp/semgrep/issues/3033

[2021-05-04 14:25] mschwager commented on #2999
Hi there @leonard84,

I'm currently unable to reproduce by visiting "Semgrep vs grep" then "Finding Route in Java Application." Are you still seeing this issue?

[2021-05-04 14:58] mschwager commented on #3034
Hi there @anantshri,

Thanks for creating this issue. Would a workaround like the following work for you?

[code]

This will only delete `out.txt` if it's empty.

I have two concerns with adding another output flag: 1) we already have a dozen or so flags which affect Semgrep's output, and this seems like a very niche use-case, so I'd like to avoid the continued proliferation of minor output tweaks

[2021-05-04 16:52] mschwager commented on #2880
It looks like the issue here was the `OutputSettings` interface changed, not `invoke_semgrep`. Since we're already taking `**kwargs` and passing them to `main`, it would be difficult to take additional `kwargs` for `OutputSettings`. I can think of a couple options to fix this:

- We have `invoke_semgrep` take an optional `output_settings_kwargs` argument and pass that to `OutputSettings`
- We have

[2021-05-04 20:53] mjambon commented on #3020
Great. I don't mind doing it at some point. Not sure when. My queue of incoming tasks is full.

[2021-05-04 21:20] mjambon commented on #3026
btw lsp 1.6.0 was released yesterday. We might as well upgrade to that. See https://github.com/ocaml/ocaml-lsp/tags

[2021-05-05 07:35] dkasak commented on #1952
It's worth noting that if you can compile the project, [Bear](https://github.com/rizsotto/Bear) makes it easy to generate the compilation database. You basically just do `bear -- cmd_line_to_start_compilation`, e.g. `bear -- make`.

So I don't think having to have a compilation database would be a hard requirement to satisfy. I think it's probably the way to go.

[2021-05-05 07:42] aryx commented on #1952
How good is Bear now? A few years ago I had a quick look and it could handle only a few projects. Can it now really be used on any project? Is there examples out there of complex projects using complex makefiles where Bear does a good job? Can it be used for the mozilla codebase for example? Does clang return any error using a Bear generated database?

[2021-05-05 08:07] dkasak commented on #1952
From my experience, Bear is pretty robust now. I've mostly used Bear/compilation databases with varied vim/nvim tooling, e.g. the [ccls](https://github.com/MaskRay/ccls) C/C++/Obj-C Language Server can [optionally use](https://github.com/MaskRay/ccls/wiki/Project-Setup#compile_commandsjson) compilation databases and they recommend it for larger projects.

I haven't tried it on a gigantic, complex

[2021-05-05 08:28] #2981 closed, assigned to emjin

[2021-05-05 08:50] aryx opened #3036 "[tech debt] cleanup https://github.com/returntocorp/semgrep/pull/3016"
We need to use proper types (record for OCaml/data class for Python?) for the profiling information on the Python side and OCaml side instead of having those 3-uples everywhere.
We should not use unzip4, we should have a proper sum_profiling_result or something.

[2021-05-05 08:52] aryx commented on #3036
If https://github.com/returntocorp/semgrep/pull/3016 breaks people using the Python Semgrep API, then we need to clenaup this Python API and have a semgrep_api_v1.py that can not change.
cc @mschwager and @brendongo for that.

[2021-05-05 08:58] aryx commented on #3036
@emjin maybe you can start by defining
src/core/Profiling_semgrep.ml
with a record with the 3 times.
Then we need to think about a type that encapsulates matches, errors, and this profiling info.

[2021-05-05 13:46] emjin commented on #2991
Thanks for all the work you've already done on this! I'm looking into whether we can support the line endings. Would it be possible for you to attach a file that exhibits what you're describing (both line endings in the same binary)?

[2021-05-05 14:25] Silur opened #3039 "unknown option -lang while downloading rules"
System: `Linux 5.11.10-arch1-1 #1 SMP PREEMPT Fri, 26 Mar 2021 00:11:29 +0000 x86_64 GNU/Linux`
Semgrep: 0.49.0 (pip)

installed freshly as per the [official docs](https://semgrep.dev/docs/getting-started/) with:

[code]
First problem with this is that running `semgrep` after installing with `python -m pip` as a regular user, the binary won't have write permission to __/usr/lib/python3.9/site-pack

[2021-05-05 15:25] mschwager commented on #3039
This depends on how you use `pip` in your environment. `pip install` provides the `--user` flag for exactly this use-case. Then, if you include `~/.local/bin/` in your `$PATH`, you will be able to run `semgrep` without root permissions. On the other hand, you can always use `sudo pip install` if you don't mind using root permissions. Rather than assume a particular `pip` workflow we provide the mo

[2021-05-05 17:12] brendongo commented on #2880
IMO we should make invoke_semgrep more useful as an API in letting people pass settings to it (right now I think a lot of options are hardcoded) then setting sane default values to invoke_semgrep whenever new options are added to OutputSettings should make it pretty stable

[2021-05-05 19:25] fasiha commented on #2991
Here's a Python script that I saved as `test.py` that produces the same rules (and target) files that the real Semgrep Python wrapper creates before invoking semgrep-core—with Windows line endings:
[code]

After I run the script, if I invoke semgrep-core like so on Windows:
[code]
If I convert from Win to Unix line endings, it works:
[code]

Attached is a ZIP file containing the Cygwin-built binar

[2021-05-05 19:45] mjambon commented on #3039
@mschwager I don't see how we can get the message `unknown option` out of `semgrep-core`, `spacegrep`, `python3`, or `semgrep` itself. I'm glad we're printing the exit code, and the contents of stdout and stderr in case of an error, but we should also print the command that was executed. Without it, it's hard to guess. That's something for us to fix.

@Silur the fact that it's happening in the mid

[2021-05-05 19:56] squaresurf opened #3043 "I'm getting an error regarding non json output, but I don't see any output."
**Describe the bug**
I keep running into an error when trying to profile some rules with https://gitlab.com/dsearles/semgrep-profiler. I would love some tips on how to debug the error?

<details>
<summary>Error I'm running into:</summary>
<pre><code>
semgrep-core exit code: -11
unexpected non-json output while invoking semgrep-core:
--- semgrep-core stdout ---
--- end semgrep-core stdout ---
--- s

[2021-05-05 20:01] aryx commented on #3039
Note that when you pass the -debug flag to semgrep-core (or set SEMGREP_CORE_DEBUG=1), semgrep-core will display how it was called.

[2021-05-05 20:17] Silur commented on #3039
Using `strace` (neither `--debug` nor the env var seemed to work? I see that something injects the `-lang` param. Note that I'm actually trying to run a scan on a golang repository now (but I don't specify the language).
[code]

[2021-05-05 20:19] Silur commented on #3039
Just tried the same with a toplevel `semgrep` (without `python -m ...`), which results in the same call structure for `semgrep-core`

[2021-05-05 22:18] mjambon opened #3044 "[segfault issue] Automatically create a tarball to reproduce a semgrep-core crash (was: print the semgrep-core command)"
When semgrep-core terminates abnormally, we should print the command with instructions on how to reproduce. This includes:
1. Keep the input files around (in particular, keep temporary files)
2. Print the semgrep-core (or spacegrep) command line.
3. Print environment variables relevant to semgrep or semgrep-core.

Recent issues #3039 and #3043 highlight this need.

Since semgrep passes input files

[2021-05-05 23:30] brendongo commented on #2432
Semgrep on Rosetta x86-64 emulation seems to be working fine but the ARM build from homebrew seems stuck when running on juice-shop and p/security-audit

[2021-05-06 00:55] mjambon opened #3047 "Make semgrep-core processes terminate when semgrep parent dies"
When ^C or killing a semgrep job, its `semgrep-core` or `spacegrep` child processes aren't notified and keep running. Instead, they should terminate as soon as possible after their parent ceases to exist because they're useless and consume resources. This is an annoyance when debugging semgrep. Probably doesn't affect real semgrep users.

Linux offers a way to have the kernel send a signal to a pr

[2021-05-06 05:15] #2352 closed, assigned to emjin

[2021-05-06 07:26] #3036 closed, assigned to emjin

[2021-05-06 07:50] #2805 closed, assigned to IagoAbal

[2021-05-06 07:57] aryx commented on #3043
could be a segmentation fault ... sigsev is 11 I think.

[2021-05-06 08:16] aryx commented on #3007
to reproduce:
semgrep-core -e '$ANY' -pvar '$ANY' benchmark-target.py

[2021-05-06 10:30] thypon commented on #2432
Same error here

[2021-05-06 14:40] mschwager opened #3049 "RFC: deprecate and remove user-defined 'equivalences' functionality"
https://semgrep.dev/docs/experiments/overview/#equivalences

This functionality has went mostly unused for a year+. In order to reduce our maintenance burden let's deprecate and remove it. We'll always have the git history if we'd like to revive it at a later date.

[2021-05-06 14:47] underyx commented on #3049
I think this would’ve solved many people’s complaints about how they have to copy-paste variants of the same patterns when writing rules, I’d probably have recommended its use if I knew I about the feature

[2021-05-06 15:37] mschwager commented on #3049
Some additional context:

[2021-05-06 16:05] #2880 closed, assigned to mschwager

[2021-05-06 19:31] corrydiehl commented on #3043
I believe I'm running into the same error while running as a container in Kubernetes. Here's the log output from the container after it died with an OOMKilled status

[code]

[2021-05-07 05:20] fasiha commented on #2991
Please forgive me for posting this minor observation in this thread instead of #1330—I'm unsure how much of it is related to Windows vs the Cygwin build I'm putting together, so I decided to try here to keep the thread intact.

Recall above our discovery that the Cygwin build of semgrep-core needs (1) a `TMPDIR` env var declared to work, and (2) Unix-line endings YAML files. I'm experimenting with

[2021-05-07 14:05] aryx commented on #3049
subscribe

[2021-05-07 14:43] aryx commented on #3026
I think I'll remove the dependency to lsp for now. It's not really used.
We can restore it later and update to 1.6.0 if we really need it.

[2021-05-07 14:54] aryx commented on #3026
Hmm, I can update to lsp 1.3.0, seems to allow ocaml 4.12.0
(updating to 1.6.0 leads to compilation error I don't want to fix now).

[2021-05-07 15:30] tino commented on #2432
How can I build semgrep-core on an M1? I have no experience with OCaml.

We've set up semgrep with pre-commit, but I run into:
[code]

If I know how to build semgrep-core I can swap that out and see if it works.

[2021-05-07 19:15] mjambon commented on #2991
Thanks for the detailed report, @fasiha. I think I know what causes `Fatal Error: (Failure \"output_value: not a binary channel\")` and it should be easy to fix. `output_value` is the function used by [`Marshal.to_channel`](https://ocaml.org/api/Marshal.html) to write a binary blob representing an OCaml value (in this case presumably the representation of a parsed file). The error would be because

[2021-05-07 19:21] mjambon opened #3061 "Must open channel in binary mode to write marshaled data (cache)"
This is needed for semgrep to run on Windows.

Error message:
[code]

Details and context: https://github.com/returntocorp/semgrep/issues/2991#issuecomment-834075453

I expect this to be just a question of using `open_out_bin` instead of `open_out` or specifying binary mode with `open_out_gen`.

[2021-05-07 19:59] #3026 closed, assigned to aryx

[2021-05-07 20:01] mjambon commented on #3026
I think you could ask the ocaml-lsp folks to respect semver and increment the major version number whenever they break backward compatibility.

[2021-05-07 21:37] mjambon opened #3062 "Fix dependencies for comby for upgrading to ocaml 4.12"
This is for [upgrading semgrep to use ocaml 4.12](https://github.com/returntocorp/semgrep/issues/3027).

The docker build for the opam packages used by semgrep fails with the [following error](https://app.circleci.com/pipelines/github/returntocorp/ocaml-layer/59/workflows/85aa26db-2967-4606-9a65-27ecbd8b47f9/jobs/39):
![image](https://user-images.githubusercontent.com/343265/117510595-34e3a000-af4

[2021-05-07 21:39] mjambon commented on #3027
The lsp issue was fixed by @aryx by switching to lsp.1.3.0. We now have an [issue involving comby and its dependencies](https://github.com/returntocorp/semgrep/issues/3062).

[2021-05-08 10:36] aryx commented on #3026
We could, but I think the lsp-client has a very low priority for them; most of the LSP protocol is supported by the lsp-server, but the lsp-client supports only a few LSP calls; Their priority is not helping people like me abuse LSP but instead improving the OCaml lsp-server.

[2021-05-08 10:43] aryx commented on #2432
Hopefully @tino we can build an homebrew m1-compatible package very soon.

Regarding compiling OCaml projects on M1, according to https://discuss.ocaml.org/t/ocaml-for-arm-macos/6019/23 the OCaml package manager OPAM now handles correctly M1.
So brew install opam should work
From there forllow the instructions in CONTRIBUTING.md to compile semgrep-core.

[2021-05-08 15:53] erwanlr opened #3063 ""Match everything" inside PHP arrays"
**Describe the bug**
Similar to https://github.com/returntocorp/semgrep/issues/361, but for PHP. When using a pattern such as `$ARRAY = [...];` in PHP, semgrep fails with a parsing error

**To Reproduce**
https://semgrep.dev/s/wxbY

**Expected behavior**
To be able to match any/partial array in PHP

**What is the priority of the bug to you?**
P0, not being able to do that currently generate a lot

[2021-05-08 21:11] ajinabraham opened #3064 "Detect Missing Good Controls/Best Practices"
**Is your feature request related to a problem? Please describe.**
Currently there is no way to detect missing best practices.

**Describe the solution you'd like**
A feature request or please enlighten me if this already exists.

Can we have certain patterns that semgrep look for matches in all of the given files. if the pattern is not found in any of the files, semgrep should trigger an alert. T

[2021-05-10 11:57] tino commented on #2432
I managed to do that, and it works. However I symlinked it into the pre-commit install but now it always says `running 0 rules...`.

So I guess I'll wait for the build :)

[2021-05-10 12:38] enochii opened #3065 "A false negative of SQL injection which seems can be simply fixed"
**Describe the bug**
A false negative of SQL injection in a golang web example. It seems that it can be simply fixed.

**To Reproduce**
Here is the link to reproduce: [link](https://semgrep.dev/s/enochii:false-negative-of-sql-injection)

**Expected behavior**
To my knowledge, the sql query marked in the screenshot below should be reported as a potential vulnerability.

![image](https://user-images

[2021-05-10 14:17] emjin commented on #3065
Thanks for reporting this issue in such detail! For organizational purposes, I copied this to semgrep-rules, and I'll close the issue here. You can follow along https://github.com/returntocorp/semgrep-rules/issues/1277

[2021-05-10 14:17] #3065 closed, assigned to nobody

[2021-05-10 14:32] mschwager opened #3066 "Python 'except ...' misses 'except $EXC as $EX'"
I would expect `except ...` to match something like `except CustomException as ex`: https://semgrep.dev/s/ZeG7/

Vs https://semgrep.dev/s/nqyG/

[2021-05-10 16:32] mschwager commented on #3066
Looks like the same for bare `except`: https://semgrep.dev/s/70wv/

[2021-05-10 21:58] chmccreery opened #3070 "Multiline auto-fix indentation is wrong"
**Describe the bug**
If a user inputs an autofix that is multiple lines, all lines after the first are indented on an absolute basis rather than relative to the first line.

**To Reproduce**
`semgrep --config https://semgrep.dev/s/chmccreery:autofix-multiline --autofix --disable-nosem --skip-unknown-extensions --dryrun`

^ Run the above command in /semgrep repository (or create a test repo and cop

[2021-05-10 22:52] chmccreery commented on #3066
🎉 thanks for reserving for us @emjin!

[2021-05-11 00:33] mjambon commented on #3044
This is half-done by https://github.com/returntocorp/semgrep/pull/3057 which now prints the semgrep-core command and the rule name. Passing `--verbose` to `semgrep` now also shows the verbose log from semgrep-core, which should be useful for troubleshooting.

The logged semgrep-core command by itself is of limited value because the semgrep-core command relies on temporary files which are deleted u

[2021-05-11 13:25] #3063 closed, assigned to emjin

[2021-05-11 14:28] mschwager commented on #3070
[`textwrap.dedent`](https://docs.python.org/3/library/textwrap.html#textwrap.dedent) might help here.

[2021-05-11 16:16] DrewDennison opened #3072 "Test that GitLab’s rules work correctly with --optimizations=all"

[2021-05-11 16:17] DrewDennison opened #3073 "Get list of public projects with GitLab SAST enabled"
We have a v0 list but still waiting on @minusworld for a more complete list this week. Now that GitLab has enabled us for more projects that should be easier

[2021-05-11 16:17] emjin opened #3074 "Run gitlab rules on semgrep-app and gitlab repos"

[2021-05-11 16:18] DrewDennison opened #3075 "Make optimization mode match existing mode"
https://r2c.quip.com/tk04AevNVHsu/Finish-whole-rule-in-OCaml

[2021-05-11 16:27] nbrahms opened #3077 "Enspeeden Gitlab eslint.direct-object-detection"
This rule is 10x slower than all the other rules from Gitlab. Let's make it fast so that Gitlab users have a better experience:

https://gitlab.com/gitlab-org/security-products/analyzers/semgrep/-/blob/main/rules/eslint.yml#L751

"Faster" in this case might mean that it runs in under 10 seconds on a modern Mac on returntocorp/semgrep-app.

[2021-05-11 16:31] brendongo commented on #3077
Other numbers that might be relevant:
- Running above rule on our private semgrep-app repo takes 8 minutes without optimizations
- running above rule on same repo with optimizations takes 35 seconds
- For context running the other 92 rules in that rules repo takes 70 seconds without opttimizations

[2021-05-11 16:51] mschwager commented on #3077
I wonder if we could speed this up with something like:

[code]

I think tightening the bounds on the `pattern-not-inside`s should speed things up. In my quick testing on `semgrep-app` the before/after is:

[code]

[code]

Looks like a 15x speedup?

[2021-05-11 16:53] mschwager commented on #3077
Since `pattern-inside` and `pattern-not-inside` are inclusive the results should be the same.

[2021-05-11 16:54] brendongo commented on #3077
Nathan didn't update the issue: he made a PR https://gitlab.com/gitlab-org/security-products/analyzers/semgrep/-/merge_requests/33/diffs

[2021-05-11 17:00] avirtuos commented on #1953
+1 would love to see Scala support added so we can make semgrep our one and only tool for custom rule based static analysis. We presently have non-trivial portions of our applications in java, python, scala with small but growing population of RUST as well.

[2021-05-11 17:03] nbrahms opened #3078 "[javascript] Deep expressions don't work in expression statement position"
**Describe the bug**
https://semgrep.dev/s/DJL2/

**Expected behavior**
Matches code

**What is the priority of the bug to you?**
P0 affects speed of Gitlab eslint.detect-object-injection

[2021-05-11 17:13] mschwager commented on #3078
I had a similar thought here: https://github.com/returntocorp/semgrep/issues/1804

The key insight was:

Supporting this may fundamentally change how the deep expression operator works. I'm not entirely sure if that's a problem or not. Perhaps we could key off of the `;` to determine if it's an expression or statement, but then again, `;` are optional in JS :man_shrugging:

[2021-05-11 17:19] IagoAbal commented on #3078
Parse error on `<... $O[$ARG] ...>`:

[2021-05-11 17:19] mschwager commented on #3078
I think is more related to how the deep expression operator fundamentally works than a object reference issue, i.e. https://semgrep.dev/s/WgPy/

[2021-05-11 17:46] IagoAbal commented on #3078
The parser error at least may be fixable in Pfff, since we use Pfff to parse JS/TS patterns. It seems that it doesn't accept deep expressions in the same places as other parsers (like Python's) do accept them.

[2021-05-11 18:02] chmccreery commented on #3070
Cool, I didn't know about that function! I actually think we might want `textwrap.indent` but same idea 😄

[2021-05-11 22:51] chmccreery commented on #2863
@nbrahms I see this has moved around a lot for the past month - is this still high-priority? Is it now being treated as sprint work? Do you want to take it?

[2021-05-12 05:25] aryx commented on #975
Wave

[2021-05-12 05:57] aryx commented on #1953
Do you have examples of rules for Scala you would like to write?

[2021-05-12 11:39] aryx commented on #3077
What does enspeeden mean?

[2021-05-12 12:55] aryx commented on #3078
Note that this is just a parsing fix. It just allows <... whatever ...>; in an statement position (actually an expression statement position).

[2021-05-12 12:56] aryx commented on #3078
this <... whatever ...>; will not match if whatever is in an if/while conditional, or part of a return statement.

[2021-05-12 13:53] mschwager commented on #3077
With the deep expression improvements from https://github.com/returntocorp/semgrep/pull/3083 we still see a ~15x speedup:

[code]

[code]

[2021-05-12 14:06] aryx commented on #3077
yes but note that the semantic of the deep expression operator in a statement position might not be what you expect; it will just match deeply in expression statements, e.g. foo(stuff);.
It will not match code where $O[ARG] is inside a return, or the condition of an if, or a throw.

[2021-05-12 14:09] aryx commented on #3077
We could extend the engine to do something special when the deep expression operator is used like that, in which case
we could also run it inside a return, or throw, or just on the conditional part of an if/while/etc.

[2021-05-12 14:11] aryx commented on #3077
(I'm waiting for develop to use our latest fix so I can show you examples in the playground)

[2021-05-12 14:16] IagoAbal commented on #3078
@aryx I'm not sure if I understood you correctly but after this fix I get this:
[code]
It seems to work inside a `return` and also tried successfully inside a `while` loop.

[2021-05-12 14:24] aryx commented on #3077
See https://semgrep.dev/s/plg3/?version=develop
(it actually works for the return, because we already do a special thing in Generic_vs_generic, but does not work for
throw or if or other).

[2021-05-12 14:25] aryx commented on #3078
yep, but not for throw or if. I commented here: https://github.com/returntocorp/semgrep/issues/3077#issuecomment-839815402

[2021-05-12 14:34] mschwager commented on #3077
I think this is fine for now. Gitlab is saying this rule is already better than its `eslint` equivalent, so I think we're fine on the accuracy front. The bigger concern is speed, and these deep expression improvements have given us a nice 15x speedup.

FYI here's the code they're testing against:

[code]

And their initial tests: https://gitlab.com/gitlab-org/gitlab/-/issues/322193#note_529810615

[2021-05-12 14:49] aryx opened #3084 "semgrep does not detect/refuse rules with multiple metavars in metavariable-regexp"
See https://gitlab.com/gitlab-org/security-products/analyzers/semgrep/-/blob/main/rules/eslint.yml#L751

Running semgrep-core -config with just this rule leads to an exn:
[code]

[2021-05-12 14:55] aryx commented on #3084
@mschwager was metavariable-regexp designed to allow multiple metavariables?

[2021-05-12 14:57] aryx commented on #3084
I don't think we have a single semgrep-rules/ using multiple metavariables there.

[2021-05-12 14:57] mschwager commented on #3084
Nope! This was a bug on their end. You can't have multiple metavariables in a single `metavariable-regex`, but you can have multiple `metavariable-regex`s.

[2021-05-12 14:58] aryx commented on #3084
but we don't detect the error when parsing the rule?

[2021-05-12 14:59] aryx commented on #3084
Ok so semgrep-core is right ... the issue should be "Semgrep does not detect metavariable-regexp using multiple metavariables?"

[2021-05-12 15:21] mschwager commented on #3084
Yeah, this will take some deeper investigation. Ideally we would throw some kind of validation error, but it's not so easy to detect. IIRC repeating the same keys is valid YAML - the former are simply overwritten by the latter. It may be difficult to detect this because our YAML library returns the YAML object with the former, repeated keys already overwritten, so we don't have a great opportunity

[2021-05-12 16:09] nbrahms commented on #3077
Please see the updated MR on Gitlab's side. @emjin and I managed to find this pattern instead:

[code]

However, note that typing information is not extracted from propagated metavariables; @emjin will work on that now.

[2021-05-12 16:19] mschwager commented on #3077
Looks like this is also the case for `$O["..."]`. Using your rule vs. the one above also reintroduces the FP `value = obj[string]`.

cc @emjin can we also add constant propagation for constant string object references like `$O["..."]`?

[2021-05-12 16:20] nbrahms commented on #3077
Make more fast :)

[2021-05-12 17:29] nbrahms commented on #3077
Might be a q for @IagoAbal

[2021-05-12 18:34] nbrahms opened #3085 "[RFC] special metavariable syntax for dataflow"
## Motivation

We are beginning to add dataflow support; viz., we have recently added constant propagation support.

For example, we might use the pattern:

    foo(1)

to match the code:

    x = 1;
    foo(x);

However, we are often interested not in the _value_ of the constant itself, but whether an object is _effectively_ constant at its call site; or otherwise trustworthy.

To that end, I sug

[2021-05-12 18:58] minusworld commented on #3085
This looks awesome. I think my only feedback is that `$$NON_LOCAL_EXPRESSION` does not necessarily make clear what it is. Something like `$$ANY_SCOPE_EXPRESSION` might be better

[2021-05-12 19:14] nbrahms opened #3087 "[typescript] element-reference expression matches array type"
**Describe the bug**
Element-reference expression patterns match array types.

**To Reproduce**
https://semgrep.dev/s/wxrx/?version=develop

**Expected behavior**
Expressions should not match types.

[2021-05-12 19:17] mschwager commented on #3085
If the primary use-case is injection, would we be better served by improving our taint analysis? Improving taint seems like a more generalized solution, and doesn't further complicate the pattern syntax.

[2021-05-12 19:45] ievans commented on #3085
There's some prior discussion in https://github.com/returntocorp/semgrep/issues/1645 where I had proposed that rather than introducing new operators we could use the existing language's type system ability to specify const (if it exists), eg `foo($X: const<int>)`. I think that proposal might be more intuitive in terms of syntax, but is worse for advanced users as most won't care about the specific

[2021-05-12 20:35] IagoAbal commented on #3085
Nice proposal!

Perhaps it could be `$$CONSTANT_[A-Z_0-9]+` (e.g. `$$CONSTANT_X`) instead so that you can treat it as yet another metavariable, simply one that only matches conditionally.

I also like @ievans proposal, and one could accept type wildcards `_` as in `const<_>` (or maybe `const<...>` to reuse the very familiar `...`?). Although this doesn't cover the `$$LOCAL_EXPRESSION` proposal.

[2021-05-12 20:37] IagoAbal commented on #3085
Also :+1: to improving taint analysis although I think this is also a nice-have. For taint analysis we also need a concrete proposal like this one.

[2021-05-12 21:49] anantshri commented on #2837
Count me in as a +1 who needs this rule. Trying to scan php files without .php extension and path include doesn't works.

[2021-05-12 22:30] anantshri opened #3090 "Allow user to specify file extensions for languages"
https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/target_manager_extensions.py#L22 This is the block which marks specific file extensions to various language tags.

I would suggest allowing user to customize it.

for example php is generally found in .php, .php5, .phps, and a few more extensions.

related issues : https://github.com/returntocorp/semgrep/issues/2837 https://githu

[2021-05-13 07:06] aryx commented on #3085
regarding constant, this could be done by typed metavariables? $CST : int, or $CST : int_constant?

[2021-05-13 07:09] aryx commented on #3085
We could put more things in typed metavariables, the type could be a property of the expression (being constant, local, etc.)
Actually in coccinelle we were declaring metavariables separately of the pattern, as in
@@
expr $X;
int $Y;
@@
foo($X, $Y);

[2021-05-13 07:10] aryx commented on #3085
Just like we have metavariable-regexp to restraint a metavariable, we could have another construct to restraint the type/constness/tainted/... property of a metavariable.

[2021-05-13 13:38] aryx opened #3095 "[PHP] parsing pattern error"
https://semgrep.dev/s/Q8nD

[2021-05-13 14:52] alinbalutoiu opened #3096 "False positive errors reported for some files"
**Describe the bug**
The tests for one of our semgrep rules report false positive errors on some files.

**To Reproduce**
The rules and test code can be found here: https://semgrep.dev/s/58l6

Test with `semgrep` versions `v0.41.0` (and above).

**Expected behavior**
Expecting semgrep to not report a false positive.

When checking with semgrep `v0.40.0` (and previous versions) everything works as

[2021-05-13 17:57] minusworld opened #3099 "Running with `--strict` does not report results"
**Describe the bug**
The help text for `--strict` implies that it enforces validation on the rules file. However, it also appears to affect the behavior of results even when the rule file is valid.

[code]

**Expected behavior**
I'd expect Semgrep to behave the same way in both cases given the help text. Semgrep should only error if the rule file is invalid when running with `--strict`. This shoul

[2021-05-13 18:01] emjin commented on #3085
As a related question, I had initially only imagined adding typed metavariables for other languages once we had typing information, but the eslint rule experience made me realize that it might be useful more broadly. Languages like Python would only be able to understand the types of constants, but that might be enough to justify adding the feature. @minusworld and other security devs for whether

[2021-05-13 18:11] #2911 closed, assigned to mjambon

[2021-05-13 18:11] #3028 closed, assigned to nobody

[2021-05-13 18:45] minusworld commented on #3099
From @brendongo:

[2021-05-13 19:54] brendongo opened #3100 "Add PR comment on non blocking performance regressions"
**Is your feature request related to a problem? Please describe.**
We want performance regressions to block the build if they are beyond a certain threshold but just
alert when they are slower but not past the threshold.

Github actions just has a binary pass fail so a suggested improvement is to add a github comment to
warn of slight regressions.

Relevant: https://github.com/unsplash/comment-on-

[2021-05-13 20:13] nbrahms commented on #1523
Closing as stale

[2021-05-13 20:13] #1523 closed, assigned to nobody

[2021-05-13 20:14] #2526 closed, assigned to nobody

[2021-05-13 20:27] brendongo commented on #2432
Updates and clarifications:

tl;dr: On M1 Macs install semgrep in Rosetta using pip not brew

On Rosetta I am able to run semgrep when it was installed with pip:
[code]
but on Rosetta, when using the homebrew installed semgrep I get stuck on a rule with semgrep-core using up 100% CPU

Without Rosetta, the pip installed version doesn't. The pip installed one not working is expected since we do not

[2021-05-13 20:53] mjambon opened #3101 "Upgrade javascript grammar (May 2021)"
This is already in progress. It requires non-trivial changes in the javascript AST but we'll get there.

Moving forward, we'll try to make these updates on a monthly basis because there's not much overhead in doing them more frequently.

Target delivery date: end of May (end of current month)

[2021-05-13 20:55] mjambon opened #3102 "Upgrade typescript grammar (May 2021)"
Depends on the javascript grammar upgrade https://github.com/returntocorp/semgrep/issues/3101

Minimum tree-sitter-typescript version: 4c20b54

Target delivery date: end of May (end of current month)

[2021-05-13 20:57] mjambon commented on #3033
I split this task into https://github.com/returntocorp/semgrep/issues/3101 and https://github.com/returntocorp/semgrep/issues/3102.

[2021-05-13 20:58] #3033 closed, assigned to mjambon

[2021-05-13 21:27] IagoAbal opened #3103 "JS: Cannot match renamed fields when using object destructuring"
**Describe the bug**
Semgrep cannot match object destructuring when fields are renamed.

**To Reproduce**
See `Test3` in https://semgrep.dev/s/KWnP/

**Expected behavior**
I was expecting that when matching `function $FN({$PROP}) { ... }` against `function Test3({text: foo}) { ... }` meta-var `$PROP` would be set to `foo`.

**What is the priority of the bug to you?**
P2 (regular bug that should ge

[2021-05-13 21:32] IagoAbal commented on #3103
I think the problem is in the interpretation of the pattern:
[code]
is interpreted (according to `-dump_pattern`) as:
[code]

[2021-05-13 23:55] mjambon opened #3105 "auto-inserted 'else' branch in ocaml AST"
**Describe the bug**

Either this shouldn't match or the [rules that detect useless `else`s](https://semgrep.dev/r/ocaml.lang.best-practice.ifs.ocamllint-useless-else) should be removed.

[code]
^ should not match because there's no `else` in the source code.

Same code in the live editor (fails due to [something else at the moment](https://github.com/returntocorp/semgrep-app/issues/2518)):
https:

[2021-05-14 01:16] mjambon opened #3106 "semgrep-core AST doesn't handle ppx annotation placed after the field's semicolon"
Support for ppx annotations after the semicolon of a record field type is missing. This is not a syntax error, or at least no syntax error is reported. We're getting a CST from tree-sitter.

This is blocking our adoption of ocamlformat (#3104) given we're using semgrep and expect no error from it.

The problem occurred after running ocamlformat on our code. What we had before has the ppx annotatio

[2021-05-14 08:38] karling1989 opened #3108 "[Kotlin] semgrep crashes when parsing some files in my projects"
when I use semgrep to parse my projects,
the semgrep crashes and it gives me this error:

could anyone help me how to fix this issue?
[sem_log.txt](https://github.com/returntocorp/semgrep/files/6477579/sem_log.txt)

===============================================================
errors\":[{\"check_id\":\"FatalError\",\"path\":\"/tmp/targets/kotlin/Bandhook--master/app/src/main/java/com/antonioleiv

[2021-05-14 13:19] tino commented on #2432
So building from source on M1 (without Rosetta) works! I'm not sure how to invoke it (as there is only semgrep-core), but I fixed my pre-commit by symlinking semgrep-core into the pre-commit virtualenv. No CPU spikes here.

So how can we build an ARM wheel that includes such a build?

[2021-05-14 15:13] #3078 closed, assigned to IagoAbal

[2021-05-14 15:31] thypon commented on #2432
So `brew install --build-from-source semgrep` will already compile and install semgrep for the hosting architecture (Apple M1 on M1).

Can you confirm that is working in that case?

[2021-05-14 19:43] yum7777 opened #3111 "c lang support"
Hi.

I am looking for a tool to appreciate the c language.

I'm thinking of paid support.

I looked at the c language rules. The content seems to be less than the other rules.

How much c language support is there in semgrep?

Can I get enough performance if I purchase it now? Compared to other companies.

[2021-05-14 22:22] minusworld commented on #3099
This is definitely happening because of raising an exception while processing `nosem`s. Based on the description of this CLI flag, I would not expect this behavior. I would expect there to be some other flag which triggered this behavior, such as `--nosem-strict` or something.

[code]

[2021-05-14 22:24] minusworld commented on #3099
@mschwager @brendongo Do you know if there is a reason for keeping this behavior under `--strict`?

[2021-05-14 22:37] chmccreery commented on #1995
Following the link above, it looks like this is now unblocked - is that true @mjambon ? Are you up for assigning it to yourself or someone else on PA?

[2021-05-14 23:52] mjambon commented on #1995
@chmccreery correct and yes, all javascript and typescript parsing issues should be assigned to me.

[2021-05-15 15:35] Ayrx opened #3115 "JavaScript unhandled `require` pattern"
The following `require` structure seems to be unhandled by semgrep currently:

[code]

[code]
https://semgrep.dev/s/X8eB/

**What is the priority of the bug to you?**

P2: regular bug that should get fixed

[2021-05-17 10:06] aryx commented on #3105
But why do we have this bug now? What is the PR that broke this?

[2021-05-17 10:20] #3106 closed, assigned to aryx

[2021-05-17 10:23] Besnn opened #3118 "Your example doesn't work on Playground"
Trying to execute the code in [this example](https://semgrep.dev/s/B47A) from the *Writing Rules* section of the docs gives the following error:
[code]
which is weird considering the embedded version works and there seem to be no inconsistencies in the rule definition.

[Link to embedded version](https://semgrep.dev/docs/writing-rules/overview/)

[2021-05-17 11:09] underyx commented on #3118
Thanks for the report! I think the issue is that we take

[code]

and try to shorten the YAML by converting that into

[code]

but since the message starts with a single quote it becomes invalid YAML.

I will let others on the team schedule a fix.

[2021-05-17 11:36] dottedmag opened #3119 "Matching Go "any function that accepts an argument that is a function" does not work"
**Describe the bug**

`func $FUNC(..., $ARG func(...), ...)` does not match any function that accepts a function.

**To Reproduce**

https://semgrep.dev/s/okdx/

**Expected behavior**

This match should match any function definition that accepts a function as one of the arguments.
**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [X] P1: importa

[2021-05-17 12:34] IagoAbal commented on #3077
This should be fixed now.

[2021-05-17 13:07] sk- opened #3120 "[JS] Dictionary matching yield inconsistent results"
**Describe the bug**
Matching JS dictionaries yield unexpected results, for example the pattern `{}` is equivalent to `{...}`, the pattern `{...$X}` matches anything and the pattern `{x: $X}` also matches any dictionary with that key.

Note that this is different to what happens in Python. (#1003 could be related)

**To Reproduce**
[code]

https://semgrep.dev/s/2bP8 (note that the test code gets o

[2021-05-17 14:16] mschwager commented on #3077
Closing this out as Gitlab accepted our improved `eslint.detect-object-injection` rule recommendation that used bounded `pattern-not-inside`'s: https://gitlab.com/gitlab-org/security-products/analyzers/semgrep/-/blob/main/rules/eslint.yml.

[2021-05-17 14:16] #3077 closed, assigned to aryx

[2021-05-17 14:24] mschwager opened #3122 "Use constant propagation with typed metavariables"
It would be awesome if we could combine two of our most powerful operations: constant propagation and typed metavariables.

This snippet highlights the desired behavior: https://semgrep.dev/s/XLKN/?version=develop

Note the `$O[($ARG : float)]` not matching `value = obj[two]`.

This would be particularly helpful for Gitlab's `eslint.detect-object-injection` rule: https://gitlab.com/gitlab-org/secu

[2021-05-17 14:53] aryx commented on #3122
cc @emjin @IagoAbal

[2021-05-17 15:17] emjin commented on #3122
hmm we already should have that---I'll investigate.

[2021-05-17 15:31] #3072 closed, assigned to emjin

[2021-05-17 15:38] DrewDennison opened #3124 "Add progress bars to optimization mode"

[2021-05-17 17:15] daghan commented on #3111
Hi @yum7777, do you mind joining our slack channel (r2c.dev/slack) so we can talk about current and upcoming work on C?

[2021-05-17 17:48] mjambon commented on #3105
This started showing up with the ocamlformat reformat. First I thought it was due to semgrep only checking files that changed so I didn't look further.

[2021-05-17 18:06] mschwager commented on #3111
Just to follow up on our existing C support, it's currently in **alpha** status. Our [supported languages](https://semgrep.dev/docs/status/) docs have more information on what this means :+1:

[2021-05-17 18:27] IagoAbal commented on #3122
@mschwager Is the intention here to filter out arguments of type `float` regardless of whether they are constant or not?
[code]
E.g. given `x + 3.141592` where `x` is an user input, you could infer that expression to have type `float` but it's not constant. Should it be filtered out?

[2021-05-17 20:04] #2345 closed, assigned to nobody

[2021-05-17 20:43] colleend commented on #3108
Thanks for filing this issue! Seems like there's code in `AlbumRepositoryImpl.kt` that hasn't yet been translated from our tree-sitter CST to the generic AST. If this code is able to be shared, would you mind sharing it?

If not, I can take a look at the errors and dig into this a little more!

Also, if you would like to run semgrep ignoring this specific kotlin file, you can use the `--exclude=*A

[2021-05-17 21:11] mschwager commented on #3122
Hmm, good point! I believe the intention is only to filter if it's constant. Maybe this issue is effectively the same as https://github.com/returntocorp/semgrep/issues/3085 and we should close it. What do you think?

[2021-05-17 21:13] emjin commented on #3122
The issue still stands right? Because `two` is a constant when referenced.

Regardless, I actually think Nathan mentioned that filtering out all floats makes sense for this rule. Since we're concerned about object injection, indexing into an array wouldn't be a problem. I am very much not an expert on this, though

[2021-05-17 21:25] mschwager commented on #3122
Ahh, yeah, I agree here. I think that's right!

[2021-05-17 22:29] daghan opened #3126 "Buildkite documentation"
in https://semgrep.dev/docs/sample-ci-configs/#buildkite, it seems plugin shouldn't be indented, and there shouldn't be a quote in $SEMGREP_DEPLOYMENT_ID".

so instead of this:
[code]
it should be this:
[code]

[2021-05-17 22:43] aegarbutt-stripe opened #3127 "ruby: string constant propagation doesn't seem to work with double quotes and embedded newlines"
**Describe the bug**
Given the pattern:
[code]
 and the code:
[code]

The call to `foo(data)`  **and** `foo(const_str3)` both match, but none of the other calls.

**To Reproduce**
https://semgrep.dev/s/aegarbutt-stripe:ruby-string-with-newline

**Expected behavior**
I expect only `foo(data)` to match.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or work

[2021-05-17 22:46] brendongo commented on #3127
@aegarbutt-stripe do you mind updating the issue with examples (preferably on our live editor)

[2021-05-17 22:48] aegarbutt-stripe commented on #3127
(Apologies for the early submit)

[2021-05-17 23:03] aegarbutt-stripe commented on #3127
(and I'm aware that \n in the single-quoted string is not a newline.)

[2021-05-18 01:52] brendongo commented on #2686
Hi @kaldown sorry looks like this issue might have fallen through the cracks. Looking now

[2021-05-18 01:56] brendongo commented on #2686
The 3 errors you listed above are not actually in the `p/ci` rules. See https://semgrep.dev/p/ci for all the rules included there.

If we run a rule looking for `print(...)` like here: https://semgrep.dev/s/L0Nn  by running `semgrep --config https://semgrep.dev/s/L0Nn  theory.py` I get the following output:

[code]

[2021-05-18 02:00] brendongo commented on #2862
With https://github.com/returntocorp/semgrep/pull/3003 the PR is made from our org fork of homebrew-core instead of my personal fork so should be editable by the semgrep maintainers.

[2021-05-18 02:00] #2862 closed, assigned to brendongo

[2021-05-18 02:13] brendongo commented on #3099
It does make sense for a `--strict` to be strict here and error when there are unused ignores (we do need to update the help text though). I believe that's how other tools work. And keeping it in strict reduces the need for yet another flag :D

[2021-05-18 02:26] karling1989 commented on #3108
Thank you for your response!
When I exclude the .kt files, the error above disappears,but another error ocurred.
Could you please help me to figure it out? Thanks very much!

================================
{"results": [], "errors": [{"type": "SemgrepError", "code": 2, "level": "error", "message": "semgrep-core failed: unparseable json output\nrule ID: 'rules.semgrep-rules-develop.javascript.pupp

[2021-05-18 10:20] #374 closed

[2021-05-18 10:22] kaldown commented on #2686
Thank you @brendongo, I just tried to follow the example from documentation.

Now you make it clear

[2021-05-18 13:01] abhinavbansal19961996 opened #3132 "String Regex Matching Not working on Generic Pattern Matching"
**Describe the bug**
String Regex Matching Not working on Generic Pattern Matching.

I have my test.yml YML file as below for generic pattern matching::
rules:
- id: my_pattern_id
  pattern: template-name=$A
  message: Semgrep found a match
  severity: WARNING

I have my test.txt file as:
template-name=typescript-template
typescript-sdsd=0.1.0

Now i want to put something in the pattern such that

[2021-05-18 14:56] emjin commented on #3122
Hm, @IagoAbal this looks like it's still a constant propagation problem. My pattern is `$O[($ARG : float)]`. When my target is

[code]

it matches. But when it's

[code]

it doesn't.

[2021-05-18 18:10] colleend commented on #3108
hmmm interesting, from this error message it seems like `semgrep-core's` output can't be loaded as json, which we need for further processing. Would you mind sharing your rules file and target file, along with the command you used to run semgrep?

Thanks for your patience in this matter 😄

[2021-05-18 18:50] brendongo commented on #3132
Hi @abhinavbansal19961996! One of the simplifying assumptions that generic pattern matching makes is that it treats special characters as token delimiters.

We also have a yaml language in alpha right now so it still have pretty rough edges

[2021-05-18 19:04] brendongo commented on #3118
The yaml conversion also breaks this example:
[code]

Converting to simple then back to advanced (or sharing) removes the quotes around pattern which breaks the rule

[2021-05-18 19:06] brendongo commented on #3132
I'm not too familiar with `=` syntax in yaml but for example the rule:
[code]

would match
[code]

[2021-05-18 19:28] brendongo commented on #2686
No worries. Closing this issue as solved then :D

[2021-05-18 19:28] #2686 closed, assigned to nobody

[2021-05-18 20:34] abhinavbansal19961996 commented on #3132
umm hmm.. ANy workaround on how to solve the above use case and catch just this part **typescript-template** in a  .txt file? We are moving towards semgrep instead of grep in our project.

[2021-05-18 21:55] clintgibler commented on #3085
This is super exciting, thanks for creating this @nbrahms! 🙏

+1 @mschwager that improving our taint analysis would be great, though I think there's value in `$$NON_CONSTANT` regardless, as oftentimes that's what rule authors care about, even if they don't have the time/energy to flesh out all the relevant sinks/sources of what they're looking for.

I think a relatively common use case (from me as

[2021-05-19 00:44] pabloest commented on #3126
@daghan Can you review the PR to fix this? It’s https://github.com/returntocorp/semgrep-docs/pull/174

[2021-05-19 01:24] minusworld opened #3142 "Ensure invalid configurations are reported"
**Describe the bug**
Semgrep does not report invalid `metavariable-regex` clauses as an invalid config. For example:

[code]

is not reported as invalid when run with `--validate`.

### We need to make sure all invalid config files are reported as invalid.

**To Reproduce**
Put this text in a file, `invalid.yaml`:

[code]

Then try:

[code]

**Expected behavior**
This should be reported as invalid

[2021-05-19 01:45] Ruin0x11 commented on #2493
This is still an issue.

[2021-05-19 01:45] Ruin0x11 commented on #2503
This should still be an issue.

[2021-05-19 02:11] pabloest commented on #3126
Fixed by https://github.com/returntocorp/semgrep-docs/pull/174

[2021-05-19 02:11] #3126 closed, assigned to pabloest

[2021-05-19 02:37] karling1989 commented on #3108
The rule I am using is from the rules registry.
the command I ran is:
======================
semgrep -f ../rules/semgrep-rules-develop/javascript/puppeteer/security/audit/puppeteer-goto-injection.yaml --json -o ./result/output_semgrep.json /tmp/targets/

and I got this error:
============================
running 1 rules...
{"results": [], "errors": [{"type": "SemgrepError", "code": 2, "level": "er

[2021-05-19 04:57] #3095 closed, assigned to nobody

[2021-05-19 05:10] aryx commented on #2451
still a nice feature to have

[2021-05-19 05:19] #3066 closed, assigned to emjin, chmccreery

[2021-05-19 08:02] aryx commented on #3142
Dupe of https://github.com/returntocorp/semgrep/issues/3084?

[2021-05-19 12:26] raghavkhanna opened #3147 "Cache rulesets for offline use"
**Is your feature request related to a problem? Please describe.**
Semgrep rulesets from the registry are not cached locally and always downloaded at run-time. This precludes offline use which is especially relevant if configured to run via a pre-commit hook.

**Describe the solution you'd like**
Semgrep should be able to run offline with the most recently downloaded version of the ruleset.

**Des

[2021-05-19 13:21] ben-elttam commented on #3019
Yeah it is a nice to have. Not that urgent. Just means saving multiple identical passes to get different log outputs.

[2021-05-19 15:30] #3127 closed, assigned to IagoAbal

[2021-05-19 15:31] minusworld commented on #3142
@aryx Yes, good catch! 👍

Closing as dupe of https://github.com/returntocorp/semgrep/issues/3084

[2021-05-19 15:31] #3142 closed, assigned to minusworld

[2021-05-19 15:33] minusworld commented on #3084
I think the issue is that `jsonschema` incorrectly thinks the `metavariable-regex` keys are correct because they all have valid names according to our rule schema. This is either a bug in `jsonschema` or there's a feature we're missing.

I tested this by writing a bunch of unit tests and found that this rule reports an invalid schema error:

[code]

but this rule does **not**:

[code]

[2021-05-19 15:35] minusworld commented on #3084
Ah, and i see that Matt mentioned this behavior above, too

[2021-05-19 15:46] aryx commented on #3084
if we switch to the yaml parser @emjin hooked in semgrep-core, we should be able to detect those duplicate fields.

[2021-05-19 15:53] nbrahms commented on #3085
Perhaps an "alternate" proposal, based on the feedback here, would be to borrow type modifiers from TypeScript, and then have something like the following (copying from the original RFC):

## Proposal

We would update type annotations so that a type could be formed with type modifiers, literal types, and type wildcards:

    [modifier ...] (type | '_')

I envision adding the following type modifie

[2021-05-19 18:13] aegarbutt-stripe opened #3151 "Ruby files with nested heredoc strings fail to parse"
**Describe the bug**
Ruby has support for heredoc style strings. For example:
[code]

Such strings also support string interpolation, meaning a heredoc style string can have another heredoc style string nested inside of it.

[code]

This is valid ruby, and when run, outputs:
[code]
But `semgrep` fails to parse the file.
[code]

Note, that if I call a method, e.g. `.chomp`, on the nested heredoc st

[2021-05-19 19:09] minusworld commented on #3084
`jsonschema` does not have a configuration for detecting duplicate keys: https://stackoverflow.com/questions/26259902/writing-json-schema-to-detect-objects-with-duplicate-names

[2021-05-19 19:09] aegarbutt-stripe opened #3152 "Sorbet signature block using do ... end syntax triggers parse error when defining != operator"
**Describe the bug**
When using the `do ... end` block syntax for a sorbet type signature, attempting to define the `!=` operator causes a parse failure.

I haven't been able to discern why.

[code]
This is valid ruby, and when run, outputs:
[code]

But `semgrep` fails to parse the file:
[code]

Defining a different operator, e.g. `==`, works, as does replacing the `do ... end` block syntax for th

[2021-05-19 19:10] minusworld commented on #3084
We'll try to do this 👍

[2021-05-19 20:56] saltycoder opened #3153 "No centralized place for nosemgreps"
**Is your feature request related to a problem? Please describe.**
There is no way to track and determine why a rule was ignored for a finding.

**Describe the solution you'd like**
It would be nice to have a static file to place all nosemgrep ignores in.  In addition to the nosemgrep annotation, having the ability to add a comment to why the nosemgrep was added would allow folks to quickly review

[2021-05-19 22:18] minusworld commented on #3084
Turns out this is no long available in ruamel.yaml 15.1 and up. It should error, generally speaking.

![image](https://user-images.githubusercontent.com/2374948/118890137-cbaa4800-b8c3-11eb-916b-b7f024ec27d6.png)

However, it doesn't in Semgrep because we supply an alternative constructor which overrides this behavior:

[code]

[2021-05-19 23:29] TomMD opened #3155 "Constant Propagation leads to False Positives in java.lang.correctness.eqeq.eqeq in 0.52.0"
**Describe the bug**

[code]

**To Reproduce**
See above

**Expected behavior**
Semgrep should not report a bug in this case - it should be silent.

**What is the priority of the bug to you?**

- [X] P2: regular bug that should get fixed

**Environment**
This was in a docker image with semgrep 0.52.0 pip installed.

[2021-05-20 01:10] mjambon commented on #2255
I'm not sure if we'll end up implementing this, given the complexity of caching. We did implement that for regular semgrep, and the results on real programs were disappointing. Spacegrep is a little different because it has a much simpler AST, and it may benefit from caching more than semgrep's AST. I'm really not sure what to expect.

A starting point could be the [toy matcher implementation](htt

[2021-05-20 04:55] #3099 closed, assigned to minusworld

[2021-05-20 05:13] abhinavbansal19961996 opened #3156 "How to parse gradle file with semgrep"
**Describe the bug**
Hello team,
Except for using generic, how to parse gradle file?
Any plans of adding the support

[2021-05-20 12:17] IagoAbal commented on #2424
Semgrep seems to assume this (c.f. https://blog.golang.org/package-names#TOC_4.):

If there are other conventions that have widespread use perhaps we should take them into account too.

It was not very difficult to find a few more Go packages that use the `-go` suffix in their path. Should we perhaps add support for that convention?

[2021-05-20 12:26] Sjord commented on #1392
#3121

[2021-05-20 12:56] Sjord opened #3158 "/usr/local/lib/ocaml/version:3:3: error: invalid preprocessing directive"
I try to build semgrep-core from git sources on macOS 11.3.1. I get errors:

[code]

And more similar errors. It seems that the include path is incorrect and ocaml/version is used instead of another version.cc. Temporarily moving ocaml/version (with `sudo mv /usr/local/lib/ocaml/version /usr/local/lib/ocaml/version2`) solves the problem.

[2021-05-20 13:19] mschwager opened #3159 "Python try/except ellipsis missing cases"
In Python, `try`/`except` blocks can contain multiple exceptions to catch. Sometimes we'll want to check if a particular exception type is included at all, not just if it's _the only_ exception type caught. E.g. https://semgrep.dev/s/B43v/

[2021-05-20 13:36] mschwager commented on #1096
- https://semgrep.dev/s/DJRv/
- https://semgrep.dev/s/Wgyo/

[2021-05-20 15:28] mschwager opened #3161 "C# tests are broken"
Looks like we're getting parse errors on some of our C# tests: https://github.com/returntocorp/semgrep/runs/2631102847?check_suite_focus=true

Also confirmed here:

[code]

[2021-05-20 15:53] IagoAbal commented on #3161
OK I see, it's a parsing warning that I missed and it was not caught by semgrep-core tests.

[2021-05-20 15:59] brendongo commented on #3156
Hello @abhinavbansal19961996 !

Generic is your best bet for now. We're currently focusing on the performance of semgrep on the GA languages. We can track interest in gradle support using this issue.

[2021-05-20 16:07] brendongo commented on #3158
Hi @Sjord thanks for filling!

This is due to https://github.com/ocaml/ocaml/issues/9523 and was fixed in Ocaml 4.12 https://github.com/ocaml/ocaml/commit/b727f422bd48022a830566f19c7d5e50181a96e8 we are in the process of updating to 4.12 (https://github.com/returntocorp/semgrep/issues/3027)

Right now we are also using the workaround you used by moving/removing the offending version file :D

[2021-05-20 16:20] brendongo commented on #3155
For convenience: https://semgrep.dev/s/0nYr

Looks like the constant null value is being propagated and we think the statement is `null != null`

[2021-05-20 16:26] brendongo commented on #3155
Really the spirit of the rule is finding  an == that is always true so I think we want the rule to run without constant propagation or have a way to determine if a constant that was propagated is always or sometimes that value? cc: @minusworld @colleend

Or is this just a bug with constant propagation since the null value should probably not be propagated given the setter in the for loop?

[2021-05-20 17:27] #3161 closed, assigned to IagoAbal

[2021-05-20 17:29] brendongo commented on #3118
Updated the example to bypass this quote stripping and will track the quote stripping bug internally.

[2021-05-20 17:30] IagoAbal commented on #3122
Looking into it!

[2021-05-20 17:35] #3118 closed, assigned to brendongo

[2021-05-20 17:37] brendongo commented on #3118
Docs should be updated in a sec with the new example that doesnt break in playground. Thanks for filling @Besnn!

[2021-05-20 17:40] brendongo commented on #3132
Hmm is the intention to do a regex match on the value of `template-name` and only firing if it matches a certain regex or is the intention to fire whenever template-name is set to something?

[2021-05-20 18:47] IagoAbal commented on #3122
Actually constant propagation works in both cases, it's type inference that it doesn't. You can see this by looking at the output of `semgrep-core -lang js -constant_propagation <file>`. From what I can see in Naming_AST we only annotate variables with types when the variables are explicitly declared, and in the case of `two = 2` the variable is being implicitly declared.

[2021-05-20 20:07] abhinavbansal19961996 commented on #3132
Ok Exact scenario is like this:
I have 1000 .txt files with 2 lines
template-name=ANYTHING
typescript-sdsd=ANYTHING

Now I want to use semgrep yml rules to catch just that ANYTHING part and store it in 1000 rows with 2 columns in my excel sheet giving template name and typescript-sdsd.

So looking to use SEMgrep for parsing above txt file and get just that ANYTHING PART.

[2021-05-20 21:31] colleend commented on #3108
What do you get if you run the command without the `--json` and `-o` flags? Would you also mind running the command with the `--debug` flag to get more clarity on what's happening?

[2021-05-20 21:55] IagoAbal commented on #3122
@mschwager is it crucial to fix these false positives?
[code]
Or is it enough to remove the `value = obj[two]` false positive to close this issue?

[2021-05-20 21:57] mschwager commented on #3122
Nope, those ones aren't important, just `value = obj[two]` :+1:

[2021-05-20 23:30] brendongo commented on #3132
Hmm I think this is something I would just use regular grep for. Something like this should get you what you want:

`find . -type f -name "*.txt" -print0 | xargs -0 grep 'template-name' | awk '{sub(/=/," ")}1' | awk '{print $2}'`

[2021-05-21 00:01] inkz commented on #299
:wave:

[2021-05-21 00:03] inkz commented on #1006
:wave:

[2021-05-21 03:51] rohitjoshi commented on #1338
any update on Rust support?

[2021-05-21 12:20] Ayrx commented on #3115
This pattern also fails:

[code]

While the following pattern matches:
[code]

[2021-05-21 12:44] aryx commented on #1769
:wave:

[2021-05-21 12:44] aryx commented on #1271
:wave:

[2021-05-21 12:45] aryx commented on #1751
:wave:

[2021-05-21 12:58] #3122 closed, assigned to IagoAbal

[2021-05-21 13:24] mschwager commented on #2552
Looks like this is fixed with the recent deep expression operator changes!

[2021-05-21 13:36] mschwager commented on #2552
https://github.com/returntocorp/semgrep-rules/pull/1293 :tada:

[2021-05-21 13:36] #2552 closed, assigned to nobody

[2021-05-21 15:09] mschwager opened #3168 "Nested 'pattern-either' produces invalid YAML schema"
The playground is changing my YAML rules when I try to share then, so I'll have to show these inline.

These examples are a bit artificial, but the original rule exhibiting this behavior was a more complex, valid extension of these examples.

`patterns` -> `patterns` works:

[code]

`patterns` -> `pattern-either` works:

[code]

`pattern-either` -> `patterns` works:

[code]

`pattern-either` -> `p

[2021-05-21 16:38] #1953 closed, assigned to aryx

[2021-05-21 16:38] aryx commented on #1953
Alpha support for Scala should be available in the next release.
Let us know about parsing or matching bugs by creating issues.

[2021-05-21 16:43] amietn commented on #1338
@rohitjoshi I added support for writing semgrep patterns for Rust rules with statements directly:

* https://github.com/returntocorp/ocaml-tree-sitter/pull/177
* https://github.com/returntocorp/semgrep/pull/2910
* https://github.com/returntocorp/ocaml-tree-sitter/pull/184

That was merged in semgrep v0.47.0.

[2021-05-21 16:48] rohitjoshi commented on #1338
Thank you!  Yes, I tried and it worked. Are there any existing rules ported for rust which can be used as reference?

[2021-05-21 16:54] amietn commented on #1338
As far as I know, I don't think there are any Rust rules in the https://github.com/returntocorp/semgrep-rules repository at the moment I'm afraid.

[2021-05-21 16:58] #3084 closed, assigned to minusworld, emjin

[2021-05-21 19:10] DrewDennison opened #3170 "$...BODY not working for Go"
https://semgrep.dev/s/L0bG is not matching for @dgryski but if you use `...` in place of `$...BODY` it matches. He needs to capture the function body for autofix.

See: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1621623452029300 for more context

[2021-05-21 19:25] brendongo commented on #2432
@thypon when running`brew install --build-from-source semgrep` on Apply M1 on M1 i still have `semgrep --config p//security-audit juice-shop` not making progress

[2021-05-21 19:33] thypon commented on #2432
Me too. It seems to me that the bug is in the python wrapper and not in the core thought. On some rules the python wrapper memory bombs my machine until the out-of-memory killer kills it. No matter if it is running native M1 or Rosetta.

[2021-05-21 20:59] brendongo commented on #2432
Hmm I'm seeing semgrep-core jobs not exiting so the python wrapper is left waiting for the subprocess call to semgrep-core to return. But yeah looks like just specific rules are causing this. When I get some time I'll try and track down which specific rules those are to make this easier to debug :D

[2021-05-21 21:48] rohitjoshi commented on #1338
Thanks. Do you think we can reuse existing rules or auto-generate from existing? There is lot of good work done by community to create rules. Some of them may be lang specific but some may be able to reuse with little modifications. E.g. RegEx patterns

 I have also started converting go lang s[ecurity/audit/crypto](https://github.com/returntocorp/semgrep-rules/blob/develop/go/lang/security/audit/

[2021-05-22 04:45] hex0punk commented on #2432
This rules is hanging on M1. I haven't done much to debut it yet, but I know the issue does not occur in Intel Macs: https://github.com/trailofbits/semgrep-rules/blob/main/go/anonymous-race-condition.yml

[2021-05-22 07:08] aryx commented on #1338
For rules you can take inspiration of existing
Rust linters. For example for Ruby we started with imitating what brakeman was doing. Same for JS with eslint. What are the existing Rust linters?

[2021-05-22 08:58] dgryski commented on #1338
The standard Rust linter is https://github.com/rust-lang/rust-clippy

[2021-05-24 01:46] rtpg commented on #2477
OK an update on this one, turns out I was able to isolate this to `semgrep-core`, so it's not an autofix-only issue.

tl;dr is that semgrep-core reports column counts as.... I guess bytes? I dunno, couldn't find the ocaml source, but it's saying that the end of the line is at column 49 when there are only 42 columns on the error'd line. this causes replacement to fail downstream, but I imagine thi

[2021-05-24 01:56] rtpg commented on #2477
reading more about this, sounds like ocaml's unicode story isn't great but [Camomile](https://github.com/yoriyuki/Camomile) can provide a unicode text type for you to use while reading files.

[2021-05-24 06:55] ievans commented on #2477
paging @aryx @mjambon @emjin for ocaml expertise :)

[2021-05-24 07:16] karling1989 commented on #3108
This time, the command I ran is:
===========================
semgrep --debug -f ../rules_backup_2/semgrep-rules-develop/javascript/puppeteer/security/audit/puppeteer-goto-injection.yaml /tmp/targets/

and I got this error:
==============================
A new version of Semgrep is available. Please see https://github.com/returntocorp/semgrep#upgrading for more information.
loaded 1 configs in 0.11

[2021-05-24 08:04] aryx commented on #2477
yes we're doing some hacks in pfff around unicode in our lexers. One option is to switch to tree-sitter for parsing Python; should be quicky, the language is quite small and we already have an AST defined for it.

[2021-05-24 08:24] aryx opened #3174 "[playground] says parse error in pattern when the parse error is in the rule"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
If I put a parse error in the rule, for example I use ruleS instead of rules at the beginning,
and then I click run, it says there's a parse error in the pattern (which is not correct; the parse error is in the rule).

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep o

[2021-05-24 08:25] aryx commented on #3174
would be fixed by using a better yaml parser. cc @emjin

[2021-05-24 08:29] aryx commented on #3174
Also what's wrong with:
[code]

[2021-05-24 08:32] IagoAbal commented on #1849
Is this issue still relevant once we are planning to handle rules inside semgrep-core?

[2021-05-24 08:39] aryx commented on #1849
Well we still need to handle that correctly in semgrep-core, to modify how we do metavariable-regex, and metavariable-comparison to possibly use the propagated constant.

[2021-05-24 08:40] aryx commented on #1849
Also at some point we may need to modify how we report a match for a pattern because we may also want to indicate not only the match but also the point where the constant was defined, so the user can better understand why we thing this match let's say foo(42).

[2021-05-24 14:07] #3168 closed, assigned to nobody

[2021-05-24 14:50] mschwager commented on #1849
I believe so. This feature request is most relevant for downstream applications building on, for example, Semgrep's JSON output, not for use within Semgrep itself. For example, let's say you're aggregating an application's HTTP routes:

[code]

And your pattern is something like `@route($PATH, $VERB)`. Perhaps you're trying to do some analysis on routes, and it would be useful to gather their path

[2021-05-24 15:26] nbrahms opened #3176 "[testing] semgrep.dev bug report"
https://semgrep.dev/s/okE1

[2021-05-24 15:33] #3073 closed, assigned to DrewDennison

[2021-05-24 17:10] mschwager commented on #3111
Closing out - feel free to re-open if you have any more questions!

[2021-05-24 17:10] #3111 closed, assigned to nobody

[2021-05-24 17:58] aegarbutt-stripe opened #3177 "In Ruby, `$...ARGS` doesn't match all of the same places as `...` (Needed for autofix)"
**Describe the bug**
In ruby, when using the ellipsis operator (i.e. `...`, it can match on 0 or more additional function parameters. I expect that the spread metavariable operator (i.e. `$...ARGS`) can match on the exact same set of items.

In practice, the ellipsis operator is matching 0 or more additional function parameters while the spread metavariable is only matching on 1 or more.

**To Rep

[2021-05-24 18:07] aegarbutt-stripe opened #3178 "Ruby matches don't include the closing parenthesis for function calls"
**Describe the bug**
In ruby, parentheses are optional for function calls. Semgrep already knows how to match both with and without parentheses. For example, the pattern:

[code]

will match either of:
[code]

Unfortunately, the semgrep match doesn't include the closing parenthesis in its match. This is somewhat problematic in the case of trying to write automatic fixes.

Trying to write an autofi

[2021-05-24 18:17] nbrahms opened #3179 "Rule hash metric should be independent of file path"
**Describe the bug**
A config yaml should hash to the same value no matter where the file is stored

**To Reproduce**
Download a config yaml to two different locations, and print the metric rule hash.

**Expected behavior**
Hash should be same value.

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
-

[2021-05-24 18:18] nbrahms opened #3180 "Device to predictably get sha256 for a rule file"
**Is your feature request related to a problem? Please describe.**
This is necessary to understand our metrics for a public ruleset.

We need some mechanism (e.g. `sha256sum my_config.yml`) to get the hash as returned by semgrep metrics.

[2021-05-24 18:47] aegarbutt-stripe commented on #3177
Perhaps related to #3170

[2021-05-24 21:35] colleend commented on #3108
hmm, seems like it's having trouble with one of the tmp files -- this error is most likely because we can't successfully parse one of the files in /tmp. Would you try running semgrep with '-v' verbose flag so we can figure out which file it can't parse? After that we can look into what the file is. `/tmp/tmpmsw8u7e3` isn't an actual file in your directory, right?

[2021-05-25 02:14] avirtuos commented on #1953
When is the next release date? I am just wrapping up our first set of java
rules with semgrep and will allocated time to experiment with scala in the
next few weeks.

Anthony Virtuoso
mobile: 201.575.3435

On Fri, May 21, 2021 at 12:39 PM Yoann Padioleau ***@***.***>
wrote:

[2021-05-25 04:24] CGamesPlay opened #3187 "Differentiate tagged template literals"
**Is your feature request related to a problem? Please describe.**
In TypeScript libraries like [Prisma](https://www.prisma.io/), you can execute raw, unescaped SQL using a function like `prisma.$executeRaw` (I doubt this feature is specific to Prisma or even SQL, but it's what I'm attempting to detect against now). TypeScript (JavaScript) provides a syntax to safely use these functions with escap

[2021-05-25 05:05] aryx commented on #1953
We release every week on tuesday usually

[2021-05-25 05:06] aryx commented on #584
👋

[2021-05-25 14:09] #3187 closed, assigned to aryx

[2021-05-25 14:11] #3176 closed, assigned to nobody

[2021-05-25 14:13] aryx commented on #3158
yes it's because C++ brilliantly now use header files without even a .h suffix ... so any version file in a directory in the include PATH will be used. Thanks C++ ...

[2021-05-25 14:14] aryx commented on #3156
We now have partial support for parsing Kotlin files. Could that be used also to parse Gradle files? What is the language specification of the Gradle language? (on wikipedia it says it's using a Kotlin-based DSL).