[2022-04-19 11:00] r2c-demo commented on #5046
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1187/javascript-function-variable-propagation-and-line-matching.

[2022-04-19 11:00] ttttmr opened #5047 "javascript function variable propagation and line matching"
https://semgrep.dev/s/7Qxk

[code]

[code]

I'm a beginner with semgrep and I think this should match to the b1 function call

so i modify the rules

https://semgrep.dev/s/L2oG

[code]

Successfully matched, but it shows matching to line 4 and 7, I want to match to line 6 and 7

Or is there any rule writing to achieve this match, please tell me, thank you

[2022-04-19 11:02] r2c-demo commented on #5047
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1188/javascript-function-variable-propagation-and-line-matching.

[2022-04-19 11:04] #5047 closed, assigned to nobody

[2022-04-19 11:12] ttttmr commented on #5046
I tried a new rule and it got stuck

[code]

[2022-04-19 14:13] fpmosley commented on #3698
@aryx Thanks for the update. I was unsure if the todos were still needing to be addressed.

[2022-04-19 17:48] ievans commented on #3921
@chrismcgehee closing this issue -- please let us know if this isn't fixed in 0.89 :)

[2022-04-19 17:48] #3921 closed, assigned to mmcqd

[2022-04-19 17:50] #5043 closed, assigned to nobody

[2022-04-19 17:53] ievans commented on #5046
@ttttmr symbolic propagation works only within (intra) procedures right now, so if you wrap those calls in a function, it should work. See https://semgrep.dev/s/WDXj

[2022-04-20 01:23] khanhldt opened #5055 "Match order between Python decorators (or compare metavariable locations)"
**Is your feature request related to a problem? Please describe.**

I'm writing a rule for this requirement [from using Flask](https://flask.palletsprojects.com/en/2.1.x/patterns/viewdecorators/):

What i have right now: https://semgrep.dev/s/khanhldt:flask-route-decorator

It's sort of working. I use the combination of both `pattern` and `regex` to reduce chances of noise, but since regex is the

[2022-04-20 01:25] r2c-demo commented on #5055
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1189/match-order-between-python-decorators-or-compare-metavariable.

[2022-04-20 06:08] ievans commented on #4281
@aryx going to re-open until I've had a chance to verify

[2022-04-20 08:29] IagoAbal opened #5056 "[JS/TS] Ellipsis cannot be used as an object expression in a method call"
Reporting on behalf of a customer.

**Describe the bug**

Pattern `....bar()` is not accepted in JS/TS.

Maybe this should be added to the GA-level test suite, it seems like it should work in all GA languages. (May be a beta-level feature?)

**To Reproduce**

See https://semgrep.dev/s/4krL vs https://semgrep.dev/s/PPQ3

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption

[2022-04-20 08:29] r2c-demo commented on #5056
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1190/[jsts]-ellipsis-cannot-be-used-as-an-object-expression-in-a-method.

[2022-04-20 08:54] patpatpat123 opened #5057 "A parameter being passed directly into java.net.URL function most likely lead to SSRF. .mvn/wrapper/MavenWrapperDownloader.java"
**Describe the bug**
A parameter being passed directly into java.net.URL function most likely lead to SSRF.

**To Reproduce**
https://github.com/patpatpat123/springvaultcve
The CI/CD tool will download a maven wrapper in order to execute the CI CD pipeline, which is just a simple mvn clean install

Upon completion, the pipeline will run semgrep.

I look at the report, and this is always being flag

[2022-04-20 08:54] r2c-demo commented on #5057
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1191/a-parameter-being-passed-directly-into-javaneturl-function-most-likely.

[2022-04-20 08:58] patpatpat123 commented on #5057
Hmm, looked at the link, not sure about the relevancy

[2022-04-20 10:05] ttttmr commented on #5046
@ievans Thanks, another question is why the above rules are stuck, is this a semgrep problem, or my rules are written incorrectly

[2022-04-20 10:09] ttttmr commented on #5046
To add, I can only reopen a playground in the case of being stuck. It seems that there is no place to cancel the operation. If possible, add a cancel operation, or automatically cancel the timeout. I don’t know if the backend service has a timeout limit.

[2022-04-20 10:32] patrickpichler opened #5058 "Semgrep runs rules against files specified in .semgrepignore when passed explicitly"
**Describe the bug**
When running semgrep in a folder containing a `.semgrepignore` and specifying a file on the command line
which is present in the ignore file, semgrep will print that it will ignore the file, but then executing its rules anyway.

**To Reproduce**
* Clone the git repo from https://git.sr.ht/~patrickpichler/semgrep-ignore-bug
* If you have docker installed run `./command.sh`
* If

[2022-04-20 10:33] r2c-demo commented on #5058
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1192/semgrep-runs-rules-against-files-specified-in-semgrepignore-when.

[2022-04-20 16:27] ievans commented on #5058
hi @patrickpichler -- this looks like a duplicate of https://github.com/returntocorp/semgrep/issues/4978, would you mind taking a look?

(tldr: we have recently finished porting all semgrep-agent functionality into the CLI--we'd recommend switching your invocation to `semgrep ci` which will perform the git-diff-aware subtraction automatically. would be very interested in any feedback about whether

[2022-04-20 17:14] LewisArdern opened #5060 "Allow metavariable-pattern to inherit the variable environment from the parent"
**Is your feature request related to a problem? Please describe.**
Currently when you write a taint rule, you are limited from being able to really dig deep into the 'source' through metavariable-patterns e.g. I want to know if the source is the start of a query, after a variable, or is after a literal string, etc.

If we allowed metavariable-pattern to inherit the variable environment from the pa

[2022-04-20 17:14] r2c-demo commented on #5060
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1194/allow-metavariable-pattern-to-inherit-the-variable-environment-from. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-20 18:00] patrickpichler commented on #5058
Hey,
Thank you for the fast response :slightly_smiling_face:
You are right, this is a duplicate, I must have somehow missed it :sweat_smile:
I will close this issue and thank you for pointing out `semgrep ci`, I will have a look :slightly_smiling_face:

[2022-04-20 18:00] #5058 closed, assigned to nobody

[2022-04-21 00:21] brendongo commented on #5057
@patpatpat123 that is for internal tracking mostly :D

How are you running semgrep? You can run semgrep before you install dependencies or you can add `.mvn` to a .semgrepignore file or you can execute semgrep with `--exclude .mvn/`

[2022-04-21 01:06] #4889 closed, assigned to nobody

[2022-04-21 01:06] #4913 closed, assigned to nobody

[2022-04-21 01:06] #4891 closed, assigned to nobody

[2022-04-21 02:09] brendongo commented on #4191
Closing since we are unable to reproduce

[2022-04-21 02:09] #4191 closed, assigned to nobody

[2022-04-21 09:54] ttttmr opened #5062 "Combining taint mode and join mode"
**Is your feature request related to a problem? Please describe.**
The taint mode is very convenient, I define some sources and sinks, and can find some bugs
For example, there are a lot of user input sources, sink is the eval function
Then I find a new sink, such as innerhtml, I want to reuse the source written above, in taint mode I can only copy it manually
Or use join mode to reuse rules, but

[2022-04-21 09:54] r2c-demo commented on #5062
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1195/combining-taint-mode-and-join-mode. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-21 12:25] Sjord commented on #4849
I encountered something like `hello: {{world}}` when scanning a client's project. It is valid YAML, but I guess they pass it through a template engine which replaces `{{anything}}` with a variable. So `{{world}}` signifies a variable to be replaced, not a nested data structure.

I don't care much how semgrep interprets `{{world}}`, but because it raises an error I can't search for other patterns i

[2022-04-21 12:59] IagoAbal opened #5063 "`metavariable-pattern`+`language: L` should work on arbitrary code"
This requires that `$MVAR` binds to a string, otherwise it simply evaluates to false:
[code]

So this does not work: https://semgrep.dev/s/JwJZ

We could actually obtain the exact code matched by `$MVAR` (using location info) and re-interpret it as LANG.

Unfortunately I don't have a good use case for this yet, it's just easy to implement and seems rather reasonable behavior.

[2022-04-21 13:00] r2c-demo commented on #5063
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1196/metavariable-patternlanguage-l-should-work-on-arbitrary-code. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-21 13:04] IagoAbal opened #5064 "Better handle `metavariable-pattern` when nested language is the same as current language"
Consider:
[code]

If we simply add `language: python` to `metavariable-pattern` this no longer works: https://semgrep.dev/s/5Z3l

The reason is that when using a nested language, `$X` is required to bind to a string (see #5063).

But this can be confusing for some users, see https://r2c-community.slack.com/archives/C018NJRRCJ0/p1650095652642469.

We could either have a meta checking rule that flag

[2022-04-21 13:06] r2c-demo commented on #5064
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1197/better-handle-metavariable-pattern-when-nested-language-is-the-same-as. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-21 13:14] patpatpat123 commented on #5057
Understood! Thanks! Trying the proposed solutions and will update the result

[2022-04-21 13:33] raoganeshr opened #5065 "Ability to ignore particular rule Id from ruleset while running locally without App"
**Is your feature request related to a problem? Please describe.**
Currently when I run the ruleset for Docker, pinning the image version is an error. However I would like to continue using Docker ruleset without the pinning rule. Currently I dont have a way to do it

**Describe the solution you'd like**
Ability to pass ignore rule list

**Describe alternatives you've considered**
None

**Use case

[2022-04-21 13:35] r2c-demo commented on #5065
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1198/ability-to-ignore-particular-rule-id-from-ruleset-while-running. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-21 15:47] emjin opened #5067 "Raising the stack limit does not cause the limit to be higher for all operations"
Reproduction by Bence:

Ran `test_timeout_threshold` and got

[code]

It appears that we have blown a stack of 16773120, but when Bence ran

[code]

The test succeeded.

This implies that the stack limit is not, in fact, 16773120 bytes, at least while some operation is being performed. We should either make it so or remove this entirely if it isn't having any effect, so that we can instead suggest

[2022-04-21 15:47] r2c-demo commented on #5067
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1199/raising-the-stack-limit-does-not-cause-the-limit-to-be-higher-for-all. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-21 18:01] brendongo commented on #5067
```pytest tests/e2e/test_check.py::test_timeout_threshold``` for convenience

[2022-04-21 20:18] jn94501 opened #5068 "Eliminate fatal to-dos from C# parser"
[ERROR] Semgrep Core — Fatal errorAn error occurred while invoking the Semgrep engine. Please help us fix this by creating an issue at https://github.com/returntocorp/semgrepAt line src/WinSW.Core/Download.cs:1: Common.Impossible====[ BEGIN error trace ]====Raised at Parse_csharp_tree_sitter.type_ in file "src/parsing/tree_sitter/Parse_csharp_tree_sitter.ml", line 2211, characters 6-22Called from

[2022-04-21 20:19] r2c-demo commented on #5068
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1202/[error]-semgrep-core-fatal-erroran-error-occurred-while-invoking-the. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-21 21:33] brendongo opened #5069 "Flag to make audit findings visible in semgrep ci output"
**Is your feature request related to a problem? Please describe.**
`semgrep ci` hides the findings from audit column rules. While for PR scans it makes sense to hide these, for full scans users might want to export the finding data (--json)

**Describe the solution you'd like**
Expose a `--show-audit-findings` flag that shows the non-blocking audit rules in the output of `semgrep ci`

** Additiona

[2022-04-21 21:34] r2c-demo commented on #5069
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1203/flag-to-make-audit-findings-visible-in-semgrep-ci-output. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-21 21:38] #2874 closed, assigned to brendongo

[2022-04-21 21:48] brendongo commented on #4311
Yep we are also seeing failures to install with pre-commit on M1 Macs. Currently getting a build on ARM is something we want to do in the next ~2 months but higher priority things keep popping up 😅

What is necessary is something in github actions that would run our mac osx build script https://github.com/returntocorp/semgrep/blob/develop/.github/workflows/release.yml#L135 in an M1 Mac environment

[2022-04-22 00:28] mjambon opened #5071 "Add support for the pipeline operator |> in javascript and typescript"
This is newish syntax that is already supported by Babel and is on its way to become standard.
See status at https://github.com/tree-sitter/tree-sitter-javascript/issues/125

Depending on the reactions, it should be added either to tree-sitter-javascript directly or just as an extension in [ocaml-tree-sitter-semgrep](https://github.com/returntocorp/ocaml-tree-sitter-semgrep).

[2022-04-22 00:28] r2c-demo commented on #5071
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1204/add-support-for-the-pipeline-operator-or-in-javascript-and-typescript. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-22 00:46] mjambon opened #5072 "Provide a way to analyze URL components"
Goal: detect unsafe URL injections

For example, `https://example.com/$X` would be considered safe regardless of the origin of `$X` but `https://example$X.com/home` is considered unsafe if `$X` is tainted i.e. might come straight from user input.

**Describe the solution you'd like**

tbd. See proposals in the comments.

**Use case**

[SSRF](https://owasp.org/www-community/attacks/Server_Side_Requ

[2022-04-22 00:47] r2c-demo commented on #5072
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1205/provide-a-way-to-analyze-url-components. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-22 02:51] mjambon commented on #5068
[code]
points to this line: https://github.com/returntocorp/semgrep/blob/44d09a32dd6d7e1e88a845ad70c65003c75122c0/semgrep-core/src/parsing/tree_sitter/Parse_csharp_tree_sitter.ml#L2111

This is some construct that's not supported in a C# source file. It would be best to support it, followed by being able to ignore such constructs.

I'm setting the issue title to reflect this.

[2022-04-22 03:03] inkz opened #5073 "[Java] Skipped results when function argument and class variable has the same name"
https://semgrep.dev/s/z5w1

[code]

When we have a class Foobar with variable `sameName` and we want to catch assignment to this variable with semgrep rule, if name of method argument matches the variable name the result will be skipped.

[2022-04-22 03:05] r2c-demo commented on #5073
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1206/[java]-skipped-results-when-function-argument-and-class-variable-has. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-22 07:09] raoganeshr opened #5074 "The rule dockerfile.best-practice.missing-image-version.missing-image-version does not handle intermediate stages using earlier stages"
**Describe the bug**
e.g.

FROM python:3.10.1-alpine3.15@sha256:4be65b406f7402b5c4fd5df7173d2fd7ea3fdaa74d9c43b6ebd896197a45c448 as base
..
..

# ruleid: missing-image-version
FROM base AS BUILD

**To Reproduce**
Use above example of docker file

**Expected behavior**
Intermediate build steps should not be affected by this rule.

**Screenshots**
If applicable, add screenshots to help explain your

[2022-04-22 07:11] r2c-demo commented on #5074
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1207/the-rule-dockerfilebest-practicemissing-image-versionmissing-image. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-22 08:02] IagoAbal commented on #5072
From taint perspective, we need an operator that can take an `$MVAR` bound to an "URL expression", and narrow the match to certain parts of that URL, e.g. protocol and hostname. Then you can use that in `pattern-sinks` to tell taint-mode that you are only interested in tainted data going into e.g. the protocol and the hostname parts of the URL.

So this wouldn't be a conditional operator (like e.g

[2022-04-22 11:16] Sjord commented on #3941
[This comment](https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/src/parsing/tree_sitter/Parse_php_tree_sitter.ml#L28-L32) suggests to map tree-sitter CST to PHP AST, which can then be converted to generic AST. Does this make sense? Wouldn't it be better to map to generic AST immediately?

Currently php_to_generic uses both AST and CST types. E.g. [BoolTy is a CST type](https://git

[2022-04-22 12:39] aryx commented on #3941
I would like to remove cst_php.ml from pfff, and only get an ast_php.ml there.
Then, when there is an existing ast_xxx.ml (like the one in pfff), I prefer to translate the tree-sitter CST to this ast_xxx.ml first, and then
separately have a xxx_to_generic.ml.
This is debatable. I usually prefer to separate concerns, but there's a case to be make sometimes to go directly
to the generic AST.
Recentl

[2022-04-22 16:15] Gby56 opened #5075 "semgrep ci does not support --severity flag"
**Describe the bug**
It looks like semgrep 0.87 doesn't handle --severity when using ci mode
https://github.com/returntocorp/semgrep-action/issues/135

**To Reproduce**
[code]

**Expected behavior**
It should ?

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [X] P0: blocking your adoption of Semgrep or workflow
- [ ] P1:

[2022-04-22 16:16] r2c-demo commented on #5075
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1208/semgrep-ci-does-not-support-severity-flag. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-22 17:31] mjambon commented on #5065
Thanks for reporting this! I'm marking it as a duplicate of #2530

[2022-04-22 17:32] #5065 closed, assigned to nobody

[2022-04-22 20:01] ELLIOTTCABLE opened #5076 "Module-opening in OCaml"
**Describe the bug**
At the moment, semgrep is completely unaware of `open`, `let open`, and `Module.(...)` in OCaml.

At the moment, none of these are captured for either query of `List.fold_left` nor `Format.fprintf`:

[code]

This is, of course, a gnarly problem: I suspect there isn't a comprehensive solution that isn't on the order of "full typechecking" in complexity.

However, there are cert

[2022-04-22 20:02] r2c-demo commented on #5076
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1209/module-opening-in-ocaml. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-22 20:54] ELLIOTTCABLE commented on #5076
I also tried to use `pattern-inside` in this rule in a `.yaml`, as a half-measure — unfortunately, it yields "Invalid pattern for OCaml", and I'm not sure why:

[code]

[2022-04-22 21:24] ELLIOTTCABLE opened #5078 "OCaml Matches are leaving a hanging closing-parenthesis, breaking autofix"
**Describe the bug**
When matching a simple construct like `function_name $X`, if there's a parenthetical subexpression in the match, semgrep leaves the *closing* paren of that match excluded.

[code]

[code]

Produces this (syntactically invalid 😓):

[code]

**To Reproduce**
https://semgrep.dev/s/YNko

**Screenshots**
<img width="396" alt="Screen Shot 2022-04-22 at 4 24 03 PM" src="https://user-i

[2022-04-22 21:25] r2c-demo commented on #5078
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1210/ocaml-matches-are-leaving-a-hanging-closing-parenthesis-breaking. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-23 00:23] ELLIOTTCABLE opened #5079 "Open statement existing at all in a rule causes a parse-error"
**Describe the bug**
I'm unable to match on `open` statements at all. (Unrelated to #5076.)

[code]

[code]

**To Reproduce**
https://semgrep.dev/s/Obl2

**Expected behavior**
The first line of the example, `open Lwt`, would be matched.

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regula

[2022-04-23 00:25] r2c-demo commented on #5079
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1211/open-statement-existing-at-all-in-a-rule-causes-a-parse-error. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-23 12:17] #4932 closed, assigned to nobody

[2022-04-23 12:17] #4873 closed, assigned to nobody

[2022-04-23 16:53] ttttmr opened #5080 "Function wrapping causes taint propagation detection to fail"
https://semgrep.dev/s/AzbL

The wrapper function taint propagation detection failed, should match the route3 function (line 17)

[2022-04-23 16:55] r2c-demo commented on #5080
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1212/function-wrapping-causes-taint-propagation-detection-to-fail. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-24 14:21] aryx commented on #5076
This is related to https://github.com/returntocorp/semgrep/issues/4839

[2022-04-25 09:30] malexmave opened #5081 "Docker container running as root - issues with Kubernetes"
**Is your feature request related to a problem? Please describe.**
Between v0.85.0 and v0.86.0, the default user of the semgrep docker container changed from semgrep to root.

[code]

The change seems to have been introduced as part of merging #4777 in commit https://github.com/returntocorp/semgrep/commit/26e7cc6fe8689ef8d9b21c7d41281b3423fa3b98 (I could not find the exact commit inside #4777 that

[2022-04-25 09:30] r2c-demo commented on #5081
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1214/docker-container-running-as-root-issues-with-kubernetes. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-26 09:01] InLineR495 opened #5084 "Running semgrep behind SSL proxy"
Semgrep is running in linux with globally configured proxy does not use it and throws an SSL error. Is there a way i can run Semgrep behind proxy? Or disable SSL verification?

[2022-04-26 09:02] r2c-demo commented on #5084
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1216/running-semgrep-behind-ssl-proxy. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-26 18:15] brendongo commented on #5084
Sorry can you provide more details and reproduction for us

[2022-04-26 18:19] brendongo commented on #5081
@malexmave the change was made so that the semgrep docker image can be used in CI/CD pipelines since they all use the user to setup the image / inject the source code etc. So definitely intentional 😅

[2022-04-26 21:56] moshekaplan opened #5088 "Fatal Error in Wireshark parsing"
**Describe the bug**
Semgrep has a fatal error when running in Wireshark source code

**To Reproduce**
Rerun the CI job seen here: https://gitlab.com/moshekaplan/wireshark/-/jobs/2380492001

**Expected behavior**
Semgrep shouldn't crash

**Screenshots**
https://semgrep.dev/s/x9YL

File is available here: https://github.com/wireshark/wireshark/blob/master/epan/wslua/wslua_gui.c
[code]
**What is the

[2022-04-26 21:57] r2c-demo commented on #5088
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1217/fatal-error-in-wireshark-parsing. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-27 00:51] brendongo opened #5092 "Python `as` inside `with` multiple"
**Describe the bug**
A clear and concise description of what the bug is.

The following fails to parse:

[code]

https://semgrep.dev/s/4Ry5

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

[2022-04-27 00:53] r2c-demo commented on #5092
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1218/python-as-inside-with-multiple. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-27 02:37] itchyny opened #5094 "Java: Support Unicode characters in identifiers"
**Is your feature request related to a problem? Please describe.**
Currently (0.89.0) semgrep warns syntax error on a Java file including identifiers with Unicode characters.
[code]
[code]

**Describe the solution you'd like**
Does not warn syntax errors.

**Describe alternatives you've considered**
Not sure.

**Use case**
We use Unicode characters for test method names.

**Additional context**
-

[2022-04-27 02:38] r2c-demo commented on #5094
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1220/java-support-unicode-characters-in-identifiers. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-27 05:47] malexmave commented on #5081
Okay, great - thanks for the info, in that case we'll figure out how to work with this on our end :).

[2022-04-27 05:47] #5081 closed, assigned to nobody

[2022-04-27 22:35] ievans commented on #4281
@aryx @tapdiego-amzn @nightwatchcyber we found a few license headers that indeed appeared to contradict the overall license and tracked those down with the original contributors. Thanks for the pings. I can verify we are now fully LGPL for redistributed Semgrep.

Note that the content under `semgrep-core/tests` is not redistributed, so we are not concerned about LGPL compatibility with those files

[2022-04-27 22:35] #4281 closed, assigned to ievans

[2022-04-27 22:40] brendongo commented on #5069
@raghavjain3 brought up that we might want to just make all findings visible by default

[2022-04-27 23:01] kurt-r2c commented on #4171
Unfortunately, improperly-named packages in the ecosystem exist (and mess this up)
https://semgrep.dev/s/epoy
https://github.com/swaggo/http-swagger

If you fiddle w/example, it works as expected: https://semgrep.dev/s/Z74o

[2022-04-27 23:27] tapdiego-amzn commented on #4281
Thank you! For completeness sake though, note that although https://github.com/returntocorp/semgrep/blob/develop/LICENSE no longer contains a linking exception, many source code files still reference it in their license headers, e.g. https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/src/core/Range.ml#L8

[2022-04-28 00:24] brendongo commented on #4465
I think #4818 handles this

[2022-04-28 00:24] #4465 closed, assigned to nobody

[2022-04-28 00:31] brendongo commented on #4188
Oh glad you solved it! Closing issue as solved then :D

[2022-04-28 00:31] #4188 closed, assigned to nobody

[2022-04-28 00:49] brendongo commented on #3769
This is solved I think. At least I havent heard of 6 hour runs in a while. We actually do have timeouts and have semgrep rules that alert when network calls are made without one. And we have timeouts on shelling out to git. I think the timeouts were solved by https://github.com/returntocorp/semgrep-action/pull/444 but I don't have any proof to back up this claim.

[2022-04-28 00:50] brendongo commented on #3769
Or it was https://github.com/returntocorp/semgrep/pull/4208#pullrequestreview-798012838

[2022-04-28 00:55] brendongo commented on #3769
I think can mark this as closed

[2022-04-28 00:55] #3769 closed, assigned to nobody

[2022-04-28 00:56] brendongo commented on #5057
@patpatpat123 did this solve your problem for you?

[2022-04-28 01:07] patpatpat123 commented on #5057
Apologies for the lates reply. Both the exclude and the ignore files worked.
Thanks a lot for your time helping on this!
Closing

[2022-04-28 01:07] #5057 closed, assigned to nobody

[2022-04-28 06:47] #4874 closed, assigned to nobody

[2022-04-28 09:11] Sjord commented on #5092
This seems to use an *as pattern*, which was introduced in [PEP 636](https://peps.python.org/pep-0636/), which is implemented upstream in tree-sitter-python ([tracking issue](https://github.com/tree-sitter/tree-sitter-python/issues/116), [PR](https://github.com/tree-sitter/tree-sitter-python/pull/140)). So it seems that upgrading the tree-sitter-python in semgrep would solve this issue.

[2022-04-28 12:39] itaranto commented on #4465
This doesn't support the XDG spec properly, to do that, the fallback should be `$HOME/.config/semgrep` not `$HOME/.semgrep`.

@tpetr

[2022-04-28 12:44] itaranto commented on #4465
Something like this:

[code]

[2022-04-28 12:50] tpetr commented on #4465
Whoops, thanks for catching this. I can make a follow up PR in the near future.

[2022-04-28 18:29] anshumanbh opened #5106 "Non-determinism in what language is being used to parse patterns"
**Describe the bug**
I have been observing a lot of inconsistencies with how Semgrep CLI runs on local repos. I have a rule.yaml file with a couple of rules in it. It looks like below:

[code]

When I run this rule on the repos (`semgrep --config rule.yaml repo`) more often than not, it complains with an error like -

[code]

Sometimes, it is `Invalid pattern for JavaScript`

Sometimes, it runs ju

[2022-04-28 18:30] r2c-demo commented on #5106
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1221/non-determinism-in-what-language-is-being-used-to-parse-patterns. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-28 18:42] brendongo commented on #5075
@Gby56 we do envision `semgrep ci` to be mostly used with semgrep.dev where users can configure what rules run.

We do want to lean towards only one way of doing things if possible. Is there a reason you need to filter to warning rules in the command line level instead of only having warning rules in the rule board to begin with?

[2022-04-28 18:56] Gby56 commented on #5075
Hi Brendon ! I mean I mostly use semgrep offline that's why, and I now maintain https://github.com/azu/security-alert/issues/21 to have our PR scans commented with "okay" feedback (nowhere near as good as semgrep.dev, don't worry)
I hope to keep using semgrep, but this is as long as r2c promises to keep SARIF output for diff scans then... otherwise I'd have to go as far as scanning twice and diffi

[2022-04-28 21:56] brendongo commented on #5106
Using semgrep-core on
[code]
I get
[code]
if ruby is not the first language it does not error out

[2022-04-28 21:59] brendongo commented on #5106
I think this makes sense as the pattern isnt valid ruby?

[2022-04-28 21:59] brendongo commented on #5106
So the bug would be: why are we not reporting the parse error when ruby is not the first language?

[2022-04-28 22:32] brendongo commented on #5106
Using this issue to track non-determinism and opening another issue to track the ruby parse error thing

[2022-04-28 22:36] brendongo opened #5109 "semgrep-core does not report parse errors for subsequent languages"
**Describe the bug**
Semgrep-core is only reporting parse errors on the first language specified in a rule file.
After https://github.com/returntocorp/semgrep/pull/5108, semgrep will also exhibit this behavior

**To Reproduce**
[code]
reports the ruby parse error but moving ruby anywhere else has semgrep-core complete without complaint

**Expected behavior**
semgrep-core should report the ruby par

[2022-04-28 22:37] r2c-demo commented on #5109
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1222/semgrep-core-does-not-report-parse-errors-for-subsequent-languages. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-28 23:23] brendongo commented on #5106
Tracking here https://github.com/returntocorp/semgrep/issues/5109

[2022-04-28 23:36] anshumanbh opened #5110 "generic mode doesn't correctly identify hardcoded secrets in YAML"
**Describe the bug**
Try this rule:

[code]

against this file:

[code]

Notice that it doesn't tag the hardcoded secret key.
Now, change the language above from `generic` to `yaml` and notice that it tags it fine.
This is an example of how generic doesn't work and I have to specify the language of the file..

**To Reproduce**
See above

**Expected behavior**
Running the above rule with the langua

[2022-04-28 23:37] r2c-demo commented on #5110
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1223/generic-mode-doesnt-correctly-identify-hardcoded-secrets-in-yaml. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-29 09:24] Sjord commented on #4849
According to [this](https://yaml.org/spec/1.2.2/#rule-ns-flow-map-implicit-entry), a mapping entry may consist of only a key. So `{world}` would be valid, and equivalent to `{world: null}`.

Further down, it says:

So having `{world}` as key is valid, and `{{world}}` would be equivalent to

[code]

So I think this is valid YAML. However, no one uses it this way. Even in my example, the `{{world}}`

[2022-04-29 16:51] LewisArdern opened #5115 "Support XML elements in TypeScript <ELEMENT ... value=$VALUE .../>"
**Describe the bug**
XML elements aren't supported by the Generic-to-IL translation, in TypeScript semgrep should be able to capture:
[code]
It currently captures
[code]
But this is not great for allowing people to really dig deep into TypeScript values.

**To Reproduce**
Bug:
https://semgrep.dev/s/K9l5
Workaround
https://semgrep.dev/s/0PQj

**Expected behavior**
Works: https://semgrep.dev/s/K9l5

[2022-04-29 16:51] r2c-demo commented on #5115
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1224/support-xml-elements-in-typescript-element-value=dollarvalue. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-29 22:04] brendongo commented on #5109
Potential confusion caused by this: https://r2c-community.slack.com/archives/CK86BJ5DW/p1651169782555529

[2022-04-29 23:55] DrewDennison commented on #5084
@InLineR495 we use the python requests framework which means if you do something like

[code]

it should work without any code changes. See https://docs.python-requests.org/en/master/user/advanced/ for more details.

Please let us know if this works or if you're still seeing a bug. If you're seeing a bug, can you include a stack trace?

[2022-04-29 23:55] #5084 closed, assigned to nobody

[2022-04-30 21:04] dee-see opened #5120 "Typescript issue when matching an imported constant"
**Describe the bug**

Given this code

[code]

and this rule (EDIT: the `patterns` -> `pattern` structure is useless here and a single `pattern` would work, I got there from editing another rule I was working on...)

[code]

I would expect a single match. However it matches twice with the following messages

- `CONST matched`
- `CONST } from '../../../path/to/const' matched`

**To Reproduce**
http

[2022-04-30 21:06] r2c-demo commented on #5120
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1225/typescript-issue-when-matching-an-imported-constant. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-30 22:01] dee-see opened #5121 "Improve error message for (Failure "empty And; no positive terms in And")"
**Describe the bug**

The repro below is a minimal repro that obviously doesn't represent my original rule. I don't really know how to describe the bug, but here's the output

[code]

**To Reproduce**

Rule

[code]

Code doesn't really matter

https://semgrep.dev/s/90nk

**Expected behavior**

No match in my repro, but no fatal error

**Screenshots**
If applicable, add screenshots to help explain

[2022-04-30 22:03] r2c-demo commented on #5121
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1226/semgrep-fatal-error-with-typescript-rule. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-04-30 22:03] dee-see commented on #5121
There's no error when rewriting the rule to

[code]

and dumping the redundant `patterns` so I guess that solves my problem but I feel like there might be a real bug hiding in here so I'll leave the issue open.

[2022-05-02 05:56] tino commented on #3388
This still fails for me on 0.90.

Rules:
[code]

Code:
[code]

Autofixed:
[code]

Same (or worse) with 4 matches on a line.

[2022-05-02 17:32] underyx commented on #3019
So a nice CLI design for this would probably be:

`semgrep scan --config=auto --json one.json --sarif two.sarif`

which would be equivalent to

[code]

Here are some requirements for the purposes of backwards-compatibility:

1. setting `--json --output one.json` should be translated to `--json=one.json`
2. setting just `--json` should be translated to `--json=-` so that we print JSON to stdout
3.

[2022-05-02 17:55] underyx opened #5126 "Make semgrep (and core) buildable without sudo"
### `semgrep-core/src/ocaml-tree-sitter-core/scripts/install-tree-sitter-lib`

[code]

this sudo requirement is _undesirable_

[2022-05-02 17:57] r2c-demo commented on #5126
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1228/make-semgrep-and-core-buildable-without-sudo. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-02 18:04] underyx commented on #5126
Closing as duplicate of https://github.com/returntocorp/semgrep/issues/2956

[2022-05-02 18:04] #5126 closed, assigned to nobody

[2022-05-02 20:04] underyx opened #5129 "Set up GitHub Codespaces"

[2022-05-02 20:05] r2c-demo commented on #5129
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1245/set-up-github-codespaces. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-02 20:31] #5106 closed, assigned to nobody

[2022-05-02 20:33] #5069 closed, assigned to brendongo

[2022-05-02 20:54] ethompsy commented on #5129
Pycon 2022 - Working on this issue now

[2022-05-02 23:03] anshumanbh opened #5132 "Be more tolerant when parsing YAML"
**Describe the bug**
Try running the rule below:

[code]

against the following YAML:

[code]

Notice the error:

[code]

Now, run the same rule against the following YAML (see commented out section):

[code]

Notice that it correctly flags the hardcoded secrets.

I believe its a valid YAML so the Semgrep parser should continue to find patterns despite of failures.

**To Reproduce**
See above

**E

[2022-05-02 23:04] anshumanbh commented on #5132
@emjin ^^

[2022-05-02 23:05] r2c-demo commented on #5132
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1246/be-more-tolerant-when-parsing-yaml. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-02 23:24] brendongo commented on #5007
This should be fixed by https://github.com/returntocorp/semgrep/pull/5116 and should go in on 0.91.0

[2022-05-03 15:14] p4p3r commented on #4668
@nbrahms workaround doesn't work for me...

[2022-05-03 16:00] LewisArdern opened #5140 "Semgrep Should Match JavaScript Object Property in Taint mode"
**Describe the bug**
Object property assignment can lead to prototype pollution, semgrep does not capture this in taint mode https://semgrep.dev/s/lewisardern:remote-property-injection e.g.

[code]

**To Reproduce**
https://semgrep.dev/s/lewisardern:remote-property-injection

**Expected behavior**
It should capture the object value where $REQ enters it

**What is the priority of the bug to you?**

[2022-05-03 16:01] r2c-demo commented on #5140
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1248/semgrep-should-match-javascript-object-property-in-taint-mode. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-03 22:25] minusworld opened #5141 "Sanitizers appear to not work in Java"
**Describe the bug**
In [this example](https://semgrep.dev/s/P1L0), I am trying to remove the second case with the `ok` annotation whenever it looks like a transformation of any kind is done on the string. However, it still reports the line with FileInputStream, which is unexpected.

**To Reproduce**
https://semgrep.dev/s/P1L0

**Expected behavior**
I'm not sure if I'm doing something incorrectly,

[2022-05-03 22:26] r2c-demo commented on #5141
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1250/sanitizers-appear-to-not-work-in-java. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-04 15:39] nbrahms opened #5147 "[ruby] Regex interpolations not caught by wildcard matches"
**Describe the bug**
Regex interpolations should match wildcard regex patterns.

**To Reproduce**
https://semgrep.dev/s/1J9l

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

[2022-05-04 15:40] r2c-demo commented on #5147
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1251/[ruby]-regex-interpolations-not-caught-by-wildcard-matches. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-04 22:06] minusworld opened #5148 "pattern-not-regex does not filter as expected in generic mode"
**Describe the bug**
I have https://semgrep.dev/s/kw5O, where I am trying to remove findings that begin with a comment character using `pattern-not-regex`. In the past, the behavior of `pattern-not-regex` was to filter out anything that overlapped with the result of `pattern-not-regex`, but that appears not to be the case here.

**What is the priority of the bug to you?**

- [ ] P0: blocking your

[2022-05-04 22:06] r2c-demo commented on #5148
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1252/pattern-not-regex-does-not-filter-as-expected-in-generic-mode. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-04 23:27] #4996 closed, assigned to nobody

[2022-05-04 23:27] #4997 closed, assigned to nobody

[2022-05-05 18:55] raghavjain3 opened #5156 "Line parse error incorrectly says file was skipped"
**Describe the bug**
With the `|>`operator in typescript, Semgrep fails to parse and says it skipped the entire file.

**To Reproduce**
Scan a .ts file with this line - `y = foo() |> bar()`

**Expected behavior**
Clear indication that only the `|` character was skipped

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix o

[2022-05-05 18:56] r2c-demo commented on #5156
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1253/line-parse-error-incorrectly-says-file-was-skipped. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-06 14:25] DrewDennison opened #5160 "Make language extensions configurable"
Currently if you want to scan a folder for terraform code (for example) it only works with `.tf` files. To support `.hcl` files, it requires making a patch upstream to semgrep and waiting for a new release. Could we make this overridable without having to edit code?

[2022-05-06 14:26] r2c-demo commented on #5160
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1255/make-language-extensions-configurable. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-06 19:45] JosiahOne opened #5162 "Can't match private member functions (typescript)"
**Describe the bug**
Rules that try to match on `private` or `private static` member functions fail to match. The non-private variants seem fine, as does the parsing stage.

**To Reproduce**
https://semgrep.dev/s/josiahone:failing_private_member

**Expected behavior**
Rules should be able to match on private member functions in classes.

**What is the priority of the bug to you?**

- [ ] P0: block

[2022-05-06 19:46] r2c-demo commented on #5162
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1256/cant-match-private-member-functions-typescript. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-06 19:57] ELLIOTTCABLE commented on #5079
Hm. I can no longer reproduce this, closing.

[2022-05-06 19:57] #5079 closed, assigned to nobody

[2022-05-06 23:37] ELLIOTTCABLE commented on #4839
So, I started trying to take a look at this. It's only my second contribution, so that may have been ambitious, lol.

At first, it looks like I need to add an `ImportAll` case around here:

https://github.com/returntocorp/semgrep/blob/d9bd139e8bab8d76bc9e7d25707546b7f4f6ac9a/semgrep-core/src/naming/Naming_AST.ml#L547-L553

… then I realized that we'd need information about which modules/whatever a

[2022-05-07 05:25] djmattyg007 opened #5163 "Add environment variable for disabling version checks"
**Is your feature request related to a problem? Please describe.**
Right now I have to pass `--disable-version-check` manually a lot of the time and in many places because I don't want semgrep to worry about keeping itself up to date (I have other things to take care of that, such as Renovatebot).

**Describe the solution you'd like**
It should be possible to disable version checks once by setting

[2022-05-07 05:26] r2c-demo commented on #5163
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1257/add-environment-variable-for-disabling-version-checks. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-07 11:09] djmattyg007 commented on #5092
@Sjord I think you've gotten confused. This has nothing to do with PEP 636 `match` statements. `patch()` is a function provided by the python standard library for monkeypatching code. However that isn't relevant - the question is about how to match the `as` clause in the middle of a `with` context manager statement with multiple context managers in use.

In general I think semgrep's support for co

[2022-05-07 15:27] ChakirBelhaj opened #5164 "Ellipsis operator does not work as expected on for loop detection C++"
**Describe the bug**
Semgrep Ellipsis operator fails inside a for loops semicolon's where the iterators are defined.

**To Reproduce**
Below the given pattern.

[code]

Below the code to be scanned by semgrep.
[code]
**Expected behavior**
Expected behavior is the recognition of the for loop with any statements inside the semicolons.

**What is the priority of the bug to you?**

- [ ] P0: blocking

[2022-05-07 15:29] r2c-demo commented on #5164
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1258/ellipsis-operator-does-not-work-as-expected-on-for-loop-detection-c. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-08 03:20] djmattyg007 opened #5165 "Difficult to tell what rules were actually applied in auto mode"
**Is your feature request related to a problem? Please describe.**
If there is a rule that I think should be applied with auto mode, but no problems related to that rule are being displayed, it's difficult for me to tell why because nothing actually tells me what rules are being applied.

**Describe the solution you'd like**
Some way of previewing what rules are actually applied when using auto mo

[2022-05-08 03:22] r2c-demo commented on #5165
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1259/difficult-to-tell-what-rules-were-actually-applied-in-auto-mode. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-08 09:47] HariSekhon opened #5166 "Support Ignoring a given rule on a given line using a comment annotation"
**Is your feature request related to a problem? Please describe.**
Semgrep can raise false positive alerts that may be samples or comments or otherwise should be ignored

**Describe the solution you'd like**
Ability to ignore false positives via a comment annotation eg.

[code]

This is a very standard solution used in many other tools.

**Describe alternatives you've considered**
Disabling entire

[2022-05-08 09:49] r2c-demo commented on #5166
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1261/support-ignoring-a-given-rule-on-a-given-line-using-a-comment. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-08 11:44] leandrosansilva opened #5167 "Semgrep crashes with fatal error on analysing a Go project"
**Describe the bug**
I have semgrep in a gitlab pipeline and semgrep crashes, printing a backtrace.

GitLab Semgrep analyzer v2.21.0, on gitlab.com (as on May 8th 2022).

**To Reproduce**
Run semgrep via gitlab on the public repository https://gitlab.com/lightmeter/controlcenter. Please run the gitlab pipeline in the branch `pinned_branch/reproduce_semgrep_gitlab_crashes` (d86100d0183525405d944f53

[2022-05-08 11:45] r2c-demo commented on #5167
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1262/semgrep-crashes-with-fatal-error-on-analysing-a-go-project. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-09 02:28] mogopz opened #5168 "Scans broken in Buildkite"
**Describe the bug**
A change was introduced in 0.89.0 which seems to have broken our builds in Buildkite. We run Buildkite's [elastic-ci-stack](https://github.com/buildkite/elastic-ci-stack-for-aws) which is their recommended way of managing agents in AWS. When the Buildkite agent running on an instance clones a repository the files are all owned by the `buildkite-agent` user and since that is di

[2022-05-09 02:29] r2c-demo commented on #5168
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1263/scans-broken-in-buildkite. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-09 09:31] Gby56 commented on #5075
@brendongo Hi !
Do you think that will be supported in the future ?... 🙏

[2022-05-09 16:00] brendongo commented on #5168
Thanks for the write up @mogggggg

We tested on GithubActions and GitlabCI and did not see the same error in Gitlab so incorrectly assumed this was specific to github :D . We could just always run this workaround when we are inside a CI context maybe (I think all providers set CI to true in that case).

[2022-05-09 17:30] vighnesh-kadam commented on #5160
Hii im new to all this , can you please explain what needs to be done in this issue in easier words?

[2022-05-09 18:27] emjin opened #5172 "Improve Semgrep memory consumption"
From https://github.com/silentsignal/SemGWT/:

One weakness of Semgrep is that it can easily consume (almost) boundless memory. Because of this, rules must be created and tested carefully, and the process needs special parameters for larger files.

In particular, defining code block patterns with ellipses inside (e.g. function $FOO(){var $X; ...}) can have detrimental effect on performance when pa

[2022-05-09 18:29] r2c-demo commented on #5172
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1270/improve-semgrep-memory-consumption. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-09 19:27] underyx commented on #5168
@brendongo I think we can also unconditionally run the command whenever we're in a docker container (either semgrep-agent or semgrep). The CVE allows an attack if somebody else controls an ancestor of your current working directory. But with our docker images, you mount the source code right into the working directory you use (since you decided what to mount, that directory is trusted), and any pa

[2022-05-09 19:42] brendongo commented on #5168
That makes sense

[2022-05-09 21:42] mogopz commented on #5168
Sounds good to me! Thanks for the quick replies 🙏

[2022-05-10 07:41] aryx commented on #5078
I think this is fixed now thx to Elliott fix.

[2022-05-10 07:41] #5078 closed, assigned to nobody

[2022-05-10 11:53] dpnishant opened #5180 "Kotlin: Pattern parse error"
**Describe the bug**
Discovered a potential bug in the pattern parser for Kotlin language.
Refer slack thread: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1652110473552519

**To Reproduce**
* Working as expected: https://semgrep.dev/s/dpnishant:kotlin-parsing-bug-1-pass
* Not working as expected: https://semgrep.dev/s/dpnishant:kotlin-parsing-bug-1-fail

**Expected behavior**
The pattern

[2022-05-10 11:55] r2c-demo commented on #5180
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1272/kotlin-pattern-parse-error. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-10 14:11] sfc-gh-nsfard opened #5181 "Java: Type inference support in for loop"
**Describe the bug**
Type inference does not seem to propagate in for loops. There may also be an issue with type inference when using type parameters (`<T>`).

**To Reproduce**
https://semgrep.dev/s/sfc-gh-nsfard:java_type_parameter_bug

**Expected behavior**
In the above example, I'd expect to see two findings, not one

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoptio

[2022-05-10 14:12] r2c-demo commented on #5181
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1276/java-type-inference-support-in-for-loop. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-11 07:42] aryx commented on #5164
should work in the next release.

[2022-05-11 07:42] #5164 closed, assigned to aryx

[2022-05-11 13:56] #5181 closed, assigned to aryx

[2022-05-11 14:54] lfservin commented on #4956
It's interesting that this bug doesn't break all rules in the "dockerfile" or "docker" ruleset. It breaks the security rule for default user. In the past, when it was a "generic" language it didn't. I kept wondering why I stopped getting errors regarding "default root" user when running semgrep in the pipeline.

This breaks the processing of the file:

[code]

[2022-05-11 17:01] ryanking commented on #3147
I would like to add that in addition to airgapped runs, this is also a performance issue for me. I don't have data, but running with about 50 rules takes > 1 minute to download the rules.

[2022-05-11 18:02] brendongo commented on #3147
@ryanking that might be a UX issue where we don't print out when rules downloaded are done being downloaded and are just being parsed.

`semgrep scan --config r/all` spends a while on the "Fetching rules step" but `curl -L semgrep.dev/c/r/all` takes 4 seconds to download all the rules (at least on decently fast network)

We do want to improve that parse time!

[2022-05-12 09:00] fabian-zeindl-oebb opened #5200 "Generic xml pattern-match error with numbers"
This rule should match but doesn't:

Rule:
[code]

Test:
[code]

[2022-05-12 09:01] r2c-demo commented on #5200
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1280/generic-xml-pattern-match-error-with-numbers. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-12 12:35] ievans commented on #5200
Hi @fabian-zeindl-oebb -- this works for me on the playground: https://semgrep.dev/s/lrXj

Can you share how you're invoking the test code locally?

[2022-05-12 12:37] fabian-zeindl-oebb commented on #5200
Line 11 should not match!

[2022-05-12 12:43] ben-elttam opened #5202 "semgrep.dev bug report patterns-either.patterns.metavariable-pattern crash"
https://semgrep.dev/s/6Be6

Get a rule yaml schema validation error on trying to have 2 `metavariable-patterns`  under a `pattern-either`. Trying to cheat it by putting a `patterns` in between causes a crash.

## Original Code -- not a valid rule apparently
[code]

## Attempted Code -- Causes Crash
[code]

## Crash
[code]

[2022-05-12 12:44] r2c-demo commented on #5202
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1281/semgrepdev-bug-report-patterns-eitherpatternsmetavariable-pattern. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-12 13:25] aryx commented on #4839
yes I think it's a quite complex change. I don't even know how to fix the issue. I'm not sure it's something we can fix in Naming_AST.ml. I was thinking more to fix it in generic_vs_generic.ml, to remember there the list of ImportAll currently in scope and depending on the pattern and the list of ImportAll, decide whether or not a match is possible.
I'll try to look at it next week.

[2022-05-12 17:57] IagoAbal commented on #5141
Try using this as `pattern-sources`:

[code]

[2022-05-12 17:57] #5141 closed, assigned to IagoAbal

[2022-05-12 17:57] thomdixon opened #5207 "Destructuring assignment leads to false positives for $X == $X in JavaScript/TypeScript"
**Describe the bug**
This seems similar to #3155. When using destructuring assignment in JavaScript/TypeScript, there appears to be either an issue with constant propagation/`this` not being destructured correctly.

This code passes the rule:
[code]

This code causes the rule to match:
[code]

However, they are roughly equivalent.

**To Reproduce**
https://semgrep.dev/playground/r/javascript.lang.

[2022-05-12 17:58] IagoAbal commented on #5141
Although you'll need to wait for Semrep 0.92.0 to be the default version in the Editor!

[2022-05-12 17:59] r2c-demo commented on #5207
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1284/destructuring-assignment-leads-to-false-positives-for. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-12 18:48] ievans commented on #5200
Ah, I totally missed that. https://semgrep.dev/s/EpRA does what you want

The confusion is that `pattern-not` is a subtraction only if there's an exact range match. Feel free to open another issue about the confusing-ness of that, or anything we can do to improve the docs!

[2022-05-12 18:48] #5200 closed, assigned to nobody

[2022-05-12 21:44] brendongo commented on #5168
This was fixed by https://github.com/returntocorp/semgrep/pull/5174 and should be in 0.92.0 @mogggggg

We set that envvar automatically in our docker image so on 0.92.0 you shouldnt need to set  "GITHUB_WORKSPACE=/<org_name>/<repo_name>"

Let us know if this is still an issue

[2022-05-12 21:46] #5168 closed, assigned to nobody

[2022-05-12 22:07] mogopz commented on #5168
Awesome, thankyou! I've just tested and confirmed it works now

[2022-05-13 02:02] mjambon opened #5211 "generic mode: Offer an option to set the maximum number of lines matched by an ellipsis '...'"
There is a default limit of 10 lines to avoid bad performance. However, the performance isn't always bad and sometimes it's useful to:
- match a large number of lines, say 200
- match at most one line

The current solution for matching more than 10 lines is to repeat `...` e.g. `... ... ... ... ...` for a limit of 50 lines. There's no solution to matching fewer than 10 lines.

The proposed feature

[2022-05-13 02:04] r2c-demo commented on #5211
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1285/generic-mode-offer-an-option-to-set-the-maximum-number-of-lines. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-13 02:04] mjambon commented on #5148
This is the solution I got, using only `pattern-regex` instead of the generic mode: https://semgrep.dev/s/GXBn. Ideally, we should write `\.` instead of `.` but it's easier this way.

The problem with the original solution that uses the generic mode is this:
[code]
The dots match multiple lines because all the lines are in the same block. The filter `pattern-not-regex: "^#.+$"` doesn't work becaus

[2022-05-13 04:36] ben-elttam opened #5212 "QoL Found rule id mismatch - Please report the line numbers"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

In a big complicated rule file with 4 rules being tested against a big complicated source file, where there's meant to be 20 matches, there's a rule mismatch somewhere. Possibly multiple mismatches. How many is only known to be >= 1.

[cod

[2022-05-13 04:38] r2c-demo commented on #5212
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1286/qol-found-rule-id-mismatch-please-report-the-line-numbers. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-13 07:30] #5180 closed, assigned to nobody

[2022-05-13 11:58] IagoAbal commented on #4965
@kurt-r2c is this the way the actual code looks?
[code]
This is lacking an `else` branch, what happens if the two `if` conditions are false?

[2022-05-13 14:59] neerajsonaniya opened #5215 "Ignore rules using recent features in old semgrep versions"
**Describe the bug**
Invalid Rule / Invalid Rule Schema.

**To Reproduce**
1. Go to the repo folder.
2. Run the following command:
3. $ semgrep --config "p/owasp-top-ten"

Getting following Error:
[code]

**Expected behavior**
A proper scanning should be happening.

**What is the priority of the bug to you?**

- P0: blocking your adoption of Semgrep or workflow

**Environment**
Python Local

**Use

[2022-05-13 15:01] r2c-demo commented on #5215
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1287/getting-invalid-rule-invalid-rule-schema. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-13 16:50] #4965 closed, assigned to nobody

[2022-05-13 18:07] sfc-gh-jmakinen opened #5216 "regex interpretation crashes when searching for curly brackets in yaml (maybe other places too)"
**Describe the bug**
I wasn't able to use regex to search for yaml values matching a pattern including curly brackets, even when escaped. I get a stack trace saying perl has hit a memory limit.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:
https://semgrep.dev/s/AzOL
[code]

**Expected behavior**
finding all yaml `command` fields with a `{` in their value

[2022-05-13 18:07] r2c-demo commented on #5216
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1288/regex-interpretation-crashes-when-searching-for-curly-brackets-in-yaml. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-13 18:11] sfc-gh-jmakinen commented on #5216
https://semgrep.dev/s/AzOL

[2022-05-13 23:28] djmattyg007 commented on #3147
What would be even better is if rulesets were just published as packages we could install directly. This way they can be versioned, and upgrades that may contain new rules can happen in a controlled manner.

[2022-05-14 15:34] dpnishant opened #5219 "Scala: metavariable-regex does not work for import statements"
**Describe the bug**
Given a sample Scala as shown below:
[code]
the following rule throws `[ERROR] Pattern parse error in rule scala-bug:
 Invalid pattern for ScalaEngine(InternalError)`
[code]
However the following rule does work
[code]
**To Reproduce**
Use this playground URL: https://semgrep.dev/playground/s/dpnishant:scala-bug reproduce the bug. Compare the result with this playground URL: ht

[2022-05-14 15:36] r2c-demo commented on #5219
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1291/scala-metavariable-regex-does-not-work-for-import-statements. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-14 15:47] dpnishant opened #5220 "Unused metavariable-regex leads to no findings"
**Describe the bug**
An unused `metavariable-regex` object leads to no findings which causes lot confusion/annoyance.

**To Reproduce**
Comment out the lines `7-9` in this playground URL: https://semgrep.dev/playground/s/dpnishant:unused-metavar-no-findings-bug and you would see the rule is working fine which does not work when lines `7-9` are uncommented.

**Expected behavior**
`metavariable-rege

[2022-05-14 15:48] r2c-demo commented on #5220
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1292/unused-metavariable-regex-leads-to-no-findings. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-14 20:07] jmgilman commented on #4311
Are there build artifacts for `semgrep_core` available for ARM? I don't mind building Python from source, but OCaml is a whole other thing! If anyone happens to be an OCaml expert, several people are [attempting to compile it over on Nix](https://github.com/NixOS/nixpkgs/pull/172808) and we could use some help :)

[2022-05-15 23:59] ben-elttam commented on #3728
I have done some templating of the yaml outside of semgrep as an additional abstraction. I used jsonnet with an external variables and a Makefile to generate the yaml for each rule. First the json was produced and then this was converted to yaml.

[2022-05-16 00:41] Matthewbialek opened #5221 "[Rust] identifiers and deep ellipsis in macro calls are not parsed correctly"
**Describe the bug**
Slack thread: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1652628754749719

I have noticed in a few of the rules that I have written for **RUST** that I can not match a variable that is a result of invocation of a method that is later used in a method call.
Here is a  boiled down example of this :
          ...
          $NPI = $OBJ.password(...);
          ...

[2022-05-16 00:42] r2c-demo commented on #5221
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1293/[rust]-match-parsing-with-variables-in-invocation. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-16 13:25] becojo opened #5222 "Ruby: normalize extra parameters parenthesis"
**Describe the bug**
In Ruby, given the semgrep pattern `method("...")`, semgrep will match `method("foo")` but not the equivalent `method ("foo")`

You could extend the rule to account for that specific case, but I think semgrep should normalize the code to not consider redundant characters. The pattern `method("...")` should match `method "..."`, `method("...")`, `method ("...")`, `method (("...

[2022-05-16 13:27] r2c-demo commented on #5222
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1294/ruby-normalize-extra-parameters-parenthesis. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-16 13:50] greut opened #5223 "junit-xml should join the stacktrace"
**Describe the bug**
When producing a `--junit-xml` output, it show the stacktrace a a list of strings rather than a big strings. Maybe, it's only a `"\n".join(...)` away.

**To Reproduce**
`--junit-xml` :)

**Expected behavior**
The list of str should one str

**Screenshots**
![Screenshot 2022-05-16 at 15-47-47 jenkins _ Pre-pricing_Tarantino _ test_semgrep _ #4](https://user-images.githubusercon

[2022-05-16 13:51] r2c-demo commented on #5223
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1295/junit-xml-should-join-the-stacktrace. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-16 14:46] aryx commented on #5215
I guess this would be fixed by https://github.com/returntocorp/semgrep/pull/5208 @brendongo ?

[2022-05-16 14:46] aryx commented on #5215
which version of semgrep are you using @neerajsonaniya ?

[2022-05-16 14:54] neerajsonaniya commented on #5215
It's fixed in the latest version. But I believe there must be backward compatibility so that the older version of the semgrep can ignore unknown attributes and parse the rules properly @aryx

[2022-05-16 23:02] emjin commented on #2747
This will be useful for DeepSemgrep!

[2022-05-17 01:29] emjin opened #5227 "Out of memory leads to End_of_file error"
Normally, out of memory errors result in crashing with `-11`, in which case we generally output a reasonably helpful message. However, this can also happen. It might be worth investigating. (Also run into by a customer)

[code]

[2022-05-17 01:29] r2c-demo commented on #5227
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1299/out-of-memory-leads-to-end-of-file-error. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-17 02:21] #4327 closed, assigned to nobody

[2022-05-17 02:25] minusworld opened #5229 "Dockerfile metavariables for image aliases are not matching"
**Describe the bug**
https://semgrep.dev/playground/s/r2c-sec-research-test:missing-image-version

I am trying to update [this rule](https://semgrep.dev/editor/r/dockerfile.best-practice.missing-image-version.missing-image-version) for [this issue](https://github.com/returntocorp/semgrep-rules/issues/2038). I expected the `pattern-not-inside` clause to filter out the last test case because `$ALIAS

[2022-05-17 02:26] emjin commented on #4849
Closing for now via the linked PR, reopen if that solution is insufficient

[2022-05-17 02:26] #4849 closed, assigned to emjin

[2022-05-17 02:27] r2c-demo commented on #5229
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1300/dockerfile-metavariables-for-image-aliases-are-not-matching. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-17 02:39] emjin commented on #5132
I think this is a similar situation where `<% ... %>` is a particular framework's annotations, not standard YAML. This one is a lot more annoying to resolve, unfortunately, because the full-line `<% ... %>` makes the YAML parser fail entirely.

We're planning to work on a pre-processor which I think is the best way to resolve this issue! In that case, you would instruct the pre-processor that `<%

[2022-05-17 02:41] emjin commented on #3044
Now that we can reproduce scans locally, this seems resolved

[2022-05-17 02:41] #3044 closed, assigned to emjin

[2022-05-17 02:47] emjin commented on #3235
Fixed by @underyx!

[2022-05-17 02:47] #3235 closed, assigned to emjin

[2022-05-17 03:45] LewisArdern opened #5230 "TS/JS - Arrow function does not accept ellipsis"
**Describe the bug**
Inside an arrow function it does not allow an ellipsis of any kind just the hardcoded value and $VALUE this should accept any arbitrary amount of values.

**To Reproduce**
Works:
https://semgrep.dev/s/jj3P
https://semgrep.dev/s/25Pr

Does not work:
```..., $VALUE,...```
https://semgrep.dev/s/25Pr
```...```
https://semgrep.dev/s/X1Kj

**Expected behavior**
Should detect the $VA

[2022-05-17 03:47] r2c-demo commented on #5230
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1301/tsjs-arrow-function-does-not-accept-ellipsis. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-17 04:16] LewisArdern opened #5231 "TS/JS - dot ellipsis dot should also match field access chain (not just method calls chain)"
**Describe the bug**
Probably because of lambdas' but the current assignment does not work with arbitrary ellipsis, which is very important to capture values where a value may be assigned.

**To Reproduce**
Does not work:
https://semgrep.dev/s/90Dy
Works:
https://semgrep.dev/s/r3OJ

**Expected behavior**
Should capture on Arbitrary ellipsis

**What is the priority of the bug to you?**

- [x] P1: i

[2022-05-17 04:16] r2c-demo commented on #5231
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1302/tsjs-arbitrary-ellipsis-does-not-work. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-17 05:03] kurt-r2c opened #5232 "Ruby taint parser performs incorrect pattern tokenization (partial string matching)"
**Describe the bug**
Taint mode in Ruby occasionally incorrectly performs partial matching against sources

**To Reproduce**
https://semgrep.dev/s/wlNd

**Expected behavior**
`params` is a Rails built-in. The pattern `params` should mark the `params` object (and *only* the `params` object) as tainted.

Search mode behaves correctly:
https://semgrep.dev/s/Obok

**Screenshots**
N/A

**What is the pr

[2022-05-17 05:05] r2c-demo commented on #5232
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1303/ruby-taint-parser-performs-incorrect-pattern-tokenization-partial. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-17 05:06] kurt-r2c commented on #5232
on further inspection, this might be an oddity with a sanitizer. Continuing to investigate.

[2022-05-17 05:53] kurt-r2c commented on #5232
Nevermind. This is correct. Using the new debugger (thanks @IagoAbal) I determined that this is actually matching a downstream function call on a tainted object.

[2022-05-17 05:53] #5232 closed, assigned to nobody

[2022-05-17 07:48] timhemel opened #5234 "Bad error message when use only negative pattern-not-regex"
**Describe the bug**
If I run semgrep on an empty file with a rule that is a conjuction of two `pattern-not-regex` rules, semgrep gives a fatal error.

**To Reproduce**

Create the following rule file `rule.yml`:

[code]

Create an empty file `test.java` and run semgrep on it with the rule.

[code]

**Expected behavior**
Semgrep should not give an error message.

**Screenshots**

semgrep 0.87.0:

[2022-05-17 07:49] r2c-demo commented on #5234
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1305/fatal-error-on-empty-file-and-conjunction-of-pattern-not-regex. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-17 08:26] je-l opened #5235 "[HTML, JSX] Unable to match empty HTML element"
**Describe the bug**
Matching an HTML element without any attributes is not possible.

**To Reproduce**
See erroneous output here: https://semgrep.dev/s/zp3n
Tests should pass, but Semgrep yields false positive on `<div attribute="value" />`

**Expected behavior**
Semgrep should not report `<div attribute="value" />` as match.

**What is the priority of the bug to you?**

- [ ] P0: blocking your a

[2022-05-17 08:27] r2c-demo commented on #5235
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1306/[html-jsx]-unable-to-match-empty-html-element. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-17 08:32] aryx commented on #5235
This is related to https://github.com/returntocorp/semgrep/issues/2812

[2022-05-17 08:37] aryx commented on #5235
Here is a fix @je-l https://semgrep.dev/s/JbKP

[2022-05-17 08:38] aryx commented on #5235
I'll update the documentation here: https://semgrep.dev/docs/writing-rules/rule-syntax/#options

[2022-05-17 08:41] leandrosansilva commented on #5167
Probably a duplicate of #4917

[2022-05-17 08:58] je-l commented on #5235
Great, thanks for the fix! For my use case this seems sufficient, please feel free to close this issue if this is working as intended.

[2022-05-17 08:58] aryx commented on #5235
Hope this will help: https://github.com/returntocorp/semgrep-docs/pull/539

[2022-05-17 08:58] #5235 closed, assigned to aryx

[2022-05-17 09:43] aryx commented on #2747
This is already handled by DeepSemgrep (for the languages supported by DeepSemgrep).
if you look at the type of foo, you should get a functionType type, and you can get the return type from it.

[2022-05-17 10:30] aryx commented on #5221
The problem is not related to the invocation, but to arguments to macro calls like println!
In theory you can pass anything to a macro call.

[2022-05-17 10:32] aryx commented on #5221
and the pattern println!(<... $NPI ...>); is not parsed correctly.

[2022-05-17 11:37] #5230 closed, assigned to aryx

[2022-05-17 11:40] aryx commented on #5234
The problem is that you can't have just negative terms in patterns:. You need at least one positive pattern.

[2022-05-17 11:40] aryx commented on #5234
That's what the (enigmatic) error message says: "(Failure "empty And; no positive terms in And")"

[2022-05-17 12:44] #5012 closed, assigned to aryx

[2022-05-17 12:53] sim642 commented on #3820
Ping.

[2022-05-17 12:53] sim642 commented on #3822
Ping.

[2022-05-17 15:23] LewisArdern opened #5239 "Support surrounding code around Lambdas"
**Describe the bug**
It does analyze lambdas, but Semgrep does that independently and not together with their surrounding code. We need the ability to capture values surrounding lambdas and inside e.g. source -> sink.

Bug:
https://semgrep.dev/s/lewisardern:jdbc
Works:
https://semgrep.dev/s/W7Lo

**To Reproduce**
Bug:
https://semgrep.dev/s/lewisardern:jdbc
Works:
https://semgrep.dev/s/W7Lo

**Expe

[2022-05-17 15:25] r2c-demo commented on #5239
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1308/java-support-surrounding-code-around-lambdas. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-17 19:37] nikhilvats1 opened #5244 "[Kotlin] semgrep crashes when parsing file with v0.92.1 (or lower)"
**Describe the bug**
semgrep crashes when scanning the attached file with the error below

[code]

**To Reproduce**
semgrep version: 0.92.1 (and lower)

Command
`semgrep --config=. --strict  --verbose
`

Run the above command in a folder containing the attached files.

**Expected behavior**
The error mentioned in the description above

**What is the priority of the bug to you?**
P0 - blocks the ad

[2022-05-17 19:38] r2c-demo commented on #5244
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1309/[kotlin]-semgrep-crashes-when-parsing-file-with-v0921-or-lower. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-17 19:40] nikhilvats1 commented on #5244
[UrlManager.kt.txt](https://github.com/returntocorp/semgrep/files/8711063/UrlManager.kt.txt)

[2022-05-17 20:28] nikhilvats1 commented on #5244
[semgrep-kotlin.yaml.txt](https://github.com/returntocorp/semgrep/files/8711367/semgrep-kotlin.yaml.txt)

[2022-05-17 20:29] nikhilvats1 commented on #5244
Added the file that crashes + rule file used to simulate crash

[2022-05-18 11:32] #4220 closed, assigned to aryx

[2022-05-18 12:40] 5stars217 opened #5252 "docker image fails to fetch rules from registry"
Hi,
**Describe the bug**
when running the basic setup commands with docker, I am unable to fetch the configuration rules from the registry, regardless of if I run one of the following commands: (new and deprecated)

` docker run returntocorp/semgrep semgrep scan --config auto`
`docker run returntocorp/semgrep semgrep semgrep scan --config auto`

I get the following failure:

`...More information:

[2022-05-18 12:41] r2c-demo commented on #5252
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1359/docker-image-fails-to-fetch-rules-from-registry. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-18 13:29] aryx commented on #4798
This works now: https://semgrep.dev/s/XZdq?version=develop

[2022-05-18 13:29] #4798 closed, assigned to faceyacc

[2022-05-18 13:35] aryx commented on #5040
@IagoAbal does this work now? I remember seeing some PRs around better handling of object destructuring.

[2022-05-18 13:52] #4416 closed, assigned to nobody

[2022-05-18 14:09] aryx commented on #5234
similar to https://github.com/returntocorp/semgrep/issues/5121

[2022-05-18 14:52] #4459 closed, assigned to aryx

[2022-05-18 14:52] #4468 closed, assigned to aryx

[2022-05-18 15:29] IagoAbal commented on #5040
Indeed, this should work now after PR #5192. I will just make a new PR to add this test case and close this issue.

[2022-05-18 17:00] #5040 closed, assigned to IagoAbal

[2022-05-18 18:32] underyx commented on #3019
Update on the above proposal: this would would break usages like `$ semgrep scan --json /code`. Basically, we cannot know if the token after a format flag was intended to be a scan target, or the output file path. Today this command would "print findings on /code to stdout in JSON format" but after this feature it'd "write findings in working directory to a file named /code".

@chadac pointed out

[2022-05-18 18:42] underyx commented on #3019
## Proposal v2

[code]
or
[code]

which would be equivalent to

[code]

#### Note that

- setting `--json --output one.json` should be translated to `--output-json=one.json`
- setting just `--json` should be translated to `--output-json=-`
- if any flag requests to print to stdout (`--output-foo=-`), do not print text output to stdout
- do not allow multiple formats printing to stdout in one invoc

[2022-05-18 19:59] ievans opened #5257 "100% CPU for >30 seconds with no output in Docker after running config auto"
Something seems broken about --config=auto when running in Docker

[code]

It takes >45 seconds after this line for the next output. Looking at the docker host, network use is 0 and CPU is 100%.

[2022-05-18 19:59] r2c-demo commented on #5257
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1363/100percent-cpu-for-30-seconds-with-no-output-in-docker-after-running. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-18 20:12] underyx commented on #5257
![Untitled-1](https://user-images.githubusercontent.com/1060436/169147222-54c24f8d-e3e3-49b2-8c90-14634fb606b2.png)

I just ran `--config auto` with a profiler (outside Docker) and it took 25 seconds until semgrep-core is first called. Major opportunities for speedup:
- `rule_without_metadata` spends 7 seconds on deepcopy calls
- `parse_yaml_preserve_spans` takes 15 seconds

[2022-05-18 20:15] nbrahms commented on #5252
Hi @5stars217 ,

Can you try `docker run -v ${PWD}:/src returntocorp/semgrep scan --verbose --config auto .` (with the trailing `.`)?  This works on my machine.

[2022-05-18 20:46] underyx commented on #5257
## `rule_without_metadata` spends 7 seconds on deepcopy calls

This one is a very easy fix. The deepcopy is totally unnecessary, we're just trying to compare the dict without `metadata` in it. I've done this locally and runtime is down to 17 seconds.

## `parse_yaml_preserve_spans` takes 15 seconds

More difficult. My first thoughts:

- we could very well be using JSON for communication with the a

[2022-05-18 21:25] underyx commented on #5257
Update on `parse_yaml_preserve_spans` takes 15 seconds. We run the YAML parser three times:

1. loading settings.yaml
2. loading the rule schema
3. loading the rule contents

The first one is a one or two line file; let's not worry about that one.

I timed the second one on my M1 macbook pro with python 3.10 — 82ms to load the schema with our YAML loader, 0.6ms to load the same thing with the stdl

[2022-05-19 01:06] underyx commented on #5257
Update on `parse_yaml_preserve_spans` takes 15 seconds: fixed this in https://github.com/returntocorp/semgrep/pull/5261.

The profiling run that previously took 25 seconds now takes 2 seconds!

[2022-05-19 01:40] underyx commented on #5257
Full `semgrep scan --config auto` scan on the `semgrep` repo:

- Before today's perf PRs: 25.1s
- After: 14.3s

The remaining 14.3s is broken down like this:

- 0.5s waiting to download rules from registry
- 8.8s waiting for semgrep-core to return results
- 0.5s loading per-rule per-target timing data that won't be shown anyway
- 0.6s writing verbose skip logs that will be hidden anyway
- 2.4s for

[2022-05-19 05:34] underyx commented on #5257
## Performance report

These are timings from running `--config auto` on `semgrep/semgrep/semgrep`

✅ - fixed in a PR
🚧 - fix should work but doesn't for some reason 😠

|                    | Step                               | Time | Time (%) |
|--------------------|------------------------------------|------|----------|
|         | import python modules              | 0.5s | 1.3%     |
| :const

[2022-05-19 05:55] aryx commented on #5257
Very nice!

[2022-05-19 06:02] underyx commented on #5257
Found a new performance sink: now that I'm testing in a repo with `.semgrepignore` I found that the semgrepignore logic took 33% of execution — 12 seconds of 36 seconds.

Turns out we were running expensive path calculation operations once for each target for each ignore pattern. Pre-calculating these path ops before looping through the ignore patterns cut this from 12 seconds to 3 seconds.

But I

[2022-05-19 06:13] underyx commented on #5257
Even better: By removing the `:include .gitignore` line from the default semgrepignore file, we can skip a toooon of unnecessary file ignoring logic. After all, we are already using `git ls-files` to get the file list, so none of those possibly hundreds of patterns can match anything.

[2022-05-19 12:29] aryx commented on #3539
ok semgrep-rules is now a submodule!

[2022-05-19 12:30] aryx commented on #3539
remains to implement @IagoAbal idea:
"[iago](https://app.slack.com/team/U017K5ZH4BA)  We could then have a separate job that runs the CLI tests with the latest semgrep-rules, and that job could be optional instead of required to merge, because right now you will only see that the tests failed, and the merge is blocked."

[2022-05-19 15:29] 5stars217 commented on #5252
That did it :) Thank you.

[2022-05-19 15:29] #5252 closed, assigned to nobody

[2022-05-19 16:58] fproulx-boostsecurity commented on #3147
It would be great if `rulesets` could be binary packed, compressed, heck maybe even pre-processed for the parsing / execution to be faster. It's kind of crazy the it pulls megabytes worth of YAML and parses from ASCII files everytime.

And that's not to mention that there's no way to cryptographically assert the rules you are running, would be nice to be able to pin / lock to a hash for a ruleset

[2022-05-19 21:03] fgm commented on #4917
Similar error on this pipeline https://gitlab.com/fgmarand/gocoverstats/-/jobs/2481814022 with the Gitlab 3.0 runner

[2022-05-19 22:14] mjambon opened #5268 "Fix parsing of quoted strings in rules stored in the JSON format"
**Describe the bug**

semgrep-core's YAML parser used to parse rules interprets double-quoted strings incorrectly. Note that JSON is a subset of YAML, therefore semgrep-core should accept pure JSON rules without errors.

[Original comment](https://github.com/returntocorp/semgrep/pull/5261#pullrequestreview-978126917)

**To Reproduce**

[code]

Surprisingly to me, the following variant works:
[code

[2022-05-19 22:14] r2c-demo commented on #5268
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1364/fix-parsing-of-quoted-strings-in-yamljson-rules. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-19 22:37] mjambon opened #5269 "Expose unescaped string literals in generic AST"
**Is your feature request related to a problem? Please describe.**

The analysis of string contents in all the target languages supported by Semgrep is wrong whenever the strings contain escape sequences. This is almost the case with regexps, which we'd like to analyze correctly. Common examples include `\"` and `\\` which often stand for `"` and `\`.

**Describe the solution you'd like**

Have ea

[2022-05-19 22:39] mjambon commented on #5268
This problem would be fixed properly by https://github.com/returntocorp/semgrep/issues/5269. Meanwhile, we have a workaround.

[2022-05-19 22:39] r2c-demo commented on #5269
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1365/expose-unescaped-string-literals-in-generic-ast. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-20 07:26] aryx commented on #3539
closing, I thing what we have now is better and good enough to get some insurance that about not breaking things.

[2022-05-20 07:26] #3539 closed, assigned to IagoAbal

[2022-05-20 07:43] #5231 closed, assigned to nobody

[2022-05-20 09:21] aryx commented on #5268
I'm pretty sure this used to work.

[2022-05-20 09:31] aryx commented on #5268
hmm this is probably the start of the regression: https://github.com/returntocorp/semgrep/pull/3530
https://github.com/returntocorp/semgrep/pull/3530/files#diff-87eda41bcb47ad95c85567086b40a47d3e32940702d714fcba49b75ab863d45dR551

This is when we switched from using a proper JSON parser to using Parse_json which does not interpret the antislash.

[2022-05-20 09:34] aryx commented on #5268
This does not happen for YAML rules, because the YAML library we use does the right thing and returned the final string (after handling all the escaping).

For context we switched away from using Yjoson to parse rules as JSON because we wanted to get position information.

[2022-05-20 09:36] aryx commented on #5268
BTW you can also use semgrep-core -dump_rule foo.json to test.

[2022-05-20 11:01] aryx commented on #5219
@mmcqd maybe a possible bugfix for your intern? (note that it's not a "good first issue", which usually should take
only a few hours, here it's a "good first task" which would take longer)

[2022-05-20 11:03] aryx commented on #5215
yes, it's something we are working on.

[2022-05-20 11:05] aryx commented on #5215
@underyx are we making any progress on that? semgrep-core now returns a list of skipped rules for things it does not handle.

See   (* skipped_rules was introduced  in semgrep 0.86 *)
  ?skipped_rules: skipped_rule list option;

in Semgrep_output_v0.atd

Maybe the error message could be improved and just go on with the rules that are still handled?

[2022-05-20 11:05] aryx commented on #5215
cc @minusworld

[2022-05-20 11:07] aryx commented on #5211
you can use the options: field for that.
There's also Config_semgrep.atd to define those options.

[2022-05-20 11:09] #5268 closed, assigned to aryx

[2022-05-20 17:19] YakDriver opened #5277 "Invalid_argument "index out of bounds""
**Describe the bug**
Scanning Go files, I regularly run into this error. However, the problem is intermittent - which file causes the error changes and sometimes no file causes the error.

[code]

**To Reproduce**
Using [this config](https://github.com/hashicorp/terraform-provider-aws/blob/main/.semgrep-service-name.yml), scan 2753 Go files. It doesn't _always_ happen.

**Expected behavior**
No er

[2022-05-20 17:20] r2c-demo commented on #5277
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1366/invalid-argument-index-out-of-bounds. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-20 17:29] artsafin opened #5278 "Support golang reflect.Kinds in typed metavariables matching"
**Is your feature request related to a problem? Please describe.**
Currently using typed metavariables I can find assignments to the variable if I specify exact type like this: `($X : myStruct) = $Y`.
But it's not possible to find by "archetype" of the type - i.e. any struct, interface, array, slice, etc - in other words by the [reflect.Kind](https://pkg.go.dev/reflect#Kind)s.

**Describe the solu

[2022-05-20 17:29] r2c-demo commented on #5278
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1367/support-golang-reflectkinds-in-typed-metavariables-matching. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-20 21:27] underyx commented on #5257
Changes broken down commit-by-commit, tested with this script:

[code]

## First run

| message                                                                   | time (s) | step Δs | step Δ% | total Δs | total Δ% |
|---------------------------------------------------------------------------|------------:|---------------:|---------------:|----------------:|----------------:|
| perf: Request regis

[2022-05-20 23:28] mjambon opened #5280 "^ and $ should match at the beginning and end of each line"
`pattern-regex` currently compiles regexps in the default mode rather than the multiline mode. The multiline mode is more suitable to scanning multiline input, as `^` and `$` will then be used to match the beginning and the end of lines, respectively, rather than only the beginning and end of the input file. Matching the beginning and end of input can still be done with `\A` and `\Z`, if desired.

[2022-05-20 23:29] r2c-demo commented on #5280
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1368/and-dollar-should-match-at-the-beginning-and-end-of-each-line. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-21 00:31] mjambon commented on #5216
Thanks for reporting this, @sfc-gh-jmakinen.

Internal note: it looks like we're using OCaml's `re` implementation rather than PCRE. The former is more feature-limited and we shouldn't use it where the user expects full PCRE compliance.

[2022-05-21 02:54] srosenberg opened #5281 "$X == $X doesn't match X == `` in Go when X is unmodified (i.e., initialized with the empty string)"
**Describe the bug**

semgrep doesn't appear to match self-comparison in Go when an unmodified string variable is being compared to the empty string.

**To Reproduce**

https://semgrep.dev/s/RbJO

**Expected behavior**

It should match on line 5.

**Use case**

Just find it odd that it's not matching; incidentally, this (anti)pattern was flagged by running the following codeql rule: https://lgtm.c

[2022-05-21 02:55] r2c-demo commented on #5281
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1369/dollarx-==-dollarx-doesnt-match-x-==-in-go-when-x-is-unmodified-ie. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-21 06:19] mjambon commented on #5211
I'll look into this. I also want to use the same mechanism for specifying a comment stripper (#4485).

[2022-05-21 06:34] aryx commented on #5257
Very nice bench report. Awesome job bence.

[2022-05-22 10:07] azu opened #5282 "[JS] function's arguments is not tracked by taint mode"
**Describe the bug**

When pass tracking source to a function as arguments, semgrep stop tracking the source.

Maybe, I met some limitation of semgrep's taint mode…

**To Reproduce**
https://semgrep.dev/s/vkGA

This rule track `event` as sources, but semgrep can not checks `newEval` that is just wrapped `eval` function as sink.

**Expected behavior**

Report `newEval(event["smth"])` as an Error.

[2022-05-22 10:08] r2c-demo commented on #5282
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1370/[js]-functions-arguments-is-not-tracked-by-taint-mode. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-23 09:24] aryx commented on #5207
Here is the actual problematic snippet:
https://semgrep.dev/s/lrly

[2022-05-23 09:54] aryx commented on #5110
did you try with languages: yaml?
This is usually more precise than the "generic" language mode, that does not really parse the file.

[2022-05-23 09:58] aryx commented on #5006
I can't access your shared snippet @anshumanbh
Would you mind copy pasting the rule you used and testing code, so I can try to reproduce?

[2022-05-23 10:06] #5162 closed, assigned to aryx

[2022-05-23 12:23] Sjord commented on #3941
I [have started on](https://github.com/returntocorp/semgrep/pull/5264) converting the tree-sitter CST to a [PHP-specific AST](https://github.com/returntocorp/pfff/blob/develop/lang_php/analyze/ast_php.ml). This is going reasonably well, but there is another part I could use some help with. The tree-sitter-php parser in semgrep doesn't seem capable of parsing PHP all that well:

If I have a test.ph

[2022-05-23 16:44] minusworld opened #5285 "Reuse metavariables captured by patterns in metavariable-* clauses"
**Is your feature request related to a problem? Please describe.**
Inspired by this [Stack Overflow question](https://stackoverflow.com/questions/70097987/semgrep-rule-to-validate-djangos-foreignkey-related-name-field), it would be neat to match things in `metavariable-*` clauses dynamically from metavariables captured in the code. In the example, the poster wants to validate that there exists a f

[2022-05-23 16:45] r2c-demo commented on #5285
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1372/reuse-metavariables-captured-by-patterns-in-metavariable-clauses. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-23 19:30] brendongo commented on #5075
@Gby56 sorry for the late reply I have been on vacation :D

I don't think we will be including this functionality in semgrep cli but we will be improving the rule configuration system on semgrep.dev to better support this in the future

[2022-05-23 19:43] aryx commented on #3941
yes maybe we're using an old tree-sitter-php.

[2022-05-23 19:44] aryx commented on #3941
did you try to call directly tree-sitter-php on those test files? what does tree-sitter dump returns?

[2022-05-23 20:25] anshumanbh commented on #5110
@aryx See my comment in the original report:

Now, change the language above from generic to yaml and notice that it tags it fine.
This is an example of how generic doesn't work and I have to specify the language of the file..

Do I need to write a separate rule for each language if I would want to alert on potential hardcoded secrets? That would be a lot of rules when I can simply write a generic

[2022-05-23 20:52] anshumanbh commented on #5006
Hi @aryx I seem to have deleted the above snippet and can't find it anymore :(
I believe I was trying to write a Typescript rule that would catch patterns like:

`const $AUD = this.$SERVICE.get<string>( '...', ...);` but it wasn't working so I had to resort to finding something like `const $AUD = this.$SERVICE.get<string>;` instead, if I remember correctly.

Not sure if this helps?

[2022-05-23 22:06] emjin commented on #5257
Yaaaay thank you so much! This has been annoying me for a while, big quality of life improvement

[2022-05-23 23:38] spencerdrak opened #5289 "Using Semgrep in pattern mode (`-e`) can result in integer overflows in semgrep-core"
**Describe the bug**

When using a large integer such as `1151234590987029384721` for the pattern to match, semgrep-core will experience an integer overflow and being matching any patterns that have a `-1` in them.

**To Reproduce**

[code]

**Expected behavior**
The expected behavior is that no matches will occur.

**Screenshots**
N/A

**What is the priority of the bug to you?**

- [ ] P0: blocki

[2022-05-23 23:38] r2c-demo commented on #5289
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1373/using-semgrep-in-pattern-mode-e-can-result-in-integer-overflows-in. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-24 09:37] Sjord opened #5293 "Semgrep validate does not report error when config file is missing"
[code]

The command does with an error exit status, but I would expect it to print an error.

[2022-05-24 09:38] r2c-demo commented on #5293
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1374/semgrep-validate-does-not-report-error-when-config-file-is-missing. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-24 09:40] #5234 closed, assigned to nobody

[2022-05-24 09:42] aryx commented on #5121
This should be solved by https://github.com/returntocorp/semgrep/pull/5292

[2022-05-24 09:42] #5121 closed, assigned to nobody

[2022-05-24 10:07] aryx commented on #3941
Apparently we're currently using tree-sitter-php from Aug 1 2021 in ocaml-tree-sitter-semgrep (actually that was a commit from you Sjoerd in tree-sitter-php itself), so maybe this was fixed in later versions.

[2022-05-24 11:54] aryx commented on #5110
oh sorry, I didn't read carefully.

[2022-05-24 11:57] aryx commented on #5006
Well if you could reshare a snippet from the playground that shows the issue that would help.
Without the code and the pattern, I can't do much.

[2022-05-24 12:43] aryx commented on #3941
hmm I think the problem comes from ocaml-tree-sitter. This file seems to parse file with tree-sitter-php, just that
via ocaml-tree-sitter we don't get the right CST.

[2022-05-24 12:44] aryx commented on #3941
The problem seems to come from the use of this keyword() function in grammar.js. If you remove it around 'echo' in
the echo_statement rule, then ocaml-tree-sitter can parse your example fine.

[2022-05-24 12:58] aryx commented on #3941
@Sjord I've created an issue to fix the root problem here: https://github.com/returntocorp/ocaml-tree-sitter-core/issues/34

[2022-05-24 14:02] aryx commented on #3978
named arguments now work in develop thx to @Sjord work on tree-sitter-php:
https://semgrep.dev/s/9rWk?develop=true

[2022-05-24 14:21] Sjord opened #5294 "Registry shows use-frozen-lockfile-pipenv instead of use-frozen-lockfile-pip"
From semgrep results I clicked on the Details link, and that sent me to:

https://semgrep.dev/r?q=generic.ci.security.use-frozen-lockfile.use-frozen-lockfile-pip

When I click the generic.ci.security.use-frozen-lockfile.use-frozen-lockfile-pip row, the inline editor shows use-frozen-lockfile-**pipenv**, where I would expect it to show use-frozen-lockfile-**pip**.

![Screenshot 2022-05-24 at 16 20

[2022-05-24 14:22] r2c-demo commented on #5294
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1375/registry-shows-use-frozen-lockfile-pipenv-instead-of-use-frozen. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-24 14:24] Sjord commented on #5294
Also, `use-frozen-lockfile-pip` [was renamed recently](https://github.com/returntocorp/semgrep-rules/commit/fd6000169ec1034af400f08872291db87db45522), so I think `use-frozen-lockfile-pip` should be removed from the registry?

[2022-05-24 18:04] brendongo commented on #4842
We havent seen this since https://github.com/returntocorp/semgrep/pull/4893/files where we extended the timeout for downloading a config

[2022-05-24 18:04] #4842 closed, assigned to brendongo

[2022-05-24 20:04] underyx opened #5298 "pattern parse error when passing rules to core as JSON"
**Describe the bug**

[code]

**To Reproduce**

[code]

I think now the `\n` newline characters might be tripping up semgrep-core. The relevant rule is the very first one:

[code]

[2022-05-24 20:05] r2c-demo commented on #5298
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1377/pattern-parse-error-when-passing-rules-to-core-as-json. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-24 20:51] ChakirBelhaj opened #5300 "Const keyword is not compatible with semgrep pattern-matching in C++"
**Describe the bug**
A clear and concise description of what the bug is.

It appears that the ability to search for a const variable is not possible in Semgrep C++.

**To Reproduce**
https://semgrep.dev/s/chakirbelhaj:x1xl

**Expected behavior**
Semgrep detecting const variables in c++.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug

[2022-05-24 20:52] r2c-demo commented on #5300
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1378/const-keyword-is-not-compatible-with-semgrep-pattern-matching-in-c. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-24 20:57] ajbt200128 commented on #5007
That's expected behavior, if you have `// nosemgrep` it should still appear in the sarif output and reports, with
[code]
included in change artifact :). This issue is regarding the fact that with diff aware mode, there is no change artifact or mention at all of lines that have `// nosemgrep` in the sarif output

[2022-05-24 21:16] mjambon commented on #5110
@anshumanbh is there a  good reason why you want to use the `generic` mode if the `yaml` mode works? The generic mode is to get something out of languages without dedicated support. It has many limitations. In particular, a metavariable `$A` will only match an alphanumeric word, so `"$A"` won't match `"GpBuHhDM.i6qJgx*9rXQ7*K@"` because it's made of multiple words. For this, you could use a named

[2022-05-24 21:19] mjambon commented on #5110
sorry, I also didn't get this initially. The answer is "yes". We don't think of the `generic` mode as being able to deal with all the languages.

[2022-05-24 21:27] mjambon commented on #5110
Some languages happen to share the same syntax, so you may be able to reuse the same pattern for multiple languages. In this case, you'd list the supported languages:
[code]
and you'd have to specify only patterns that are syntactically valid for all these languages. For example, `a = b` is valid Python but not YAML, so you need a separate rule for Python and YAML.

[2022-05-24 22:56] underyx commented on #5298
Actually, I just didn't recompile core.

[2022-05-24 22:56] #5298 closed, assigned to nobody

[2022-05-25 00:48] #5092 closed, assigned to nobody

[2022-05-25 15:02] LewisArdern opened #5305 "TS/JS - Import drops $VALUE before {...}"
**Describe the bug**
The addition [for import { } from 'value' ](https://github.com/returntocorp/semgrep/issues/5012) was awesome for TS/JS  but it also would be great to capture the  values before {..}

[code]

Works:
https://semgrep.dev/playground/s/ylo8?develop=true

Does not work:
https://semgrep.dev/s/ylo8

**To Reproduce**
Works:
https://semgrep.dev/playground/s/ylo8?develop=true

Does not w

[2022-05-25 15:04] r2c-demo commented on #5305
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1379/tsjs-import-drops-dollarvalue-before. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-25 21:28] houllette commented on #3698
@aryx @fpmosley Killer work y'all! Just wanted to give a friendly bump on this issue since we use Elixir at Podium and also have an upcoming internal Hackweek - I'd love to purpose contributing to this as an idea to the team(s)!

Are either of you in the midst of working on those todos in `Parse_elixir_tree_sitter.ml`? Don't wanna step on anyones toes if we jump in!

[2022-05-25 21:34] ievans commented on #3698
@houllette that's really cool to here. Are you on our slack? There is a contributing channel (https://r2c.dev/slack -> #contributing) that the program analysis team hangs out in -- will probably get you faster responses than Github comments for your hack week!

[2022-05-26 09:18] HariSekhon commented on #5166
Ignore, found in doc here, not sure if this is new or I just missed it before:

https://semgrep.dev/docs/ignoring-files-folders-code/#ignoring-code-through-nosemgrep

[2022-05-26 09:18] #5166 closed, assigned to nobody

[2022-05-26 09:25] HariSekhon opened #5315 "Dockerfile 'FROM scratch' triggers false positive 'dockerfile.best-practice.missing-image-version.missing-image-version'"
**Describe the bug**

`FROM scratch` in a Dockerfile triggers this:

[code]

This is common in Golang builder pattern Dockerfiles.

**To Reproduce**

The Dockerfile I got this on (will be adding a nosemgrep ignore rule so delete that to re-run it):

https://github.com/HariSekhon/Templates/blob/master/Dockerfile#L185

**Expected behavior**

Expected `FROM scratch` to be ignored by this rule.

**Wha

[2022-05-26 09:27] r2c-demo commented on #5315
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1381/dockerfile-from-scratch-triggers-false-positive-dockerfilebest. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-26 09:49] HariSekhon opened #5316 "Triggering alert on own generated semgrep.sarif file in GitHub Actions!"
**Describe the bug**

Semgrep is triggering an alert on its own generated semgrep.sarif file (which is not committed to git btw)

https://github.com/HariSekhon/Templates/runs/6607360215?check_suite_focus=true#step:6:106

[code]

https://github.com/HariSekhon/Templates/runs/6607360215?check_suite_focus=true#step:6:106

This is extra surprising since the header says it would skip files not committed

[2022-05-26 09:50] r2c-demo commented on #5316
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1382/triggering-alert-on-own-generated-semgrepsarif-file-in-github-actions. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-26 09:58] HariSekhon commented on #5316
I believe you could probably fix this quite simply by adding `semgrep.sarif` to

https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/templates/.semgrepignore

For now I've done a workaround in my GitHub Actions reusable workflow by downloading this template and then appending `semgrep.sarif` to it before the scan like this:

https://github.com/HariSekhon/GitHub-Actions/blob/master

[2022-05-26 09:59] HariSekhon commented on #5316
Also worth noting that the alert for the semgrep.sarif was never sent to GitHub Security tab, another sort of race condition bug?

[2022-05-26 12:30] djmattyg007 commented on #5165
Please stop marking this as stale, because it isn’t.

[2022-05-26 13:49] #5300 closed, assigned to aryx

[2022-05-26 14:35] dee-see opened #5317 "pattern-not not returning expected results"
**Describe the bug**

I'll start by saying that this is probably just me not understanding how `pattern-not` works / what its purpose is, but I thought that this would match only `bar2`  but it matches `foo(bar1)` as well:

Code:

[code]

Rule

[code]

In the event that this isn't how `pattern-not` is supposed to be used, I'm interested in knowing how I could achieve the same result. I thought of

[2022-05-26 14:37] r2c-demo commented on #5317
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1383/pattern-not-not-returning-expected-results. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-26 14:41] HariSekhon opened #5318 "local config file override to disable specific rules"
**Is your feature request related to a problem? Please describe.**

Currently, I can't see a way of disabling a rule repo-wide on a per repo basis.

**Describe the solution you'd like**

Support for a local repo config file to override specific rules from the main config gotten from semgrep.dev

Many scanning and linting technologies often support a lot dotfile config at the root of a repo to over

[2022-05-26 14:42] dee-see commented on #5317
Oh I thought adding this would do it

[code]

but I'm getting this error

[code]

and I have no idea what to make of that

EDIT: uuuuugggh it's just the indentation I needed 2 extra spaces. I hate YAML 🤦 Alright that mystery is resolved

[2022-05-26 14:43] r2c-demo commented on #5318
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1384/local-config-file-override-to-disable-specific-rules. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-26 14:52] dee-see commented on #5317
I think I got what I wanted playing with taint analysis and a completely different rule, but I'm curious to figure out the `pattern-not` thing

[2022-05-26 15:26] jesse-r2c-test opened #5320 "Scans failing on v0.94.0"
**Describe the bug**
Semgrep is failing to run scans against a test repo (juice shop)

Relevant scan: https://github.com/jesse-r2c-test/juice-shop/runs/6611340414?check_suite_focus=true

**To Reproduce**
1. Fork [juice-shop](https://github.com/juice-shop/juice-shop)
2. Add the project to Semgrep App
3. Add CI with Github Actions

**Expected behavior**
Scans to succeed and post findings

**Screensh

[2022-05-26 15:27] r2c-demo commented on #5320
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1385/scans-failing-on-v0940. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-26 15:31] dpnishant opened #5321 "metavariable-regex meta-char escape inconsistency bug"
**Describe the bug**
As seen in the playground URL: https://semgrep.dev/playground/s/dpnishant:regex-escaping-bug I'm not able to match the literal `*` with a regex like `\*` in python language. However in the playground URL: https://semgrep.dev/playground/s/dpnishant:regex-escaping-bug-2, I have able to match the literal `*` using without escaping the `*` in the regex as shown in Kotlin language.

[2022-05-26 15:31] r2c-demo commented on #5321
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1386/metavariable-regex-meta-char-escape-inconsistency-bug. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-26 18:10] #5029 closed, assigned to ajbt200128

[2022-05-27 04:35] ben-elttam opened #5328 "Semgrep Rules using YAML anchors and aliases trigger unsatifiable-rule linter False Positive"
**Describe the bug**
A clear and concise description of what the bug is.

Rules written using YAML anchors and aliases will trigger unsatifiable-rule linter but functionally equivalent YAML that doesn't use anchors and alias doesn't trigger the linter.
Since https://github.com/returntocorp/semgrep/pull/4517 aliases are meant to be expanded resolving #3677, but this doesn't seem to be working 100%.

[2022-05-27 04:35] r2c-demo commented on #5328
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1394/semgrep-rules-using-yaml-anchors-and-aliases-trigger-unsatifiable-rule. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-27 10:22] aryx commented on #3941
ok martin fixed the issue, we are now at 99.97% for the parsing-stats in ocaml-tree-sitter-semgrep for PHP!
But we are at 92% in semgrep-core, because of some remaining TODOs I guess. I'll try to fix that next week.

[2022-05-27 16:44] #5007 closed, assigned to brendongo, ajbt200128

[2022-05-27 17:13] ajbt200128 commented on #5222
@Becojo So it turns out this issue was really interesting, but TLDR we've decided there's too much nuance in how ruby interpreters work for us to support this. The long explanation is as follows:

Ruby allows the omitting of parentheses around method arguments such as in the example `method "adsf"`. So any ruby parser will parse that the same as `method("asdf")`, and clearly they are semantically

[2022-05-27 17:13] #5222 closed, assigned to ajbt200128

[2022-05-27 17:28] becojo opened #5333 "Metrics warning is always visible in CI"
**Describe the bug**
When using Semgrep in CI, the warning that Semgrep collects metrics is always visible. Even if the metrics are explicitely turned off and a local config file is used, the warning always pollutes the output.

**Screenshots**
![image](https://user-images.githubusercontent.com/172889/170760477-edd70ece-3402-4442-9324-6201b0a3b7e1.png)

**What is the priority of the bug to you?**

[2022-05-27 17:28] r2c-demo commented on #5333
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1395/metrics-warning-is-always-visible-in-ci. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-27 17:33] becojo commented on #5222
Interesting. I guess I can try doing preprocessing on my own before running Semgrep. Thanks for looking into it @ajbt200128

[2022-05-27 18:10] brendongo commented on #5315
Moving this to semgrep-rules repo

[2022-05-27 18:13] ievans commented on #5333
When we first implemented this, we wanted it to be super loud as it was a transition. Now the docs and getting started pages call out metrics pretty clearly, so I think we can decrease the prominence of this messaging. cc @underyx

[2022-05-27 19:44] brendongo commented on #4805
Closed by #4812 above

[2022-05-27 19:44] #4805 closed, assigned to nobody

[2022-05-27 19:51] rc-mattschwager opened #5334 "Ellipsis does not work with Dockerfile 'FROM'"
**Describe the bug**

Ellipsis works with most Dockerfile commands, however `FROM` does not appear to work.

**To Reproduce**

[code]

[code]

[code]

**Expected behavior**

Ellipsis operator works with Dockerfile `FROM` command.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or

[2022-05-27 19:53] r2c-demo commented on #5334
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1396/ellipsis-does-not-work-with-dockerfile-from. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-27 19:54] brendongo commented on #4555
This was closed by #5173

[2022-05-27 19:54] #4555 closed, assigned to spencerdrak

[2022-05-27 19:58] brendongo commented on #4661
Closing as wont-fix

[2022-05-27 19:58] #4661 closed, assigned to nobody

[2022-05-27 23:19] mjambon commented on #5334
👋 The reason for this behavior is that `...` stands for a sequence of items of the same kind. For matching any `FROM` instruction, you should use a metavariable that stands for the image name. This should work:
[code]
Note that `ENV ...` works because the `ENV` instruction takes a list of arguments. `RUN ...` also works because `...` stands for a list of shell commands.

[2022-05-27 23:21] #5334 closed, assigned to nobody

[2022-05-28 00:31] LewisArdern opened #5345 "TS/JS - || OR operator prevent capturing assignment value"
**Describe the bug**
The OR operator prevents the capture of the assignment of the first value:
[code]
a rule like:
[code]
Should still capture the result since it's an OR operator, if the query parameter did not exist, the value would be set to undefined.

**To Reproduce**
Issue (15 and 18) :
https://semgrep.dev/s/n8Lg

Works:
https://semgrep.dev/s/EpLP

**Expected behavior**
Should still capture

[2022-05-28 00:31] r2c-demo commented on #5345
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1398/tsjs-oror-or-operator-prevent-capturing-assignment-value. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-28 16:16] darshilsaraiya opened #5346 "Can't install semgrep using Python 3.6"
**Describe the bug**
I have an Oracle Linux environment. I am trying to install semgrep tool by following this page: https://semgrep.dev/docs/getting-started/
Oracle Linux : Linux 5.4.17 (fedora)
Python3 version: Python 3.6.8

**To Reproduce**
When I try to run the the command python3 -m pip install semgrep using this confluence page: https://semgrep.dev/docs/getting-started/
I am getting this err

[2022-05-28 16:18] r2c-demo commented on #5346
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1399/cant-install-semgrep-using-python-36. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-29 15:56] LewisArdern opened #5347 "JS/TS - Treat <$EL>...</$EL> and <$EL/> separately"
**Describe the bug**
Currently https://semgrep.dev/s/BxP6 <$EL/> matches <$EL>...</$EL> considering how a lot of react elements are either:
[code]
or
[code]
We probably want semgrep to treat them as separate elements?

**To Reproduce**
https://semgrep.dev/s/BxP6

**Expected behavior**
<$EL/> shouldn't capture <$EL>...</$EL>
**Screenshots**
If applicable, add screenshots to help explain your proble

[2022-05-29 15:58] r2c-demo commented on #5347
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1400/jsts-treat-dollareldollarel-and-dollarel-separately. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-29 16:00] IagoAbal commented on #5347
We should probably add an `option` to enable/disable the equivalence. It's the kind of thing where you can't make "the right choice", it depends on the context you'll want one thing or another.

[2022-05-30 10:37] aryx commented on #3941
ok after the few fixes by @Sjord we are at 98.97% on semgrep-core side for PHP!

[2022-05-30 13:19] aryx opened #5350 "[JS] Typed metavariables do not work for number and boolean"
see https://semgrep.dev/s/W71j

[2022-05-30 13:20] r2c-demo commented on #5350
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1401/[js]-typed-metavariables-do-not-work-for-number-and-boolean. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-31 05:33] Strunevskiy opened #5355 "Matching by package and class does not work in scala"
**Is your feature request related to a problem? Please describe.**
In scala, if you are using a class inside  other classes located in the same package, you do not need to specify any import. As a result, there is no way to create a pattern to match usage of one class inside the other class which are located under the same package. You could create a rule to do the search  by class name, but it co

[2022-05-31 05:33] r2c-demo commented on #5355
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1402/matching-by-package-and-class-does-not-work-in-scala. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-05-31 06:30] #5345 closed, assigned to nobody

[2022-05-31 07:06] #5350 closed, assigned to aryx

[2022-05-31 07:17] #3941 closed, assigned to nobody

[2022-05-31 07:25] aryx commented on #5347
there's already one.

[2022-05-31 07:26] aryx commented on #5347
https://github.com/returntocorp/semgrep/blob/0eb7a7ec24c74bd73c748d89817e729618f0c3db/interfaces/Config_semgrep.atd#L56

[2022-05-31 07:27] aryx commented on #5347
In fact it should probably be at false by default.

[2022-05-31 07:28] aryx commented on #5347
See https://github.com/returntocorp/semgrep/issues/2812

[2022-05-31 07:30] aryx commented on #5347
solved example: https://semgrep.dev/s/5AXW

[2022-05-31 07:30] #5347 closed, assigned to nobody

[2022-05-31 08:03] aryx commented on #2648
This works now: https://semgrep.dev/s/RoOq/?develop=true

[2022-05-31 08:03] #2648 closed, assigned to nobody

[2022-05-31 08:04] aryx commented on #2650
works now

[2022-05-31 08:04] #2650 closed, assigned to nobody

[2022-05-31 08:08] aryx commented on #3590
works now (if you remove the protected keyword or put the example inside a class).

[2022-05-31 08:08] #3590 closed, assigned to nobody

[2022-05-31 08:09] aryx commented on #3588
works now: https://semgrep.dev/s/pk50?develop=true

[2022-05-31 08:09] #3588 closed, assigned to nobody

[2022-05-31 08:10] aryx commented on #3587
works now: https://semgrep.dev/s/z9ll?develop=true

[2022-05-31 08:10] #3587 closed, assigned to nobody

[2022-05-31 08:10] aryx commented on #3576
we are now even at GA level, 99.9%

[2022-05-31 08:10] #3576 closed, assigned to nobody

[2022-05-31 08:11] aryx commented on #3848
This works now! https://semgrep.dev/s/chrismcgehee:lambda_not_parsing?develop=true

[2022-05-31 08:11] #3848 closed, assigned to mmcqd

[2022-05-31 08:13] aryx commented on #3978
match now works: https://semgrep.dev/s/rY86?develop=true

[2022-05-31 08:14] aryx commented on #3978
and union types too: https://semgrep.dev/s/y1L8?develop=true

[2022-05-31 08:14] #3978 closed, assigned to nobody

[2022-05-31 08:18] aryx commented on #4589
This https://semgrep.dev/s/idawson-gl:findmethod works now

[2022-05-31 08:18] #4589 closed, assigned to nobody

[2022-05-31 10:46] #5021 closed, assigned to aryx

[2022-05-31 10:57] aryx commented on #5317
The problem is that the pattern in your pattern-not: will match the whole string because of the ... around and that you use
the same metavariable name ($VAR) in both patterns, so there is the constraint that they must differ.

So given the pattern `...${$VAR}...`, the engine will find multiple matches: one which matches the whole string and where $VAR binds to foo(bar1), let's call it M1 for match

[2022-05-31 11:11] aryx commented on #5317
You could try this: https://semgrep.dev/s/RbZ8?develop=true

[2022-05-31 11:16] aryx commented on #5317
@zyannes this is a typical example where a debugging mode in the playground would greatly help, because you could see how each subpatterns match, with what range, and with which metavariables values.
@ievans made such a UX a long time ago (it was great).

[2022-05-31 11:16] #5317 closed, assigned to nobody

[2022-05-31 12:45] rohitcoder commented on #2432
Any plans for this? The release was expected in mid of May 2022, I've had to switch from my mac to an Ubuntu server every time to work on semgrep, the worst part is VirtualBox also does not work with M1.

If someone is having any workarounds please let me know

**Edit:**
As a workaround, I managed to run this using docker on my Mac M1

[code]

[2022-05-31 13:37] aryx commented on #2432
maybe @spencerdrak has some idea on how to fix the issue?

[2022-05-31 17:00] spencerdrak commented on #5346
Since Python3.6 has been EOL as of December 2021 (per [PEP 494](https://peps.python.org/pep-0494/#lifespan)), we no longer support it. If you have other feedback, please let us know!

Thanks!

[2022-05-31 17:05] #5346 closed, assigned to spencerdrak

[2022-05-31 18:53] Sjord commented on #3591
[Support PHP enum when converting to generic AST by Sjord · Pull Request #5367 · returntocorp/semgrep](https://github.com/returntocorp/semgrep/pull/5367)

[2022-05-31 21:56] #4975 closed, assigned to nobody

[2022-06-01 00:16] dee-see commented on #5317
This doesn't work https://github.com/returntocorp/semgrep/issues/5317#issuecomment-1141995530 I want to match on any variable but where `foo(...)` wasn't called on it.

But anyway I figured out a way with taint tracking. Thanks! A debugging mode would be awesome indeed.

[2022-06-01 00:25] mjambon opened #5374 "Eliminate Blank nodes to unblock progress on C and C++ support"
See https://github.com/returntocorp/ocaml-tree-sitter-core/issues/38

[2022-06-01 00:25] r2c-demo commented on #5374
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1403/eliminate-blank-nodes-to-unblock-progress-on-c-and-c-support. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-01 00:48] Strunevskiy opened #5376 "Support of Typed Metavariables in Scala"
**Is your feature request related to a problem? Please describe.**
It would be good to be able to search for the usage of methods on objects across code base. Unlike Semgrep for Java, Scala does not have support to use Typed Metavariables in patterns like  ```(String $B).func()```

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Given scala code
[co

[2022-06-01 00:50] r2c-demo commented on #5376
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1404/support-of-typed-metavariables-in-scala. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-01 00:56] kopecs commented on #5289
https://github.com/returntocorp/semgrep/blob/71e42e138c83e6c3bd370ee41e618900300faacb/semgrep-core/src/parsing/Parse_rule.ml#L137

This line seems to be the issue---`Float.is_integer` seems to check if the number has no fractional part, not if the `float` can fit in an `int`, so `Float.to_int` might get called with an out-of-range value and return an unspecified value.

For whatever reason I can r

[2022-06-01 05:18] #5280 closed, assigned to mjambon

[2022-06-01 07:44] aryx commented on #5374
So you want to modify the original tree-sitter grammar? There is no alternative solution?

The problem is that we need to modify the tree-sitter-c one, and then use that in tree-sitter-cpp, and that means
we would need to update to the last tree-sitter-cpp which changed a lot since the last time we generated semgrep-cpp, so
it will be a big refactoring to Parse_cpp_tree_sitter.ml (not that we shou

[2022-06-01 08:30] #3964 closed, assigned to nobody

[2022-06-01 10:20] aryx commented on #5068
cc @Sjord

[2022-06-01 10:23] aryx commented on #4955
@mjambon could this issue be related to the recent fix you did in pfff about JSON Int and Float?

[2022-06-01 10:24] aryx commented on #4896
@bmahe so can we close this issue?

[2022-06-01 10:24] aryx commented on #4807
@mjambon can we close this issue?

[2022-06-01 10:30] aryx commented on #1952
Closing this issue since we added support for C++ last year (I forgot to close the issue).

[2022-06-01 10:30] #1952 closed, assigned to nobody

[2022-06-01 10:31] aryx commented on #1215
@spencerdrak not sure if this issue is still valid, but closing since it's very old.

[2022-06-01 10:31] #1215 closed, assigned to nobody

[2022-06-01 10:32] aryx commented on #1218
Closing in favor of #1489

[2022-06-01 10:32] #1218 closed, assigned to nobody

[2022-06-01 10:37] aryx commented on #1404
You can now write a pattern like key1: $VALUE.

What is confusing maybe is that { key1: $VALUE} has implicit ellipsis, and we should remove that.

[2022-06-01 10:37] #1404 closed, assigned to DrewDennison

[2022-06-01 10:39] aryx commented on #2252
@brendongo Would this be solved by the recent PR #5373 ?

[2022-06-01 10:41] aryx commented on #2255
@mjambon can we close this once your PR on #5377 is in?

[2022-06-01 10:42] aryx commented on #2388
Closing this since we added support for typed metavariables for many more languages now (Typescript, C#, Python+mypy, etc.)

[2022-06-01 10:42] #2388 closed, assigned to nobody

[2022-06-01 10:44] aryx commented on #2451
This is now supported by DeepSemgrep.

[2022-06-01 10:44] #2451 closed, assigned to aryx

[2022-06-01 10:46] aryx commented on #2635
cleaning old issues.

[2022-06-01 10:46] #2635 closed, assigned to mjambon

[2022-06-01 10:48] aryx commented on #2123
@spencerdrak is this still an issue?
Closing in doubt.

[2022-06-01 10:52] aryx commented on #3115
cc @emjin

[2022-06-01 10:54] aryx commented on #3296
@zyannes was working on it during his hack week.

[2022-06-01 10:55] aryx commented on #3401
cc @spencerdrak

[2022-06-01 10:57] aryx commented on #3591
works now thx to Sjord: https://semgrep.dev/s/jkyl/?develop=true

[2022-06-01 10:57] #3591 closed, assigned to nobody

[2022-06-01 10:58] aryx commented on #3698
Let us know @houllette how went this hack week!

[2022-06-01 11:22] Sjord commented on #2123
This is still a problem. Could you reopen this?

[code]

[2022-06-01 11:35] Sjord commented on #5068
@mjambon You reference line 2111, but the error message says 2211. Because of `Raised at Parse_csharp_tree_sitter.type_`, I expect this line to trigger the error:

https://github.com/returntocorp/semgrep/blob/44d09a32dd6d7e1e88a845ad70c65003c75122c0/semgrep-core/src/parsing/tree_sitter/Parse_csharp_tree_sitter.ml#L2311

@jn94501 Could you perhaps provide the file that failed to parse, src/WinSW.Co

[2022-06-01 12:00] Sjord commented on #5068
I could reproduce it, with the following invalid C# code:

[code]

This gives the same error as in the report:

[code]

It is invalid code because the `var` in the argument is an implicit type, and arguments are supposed to have explicit types. So this does not really seem like a parsing bug, but maybe the error message could be a bit better.

[2022-06-01 14:37] infi-pc opened #5380 "inconsistent regex"
**Describe the bug**
regex behaves in different ways depending on where it is

**To Reproduce**
minimal test:
https://semgrep.dev/playground/s/infi-pc:minimal-test

more practical test:
https://semgrep.dev/playground/s/infi-pc:use-absolute-paths-for-routing-copy

**Expected behavior**
it should work the same way everywhere

**What is the priority of the bug to you?**

- [ ] P0: blocking your adopt

[2022-06-01 14:38] r2c-demo commented on #5380
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1407/inconsistent-regex. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-01 15:24] Sjord opened #5382 "Builtins differ between PHP tree-sitter and pfff parsers"
The PHP code `isset($a)` is parsed by tree-sitter as a call to `isset`, and by pfff as a call to `__builtin__isset`. [`isset` is a language construct and not a function](https://www.php.net/isset), but tree-sitter doesn't care about this. This means that if the semgrep query and the code file are not parsed with the same parser, `isset` and other builtins will not match.

We could hardcode a list

[2022-06-01 15:25] r2c-demo commented on #5382
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1408/builtins-differ-between-php-tree-sitter-and-pfff-parsers. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-01 15:38] Sjord opened #5383 "Semgrep ci has --scan-unknown-extensions but not --lang"
When running `semgrep ci`, it's not possible to specify a language with `--lang`. This makes the option `--scan-unknown-extensions` quite useless, since that will enable scanning of files with the language specified in `--lang`.

[code]

I was trying to scan a certain file extension not supported by semgrep, by running

    find . -name *.abc | xargs semgrep ci --lang php --scan-unknown-extensions

[2022-06-01 15:40] r2c-demo commented on #5383
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1409/semgrep-ci-has-scan-unknown-extensions-but-not-lang. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-01 18:01] mmcqd commented on #5376
Scala does have typed metavariables, but the syntax mirrors Scala type annotations, it's `$X : foo`, not `foo $X`. Testing this did reveal another bug though: https://semgrep.dev/s/PyeE. The example only works when you surround the thing you want to find with parentheses. This is likely because of some parsing weirdness, which I'll fix.

[2022-06-01 18:10] ben-elttam commented on #5202
The crash was in old version of semgrep, (0.92.0 IIRC).
In 0.94.0 its just a syntax error.
Checking the JSON Schema I see that `metavariable-pattern` isn't allowed as a (direct) child of `pattern-either`. This was surprising to me.
The workaround I did was to put a `patterns` in between so it was `pattern-either.patterns.metavariable-pattern` rather than `pattern-either.metavariable-pattern`. This

[2022-06-01 18:10] #5202 closed, assigned to nobody

[2022-06-01 18:21] bmahe commented on #4896
I believe so.
Thanks for the ping!

[2022-06-01 18:41] Strunevskiy commented on #5376
@mmcqd so you are saying that once you fix the bug then we will be able to do it without surrounding the thing you want to find ?

[2022-06-01 19:33] mmcqd commented on #5376
@Strunevskiy yes

[2022-06-01 21:16] #5239 closed, assigned to IagoAbal

[2022-06-01 21:31] jauderho opened #5391 "Fatal error while trying to scan Dockerfile: invalid argument"
**Describe the bug**
Error:  Fatal error at line black/Dockerfile:1:

This appears to have been happening for a while but I only just noticed this.

**To Reproduce**
See GH workflow: https://github.com/jauderho/dockerfiles/blob/77f9df7418791dfd94207b3593be9a6bc46728cb/.github/workflows/semgrep.yml

Here's the line that semgrep errors on: https://github.com/jauderho/dockerfiles/blob/7cd3f1099edfe79

[2022-06-01 21:32] r2c-demo commented on #5391
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1411/fatal-error-while-trying-to-scan-dockerfile-invalid-argument. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-01 21:40] emjin commented on #5380
Looking at your minimal example, I believe what you mean is: https://semgrep.dev/playground/s/returntocorp:minimal-test-copy

The most relevant pattern for convenience:
[code]

What your pattern (copied below) actually does is:

[code]

1. match all the `myCall($X)` calls, including
- `myCall(xxx)`
- `myCall($xxx)`
- `(myCall(xxx))`
- `(myCall($xxx))`

2. filter out nothing, because the regex is `

[2022-06-01 21:40] #5380 closed, assigned to nobody

[2022-06-01 22:20] emjin commented on #5382
How hard would it be to migrate to parsing patterns with tree-sitter? I think that would be nicer anyway, since there will probably be pfff bugs that have already been fixed in tree-sitter

[2022-06-01 22:31] emjin commented on #5316
Hm, I'm pretty surprised by this. It definitely seems like it shouldn't be scanned at all. Making as low priority since there's a workaround, but thanks for reporting!

[2022-06-01 22:35] emjin commented on #5318
I believe you should be able to do this with [semgrep-app](https://semgrep.dev/). We try to funnel most of our rule management there so there's a single source

[2022-06-01 23:40] dee-see opened #5395 "semgrep ci times out during git fetch operation on GitLab CI for big repositories"
**Describe the bug**

The timeout in https://github.com/returntocorp/semgrep/blob/8e3e9c6755f4c7e52e8a92109ac83e843817ef77/semgrep/semgrep/git.py#L19 is hard coded to 100 seconds and that's not enough for big repositories (it's failing on https://gitlab.com/gitlab-org/gitlab).

[code]

**To Reproduce**

Run `semgrep ci` with a very big repository (and lots of history) in GitLab CI.

It seems like

[2022-06-01 23:41] r2c-demo commented on #5395
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1412/semgrep-ci-times-out-during-git-fetch-operation-on-gitlab-ci-for-big. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-02 00:09] jauderho commented on #5391
It looks like the new recommended way is not to use the semgrep action and to use `semgrep ci` directly.  So I tried converting my workflow to use `semgrep ci` accordingly.

Looks like I am still getting the same results: https://github.com/jauderho/dockerfiles/runs/6700043957?check_suite_focus=true

semgrep, for some reason, really does not like the first line in `black/Dockerfile` which is a sim

[2022-06-02 03:16] Strunevskiy opened #5397 "Semgrep doesn't pick up .semgrepignore in linux"
**Describe the bug**
A clear and concise description of what the bug is.
When .semgrepignore is created and is put under the folder where other files are located for scan, semgrep does not pick up rules.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

- semgrep --version 0.93.0
- OS version centos rhel fedora
- The semgrep is run from  CLI  under **semgre

[2022-06-02 03:17] r2c-demo commented on #5397
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1413/semgrep-doesnt-pick-up-semgrepignore-in-linux. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-02 06:38] mjambon commented on #2255
@aryx yes. I'm setting it to autoclose.

[2022-06-02 07:28] mjambon commented on #5374
I'm not sure what you mean by that. I want to modify the pipeline that converts the original grammar into something we can use from OCaml. The modification will result in having normal token nodes instead of those Blank nodes that shouldn't exist.

There's already a bunch of `token()` constructs that were moved into their own rule so they can get a name. These will keep the same name, although it

[2022-06-02 07:34] Sjord commented on #5382
Currently, parsing is first attempted with pfff, and when that fails parsing is done with tree-sitter.

Keeping this for files and parsing the pattern with tree-sitter would not solve this bug, just make it present on another set of files. The tree-sitter pattern would not match the files parsed with pfff.

Parsing everything with tree-sitter and not using pfff at all would solve this issue. It wo

[2022-06-02 07:41] mjambon commented on #4955
I suspect this is an issue with YAML syntax. Could we see the YAML file? If the rule name is `3.14`, it needs to be quoted so that it's interpreted as a string and not as a number. In doubt, use JSON syntax since it's compatible with YAML and has sane escaping rules.

Do:
[code]
Don't:
[code]

[2022-06-02 07:52] mjambon commented on #4807
@aryx no, I didn't touch that. I wasn't aware of this bug. For example, the pattern `a` should match `xxa` but currently, it doesn't. The issue is apparently that the regexp is matched at the beginning of the string using something like `Pcre.pmatch` instead of being matched successively at all the positions in the string using the appropriate function.

[2022-06-02 08:28] floyd-fuh commented on #4460
I'm not writing this to complain, I'm writing it to let you know that not everybody lives in the "Cloud is perfectly fine" bubble.

I can't use a command line security tool that doesn't confirm before sending a project name to a third-party server. I see too many dark patterns here:

- Basically every tutorial just says --config=auto.
- There are plenty of "hints" that you get better rules when yo

[2022-06-02 09:45] infi-pc commented on #5380
Thank you Emma for an awesome answer, I was debugging an existing rule and I didn't notice how it is written - "pattern-not-regex applies to regex to the entire match". And that inconsistency gave me a false clue.
The inconsistency is still weird anyway, but probably very low priority :)

[2022-06-02 13:42] #4896 closed, assigned to nobody

[2022-06-02 14:35] aryx commented on #5374
ah ok perfect!

[2022-06-02 14:35] aryx commented on #5374
Why did you create the issue here and not in ocaml-tree-sitter-core?

[2022-06-02 15:39] dee-see opened #5399 "Include switch does not work as expected from documentation and is difficult to configure for large repositories"
**Describe the bug**

`semgrep ci --help` mentions

but that's not true.

**To Reproduce**

[code]

[code]

**Expected behavior**

I want to be able to use `--include './app/**/*'` and have semgrep include exactly that.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow

[2022-06-02 15:39] r2c-demo commented on #5399
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1414/include-switch-does-not-work-as-expected-from-documentation-and-is. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-02 15:51] dee-see commented on #5399
Generating the list of file to scan is pretty simple with `find`, if I could pipe that into `semgrep ci` it would be a good alternative.

[2022-06-02 19:21] thomdixon opened #5410 "generic.dockerfile.correctness.multiple-cmd-instructions does not support HEALTHCHECK CMD ..."
**Describe the bug**
The multiple `CMD` instruction detection is outdated and does not handle `HEALTHCHECK CMD` correctly.

**To Reproduce**
Here's a copy of the rule with a Dockerfile that matches:

https://semgrep.dev/s/qBxx

**Expected behavior**
The rule should not consider `HEALTHCHECK CMD` as an instance of `CMD` and the above Dockerfile should not match. Something like this:

https://semgre

[2022-06-02 19:23] r2c-demo commented on #5410
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1427/genericdockerfilecorrectnessmultiple-cmd-instructions-does-not-support. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-02 19:45] #4311 closed, assigned to brendongo, ajbt200128

[2022-06-02 19:56] Strunevskiy opened #5411 "semgrep fails to parse scala file"
**Describe the bug**
A clear and concise description of what the bug is.
semgrep fails to parse scala file

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:
https://semgrep.dev/s/pAxN

please try to use this scala file https://raw.githubusercontent.com/apache/spark/master/core/src/main/scala/org/apache/spark/util/Utils.scala

**Expected behavior**
A clear an

[2022-06-02 19:57] r2c-demo commented on #5411
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1428/semgrep-fails-to-parse-scala-file. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-02 20:14] Sjord commented on #4848
This is not very hard to implement, but could have serious performance consequences. It means opening and reading at least the first line of every file. And that performance penalty is also paid when scanning non-PHP projects. That may not be worth it.

[2022-06-02 21:22] ajbt200128 commented on #4701
Duplicate of #4311

[2022-06-02 21:22] #4701 closed, assigned to nobody

[2022-06-02 21:29] ajbt200128 commented on #2252
No, this PR only adds mac m1 support, not linux/arm64

[2022-06-02 22:27] brendongo commented on #5395
For internal tracking too: https://r2c-community.slack.com/archives/C01KY32FDAT/p1654119992102449

[2022-06-02 22:29] emjin commented on #5397
Semgrep uses the `.semgrepignore` in the directory that it is run from, so in this case it would be `semgrep`, not `semgrep/jars`. We've found that this generally is the least ambiguous way to do it. If that doesn't work, please open a new issue!

[2022-06-02 22:29] #5397 closed, assigned to nobody

[2022-06-02 22:59] brendongo commented on #4460
@floyd-fuh thanks for clearly sharing your feedback. The auto config mode is designed for users who are less concerned about privacy: our idea is that it would scan your code to find languages, frameworks, and features and then sends that information to the backend to find appropriate rules.

If we changed first run behavior so that there's a prompt before the first time config auto is used that e

[2022-06-03 00:20] #3428 closed, assigned to nobody

[2022-06-03 00:20] #5211 closed, assigned to nobody

[2022-06-03 00:20] #2255 closed, assigned to mjambon

[2022-06-03 00:20] #5148 closed, assigned to nobody

[2022-06-03 03:23] ben-elttam opened #5420 "Java cannot match arbitrary long package names"
**Describe the bug**
In java it is not possible to match an arbitrarily long package such as `package org.apache.examples.struts.actions.data;`.

**To Reproduce**
https://semgrep.dev/orgs/ben-elttam/editor/s/ben-elttam:convention-annotation-package-info

**Expected behavior**
It should be possible to use a pattern like `package $...PACKAGE;` or even `package $PACKAGE;` that will bind to the packag

[2022-06-03 03:24] r2c-demo commented on #5420
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1431/java-cannot-match-arbitrary-long-package-names. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-03 07:13] sim642 opened #5421 "Invalid SARIF: additionalProperty "fixes" exists in instance when not allowed"
**Describe the bug**
SARIF output produces invalid SARIF and thus fails to be uploaded to GitHub Security:
[code]

**To Reproduce**
I have the following GitHub actions workflow that fails with the above error at the upload step:
[code]

**Expected behavior**
SARIF file should be valid and successfully uploadable to GitHub Security, as it previously was.

**What is the priority of the bug to you?**

[2022-06-03 07:14] r2c-demo commented on #5421
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1433/invalid-sarif-additionalproperty-fixes-exists-in-instance-when-not. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-03 07:19] sim642 commented on #5421
Semgrep generates a SARIF file, which begins with:
[code]

According to SARIF 2.1.0, the `fixes` property is allowed for individual `result` objects, not at the top level:
https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317668.

Also that "$schema" link is a 404.

[2022-06-03 07:46] floyd-fuh commented on #4460
Thanks for considering.

I see the auto config mode mainly as convenience. I don't know if that is feasible, but I would really love it to be offline available. Security consultants have the use case that they get random zip files thrown at them on a weekly or monthly basis, so investing time into figuring out which rules I should enable is often not possible.

I think first of all, a command line

[2022-06-03 07:57] lukaspiatkowski opened #5423 "Pip-installed Semgrep 0.95 fails on Mac M1"
**Describe the bug**
Semgrep 0.95 installed using `pip` fails (as opposed to `brew` installed) on commands that invoke `semgrep-core` with error `Library not loaded: /usr/local/lib/libtree-sitter.0.dylib`

**To Reproduce**
1. Clone a repo (e.g. `gh repo clone returntocorp/semgrep`)
2. `python -m venv venv`
3. `source ./venv/bin/activate`
4. `pip install semgrep`
5. `semgrep --version` should show

[2022-06-03 07:59] r2c-demo commented on #5423
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1434/pip-installed-semgrep-095-fails-on-mac-m1. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-03 07:59] lukaspiatkowski commented on #4311
This issue is complete since now pypi installs semgrep-core compiled for arm64 on Apple Silicon, but the installed binary is missing dynamic libraries and doesn't work after `pip install`, see #5423 for bug report.

[2022-06-03 08:18] Plasma commented on #4460
This would be ideal; my main cause for concern for submitting this issue was that I came across semgrep, ran it on a project, and it felt like it was _in the process of_ uploading my project to your servers to do the scan, because it said "logging in" and printed my private repository URL.

I feel like semgrep shouldn't send anything to your servers about my project (not git url, not name, not any

[2022-06-03 08:39] raianul commented on #4701
[code]

[2022-06-03 08:42] lukaspiatkowski commented on #4701
Reported in #5423

[2022-06-03 16:45] kristof-mattei commented on #5421
Reading about the scheme some more it seems that `fixes` should be a child of a `result` object. However in https://github.com/returntocorp/semgrep/commit/e8a3ad7db5c64827c160b7d83ca52aaf6a367211 it was introduced as a top-level attribute.

From the docs:

https://docs.oasis-open.org/sarif/sarif/v2.1.0/csprd01/sarif-v2.1.0-csprd01.html#_Toc10541106

So we'll need to move the` fixes` to each indivi

[2022-06-03 17:12] ajbt200128 commented on #5423
We identified the issue causing this! Will be fixed in the next version (next tuesday)

[2022-06-03 21:46] #5423 closed, assigned to ajbt200128, spencerdrak

[2022-06-04 00:28] mjambon opened #5432 "internal: enable the test suite Unit_metachecking.tests"
I found out during https://github.com/returntocorp/semgrep/pull/5431 that the test suite for metachecking wasn't executed. We need to [comment out a line](https://github.com/returntocorp/semgrep/blob/0b7bf3fa27bdf02b7e494d56e1b5429830b33f25/semgrep-core/tests/Test.ml#L69) and fix the test that's failing.

[2022-06-04 00:29] r2c-demo commented on #5432
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1436/internal-enable-the-test-suite-unit-metacheckingtests. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-04 03:31] #5062 closed, assigned to nobody

[2022-06-04 03:31] #5129 closed, assigned to nobody

[2022-06-04 03:31] #5160 closed, assigned to nobody

[2022-06-04 16:25] #5420 closed, assigned to nobody

[2022-06-04 18:48] minusworld opened #5433 "Discussion on handling reassignment of keywords in Python"
**Is your feature request related to a problem? Please describe.**
A user reported this case in Python which they expected to match due to import resolution:

[code]

However, this case is not actually import resolution, just reassignment. I'm opening this issue for discussion on whether we want to handle this case.

**Describe the solution you'd like**
One proposal is to automatically resolve thi

[2022-06-04 18:49] r2c-demo commented on #5433
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1437/discussion-on-handling-reassignment-of-keywords-in-python. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-06 11:09] #3787 closed, assigned to aryx

[2022-06-06 11:09] #4644 closed, assigned to aryx

[2022-06-06 18:04] gordonwoodhull commented on #3070
I've been working around this with an outside awk script, but it became a bottleneck, so I tried the same strategy in `autofix.py`.

Turns out a two-line fix here

https://github.com/returntocorp/semgrep/blob/edc97505c6e999e675ad171eeee1c690ab2e7a99/semgrep/semgrep/autofix.py#L79-L82

will do it. Too hacky?

[code]

[2022-06-06 19:27] brendongo commented on #5383
@Sjord the --scan-unknown-extensions also uses the languages field in rule definitions. The --lang flag is to inline the language field when `-e` is used to pass a pattern in line. So `--lang` doesnt have use in `semgrep ci`

[2022-06-06 19:27] #5383 closed, assigned to nobody

[2022-06-06 19:38] Sjord commented on #5383
That is not the behavior I observe, and is also not the documented behavior. The command line help (`semgrep ci --help`) clearly states that `--scan-unknown-extensions` uses "the language specified in --lang".

If I have two files, `test.php` and `test.ext`, `semgrep ci` will scan only `test.php`, whether I specify `--scan-unknown-extensions` or not.

[code]

[2022-06-06 19:47] Sjord commented on #5383
From [the code](https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/target_manager.py#L645) it seems that `--scan-unknown-extensions` only work on files passed as argument. E.g. in `semgrep scan test.ext`, `test.ext` is or isn't scanned depending on `--scan-unknown-extensions` or `--skip-unknown-extensions`. But when scanning a directory, `test.ext` is always excluded.

`semgrep c

[2022-06-06 20:13] mjambon commented on #5220
To clarify: the issue is that a misspelling in a metavariable referenced in the `metavariable-regex` should result in a useful error message or warning telling us there's no such metavariable. For example
[code]
The above references `$PKG` but the author meant `$PACKAGE`. Since `$PKG` cannot be bound to any value, semgrep should report this as a problem. (https://semgrep.dev/playground/s/returntoc

[2022-06-06 20:43] brendongo commented on #3070
@gordonwoodhull seems fine :D if you open a PR with this change + inline comment on what it's for + a test we will appreciate it!

[2022-06-06 20:57] ievans commented on #4460
@floyd-fuh @Plasma thanks for the thoughtful comments. I think we’ve made a mistake in our design approach here. For context: we built config auto based on requests from existing users of semgrep.dev who were comfortable passing more information about their repository to our servers. As we’ve added a lot more rules to the registry (200+ just in the last month) many online users want to just grab t

[2022-06-06 22:11] #5376 closed, assigned to mmcqd

[2022-06-06 23:28] mjambon commented on #5229
Note that `FROM ...` doesn't make sense as a pattern because `...` would stand for list of items of the same kind. Unfortunately it's not rejected as a syntax error because `...` is considered a valid image name. Instead users should write `FROM $IMAGE`. We probably should do something about this.

The more serious issue here is this:
![image](https://user-images.githubusercontent.com/343265/17226

[2022-06-07 00:01] colleend opened #5443 "metavariable-pattern not flagging with PHP code"
**Describe the bug**
Metavariable-pattern is flagging PHP code with 'generic' mode, but not with 'php' mode.

**To Reproduce**
For instance, this doesn't flag: https://semgrep.dev/s/WRD2

But this does: https://semgrep.dev/s/02Wj

**Expected behavior**
Would expect it to flag with php as the language.

**Priority**
How important is this to you?
- [ ] P0: blocking me from making progress
- [X] P1:

[2022-06-07 00:44] emjin commented on #5220
This is a check in `--validate` now but we should make validation happen on every run

[2022-06-07 02:37] r2c-demo commented on #5443
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1448/metavariable-pattern-not-flagging-with-php-code. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-07 07:25] fabian-zeindl-oebb opened #5445 "False positive matching in generic-mode with too many lines"
**Describe the bug**
Pattern-inside using ... matches a context that is longer than 10 lines.

**To Reproduce**

**- Rule**:
[code]

**-Test**:
[code]

Steps to reproduce the behavior, ideally a link to https://semgrep.dev: **It works on semgrep.dev, but not locally!**

![grafik](https://user-images.githubusercontent.com/104771358/172320843-54891e78-f911-4419-abf3-09afc123642b.png)

**Environment*

[2022-06-07 07:26] r2c-demo commented on #5445
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1449/false-positive-matching-in-generic-mode-with-too-many-lines. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-07 08:14] aryx commented on #5443
@colleend you know that for seceng issues we now use https://linear.app/r2c/project/support-security-research-team-5beed2a5f2e7/PA ?
See https://www.notion.so/r2cdev/How-to-file-an-issue-with-us-00507e1a0be64cd9bbe165397e853ffe

[2022-06-07 17:18] colleend commented on #5443
Ah yes -- sorry, I totally forgot about this 😅  -- I'll update the issue on linear 👍 . Should I close this GH issue?

[2022-06-07 19:34] brendongo commented on #2432
As of 0.96.0 an M1 compatible version of semgrep is released on pypi. Considering this issue closed now that brew and pypi work on M1.

[2022-06-07 19:34] #2432 closed, assigned to brendongo

[2022-06-07 19:35] brendongo commented on #2432
@rohitcoder fyi ^

[2022-06-07 23:06] enncoded opened #5452 "Go: Unable to match specific members within a struct initialization when using `pattern-inside`"
**Describe the bug**
I'm having trouble matching specific `MemberName: Value` pairs when using a `pattern-inside` along with a `pattern` to match specific members of a struct.

**To Reproduce**
https://semgrep.dev/s/68B1

While playing around with it, I noticed that you can match the `MemberName`s, such as `ServerName` or `InsecureSkipVerify`, but not the `Value`s or `MemberName: Value` pairs.

**

[2022-06-07 23:06] r2c-demo commented on #5452
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1453/go-unable-to-match-specific-members-within-a-struct-initialization. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-08 01:18] Plasma commented on #4460
Thanks @ievans - `--config=p/python` not needing a login makes sense, could `--config=auto` be improved to not require sending anything to the server?

How does `auto` work when there's no project registered at Semgrep servers? If auto doesn't actually _need_ to speak to Semgrep servers, then maybe make whatever extra customizations `auto` does only apply if the account is logged in?

Or perhaps r

[2022-06-08 02:33] zhuxindong opened #5457 "How can i use registry's rules in Air Gap Environment？"
for example, i want to use registry's xss rules in an Air Gap Environment , i cannot run "semgrep --config "p/xss" because i cannot access to the internet.
so ,can i download the rules in another computer with internet and transport to Air Gap Environment

[2022-06-08 02:35] r2c-demo commented on #5457
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1455/how-can-i-use-registrys-rules-in-air-gap-environment？. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-08 04:11] kopecs commented on #5452
Something like https://semgrep.dev/s/j44N should work---we probably don't try and parse a pattern as being a field right now, although we could change that if using a `metavariable-pattern` & `focus-metavariable` is an issue.

[2022-06-08 05:01] aryx commented on #2432
Cc @ajinabraham

[2022-06-08 05:43] ajinabraham commented on #2432
Awesome

[2022-06-08 06:39] mjambon commented on #5374
The issue was created in ocaml-tree-sitter-core. I wanted to have it here to make it easier to track and didn't want to create a Linear-only task.

[2022-06-08 06:57] fabian-zeindl-oebb opened #5460 "semgrep.dev displays "tests passed" wrongly"
Semgrep Playground has a bug where it displays "Tests passed" even though a test fails:

![grafik](https://user-images.githubusercontent.com/104771358/172551599-c6983e48-f4c6-42be-a62c-74f3d1fd40f6.png)

[2022-06-08 06:59] r2c-demo commented on #5460
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1456/semgrepdev-displays-tests-passed-wrongly. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-08 08:02] #4807 closed, assigned to mjambon

[2022-06-08 08:35] aryx commented on #5457
yes you can curl the rules from the registry. I think curl semgrep.dev/s/p/xss
or something like that. I never remember the exact URL.

[2022-06-08 08:36] aryx commented on #5457
@s-santillan we constantly get this question so maybe we could add a FAQ or update the registry section in semgrep-docs to cover this case.

[2022-06-08 08:37] aryx commented on #5460
Do you have a semgrep.dev link showing this behavior?

[2022-06-08 08:52] crazyfermions commented on #4955
@mjambon Minimal example:

[code]

Place into a folder `123456789/semgrep.yaml`, call semgrep with `semgrep -c 123456789/semgrep.yaml`, receive `KeyError: '123456789.124'`.

[2022-06-08 08:56] fabian-zeindl-oebb commented on #5460
https://semgrep.dev/playground/s/fabian-zeindl-oebb:generic-ellipsis-test

[2022-06-08 09:31] zhuxindong commented on #5457
yeah, i try to curl semgrep.dev/s/p/xss but got nothing or something error, does it have a pacakge or tar package that can use in Air Gap Environment

[2022-06-08 14:34] aryx commented on #5457
it's c/, for curl, I should have remembered.
curl https://semgrep.dev/c/p/xss

[2022-06-08 17:41] kopecs commented on #3771
This arises out of the fact that we treat the (top-level) statements in a Python class as fields (think declarations in a Java class, fields on a C struct, etc...) in the generic AST, which the matching engine treats order-independent. This is so a pattern like

[code]

will match even if the actual class defines them in the opposite order. While this isn't strictly true to the semantics of Python

[2022-06-08 17:41] #3771 closed, assigned to nobody

[2022-06-08 19:53] #5223 closed, assigned to bmahe

[2022-06-08 20:33] enncoded commented on #5452
Oh thanks! I didn't think of this. I'll see how far I can go with this for now, but I definitely do think that this is important to fix, as narrowing scope as much as possible using `pattern-inside` and using `pattern` to match internal stuff is a very common rule pattern.

[2022-06-08 21:03] brendongo opened #5464 "Concerns around --config auto"
From https://github.com/returntocorp/semgrep/issues/4460

There are concerns re: auto config's default behavior. Opening this issue to track.

Main issue is around config auto sending information without a confirmation step.

[2022-06-08 21:04] r2c-demo commented on #5464
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1467/concerns-around-config-auto. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-08 21:04] brendongo commented on #4460
I opened #5464 to track the feedback above. Closing and tracking there since our internal tracking isn't dealing well with this reopened issue.

[2022-06-08 21:04] #4460 closed, assigned to nobody

[2022-06-08 21:17] #5457 closed, assigned to s-santillan

[2022-06-08 22:55] mjambon opened #5472 "Dockerfile/Bash matching bug: pattern `RUN b` should not match `RUN a && b`"
**Describe the bug**

Pattern `RUN b` should not match `RUN a && b`.

**To Reproduce**

Actual behavior, which is incorrect (or at least very surprising):
[code]
Expected behavior: no matches

Note that the following variant returns no matches as expected:
[code]

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quit

[2022-06-08 22:56] r2c-demo commented on #5472
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1470/dockerfilebash-matching-bug-pattern-run-b-should-not-match-run-a. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-09 13:59] #5432 closed, assigned to aryx

[2022-06-09 16:38] JosiahOne opened #5479 "(docker) semgrep working directory location changed without notice"
**Describe the bug**
We run semgrep in CI using the `returntocorp/semgrep` docker image (latest tag).

Today, CI started failing with the following error:

[code]

Which was quite surprising. All previous semgrep versions (including 0.96.0) worked perfectly fine.

Upon local testing, it seems that the working directory must've changed in the 0.97.0 docker image. We were using a relative location f

[2022-06-09 16:40] r2c-demo commented on #5479
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1482/semgrep-working-directory-location-changed-without-notice. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-09 18:32] Taucher2003 opened #5480 "Add Support for toplevel Java Record declarations"
**Describe the bug**
Records can't be parsed and result in an error

**To Reproduce**
https://semgrep.dev/playground/s/9np8

**Expected behavior**
The records can be parsed

**Screenshots**
| Erroring in Semgrep | Validated as valid syntax in IntelliJ |
|---|---|
| ![image](https://user-images.githubusercontent.com/39954661/172918800-9db1195c-61bc-408b-941f-dafafc8d741f.png) | ![image](https://use

[2022-06-09 18:32] r2c-demo commented on #5480
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1483/add-support-for-java-records. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-09 21:43] mjambon opened #5483 "Upgrade to ocaml 4.14"
Why:

- (add reasons)
- support for ocamldebug!
- stay on top of things

Progress so far:
- ocaml-layer published an updated docker image with ocaml 4.14 but it causes a build error in semgrep: https://github.com/returntocorp/semgrep/runs/6810560366?check_suite_focus=true (see also below*)
- @aryx pinned the CI images to a version that won't change and uses ocaml 4.12 (https://github.com/returntoc

[2022-06-09 21:44] r2c-demo commented on #5483
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1485/upgrade-to-ocaml-414. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-09 21:45] underyx commented on #5483
I think this error is fixed by this PR: https://github.com/returntocorp/semgrep/pull/5455

[2022-06-09 22:20] mjambon opened #5484 "Test the weekly Docker images used for OCaml CI"
See https://github.com/returntocorp/semgrep/pull/5455 for context.

[ocaml-layer](https://github.com/returntocorp/ocaml-layer) is the forked repo where we specify which system packages and opam packages should go into a docker image, ready to be used in semgrep CI jobs. Weekly images are built by CircleCI job that pushes images to DockerHub. Currently, rolling tags are used, causing an automatic u

[2022-06-09 22:21] r2c-demo commented on #5484
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1486/test-the-weekly-docker-images-used-for-ocaml-ci. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-09 22:55] mjambon commented on #4955
I'm not getting an error with the development version of semgrep. Maybe this was fixed recently. The latest version of semgrep is 0.97.0.

[code]

[code]

[2022-06-10 01:28] #5163 closed, assigned to nobody

[2022-06-10 03:26] mjambon opened #5486 "Surprising behavior of capturing groups in pattern-regex and pattern-not-regex"
**Describe the bug**

Adding or removing parentheses from regexps occurring in `pattern-regexp` or `pattern-not-regex` causes too many matches.

For example, the following always matches the string `a-b`, which is surprising:
[code]
https://semgrep.dev/playground/s/mjambon:with-regexp

It seems that it's due to automatic metavariables `$1`, `$2` etc. which are bound to the captured substrings. A `

[2022-06-10 03:28] r2c-demo commented on #5486
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1487/surprising-behavior-of-capturing-groups-in-pattern-regex-and-pattern. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-10 04:07] ben-elttam opened #5487 "Semgrep --test should scan test file regardless of `paths` directive"
**Is your feature request related to a problem? Please describe.**

When running `semgrep --test` for a rule file `rule.yml` it can find the semgrep unit test file, like `rule.test.yml`, or `rule.java`. If the rule is using `paths.include` directive, the unit test file must be included in the list.

https://semgrep.dev/docs/writing-rules/rule-syntax/#limiting-a-rule-to-paths

e.g. the rule in file

[2022-06-10 04:07] r2c-demo commented on #5487
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1488/semgrep-test-should-scan-test-file-regardless-of-paths-directive. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-10 08:03] p4p3r commented on #5445
Another test rule for this bug has been posted here: https://github.com/returntocorp/semgrep-rules/pull/2119

[2022-06-10 08:06] fabian-zeindl-oebb commented on #5445
No, This is a different test-rule. There I added the option generic_ellipsis_max_span: 100

[2022-06-10 08:40] zhuxindong opened #5488 "PermissionError: [Errno 13] Permission denied: '/src'"
when i run  "docker run -v "${PWD}:/src" returntocorp/semgrep semgrep --config=auto”

then error occuered:
[code]

[2022-06-10 08:43] r2c-demo commented on #5488
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1489/permissionerror-[errno-13]-permission-denied-src. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-10 13:56] crazyfermions commented on #4955
I can confirm that this issue was fixed with 0.91 (i.e. it occurs in 0.90 but no longer in 0.91).

[2022-06-10 16:45] #4955 closed, assigned to nobody

[2022-06-10 18:58] ievans commented on #5488
Maybe related to https://github.com/returntocorp/semgrep/issues/5479?

[2022-06-10 18:58] #5483 closed, assigned to nobody

[2022-06-10 19:12] brendongo commented on #5479
Hmm this change was unexpected 👀

[2022-06-10 19:27] underyx commented on #5479
Some context:

The docker working directory logic was updated by this commit (not with this intention though): https://github.com/returntocorp/semgrep/pull/5442/commits/6ef4d854f2251a0c46672647406a868d500be26a

And an explanation I had sent on slack:

[2022-06-10 19:28] underyx commented on #5479
I think the issue is that I removed the `WORKDIR /src` instruction from the Dockerfile to make it possible for us to detect whether `/src` was mounted or not.

[2022-06-10 19:31] JosiahOne commented on #5479
Additional side effect for anyone who stumbles across this:

After changing our semgrep command to use absolute paths, things were still failing because our ignore rules no longer worked (because now "src" was being prepended to the rule ids on the semgrep side but our comments did not include this).

To fix that I had to add the --no-rewrite-rule-ids flag to our command.

[2022-06-10 19:31] underyx commented on #5479
The directory should still be changed by our code to `/src` later, but I think that doesn't happen because the function only does it `if env.in_docker and not env.in_gh_action`. @JosiahOne are you running in github actions?

[2022-06-10 19:32] JosiahOne commented on #5479
Hey @underyx ! I am not. We are running in GitLab CI using docker.

[2022-06-10 20:34] emjin commented on #5486
Alternatively, we can document this behavior more clearly.

[2022-06-10 22:13] underyx commented on #5479
@JosiahOne I created a PR which should fix this regression. However, for some reason, I'm unable to reproduce the issue you're describing.

[code]

[2022-06-10 22:24] underyx commented on #5479
more specifically, where is the `sep-` in this path coming from?

[2022-06-10 22:33] djmattyg007 commented on #5165
Not stale.

[2022-06-10 23:00] #5479 closed, assigned to nobody

[2022-06-10 23:00] #5488 closed, assigned to nobody

[2022-06-11 00:22] mjambon commented on #5486
I think we should have a tutorial on how to use `pattern-not` and `pattern-not-regex` no matter what.

[2022-06-11 00:28] mjambon commented on #5486
@aryx suggested on Slack that we assign unique names to the captured substrings such as `$pat1_1`, `$pat1_2`, `$pat2_1`, etc. to avoid cross-matching. He suggested that we offer a way for the user to bind them to metavariables explicitly using some other mechanism. It could be something like this:
[code]
(not sure about the syntax but that's the idea for assigning metavariables)

A rule checker wo

[2022-06-11 00:30] azu commented on #5282
Which is this a bug or expected behavior?

[2022-06-11 02:11] #5132 closed, assigned to nobody

[2022-06-11 02:11] #5244 closed, assigned to nobody

[2022-06-11 02:11] #5140 closed, assigned to nobody

[2022-06-11 10:48] aryx commented on #5480
Record can be parsed, they just currently have to be nested inside another class.
This works for example: https://semgrep.dev/s/dNEP

[2022-06-11 10:49] aryx commented on #5480
I'm not sure what's the official Java grammar spec says.

[2022-06-11 10:51] aryx commented on #5480
https://openjdk.java.net/jeps/359: "Beyond the restrictions above, records behave like normal classes: they can be declared top level or nested," so I guess they can

[2022-06-11 11:06] aryx commented on #4083
it works!!!!

![image](https://user-images.githubusercontent.com/332336/173185285-4b822c31-ee12-4cc2-a44d-3244f7d7a70d.png)

[2022-06-11 11:08] aryx commented on #4083
This was fixed when we switch to OCaml 4.14, as Xavier himself fixed the issue in OCaml 4.13.2

[2022-06-11 11:08] #4083 closed, assigned to kopecs

[2022-06-11 14:55] JosiahOne commented on #5479
Sorry I forgot to modify my later examples to use the sep- prefix. You can consider that to be the same as "semgrep-rules".

I can create an example next week if that's helpful!

[2022-06-12 08:31] #5320 closed, assigned to nobody

[2022-06-12 08:58] aryx commented on #5452
We actually do parse the pattern as a field (see -dump_pattern with PartialSingleField). The problem is that the Composite Literal (the tls.Config {xxx}) is internally parsed as a function call with keyword arguments instead of a Record,
and so the PartialSingleField pattern does not match an ArgKwd.
I'll try to fix it by generating a Record. Not sure why we were not doing that in the first place.

[2022-06-12 08:59] aryx commented on #5452
Hmm I think it's because the composite literal can also be written with the "fields" unnamed as long as they are in the same order.

[2022-06-12 13:12] CaledoniaProject opened #5497 "How can I load and run all PHP rules?"
I'm trying to run all the rules beginning with `php.`, is that supported?
I've tried `semgrep --config "p/php."` and this does not work

[2022-06-12 13:13] r2c-demo commented on #5497
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1491/how-can-i-load-and-run-all-php-rules. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-12 16:46] #5452 closed, assigned to nobody

[2022-06-13 08:53] #5443 closed, assigned to nobody

[2022-06-13 10:08] Sjord commented on #5383
@brendongo Could you consider re-opening this issue? If `--scan-unknown-extensions` only works on files passed as argument, and `semgrep ci` doesn't take files as arguments, then this option doesn't make sense.

[2022-06-13 16:12] YakDriver commented on #5277
This is an inconsistent problem that is blocking us. Can you please take a look?

[2022-06-13 17:25] brendongo commented on #5497
Yes. You can run `semgrep scan --config r/php`

[2022-06-13 17:25] #5497 closed, assigned to colleend

[2022-06-13 18:15] underyx commented on #5257
I'll say this is good enough now.

[2022-06-13 18:15] #5257 closed, assigned to nobody

[2022-06-13 19:05] emjin commented on #5277
The link to the config (https://github.com/hashicorp/terraform-provider-aws/blob/main/.semgrep-service-name.yml) is broken. Is there an updated link? A playground link would be best!

[2022-06-13 19:27] keithdouglas commented on #2360
Any news on this idea? I've had trouble starting this sort of thing up myself and was glad to find this. I have had my R users complain that lintr is just not useful - and yet we want to adopt static code analysis for security purposes for all our languages, so I was hoping maybe semgrep would help. If there's a way to get an update so I can try building rules (rather than flailing/failing to get

[2022-06-13 19:44] #5293 closed, assigned to nobody

[2022-06-13 20:02] Strunevskiy opened #5506 "Metavariables do not work for object reference in Scala"
**Describe the bug**
A clear and concise description of what the bug is.
Metavariables do not work for object reference in Scala

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:
The link is attached https://semgrep.dev/s/zojz

**Expected behavior**
A clear and concise description of what you expected to happen.
Based on the link, there should be two matches

[2022-06-13 20:04] r2c-demo commented on #5506
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1496/metavariables-do-not-work-for-object-reference-in-scala. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-13 20:35] bmahe commented on #5277
I was able to reproduce by running twice `semgrep -c .semgrep-service-name0.yml`

From the repo: https://github.com/hashicorp/terraform-provider-aws

Here is the output of the failure:
[code]

[2022-06-13 22:08] kurt-r2c opened #5508 "Semgrep does not support named parameters in PHP"
**Describe the bug**
PHP parsing does not support named parameters in functions [(supported in PHP 8+)](https://www.php.net/manual/en/functions.arguments.php#functions.named-arguments)

in PHP 8 and higher, the following is valid PHP:

[code]

Currently, this fails to parse with an "invalid PHP" error in Semgrep as of 0.97.0

[code]

**To Reproduce**
https://semgrep.dev/s/ykv8

**Expected behavior

[2022-06-13 22:09] r2c-demo commented on #5508
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1497/semgrep-does-not-support-named-parameters-in-php. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-13 22:32] kurt-r2c opened #5509 "Boolean constant propagation does not behave correctly in PHP"
**Describe the bug**
Constant propagation with boolean values does not behave as advertised in PHP.

A rule like

**To Reproduce**
To illustrate the issue, see the following (correct) Python example:
https://semgrep.dev/s/kPvX

Identical behavior in PHP is not matched as expected:
https://semgrep.dev/s/w2vx

**Expected behavior**
Boolean constant propagation is consistent across languages.

**Scre

[2022-06-13 22:33] r2c-demo commented on #5509
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1498/boolean-constant-propagation-does-not-behave-correctly-in-php. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-14 00:43] enncoded opened #5512 "[Go] Support typed metavariables in function parameters"
**Describe the bug**
Semgrep currently throws an error when writing a pattern that uses typed metavariables in a function parameters.

**To Reproduce**
https://semgrep.dev/s/dNLP

**Expected behavior**
Typed metavariables should work in function parameters.

**Screenshots**
![image](https://user-images.githubusercontent.com/14846866/173470009-db2ce2ce-f082-48ec-a222-fe635c905a2e.png)

**What is th

[2022-06-14 00:44] r2c-demo commented on #5512
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1500/[go]-support-typed-metavariables-in-function-parameters. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-14 01:27] mjambon commented on #5445
Hi @fabian-zeindl-oebb
Thanks for reporting this. I think what's happening is correct but it's not obvious or intuitive at all.

(A) This behaves as expected due to the 10-line limitation for the ellipsis:
[code]
https://semgrep.dev/playground/s/mjambon:generic-ellipsis-test-ok

(B) This behaves incorrectly i.e. it matches the long block even though it spans more than 10 lines:
[code]

Note the di

[2022-06-14 03:42] alexmac opened #5513 "Pattern match not applied inside Python "with" statement"
**Describe the bug**
semgrep doesn't match inside a with statement

**To Reproduce**
https://semgrep.dev/s/J17o

**Expected behavior**
A pattern of "foo()" should match in a block of code like this:

[code]

**What is the priority of the bug to you?**
P2

**Environment**
official docker image / semgrep.dev

**Use case**
catching deprecated function used inside with statements

[2022-06-14 03:43] r2c-demo commented on #5513
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1501/pattern-match-not-applied-inside-python-with-statement. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-14 06:50] fabian-zeindl-oebb commented on #5445
I still don't see it. You pasted https://semgrep.dev/playground/s/mjambon:generic-ellipsis-test-ok as an example for A (indented ...). But in your example in the playground the ... is NOT intended. If you do the indentation it will start to match the second block.

[2022-06-14 06:50] fabian-zeindl-oebb commented on #5445
Please reopen.

[2022-06-14 06:54] spaceraccoon opened #5514 "Invalid Version in GitLab Sast Output"
**Describe the bug**
The GitLab Sast JSON output produced by semgrep has version set to `2.0` (https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/formatter/gitlab_sast.py#L103), but latest versions of the GitLab SAST schema expect semver format `x.x.x`, leading to the following warning message:

[code]

**To Reproduce**
Run Semgrep CI using the sample CI config (https://semgrep.d

[2022-06-14 06:56] r2c-demo commented on #5514
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1502/invalid-version-in-gitlab-sast-output. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-14 07:21] spaceraccoon commented on #5514
Note: It seems that deprecated versions will not be ingested, so this could be a breaking issue soon. https://gitlab.com/gitlab-org/gitlab/-/merge_requests/86865

[2022-06-14 15:17] Strunevskiy commented on #5506
Is there any update on the issue ?

[2022-06-14 15:26] #2360 closed, assigned to nobody

[2022-06-14 15:31] aryx commented on #2360
Done @keithdouglas . It should be part of the next release of semgrep. You should be able to start to write
rules for R! You can then contribute them to our semgrep-rules repository, for other to benefit from your rules.

[2022-06-14 15:35] keithdouglas commented on #2360
Excellent, thanks for your work on this! I will be bringing this up with my colleagues.

[2022-06-14 15:44] aryx opened #5518 "Add support for language Dart"
See https://github.com/returntocorp/semgrep-rules/pull/2098

[2022-06-14 15:44] aryx commented on #5518
Relevant discussions on slack: https://r2c-community.slack.com/archives/C01LNF69F9B/p1653433062820769

[2022-06-14 15:46] r2c-demo commented on #5518
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1503/add-support-for-language-dart. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-14 15:47] aryx commented on #5518
Another one: https://r2c-community.slack.com/archives/CK86BJ5DW/p1654573880188189

[2022-06-14 18:11] #5277 closed, assigned to nmote

[2022-06-14 20:01] #5508 closed, assigned to nobody

[2022-06-14 20:56] mjambon commented on #5518
We're getting these stats on the popular public repos on GitHub (unfiltered):
[code]
which is great!

[2022-06-14 21:05] ievans opened #5527 "Include requested and scanned SLoC counts in output"
**Is your feature request related to a problem? Please describe.**

When we scan with Semgrep, I sometimes wonder: are we checking all our code?

It would be great to have a sense of coverage from Semgrep: particularly in terms of how many LoC were *asked* to be scanned and then how many *were scanned* with how many rules.

**Describe the solution you'd like**

Add a (potentially optional) mode to

[2022-06-14 21:05] mjambon commented on #5518
The generated code was pushed to https://github.com/returntocorp/semgrep-dart

[2022-06-14 21:06] r2c-demo commented on #5527
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1506/include-requested-and-scanned-sloc-counts-in-output. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-14 21:13] brendongo commented on #5527
Maybe files is enough? Idk if reporting lines scanned is any more accurate than just files and it saves us from having to do a SLOC count (which is O(LOC))

[2022-06-14 21:13] brendongo commented on #5527
And semgrep never scans units smaller than a file anyway

[2022-06-14 21:56] #5509 closed, assigned to nobody

[2022-06-14 21:59] mjambon commented on #5445
@fabian-zeindl-oebb sorry, I think I mixed up the two cases. Also, I should have posted two URLs, one with indentation and one without. Here they are:

* https://semgrep.dev/playground/s/mjambon:generic-ellipsis-test-indent : with indentation in the pattern, matches more
* https://semgrep.dev/playground/s/mjambon:generic-ellipsis-test-no-indent : without indentation in the pattern, matches less

T

[2022-06-14 23:54] kopecs commented on #5513
Looks like we discard the expression if it isn't renamed:

[code]
results in
[code]

whereas

[code]

results in

[code]

This should just require a change here:

https://github.com/returntocorp/semgrep/blob/4ef36464d364b3f8d2bbf531b71e2ed618917204/semgrep-core/src/parsing/pfff/Python_to_generic.ml#L725-L729

This should probably be `None -> [ G.E v1 ]`.

[2022-06-15 00:06] mmcqd opened #5533 "Improve Error Message on use of deprecated pattern-where-python"
**Describe the bug**
The error thrown by semgrep-core when it tried to analyze a rule containing pattern-where-python is confusing and does not properly indicate that the feature is deprecated.
[code]

**Expected behavior**
Semgrep should produce a warning about the deprecation/removal of this feature

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or work

[2022-06-15 00:07] r2c-demo commented on #5533
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1507/improve-error-message-on-use-of-deprecated-pattern-where-python. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-15 06:44] aryx commented on #5506
It's probably because class fields declared via the class parameters are not currently handled. Only Scala has this feature I think.

[2022-06-15 06:45] aryx commented on #5533
This has been fixed a few days ago.

[2022-06-15 06:46] aryx commented on #5533
Here: https://github.com/returntocorp/semgrep/pull/5496
maybe you have an old semgrep-core in your PATH.

[2022-06-15 06:46] #5533 closed, assigned to nobody

[2022-06-15 06:50] aryx commented on #5512
discussed on linear, so closing here.

[2022-06-15 06:50] #5512 closed, assigned to nobody

[2022-06-15 06:50] aryx commented on #5512
But essentially you don't need (and can't use) typed metavariables in a parameter context; just use parameter definitions.

[2022-06-15 07:15] aryx commented on #5518
Can you give admin access to developers team for semgrep-dart?

[2022-06-15 08:05] aryx commented on #2360
We're now at 99.9% correct parsing! https://dashboard.semgrep.dev/metric/semgrep.core.R.parse.pct

[2022-06-15 10:19] vladiavramov opened #5538 "Java Enums not detected when in a class"
**Describe the bug**
The issue is that all cases of enum used inside a Java class can't be detected. It was tested with a full/empty body, with/without metavariables and with/without wildcards (...).

**To Reproduce**
Run the example. (https://semgrep.dev/s/R4NY)

**Expected behavior**
I expected the enum to be selected and if there are more enums - to be detected too (as a metavariable is used).

[2022-06-15 10:19] r2c-demo commented on #5538
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1508/java-enums-not-detected-when-in-a-class. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-15 10:39] Sjord commented on #5509
I expect the same applies to `null`, which should also have its own AST node.

[2022-06-15 20:30] brendongo commented on #5514
Closed by https://github.com/returntocorp/semgrep/pull/5532

[2022-06-15 20:30] #5514 closed, assigned to nobody

[2022-06-15 20:31] brendongo commented on #5067
This (stack usage) doesnt seem to be a problem since we removed GC optimizations in semgrep-core

[2022-06-15 20:42] brendongo commented on #4508
Tried to repro again with `semgrep --config=p/r2c-security-audit Dockerfile` and we don't seem to be scanning the Dockerfile as ruby anymore even with explicit targeting. I'm going to assume this has been resolved. @vedanandusekar feel free to reopen another issue if this is still happening with latest semgrep

[2022-06-15 20:42] #4508 closed, assigned to underyx

[2022-06-15 22:41] mjambon opened #5549 "Patterns should be parsed assuming the same language as the target"
**Describe the bug**

If a rule lists for example `bash` and `js` as applicable languages, semgrep will typically miss all the expected findings for one of the languages.

This `hello.json` rule file for example will exhibit the problem:
[code]

The above is the file that the `semgrep` wrapper passes to `semgrep-core`, with languages ordered alphabetically.

It works ok with a Bash target:
[code]

[2022-06-15 22:43] r2c-demo commented on #5549
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1512/patterns-should-be-parsed-assuming-the-same-language-as-the-target. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-15 22:57] mjambon commented on #5549
The reordering of the language list is what causes the playground to not find a match here: https://semgrep.dev/s/mjambon:polyglot

The playground assumes the target language is the first one in the original YAML rule file, but this list gets reordered and `semgrep-core` sees a different order. The assumption that the order of the languages doesn't matter is in my opinion sane and desirable.

[2022-06-15 23:55] #5513 closed, assigned to nobody

[2022-06-16 05:18] Strunevskiy opened #5555 "[scala] Infer object type for metavariables from object creation if type is not present"
**Is your feature request related to a problem? Please describe.**
It would be nice to be able to search for the usage of method calls on particular objects. But scala is not strictly typed language and when type is missed some metavariables do not work, for example: invocation of method makeBean on the object MapToBeanMapperImpl() for the example below.

[code]

There could be object inheritance,

[2022-06-16 05:20] r2c-demo commented on #5555
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1513/infer-object-type-for-metavariables-from-object-creation-if-type-is. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-16 08:42] sim642 commented on #5421
Looks like this was fixed in #5425 and quietly released in v0.98.0 with no mention in the changelog. The CI jobs stopped failing.

[2022-06-16 08:42] #5421 closed, assigned to ajbt200128

[2022-06-16 08:46] peteryates commented on #5421
Worked fine for us too, thanks @sim642.

[2022-06-16 09:20] #4509 closed, assigned to IagoAbal

[2022-06-16 09:25] aryx commented on #4509
"We could perhaps asume that a (pressumably void-returning) method call like data.push(input) does taint data if input is tainted."
What if we did that instead of taint propagators? This is especially something we could do better in DeepSemgrep because we have more type information about the methods (but it's also easy to detect when something does not return anything because it's not used in an r

[2022-06-16 09:56] vmarkovtsev opened #5556 "Failure to execute in GHA for a private project"
I execute semgrep in GitHub Actions in my private project. The trigger event is `pull_request`. I see the following log:
[code]

The GHA  config is
[code]

[2022-06-16 09:58] r2c-demo commented on #5556
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1515/failure-to-execute-in-gha-for-a-private-project. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-16 09:59] vmarkovtsev commented on #5556
I changed the config as follows and everything worked:
[code]

[2022-06-16 09:59] #5556 closed, assigned to nobody

[2022-06-16 10:21] aryx commented on #5555
Note that that's something DeepSemgrep was designed for.

[2022-06-16 10:24] vladiavramov opened #5558 "Java constructors with modifiers patern not detected"
**Describe the bug**
When trying to match a pattern to a constructor with modifier inside a class (e.g. public House) the system returns a parse error.

**To Reproduce**
Run the example. (https://semgrep.dev/s/B1R6)
If it's run without the public modifier the patten is captured.

**Expected behavior**
The expected behaviour is for the pattern to be matched.

**Screenshots**
If applicable, add scre

[2022-06-16 10:24] r2c-demo commented on #5558
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1516/java-constructors-with-modifiers-patern-not-detected. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-16 13:27] Sjord opened #5560 "Executable check does not work correctly in docker"
TargetManager attempts to determine the language for files without an extension by reading the shebang line (e.g. `#!/usr/bin/python` as first line). Shebang lines are only supposed to be read from executable files. TargetManager uses `os.access` to check whether a file is executable. However, this doesn't work correctly in a docker on files mounted from the host system:

[code]

The result is tha

[2022-06-16 13:27] r2c-demo commented on #5560
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1517/executable-check-does-not-work-correctly-in-docker. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-16 15:08] Strunevskiy commented on #5555
@aryx what is deep semgrep ? could you share any link ?

[2022-06-16 15:21] mjambon commented on #5518
oops. done.

[2022-06-16 16:06] pzhou-splunk opened #5562 "Pull requests scans failing as of semgrep version 0.98 on git fetch"
**Describe the bug**
We run semgrep scans via GitHub actions on the `pull_request_target` event for our repos in https://github.com/splunk-soar-connectors. As of semgrep version 0.98, the scans have started crashing when running against forked pull requests with the following output:

[code]

**To Reproduce**
Run `semgrep-action@v1` on a `pull_request_target` event for a forked repo
Example workfl

[2022-06-16 16:08] r2c-demo commented on #5562
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1518/pull-requests-scans-against-forks-failing-as-of-semgrep-version-098. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-16 16:53] aryx commented on #5555
https://r2c.dev/blog/2022/introducing-deepSemgrep/

[2022-06-16 16:54] aryx commented on #5555
but we can still independently do a best effort for semgrep and try to match the function name
to the type in that case.
It's nice that scala does not need x = new Foo(), but for us it makes things harder :)

[2022-06-16 17:12] anshumanbh commented on #5562
We are experiencing a bunch of failures all of a sudden. An example run failure:

[code]

[2022-06-16 17:13] spencerdrak commented on #5562
Thanks for the reports! We are investigating this issue and will post updates here as we have them.

[2022-06-16 17:35] spencerdrak commented on #5562
Hey there @anshumanbh and @pzhou-splunk - One thing we've noticed is that the error doesn't occur with `actions/checkout@v3`, and we can only reproduce with `actions/checkout@v1`. Does this happen to be the same version of the checkout step that you folks are using? Upgrading this if possible may be a fix for the time being.

We're going to continue looking for the root cause here, though.

[2022-06-16 17:39] anshumanbh commented on #5562
@spencerdrak We are using `actions/checkout@v3`. Our semgrep.yml looks like below:

[code]

[2022-06-16 17:40] anshumanbh commented on #5562
A different error we saw in Github Actions run:

[code]

[2022-06-16 17:45] spencerdrak commented on #5562
@anshumanbh re: the different error you saw - we are also experiencing an outage on the app side which our team is looking into, and status should be posted in our community slack if you want to follow along there. It's a separate issue, and we're tracking, but thanks for the report!

In terms of the v1/v3 checkout step, we'll continue looking into this and try to reproduce on our end. If we need

[2022-06-16 17:55] spencerdrak commented on #5562
@anshumanbh we're not able to reproduce the error using the `actions/checkout@v3` - you mentioned that a bunch of failures were occurring, are they all using `actions/checkout@v3` or are some using an older version? Also, the `requests.exceptions.RetryError` you noted shouldn't be occurring anymore, so a run using checkout v3 is at least succeeding on our end (unless there's some other sort of con

[2022-06-16 18:02] anshumanbh commented on #5562
@spencerdrak Yes, all our Github Action workflows are using `actions/checkout@v3`

[2022-06-16 18:48] underyx commented on #5560
Hmm, this sounds bad. Do you have any context or explanation as to why this doesn't work via docker mounts? 😕 I'm not quite sure what we can do as it stands

[2022-06-16 18:48] efortuna opened #5563 "Semgrep's --help needs improvement"
**Is your feature request related to a problem? Please describe.**
Semgrep contains undocumented command flags that are not displayed. In the docs it mentions running `semgrep -e '$X == $X' --lang=py path/to/src` what does the -e flag do? If I run `semgrep --help` it doesn't show that flag, and it's not one of the listed "commands". Who knows how many other flags there are that I can use to run. I

[2022-06-16 18:50] r2c-demo commented on #5563
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1519/semgreps-help-needs-improvement. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-16 20:21] kopecs commented on #5563
fyi I believe this is documented under `semgrep scan --help`, so it might just be a matter of making it clear that `scan` is the default command.

[2022-06-16 20:30] efortuna commented on #5563
yes, we should do that, then. (and maybe list scan's options under the "Option" section)

[2022-06-16 21:17] brendongo commented on #5563
IMO we should just not have a default command. More discussion here: https://returntocorp.slack.com/archives/C6A1GN4P3/p1648622835810529

[2022-06-16 21:23] efortuna commented on #5563
@brendongo amen.

[2022-06-16 22:54] pzhou-splunk commented on #5562
@spencerdrak thanks for following up

Unfortunately, the scans are still failing for us using `actions/checkout@v3`

[2022-06-16 23:13] spencerdrak commented on #5562
@pzhou-splunk sure, we're looking into this again now. If we have anymore questions, we'll drop them here.

[2022-06-16 23:25] brendongo commented on #5562
[code]

@anshumanbh are you able to make a PR with the above replacing BRANCH_NAME_HERE. We should be able to see the error message you are getting.

[2022-06-16 23:38] spencerdrak commented on #5562
@pzhou-splunk is there any chance you'd also be able to add the above debugging steps to your semgrep action? We've been unsuccessful in reproducing the error, even when trying to use the same action as your runs.

[2022-06-17 08:27] aryx commented on #5563
maybe just adding in the default --help message:

"Note that by default semgrep run the scan subcommand; to get more information
about this command, run semgrep scan --help"

[2022-06-17 08:58] Sjord commented on #5560
Perhaps related: [incorrect accessible() implementation · Issue #43724 · moby/moby](https://github.com/moby/moby/issues/43724)

[2022-06-17 10:21] Sjord commented on #5560
[access() reports file on bind mount as executable when it is not · Issue #43726 · moby/moby](https://github.com/moby/moby/issues/43726)

[2022-06-17 16:08] underyx commented on #5560
Thank you for volunteering so much time to track this down! I see they had you move it to https://github.com/docker/for-mac/issues/6367 now.

[2022-06-17 18:34] brendongo opened #5569 "Semgrep-core sending import resolution as metavariable value in python"
**Describe the bug**
Semgrep reports two findings on the same match because the metavariables are different but the second metavariable value looks like in import resolution or similar

**To Reproduce**
Rule:
[code]
Target:
[code]

https://semgrep.dev/s/02wq (Note two matches instead of 1)

![image](https://user-images.githubusercontent.com/343265/174389820-a5138be1-9a17-4ad6-8f38-8afcc235d9d5.png