[2020-01-06 20:00] DrewDennison opened #1 "fix python syntax bugs in sgrep"

[2020-01-08 22:08] aryx commented on #1
Done, I now parse 99.92% of 2 M LOC of popular python projects.
Available in latest pfff (now to integrate in bento)

[2020-01-08 22:09] aryx commented on #1
ok will close when it's actually leveraged by bento sgrep

[2020-01-09 20:55] #1 closed

[2020-01-21 18:04] minusworld opened #2 "integrate tree-sitter java parser into sgrep"

[2020-01-21 18:08] aryx commented on #2
there is already a Java parser in  sgrep; it parses 98% code.
the title should be integrate tree-sitter java parser into sgrep

[2020-01-22 00:37] minusworld opened #3 "sgrep inside bento.dev"
Snazzy-looking sgrep landing page at bento.dev that explains the steps to write and run your own rule.

[2020-01-22 00:39] minusworld opened #4 "sgrep technical documentation"

[2020-01-22 19:35] ievans opened #6 "command to validate a pattern"
It would be helpful to have an sgrep command that validates whether a pattern can be parsed for a particular language flag. For instance, this could be used in a repl to indicate to the user whether the pattern is valid at every keystroke.

[2020-01-22 19:53] minusworld opened #7 "constant propagation for Python"

[2020-01-28 01:43] ievans commented on #7
@aryx do you have a good idea for demoing a python check that relies on dataflow?

[2020-01-28 19:04] dan5382 commented on #3
@ievans for this ticket the check boxes don't match what we need to do. Based on the content of this we are talking about Sgrep user flows (within product).

While the topic is Sgrep landing page. Can we change this so it matches? I dont mind changing myself just didn't want to blow away anyones work.

[2020-01-28 20:31] ievans commented on #3
Yes, I think the title is correct and the checkboxes are wrong. Fire away!

[2020-01-28 22:07] ulziibay opened #16 "-r2c flag is not respected when -rules_file is specified"
When using `-rules_file`, `r2c` flag does not seem to be respected. See below:

[code]
VS
[code]

[2020-01-28 22:13] aryx commented on #16
Yes because now when you use -rule_file, you really should use sgrep.py which internally calls sgrep -rule_file. I could follow the r2c format, but it's better not to so that people know they should use instead sgrep.py which now provides lots of new features (e.g., boolean logic operators on patterns)

[2020-01-28 22:13] aryx commented on #16
cc @ievans

[2020-01-28 22:23] ulziibay commented on #16
I will wait for https://github.com/returntocorp/sgrep/pull/13 to merge and test with that.

[2020-01-29 09:50] aryx commented on #16
it is merged now

[2020-01-29 09:53] aryx commented on #7
As we talked, the example mentioned in the sgrep meetup future work slides:
boto3.client(aws_pass="...") should match code where the password was stored in a constant string before as in  pass="a7844"; boto3.client(aws_pass=pass).

We could propagate constant, or more generally normalize the AST so that one pattern match more variations.
another example is x = get(); y = x; eval(y); that we would

[2020-01-29 09:54] aryx commented on #6
What is the interface you want? where is the pattern stored? in the yaml file? on the command-line?
on stdin?

[2020-01-29 09:55] aryx commented on #4
What do you mean by technical documentation? Explain how things work internally?

[2020-01-29 18:29] ievans commented on #6
Just the command line I think, i.e.:

[code]

[2020-01-29 19:38] ievans opened #22 "bug with identifier equality (seen in eqeq check)"
See for instance https://app.r2c.dev/triager/triage?analyzer_name=beta/sgrep&analyzer_version=0.1.16&commit=499faf4eb9f9ccf0b21dc728e974970f54bd6c52&selected_regions=%5B%7B%22rows%22%3A%5B0%2C0%5D%7D%5D

This is a false positive when it comes to the identifiers that appears to originate inside sgrep/pfff core.

[2020-01-29 19:47] ulziibay commented on #16
Still r2c output is not supported. @ievans do we need r2c output format as argument to `sgrep-lint` for the sgrep 2.0 workshop?  If not, lets close this. I imagine we are going to run things on platform? If so, we need the r2c output format implemented to the binary

[2020-01-30 01:45] #16 closed

[2020-01-30 19:45] DrewDennison opened #28 "sgrep research phase 1"

[2020-01-30 20:05] ievans opened #29 "Python decorator support"
desired:

code:
[code]

should be matched by these patterns:
[code]

[code]

[code]

[2020-01-30 21:29] aryx commented on #29
I don't think we need the @...,
just @charlie("xys") def(...): ... should match

[2020-01-30 21:31] aryx commented on #29
It's one of the core principle of sgrep I don't have a good name for; I used to call it
"isomorphism by absence" or "less-is-ok", but it just says that you don't have to give all the details
in the pattern; For example the absence of decorator in the pattern will also match code using decorators, or writing int x;  will also match static int x;
Do you have a name for this principle?

[2020-01-30 22:32] ievans commented on #29
@aryx I agree with you on reflection, I don't have a name for the principle though. I will update the issue to reflect!

[2020-01-30 22:46] dan5382 commented on #28
Research resulted in an understanding of our internal sgrep process.
We believe we can make sgrep better by concentrating on the local experience and making it super fast to iterate.

We understand the next set of work now:
- 1 sgrep panel in Bento website
- * Will default to platform with results tab open
- * Might spend a couple cycles thinking through Triager and Platform to merge the two.

Ext

[2020-01-31 15:55] DrewDennison opened #38 "Change default output to line based"
Change default output from json to line based. Add `--json`

[2020-01-31 15:58] DrewDennison opened #39 "Remove docker mount path from `path` output"
currently the output has the abs path so looks like `"path": "/home/repo/tests/TODO/imports2.py"`.  It should not have `/home/repo/`

[2020-01-31 18:56] ulziibay commented on #29
Decorator support for the last item in
" accessing g request.form, request.json, request.data outside POST/PUT/DELETE handler"
https://github.com/returntocorp/sgrep-rules/issues/5 is needed. Would be great addition to sgrep python

[2020-01-31 19:39] dlukeomalley opened #43 "ship binaries for Ubuntu"
Want to be able to install sgrep easily using some package manager like brew/apt

[2020-02-01 05:07] ievans opened #49 "match on type of immediate"
[code]

should match

[code]

`os.remove($X: float)` -> `os.remove(1.0)`
`os.remove($X: str)` -> `os.remove("1.0")`

Etc., for the python primitive types seen as immediates

[2020-02-01 05:22] ievans opened #50 "better class matching"
the pattern:

[code]

should match
[code]

[2020-02-01 05:25] ievans opened #51 "python equivalence: de-sugar `with`"
Per https://www.python.org/dev/peps/pep-0343/

[code]
should be equivalent to:
[code]

Specifically, if F is assigned to a file handle, it would be equivalent to enter `open` and exit `close` functionality. This may require typing to do robustly.

[2020-02-01 05:36] ievans opened #52 "ocaml error running rules with `return $X`"
**Describe the bug**
`Fatal error: exception (Failure "empty list, max_min_ii_by_pos")`

**To Reproduce**
Steps to reproduce the behavior:
1. `sgrep-lint --no-rewrite-rule-ids -f python/smells/return-in-init.yaml python/smells/return-in-init.py` from https://github.com/returntocorp/sgrep-rules/pull/12

**Expected behavior**
Not an ocaml exception :)

[2020-02-02 15:01] ievans opened #65 "should match functions at any level"
**Describe the bug**
pattern: `def __eq__(...): ...` will match

[code]

but not:

[code]

or:
[code]

Fixing this would fix false positives in https://github.com/returntocorp/sgrep-rules/blob/master/python/deadcode/useless-eqeq.yaml

[2020-02-03 01:09] DrewDennison opened #66 "sgrep not working on js files"
See slack

[2020-02-03 01:18] DrewDennison commented on #66
Steps to repro:

1. clone https://github.com/inkz/test-sgrep-js
2. Try with sgrep itself
[code]
@aryx why is `javascript` not supported?
3. Run with `js`
[code]
4. Cat `.sgrep.yml`
[code]
5. run with verbose but no luck
[code]
cc @ievans for thoughts on why the `-rules-file` option doesn't seem to work with `js`

[2020-02-03 16:10] aryx commented on #6
You'll need to handle patterns on multiple lines

[2020-02-03 16:37] DrewDennison opened #70 "Re-enable failing tests"
re-enable tests https://github.com/returntocorp/sgrep/blob/develop/Makefile#L8

cc @aryx

[2020-02-03 17:40] ievans commented on #6
@aryx could I embed newlines eg: "def $X():\n..." or does sgrep treat them specially?

[2020-02-03 22:05] #4 closed

[2020-02-04 00:41] ulziibay opened #73 "Return $X pattern is failing in tests"
**Describe the bug**
When the return $X is used in sgrep pattern, the rule engine is failing with the following:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Check out 2248c2570a0b6228b537d41afa11766d590a7fc8
2. `make build`
3. Create the following rule file
[code]
4. Pass in to sgrep binary:
[code]
5. See
[code]

**Expected behavior**
A clear and concise description of what you ex

[2020-02-04 00:59] ulziibay commented on #73
Potential duplication or reincarnation of https://github.com/returntocorp/sgrep/issues/52

[2020-02-04 01:18] DrewDennison opened #74 "python identifier not matched when imported"
Hey @aryx

I was trying to match

[code]

and I wrote

[code]

and

[code]

But I got no matches

line is from https://github.com/Netflix/lemur/commit/d2c7330fb7e5956b67fce2d98340473dd7f6ce5e

cc @daghan

[2020-02-04 01:33] ievans opened #76 "set `--version` during the build so it matches the git tag"
Update sgrep version and sgrep-lint version on release based on tag or git hash

[2020-02-04 01:40] ievans commented on #74
This is expected behavior, because earlier in celery.py:

`from lemur.extensions import metrics, sentry`

so the correct pattern is: `lemur.extensions.metrics.send(...)`

[2020-02-04 01:40] #74 closed

[2020-02-04 01:50] ievans commented on #66
@aryx this is still failing for external users and in our test cases eg https://github.com/returntocorp/sgrep-rules/pull/25

[2020-02-04 01:51] ievans commented on #29
Confirmed working, thank you! Added https://github.com/returntocorp/sgrep-rules/pull/29 to regression test as well.

[2020-02-04 01:51] #29 closed

[2020-02-04 02:02] ulziibay commented on #2
Final code lives in https://github.com/returntocorp/ocaml-tree-sitter/tree/master/proto

[2020-02-04 08:39] aryx commented on #66
Does sgrep-rules use the latest pfff/sgrep? the sgrep from develop branch?

[2020-02-04 08:44] aryx commented on #22
That's bad, that's very bad!

[2020-02-04 08:47] aryx commented on #6
you'll need to call me with a string containing real newlines, not "\n" that I have to interpret.
This is why maybe reading from stdin or from a file is simpler. There are always weird things
the shell is doing with arguments interpretation, removing quotes, interpreting $, etc.

[2020-02-04 16:32] ievans commented on #66
sgrep-rules has two tests, one is based off of `master` branch of sgrep and the other based off of `develop` branch of sgrep. So I think the fix should be passing for the develop branch.

[2020-02-04 16:33] ievans commented on #6
How about stdin then?

[code]

[2020-02-04 19:37] #28 closed

[2020-02-04 23:13] #73 closed

[2020-02-04 23:46] aryx commented on #66
This seems to work for me now on develop branch
you can use -lang js or -lang javascript, and you can use js or javascript in the yaml file.
BTW when using -rules_file, you also need to specify the -lang js (or javascript) to sgrep, so it tries to find js files in the directories you pass to sgrep.

[2020-02-04 23:48] ievans commented on #66
@aryx I think that last thing is what we were missing!

[2020-02-05 00:01] #70 closed

[2020-02-05 00:32] #66 closed

[2020-02-05 00:45] dan5382 opened #81 "Sgrep spelling error"
This text on the sgrep readme looks like:
Knows about code equivalences: one pattern can match many equivalent variations on###  }the code

There is an extra character in this sentence ({). The sentence should look like:

To repro:
go to- https://github.com/returntocorp/sgrep
Read
![image](https://user-images.githubusercontent.com/2009327/73800493-c3310b00-476d-11ea-893a-8d07bd1fa255.png)

[2020-02-05 01:26] #81 closed

[2020-02-05 08:40] aryx commented on #74
We could also report those cases, or warn the user that maybe they should qualifiy more
in the sgrep pattern.

[2020-02-05 08:42] aryx commented on #52
I think this should work now.

[2020-02-05 08:42] #52 closed

[2020-02-05 10:20] aryx commented on #50
I've also allowed class A:  to match class definitions with parents (less-is-ok spirit, like
for attributes where a pattern for a function not specifying any attribute will also match function definitions using attributes.
This is debatable. In any case the (...) should work, but it's very Python specific for now.

[2020-02-05 15:06] ievans opened #87 "pin pfff version in Dockerfile"
For reproducibility and debug-ability, we ought to be pinning the commit hash of pfff in the dockerfile. This will also make builds faster as we can move the `COPY` line down

[2020-02-05 15:11] DrewDennison commented on #87
We used to do this but then builds were breaking so we unpinned. I'll pin. cc @aryx for visibility

[2020-02-05 16:46] #50 closed

[2020-02-05 21:57] ievans commented on #65
Confirmed fixed

[2020-02-05 21:57] #65 closed

[2020-02-05 22:13] ievans opened #91 "unclear boolean composition rules"
We currently produce internal python errors if unsupported yaml file stuff happens, eg nesting queries under `pattern-inside`. This should be tested and cleaned up for better UX.

[2020-02-05 22:38] ievans opened #92 "consecutive statements not matched (javascript and python)"
See https://github.com/returntocorp/sgrep-rules/pull/44

expect that:
[code]
will match:
[code]
But it does not.

[2020-02-05 22:41] ievans commented on #49
@aryx I was unable to get this to work using the patterns in https://github.com/returntocorp/sgrep-rules/blob/develop/python/exceptions/exceptions.yaml#L7-L10; ie:

`raise $X: int` fails to parse, but `raise ($X: int)` did not trigger the appropriate line. Any ideas?

[2020-02-06 01:56] ievans opened #96 "golang parser failing on ... cases"
[code]
Reports:
[code]

[2020-02-06 08:25] aryx commented on #49
There are some ambiguities in the python grammar if you use $X : int anywhere in an expression, it's because K: V is also a key/value in a dictionary. Right now I've extended the python gramamr to allow X:T to appear only in arguments (the examples you had above). I can extend that to anywhere, but then you will have to use parenthesis around, as in foo(($X:int)). What do you prefer?

[2020-02-06 09:12] #6 closed

[2020-02-06 14:46] #96 closed

[2020-02-06 21:38] ievans opened #101 "subpattern where-python:`arbitrary python code`"
We'd like to make rule files even more pluggable and dynamic. To that end, it would be valuable to have python / javascript scriptability that can execute arbitrary code to decide whether or not a rule should fire. For instance:

[code]

Specifically, many of the checks @mschwager wrote in dlint would be good candidates for this pattern. Eg https://github.com/dlint-py/dlint/blob/master/dlint/linte

[2020-02-06 22:03] #91 closed

[2020-02-06 22:16] aryx commented on #101
Ohoho, oh yes!
I can then scratch one of the items in https://returntocorp.quip.com/flmmAhOAzbj9/Pads-long-term-goals

[2020-02-06 22:17] aryx commented on #101
and now we are sensitive to command/eval injection!

[2020-02-06 22:17] aryx commented on #101
(is there a sandbox mode in python like in Perl?)

[2020-02-06 22:28] dlukeomalley opened #104 "Exception when searching for string inside method call"
**Describe the bug**
Searching for this code:

[code]

I'd like to identify that `bento` should be uppercase.

[code]

The error is:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `git clone git@github.com:returntocorp/bento.git`
2. Run the above rule

[2020-02-06 22:42] DrewDennison opened #105 "Default output should not be json"
use `--json` if you want it

[2020-02-06 22:54] dlukeomalley opened #106 "Exception finding patterns inside nested function calls"
**Describe the bug**
To identify the code:

[code]

[code]

I get the following exception:

[code]

[2020-02-07 04:16] DrewDennison commented on #105
Fixed in #113

[2020-02-07 04:16] #105 closed

[2020-02-07 04:17] DrewDennison commented on #39
Isaac fixed this. Confirmed as of 0.4.2 it's as expected

[2020-02-07 04:17] #39 closed

[2020-02-07 04:18] DrewDennison commented on #38
Fixed in #113

[2020-02-07 04:18] #38 closed

[2020-02-07 10:04] aryx commented on #101
This is why you use a scripting language for, to script! to leverage eval()! (there is no other use for those languages IMHO :) )

[2020-02-07 16:25] ievans opened #120 "can't parse go if statements in expressions"
Minimal example:
[code]

[2020-02-07 16:31] aryx commented on #106
You probably used an older version of sgrep, the one from the master branch instead of develop.
I can't reproduce with latest:
 /home/pad/github/sgrep/_build/default/bin/main_sgrep.exe -e click.echo(click.style($X, ...)) ./tests/python/misc_faketok.py
/home/pad/github/sgrep/tests/python/misc_faketok.py:3
     click.echo(click.style(f"Detected project with {projects}\n", fg="blue", err=True))

No e

[2020-02-07 16:36] aryx commented on #106
Note that the pattern you wrote will not detect code like
            click.echo(f"    $ {click.style(cmd, bold=True)}\n", err=True)

[2020-02-07 16:46] aryx commented on #104
Can't reproduce either.

[2020-02-07 16:46] #104 closed

[2020-02-07 16:52] aryx commented on #120
you can't specify half statement (or half expression).
I need to parse the pattern, so right now I look for an 'expr' or 'stmt' or 'stmt stmt' or 'decl' but not for a 'if_header'

[2020-02-07 16:53] aryx commented on #120
Note that Go imposes to use {} around the then and else parts of an if
so you currently need to use that too

[2020-02-07 16:53] aryx commented on #120
ah, forgot to read completely your message.

[2020-02-07 17:13] aryx commented on #120
The if (true) { ... } should now work with the latest pfff.

[2020-02-07 17:21] aryx commented on #92
Can't reproduce for python at least.

[2020-02-07 17:22] aryx commented on #92
+ /home/pad/github/sgrep/_build/default/bin/main_sgrep.exe -f tests/python/misc_stmts1.sgrep tests/python/
/home/pad/github/sgrep/tests/python/equivalence_naming_import.py:11
     result = subprocess.open("ls")
     # ERROR:
     result = sub_open("ls")
     # ERROR:
     result = sub.open("ls")

     result = sub.not_open("ls")
/home/pad/github/sgrep/tests/python/misc_stmts1.py:2
   x = 1
   x =

[2020-02-07 17:24] aryx commented on #120
introduce regressions in sgrep tests actually. Reopening.

[2020-02-07 17:39] #120 closed

[2020-02-07 17:52] dlukeomalley commented on #106
I pulled latest develop and still get this error. You can reproduce this error by running this rule on bento-core.

[2020-02-07 17:56] ievans opened #123 "can't parse `assert(...)` in Java"
Test case in https://github.com/returntocorp/sgrep-rules/pull/53;

[code]

Minimal:
[code]

[2020-02-07 18:16] ievans commented on #92
@aryx For python: ```
cd /tmp/test
curl https://raw.githubusercontent.com/returntocorp/sgrep-rules/70a61d508ac8fa6abc8b300c6ddcba9e7c8fa3d5/python/deadcode/useless-assign.yaml > .sgrep.yml
curl https://raw.githubusercontent.com/returntocorp/sgrep-rules/70a61d508ac8fa6abc8b300c6ddcba9e7c8fa3d5/python/deadcode/useless-assign.py > useless-assign.py
docker run --rm -v (pwd):/home/repo returntocorp/sgr

[2020-02-07 18:28] ievans opened #124 "infinite? hang when running inside docker"
On bento-core at commit `1b5e4ff9`
Using .sgrep.yml from https://raw.githubusercontent.com/returntocorp/sgrep-rules/1c3808ac04cc67e0468fb61a26b5dbdd6a2813ac/python/click/echo-style.yaml

[code]

But,
[code]
Does not return for me.

If I go into the `bento/` subfolder, this problem does not occur.

[2020-02-07 18:31] ievans commented on #106
To be specific:

on bento-core,
[code]

[2020-02-07 19:00] DrewDennison commented on #124
I can't repo

[code]

[2020-02-07 19:02] DrewDennison commented on #124
Also with your command

[code]

[2020-02-07 19:02] #124 closed

[2020-02-07 21:30] aryx commented on #123
assert is a keyword in java, and is valid only as a statement.
you need -e 'assert $X;'

[2020-02-07 21:31] aryx commented on #123
or 'assert $X : $Y;'

[2020-02-07 21:31] #123 closed

[2020-02-07 22:50] ievans commented on #49
I think the approach you took is good! Thanks for the clarification

[2020-02-07 22:50] #49 closed

[2020-02-07 23:05] ievans opened #128 "multiple reports for golang"
On sgrep-rules branch ie/golang2: the pattern `if (false) { ... }` reports three times on a single line:
(see PR for file contents: https://github.com/returntocorp/sgrep-rules/pull/54/files)

[code]

[2020-02-10 18:29] #106 closed

[2020-02-10 18:38] #92 closed

[2020-02-10 21:10] ievans opened #142 "report parse errors to sgrep-lint"
Right now, if a file fails to parse, it is silently ignored.

Sgrep lint should describe that $N files failed to parse (run with --verbose to see them)

[2020-02-10 21:43] ievans opened #143 "Report invalid keys in yaml"
Given a rule like:
[code]
We should complain that only `pattern` or `patterns` are valid top-level keys.

[2020-02-10 21:47] ievans opened #144 "python function call subtleties"
https://github.com/returntocorp/sgrep-rules/blob/663a95579bb825f578068794ffc63c41cb9e3417/python/socket/bind.py#L24

[code]
is triggering on:
[code]

But I expect it not to, given it has no arguments.

[2020-02-10 22:01] aryx commented on #144
Is it normal there is extra parenthesis inside $S.bind? (("", ...))

[2020-02-10 22:35] daghan commented on #22
Here is another instance, slightly different variant

`myList[a] = value
myList[a] = foo(myList)`

https://dev.massive.ret2.co/triager/triage/534/68148?check_ids=sgrep-rules.python.deadcode.useless-assignment-keyed&selected_regions=%5B%7B%22rows%22%3A%5B0%2C0%5D%7D%5D

[2020-02-10 22:49] aryx commented on #22
No, this one is different, it's a problem in your rule, not in sgrep. The first issue reported by isaac
is a bug in sgrep itself, it should not report that inword == outword with the $X == $X rule.

[2020-02-11 19:24] DrewDennison opened #148 "Simplify boolean patterns"
Issue for discussion:

I think we can make the patterns a lot simpler. i.e. `pattern-either` can become `or` and `pattern-not` could just be `not`

[2020-02-12 17:56] ievans commented on #144
Yes, not a typo -- you call `.bind` with a tuple

[2020-02-13 17:37] #142 closed

[2020-02-13 17:43] #143 closed

[2020-02-13 22:20] daghan opened #153 "sgrep doesn't differentiate between absolute vs. relative imports"
In the following code chunk
https://dev.massive.ret2.co/triager/triage/538/68217?selected_regions=%5B%7B%22rows%22%3A%5B0%2C0%5D%7D%5D
[code]
sgrep thinks the `if` and the `else` branches have the same code. Not quite. The `if` branch has the absolute import whereas the `else` branch has the relative import. These 2 behaviors are not identical.

[2020-02-13 22:59] ievans opened #154 "pipe error messages to stderr"
sgrep-core should pipe output to stderr especially when outputting json/r2c mode, these issues should be collected under the `errors` key

using latest sgrep-lint with the --config=r2c option on

[code]
The following is output to stdout, but it should really go to stderr:

PB: Ast_c_build, on /analysis/inputs/public/source-code/ext/_yaml.h (exn = (Failure "/analysis/inputs/public/source-code/ext/_

[2020-02-13 23:47] ievans opened #155 "Failure "empty list, max_min_ii_by_pos" on Python project"
[code]

[2020-02-13 23:49] ievans commented on #155
Error observed on at most 1.4% of top PyPi 5K repos. Another example occurs on

[code]

[2020-02-14 22:10] daghan opened #157 "sgrep $X != $X rule should take into account unicode operator"
Sgrep should not fire on this line:
`assert gzutil.hash(b"\xe4") != gzutil.hash("\xe4")`

https://dev.massive.ret2.co/triager/triage/528/67933?check_ids=sgrep-rules.python.deadcode.eqeq-is-bad&selected_regions=%5B%7B%22rows%22%3A%5B0%2C0%5D%7D%5D

[2020-02-18 16:13] ievans opened #160 "issues with javascript parsing elipsis operator"
[code]

[code]

[2020-02-18 16:15] ievans opened #161 "don't make python the default"
-lang python being the default is confusing to anyone working in a different language. We should probably force the user to be explicit, as we do in the yaml files.

It would also be good to have clear documentation, ideally in the tool, about what languages are available, their names, and what extensions will be parsed.

[2020-02-18 16:16] ievans opened #162 "import resolution for languages beyond Python, Golang, and Javascript"
(See docs/matrix.md for our current support status)

[2020-02-18 20:58] ievans opened #164 "unfriendly error if the input directory is empty"
If `find` doesn't find anything, it will return 1 and we will throw a confusing error to the user inside sgrep core.

[code]

Desired behavior: don't raise an exception if there are no files returned

[2020-02-19 11:50] #155 closed

[2020-02-19 11:53] aryx commented on #155
Both repository do not report any error anymore.

[2020-02-19 12:04] aryx commented on #164
I can fix that.

I currently filter files under .hg, _darcs, .git, etc. but I would rather delegating this job to something else (sgrep.py, or bento). Can I? Should I?

[2020-02-19 12:11] #164 closed

[2020-02-19 13:02] #153 closed

[2020-02-19 13:36] #157 closed

[2020-02-19 13:54] aryx commented on #144
I can't reproduce on your test example.
If I do this pattern:
$S = socket.socket(...)
...
$S.bind()

$  /home/pad/github/sgrep/_build/default/bin/main_sgrep.exe -f tests/python/misc_tuple.sgrep tests/python/
/home/pad/github/sgrep/tests/python/misc_tuple.py:1
 easy_s = socket.socket(doesnt, matter)
 easy_s.bind()

it finds it. But I put back your pattern:
$S = socket.socket(...)
...
$S.bind(("", .

[2020-02-19 13:54] #144 closed

[2020-02-19 14:03] aryx commented on #154
I can't reproduce either, or maybe I misunderstood.
But for me the error does go on stderr.

$ yy -lang c -e 'XXXXX' -r2c .
+ /home/pad/github/sgrep/_build/default/bin/main_sgrep.exe -lang c -e XXXXX -r2c .
(ONCE) skipping: #if PY_MAJOR_VERSION < 3

(ONCE) skipping: #ifdef _MSC_VER
PB: Ast_c_build, on /tmp/pyyaml/ext/_yaml.h (exn = (Failure "/tmp/pyyaml/ext/_yaml.h:23:0: no ifdef"))
{ "results": [

[2020-02-19 14:03] #154 closed

[2020-02-19 16:23] #160 closed

[2020-02-20 03:06] DrewDennison opened #171 "pattern match expressions and statements with the same pattern"
`$X.pop(...)` doesn't match `x = l.pop(0)` or `print(l.pop(0)`

fixing this would make it simpler to match pattern anywhere in the AST

e.g. I have to have 12 patterns when I should only need 4 https://github.com/returntocorp/sgrep-rules/pull/72/commits/dcf2c5a3c7d79ce648ffc9b47fc8e60768b204ce#diff-ea429333db3631ca837612d41864864a

[2020-02-20 05:05] ievans opened #173 "support context lines with -C like grep"
In the default (non-JSON) output mode, it would be great to have

[code]

[2020-02-20 05:06] ievans opened #174 "matched range being highlighted in CLI"
It would be great to use shell escape codes to highlight the match in the output line, like regular grep does.

[2020-02-20 05:07] ievans opened #175 "Lowercase metavariables are not allowed"
For metavariables, `$X` case sensitive, e.g. `$x` will not work

If this is intended, the documentation should be explicit. But I am not sure why it is necessary.

[2020-02-20 05:08] ievans opened #176 "`$X` should be enforced to be equal across multiple patterns in the same rule"
Currently, if we have a rule with multiple patterns, the metavariable (say $X) does not need to be the same across the patterns in that rule. So:

[code]

will match:
[code]
but it would be more intuitive to only match:
[code]

It may be possible to do this only in sgrep.py

[2020-02-20 05:12] ievans opened #178 "javascript parsing does not handle `let` and `const`"
var x = 1 is fine, but const and let ought to work too:

ok:
[code]

broken:
[code]

[2020-02-20 05:16] ievans commented on #171
Correct, this is a general issue where statements and expressions are parsed and matched separately.

You ought to be able to use `pattern-inside` to reduce the duplication, but sgrep doesn't enforce equality constraints on metavars across patterns at the moment: https://github.com/returntocorp/sgrep/issues/176

Since that's already filed, I'm going to simplify your issue to the expression vs stat

[2020-02-20 17:56] ievans opened #182 "DTL/Jinja2 parsing support"
For the Django checks we are writing, it would be great to have sgrep support for the Django templating langauge and Jinja2 (a popular alternative):
https://docs.djangoproject.com/en/3.0/topics/templates/

[2020-02-20 18:12] #178 closed

[2020-02-21 00:18] dan5382 commented on #148
Just saw this sorry for the late follow up.
All looks good except its hard conceptually to think of 'pattern-not' Is there a better way we can incorporate that?

[2020-02-21 01:18] ievans opened #185 "sgrep fails to parse import statements in golang"
[code]

[2020-02-21 02:38] DrewDennison opened #186 "... in function body doesn't appear to handle no other statements"
[code]

does not match

[code]

See https://github.com/returntocorp/sgrep-rules/pull/144/files I worked around by having two patterns one with `...` and the other without

[2020-02-21 07:16] ievans opened #188 "ellipsis across statements does not work for golang"
I believe there is already a (broken) test case for this here: https://github.com/returntocorp/sgrep/blob/develop/tests/go/dots_stmts.go

[2020-02-21 08:40] aryx commented on #188
No, this test work.

[2020-02-21 08:44] aryx commented on #182
What do we want for this? Just the ability to parse those template files and
get an AST that we can sgrep on for everything between {{ }} ? one issue is that
some stuff inside {{ }} are not complete stmt/expr, I saw for example
{{ if cond }} ..... {{ endif }}
which is not even Python, so not sure what I can parse here.

[2020-02-21 14:08] aryx commented on #186
Well you want d[k] in your concrete example, not d[v], otherwise it will not match indeed.
But yes, there was a bug, see the diff.

[2020-02-21 14:12] #185 closed

[2020-02-21 14:12] #186 closed

[2020-02-21 14:38] aryx commented on #22
link does not work anymore.
Anyway I think it should be fixed now.

[2020-02-21 14:38] #22 closed

[2020-02-21 15:10] ievans opened #191 "Patterns with trailing newlines are not parsed in golang"
Patterns with trailing newlines are not parsed in golang

A yaml file multiline pattern by default uses the `|` operator which (unlike `|-`) does not trim trailing newlines [1]. I verified this specifically is causing the golang pattern parser to choke, eg:

'$TOKEN := jwt.NewWithClaims(...)' <- validates
'$TOKEN := jwt.NewWithClaims(...)\n' <- fails parsing

(https://stackoverflow.com/a/21699210)

[2020-02-21 16:33] ievans commented on #188
Wrote another test case that does fail: https://github.com/returntocorp/sgrep/pull/193

[2020-02-21 18:32] minusworld commented on #182
Basically, we want to support writing checks like our [jinjalint checks](https://checks.bento.dev/en/latest/jinjalint/anchor-href-template-variable/) or like [this one](https://github.com/returntocorp/sgrep-rules/issues/76).

I could imagine rewriting https://checks.bento.dev/en/latest/jinjalint/anchor-href-template-variable/ as something like:

[code]
in sgrep.

[2020-02-21 19:24] ievans commented on #191
Comments from @aryx: Newlines have a meaning in go; Go inserts automatically some semicolons when it encounters certain newlines.  But in sgrep mode it does not in certain conditions, because i donr want $X==$X to be parse with an ending semicolon

Proposal: perhaps sgrep-lint should remove the final trailing newline automatically so that the user doesn't have to understand the difference between

[2020-02-24 10:29] inkz opened #195 "Unable to catch declared variable when it used in other statement (javascript)"
I try to catch this code example:
[code]

with this rule:
[code]

and it returns 0 results :grimacing:

BUT it works if I try to catch lines separately
[code]
[code]

trying to catch variable assignment instead of variable declaration works too
[code]
[code]

[2020-02-25 18:12] nbrahms opened #196 "Import resolution fails with literal call targets"
**Describe the bug**
Import resolution appears not to work properly with literal call targets.

**To Reproduce**
I have the following test Python file:

[code]

and the following rule:

[code]

`sgrep` does not fire on this test pattern.

`sgrep` also does not fire if I import `django.db.models.CharField`, and use `CharField` as the invocation target.

`sgrep` does fire if I write `django.db.model

[2020-02-25 18:27] nbrahms commented on #196
:wave: @ievans pointed out that I was misusing Python. _mea culpa_

[2020-02-25 18:27] #196 closed

[2020-02-25 18:47] nbrahms commented on #101
I'd like to throw a suggestion in the ring here... can we point to a separate python file? It would be nice to, e.g., lint that file.

[2020-02-25 19:19] nbrahms opened #197 "Provide a unified mechanism to detect import of a specific package"
**Is your feature request related to a problem? Please describe.**
I'm trying to ban use of a particular package in Python. Currently, I need to ~~AND~~ OR together a large number of patterns in order to detect all the various Python import styles.

**Describe the solution you'd like**
I'd like `import package.name` to fire on all variants of package import.

Here's an example:

I want to detect u

[2020-02-25 19:28] mschwager commented on #197
Speaking from experience with Dlint, this is a pain.

For completeness sake, even though it's uncommon and likely even harder to detect, there's also:

[code]

[2020-02-25 19:45] aryx commented on #101
I don't understand what you want nathan. Can you give an example of what you want?

[2020-02-25 20:03] aryx commented on #197
Sounds like a good idea.

[2020-02-25 21:38] nbrahms commented on #197
Good catch

[2020-02-25 22:34] nbrahms opened #199 "Certain patterns result in two matches"
**Describe the bug**
Certain patterns (see repro) return two results on the same expression.

**To Reproduce**
This is on Python code:

Rule:
[code]

Code:
[code]

Result: See message printed twice for same line of code.

**Expected behavior**
I expect only one match.

**Desktop (please complete the following information):**
Docker `returntocorp/sgrep` image `2772f96a29b9`

[2020-02-25 22:38] DrewDennison commented on #199
@ievans I'm planning to fix in the python code but lmk if this is something you think should be passed off to @aryx

[2020-02-25 22:42] ievans commented on #199
@DrewDennison as I read this, I think @aryx should weight in

[2020-02-25 22:43] ievans commented on #199
See also #128

[2020-02-25 23:06] DrewDennison commented on #199
ha we searched for `twice` not `three`

[2020-02-26 00:04] inkz commented on #197
It would be awesome to have this feature implemented for Javascript also :pray:
as it works pretty the same
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import

[2020-02-26 02:05] brendongo opened #201 "Using function declaration parameters in a pattern"
**Describe the bug**
I am having trouble writing rules that reference parameters in sgrep.

## 1

**Code**
[code]

**Pattern**
[code]

## 2

**Code**
[code]

**Pattern**
[code]

[2020-02-26 05:17] ievans commented on #161
For documentation, we should look at the map of file extensions to languages:
https://github.com/returntocorp/pfff/blob/a1611bdf9acfffb46c65d064ddb77c05b498be17/commons/file_type.ml#L88
and
https://github.com/returntocorp/pfff/blob/faf12bdcd7ef6c942f1909b2cad32d079e42c3b1/lang_GENERIC/parsing/lang.ml#L48

map of supported language names:
https://github.com/returntocorp/pfff/blob/faf12bdcd7ef6c942f

[2020-02-26 05:23] ievans opened #205 "error running under pre-commit: no space left on device"
**Describe the bug**

When running sgrep locally under `pre-commit run --all`, I get the following output:
[code]

[2020-02-26 05:32] #175 closed

[2020-02-26 07:08] ievans commented on #101
@aryx I think @nbrahms means, a way to say:

`pattern-where-python-file-returns-true: pass_me_metavars.py`

[2020-02-26 18:49] mschwager opened #208 "[Python] False negative with for loop pattern"
**Describe the bug**

Sgrep isn't catching a pattern I'd expect it to catch.

**To Reproduce**

Running the latest sgrep Docker image:

Rules

[code]

Test file

[code]

Running sgrep

[code]

**Expected behavior**

I'd expect the rules to catch the examples in the test file.

**Screenshots**

N/a

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome,

[2020-02-26 18:51] #174 closed

[2020-02-26 21:10] mschwager commented on #208
Looks like there's a couple things going on here.

If I use the following it works as expected:

[code]

`$OTHERDICT` works but `$OTHER_DICT` doesn't.

Also, building on the initial pattern, `...` in the `if` statement doesn't work. E.g.

[code]

I'm not sure if this is expected or not.

[2020-02-26 21:36] mschwager opened #209 "The 'patterns' and 'pattern-either' keys are not interchangeable as top-level patterns"
Per the docs:

This makes me think that both these options are interchangeable as an AND or OR operator. However, the following doesn't work for me:

Test file

[code]

With `patterns`

[code]

Gives:

[code]

With `pattern-either`

[code]

Gives:

[code]

[2020-02-26 21:40] mschwager opened #210 "Improve error message on invalid YAML 'pattern'"
I accidentally used `pattern` instead of `patterns` here:

[code]

Which gives the following error:

[code]

Switching to `patterns` fixes the issue:

[code]

It's difficult to determine what's wrong with the YAML file initially. Let's help our users out by giving them a helpful error message :+1:

[2020-02-26 21:41] mschwager commented on #208
Following up again, the `...` in the `if` statement works on `develop`. The `_` in variable names issue persists, though.

[2020-02-26 21:42] ievans commented on #210
Agreed, any `patteren-X` that can have leaf nodes ought to be valid there.

[2020-02-26 22:28] ievans commented on #208
Fixed on develop; opening a separate issue for metavariable _

[2020-02-26 22:28] #208 closed

[2020-02-26 22:30] ievans opened #211 "_ in metavariable names appears to be supported but does not work"
I expect that `$X` and `$X_Y` are both identifiers for a single metavariable, but this is not true in practice.
[code]

We should either update the documentation or change metavar parsing.

[2020-02-27 16:26] #101 closed

[2020-02-27 16:39] #161 closed

[2020-02-27 16:40] ievans commented on #210
Fixed in #198

[2020-02-27 16:40] #210 closed

[2020-02-27 17:27] aryx commented on #201
should work now with develop

[2020-02-27 17:27] #201 closed

[2020-02-27 17:52] mschwager commented on #209
Also, for consistency would it make sense to name these `patterns-and` and `patterns-or`?

[2020-02-27 18:08] #195 closed

[2020-02-27 18:13] aryx commented on #195
This should work now!
Thx a lot for the bug report!

[2020-02-27 18:16] aryx commented on #211
This was done for PHP a long time ago. PHP uses $XXX (as well as Ruby) so
I've restricted a metavar to just a single letter (that's still 26 metavars you can use in one pattern),
which means you would not be able to match PHP vars using a single uppercase letter, but
this is rare I think.

[2020-02-27 18:17] aryx commented on #205
Does pre-commit limits the size of /tmp? I think I do create a few temporary files
in sgrep, mostly to parse the patterns.

[2020-02-27 18:21] aryx commented on #188
This is because I need the trailing newlines for those.
The main problem is that Go supports implicit semicolons when it sees a newline. This is nice.
But if you are explicit,  foo() and foo();  are 2 different things for sgrep. One is an expression pattern,
the other a statement pattern (I know you would like to remove the difference at some point, but for now this is like that).
So if you just w

[2020-02-27 18:22] aryx commented on #188
I can maybe try to infer what you want ...

[2020-02-27 20:48] ievans commented on #162
Related: https://github.com/returntocorp/sgrep/issues/197

[2020-02-27 22:03] ievans opened #220 "sgrep exception: NoTokenLocation min_max"
[code]

[2020-02-27 22:07] DrewDennison commented on #205
I don’t think this is a pre-commit problem. Pre-commit should do do a dumb Docker run. This seems like a Docker out of disk space error. Feel free to edit .pre-commit-config.yaml and remove the sgrep hook if it’s blocking you.

[2020-02-27 22:17] ievans commented on #205
Confirmed this is a docker out of space error, fixed with `docker system prune`

[2020-02-27 22:17] #205 closed

[2020-02-27 23:14] inkz commented on #195
Awesome! thanks!

[2020-02-27 23:32] brendongo commented on #201
Thanks for the quick turn around @aryx!

[2020-02-28 23:30] nbrahms opened #223 "Support detection of unbroken infinite loops"
**Is your feature request related to a problem? Please describe.**
A user today tried to test our rule set by writing the following code into a Python file:

[code]

I can write an sgrep pattern like so:
[code]

However, we'll still fire on code like
[code]

Theoretically, I can cover all single-nesting cases by enumerating every possible combination of Python conditional and jump statements, but

[2020-03-02 17:33] #188 closed

[2020-03-02 17:38] aryx commented on #188
It actually had nothing to do with the EOF and newlines ...
It was because during the transition from ast_go to ast_generic.ml I encapsulated the var decls inside a Block stmt, and was doing that only for Sequence sgrep patterns, which prevented the match.

[2020-03-02 22:35] DrewDennison commented on #176
Two case on sgrep.live

https://sgrep.live/o5d

and https://sgrep.live/6xY (which currently exposes a bug)

[2020-03-02 23:56] minusworld opened #226 "sgrep does not parse anonymous JavaScript functions"
**Describe the bug**
sgrep does not parse anonymous JavaScript functions

**To Reproduce**
Steps to reproduce the behavior:
See https://sgrep.live/2KB
Copied here for preservation:

sgrep pattern:
[code]

JavaScript test case:
[code]

Error:
[code]

[2020-03-03 00:12] minusworld opened #227 "sgrep.py fails even when -v is given"
**Describe the bug**
sgrep.py fails even when -v is given

**To Reproduce**
Steps to reproduce the behavior:
1. Go to sgrep-rules/develop
2. Click on the `test-develop` action.
3. Error:
[code]

I believe this was added in https://github.com/returntocorp/sgrep/pull/184

[2020-03-03 01:20] ievans commented on #211
@aryx and I discussed; you can in fact use as many uppercase letters as you want, but `_` or `-` do not work, which is expected. We need to update documentation to reflect.

[2020-03-03 01:56] #227 closed

[2020-03-03 03:18] DrewDennison opened #229 "sgrep can't find deep into multiple curly braces or subexpressions"
**Describe the bug**
What if I want to find usage of a certain variable inside the same scope but deep into multiple curly braces (closures or if\else or maybe something else) without specifying it?

**To Reproduce**
Steps to reproduce the behavior:
See https://sgrep.live/pZJ
Copied here for preservation:

sgrep pattern:
[code]

JavaScript test case:
[code]

Error: is that there are no results

[2020-03-03 03:48] DrewDennison opened #230 "metavars not being enforce throughout entire rule"
https://sgrep.live/rxW

real-world impact / dup of #176 cc @nbrahms

`python.smells.list-pop-while-iterate` matches

[code]

Found while running `--config=r2c-develop` over https://github.com/nextstrain/ncov

[2020-03-03 03:53] ievans commented on #230
Duplicate of #176

[2020-03-03 03:53] #230 closed

[2020-03-03 18:12] ulziibay opened #234 "Go lang cannot parse inherited structs"
// Edit (@dlukeomalley): https://semgrep.live/oqxx

**Describe the bug**
Sgrep patterns are not parse
[code]
Failure:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Try to parse match the following file with the above definition
[code]

[2020-03-03 20:27] ulziibay opened #238 "Sgrep pattern fails to parse for java class"
**Describe the bug**
Pattern:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome, safari]
 - Version [e.g. 22]

**S

[2020-03-03 20:29] ulziibay opened #239 "Sgrep pattern fails to parse for JavaScript"
**Describe the bug**
The following pattern does not parse for JS.
[code]
**To Reproduce**
Steps to reproduce the behavior:
1.Run
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]
 - Browser [e.g. chrome,

[2020-03-03 21:18] #3 closed

[2020-03-03 22:10] brendongo opened #240 "Sgrep Fails when last line of a python file is a comment"
**Describe the bug**
Sgrep fails with LexicalError when the last line of a python file is a comment. But does not fail when there is a newline after the comment

**To Reproduce**
Steps to reproduce the behavior:

Pattern: $X == $X
Code:
[code]
Or code:
[code]

 https://sgrep.live/gpR vs https://sgrep.live/QwJ

**Expected behavior**
I expect sgrep to work even if the last line is a comment

**Addit

[2020-03-03 22:12] brendongo commented on #240
FWIW sgrep running locally fails silently so it looks like there was just no matches. The sgrep.live showed an error message

[2020-03-04 01:33] brendongo opened #241 "Sgrep does not understand that python functions can be in any order"
**Is your feature request related to a problem? Please describe.**
When using the pattern
[code]
sgrep fails to find instances when B is declared before A, or other functions are declared between A and B.

See https://sgrep.live/pGJ

**Describe the solution you'd like**
Ideally sgrep handles all possible cases of function declaration (even inheritance).

[2020-03-04 01:35] brendongo commented on #241
It looks like this also fails if there is another function declared before A and B

[2020-03-04 01:53] DrewDennison commented on #241
@brendongo does and extra `...` take care of your comment above? https://sgrep.live/2LB

[2020-03-04 01:53] DrewDennison commented on #241
Agreed this is still a bug though

[2020-03-04 02:07] brendongo commented on #241
the ... solves if there are functions declared before A but then B still has to directly folllow A.

[2020-03-04 02:13] DrewDennison commented on #241
you can hack around it with another `...` https://sgrep.live/X2w

[2020-03-04 16:49] aryx commented on #239
you can first try to see if it parse correctly a js file.
try pfff -parse_js <file>, there is also pfff_test -dump_generic <file> that can be useful.

[2020-03-04 16:59] ulziibay commented on #239
It parses the JS file (less_inheritance.js ) into AST fine:
`./pfff -dump_js ~/Workspace/sgrep/tests/js/less_inheritance.js` shows
[code]

[2020-03-04 17:01] ulziibay commented on #239
The trick is parsing the `...` inside the pattern such that it can match c_body

[2020-03-04 17:46] ievans opened #243 "definitions are not tagged as locals in go"
See test cases in #224

[2020-03-04 19:58] aryx commented on #243
This requires to improve the generic name resolution in naming_ast.ml (non trivial work).

[2020-03-04 19:59] #209 closed

[2020-03-04 20:00] aryx commented on #241
You can currently hack it by using multiple patterns with pattern-and in the yaml file (suboptimal solution).

[2020-03-04 20:01] aryx commented on #241
Non trivial to implement given the way the sgrep core engine work. Not a first-time-user task.

[2020-03-04 20:11] aryx commented on #226
Is this valid JS code? You can have a toplevel anonymous function?
how do you call it then if it's not even assigned anywhere?

[2020-03-04 20:27] ulziibay commented on #239
Proposed solution from @aryx

You have to introduce a new kind of class field, so not C_field but something like CEllipsis
you’ll have to modify cst_js.ml to add this construct there (see what I’ve done for ParamEllipsis, or Ellipsis in expressions)
Then you’ll have to modify accordingly ast_js.ml and ast_js_build.ml and finally js_to_generic.ml to convert this new kind of ellipsis to one of the E

[2020-03-04 20:47] ulziibay opened #246 "Produce document file extension → language mappings"
**Is your feature request related to a problem? Please describe.**

Document, what extension map to which languages. `lang_of_filename_opt` is the relevant file!

**Describe the solution you'd like**
A command line argument to sgrep/pfff that dumps File_type.ml into HTML table!
**Describe alternatives you've considered**
Reading File_type.ml is alternative, but not suitable for external!
**Additio

[2020-03-04 21:00] ievans commented on #220
Unable to reproduce this -- looks like a peculiarity of my local environment not seen elsewhere. Closing.

[2020-03-04 21:00] #220 closed

[2020-03-05 00:00] inkz commented on #226
@aryx
You absolutely right, this is a dead code, I did not investigate the case enough before submitting it, as I see now it is possible to catch usages of anonymous functions in common cases
https://sgrep.live/boQ
https://sgrep.live/NxA

My point was to claim for opportunity to find code pattern inside an anonymous function without specifying the exact scenario

something like this: https://sgrep

[2020-03-05 00:03] inkz commented on #226
BTW does `sgrep` support arrow functions?

[2020-03-05 00:48] #211 closed

[2020-03-05 00:55] ievans opened #250 "sgrep cannot parse import statements in javascript pattern"
Imports work just fine in .js files, but fail as part of the pattern:

`import {x} from “foo”`

https://sgrep.live/xxl
[code]

[2020-03-05 01:22] minusworld commented on #226
I would assume that it doesn't at the moment, given that I haven't heard about it.  Hopefully soon!

[2020-03-05 07:54] aryx commented on #250
A bit more complicated, but probably the sgrep_spatch_pattern in parser_js.mly is too restrictive
and does not allow to derive the import directive. Make sure your fix does not introduce additional shift/reduce conflict.

[2020-03-05 08:18] aryx opened #251 "Port Python sgrep testsuite to the other languages"
Right now most bugfixes and enhancements are done first on Python because that's the language
we target first, which means most of the tests are in tests/python/, but we should try to port
those tests to the other languages (when they can apply).

[2020-03-05 08:19] aryx commented on #251
In some cases there are unique tests in tests/js/ or tests/go, but for those too we should try each
time to port them to the other languages (In some case we can factorize the sgrep file at least and put it under tests/GENERIC/).

[2020-03-05 08:20] aryx commented on #251
Ideally we would have a nice display matrix indicating the missing tests for each language (@ulziibay started that, but right now it's just a count for each language; would be nice to be able to see the actual missing tests)

[2020-03-05 08:30] aryx opened #252 "Warn for the use of $ in a sgrep pattern that is not detected as a metavariable (e.g., $x instead of $X)"
Right now metavariables have to be in uppercase and contain only letters (e.g., $X, $FOO, but not $FOO_BAR or $X2, or $X).
The rational behind this is that some languages (PHP, Ruby) use already $ for variables (e.g., $global_env) and we may want to be able to match such code. By restricting metavariables to $ with uppercase letters, which are from what i know never used in concrete code, we can m

[2020-03-05 08:31] aryx commented on #252
This can be done in main_sgrep.ml when we parse the pattern, and can be implemented using a visitor that visit and try to find any use of Id (x, _) when is_metavar x.

[2020-03-05 08:36] aryx commented on #252
This would help a bit issue #211

[2020-03-05 09:28] aryx commented on #243
related to issue #195 but for Go this time. I've fixed it for JS but not Go/Python/... hence the need for a generic name resolution (naming_ast.ml).

[2020-03-05 20:09] jtmelton opened #255 "finding nested expressions inside other patterns"
**Describe the bug**
In the Java language, I would like to detect the case where we have an assignment `if(x = true)` instead of a comparison `if(x == true)`. However when I write the rule for '$X = $Y', it doesn't do what I want. It produces more results, including assignment statements (`this.name = name;`).

**To Reproduce**
Steps to reproduce the behavior:
1. run the command `docker run --rm -

[2020-03-05 20:14] ievans commented on #255
Hi @jtmelton, welcome and thanks for opening an issue! If I understand you correctly, you'd like to find code of the type:

[code]

For that, you should be able to use this pattern:
[code]
I built a full example here: https://sgrep.live/3xG

The reason your previous attempt failed is that `if ($X = $Y)` is invalid as an expression is that sgrep can't operate on a half-expression or half-statement

[2020-03-05 20:27] jtmelton commented on #255
Hi, that's exactly what I want to get to. I updated the example with a few more patterns that I had in a local test to show places where it's not caught. https://sgrep.live/4xL

[2020-03-05 20:29] jtmelton commented on #255
Note the difference when I run these files locally ...

[code]

[2020-03-05 20:47] ievans commented on #255
@jtmelton thanks for the clarification and the updated live example! There are a couple different ways to approach what you want, but they are feature requests rather than currently supported features.

For instance, you could use the ... operator to catch the rest of the operators in the expression, but this would only match assignments as the first expression in the `if`:
if ($X = 1 ...) { ... }

[2020-03-05 20:57] jtmelton commented on #255
Yeah, I think that makes sense to me. I initially tried to write the expression as `if (... $X = 1 ...)` actually. I also think this rule could be further improved by adding type info as I saw in the presentation pdf, ie. `if (... $X = bool ...)` or `if (... $X = bool:true ...)` would be great. I like the expansion concept for this, as it feels to fit into the rest of the model.

By the way, _very

[2020-03-05 20:58] DrewDennison commented on #255
@jtmelton thanks for opening the issues. I'm the dev behind https://sgrep.live and I would love any feedback you have about it. To the extent you're getting different results, that's a bug. https://sgrep.live/PJ3 looks ok to me but I'll dig in more around the differences between single rules and the full boolean composition.

[2020-03-05 20:58] DrewDennison commented on #255
@clintgibler 🎩

[2020-03-05 21:02] jtmelton commented on #255
Very good - thanks @DrewDennison fantastic work! As you may have noticed, I've not really pushed the system to its' limits :>. Having said that, I'll try to come up with some more rules over the next few days and let you know if I find anything interesting.

[2020-03-05 21:32] aryx commented on #255
Yes I'm not sure about the syntax we should use to express what you want.
We could have if(x = true) implicitely match if(stuff && (x= true)) but I'm not sure that's
what we always want. Some other users may want to match conditionals where we just test
for x = true.
The if (... x = true ...) is an idea, but until now '...' has been used to express sequence of stuff, here
it's not really a sequenc

[2020-03-05 23:33] #243 closed

[2020-03-05 23:57] ievans opened #260 "regression on class matching for python"
https://sgrep.live/Av0

[code]

This case passed as of sgrep 0.4.7 and docker build off develop 75edf1f13f0a, but does not as of today on sgrep-develop (unreleased)

[2020-03-06 00:40] #87 closed

[2020-03-06 00:50] clintgibler commented on #255
@jtmelton Nice, glad you like it! And thanks for the detailed test cases.

@DrewDennison https://sgrep.live is super useful! 🥇

## Thoughts on Intended Behavior

+1 @aryx, I'm still thinking about what should be intended behavior here.

Initial hot take: if the user provides an explicit expression (e.g. `if (x = true)` then that is matched directly, and you need to be clear if you want to match mo

[2020-03-06 08:51] aryx commented on #238
I guess this is done! Good job ulzii.

[2020-03-06 08:51] #238 closed

[2020-03-06 08:57] aryx commented on #162
Actually what do we want for Javascript?

For python if you do import foo.bar.z as x
then if in your pattern you wrote  foo.bar.z(), then it will match calls like x().

Same for Go if you write import (bar "dir1/dir2/p")
then if in your pattern you wrote 'p.z()' then it will match also bar.z()' (note here that
this will also match code if someone did import ("different_project/dir2/p") because of

[2020-03-06 10:14] aryx commented on #197
Actually it's a bit different in Python because the original code still needs to reference the full path.
You do 'import foo.bar'
and in the code you have to still write 'foo.bar.z()'
which means with sgrep we can allow to write a pattern like 'foo.bar.z()' and still match code where
someone aliased the foo module, or the foo.bar module, or the foo.bar.z entity.

For Javascript what do you want @i

[2020-03-06 10:15] aryx commented on #197
This introduces some regressions. You can not anymore match specific import constructions.

For  example:
+ /home/pad/github/sgrep/sgrep/_build/default/bin/main_sgrep.exe -lang python -e from foo import * tests/python/
/home/pad/github/sgrep/sgrep/tests/python/import_negatives.py:2
 import foo.bar.baz
/home/pad/github/sgrep/sgrep/tests/python/import_negatives.py:4
 from foo.bar import baz
/home/pa

[2020-03-06 14:05] aryx commented on #255
For @clintgibler
- Currently the typed metavariables ($X: <type>) are only used to match literals. Actually we should
not use $X: int but really $X: int_literal, that would be more correct.
- Right now there is just for Python. It could be added to the other language but we need to find a syntax for it in the other languages that do not conflicts with other constructs (and does not introduce any c

[2020-03-06 17:16] clintgibler commented on #255
@aryx OK great, thanks for the info. Hm, good point re: having an sgrep type syntax that doesn't interfere with the host language.

Would this work?
* In cases where types can be specified reusing syntax of the host language, sgrep does that.
* In cases where that's not possible, for example, in an expression context, sgrep supports an additional `pattern` clause, like `pattern-type` or `pattern-m

[2020-03-06 17:58] minusworld opened #267 "Arrow function support in JavaScript"
**Is your feature request related to a problem? Please describe.**
In this ticket (https://github.com/returntocorp/sgrep/issues/226), there was an ask about arrow function support in JavaScript.

**Describe the solution you'd like**
Support arrow functions in JavaScript.

[2020-03-06 22:48] #246 closed

[2020-03-07 15:22] aryx commented on #171
This should work now drew.
Let me know if you can reduce your rule to just 4 patterns.

[2020-03-07 15:22] #171 closed

[2020-03-09 17:22] DrewDennison opened #275 "parse error for C code"
https://sgrep.live/Kl6

[code]

results in

[code]

[2020-03-09 23:34] inkz commented on #197
@aryx
Took some time to rethink your comment and try different code examples.

I agree with you, it would be way more practical to specify the module.
I broke down possible module import examples to this list:

[code]
and here is how the rule to catch em all would look like:
[code]

so the basic idea is to specify the exact module path
[code]
but have all the aliasing handled
[code]

[2020-03-10 23:20] minusworld opened #281 "Metavariables in Go seem not to propogate"
**Describe the bug**
Reusing metavariables in different Go statements seems not to match.

Here are my samples:

Here's the code sample:
[code]

What I want to match is this:
[code]

grayson  1 minute ago
But it doesn't seem to be working

grayson  1 minute ago
I can get individual statements, though:

grayson  < 1 minute ago
[code]

Will match:
[code]

And this one:
[code]

Matches:
[code]

But t

[2020-03-10 23:22] DrewDennison commented on #275
@aryx do you agree this is a bug? Can we figure out if this is a <1 hour fix or something more

[2020-03-10 23:32] DrewDennison commented on #281
https://sgrep.live/1nQ repro

[2020-03-11 16:43] nbrahms opened #282 "Support matching of JSX attributes"
I want to match this expression in JSX:

[code]

Ideally, I'd be able to write a pattern like:
[code]
in `sgrep` to match it. I use the `...` inside the tag to match any combination of attributes. The order of attributes should never matter.

I'm ok having to write two patterns; once for self-closing elements (`<div />`), and another for enclosing elements (`<div>...</div>`).

[2020-03-11 18:55] DrewDennison commented on #281
this is related to #230 ?

[2020-03-12 00:43] dlukeomalley commented on #281
Blocked on https://github.com/returntocorp/sgrep/issues/281

[2020-03-12 14:19] aryx opened #285 "Module aliasing for Javascript"
@aryx
Took some time to rethink your comment and try different code examples.

I agree with you, it would be way more practical to specify the module.
I broke down possible module import examples to this list:

[code]
and here is how the rule to catch em all would look like:
[code]

so the basic idea is to specify the exact module path
[code]
but have all the aliasing handled
[code]

_Originally p

[2020-03-12 14:22] aryx commented on #197
Thx @inkz I've created a separate issue.
This issue should be fixed now. You can now use simple import pattern (e.g., import "foo.bar")
and it will match more complex form of imports.
This seems to work for Python, Js, and Go at least. I did not test for the other languages (e.g., Java, C) but the matching is done on the generic AST so this could work for free for those languages.

[2020-03-12 14:22] #197 closed

[2020-03-12 14:26] aryx commented on #285
related to issue #162

[2020-03-12 16:03] aryx commented on #281
This had nothing to do with metavariables.
This was because the Go parser added some hidden Empty stmts which then prevented
to match sequence where the last item in the pattern was not the last item in the matched block.

[2020-03-12 17:18] #281 closed

[2020-03-13 00:24] inkz commented on #285
just discovered an interesting case which I forgot to mention
[code]

[2020-03-13 14:40] bburky opened #287 "Improve Docker PWD volume mount for "Run Locally""
When clicking "Run Locally" on sgrep.live `$(pwd)` is used unquoted in the `docker run` command. This will expand to multiple arguments incorrectly if PWD contains spaces. Use quotes like `-v "$(pwd):/home/repo"` to address this.

Additionally, you could just use the environment variable `PWD` avaliable in (all?) shells. That is, use `-v "${PWD}:/home/repo"`. As a bonus, this is valid PowerShell s

[2020-03-13 15:00] #226 closed

[2020-03-13 15:30] #267 closed

[2020-03-13 15:54] DrewDennison commented on #287
@bburky thanks for the issue. I'll definitely make the change to `"${PWD}:/home/repo"`

[2020-03-13 16:31] ievans opened #293 "report number of files parsed or ignored"
When we invoke sgrep with --json, it would be great to have a statistics section that gives us a sense of the number of files that were parsed, failed to parse, or were ignored.

[2020-03-13 16:32] DrewDennison commented on #293
and/or maybe add a `--stats` flag to print it out normally

[2020-03-13 17:23] ievans opened #294 "name resolution should work inside decorators in python"
https://sgrep.live/YgQ

pattern:
[code]
should match:
[code]

[2020-03-13 18:36] ievans opened #295 "update docs to reflect support for typescript and JSX"
We support typescript and JSX; we should update the docs to mention that and also explain the language that will be parsed under --lang js versus --lang ts, for instance.

[2020-03-13 18:38] nbrahms opened #296 "ship sgrep binary for Mac OSX"
We will use this binary to dogfood the use of sgrep outside of Docker

[2020-03-14 08:19] inkz opened #297 ""Match anything" (...) inside javascript objects"
It would be effective if there was a possibility to use `...` inside an object
https://sgrep.live/O8b

rule:
[code]
example:
[code]

[2020-03-14 08:22] inkz opened #298 "Possibility to define properties in different order for javascript objects"
Having the possibility to define properties in a different order would be very helpful
https://sgrep.live/ZkL

rule:
[code]

example:
[code]

[2020-03-14 08:30] inkz opened #299 "Aliasing for javascript object properties"
It would be awesome to have some sort of aliasing for objects in order to catch multiple ways of defining an object property with one rule
https://sgrep.live/v2R
https://sgrep.live/d05

the idea is to use one rule
[code]
to catch cases as different as:
[code]

[code]
or more complex examples:

with spread operator
[code]

or even Object.assign
[code]

it can help following a certain object across

[2020-03-14 18:15] ievans commented on #223
@nbrahms with the deep statement matching support, are you unblocked on this?

[2020-03-16 08:04] aryx commented on #295
JSX support should be good, but typescript support is partial.

[2020-03-16 16:44] nbrahms commented on #223
@ievans I updated to latest sgrep, and the posted pattern doesn't work yet.

Is there documentation on how to use the deep statement matching support?

[2020-03-16 16:46] aryx commented on #297
Maybe there is no need to use '...'?

[2020-03-16 16:47] aryx commented on #297
Inside fields, we should maybe automatically assume you want to match things in any order
and you don't need to specify everything?

[2020-03-16 18:40] #287 closed

[2020-03-16 19:36] ievans commented on #223
@nbrahms are you sure you're using the latest version? https://sgrep.live/Q4x

[2020-03-16 19:44] nbrahms commented on #223
Hi @ievans ... Using the latest version, I still seem to get a false positive:

https://github.com/returntocorp/sgrep-rules/blob/nathan/while-true/python/smells/while-true.py

[2020-03-16 20:12] ievans commented on #223
https://sgrep.live/34l - it looks like we should file a bug for deep stmts not going into `try` blocks

[2020-03-16 22:29] nbrahms commented on #229
@aryx Is it possible to expand this to include try/except clauses?

Please see https://sgrep.live/JjZ for an example.

[2020-03-16 23:06] inkz commented on #297
if this
[code]
matches this
[code]
(which looks intuitive to me)
then there is no need in `...`  :+1:

[2020-03-17 00:56] #293 closed

[2020-03-17 07:23] aryx commented on #297
yes, this works now.

[2020-03-17 07:23] aryx commented on #297
closing for now, we can revisit later if the decision to not require '...' was good.

[2020-03-17 07:23] #297 closed

[2020-03-17 07:24] aryx commented on #298
This works now! thx for the issue inkz.

[2020-03-17 07:24] #298 closed

[2020-03-17 07:25] inkz commented on #297
awesome!

[2020-03-17 07:27] aryx commented on #255
This works now!
Right now there is no need for special syntax, if (x = true) will implicitely be tried on nested
expressions inside the if (e.g., it will match if (a && x = true)).
We can revisit later this decision and choose whether we want people to write instead if (... x = true ...) if the feedback on this feature (called deep expression matching) is bad.

For the related discussions in this

[2020-03-17 07:27] #255 closed

[2020-03-17 07:28] aryx commented on #241
It works now!

[2020-03-17 07:28] #241 closed

[2020-03-17 12:05] clintgibler opened #308 "Helpful error messages when invalid pattern supplied"
Copied from https://github.com/returntocorp/sgrep/issues/255#issuecomment-595520023.

I had a similar issue to @jtmelton in that some of my first sgrep search patterns were fragments and thus were not parsed by sgrep. It would be nice to have some error message when parsing fails that gives common failure reasons and examples of proper search terms.

If sgrep could detect what the user is trying t

[2020-03-17 12:20] clintgibler opened #309 "Allow specifying types in patterns"
Copied from https://github.com/returntocorp/sgrep/issues/255#issuecomment-595520023.

## Is your feature request related to a problem? Please describe.
When a user is writing an sgrep expression, they may wish to only match a specific type, for example, in a variable assignment, function call, etc.

This can already be done with string literals, for example:

[code]

But it should be possible for

[2020-03-17 12:21] clintgibler commented on #255
Done: #308 and #309 ^

[2020-03-17 13:48] aryx commented on #282
You don't need '...', it does not care about other attributes by default.
Also you just need one pattern, it handles the different variations you mentioned.

[2020-03-17 13:57] #282 closed

[2020-03-17 20:09] ievans commented on #309
@inkz has requested, along these lines, that the inference work r2c has already done for Javascript (in https://github.com/returntocorp/stadt) be available within the sgrep query system.

[2020-03-17 21:30] nbrahms commented on #282
👍 @aryx

[2020-03-17 22:06] dlukeomalley opened #312 "semgrep fails when Python file has trailing indentation"
When there is trailing tab in a Python file semgrep fails.

Failing: https://sgrep.live/5J3
Trailing tab removed: https://sgrep.live/JjQ

**Expected behavior**
Expected semgrep to succeed, or error and clearly told me the Python syntax was invalid.

[2020-03-17 22:56] dlukeomalley opened #313 "Overridden Python method should cause sgrep result"
**Describe the bug**
On line 40, I expect sgrep to return a result because `_()` was overwritten to not be equal to `django.utils.translation.ugettext`:

https://sgrep.live/WpA

[2020-03-17 23:20] dlukeomalley commented on #313
@ievans and I chatted about this offline. The consensus is that it's complex to do robustly, consider:

[code]

[2020-03-18 00:06] ievans opened #315 "help users understand import resolution"
First-time user friction:

for the code code:
import google.metrics
metrics.send(foo)

the patterns:
DOES NOT WORK metrics.send(...)
WORKS google.metrics.send(...)

this is intuitive on a small example, but in a large file the behavior of the import resolution algorithm may be confusing. @DrewDennison experienced this issue.

This is a request for enhancement to sgrep or sgrep.live to make this le

[2020-03-18 00:12] brendongo commented on #313
Note that this works when in function scope https://sgrep.live/pYN

[2020-03-18 18:46] clintgibler commented on #309
Inference work / leveraging external type checkers would be an interesting and potentially quite useful addition.

But for v1, is that necessary?

Does the sgrep AST contain type info when it encounters a primitive / literal (e.g. strings, ints, floats, doubles, bytes, ...)? I believe semantic and most other parsers I've used have this type info where the literal is (not necessarily later where th

[2020-03-18 21:18] brendongo opened #317 "Version Sgrep"
Have release process release specific semver and add a --version flag.

This will make tracking down bugs easier

[2020-03-18 21:30] ievans commented on #317
Related: https://github.com/returntocorp/sgrep/issues/76

[2020-03-19 01:44] inkz commented on #297
single pattern works fine: https://sgrep.live/krK
[code]

but if I wrap it into the rule it fails
https://sgrep.live/w30

[code]

[code]

next thing is that pattern seems to catch only the first property of the object:
https://sgrep.live/krK

[code]

[code]

but this will return no results:
https://sgrep.live/xqp

[code]

[code]

[2020-03-19 16:53] nbrahms commented on #43
Not installable using `apt` yet, but shippable as tarball to certain environments (like zulip)

[2020-03-19 16:53] #43 closed

[2020-03-19 20:39] mschwager opened #320 "Add granular testing capabilities"
To truly feel confident in the rules I'm writing it'd be great to build on the existing testing capabilities. Excellent testing mechanisms will help prevent false positives, false negatives, and regressions. Some kind of xunit-style functionality where I can pass in code snippets and expected results and the rest is handled for me.

The filesystem tests are a great start, but it takes a while to c

[2020-03-19 20:49] aryx commented on #320
Something like that? https://github.com/returntocorp/sgrep/blob/develop/sgrep/lib/unit_matcher.ml

[2020-03-19 20:56] mschwager commented on #320
Yes! Not sure how much work is involved to wire this up with specific rule files. In other words, some abstraction that could take a rule file, or rule id, or pattern representation, and a snippet of code and compare against an expected result.

Seems like some of the OCaml scaffolding is there, we'd just need to tie it in with the `sgrep_lint` layer above. Thoughts?

[2020-03-20 19:07] mschwager opened #323 "sgrep.live bug report"
https://sgrep.live/1zD

Here's the original example code textarea:

![2020-03-20-130600_1398x401_scrot](https://user-images.githubusercontent.com/1724818/77197899-99c50800-6aab-11ea-931b-50d3557832fe.png)

I then used the "expander" in the bottom right to drag the area larger so I could see more code:

![2020-03-20-130255_1388x587_scrot](https://user-images.githubusercontent.com/1724818/77197714-4

[2020-03-24 17:37] nbrahms opened #324 "[JavaScript] Support `const` literal constant propagation"
**Is your feature request related to a problem? Please describe.**
I'd like to remove false positives from certain "call this API with a literal only" checks, where a string constant is passed to the API.

For a motivating example, please see https://sgrep.live/wZ0.

**Describe the solution you'd like**
This only needs to work for JavaScript, and we can assume that the constant is assigned using t

[2020-03-24 22:39] DrewDennison opened #325 "Support python's implicit string concat"
https://sgrep.live/eXl

[2020-03-24 22:40] brendongo commented on #325
[code]

[2020-03-24 23:04] ulziibay commented on #325
AST for  `x = "python"      "is"             "stupid"` is
[code]
where as `y = "hi"` has AST of
[code]

[2020-03-24 23:08] nbrahms opened #326 "[Python] Support matching of f-strings"
**Is your feature request related to a problem? Please describe.**
I'd like to match on Python f-strings.

For example, I'd like to detect when an unsafe local variable is reflected into a Flask response using an f-string.

**Describe the solution you'd like**
Match using something like:
[code]

**Describe alternatives you've considered**
Python explodes this pattern into:

[code]

so a match on ^

[2020-03-24 23:18] nbrahms commented on #182
@aryx Here's the jinja2 template spec / example:

https://jinja.palletsprojects.com/en/2.11.x/templates/

It's not Python at all. I tried to find BNF, but no dice :(

[2020-03-24 23:36] minusworld opened #327 "Golang import aliasing"
**Describe the bug**
Golang has the ability to rename imports. It does not appear that sgrep currently handles this.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://sgrep.live/nrO

**Expected behavior**
In Python, we can refer to things by their fully-qualified name. In Go, things are a bit more nuanced because packages are automatically referred to only by the package and not

[2020-03-24 23:49] nbrahms opened #328 "Return unique + deterministic metavariable identifier with match"
**Is your feature request related to a problem? Please describe.**
In order to use `sgrep` for certain applications (e.g. comparing results from two patterns, or asserting that one pattern occurs "inside" another pattern), we would like `sgrep` to return a unique identifier for each match.

For example:

If

[code]

[code]

both match some code, I'd like to be able to assert that the match to `$X`

[2020-03-25 00:13] nbrahms opened #329 "Add support for user-defined equivalences"
**Is your feature request related to a problem? Please describe.**
We may want to the user to be able to define equivalences that can be used for pattern reuse.

As a motivating example, let's consider possible ways to iterate over a list in Python:

[code]
[code]
[code]
[code]

A user may want to write multiple patterns dominated by this list iteration. It would be useful to support this.

**Desc

[2020-03-25 00:37] DrewDennison commented on #329
Sounds like it wouldn't be too hard to do in the python wrapper

[2020-03-25 15:39] aryx commented on #329
Yes, great idea.

[2020-03-25 15:40] aryx commented on #329
Here is the config file we had in coccinelle for C "isomorphhisms" (code equivalences)

https://github.com/coccinelle/coccinelle/blob/master/standard.iso

[2020-03-25 16:16] aryx commented on #7
Should work now.

[2020-03-25 16:16] #7 closed

[2020-03-25 16:22] aryx commented on #327
What if the code use import ("html/template")
and later do
template.func()?
how do you want to write the pattern? what code equivalence you want?
It maybe be nice to just write template.func(...) and that it handles automatically
the different import form, but then you have the problem that it will match also
a template.func(...) from a template imported from "test/template".

We don't have the pr

[2020-03-25 16:39] aryx commented on #7
I mean the easy cases are working

[2020-03-25 17:07] minusworld commented on #327
I can imagine two approaches that are feasible:

1. Use metavariables
[code]

2. Use fully-qualified name
[code]

[2020-03-25 17:11] nbrahms commented on #182
@minusworld

Please provided minimal examples

[2020-03-25 17:20] ievans commented on #229
Also, it seems that we are not recursing into classes or functions in Javascript, see example:

https://sgrep.live/L3J

[2020-03-25 17:23] minusworld commented on #327
Proposed hack:

[code]

[2020-03-25 18:59] nbrahms opened #334 "Deep statement matching does not traverse into `try` blocks"
**Describe the bug**
Deep statement matching does not appear to work with try blocks in Python

**To Reproduce**
For an example reproduction, see https://sgrep.live/34l

**Expected behavior**
Statements inside try blocks should match in Python

[2020-03-25 18:59] nbrahms commented on #334
Blocks #223

[2020-03-25 20:31] nbrahms commented on #324
Reopening as the change did not seem to work in practice:

See:
https://sgrep.live/RyK

[2020-03-25 20:40] nbrahms commented on #324
Assigning to @DrewDennison ... it appears that the `sgrep` binary itself does the correct thing, but `sgrep-lint` is somehow broken here.

[2020-03-25 20:46] nbrahms commented on #324
Note that I ran `sgrep` itself on the code with both patterns, and it did what I expect:

[code]

[code]

[2020-03-25 21:23] #325 closed

[2020-03-26 04:01] inkz opened #336 "Follow variables usage inside functions and classes (js)"
trying to catch usage of a var like this:

[code]
examples:
https://sgrep.live/BGx
https://sgrep.live/DAd
https://sgrep.live/WjL
https://sgrep.live/0GB
https://sgrep.live/KgL

[code]

[code]

[code]

[code]

[code]

[2020-03-26 04:06] inkz opened #337 "Destructuring assignment from function result (js)"
Not able to catch cases of destructuring from function calls
https://sgrep.live/Rgg

[code]

[code]

[2020-03-26 04:09] inkz opened #338 "Catch multiple object-destructuring assignments in different order (js)"
works fine for one var but if there are multiple variables `sgrep` does not catch them until they are in the same order

https://sgrep.live/A5L

[code]

[code]

[2020-03-26 18:03] minusworld commented on #182
Example for https://github.com/returntocorp/sgrep-rules/issues/76:
[code]

Another example:
[code]

Potential pattern:
[code]

[2020-03-26 18:10] #324 closed

[2020-03-26 18:10] minusworld commented on #182
Example for https://github.com/returntocorp/sgrep-rules/issues/240, use `json_script`:
[code]

[code]

Potential pattern:
[code]

[2020-03-26 18:13] minusworld commented on #182
Example for https://github.com/returntocorp/sgrep-rules/issues/78, avoid `{% autoescape on %}`
[code]

Potential pattern:
[code]

[2020-03-26 18:35] minusworld commented on #327
Tried the above hack, but it appears that ... in not considered valid in `import`: https://sgrep.live/p90
Removed the ... and the pattern is now valid, but it does not match: https://sgrep.live/2Aq
Being as explicit as possible, it still does not match: https://sgrep.live/jDl

[2020-03-26 19:23] ulziibay opened #340 "[Python] Support matching of % formatted strings"
**Is your feature request related to a problem? Please describe.**
https://sgrep.live/1Rx shows the motivating examples for sql-injection. I would like to be able to write sgrep pattern that match

`'SELECT user_age FROM myapp_person where user_name = %s' % user_name`

**Describe the solution you'd like**
Match using something like:
`"..." % $X`

**Describe alternatives you've considered**
If the

[2020-03-26 19:28] nbrahms commented on #324
It works!

[2020-03-26 19:38] ulziibay commented on #340
It is already supported :) https://sgrep.live/yXO

[2020-03-26 19:38] #340 closed

[2020-03-26 19:52] ievans opened #341 "Failure "just: pb" for some patterns when used as -e expression"
This expression seems to work fine when it is part of a yaml file, but have issues when run as a -e expression: `$CONTEXT.wrap_socket(..., cert_reqs=$REQS, ...)`

Running ok as yaml file: https://sgrep.live/k9o

But as an expression:
[code]

[2020-03-27 15:34] aryx commented on #336
Yes right now the deep statement does not go through function definitions. It does not go through function boundaries. My thought was it would be slow, and that I would need first to handle scope correctly (a function can reuse the same variable name of an enclosing variable).

[2020-03-27 15:35] aryx commented on #336
So this is blocked on https://github.com/returntocorp/sgrep/issues/328 anyway.

[2020-03-27 15:36] #341 closed

[2020-03-27 15:37] #334 closed

[2020-03-27 15:45] nbrahms commented on #176
Blocked on https://github.com/returntocorp/sgrep/issues/328

[2020-03-27 16:00] aryx commented on #328
Note that for "For variable matches, it will be the same for the same symbol in the same scope" it means we need to correctly handle scope for all the languages, and try to do in a generic way; not trivial. Each programming language has its own scoping rules, and even some commercial IDEs still do not handle correctly scope and have scoping bugs during refactoring.

[2020-03-27 16:03] aryx commented on #328
What to do if the metavariable matches a complex expression? What should sgrep-core return?
Right now sgrep-core returns for each match the metavariable bindings as a buggy string. It could return the AST as a string (as shown by the AST dumper), like "$X" => "Call(Int 1, [Int 2])" or do you also want to associate an id with that?

[2020-03-27 16:28] aryx commented on #223
This does not work? Should work now no?

[2020-03-27 17:00] DrewDennison commented on #323
thanks @mschwager I'll get this fixed asap

[2020-03-27 17:02] nbrahms commented on #223
@aryx Confirmed fixed!

[2020-03-27 17:02] #223 closed

[2020-03-27 19:06] nbrahms commented on #328
I think it's ok to not be 100% accurate.

As an acceptance criterion, let's imagine the following two patterns (in Python):

[code]

and

[code]

In this example:

[code]

both patterns should return the same ID.

In this example:

[code]

the metavariable should belong to two different scopes.

IMO we can probably punt on things like shadowing, globals, etc. for now.

[2020-03-27 19:07] nbrahms commented on #328
As a first-order solution, can we say anything that's not either a constant literal or declared variable has an effectively unique identifier?

[2020-03-27 21:39] aryx commented on #328
I could return the sha1 of the AST when converted to a string.

On Fri, Mar 27, 2020 at 8:08 PM Nathaniel Brahms <notifications@github.com>
wrote:

[2020-03-27 21:47] DrewDennison commented on #323
This should be fixed now on https://sgrep.live please re-open if you still see issues

[2020-03-27 23:35] #323 closed

[2020-03-28 08:30] inkz opened #344 "Catch variable that is assigned to the object parameter with the same name"
It is common to name variables same as object parameters:

[code]

not able to catch it with this rule:
https://sgrep.live/KyL
[code]
(works if param and var names are different)

btw would be awesome if this code was tackled by the same rule:

[code]

[2020-03-28 21:27] DrewDennison opened #345 "Bad error message on lower case metavars"
Let's add a better error message for lower case metavars

[2020-03-30 14:37] nbrahms commented on #328
I assume the nodes have some sort of unique ID that would cause the complex nodes to have different values?

Multiple call expressions in non-strictly functional languages aren't guaranteed to yield the same result, alas, so we wouldn't want them to match.

[2020-03-30 16:58] aryx commented on #345
related: https://github.com/returntocorp/sgrep/issues/252

[2020-03-30 18:03] ulziibay commented on #326
@aryx I am going to claim this. I look forward to your CR!

[2020-03-30 19:38] ulziibay commented on #326
@nbrahms actually, if you look at https://sgrep.live/rN1  the
[code]
can already match a lot of the cases. NOTE THAT `...` means more than 0 in this case.
I am working on the false positives found in this pattern!

[2020-03-30 19:50] nbrahms commented on #326
oh hmmm

[2020-03-30 19:54] nbrahms commented on #326
Good catch @ulziibay 🙇 . Looks like we can close?

[2020-03-30 21:24] dlukeomalley opened #348 "Upgrade ocaml to latest stable branch"
**Is your feature request related to a problem? Please describe.**
Following along on https://github.com/priv-kweihmann/meta-sca/issues/126#issuecomment-606244962, let's consider upgrading sgrep to use the latest stable ocaml release.

[2020-03-30 22:06] nbrahms opened #349 "Add effective constant propagation for Python"
**Is your feature request related to a problem? Please describe.**
We would like to treat the following programs as equivalent:

[code]

[code]

Currently this works for string constants, but we'd like to extend to any literal variable that is not reassigned between assignment and use.

**Describe alternatives you've considered**
We can currently write a pattern like this:
[code]

however, this do

[2020-03-31 08:26] aryx commented on #260
Should work now

[2020-03-31 08:26] #260 closed

[2020-03-31 08:28] aryx commented on #349
This already works for any literal constants, not just string constants, but the issue for Python is that there is no 'const' keyword so for Python we need a 'const' analysis, or in your case a dataflow-based constant propagation.

[2020-03-31 08:36] aryx commented on #349
You want two different things here:
 - const "inference" for python, so a pattern like foo("bar") would match x = "bar"; foo(x)
   which is already available for Javascript and Go thanks to their const keyword
 - enforced that no modification happens to a variable in a '...'. In coccinelle we would write
   $X = 1
   ... when not $X = ...
   return $X + 2

But that's very different things.
Note th

[2020-03-31 08:38] aryx commented on #349
the dataflow-based constant propagation is far more difficult to implement. There is already  some code for a generic control-flow and generic data-flow, but we need to plug them in sgrep and it's not battle-tested (it was done when the generic AST was supporting only Python and JS; now we have far more languages and so I'll need to update those generic controlf-flow and data-flow code.

[2020-03-31 08:39] aryx commented on #348
The main issue I think is the use of camlp4 in pfff which was made obsolete.
There is already a ticket for that in pfff:
https://github.com/returntocorp/pfff/issues/65

[2020-03-31 15:18] nbrahms commented on #349
@aryx In my opinion just detecting variable reassignment is likely sufficient.

For example, it's probably fine to treat `x` as "not constant" in this program:

[code]

[2020-03-31 15:20] nbrahms commented on #349
Correct, I'd like to be able to just write:

[code]

and have it match the very first example described.

Is there a way to match any numeric literal, à la `"..."` for literal strings? Assuming for the sake of discussion we could do this with `...L`, I'd love to be able to match the example with

[code]

[2020-03-31 15:44] aryx commented on #294
should work now.

[2020-03-31 15:52] #294 closed

[2020-03-31 15:53] aryx commented on #348
I've removed the dependency to camlp4 and try to publish a new OPAM package hopefully working with recent OCaml versions (e.g., OCaml 4.10).
See https://github.com/ocaml/opam-repository/pull/16114

[2020-03-31 16:29] aryx commented on #349
In theory we could use typing, like
return ($X: int_literal)
The problem is that sometimes there is a grammar ambiguity so we may have to invent another syntax.

Also where-python could be used in the yaml file.

[2020-03-31 16:46] aryx commented on #328
I'm not sure I understand what you mean.

The nodes in the AST do not have a unique ID, only variables in different scopes will have a different unique ID.
in foo(f(1), f(1)) the AST for the two f(1) are mostly identical (they do not have the same line information, but sgrep internally removes sometimes those line information so when you do foo($X, $X) we just compare if the AST are structurally e

[2020-03-31 16:57] nbrahms opened #351 "Switch to generic name resolution"
@aryx to fill in details

[2020-03-31 17:08] brendongo opened #352 "Make sgrep compatible with ubuntu:16.04"
Currently the sgrep binary along with the sgrep-lint executable are built on ubuntu:18.04. This causes compatibility issues on 16.04 primarily because of libc versions.

[2020-03-31 19:21] nbrahms opened #353 "Python import matches are sensitive to import order"
**Describe the bug**
An sgrep rule with multiple imports is sensitive to the order of imports. In general, import order should not matter.

**To Reproduce**
https://sgrep.live/vpl

**Expected behavior**
Matches are insensitive to import order

**Impact**
This behavior multiplies the number of rules that need to be written by `N!`

[2020-03-31 19:22] aryx commented on #351
sgrep was originally using a Python-specific name resolver and alias resolver to manage renamed imports in Python. Later on, sgrep was using a Go-specific name resolver for Go. However each of those resolvers had lots of code duplication and was incomplete in different ways. This was not scalable as we add more languages to sgrep. In past diffs I've started a generic name resolver to factorize the

[2020-03-31 19:22] #351 closed

[2020-03-31 19:23] ievans commented on #353
Hi Nathan, sometimes the order of imports can matter though.

E.g.:
[code]
will have different behavior. What do you think about that case?

[2020-03-31 19:25] nbrahms commented on #353
Honestly, it seems like we're overoptimizing for a corner case instead of the 80% happy path.

IMO we could solve this (much) later by detecting this kind of wacky pattern when it crops up in the rule.

[2020-03-31 19:28] nbrahms commented on #353
Another issue (which perhaps I can file separately), is that `pattern-inside` doesn't seem to work with `pattern-either`, which means I can't kind-of-solve this issue with https://sgrep.live/ZPp.

This means I have to write `N!` lint rules, not just `N!` patterns.

[2020-03-31 19:32] nbrahms commented on #353
Pointing out a suggestion if we want to have the user define when order matters and when it does not:

One could maybe write a rule like
[code]

And, like other argument lists, we could ignore order here.

[2020-03-31 19:42] aryx commented on #353
Not a bug though, the order of statements matter at the toplevel unfortunately in Python.
In other languages the order truly does not matter.

[2020-03-31 20:14] #317 closed

[2020-03-31 21:28] nbrahms commented on #353
Fair point

[2020-03-31 23:02] ulziibay opened #356 "[Python] Sgrep cannot match `with` statement when used with pattern-inside"
**Describe the bug**
When `pattern-inside` is used, sgrep matching is incorrect for `with` statement.  https://sgrep.live/Bxx shows that sgrep is able to match `with` statements.

**To Reproduce**
https://sgrep.live/AzL

**Expected behavior**
I expect the matching to give the same result regardless of `pattern-inside`

**Screenshots**
If applicable, add screenshots to help explain your problem.

*

[2020-04-01 04:07] #326 closed

[2020-04-01 11:37] inkz opened #361 ""Match everything" inside javascript arrays"
Not able to create a pattern that would match any array or an array with one specific item

https://sgrep.live/0PB
https://sgrep.live/K9L
examples:
[code]
[code]
and
[code]
[code]

[2020-04-01 15:11] nbrahms opened #363 "Leverage equivalences in `semgrep`"
**Is your feature request related to a problem? Please describe.**
`sgrep` recently adds equivalences (see #362). These would allow us to drastically reduce the amount of patterns necessary to write some rules (see, e.g., https://github.com/returntocorp/sgrep-rules/pull/290).

**Describe the solution you'd like**
Let's leverage this new functionality in `sgrep-lint`. One suggestion would be to sim

[2020-04-01 15:30] DrewDennison opened #364 "Regex's don't work for statements in javascript"
https://sgrep.live/4R9

[2020-04-01 16:26] DrewDennison opened #365 "Should be able to use regex on variables that flow into the caller"
https://sgrep.live/p6e

[2020-04-01 16:29] aryx commented on #364
missing semicolons at the end.
You can change the ticket description.

[2020-04-01 16:31] aryx commented on #365
Need to use the 'const' keyword, otherwise there is no constant propagation.
Again, you can change the ticket description if you want this fixed.

[2020-04-01 16:33] DrewDennison commented on #364
Ah beautiful! ty ty!

[2020-04-01 16:33] #364 closed

[2020-04-01 16:36] DrewDennison commented on #365
Ah ha! You made my demo 10x better 😄

[2020-04-01 16:36] #365 closed

[2020-04-01 19:22] minusworld opened #367 "Add the ability to match arbitrary keyword arguments"
**Is your feature request related to a problem? Please describe.**
I would like to write a pattern that simply checks for the presence of any keyword argument in a function.

The sgrep live link is here, but I will post the relevant bits below. https://sgrep.live/NyN

----

[code]

----

[code]

**Describe the solution you'd like**
I would like to be able to match `$KEY=$VALUE` to any keyword argu

[2020-04-01 20:00] nbrahms commented on #328
If we do that, I think we need to also add a "type" tag to the metavariables to indicate when we're matching a variable vs. a parent AST node.

[2020-04-01 21:47] ievans opened #368 "javascript parse failure"
Sgrep live trace: https://sgrep.live/eEL
Throws fatal error: exception Ast_js_build.TodoConstruct("VarPattern:TODO: simple pattern not handled", _)

[2020-04-02 07:16] aryx commented on #348
I've pushed a new OPAM pfff package compatible with recent OCaml versions.
It's merged at https://github.com/ocaml/opam-repository/pull/16125
Only thing remaining is to update our Dockerfile and CI to not switch create 4.07.3 but
just use 4.10.0 or 4.09.1 if we want to live a bit less on the edge.

[2020-04-02 09:37] #368 closed

[2020-04-02 10:08] #338 closed

[2020-04-02 10:08] #337 closed

[2020-04-02 14:57] #367 closed

[2020-04-02 15:03] aryx commented on #329
I'll close for now. We can create another ticket for alternative solutions or new features on the current solution.

[2020-04-02 15:03] #329 closed

[2020-04-02 15:05] aryx commented on #296
Is this done?

[2020-04-02 15:12] nbrahms opened #371 "Publish `sgrep` to Homebrew"
This is done when:
- [x] Update the brew tap to build the release from source
- [x] `brew install sgrep` installs a runnable binary version of sgrep
- [x] We have a documented build process for releasing new versions

[2020-04-02 15:16] nbrahms opened #372 "Publish `semgrep` to an `apt` repository"
This is done when:
- [ ] `apt-get install semgrep` installs a runnable binary version of sgrep on:
  - [ ] Debian stretch (9.12)
  - [ ] Debian buster (10.3)
  - [ ] Debian jessie (8.11) ?? Or is this too old?
  - [ ] Ubuntu 16.04
  - [ ] Ubuntu 18.04
  - [ ] Ubuntu 19.10
- [ ] We have a documented build process for releasing new versions

[2020-04-02 17:03] #361 closed

[2020-04-02 17:04] rcoh commented on #371
Current threshold is 70 stars & also not a fork:
[code]
But I will make you a tap

[2020-04-02 17:07] rcoh commented on #372
I'll start producing by a `deb` -- Unless someone has a friend in the debian committers it will be tricky to get it into mainline.

[2020-04-02 19:18] aryx commented on #372
The main dependencies are Python3 (I think >3.6) for sgrep.py, and ocaml >=4.05 (and its ocamlrun bytecode interpreter) for the sgrep ocaml bytecode.
ocaml can also compile to native code in which case you can remove the runtime dependency to ocaml.
In theory you can also compile static binaries, but I'm not sure we need that for apt.

The Dockerfile at the top of the sgrep project should contain

[2020-04-02 19:20] aryx commented on #371
Actually sgrep is already taken by another project. I don't remember what were the options we were discussing to rename sgrep in something else. I think @dlukeomalley might remember.

[2020-04-02 19:22] aryx commented on #371
returntocorp/sgrep was extracted from returntocorp/pfff (an umbrella project), which was moved from facebookarchive/pfff, which used to be facebook/pfff, which had lots of stars. I don't know if we can "transfer" those stars.

[2020-04-02 19:34] nbrahms commented on #371
https://www.cs.helsinki.fi/u/jjaakkol/sgrep.html

[2020-04-02 19:35] nbrahms commented on #371
@pabloest @dlukeomalley I know there was a proposal to rename to `sg` (i.e. "sounds good"), not sure if that had a fanbase.

Also not sure if brew has a minimum character count.

[2020-04-02 19:43] pabloest commented on #371
@nbrahms There were a few possibilities discussed and documented [here](https://returntocorp.quip.com/dVIfAK4TWE4m/sgrep-package-naming).

There’s no clear winner but the leading contenders seem to be `brew install sg` and `brew cask install sgrep`. Neither get around the issue of people running `brew install sgrep` because they think that’s the way to go. It already happened once to one of our us

[2020-04-02 20:01] nbrahms commented on #371
I'm actually advocating for changing the name of our linting tool altogether, away from `sgrep`

[2020-04-02 20:05] aryx commented on #353
Maybe we could define the code equivalence:

import $A
import $B
<==>
import $B
import $A

so when one writes
import a
import b
...
foo()

the code equivalence would be applied on the first 2 lines of the pattern to also look for the other order.

[2020-04-02 20:07] aryx commented on #356
weird indeed

[2020-04-02 20:09] aryx commented on #352
In theory we could build sgrep-core as a static binary.
See https://github.com/ocaml/ocaml/issues/9131#issuecomment-556354099 which recently got "fixed".

[2020-04-03 08:19] DrewDennison opened #374 "Support dataflow for constants in conditionals"
@aryx I think we should be able to support this type of dataflow for constants now?

[code]

https://sgrep.live/Ken

[2020-04-03 13:24] aryx commented on #328
no, the LHS in many languages can be an array access, or pointer access, or now even a pattern (a tuple, a partial list, a record/object, etc.)

[2020-04-03 15:58] rcoh opened #375 "sgrep-lint should display _something_ when called with no args"
**Describe the bug**
Currently, `sgrep-lint` exits silently when called with no args. It should display either a long or short help output.

[2020-04-03 17:02] brendongo commented on #352
https://github.com/returntocorp/sgrep/pull/343 and https://github.com/returntocorp/sgrep/pull/366

@aryx Yeah definitely thinking of linking using musl or something.

[2020-04-06 16:21] nbrahms opened #380 "sgrep-lint API reference"
To make sgrep-lint readily usable by security engineers, the sgrep-lint API should be fully documented.

This should include:

- How to invoke sgrep-lint, as a binary, and as a Docker image
- YAML structure
- Documentation on each key within the YAML schema

[2020-04-06 16:24] nbrahms opened #381 "Create a semgrep tutorial"
sgrep-lint needs an introductory tutorial to get new users spun up.

Ideally, this tutorial should include:
- How to use sgrep.live
- How to set up sgrep-lint locally
- A "hello world" example
- Examples indexed by use case:
  - Banning an API
  - Asserting use of an API parameter or option
  - A minimal source-sink detection
  - ...?

[2020-04-06 16:28] nbrahms opened #382 "Evaluate time needed to reimplement sgrep-lint"
For binary compatibility and code readability, we might want to reimplement sgrep-lint.

This ticket would be done when we've created a broken-down time estimate for sgrep-lint reimplementation.

I can imagine two possible estimates:
1. Time to rewrite the existing Python code leveraging libraries (e.g. click), and refactoring for low cognitive complexity
2. Time to rewrite in an easily compilable

[2020-04-06 16:33] nbrahms opened #383 "Provide debugging context in sgrep error messages"
Currently, sgrep error messages can be difficult for a user to leverage.

Ideally, sgrep error messages would include the following context items:
- [ ] If the error is a parse error in the pattern, a parse error in the code, or an internal error within sgrep.
- [ ] If the error is a parse error, indicate which token(s) caused the parse issue, and which token(s) were expected.
- [ ] If the error i

[2020-04-06 16:37] nbrahms opened #384 "Provide debugging context in sgrep-lint error messages"
Currently, sgrep-lint error messages can be difficult for a user to develop with.

We should improve these sgrep-lint error messages to:
- [ ] Detect and indicate possibly bad YAML formatting (e.g. dedenting a "pattern" key outside a "patterns" block)
- [ ] Indicate expected vs. actual YAML schema
- [ ] Clearly indicate which layer of code the error occurs within (sgrep-lint vs. sgrep)

[2020-04-06 16:49] nbrahms opened #385 "Implement equivalence classes in sgrep-lint"
Equivalence classes were recently added to sgrep. In order to use these to reduce check-writing cardinality, let's provide a mechanism within sgrep-lint to define these equivalence classes and forward them to sgrep.

[2020-04-06 18:43] DrewDennison opened #386 "Pattern Validation is Too Slow"
It's taking 56 seconds to do pattern validation. Not sure how much we can improve or if we should just disable for larger rule packs or rely on server-side validation for the registry.

[code]

[2020-04-06 18:45] ievans commented on #386
@DrewDennison we only do pattern validation as a hack because the internal sgrep core doesn't provide a pattern id when it reports a pattern parse error. That is the correct way to fix this. Suggest editing https://github.com/returntocorp/sgrep/issues/383 to track

[2020-04-06 20:46] DrewDennison opened #389 "ParseError on .c and .h files"
sgrep go rules fail on https://github.com/daghan/invoicer-chapter2

[code]

[2020-04-06 20:49] DrewDennison commented on #389
@ievans yeah but given that his is @daghan 's hello world learning project we can expect similar results from users of go checks

[2020-04-06 20:52] daghan commented on #389
Is this an issue with my project setup? Should I figure out a way to exclude those vendor libs?

[2020-04-06 20:59] DrewDennison commented on #389
no that's standard in go

[2020-04-06 21:00] DrewDennison commented on #389
I'm surprised sgrep is picking up `.c` and `.h` files when lang is `go`

[2020-04-07 00:35] dlukeomalley commented on #229
It appears this was shipped in 0.4.9? May I close the ticket?

[2020-04-07 00:43] dlukeomalley commented on #383
Blocked on https://github.com/returntocorp/sgrep/issues/383

[2020-04-07 00:45] dlukeomalley commented on #384
Blocked on https://github.com/returntocorp/sgrep/issues/383

[2020-04-07 00:50] brendongo opened #391 "Sgrep seems to be matching on any conditionals with strings"
https://sgrep.live/n9Z

[2020-04-07 01:04] ievans commented on #391
Regression introduced by https://github.com/returntocorp/sgrep/issues/229

Line #21 in https://sgrep.live/n9Z should not be marked as todo

[2020-04-07 01:09] brendongo commented on #382
Sgrep-lint can be broken down into the following parts:

- CLI Interface
- Downloading and Parsing Rule Files
- Running Sgrep-core
- Parsing Sgrep-core output
- Combining Boolean Logic of Rules and Sgrep-core output
- Output
- Misc/Glue

For refactoring in python [plus adding unit tests] here are my estimates for time
- CLI Interface (0.5 days)
- Downloading and Parsing Rule Files (1 days)(tests:

[2020-04-07 01:10] dlukeomalley commented on #391
Is this related? I found the behavior confusing.

[code]

Now matches:

[code]

[2020-04-07 01:17] minusworld opened #392 "sgrep does not appear to support `...` in tuples."
**Describe the bug**
sgrep does not appear to support `...` in tuples.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://sgrep.live:
I want to detect this:  https://sgrep.live/8DQ
But, because I don't know how many variables there will be, I want to detect it with `...`, which does not appear to work: https://sgrep.live/g55

**Expected behavior**
See above: https://sgrep

[2020-04-07 02:15] dlukeomalley commented on #381
See https://sgrep.live/learn, which is a proof-of-concept for delivering this content.

[2020-04-07 02:17] #296 closed

[2020-04-07 03:29] ievans commented on #391
@dlukeomalley that's the intended behavior of the fix to https://github.com/returntocorp/sgrep/issues/229

[2020-04-07 04:15] #229 closed

[2020-04-07 13:48] #392 closed, assigned to aryx

[2020-04-07 15:20] nbrahms commented on #229
I'm pretty sure matching into sub-statements works, but sub-expressions does not. So the ticket as written is incomplete. However, it probably makes sense to open a new ticket for expressions. Also, that may instead be satisfied using metavariable consistency from returntocorp/pfff#76.

[2020-04-07 15:34] nbrahms commented on #383
@dlukeomalley which issue is this blocked on?

[2020-04-07 15:35] nbrahms commented on #384
I don't actually think this should be blocked on #383, unless we want to enforce a unified error-reporting format.

[2020-04-07 16:36] ulziibay commented on #380
Basically https://github.com/returntocorp/sgrep#quickstart has the docker based workflow documented. https://github.com/returntocorp/sgrep/blob/develop/docs/config.md has the YAML structure documented.

[2020-04-07 19:22] dlukeomalley commented on #383
Not blocked on any issues. About 19 hours ago I accidentally added and then removed the blocked Label.

[2020-04-07 19:37] ulziibay commented on #385
More motivating check examples we can write once we have this feature: https://github.com/securego/gosec/blob/master/rules/sql.go

[2020-04-07 19:38] aryx commented on #382
Honestly, if we want to switch to another language so that we can produce static binaries, I would seriously consider rewriting it in reason/ocaml. Anyway we need to ship the sgrep-core, and it would remove some parts and provide typed interface instead of untype JSON communication.
@ievans @DrewDennison. We would have just one binary instead of two that have to communicate with each other. If you

[2020-04-07 19:40] dlukeomalley commented on #384
Rereading, I agree with you. There is a desire to have more meaningful error messages in sgrep-lint, that will come from sgrep itself. That's originally why I added `blocked`.

[2020-04-08 02:23] ievans commented on #382
@aryx OTOH, we might consider sgrep -> libsgrep and then use C extensions as the API; this could make it easier for others to build novel applications off of sgrep. Equalizing the playing field for all languages.

[2020-04-08 04:41] ievans opened #397 "be clear about whether the language passed is supported"
**Describe the bug**
sgrep should be clear about whether the language passed is supported when it is not

**To Reproduce**
[code]
**Expected behavior**
[code]

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
If not using sgrep.live: are you running off docker, an official binary, a local build?

[2020-04-08 12:03] #391 closed, assigned to aryx

[2020-04-08 12:17] aryx opened #400 "make in sgrep_lint/ crashes on Linux"
cd sgrep_lint
make
....

Nuitka:INFO:Embedded as frozen module 'io'.
make[1]: *** [/tmp/ccRCyG1f.ltrans6.ltrans.o] Terminated
make[1]: *** Waiting for unfinished jobs....
lto-wrapper: fatal error: make returned 2 exit status
compilation terminated.
/usr/bin/ld: error: lto-wrapper failed
collect2: error: ld returned 1 exit status
scons: *** [/home/pad/github/sgrep/sgrep_lint/build/sgrep.dist/sgrep]

[2020-04-08 15:12] aryx commented on #336
This can now be solved either by having a really really deep stmt matching where
 ... flatten and include also the statements inside functions/classes/lambdas/etc.
This may be slow, I don't know.

Or this can be solved by using 2 patterns now that we correctly resolve names and tag variables, but this will require to modify sgrep-lint to leverage the new information provided by issue #328 (the uni

[2020-04-08 15:13] aryx commented on #328
This should work now (we just need to update the tests in sgrep_lint).
Next step is to leverage the information in sgrep_lint.

[2020-04-08 15:51] aryx commented on #176
This should be unblocked now.

[2020-04-08 16:54] #328 closed

[2020-04-08 16:55] nbrahms opened #404 "Fix test cases to match new metavariable JSON"
https://github.com/returntocorp/sgrep/pull/403 added metavariable IDs to sgrep output json. We need to update test cases to pass.

[2020-04-08 16:57] nbrahms opened #405 "Leverage metavariable matching in sgrep-lint"
#403 added metavariable IDs to track variables between patterns. Let's use this in sgrep-lint.

[2020-04-08 16:59] nbrahms opened #406 "Release checklist for sgrep"
Why: We need to communicate to our users sgrep changes.

Should include
- [x] Release instruction process
- [x] Version Controlled Changelog file
- [x] Standardized git commit messages
- [x] QA process
...

[2020-04-08 17:59] brendongo opened #407 "Move sgrep changelog to version controlled file"

[2020-04-08 17:59] brendongo opened #408 "Enforce commit message format"

[2020-04-08 18:00] brendongo opened #409 "Autoattach binaries to release page"

[2020-04-08 18:06] brendongo opened #410 "Build binaries and docker images on tag"

[2020-04-08 18:15] ulziibay opened #411 "[GoLang] Support module path in import resolution matching"
**Is your feature request related to a problem? Please describe.**
When i have two package with the same name: e.g. `crypto/rand` vs `math/rand`, I would like to select for one or the other in Sgrep!

**Describe the solution you'd like**
`math.rand.Int()` should match only the "Int" function of math/random module. See https://sgrep.live/WLE

**Describe alternatives you've considered**
Just using `

[2020-04-08 18:45] minusworld commented on #411
Similar to https://github.com/returntocorp/sgrep/issues/327

[2020-04-08 19:10] ulziibay opened #412 "ability to import python packages inside python-where clause"
**Is your feature request related to a problem? Please describe.**
Want to use package like `zxcvbn` as part of the filtering. Motivating Golang is [gosec hardcoded config check](https://github.com/securego/gosec/blob/master/rules/hardcoded_credentials.go)

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
Can use some other python builtin, but would like to

[2020-04-08 19:18] DrewDennison commented on #412
@ulziibay this is a great FR. I ran into this a while ago. IIRC I hacked around this with `output; import import zxcvbn; output = zxcvbn.PasswordStrength(vars["$MYVAR"]) > 80.0;` which doesn't quite work because the whole python expression is passed to `filtered = eval(python string)` and there is type checking for `filtered` has to be a boolean.  Would be nice if it supported a return in the expr

[2020-04-08 19:21] DrewDennison commented on #412
https://github.com/returntocorp/sgrep/blob/375b1478dccf57a3f4e12c0de7e6d4919c2cb86b/sgrep_lint/evaluation.py#L163 is code

[2020-04-08 19:47] ulziibay commented on #327
@minusworld : coming to this from https://github.com/returntocorp/sgrep/issues/411.  There is more demand for supporting this! I am happy to take this on!

[2020-04-08 20:44] nbrahms opened #413 "Really really deep statement matching"
**Describe the bug**
Certain deep-statement matches are broken in the latest version of sgrep.

**To Reproduce**
See https://sgrep.live/5R0. Without the wrapping function around `jwt.verify(...)` the match is as expected.

**Expected behavior**
The pattern should match.

[2020-04-08 23:30] ulziibay commented on #412
good to know @DrewDennison. Designing a generic enough API for "python-where" is hard. You cannot anticipate what modules users would be trying to bring in and even if you do, you will have to pre-install those libraries in all the environments sgrep-lint is distributed to!

[2020-04-09 11:27] aryx commented on #413
This has never worked before. The flattening of stmt (emulating a deep stmt matching) stops
at function boundaries. What you want, and vassili, is really really deep statement matching.
I didn't do it origianlly because I thought it could be really slow. We can try and see.

[2020-04-09 11:31] aryx commented on #413
Also I didn't do it because we were not tagging variables and resolving names, so flattening
function bodies would introduce vars in current scope that could be matched that we don't want.
With the new generic name resolution, maybe this is more doable.

[2020-04-09 12:26] aryx commented on #408
meh

[2020-04-09 12:38] aryx commented on #413
Another issue is that the match range will be huge ... it will not point you out the 3 differents
patterns between the '...' but mostly the whole file.

[2020-04-09 14:17] aryx commented on #336
Should work now with the really deep stmt matching

[2020-04-09 15:56] nbrahms opened #422 "sgrep-lint should optionally trim config path from rule ids"
**Is your feature request related to a problem? Please describe.**
When using sgrep within Bento, sgrep reports rule IDs like so:
`https:.sgrep.live.c.r.r2c.python.flask.deprecated-apis.flask-deprecated-apis`. Instead, we'd like to display only `deprecated-apis.flask-deprecated-apis`. (The fact that this rule name is redundant  is a separate issue).

Unfortunately it's not obvious where in the abo

[2020-04-09 16:41] mschwager commented on #380
I'm planning on completing this in a few stages:

- [x] Shore up the README - it's important to keep things concise here then point to further documentation when necessary.
- [ ] Unify the [simple](https://github.com/returntocorp/sgrep/blob/develop/docs/config/simple.md) and [advanced](https://github.com/returntocorp/sgrep/blob/develop/docs/config/advanced.md) configuration - IMO the simple info s

[2020-04-09 17:00] #336 closed

[2020-04-09 17:00] #413 closed, assigned to aryx

[2020-04-09 17:50] ievans commented on #250
Missing support for `{x}` in import declarations as part of the pattern; re-opening.

[2020-04-09 17:55] brendongo commented on #250
https://sgrep.live/k0P looks like the issue with the sgrep.live above was missing semi-colon.

[2020-04-09 18:08] ievans opened #425 "Python 2 fallback parsing not working"
ParseError on valid Python code. This is a regression: this code parses in 0.4.8 but not in 0.4.9. According to @aryx this ought to fallback to py2 parsing mode, but it does not.

https://sgrep.live/xLL

Code snippet is from psycopg2/tests/test_async_keyword.py:45 https://github.com/psycopg/psycopg2/blob/6cff5a3e089f155519765f9cdd49ef78b23ab740/tests/test_async_keyword.py#L45

EDIT: Since sgrep no

[2020-04-09 20:43] brendongo commented on #326
For reference this is working https://sgrep.live/eG8

[2020-04-09 22:04] brendongo commented on #425
https://sgrep.live/nlY

Reproduced minimal example. looks like when the kwarg is async bad things happen

[2020-04-09 22:07] brendongo commented on #425
Also with await: https://sgrep.live/E4N
Also yield: https://sgrep.live/7v2

I suspect something from reserved words in python

[2020-04-09 22:08] DrewDennison commented on #425
I don't know if it's valid code anymore 😂

[code]

[2020-04-09 22:08] brendongo commented on #425
Are these even allowed as keyword arguments

[2020-04-09 22:09] DrewDennison commented on #425
nope

[code]

[2020-04-09 22:10] brendongo commented on #425
I think it is in python 2

[2020-04-09 22:11] brendongo commented on #425
So the root cause of issue is kwargs that are reserved in 3 but not in 2 :|

[2020-04-09 22:14] DrewDennison commented on #425
yeah not it https://docs.python.org/2.5/ref/keywords.html for py2 and it's in https://docs.python.org/3.7/reference/lexical_analysis.html#keywords

[2020-04-09 22:15] DrewDennison commented on #425
@aryx should we make a `python2` lang and leave `python` as 3?

[2020-04-09 23:21] brendongo commented on #382
I think there is a case to be made to just write it in ocaml so we dont need 2 languages to maintain sgrep.

[2020-04-09 23:31] brendongo commented on #405
I'm assuming this is referring to https://github.com/returntocorp/sgrep/pull/403/files

[2020-04-10 03:04] DrewDennison opened #428 "problem matching `$REQ.$Q.$NAME`"
Solved the problem

[2020-04-10 03:24] DrewDennison opened #429 "statements match but not expressions"
`eval(...)` doesn't match but `var $X = eval(...)` does

See https://sgrep.live/KA5 has no matches but https://sgrep.live/WG2 does

[2020-04-10 03:29] #428 closed, assigned to aryx

[2020-04-10 03:46] ajinabraham commented on #429
Started working after removing `;` after `exec()`
https://sgrep.live/oZ0

[2020-04-10 04:16] DrewDennison commented on #429
Still confusing behavior so we should either have a clearer debug message in the AST tree dump or warn about this @mschwager

[2020-04-10 05:45] DrewDennison opened #430 "Patterns without a trailing `...` match to end of scope"
https://sgrep.live/94r

[code]

I believe this should match lines 8-14 but it matches all the way to line 16.

[2020-04-10 14:43] aryx commented on #430
Yes, known issue. The way the engine works for statements matching, is that
it visits all sequence of statements, and when there's a match, it returns the whole range.
More generally I think we need to improve matching location and not just return one range but a set of ranges for each pattern between '...', because in A ... B ... C, the 3 elements may be quite far from each other but we would jus

[2020-04-10 14:46] aryx commented on #430
Right now the API between sgrep-core and sgrep-lint, and probably between sgrep-lint and sgrep.live is for each match, a single range, but we may want a list of ranges, to highlight the different components in a complex pattern. Also some people may want to just get the matching location of the last element in the pattern, some the middle.

In coccinelle you could prefix a line with '*" indicating

[2020-04-10 15:05] aryx commented on #429
Yes, it's because without the ';' it's parsed as an expression pattern, and the visitor looks for every expressions, including expressions nested inside var defs.
With the ';' it's parsed as an expression statement (ExprStmt), and even though we do implicitely deep expression matching for ExprStmt, we do not go in VarDef (I'll fix that).
Note that you will now need  eval(..., <... $REQ ...>, ...)

[2020-04-10 15:10] aryx commented on #429
This makes me think that a very nice feature would be to tell people about partial match when they don't find anything. This can help them refine the rule.

[2020-04-10 15:12] aryx opened #431 "Return partial match information when nothing match"
Sometimes a little something will stop a complex pattern to match some test code in sgrep.live.
See https://github.com/returntocorp/sgrep/issues/429 where the addition/removal of a ';'
change the match result.

It would be nice when nothing match to help the user refine his pattern so that it matches the test code, or at least tell the user about partial match so that he can learn what is the prob

[2020-04-10 15:12] aryx commented on #431
cc @DrewDennison @ievans @nbrahms

[2020-04-10 15:13] aryx commented on #430
cc @nbrahms @ievans

[2020-04-10 16:04] ievans commented on #408
meh

[2020-04-10 17:02] #382 closed

[2020-04-10 17:02] #407 closed, assigned to brendongo

[2020-04-10 17:51] #352 closed

[2020-04-10 17:55] brendongo commented on #400
What version of linux are you running? What is the version of nuitka?

[2020-04-10 17:58] ajinabraham opened #434 "NoTokenLocation min_max, empty list exn while processing"
https://sgrep.live/ZLw
[code]

[2020-04-10 18:42] DrewDennison opened #435 "Allow object patterns directly for Javascript"
`{..., xssProtection: false, ...}` fails to parse

https://sgrep.live/405

[2020-04-10 18:44] ievans opened #436 "javascript parser can't handle ... inside object { }"
See example here:

https://sgrep.live/QLZ

Parse of pattern
[code]
fails

[2020-04-10 18:46] ievans commented on #436
dupe of #435

[2020-04-10 18:46] #436 closed, assigned to nobody

[2020-04-10 19:30] ajinabraham opened #437 "Distinguish output types WARNING or ERROR using appropriate colors"
**Is your feature request related to a problem? Please describe.**
The current cli for mac is printing all the severity types with same colour. It is difficult to distinguish between WARNING and ERROR. Also it would be nice to have the severity printed alongside the finding.

[2020-04-10 19:50] nbrahms commented on #430
@aryx shouldn't it not return past the last matching statement though?

[2020-04-10 19:54] aryx commented on #430
Yes it should not, but fixing that require changing the interface of how the visitor and matcher cooperate with each other (the matcher will need to not only return a boolean and metavariable environment, but possibly a subset of the stmts when matching stmts).

[2020-04-10 19:56] aryx commented on #430
I've added stmts matching after stmt matching and expression matching, and you dont have the problem with the stmt/expr matching. You visit all stmt/expr, and when there's a match just print the whole stmt/expr. For stmts things are different because we implicitely add a '...' at the end, and this '...' matches all the rest.

[2020-04-10 20:47] mschwager opened #438 "Move default Docker analysis directory"
This directory is currently:

[code]

To shorten Docker volume command line arguments let's move this to something like `/code`.

`docker run -v "${PWD}:/home/repo"` is now coming up a lot - `docker run --rm -v "${PWD}:/code"` is a bit shorter and easier to remember. Also, `sgrep` doesn't require the directory to be a code repository, as far as I can tell. So `repo` is a bit of a misnomer.

We'll

[2020-04-10 22:09] brendongo opened #439 "Release on Tag"
Create Github Actions so that on tag the following are accomplished:

- [x] build ubuntu18.04 binary
- [x] build macOS binary
- [x] build new docker image
- [x] create GH release
- [x] Upload ubuntu and macOS binaries to github release page along with associated hashes
- [x] Push docker image to dockerhub with correct tag

[2020-04-10 22:10] brendongo opened #440 "Rename to semgrep"
Rename the `sgrep` directory to `semgrep-core` and rename `sgrep_lint` to `semgrep`. Update names of binaries, constants, and files as required.

[2020-04-10 22:20] brendongo opened #441 "End to end test for build artifacts"
Have a sanity check of running sgrep-lint from the binaries/build artifacts created by the build scripts/github actions. Running a simple rule over a small file should be sufficient. In particular it would be a good check to install the binaries where system python is 3.5 or even 2.7.

[2020-04-10 22:27] brendongo commented on #410
Tracking on https://github.com/returntocorp/sgrep/issues/439 instead

[2020-04-10 22:28] #410 closed, assigned to nobody

[2020-04-10 22:28] brendongo commented on #409
Tracking on https://github.com/returntocorp/sgrep/issues/439 instead

[2020-04-10 22:28] #409 closed, assigned to nobody

[2020-04-10 22:50] brendongo opened #442 "semgrep in go"
Achieve feature parity with current sgrep-lint but in golang

[2020-04-10 23:18] ievans opened #443 "`...` operator doesn't match 0 statements, only 1 or more"
**Describe the bug**
`...` operator doesn't match 0 statements, only 1 or more in javascript. See code example.

**To Reproduce**
https://sgrep.live/PLW

**Expected behavior**
It's expected that  the snippet:
[code]

matches a superset of what:
[code]
would match, but this does not happen (see line 19-22 in the snippet provided)

[2020-04-10 23:40] ievans commented on #442
What will happen to the "pattern-where-python" functionality in the golang port?

[2020-04-10 23:46] ievans commented on #440
cc @DrewDennison for the domain names and sgrep.live updates

[2020-04-11 19:04] ievans commented on #440
Also, do we really need to rename the sgrep core? What if semgrep is the public name but we just leave the `sgrep` directory alone?

[2020-04-12 02:19] #386 closed

[2020-04-12 02:19] #397 closed, assigned to nobody

[2020-04-13 16:23] nbrahms commented on #363
Closes #176

[2020-04-13 17:28] bburky opened #448 "Parse error in remote-curl.c from git"
A couple notes on a sgrep's parsing of a C file:

When I was testing curl options sgrep, I tried to use [remote-curl.c](https://github.com/git/git/blob/9fadedd637b312089337d73c3ed8447e9f0aa775/remote-curl.c) from git's source code, but sgrep has a parse error [on line 1220](https://github.com/git/git/blob/9fadedd637b312089337d73c3ed8447e9f0aa775/remote-curl.c#L1219-L1220). It looks like git [defin

[2020-04-13 17:43] dlukeomalley commented on #440
@brendongo @rcoh @nbrahms Since we're getting more users this week for semgrep and meetups continue to happen, could we prioritize the name change this week?

CC @pabloest if external marketing/content needs to change.

[2020-04-13 17:45] rcoh commented on #440
I'm working on this today.

[2020-04-13 18:35] IagoAbal commented on #252
Hi!

I want to give this a try, but I have some comments.

My first comment is whether this should be a warning or an error. If a language does not allow something like `$x` as an identifier, then I guess that `$x` is guaranteed to match nothing. If that's the case, couldn't this be an error instead? Warnings are easy to miss.

There seems to be two definitions of meta-variable. One comes from Pff

[2020-04-13 18:49] brendongo opened #449 "Think through sgrep boolean/set composition format"

[2020-04-13 18:51] brendongo commented on #440
Functionally no but I think we want to avoid having both sgrep and semgrep as executables.

[2020-04-13 18:59] ievans commented on #400
@aryx is this an OOM kill?

[2020-04-13 20:20] DrewDennison commented on #440
@brendongo lmk when you want me to change any domain pointers i.e. sgrep.dev, docs.sgrep.dev, and sgrep.live

[2020-04-13 20:48] pabloest commented on #440
What do y’all think of using `.org` as the TLD for semgrep?

[2020-04-13 21:03] aryx commented on #252
On Mon, Apr 13, 2020 at 8:35 PM Iago Abal <notifications@github.com> wrote:

Hi Iago, thx for doing this.

Yes error is probably better.

The important one is Metavars_generic.is_metavar_name. Recently the code in
sgrep/sgrep/lib/ got split and the fuzzy stuff has been moved out in
sgrep/sgrep/lib_fuzzy as it's not
as important that  the ast_generic part of sgrep.

Yes we could modify Ast_generic

[2020-04-14 00:12] inkz opened #452 "Match any string ("...") tackles non string values"
https://sgrep.live/g1Z

while testing this rule:
[code]

it seems like this part `"..."` works even for non string values:

[code]

Noticed this behaviour only inside function calls

[2020-04-14 00:22] brendongo commented on #452
https://sgrep.live/QyQ Looks like core issue is maybe "..." is matching null

Also: https://sgrep.live/39p

[2020-04-14 05:35] #404 closed, assigned to DrewDennison

[2020-04-14 08:12] aryx commented on #400
pad@yrax:/etc$ cat issue
Ubuntu 18.04.4 LTS \n \l

pad@yrax:/etc$ nuitka3 --version
0.6.7
Python: 3.7.5 (default, Nov  1 2019, 19:15:52)
Executable: /home/linuxbrew/.linuxbrew/opt/python/bin/python3.7
OS: Linux
Arch: x86_64

Maybe an OOM kill. Looks like the linker had a hard time.

[2020-04-14 08:22] aryx commented on #400
Nuitka:INFO:Embedded as frozen module 'io'.

and taking forever with 8 cores at 99% CPU.
  PID USER      PR  NI    VIRT    RES    SHR S  %CPU %MEM     TIME+ COMMAND
 9959 pad       20   0  420920 384284  19340 R  95.7  2.4   1:03.23 lto1-ltrans

%MEM seems ok

[2020-04-14 08:23] aryx commented on #400
and then it stopped with:
Nuitka:INFO:Colliding DLL names for libcrypto.so.1.1, checking identity of '/home/linuxbrew/.linuxbrew/opt/openssl@1.1/lib/libcrypto.so.1.1' <-> '/home/linuxbrew/.linuxbrew/Cellar/openssl@1.1/1.1.1d_1/lib/libcrypto.so.1.1'.
Nuitka:INFO:Included used shared library '/home/linuxbrew/.linuxbrew/Cellar/python/3.7.5/lib/libpython3.7m.so.1.0' (used by build/sgrep.dist/sgrep, bu

[2020-04-14 08:25] aryx commented on #400
ok, sudo apt-get install chrpath
(the error seems different this time). No idea about this chrpath dependency though.

[2020-04-14 08:39] aryx commented on #400
it works!
but make install does not work now ... well it does stuff but I can't exec sgrep-lint.

[2020-04-14 08:39] #400 closed, assigned to brendongo

[2020-04-14 08:43] aryx opened #456 "compiled sgrep_lint does not work under Linux"
Not sure why but I had to rm -rf /usr/loca/bin/sgrep-lint-files/ to have 'make install'
create the appropriate symlinks.

But then I get an error when running sgrep-lint:

pad@yrax:~$ sgrep-lint
Traceback (most recent call last):
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
...
File "<frozen importlib._bootstrap>", line 906, in _find_spec
  File "<frozen importlib._bootstrap

[2020-04-14 08:45] aryx commented on #442
This is a mistake ...

[2020-04-14 08:47] aryx commented on #440
I think it's better to change also the sgrep internal directories, just so that we also internalize the change. If each time I have to cd semgrep-core, I will remember more that we changed the name.

[2020-04-14 15:30] mschwager opened #457 "Clean up README configuration example"
In #423 there was continued discussion on how best to provide a configuration example: https://github.com/returntocorp/sgrep/pull/423#discussion_r406358879. The PR has since been merged in. To allow others an opportunity to iterate on this information we can track this work here.

[2020-04-14 16:54] #429 closed, assigned to aryx

[2020-04-14 16:55] ievans opened #461 "should exit non-zero if config is invalid"
**Describe the bug**
sgrep-lint does not exit with non-zero if no config was passed (or the config is invalid, possibly?)

**To Reproduce**
ine@imbp4 ~/D/r/sgrep (ie/perfttest)> docker run --rm -v (pwd):/home/repo returntocorp/sgrep:develop
ine@imbp4 ~/D/r/sgrep (ie/perfttest)> docker run --rm -v (pwd):/home/repo returntocorp/sgrep:develop --verbose
DEBUG is on
loaded 1 configs in 0.00102567672729

[2020-04-14 16:58] ievans opened #462 "use .opam for documentation of all dependencies excusively"
we repeat something like `opam install -y reason dune ocamlfind camlp4 num ocamlgraph json-wheel conf-perl yaml` all over the place.

Ideally, we would use the .opam file to manage these deps rather than specifying them in dockerfiles.

This is currently causing build failures because it looks like PRs would work but now the release builds are failing https://github.com/returntocorp/sgrep/runs/586

[2020-04-14 19:51] #462 closed, assigned to DrewDennison

[2020-04-14 19:53] #461 closed, assigned to nobody

[2020-04-14 20:21] aryx opened #467 "syntax highlighting in sgrep.live"
This can help users!

Note that pfff has all the code to do syntax highlighting, even semantic highlighting!
see the different higlight_xxx.ml in pfff.

[2020-04-14 22:08] minusworld commented on #442
Other options mentioned, I think
- ReasonML, which has a JS-like syntax and is interopable with Ocaml, which can then compile
- Rust?

[2020-04-15 08:40] aryx commented on #452
Thx @brendongo, yes that's the issue.

[2020-04-15 08:40] aryx commented on #452
thx for the minimal test also.

[2020-04-15 11:39] #452 closed, assigned to nobody

[2020-04-15 12:54] aryx commented on #448
The C parser in sgrep uses some heuristics to parse C code before preprocessing.
For more information about this, see the paper "Parsing C/C++ Code without Pre-processing"
https://link.springer.com/content/pdf/10.1007/978-3-642-00722-4_9.pdf

Those heuristics sometimes fail, but sgrep now provides a way to define a set of macros to partially and internally expand via -macros. See the example in th

[2020-04-15 12:59] aryx commented on #389
What was the command you ran? I don't see how sgrep -lang go can give error in C files.

[2020-04-15 14:23] aryx commented on #389
I've fixed -exclude-dir, so you should be able to exclude the vendor directory.

Regarding the parse error in .c and .h files, this is quite normal. The C parser in sgrep uses heuristics to parse C code before preprocessing (see https://github.com/returntocorp/sgrep/issues/448 for more information) and so sometimes it fails. I've added another command line option, -macros, to specify a file contai

[2020-04-15 16:51] #371 closed

[2020-04-15 16:54] rcoh opened #471 "sgrep minimal linux installer"
A quick install script that is reliable, based on the existing nuitka machinery.
- [x] Works on 16.04
- [x] Works on 18.04
- [x] Doesn't screw up your lib folder
- [x] named semgrep
- [x] tested with the release validation job

Will eventually be replaced by #372

[2020-04-15 16:57] ulziibay commented on #411
Closing it as I wont action on it further!

[2020-04-15 16:57] #411 closed, assigned to nobody

[2020-04-15 16:59] ulziibay commented on #327
@minusworld i closed my PR for supporting metavar in import declarations, because it a pretty big feature spanning multiple language. I am not going to be able to implement that. Feel free to close this ticket or leave it open to be reprioritized!
[code]

[2020-04-15 17:01] rcoh opened #472 "Get semgrep in homebrew core"
Currently, semgrep is installed via tap. It meets the requirements to be packaged in homebrew core as is, _but_ this will be easier once semgrep_lint is finalized and it will limit the amount of changes we'll need to make to the brew-core recipe, but could technically start now if we want.

[2020-04-15 22:22] mschwager commented on #380
Woops, this isn't done yet.

[2020-04-15 23:02] clintgibler opened #478 "Filter allowable imports in `pattern-where-python` to limit potential risk from untrusted rules"
**Is your feature request related to a problem? Please describe.**
This isn't directly a problem or a bug, but a potential hardening step.

The `pattern-where-python` clause allows rule writers great flexibility in matching patterns by allowing them to vet what is matched with arbitrary Python code.

However, a malicious rule author who is able to trick a victim user to running a malicious rule co

[2020-04-16 00:49] bburky commented on #448
Thanks, that helps clarify the parsing behavior. It makes sense that it's impossible to perfectly parse preprocessor statements that don't fall on clean boundaries. I didn't notice that the `#if` spanned across `else if` branches, it makes sense now that it didn't work.

The `-error_recovery` flag looks good and would allow me to still get partial results. If I'm using sgrep to scan unknown codeba

[2020-04-16 05:53] DrewDennison commented on #405
#403 is merged so this is unblocked

[2020-04-16 05:56] DrewDennison commented on #380
@mschwager what's your availability for completing this given your other work this week?

[2020-04-16 07:47] aryx commented on #389
Closing. Let me know if you still have the problem.

[2020-04-16 07:47] #389 closed

[2020-04-16 07:50] #448 closed, assigned to nobody

[2020-04-16 11:40] #434 closed, assigned to aryx

[2020-04-16 13:25] aryx commented on #434
Note that I've fixed only the Exception problem. The rule ajin wrote require sgrep-lint to match metavars in different patterns together (which should be possible now thx to the single unique id return by sempgrep-core for each metavariable).
cc @ievans @brendongo

[2020-04-16 13:26] aryx commented on #405
See https://github.com/returntocorp/sgrep/issues/434 as an example which require this feature.

[2020-04-16 13:48] aryx commented on #425
thx @brendongo for the minimal example

[2020-04-16 14:34] aryx commented on #425
yield kwd argument is also invalid in python2.

[2020-04-16 15:21] #425 closed, assigned to aryx

[2020-04-16 16:59] brendongo commented on #449
Ramblings on capture groups and subroutines [here](https://returntocorp.quip.com/4vr9AvBjLete/WIP-Sgrep-New-Syntax-Proposals). Work will probably happen after some refactoring.

[2020-04-16 17:04] brendongo opened #487 "Split up large functions in sgrep-lint to be more modular and readable"
Goal is to make it easier to cut down some techdebt and make it easier to add features to sgrep-lint in the future.

[2020-04-16 17:15] clintgibler opened #488 "Add docs for matching annotations in sgrep rules"
**Is your feature request related to a problem? Please describe.**
Sgrep currently has functionality for matching annotations in Java and Python. We should add useful examples of how to do this in the documentation, likely in `docs/config/simple.md`.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

We should include at least the following cases:
*

[2020-04-16 23:32] ievans opened #492 "javascript AST generic generation error: void 0"
apparently
[code]
is valid Javascript. Who knew? https://stackoverflow.com/questions/7452341/what-does-void-0-mean

sgrep currently throws an AstGenericError for this case

https://sgrep.live/zZW

[2020-04-16 23:34] DrewDennison commented on #492
https://github.com/denysdovhan/wtfjs is a good source of test cases / patterns we should write

[2020-04-16 23:34] ievans opened #493 "report error context to sgrep-lint"
**Is your feature request related to a problem? Please describe.**
(First line after command is stderr) Currently parse errors look like this:
[code]

**Describe the solution you'd like**
If the position information was passed in the JSON output, sgrep-lint could display it as well. This would be helpful for end-users as they don't see the sgrep-core stderr message

[2020-04-16 23:39] ievans commented on #492
@DrewDennison I just checked and it looks like we pass all those cases.

[2020-04-17 11:58] aryx commented on #472
I thought there was a minimum number of stars and forks to be accepted in Core. We meet that already?

[2020-04-17 11:59] #442 closed, assigned to rcoh

[2020-04-17 12:44] rcoh commented on #472
Yeah it's 80

On Fri, Apr 17, 2020, 7:59 AM Yoann Padioleau <notifications@github.com>
wrote:

[2020-04-17 15:06] #492 closed, assigned to aryx

[2020-04-17 15:31] nbrahms commented on #348
@aryx Is this done?

[2020-04-17 15:51] aryx commented on #348
Not sure. @DrewDennison may know. Not following what are the current build script.
@rcoh also. We should be compatible with ocaml > 4.05 now, no need to opam switch create 4.07.1 anymore.

[2020-04-17 16:12] ajinabraham opened #498 "Support Meta information in rules"
**Is your feature request related to a problem? Please describe.**

Currently any additional fields to the rule gammer is not allowed. It would be nice to support that. This is helpful for SAST tools to take advantage of extra meta.
For example
[code]
or something like
[code]

[2020-04-17 16:53] nbrahms commented on #381
@dlukeomalley to indicate where this should go

[2020-04-17 17:01] DrewDennison commented on #498
hey @ajinabraham got this added in https://github.com/returntocorp/sgrep/pull/460/files I'm working on a release today. Would you mind taking a look at the PR and let me know if `metadata:` works for your needs?

[2020-04-17 17:11] brendongo commented on #406
We have a general release checklist and the github actions + scripts generally work. Will track bugs that popup from this as they pop up.

[2020-04-17 17:11] #406 closed, assigned to DrewDennison, brendongo

[2020-04-17 17:30] clintgibler opened #501 "Getting a summary of the root causes of semgrep parse errors"
To better prioritize which semgrep parsing errors to fix first, it would be useful to get a summary of which files failed to parse for which reasons.

## Current State

Currently, running semgrep on a repo will yield a series of errors like this:

[code]

### Problems
* The above prints the same `AstGenericError` even when the root cause is different (see the parsing errors section of https://gith

[2020-04-17 17:45] ajinabraham commented on #498
Exactly what I need!

[2020-04-17 17:45] #498 closed, assigned to nobody

[2020-04-17 22:37] dlukeomalley commented on #501
Thank you for filing @clintgibler. I think this is a duplicate (a helpfully detailed one!) of #383. If it's ok, I'd like to close this ticket and make sure #383 gets prioritized for this next sprint.

[2020-04-17 22:37] #501 closed, assigned to aryx

[2020-04-17 22:39] nbrahms commented on #493
@ievens This appears to be a duplicate of #383, so I'll close it. Please reopen if you wish to disambiguate the two.

[2020-04-17 22:39] #493 closed, assigned to nobody

[2020-04-17 23:21] nbrahms opened #504 "Better documentation on how to install linux and macOS"
for beta releases that are tagged and thus released on the Releases page, how do we install this both on our dev machine and on random linux CI boxes as is often the case.

[2020-04-17 23:21] nbrahms opened #505 "Document how to set up semgrep dev environment"
Should have a document that makes it easy for a new developer to get a locally compiled instance of semgrep and semgrep-core running.

This includes:
- [x] dependencies to install like ocaml, opam, etc
- [x] how to install pfff
- [x] how to install semgrep-core
- [x] how to install semgrep

[2020-04-17 23:21] nbrahms opened #506 "Document how to release semgrep"
@DrewDennison to fill in DoD

[2020-04-17 23:52] DrewDennison opened #507 "set `--version` during the build so it matches the Git Tag"

[2020-04-17 23:55] ievans commented on #507
duplicate of https://github.com/returntocorp/sgrep/issues/76

[2020-04-17 23:55] #507 closed, assigned to nobody

[2020-04-18 03:42] ajinabraham opened #510 "Semgrep does not return severity"
**Is your feature request related to a problem? Please describe.**

sgrep-lint does not return `severity`
[code]

**Describe the solution you'd like**
The results should have `severity`

**Additional context**
On `experimental` branch

[2020-04-18 19:33] DrewDennison opened #512 "regex not working in JS object key"
https://sgrep.live/4Xz does not work but

if it's a hard coded value it does: https://sgrep.live/PvW

[2020-04-19 18:26] ajinabraham commented on #512
On further investigation this is only a problem at sgrep.live - https://sgrep.live/4Xz?version=experimental
The match is getting detected locally it seems.

using sgrep experimental branch
[code]
[code]

[2020-04-19 18:30] ajinabraham opened #513 "Range of matched statement patterns is wrong"
https://sgrep.live/54X?version=experimental

Why `$VAL = '*' ` is not strictly respected and it matches everything else as if `$VAL` is just an un assigned metavar. The matching should stop at `res.set('access-control-allow-origin', x);`

[2020-04-19 19:03] ajinabraham opened #514 "multiple metavars in one line with string concatination fails to match"
https://sgrep.live/Go2?version=experimental

Why Line 5 is not getting matched?
Multiple metavars in one line is not respected.

On a side note. A good thing to have is the **ability to check if a metavar in any form reach a sink**.  For example in this case,
[code]

I need to know if the metavar `$REQ` reaches `connection.query()` in any format. It can be multiple variables, string concatenation,

[2020-04-19 19:36] ajinabraham commented on #510
Thanks for #511 @DrewDennison

Can 'INFO' be added?

As per SARIF SAST format
[code]
Ref: http://docs.oasis-open.org/sarif/sarif/v2.0/csprd01/sarif-v2.0-csprd01.html

[2020-04-19 20:43] DrewDennison commented on #510
for sure

[2020-04-20 16:15] #449 closed, assigned to brendongo

[2020-04-20 19:49] ulziibay opened #519 "[GoLang] go functions are not matched when return type is specified"
**Describe the bug**
A clear and concise description of what the bug is.
[code]
does not match
[code]
https://sgrep.live/2v0

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://sgrep.live:
https://sgrep.live/2v0

**Expected behavior**
A clear and concise description of what you expected to happen.
Expect the function matcher to match regardless of the return type!

**Scree

[2020-04-20 19:59] ulziibay commented on #519
This unblockes https://github.com/returntocorp/enterprise/issues/90

[2020-04-20 20:32] DrewDennison opened #520 "Investigate slow semgrep perf"
Scanning over https://github.com/sobolevn/python-code-disasters has my CPU pinned at 100% for 2 hours.

[code]

Adding as a performance investigation / something to add to our perf regression suite.

[2020-04-20 21:11] minusworld opened #521 "Static methods from imported classes are not detected"
**Describe the bug**
When writing a pattern, does not detect static methods called directly from an imported class.

**To Reproduce**
Here is what I want to write:
https://sgrep.live/jeY

I tried with the fully-qualified path, too:
https://sgrep.live/1vw

But it does work with a metavariable:
https://sgrep.live/9JY

When I dump the AST, it looks like it doesn't check to see if Cipher is an importe

[2020-04-20 21:15] dlukeomalley commented on #520
@nbrahms has hit some similar performance pains with semgrep in Bento recently. Not quite this bad, but perhaps further test cases for us to follow-up on.

[2020-04-20 22:16] minusworld opened #522 "Support ... in Java annotations"
**Is your feature request related to a problem? Please describe.**
It looks like sgrep doesn't support `...` in method decorators yet.
See https://sgrep.live/yjx?version=develop, which works, vs.
https://sgrep.live/rrn?version=develop, which does not.

[2020-04-21 04:33] DrewDennison opened #523 "respect .gitignore when searching for code"
most code search tools, ripgrep, ag, and other dev tools like black all by default respect the choice that the code owner made when adding to `.gitignore`

Proposed change:
Add `--no-ignore` to opt-out but otherwise respect .gitignore

[2020-04-21 15:28] underyx opened #525 "semgrep-lint crashes if /tmp doesn't exist"
**Describe the bug**

I think this line is where we expect `/tmp` to exist https://github.com/returntocorp/semgrep/commit/bc39236b35c99eea436228189eff5f4097266abd#diff-2c8973c1a63d95e440b7c99e07c47b7dR189 and semgrep-lint crashes if it doesn't.

**To Reproduce**

1. Make sure there's no `/tmp`
2. Run `sgrep` tool via bento

**Expected behavior**

semgrep should use `/var/tmp` in docker contexts wh

[2020-04-21 16:40] ulziibay opened #526 "[GoLang] array or pointers are not matched during return type matching"
**Describe the bug**
When return type of a function is simple (e.g. https://semgrep.live/7bZ) semgrep matches fine.
However, when the return type is array (e.g. https://semgrep.live/L7r) or pointers (https://semgrep.live/88y), metavars does not match!

**To Reproduce**
https://semgrep.live/L7r or https://semgrep.live/88y

**Expected behavior**
Metavar should match any type!

**Screenshots**
If app

[2020-04-21 16:41] ulziibay commented on #519
Work around here is to use metavar for the return type: see  https://semgrep.live/7bZ.
However, there is improvements to be made there. See https://github.com/returntocorp/semgrep/issues/526

[2020-04-21 16:41] #519 closed, assigned to nobody

[2020-04-21 16:41] ulziibay commented on #526
This unblocks custom checks for returntocorp/enterprise#90

[2020-04-21 17:13] ievans commented on #525
Probably the preferred solution here is to use NamedTemporaryFile as is done elsewhere in the Python

[2020-04-21 18:56] amanagr opened #529 "Good Lines and Bad Lines for a pattern."
We in https://github.com/zulip/zulip print `good_lines` and `bad_lines` for pattern to help user better understand the error and how it can be resolved. For eg:

[code]

You can see, how we tell user to use `topic` instead of `subject` through a good line example.
Similar examples can be found on https://github.com/zulip/zulip/blob/master/tools/linter_lib/custom_check.py

Ideal solution would be a

[2020-04-21 20:06] #487 closed, assigned to brendongo

[2020-04-21 22:21] andersk commented on #529
The other use of `good_lines` and `bad_lines` in Zulip that’s just as important, if not more important, is to verify that you wrote the pattern correctly. We print an error if a line in `good_lines` matches or a line in `bad_lines` doesn’t match. This concept would be valuable for `sgrep-lint` too (of course, with `sgrep-lint`, we might be talking about multi-line snippets instead of just single l

[2020-04-21 22:48] ievans commented on #529
Thanks for that clarification @andersk. We have a similar concept in the sgrep-rules repository around test suites, but they are a comment syntax inside standalone python files instead of living inside the rule file. C.f. https://github.com/returntocorp/semgrep-rules/tree/develop/python/compatibility or the "all tests pass" output in https://semgrep.live/GLp

This is a good setup because some of t

[2020-04-22 02:20] dlukeomalley commented on #529
Thanks for filing this ticket @amanagr! In the release Zulip uses there is support for a `metadata` key, see [documentation](https://github.com/returntocorp/semgrep/blob/experimental/docs/config/advanced.md#metadata). I think we can use that key to get the good/bad example functionality you need:

[code]

Would this work for you for now?

[2020-04-22 02:56] andersk opened #535 "Fails to parse valid Python f"{var:+g}""
**Describe the bug**
[code]

**Environment**
Official semgrep-v0.4.11b7-ubuntu-16.04.tgz binary.

[2020-04-22 03:08] dlukeomalley commented on #535
Queuing this up to investigate. Thank you for the repro steps @andersk.

[2020-04-22 05:09] amanagr opened #536 "Incorrect version output in release 0.4.11b7"
After extracting files via:
[code]
and running:
[code]
outputs: `0.4.9`

**Expected behavior**
version should be `0.4.11b7`

[2020-04-22 05:31] dlukeomalley commented on #536
@amanagr We'll cut a release shortly to address this, thank you for the ticket.

[2020-04-22 08:17] aryx opened #537 "IL for taint tracking"
AST generic to IL translation to ease up future work on taint tracking.

[2020-04-22 10:00] underyx opened #538 "do-release workflow should run `semgrep --version` and assert the printed version equals the tagged version"
This would prevent issues like this https://github.com/returntocorp/semgrep/issues/536

[2020-04-22 10:03] underyx opened #539 "'Create draft release' workflow should add the .tgz archive hashes in the release body"
This would save some time when we (or others) try to verify the archive integrity with `sha256sum`, such as here https://github.com/zulip/zulip/blob/859b48c491cf800078eecccddf495677c802aa43/tools/setup/install-sgrep#L6

[2020-04-22 15:02] underyx commented on #536
Hey @amanagr, we've just released `0.4.11b8` with the correct `--version` output. You can get it with these install script parameters:

[code]

Sorry about the inconvenience! You might've seen above, we plan to add a safeguard to not be able to make this mistake again: https://github.com/returntocorp/semgrep/issues/538

[2020-04-22 15:02] #536 closed, assigned to underyx

[2020-04-22 19:57] rcoh commented on #539
This is done: https://github.com/returntocorp/semgrep/pull/516, but has never been used on a real release. We can close this issue once we've made a new release and it actually works.

[2020-04-23 00:35] rcoh commented on #472
I think we should deprioritize this -- with the new setup people can brew install with one comman and no manual tapping

[2020-04-23 00:51] minusworld opened #550 "Java: Does not detect methods inside other methods"
**Describe the bug**
semgrep does not appear to match methods inside other methods.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://sgrep.live:
https://semgrep.live/wvY

**Expected behavior**
I would expect it to match line 5 in https://semgrep.live/wvY.

**Screenshots**
![image](https://user-images.githubusercontent.com/2374948/80047279-daa4a800-84c1-11ea-9253-8f72cd4

[2020-04-23 01:08] brendongo opened #551 "Only validate release notes on non-beta releases"
validate-release github action checks that change notes were added but we probably wont be adding these for beta releases. Current workaround is to just add "Changed" and "Added" into the release page notes for the beta release.

[2020-04-23 01:22] brendongo commented on #439
After #426 #446 #450 #475 #546 #549 this is done

[2020-04-23 01:22] #439 closed, assigned to rcoh

[2020-04-23 01:24] brendongo commented on #372
Deprioritizing for now. For now an install script is sufficient.

[2020-04-23 01:30] brendongo commented on #440
Status: domain pointers are done, executable is now called semgrep and semgrep-core, directories are now called semgrep and semgrep-core. We have not touched internal ocaml code to convert references from sgrep to semgrep.

[2020-04-23 01:35] #440 closed, assigned to rcoh, DrewDennison

[2020-04-23 01:37] brendongo commented on #539
https://github.com/returntocorp/semgrep/releases/tag/v0.5.0b1 has the hashes in the release. Thanks @rcoh

[2020-04-23 01:37] #539 closed, assigned to nobody

[2020-04-23 02:01] ajinabraham opened #554 "Match variables inside JS Template literals"
Couldn't figure out a way to match this.

https://semgrep.live/xvz

How to match line 2 precisely?

Ref: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals

[2020-04-23 07:41] amanagr commented on #536
Thanks for the quick fix.

[2020-04-23 08:57] amanagr opened #555 "ParseError after upgrading to latest release."
After upgrading to the latest beta release and running sgrep, I am seeing `ParseError` on some files.
[code]

GIT DIFF:
[code]

Files can be found in https://github.com/zulip/zulip repo.
Let me know if I can help debug in any way.

[2020-04-23 11:07] amanagr commented on #555
Apparently, it is unable to parse `nonlocal varname` in these files.

[2020-04-23 14:13] ievans commented on #555
@amanagr thanks for this bug report! This is indeed a regression in the unreleased beta that is not present in the 0.4.9 release. Here is a minimal reproduction showing that failure to parse `nonlocal varname`: https://semgrep.live/ZwD?version=develop

[2020-04-23 16:53] aryx commented on #555
Oops, 3 characters mistake ...

[2020-04-23 17:02] brendongo opened #556 "Release semgrep 0.5.0"

[2020-04-23 17:04] ievans opened #557 "Include regression testing across a large corpus for parser errors as part of release process"
#555 noted a regression from 0.4.9 to develop in the parsing infrastructure.

It would be fairly easy for us to track the number of parsed errors (ideally baseline = 0) across a bunch of large / popular repos for our supported languages (we could even use platform for this). I know @aryx did this work when initially adding support so we should start by just setting up a test script we can run as p

[2020-04-23 18:00] #535 closed, assigned to aryx

[2020-04-23 18:00] #555 closed, assigned to aryx

[2020-04-23 19:35] ievans opened #562 "parse error for javascript async () keyword in anonymous function"
[code]
Gives:
[code]

Full repro: https://semgrep.live/QR4

[2020-04-23 19:56] ievans opened #563 "unicode decode error (utf-8 assumption) in semgrep"
[code]
observed on webkit

[2020-04-23 20:25] dlukeomalley commented on #562
@ievans What priority is this bug for you? Thanks!

[2020-04-23 20:56] ievans commented on #562
Low priority

[2020-04-24 02:55] andersk opened #572 "Fails to parse valid Python f"{var:,f}""
**Describe the bug**
[code]

**Environment**
Official semgrep-v0.5.0b2-ubuntu-16.04.tgz binary.

[2020-04-24 02:57] dlukeomalley commented on #535
@andersk We'll include this in a Zulip release tomorrow.

[2020-04-24 02:58] dlukeomalley commented on #555
@amanagr We'll include this in a Zulip release tomorrow.

[2020-04-24 03:03] dlukeomalley commented on #572
Queuing this up! Should have a few bug fixes landing tomorrow. Thank you @andersk.

[2020-04-24 03:04] dlukeomalley commented on #529
@amanagr Am I good to close this issue?

[2020-04-24 03:23] brendongo commented on #572
Relevant: https://docs.python.org/3.4/library/string.html#format-string-syntax

[2020-04-24 03:36] andersk commented on #572
Indeed, although you should look at the [current version](https://docs.python.org/3/library/string.html#format-string-syntax), which has some additions since 3.4.

[2020-04-24 04:28] amanagr commented on #529
We also want the `pattern` to run on them and fail for the `good_lines` and pass for the `bad_lines` so that we know the pattern was correctly written. I understand I can print good lines and bad lines with `--json` argument, this will help us transition to sgrep, but we would still like sgrep to support this feature in coming future.

[2020-04-24 05:30] ajinabraham opened #573 "semgrep lint cannot read rules under directories that start with a . (dot)"
**Describe the bug**
Due to this https://github.com/returntocorp/semgrep/blob/bf3f33bf851402cc708ed7500188b342236a7e8b/semgrep/semgrep/config_resolver.py#L131

Rule file directories that starts with a `.` are skipped.

I am using tox to run tests.
semgrep rules are loaded from

`/***/njsscan/.tox/py37/lib/python3.7/site-packages/njsscan/rules/semantic_grep`

semgrep won't load the rules due to `.t

[2020-04-24 05:48] DrewDennison commented on #573
hey @ajinabraham believe it or not this was a design choice because I was trying to avoid yaml parse errors from `.github`, `.circleci` etc which all have yaml files. The logic lives in https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/config_resolver.py#L134 I remember putting an escape hatch so if it's `.semgrep` or `.tox-semgrep` it should work but happy to accept PR or I'll

[2020-04-24 06:02] ajinabraham commented on #573
Make sense. I think I can control tox dir. Let me try that and will update here.

[2020-04-24 06:16] DrewDennison commented on #573
cool. It's still a good bug to support hidden files/folders especially if it's an explicitly passed in path

[2020-04-24 07:33] #537 closed, assigned to aryx

[2020-04-24 16:57] mschwager commented on #380
I'm going to iterate on the simple docs then I'll call this done :+1:

[2020-04-24 16:58] brendongo opened #576 "Add rule/parse acceptance tests to semgrep"
As part of tests run semgrep on a set of repos to verify that we don't have regressions in parsing code files.

[2020-04-24 20:39] DrewDennison opened #577 "Bug in go r2c.go.deadcode.useless-ifelse matching"
// Edit (@dlukeomalley): https://semgrep.live/pKxk

**Describe the bug**
A clear and concise description of what the bug is.

running

[code]

Over https://github.com/palantir/bulldozer specifically

https://github.com/palantir/bulldozer/blob/7d497e18beaee065a6ca90716902126b52cfd2c0/vendor/gopkg.in/yaml.v2/readerc.go#L45 flags

but the bodies are clearly different

[code]

**To Reproduce**
Steps t

[2020-04-24 20:43] ievans opened #578 "Fails to parse python2 print command with tuple list argument"
**Describe the bug**
Sgrep fails to parse valid Python2 code, even with a python2 lang flag.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://sgrep.live:

Given input:
[code]

[code]

**Expected behavior**
This is valid python2 ,should parse

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
If not using sgrep.live: are you ru

[2020-04-24 21:48] brendongo opened #580 "Parse Error in Javascript with Array Destructuring"
Fail to parse in cases when the first element of the destructing is ignored and the rest is assigned.

https://semgrep.live/Jpo

Putting the example here:

This fails
[code]
but
[code]
and
[code]
parses correctly so it is not an issue with ignoring or the ... operator but something when they interact together.

**Environment**
Using version 0.4.9

[2020-04-24 21:48] brendongo commented on #580
Exists in the wild here: https://github.com/lodash/lodash/blob/master/tail.js#L18

[2020-04-24 22:19] brendongo opened #581 "Fatal Error Parsing Javascript Rest Parameter in ForEach"
Fail to parse object with spread operator when inside a foreach anonymous function definiton:

[code]

https://semgrep.live/AWg

Real life example https://github.com/apache/incubator-superset/blob/29dd9894838fccb014d870b07cf0a14e0919dd13/superset-frontend/src/dashboard/util/logging/getLoadStatsPerTopLevelComponent.js#L28

[2020-04-24 22:27] brendongo opened #582 "FatalError in parsing javascript every"
Failing to parse https://github.com/apache/incubator-superset/blob/29dd9894838fccb014d870b07cf0a14e0919dd13/superset-frontend/src/dashboard/util/getFilterScopeFromNodesTree.js#L36 correctly.

Managed to get a minimal example of failing to parse here:
[code]
https://semgrep.live/Dq2

but I am not familiar enough with this syntax to know what is wrong in particular.

[2020-04-24 23:00] dlukeomalley commented on #275
@DrewDennison Following up, still affecting you?

[2020-04-24 23:15] nbrahms commented on #513
@aryx Can you confirm that this is due to https://github.com/returntocorp/semgrep/issues/430 ?

[2020-04-25 18:58] ajinabraham commented on #573
I tried this as a work around for now
[code]

[2020-04-27 11:33] inkz opened #584 "Deep matching for nested objects (javascript)"
**Is your feature request related to a problem? Please describe.**
If I want to find all usages of certain expression (e.g. function call) I should look inside objects as situation like this is quite common:
[code]
or sometimes I want to find some values inside objects (e.g. secrets) but I do not care how deeply they are nested:

[code]

so I would like to have opportunity to find  expression in s

[2020-04-27 12:29] amanagr commented on #529
I tried out the `--json` argument, but its output is ugly. We want `bad_lines` and `good_lines` to be printed just like the `message`. I think this could be a very useful feature for you guys to advertise too.

[2020-04-27 14:17] aryx opened #585 "Plug taint-tracking into semgrep-core"

[2020-04-27 15:25] nbrahms commented on #584
@aryx Naïvely I'd think deep-expression matching should work for this already. Isn't `{ a: 1}` an expression?

[2020-04-27 16:22] #380 closed

[2020-04-27 16:36] dlukeomalley commented on #529
@amanagr Do you have sample output you're comfortable sharing here for discussion?

[2020-04-27 16:36] dlukeomalley commented on #529
@amanagr Do you have sample output you're comfortable sharing here for discussion?

[2020-04-27 18:23] amanagr commented on #529
on
[code]
Output: https://pastebin.com/wT5T52r0

sample:
`
{"results": [{"check_id": "tools.login_required-unsupported", "path": "analytics/views.py", "start": {"line": 81, "col": 2}, "end": {"line": 89, "col": 65}, "extra": {"message": "@login_required is unsupported; use @zulip_login_required", "metadata": {"good_lines": ["@zulip_login_required", "# foo @login_required"], "bad_lines": ["@login_r

[2020-04-27 18:25] amanagr commented on #529
We could reprocess this info and print it, but I think we would like to avoid it and have sgrep naturally support this feature to avoid future maintenance on our side which you guys are already doing.

[2020-04-27 20:38] aryx commented on #585
Done!

[2020-04-27 20:38] #585 closed, assigned to aryx

[2020-04-28 09:32] DrewDennison opened #593 "Range of statements pattern with '...' is wrong"
https://semgrep.live/Ang?version=develop

[code]

matches

[code]

IFF this code block follows a properly matching code block

I think it's related to being greedy until the end of the file

https://semgrep.live/GNB?version=develop matches

and the second code block by itself doesn't match:

https://semgrep.live/RNE?version=develop

[2020-04-28 09:44] DrewDennison commented on #593
@aryx can you confirm this is related to https://github.com/returntocorp/semgrep/issues/430?

[2020-04-28 15:49] aryx commented on #435
Could be ambiguity with block statements.
In Js it's possible you can have those object definitions just after certain tokens (return, =) but not at the start of a statement.

[2020-04-28 15:54] aryx commented on #584
Yes it is, but I think the problem is that { <... ...> } does not parse because <... ...> is an expression
but insude { } the parser expects a list of fields (not an expression).

[2020-04-28 15:56] nbrahms commented on #584
So presumably both
[code]
and
[code]
would work?

@inkz does this unblock you?

[2020-04-28 16:00] aryx commented on #584
It does not, but it should yes.

[2020-04-28 18:47] brendongo commented on #556
Released https://github.com/returntocorp/semgrep/releases/tag/v0.5.0

[2020-04-28 18:47] #556 closed, assigned to brendongo

[2020-04-28 20:58] brendongo opened #599 "Parsing date format strings in Python"
Semgrep unable to parse format strings for date objects: https://docs.python.org/3/library/datetime.html#strftime-and-strptime-format-codes

For example:
[code]
will print out `SINCE 28-Apr-2020`.

https://semgrep.live/Y7W

[2020-04-28 21:06] brendongo opened #600 "Spacing in Literal String Interpolation in Python"
Space inside '{}' in python f string causes parser to fail.

[code]
is valid python

https://semgrep.live/6dw

Real world example: https://github.com/home-assistant/core/blob/893f796df2b3243852f70341c8557109dcc33a80/homeassistant/components/greeneye_monitor/sensor.py#L111

[2020-04-28 22:39] ievans commented on #240
cc @brendongo : this is another python parsing related issue

[2020-04-28 22:43] brendongo opened #602 "Comma in String Interpolation is Implicit Tuple in Python"
If there is a comma after a variable in an f string interpolation it is treated as an implicit tuple (same behavior if there is a comma outside a string interpolation i.e. `x = 1,` -> x is `(1,)`)

[code]

https://semgrep.live/jyZ

[2020-04-28 22:44] brendongo commented on #602
Real world example: https://github.com/home-assistant/core/pull/34833

[2020-04-28 23:10] brendongo opened #603 "Fails to parse when last line is comment"
semgrep fails to parse (throws LexicalError) when the last line of a file is a comment

[code]

https://semgrep.live/NXx

[2020-04-28 23:11] ievans commented on #603
duplicate of https://github.com/returntocorp/semgrep/issues/240

[2020-04-28 23:11] #603 closed, assigned to nobody

[2020-04-28 23:14] brendongo commented on #240
Also fails when the last line is code but contains a comment https://semgrep.live/kRX

[2020-04-28 23:15] brendongo commented on #240
Realworld Example: https://github.com/1337/yesterday-i-learned/blob/72fa6abe6edc73fd8d086baede20f2a00ccb3f3d/scripts/enum_test.py

[2020-04-29 01:52] ievans opened #605 "print out `--help` content if no arguments supplied"
It would be nice to print out `--help` content if no arguments supplied, rather than the current text:

[code]

[2020-04-29 03:05] dlukeomalley commented on #572
@andersk We merged a fix which will be included with the next mainline semgrep release.

Is this issue blocking your Zulip work? If so, we can discuss cherry picking the fix to the Zulip release or migrating some of the Zulip specific features to mainline.

[2020-04-29 06:15] #526 closed, assigned to aryx

[2020-04-29 06:15] #572 closed, assigned to aryx

[2020-04-29 09:08] aryx commented on #514
@ajinabraham we are working on a specialised version of the yaml file for taint tracking.
Here is an example: https://github.com/returntocorp/semgrep/commit/835adfd8d0f0163071bd86bb6361d456d92ea7da#diff-57664a5cb0ff7050443755f7ce537f10
It's partly implemented right now but feel free to give some feedback of where you would like this to go.
The idea is that you use semgrep patterns to specify the s

[2020-04-29 09:20] aryx commented on #514
There's also the deep-expression operator <... ...>
You simply do connection.query(<... $REQ ...>, ...)
and it will match when $REQ appears anywhere inside the first argument of connection.query
You can use this operator anywhere where an expression is expected, e.g.,
if (<... true ...>)
to detect places where true is used inside a conditional.

[2020-04-29 09:21] aryx commented on #514
And the bug is because you use $VAR2 which is not recognized as a metavariable ...
I'll change that.

[2020-04-29 09:23] aryx commented on #514
If you change $VAR2 with $VARR it would work (but we want $VAR2 to work too indeed)

[2020-04-29 09:32] #506 closed, assigned to brendongo

[2020-04-29 09:55] #252 closed

[2020-04-29 09:55] aryx commented on #252
Thx Iago!

[2020-04-29 10:12] DrewDennison commented on #514
@aryx thanks for the clarification on the $VAR2 I'm going to close this as resolved. @ajinabraham I confirmed this works in https://semgrep.live/36g

[2020-04-29 10:12] #514 closed, assigned to aryx

[2020-04-29 12:32] inkz opened #607 "Match `foo();` to `return foo();` (javascript)"
Would be awesome to match "return expression" with expression pattern:
[code]

[code]

multiline example:
https://semgrep.live/Joo

[code]

[code]

[2020-04-29 14:22] ajinabraham commented on #514
@aryx Taint analysis is super useful!
I like <..$REQ..> saves me a tone of lines for writing a rule. Do you have this feature available in experimental or develop or in 0.5.0?

[2020-04-29 14:24] ajinabraham commented on #514
Nevermind I saw the release log.

[2020-04-29 16:11] nbrahms commented on #607
Hi @inkz ... I think `foo();` is a statement pattern, due to the trailing semicolon, not an expression pattern, so it makes sense that it would not match your return statement.

I think that, in order to match, you would want:
[code]
for a single-line pattern, or
[code]
for a multiline pattern.

[2020-04-29 16:17] mschwager commented on #505
Pinging on the details here.

Seems like we could unify `CONTRIBUTING.md` and `docs/development.md`, although I'm not sure what's missing from those to complete this task.

[2020-04-29 17:03] nbrahms commented on #385
Duplicates #363

[2020-04-29 17:03] #385 closed

[2020-04-29 18:32] aryx commented on #602
pfff/lang_python/parsing/parser_python.mly, yacc file containing the grammar of python.
We may need to modify also ast_python.ml in the same file to express those cases.
and then the right conversion to the generic AST in pfff/lang_python/analyze/python_to_generic.ml

[2020-04-29 18:34] aryx commented on #600
still pfff/lang_python/parsing/parser_python.mly
The comments are supposed to be skipped in parse_python.ml, so not sure why
in this context they are not.

[2020-04-29 18:36] aryx commented on #599
Yes right now there is a hack to accept certain tokens after the ':' in fstring, again parser_python.mly
look at the format_token grammar rule. Probably need to add more, or to change the strategy
and use a different lexer for this context but this is more complicated (hence my hack on adding tokens in the list in format_token)

[2020-04-29 18:40] aryx commented on #582
There are different places in the code that can leader to a parsing error.
The lexer in pfff/lang_js/parsing/lexer_js.mll, parser in .../parsing/parser_js.mly, in the conversion from the JS CST to JS AST in .../analyze/ast_js_build.ml, and in the JS AST to AST generic conversion in .../analyze/js_to_generic.ml.
First thing is to identify where the error is. I usually do ~/pfff/pfff -dump_js /path/

[2020-04-29 18:40] aryx commented on #582
In this case I suspect it's because it's a complex "pattern" mising an array and record nested pattern, and the translation from the JS CST to JS AST is incomplete.

[2020-04-29 18:43] aryx opened #609 "Get full OCaml backtrace error or more error information in semgrep.live"
See https://semgrep.live/AWg
Which returns a FatalError.
It would be great if from semgrep.live I had access to more information about the error, such as
the full OCaml backtrace that led to this error, that way I could more quickly diagnose if it's
a problem in the lexer, or parser, or CST -> AST, or AST -> AST generic conversion.

[2020-04-29 18:45] aryx commented on #609
Like the AST dump, maybe this should be accessible only in a "debug" mode. We don't want users
to  see the full backtrace.

[2020-04-29 18:46] DrewDennison commented on #609
Of course. Great request. I think this will have to be plumb through the python code first cc @brendongo

[2020-04-29 18:47] aryx commented on #580
problably one of the TODO in the pattern() function in pfff/lang_js/analyze/ast_js_build.ml

[2020-04-29 18:47] aryx commented on #580
To test the CST of JS you can use ~/pfff/pfff -dump_js, and for the AST -dump_ast_js, so you can quickly see which one fails.

[2020-04-29 19:51] dlukeomalley commented on #529
Thank you for the sample @amanagr! I imagined semgrep's `--json` output being passed to a Zulip-specific formatter before being returned. Could functionality be borrowed from the regex integration's good_lines/bad_lines formatting?

For now, I don't know if `good_lines` and `bad_lines` will be a core semgrep feature and I'd like to wait until a few more users have similar workflow needs before we

[2020-04-29 20:09] minusworld commented on #363
Proposal:
[code]

[2020-04-29 20:23] brendongo opened #611 "Ability to use multiple cores when running semgrep"
Leverage multiprocessing to speed up semgrep

[2020-04-29 20:28] brendongo opened #612 "Support Rule Metadata Field"
https://github.com/returntocorp/semgrep/issues/498 added metadata field to experimental branch. We want to add support for metadata object in mainline semgrep. In particular semgrep should attach the metadata object in each finding when it reports in `--json` mode.

[2020-04-29 21:44] DrewDennison opened #614 "Make message and severity fields optional"
At the moment, the ocaml-core errors if it doesn't get a message or severity field when parsing YAML. No reason not to have defaults for these

[2020-04-29 21:54] ievans commented on #614
per convo with @DrewDennison , we would also like to make the -languages tag optional if the user explicitly specifies `--lang` on the CLI the YAML file shouldn't require the `-languages tag`. The core doesn't need to be aware of that, but this would simplify usecases like semgrepe.live

[2020-04-29 21:55] brendongo opened #615 "Include matching line in json output"
Matching line is included in default output format. Have the matching lines in json output format for ease of use of consumers of json output format.

[2020-04-29 22:01] brendongo commented on #363
Looks reasonable. Do they have to be prefixed with `- pattern:` ?

[2020-04-29 22:03] minusworld commented on #363
I figured it would match how `patterns` works currently, which also requires `pattern` or similar.

It also sort-of-matches the YAML file that semgrep-core expects:

[code]

[2020-04-29 22:13] brendongo opened #616 "Command Line Include/Exclude option"
Need a way to specify file path globs to run on and to ignore. Ideally we want something like `--include path` and `--exclude path`. So order of increasing precedence is path argument, excludes, then includes.

[2020-04-29 22:48] brendongo opened #617 "Make semgrep python 3.6 compliant"
semgrep should be runnable with python3.6

Add testing in a python3.6 environment and remove more advanced python features

[2020-04-29 22:48] nbrahms commented on #363
Can I suggest using a different keyword than `pattern`; just because the grammar is different, I think we should use a different label.

[2020-04-29 22:51] brendongo opened #618 "Publish on Pypi"
Make semgrep pip installable. The installation will need to download and install the appropriate semgrep-core binary.

[2020-04-29 22:51] nbrahms commented on #363
Alternatively, we could write something like:
[code]

I'm not too enthusiastic about using things like `bijective` and `injective`, but not sure what else we would call them...

[2020-04-29 22:54] nbrahms commented on #505
FWIW, I was trying to set up development this morning, and was confused that there wasn't information in CONTRIBUTING.md 🤷

[2020-04-29 23:14] inkz commented on #607
@nbrahms
sorry for always confusing expressions and statements  :innocent:
multiline pattern does not work https://semgrep.live/Jok

[code]

Parsing error:
[code]

[2020-04-29 23:15] minusworld commented on #363
How about `equivalence`? I like the syntax, myself; it's less verbose than relying on YAML keys. And that's how it's implemented in semgrep-core anyway.
[code]

[2020-04-30 02:42] nbrahms commented on #363
lgtm

[2020-04-30 02:43] nbrahms commented on #607
@aryx This is a bug, no?

[2020-04-30 07:55] aryx commented on #607
<... ...> can appear only in an expression context, and given the previous likes you started to parse a list of statements. You need the semicolon after ...>, but then we go back to the original problem that it's parsed as an expression statement which will not match the return.

[2020-04-30 07:57] aryx commented on #607
I think it's ok to have 'foo();'  match 'var x = foo();' (supported already), and 'return foo();' (TODO, what vassili wants).
We also have 'foo();' match any expression statement deeply implicitely, so 'foo();' match also
'print (foo());' currently. I think it's a good default.

[2020-04-30 14:04] mschwager opened #623 "Unknown exception: Division_by_zero"
Getting this error in CI when specifying multiple jobs (`-j/--jobs`):

[code]

https://github.com/returntocorp/semgrep/pull/610/checks?check_run_id=631187171

[2020-04-30 14:11] mschwager commented on #617
It'd be great to support all Python versions under active development. This currently includes Python 3.5 too: https://devguide.python.org/#status-of-python-branches. Python 3.5 is EOL in 4 months, so it makes sense if we don't want to prioritize that, but I think supporting all active Python versions is good practice for maximizing ease of use/installation for users. Having to install a newer ver

[2020-04-30 14:35] aryx commented on #593
Yes, probably related to #430 , the pattern-inside does not do what is intented because
a stmts pattern will actually return the whole range because of the implicit '...' added at the end
of those stmts in the pattern.

[2020-04-30 14:35] aryx commented on #593
With deep stmt matching it makes #430 even worse indeed.

[2020-04-30 14:40] aryx commented on #513
Yes, probably.

[2020-04-30 17:00] underyx opened #626 "Port semgrep test script to pytest"
There's a shell script called `run-lint-tests.sh` currently which runs tests for:

- Checking if JSON output for certain scenarios is correct
- Checking if well-written YAML rulesets are parsed successfully
- Checking if badly-written YAML rulesets are rejected gracefully
- Checking if the semgrep-rules repo's rules run successfully

The shell script is super useful, but very hard to work with. Lo

[2020-04-30 17:03] mschwager commented on #626
Yes plz, the testing system is really difficult to decipher

[2020-04-30 17:27] #510 closed, assigned to underyx

[2020-04-30 17:42] DrewDennison opened #629 "add `pattern-regex`"
to enable semgerp to completely replace any PCRE regex tool

[2020-04-30 17:44] DrewDennison opened #630 "extend AST to include comments"
If I want to look for all `//eslint-disable` comments in my codebase, I would like to use semgrep for this. Maybe I can use #629 ?

[2020-04-30 17:45] DrewDennison commented on #630
@ievans and @aryx for thoughts on how much work this is

[2020-04-30 17:51] #612 closed, assigned to underyx

[2020-04-30 17:56] brendongo opened #631 "Setup Pipenv"
We can't use poetry because poetry doesn't support binary wheels with...actual binaries in them. We'll need to use setup.py & pipenv.

[2020-04-30 17:57] ievans opened #632 "document deep expression matching operator"
Doesn't necessarily need to be in the main readme, but we should add documentation for the new `<... expr ...>` matcher (introduced in 0.4.9), since we use it in the semgrep-rules repository.

We should also clarify the docs on how deep `...` goes.

[2020-04-30 18:01] amanagr opened #633 "Checking version of semgrep takes too long (0.2s ± 0.5)"
**Describe the bug**
Checking version of semgrep  takes more time than expected. It takes about 20% of our time on `null provision` (A script we run to check if all the packages, etc are up-to-date)
[code]

**Expected behavior**
It should happen instantly. (Under 0.05s or something lower).

[2020-04-30 18:02] ievans commented on #633
Thanks @amanagr, we were just talking about this at our standup this morning actually. @underyx is going to investigate a ship a fix!

[2020-04-30 19:10] ievans commented on #630
I think TBH it would be ideal to use #629 for this.

[2020-04-30 19:18] #573 closed, assigned to nbrahms

[2020-04-30 19:50] nbrahms commented on #573
Hi @ajinabraham ... should be fixed in develop mainline now, and in next release. Thanks for spotting it!

[2020-04-30 20:08] brendongo commented on #617
Yeah with EOL so soon and us having a binary that people can run without any python installed as an alternative if they are not 3.6+ figured it was fine :D

[2020-04-30 20:53] aryx commented on #629
I like this.

[2020-04-30 20:56] aryx commented on #630
I agree with isaac. Note that pfff actually keep comments. Each parsing function in pfff returns both an AST and a list of tokens, and this list of tokens actually contains the comments (I needed that for codemap to be able to colorize files, in which case I need also to colorize the comments).
There are a few functions in pfff/h_program-lang/comment_code.ml to access the comments after or before

[2020-04-30 20:57] aryx commented on #630
So the issue is already fixed; comments are there if you want them. The question is how to use that in semgrep.

[2020-04-30 21:03] mschwager opened #634 "Enable full OCaml backtraces for all exceptions"
As mentioned in https://github.com/returntocorp/semgrep/pull/610#issuecomment-622107108, it would be very helpful to have full backtraces any time an exception occurs. This will not only help us internally when things go wrong, but also when end users are running our code and hit an issue.

It seems exceptions are swallowed up in the following code:

[code]

Adding `OCAMLRUNPARAM=b` in various pla

[2020-04-30 21:34] ievans commented on #630
Until we hear more specific asks or cases where #629 wouldn't work, I'm going to close this in favor of #629 @DrewDennison

[2020-04-30 21:34] #630 closed, assigned to ievans

[2020-05-01 01:01] #512 closed, assigned to aryx, ievans

[2020-05-01 03:58] amanagr opened #636 "`filename-not` not working?"
On rule:
[code]

The output is:
[code]

Notice that most of the filenames here are excluded. Is there something wrong with my rule or is this a bug from your side?

Code: https://github.com/amanagr/zulip/tree/semgrep_port_non_gl_bl
Version: 0.5.0-dev.2

[2020-05-01 06:30] dlukeomalley commented on #636
@underyx Mind taking a look when you come online? Thank you!

[2020-05-01 06:36] underyx commented on #636
On it right now!

[2020-05-01 06:39] underyx commented on #636
Ah, I see what's going on. @amanagr could you replace `filename-not` with `path-not`? The former only matches the filenames, with the parent directories' names ignored. Sorry about the confusing design on this — we've already decided to have a simpler, flat includes/excludes list in the upcoming stable release instead. In the meantime, you can refer to the documentation here to see how the differe

[2020-05-01 06:44] amanagr commented on #636
Thanks @underyx!

[2020-05-01 06:46] underyx commented on #636
Sure thing! Let me know if you run into any more confusing behavior with this, I'm available during European daytime 🙃

[2020-05-01 06:51] ievans opened #637 "Document JSON output"
Semgrep can output --json, but we haven't documented the JSON format and fields. This would be smart. We've already done most of it for the r2c analyzer json output spec.

[2020-05-01 06:52] dlukeomalley commented on #636
Thanks for the quick reply. Let us know if you have any other issues with this @amanagr!

[2020-05-01 06:52] #636 closed, assigned to underyx

[2020-05-01 07:15] amanagr commented on #636
This works as I want it to for now. Opened https://github.com/zulip/zulip/pull/14834 let me know if you guys have any feedback.

[2020-05-01 07:16] #607 closed, assigned to nobody

[2020-05-01 07:33] ievans opened #638 "can't use metavars in golang imports"
This idiom works in python and javascript, but not golang: https://semgrep.live/8pB

[code]
fails to parse

[2020-05-01 14:23] aryx opened #643 "Document internals of semgrep"
As we recruit more PA people and get more people to learn OCaml to contribute to semgrep,
the need to understand the internals of semgrep grows.

[2020-05-01 14:54] #643 closed, assigned to nobody

[2020-05-01 16:36] dlukeomalley opened #645 "Add "paved road" for pattern unit testing"
**Is your feature request related to a problem? Please describe.**
As we (r2c + community) write more patterns, there is a growing desire for a standardized way to write pattern unit tests. There are a few existing efforts:

**semgrep-rules Tests**
r2c has set up infrastructure for doing this in [returntocorp/sgrep-rules](https://github.com/returntocorp/sgrep-rules), which the community can get ac

[2020-05-01 17:08] dlukeomalley commented on #529
@andersk @amanagr I opened https://github.com/returntocorp/semgrep/issues/645 for unit testing discussion.

For now I'd like to close this ticket and revisit it in the future. Thank you so much for your feedback  so far.

[2020-05-01 17:08] #529 closed, assigned to dlukeomalley

[2020-05-01 17:11] dlukeomalley commented on #381
@clintgibler Could your video serve as placeholder for a longer tutorial?

[2020-05-01 17:12] dlukeomalley commented on #405
Is this a duplicate of #176?

[2020-05-01 17:13] dlukeomalley commented on #645
#626 may also be related. CC @underyx

[2020-05-01 19:17] minusworld opened #646 "Java Parsing: cannot parse byte[] var = new byte[int];"
**Describe the bug**
It appears that the Java parser does not like `byte[] iv = new byte[16];`.

**To Reproduce**
You can check it out on semgrep.live.
Works: https://semgrep.live/03r
Doesn't work: https://semgrep.live/KYj

[2020-05-01 20:31] #525 closed, assigned to nobody

[2020-05-01 23:37] ievans commented on #629
It is nice that our boolean composition work will work seamlessly with this. I wonder what this means for thefuture of the python parts of semgrep.

[2020-05-02 00:04] minusworld opened #648 "Equivalences only seem to match the first equivalence if it could match multiple equivalences"
**Describe the bug**
It looks like equivalences only match the first equivalence, even if there are multiple equivalences defined that should take effect.

**To Reproduce**
Here's an example where it should match all three locations:
https://semgrep.live/rbP?version=develop

I also tried it in both directions:
https://semgrep.live/b0P?version=develop

And I tried reversing the expressions:
https:/

[2020-05-02 00:18] minusworld opened #651 "Equivalences have trouble resolving in multiline patterns"
**Describe the bug**
It looks like equivalences have some trouble with multiline patterns.

**To Reproduce**
https://semgrep.live/k21?version=develop

**Expected behavior**
In the semgrep.live link above, I would expect it to match both patterns, especially given that https://semgrep.live/wb6?version=develop works like a charm.

[2020-05-02 00:24] minusworld opened #652 "Equivalences will sometimes supersede pattern logic"
**Describe the bug**
Using equivalences will sometimes result in findings that should not match the `pattern`.

**To Reproduce**
Eg., it should not fire on the last example.
https://semgrep.live/O67?version=develop

[2020-05-02 08:20] aryx commented on #629
Honestly, it can be nice to have semgrep written half in OCaml half in Python so if people want to contribute, it's less scary if they think they can probably do stuff on the Python side. I feel the split with the set-based operators outside semgrep-core is still pretty good. I don't think we suffer much from it.

[2020-05-02 09:02] andersk opened #654 "Python f"..." matches "hello" "world""
I would expect `f"..."` to match any f-string, but it also incorrectly matches concatenated normal strings like `"hello" "world"`: https://semgrep.live/n11.

[2020-05-02 16:20] ievans commented on #654
Thanks @andersk, this is definitely a fix we'd like to make.

[2020-05-02 17:03] #240 closed

[2020-05-02 17:09] ievans commented on #617
we should run with https://github.com/returntocorp/semgrep-rules/blob/develop/python/compatibility/python37.yaml then :D

[2020-05-02 17:11] ievans commented on #633
Hi @amanagr - we merged https://github.com/returntocorp/semgrep/pull/640 which took the runtime of semgrep --version runtime to 60ms. Feel free to re-open the ticket if that doesn't work for you!

(@underyx I'm assuming this will get cut in the release on Tuesday)

[2020-05-02 17:11] #633 closed, assigned to underyx

[2020-05-02 17:14] amanagr commented on #633
Thanks!

[2020-05-02 18:05] #617 closed, assigned to rcoh

[2020-05-03 01:41] DrewDennison opened #656 "support string and variable concatenation with + ..."
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have to match in python:

[code]

and I tried using

[code]

**Describe the solution you'd like**
The ellipsis operator, `...` should match 0 or more sequences of string concats

https://semgrep.live/4Z7

@ajinabraham also requested this feature for JS

[2020-05-03 02:15] DrewDennison commented on #199
This is now deduped in the python code so closing for now

[2020-05-03 02:15] #199 closed

[2020-05-03 02:20] DrewDennison commented on #250
@ievans I can't repro this https://semgrep.live/Po0

[2020-05-03 02:20] #250 closed

[2020-05-03 02:21] DrewDennison commented on #250
and https://semgrep.live/J0k works fine

[2020-05-03 02:21] DrewDennison commented on #251
@ulziibay is this done?

[2020-05-03 02:28] DrewDennison commented on #295
Example failing TS: https://semgrep.live/5Nk

I was pleasantly surprised the example hello-world from create-react-app works but I don't know how to query it: https://semgrep.live/GBG

[2020-05-03 02:29] DrewDennison commented on #299
@minusworld does your equivalence work support this use case?

[2020-05-03 02:33] DrewDennison commented on #312
@jajajasalu2 I think your PR in returntocorp/pfff#102 likely fixes this. 🎉

[2020-05-03 02:36] DrewDennison commented on #320
@underyx since you're adding pytest support, figured you might like to read this issue. Feel free to unassign yourself if that makes sense

[2020-05-03 02:40] DrewDennison commented on #372
a `deb` is a great first step

[2020-05-03 02:44] DrewDennison commented on #408
meh

[2020-05-03 02:44] #408 closed, assigned to brendongo

[2020-05-03 03:15] DrewDennison commented on #345
https://semgrep.live/RpY still shows this isn't working

[2020-05-03 03:30] DrewDennison commented on #375
fixed in #657

[2020-05-03 03:37] #405 closed, assigned to brendongo

[2020-05-03 03:42] DrewDennison opened #658 "semgrep should display progress or that it's at least doing work"
semgrep should display something to indicate that it's running.

`semgrep --config https://semgrep.live/r/r2c.python` just hangs for a while and then outputs results. It should at least say it's downloaded configs and then `scanning...` but if we can add a progress bar or spinner if it takes over a few seconds. Probably look to ripgrep for inspiration

[2020-05-03 03:43] DrewDennison commented on #422
I believe this is fixed

[code]

[2020-05-03 03:43] #422 closed, assigned to nobody

[2020-05-03 03:46] DrewDennison commented on #435
@aryx how should we look for properties in this object then?

[2020-05-03 03:50] DrewDennison commented on #438
I like this. I think it used to support both `/home/repo` and then I added `/src` which is what pre-commit requires for it's docker image tools. My vote is for `/src`

[2020-05-03 03:51] DrewDennison commented on #441
@rcoh @brendongo I believe this is done with the validate scripts. I'm gonna close but please open if not

[2020-05-03 03:54] DrewDennison commented on #456
@aryx I'm guessing the build infra clean up that @brendongo did fixed this accidentally but please re-open if you can't locally develop with `python3 -m semgrep`

[2020-05-03 03:54] #456 closed, assigned to nobody

[2020-05-03 04:00] DrewDennison commented on #505
FYI, CONTRIBUTING.md is a special GH file that shows up in the UI for new contributors

[2020-05-03 04:10] #375 closed

[2020-05-03 04:10] #605 closed, assigned to nobody

[2020-05-03 04:13] DrewDennison commented on #538
related to #76

[2020-05-03 04:35] DrewDennison commented on #554
@aryx is this a good first issue?

[2020-05-03 04:35] DrewDennison commented on #557
@brendongo is this done?

[2020-05-03 04:36] DrewDennison commented on #562
@aryx is this a good first issue?

[2020-05-03 04:41] DrewDennison commented on #576
@brendongo is this done/dup?

[2020-05-03 04:43] DrewDennison commented on #578
@aryx is this a good first issue?

[2020-05-03 04:45] DrewDennison commented on #581
@aryx good first issue? I assume related to #580 ?

[2020-05-03 04:45] DrewDennison commented on #582
good first issue?

[2020-05-03 04:52] DrewDennison commented on #615
this exists in experimental as #489 but should probably be under a flag for perf reasons

[2020-05-03 05:00] #563 closed, assigned to DrewDennison

[2020-05-03 06:38] aryx commented on #654
ok so we want "..." to match regular strings and fstrings, but f"..." to match only fstrings

[2020-05-03 06:40] aryx commented on #582
Not trivial, can involve the parser, the CST, the AST, and the AST gen and translations between all those steps.

[2020-05-03 06:41] aryx commented on #581
Same, I don't think it's a parsing issue, it's a "compiling" issue, that is the way we transform certain pattern-match into something simpler.

[2020-05-03 06:41] aryx commented on #578
yes

[2020-05-03 06:43] aryx commented on #562
Not easy, because of shift/reduce conflicts in the grammar to deal with that. There are some parsing hacks
to handle arrows because they don't fit well with the LALR(1) (1 token lookahead) parsing algorithm so I have hacks around it.

[2020-05-03 06:46] aryx commented on #554
maybe

[2020-05-03 06:47] aryx commented on #554
I'll handle ajin requests

[2020-05-03 07:05] aryx commented on #435
it's a bit useless but <... { fld: val } ...> will clearly introduce an expression context where there would be no ambiguity. It's a bit ugly though. It would be nice to support { fld: val } directly.

[2020-05-03 07:08] aryx commented on #295
Can you create separate issue to parse JSX pattern as toplevel pattern.
This should be fixable.

[2020-05-03 08:13] DrewDennison opened #661 "Support JSX patterns"
It would be great to select things like `<Button ...>{generateBtnText(...)}</Button>`

[2020-05-03 08:14] DrewDennison commented on #295
https://github.com/returntocorp/semgrep/issues/661

[2020-05-03 08:38] DrewDennison commented on #345
fixed in develop https://semgrep.live/RpY?version=develop

[2020-05-03 08:38] #345 closed

[2020-05-03 09:52] DrewDennison opened #663 "print "foo", fails to parse"
**Describe the bug**
`print "\n",` to parse fails to parse even with `--lang python2`
**To Reproduce**
https://semgrep.live/BJv fails to parse even though it's valid python2 and the idiomatic way to print without a new line https://stackoverflow.com/a/11266091
**Expected behavior**
It should parse

Found when trying to parse https://github.com/sobolevn/python-code-disasters

[2020-05-03 10:02] #437 closed, assigned to DrewDennison

[2020-05-03 10:12] DrewDennison commented on #658
perhaps a better idea is to move from json to json with one per finding so we can have streaming output as it processes

[2020-05-03 10:44] DrewDennison opened #664 "`...` is really slow on long files"
`pattern-not-inside` is really slow on long files. (I assume `pattern-inside` also suffers from this performance problem)

As part of my investigation of #520 I binary searched rules over files in https://github.com/sobolevn/python-code-disasters by far the biggest issue was with https://github.com/sobolevn/python-code-disasters/blob/master/python/my_first_calculator.py and `r2c.python.deadcode` a

[2020-05-03 10:44] ievans commented on #148
This was discussed already by @mschwager and others; I think we agreed on what we wanted to do so I'm going to close the ticket @DrewDennison

[2020-05-03 10:44] #148 closed

[2020-05-03 10:45] ievans commented on #162
@aryx this is done, yes?

[2020-05-03 10:45] #162 closed

[2020-05-03 10:45] DrewDennison commented on #520
created https://github.com/returntocorp/semgrep/issues/664 as the root cause of this.

Isaac also discussed `pattern-inside` being slow with a user on slack

[2020-05-03 10:45] #520 closed, assigned to DrewDennison

[2020-05-03 10:54] DrewDennison commented on #664
for other discussion on this feeling like expontential backtracking https://r2c-community.slack.com/archives/CK8UH0A8Y/p1588445294017500?thread_ts=1588441876.015700&cid=CK8UH0A8Y

[2020-05-03 11:03] DrewDennison commented on #664
@aryx it actually has nothing to do with `pattern-not-inside` when running over https://github.com/sobolevn/python-code-disasters/blob/master/python/my_first_calculator.py

[code]

takes `32s` on my mac

[code]

takes `1.4s` on the same mac

The open-never-closed referenced above has 14 such patterns. No wonder it takes minutes to run.

[2020-05-03 14:56] rcoh commented on #441
Still need one more for the Ubuntu Installer

[2020-05-03 18:21] minusworld commented on #299
I haven't tried something like this yet; I am not sure if equivalences able to handle this situation. @aryx would know better; tagging for comment

[2020-05-03 19:34] aryx commented on #299
This can be solved more easily with tainting.

[2020-05-03 21:20] #658 closed, assigned to nobody

[2020-05-04 03:34] ndavison opened #669 "Can't match only if statements with else blocks in python"
Hi,

I'm not sure if this is a bug or I'm just doing it wrong, but I was trying to use semgrep to find instances in python code where a value is being checked in an if statement with an `else:` block:

https://semgrep.live/0OW

This seems to match the if statement without an else block. FYI if the pattern and code is changed to use an `elif` instead, that seems to work fine:

https://semgrep.live/

[2020-05-04 05:13] ievans opened #670 "NoTokenLocation min_max, empty list exn in if/else python blocks"
[code]

gives an internal error, NoTokenLocation min_max, empty list exn. See https://semgrep.live/qXB

[2020-05-04 05:14] ievans commented on #669
Thanks for the bug report @ndavison ! I agree, this is a bug.

Specifically:
[code]

should not match

[code]

@aryx it looks like the `...` operator in the iff block is overly greedy in this case? I tried a tweak to prove whether or not that is the issue, and ran into another bug: https://github.com/returntocorp/semgrep/issues/670

[2020-05-04 09:50] inkz opened #671 "need help with matching one OR other group of patterns"
**Describe the bug**
this is probably me not getting it right, but:

what if I want to match:
a function which has the last parameter not a string
OR a function which has the second-to-last parameter not a string

(same function in each case, number of parameters may vary)

I did it like this:
https://semgrep.live/p2d

[code]

[code]

but it wont work, while patterns work separately:

https://semg