[2022-06-17 18:35] r2c-demo commented on #5569
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1520/semgrep-core-sending-import-resolution-as-metavariable-value-in-python. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-17 18:40] LewisArdern opened #5570 "JSX pattern does not match based on new-line"
**Describe the bug**
The following pattern should match:
[code]
**To Reproduce**
https://semgrep.dev/s/KeZY Works
https://semgrep.dev/s/PyZE Does not work

**Expected behavior**
Expect a simple pattern to match match with new-lines or not.

**What is the priority of the bug to you?**

- [x] P2: regular bug that should get fixed

**Use case**
Enables customers to be able to write rules quicker for

[2022-06-17 18:41] r2c-demo commented on #5570
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1521/jsx-pattern-does-not-match-based-on-new-line. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-17 18:48] alexanderfichel opened #5571 "Would it be make sense to add HEALTHCHECK rule in https://semgrep.dev/p/dockerfile?"
There is a CIS benchmark for containers for checking:

4.6 Ensure that HEALTHCHECK instructions have been added to container images

The recommended way is to do docker inspect command
`docker inspect --format='{{ .Config.Healthcheck }}' <IMAGE>`

But it would be much better to simply scan the dockerfile for this keyword HEALTHCHECK to avoid the overhead of scanning the image.

[2022-06-17 18:49] r2c-demo commented on #5571
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1522/would-it-be-make-sense-to-add-healthcheck-rule-in. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-17 20:26] spencerdrak commented on #5571
Hey there @alexanderfichel - this issue seems like it belongs on https://github.com/returntocorp/semgrep-rules, so I'm going to move it over there. Thanks for reporting!

[2022-06-17 21:37] sfc-gh-nsfard opened #5573 "deep semgrep does not support type annotations and/or varargs in java"
**Describe the bug**
Deep semgrep CLI reports an error when using type annotations after the type name in a list of method parameters. Emma from R2C suggested that I create an issue because there's likely inconsistencies in how deep semgrep is parsing the code and/or errors when using type annotations and/or java varargs.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https:/

[2022-06-17 21:37] r2c-demo commented on #5573
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1528/deep-semgrep-does-not-support-type-annotations-andor-varargs-in-java. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-17 22:56] efortuna commented on #5563
Sorry, why is this assigned to me?

[2022-06-17 22:57] efortuna commented on #5563
Sorry, why is this assigned to me? @aryx

[2022-06-18 07:17] aryx commented on #5563
It's a documentation issue, so anybody can fix those kinds of things.
I can assign the issue to brendon, but I'm  pretty sure he will not fix it given his opposition so it's either
we close the issue or someone who care enough make a PR to fix the documentation.

[2022-06-18 07:19] aryx commented on #5563
Given you're the one who raised the issue, you might be the best one to craft/improve the help message.
But I can make the PR if you want.

[2022-06-18 21:58] invidian commented on #5562
For me, action fails as semgrep tries to fetch a feature branch which exists in my fork from the upstream repository, which of course does not have a reference there (all forks are the same git repository, but branches visibility is separate). That does seem like a bug.

[2022-06-18 22:43] frereit opened #5575 "PHP taint does not seem to track correctly in class methods"
**Describe the bug**
A tainted return value of a function is not detected if the function is a class method and called from the class itself. (via `self::method()`)

**To Reproduce**
https://semgrep.dev/s/zo30

**Expected behavior**
The `echo self::tainted()` should be detected as tainted.
It is correctly detected when changing the call to `echo tainted()`, the same should happen with the `self::`

[2022-06-18 22:45] r2c-demo commented on #5575
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1533/php-taint-does-not-seem-to-track-correctly-in-class-methods. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-19 16:51] tarunkant commented on #5067
I am also experiencing the same problem while running semgrep.

[2022-06-19 21:34] Strunevskiy commented on #5411
@aryx  any update on this issue ? we would like parse for Scala to be as good as for java if possible.

[2022-06-20 07:38] Sjord commented on #5294
@underyx Could you take a look at this?

[2022-06-20 07:41] aryx commented on #5411
No update. Today is actually US holiday. Scala is currently not our highest priority so we will try to fix it when we're a little bit less overloaded.

[2022-06-20 10:43] ankush commented on #5562
@brendongo @spencerdrak

Like @invidian also mentioned this affects forks primarily. The branch doesn't exist on the original repository so fetching it will result in an error.

Example PR run: https://github.com/frappe/frappe/runs/6965225731?check_suite_focus=true

If you want raw logs of workflow you suggested, here they are:

[code]

[2022-06-20 11:26] ankush commented on #5562
@brendongo Following line added in https://github.com/returntocorp/semgrep/pull/5453 is causing this failure on forks.

https://github.com/returntocorp/semgrep/blob/08703530b023082f4a6d110c10a8211fb8415311/semgrep/semgrep/commands/ci.py#L83

If I understood this it's fetching last commit on `pull_request.head.ref` which is a branch name fromm which PR is created. But in case of **fork**, last comm

[2022-06-20 16:25] offsecdawn opened #5578 "Semgrep CI not picking up the rules defined in the monitor board of semgrep App"
**Describe the bug**
Semgrep ci is not picking up the rules defined in the "monitor board" of the semgrep app. Rather, it is connecting semgrep registry and execute the rules automatically.
**To Reproduce**
1. Configure Semgrep App with GitHub repository
2. Copy below semgrep.yml code in GitHub action workflow
[code]
3. Go to semgrep app->ruleboard->add few rules explicitly from the registry
4. Go

[2022-06-20 16:26] r2c-demo commented on #5578
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1538/semgrep-ci-not-picking-up-the-rules-defined-in-the-monitor-board-of. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-20 16:37] IagoAbal commented on #5569
I looked into this and it does not appear to be a bug in the matching engine. So Semgrep tries two matches, `Baz` and `foo.bar.Baz`, that is the unqualified and the qualified name. In this case both names are matching. But the `foo.bar.Baz`  seems to be assigned the tokens of the `import` line, and then those tokens are used to obtain the value of `$MODEL`. The result appears like if we are captur

[2022-06-20 17:31] IagoAbal commented on #5569
The issues seems to originate here:
[code]

We have encountered this problem before, and it's handled in `m_name`, see this:

[code]

[2022-06-20 17:57] IagoAbal commented on #5569
In the example Semgrep-core reports the range line 1 col 6 to col 24 for `$MODEL`, which matches what Semgrep CLI reports. Although it's worth noting that Semgrep-core itself also reports an "abstract_content" and that is more correct, it's `foo bar Baz`.

[2022-06-21 06:36] minusworld opened #5583 "metavariable-regex behaves differently based on indentation"
**Describe the bug**
`metavariable-regex` behaves differently based on indentation. If no indents are used and the clause looks like this,

[code]

it works as expected.

If written like this,

[code]

it no longer matches. I suspect YAML is the culprit here.

Nonworking example: https://semgrep.dev/s/5e23
Working example: https://semgrep.dev/s/ANJ4

**Expected behavior**
I expect both cases to be

[2022-06-21 07:46] offsecdawn commented on #5578
Hello Team,

I tried the use case differently by removing default rule-set and onboarding few individual rules to the monitor board. The semgrep CI is working as expected. However, i created a custom rule and onboarded to the monitor board and found that it not getting picked up.Probably, I need to create a separate issue for that. Anyway thanks for the support and feel free to close it down

[2022-06-21 07:46] #5578 closed, assigned to nobody

[2022-06-21 08:12] r2c-demo commented on #5583
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1539/metavariable-regex-behaves-differently-based-on-indentation. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-21 09:29] Sjord commented on #3240
I ran into this problem today with TypeScript, trying to match unused properties. The code was `foo.enable` instead of `foo.enable()`. I tried the following rule, but that also matches properties in if statements, assignments, expressions, etc.

[code]

[2022-06-21 09:42] Sjord commented on #5382
@aryx Is it the goal to keep both pfff and tree-sitter and make the AST as similar as possible?

[2022-06-21 09:47] aryx commented on #5382
Right now we use pfff to parse the semgrep pattern.
Ideally we would like to get rid of pfff and use tree-sitter to also parse the pattern, but that would require
some extensions to semgrep-php in ocaml-tree-sitter and there may be many things to fix until it works 100%.
So often we prefer to just fix pfff, which is easier short-term.

So yes the AST should be as similar as possible; actually they

[2022-06-21 09:49] aryx commented on #5382
One easy fix is to have a fix_funcall or fix_id in Parse_php_tree_sitter.ml that detects if the identifier is one of the builtin
and generate a __builtin_xxx like we do in pfff.

[2022-06-21 09:53] aryx commented on #5382
We could also get rid of those __builtin in pfff and generate regular identifiers.
We could also add those Isset in Ast_php.special, instead of using those __builtin prefix in Id.
In fact there is a TODO in ast_php.ml about getting rid of the builtin() function and be more explicit
(but then that would require still in Parse_php_tree_sitter.ml to have a fix_funcall or fix_id that look at the ident

[2022-06-21 09:57] aryx commented on #2252
I think most people who asked for ARM support really just wanted it for Mac M1, so closing.
If anyone disagree, feel free to reopen and we can make it explicit that we want
Linux/ARM support or something else.

[2022-06-21 09:58] aryx commented on #2503
@brendongo does this work now that we pass all the rules to semgrep-core and that semgrep-core returns matches as it find them?

[2022-06-21 10:02] aryx commented on #3147
you can download a ruleset with curl. just prefix the registry address with c/ (for curl), so semgrep.dev/c/<ruleset>

[2022-06-21 10:03] aryx commented on #3199
@IagoAbal can we strike a few more erwan's cases?

[2022-06-21 10:26] djmattyg007 commented on #3147
Is the suggestion to manually download every single rule individually, separately from the semgrep tool? How do we get the tool to use them? Does every single developer need to do this themselves?

[2022-06-21 11:12] aryx commented on #3147
I was just answering to the original question.

you can download for examples the p/ci ruleset with  `curl https://semgrep.dev/c/p/ci > cache.yml`
and then use those rules with `semgrep --config cache.yml /path/to/project`

[2022-06-21 12:04] aryx commented on #1923
Adding it to parser_cpp.mly is tricky, so probably easier to start to use tree-sitter-cpp instead
and add it to semgrep-cpp/grammar.js in ocaml-tree-sitter.

[2022-06-21 12:06] #3226 closed, assigned to aryx

[2022-06-21 12:07] #2104 closed, assigned to nobody

[2022-06-21 12:10] aryx commented on #2117
I know @IagoAbal worked on destructuring patterns a few months ago. Maybe this has been fixed since?

[2022-06-21 12:27] arbazkiraak opened #5585 "[Solidity] Semgrep doesn't filter the regex properly on metavariables for modifiers"
**Describe the bug**

I ran into the following problem, I’m trying to match the pattern on `metavariable` with `metavariable-regex` , The problem is, it matches the pattern where it shouldn’t.

**To Reproduce**

[Steps to reproduce the behavior, ideally a link to https://semgrep.dev:](https://semgrep.dev/s/arbazkiraak:problem)

**Expected behavior**

[code]

[2022-06-21 12:29] r2c-demo commented on #5585
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1540/semgrep-doesnt-filter-the-regex-properly-on-metavariables. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-21 12:36] aryx commented on #3108
Should work better now that Kotlin has been promoted to GA.
Reopen if it's still an issue.

[2022-06-21 12:36] #3108 closed, assigned to colleend

[2022-06-21 12:44] aryx commented on #3430
@mjambon is it fixed now that you can specify the limit in the options: ?

[2022-06-21 12:47] aryx commented on #3456
Still an issue. We could disable the field-function-to-method-definition transformation that is done in
js_to_generic.ml which prevents foo: to match.

[2022-06-21 12:51] aryx commented on #3605
Seems like a dupe of #3147

[2022-06-21 12:51] #3605 closed, assigned to nobody

[2022-06-21 12:52] aryx commented on #3642
@mjambon recently closed this with the new Exception module in pfff.
See #5567

[2022-06-21 12:52] #3642 closed, assigned to mjambon

[2022-06-21 12:55] aryx commented on #3685
closing, I think what we have is ok, especially now that it's faster to run the python tests.

[2022-06-21 12:55] #3685 closed, assigned to nobody

[2022-06-21 12:57] aryx commented on #3685
you can always use semgrep-core/tests/OTHER/rules/
or the one in deep-semgrep.

[2022-06-21 13:01] aryx commented on #5115
@IagoAbal is this fixed now?

[2022-06-21 13:03] aryx commented on #3721
seems to work now! probably update to latest tree-sitter-typescript fixed the issue.

[2022-06-21 13:03] #3721 closed, assigned to nobody

[2022-06-21 13:08] aryx commented on #3775
This was fixed by martin's recent Exception.ml in pfff. See for example #5567

[2022-06-21 13:08] #3775 closed, assigned to nobody

[2022-06-21 13:10] aryx commented on #3802
This has been improved:
{"code":2,"level":"error","message":"[ERROR] Rule parse error in rule asd:\n you need at least one positive term (not just negations or conditions)","rule_id":"asd","type":"Rule parse error"}

[2022-06-21 13:13] aryx commented on #3802
see #5234

[2022-06-21 13:13] #3802 closed, assigned to nobody

[2022-06-21 13:18] aryx commented on #3805
seems related to #5443

[2022-06-21 13:24] aryx commented on #3805
This works now: https://semgrep.dev/s/Ox3p

[2022-06-21 13:24] #3805 closed, assigned to nobody

[2022-06-21 13:25] aryx commented on #3864
@mjambon does this work now? I see lots of issues related to Bash, but I think you've improved quite a bit Bash
in the last year.

[2022-06-21 13:29] aryx commented on #3914
dupe of #5234 which has been fixed.

[2022-06-21 13:29] #3914 closed, assigned to nobody

[2022-06-21 13:46] aryx commented on #4309
related to https://github.com/returntocorp/semgrep/issues/4175

[2022-06-21 13:47] aryx commented on #4354
I think @brendongo thinks it's a valid option.

[2022-06-21 13:47] #4354 closed, assigned to nobody

[2022-06-21 13:48] aryx commented on #4414
note that martin added the option to specify a limit to ... in generic mode.
Not the same, but related.

[2022-06-21 13:50] aryx commented on #4457
I think this has been fixed right @brendongo ?

[2022-06-21 13:52] nusco opened #5586 "Parsing error with Java"
**Describe the bug**
Semgrep seems to be OK with giving a body to abstract Java methods, which should be a syntax error.

**To Reproduce**
In the Semgrep playground, in "simple mode", set the language to "Java" and the pattern to "class C". Run it over this code:

    abstract class Vehicle {
        abstract void accelerate(int amount) {};
    }

The code above is illegal. It would make the Java

[2022-06-21 13:52] r2c-demo commented on #5586
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1542/parsing-error-with-java. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-21 13:55] aryx commented on #4567
This is because of yaml:
This works: https://semgrep.dev/s/Z3dn

[2022-06-21 13:56] #4567 closed, assigned to aryx

[2022-06-21 13:59] aryx commented on #4591
Is this fixed now @mmcqd ?

[2022-06-21 14:00] spencerdrak commented on #5562
Thanks for the detailed report @ankush - we're looking at how we want to address this and will provide updates or ask for more info here.

[2022-06-21 14:00] aryx commented on #4630
@underyx is this still an issue with semgrep ci? can we close the issue?

[2022-06-21 14:01] aryx commented on #4666
Also this should be filed in Linear I think.

[2022-06-21 14:01] #4666 closed, assigned to nobody

[2022-06-21 14:02] aryx commented on #4668
Is this fixed now @brendongo since we supported mac M1?

[2022-06-21 14:03] aryx commented on #4683
ok closing @emjin

[2022-06-21 14:03] #4683 closed, assigned to nobody

[2022-06-21 14:05] aryx commented on #5570
but what does react output in the generated HTML?
the space related to indentation is output?

[2022-06-21 14:06] #4739 closed, assigned to nobody

[2022-06-21 14:12] aryx commented on #4745
Is this still worked on?

[2022-06-21 14:18] LewisArdern opened #5587 "Single line elements ignored"
**Describe the bug**
The following rule https://semgrep.dev/playground/s/Q2dP will only match multi-line not single line rules, which doesn't seem right.

[code]

**To Reproduce**
https://semgrep.dev/playground/s/Q2dP

**Expected behavior**
It should capture both multi-line and single line.

**What is the priority of the bug to you?**

- [x] P1: important to fix or quite annoying

**Use case**
vue

[2022-06-21 14:18] r2c-demo commented on #5587
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1543/single-line-elements-ignored. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-21 14:20] aryx commented on #4746
dupe of #2530

[2022-06-21 14:20] #4746 closed, assigned to nobody

[2022-06-21 14:26] aryx commented on #4982
Is this fixed @LewisArdern?
Reopen if not.

[2022-06-21 14:26] #4982 closed, assigned to mmcqd

[2022-06-21 14:32] aryx commented on #5318
related to #2530

[2022-06-21 14:38] aryx commented on #5570
@LewisArdern can I just rtrim, ltrim all whitespace around JSX children?

[2022-06-21 14:44] aryx commented on #5586
semgrep is not a compiler or type checker. It does not try to check the things that your compiler already do.

[2022-06-21 14:44] #5586 closed, assigned to nobody

[2022-06-21 14:46] aryx commented on #5587
seems related to #5570

[2022-06-21 15:17] arbazkiraak commented on #4957
@aryx can we merge semgrep solidity parser with latest release: https://github.com/JoranHonig/tree-sitter-solidity

[2022-06-21 15:18] aryx commented on #4957
yes

[2022-06-21 17:16] nusco commented on #5586
I find this a bit confusing, because matter of fact, Semgrep _does_ check my syntax all the time. I understand that you have to draw a line somewhere, but it's not clear to me as a user where that line is. I started by assuming that Semgrep stops at about lexer level, but then I was surprised by its ability to spot syntax errors–except when it doesn't, and then I'm left wondering why it didn't.

T

[2022-06-21 18:44] LewisArdern commented on #5570
@aryx depends on how results look if it changes the capture line

[2022-06-21 18:51] kurt-r2c opened #5590 "Taint mode does not interact correctly with Java iterators"
**Describe the bug**
Individual items referenced by an iterator of a tainted collection should propagate taint.  Currently, the following valid Java enumerator pattern does not propagate taint correctly if `getCollection(...)` is defined as a source:

[code]

**To Reproduce**
https://semgrep.dev/s/lJgG

**Expected behavior**
Individual objects created by a tainted iterator should be considered tai

[2022-06-21 18:52] r2c-demo commented on #5590
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1546/taint-mode-does-not-interact-correctly-with-java-iterators. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-21 19:06] arbazkiraak commented on #5585
This looks like a bug, I had also raised the issue on r2c slack :

https://r2c-community.slack.com/archives/CK86BJ5DW/p1655810859477049

[2022-06-21 19:22] arbazkiraak opened #5591 "[solidity] semgrep doesn't match the pattern-either case, if metavariable pattern is defined"
**Describe the bug**

When writing a case using `pattern-either` which contains multiple `pattern-inside` and if `metavariable-pattern` is defined to match either case, then it will only match the case where metavariable exists for `pattern-inside`

**To Reproduce**

https://semgrep.dev/s/arbazkiraak:problem2

**Output**

[code]

**Expected behavior**

It should have matched both the cases, with m

[2022-06-21 19:22] arbazkiraak commented on #5591
This might be a expected behaviour or bug, Is there any workaround to match both the cases provided in the playground example above?

[2022-06-21 19:23] r2c-demo commented on #5591
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1547/[solidity]-semgrep-doesnt-match-the-pattern-either-case-if. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-21 19:49] IagoAbal commented on #5569
Failed attempt at fixing this issue in PR #5581. We cannot just avoid the matching between metavariables and fully-qualified names due to `metavariable-pattern` (and `focus-metavariable` would likely be problematic too).

[2022-06-21 21:28] mjambon commented on #5575
Thanks for reporting this!

[2022-06-21 21:43] mjambon commented on #5587
I think the issue is the `nosem` attribute. If we replace it by `nose`, then we get a match (https://semgrep.dev/s/returntocorp:avoid-v-html-nose). This would have to do with how Semgrep ignores comments containing `nosem` or `nosemgrep`. If one of these strings appears in a comment (in theory) on the first line of the match, then the match is ignored. Here, `nosem` doesn't occur in a comment, so

[2022-06-21 22:06] ristomcgehee opened #5594 "Arrow functions sometime prevent matching"
**Describe the bug**
In PHP, when a file contains the arrow function syntax for anonymous functions (e.g. `fn($item) => $item > 3`), Semgrep is not able to match some patterns. There are still some patterns that are matchable with arrow functions in the file.

**To Reproduce**
This playground link shows a code snippet that contains an arrow function and is still able to match the pattern: https://

[2022-06-21 22:07] r2c-demo commented on #5594
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1548/arrow-functions-sometime-prevent-matching. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-21 22:08] ristomcgehee commented on #3848
I'm no longer getting a parsing error, which is good, but it seems arrow functions are still preventing matches in some cases. I've created https://github.com/returntocorp/semgrep/issues/5594 for this.

[2022-06-21 23:51] mjambon commented on #5591
I'm not sure if this is a bug or an unfixable limitation of how unbound metavariables are handled. Thanks for reporting it.

Meanwhile, for this particular example, the following workaround should work: https://semgrep.dev/s/returntocorp:pause-externally-available-workaround
[code]

[2022-06-22 00:10] mjambon commented on #3430
@aryx yes:
* code: https://github.com/returntocorp/semgrep/issues/5211
* documentation: https://semgrep.dev/docs/writing-rules/rule-syntax/#options

[2022-06-22 00:10] #3430 closed, assigned to mjambon

[2022-06-22 00:12] mjambon commented on #3864
No, I still haven't worked on that.

[2022-06-22 05:20] codedbrain opened #5598 "Semgrep GUI interface prepends github link in findings even though the original repository is not from github"
**Describe the bug**
Findings section , https://semgrep.dev/orgs/xyz/findings , lists all of the findings. However, the hyperlink to project has link of github even though the repository is in bitbucket. I have integrated semgrep in bitbucket CI/CD. Now when I click on the individual finding, it takes me to github instead of bitbucket.

I signed up on semgrep using github account gitxyz, the origi

[2022-06-22 05:20] r2c-demo commented on #5598
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1550/semgrep-gui-interface-prepends-github-link-in-findings-even-though-the. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-22 07:11] aryx commented on #5586
Actually semgrep does not stop at the syntax level; it also does some semantic analysis (hence the name semgrep) so that it can handle constant propagation, some form of type inference, name aliasing, etc.

Semgrep's goal is not to report syntax error, but to perform its role, that is to find matches, it needs to parse the code and understand the code. But knowing/enforcing that methods in abstrac

[2022-06-22 07:12] aryx commented on #5586
The line is whatever semgrep needs to be able to find matches to the rules you write.

[2022-06-22 08:14] arbazkiraak commented on #5591
Hey @mjambon,

Thanks for the prompt response on the issue,

Q1. I'm aware that this workaround will work, Is there any way to achieve the same using an `regex` instead of `pattern` to detect any function **modifier** that starts with `non` word?

https://semgrep.dev/s/arbazkiraak:problem2-2

Q2. The only way i can think of is using `metavariable-regex`,  but using `metavariable-regex` doesn't mat

[2022-06-22 11:29] erwanlr opened #5600 "Output missed/incorrectly detected line in test rather than whole arrays"
**Is your feature request related to a problem? Please describe.**
When a test fails and there are numerous expected lines to be detected, the output is really not helpful and it's hard to quickly see which lines were missed and/or incorrectly detected:

[code]

**Describe the solution you'd like**
Do a diff of the arrays to output the missed lines (False Negative), as well as incorrectly detected

[2022-06-22 11:31] r2c-demo commented on #5600
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1551/output-missedincorrectly-detected-line-in-test-rather-than-whole. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-22 13:11] #4957 closed, assigned to nobody

[2022-06-22 15:36] mmcqd commented on #4591
Right now the SCA rules mean "only fire on this pattern if the dependency is present", and we're conservative in that "no lockfile" means "the dependency is not present". I'll talk to Adam and Kurt to see how this would impact potential customers and whether they agree this would make things easier.

[2022-06-22 17:38] aryx commented on #5598
We've created a ticket in our internal separate issue tracker for semgrep app

[2022-06-22 17:38] #5598 closed, assigned to nobody

[2022-06-22 22:33] YakDriver commented on #5277
I was on vacation so missed the question but so glad to see this fixed! Thanks!

[2022-06-22 23:04] raghavjain3 opened #5607 "yaml incorrect matching"
**Describe the bug**
Run the sample snippet on [this](https://semgrep.dev/r?q=yaml.docker-compose.security.privileged-service.privileged-service) rule. The match extends beyond where it should to a comment and unnecessary whitespace.

**To Reproduce**
https://semgrep.dev/r?q=yaml.docker-compose.security.privileged-service.privileged-service

**Expected behavior**
Last matched line should be `privi

[2022-06-22 23:06] r2c-demo commented on #5607
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1553/yaml-incorrect-matching. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-23 00:40] brendongo commented on #5563
I can take it on.

[2022-06-23 00:44] brendongo commented on #5563
[code]
@efortuna do you think above helptext solves the need?

[2022-06-23 01:36] mjambon commented on #5472
I was able to get the same behavior for JavaScript:
[code]
^ shouldn't match!

Pattern AST:
[code]

Target AST:
[code]

Playground: https://semgrep.dev/s/returntocorp:stmt-expr

[2022-06-23 02:25] efortuna commented on #5563
It does, @brendongo, thanks. I have one countersuggestion. _Ideally_, so as to not clutter up that top section I'd have it read:

[code]

as I think the semgrep SUBCOMMAND --help sentence is _fairly_ expected. (others could argue with me on this one).
BUT I poked around your codebase, and changing that top line without having it also display when you run `semgrep scan --help` seems like it would b

[2022-06-23 02:37] efortuna opened #5612 "Make upgrading via the commandline output more user friendly."
**Is your feature request related to a problem? Please describe.**
If you run `semgrep --version` and you need to update, you see the following output:

[code]

Yay! Thanks for letting me know I need to update. However, https://semgrep.dev/docs/upgrading/ is a pretty dang simple page.

**Describe the solution you'd like**

What if instead we saw:

[code]

**Describe alternatives you've considered*

[2022-06-23 02:39] r2c-demo commented on #5612
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1555/make-upgrading-via-the-commandline-output-more-user-friendly. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-23 03:29] LewisArdern commented on #5607
https://semgrep.dev/s/w2Rd

[2022-06-23 08:24] Sjord commented on #5560
So, the behavior of `access` in Docker-for-mac is certainly peculiar, but I think that `access` is not the correct way to check whether a file is executable for the purposes of semgrep. From POSIX 2001:

From the [Linux man page](https://man7.org/linux/man-pages/man2/access.2.html):

Also, `access` on Linux marks files as non-executable when they are on a volume mounted with NOEXEC, but this doesn

[2022-06-23 08:54] #5590 closed, assigned to IagoAbal

[2022-06-23 09:07] lfama opened #5614 "Adding --list-only flag to only list rules"
**Is your feature request related to a problem? Please describe.**
As far as I know, if I want to list the rules within a ruleset, the only way is to browse them through the public registry (i.e. https://semgrep.dev/p/r2c).

**Describe the solution you'd like**
It would be nice to add a `--list-only` (or similar) flag to semgrep in order to only list the rules included for the specified ruleset.

[2022-06-23 09:08] r2c-demo commented on #5614
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1559/adding-list-only-flag-to-only-list-rules. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-23 14:30] fopinappb opened #5617 "`pattern-not-inside` is excluding a match that it should not"
**Describe the bug**

`pattern-not-inside` is excluding a match that it shouldn't.

[code]

As `cc.postMessage` comes *after* the `getChannel` definition, it is excluded yet `cc = window` not `cc = getChannel()`

**To Reproduce**

https://semgrep.dev/s/029j

**Expected behavior**

All tests to pass which means line 21 should be a match (and it is not)

**What is the priority of the bug to you?**

[2022-06-23 14:31] r2c-demo commented on #5617
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1560/pattern-not-inside-is-excluding-a-match-that-it-should-not. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-23 15:31] fopinappb commented on #5617
Closing the issue as had a very nice explanation in [r2c slack](https://r2c-community.slack.com/archives/CK86BJ5DW/p1655988737694899) by @LewisArdern  and @IagoAbal

TL;DR; (for anyone landing here) `...` is greedy match so the block would go up to line 27 and be done

thanks

[2022-06-23 15:31] #5617 closed, assigned to nobody

[2022-06-23 15:39] #5562 closed, assigned to nobody

[2022-06-23 19:10] LewisArdern opened #5620 "Java - Support Metavariables within @Path("{$VALUE}...")"
**Describe the bug**
There is a use-case where customers may want to match the PATH value with the PathParam value e.g.

https://semgrep.dev/s/gND5

[code]

https://r2c-community.slack.com/archives/CK86BJ5DW/p1655975606348409

**To Reproduce**
https://semgrep.dev/s/gND5

**Expected behavior**
The following code should match https://semgrep.dev/s/gND5 based on pattern written.

**What is the priori

[2022-06-23 19:12] r2c-demo commented on #5620
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1561/java-support-metavariables-within-pathdollarvalue. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-24 11:13] libre-man opened #5624 "Semgrep times out when trying to match the existence of four functions"
When trying to create a pattern that checks if a file contains at least four functions semgrep times out/crashes.

Reproduction link: https://semgrep.dev/s/Pylz

[2022-06-24 11:13] r2c-demo commented on #5624
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1563/semgrep-times-out-when-trying-to-match-the-existence-of-four-functions. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-24 13:34] danymarques opened #5625 "Add pagination to the selection of GitLab groups"
**Is your feature request related to a problem? Please describe.**
The page for selecting GitLab groups displays only the first 100 results.

**Describe the solution you'd like**
It would be nice to have a pagination widget so you can select groups on subsequent pages.

**Describe alternatives you've considered**
An alternative could be to be able to add a GitLab group with its ID.

**Use case**
B

[2022-06-24 13:34] r2c-demo commented on #5625
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1564/add-pagination-to-the-selection-of-gitlab-groups. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-24 14:32] HariSekhon opened #5627 "$LINE has been added to the .semgrepignore list of ignored paths. Someone from app-sec may want to audit these changes."
**Describe the bug**

Semgrep is returning these code scanning errors:

[code]

**To Reproduce**

Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

Commit this file into any repo.

https://github.com/HariSekhon/DevOps-Bash-tools/blob/master/.github/workflows/semgrep.yaml

**Expected behavior**

Firstly `$LINE has been added` is clearly an interpolation bug - it's generating

[2022-06-24 14:34] r2c-demo commented on #5627
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1565/dollarline-has-been-added-to-the-semgrepignore-list-of-ignored-paths. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-24 16:53] mjambon commented on #5607
I see this match with @LewisArdern 's link to the playground (https://semgrep.dev/s/w2Rd). Isn't it what we want?
![image](https://user-images.githubusercontent.com/343265/175606930-abea75dc-cf15-4d2f-8294-98e670a65c77.png)

[2022-06-24 17:03] mjambon commented on #5612
I think that's best for interactive use. For reproducible behavior, the output should be independent from the platform. I suggest determining the behavior based on whether the output goes to the console, and additionally take an option to specify which behavior we want (interactive, non-interactive, auto = the default).

Note that I'm not sure how we'd track the installation method. I don't even k

[2022-06-24 17:07] raghavjain3 commented on #5607
@mjambon yup @LewisArdern wrote a fixed rule!

previously, the example snippet [here](https://semgrep.dev/r?q=yaml.docker-compose.security.privileged-service.privileged-service) wasn't matching properly

[2022-06-24 17:22] mjambon commented on #5620
I don't think we can do this yet. A solution I could imagine is to first capture the strings to analyze as metavariables (`$PATH`, `$EXPECTEDTOMATCH`):
[code]
... and then check for the inclusion of one value into another. That last part isn't something we support at the moment. See https://github.com/returntocorp/semgrep/issues/3825

[2022-06-24 17:37] mjambon commented on #5624
It's surprising to see this behavior on such small input. I would expect this pattern to be slow in general but not if the input is a single function definition. Thanks for reporting this.

[2022-06-24 18:01] underyx commented on #5627
Seems like this is coming from this rule: https://github.com/returntocorp/semgrep-rules/blob/0fb239e7bee2f1b6f11a82a7937cbcdabfaa4d16/generic/ci/audit/changed-semgrepignore.yaml

The rule is intended to notify the security team about changes to the list of files ignored via `.semgrepignore`. I'm not fully sure why, but this is part of the `p/semgrep-misconfigurations` ruleset which you have enable

[2022-06-24 18:22] milanwilliams commented on #5625
Hi @danymarques - thanks for creating the issue! Is this blocking your ability to set up Semgrep App? I'm tracking this internally on our backlog 😄

[2022-06-24 19:06] efortuna commented on #5612
@mjambon is there a time you want reproducible behavior of this beyond our own specific tests?

Aren't our users always interacting?

[2022-06-24 20:27] underyx commented on #5627
@HariSekhon the noisy rule has been removed from the `p/semgrep-misconfigurations` ruleset. Thanks for the report!

[2022-06-24 21:04] mjambon commented on #5591
Sorry for the delay! Here's what I got:
[code]
https://semgrep.dev/playground/s/returntocorp:pause-externally-available-mjambon

As you can see, `pattern-either` is used to completely separate the two cases. This involves some duplication which may or may not be tolerable depending on the use case.

[2022-06-24 22:20] arbazkiraak commented on #5591
This is cool stuff @mjambon and resolves my problem

Thanks for writing this.

[2022-06-24 22:20] #5591 closed, assigned to nobody

[2022-06-25 13:16] #5374 closed, assigned to mjambon

[2022-06-25 19:30] sshadmand opened #5631 "Sanitized HTML still triggering dangerouslysetinnerhtml even with dompurify"
I followed the instructions to use DOMPurify to sanitize the HTML, but it is still triggering the issue?

[code]

So, my response was...

[code]

[code]

But still getting that  finding/response from semgrep. Confused as to how I can solve the warning. Any suggestions?

[2022-06-25 19:31] r2c-demo commented on #5631
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1567/sanitized-html-still-triggering-dangerouslysetinnerhtml-even-with. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-25 20:00] danymarques commented on #5625
Hi @milanwilliams,
Yes it is as the root level group is on the second page.
It would be cool if you can do it soon :)
I would like to help you but as far as I know, the semgrep app is not open source right?

[2022-06-26 14:10] CaledoniaProject opened #5632 "Run all rules and exclude specific one"
How can I run all the java rules while excluding `java.spring.security.unrestricted-request-mapping.unrestricted-request-mapping`?

I'm currently using `semgrep --config r/java` to do the job. But I'm unable to find an option to exclude certain rules, how can I do that?

[2022-06-26 14:11] r2c-demo commented on #5632
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1568/run-all-rules-and-exclude-specific-one. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-27 08:10] fabian-zeindl-oebb commented on #5445
Any news on this?

[2022-06-27 08:20] Pamplemousse commented on #5620
@LewisArdern, this does not seem specific to Java annotations.

I had expected the rule

[code]
to match the content of the parentheses, and hold `foo` in the metavariable `$VAR` from

[code]

But it is not the case: https://semgrep.dev/s/9nx8 .

[2022-06-27 09:16] invidian opened #5633 "list index out of range"
**Describe the bug**
Unhandled exception:
[code]

**To Reproduce**
[code]

**Expected behavior**

No unexpected exceptions are shown to the user.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

**Environment**
If not using semgrep.dev: are you running off

[2022-06-27 09:16] r2c-demo commented on #5633
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1569/list-index-out-of-range. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-27 09:50] spookylukey opened #5634 "with statement patterns match all with statements"
**Describe the bug**

For Python code, rules that match `with foo` will match any `with` statement, instead of specifically the expression in the `foo`.

For example, this rule:
[code]

Run on this code:
[code]
I expect only the last with statement to match, but both of them match:
[code]

Example in Playground:
https://semgrep.dev/playground/s/spookylukey:with-contextlib-supppress

It appears tha

[2022-06-27 09:51] r2c-demo commented on #5634
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1570/with-statement-patterns-match-all-with-statements. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-27 10:23] spookylukey opened #5635 "Expressions are not found within with statement "contents" if there is no `as` clause"
**Describe the bug**

Given the following rule:
[code]

I expect all uses of the `contextlib.suppress` to be found. But in the following code, the first usage is found, but the second, in a `with` statement first line is not found:
[code]

See playground link: https://semgrep.dev/playground/s/spookylukey:expression-in-with-statement-contents

It seems that Semgrep only matches things when there is

[2022-06-27 10:25] r2c-demo commented on #5635
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1571/expressions-are-not-found-within-with-statement-contents-if-there-is. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-27 11:32] ankush commented on #5562
@spencerdrak is it possible to release this fix as a patch release?

[2022-06-27 15:33] arbazkiraak commented on #5585
@mjambon ,

As the modifiers are the core functionality for the solidity language. Is it possible for you to have a priority tag for this issue :)

[2022-06-27 18:03] kopecs commented on #5635
Hi, thanks for the bug report(s). Are you able to reproduce this on version 0.100.0? I'm not sure why the playground version is out of date.

I believe this should've gotten fixed by https://github.com/returntocorp/semgrep/pull/5534 and I'm getting (almost) expected matches locally---it looks like we may not be matching the `with` keyword which could cause some issues with autofix, but for matches

[2022-06-27 18:04] kopecs commented on #5634
My comment on #5635 is similarly applicable here.

[2022-06-27 21:06] kopecs commented on #5635
I believe the playground is now updated to 0.100.0 and you should be able to see this working.

[2022-06-27 21:06] #5635 closed, assigned to kopecs

[2022-06-27 21:06] #5634 closed, assigned to kopecs

[2022-06-27 21:58] LewisArdern opened #5638 "TS/JS - Issue with object deconstruction capturing incorrect values"
**Describe the bug**
The following pattern:
[code]
will match:
[code]
**To Reproduce**
https://semgrep.dev/s/eEbb

**Expected behavior**
// ok Line should not match only items from this.props

**What is the priority of the bug to you?**

- [x] P1: important to fix or quite annoying

**Use case**
Reduce false positives in taint mode rules.

[2022-06-27 21:58] r2c-demo commented on #5638
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1574/tsjs-issue-with-object-deconstruction-capturing-incorrect-values. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-27 22:01] IagoAbal commented on #4785
Closed by #5548.

[2022-06-27 22:01] #4785 closed, assigned to underyx

[2022-06-27 22:43] djmattyg007 commented on #5165
Not stale.

[2022-06-27 23:25] aegarbutt-stripe opened #5641 "Metavariable regex rule matching against YAML files fails to match after occurrence of unicode characters"
**Describe the bug**
We've create a minimal test case that is supposed to match against all values that are set to "test":
[code]

It seems that after the first occurrence of a unicode character, the remaining matches are no longer flagged. One can move the unicode character from a value to a key, up or down in the target file, and can see that the boundary between where matches are correctly foun

[2022-06-27 23:27] r2c-demo commented on #5641
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1575/metavariable-regex-rule-matching-against-yaml-files-fails-to-match. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-28 06:07] anshumanbh commented on #5562
@spencerdrak Hi Spencer, we are seeing another failure:

[code]

Looks like `git checkout` is also affected?

[2022-06-28 07:08] arunkumar-telnyx commented on #5562
Hi  @spencerdrak    I am also facing the same issue on most of the repos now.

using

[code]

Error
[code]

[2022-06-28 07:12] arunkumar-telnyx opened #5645 "Pull requests scans failing as of semgrep version 0.101.0 on git checkout"
Hi  @spencerdrak  As per https://github.com/returntocorp/semgrep/issues/5562

I am also facing the same issue on most of the repos now with ```**git checkout** ```

using
[code]

Error
[code]

Can this be fixed quicker as we have a lot of repos integrated to semgrep and it will start failing on 1000s of repos.

[2022-06-28 07:14] r2c-demo commented on #5645
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1577/pull-requests-scans-failing-as-of-semgrep-version-01010-on-git. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-28 07:47] anotherbridge commented on #5172
Are there any news on this issue?

I am currently struggling with the memory performance of Semgrep.

I ran it with the following flags:
[code]

Yet on a machine that has 4 GB of memory Semgrep wasn't able to finish due to an OOM Killer.

Thus I would like to know whether there is any progress on this issue?

[2022-06-28 08:27] invidian commented on #5645
Perhaps someone can explain me, why on earth semgrep needs to do anything Git-related when running on CI? When scanning full repository, shouldn't it not care about git at all and just go over the files?

[2022-06-28 09:11] Sjord commented on #5594
Thanks, @chrismcgehee. Semgrep has two parsers for PHP, pfff and tree-sitter. I guess the `fn` function is not implemented in pfff, so this forces the PHP file to be parsed using tree-sitter. The pattern is still parsed using pfff. There is a slight difference between these syntax trees, resulting in this bug. Specifically, pfff parses `$this` into `IdSpecial (This)`, and tree-sitter into `Id ("$t

[2022-06-28 09:37] Sjord commented on #5382
Related:

* [Parse more keywords and language constructs · Issue #144 · tree-sitter/tree-sitter-php](https://github.com/tree-sitter/tree-sitter-php/issues/144)
* [Arrow functions sometime prevent matching · Issue #5594 · returntocorp/semgrep](https://github.com/returntocorp/semgrep/issues/5594)

[2022-06-28 09:52] Sjord commented on #4665
See also [[PHP] "$MVAR" patterns not working · Issue #4419 · returntocorp/semgrep](https://github.com/returntocorp/semgrep/issues/4419)

[2022-06-28 13:08] segevfiner commented on #5645
It's this piece of code as far as I can tell, there is a doc comment explaining why it does that, but it obviously doesn't work correctly currently: https://github.com/returntocorp/semgrep/blob/3548a568b7fe4661e045237e315f048c11072209/cli/src/semgrep/commands/ci.py#L74

[2022-06-28 13:09] dpnishant opened #5646 "Java: Pattern parse error with consecutive annotations"
**Describe the bug**
The playground URL https://semgrep.dev/playground/s/dpnishant:find-endpoints-via-annotations throws `Engine(Pattern parse error)`. However if either Line `7` or Line `8` is deleted (under the `pattern` block) the rule works fine. It seems there are some issues with parsing pattern with consecutive Java annotations.

**To Reproduce**
https://semgrep.dev/playground/s/dpnishant:f

[2022-06-28 13:11] r2c-demo commented on #5646
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1578/java-pattern-parse-error-with-consecutive-annotations. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-28 14:41] spencerdrak commented on #5645
Thanks for the report - we're looking into this and will leave updates here.

[2022-06-28 14:50] IagoAbal commented on #5645
@arunkumar-telnyx can you revert to 0.100.0 in the meantime?

[2022-06-28 14:53] arunkumar-telnyx commented on #5645
@IagoAbal It takes the latest version by default while running the workflow . Also, there are around 1000's of repos that are integrated.

[2022-06-28 16:29] spencerdrak commented on #5645
we've rolled back our docker image to the latest version, so if you're relying on that tag, then you should be back in operation. We're continuing a deeper dive into the underlying problem and will push a fix when we find out what went wrong. Stay tuned for updates from @IagoAbal or I. Thanks!

[2022-06-28 16:41] arunkumar-telnyx commented on #5645
Hi @spencerdrak
[code]

got it for git fetch, can you revert to older version than this ?

[2022-06-28 18:39] IagoAbal commented on #5641
Thanks for this nicely described bug report @aegarbutt-stripe !

To me this seems like a (potential) parsing issue, although I didn't really dig into it enough to confirm this.

It seems that, even without using `metavariable-regex`, the matches that happen after the unicode characters don't have the right location info attached. Notice that the playground only highlights the last `t` of `test`. 🤔

[2022-06-28 19:08] emjin commented on #5172
What version of Semgrep are you running? We've made some progress, but this is not a priority right now

[2022-06-28 19:29] spencerdrak commented on #5645
We've identified and corrected the issue here, we're releasing a bugfix version which should take care of the issue. If anything else goes wrong, please feel to let us know (either here or by opening a new ticket).

[2022-06-28 20:13] ievans opened #5650 "Scala for loops parse error"
I expected that `for($EXPR2; $IDENT <- $GEN; $EXPR) {yield ... }`
Or `for(...; $IDENT <- $GEN; ...) {yield ... }`

would parse as patterns but they don't as of 0.100: https://semgrep.dev/s/NoNx

[2022-06-28 20:13] r2c-demo commented on #5650
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1579/scala-for-loops-parse-error. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-28 21:24] ievans opened #5652 "Taint mode does not flow taint to sinks inside for comprehension"
**Describe the bug**
In Scala, taint mode does not flow taint to sinks inside for comprehension

**To Reproduce**
https://semgrep.dev/s/Q2vD <- expect both tests to pass

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

**Environment**
Semgrep 0.101

[2022-06-28 21:25] r2c-demo commented on #5652
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1580/taint-mode-does-not-flow-taint-to-sinks-inside-for-comprehension. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-28 21:54] IagoAbal commented on #5645
We released 0.101.1 that should fix both issues, and this version should already be running on App. Could you confirm it works for you now @arunkumar-telnyx ?

[2022-06-28 21:59] IagoAbal commented on #5646
I agree the error message isn't very helpful, but you can write the pattern (I think) you want this way:
[code]
Does this help you?

[2022-06-28 22:12] brendongo commented on #5612
@efortuna we found that users running `clitool --version` just want it to print out the version very quickly and also print nothing else

[2022-06-28 22:54] efortuna commented on #5612
@brendongo, if that's the case, why do we say that the version needs an
upgrade to begin with from that output?

On Tue, Jun 28, 2022 at 3:12 PM Brendon Go ***@***.***> wrote:

[2022-06-29 05:42] arunkumar-telnyx commented on #5645
@IagoAbal  and @spencerdrak  It has been fixed now. Thanks :)

[2022-06-29 05:42] #5645 closed, assigned to nobody

[2022-06-29 06:09] anotherbridge commented on #5172
When I tested I ran version 0.97.0.

[2022-06-29 15:09] dpnishant commented on #5646
@IagoAbal Although that works for this particular case, but that does not really meet my need, as the matched content (with the pattern (you suggested)) is much more than actually needed. Secondly & more importantly this does not work for this example: https://semgrep.dev/playground/s/dpnishant:find-endpoints-via-annotations-2. However if we keep just the Line `8` (under the `pattern` block), the

[2022-06-29 16:03] IagoAbal commented on #5646
For sure! I didn't mean to say that this is not a bug or something to improve. I am not sure it's a bug or a feature request, but I agree that those patterns should work. But since it probably won't be fixed right away, I'm trying to provide you with alternatives. For your latest example, you could do this: https://semgrep.dev/s/JOXo

[2022-06-29 16:04] IagoAbal commented on #5646
cc @aryx

[2022-06-29 20:34] ajbt200128 opened #5657 "Deep Expression Operator reports duplicate findings"
**Describe the bug**
If I use the deep expression operator, it will create two findings when one is expected

**To Reproduce**
[Steps to reproduce the behavior](https://semgrep.dev/s/jA2D)

**Expected behavior**
Only one finding to be created, specifically matching `user.is_admin()`

**Screenshots**
<img width="510" alt="Screen Shot 2022-06-29 at 1 31 21 PM" src="https://user-images.githubusercont

[2022-06-29 20:35] r2c-demo commented on #5657
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1584/deep-expression-operator-reports-duplicate-findings. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-29 22:08] brendongo commented on #5563
Yes a little non trivial to dig into click internals probably

[2022-06-29 22:10] brendongo commented on #5563
Yes filing a separate bug would be great

[2022-06-29 22:10] brendongo commented on #5563
@efortuna re: your counter suggestion: what you pasted was exactly what semgrep --help prints out now if I'm not mistaken?

[2022-06-30 09:10] #5652 closed, assigned to nobody

[2022-06-30 09:20] #5650 closed, assigned to nobody

[2022-06-30 12:21] maloleg opened #5665 "Cannot correctly identify hardcoded secrets in YAML files due to intolerance to special characters."
**Describe the bug**
Cannot write universal pattern to match secrets either if it in quotes, double quotes, contains special characters (dot in e.g.) when trying to match all hardcoded secrets in yaml file, because of intolerance to special characters.

**To Reproduce**
[semgrep.dev/playground/s/rPxP](https://semgrep.dev/playground/s/rPxP)

**Expected behavior**
Clear match if some key in yaml fil

[2022-06-30 12:22] r2c-demo commented on #5665
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1586/cannot-correctly-identify-hardcoded-secrets-in-yaml-files-due-to. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-06-30 13:46] aryx commented on #5632
dupe of #2530

[2022-06-30 13:46] #5632 closed, assigned to nobody

[2022-06-30 14:38] dpnishant commented on #5646
@IagoAbal Thank you so much for the workarounds. Appreciate it.

[2022-06-30 16:59] emjin commented on #5172
Is there anything you can share about your case? Obviously a full reproduction (rules/files you're running with) would be best. Failing that, some information that could help is

- Rules you're running with
- File stats (number, size, languages)
- The contents of the largest files

It can also be helpful to us if you can "binary search" through your repo to find out what the conditions are that tr

[2022-06-30 19:34] IagoAbal commented on #4115
Sorry, I made a mistake in #5434, that PR should have closed #5115 rather than this issue...

[2022-06-30 19:37] IagoAbal commented on #5115
Ooops, sorry, due to a typo in PR #5434 it closed #4115 instead of this issue.

[2022-06-30 19:37] #5115 closed, assigned to nobody

[2022-06-30 21:00] miles-slalom commented on #2252
My team ran into this today -- semgrep failing to run on an ARM64 Linux build agent.

[2022-06-30 22:46] #5641 closed, assigned to nobody

[2022-06-30 23:06] emjin commented on #5665
Would you be able to share an example of the intolerance of missing quotes? If it's easy to handle, we may try (unfortunately, with yaml there are so many variants it's impossible to support them all)

[2022-06-30 23:14] emjin commented on #5641
This is fixed in develop (see it work here: https://semgrep.dev/playground/s/5e9A?develop=true) and should go out next release! (Probably Wednesday next week)

[2022-07-01 07:41] ianmuscat opened #5669 "`.semgrepignore` not processed outside of working directory"
**Is your feature request related to a problem? Please describe.**
When running Semgrep from **outside** the working directory, Semgrep ignores `.semgrepignore`.

**Describe the solution you'd like**
Semgrep should process `.semgrepignore` even when it is run outside of the working directory. If not, the [documentation](https://semgrep.dev/docs/ignoring-files-folders-code/#defining-files-and-folde

[2022-07-01 07:43] r2c-demo commented on #5669
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1590/semgrepignore-not-processed-outside-of-working-directory. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-01 13:24] IagoAbal commented on #5665
I guess the actual example to report would be https://semgrep.dev/s/QOwo ?

The problem seems:
[code]

But it works if you add some double quotes.

[2022-07-01 13:37] IagoAbal commented on #5665
@maloleg let me know if this helps: https://semgrep.dev/s/P3Je
Note that in Generic a metavariable `$X` only matches one "word". If you want to match a sequence of words, you can use `$...X`---it has some limitations but in your example it seems to do the job.

[2022-07-01 13:50] IagoAbal commented on #5657
You don't need deep expressions for this: https://semgrep.dev/s/JO9d

The reason you get two matches is because `<... $USER.is_admin() ...>` matches both: `user.authenticated() and user.is_admin() and user.has_group(gid)` AND `user.is_admin()`. They are not duplicates.

In fact you shouldn't use deep expressions at all here! Precisely because `<... $USER.is_admin() ...>` will match the whole `user

[2022-07-01 13:54] IagoAbal commented on #5669
cc @brendongo @underyx @mmcqd

[2022-07-01 15:03] aryx commented on #5472
I've added a new options: implicit_deep_exprstmt that you can set to false to have this "anchor" statement behavior.
It's set to true by default because otherwise we have too many regressions as many rules (including docker/bash rules)
rely on the implicit deep exprstmt.

[2022-07-01 16:35] ievans commented on #5627
Seems like this issue is resolved - @HariSekhon feel free to re-open if not

[2022-07-01 16:35] #5627 closed, assigned to nobody

[2022-07-01 18:42] brendongo commented on #4668
This seems like a poetry/pip issue not a semgrep issue.

[2022-07-01 18:42] #4668 closed, assigned to nobody

[2022-07-01 23:57] #5395 closed, assigned to nobody

[2022-07-02 03:52] #5355 closed, assigned to nobody

[2022-07-03 20:57] VanessaHenderson opened #5672 "Findings list, multi-select boxes unable to be used"
**Describe the bug**
In the Semgrep app, when you are on the findings list, there are the multiselect boxes that allow you to triage multiple items at once. Today, when I went to select them, it took me to a summary of the issue itself and I wasn't able to select the multi-box. You can use the top multi-box to select the whole row, but you still couldn't uncheck them individually.

**To Reproduce*

[2022-07-03 20:59] r2c-demo commented on #5672
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1592/findings-list-multi-select-boxes-unable-to-be-used. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-04 11:17] erwanlr opened #5673 "Join rules ignore --no-git-ignore"
**Describe the bug**
Join rules completely ignores the `--no-git-ignore` option

**To Reproduce**
- Copy the folder from https://github.com/returntocorp/semgrep/tree/develop/cli/tests/e2e/targets/join_rules
- Copy the join rule from https://github.com/returntocorp/semgrep/blob/develop/cli/tests/e2e/rules/join_rules/inline/inline-rules.yaml
- Run the rule against the folders:

[code]

- Now create

[2022-07-04 11:19] r2c-demo commented on #5673
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1595/join-rules-ignore-no-git-ignore. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-04 12:38] schreddies opened #5674 "Replace with empty string"
**Describe the bug**
Hi,
During experiments with experimental feature - autofix, I got problem with fixing something with removing the string, or replacing it with empty string.

**To Reproduce**
[code]
Error message from Semgrep:
`'regex' and 'replacement' values required when using 'fix-regex'`
Using following config:
[code]
Response from Semgrep:
`unable to use regex to modify file asdf.go with

[2022-07-04 12:40] r2c-demo commented on #5674
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1596/replace-with-empty-string. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-04 12:46] IagoAbal commented on #5674
cc @mmcqd

[2022-07-04 12:50] IagoAbal commented on #5673
cc @minusworld

[2022-07-04 15:04] offsecdawn opened #5675 "Semgrep not showing the vulnerable code in a file upon clicking the findings in semgrep app"
**Describe the bug**
When I click on a particular finding in semgrep app, it does not show the actual line where the issue is existing. Instead, it is showing 404 error

**To Reproduce**
1. Run the Semgrep CI using jenkins

**Expected behavior**
All findings should indicate the list of vulnerability upon being clicked on

**Screenshots**
![image](https://user-images.githubusercontent.com/51472598/

[2022-07-04 15:06] r2c-demo commented on #5675
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1597/semgrep-not-showing-the-vulnerable-code-in-a-file-upon-clicking-the. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-04 21:22] VanessaHenderson commented on #5675
Its the URL that seems to be incorrect. The url wouldn't contain "monica.git" in the project name, instead it'd just be "monica"
IE the Url you have is
https://github.com/offsecdawn/monica.git/blob/3d6852b91ad2b88ec06c4c76a4ecf281a915960d/app/Console/Commands/SetupTest.php#L128
vs the actual URL is
https://github.com/offsecdawn/monica/blob/3d6852b91ad2b88ec06c4c76a4ecf281a915960d/app/Console/Comma

[2022-07-04 21:41] IagoAbal commented on #3199
I think we'll have some flag to provide 4.i next quarter. Semgrep-core already shows a basic taint trace when running in text mode, although this is not visible from Semgrep CLI.

Regarding to 4.ii, you can now refer to metavariables bound by `pattern-sources` in the rule message (although there is no built-in `$SOURCE` metavariable). You can do e.g.

[code]

[2022-07-05 09:58] offsecdawn commented on #5675
thanks for help. I changed the `repository_url` excluding the `.git` extension in jenkins pipeline configuration  and the issue is resolved successfully.

[2022-07-05 09:58] #5675 closed, assigned to nobody

[2022-07-05 10:24] ianmuscat opened #5680 "Rules with duplicate ids in the same config file cause Semgrep to ignore `paths.include`"
#### Describe the bug
If multiple rules with the same `id` within the same config file are defined, Semgrep will ignore the first rule and process the second rule while ignoring `paths.include` within the secondary rule. This potentially leads to both false positives and false negatives.

#### To Reproduce

Concatenating the `javascript.express.security.audit.xss.mustache.explicit-unescape.templat

[2022-07-05 10:26] r2c-demo commented on #5680
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1602/rules-with-duplicate-ids-in-the-same-config-file-cause-semgrep-to. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-05 13:28] maloleg commented on #5665
@IagoAbal Unfortunately if we have a more complex structure, like in the screenshot, then it could match next string as well
![image](https://user-images.githubusercontent.com/33466049/177338834-a949be81-6b76-4ec6-81e0-83040483c56a.png)

[2022-07-05 17:46] IagoAbal commented on #5665
@maloleg What about https://semgrep.dev/playground/s/q4Y8 ? To be clear, I'm just trying to give you some workaround so that you can achieve what you want in the meantime. I think you could reach some compromise with Generic, although it may not be as ideal as with YAML.

What tools are you using to process those YAML files? The tooling I use don't seem to recognize `secret: {cipher}awgawga` as be

[2022-07-05 20:09] andersk commented on #4739
The jsonschema 3 bound is increasingly conflicting with other projects that require jsonschema 4, such as [openapi-schema-validator](https://github.com/p1c2u/openapi-schema-validator/blob/0.3.0/pyproject.toml#L35). Please consider reopening and fixing this.

[2022-07-05 22:42] #4663 closed, assigned to minusworld

[2022-07-05 22:51] efortuna commented on #5563
@brendongo for the counter suggestion, check the description of *scan* specifically. It's different. It reads:
`  scan          [DEFAULT] Run semgrep rules on files. Aliases as semgrep [OPTIONS] [ARGS]. `

[2022-07-05 23:01] efortuna opened #5684 "Command line argument errors should print usage information"
**Describe the bug**
If you provide incomplete or bad arguments to a command, we should print the usage information to explain how to use the command correctly. Currently we don't give usage commands for anything other than the top command semgrep.
A clear and concise description of what the bug is.

**To Reproduce**
Type any non-top-level command into the command line with an incomplete argument

[2022-07-05 23:02] r2c-demo commented on #5684
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1604/command-line-argument-errors-should-print-usage-information. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-06 00:02] yogaxpto opened #5685 "--no-test-ignore-todo doesn't seem to work"
**Describe the bug**
Tried to test a custom rule with `--no-test-ignore-todo doesn't seem to work` and it doesn't seem to work

**To Reproduce**
Tried on a docker image using the code from the [documentation](https://semgrep.dev/docs/writing-rules/testing-rules/#example):

[code]

**Expected behavior**
I expected semgrep to raise an error in this situation.

**Screenshots**
If applicable, add scre

[2022-07-06 00:03] r2c-demo commented on #5685
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1605/no-test-ignore-todo-doesnt-seem-to-work. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-06 01:58] enncoded opened #5686 "Unable to have a `focus-metavariable` within a `pattern-either`"
**Describe the bug**
I have a `pattern-either` that only has `focus-metavariable` inside of it:

[code]

However, the rule is considered invalid when I try to run/save it.

**To Reproduce**
I'm unable to save the rule on the editor because its invalid syntax, so here's a [Gist](https://gist.github.com/enncoded/442290934503ab36e811d9b655c3be01) (in new playground rule format).

**Expected behavior*

[2022-07-06 01:59] r2c-demo commented on #5686
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1607/unable-to-have-a-focus-metavariable-within-a-pattern-either. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-06 04:06] emjin opened #5688 "TS/JS Misleading behavior for object deconstruction pattern"
**Describe the bug**

Describe the bug
The following pattern:

[code]

will match:

[code]

**To Reproduce**
https://semgrep.dev/s/kPe7 Line 70

**Expected behavior**
In fact, the Javascript parser would fail to parse the pattern (even if the metavariable were replaced by a pattern) because it interprets `{...} = ...` as a block followed by an equality (which is a syntax error). Throwing an error

[2022-07-06 04:07] #5638 closed, assigned to nobody

[2022-07-06 04:07] emjin commented on #5638
Closed in favor of https://github.com/returntocorp/semgrep/issues/5688

[2022-07-06 04:07] r2c-demo commented on #5688
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1608/tsjs-misleading-behavior-for-object-deconstruction-pattern. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-06 17:03] plotchy commented on #5585
I ran into this same issue. It appears that if any modifiers in the function declaration pass the `pattern-not-regex`, you get a false match.

This doesn't fix the issue, but you can use a workaround:
[code]

[2022-07-06 17:41] IagoAbal opened #5690 "[java] Regression in name resolution"
**Describe the bug**
https://semgrep.dev/s/A954 no longer works. @ap00rv claims that it worked with previous versions. It makes sense but I cannot easily test this since `?version=x.y.z` stopped being supported in the Playground. _TODO: Find out what was the latest version where this rule worked._

**To Reproduce**
https://semgrep.dev/s/A954

**Expected behavior**
Given `import org.slf4j.Logger` S

[2022-07-06 17:42] r2c-demo commented on #5690
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1610/[java]-regression-in-name-resolution. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-06 17:58] IagoAbal commented on #5690
User believes this worked in either 0.101.0 or 0.89.0.

[2022-07-06 20:21] VanessaHenderson commented on #5672
Seems to be resolved now

[2022-07-06 20:21] #5672 closed, assigned to adamberman

[2022-07-07 06:16] denizdogan commented on #5294
Keep this alive

[2022-07-07 15:12] mmcqd opened #5698 "YAML matching sometimes captures too much text"
**Describe the bug**
In this example: https://semgrep.dev/s/P3yp, The match on
[code]
extends past `true` and includes the newline and comment following it.

**Expected behavior**
The match range should begin at `y` and end at `true`

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular b

[2022-07-07 15:12] r2c-demo commented on #5698
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1612/yaml-matching-sometimes-captures-too-much-text. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-07 19:41] schreddies opened #5701 "Multiline autofix replacement/fix applied multiple times breaking logic"
**Describe the bug**
Using `fix-regex` or `fix` to autofixing some issues, there is problem when the fix is other lines number than matching pattern, next autofix will fix the already spotted occurrence which is already fixed.

**To Reproduce**
Adding comment as the newline (actually any other code, or removing some part of code) will break the autofix logic, and the `replacement`, or `fix` will b

[2022-07-07 19:42] r2c-demo commented on #5701
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1614/multiline-autofix-replacementfix-applied-multiple-times-breaking-logic. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-07 19:49] schreddies commented on #5701
I think, that might be an explanation: https://github.com/returntocorp/semgrep/blob/3548a568b7fe4661e045237e315f048c11072209/cli/src/semgrep/autofix.py :)

[2022-07-07 21:05] IagoAbal commented on #5686
@enncoded could you please provide us with the rule that you wanted to write (and the test code) ?

[2022-07-08 03:50] enncoded commented on #5686
I posted the relevant section of the rule above under the "To reproduce" section, but I can post the full one on the Linear issue, along with the test code.

[2022-07-08 06:51] vivekkhimani commented on #5560
https://github.com/returntocorp/semgrep/pull/5703. Can I get a review @underyx?

[2022-07-08 09:33] ben-elttam opened #5704 "Docker Multi-platform Images -- linux/arm64 (and amd64)"
**Is your feature request related to a problem? Please describe.**
Currently there is no linux/arm64 docker image for semgrep.

Currently Docker Hub only has a linux/amd64 image and PyPi has Linux and MacOS (x64 and M1).

**Describe the solution you'd like**
It would be nice to have a multi-platform docker image with a linux/arm64 in addition to linux/amd64.

This would possibly allow faster execu

[2022-07-08 09:34] r2c-demo commented on #5704
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1619/docker-multi-platofmr-images-linuxarm64-and-amd64. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-08 10:30] #5172 closed, assigned to nobody

[2022-07-08 10:30] #5282 closed, assigned to nobody

[2022-07-08 12:06] azu commented on #5282
📝 As a memo, I could not reopen this issue.

[2022-07-08 12:14] BobbyTRU opened #5705 "'semgrep' is not recognized as an internal or external command, operable program or batch file."
I installed semgrep with "python3 -m pip install semgrep". All looked good except for some warnings "Ignoring invalid distribution -emgrep". Trying to use the command semgrep --help yields the error "'semgrep' is not recognized as an internal or external command,
operable program or batch file." Tried uninstalling and installing it but that didn't work. Any suggestions what might be the cause of t

[2022-07-08 12:15] r2c-demo commented on #5705
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1624/semgrep-is-not-recognized-as-an-internal-or-external-command-operable. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-08 13:53] schreddies commented on #5701
Quick solution for now: I could possibly use rule, with count to be applied once, and run semgrep multiple times (non-ideal, but it worked for some usecases).

[2022-07-08 15:29] ievans commented on #5705
@BobbyTRU thanks for the bug report. What platform (operating system, version, python version) are you running on?

[2022-07-08 20:31] underyx commented on #5560
@Sjord this should be fixed in returntocorp/semgrep:edge

If you have a reproduction locally, could you check if the fix worked?

[2022-07-08 20:39] brendongo commented on #5563
Oh I see. I feel lukewarm. Clearly I didn't even notice the difference.

[2022-07-08 20:42] efortuna commented on #5563
I also said:

[code]

Either way, If you're trying to look at your available options and scanning through things for the first time, I'm pretty sure you're going to at least look at "[DEFAULT]"

[2022-07-08 20:45] brendongo commented on #5705
FYI we do not support semgrep running on Windows. WSL should just work

[2022-07-08 20:48] brendongo commented on #5680
IMO correct behavior here might be to exit with an error for having multiple rules with the same id

[2022-07-08 20:56] brendongo commented on #5625
@danymarques I believe this has been fixed

[2022-07-08 21:00] brendongo commented on #4457
No but treating all yaml files in a .semgrep directory in CWD when running without `--config` is desired behavior. IMO running from root without a config is fringe enough.

[2022-07-08 21:57] BobbyTRU commented on #5705
Im running it on Windows 11. Version 10.0.22000 Build 22000. Python Version is 3.10.5.

[2022-07-08 22:35] brendongo opened #5709 "Remove usage of parse_yaml_preserve_spans"
**Describe the bug**
This function (and the associated Yaml objects) are an artifact of semgrep once handling the boolean composition of pattern ranges in the python codebase. That functionality has since been shifted to semgrep-core so we can delete this unneeded functionality. This will also enable us to pass around Rule objects instead of YamlTree objects for configuration.

I suspect there may

[2022-07-08 22:35] r2c-demo commented on #5709
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1626/remove-usage-of-parse-yaml-preserve-spans. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-09 03:46] vivekkhimani commented on #4543
If I'm understanding this correctly, Semgrep uses ```Path.glob(**/*)``` for directory traversal ([reference](https://github.com/vivekkhimani/semgrep/blob/develop/cli/src/semgrep/target_manager.py#L412)). I tried to benchmark it with ```fd``` on my personal ```/Applications/Xcode.app```(~16GB, 556736 files) directory and these are the results:

- fd: ```10.02s user 51.19s system 187% cpu 32.717 tot

[2022-07-09 04:24] vivekkhimani commented on #5633
PR with the fix - https://github.com/returntocorp/semgrep/pull/5711

[2022-07-11 07:26] anotherbridge commented on #5172
I tried running on many different repos and files. Even on a file with just a few hundred KB the issue occured. However, I used the full ruleset. When I tried going for the automatic detection of the rules the kill occured later during the run, but I still got that problem.

[2022-07-11 07:43] jeremyfelder opened #5713 "Support named capture groups in `pattern-regex` and `pattern-not-regex`"
**Is your feature request related to a problem? Please describe.**
When using the patterns `pattern-regex` and `pattern-not-regex`, it is not possible to use named capture groups to rename a number capture group to be referenced easily. See [this](https://semgrep.dev/s/rPre) playground as an example; I would have expected that the named group `FINAL` would be mapped to a metavariable just like the

[2022-07-11 07:45] r2c-demo commented on #5713
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1627/support-named-capture-groups-in-pattern-regex-and-pattern-not-regex. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-11 10:36] maloleg commented on #5665
@IagoAbal thank you for a way of doing, it's little bit of a crutch, but should help. Is there a way not to match same strings?Because there are 6 strings and 9 matches on it😅

I am looking at java spring configs, as i understand it allows this level of tolerance for devs to write yamls.

[2022-07-11 14:31] danymarques commented on #5625
I had a look now and I can confirm that it has been fixed. Thanks a lot!

[2022-07-11 14:31] #5625 closed, assigned to nobody

[2022-07-11 19:12] #5633 closed, assigned to vivekkhimani

[2022-07-11 19:17] tino commented on #2530
I have a use case for disabling a specific rule on a specific line: when the rules are incorrect (for a while) (eg. https://github.com/returntocorp/semgrep-rules/issues/1421). Most linters/comparable tools provide ways to do this.

[2022-07-11 19:18] Gby56 commented on #2530
You can do that already with a comment on the line I think

[2022-07-11 19:46] sbassett29 commented on #2530
Yes, looks like you can use `// nosemgrep` for individual rule-ids: https://semgrep.dev/docs/ignoring-files-folders-code/#reference-summary

[2022-07-11 20:00] #5060 closed, assigned to nobody

[2022-07-12 07:23] tino commented on #2530
Ah right. Only problem is that the rule-id is very long, and this will never fit 88 char limited python (black): `#nosemgrep python.django.correctness.nontext-field-must-set-null-true.nontext-field-must-set-null-true`... :)

[2022-07-12 08:15] zakrush opened #5715 "Permission denied when build semgrep docker image"
It bug was discussed into slack:
https://r2c-community.slack.com/archives/CK86BJ5DW/p1657044622433309

**Describe the bug**
When build image locally I get `The command '/bin/sh -c scripts/install-tree-sitter-lib' returned a non-zero code: 1`

**To Reproduce**
[code]
I get this logs:
[code]
I try to build on different worstastions.
**Expected behavior**
Build of image is completed.

When I research

[2022-07-12 08:15] r2c-demo commented on #5715
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1630/permission-denied-when-build-semgrep-image. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-12 08:52] djmattyg007 commented on #5165
Not stale.

[2022-07-12 09:02] chananloh opened #5717 "Rust `use` declarations only include last element"
**Description**
I have written a simple custom rule for Rust language. Running the custom rule in Semgrep CLI matches lines of code extraneously that does not match the expected output for the custom rule.

**To Reproduce**
python3 -m venv /path/to/venv
source /path/to/venv/bin/activate
python -m pip install semgrep
semgrep --config=prng.yml prng.rs

prng.yml:
[code]
prng.rs:
[code]

**Expected be

[2022-07-12 09:03] r2c-demo commented on #5717
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1631/rules-have-generated-extraneous-findings-that-does-not-match-expected. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-12 13:00] IagoAbal commented on #5665
@maloleg you get duplicates because due to the different patterns used in the `pattern-either` the same secret may be read with and without quotes, e.g. `"sefselkmselkm"` and `sefselkmselkm`. Maybe adding a filter like:
[code]
See https://semgrep.dev/s/ePRy. This will remove matches of `$...SECRET` that contain `'` or `"`.

[2022-07-12 18:19] kopecs commented on #5717
Looks to me like a parsing/ast-translation bug for Rust imports.

[code]
currently results in
[code]
but should probably instead be
[code]

~~Probably along the lines of https://github.com/returntocorp/semgrep/pull/5343.~~ After some inspection, seems different. Looks like we need to consume the data associated with this in
https://github.com/returntocorp/semgrep/blob/f4b699a7d565b907f610d9a50cf1b

[2022-07-12 20:25] #5600 closed, assigned to vivekkhimani

[2022-07-12 21:08] vivekkhimani commented on #4543
Ran PyCharm profiling run with @underyx and seems like there is a lot of scope for overall improvement in different methods that are currently being used. This will be a more involved project and it will be focused on optimizing individual methods.
![semgrep5](https://user-images.githubusercontent.com/48132553/178595534-4647e1f4-ee95-40a9-a794-e3bb82964c08.jpg)

[2022-07-12 22:06] brendongo commented on #5715
I was unable to reproduce this but I think it might be because the USER used to download the semgrep repo and the USER inside the docker context don't quite match and somehow the user in docker context doesnt have permissions to mkdir in a copy of the semgrep repo.

@underyx do we have to chown one more layer up? https://github.com/returntocorp/semgrep/blob/develop/Dockerfile#L32

[2022-07-12 22:06] #5563 closed, assigned to brendongo

[2022-07-12 22:10] kopecs commented on #4478
I believe most use cases listed should be addressed by #5621 --- some are not, e.g., Jupyter Notebook, but we've got a separate issue for that one.

[2022-07-12 22:12] kopecs commented on #4309
While our C support may currently be a bit lacking still, I believe this should be enabled by a combination of #5621 and using `paths > include` (to include `*.sc` paths) for any specific file extension related issues.

[2022-07-13 15:23] underyx commented on #4543
Oh btw @vivekkhimani id you're doing multiprocessing, i think this is the nicest standard library available for it https://docs.python.org/3/library/concurrent.futures.html

[2022-07-14 05:42] seanmyath opened #5728 "Package-lock.json false positives (integrity hashes)"
**Describe the bug**
`generic.secrets.security.detected-username-and-password-in-uri.detected-username-and-password-in-uri` rule is generating hundreds of findings for all repos that use npm inside the package-lock.json files. Semgrep detects integrity hashes of packages as secrets.

**To Reproduce**
Run semgrep scan npm project (and package-lock.json) file with the following rule https://semgrep.

[2022-07-14 05:42] r2c-demo commented on #5728
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1637/package-lockjson-false-positives-integrity-hashes. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-14 06:47] flabbergastedbd opened #5729 "Fingerprint field missing in sarif output but present in json output"
**Describe the bug**

Fingerprint field for results is present in json output but not in sarif output. Sarif specification already has [fingerprints](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317654) and [partialFingerprints](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317655) for this type of values.

**To Reproduce**

1. Create

[2022-07-14 06:47] r2c-demo commented on #5729
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1638/fingerprint-field-missing-in-sarif-output-but-present-in-json-output. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-14 12:25] maloleg commented on #5665
@IagoAbal Thank u for your help, i think this should pretty much work for me.

As for the future, will it be possible to do same things with semgrep using yaml language (as yaml 1.2 specs supports both single\double quoted styles https://yaml.org/spec/1.2.2/#73-flow-scalar-styles)?. I understand that yaml language support right now is stated as experimental, so just curious :) Maybe someone else w

[2022-07-14 13:37] IagoAbal commented on #5665
If I'm not mistaken the problem with your example is this:
[code]
And looking at the YAML spec that you just linked I found:

So it seems like those YAML files that you are analyzing with Semgrep do not conform to the 1.2 spec?

[2022-07-14 13:41] fabian-zeindl-oebb commented on #5445
@mjambon Is there news on this?

[2022-07-14 13:41] IagoAbal commented on #5665
Or maybe it does conform. 🤔 Since the spec says:

[2022-07-14 13:43] IagoAbal commented on #5665
@emjin is more into YAML parsing than me, so maybe she has a better answer to that.

[2022-07-14 22:26] emjin commented on #5665
Indeed the problem is with `secret: {cipher}awgawga`. The problem isn't quite what you identified, @IagoAbal, but

`{` is an indicator character.

The big challenge with YAML parsing is that so many tools actually use their own YAML dialect which often doesn't conform with the official YAML specification. Those variants are important to parse, since that's what people are actually useful, but it's

[2022-07-14 23:06] IagoAbal commented on #5665
Thanks for clarifying this @emjin !

See https://github.com/returntocorp/semgrep/issues/5665#issuecomment-1180233758

[2022-07-15 02:15] msorens opened #5734 "Bogus error indicated in JSX expression though rule runs just fine"
**Describe the bug**

<img width="1262" alt="image" src="https://user-images.githubusercontent.com/6817500/179132965-550ba331-ac9e-4b60-91e8-8e6baf45f6a8.png">

Note that in advanced mode there is no error squiggle.

**To Reproduce**
https://semgrep.dev/playground/s/msorens:tooltip-empty-string

**Expected behavior**
No error squiggle on a valid JSX expression.

**What is the priority of the bug t

[2022-07-15 02:17] r2c-demo commented on #5734
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1642/bogus-error-indicated-in-jsx-expression-though-rule-runs-just-fine. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-15 04:45] ben-elttam opened #5735 "HTML Language Strict Processing Doesn't Allow Writing JSP etc"
**Describe the bug**
A clear and concise description of what the bug is.

Entering patterns that don't match valid HTML, e.g. JSP etc extensions causes a parse error.
A loose processing option that is between HTML and generic mode that would allow matching non-HTML would be nice.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

https://semgrep.dev/playgrou

[2022-07-15 04:47] r2c-demo commented on #5735
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1643/html-langauge-strict-processing-doesnt-allow-writing-jsp-etc. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-15 06:56] wilsonehusin commented on #5704
I ran into this as well today — I've added a PR and happy to work with reviewers to get it merged in 😄

[2022-07-18 08:34] Sjord commented on #5294
@inkz Could you take a look at this?

[2022-07-18 09:27] maloleg commented on #5665
@emjin Thank you for a bit of explanation, unfortunately cannot share exact files, but it's just like in my example - different formats (quotes, double quotes, or missing quotes) in different files but in the same spring app config repo
<img width="129" alt="image" src="https://user-images.githubusercontent.com/33466049/179482820-9d619fd2-b168-46b1-8c06-0f2cc44bad0a.png">

I'm trying to figure out

[2022-07-18 10:21] aryx commented on #4478
Reopening, because even though the infra is there (extract mode), we still to write the extract rules for all the embedded languages we want to support, write some tests, etc. We need some PRs in semgrep-rules to close this issue.

[2022-07-18 10:23] aryx commented on #4309
we should close this when we actually support embedded SQL in C code with actual extract mode rules, and also real support for SQL.

[2022-07-18 11:58] Sjord commented on #5560
This now works as expected in returntocorp/semgrep:edge.

[2022-07-18 11:58] #5560 closed, assigned to vivekkhimani

[2022-07-18 12:09] mjambon commented on #5072
In the semgrep rule, the user would designate a metavariable to be analyzed as a URL, similar to how we do for regexps and for passwords, using [metavariable-analysis](https://semgrep.dev/docs/experiments/metavariable-analysis/).

Internally, I suggest something like:
* the analyzer does its best to do a full analysis of the expression captured by the metavariable (constant propagation, tainting,

[2022-07-18 14:07] zakrush commented on #5715
@brendongo @underyx  Do you have some news?

[2022-07-18 14:40] ashwinkumar01 opened #5740 "Broken Pattern example for Yaml"
**Describe the bug**
Under Pattern example, clicking the YAML section shows malformed text
On closer inspection, it appears that most sections have some form of broken content

**To Reproduce**
- Navigate to https://semgrep.dev/docs/writing-rules/pattern-examples/
- Scroll right and click on YAML

- In the Bash section, scroll down and you can see this text:
`This example is missing, or this featu

[2022-07-18 14:41] r2c-demo commented on #5740
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1647/broken-pattern-example-for-yaml. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-18 16:16] kopecs opened #5741 "Support `generic` as a destination language for extract mode"
There are several use cases where no specific language we support would be the correct destination for an extract mode rule. Examples of this include:

- Django templates; extracting their DSL
- SQL embedded in lots of places (at least until we have robust SQL support)
- Inline asm

One possible issue with the current design is ensuring that relevant generic rules run on the extracted code. The di

[2022-07-18 16:17] r2c-demo commented on #5741
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1648/support-generic-as-a-destination-language-for-extract-mode. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-18 17:55] underyx commented on #5715
I'm not sure it's possible to chown one layer up. In this case we pass a UID in as an argument to the `COPY` instruction. So every file that's copied in gets the correct user right when it's created. As far as I can tell the issue comes from the `download-tree-sitter` script. I'll tag @mjambon, the author of that skip, maybe he has some ideas?

[2022-07-18 18:00] underyx commented on #5560
Wonderful! Thanks for verifying, and thanks @vivekkhimani for the fix!

[2022-07-18 18:02] underyx commented on #5294
Sorry I missed the earlier notification, I notified the registry maintainers on our Slack now.

[2022-07-19 04:59] wilsonehusin commented on #5704
Next release _should_ have linux/arm64 builds (if I did everything correctly in #5736). However, I didn't realize that the current develop HEAD pushes containers through `tests.yml`, so I'm addressing that in #5747.

[2022-07-19 09:28] IagoAbal commented on #5068
Should Semgrep be rejecting any code that parses? There is a compiler with a type checker whose job is that one already. I would personally put there some "ERROR" or "TODO" AST node, but I would allow the file to be processed.

[2022-07-19 18:19] bkettle opened #5750 "Python matches on multiline strings report ending line number incorrectly"
**Describe the bug**
When a match matches a python multiline string:

[code]

The end line number is reported as being the same as the start line number, when in reality the start and end line numbers should be different.

**To Reproduce**
The behavior shows up here: https://semgrep.dev/playground/s/Jg2y

A simpler example can be seen by running `semgrep -e "\$X = \"\$MULTILINE\"" -l py match.py -

[2022-07-19 18:21] r2c-demo commented on #5750
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1652/python-matches-on-multiline-strings-report-ending-line-number. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-19 20:29] #5068 closed, assigned to nobody

[2022-07-19 20:51] #5741 closed, assigned to nobody

[2022-07-19 21:35] emjin commented on #5665
hmm I'm not a generic expert. @mjambon Do you have any tips?

[2022-07-19 21:39] emjin commented on #5740
We've been lax creating examples for languages that don't fit the format very well (YAML doesn't have function calls). If you're just looking for examples, would it be helpful if I shared some existing YAML rules with you?

[2022-07-19 22:18] snyamathi opened #5753 "SEMGREP_URL not reflected in log message"
**Describe the bug**
When `SEMGREP_URL` is set, the logged message `Fetching rules from https://semgrep.dev/registry` doesn't use the `SEMGREP_URL` which is where the rules are _actually_ fetched from

**To Reproduce**
[code]

**Expected behavior**
[code]

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoyi

[2022-07-19 22:18] r2c-demo commented on #5753
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1653/semgrep-url-not-reflected-in-log-message. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-19 22:20] snyamathi commented on #5753
Took a quick stab at this: https://github.com/returntocorp/semgrep/pull/5754

[2022-07-20 01:45] efortuna commented on #3269
ran into this issue myself :-(

[2022-07-20 01:58] efortuna opened #5756 "Autofix should be aware of resolved names in matches"
**Is your feature request related to a problem? Please describe.**
Autofix currently only seems to support Semgrep metavariables at the most basic level. If you want to do anything more complex, suddenly you need to write a complex regex, which almost negates the benefits of using Semgrep (so you don't have to worry about all that annoying regex syntax). You've created a tree when parsing the code

[2022-07-20 01:59] r2c-demo commented on #5756
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1654/autofix-should-support-more-semgrep-patterns. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-20 10:32] sumitsharma16 opened #5758 "Getting error while executing njsscan"
**Describe the bug**
Hi

We are getting the below error. It runs for a while and after that it gives the error. Please let us know the solution or the reason.

########################### error ###############################################################

Pattern Match ██████████████████████████████████████████████████████████ 97

    Pattern Match ██████████████████████████████████████████████

[2022-07-20 10:33] r2c-demo commented on #5758
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1655/getting-error-while-executing-njsscan. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-20 14:20] aryx commented on #5756
You can use $...ARGS to name the ellipsis, so then they can be reused in the fix: part.
pattern: load($...ARGS)
fix: safe_load($...ARGS, loader=UnsafeLoader)

[2022-07-20 16:22] aryx opened #5760 "Add support for Julia language"
See https://r2c-community.slack.com/archives/C01LNF69F9B/p1656433053812029 for context

[2022-07-20 16:24] r2c-demo commented on #5760
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1657/add-support-for-julia-language. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-20 16:36] bmahe opened #5762 "Java Regression"
**Describe the bug**

There is a regression in the way java is matched, returning different match results. See https://semgrep.dev/playground/s/oK21

It seems related to #5690 but appears to be different.

**To Reproduce**

[code]
Would show the differences.
Output for 0.102.0:
[code]

Output for 0.103.0:
[code]

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semg

[2022-07-20 16:36] r2c-demo commented on #5762
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1658/java-regression. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-20 18:53] #5506 closed, assigned to nobody

[2022-07-20 21:41] #5717 closed, assigned to nobody

[2022-07-20 22:44] efortuna commented on #5756
@aryx I'm aware of `$...ARGS`. But as indicated in my first post, I don't want to autofix to suggest: `safe_load(..., loader=UnsafeLoader)` is a bad suggested fix. I want it to suggest:

`safe_load(..., loader=SafeLoader)` <-- note what's passed in to `loader` there and how it's different

[2022-07-20 23:14] nmote commented on #5762
bisects to d30da7627196fe2c2e24127450f6a45ab1b256fb

[2022-07-20 23:33] nmote commented on #5762
From reading that commit, it looks like this is intended behavior. When a pattern is a statement, Semgrep no longer matches the equivalent expression when it is nested within another statement.

Probably the simplest way forward is to remove the semicolons at the end of each pattern, so that Semgrep parses them as expressions rather than statements. When I do this, I get the five expected matches.

[2022-07-20 23:48] ievans commented on #5753
Closed in #5754

[2022-07-20 23:48] #5753 closed, assigned to nobody

[2022-07-21 00:44] brendongo commented on #5705
@BobbyTRU did you manage to get this working on WSL?

[2022-07-21 00:59] brendongo commented on #5715
@zakrush as a workaround for now can you just `mkdir semgrep-core/src/ocaml-tree-sitter-core/downloads` before running `docker build .`?

[2022-07-21 01:24] kopecs commented on #4995
Fixed in #5658

[2022-07-21 01:24] #4995 closed, assigned to nobody

[2022-07-21 01:36] msorens opened #5776 "object key not qualifying as an "expression""
**Describe the bug**

<img width="953" alt="image" src="https://user-images.githubusercontent.com/6817500/180110677-b257fd2b-e7e3-4996-825a-f2013f3d8f59.png">

**To Reproduce**
https://semgrep.dev/playground/s/msorens:embedded-quotes

**Expected behavior**
All tests should pass.

**Screenshots**

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
-

[2022-07-21 01:36] r2c-demo commented on #5776
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1661/object-key-not-qualifying-as-an-expression. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-21 05:09] emjin commented on #5756
@efortuna I don't quite understand what's being matched in your example. Can you add a playground link?

[2022-07-21 08:27] #5690 closed, assigned to nmote

[2022-07-21 10:08] ashwinkumar01 commented on #5740
@emjin yes, for me personally that would be great.
But the problem also exists for other languages on the page. My recommendation would be to just remove those sections until they're supported

[2022-07-21 11:50] tilperion2 opened #5777 "Java name resolution issue with typed metavariable"
**Describe the bug**
I found false positive in **java.lang.correctness.no-string-eqeq.no-string-eqeq** rule first, problem was that Java enum has been reported as string for this rule.
During investigation I've found that type casting and pattern matching working incorrectly for this rule.
  - pattern: $X == (String $Y)
In case I've found Java enum SomeEnum.TEST is misconfused with String TEST = "

[2022-07-21 11:50] r2c-demo commented on #5777
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1662/semgrep-java-type-casting-pattern-works-incorrectly. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-21 17:24] kopecs commented on #5777
~~Possible duplicate of #5690~~

Able to reproduce on 896a5ce (current develop HEAD).

[2022-07-22 00:13] emjin commented on #5740
You can find a bunch of YAML style lints here: https://semgrep.dev/p/semgrep-rule-lints and kubernetes security checks here: https://semgrep.dev/p/kubernetes. Hopefully these help! I'll leave this issue open for the documentation gap.

[2022-07-22 00:18] emjin commented on #5777
Probably a problem with/lack of enum resolution

[2022-07-22 03:06] prathya95 opened #5786 "Pattern is not of type 'array'"
I am trying to write the following rule:
`patterns: | #CWE-285

      - pattern: |
        ...

        $THIS = $LOC.objects.filter(...)[$NUM]

        if $THIS:

          $X = $Y.objects.filter(...).order_by(...)

        ...`

For the following code:
`...
try:

      thislocation = Location.objects.filter(service_account = request.user)[0]

        if thislocation:

          visits = Visit.obj

[2022-07-22 03:07] r2c-demo commented on #5786
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1665/pattern-is-not-of-type-array. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-22 07:36] zakrush commented on #5715
@brendongo It didn't help me.
[code]
Output is:
[code]

[2022-07-22 09:33] sumitsharma16 commented on #5758
Hi
Any update ?

[2022-07-22 13:30] spavikevik opened #5790 "Scala 3 syntax in Scala 2 code (using `-Xsource: 3`) is not parsed correctly"
**Describe the bug**
We're using `-Xsource: 3` in our Scala 2 codebase to enable some backported Scala 3 syntax but there's some of it that semgrep can't parse.

[code]

**To Reproduce**
The following syntax is unsupported:

- `as` in imports:
[code]

- `case` matching in for comprehensions:
[code]

- `<:` preceded by a `?` in type bounds:
[code]

**Expected behavior**
Be able to parse the new syn

[2022-07-22 13:31] r2c-demo commented on #5790
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1666/scala-3-syntax-in-scala-2-code-using-xsource-3-is-not-parsed-correctly. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-22 17:52] ievans commented on #5786
@prathya95 would you mind sharing a link from https://semgrep.live as a reproduction?

[2022-07-23 00:27] msorens opened #5798 "Valid JavaScript expression not matching variable in pattern"
**Describe the bug**
Pattern fails to match with a just as valid, but slightly more complex, expression.

Note: Also fails on most ANY expression beyond a very trivial one like that shown.

<img width="1200" alt="image" src="https://user-images.githubusercontent.com/6817500/180582941-5ea24663-1af7-4a58-a3c9-3694d0e35a34.png">

**To Reproduce**
https://semgrep.dev/playground/s/msorens:no-return

**

[2022-07-23 00:28] r2c-demo commented on #5798
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1667/valid-javascript-expression-not-matching-variable-in-pattern. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-24 12:10] hakosh opened #5799 "[Go] Generic types from other packages break parsing"
**Describe the bug**
When a generic type is imported from another package, semgrep cannot parse the code; meanwhile, go can compile it.

**To Reproduce**

list/list.go
[code]

main.go
[code]

Run `semgrep --lang=golang --config=auto --verbose .`
[code]

**Expected behavior**
semgrep should be able to parse the code above.

**What is the priority of the bug to you?**

- [x] P0: blocking your adopti

[2022-07-24 12:10] r2c-demo commented on #5799
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1668/[go]-generic-types-from-other-packages-break-parsing. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-24 23:55] msorens opened #5800 "Regex with negative lookahead and backreferences failing to match correctly"
**Describe the bug**
Your docs claim PCRE support but I fear not. Either negative lookahead or backreferences (or both) are not working as expected, so the regex is picking up more than it should.

<img width="1139" alt="image" src="https://user-images.githubusercontent.com/6817500/180670994-8aa66374-44a9-4ae3-9921-fd54f9f3a4c3.png">

**To Reproduce**
https://semgrep.dev/playground/s/msorens:use-s

[2022-07-24 23:57] r2c-demo commented on #5800
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1669/regex-with-negative-lookahead-and-backreferences-failing-to-match. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-25 15:26] xm-discover-bot-admin commented on #5172
With the most recent release (0.106.0) a lot of these problems have been fixed (I didn't fix them myself, I've just noticed fewer OOM errors on large projects).

[2022-07-25 21:42] emjin commented on #5172
I'm glad to hear that! I was just about to post an update here that we did some work to address the low-hanging fruit for memory consumption, which should now be available to both action and CLI users. See the 0.104.0 and 0.105.0 changelogs for details on what happened.

[2022-07-25 23:52] emjin commented on #5172
Also thank you to all the details provided; they helped speed up our understanding of the issue and give confidence that our changes would be broadly impactful.

[2022-07-26 06:18] ben-elttam opened #5807 "Cannot reference metavariables in rule message in join mode"
**Describe the bug**
A clear and concise description of what the bug is.

The rule's message cannot interpolate metavariables in join mode.
Messages are displayed verbatim, like `$VAR` rather than `foo`.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

Cannot save in playground due to schema validation errors.

[code]

[code]

`semgrep -f jsp-likely-xss.ya

[2022-07-26 06:19] r2c-demo commented on #5807
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1679/cannot-reference-metavariables-in-rule-message-in-join-mode. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-26 21:49] dstrelau commented on #5278
This would be extremely useful when dealing with patterns that match builtins such as `range`. Eg, I would like to be able to write this pattern saying something like `($Z : <any-slice-type>)` to differentiate it from a range over a map.

[code]

[2022-07-27 08:25] 06kellyjac opened #5816 "Add support for nix language"
The language used for the nix package manager

Here's a bunch of nix: https://github.com/nixos/nixpkgs

tree-sitter parser: https://github.com/cstrahan/tree-sitter-nix

---

It'd be nice to run some of the generic queries like https://semgrep.dev/r?q=generic.unicode.security.bidi.contains-bidirectional-characters and write our own

[2022-07-27 08:27] r2c-demo commented on #5816
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1680/add-support-for-nix-language. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-27 08:52] zhengow opened #5817 "pattern-regex bug"
**Describe the bug**
A clear and concise description of what the bug is.
<img width="995" alt="image" src="https://user-images.githubusercontent.com/38389586/181205178-f7c170c7-eedb-47c3-8452-636fd55ffa02.png">

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

**Expected behavior**
A clear and concise description of what you expected to happ

[2022-07-27 08:53] r2c-demo commented on #5817
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1681/pattern-regex-bug. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-27 13:32] #3698 closed, assigned to nobody

[2022-07-27 13:33] aryx commented on #3698
Done!
You should be able to write basic Elixir semgrep rules now.

[2022-07-27 14:00] mjambon commented on #5800
The issue here is case-sensitivity: `foo` doesn't match `Foo` in `setFoo`. Placing the backreference `\1` within case-insensitive markup does the job:
[code]
The updated rule is https://semgrep.dev/s/returntocorp:use-state-inconsistent-naming-copy

[2022-07-27 14:00] #5800 closed, assigned to mjambon

[2022-07-27 14:08] lbbooleans opened #5819 "Method chaining pattern not supported in Kotlin"
**Describe the bug**
It seems that method chaining using the `object. ... .method()` syntax is not currently supported for Kotlin.

**To Reproduce**
I wrote the following semgrep rule:

[code]
which I used to match the following Kotlin code:
[code]

When running the rule with the semgrep CLI, I got the following response:

[code]

**Expected behavior**
I would expect the rule to validate and find

[2022-07-27 14:09] r2c-demo commented on #5819
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1682/method-chaining-pattern-not-supported-in-kotlin. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-27 19:22] ievans commented on #5817
hi @zhengow : we've actually updated that rule to the following, which is more precise: https://semgrep.dev/playground/s/Ppvv

In the example you showed, that's actually intended behavior -- `boto3` is inside the matched range, so `\d{1,3}` matches the "3". Where did you find that snippet? If you let us know, we'll up date it.

[2022-07-27 19:22] #5817 closed, assigned to nobody

[2022-07-27 20:26] erwanlr opened #5823 "PHP - @function() not matching while function() does"
**Describe the bug**
When using taint with `not_conflicting`, or by simply having a sanitizer such as

[code]

Will result in a code like `@something('a');` to not match while `something('a');` will

**To Reproduce**
https://semgrep.dev/s/LBgG

**Expected behavior**
Both the `something()` and `@something()` code should match

**What is the priority of the bug to you?**

- [ ] P0: blocking your ado

[2022-07-27 20:26] r2c-demo commented on #5823
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1688/php-function-not-matching-while-function-does. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-27 22:20] kopecs commented on #5823
Looks like this arises because we lower `@expr` to `__builtin__at(expr)`, so the matcher sees it as a function call. We could probably resolve this by translating it to an `OtherExpr` instead of a `Call`. Not sure of the pros/cons beyond making this case work though.

[2022-07-28 01:24] toastyghost commented on #5758
+1 please respond, we depend on njsscan for security checks prior to product releases

[2022-07-28 08:45] aryx commented on #5816
the tree-sitter grammar for nix looks pretty small. Would you mind starting to contribute to help in supporting nix?
We have some doc here: https://semgrep.dev/docs/contributing/adding-a-language/

[2022-07-28 08:50] 06kellyjac commented on #5816
Yeah I'm happy to help out. that doc looks handy, thanks

[2022-07-28 12:15] IagoAbal commented on #5665
You should be able to do that with `pattern-regex`: https://semgrep.dev/s/0B4J. I'm not sure what is wrong that it doesn't match the last line, but if you add something after it, then it matches. Seems like a bug.

[2022-07-28 13:11] IagoAbal commented on #5657
Closing this issue because it looks like a non-issue. But feel welcome to reopen if you have any objections!

[2022-07-28 13:11] #5657 closed, assigned to nobody

[2022-07-28 13:27] mjambon commented on #5665
Hello, I'm back.

I have the following [solution](https://semgrep.dev/playground/s/rPxP):
[code]
This required two additional bits of knowledge that are specific to the generic mode:
1. A regular metavariable such as `$SECRET` will capture only a word ([A-Za-z0-9_]+), which excludes whitespace and most punctuation. We can however capture a sequence of any items using a named ellipsis such as `$...

[2022-07-28 14:11] mjambon opened #5829 "Support and encourage whitespace-insensitive regexp syntax aka PCRE's extended mode"
**Is your feature request related to a problem? Please describe.**

It's hard for even the best of us to remember that
[code]
will include a trailing newline in the pattern. It won't match at the end of the file if it has no trailing newline. What the user means is:
[code]

**Describe the solution you'd like**

Support PCRE's extended mode since it would eliminate tricky whitespace issues.

PCRE r

[2022-07-28 14:13] r2c-demo commented on #5829
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1691/support-and-encourage-insignificant-whitespace-in-regexps-aka-pcres. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-28 14:13] mjambon commented on #5665
The problem in your solution is that the `|` YAML syntax doesn't trim off the trailing newline in the pattern. This results in a regexp that must match a trailing newline. Using `>-` instead of `|` would work: https://semgrep.dev/playground/s/returntocorp:secret-copy

I created the issue https://github.com/returntocorp/semgrep/issues/5829 to address this.

[2022-07-28 14:14] IagoAbal commented on #5665
Nice solution @mjambon !

[2022-07-28 15:30] maloleg commented on #5665
Thank you, appreciate that!

[2022-07-28 18:00] #5219 closed, assigned to brandonspark

[2022-07-29 14:24] #5819 closed, assigned to nobody

[2022-07-29 16:25] IagoAbal commented on #3199
#5751 added taint traces to CLI! Just use `--dataflow-traces`.

[2022-07-29 19:02] kurt-r2c opened #5837 "Semgrep does not properly handle metavariables in Python decorators"
**Describe the bug**
Semgrep does not appear to handle metavariables in Python decorators correctly.  I would expect to be able to capture e.g. a Flask route as such:

[code]
then use the metavariable to ensure that I am in fact matching a Flask route later on:
[code]
**To Reproduce**
https://semgrep.dev/s/9pJz

**Expected behavior**
Functions or classes captured in a metavariable should match in

[2022-07-29 19:03] r2c-demo commented on #5837
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1700/semgrep-does-not-properly-handle-metavariables-in-python-decorators. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-29 23:39] brendongo commented on #5758
Looks like there was a problem running threads with asyncio. Similar issue without fix: https://github.com/KimiNewt/pyshark/issues/353

Not entirely sure what is happening since it looks like you are running python 3.7. Is this running in an environment that would be hard for multithreading?

[2022-07-30 00:25] msorens commented on #5798
Found a different set of pattern constraints that allow all tests to pass, so now would downgrade this to P2.
(I suspect it might be the regex trying to match across newlines that could be the issue...?)

So it is still possible my original report is an issue, but this revised set of patterns is what I am now using to meet my needs:
[code]

[2022-07-30 00:45] msorens commented on #5798
Hmm.. maybe not. My new pattern is returning a huge number of hits; have to check further...

[2022-07-30 18:02] toastyghost commented on #5758
Not OP but same issue on i5 MacBook Pro and had been working fine on biweekly scans for like a year prior to this

[2022-07-31 10:40] erwanlr opened #5839 "Regression - Inline join with taint not working anymore since 0.107"
**Describe the bug**
Inline join with a taint rule do not work anymore in 0.107 as Semgrep produces an error on them:

[code]

**To reproduce**

Run the below rule

[code]

Against the below PHP code

[code]

Command used: `semgrep -c inline-join-taint.yml inline-join-taint.php`

**Expected behavior**
Semgrep should run the inline join rules

**What is the priority of the bug to you?**

- [X] P0:

[2022-07-31 10:41] r2c-demo commented on #5839
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1701/regression-inline-join-with-taint-not-working-anymore-since-0107. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-07-31 23:55] LewisArdern commented on #5072
This would be useful for:
1. Passwords in database connection strings, currently we write rules like https://semgrep.dev/playground/r/generic.secrets.security.detected-username-and-password-in-uri.detected-username-and-password-in-uri?editorMode=advanced which is not ideal, especially if we want to use non generic languages
2. SSRF - if the user can control the url
3. Open Redirect - if the user c

[2022-08-01 08:48] IagoAbal commented on #5837
I also think it _should_ work 🤔

But in the meantime it works with `metavariable-comparison`: https://semgrep.dev/s/E47L

[2022-08-01 09:08] IagoAbal commented on #5823
I agree with @kopecs. In the meantime try https://semgrep.dev/s/7vbe.

[2022-08-01 09:17] IagoAbal commented on #5758
Are we able to reproduce this with Semgrep alone without calling it via nodejsscan? That could be useful info to have.

[2022-08-01 09:21] IagoAbal commented on #5758
OK looking at @brendongo's comment I guess this requires nodejsscan calling Semgrep. @sumitsharma16 @toastyghost did this happen after upgrading nodejsscan, Semgrep, Python... something?

[2022-08-01 11:37] IagoAbal commented on #5839
After some investigation with `git bisect` I concluded that this regression was introduced by #5765.

[2022-08-01 11:40] zhengow commented on #5817
Got it, thanks a lot:)

[2022-08-01 11:41] zhengow opened #5840 "`pattern-not` can't declare metavariables?"
**Describe the bug**
A clear and concise description of what the bug is.
<img width="1384" alt="image" src="https://user-images.githubusercontent.com/38389586/182140342-4c196443-0973-4191-851d-f73f0698335d.png">

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

**Expected behavior**
A clear and concise description of what you expected to hap

[2022-08-01 11:41] r2c-demo commented on #5840
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1705/pattern-not-cant-declare-metavariables. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-01 11:51] IagoAbal commented on #5072
Examples provided by @inkz:
- https://github.com/returntocorp/semgrep-rules/blob/develop/python/flask/security/injection/tainted-url-host.yaml#L25
- https://github.com/returntocorp/semgrep-rules/blob/develop/javascript/express/security/audit/express-ssrf.yaml#L29

[2022-08-01 12:17] IagoAbal commented on #5840
@zhengow no unfortunately that's not currently allowed, but if you have a more concrete rule to write let us know, you can usually write it in some other way.

[2022-08-01 16:34] dlukeomalley commented on #5758
CC @ajinabraham who maintains nodejsscan.

[2022-08-01 19:00] kurt-r2c commented on #5837
the fact that this needs an explicit string cast is....annoying - can we add this to docs?

[2022-08-01 19:25] ajinabraham commented on #5758
This started to occur for some users after we updated [njsscan](https://github.com/ajinabraham/libsast/pull/20/files) to use semgrep 0.104
https://github.com/ajinabraham/njsscan/issues/95

[2022-08-01 21:01] #5839 closed, assigned to nmote

[2022-08-01 22:24] emjin opened #5849 "Taint metavariable not reporting all the possible matches"
**Describe the bug**
Rule:

[code]

Target:

[code]

The message for the first is `"HERE"` but for the second is `exec`. The first should also have `exec`.

**To Reproduce**

https://semgrep.dev/playground/s/enelli:confusion-1

**Expected behavior**

Message should be `open('vapory_git/version.py').read()`

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or

[2022-08-01 22:25] r2c-demo commented on #5849
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1718/taint-metavariable-capturing-wrong-string. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-01 22:30] emjin opened #5850 "Using regex semgrep in language mode can match comments"
**Describe the bug**

Patterns:
[code]

Code:
[code]

Expects no matches, gets two.

**To Reproduce**
https://semgrep.dev/playground/s/enelli:confusion-2?editorMode=advanced

**Expected behavior**
Expect no matches.

The first match, with the array, is probably not worth fixing. The second, with the block comment, is more concerning.

**What is the priority of the bug to you?**

- [ ] P0: blocking

[2022-08-01 22:31] r2c-demo commented on #5850
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1719/using-regex-semgrep-in-language-mode-can-match-comments. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-01 22:47] emjin opened #5851 "Users expect that we will propagate constants through function calls"
**Describe the bug**

Pattern: `func("...")`

Target:
[code]

Users expect that `dosomething("HI")` should match as well as `func("HI")`, because `dosomething` calls `func`.

**To Reproduce**
https://semgrep.dev/playground/s/enelli:confusion3

**Expected behavior**

This isn't a bug according to our current expectations set for constant propagation. Our design expects that a user should use taint.

[2022-08-01 22:49] r2c-demo commented on #5851
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1720/users-expect-that-we-will-propagate-constants-through-function-calls. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-01 23:27] emjin opened #5852 "Propagate dictionaries"
**Describe the bug**
Dictionaries do not propagate even with symbolic propagation turned on

**To Reproduce**
https://semgrep.dev/s/r8pJ

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

**Use case**

[2022-08-01 23:29] r2c-demo commented on #5852
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1721/propagate-dictionaries. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-01 23:31] emjin opened #5853 "Metavariable-pattern requires metavariable to be in every pattern"
It is confusing to users that `metavariable-pattern` requires the metavariable to be present in every branch of a pattern-either (among other things). This isn't helped by the fact that our error message is pretty bad. We've added a metacheck, but most people don't run the metachecker. We should make it easier for users to discover why `metavariable-pattern` isn't working and how to fix it.

[2022-08-01 23:31] r2c-demo commented on #5853
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1722/metavariable-pattern-requires-metavariable-to-be-in-every-pattern. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-01 23:42] emjin opened #5854 "pattern-not can negate a formula"
**Is your feature request related to a problem? Please describe.**
Pattern-not can only have one pattern, not a formula

**Describe the solution you'd like**
Pattern-not takes a formula

**Describe alternatives you've considered**
Rewrite rule

**Use case**
Make it less annoying to negate a rule

[2022-08-01 23:43] r2c-demo commented on #5854
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1723/pattern-not-can-negate-a-formula. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-02 11:28] erwanlr commented on #5600
Thx a lot @vivekkhimani for this one, that's awesome!!!

[2022-08-02 13:07] lbbooleans opened #5860 "Ocaml error on matched Java annotation"
**Describe the bug**
Starting from semgrep version 0.107.0, we get an Ocaml error when a specific piece of code is being matched by a specific rule:

[code]

When we look at the rule implementation of `r/java.spring.security.injection.tainted-file-path.tainted-file-path`, we see this semgrep pattern which appears to cause the problem (we found out by following the process of elimination):

[code]

[2022-08-02 13:08] r2c-demo commented on #5860
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1724/ocaml-error-on-matched-java-annotation. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-02 16:23] aryx commented on #2258
This might help: https://github.com/tree-sitter/tree-sitter-ruby/pull/225

[2022-08-02 17:53] IagoAbal commented on #5854
Can we do this with the rule schema used by CLI? Or do we need a `pattern-neg`?

[2022-08-02 18:22] kopecs commented on #5854
This is possible with the rule schema; it would be something like:

[code]

[2022-08-02 18:31] brendongo commented on #5758
@toastyghost @sumitsharma16 are you able to provide reproduction of the issue? Trying out on a few repos we are unable to get this error.

[2022-08-02 20:53] es0n opened #5868 "Bug when using the `.test.yaml` extension for indicating a yaml language test file"
**Describe the bug**
[When testing yaml languages the use of the `.test.yaml` extension is necessary](https://semgrep.dev/docs/writing-rules/testing-rules/#:~:text=The%20.test.yaml%20file%20extension%20can%20also%20be%20used%20for%20test%20files.%20This%20is%20necessary%20when%20testing%20YAML%20language%20rules.)

When testing rules for `yaml` languages, the use of the `custom-rule-name.test.yaml

[2022-08-02 20:53] r2c-demo commented on #5868
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1728/bug-when-using-the-testyaml-extension-for-indicating-a-yaml-language. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-03 08:10] zhengow opened #5873 "json token not match"
**Describe the bug**
A clear and concise description of what the bug is.
![Kapture 2022-08-03 at 16 09 29](https://user-images.githubusercontent.com/38389586/182557865-34b6fb01-fbac-456f-8659-1ae4adb0e30b.gif)

[code]

[code]
**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

**Expected behavior**
A clear and concise description of what you expected to happen

[2022-08-03 08:10] r2c-demo commented on #5873
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1730/json-token-not-match. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-03 15:11] IagoAbal commented on #5854
Related to #5840

[2022-08-03 15:16] IagoAbal commented on #5860
Thanks for reporting @lbbooleans and for providing that test case. I was already investigating this issue but your test case helped me a lot. We are releasing a quick-fix with 0.108.0 already today.

[2022-08-03 15:20] IagoAbal commented on #5873
@zhengow thanks for reporting but please next time include a link to the Playground rather than a screenshot, ~that way we don't spend time copying your rule and example code by hand~. Sorry, you did include all the text in the comment, my bad! Still sharing a Playground link is probably better.

[2022-08-03 15:22] IagoAbal commented on #5873
Have you tried this https://semgrep.dev/s/9p2r ?

[2022-08-03 15:28] IagoAbal commented on #5853
This is not specific of `metavariable-pattern`, but `metavariable-pattern` may be the only `metavariable-xyz` operator that warns you when it encounters that the metavariable is not bound in some cases.

My opinion has always been that the metachecker should be made fast (I remember some of the metachecking rules were kinda slow but maybe that changed) and run by default.

Although I think a rule

[2022-08-03 16:40] IagoAbal commented on #5852
It's fair to expect that to work. We just need to extend `Dataflow_svalue.is_symbolic_expr`.

[2022-08-03 16:55] emjin commented on #5853
I agree, metachecker by default is probably the best solution. There are some problems with the check it does right now still, because it only guesses what is a valid metavariable, and because some transformations are performed on the formula which the metachecker doesn't know about. We would need to fix that.

Apparently the error message you get when you're trying to use a metavariable that isn'

[2022-08-03 17:06] IagoAbal commented on #5853
I guess it is this one:
[code]
We could rephrase this, I guess not everybody may realize why a metavariable may not be "in scope", or maybe not even everybody knows what that means? The problem is also that at this point we can only hypothesize, it could be that the metavariable is mistyped, or that not all "branches" leading to `metavariable-pattern` bind it, or even that the metavariable is boun

[2022-08-03 17:28] IagoAbal commented on #5849
Are you sure this is a problem with taint-mode rather than a problem with the rule?

[code]

That `$STR` matches every subexpression, including `exec` itself. You can check https://semgrep.dev/s/vLQY that `exec` itself is tainted in line 2.

[2022-08-03 17:37] IagoAbal commented on #5850
@emjin I think that's how `pattern-regex` is supposed to work https://semgrep.dev/docs/writing-rules/rule-syntax/#pattern-regex.

[2022-08-03 17:38] IagoAbal commented on #5850
Could we tag the external user who reported the issue so they can explain exactly what they wanted to achieve?

[2022-08-03 17:40] emjin commented on #5850
Wait can you explain why

[code]

matches? I'm fine with the comment within the array, that makes sense

[2022-08-03 17:55] IagoAbal commented on #5851
My gut feeling is that many of the rules that rely on const-prop should instead rely on taint. Although even with taint, this example is inter-procedural.

[2022-08-03 18:18] emjin commented on #5851
That's true. I filed it on semgrep because we have a bit of that interprocedurality for taint (though I think not for this example). Clearly users like using constant-prop more than taint, so I think we should direct them towards taint or change the semantics of constant prop to work the way they expect.

[2022-08-03 18:20] emjin commented on #5849
Why is the message correct for the first one? Is it just chance?

[2022-08-03 18:23] emjin commented on #5849
Looking at this again I'm confused about what the rule expresses. These were mostly examples to illustrate confusion, not real examples, so I'm just going to close this one.

[2022-08-03 18:29] IagoAbal commented on #5849
So in the first case `exec("HERE")` it may be by chance that we take `$STR = "HERE"` so that's not entirely great. I would need to check the deduplication code. It could be something to improve.

I would have written the sink like this:
[code]

[2022-08-03 18:43] emjin commented on #5849
It seems reasonable to me that we take `$STR = "HERE"` by chance, though it is confusing. I guess we should have a match for all the possible sources? More specifically, I think in search mode we have a unique match for every unique range matched with a unique message.

[2022-08-03 19:00] emjin commented on #5853
I think adding the concrete hypotheses would be helpful, especially if we give examples of what to look for in their code. Even though the text of the "-11/-9" error is not strictly correct (it's not always an OOM), it was helpful to put that guess.

[2022-08-03 19:35] IagoAbal commented on #5849
Yeah let's reopen the issue but focusing on that part, why `exec("HERE")` gives only one match when it should probably give us two. I know taint-mode does some special deduplication to avoid spurious duplicates, I'm not sure if that's what is causing this. If so, we should make sure that the variable environment is taken into consideration.

[2022-08-03 19:36] JosiahOne opened #5876 ""Error while running rules: 0 bytes read on a total of 2 expected bytes" in Dockerfiles without trailing newlines"
**Describe the bug**
In some situations running rules against Dockerfiles where the Dockerfile does NOT end with a newline causes the following result:

[code]

**To Reproduce**
To reproduce first create the following minimal rule:

[code]

Then create a test Dockerfile (without any blank lines at the end!!!):

[code]

Now run: `semgrep --config <path_to_rule.yml> <path_to_created_dockerfile>`. Yo

[2022-08-03 19:36] r2c-demo commented on #5876
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1731/error-while-running-rules-0-bytes-read-on-a-total-of-2-expected-bytes. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-03 19:54] IagoAbal commented on #5851
But this would also be inter-procedural const-prop. I am not sure what should we do here, apart from maybe making it more clear in the docs that Semgrep is intra-procedural and point to DeepSemgrep for inter-procedural needs.

It may not be a matter of preference, but Semgrep's default mode is `search` and for historical reasons I presume that most docs, tutorials, etc lean heavily towards using `

[2022-08-03 19:56] IagoAbal commented on #5851
I'm not even sure whether inter-procedural const-prop should match `func(param)` with `func("...")`, what if there are calls to `doSomething()` with non-constant arguments? Const-prop is a _must_-analysis.

[2022-08-03 20:00] IagoAbal commented on #5851
Sorry, it was `dosomething("HI")` that was supposed to match. 🤔 In this case, it could be? Although that sounds more like symbolic propagation? But what if `dosomething()` does something more than just calling `func` ?

[2022-08-03 21:49] IagoAbal commented on #5868
cc @returntocorp/cli

[2022-08-03 23:39] kopecs commented on #5876
This seems like its a segfault inside of a tree sitter parser. Partial backtrace:
[code]

[2022-08-03 23:46] kopecs commented on #5876
This seems like an upstream problem; I'm able to reproduce the segfault by running the tree sitter parser against the target file directly.

[2022-08-04 00:22] efortuna commented on #5756
Yes, apologies for the delay. Okay, [here's a (completely different) example where I'd like autofix to have more Semgrep context than it actually does](https://semgrep.dev/playground/s/efortuna:unsafe_cerealizer_load-copy-2). Please ignore the original example I had, as that was not even a valid semgrep rule :-P

So, in the rule in the playground link, Semgrep is smart enough to know that in the t

[2022-08-04 02:14] zhengow commented on #5873
Got it, I don't know that playground can save the code:)

[2022-08-04 02:17] zhengow commented on #5873
That works. But why can't this 👀
https://semgrep.dev/s/RlEe
<img width="1372" alt="image" src="https://user-images.githubusercontent.com/38389586/182748568-f8d6ae64-f0b2-4240-9660-7c13e2c7243a.png">

[2022-08-04 06:02] lbbooleans commented on #5860
That's great news, thanks for the heads up!

[2022-08-04 08:16] theowni opened #5878 "Missing "run_times" field in output when using --time and --json"
**Describe the bug**

Semgrep 0.107.0 executed with flags `--time` and `--json` doesn't return `run_times` fields in JSON output.
This field is presented in documentation: https://semgrep.dev/docs/troubleshooting/semgrep-cli/
It was working fine in some older version of Semgrep.

**To Reproduce**

1. Create a file locally with test code content from [python.cryptography.security.insecure-hash-algo

[2022-08-04 08:22] r2c-demo commented on #5878
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1734/missing-run-times-field-in-output-when-using-time-and-json. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-04 14:22] nicktimko opened #5879 "Inconsistent Playground Behavior"
**Describe the bug**
Inconsistent and confusing behavior of the playground. See GIF below for details. The first run I ever did in it gave me the really confusing "look at these blank lines!" result.

**To Reproduce**
1. Go to https://semgrep.dev
2. Click "Playground"
3. Click "Run". It sometimes flags blank lines for some reason? I don't understand.

**Expected behavior**
Consistent behavior

**S

[2022-08-04 14:22] r2c-demo commented on #5879
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1736/inconsistent-playground-behavior. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-04 16:10] IagoAbal opened #5880 "[PHP] Replacing `TRUE` with `true` strangely alters findings"
https://semgrep.dev/s/wLPP produces two findings (one unintended), whereas https://semgrep.dev/s/xLJg produces just one finding (the one we want).

Note that in PHP `true` and `false` are case _insensitive_.

[2022-08-04 16:11] r2c-demo commented on #5880
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1737/[php]-replacing-true-with-true-strangely-alters-findings. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-04 16:23] IagoAbal commented on #5873
Because in YAML
[code]
means the pattern is `bob` (YAML kind of removes the quotes `"` from `"bob"`), the identifier `bob`, which doesn't exist in your target file.

Whereas
[code]
means the pattern is `"bob"` (exactly as you wrote it), that is a string literal, which is what you really want.

Feel free to ask for further clarification either here or in our Community Slack, but for now I'm closing

[2022-08-04 16:23] #5873 closed, assigned to nobody

[2022-08-04 17:02] IagoAbal commented on #5873
See https://semgrep.dev/s/vL4b (note that the Playground even removes the `"` because they are not needed...) vs https://semgrep.dev/s/ZBEo.

[2022-08-04 19:02] IagoAbal commented on #5850
To reproduce (immutable): https://semgrep.dev/s/vLgb. Those other playground links can be updated by the owner of the link.

So `pattern-regex: hi` matches any `hi` in the source file, no matter whether it's actual code or just a comment, because `pattern-regex` is not language-aware. It's like grep. See https://semgrep.dev/s/d5Yd.

Then `pattern: ...` matches all the _code_ in the file, but `...`

[2022-08-05 00:10] rouge8 opened #5885 "Python `match` statement not supported"
**Describe the bug**
Python's `match` statement is not supported and causes semgrep to completely fail to parse the file.

**To Reproduce**
https://semgrep.dev/s/oLz9

**Expected behavior**
I expect the file to parse without errors.

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regular bu

[2022-08-05 00:10] r2c-demo commented on #5885
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1739/python-match-statement-not-supported. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-05 00:16] rouge8 commented on #5885
It looks like this could be solved by updating https://github.com/returntocorp/semgrep-python to the latest [tree-sitter-python](https://github.com/tree-sitter/tree-sitter-python)

[2022-08-05 01:35] zhengow commented on #5873
Okay, nice answer

[2022-08-05 08:24] zakrush commented on #5715
@brendongo do you have some news?

[2022-08-05 14:44] #5646 closed, assigned to nobody

[2022-08-05 14:44] #5685 closed, assigned to nobody

[2022-08-05 14:46] #5165 closed, assigned to nobody

[2022-08-05 15:02] yogaxpto commented on #5685
I don't think I can reopen this issue, but it still persists.

[2022-08-05 17:40] emjin commented on #5756
Ah, got it. That makes a lot of sense. Can I replace your original text with this example?

[2022-08-05 17:41] emjin commented on #5878
Hey @theowni! Do you happen to know the last version this worked on? That would be helpful for me.

[2022-08-05 17:44] emjin commented on #5850
Sorry, I'm still confused. Why doesn't the same logic apply for the block comment
[code]

[2022-08-05 20:02] efortuna commented on #5756
yes of course. I can even do it myself if you want. I just didn't do it before in case it seemed like I was "rewriting history" :-)

[2022-08-06 00:29] IagoAbal commented on #5850
To my knowledge
[code]
is not a comment but a multiline string? So it's code and it's matched by `...`.

[2022-08-06 00:36] IagoAbal commented on #5850
See
https://docs.python.org/3/reference/lexical_analysis.html#comments
and
https://docs.python.org/3/reference/lexical_analysis.html#string-and-bytes-literals

Perhaps this helps clarifying it too: https://stackoverflow.com/questions/7696924/how-do-i-create-multiline-comments-in-python

[2022-08-06 01:16] efortuna opened #5887 ""not_conflicting" is not stylistically consistent with other pattern operators (they all use the hyphen, not the underscore))"
**Describe the bug**
all other semgrep commands/pattern operators uses the dash, like `pattern-sanitizers` `pattern-not` and so on. but "not_conflicting" uses the underscore. WE should be consistent.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x ] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

Listed

[2022-08-06 01:17] r2c-demo commented on #5887
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1741/not-conflicting-is-not-stylistically-consistent-with-other-pattern. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-06 02:20] djmattyg007 commented on #5165
Lol what on earth is this

[2022-08-06 02:22] djmattyg007 commented on #5165
I literally can’t reopen it. Thanks I guess, at least some code looked at my messages.

[2022-08-06 10:10] erwanlr commented on #5880
Such behaviour happens with basically any uppercased keywords, for example:
- TRUE
- FALSE
- INT
- NULL

[2022-08-07 09:21] theowni commented on #5878
Hi @emjin ,
I've just checked that for you.
The latest working version is 0.81.0. It doesn't work in 0.82.0.
In 0.81.0 you can observe `"run_times": [0.01955890655517578]}]` in output.

**Output from 0.81.0:**
[code]

**Output from 0.82.0:**
[code]

[2022-08-07 09:58] teslimp34 opened #5888 "pip install semgrep"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0: blocking your ad

[2022-08-07 09:59] r2c-demo commented on #5888
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1742/pip-install-semgrep. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-07 13:36] shargon opened #5889 "for loops rules in solidity doesn't work as expected"
**Describe the bug**
for loop rules are not working as expected.

**To Reproduce**

rule:
[code]

[code]

**Expected behavior**
`i` must be a match.

**Screenshots**
![image](https://user-images.githubusercontent.com/3167973/183293413-49404170-50da-4f33-8aba-6640e13fd8ef.png)

**What is the priority of the bug to you?**

- [X] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important t

[2022-08-07 13:36] r2c-demo commented on #5889
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1743/for-loops-rules-in-solidity-doesnt-work-as-expected. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-08 06:16] smcpeak opened #5890 "semgrep/README.md: Broken "Contributing" link"
The README.md file, which is served from github at https://github.com/returntocorp/semgrep, has in the "More" section a link called "Contributing" that goes to:

* https://semgrep.dev/docs/contributing/how-to-contribute/

The link yields "Page not found".  I think the corrected link is:

* https://semgrep.dev/docs/contributing/contributing-code/

Additionally, on the issue submission form where I

[2022-08-08 06:17] r2c-demo commented on #5890
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1744/semgrepreadmemd-broken-contributing-link. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-08 06:56] smcpeak opened #5891 "semgrep --baseline-commit requires git 2.30 or later"
If the `--baseline-commit` option is passed to `semgrep`, it invokes the `git` on the `PATH`.  If the `git` version is 2.29 or earlier, it will fail:

[code]

The reason is the `diff --merge-base` option was added sometime in git 2.30:

[code]

[git 2.30 was released on 2020-12-27](https://en.wikipedia.org/wiki/Git#Releases), which means `semgrep` is requiring a fairly recent `git` to work.  Accor

[2022-08-08 06:57] r2c-demo commented on #5891
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1745/semgrep-baseline-commit-requires-git-230-or-later. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-08 07:08] RobertB97 opened #5892 "semgrep: command not found"
Hello
I installed semgrep with "python3 -m pip install semgrep" which was successful. However using the semgrep --help yields "semgrep: command not found". I am using a vm with ubuntu 20.04. Any idea what the cause of this might be?
Thanks in advance

[2022-08-08 07:09] r2c-demo commented on #5892
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1746/semgrep-command-not-found. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-08 07:27] smcpeak opened #5893 "semgrep/cli/tests/e2e/test_baseline.py requires a recent (>=2.30) /usr/bin/git"
Some of the tests in `semgrep/cli`, such as `tests/e2e/test_baseline.py`, require that `/usr/bin/git` exist and be at least version 2.30.  If `/usr/bin/git` is too old:

[code]

The reason the test fails with the older `git` is the same as issue #5891: the `--merge-base` switch is not understood.

If replace `/usr/bin/git` with 2.30.5, the test works.

If `/usr/bin/git` does not exist, the test al

[2022-08-08 07:28] r2c-demo commented on #5893
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1747/semgrepclitestse2etest-baselinepy-requires-a-recent-=230-usrbingit. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-08 08:31] denizdogan commented on #5294
Not stale

[2022-08-08 16:48] kopecs commented on #5892
Is the directory where `pip` installs in your `$PATH`? I believe this is `~/.local/bin` by default.

[2022-08-08 16:54] RobertB97 commented on #5892
semgrep is in `~/.local/bin` . When i use `echo $PATH`, the directory `~/.local/bin` is listed so that should be working right?

[2022-08-08 17:00] kopecs commented on #5892
I would expect that to work, in that case. If it isn't working, here's some additional information which would help troubleshoot:
- The result of `sh -c "echo \$PATH"`
- The contents of your bashrc (or whatever equivalent for your shell), to the extent it modifies your path
- The result of `pip list`
- The result of `which semgrep`

[2022-08-08 17:04] kopecs commented on #3751
This is expected behaviour, as the given pattern is invalid Rust syntax.

[2022-08-08 17:04] #3751 closed, assigned to nobody

[2022-08-08 17:06] kopecs commented on #3750
This is expected behaviour, as the contents of macros are simply token trees, not syntactically valid Rust code. For cases like this you can use either [`metavariable-pattern`](https://semgrep.dev/docs/writing-rules/rule-syntax/#metavariable-pattern) or [extract mode](https://semgrep.dev/docs/experiments/extract-mode) to match the macro contents and parse them as Rust.

[2022-08-08 17:06] #3750 closed, assigned to nobody

[2022-08-08 17:06] RobertB97 commented on #5892
The result of sh -c "echo \$PATH"
/sbin:/bin:/usr/bin:/usr/local/bin:/snap/bin:/opt/mssql-tools18/bin:/opt/mssql-tools18/bin:/home/Robert/Downloads/.dotnet:/home/Robert/Downloads/.dotnet

pip list:
Package                 Version
----------------------- --------------------
apt-xapian-index        0.49
astor                   0.8.1
attrs                   21.4.0
Automat                 0.8.0
azure

[2022-08-08 17:09] kopecs commented on #5892
Given that `~/.local/bin` isn't in your PATH, it looks like you still need to add that. You can do this by adding
[code]
to `~/.bashrc` and running `source ~/.bashrc`.

[2022-08-08 17:15] RobertB97 commented on #5892
That works. Thank you very much!

[2022-08-08 17:15] #5892 closed, assigned to nobody

[2022-08-08 18:07] spencerdrak commented on #5888
@teslimp34 looks like you're missing some required info here, we're going to close. feel free to re-open with more info.

[2022-08-08 18:07] #5888 closed, assigned to nobody

[2022-08-08 18:09] spencerdrak commented on #5889
@shargon thanks for reporting - we'll take a look into this.

[2022-08-08 18:12] spencerdrak commented on #5891
@smcpeak thanks for the report - we'll investigate the best way to proceed here.

[2022-08-08 20:45] ievans commented on #5892
@kopecs is this expected behavior on ubuntu 20 or is there something we can fix in our packaging?

[2022-08-08 22:07] kopecs commented on #5892
@ievans This is expected if you're doing a user install with pip.

[2022-08-08 22:58] efortuna opened #5896 "Semgrep base usage instructions should not refer me to a website."
**Describe the bug**
At the command line, type:

`$> semgrep`

I see:
`[ERROR] No config given. Run with `--config auto` or see https://semgrep.dev/docs/running-rules/ for instructions on running with a specific config`

I expect to get more comprehensive usage instructions beyond the auto option. If I'm using the command line, I'm used to working my way around the command line, and don't want to

[2022-08-08 22:59] r2c-demo commented on #5896
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1751/semgrep-base-usage-instructions-should-not-refer-me-to-a-website. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-08 23:24] efortuna opened #5897 "taint mode with pattern-sanitizers+not_conflicting incorrectly missing findings"
**Describe the bug**
See the playground rule and test code: https://semgrep.dev/s/307D
Two findings _should_ be produced, but only one is matched. I also tested this on the command line.

I think what happens is semgrep thinks because "all function calls are sanitizers" , and line 8 is ultimately wrapped in a new function call, it's safe. BUT since the taint rule was that `user_input` must not rea

[2022-08-08 23:24] r2c-demo commented on #5897
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1752/taint-mode-with-pattern-sanitizersnot-conflicting-incorrectly-missing. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-09 12:56] spmishra121 commented on #5758
I ran the semgrep and got below error...

semgrep --config=auto .
METRICS: Using configs from the Registry (like --config=p/ci) reports pseudonymous rule metrics to semgrep.dev.
To disable Registry rule metrics, use "--metrics=off".
Using configs only from local files (like --config=xyz.yml) does not enable metrics.

More information: https://semgrep.dev/docs/metrics

Auto config uses Semgrep rule

[2022-08-09 16:18] aneeshusa opened #5899 "Tweak pre-commit hook to add --error, make default flags non-overridable"
**Is your feature request related to a problem? Please describe.**
I previously filed https://github.com/returntocorp/semgrep/issues/4386
about adding some default flags to the pre-commit hook configuration,
which y'all were able to fix in https://github.com/returntocorp/semgrep/issues/4386 (thanks again).
I have been doing some more semgrep'ing and realized we could make this even more ergonomic:

[2022-08-09 16:18] r2c-demo commented on #5899
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1754/tweak-pre-commit-hook-to-add-error-make-default-flags-non-overridable. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-09 21:50] spencerdrak commented on #5899
Thanks for the report - we're looking into how to proceed and will be in touch here soon.

[2022-08-10 00:50] smcpeak opened #5903 "semgrep --verbose says there is a "list of default ignores: https://semgrep.dev/docs/cli-usage/#ignoring-files""
If `semgrep` is run with `--verbose`, it prints a message about `.semgrepignore`:

[code]

First, the link https://semgrep.dev/docs/cli-usage/#ignoring-files is semi-broken.  It gets redirected to https://semgrep.dev/docs/cli-reference/ but without the anchor, meaning the referenced content about ignore files isn't immediately visible.

Second, the message talks about "default ignores", but the li

[2022-08-10 00:51] r2c-demo commented on #5903
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1755/semgrep-verbose-says-there-is-a-list-of-default-ignores. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-10 02:25] zhengow opened #5904 "semgrep metavariable pattern seems match wrong code"
**Describe the bug**
metavariable pattern seems match wrong code

**To Reproduce**
https://semgrep.dev/s/Dx1y

**Expected behavior**
I think it should only match `print(1)`, however it also matches another line.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/38389586/183796528-59058a7c-1e6a-4579-94f0-182090f5636e.png

[2022-08-10 02:26] r2c-demo commented on #5904
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1756/semgrep-metavariable-pattern-seems-match-wrong-code. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-10 02:46] #5728 closed, assigned to nobody

[2022-08-10 02:46] #5713 closed, assigned to nobody

[2022-08-10 02:46] #5445 closed, assigned to mjambon

[2022-08-10 03:15] #5904 closed, assigned to nobody

[2022-08-10 06:08] fabian-zeindl-oebb commented on #5445
@mjambon: reopen this please, this is a bug that needs to be fixed.

[2022-08-10 09:05] tdinucci commented on #5799
Hello, can you please give an update on the progress of this issue?

[2022-08-10 18:21] spencerdrak commented on #5903
@smcpeak would the docs here provide sufficient information for what you'd expect to see there? https://semgrep.dev/docs/ignoring-files-folders-code/#understanding-semgrep-defaults

[2022-08-10 18:38] smcpeak commented on #5903
Yes!  That looks exactly like what I'd expect the message to link to.

[2022-08-10 19:15] spencerdrak commented on #5903
Excellent, we're going to look further into how we want to proceed but we'll make the link between this usage of semgrep and those docs more explicit. Thanks!

[2022-08-11 02:57] ben-elttam commented on #5735
Should this have a label `priority:low`?

[2022-08-12 09:10] navhits opened #5911 "Semgrep 0.108.0 PyPi error on Apple M1 silicon"
**Describe the bug**
Semgrep 0.108.0 installation from PyPi on a M1 Silicon Macbook results in error when invoking `semgrep scan` or `semgrep ci`.
This issue is gone when installed from homebrew.

**To Reproduce**
1. On a M1 Macbook, install semgrep from pypi (`pip3 install semgrep==0.108.0`)
2. Scan a repo (`semgrep scan`)

**Expected behavior**

Semgrep should have run successfully

**Screenshot

[2022-08-12 09:10] r2c-demo commented on #5911
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1762/semgrep-01080-pypi-error-on-apple-m1-silicon. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-12 09:11] zhengow opened #5912 "JSON keys bound to metavariables don't unify"
**Describe the bug**
The match result is not correct.

**To Reproduce**
https://semgrep.dev/s/0Bjq

**Expected behavior**
It should match `line 2` and `line 5`, which is `    "bob": 123,` and `        "great": 123`

**Screenshots**
![image](https://user-images.githubusercontent.com/38389586/184323218-3b3461d1-0d2f-4a5e-9d11-8c94a9eb568c.png)

**What is the priority of the bug to you?**

- [ ] P0:

[2022-08-12 09:11] r2c-demo commented on #5912
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1763/json-semgrep-seems-to-have-bugs. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-12 09:38] AirSkye opened #5914 "PHP interpolated strings not parsed under tree-sitter"
**Describe the bug**
1. Modify `testfunc2("$arg1");` in the code to `testfunc2($arg1);` and it will match successfully.
2. Modifying `TRUE` in the code to `true` will match successfully.

**To Reproduce**
https://semgrep.dev/playground/s/airskye:test-taint

**Expected behavior**
Successfully matched calls from \$arg1 to testfunc2

**Screenshots**
https://semgrep.dev/playground/s/airskye:test-taint

[2022-08-12 09:39] r2c-demo commented on #5914
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1764/uppercase-true-or-false-will-affect-matching-results-for-the-entire. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-12 12:09] iinikolaev opened #5915 "Fingerprint"
Hello everybody!
Small question for developers.
How semgrep generate fingerprint and md5sum? Tell me the rule pzl or link to source code
Thanks!
![image](https://user-images.githubusercontent.com/32400162/184351029-7beac630-e757-4667-8f70-755bef8147fc.png)

[2022-08-12 12:09] r2c-demo commented on #5915
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1765/fingerprint. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-12 20:01] kopecs commented on #5914
Duplicate of https://github.com/returntocorp/semgrep/issues/5880

[2022-08-12 20:08] brendongo commented on #5758
@spmishra121 this looks like a different error. You seem to be running a stale version of semgrep. If you upgrade to latest and run again it should work

[2022-08-12 20:08] kopecs commented on #5896
I believe `{a | b}` is fairly standard for exactly one of either `a` or `b`. I'd probably expect our usage string to be:
[code]

[2022-08-12 20:08] brendongo commented on #5758
@sumitsharma16 @toastyghost @ajinabraham closing this as unable to reproduce. Feel free to reopen an issue with a reproduction if this is still happening

[2022-08-12 20:08] #5758 closed, assigned to brendongo

[2022-08-12 20:10] brendongo commented on #5915
Hi @iinikolaev you can check out the source code here: https://github.com/returntocorp/semgrep/blob/4493cdb81ea7f6bdb7c206cec1d0d1ea86b1115a/cli/src/semgrep/rule_match.py#L269

[2022-08-12 20:10] #5915 closed, assigned to nobody

[2022-08-12 20:19] kopecs commented on #5912
It looks like there's an issue here relating to combining the patterns w/ metavariable equivalence. That said, this should be equivalent to the pattern `$K: 123`, and match lines 2, 3, and 5.

[2022-08-12 20:20] spencerdrak commented on #5911
Hi there @navhits, we've tried to repro this error but we're unable to do so from an M1 mac using the same configs on a couple of repos. Is there any chance that you'd be able to provide us with a repo (or some source code) that replicates the failure? thanks!

[2022-08-12 20:22] kopecs commented on #5786
Closing for now. If you're able to share some more details so we can reproduce this, feel free to open a new issue!

[2022-08-12 20:22] #5786 closed, assigned to nobody

[2022-08-12 21:10] efortuna commented on #5896
@kopecs thanks for cleaning that up for me!

The point for this bug being, we should do better, at explaining our options rather than referring to a docs page. :-D

[2022-08-12 21:17] kopecs commented on #5896
Would definitely agree---something like https://github.com/click-contrib/click-man + some handwritten (or generated from docs maybe?) man pages about pattern syntax would potentially be an option for us (though click-man doesn't work out of the box because we have some hidden options without help text it fails on).

[2022-08-12 22:27] navhits commented on #5911
Hi, I reinstalled with PyPi version and tried this again and it works. When I tried this twice before it didn't however.
Assuming some environment variables caused this problem.

[2022-08-15 11:19] ghost commented on #3090
As a workaround you can add extensions per language in `/usr/local/lib/python*/site-packages/semgrep/lang/lang.json`.

Feel free to use this script to automate it:
[code]
You can use `sponge` from binutils too if you want to avoid using a temporary file.

[2022-08-15 11:20] ghost commented on #2837
I posted a workaround for this issue in https://github.com/returntocorp/semgrep/issues/3090#issuecomment-1214902144

[2022-08-15 12:06] Sjord commented on #5880
This was due to a difference between pfff and tree-sitter. Pfff can't handle uppercase true, so this causes the program to be parsed with tree-sitter. Tree-sitter parses `die()` as `die()`, pfff as `exit()`, and these don't match. I made a PR to make tree-sitter parse `die()` as `exit()` too, solving the difference. Another possible improvement is to add string.lowercase to the [pfff PHP lexer](ht

[2022-08-15 12:13] Sjord commented on #5914
This is not entirely a duplicate. Uppercase TRUE makes semgrep switch parsers from pfff to tree-sitter for the program. These parsers should be equivalent, [but aren't](https://github.com/returntocorp/semgrep/issues/5382), and that causes some bugs. In #5880, the bug was how `die()` was parsed. In this issue, the problem is that interpolated strings are not parsed in tree-sitter.

We can also fix

[2022-08-15 18:28] kopecs commented on #5914
Ah I see; thanks for the clarification! I'll reopen this and we can track the interpolated string issue here.

[2022-08-15 18:43] brendongo commented on #5911
🤔 weird. but glad it works now! Closing this issue.

[2022-08-15 18:43] #5911 closed, assigned to nobody

[2022-08-15 18:49] brendongo commented on #5896
Are the configuration options in the `semgrep scan --help` text insufficient?

I disagree that the error message of an improper usage needs to tell the user how to use a tool. `pip3 install nonexsistent.py` doesnt tell the user all about a requirements.txt file, `git status` when used outside a git project doesn't explain more than `fatal: not a git repository (or any of the parent directories): .

[2022-08-15 18:59] brendongo commented on #5715
@zakrush we are unable to reproduce this error. Building on an ubuntu or MacOS machine works without issue. Maybe there is something going on with docker in Archlinux or how you have setup git?

[2022-08-15 19:03] kopecs commented on #5896
I understood this more as commentary on our help message, rather than improper usage behaviour. I would agree with @brendongo to the extent that I would not expect the full help text on an incorrect usage; I think we'd ideally print a usage string or point to `semgrep --help` or a manpage before telling people to use `--config auto`.

[2022-08-16 07:18] Sjord commented on #5880
See also [[PHP] Handle case insensitive parts of code · Issue #3963 · returntocorp/semgrep](https://github.com/returntocorp/semgrep/issues/3963)

[2022-08-16 08:40] fabian-zeindl-oebb commented on #5876
Can this be worked around? I am running semgrep in a CI environment and right now this crashes my build.
I cannot differentiate anymore whether the build is crashed by a rule finding, or by an error like this.

[2022-08-16 14:16] fabian-zeindl-oebb opened #5923 "False positive matching in generic-mode with too many lines"
**Describe the bug**
Pattern-inside using ... matches a context that is longer than 10 lines.

**To Reproduce**

**- Rule**:
[code]

**-Test**:
[code]

Steps to reproduce the behavior, ideally a link to https://semgrep.dev: **It works on semgrep.dev, but not locally!**

![grafik](https://user-images.githubusercontent.com/104771358/172320843-54891e78-f911-4419-abf3-09afc123642b.png)

**Environment*

[2022-08-16 14:16] r2c-demo commented on #5923
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1769/false-positive-matching-in-generic-mode-with-too-many-lines. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-16 17:12] manuel-belvo opened #5924 "Empty Junit output"
**Describe the bug**
JUnit XML comes empty, even tough the console did show that tests were executed.

**To Reproduce**
0. Have an app.
1. Run:
[code]

**Expected behavior**
Have JUnit output with information, useful for CircleCI.

**Outputs**
JUnit output:
[code]

Console output:
[code]

**What is the priority of the bug to you?**

- [X] P0: blocking your adoption of Semgrep or workflow

**Enviro

[2022-08-16 17:12] r2c-demo commented on #5924
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1770/empty-junit-output. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-16 18:18] kopecs commented on #5876
The easiest workaround I can think of is to simply add a newline to the end of the Dockerfile.

Could you share information about the machine(s) you're encountering this on? I'm taking a look and OS + arch would be helpful.

[2022-08-16 20:31] luisfontes19 opened #5926 "Override rules from ruleset"
Being able to override a specific rule from the ruleset would be a good feature to help customizing false positives in specific rules, since excluding rules from ruleset is not possible (see [#2530](https://github.com/returntocorp/semgrep/issues/2530) )

**Describe the solution you'd like**
Being able to override rules by ID. Like:

`semgrep --config p/python --config path_to_my_rule.yml .`
where

[2022-08-16 20:31] r2c-demo commented on #5926
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1773/override-rules-from-ruleset. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-16 21:21] efortuna commented on #5896
printing the output of `semgrep --help` when you type `semgrep` would be sufficient (which gives usage instructions). @brendongo your examples are cherrypicked to not be the top level command. To use your two example programs, if you type `git`, the output is identical to `git --help` (regardless of whether you're in a repo or not) and if you type `pip3` it's identical to `pip3 --help`.

[2022-08-17 02:09] brendongo commented on #5924
@manuel-belvo i'm not too familiar with junit xml. What output in the junit xml would you expect here? it looks like in the console output there were no findings either and I think our junit xml output lists any found issues.

[2022-08-17 02:12] brendongo commented on #5896
Oh I see. So it's less the improper usage getting instructions and more plain usage without any flags getting instructions.

[2022-08-17 02:14] brendongo commented on #5896
To get this to work we need to deprecate `semgrep` being an alias for `semgrep scan`

[2022-08-17 04:10] zerkms opened #5930 "xunit/junit conformance"
**Describe the bug**
Produced junit xml does not comply with the https://github.com/jenkinsci/xunit-plugin/blob/master/src/main/resources/org/jenkinsci/plugins/xunit/types/model/xsd/junit-10.xsd used in jenkins' xunit.

[code]

Validation results are:

[code]

**To Reproduce**
Generate with `--junit-xml` and feed to the jenkins' xunit.

**Expected behavior**
I suspect it should produce the complai

[2022-08-17 04:10] r2c-demo commented on #5930
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1774/xunitjunit-conformance. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-17 04:46] zerkms commented on #5930
Or if it's supposed to be used with `recordIssues` then possibly `checkstyle` report result should be implemented (then it would be a feature request).

[2022-08-17 06:31] Vasco-jofra opened #5931 "Matching comments is not supported"
## Problem description
It would be nice if Semgrep could be used to match python comments in a simpler way. For example, I wanted to match python functions with the `@route` decorator, did not have the `@protected_endpoint` decorator, and did not have a specific comment (`# Hello` in the examples below).

This was the best solution I came up with (https://semgrep.dev/s/pwr0).
[code]
The `pattern-r

[2022-08-17 06:31] r2c-demo commented on #5931
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1775/matching-python-comments-is-not-well-supported. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-17 08:06] fabian-zeindl-oebb commented on #5876
This is a jenkins-build which runs on a kubernetes-pod that mounts a emptyDir volume.

[2022-08-17 08:17] ievans commented on #5930
@zerkms thanks for letting us know. Feel free to open a PR if you'd like, or in the meantime: what's the priority of the issue to you (looks like you forgot to mark above)?

[2022-08-17 14:01] markvdesign commented on #4889
I have this very same issue where outputting to a URL fails with the same encoding error message. Any chance we can reopen this issue?

[2022-08-17 14:03] manuel-belvo commented on #5924
@brendongo I fond this documentation: https://www.ibm.com/docs/en/developer-for-zos/9.1.1?topic=formats-junit-xml-format

Here's a schema: https://github.com/windyroad/JUnit-Schema/blob/master/JUnit.xsd

And a nice blog: https://docs.getxray.app/display/XRAY/Taking+advantage+of+JUnit+XML+reports

[2022-08-18 00:17] #2956 closed, assigned to nobody

[2022-08-18 00:42] mjambon commented on #2956
This was freshly merged. Let me know if there are build issues. `make setup` is necessary to build the tree-sitter library and put it in the right place.

[2022-08-18 11:02] vraghun opened #5937 "tool notification error: SemgrepError Error while matching: Semgrep encountered an internal error"
[FATA] [Semgrep] [2022-08-18T10:56:49Z] ▶ tool notification error: SemgrepError Error while matching: Semgrep encountered an internal error. This may be a stack overflow. Current stack limit is 10485760, try increasing it via `ulimit -s 20971520`.
semgrep-core exit code: -11
semgrep-core command: /usr/local/lib/python3.9/site-packages/semgrep/bin/semgrep-core -json -rules /tmp/tmp_tobpmfn.yaml -j

[2022-08-18 11:03] r2c-demo commented on #5937
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1781/tool-notification-error-semgreperror-error-while-matching-semgrep. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-18 12:20] Sjord commented on #5885
I think Python is parsed [using pfff, not tree-sitter](https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/src/parsing/Parse_target.ml#L304-L314).

[2022-08-18 12:33] Sjord commented on #3711
Is this solved with [Scan scripts by nbrahms · Pull Request #3986 · returntocorp/semgrep](https://github.com/returntocorp/semgrep/pull/3986)?

[2022-08-18 13:18] fabian-zeindl-oebb opened #5938 "Test-files for json-tests"
**Describe the bug**
The documentation says that test-files should use a comment to indicate which lines are matching and which aren't.

Unfortunately, json does not support comments, so the behaviour is not clear or at least not documented.

How can multiple test-cases for json be implemented?

[2022-08-18 13:18] r2c-demo commented on #5938
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1782/test-files-for-json-tests. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-18 13:42] fabian-zeindl-oebb opened #5939 "Support XML as a language without ordering of keys"
**Is your feature request related to a problem? Please describe.**
Many xml-based languages don't care about the ordering of the keys, for example in `pom.xml` the following two snippets are equivalent:

[code]

[code]

**Describe the solution you'd like**
I would like to be able to use the following semgrep rule to match both snippets above:

[code]

The "..." would match additional keys like in

[2022-08-18 13:43] r2c-demo commented on #5939
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1783/support-xml-as-a-language-without-ordering-of-keys. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-18 15:24] kopecs commented on #5876
Relevant upstream issues:
- https://github.com/camdencheek/tree-sitter-dockerfile/issues/22
- https://github.com/tree-sitter/tree-sitter/issues/1842

[2022-08-18 16:20] #2232 closed, assigned to nmote

[2022-08-18 19:00] #5594 closed, assigned to nobody

[2022-08-18 20:09] emjin commented on #5937
Hi, what version of Semgrep are you running?

[2022-08-18 20:59] aryx commented on #5938
I think the JSON parser we use in semgrep actually just abuse the javascript parser, and so comments are allowed in it.
See the test files here for example: https://github.com/returntocorp/semgrep/tree/develop/semgrep-core/tests/json

[2022-08-18 20:59] #5938 closed, assigned to nobody

[2022-08-18 21:25] #5912 closed, assigned to nobody

[2022-08-18 21:27] brandonspark commented on #5837
Closed by #5858

[2022-08-18 21:27] #5837 closed, assigned to nobody

[2022-08-18 21:55] underyx commented on #5890
fixed by https://github.com/returntocorp/semgrep/pull/5894

[2022-08-18 21:55] #5890 closed, assigned to spencerdrak, adamkvitek

[2022-08-19 00:42] brendongo commented on #5924
Junit output is low priority for us but we will gladly help/accept PRs for this!

[2022-08-19 00:45] brendongo commented on #5899
The proposed changes sound good btw.

[2022-08-19 00:46] #5705 closed, assigned to nobody

[2022-08-19 00:48] brendongo commented on #5734
I checked the reproduction and it looks like this is no longer an issue

[2022-08-19 00:48] #5734 closed, assigned to nobody

[2022-08-19 00:51] brendongo commented on #4630
Yep this was fixed by https://github.com/returntocorp/semgrep/pull/5013

[2022-08-19 00:51] #4630 closed, assigned to nobody

[2022-08-19 00:55] #5075 closed, assigned to nobody

[2022-08-19 00:57] brendongo commented on #4103
closing as not relevant since we no longer detect project url for this

[2022-08-19 00:57] #4103 closed, assigned to nobody

[2022-08-19 01:01] #3426 closed, assigned to dlukeomalley, DrewDennison

[2022-08-19 01:07] brendongo commented on #4752
Yes color is no longer included in non text formats.

[2022-08-19 01:07] #4752 closed, assigned to nobody

[2022-08-19 09:28] vraghun commented on #5937
GitLab Semgrep analyzer v2.21.0

[2022-08-19 09:32] vraghun commented on #5937
$ /usr/local/bin/semgrep --version

0.86.5

[2022-08-19 09:53] erwanlr commented on #3939
Any update about this ? This is quite an annoying one especially when `echo` is a sink, example: https://semgrep.dev/s/2DxL

[2022-08-19 14:22] manuel-belvo commented on #5924
Is there a current way to integrate semgrep with CircleCI?

[2022-08-19 14:50] Elkasitu commented on #4764
Just chiming in to say that something like `lower:` or `upper:` would be appreciated for comparing two different metavariables :)

[2022-08-19 15:42] IagoAbal commented on #4764
@Elkasitu can you provide some concrete example(s)? It makes sense but with the examples we make sure we understand your request better.

[2022-08-19 16:49] Elkasitu commented on #4764
@IagoAbal sure, I have the following rule: https://github.com/RedHatProductSecurity/django-migration-rules/blob/master/rules/django-migration-slow-default.yaml

And the following test which should not trigger the rule: https://github.com/RedHatProductSecurity/django-migration-rules/blob/master/rules/django-migration-slow-default.py#L53-L67

At the moment it does because I have not found a way to c

[2022-08-19 17:14] LewisArdern commented on #5294
Hi Friends!

Sorry this took so long to look at, it must have gotten lost in the weeds, anything to do with registry/rules should realistically head over to https://github.com/returntocorp/semgrep-rules. We will make sure anything is transferred there in the future for cases like this.

We looked at the rule and noticed that it doesn't have a very high fix-rate, so we actually went ahead and depre

[2022-08-19 17:14] #5294 closed

[2022-08-19 17:31] IagoAbal commented on #3939
I'll try to find time for this during Q3 (I added it to my taint to-do list for Q3). There are other edge cases like `sanitizer(sink(source))` or `source(sink(safe))`. If we make Semgrep taint-mode "smart" to infer what do you mean with `echo ...` being a sink, we should probably have a way to restore its "dumbness" because sometimes this may be what you want (e.g.  I believe you liked how `saniti

[2022-08-19 23:40] emjin commented on #5937
This is probably a memory exhaustion error. We've improved that since. Can you see if you still get this error with the latest version of semgrep?

[2022-08-20 06:22] ben-elttam commented on #5704
Thanks for your efforts @wilsonehusin.

I see it got reverted. Maybe this bug should be reopened since #5736 got reverted by #5770.

Docker Engine cannot have multiplatform images (it can have a single image from any platfrom via qemu, but it cannot have multiple simultanously), hence why `load: true` failed.

If I understand correctly I think the solution should be like https://github.com/docker/

[2022-08-20 16:59] malexmave opened #5950 "Semgrep crashes when using extract mode in YAML file"
**Describe the bug**
When using the experimental extract mode, semgrep crashes with the following trace:

[code]

**To Reproduce**
Use the following combination of rules:
[code]

The example file to scan to trigger the crash is:

[code]

**Expected behavior**
Either no findings (if I messed up the rule), or a finding (as the spring actuator rule should match).

**What is the priority of the bug to

[2022-08-20 17:00] r2c-demo commented on #5950
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1791/semgrep-crashes-when-using-extract-mode-in-yaml-file. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-20 19:34] Sjord commented on #5294
This rule provided me value, and I want a rule like this to exist in the registry.

[2022-08-20 20:50] Sjord commented on #5294
This still happens, so this bug doesn't seem to be solved.

[2022-08-22 06:40] zakrush commented on #5715
Very strange. I try build on kubuntu, kali linux, ubuntu and alpine. I gave the same error.
I run this:
[code]
Here logs of gitlab docker runner
[code]

[2022-08-22 16:13] DanielDiCarlo opened #5952 "alternative apostraphe character: ’ can not be ignored and will show up in single character findings"
**Describe the bug**
I am currently attempting to write a rule that detects single characters that are not standard a-z 123 or commonly used symbols in programming. However, I would also like for the symbol ’ to not show up as a finding. Even if I mark it as a a pattern-not it will still appear in the findings section.

**To Reproduce**
https://semgrep.dev/playground/s/gAZR

**Use case**
What will

[2022-08-22 16:14] r2c-demo commented on #5952
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1797/alternative-apostraphe-character-can-not-be-ignored-and-will-show-up. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-23 09:12] Elkasitu opened #5963 "Matching siblings inside arrays/lists/etc."
**Is your feature request related to a problem? Please describe.**
Yes, I would like to be able to match or filter, in a single pattern statement, pairs or sets of patterns that live within a specific data structure such as a list/array, e.g. https://semgrep.dev/s/lwpy

**Describe the solution you'd like**
Either some sort of pattern-sibling key or for semgrep to recognize a pattern / pattern-not

[2022-08-23 09:13] r2c-demo commented on #5963
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1804/matching-siblings-inside-arrayslistsetc. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-23 14:30] Sjord opened #5965 "semgrep --test does not scan current directory in docker"
Running `semgrep --test` in the docker fails, where I expect it to run the tests in the current directory.

    docker run -v "$PWD:/foo" -w "/foo" returntocorp/semgrep:latest semgrep --test

[code]

No error message, exit code 2.

When I run `semgrep --test` on my local system, it scans the current directory. That the docker behaves differently can be explained by [`adjust_for_docker`](https://gi

[2022-08-23 14:31] r2c-demo commented on #5965
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1805/semgrep-test-does-not-scan-current-directory-in-docker. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-23 17:55] sk- opened #5966 "$...BODY not working for ruby"
**Describe the bug**
The body of a ruby class is not captured with `$...BODY`, but it is with `...`.

**To Reproduce**
- https://semgrep.dev/s/94vY does not work
- https://semgrep.dev/s/yGPx works

**Expected behavior**
Both constructs should match the same code. There have been many related issues like https://github.com/returntocorp/semgrep/issues/3170 or https://github.com/returntocorp/semgrep/

[2022-08-23 17:55] r2c-demo commented on #5966
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1807/dollarbody-not-working-for-ruby. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-23 23:53] #2995 closed, assigned to nmote

[2022-08-24 07:28] aryx commented on #2530
mentioned again recently here: https://r2c-community.slack.com/archives/CK86BJ5DW/p1661268053942429

[2022-08-24 10:45] spmishra121 commented on #5758
Hi @brendongo , I analysed few things as per required by you and @ajinabraham , Please find the details...
Please find the version of njsscan...

**Python Version: 3.7.10**

**[root@ip-10-25-48-63 workspace]# njsscan --version

**njsscan: v0.3.3 | Ajin Abraham | opensecurity.in**
[root@ip-10-25-48-63 workspace]#**

Result of njsscan
[root@ip-10-25-48-63 workspace]# njsscan .

Pattern Match ███████

[2022-08-24 10:51] spmishra121 opened #5969 "Getting error while running njsscan"
Hi @brendongo
We are facing issue while running NJSScan at our end after updating the same. An issue regarding this is already open with NJSScan
 https://github.com/ajinabraham/njsscan/issues/95 (Check Comments with this).

To analyse more further, I had executed semgrep and njsscan individually. Please find the details below...

**Python Version: 3.7.10**

**[root@ip-10-25-48-63 workspace]# njssc

[2022-08-24 10:52] r2c-demo commented on #5969
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1812/getting-error-while-running-njsscan. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-24 17:49] backcover7 opened #5971 "Taint mode bug when matching the foreach statement"
**Describe the bug**
The taint mode might not track data flow through `foreach` statement

**To Reproduce**
https://semgrep.dev/s/94LY

**Expected behavior**
The `foreach` statement should be tracked and the sink function in the provided code should be matched.

**What is the priority of the bug to you?**
P1: important to fix or quite annoying. It might ignore lots of potential findings in the cod

[2022-08-24 17:49] r2c-demo commented on #5971
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1813/taint-mode-bug-when. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-24 19:07] rubensf opened #5972 "`USER` in Dockerfile conflicts with other workflows in self hosted runners."
## Description
Our team uses self hosted runners - in which case they maintain some state between runs, particularly checkouts. Some actions, like the Github Provided [actions/checkout](https://github.com/actions/checkout), will try to clear up resources, eg previous runs. Unfortunately, since the semgrep container acts as [`root`](https://github.com/returntocorp/semgrep/blob/v0.110.0/Dockerfile#L

[2022-08-24 19:07] r2c-demo commented on #5972
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1815/user-in-dockerfile-conflicts-with-other-workflows-in-self-hosted. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-25 13:03] Sjord commented on #5931
I think comments are generally ignored by semgrep in any language. Today I also ran into a use case where I want to match comments, but in PHP: the comments contain some documentation on parameters, and I want to cross-check that against the code with semgrep. So matching comments would be desirable.

[2022-08-25 13:34] linusg opened #5978 "Sign-in with GitHub uses first account email, not the primary one"
**Describe the bug**
When choosing to sign up/in with a GitHub account on semgrep.dev, the first email from the GitHub is shown in the organization member settings, not the current primary selection (with no apparent way of changing it beyond removing that email from GitHub).

**To Reproduce**

- Go to `https://github.com/settings/emails`
- Add a second email address
- Set the new email address as

[2022-08-25 13:35] r2c-demo commented on #5978
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1816/sign-in-with-github-uses-first-account-email-not-the-primary-one. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-25 15:46] malexmave commented on #4748
Encountered the same problem - [Example in playground](https://semgrep.dev/s/yGk8). I would expect the message to read

In fact it reads

The metavariable is correct for internal matching, it is simply a cosmetic error on the output.

[2022-08-25 21:11] dgutson commented on #2530
Thanks @qequ for providing a fix!

[2022-08-26 08:04] Sjord opened #5986 "PHP namespace pattern raises Impossible"
https://semgrep.dev/playground/s/sjord:namespace-php

pattern: `namespace MyProject;`

Semgrep output:

[code]

[2022-08-26 08:05] r2c-demo commented on #5986
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1818/php-namespace-pattern-raises-impossible. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-26 08:52] Sjord opened #5987 "Metavariable regex for literal $ at end of string gives regex error"
[code]

The regex tries to match `hello$`, but because `$` has special meaning in a regex it is escaped with `\`. However, [`remove_end_of_string_assertions_from_string`](https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/src/utils/Regexp_engine.ml#L108-L159) strips the final `$` from the regexp, leaving  `hello\`, which is an invalid regexp.

This results in an error like this:

[c

[2022-08-26 08:53] r2c-demo commented on #5987
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1819/metavariable-regex-for-literal-dollar-at-end-of-string-gives-regex. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-26 09:08] Sjord commented on #5986
It's [this one](https://github.com/returntocorp/pfff/blob/0e349b40e6abd21e4e33e9cc05a6528f2f1c14a8/lang_php/analyze/ast_php_build.ml#L174) in toplevel:

      | NamespaceDef (_, _, _) -> raise Impossible

[2022-08-26 12:02] smcpeak opened #5988 "semgrep-hack/lib/scanner.cc: str: use after free due to "return str.c_str();""
In `semgrep-core/src/tree-sitter-lang/semgrep-hack/lib/scanner.cc`, there is this code:

[code]

This creates a local `string` and returns a pointer to its internal buffer, but that buffer is then immediately destroyed by the `string` destructor.  When the result is subsequently used, it is pointing to freed memory.

I noticed this because I saw a compiler warning go by about it.  I think this mus

[2022-08-26 12:03] r2c-demo commented on #5988
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1820/semgrep-hacklibscannercc-str-use-after-free-due-to-return-strc-str. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-26 15:37] brandonspark commented on #5885
Fixed in #5949

[2022-08-26 15:37] #5885 closed, assigned to nobody

[2022-08-26 21:57] #5147 closed, assigned to nobody

[2022-08-27 12:29] psifertex opened #5996 "Error while running rules: 0 bytes read on a total of 2 expected bytes"
**Describe the bug**
Working on getting the Binary Ninja plugin updated and it looks like something has changed since you've published some rules and they're not compatible anymore?

**To Reproduce**
Steps to reproduce the behavior:
1. Install semgrep via pip
2. Create a `sample.c` file as shown below.
3. Download [info-leak-on-non-formatted-string](https://github.com/returntocorp/semgrep-rules/bl

[2022-08-27 12:39] psifertex commented on #5996
Upon further investigation I don't think this is related to the rule I'm using I think it's just a broken semgrep install where the provided error just isn't helpful. Even doing:

[code]
inside of `semgrep-rules/c/lang/security` produces the same error:

[code]

[2022-08-27 13:43] psifertex commented on #5996
Yeah, this should probably be migrated to the semgrep repo, I can close/re-open if that's easier instead.

[2022-08-28 07:41] effortlessdevsec opened #5994 "unable to print if statement body in java"
want to print if statement body but semgrep match full code.

`id: if_else_java
patterns:
 - pattern: |
    if($X==$Y) {...}

message: Semgrep found a match
languages: [java]
severity: WARNING
`
![image](https://user-images.githubusercontent.com/30777722/187063527-37a182fb-e8a0-4206-b834-d88befe5252c.png)

[2022-08-28 07:42] r2c-demo commented on #5994
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1824/unable-to-print-if-statement-body-in-java. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-28 07:45] effortlessdevsec commented on #5994
@r2c-demo  can you provide me some reference how to do this !!! not having permission to access above link

[2022-08-29 00:58] backcover7 commented on #5558
This bug also blocks me when writing rules. Is there any ETA for this bug fix?

[2022-08-29 02:56] r2c-demo commented on #5996
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1825/error-while-running-rules-0-bytes-read-on-a-total-of-2-expected-bytes. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-29 04:21] dmaciejak opened #5997 "False negative detections using basic operator expression"
**Describe the bug**
Puzzled by the result of the rule and code enclosed. Is it a bug or expected ?

**To Reproduce**
Please check: https://semgrep.dev/s/6qeL

**Expected behavior**
Expecting the operator results to be consistent.

**Screenshots**
NA

**What is the priority of the bug to you?**

- [X] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
-

[2022-08-29 04:21] r2c-demo commented on #5997
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1826/false-negative-detections-using-basic-operator-expression. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-29 09:48] zakrush commented on #5715
On mac OS I build it.

[2022-08-29 12:44] aryx commented on #5997
This is because of https://semgrep.dev/docs/writing-rules/data-flow/constant-propagation/

[2022-08-29 12:45] aryx commented on #5997
You can disable it if you want. See https://semgrep.dev/s/8YZq

[2022-08-29 12:45] #5997 closed, assigned to nobody

[2022-08-29 12:46] aryx commented on #5994
Oh the r2c-demo message is for r2c employees only. Just ignore it.

[2022-08-29 12:47] aryx commented on #5994
Can you share a semgrep.dev link to your example (It's easier to fix from a working semgrep.dev link).

[2022-08-29 12:50] aryx commented on #5996
Can you rerun with --debug and copy-paste the output here?

[2022-08-29 13:14] IagoAbal commented on #5971
I have a candidate solution for this but I need some time to prepare a PR. Please bear with me!

[2022-08-29 13:45] spmishra121 commented on #5969
Hi @brendongo , We are looking resolution on this issue as our security gate is consistently failing.

[2022-08-29 15:14] aryx commented on #5994
@p4p3r answered on Slack: https://semgrep.dev/s/QLEk

[2022-08-29 20:42] backcover7 opened #6001 "Instance method of internal class can not be matched"
**To Reproduce**
https://semgrep.dev/s/x5by

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

[2022-08-29 20:42] r2c-demo commented on #6001
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1827/instance-method-of-internal-class-can-not-be-matched. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-29 20:43] backcover7 opened #6002 ".class property cannot be parsed in Java"
**To Reproduce**
https://semgrep.dev/s/dzA0

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

[2022-08-29 20:43] r2c-demo commented on #6002
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1828/class-property-cannot-be-parsed-in-java. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-29 20:45] backcover7 opened #6003 "Unsupported ellipsis in symbolic propagation option"
**Describe the bug**
The ellipsis does not work in symbolic propagation. This issue could be solved by using taint mode. But does semgrep has a simple way to resolve such conditions based on symbolic propagation?

**To Reproduce**
https://semgrep.dev/s/7l6Q

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite anno

[2022-08-29 20:46] r2c-demo commented on #6003
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1829/unsupported-ellipsis-in-symbolic-propagation-option. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-30 03:25] mjambon commented on #5952
Hello! The solution here is to use `pattern-not-regex` rather than `pattern-not`. It also helps to specify the language in the `languages` section as `regex` rather than `generic`. An updated rule is https://semgrep.dev/s/RLdq

Explanations:
* `generic` means that patterns are for matching in generic mode. This is the matching engine used for patterns specified with `pattern-not` or `pattern`.
* s

[2022-08-30 03:25] #5952 closed, assigned to mjambon

[2022-08-30 07:41] milanwilliams commented on #5978
Hi @linusg! We just added a new tab to the Settings page called "Account", where you can change the primary email address Semgrep uses and update your email preferences. Let me know if this works for you!
<img width="888" alt="Screen Shot 2022-08-29 at 9 40 47 PM" src="https://user-images.githubusercontent.com/19784302/187378865-fc531164-27b2-4f63-a269-bf5e77790788.png">

[2022-08-30 09:14] linusg commented on #5978
Thanks for the quick implementation & response, that looks great! Unfortunately the dropdown is empty for me with no available options to chose from, and doesn't seem to allow manual input either:

<img width="590" alt="image" src="https://user-images.githubusercontent.com/19366641/187398490-801cc1d0-667c-49e2-8983-68c19a944b80.png">

I was able to set my preferred address through a manual API req

[2022-08-30 13:31] Sjord opened #6006 "Taint mode does not interpret function parameters"
https://semgrep.dev/playground/s/sjord:taint-in-func?editorMode=advanced

[code]

[code]

I would expect this to match, as `source()` is passed to `foo()` as parameter, and ends up in `sink()` there.

[2022-08-30 13:32] r2c-demo commented on #6006
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1830/taint-mode-does-not-interpret-function-parameters. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-30 13:58] ysebyy opened #6007 "Ruby %w operator stops from match pattern"
**Describe the bug**
Ruby %w array operator seems to cause pattern to not recognise (or understand) the variables to match.

Use the pattern of text: "%w(HS256 HS512).freeze" to check if that exists in the class.

Using `- pattern: $F = %w(HS256 HS512).freeze` does not generate a match for the code sample

However, if we change the snippet to `= (HS256 HS512).freeze` it works. For some reason the

[2022-08-30 13:59] r2c-demo commented on #6007
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1831/ruby-percentw-operator-stops-from-match-pattern. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-30 14:16] Sjord commented on #6007
This seems due to a difference between pfff and tree-sitter parsing. Ruby files are parsed preferentially by tree-sitter, and patterns by pfff. If we have this file:

[code]

pfff parses it as an array, which seems reasonable:
[code]

tree-sitter parses it as a interpolated concatenation of strings, which seems incorrect:
[code]

The upstream tree-sitter parses correctly identifies it as a string

[2022-08-30 14:48] Sjord opened #6008 "Semgrep fails to parse fake comment after ARG in Dockerfile"
https://semgrep.dev/playground/s/sjord:dockerfile-comment

Consider this in a Dockerfile:

[code]

This looks like a build-time argument with a comment, [but](https://docs.docker.com/engine/reference/builder/#format):

Docker has no support for comments that start halfway the line. It works anyway, because arguments are space-sensitive and anything after the space is ignored. So the `#` has no spe

[2022-08-30 14:48] r2c-demo commented on #6008
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1832/semgrep-fails-to-parse-fake-comment-after-arg-in-dockerfile. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-30 17:01] aryx commented on #6007
@nmote another candidate for switching to tree-sitter for parsing the pattern too?

[2022-08-30 17:18] IagoAbal commented on #6003
Note for whoever takes this issue (possibly myself): `hello.x().y().z()` matches as expected, symbolic propagation already works with `DotAccess`. Presumably we need to make it work in combination with `DotAccessEllipsis` and the example should then work.

[2022-08-30 18:50] bmahe commented on #5994
Closing that issue since it was answered on slack.
@effortlessdevsec feel free to re-open it in case you still are experiencing that problem.

[2022-08-30 18:50] #5994 closed, assigned to nobody

[2022-08-30 19:00] bmahe commented on #5969
Hi @spmishra121 ,

Your execution trace of `semgrep --config=auto .` shows that semgrep is working without errors and showing some findings.
Do you have a reproducible error with semgrep?

[2022-08-30 19:07] #3387 closed, assigned to nobody

[2022-08-30 22:06] bmahe commented on #5963
Hi!

This rule may be able to get what you want: https://semgrep.dev/playground/s/ronn although not as gracefully as I was hoping to and assuming order matters.

[2022-08-31 07:10] Elkasitu commented on #5963
@bmahe cool, thanks! I believe that works for when you want to match but don't think it's possible when you want to filter (which is my actual use-case but I wanted to make the issue "generic").

Here's the actual rule : https://github.com/RedHatProductSecurity/django-migration-rules/blob/master/rules/django-migration-rename-field.yaml
And its test file: https://github.com/RedHatProductSecurity/dj