[2022-02-07 16:03] IagoAbal commented on #4071
@minusworld I don't understand the issue. You're asking Semgrep to match a constant with `"$STRING"` and `"..."`, and `html` has a known constant value (or am I missing something?).

Note that after `html = html.concat("hello")`, `html` is still a known constant, because 1) we know that `html` is a constant prior to this assignment, and 2) `"hello"` is just another constant string.

This is consta

[2022-02-07 16:37] minusworld commented on #4071
I thnk based on the Issue description, it seems like it used to be a parse error. I don't think I can replicate it anymore, so it must've been fixed.

[2022-02-07 16:37] #4071 closed, assigned to IagoAbal

[2022-02-07 19:05] underyx opened #4628 "`semgrep -h` does not work"
**Describe the bug**

[code]

**To Reproduce**

`$ semgrep -h`

**Expected behavior**

`-h` should have the same output as `--help`

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

[2022-02-07 19:06] r2c-demo commented on #4628
This issue is synced in Linear at https://linear.app/r2c/issue/PA-835/semgrep-h-does-not-work.

[2022-02-07 19:07] underyx opened #4629 "recommendation when using wrong options might be incorrect"
**Describe the bug**

[code]

**To Reproduce**

`$ semgrep -r`

**Expected behavior**

1. `Usage: semgrep -r [OPTIONS] [TARGET]...` shouldn't include `-r` as if it's a real flag
2. `Try 'semgrep -r --help' for help.` should say to use only `semgrep --help`

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0: blocking

[2022-02-07 19:08] underyx commented on #4629
@brendongo does this issue make sense or is the a reason for including the non-existant options in the recommendation text?

[2022-02-07 19:08] r2c-demo commented on #4629
This issue is synced in Linear at https://linear.app/r2c/issue/PA-836/recommendation-when-using-wrong-options-might-be-incorrect.

[2022-02-07 19:20] holdenmcg opened #4630 "Agent gives ambiguous warning on file syntax error"
**Is your feature request related to a problem? Please describe.**
Running the agent on a file with a syntax error results in an ambiguous/slightly confusing warning: " [WARN] Semgrep Core — Syntax erro ". someone might think this is an issue with their CLI flags/config/etc. , whereas the syntax error is really in a file, and Semgrep is working perfectly fine.

**Describe the solution you'd like**

[2022-02-07 19:22] r2c-demo commented on #4630
This issue is synced in Linear at https://linear.app/r2c/issue/PA-837/agent-gives-ambiguous-warning-on-file-syntax-error.

[2022-02-07 22:11] underyx opened #4631 "Include IgnoreLog info in --json output"
Add the list of files scanned and ignored, broken down by reason, to the --json output.

[2022-02-07 22:13] r2c-demo commented on #4631
This issue is synced in Linear at https://linear.app/r2c/issue/PA-838/include-ignorelog-info-in-json-output.

[2022-02-07 22:15] underyx commented on #4631
@brendongo question: should we include all paths every time you call with --json? When someone scans a large directory this could increase their output size by several orders of magnitude. This could be annoying for people who keep JSON artifacts around, or when trying to scan through simple JSON output by eye.

An alternative would be `--json --verbose` increasing how much data we include in the

[2022-02-07 22:37] emjin commented on #4631
I think that would make `--json` output unnecessarily large and overwhelming. `--verbose` actually does affect something outside stderr because it implies `--time`, which affects both JSON and text output, so it's not unreasonable to keep using that. Note that `--time` `--json` output can be read to get a list of files scanned.

[2022-02-07 23:03] brendongo commented on #4626
I think this format might be expected by https://github.com/returntocorp/semgrep.vim so that might need to be changed if we ever change this.

@LewisArdern is there a reason you are using `--vim` in CI instead of `--json`?

[2022-02-08 03:58] LewisArdern commented on #4626
We have a unique case where its an out-of-band scan when an engineer needs to review something ad-hoc, (we save the output of semgrep to a txt file) which they look at (we do not have the luxury to have JSON parsing in this case).

I have said to use --emacs instead for now as it probably wont break our workflow, but I noticed that there were discrepancies with --vim and --emacs, and wanted to ali

[2022-02-08 11:11] aryx commented on #4587
The problem is because ... inside a contract can't be parsed currently.
See https://github.com/JoranHonig/tree-sitter-solidity/pull/22/files which is the first step needed for this fix.

[2022-02-08 16:58] ievans opened #4637 "Semgrep missing highlight in text output mode"
**Describe the bug**
Semgrep doesn't highlight the matched range when printing textual output on the CLI

**To Reproduce**
Run semgrep on the CLI with some findings

**Expected behavior**

Semgrep used to highlight the matched range with a different color/bold, as described in https://github.com/returntocorp/semgrep/issues/4400
![image](https://user-images.githubusercontent.com/409041/153036493-4a

[2022-02-08 16:59] r2c-demo commented on #4637
This issue is synced in Linear at https://linear.app/r2c/issue/PA-839/semgrep-missing-highlight-in-text-output-mode.

[2022-02-08 17:00] ievans commented on #4377
Fixed in #4541 :)

[2022-02-08 17:00] #4377 closed, assigned to nobody

[2022-02-08 18:17] rc-mattschwager opened #4638 "Semgrep missing explanation when skipping large files"
**Describe the bug**

A large HTML file was being skipped by Semgrep for unknown reasons.

**To Reproduce**

[code]

[code]

[code]

Eventually I suspected the file was being skipped because of it's size. Setting `--max-target-bytes 0` fixed the issue.

**Expected behavior**

When a file is being filtered for size reasons (or any other reasons really) it would be helpful if `--verbose` told you wh

[2022-02-08 18:17] r2c-demo commented on #4638
This issue is synced in Linear at https://linear.app/r2c/issue/PA-840/semgrep-missing-explanation-when-skipping-large-files.

[2022-02-08 18:42] underyx commented on #4638
Heya Matt! Perfect timing, we just merged something for this less than 24 hours ago! Could you have a look at whether this is sufficient for you?

https://github.com/returntocorp/semgrep/commit/4a066462da6fea6c1255c41089d8a1d8684fcd31#diff-9db04ed6501345761c7a7fff5a0078f111eeb8d141b73869ed5d01e0af1f3b16R26-R29

[2022-02-08 19:51] rc-mattschwager commented on #4638
Oh wow, that's perfect! I think `1 files larger than 1.0 MB` would've keyed me into my problem 👍

[2022-02-08 19:51] #4638 closed, assigned to nobody

[2022-02-08 23:42] #4637 closed, assigned to nobody

[2022-02-09 04:58] fitzoh commented on #3698
@fpmosley any updates?
Still active/interested?

[2022-02-09 05:34] fpmosley commented on #3698
@fitzoh I'm still interested. I just don't have time to actively work on it. The last thing I did was get this PR merged back in October.
https://github.com/returntocorp/ocaml-tree-sitter-semgrep/pull/260

So we have the OCaml parser for Elixir. Now we just need the additional work done to support Elixir in semgrep.

[2022-02-09 10:09] #4587 closed, assigned to nobody

[2022-02-09 11:05] HariSekhon opened #4642 "multiple-cmd-instructions / multiple-entrypoint-instructions / alias-must-be-unique and duplication warnings when one of the two occurrences are commented out and should have been ignored"
**Describe the bug**
Several false positives such as multiple-cmd-instructions / multiple-entrypoint-instructions  / alias-must-be-unique are being flagged when one of the two lines are commented out and should have been ignored

**To Reproduce**

https://semgrep.dev/orgs/harisekhon/findings?rule=generic.dockerfile.correctness.alias-must-be-unique.alias-must-be-unique%2Cgeneric.dockerfile.correctn

[2022-02-09 11:06] r2c-demo commented on #4642
This issue is synced in Linear at https://linear.app/r2c/issue/PA-847/multiple-cmd-instructions-multiple-entrypoint-instructions-alias-must.

[2022-02-09 11:35] aryx commented on #3698
I've pushed a little bit with https://github.com/returntocorp/semgrep/pull/4643 but after that it still remains
to replace all the todos in Parse_elixir_tree_sitter.ml by the correct constructs from the generic AST. This is what takes time
and could use some help.

[2022-02-09 14:09] tilperion2 opened #4644 "Support new Java 11+ language specs features."
**Is your feature request related to a problem? Please describe.**
SemGrep fails to run Java rules for code using new Java 11+ features. As SemGrepo fails to scan such classes, some issues in them may be missed

Features not supported right now:

- Text blocks - “”” (three double-quote marks) - since Java 15+
- Java records - since Java 14+
- Sealed classes/interfaces - since Java  15+
- Pattern M

[2022-02-09 14:11] r2c-demo commented on #4644
This issue is synced in Linear at https://linear.app/r2c/issue/PA-848/support-new-java-11-language-specs-features.

[2022-02-09 16:38] minusworld opened #4647 "Enable metavariable-* clauses with pattern-not* clauses"
**Is your feature request related to a problem? Please describe.**
`metavariable-*` clauses do not seem to work with `pattern-not*` clauses.

**Describe the solution you'd like**
In particular, I want to NOT match on line 73, so I tried this: https://semgrep.dev/s/wXp6
However, the rule has no findings at all. If I remove the metavariable-regex clause, it works, but will match any if statement whi

[2022-02-09 16:39] r2c-demo commented on #4647
This issue is synced in Linear at https://linear.app/r2c/issue/PA-849/enable-metavariable-clauses-with-pattern-not-clauses.

[2022-02-09 18:13] emjin commented on #4642
Closing this since we have a Dockerfile parser now! The problem is these rules are still using generic mode and need to be converted to Docker (see the issue linked). We'll get to it when we can, and we also welcome contributions to our rules!

[2022-02-09 18:13] #4642 closed, assigned to nobody

[2022-02-09 18:23] ievans commented on #4644
@tilperion2 thanks for the issue. Can you share the relative priority for you / your team?

[2022-02-09 18:39] tilperion2 commented on #4644
We have more and more code updated to newer Java, so our automation scan jobs seeing more and more errors/warnings. So we will happy to get updates sooner, if possible.

I think generally it will become more and more critical for all semGrep teams, as soon as they will start update to new long term support Java release.

Also I placed features in bullet list in approximate frequency of theirs usag

[2022-02-10 03:39] brendongo commented on #2874
Closing as duplicate of #2503

[2022-02-10 15:42] justinmoore opened #4655 "Scala String Interpolator Rules Do Not Match Against"
**Describe the bug**
Scala

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:
https://semgrep.dev/s/PYpe

**Expected behavior**
A clear and concise description of what you expected to happen.
The rule should not match against `s""` or `sql""`, only `asdasdawkdpokasd""`.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is t

[2022-02-10 15:43] r2c-demo commented on #4655
This issue is synced in Linear at https://linear.app/r2c/issue/PA-855/scala-string-interpolator-rules-do-not-match-against.

[2022-02-10 16:38] ievans commented on #4568
@underyx closing this as fixed by #4616 and the docs PRs made by @s-santillan

[2022-02-10 16:38] #4568 closed, assigned to nobody

[2022-02-10 22:03] #4348 closed, assigned to mjambon

[2022-02-10 23:31] kurt-r2c opened #4657 "Typed Metavariable Support for C#"
**Is your feature request related to a problem? Please describe.**
No, this is a request for an enhancement to C# language support similar to existing functionality for Java and Go.

**Describe the solution you'd like**
Typed metavariables for C#.  Similar to Java's `(String $Y)` syntax: https://semgrep.dev/docs/writing-rules/pattern-syntax/#typed-metavariables

**Describe alternatives you've cons

[2022-02-10 23:33] r2c-demo commented on #4657
This issue is synced in Linear at https://linear.app/r2c/issue/PA-858/typed-metavariable-support-for-c.

[2022-02-11 07:11] inkz commented on #3978
:wave:

[2022-02-11 07:11] inkz commented on #2728
:wave:

[2022-02-11 08:46] aryx commented on #4563
We plan to do some work in Q1 to improve our typed metavariables. Leveraging those type assertions could be great indeed for ruby rules.

[2022-02-11 08:47] aryx commented on #2728
@inkz the stale bot has been adjusted so that if an issue has a priority, it will stop to bother.

[2022-02-11 09:05] IagoAbal commented on #4582
The problem with https://semgrep.dev/s/GyGq is that `$STRING` is being bound to
[code]
So all whitespace is removed for some reason. That's probably why `metavariable-pattern` doesn't work.

[2022-02-11 09:05] IagoAbal commented on #4582
And this problem seems to come already from the HCL front-end.

[2022-02-11 09:20] IagoAbal commented on #4582
I believe we need to fix `Parse_hcl_tree_sitter.map_template_literal`.

[2022-02-11 17:17] faceyacc opened #4661 "Unexpected new-line(\n) character in json output"
**Describe the bug**
A user running semgrep-core is receiving an unexpected new line character before json output.

**Expected behavior**
The user should be able to run semgrep-core on v0.82.0 without unexpected new line characters

**Screenshots**
<img width="934" alt="Screen Shot 2022-02-11 at 9 11 30 AM" src="https://user-images.githubusercontent.com/42871121/153637034-013d04a3-5269-40dd-ac60-c

[2022-02-11 17:19] r2c-demo commented on #4661
This issue is synced in Linear at https://linear.app/r2c/issue/PA-859/unexpected-new-line\n-character-in-json-output.

[2022-02-11 19:18] nmote commented on #3786
It looks as if this has been fixed:

[code]

[2022-02-11 19:30] nmote commented on #4459
This syntax error message isn't great, but I don't think this is actually a bug. Babel, TypeScript, and Flow all issue an error on this code:

https://babeljs.io/repl#?&code_lz=MYGwhgzhAEDeBQ0nQgewLYFMCymAuAFqgCYAUAlIsgsrdAE74Cu9AdtAAwDcVSAvvD5A

https://www.typescriptlang.org/play?#code/MYGwhgzhAEDeBQ0nQgewLYFMCymAuAFqgCYAUAlIsgsrdAE74Cu9AdtAAwDcVSAvvD5A

https://flow.org/try/#0MYGwhgzhAEDeBQ0nQg

[2022-02-11 19:35] nmote commented on #4459
In fact, it looks like it may be a bug that Semgrep *does* parse a top-level class expression when the brace is on the same line as the method name: https://semgrep.dev/s/A5ww

Babel, TS, and Flow all reject this code.

[2022-02-11 21:16] emjin commented on #3786
Glad to hear it!

[2022-02-11 21:16] #3786 closed, assigned to nobody

[2022-02-11 22:28] jtraglia opened #4663 "Join mode does not respect --exclude options"
**Describe the bug**
When running a `mode: join` rule, it shows findings in excluded directories.

**Expected behavior**
It should hide findings in excluded directories.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

**Environment**
Semgrep 0.82.0 on macO

[2022-02-11 22:29] r2c-demo commented on #4663
This issue is synced in Linear at https://linear.app/r2c/issue/PA-860/join-mode-does-not-respect-exclude-options.

[2022-02-11 22:53] aryx commented on #4453
This was on behalf of poning
We might want to give some love to this feature, and actually it can even help optimize those pattern:$X cases.
cc @emjin

[2022-02-11 23:25] nmote commented on #3938
I'm taking a look at this.

[2022-02-12 01:46] khanhldt commented on #4620
There are few new features in the new versions that I'd like to use. Would be great if we can have a quick way of unblocking this.

[2022-02-12 05:15] inkz commented on #2728
@aryx thank you! :pray:

[2022-02-12 08:24] IagoAbal commented on #3938
Planning to open a PR @nmote ?

[2022-02-12 09:16] #4582 closed, assigned to IagoAbal

[2022-02-12 15:40] nmote commented on #3938
Yes, once I have a little more time to prepare it

[2022-02-12 18:52] saullocarvalho opened #4665 "PHP engine does not parse "$A" as interpreted string"
While "$A" is supported by Python engine to match any string literal and store its content in the metavariable $A, it is not supported by PHP engine.

I was trying to use "$A" in order to match registered PHP functions as presented at https://semgrep.dev/s/p9kJ

[2022-02-12 18:52] r2c-demo commented on #4665
This issue is synced in Linear at https://linear.app/r2c/issue/PA-862/php-engine-does-not-support-dollara-pattern.

[2022-02-12 19:32] efortuna opened #4666 "Changing policy on Semgrep app rule board does not appear to update GitHub PR comments"
**Describe the bug**
Changing policy on Semgrep app rule board does not appear to update GitHub PR comments to reflect that policy, even though the workflow logs seem to.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:
1. Make a PR for a Github repo, and let Semgrep run (with inline PR comments enabled).
2. Add a rule to the app rule board, or modify the p

[2022-02-12 19:33] r2c-demo commented on #4666
This issue is synced in Linear at https://linear.app/r2c/issue/PA-863/changing-policy-on-semgrep-app-rule-board-does-not-appear-to-update.

[2022-02-13 04:52] ievans commented on #4665
hi @saullocarvalho, thanks for filing an issue!

I think this is currently expected behavior as the metavariable literal won't match a metavariable string. If `abc` was a literal as in `register(abc)`, it would work as expected: https://semgrep.dev/s/2ARB

In this case I think you want to use `metavariable-comparison` but I'm not sure why https://semgrep.dev/s/XZ8w isn't working. Tagging @IagoAbal

[2022-02-13 13:46] saullocarvalho commented on #4665
Interestingly, Python engine supports a case similar to the one I've tried on PHP engine: https://semgrep.dev/s/1RG5, matching the content of the string, extracted using `"$A"`, to the function name, extracted using `def $A():`.

I am running some tests using semgrep. The issue is low priority.

[2022-02-14 10:36] IagoAbal commented on #4665
Pattern `"$A"` does not work in PHP because it's parsed as an interpolated string. We should probably fix this in the parser.

[2022-02-14 11:01] Sjord commented on #1166
[move semgrep-action functionality into semgrep · Issue #451 · returntocorp/semgrep-action](https://github.com/returntocorp/semgrep-action/issues/451)

[2022-02-14 11:14] Sjord commented on #4459
Thanks, @nmote. It seems that I created invalid JavaScript while trying to reduce the offending file to a minimal test case. It seems the following is valid JavaScript, but not parsed by semgrep. What do you think?

[code]

[2022-02-14 12:11] IagoAbal commented on #4665
Regarding `metavariable-comparison`, `strip: true` is to convert a string into an int, e.g. if the metavariable bounds to `"42"` and you want to compare it against another integer.

But also right now we can only run comparisons with metavariables that bind to literals, or to constant variables. When a metavariable binds to an arbitrary identifier, we are not able to compare it against anything. I

[2022-02-14 15:49] hongyihu commented on #4563
Here's an example where it could be useful: https://semgrep.dev/s/hongyihu:sorbet-example-vz3qas42

[2022-02-14 17:02] prensing opened #4667 "javascript.lang.correctness.useless-eqeq.eqeq-is-bad false positive"
If I run the following code against the standard Javascript rules, I get what I believe is a false positive for the rule
javascript.lang.correctness.useless-eqeq.eqeq-is-bad on line 4 (the if() line).
[code]
I get this on the command line and also in the online Playground. If I change the initial variable setting to anything but "0", it goes away.

Command line version: 0.82.0
Run with "--config=a

[2022-02-14 17:04] r2c-demo commented on #4667
This issue is synced in Linear at https://linear.app/r2c/issue/PA-865/javascriptlangcorrectnessuseless-eqeqeqeq-is-bad-false-positive.

[2022-02-14 17:12] nmote commented on #4459
Yes, that certainly looks like a Semgrep bug to me. I checked TS and Flow and both parse that successfully. I don't have time to continue looking into this at the moment but I may in the future.

[2022-02-14 18:17] ievans commented on #4667
@prensing thanks for reporting this bug!

I made a reproducing snippet: https://semgrep.dev/s/returntocorp:eqeq-is-bad-copy-failure

I believe the comparison is still useless because it always evaluates to `false`, but still not sure why the rule fires here

[2022-02-14 18:25] prensing commented on #4667
Yes, given that snippet, it will always be false. However, our real code does not have the arbitrary "++"; there is a loop with some logic inside, so the result of the test does vary.

[2022-02-14 18:25] nbrahms commented on #4667
@IagoAbal I suspect that this is a constant propagation bug?

[2022-02-14 18:53] nbrahms opened #4668 "poetry install on mac-os distributes ELF binary"
**Describe the bug**

On Max OS:

[code]
yields:
[code]

Running:
[code]
yields
[code]
which is not a Mac-compatible binary

**Expected behavior**
`pip install semgrep` on Mac should install a Mac-compatible binary

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get

[2022-02-14 18:55] r2c-demo commented on #4668
This issue is synced in Linear at https://linear.app/r2c/issue/PA-866/pypi-install-on-mac-os-distributes-elf-binary.

[2022-02-14 19:04] nbrahms commented on #4668
note: running
[code]
from _within_ the poetry shell fixes the issue

[2022-02-14 19:04] brendongo commented on #4668
Similar to https://github.com/returntocorp/semgrep/issues/2402

[2022-02-14 19:06] brendongo commented on #4668
Hmm unable to reproduce with poetry `Poetry version 1.1.12`

[2022-02-14 19:33] nmote commented on #3938
Now that I've spent some time looking into this, I'd like to update everyone on what I have found. The tree-sitter-go grammar, used to generate the parser for Go, wraps the whole string in the `token` function which causes the entire string, including the surrounding backticks, to be combined into a single token:
https://github.com/tree-sitter/tree-sitter-go/blob/0fa917a7022d1cd2e9b779a6a8fc5dc7fa

[2022-02-14 19:46] nbrahms opened #4669 "Ability to match within multiline python strings"
**Is your feature request related to a problem? Please describe.**
User wants to match subtext within multiline python string matches

e.g.:
https://semgrep.dev/s/WjpZ

**Describe the solution you'd like**
Any way to match within multiline strings

**Use case**
User is trying to find inefficiencies in Selenium tests

**Additional context**
It appears that https://semgrep.dev/s/0Gyq returns an inco

[2022-02-14 19:48] r2c-demo commented on #4669
This issue is synced in Linear at https://linear.app/r2c/issue/PA-867/ability-to-match-within-multiline-python-strings.

[2022-02-14 19:50] nbrahms opened #4670 "[python] multiline strings should be semantically equivalent"
**Describe the bug**
In python, multiline strings are semantically equivalent to single-line strings. Semgrep should treat them as such.

**To Reproduce**
https://semgrep.dev/s/q9Yb

**Expected behavior**
Match either single- or multiline-strings with a single pattern

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or

[2022-02-14 19:52] r2c-demo commented on #4670
This issue is synced in Linear at https://linear.app/r2c/issue/PA-868/[python]-multiline-strings-should-be-semantically-equivalent.

[2022-02-14 19:53] nbrahms commented on #4668
@brendongo I imagine global python and pip versions might matter. I'm using:

[code]

[2022-02-15 09:10] aryx commented on #3938
Thanks for the update @nmote ! The fix looks good.

[2022-02-15 09:22] IagoAbal commented on #4667
Totally a constant propagation bug. This is because we encode `x++` as a built-in function call, and Semgrep is assuming that function calls aren't mutating variables. We should fix it for `x++` (and variants). We should also do something for the general case, although there is a trade-off to make (inferring wrong constants vs missing constants, and both can lead to FPs).

I wonder if _javascript.

[2022-02-15 11:31] janlaan opened #4673 "Invalid SARIF export with rules that have owasp/cwe metadata as array"
**Describe the bug**
With certain Semgrep community rules, using the SARIF export option results in invalid SARIF. In the example below, it outputs a SARIF rule with nested tags. See the tags section near the end. [According to the SARIF spec,](https://docs.oasis-open.org/sarif/sarif/v2.1.0/os/sarif-v2.1.0-os.html#_Toc34317451) tags can only contain strings, not arrays.
<details>
<summary>Click to

[2022-02-15 11:32] r2c-demo commented on #4673
This issue is synced in Linear at https://linear.app/r2c/issue/PA-871/invalid-sarif-export-with-rules-that-have-owaspcwe-metadata-as-array.

[2022-02-15 16:03] nbrahms opened #4674 "Semgrep prints a non-zero findings count but shows no results"
**Describe the bug**
`semgrep --config auto .` on some repos will show a findings count but no findings.

**Expected behavior**
Findings count should match number of findings

**Screenshots**
[code]

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

**Environ

[2022-02-15 16:03] r2c-demo commented on #4674
This issue is synced in Linear at https://linear.app/r2c/issue/PA-872/semgrep-prints-a-non-zero-findings-count-but-shows-no-results.

[2022-02-15 16:04] nbrahms commented on #4674
cc. @minusworld @underyx This is most likely erroneously showing the count of inventory findings (which should be hidden in output).

In addition, it seems like we should display a message suggesting that the user re-run after some interval?

[2022-02-15 16:32] bdols opened #4676 "warnings rendered on STDOUT break JSON formatting for --gitlab-json"
**Describe the bug**
warnings about long semgrep runs are included in the output captured in `semgrep-agent --gitlab-json > gl-semgrep-sast-report.json`. this breaks gitlab parsing of the report.json

**To Reproduce**
using the following job spec in gitlab-ci.yml:
[code]
the scan took 388 seconds and displays the following:
[code]

**Expected behavior**
the results are scanned by gitlab

**Screens

[2022-02-15 16:32] r2c-demo commented on #4676
This issue is synced in Linear at https://linear.app/r2c/issue/PA-873/warnings-rendered-on-stdout-break-json-formatting-for-gitlab-json.

[2022-02-15 17:14] ievans commented on #4676
cc @emjin

[2022-02-15 20:23] JosiahOne opened #4677 "nosemgrep not working in a TOML file."
**Describe the bug**
[code]

Doesn't seem to silence errors if placed in a TOML file.

**To Reproduce**

[code]

**Expected behavior**
No results to be found by semgrep, since I used a TOML comment to ignore the warning for the problematic line.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adopti

[2022-02-15 20:24] r2c-demo commented on #4677
This issue is synced in Linear at https://linear.app/r2c/issue/PA-874/nosemgrep-not-working-in-a-toml-file.

[2022-02-15 21:34] underyx commented on #4676
Fixed here: https://github.com/returntocorp/semgrep-action/pull/516

[2022-02-16 00:49] minusworld opened #4678 "JSX pattern for `<div>...</div>` not matching all instances of a div"
**Describe the bug**
It looks like a JSX pattern for `<div>...</div>` doesn't match all instances of `div`s found in a JSX block.

**To Reproduce**
See this link, here: https://semgrep.dev/s/WjWz

**Expected behavior**
I think that this would match all instances of the divs. But, if my reasoning is wrong for some reason, please let me know.

**Screenshots**
If applicable, add screenshots to help e

[2022-02-16 00:49] r2c-demo commented on #4678
This issue is synced in Linear at https://linear.app/r2c/issue/PA-878/jsx-pattern-for-divdiv-not-matching-all-instances-of-a-div.

[2022-02-16 00:53] azuline opened #4679 "Ability to match JSX tags with zero props"
**Is your feature request related to a problem? Please describe.**

I am not able to match JSX tags with zero props.

Example: https://semgrep.dev/s/0G8J

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
This is something that plain grep works fine for. But plain grep isn't as integrated with CI as Semgrep

[2022-02-16 00:53] r2c-demo commented on #4679
This issue is synced in Linear at https://linear.app/r2c/issue/PA-879/ability-to-match-jsx-tags-with-zero-props.

[2022-02-16 01:23] mjambon commented on #4679
I'm not sure if this is a bug per se. Writing the rule may require a `pattern` and a `pattern-not` to exclude elements that have at least one attribute like `<div $A=$VAL>...</div>`.

I think we need to fix bug #4678 first.

[2022-02-16 01:26] azuline commented on #4679
That's an interesting method, I wouldn't have thought of it. Documentation would be enough to resolve this ticket.

[2022-02-16 09:52] Gby56 commented on #2530
Just found myself wishing I had this simple cli exclude flag ! Thanks for filing :)
I think we're going to see a lot of "forking" of base rulesets (the react one for example) and improvements via exclusions, enhancing it by adding rules to it...
There could be a voting system to implement here, making it easier for the community to fork and merge back into rulesets to make everyone's life easier.

[2022-02-16 09:55] xmo-odoo commented on #2530
That points to an other thing which could be useful: the ability to tag rules (pretty much arbitrarily), in order to filter "cross cut" rulesets.

Of course it's always possible to split the ruleset into multiple files (to an extent, as long as individual rules don't fill multiple roles) but I don't think semgrep supports any sort of bundling so that can get uncomfortable to ship & select.

[2022-02-16 11:35] aryx commented on #3698
ok just ran some parsing stats for tree-sitter-elixir:
Line count: 729507
Line coverage: 98.428%

So not bad!

[2022-02-16 16:24] capc0 opened #4683 "Very high core time (Windows)"
I am trying to troubleshoot why the execution on my codebase is so slow.

Im running `returntocorp/semgrep` docker image on windows.

[code]

the reported times are not really adding up to the total time of 250seconds.

Any tips?

[2022-02-16 16:25] r2c-demo commented on #4683
This issue is synced in Linear at https://linear.app/r2c/issue/PA-880/very-high-core-time.

[2022-02-16 17:06] ievans commented on #4679
@azuline where would you hope to find said documentation? I think https://semgrep.dev/docs/writing-rules/rule-syntax/#pattern-not is the closest we have right now

[2022-02-16 17:12] ievans commented on #4683
@capc0 what version of Semgrep are you running, and what's the priority of the issue to you?

[2022-02-16 17:16] capc0 commented on #4683
Im using the latest docker image. `--version` prints 0.82.0

We are currently in the process of integrating semgrep. The timing above is only from a small subset of the actual source code, since the entire `/src` folder seems to never finish (manually aborted after a few hours).

Also tested under WSL with Ubuntu, same performance.

[2022-02-16 17:22] ievans commented on #4683
Thanks! @emjin can you take a look?

[2022-02-16 17:25] capc0 commented on #4683
As a heads up, using the following command:

`docker run --rm -v /path/to/src:/src returntocorp/semgrep --time --config=p/expressjs /src`

Also tested with other (smaller) rule sets or the `config=auto` option.

[2022-02-16 17:33] emjin commented on #4683
Thank you for the details! Can you run the command you ran to get timing output with `--json` and send me the output json? That will have more information that will help

[2022-02-16 17:48] capc0 commented on #4683
[code]

I stripped out rules and targets. If you require the entire json file, please let me know some form of contact info so I can send it.

[2022-02-16 17:50] emjin commented on #4683
You can slack me on the community slack (@emma) or email emma@returntocorp.com

[2022-02-16 18:01] capc0 commented on #4683
Additional info:

When I `ctrl + c` out of the process while its running the stack trace is always the following.

[code]

Looks like something network related (metrics?) might hang the process?

[2022-02-16 18:03] emjin commented on #4683
Oh, that's very helpful! Thanks! I was just feeling confused because the time output looks perfectly normal. @brendongo do you have any thoughts for why this might be taking a while?

[2022-02-16 21:12] #4676 closed, assigned to nobody

[2022-02-16 21:12] emjin commented on #4676
The fix should go out in a release next week!

[2022-02-16 21:21] emjin commented on #2530
Would https://github.com/returntocorp/semgrep/pull/4314 be an alternative solution to this?

[2022-02-17 03:20] FrostNova2021 opened #4689 "Looks like semgrep raise a uncatch except"
**Describe the bug**
Python Raise Except  --  IndexError: list index out of range

**To Reproduce**
Trying to use semgrep on virglrenderer ,and run this command
[code]

**Expected behavior**
[code]

**Screenshots**
![20220217111532](https://user-images.githubusercontent.com/77134228/154398370-900f6573-7fc0-4792-bb9a-b80bf0d5f19c.png)

**What is the priority of the bug to you?**
- [ ] P0: blocking

[2022-02-17 03:22] r2c-demo commented on #4689
This issue is synced in Linear at https://linear.app/r2c/issue/PA-881/looks-like-semgrep-raise-a-uncatch-except.

[2022-02-17 03:26] ievans commented on #4689
thanks for the bug report. I believe this is new as of semgrep 0.80 or newer - downgrading may unblock you for now. I've tagged as priority:high

[2022-02-17 03:46] FrostNova2021 commented on #4689
Hi @ievans ,thans your reply and you are right .My semgrep version is 0.82.0

[code]

This bug is very weird.
It will successful run and get result when i try found all function declare with '$TYPE $FUNC(...){...}' .
https://github.com/openslp-org/openslp/

![20220217114600](https://user-images.githubusercontent.com/77134228/154401280-c9591d5d-6fc4-4ef8-a0cb-7ffa219813a4.png)

However it can't wor

[2022-02-17 04:52] #4574 closed, assigned to nobody

[2022-02-17 06:42] ievans commented on #4689
I will downgrade to priority:medium since there's a workaround, but @underyx or someone else will take a look

[2022-02-17 07:43] evilpan opened #4690 "[Java] can't match a method without specifying the body in the pattern"
https://semgrep.dev/s/xXPP

[2022-02-17 07:45] r2c-demo commented on #4690
This issue is synced in Linear at https://linear.app/r2c/issue/PA-882/semgrepdev-bug-report.

[2022-02-17 08:35] aryx commented on #3787
The problem is in the tree-sitter-java grammar we are using: https://github.com/tree-sitter/tree-sitter-java/blob/8a6ab8e8adb119bc35b133040077b60f6cf539ea/grammar.js#L153
We need to make the issue upstream.

[2022-02-17 08:46] aryx commented on #3787
This requires possible to extend the Java lexer in tree-sitter-java. The lexing rules for this """ and escaping seem not trivial, so this might take some time to implement this feature.

[2022-02-17 08:54] aryx commented on #4690
H5PageImpl(Activity $A1, Bundle $A2, H5ViewHolder $A3) is not a valid pattern @evilpan
Semgrep usually accepts full construct, so you might want to try

https://semgrep.dev/s/e5JE

[2022-02-17 08:55] #4690 closed, assigned to nobody

[2022-02-17 08:59] aryx commented on #4644
I think @emjin added support for Record classes at least (I can't find back the closed issue though).

[2022-02-17 16:30] ievans commented on #4683
There's a 2sec timeout on that call to `requests.post`, so I don't see why or how it could be hanging.

[2022-02-17 16:55] capc0 commented on #4683
Im not sure if thats the underlying issue or a false hint.

If there is any other info I can provide that helps out, please let me know.

[2022-02-17 17:00] IagoAbal opened #4692 "Make clear when a finding is making use of constant-propagation"
(This affects customers, more info in the Linear issue.)

**Is your feature request related to a problem? Please describe.**
When findings make use of constant-propagation, and especially when it is based on a false constant (constant-propagation isn't perfect), it may not be obvious why there is a finding.

**Describe the solution you'd like**
Semgrep should indicate that it has made assumptions

[2022-02-17 17:01] r2c-demo commented on #4692
This issue is synced in Linear at https://linear.app/r2c/issue/PA-884/make-clear-when-a-finding-is-making-use-of-constant-propagation.

[2022-02-17 17:09] nbrahms commented on #4692
cc. @ievans @adamboros who may have thoughts

[2022-02-17 17:30] capc0 commented on #4683
With `--verbose` it always gets stuck at this log output

[code]

Then it feels like nothing happens for a few minutes, and afterwards the rules are being checked within 10 secs.

[2022-02-17 18:53] DrewDennison opened #4693 "Semgrep throws an error with a missing separator"
**Describe the bug**

[code]

**To Reproduce**
Reporting on behalf of a community user: https://semgrep.dev: https://r2c-community.slack.com/archives/C0242656NQ2/p1645089315876449

**Expected behavior**
Semgrep should produce an understandable error message to the user

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ]

[2022-02-17 18:54] r2c-demo commented on #4693
This issue is synced in Linear at https://linear.app/r2c/issue/PA-886/semgrep-throws-an-error-with-a-missing-separator.

[2022-02-17 19:06] emjin commented on #4683
To clarify, you're adding `--verbose` to the command that produced this?

[code]

[2022-02-17 19:20] emjin commented on #4683
Also, how many total files are in the directory you're scanning? (Not the 192 files semgrep runs on, but all the files in the directory and its subdirectories)

[2022-02-17 22:57] emjin commented on #4644
I added switch expressions: https://github.com/returntocorp/semgrep/pull/2975

[2022-02-17 23:22] kurt-r2c opened #4698 "Error message when using "generic" in a rule configuration with multiple languages is unclear"
**Describe the bug**
When running a rule with a `languages` list with `generic` and at least one other language causes a parser error with:

`invalid language unsupported language: generic`

**To Reproduce**
Here is a working `generic` rule:
https://semgrep.dev/s/returntocorp:generic-single-language-parser-example

Replacing the rule with:

[code]
will cause a parser error in playground:

[code]
*

[2022-02-17 23:24] r2c-demo commented on #4698
This issue is synced in Linear at https://linear.app/r2c/issue/PA-889/error-message-when-using-generic-in-a-rule-configuration-with-multiple.

[2022-02-18 07:05] capc0 commented on #4683
Yes, added `--verbose` to that command.

There are 75 subdirectories and 192 files in total. They all are `*.ts` files.

[2022-02-18 08:23] janlaan commented on #4673
FYI: This also blocks processing results by Github, or using the Visual Studio code SARIF plugin by Microsoft.

Github gives an error when trying to parse this SARIF:
[code]

The Visual Studio code plugin just silently fails and shows 0 results.

[2022-02-18 09:35] 0xDC0DE opened #4701 "pre-commit installs semgrep ELF binary on M1 macs"
**Describe the bug**
On M1 macs `pre-commit run --all` will fail for the Semgrep checks because the semgrep-core version that is used is incompatible with M1.

**To Reproduce**
[code]

**Expected behavior**
Should download a Mac-compatible binary for the pre-commit tests

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [X] P1: important to fix

[2022-02-18 09:37] r2c-demo commented on #4701
This issue is synced in Linear at https://linear.app/r2c/issue/PA-890/pre-commit-installs-semgrep-elf-binary-on-m1-macs.

[2022-02-19 16:14] ievans commented on #4400
Interesting to note this doesn't reproduce in the playground, which is I believe because playground uses `offset`: https://semgrep.dev/s/GgXn

[2022-02-19 16:25] ievans commented on #4689
I've created a reproduction for this at https://semgrep.dev/s/RgbK but because playground uses the JSON output, not textual output, the specific exception isn't thrown.

@returntocorp/pa it looks like the core is returning a start location that is _after_ the end location. I'll update the output formatter to not assume that len(lines) != 0 but this definitely should be investigated:
[code]

[2022-02-19 16:42] ievans commented on #3699
Closing as duplicate of https://github.com/returntocorp/semgrep/issues/3699, let's track there

[2022-02-19 16:51] ievans commented on #3879
@sfc-gh-sdeng issue looks fixed on the test case, feel free to re-open if you find any other regressions!

[2022-02-19 16:51] #3879 closed, assigned to nobody

[2022-02-19 16:59] ievans commented on #3957
<img width="863" alt="Screen Shot 2022-02-19 at 8 58 57 AM" src="https://user-images.githubusercontent.com/409041/154810733-3c58da0b-381c-4c7f-bea1-1bcd3eed9718.png">

This works with --verbose and has tests on 0.82 or earlier!

[2022-02-19 16:59] #3957 closed, assigned to nobody

[2022-02-19 17:29] clintgibler opened #4708 "And a --apply flag that lets you easily apply for a job at r2c"
**Is your feature request related to a problem? Please describe.**
The problem is that there are awesome people out there who don't yet work at r2c.

**Describe the solution you'd like**
A simple implementation might just hit the Lever API and display our [currently live](https://jobs.lever.co/returntocorp/) list of jobs and a link to them, e.g:

[code]

**Describe alternatives you've considered**

[2022-02-19 17:31] r2c-demo commented on #4708
This issue is synced in Linear at https://linear.app/r2c/issue/PA-891/and-a-apply-flag-that-lets-you-easily-apply-for-a-job-at-r2c.

[2022-02-19 20:39] brendongo commented on #4661
@faceyacc can you let them know semgrep-core is used internally by semgrep and has a non stable API (this new line is desired behavior for us)

[2022-02-20 00:01] ievans commented on #1301
@dlukeomalley this works now! See https://semgrep.dev/s/q9Bx

[2022-02-20 00:04] ievans commented on #1215
@brendongo cc on this for the conversion / possible change of behavior in the semgrep action -> semgrep port

[2022-02-20 00:06] ievans commented on #4453
Great writeup. Related to https://github.com/returntocorp/semgrep/issues/3304

[2022-02-20 09:14] aryx commented on #1301
I don't think you posted the right link isaac. The thing you wrote has been supported for a very long time.\

[2022-02-20 11:30] Hamz-a opened #4710 "Semgrep fails when defining a pattern with a modifier in PHP"
**Context**
It would be nice to be able to match specific PHP class fields, for example:
[code]
The most simple pattern would look like this: ` - pattern: $guarded = []`. But this will match all kinds of stuff, for example a simple code snippet `$guarded = [];` anywhere might be matched...

We can add some constraints using `pattern-inside`. Ideally, it would be nice to also specify that it needs

[2022-02-20 11:31] r2c-demo commented on #4710
This issue is synced in Linear at https://linear.app/r2c/issue/PA-892/semgrep-fails-when-defining-a-pattern-with-a-modifier-in-php.

[2022-02-20 19:16] carjessu-zerohash commented on #4701
Is there any workaround for this issue?

[2022-02-20 20:47] azuline commented on #4679
My primary lack is documentation on the semantics of the JSX matching rules. I was unaware that `<div>` matches arbitrary props, and also unaware that I could match at least one attribute with `<div $A=$VAL>` (intuitively to me, this matches a tag with one attribute). I had figured out the former in Slack, but not the latter. Knowing both, I would then be able to leverage the rules syntax docs to

[2022-02-21 08:26] IagoAbal commented on #1301
Yeah the problem is still not solved. And I think it just requires better type inference/propagation in Generic or for Ruby/PHP in particular. Symbolic propagation of `Array.new()` can handle one of the cases, but not the rest.

[2022-02-21 09:52] aryx commented on #1301
it will takes us 2 years to fulfill the vision of luke :)

[2022-02-21 13:14] nobletrout commented on #1301
I have been following this issue since its inception. It's become my favorite issue to watch open/close repeatedly. :)

[2022-02-21 13:57] aryx commented on #1301
lol

[2022-02-21 15:34] IagoAbal commented on #1301
Maybe something we could do for the next hackathon? cc @mmcqd

[2022-02-21 15:48] carjessu-zerohash commented on #4311
This issue persists on version [v0.82.0](https://github.com/returntocorp/semgrep/releases/tag/v0.82.0) with M1 macs. Can we get an update on this? Is there anything I can do and/or test to help?

[2022-02-22 09:15] 0xDC0DE commented on #4628
-h flag has been added
https://github.com/returntocorp/semgrep/pull/4685

[2022-02-22 09:15] #4628 closed, assigned to 0xDC0DE

[2022-02-22 11:27] IRDonch opened #4714 "Ellipsis inside subscription expression fails to match zero elements"
**Describe the bug**
A pattern like `$X[..., <something>, ...]` fails to match code like `x[<something>]`, even though `...` is supposed to be able to match zero elements.

**To Reproduce**
https://semgrep.dev/s/4DLE

**Expected behavior**
The rule should match the type annotations of both `a` and `b`.

**Screenshots**
N/A

**What is the priority of the bug to you?**

- [ ] P0: blocking your adopt

[2022-02-22 11:28] r2c-demo commented on #4714
This issue is synced in Linear at https://linear.app/r2c/issue/PA-895/ellipsis-inside-subscription-expression-fails-to-match-zero-elements.

[2022-02-22 19:20] brendongo commented on #4311
Hi @carjessu-zerohash still busy with other things at the moment. Figuring out what tags the wheel would need to be tagged with to have m1 pypi pull the correct version would be helpful.

[2022-02-23 00:08] j-martin commented on #4311
For reference: https://pypi.org/project/numpy/1.22.2/#files `numpy-1.22.2-cp310-cp310-macosx_11_0_arm64.whl ` and `numpy-1.22.2-cp310-cp310-macosx_10_14_x86_64.whl `

According to https://github.com/numpy/numpy/blob/813a0c11186ded0b5caeb853fd2b22fb9addd511/doc/RELEASE_WALKTHROUGH.rst.txt#build-wheels it seems to be using this https://github.com/MacPython/numpy-wheels

[2022-02-23 00:28] #4400 closed, assigned to nobody

[2022-02-23 05:42] azuline opened #4717 "Match the existence of children in JSX"
**Is your feature request related to a problem? Please describe.**
I would like to match the presence of children in JSX. In https://staging.semgrep.dev/s/z8wZ, the third statement does not have a match. I am not sure how to cause it to match; no standard semgrep syntaxes seem to work.

**Describe the solution you'd like**
To be able to match arbitrary children, but not no children.

**Use case**

[2022-02-23 05:43] r2c-demo commented on #4717
This issue is synced in Linear at https://linear.app/r2c/issue/PA-898/match-the-existence-of-children-in-jsx.

[2022-02-23 10:04] #4708 closed, assigned to 0xDC0DE

[2022-02-23 14:40] #4689 closed

[2022-02-23 16:11] johnseekins opened #4720 "Can't discover files that had problems being analyzed"
**Describe the bug**
A run of `semgrep` completes with a message like the following:

[code]

So I run semgrep with `--verbose` to discover these files, only to find out they are messages like:

[code]

**To Reproduce**
Not entirely sure. This just...happens when I run the program.

**Expected behavior**
It would be incredible to see the actual file names that are causing syntax problems. And it w

[2022-02-23 16:13] r2c-demo commented on #4720
This issue is synced in Linear at https://linear.app/r2c/issue/PA-901/cant-discover-files-that-had-problems-being-analyzed.

[2022-02-23 19:37] emjin commented on #4683
hm, can you run the same command but add `-d` after, and time that? I'm trying to isolate the source of the slowness

[2022-02-23 19:40] timmc-edx opened #4721 "Autofixing a Python decorator deletes all other decorators on the function"
### Describe the bug
Because decorators are matched in the context of a function, but without the context of the other decorators, there is no way to preserve the other decorators when autofixing just one of them.

### To Reproduce
Demo: https://semgrep.dev/s/8zLq

Rule that adds `autospec=True` if it's missing from a `@patch` decorator:

[code]

Code to run against: https://github.com/openedx/edx

[2022-02-23 19:41] r2c-demo commented on #4721
This issue is synced in Linear at https://linear.app/r2c/issue/PA-902/autofixing-a-python-decorator-deletes-all-other-decorators-on-the.

[2022-02-23 19:47] timmc-edx opened #4722 "Python decorators cannot be matched in isolation"
### Describe the bug
The pattern syntax does not allow matching a Python pattern in isolation, and requires it to be specified along with a function or method.

### To Reproduce
Demo of error: https://semgrep.dev/s/JgRj

Or more simply, any pattern like `@patch(...)` is not permitted.

### Expected behavior
I would expect it to be possible to match decorators as isolated pattern expressions.

###

[2022-02-23 19:47] r2c-demo commented on #4722
This issue is synced in Linear at https://linear.app/r2c/issue/PA-903/python-decorators-cannot-be-matched-in-isolation.

[2022-02-23 23:17] ievans commented on #4720
Hi, agreed this is frustrating output, and thanks for the detailed bug report. What are the contents of `.semgrep/rules/`? Can you share a reproducing rule + target file combination? We may be able to solve without it but curious if for instance `--config=auto` or `p/python` works.

[2022-02-23 23:50] johnseekins commented on #4720
This looks like the broken rule:

[code]

[2022-02-23 23:52] #4466 closed, assigned to nobody

[2022-02-24 00:16] mjambon commented on #4466
@naortalmor this should be fixed in the upcoming semgrep release (0.83.0).

[2022-02-24 13:07] #4657 closed, assigned to nobody

[2022-02-24 14:42] hlubek opened #4725 "Go: Syntax error when identifier uses special charactes (unicode)"
**Describe the bug**

Running the analyzer on a Go repository that uses [gqlgen](https://gqlgen.com) fails with a `Syntax error` and the message:

[code]

It seems to be caught by the special charactes that are used by gqlgen for the generated code (which are perfectly fine for Go).

**To Reproduce**

Create a `.go` file with the following content:

[code]

The analyzer will fail.

**Expected beha

[2022-02-24 14:49] r2c-demo commented on #4725
This issue is synced in Linear at https://linear.app/r2c/issue/PA-906/go-syntax-error-when-identifier-uses-special-charactes-unicode.

[2022-02-24 23:42] emjin commented on #4720
Hi, can you add `-d` to the semgrep command you ran? It will dump the command sent to the engine tool and also save the rules and targets files. Please send the command and also the two files (they'll be indicated in the command as the rules and targets files)

[2022-02-25 03:45] azuline opened #4730 "Disable certain JSX equivalences (to be able to match JSX elements without children and attributes)"
**Describe the bug**
The ellipsis metavariables syntax `$...X` doesn't work for JSX tags.

**To Reproduce**
https://staging.semgrep.dev/s/pGWd

**Expected behavior**
I would expect `<$...X />` to match multiple artibrary components.

**Screenshots**

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [

[2022-02-25 03:46] r2c-demo commented on #4730
This issue is synced in Linear at https://linear.app/r2c/issue/PA-909/ellipsis-metavariables-dont-work-for-jsx-tags.

[2022-02-25 07:00] capc0 commented on #4683
`-d` is not a recognized option, you mean `--debug`?

[2022-02-25 10:33] lnksz opened #4732 "C parsing warning"
**Describe the bug**
Semgrep Core — Syntax error. An error occurred while invoking the Semgrep engine.

**To Reproduce**
[link to https://semgrep.dev:](https://semgrep.dev/s/p9we)
With the problematic file being https://raw.githubusercontent.com/nanomsg/nng/v1.3.0/src/protocol/pair1/pair1_poly_test.c

**Expected behavior**
Semgrep successfully parsing/checking the C file

**Screenshots**
If applic

[2022-02-25 10:33] 0xDC0DE opened #4733 "error message has "--dump_ast" flag with underscore instead of "--dump-ast" flag"
**Describe the bug**
A clear and concise description of what the bug is.

error message prints flag with and underscore '_' character instead of a minus '-' character

**To Reproduce**
[code]

**Expected behavior**
print the flag correctly

[2022-02-25 10:33] r2c-demo commented on #4732
This issue is synced in Linear at https://linear.app/r2c/issue/PA-912/c-parsing-warning.

[2022-02-25 10:33] r2c-demo commented on #4733
This issue is synced in Linear at https://linear.app/r2c/issue/PA-911/error-message-has-dump-ast-flag-with-underscore-instead-of-dump-ast.

[2022-02-25 10:38] 0xDC0DE commented on #4733
I think it is printing the semgrep-core flag instead of the semgrep flag.

[2022-02-25 16:25] ghost commented on #4466
@mjambon  cool thanks you very much!

[2022-02-25 16:34] kurt-r2c opened #4737 "Autofix substitutes incorrectly in some cases when applying multiple fixes to a single file"
**Describe the bug**
Autofix substitutions sometimes apply incorrectly when applying multiple fixes to the same file.  The exact nature of the bug is unclear, it was discovered in https://github.com/returntocorp/semgrep-rules/pull/1839#discussion_r814429934

I was able to reproduce in Playground, however the faulty replace is not identical so there are confounding order-of-operations issues at pla

[2022-02-25 16:36] r2c-demo commented on #4737
This issue is synced in Linear at https://linear.app/r2c/issue/PA-913/autofix-substitutes-incorrectly-in-some-cases-when-applying-multiple.

[2022-02-25 21:59] johnseekins commented on #4720
[code]

[code]
I'm going to obfuscate some file names in the targets output...

[code]

[2022-02-26 08:22] priv-kweihmann opened #4739 "Support for jsonschema 4.x removed"
Cleanup of setup.py with latest change https://github.com/returntocorp/semgrep/blob/26d72e1eae42e21f0a71c899059eda6c0f6a3819/semgrep/setup.py#L126 reverted the support for jsonschema 4.x without even mentioning that in the commit message.
Can one have that be fixed please.

In my setup I require jsonchema 4.4+ for other tooling in the same scope, so the latest release broke my setup :disappointed:

[2022-02-26 08:23] r2c-demo commented on #4739
This issue is synced in Linear at https://linear.app/r2c/issue/PA-915/support-for-jsonschema-4x-removed.

[2022-02-26 17:05] underyx commented on #4739
Hey @priv-kweihmann, sorry about that :( I should've added this to the commit message as well; I left a note with the reasoning here: https://github.com/returntocorp/semgrep/pull/4463#issuecomment-1034439918

It's possible there is a solution to the second bullet point and we're just unaware of it. If we can figure that out, maybe it could be reasonable to allow jsonschema v4 even though it would

[2022-02-27 00:36] ajinabraham opened #4741 "Simple kotlin patterns are not deteced."
**Describe the bug**
A clear and concise description of what the bug is.
Kotlin patterns are not detected.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:
https://semgrep.dev/s/xXoy

**Expected behavior**
Ability to detect simple nested patterns

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug

[2022-02-27 00:37] r2c-demo commented on #4741
This issue is synced in Linear at https://linear.app/r2c/issue/PA-916/simple-kotlin-patterns-are-not-deteced.

[2022-02-28 09:40] savek-cc commented on #4460
Don't think this should be closed yet - the language actually seems to indicate at least a publishing of a project URL to some registry (which might be some central one?) and thus indicate at least an upload of the project URL to some server on the internet.
So does all of that happen locally or does the project URL actually end up being sent off into the internet?

[2022-02-28 12:55] 0xDC0DE commented on #4701
I noticed that installing semgrep with `pip3 install semgrep` does not function correctly.
While I can run `semgrep --version` as shown above, I can not run any commands that require `semgrep-core` as that binary is incompatible.

[2022-03-01 01:55] emjin commented on #4460
@ievans @minusworld I think one of you would be best able to answer this?

[2022-03-01 01:57] emjin commented on #4683
Hm, this is `--dump-command-for-core`, which should be available in 0.82.0+

[2022-03-01 07:19] capc0 commented on #4683
maybe it is just not documented under `--help`.

the output is `/usr/local/bin/semgrep-core -json -rules /home/semgrep/.semgrep/semgrep_rules.yaml -j 12 -targets /home/semgrep/.semgrep/semgrep_targets.txt -timeout 30 -timeout_threshold 0 -max_memory 0 -json_time -fast`

timing info is not printed for some reason (`--time` was specified tho). But it was around 4-5 minutes

[2022-03-01 14:54] agonzalez-plume commented on #3019
As posted in slack, we may be able to change OutputHandler to be an array of handlers and each time walk the array on an output operation.  Not sure of side effects, but seems possible to work. At this point just documenting an option without submitting a PR.

I can see this change happening in scan.py and semgrep_main.py

scan.py:
change output_settings to build array of settings for each type. R

[2022-03-01 23:42] enncoded opened #4743 "Order of languages array that contains both Java and Scala produces different results on a Scala test file"
**Describe the bug**
Running a java rule on a scala file by adding `scala` to the languages array produces different results based on whether `java` or `scala` is first in the array.

**To Reproduce**
https://semgrep.dev/s/lejliu:gcm-detection-scala-test

Run the rule with `scala` at the top of the `languages` array, both tests pass.
Swap the order of the array so that `java` is first, run it agai

[2022-03-01 23:43] r2c-demo commented on #4743
This issue is synced in Linear at https://linear.app/r2c/issue/PA-919/order-of-languages-array-that-contains-both-java-and-scala-produces.

[2022-03-02 17:12] nbrahms commented on #4666
Thanks for the report @efortuna !

cc @chmccreery -- I think this is because we have logic that prevents duplicate comments for the same findings.

@efortuna I think this is actually our (currently) intended behavior, so I'm going to move this to a feature request. @adamboros tagging you for UX input here.

[2022-03-02 23:56] #4674 closed, assigned to minusworld

[2022-03-02 23:59] #4733 closed, assigned to nobody

[2022-03-03 02:02] raghavjain3 opened #4744 "Parse error using Dockerfile language"
**Describe the bug**
Unable to parse Dockerfile - Generic mode "works" (scans but result is not accurate) but Dockerfile mode does not

**To Reproduce**
Details in Linear

**Expected behavior**
Rule scans properly when Dockerfile is selected as the language

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite anno

[2022-03-03 02:03] r2c-demo commented on #4744
This issue is synced in Linear at https://linear.app/r2c/issue/PA-921/parse-error-using-dockerfile-language.

[2022-03-03 05:26] nealwu opened #4745 "Core error reported for pattern parse failure"
**Describe the bug**
I received the following error message when setting up a new semgrep rule:
[code]

**To Reproduce**
I created `not-equal-any.yaml`:
[code]

Along with the test `not-equal-any.py`:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of

[2022-03-03 05:28] r2c-demo commented on #4745
This issue is synced in Linear at https://linear.app/r2c/issue/PA-922/semgrep-engine-error.

[2022-03-03 17:07] minusworld opened #4746 "Add flag on CLI for filtering rules"
**Is your feature request related to a problem? Please describe.**
With `--config auto` now live, there will be times (like [this one](https://r2c-community.slack.com/archives/C018NJRRCJ0/p1646326507721369)) where someone gets rules they don't want.

**Describe the solution you'd like**
A CLI flag which permits filtering of rules would be nice for quickly getting the results you want.

**Describe

[2022-03-03 17:08] r2c-demo commented on #4746
This issue is synced in Linear at https://linear.app/r2c/issue/PA-923/add-flag-on-cli-for-filtering-rules.

[2022-03-03 17:12] LewisArdern commented on #4746
Large organizations have a lot of different pipelines where they may want to remove rules via the CLI especially in less than ideal set-ups.

- Different teams have various levels of expectations, some may want to remove rules from a registry definition
- Some do not have the luxury of pulling from disk and may just need to use a registry rule, having this feature will save time than having to cre

[2022-03-03 17:25] ievans commented on #4746
See also https://github.com/returntocorp/semgrep/issues/2530

[2022-03-03 21:21] clintgibler opened #4747 "Make it easy to discover languages supported by Semgrep from CLI"
**Is your feature request related to a problem? Please describe.**
When I'm writing a rule, I want to know what values I can put in the `languages` key.

For example, for Terraform, should I put `terraform`, `hcl`, other? Is it `csharp`, `c#`, other?

We've already have some drift in the registry where for one "language" we have a number of different keys across many rules. We should instead just

[2022-03-03 21:21] clintgibler commented on #4747
Note: official tags are here (thanks @kurt-r2c): https://github.com/returntocorp/semgrep-langs/blob/main/lang.json

[2022-03-03 21:22] r2c-demo commented on #4747
This issue is synced in Linear at https://linear.app/r2c/issue/PA-925/make-it-easy-to-discover-languages-supported-by-semgrep-from-cli.

[2022-03-03 22:00] ievans commented on #4747
We've talked about this before and I think it's inconsistent with the philosophy of Semgrep for this to be enforced here. cc @aryx for context. but the gist of it was: why make the user think about whether it's `csharp` or `c#`? Just accept both.

we can of course make things like the registry or semgrep-rules consistent if we want, via automations

[2022-03-03 22:15] kurt-r2c opened #4748 "YAML parser doesn't completely capture literal metavariables"
**Describe the bug**
YAML parser doesn't completely capture literal metavariables

For a pattern:
[code]

with a target

[code]

Semgrep will capture `'CWE-94: Improper Control of Generation of Code (''Code Injection` into `$A`.  Note that `'')'` is missing from the capture
**To Reproduce**
https://semgrep.dev/s/8zpy

**Expected behavior**
YAML literal metavariable should capture entire string.

*

[2022-03-03 22:16] r2c-demo commented on #4748
This issue is synced in Linear at https://linear.app/r2c/issue/PA-926/yaml-parser-doesnt-completely-capture-literal-metavariables.

[2022-03-04 01:10] #4453 closed, assigned to IagoAbal

[2022-03-04 01:24] #1922 closed, assigned to nobody

[2022-03-04 21:20] ievans commented on #4745
@nealwu does this do what you want? https://semgrep.dev/s/BGJW

Semgrep generally needs full expressions like `$X = ...` rather than just `$X = `. But this is a common source of friction when writing rules. See https://semgrep.dev/docs/writing-rules/pattern-syntax/#partial-expressions for a bit more detail.

So failing to parse the pattern is expected behavior, but the output text is very confusin

[2022-03-04 21:23] ievans commented on #4745
CC @emjin. My suggestion would be the following output:

[code]

[2022-03-04 21:27] nealwu commented on #4745
@ievans yes, I actually already fixed it by doing `... != any_(...)` instead. But the error specifically asked me to create an issue, so I went ahead and made one. I agree that your suggestion would be a more useful error output.

[2022-03-05 02:16] enncoded opened #4752 "CLI: Color control characters are output in error messages when piped or the `-o` option is used"
**Describe the bug**
When an error occurs during a CLI scan, color control characters are included in error messages in both of the following cases:
1. output is being redirected via a pipe
2. output is being redirected using the `-o` command line argument

This happens even when `--no-force-color` is specified, and I encountered this error when using both the `--json` and `--sarif` format options

[2022-03-05 02:16] r2c-demo commented on #4752
This issue is synced in Linear at https://linear.app/r2c/issue/PA-929/cli-color-control-characters-are-output-in-error-messages-when-piped.

[2022-03-05 21:47] ghost opened #4753 "Semgrep integrated in Scanmycode CE (Community Edition)"
Hi,

I would like to share information about my Open Source and selfhosted Code Scanning (Quality & Security) solution here.

We also added your Semgrep for checking code.

Here is the repository for the Community Edition of the solution (Code & Wiki)

https://github.com/marcinguy/scanmycode-ce

For transparency, I was involved and am involved in building of it. Took several months with several pe

[2022-03-05 21:47] r2c-demo commented on #4753
This issue is synced in Linear at https://linear.app/r2c/issue/PA-930/semgrep-integrated-in-scanmycode-ce-community-edition.

[2022-03-06 11:08] #4626 closed, assigned to nobody

[2022-03-07 06:05] agrawalsmart7 commented on #4693
Anyupdates on this? I am facing the same error.

[2022-03-07 07:22] wu-s-john commented on #4747
External Committer here! Solved this issue in my PR (https://github.com/returntocorp/semgrep/pull/4754). Please review!

[2022-03-07 13:56] cofonseca commented on #4683
I'm also experiencing this issue. Scanning a small C# microservice took 11 minutes with only 33 rules. I experience this when running in Docker as well as using WSL2 and Python/PIP, using Semgrep 0.83.0

[code]

Apologies in advance if this is somehow user-error - I'm new to Semgrep but would love to start using it more. Please let me know if there's any additional info I can provide to help, or i

[2022-03-07 18:40] ievans commented on #4753
Hi @marcinguy, congrats on your new release and thanks for sharing! Feel free to add to https://github.com/returntocorp/semgrep-docs/edit/main/docs/extensions.md as well!

[2022-03-07 18:40] #4753 closed, assigned to nobody

[2022-03-07 19:30] emjin commented on #4745
@underyx Are you still working on CLI output and interested in improving this?

[2022-03-07 19:33] emjin commented on #4746
Would appreciate some validation on whether adding this flag would be good for our interface. @brendongo @underyx

[2022-03-07 19:57] emjin commented on #4683
@cofonseca Thank you for the output! Can you run `time python3 -m semgrep --config="p/csharp" --time -d`?

[2022-03-07 19:58] underyx commented on #4746
I'm supportive of this. I'd also like if we could merge the `--severity` flag into the same rule-filtering flag as this.

[2022-03-07 20:02] underyx commented on #4745
Yeah I'm happy to take this, so I assigned the Linear ticket to myself, although I will keep it as low priority.

[2022-03-07 20:09] emjin commented on #4693
We're currently trying to reproduce this error. If you could provide a reproduction on code you can share with us (an open source repo, your own code you're comfortable sending directly) that would be a big help!

[2022-03-07 20:36] ievans commented on #4747
Thanks @wu-s-john!

[2022-03-07 20:36] #4747 closed, assigned to nobody

[2022-03-07 20:36] aryx commented on #4752
I think @underyx had a PR related to colors recently.
Is it related?

[2022-03-07 20:42] aryx commented on #4743
Yes, the first item in the languages list is actually the language used to parse the pattern. So it could be that the same pattern can be parsed both by Java and Scala, but the resulting AST might be different, which then may lead to different matches.

[2022-03-07 20:46] aryx commented on #4743
[code]

[2022-03-07 20:47] aryx commented on #4743
So if you put 'java' first, this new GCMParameterSpec(...) is parsed internally as something that will not match how it's parsed in Scala. It's because Scala actually allows far more complex arguments in new, like an anonymous class.

[2022-03-07 20:50] aryx commented on #4741
Ok taking this.

[2022-03-07 20:54] cofonseca commented on #4683
@emjin Absolutely. Here's the output:

[code]

[2022-03-07 21:03] emjin commented on #4683
Thank you! That looks right. Now can you run the command outputted, with `time` in front? If this takes ~400s, then the core engine is slow on one of the rules/files you're running. Otherwise, it might be something about how we process the output.

[code]

[2022-03-07 21:07] cofonseca commented on #4683
@emjin That last command completed almost instantly, and successfully returned my scan results in json format.

[code]

[2022-03-07 21:30] #3305 closed, assigned to emjin

[2022-03-07 22:25] emjin commented on #4683
I just realized you were also running on a Windows machine. Are you able to try running this on a Linux or Mac computer? Unfortunately, we currently don't support Windows and cannot guarantee that we run successfully or quickly. Something about how WSL interacts with semgrep might be causing this slowness for you and @capc0. Comment on https://github.com/returntocorp/semgrep/issues/1330 if you're

[2022-03-07 23:49] colleend opened #4757 "OWASP Java Benchmark Taint Rule Issues"
LDAP Injection
FP
* [ ] file 138:
`If statement` that always resolves to true tricks the taint engine into tainting a variable:
https://semgrep.dev/s/z1AW

* [ ] file 530:
‘Switch statement’ that leads to a parameter always being evaluated to a constant tricks the taint engine by tainting the variable.
https://semgrep.dev/s/p9oL

FN
* [ ] file 695:
Map where key value pairs are added (where some k

[2022-03-07 23:50] r2c-demo commented on #4757
This issue is synced in Linear at https://linear.app/r2c/issue/PA-936/owasp-java-benchmark-taint-rule-issues.

[2022-03-08 00:30] chmccreery commented on #4666
Yeah, our PR comments only reflect the config at the time they were left - they do not get updated to match config changes since they were left. I've created a ticket for this for findings team. Thanks @efortuna!

[2022-03-08 01:07] cofonseca commented on #4683
Correct - I'm running in a WSL2 Ubuntu environment on Windows 10.

Is Docker an acceptable way to run semgrep on Windows, or is that also unsupported? I assume not, since Docker on Windows uses WSL2. I experience the same behavior when running semgrep using the official container:
[code]

I've also just tested on an Ubuntu machine and cannot reproduce the issue - the same command against the same

[2022-03-08 03:01] dlukeomalley opened #4760 "Autocomplete language values"
The below is from a conversation on #4754 regarding language values. Created a ticket per @wu-s-john 's suggestion:

---

What do we think of pretty printing this more like a bulleted list or zshrc autocomplete columns? I suspect it adds too much complexity for the sake of this PR, and I am largely just brainstorming how to make the UX of this CLI feel modern and be easy to read/navigate.

Example

[2022-03-08 03:02] r2c-demo commented on #4760
This issue is synced in Linear at https://linear.app/r2c/issue/PA-937/autocomplete-language-values.

[2022-03-08 04:47] ievans commented on #4537
I would love for us to match (possibly exactly) the behavior of `ripgrep`. We might even be able to statically link the rust libraries it uses into Semgrep! https://github.com/BurntSushi/ripgrep/tree/master/crates/ignore

We could have the `--no-ignore-X` flags and the [`-uuu` flags](https://github.com/returntocorp/semgrep/issues/4539)

[code]

[2022-03-08 06:59] mjambon commented on #4744
This works:
[code]
It's `FROM ...` that doesn't make sense. Instead, use `FROM $IMG`.

[2022-03-08 06:59] #4744 closed, assigned to mjambon

[2022-03-08 08:58] #4741 closed, assigned to aryx

[2022-03-08 08:59] aryx commented on #4741
Should work now.
It should make the next release  (0.84) tomorrow or thursday.

[2022-03-08 09:49] aryx commented on #4743
@lejliu would you mind improve our documentation to explain that the order in the list of languages matter?

[2022-03-08 10:01] aryx commented on #4732
This is because of the use of macros that result in non-parseable code by the C grammar.
This code: ```
TEST_LIST = {
	{ "pair1 polyamorous best effort", test_poly_best_effort },
	{ "pair1 polyamorous cooked", test_poly_cooked },
	{ "pair1 polyamorous default", test_poly_default },
	{ "pair1 polyamorous recv no header", test_poly_recv_no_header },
	{ "pair1 polyamorous recv garbage", test_poly_rec

[2022-03-08 10:01] #4732 closed, assigned to nobody

[2022-03-08 10:06] aryx opened #4762 "[PHP] analyze .tpl files as PHP files"
Reference discussion:

https://r2c-community.slack.com/archives/C018NJRRCJ0/p1646636690448559

See also https://stackoverflow.com/questions/1808294/what-are-tpl-files-php-web-design
and here is an example of repository using it:
https://github.com/JazzrockS07/authorization_for_user/
The smarty templating language is using it. See the use of .tpl files in the example in the documentation:
https://w

[2022-03-08 10:08] r2c-demo commented on #4762
This issue is synced in Linear at https://linear.app/r2c/issue/PA-938/[php]-consider-tpl-files-as-php-files.

[2022-03-08 11:05] aryx commented on #4762
Actually looking at https://www.smarty.net/crash_course the Smarty .tpl files are actually not parseable as-is by the PHP
parser. This is more something where the semgrep preprocessor would help, like for the other templating files like .erb. ejs, etc.

[2022-03-08 11:06] aryx commented on #4762
Still it seems there are repositories using .tpl for regular PHP files (not smarty), e.g.  https://github.com/JazzrockS07/authorization_for_user/

[2022-03-08 11:39] aryx commented on #4757
What's the priority of this @colleend ? Can you follow the instructions here: https://www.notion.so/r2cdev/How-to-file-an-issue-with-us-00507e1a0be64cd9bbe165397e853ffe and add the right tags if necessary?

[2022-03-08 13:19] aryx opened #4764 "Redesign metavariable-comparison: to be more general, maybe metavariables-condition:"
metavariable-comparison: was designed by Matt Schwager as a way to capture 95% of our use of
the powerful (but dangerous) pattern-where-python:. It served us well for comparing integers,
but it's currently quite limited.
See for example a recent discussions: https://github.com/returntocorp/semgrep/pull/4726

The metavariable-comparison: currently takes some keys like base:, strip:, and even metava

[2022-03-08 13:20] r2c-demo commented on #4764
This issue is synced in Linear at https://linear.app/r2c/issue/PA-939/redesign-metavariable-comparison-to-be-more-general-maybe.

[2022-03-08 13:21] #4762 closed, assigned to nobody

[2022-03-08 16:52] aryx commented on #4478
Here is another example of template language to support: https://haml.info/

[2022-03-08 16:53] aryx commented on #4478
There's also .erb, .ejs.

[2022-03-08 17:48] aryx commented on #4478
Another example are the smarty template files used with PHP

[2022-03-08 18:17] emjin commented on #4647
This is intentional; metavariable-xyz operators can only work with metavariables that occur in positive patterns. The best solution would probably be to make `pattern-not-inside` accept a formula. Something like

[code]

I think ^ is definitely worth considering, but we're probably not going to prioritize it.

[2022-03-08 21:36] #4655 closed, assigned to nobody

[2022-03-08 22:16] colleend commented on #4757
yes can do!

[2022-03-08 22:24] aegarbutt-stripe commented on #4078
I would love to be able to leverage this (to the extent possible) in reviewing JS in HTML or Ruby in ERB files.

For example:

[code]

Is currently matched by [ruby.rails.security.audit.xss.templates.var-in-script-tag.var-in-script-tag](https://semgrep.dev/playground?registry=ruby.rails.security.audit.xss.templates.var-in-script-tag.var-in-script-tag), even though it seems the intention is to only

[2022-03-08 23:08] mjambon opened #4770 "Allow 'CMD ...' to match any CMD instruction"
**Describe the bug**

`CMD ...` right now only matches a CMD with shell code. It should also match `CMD ["foo"]` but doesn't.

**To Reproduce**

Go to this URL and **press Enter to add a trailing newline at the end of the pattern** (bug #4771):
https://semgrep.dev/s/mjambon:docker-cmd-catchall

**Expected behavior**

This should match all the CMD instructions.

**Screenshots**

![image](https://us

[2022-03-08 23:10] r2c-demo commented on #4770
This issue is synced in Linear at https://linear.app/r2c/issue/PA-943/allow-cmd-to-match-any-cmd-instruction.

[2022-03-08 23:10] mjambon commented on #4770
What we want is:
* `CMD ...` matches any CMD instruction (shell or argv) rather than just shell code
* `CMD ... ;` matches only shell code (already works, see https://semgrep.dev/s/mjambon:docker-cmd-shell). Alternatively, `CMD { ... }` might be a better recommendation (the braces would have to be ignored which isn't the case right now).
* `CMD [ ... ]` matches only argv (already works)

[2022-03-08 23:16] mjambon opened #4771 "Assume newline at the end of dockerfile patterns"
**Describe the bug**

Something removes the newlines from dockerfile patterns when using the Playground. The pattern parser then fails to accept it as valid.

Instead, we should accept patterns that don't end with a newline.

See https://semgrep.dev/s/mjambon:dockerfile-missing-newline

![image](https://user-images.githubusercontent.com/343265/157341979-d6ec319a-271c-469e-b6c9-7cd248c4bd1b.png)

A

[2022-03-08 23:16] r2c-demo commented on #4771
This issue is synced in Linear at https://linear.app/r2c/issue/PA-944/assume-newline-at-the-end-of-dockerfile-patterns.

[2022-03-09 02:00] #4669 closed, assigned to nobody

[2022-03-09 02:17] minusworld commented on #4460
Somehow I missed this ticket. My apologies.

@Plasma All the information sent is spelled out in this [privacy doc](https://semgrep.dev/docs/metrics/).

For `--config auto`, the project URL and a hash of the project URL are used to identify a set of rules for that project. On the first run of `--config auto`, it will run a few "inventory" rules that are used to generate a set of rule recommendation

[2022-03-09 02:32] Plasma commented on #4460
Thanks @minusworld !

Upon reading the website I could see it didn’t try to upload code, but I assumed at the time (having just ran the CLI without seeing the website beforehand) that the use of the words “logging in” and my Git URL and “auto” I quickly assumed it was about to upload code to detect the language etc.

Could I suggest a wording change to the log line, perhaps `Querying the Semgrep R

[2022-03-09 04:06] minusworld commented on #4460
@ievans and @adamboros, what do you think of the above suggestion?

[2022-03-09 10:02] IagoAbal commented on #4764
At the end the user needs to learn about keys like `base:` and `strip:` anyways. I find it easier to just have `metavariable-comparison:` take a Python expression. We could support a larger subset of Python. And if there are comparisons that are cumbersome to write in Python, we could add our own `r2c.xyz(...)` functions.

[2022-03-09 11:28] aryx commented on #2664
@emjin can we close this? Does it work now?

[2022-03-09 11:46] aryx commented on #4764
In theory we could even allow every rule to use the syntax of the language they are analyzing, so the metavariable-condition:
would be expressed in Python or Ruby or JS depending on the rule target.
Then we just need to provide a list of functions that would work for all languages (and they could use the call syntax and operators of the language of the rule).

[2022-03-09 13:58] #4771 closed, assigned to nobody

[2022-03-09 14:06] aryx commented on #4464
@IagoAbal I've lowered the priority since nobody fixed it in the last 3 months.

[2022-03-09 15:05] aryx commented on #4730
An Ellipsis metavariable is a very advanced feature of semgrep that is rarely useful. It's useful only for autofix. In all the other context you can replace an ellipsis metavariable with simply an ellipsis.

Given your use case, what you really want is the ability to disable certain JSX equivalences the matching engine performs, which should be available in the next release thx to the PR above.

[2022-03-09 15:19] azuline commented on #4730
Thanks!

[2022-03-09 18:19] emjin commented on #2664
It works with `--validate` but I think this issue was asking for a warning to surface in the semgrep run. I don't know if I think that makes sense? Maybe adding `--validate` to the editor would be a better way to solve this issue? If that makes sense, we can close this issue in favor of something like "use --validate in more places"

[2022-03-09 18:43] ajbt200128 commented on #4760
Related:  #4529 added autocomplete, including for `--lang`, and will list/autocomplete possible languages for this cli option

[2022-03-09 19:03] ievans commented on #4537
If we used ripgrep's library we would could possibly nail the speedups requested in https://github.com/returntocorp/semgrep/issues/4543 as well

[2022-03-09 19:20] #4673 closed, assigned to minusworld

[2022-03-09 19:34] aryx commented on #2664
We should definitely use the metachecker in the playground.

[2022-03-09 19:35] #2664 closed, assigned to emjin

[2022-03-10 05:38] lnksz commented on #4732
Thanks @aryx for the feedback! So should I just ignore the other 280 or so warning as well? (There are messages to report them here)

[2022-03-10 07:31] inkz opened #4779 "Scala: Taint mode matching issue"
While trying to highlight code inside web frameworks controller (`Action => {...}`) taint mode work only in one situation:
https://semgrep.dev/s/A5Jw

[code]

[code]

Search mode works fine:

https://semgrep.dev/s/BG36

[code]

[2022-03-10 07:33] r2c-demo commented on #4779
This issue is synced in Linear at https://linear.app/r2c/issue/PA-947/scala-taint-mode-matching-issue.

[2022-03-10 08:23] aryx commented on #4078
Adding support for html would also make it possible to write a javascript extraction rule that could be used by the futur -pp option of semgrep-core. See #4478

[2022-03-10 08:26] aryx commented on #4732
Unfortunately for C code, there will always be lots of warnings. It's a fight we can't win, the C preprocessor makes it impossible to get 100% parsing coverage when you try to parse the code as-is (that is without calling the C preprocessor first, like gcc does).

[2022-03-10 08:34] aryx commented on #4730
This should work now: https://staging.semgrep.dev/s/oxqd?version=0.84.0

[2022-03-10 08:35] #4730 closed, assigned to aryx

[2022-03-10 08:40] 0xDC0DE opened #4780 "Semgrep test syntax is inconsistent / confusing when using paths to files instead of directories"
[code]

[2022-03-10 08:41] aryx commented on #4679
This should work now with the new option xml_attrs_implicit_ellipsis:
https://semgrep.dev/s/Wjyj?version=0.84.0

[2022-03-10 08:41] #4679 closed, assigned to aryx

[2022-03-10 08:42] r2c-demo commented on #4780
This issue is synced in Linear at https://linear.app/r2c/issue/PA-948/semgrep-test-syntax-is-inconsistent-confusing-when-using-paths-to.

[2022-03-10 08:46] 0xDC0DE commented on #4780
Desired behaviour: when `--test` flag is used and filenames are given instead of paths. Scan the same files as the semgrep scan does:

[code]

[2022-03-10 09:30] xmo-odoo commented on #2530
Doesn't seem like it would be very convenient, if I'm reading the proposal correctly it'd require splitting all rulesets into single-rule files, then using this to "recombine" the ruleset, yes?

[2022-03-10 09:35] xmo-odoo commented on #4746
Maybe a rules-filtering DSL similar to e.g. [mercurial's revsets](https://www.mercurial-scm.org/repo/hg/help/revsets)? Which would allow selecting rules along multiple axis with the ability to combine them via boolean / set operators?

Obvious selection attributes would be id, severity, and language. But possibly rules could grow additional fields with the sole purpose of selection e.g. "tags" or

[2022-03-10 09:53] #4678 closed, assigned to nobody

[2022-03-10 10:27] aryx commented on #4717
This works now on develop: https://staging.semgrep.dev/s/zvdP?version=develop
It should make the next release (0.85.0) next week.

[2022-03-10 10:27] #4717 closed, assigned to nobody

[2022-03-10 10:29] aryx commented on #4679
I think if we fix this: https://github.com/returntocorp/semgrep/issues/2812 then they will be less need for documentation
because the behavior of ... would be more consistent with how it's used in other parts of semgrep.

[2022-03-10 10:42] #1931 closed, assigned to nobody

[2022-03-10 14:01] aryx commented on #4693
@emjin  someone gave me the last.log showing the problem but I didn't yet have the time to investigate

[2022-03-10 14:57] Sjord commented on #4078
I tested the current HTML support, and it works pretty well. It can already be used to create working rules. For example, this works as expected:

    patterns:
      - pattern: <a target="$TARGET" href="$HREF">...</a>
      - metavariable-regex:
          metavariable: $HREF
          regex: (https?:)?//
      - pattern-not-inside: <a rel="noopener">...</a>
      - pattern-not-inside: <a rel="nor

[2022-03-10 15:55] lnksz commented on #4732
I understand that. And thanks for picking up the fight at all ;)

[2022-03-10 17:23] aryx commented on #4078
You're right! I'll try to create separate issues for the bugs you listed then!

[2022-03-10 17:25] aryx commented on #4078
cc @minusworld

[2022-03-10 18:15] ievans opened #4784 "update schema to allow a single rule in a config .yaml without a `rules:` superkey"
**Is your feature request related to a problem? Please describe.**
The new editor has a hacked schema that doesn't require nesting under `rules`. Semgrep should just support this natively, as the trend is towards only allowing a single rule in a file anyways.

**Describe the solution you'd like**
Update semgrep schema so that this is a valid rule:

[code]

**Describe alternatives you've considered

[2022-03-10 18:16] ievans commented on #4784
See also https://linear.app/r2c/issue/AUT-82/if-a-snippet-works-in-the-editor-it-works-locally

[2022-03-10 18:17] r2c-demo commented on #4784
This issue is synced in Linear at https://linear.app/r2c/issue/PA-950/update-schema-to-allow-a-single-rule-in-a-config-yaml-without-a-rules.

[2022-03-10 22:34] underyx opened #4785 "Semgrep crashes when working directory doesn't exist"
My shell was in a temporary directory that has been deleted since I cd'd in there. Running semgrep failed with this:

[code]

so to reproduce:
1. mkdir temp
2. cd temp
3. (in another shell) rm temp
4. (in first shell) run semgrep

using semgrep 0.84

[2022-03-10 22:35] r2c-demo commented on #4785
This issue is synced in Linear at https://linear.app/r2c/issue/PA-951/semgrep-crashes-when-working-directory-doesnt-exist.

[2022-03-10 23:21] underyx opened #4786 "--baseline-commit doesn't restore deleted files outside working directory"
Assume you have semgrep cloned at ~/semgrep.

1. cd ~/semgrep/semgrep-core
2. semgrep -f auto --baseline-commit HEAD~100
3. git status

You'll see a bunch of removed files, because semgrep modifies all of the repo's directories when going back to baseline, but only restores the current working directory when going back to the current version.

Semgrep 0.84

[2022-03-10 23:22] r2c-demo commented on #4786
This issue is synced in Linear at https://linear.app/r2c/issue/PA-952/-baseline-commit-doesnt-restore-deleted-files-outside-working.

[2022-03-11 00:10] underyx commented on #4508
Hi @vedanandusekar! I'm currently working on file targeting so I tried to take a stab at this issue.

Unfortunately after trying to run `semgrep --config=p/r2c-security-audit` on a couple repositories that have several Dockerfiles in them, I didn't get any results from ruby rules.

Could you share a specific rule and line in a Dockerfile that triggers this bug? Thank you! 🙌

[2022-03-11 00:14] underyx commented on #4157
I cannot reproduce with 0.84 so closing. @minusworld could you confirm on your end as well and reopen if the issue is still present for you? I didn't understand you your command was `$ lua semgrep -v [...]` so I just ran `$ semgrep -v [...]`.

<img width="1261" alt="CleanShot 2022-03-10 at 16 13 08@2x" src="https://user-images.githubusercontent.com/1060436/157777032-85114100-a8ef-488a-9a57-ab604f0

[2022-03-11 00:14] #4157 closed, assigned to underyx

[2022-03-11 00:39] enncoded opened #4788 "Metavariables not working when used within a Deep Expression in Typescript"
**Describe the bug**
Metavariables aren't working properly when used in Deep Expressions in Typescript

**To Reproduce**
The rule doesn't save in the editor for some reason, even though it runs both there and in the CLI, so I'll just paste the code below. Changing the `$ASDF` to `id` in the `find()` call makes Semgrep find the line, and the `$ASDF = <... $REQ.params.id ...>` deep expression is ver

[2022-03-11 00:40] r2c-demo commented on #4788
This issue is synced in Linear at https://linear.app/r2c/issue/PA-953/metavariables-not-working-when-used-within-a-deep-expression-in.

[2022-03-11 01:05] #4786 closed, assigned to nobody

[2022-03-11 01:11] enncoded opened #4789 "Specifying a variable as a source using `$METAVARIABLE: Type` notation does not work in `pattern-sources`"
**Describe the bug**
https://semgrep.dev/s/lejliu:mongo-inject-from-request
Ideally, I'd like to be able to not have to specify a specific context using `pattern-inside` and would just like to do
[code]
so that the rule is more flexible and I don't have to account for all the different ways that a Request object can be created.

I figure this is _supposed_ to work because changing the `pattern-sou

[2022-03-11 01:13] r2c-demo commented on #4789
This issue is synced in Linear at https://linear.app/r2c/issue/PA-954/specifying-a-variable-as-a-source-using-dollarmetavariable-type.

[2022-03-11 05:37] inkz commented on #4779
One more example: https://semgrep.dev/s/Og3R

[2022-03-11 10:32] 0xDC0DE opened #4791 "Tests do not return results when only true negative test cases are present"
**Describe the bug**
When the test file only contains negative test cases (the `ok: ` syntax). The results of this test are not returned if these tests pass.
Also, if these tests fail, on the playground, the number of failed tests is incorrect.

**To Reproduce**
https://semgrep.dev/s/pieterdc1:only-positive-testcase
https://semgrep.dev/s/pieterdc1:only-positive-testcase-fails

This is also clear w

[2022-03-11 10:33] r2c-demo commented on #4791
This issue is synced in Linear at https://linear.app/r2c/issue/PA-957/tests-do-not-return-results-when-only-negative-test-case-ok-are-used.

[2022-03-11 11:23] vmarkovtsev opened #4794 "ModuleNotFoundError: No module named 'attrs' since 0.83"
**Describe the bug**
Executing semgrep raises an exception.

I catch it in the CI: https://github.com/athenianco/athenian-api/runs/5500293758?check_suite_focus=true

It started crashing since 0.83.

[code]

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

[2022-03-11 11:26] r2c-demo commented on #4794
This issue is synced in Linear at https://linear.app/r2c/issue/PA-958/modulenotfounderror-no-module-named-attrs-since-083.

[2022-03-11 13:25] #4078 closed, assigned to aryx

[2022-03-11 14:18] aryx commented on #4788
weird, because this works:
[code]
so this is a bug when we combine pattern-inside and pattern here

[2022-03-11 14:39] aryx commented on #4788
Hmm the problem is that when using this pattern independently:
`$DB.orders.find(..., { $where: <... $ASDF ...> }, ...)`
it matches only one time on the file, with $ASDF = `this.orderId === '${id}'`. It does not
consider the other possible deep bindings for $ASDF.

[2022-03-11 15:21] ievans commented on #4794
Thanks for the report, sorry about the frustration. @brendongo can you take a look? Does it work on Python >=3.9?

[2022-03-11 15:26] underyx commented on #4794
Hi! I'll look at this later today. The issue might be that our version specifier for the attrs library is too relaxed and you have too old of a version. If this is the case, running `pip install --upgrade attrs` should fix the issue for you.

[2022-03-11 15:32] ievans commented on #4794
For reference, from the CI log:

[2022-03-11 15:36] underyx commented on #4794
Thanks for pasting that in! Semgrep's setup.py requests attrs~=21.0, so I'm not sure why pip wouldn't fetch the correct version :/

Pinning attrs in requirements-lint.txt should fix the issue, I think.

[2022-03-11 16:20] Greenmouse94 opened #4797 "'utf-8' codec can't decode byte 0xff in position ..."
**Describe the bug**
When running:
[code]

**To Reproduce**
Inside WSL or even Windows 10 ;

**Error Message**
[code]

**What is the priority of the bug to you?**
- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

**Environment**
Docker

[2022-03-11 16:22] r2c-demo commented on #4797
This issue is synced in Linear at https://linear.app/r2c/issue/PA-959/utf-8-codec-cant-decode-byte-0xff-in-position.

[2022-03-11 17:48] vmarkovtsev commented on #4794
I confirm that pinning attrs to 21.4.0 resolved my problem. Thank you everybody for the help.

[2022-03-11 18:26] faceyacc opened #4798 "TypeScript Tree-Sitter Bug with override"
**Describe the bug**
A user is running into a `Semgrep Core - Syntax Error` when running a TypeScript file using Typescript decorators.

**To Reproduce**
Run code snippet in Playground: https://semgrep.dev/s/XZdq

**Expected behavior**
User should be able to run `--config auto` on the code snippet above without running into Syntax Error

**What is the priority of the bug to you?**
- [ ] P0: blocki

[2022-03-11 18:27] underyx commented on #4794
You're welcome @vmarkovtsev, and sorry about the noise! I'll leave this issue open for a little longer to see if we can track down the root cause of why pip wasn't respecting semgrep's new dependency constraints.

[2022-03-11 18:28] r2c-demo commented on #4798
This issue is synced in Linear at https://linear.app/r2c/issue/PA-960/typescript-tree-sitter-bug.

[2022-03-11 21:54] emjin opened #4799 "Include line numbers in semgrep --validate output"
Right now errors look like:

[code]

But semgrep-core knows:

[code]

We should include the location of match in the error message

[2022-03-11 21:55] r2c-demo commented on #4799
This issue is synced in Linear at https://linear.app/r2c/issue/PA-961/include-line-numbers-in-semgrep-validate-output.

[2022-03-11 23:05] ajbt200128 commented on #4770
@mjambon Checkout the PRs above, fixed this issue, and also fixed a similar issue for `ENTRYPOINT` and `RUN`, and added relevant tests

[2022-03-12 00:12] clintgibler commented on #3698
The preeminent (to my knowledge) Elixir security scanning static analysis tool: https://github.com/nccgroup/sobelow

[2022-03-12 05:14] mjambon commented on #4770
@ajbt200128 thank you for looking into this, but I don't think it helps. The parser has no difficulty parsing `CMD ...` at the moment because `...` is a valid [semgrep-extended] shell program. I think the question is how it's translated into semgrep's generic AST. We want it to be translated into something like "call the CMD function on one argument that is the Ellipsis". This code is in the semgr

[2022-03-13 22:51] ajbt200128 commented on #4770
Yea that's what I figured too, and what I updated. If you check [Parse_dockerfile_tree_sitter.ml](https://github.com/returntocorp/semgrep/pull/4800/files#diff-6268dbfc7a977654c7f773848fed75fba9c8b2cd5ca7b59a71b1469ba9a83026) and [Dockerfile_to_generic.ml](https://github.com/returntocorp/semgrep/pull/4800/files#diff-7897fa9a1fc33e1491a61b88634ef37ac179f5c7347c3a36b59cb7dd3255d7cd) you'll see the re

[2022-03-14 07:49] Greenmouse94 commented on #4797
![image](https://user-images.githubusercontent.com/56369846/158127581-47fa5e77-747b-4257-a068-788b987f07ff.png)

[2022-03-14 11:06] aryx opened #4801 "semgrep should warn the user when the target file passed explicitely does not match the language in --lang"
Semgrep does not even run on a file explicitely listed:

[code]
ran on 0 files??

Running with --debug gives:
[code]
Don't know if it's related.

[2022-03-14 11:08] r2c-demo commented on #4801
This issue is synced in Linear at https://linear.app/r2c/issue/PA-966/semgrep-not-running-even-on-explicitely-given-file.

[2022-03-14 11:28] aryx commented on #4693
the error string is not in our repo, so it’s probably a python builtin error

[yoann (r2c)](https://app.slack.com/team/UL1MB92F2)  [7 days ago](https://r2c-community.slack.com/archives/C0242656NQ2/p1646651745456959?thread_ts=1646632804.900049&cid=C0242656NQ2)

https://stackoverflow.com/questions/55457370/how-to-avoid-valueerror-separator-is-not-found-and-chunk-exceed-the-limit

[2022-03-14 15:12] aryx commented on #4693
I've looked at the log reported by the user, but I don't see anything from semgrep-core in it. The problem is that
semgrep-python does not log and show stderr as soon as it arrives.

[2022-03-14 15:37] underyx commented on #4801
This is not allowed currently because if you have a rule that specifies `languages: [python, js]` (which is a case we test for) you would always be guaranteed to fail due to a parse error. Each explicitly targeted file would be parsed as both JS and Python, and one of those would fail.

How should we approach this problem?

[2022-03-14 16:28] aryx commented on #4801
Oh sorry, I thought I passed to semgrep a JS files in my command above. I read it as misc_bang.js, not rs.
Hmm then maybe we should not allow it but in --verbose we should explain that this file was skipped because it's not the right language?

[2022-03-14 16:29] aryx commented on #4801
Note that I used -e '$X == $X' -l js, so there's just one language here (not python).

[2022-03-14 16:32] aryx commented on #4801
I think when we run semgrep on 0 files, we should try to help the user, to explain why so (the explanation on what is skipped is useful, but here it was not enough to explain why misc_bang.rs was not processed).

[2022-03-14 16:53] emjin commented on #4722
@IagoAbal Does metavariable-focus fix this?

[2022-03-14 20:30] oxeye-yuvalk opened #4805 "Add to SARIF formatter the code snippet"
The problem is that today the SARIF output does not include the snippet of the code that could help to understand the issue

According to this scheme - https://github.com/oasis-tcs/sarif-spec/blob/master/Documents/CommitteeSpecifications/2.1.0/sarif-schema-2.1.0.json

I would like to add code into SARIF formatter

[2022-03-14 20:31] r2c-demo commented on #4805
This issue is synced in Linear at https://linear.app/r2c/issue/PA-978/add-to-sarif-formatter-the-code-snippet.

[2022-03-14 22:14] nbrahms opened #4807 "Metavariable-regex is anchored"
Per docs, this should be unanchored:

https://semgrep.dev/s/KgRY

[2022-03-14 22:16] r2c-demo commented on #4807
This issue is synced in Linear at https://linear.app/r2c/issue/PA-980/metavariable-regex-is-left-anchored.

[2022-03-14 22:23] underyx commented on #4794
Another user reported that e.g. `21.1.0` is allowed by our version specifier but `21.3.0` is the earliest actually compatible version. We addressed this in https://github.com/returntocorp/semgrep/pull/4808. This might fix your issue as well (although I'm not sure why your CI log would `19.3.0` as the installed attrs version in that case.)

I think that's as far as we will get right now in tracking

[2022-03-14 22:23] #4794 closed, assigned to nobody

[2022-03-14 22:26] brendongo commented on #4805
@oxeye-yuvalk which property are you referring to in the schema? Not sure where under the results object we would add matching code to: https://github.com/oasis-tcs/sarif-spec/blob/master/Documents/CommitteeSpecifications/2.1.0/sarif-schema-2.1.0.json#L2025

[2022-03-15 01:34] emjin commented on #4789
From slack discussion: Needs to be wrapped in parens

[2022-03-15 01:34] #4789 closed, assigned to nobody

[2022-03-15 06:07] oxeye-yuvalk commented on #4805
Hey :)
the property is snippet under region
I have no problem implementing this on myself :)

[2022-03-15 08:10] mjambon commented on #4770
I implemented a solution (#4813) which doesn't touch the grammar, mostly because I want to release this ASAP and the dockerfile grammar needs to be upgraded (it seems). I'll take a look tomorrow.

@ajbt200128 please consult with us next time you feel like contributing. We have a bunch of tasks for you, that's not a problem. Some things are more difficult or urgent than others and are expected to b

[2022-03-15 08:17] mjambon opened #4814 "Upgrade Dockerfile grammar"
This is a follow-up to https://github.com/returntocorp/semgrep/pull/4813
* the dockerfile grammar has already been extended (https://github.com/returntocorp/ocaml-tree-sitter-semgrep/pull/293) with an ellipsis after CMD/RUN/etc. We should then get rid of the hack that parses `...` using PCRE.
* there are some changes (not sure how many) which require changes here and there in the ocaml boilerplate

[2022-03-15 08:18] r2c-demo commented on #4814
This issue is synced in Linear at https://linear.app/r2c/issue/PA-981/upgrade-dockerfile-grammar.

[2022-03-15 10:43] IagoAbal commented on #4722
@timmc-edx does this https://semgrep.dev/s/e5jE work for you ?

[2022-03-15 10:46] IagoAbal commented on #4722
We could use `focus-metavariable:` (not yet public feature) if this worked:

[code]

It does work for some languages but it seems that it doesn't for Python.

[2022-03-15 12:27] aryx commented on #3855
The ability to know that someBaseClass resolves to com.test.someBaseClass is outside the reach of semgrep. Semgrep analyzes just one file at a time and so can't know that someBaseClass is actually defined somewhere in the same package.

[2022-03-15 12:27] #3855 closed, assigned to nobody

[2022-03-15 12:33] tilperion2 commented on #3855
Generally it possible to determine that baseClass belongs to the same package, as it is not mentioned in the imports, so we may assume that it is from the same package as current file. I think it is just a basic Java convention.
But I understand that it may be tricky and too complex to implement in semGrep parser/linter. There may be some other conflicts with other Java system/internal packages(ja

[2022-03-15 14:07] aryx commented on #3855
Yes, especially if the file contains some import foo.bar.* in which case the use of unqualified identifier can not be resolved and we can't assume they are from the current package.

[2022-03-15 14:16] timmc-edx commented on #4722
@IagoAbal Your demo just adds the function to the context, right? See https://github.com/returntocorp/semgrep/issues/4721 and https://github.com/returntocorp/semgrep/issues/3070 for why that's undesirable.

[2022-03-15 14:46] IagoAbal commented on #4722
@timmc-edx AFAICT my example works and it doesn't suffer from those issues, have you actually tried it?

[2022-03-15 14:58] timmc-edx commented on #4722
I see, you're using `pattern-regex`. That does seem to work for single-line decorators, but not for multiline. Autofix ends up doing this:

[code]

[2022-03-15 15:23] IagoAbal commented on #4722
I believe you can handle multiline cases with `pattern-regex:` too. Maybe @returntocorp/security  or @mmcqd (who is on-call) can help you with this. You may get help quite fast if you ask in https://r2c.dev/slack.

We have an upcoming feature (for now know as `focus-metavariable:`) that would be a better solution than `pattern-regex:`, but first we would need to make this work:

[code]

[2022-03-15 16:29] timmc-edx commented on #4722
Unfortunately, `@patch` can and often does take arbitrary (nested) expressions, so a regex can only help for a limited set of inputs. Maybe if you assume the indentation is correct and use backreferences to leading whitespace to identify the closing paren... :-) But I'm not actually blocked on this, since I ended up not wanting to make the autofix that I originally set out to do.

[2022-03-15 19:59] #4788 closed, assigned to nobody

[2022-03-15 20:40] khanhldt commented on #4311
Wouldn't this cause problem with people running Semgrep as pre-commit hook on M1 machine? I'm having similar error running Semgrep as pre-commit hook on an arm64 Linux machine.

[2022-03-15 21:05] ajbt200128 commented on #4770
Got it, will do next time

[2022-03-15 21:41] clintgibler opened #4816 "Support constant propagation of Terraform variables"
**Is your feature request related to a problem? Please describe.**
Realistic Terraform code uses variables and other Terraform features that make Semgrep rules reasoning about just the direct text incomplete and/or noisy.

Here's an example of something that shouldn't match but does currently:
https://semgrep.dev/s/clintgibler:azure-storage-use-secure-tls-policy

**Describe the solution you'd like

[2022-03-15 21:42] r2c-demo commented on #4816
This issue is synced in Linear at https://linear.app/r2c/issue/PA-985/support-constant-propagation-in-terraform-variables.

[2022-03-16 02:34] raghavjain3 opened #4823 "Update Semgrep to Go 1.18"
**Is your feature request related to a problem? Please describe.**
Update Semgrep to support the newest [version](https://tip.golang.org/doc/go1.18) of Go (1.18)

**Describe the solution you'd like**
Use Semgrep for generics added in this version

[2022-03-16 02:35] r2c-demo commented on #4823
This issue is synced in Linear at https://linear.app/r2c/issue/PA-990/update-semgrep-to-go-118.

[2022-03-16 02:44] #4714 closed, assigned to nobody

[2022-03-16 09:42] carjessu-zerohash commented on #4311
It does. This issue is currently keeping me from rolling this out as a pre-commit hook for our devs since we have a lot of Apple Silicon based macs.

[2022-03-16 13:36] tino commented on #4311
We run into the same (w/ pre-commit). Our workaround currently is to copy the brew installed `semgrep-core` over on in the virtual env of pre-commit. It's a bit ugly but it works.

[2022-03-16 16:36] 0xn3va commented on #584
@inkz, you should try the following one:

[code]

Check https://semgrep.dev/s/6bE6

[2022-03-16 20:34] adamboros commented on #4692
Maybe it's implied and I can't interpret it, but what are you planning to pass to the CLI? Is it the value, the name of the variable or maybe even the line where Semgrep made the assumption?

[2022-03-17 00:41] #2633 closed, assigned to nobody

[2022-03-17 00:50] inkz commented on #584
@0xn3va genius! thanks :pray:

[2022-03-17 00:52] inkz commented on #584
Also, since this is merged https://github.com/returntocorp/semgrep/pull/4796 now, I think it is safe to close the issue.

[2022-03-17 00:52] #584 closed, assigned to aryx

[2022-03-17 07:34] novogeek commented on #4797
I faced the same issue trying to run SemGrep both via docker as well as via WSL. In my case, I ran the csharp rules on a test project. I started to think if it could be due to a problem with one of the public rules, since my custom rule ran on the same files without any issues. By the process of elimination, I narrowed down to [this sqli rule](https://github.com/returntocorp/semgrep-rules/blob/dev

[2022-03-17 08:25] lukaspiatkowski commented on #4701
This looks like a duplicate of https://github.com/returntocorp/semgrep/issues/4311

[2022-03-17 10:16] IagoAbal commented on #4692
I would say the variable and its assumed value, e.g. `x = 1`. We could also add what exact occurrence of `x` that ware referring to.

[2022-03-17 10:31] mtausig opened #4826 "String created with Sprintf not detected by metavariable-regex"
I am trying to write a rule which matches the values of the parameter to a function in go:

[code]

The rule should match every occurence where the parameter to the `Foo`  function starts with `bar`.
This works fine as long as the parameter is written literally, but unfortunately not if it has been created using `Sprintf`:

[code]

The rule matches only the first function call but not the other on

[2022-03-17 10:31] r2c-demo commented on #4826
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1000/string-created-with-sprintf-not-detected-by-metavariable-regex.

[2022-03-17 11:13] adamboros commented on #4692
Sounds good, I think the exact occurrence would be great cause that will help the CLI team to present this at just the right place (instead of just amending it at the end of each finding where it's bound to be harder to decipher for users). Thanks Iago! cc. @underyx @brendongo

[2022-03-17 13:25] malexmave opened #4827 "Symlink handling differs when scanning directories vs. specific files"
**Describe the bug**
Semgreps behavior towards symlinked files differs between the directory-scanning and specific-file-scanning mode: A symlinked file can be scanned when scanning a directory it is contained in, but when targeting a scan directly on that file, semgrep claims it does not exist.

**To Reproduce**

Place the following in a file called test.py
[code]

Run the following command:
[code

[2022-03-17 13:26] r2c-demo commented on #4827
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1001/symlink-handling-differs-when-scanning-directories-vs-specific-files.

[2022-03-17 15:45] brendongo opened #4828 "[RFC] Add minimum semgrep version needed to run rule"
With speed we are adding rules and functionality into semgrep we have hit situations when we
publish rules that depend on features in just released semgrep so when run on a version of semgrep
that is older, causes a crash.

Proposed solution:
We can add an optional field to the rule_schema: `requires` that takes a semver string mentioning the minimum version
of semgrep needed to run or even parse

[2022-03-17 15:47] r2c-demo commented on #4828
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1002/[rfc]-add-minimum-semgrep-version-needed-to-run-rule.

[2022-03-17 15:54] aryx commented on #4828
[pad](https://app.slack.com/team/UJHBTQ3MH)  [4 minutes ago](https://returntocorp.slack.com/archives/C01NXGX2EHZ/p1647532160180069?thread_ts=1647532020.618589&cid=C01NXGX2EHZ)
sounds good to me!
[pad](https://app.slack.com/team/UJHBTQ3MH)  [4 minutes ago](https://returntocorp.slack.com/archives/C01NXGX2EHZ/p1647532184981439?thread_ts=1647532020.618589&cid=C01NXGX2EHZ)
let’s handle it mostly python

[2022-03-17 16:40] aryx commented on #4826
But why would you use sprintf with 2 literals? Why not just use directoy "barbaz" ?

[2022-03-17 16:52] IagoAbal commented on #4828
The _semver_ string is useful if we deprecate some feature. Maybe it's worthwhile to do that from the start?

I think this is needed because we may update a rule to use a new feature. Users may no longer be able to run the new rule if they are pulling it directly from the registry. This shouldn't happen silently.

[2022-03-17 17:16] ievans commented on #4828
To me, this is the best idea. It doesn't pollute the rule schema with information that's not ultimately essential to the functioning of the rule. Ultimately "is it compatible with this version" can always be tested dynamically, so why not just let the engine do that? I think also gives us the pro of becoming more robust in general against malformed rules and having a workflow to detect & fix them.

[2022-03-17 17:54] aryx opened #4829 "Do not crash when only one of the rule does not parse correctly in semgrep-core"
This is related to https://github.com/returntocorp/semgrep/issues/4828

[2022-03-17 17:55] r2c-demo commented on #4829
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1003/do-not-crash-when-only-one-of-the-rule-does-not-parse-correctly-in.

[2022-03-17 17:56] aryx commented on #4829
Just return the id and error message of the problematic rule in the JSON returned by semgrep-core. The CLI can then choose to print a nice error message to the user.

[2022-03-17 17:58] mtausig commented on #4826
I only used two literals to make the example simpler. In reality, "baz" will of course usually be some variable itself, maybe even a non-string.
But that should not really make a difference from Semgrep's perspective.

I updated my testcase accordingly.

[2022-03-17 18:59] underyx opened #4830 "Testing linear sync"

[2022-03-17 18:59] #4830 closed, assigned to nobody

[2022-03-17 19:01] underyx opened #4831 "Testing linear sync #2"

[2022-03-17 19:02] r2c-demo commented on #4831
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1004/testing-linear-sync-2.

[2022-03-17 19:04] #4831 closed, assigned to nobody

[2022-03-17 22:08] ievans commented on #3304
@xmo-odoo we have banished the stale bot from this issue :P

Have you looked at https://github.com/returntocorp/semgrep/pull/4735? It's not documented yet, but does it address this use-case too?

[2022-03-17 23:13] ajinabraham commented on #4741
Thanks, will test this out.

[2022-03-18 08:54] aryx commented on #4829
As we add more features in semgrep, and the rule format gets extended (e.g., adding metavariable-entropy analysis recently), old version of semgrep may not be able to parse the latest rules and just crash. It's better instead to warn and skip those rules, to not compromise CI jobs just because of a few rules that use rare (and new) features.

[2022-03-18 11:49] aryx commented on #4828
Ok so I've implemented the semgrep-core side of that. Bad rules are now filtered and returned in a new
skipped_rules field in the JSON.
What remains is to use this information python side to report the information to the user.

[2022-03-18 12:19] aryx commented on #4826
We could handle partially-symbolic string, like here we know it starts with baz (if you hardcode the knowledge of sprintf in the engine), and so the metavariable-regexp after could match, but I'm not sure it's worth the complexity.
Also we would need to handle all sprintf like functions in every languages ...

[2022-03-18 12:21] aryx commented on #4816
dupe of: https://github.com/returntocorp/semgrep/issues/1147

[2022-03-18 12:50] mtausig commented on #4826
I think that `Sprintf` is a fairly common method for concatenating strings with other datatypes (especially numerics), making this case more common than in other languages like Python or C#

[2022-03-18 13:33] #4829 closed, assigned to aryx

[2022-03-18 18:47] underyx commented on #4827
Thanks for the report @malexmave and sorry about the regression! Turns out our unit test for this behavior was buggy, so we didn't realize our refactor broke this behavior. The fix should go out next Tuesday with 0.86.

[2022-03-18 19:00] #4827 closed, assigned to nobody

[2022-03-18 19:49] #1147 closed, assigned to aryx

[2022-03-18 21:06] ievans opened #4839 "Support fully-qualified names from wildcard imports across languages"
**Describe the bug**
Semgrep doesn't handle fully qualified names that are introduced via a wildcard import.

**To Reproduce**
Python example: https://semgrep.dev/s/RgQg
Java example: https://semgrep.dev/s/BGQx

**Expected behavior**
In the case where there is a single wildcard import, Semgrep should be able to infer that the unresolved method came from the wildcard.
In the case where are are mult

[2022-03-18 21:07] r2c-demo commented on #4839
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1006/support-fully-qualified-names-from-wildcard-imports-across-languages.

[2022-03-18 21:08] aryx commented on #4839
or D: leverage information from the pattern itself! if the pattern is new java.util.ArrayList(), then for sure such an entity exist and having import java.util.* and new ArrayList() is in the same file should be a match (without having to know about the content of java.util.*)

[2022-03-19 01:56] ievans opened #4841 "Ellipsis metavariable ($...X) doesn't work in HTML mode"
**Describe the bug**
The ellipsis metavariable doesn't work in HTML mode:

**To Reproduce**
doesn't work with `$...JS`: https://semgrep.dev/s/QbAk
works with `...`: https://semgrep.dev/s/3B3e

**Expected behavior**
Expect matches with `$...JS`

**Screenshots**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get

[2022-03-19 01:57] r2c-demo commented on #4841
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1007/ellipsis-metavariable-dollarx-doesnt-work-in-html-mode.

[2022-03-19 13:32] aryx opened #4842 "[internal] flaky CI tests regarding registry"
A lot of recent PRs got one failure in CI because of the registry. See below.
I propose ot remove those tests or find a way to mark them so that if they fail they do not
compromise the CI results.

For instance:
[code]

[2022-03-19 13:33] aryx commented on #4842
@mmcqd got this one recently, @mjambon too. It's slowing us down. Each time you need to wait another 20min, you lose focus.

[2022-03-19 13:34] r2c-demo commented on #4842
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1008/[internal]-flaky-ci-tests-regarding-registry.

[2022-03-19 13:35] aryx commented on #4842
see https://github.com/returntocorp/semgrep/runs/5608019614?check_suite_focus=true
see https://github.com/returntocorp/semgrep/pull/4833#issuecomment-1072964190

[2022-03-19 14:32] #4816 closed, assigned to aryx

[2022-03-19 16:21] caglarsayin opened #4994 "semgrep --debug options makes the scan --strict and fail the whole scan"
I am scanning a go project which has utf-8 characters and semgrep agent is falling as in the example below

`semgrep-agent --config p/security-audit --config p/secrets --baseline-ref master --json`

[code]

I went deeper in the issue and and run the semgrep as shown above and here is the output.

[code]

The root cause of this issue a utf-8 character in a GoLang source code but it is quite usual f

[2022-03-19 23:28] capc0 commented on #4683
using `returntocorp/semgrep:latest` the isse seems to be resolved!

can you confirm @cofonseca ?

---

edit: running rules via ubuntu wsl in docker is running fast now. running via docker in windows context is still slow.

[2022-03-21 08:25] malexmave opened #4847 ""Some filed were skipped. Scan was limited to files tracked by git" outside of Git repos and when no files were actually skipped"
**Describe the bug**
(Not sure if this is a bug report or a feature request). When scanning files outside of a Git repository, semgrep still outputs the warning "Some files were skipped. Scan was limited to files tracked by git." after running, even if a) I am not in a Git repository, and b) there weren't actually any files that were skipped. This is unintuitive and always makes me question if the

[2022-03-21 08:26] r2c-demo commented on #4847
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1012/some-filed-were-skipped-scan-was-limited-to-files-tracked-by-git.

[2022-03-21 09:08] Sjord opened #4848 "Detect PHP from the <?php opening tag"
PHP files often do not conform strictly to the convention of having .php as their extension. However, they do often start with `<?php` as the first rule. This is not a strict requirement, since HTML may precede the PHP opening tag. I suggest to interpret files that start with `<?php` (followed by whitespace) as PHP.

[Guess_lang.ml](https://github.com/returntocorp/semgrep/blob/develop/semgrep-core

[2022-03-21 09:08] r2c-demo commented on #4848
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1015/detect-php-from-the-php-opening-tag.

[2022-03-21 10:44] Sjord opened #4849 "Parse failure when parsing YAML with braces"
This fails to parse as YAML:

[code]

https://semgrep.dev/s/sjord:yaml-braces

[2022-03-21 10:44] r2c-demo commented on #4849
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1019/parse-failure-when-parsing-yaml-with-braces.

[2022-03-21 12:46] Sjord commented on #4849
Semgrep-core seems to use the [Ocaml YAML](https://github.com/avsm/ocaml-yaml) module, and that doesn't support this:

[code]

[2022-03-21 13:03] xmo-odoo commented on #3304
Yay.

It's not entirely clear what it does but I don't think so? Reading the issue it looks like a shortcut for `metavariable-pattern`, something along those lines? So an improvement in matching semantics?

But here the issue is not one of matching semantics, the matching semantics are completely fine, the issue is one of display rendering: when matching a pattern with a large amount of "dead spac

[2022-03-21 13:27] IagoAbal commented on #3304
I'll be adding some docs for #4735 soon but it somewhat relates to this, as it allows to "zoom in", and "focus" a match in a particular region of interest (bound by a metavariable).

I've been thinking about this and implementing it may not be difficult, I just don't know how it may affect performance. We should try. But also note that if you use taint-mode then Semgrep knows already what is a sou

[2022-03-21 14:38] xmo-odoo commented on #3304
Yeah that's pretty much why I used the terminology, I figured either this already existed for traint tracking (and it might be reusable) or it doesn't (and it might be useful there as well to explain the "taint flow").

That would mostly be for the same situation as the workaround you suggested where the start of the pattern is mostly static yeah? Or do you mean messages support metavariable expan

[2022-03-21 14:45] aryx commented on #4784
Note that semgrep-core now accepts such yaml file without the top rules: key.

[2022-03-21 14:55] IagoAbal commented on #3304
Yes, that's kind of what I mean. Messages already support metavariable expansion, but it has some limitations. I think e.g. you cannot print source code locations. We could make it "richer" in different ways, e.g. allowing to easily add a particular line of code (line info included). I find that could be a more general solution.

The only problem is that we _may_ need to extend the pattern syntax

[2022-03-21 14:59] aryx commented on #4779
Does this work now @IagoAbal ?

[2022-03-21 15:12] IagoAbal commented on #4779
Yeah, my bad, this should have been closed by #4792.

[2022-03-21 15:12] #4779 closed, assigned to mmcqd

[2022-03-22 11:51] #4841 closed, assigned to aryx

[2022-03-22 13:11] aryx opened #4855 "[HTML] missing newline for raw text between <script> tags"
[code]
This how the XmlText above contains "foo() bar() foo" without the newlines.

[2022-03-22 13:12] r2c-demo commented on #4855
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1024/[html]-missing-newline-for-raw-text-between-script-tags.

[2022-03-22 18:10] Ezzer17 opened #4858 "Scala class constructor calls do not work as taint sinks"
**Describe the bug**
Scala class constructor calls do not work as taint sinks

**To Reproduce**
https://semgrep.dev/s/ezzer17:constructor-taint-bug

**Expected behavior**
Match detected on attached playground

**What is the priority of the bug to you?**
P1: important to fix or quite annoying

**Use case**
Taint analysis with class constructors as sinks

[2022-03-22 18:11] r2c-demo commented on #4858
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1026/scala-class-constructor-calls-do-not-work-as-taint-sinks.

[2022-03-22 18:17] JosiahOne opened #4859 "`--test` doesn't behave properly if several rules have a period in their name."
**Describe the bug**
Given the following folder structure and files:

[code]

**To Reproduce**
Running tests via `semgrep --test`:

**Expected behavior**
One would expect that to fail with a single error (since the `# ruleid: all-origins-allowed` should be placed above the `allowed_origins` line. Instead though, you get two, apparently contradicting errors:

[code]

Also, if you change the test (t

[2022-03-22 18:17] r2c-demo commented on #4859
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1027/-test-doesnt-behave-properly-if-several-rules-have-a-period-in-their.

[2022-03-22 18:19] JosiahOne commented on #4859
Some Slack context: https://r2c-community.slack.com/archives/C0242656NQ2/p1647968260985419

[2022-03-22 18:32] colleend opened #4860 "Create an extra flag to print the number of rules ran and confusion matrix"
**Is your feature request related to a problem? Please describe.**
There are customers who want to benchmark semgrep using `--test`. For this, it would be convenient to generate a list of the number of FP, FN, TP, TN generated, along with printing the number of rules that ran.

Currently, if no rules are run and there are errors in the test file names, what is printed is `All tests passed`. We sho

[2022-03-22 18:33] r2c-demo commented on #4860
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1028/create-an-extra-flag-to-print-the-number-of-rules-ran-and-confusion.

[2022-03-23 00:57] underyx commented on #1437
Hi @javixeneize! It seems like we need to revert this change, and the docker image will use `USER root` again.

We want the semgrep image to work in GitHub Actions CI jobs, but that requires the root user, see: https://docs.github.com/en/actions/creating-actions/dockerfile-support-for-github-actions#user

Please let us know if you need any help adjusting a project of yours to this new behavior!

[2022-03-23 07:06] xmo-odoo commented on #3304
Oh TIL, I had no idea. That's good to know, and it does probably resolve most of the issue then (as long as one remembers to use `pattern-inside`), at least wrt reporting. Even if parts of the leading edge have to be copied into the message that's at least reasonably feasible.

[2022-03-23 08:35] #4301 closed, assigned to IagoAbal

[2022-03-23 09:30] #4855 closed, assigned to nobody

[2022-03-23 10:50] jtwebb opened #4864 "Autofix overwrites wrong lines if they multiline"
**Describe the bug**
Autofix overwrites the wrong lines if the lines to be replaced are multiline and the replacement text is not as many lines and there is more than one block to be fixed in the file. Similar to #4428.

**To Reproduce**
Create a document with several multiline blocks of code that will be replaced by a single line of code. Example: https://semgrep.dev/s/BGPA

**Expected behavior**

[2022-03-23 10:51] r2c-demo commented on #4864
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1030/autofix-overwrites-wrong-lines-if-they-multiline.

[2022-03-23 11:10] IagoAbal commented on #4689
I did some minimization: https://semgrep.dev/s/n9RY

If we want this to be fixed in semgrep-core, shouldn't we reopen this issue?

[2022-03-23 12:42] aryx opened #4865 "[Docker] Fix deep_exprstmt.TODO"
Now that multi-lines tokens are handled correctly in ocaml-tree-sitter-core, some docker tests are now failing,
probably because it made some wrong assumptions.

[2022-03-23 12:43] r2c-demo commented on #4865
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1031/[docker]-fix-deep-exprstmttodo.

[2022-03-23 12:48] aryx commented on #4864
@mmcqd maybe this a good issue to get started with understanding the current autofix code.
Note that the problem is probably python side.

[2022-03-23 13:46] 0xDC0DE opened #4866 "[Docker] environment variables can not be matched using metavariables in the ENV statement"
**Describe the bug**
I want to find the value of a environment variable declared with ENV
[code]
matches the line on my local version, but not in the playground.
https://semgrep.dev/s/pieterdc1:dockerfile-env-ellipse

<img width="1649" alt="image" src="https://user-images.githubusercontent.com/3809983/159712676-d7f20809-537b-4220-a392-31c17228ee06.png">

[code]
doesn’t match in either place

https

[2022-03-23 13:48] r2c-demo commented on #4866
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1032/[docker]-environment-variables-can-not-be-matched-using-metavariables.

[2022-03-23 16:00] #4667 closed, assigned to IagoAbal

[2022-03-23 16:22] #4725 closed, assigned to nobody

[2022-03-23 19:53] mackowski opened #4873 "C# namespaces and pattern-not-inside"
**Describe the bug**
I am playing with some custom rules for C# and I discovered that some rules do not work correctly if file contains namespace.

**To Reproduce**
This is an example rule:
[code]
When I try it on this example code:
[code]
I am receiving a finding:
[code]
When I use the same rule and I remove namespace aaa{ } - there is no findings

**Expected behavior**
No finding in both scenari

[2022-03-23 19:53] r2c-demo commented on #4873
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1033/c-namespaces-and-pattern-not-inside.

[2022-03-23 20:49] #4823 closed, assigned to aryx

[2022-03-24 05:43] mjambon commented on #4866
To parse a pattern, use `-dump_pattern` instead of `dump_ast`.

[2022-03-24 05:49] mjambon commented on #4866
@pieterdc1 I'll let you report this to the app team since it appears to be an issue with the live editor, possibly because the target file is named wrong (given the presence of the `include` filters).

[2022-03-24 07:34] 0xDC0DE commented on #4866
@mjambon

You are right. The first (ellipse not parsing in the playground) is an issue with the live editor.

However, the second (metavariables not working to verify the value of an environment variable) I think is a problem with semgrep.

The example with metavariables (https://semgrep.dev/s/pieterdc1:dockerfile-env-value) does not work on my machine locally either.

<img width="933" alt="image"

[2022-03-24 08:25] patpatpat123 opened #4874 "At line mvnw:220: `case "$key" in (wrapperUrl) jarUrl="$value"; break ;; esac` was unexpected"
Hello Team,

Thanks you for this very cool project.

Just wanted to report:

semgrep -f semgrep_rules/ --json --metrics=off
[WARN] Semgrep Core — Syntax errorAn error occurred while invoking the Semgrep engine. Please help us fix this by creating an issue at https://github.com/returntocorp/semgrepAt line mvnw:220: `case "$key" in (wrapperUrl) jarUrl="$value"; break ;;      esac` was unexpected

Co

[2022-03-24 08:26] r2c-demo commented on #4874
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1035/at-line-mvnw220-case-dollarkey-in-wrapperurl-jarurl=dollarvalue-break.

[2022-03-24 12:05] IagoAbal commented on #3921
One issue here is that `self` is being represented in Generic as `__special__self`.

[2022-03-24 12:47] IagoAbal commented on #3667
Another example in #3933.

[2022-03-24 12:51] IagoAbal commented on #3933
The issue with `.` seems to have been solved already, and the first issue is a duplicate of #3667.

[2022-03-24 12:51] #3933 closed, assigned to nobody

[2022-03-24 13:10] IagoAbal commented on #4826
You can achieve almost what you want with the experimental _symbolic propagation_ feature: https://semgrep.dev/s/Gbd2
[code]
If we resolved `Sprintf` to `fmt.Sprintf` we could make Semgrep recognize uses of `Sprintf` that evaluate to constant strings. But I don't think we should make `"$ARG"` match a string that is not constant, just because we know a constant _prefix_. We would need some new kind

[2022-03-24 14:20] carjessu-zerohash commented on #4701
Seems like the correct version is available now in PIP: https://pypi.org/project/semgrep/#modal-close, it's: `semgrep-0.85.0-cp37.cp38.cp39.py37.py38.py39-none-any.whl` which is also the one installed on my M1 mac when I run `pip3 install semgrep`. Does that mean we can get this fixed now @r2c-demo?

[2022-03-24 14:39] mtausig commented on #4826
Interesting workaround, thank you.
But I still find it not quite intuitive. When I am writing a sempgrep rule, I want to focus on the specific rule ("functions gets called with that parameter value") and not with specific implementation details. This would in fact bloat alot of current rules.

As for *string that is not constant*: Semgrep can already handle that, if the two parts are concatenated

[2022-03-24 14:56] 0xDC0DE opened #4875 "[Docker] Port value of `EXPOSE` is parsed as a String, not an integer."
**Describe the bug**
The value of the port after the `EXPOSE` keyword is parsed as a string.

It is my assumption that this is why the following rule with `metavariable-comparison` does not work:
https://semgrep.dev/s/pieterdc1:dockerfile-invalid-port

**To Reproduce**
<img width="955" alt="image" src="https://user-images.githubusercontent.com/3809983/159943285-3f6eac79-0225-4ae1-a8f4-918f81260aab

[2022-03-24 14:57] r2c-demo commented on #4875
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1036/[docker]-port-value-of-expose-is-parsed-as-a-string-not-an-integer.

[2022-03-24 15:04] carjessu-zerohash commented on #4311
@[brendongo](https://github.com/brendongo) That's: `semgrep-0.85.0-cp37.cp38.cp39.py37.py38.py39-none-any.whl`. It's referenced here: https://pypi.org/project/semgrep/#modal-close

[2022-03-24 15:18] IagoAbal commented on #4826
Yep, as I said, if the `Sprintf` truly evaluates to a constant string, we could handle that, as in this example:

[code]
But in this other example `arg` is not a constant string.
[code]
With _symbolic propagation_ you can handle the case of `f3` as well: https://semgrep.dev/s/KyxX

[2022-03-24 20:54] IagoAbal commented on #3939
I guess we should add the possibility to be more precise about what exactly is a source/sanitizer/sink. For this particular case, I have a proposal:

[code]

This would tell Semgrep that just the function `sink` is the sink, then it will not report that FP. This would work if _any_ argument of `sink` is a sink.

[2022-03-24 21:00] minusworld commented on #4509
Is it a good idea to allow someone to specify side-effectful regions which still propagate taint? That might be an easy way to permit this behavior on a case-by-case basis.

Another random idea I just had is to "chain" taint rules together, like source -> array.push(...), then array becomes a source for a new taint rule.

[2022-03-24 21:27] brendongo commented on #4693
User on slack confirmed that above commit fixed their issue.

[2022-03-24 21:27] #4693 closed, assigned to brendongo

[2022-03-24 21:55] mjambon commented on #4866
I didn't realize you were reporting two different problems. Next time, please file two separate issues.

[2022-03-24 22:04] mjambon commented on #4866
ok, so the pattern `ENV $K=whatever` isn't supported at the moment as you found out. If you go to this folder https://github.com/returntocorp/semgrep/tree/develop/semgrep-core/tests/dockerfile and do `git grep ENV`, you'll see the different test cases involving `ENV`. The [todo](https://github.com/returntocorp/semgrep/tree/develop/semgrep-core/tests/dockerfile/todo) folder contains the known bugs.

[2022-03-24 22:30] mjambon opened #4881 "dockerfile: `FROM img AS name` doesn't match `FROM img as name`"
`AS` is supposed to be case-insensitive but matching appears to be case-sensitive:

![image](https://user-images.githubusercontent.com/343265/160020688-1a5d118f-5316-47cf-a8ed-87b6764d91a2.png)

https://semgrep.dev/s/mjambon:as

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug tha

[2022-03-24 22:32] r2c-demo commented on #4881
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1037/dockerfile-from-img-as-name-doesnt-match-from-img-as-name.

[2022-03-24 22:50] mjambon commented on #4881
First findings:
* the tree-sitter parser doesn't seem to be parsing `FROM foo AS bar` correctly
* the ocaml translation to the generic AST ignores the AS part at the moment (the `AS` would have to be downcased for sure, but that's not even the issue yet)

[2022-03-25 06:44] xmo-odoo commented on #4746
![agree 2](https://user-images.githubusercontent.com/7571158/160068638-f0074589-83b9-46f9-b49a-ea9e379b1adb.png)

[2022-03-25 07:49] #4464 closed, assigned to IagoAbal

[2022-03-25 10:38] IagoAbal commented on #4670
Oh, it looked like a const-prop bug but actually it seems that const-prop is working well here. It seems like Semgrep never tries matching `"password"` against `"pass" "word"` and that's why there is no finding.

[2022-03-25 11:07] IagoAbal commented on #4670
This is caused by the Boom filter optimization, it works if you disable it. cc @aryx @emjin

I don't know if this would affect perf, but we should probably not be using string literals for the Bloom annotation. At least not with `constant_propagation: true`.

Or, maybe this is a good reason to add `e_svalue` to Generic `expr`. 😄 (This may also affect perf, but it's quite useful for const-prop!)

[2022-03-25 13:10] 0xDC0DE opened #4887 "[Dockerfile] Named ellipses would enable autofix for about half of the rules that it currently is not possible"
**Is your feature request related to a problem? Please describe.**
Named ellipses work in other languages but not in Dockerfile.

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.](https://semgrep.dev/s/pieterdc1:dockerfile-named-ellipses)

**Use case**
Enables autofix for many more cases where it is currently not possible.

[2022-03-25 13:11] r2c-demo commented on #4887
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1038/[dockerfile]-named-ellipses-would-enable-autofix-for-about-half-of-the.

[2022-03-25 14:02] Gby56 opened #4889 "Wrong encoding for --output url POST"
When scanning and POSTing the data to a simpleHTTPServer in python, semgrep cli fails to do so because it falls back to latin-1 instead of utf-8.
I managed to fix it myself by just adding `.encode('utf-8')` in this exact line, simple as that !

[code]

https://github.com/returntocorp/semgrep/blob/70e92da0626d8f893b846006b64418d84c9ee9fe/semgrep/semgrep/output.py#L372

[2022-03-25 14:04] r2c-demo commented on #4889
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1039/wrong-encoding-for-output-url-post.

[2022-03-25 17:34] enncoded opened #4891 "JS/TS: Metavariable binds too much when used with `$X. ... .$F` style pattern"
**Describe the bug**
I'm not sure what the exact issue is, but currently the rule only matches one of the test cases. Deleting the innermost `patterns` that has the `pattern-inside` and the `metavariable-regex` results in all of the test cases matching, which is the behavior I'm expecting.

**To Reproduce**
https://semgrep.dev/s/lejliu:ts-metavariable-regex-bug
Delete
[code]
and rerun the rule.

*

[2022-03-25 17:35] r2c-demo commented on #4891
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1040/jsts-pattern-inside-breaks-pattern-either-matching.

[2022-03-25 21:08] emjin commented on #4670
We're probably fine perf-wise without the bloom filter optimization so it's ok if we disable it...but personally I'd rather just add e_svalue to expr if that also helps constant propagation

[2022-03-26 19:49] bstpierre opened #4895 "named placeholder in generic language doesn't match "/""
Using a named placeholder in a pattern-inside with "generic" language matches a string without "/", but doesn't match when "/" is present.

**To Reproduce**

[code]

**Expected behavior**

I think it should match on both `<form>`s in the following code, but it only matches on the second one. Note that the second define-block doesn't contain a "/".

[code]

**What is the priority of the bug to you?

[2022-03-26 19:51] r2c-demo commented on #4895
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1041/named-placeholder-in-generic-language-doesnt-match.

[2022-03-26 21:02] bstpierre opened #4896 "go multiple return value matching"
**Describe the bug**
Patterns for Go multiple return values match more strictly than the argument list, which is confusing.

**To Reproduce**
Try to match any Go function that has `error` in the return type list. All six of these functions should match:

[code]

It seems like this should match: `pattern: func $F(...) (..., error, ...) {...}` but it doesn't. (It apparently only matches a function w

[2022-03-26 21:02] r2c-demo commented on #4896
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1042/go-multiple-return-value-matching.

[2022-03-26 21:06] bstpierre commented on #4896
This attempt at a workaround:

[code]

doesn't work because semgrep throws an error:

[code]

[2022-03-28 06:28] 0xDC0DE commented on #1218
The difference between `pattern` and `pattern-inside` is also important if you consider fixes. Fixes rewrite the match of `pattern`. So you can use `pattern-inside` to match the bad code, and `pattern` to match the part of the code you wish to rewrite:

![image](https://user-images.githubusercontent.com/3809983/160338777-4814db4c-3692-46a4-91ab-12b942c133e6.png)

[2022-03-28 08:44] 0xDC0DE opened #4897 "[Fix] Fix does not correctly format the code with multiple lines"
**Describe the bug**
When a fix is applied that rewrites code to multiple lines, the indentation of those additional lines is incorrect.

**To Reproduce**
https://semgrep.dev/s/ALj8
https://semgrep.dev/s/pieterdc1:a5w0

**Expected behavior**
Indentation of the code should be correct after applying the fix.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or

[2022-03-28 08:45] r2c-demo commented on #4897
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1043/[fix]-fix-does-not-correctly-format-the-code-with-multiple-lines.

[2022-03-28 12:03] bstpierre commented on #4895
Sorry for the noise, I realized later that this is intentional. I had missed this bit in the `generic` docs:

[2022-03-28 12:03] #4895 closed, assigned to nobody

[2022-03-28 12:20] 0xDC0DE opened #4900 "[Fix] Fix preview is incorrect when using `fix-regex`"
**Describe the bug**
It previews the regex itself as a string instead of the matched string.

It is previewed correctly on the playground.

**To Reproduce**
https://github.com/returntocorp/semgrep-rules/blob/develop/python/jinja2/security/audit/autoescape-disabled.yaml

**Expected behavior**
Preview should match actual behaviour of the fix

**Screenshots**
<img width="815" alt="image" src="https:/

[2022-03-28 12:21] r2c-demo commented on #4900
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1045/[fix]-fix-preview-is-incorrect-when-using-fix-regex.

[2022-03-28 12:45] 0xDC0DE commented on #4900
Probably related. When `focus-metavariable` is used a similar problem occurs. Autofix preview in CLI is incorrect. Autofix behavior is correct. Preview in the playground is also correct.
<img width="780" alt="image" src="https://user-images.githubusercontent.com/3809983/160400514-082c706e-f8cb-466f-bccb-da68c80acb68.png">

https://semgrep.dev/s/pieterdc1:autofix-metavar-focus

[2022-03-28 18:18] emjin commented on #4897
Looks like duplicate of https://github.com/returntocorp/semgrep/issues/3070

[2022-03-28 18:18] emjin commented on #4897
(Yes...it's been a while 😅)

[2022-03-28 18:18] #4897 closed, assigned to nobody

[2022-03-28 18:32] emjin commented on #4891
It's because $DB is binding to `db.orders` instead of `db`

[2022-03-28 19:43] mattbrandman opened #4906 "Tests with generic language and double brackets cause failure error outputs"
**Describe the bug**
When a user has a generic rule and the test case has double brackets in it, failure of the test case will return an incorrect error

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:
https://semgrep.dev/s/mattbrandman:test

setup the rule and test file in appropriate directories according to test documentation then run the tests the error

[2022-03-28 19:44] r2c-demo commented on #4906
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1047/tests-with-generic-language-and-double-brackets-cause-failure-error.

[2022-03-28 21:48] ben-elttam commented on #4794
I hit this issue on semgrep 0.86.5, attr 21.4.0, Alpine Linux 3.15.0

# Fixed

There was something wrong with my `attrs` install. Before installing it `import attrs` would fail.
Reinstalling it fixed the issue.

## Before
[code]

## After
[code]

[code]

[code]

# Problem
## semgrep  `attrs` module error traceback

[code]

## Python version

[code]

## semgrep 0.86.5 and attrs 21.4.0

[code]

## S

[2022-03-29 00:23] underyx commented on #4794
Thanks for the diligent report @ben-elttam!

[2022-03-29 08:26] #4858 closed, assigned to mmcqd

[2022-03-29 09:59] vmarkovtsev opened #4910 "TypeError when run 0.86.3"
I caught a blocking error in 0.86.3
CI: https://github.com/athenianco/athenian-api/runs/5718170879?check_suite_focus=true
[code]

[2022-03-29 10:00] r2c-demo commented on #4910
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1048/typeerror-when-run-0863.

[2022-03-29 16:45] minusworld opened #4913 "Support regular expression capture groups in metavariable-regex"
**Is your feature request related to a problem? Please describe.**
In `pattern-regex`, you can use `$1`, `$2` like normal metavariables but for regex capture groups. It would be awesome to have this replicated in `metavariable-regex` too.

This request is coming from this example, https://semgrep.dev/s/Jwjo, where a user wants to capture the part of the string following `okta:`. Using `pattern-reg

[2022-03-29 16:46] r2c-demo commented on #4913
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1049/support-regular-expression-capture-groups-in-metavariable-regex.

[2022-03-29 21:06] emjin commented on #4910
The current latest is 0.86.5 (0.86 was a big shift in terms of how we run semgrep in CI, so despite our best efforts we had to release some patches). Would you mind checking if this error persists in 0.86.5?

[2022-03-29 22:04] stevendpclark opened #4917 "Go parsing failure "Found unexpected raw string literal without delimiters""
**Describe the bug**
While running semgrep 0.86.5, or any 0.86.x version we get the following error
[code]

**To Reproduce**
Run semgrep against the following test.go file

[code]

As a workaround, the following code does do the same thing and passes semgrep

[code]

**Expected behavior**
The code snippet should pass and not generate the failure like 0.85.0 seems to. Possibly related to the fix wi

[2022-03-29 22:06] r2c-demo commented on #4917
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1050/go-parsing-failure-found-unexpected-raw-string-literal-without.

[2022-03-29 22:12] brendongo commented on #4910
We fixed this in 0.86.5 https://github.com/returntocorp/semgrep/commit/ea7c954e954bd1b8034b36ab91b31a2071fcbeb7#diff-65d26b773523b71e73b4aa4af255e1430a6ce86744ce9c84e72e3c53ce5e583eR132

[2022-03-29 22:17] emjin commented on #4874
Hi, can you share a snippet of code where this occurs?

[2022-03-29 22:19] emjin commented on #4873
@aryx I think you said this wasn't a bug?

[2022-03-29 22:51] kurt-r2c opened #4918 "Incorrect handling of ellipsis metavariables in `semgrep --validate`"
**Describe the bug**
Rules with ellipsis metavariables incorrectly fail `semgrep --validate` checks.  This is blocking porting of Brakeman rules to Semgrep.

**To Reproduce**
https://semgrep.dev/s/returntocorp:check-reverse-tabnabbing
https://github.com/returntocorp/semgrep-rules/runs/5699132997?check_suite_focus=true

**Expected behavior**
Ellipsis metavariable usage here is (unfortunately) neces

[2022-03-29 22:52] r2c-demo commented on #4918
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1051/incorrect-handling-of-ellipsis-metavariables-in-semgrep-validate.

[2022-03-30 07:22] aryx commented on #4873
yes, not sure if it's a bug. ... can mean 0 or more, so the ... InvokeStaticMethod ... could be match to just
the invokeStaticMethod statement, and then there for sure using Test; is not in the range of this invokeStaticMethod single statement.

[2022-03-30 07:26] ievans commented on #4910
Thanks for the report @vmarkovtsev !

[2022-03-30 07:26] #4910 closed, assigned to nobody

[2022-03-30 07:26] aryx commented on #4873
I guess it depends how we quantify the pattern-not-inside, with an exists, or a forall.

[2022-03-30 07:38] vmarkovtsev commented on #4910
Thanks for a quick fix as usual! I'll upgrade to the latest version when dependabot PRs next week 👍

[2022-03-30 11:49] Dmaddu opened #4923 "Cannot run `semgrep ci` while logged in and with explicit config"
**Describe the bug**
Hello there,
we use semgrep ci in buildkite pipeline, and we are getting below error with recent docker image
'returntocorp/semgrep-agent:v1'
sha256:3870c12573d2bf4a0a22de79ef4ffcaf92373576e166fddcfb06809966045037

=== Running: SEMGREP_BASELINE_COMMIT=XXXXXX. SEMGREP_RULES=.semgrep semgrep ci
  | Cannot run `semgrep ci` while logged in and with explicit config. Use semgrep.dev

[2022-03-30 11:50] r2c-demo commented on #4923
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1052/cannot-run-semgrep-ci-while-logged-in-and-with-explicit-config.

[2022-03-30 16:33] emjin commented on #4918
Fix should go out in next release

[2022-03-30 16:33] #4918 closed, assigned to nobody

[2022-03-30 21:31] colleend opened #4926 "Generic mode pattern-not-inside not filtering out hashtags"
**Describe the bug**
In generic mode, trying to filter out potential comments that start with `# ` using `pattern-not-inside` results in matches still.

**To Reproduce**
https://semgrep.dev/s/8kgB

I would expect the line 11 to not match (it currently matches).

**Expected behavior**
Would expect the inclusion of `pattern-not-inside` to result in filtering of all comment-like cases.

**What is the

[2022-03-30 21:32] r2c-demo commented on #4926
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1055/generic-mode-pattern-not-inside-not-filtering-out-hashtags.

[2022-03-30 22:29] underyx commented on #4923
Hi @Dmaddu! Sorry about the breakage here. We've fixed this issue here, and you can now unpin your Docker image: https://github.com/returntocorp/semgrep-action/pull/551

Please unpin as early as possible, because we scheduled an update of the p/secrets ruleset for tomorrow PST morning, which will not be compatible with older versions of semgrep. (The p/secrets ruleset will use string entropy calcu

[2022-03-30 22:29] #4923 closed, assigned to nobody

[2022-03-31 09:13] Gh0u1L5 opened #4932 "Typed Metavariable Support for Kotlin"
**Is your feature request related to a problem? Please describe.**
No, this is just an enhancement for Kotlin. So that many Java rules can be migrated to a Kotlin rule set more easily.

**Describe the solution you'd like**
Typed metavariables in Kotlin, just like `(String $X)` in Java.

**Describe alternatives you've considered**
I've considered rules like
[code]
However, there are many edge cases

[2022-03-31 09:14] r2c-demo commented on #4932
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1083/typed-metavariable-support-for-kotlin.

[2022-03-31 20:44] raianul commented on #4701
any update ? suffering this issue lot

[2022-03-31 21:22] raianul commented on #2565
any update? any work around? suffered lot.

[2022-03-31 21:23] raianul commented on #2252
Hello Can we have a update on this?

[2022-03-31 21:54] pranto157 commented on #2432
Hi I am having this issue with my new M1. Any idea how can I fix it?

[2022-03-31 22:28] raianul commented on #2432
@brendongo

I am running with - MacOs Monterey
M1 Chip

After try all the option still getting error -

[code]

[2022-03-31 23:02] raianul commented on #2432
[code]

[2022-03-31 23:18] raianul commented on #4701
after installing with brew its working in the terminal but getting the same error for pre-commit

[code]

[2022-04-01 06:46] raianul commented on #4311
after installing with brew its working in the terminal but getting the same error for pre-commit

[code]

[2022-04-01 08:04] 0xdea opened #4939 "Lack of support for switch statement in C/C++"
I'm trying to create a Semgrep rule for C/C++ to match the pattern described in:

CWE-478: Missing Default Case in Switch Statement)
https://cwe.mitre.org/data/definitions/478

For instance, the following pattern generates an error:
[code]

I tried different variations, and it looks like switch statements in C/C++ are not currently supported by Semgrep. Am I missing something?

[2022-04-01 08:04] r2c-demo commented on #4939
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1086/lack-of-support-for-switch-statement-in-cc.

[2022-04-01 08:26] Pamplemousse opened #4940 "Consider caching parsing result"
**Is your feature request related to a problem? Please describe.**

On a big codebase, a lot of time is spent parsing. It makes it painful to use `semgrep` for quick searches, and prototyping rules.

[code]

**Describe the solution you'd like**

It would be awesome if there were some caching of the AST once the parsing is done. Cache keys should be the hashes of files' content.

Caching should be

[2022-04-01 08:27] Pamplemousse commented on #4940
Interestingly, excluding the file that ate 11s seems to reduce parsing by the same amount, but only reduces the overall time by 1s; Not sure parsing is the only thing to blame for the slowness here...

[code]

[2022-04-01 08:28] r2c-demo commented on #4940
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1087/consider-caching-parsing-result.

[2022-04-01 09:00] aryx commented on #4940
cc @emjin

[2022-04-01 12:03] mackowski commented on #4873
but why the result is different for
[code]

and for
[code]

[2022-04-01 17:38] ievans commented on #4939
Definitely a bug: https://semgrep.dev/s/4kR8

Note C/C++ support is still in experimental. But thanks for reporting!

[2022-04-01 18:58] brendongo commented on #2565
Hey @pranto157 releasing a version that works on 32-bit architecture is not a priority for us right now. Workaround would be to try and build semgrep from source? https://semgrep.dev/docs/contributing/semgrep-core-contributing/#building-semgrep-core

[2022-04-01 19:01] emjin commented on #4940
Just to help you understand why the numbers don't quite add up: semgrep-core is run in parallel, but the parse vs match time is reported as if it were run on one core. So even though the semgrep-core total CPU time is 24 seconds, that might only be 8 seconds in practice.

[2022-04-01 19:03] brendongo commented on #2432
@pranto157 looks like on the first one you are running in a pre-commit context so not sure what is going on there but homebrew compiles on ARM so it is possible the pre-commit context is trying to emulate x86

The second looks like running in pyenv was this virtualenv running in rosetta? I would expect a pip install semgrep on M1 to only work if x86 emulation is on.

[2022-04-01 19:03] brendongo commented on #2252
We have ARM release supported current penciled in for mid May potentially

[2022-04-01 19:16] emjin commented on #4940
What's probably taking a long time is getting the files, which we've noticed is slow. We definitely want to optimize that, but it's not a priority right now. A workaround you can use, if all you're changing is the content of your rules, is to run

`semgrep --config [your_config] . --dump-command-for-core`

This will output the semgrep-core command semgrep runs. You can change the content of your r

[2022-04-02 00:17] brendongo commented on #4701
@carjessu-zerohash not quite. If pre-commit is installed and run in rosetta I think this will work correctly as it will use the x86 semgrep binary but if pre-commit is installed without x86 emulation it will not work correctly since we do not yet have an ARM compatible binary published to pip

[2022-04-02 07:19] fropert commented on #3428
Interested in this feature at semgrep-level to parse redis configuration. It uses '#' shell comment-style.

[2022-04-02 09:16] ceefour commented on #2368
Agree with @dkasak ! Please add metavariable-not-regex and metavariable-pattern-not

[2022-04-03 21:52] huonw opened #4946 "Python's Relaxing Grammar Restrictions On Decorators (PEP 614) is not supported"
**Describe the bug**

https://peps.python.org/pep-0614/ (in Python 3.9, released 2020-10-05) generalises Python decorator syntax from `@a.b.c(any, arguments[here])` to accept most expressions, like `@foo[0].bar`. It seems semgrep currently rejects any file that contains this syntax:

[code]

**To Reproduce**

Have any Python file (not rule) that contains a decorator using the relaxed syntax. No ru

[2022-04-03 21:54] r2c-demo commented on #4946
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1090/pythons-relaxing-grammar-restrictions-on-decorators-pep-614-is-not.

[2022-04-04 12:02] hugonh opened #4947 "ModuleNotFoundError: No module named resource - Windows 10"
**Describe the bug**
Can't start Semgrep Windows 10

**To Reproduce**
1. pip install semgrep
2. semgrep

**Expected behavior**
Start application, but doesn't

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/12383980/161539703-72072a38-d63c-4f3e-8c7c-121512846fe4.png)

**What is the priority of the bug to you?**

- [x]

[2022-04-04 12:03] r2c-demo commented on #4947
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1093/modulenotfounderror-no-module-named-resources-windows-10.

[2022-04-04 16:23] ievans commented on #4947
hello @hugonh, is this under WSL or regular Windows? Unfortunately, we don't officially support either use case but I think many people have been able to use Semgrep under WSL

[2022-04-04 16:26] kurt-r2c opened #4948 "Ruby "unless" modifier not correctly supported for functions"
**Describe the bug**
The `unless` modifier should parse correctly when using a hash as the final argument of a function, e.g. `function_name $ARGS unless: $CONDITION` is a valid Ruby construction but does not parse correctly.

See: https://rubystyle.guide/#no-dsl-decorating

**To Reproduce**
https://semgrep.dev/s/returntocorp:unless-function-modifier-error

**Expected behavior**
Construction shoul

[2022-04-04 16:28] hugonh commented on #4947
Hello!
I found this under regular Windows, the **Resource** module is likely recognized as Unix system module, I already tried to install this module manually.
Now i'm using only on Linux VM

[2022-04-04 16:28] r2c-demo commented on #4948
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1094/ruby-unless-modifier-not-correctly-supported-for-functions.

[2022-04-04 16:32] kurt-r2c opened #4950 "Ruby parser does not support arrow lambdas"
**Describe the bug**
Ruby parser doesn't support the ` -> {...}` lambda construction introduced in Ruby 1.9
https://docs.ruby-lang.org/en/2.7.0/Proc.html#class-Proc-label-Creation

**To Reproduce**
[Steps to reproduce the behavior, ideally a link to https://semgrep.dev:](https://semgrep.dev/s/returntocorp:dash-rocket-parse-error)

**Expected behavior**
Ruby parser should support ` -> {...}` lambda

[2022-04-04 16:34] r2c-demo commented on #4950
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1095/ruby-parser-does-not-support-arrow-lambdas.

[2022-04-04 21:31] nbrahms commented on #4947
@hugonh which version of python are you using?

[2022-04-04 21:40] hugonh commented on #4947
python 3.10

[2022-04-04 22:33] nbrahms commented on #4947
🤔 I think this has something to do with changes to standard modules in Python as a function of version.

Things I can think of to try (barring a repro on our side, in which case I could try locally):
- Run using a Python 3.9 virtual environment (obtainable with `pyenv`, `pipenv`, or `poetry`)
- If you already have Python 3.9, explicitly call Semgrep using your Python 3.9 executable (`$ python3.9 $

[2022-04-04 22:34] nbrahms commented on #4947
cc @brendongo b/c I think you've seen this before?

[2022-04-04 22:35] nbrahms commented on #4947
This is the closest thing I could find: https://github.com/returntocorp/semgrep/pull/4224

[2022-04-04 22:53] parsiya opened #4951 "CLI switch to disable color output"
**Is your feature request related to a problem? Please describe.**
If we are running Semgrep in a TTY, the text output will have color codes (json and sarif are not affected).

**Describe the solution you'd like**
I propose a switch to disable this color output.

The switch `--no-force-color` does not disable color output, it just disables forcing the color. I thought it just disables the color.

[2022-04-04 22:54] r2c-demo commented on #4951
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1103/cli-switch-to-disable-color-output.

[2022-04-04 22:58] underyx commented on #4951
We actually have a draft PR open for this already! https://github.com/returntocorp/semgrep/pull/4742

[2022-04-04 23:12] hugonh commented on #4947
Installed pipenv and module Resource, tried pipenv run semgrep, with 3.9, same error
![image](https://user-images.githubusercontent.com/12383980/161647325-64f5d14e-5380-496b-8be6-844ccd764d68.png)

[2022-04-04 23:23] parsiya commented on #4951
Awesome, will it also be accompanied with a switch sometime?

[2022-04-05 07:18] 0xDC0DE commented on #4887
I found another usecase for Named Ellipses in Dockerfile: Matching a shell command in the argument of `RUN`.

Matching the shell command `apk upgrade` in Bash works:
https://semgrep.dev/s/pieterdc1:apk-upgrade

Matching the shell command `apk` in `metavariable-pattern` with Docker works:
https://semgrep.dev/s/pieterdc1:dockerfile-apk

But matching `apk upgrade` in `metavariable-pattern` with Docke

[2022-04-05 11:18] crazyfermions opened #4955 "Rule ids convertible to integer are cast to floats"
**Describe the bug**
Test execution fails for rules
1. if the rule id is convertible to integer, e.g. '1023225'
2.  AND if they are in a subdirectory which also happens to be compatible to be an integer as well (e.g. also '1023225').

The rule is apparently parsed to `<folder>.<ruleid>`, interpreted as a float and then rounded resulting into a key error, e.g. here '1023225.1032'. The bug can be av

[2022-04-05 11:19] r2c-demo commented on #4955
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1104/rule-ids-convertible-to-integer-are-cast-to-floats.

[2022-04-05 16:27] underyx opened #4956 "[dockerfile] cannot parse RUN instruction with "\ \n #" in it"
**Describe the bug**

on

[code]

which I verified can build correctly with `pbpaste | docker build -`

**To Reproduce**

https://semgrep.dev/s/w4JX

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

[2022-04-05 16:27] r2c-demo commented on #4956
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1109/[dockerfile]-cannot-parse-run-instruction-with-\-\n-in-it.

[2022-04-05 16:28] Raz0r opened #4957 "Fatal error on Solidity parsing"
**Describe the bug**
There is a fatal error when parsing the following [Solidity smart contract](https://raw.githubusercontent.com/tintinweb/smart-contract-sanctuary-arbitrum/master/contracts/mainnet/36/36cac50f3f3aa643b01618189eef94c613b347fe_HoneyRewards.sol) with the following rule: `$OBJ.current($ARG1, $ARG2, $ARG3);`
[code]

**To Reproduce**

https://semgrep.dev/s/bWzr

**Expected behavior**

[2022-04-05 16:29] r2c-demo commented on #4957
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1110/fatal-error-on-solidity-parsing.

[2022-04-05 16:46] ievans commented on #4955
Great bug report @crazyfermions, thank you!

[2022-04-05 17:25] #4199 closed, assigned to brendongo

[2022-04-06 09:22] Raz0r commented on #4957
Minimal code for reproduction:

[code]

Minimal rule: `$OBJ.call(...)`

The two critical parts:
1) `unchecked` keyword is not supported, if I remove it the fatal error goes away
2) message " transfer " in `require()` weirdly causes fatal error, if I change the text there is no error.

[2022-04-06 10:19] QuentinN42 commented on #4847
I think I've the same problem :
**Environment:**
Docker image `returntocorp/semgrep:4f07d9e468ee7a02bd61febebee163be4a1b3ee8`

[code]

But there is some git files :

[code]

[2022-04-06 10:21] QuentinN42 commented on #4847
Arg, this is working if I bind my volume on the path `/src/` ...

[2022-04-06 11:58] 0xDC0DE opened #4963 "[Fix] Metavariable ellipsis not correctly copied with autofix"
**Describe the bug**
A rather simple, straightforward rule results in weird behaviour after applying the autofix:

[code]

[code]
Is corrected to
[code]

**To Reproduce**
https://semgrep.dev/s/pieterdc1:autofix-incorrect

**Expected behavior**
This feels like a straightforward autofix.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [X] P1: i

[2022-04-06 12:00] r2c-demo commented on #4963
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1111/[fix]-metavariable-ellipsis-not-correctly-copied-with-autofix.

[2022-04-06 12:09] 0xDC0DE opened #4964 "[Fix] Metavariable ellipses sometimes match nothing. In a fix it can be necessary to know this."
**Is your feature request related to a problem? Please describe.**
Sometimes metavariable ellipses (`$...ARGS`) match an empty string. When writing a fix, this is necessary to know. For example, when matching (optional) arguments in a function call, when an empty string is matched, a comma less is needed.

Example rule where this is the case:
https://semgrep.dev/s/pieterdc1:autofix-metavariable-el

[2022-04-06 12:10] r2c-demo commented on #4964
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1112/[fix]-metavariable-ellipses-sometimes-match-nothing-in-a-fix-it-can-be.

[2022-04-06 14:39] IagoAbal commented on #4964
We could make autofix automagically remove `, $...X` from the fix when `$...X` is empty. Although this would be quite a hack and could lead to surprises, the fact is that autofix doesn't know the syntax of the target language. We would need to implement autofix in semgrep-core to make it syntax-aware. Do you have experience implementing syntax-aware fixing @pieterdc1 ? IIRC @mmcqd was going to loo

[2022-04-06 16:17] kurt-r2c opened #4965 "Taint mode does not handle conditional assignment in Ruby correctly"
**Describe the bug**
Ruby supports conditional assignment:

[code]

**To Reproduce**
A minimal example is here: https://semgrep.dev/s/ALK6
This functionality is required to port a Brakeman rule correctly based on this set of test cases: https://semgrep.dev/s/returntocorp:check-symbol-dos

**Expected behavior**
Taint should propagate through conditional assignment.

**Screenshots**
N/A

**What is t

[2022-04-06 16:18] r2c-demo commented on #4965
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1118/taint-mode-does-not-handle-conditional-assignment-in-ruby-correctly.

[2022-04-06 18:32] #4951 closed, assigned to nobody

[2022-04-06 21:28] ahickey-sfdc commented on #3699
Bumping to keep this on radar.  (would like --vim and --sarif)

[2022-04-06 21:31] ahickey-sfdc commented on #3699
Should this be tracked in https://github.com/returntocorp/semgrep/issues/3019?

[2022-04-07 01:18] enncoded opened #4971 "Squiggly bracket object destructuring and importing not supported for Javascript and Typesecript"
**Describe the bug**
Using the squiggly bracket notation to specify multiple objects for an import or for destructuring results in a Semgrep Core error. This issue occurs when using metavariables as well as when manually specifying the variable names to match.

**To Reproduce**
https://semgrep.dev/s/enncoded:js-squiggly-bracket-test
Isolating each of the patterns will result in an engine error.

*

[2022-04-07 01:19] r2c-demo commented on #4971
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1119/squiggly-bracket-object-destructuring-and-importing-not-supported-for.

[2022-04-07 05:38] ievans commented on #3699
Oops, that's what I meant to do @ahickey-sfdc. Let's track in #3019 which is the more general version of this.

[2022-04-07 05:38] #3699 closed, assigned to nobody

[2022-04-07 09:55] Raz0r commented on #4957
I have figured out that Solidity tree-sitter grammar has a draft fix for this: https://github.com/JoranHonig/tree-sitter-solidity/pull/26
When this pull request is merged and new grammar is incorporated in semgrep, this issue will be resolved.

[2022-04-07 11:42] JagadeeshReddy1 opened #4974 "semgrep.dev bug report"
https://semgrep.dev/s/AL7L

[2022-04-07 11:43] r2c-demo commented on #4974
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1120/semgrepdev-bug-report.

[2022-04-07 15:56] #4770 closed, assigned to mjambon

[2022-04-07 16:03] Ezzer17 opened #4975 "[scala] Functions do not work as taint sinks"
**Describe the bug**
Simple functions do not work as taint syncs, even though they should.

**To Reproduce**
https://semgrep.dev/s/ezzer17:simple-function-sink-2
If you remove the `return`, it works

**Expected behavior**
Rule has one match

**What is the priority of the bug to you?**

- P1: important to fix or quite annoying

[2022-04-07 16:04] r2c-demo commented on #4975
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1121/[scala]-functions-do-not-work-as-taint-sinks.

[2022-04-07 18:04] LewisArdern opened #4976 "metavariable-comparison shows variable verses integer value"
**Describe the bug**
The metavariable-comparison correctly detects that the $VALUE < NUMBER but in the message it fails to output the number just the variable. Many people use the message to capture this type of information for encryption and other factors, so its pretty important that we have the expected value inside the message.

**To Reproduce**
* Many pattern-insides https://semgrep.dev/s/xPj

[2022-04-07 18:06] r2c-demo commented on #4976
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1122/metavariable-comparison-shows-variable-verses-integer-value.

[2022-04-07 20:33] JosiahOne opened #4978 "semgrepignore does not ignore explicitly passed in targets"
**Describe the bug**
Given:

[code]

**To Reproduce**

If you run semgrep and give is the current directory as the target, the semgrepignore works as expected:

[code]

But if you explicitly pass in test.js, the ignore is skipped (even though the output still claims it was ignored):

[code]

**Expected behavior**
It should ignore the file just like it does if you ignore the directory.

**What is t

[2022-04-07 20:34] r2c-demo commented on #4978
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1123/semgrepignore-does-not-ignore-explicitly-passed-in-targets.

[2022-04-07 20:40] JosiahOne commented on #4978
Applied some delta debugging and found this bug was introduced in version 0.85.0 of semgrep. 0.84.0 behaved as expected.

[2022-04-07 22:11] ievans commented on #4978
hi @JosiahOne, @brendongo can clarify but I believe this is expected behavior (except for the incorrect output). Can you share more about why you are passing targets to Semgrep explicitly / how are you using Semgrep in CI? (separate: have you seen the docs on the new `semgrep ci` subcommand that supports running on new `git diff` files natively?)

[2022-04-07 22:12] tapdiego-amzn commented on #4281
Hi, wondering if there's any news on this?

[2022-04-07 22:54] efortuna opened #4980 "Developer Feedback "send comment" button should take you somewhere"
**Describe the bug**
I hit "not helpful" in github, get taken to the Semgrep page asking for feedback. Type in feedback, and hit "send comment." Hitting that button should change what's on the page to no longer show a text box, so that I can't submit feedback multiple times (and so it's clear it's been accepted)

**To Reproduce**
hit "not helpful" in github, get taken to the Semgrep page asking fo

[2022-04-07 22:55] r2c-demo commented on #4980
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1125/developer-feedback-send-comment-button-should-take-you-somewhere.

[2022-04-07 23:05] efortuna opened #4981 "Developer Feedback title and text should be more informative"
**Is your feature request related to a problem? Please describe.**
when I click "not helpful" on an inline comment on github, I'm taken to the semgrep page for me to type my feedback. (example page: https://semgrep.dev/issue-sentiment-response?deploymentId=1&hash=54bd08a25f13bedc54930fb5ca886bef48324628b3957dbe90b41c4dd02d6da2&sentiment=bad&issueId=2501623) "Thanks for your feedback" is a bit conf

[2022-04-07 23:07] efortuna commented on #4980
Ooh, better thought -- the "send comment" takes you back to the github page you were originally on.

[2022-04-07 23:07] r2c-demo commented on #4981
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1126/developer-feedback-title-and-text-should-be-more-informative.

[2022-04-07 23:57] LewisArdern opened #4982 "Error running r2c-internal-project-depends-on on version 0.86.5 Semgrep"
**Describe the bug**
When attempting to run r2c-internal-project-depends-on on version 0.86.5 it throws the following error:

[code]

**To Reproduce**
Run the following rule https://github.com/returntocorp/semgrep-rules/blob/1ab17a13a15979c24aad362861fd3878a5424192/javascript/express/security/audit/check-outdated-sanitize-html.yaml

[code]

package.json
[code]
test.js
[code]

**Expected behavior**

[2022-04-07 23:58] r2c-demo commented on #4982
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1127/error-running-r2c-internal-project-depends-on-on-version-0865-semgrep.

[2022-04-08 11:32] utkusen opened #4984 "Can't run scans due to: "Additional properties are not allowed ('metavariable-analysis' was unexpected)" error"
**Describe the bug**
When I run a scan with `auto`, `owasp-top-ten`, `r2c-security-audit` or `r2c-ci` configs, the following error occurs:

[code]

**To Reproduce**
Run a scan with the mentioned rules. For example: `semgrep --config=p/owasp-top-ten`

**What is the priority of the bug to you?**

- [X] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [

[2022-04-08 11:33] r2c-demo commented on #4984
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1132/cant-run-scans-due-to-additional-properties-are-not-allowed.

[2022-04-08 14:11] JosiahOne commented on #4978
Hi @ievans ! Thanks for providing some context here. I checked the release notes for 0.85.0 and see what you mean. Looks like this was an intentional behavior change.

I do want to provide some feedback that making such behavior changes _by default_, especially in cases where the result could mean failing CI jobs, isn't a great experience for us end-users. Regardless of whether it was expected or

[2022-04-08 15:09] LewisArdern opened #4985 "Match expressions against type casts of the expression"
**Describe the bug**
The following example https://semgrep.dev/s/Ky2L uses an ```as type``` syntax which should be caught under the pattern:
[code]
It fails to do so, you have to write https://semgrep.dev/s/ZPwp which should not be necessary:
[code]

**To Reproduce**
Failing issue: https://semgrep.dev/s/Ky2L
Current solution: https://semgrep.dev/s/ZPwp

**Expected behavior**
The ```...``` operator

[2022-04-08 15:11] r2c-demo commented on #4985
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1133/typescript-does-not-catch-as-type-via-pattern.

[2022-04-08 15:38] nbrahms commented on #4947
@hugonh I tracked this down... this is a library that is UNIX-specific.

I'll turn this into a ticket to guard usage of this library for Windows. However, our Windows support is still in an experimental / alpha state, which means it may be quite a few releases before we're able to make this work for you.

I know this probably isn't what you want to hear, but we unfortunately do have to focus our e

[2022-04-08 15:51] nbrahms commented on #4985
Note that the solution should apply to type casts regardless of language:

E.g.

[code]
in C / Java

[code]
in Scala

[2022-04-08 15:53] nbrahms commented on #4985
@LewisArdern as a workaround, please try

[code]

[2022-04-08 15:59] nbrahms commented on #4985
@IagoAbal is this fixed by symbolic propagation?

[2022-04-08 16:01] nbrahms commented on #4985
@IagoAbal I think this should be matched by symbolic prop.

Cf. https://semgrep.dev/s/lWqG.

[2022-04-08 16:12] nbrahms commented on #4875
@pieterdc1 I think you can just use a few options on `metavariable-comparison`:

https://semgrep.dev/s/Y4lo

[2022-04-08 16:57] ievans commented on #4978
@JosiahOne thanks for the great writeup and gracious communication! I've broadcast your commentary to our entire engineering team.

100% agree that would ought to do a better job of communicating breaking changes like this. I think normally we do a bit better--but in recent releases we have been porting the entire Semgrep CI wrapper (https://github.com/returntocorp/semgrep-action) directly into th

[2022-04-08 17:26] nbrahms commented on #4974
Hi @JagadeeshReddy1 ,

I think you just had a syntax error in your yaml. Sometimes it can be easier just to use the simple pattern editor. I did that to get:

https://semgrep.dev/s/XWq4

[2022-04-08 17:26] nbrahms commented on #4974
Please reopen if this didn't solve your issue!

[2022-04-08 17:26] #4974 closed, assigned to nobody

[2022-04-08 17:52] Priyadhana opened #4987 "To disable Registry rule metrics, use "--metrics=off"."
I am using semgrep in a jenkins stage. The build fails due to this error.

![image](https://user-images.githubusercontent.com/48547351/162495097-b4b34b3f-2ca7-46d9-ba12-f3f7db66a45b.png)

I have tried adding --metrics=off and metrics off to semgrep, But it still throws the same error. Not sure what am I missing.

**Jenkins Stage:**

semgrep_result = sh (script: "semgrep --config=p/ci --metrics off

[2022-04-08 17:53] r2c-demo commented on #4987
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1134/to-disable-registry-rule-metrics-use-metrics=off.

[2022-04-08 17:57] ievans commented on #4987
hi @Priyadhana -- can you share a bit more--what is the specific error you are seeing? Metrics on/off should not affect the status code which is what would fail the build. Can you share the rest of the output?

[2022-04-08 18:06] #4875 closed, assigned to mjambon

[2022-04-08 19:40] nbrahms commented on #4980
Moved to https://linear.app/r2c/issue/AS-176/developer-feedback-send-comment-button-should-take-you-somewhere

[2022-04-08 19:42] nbrahms commented on #4975
Hi @Ezzer17 👋

Thanks for the bug report! Just to let you know, we haven't released full taint-mode support for Scala yet, so ymmv with taint on Scala.

We'll have a product announcement when we do support taint for Scala.

[2022-04-08 19:45] nbrahms commented on #4976
Thanks for the report @LewisArdern !

[2022-04-08 19:50] ievans commented on #4281
@tapdiego-amzn we provided an update on our community Slack a few weeks ago--tl;dr still a work in progress

[2022-04-08 19:55] nbrahms commented on #4981
Moved to https://linear.app/r2c/issue/AS-177/

[2022-04-08 19:56] nbrahms commented on #4981
Closing in favor of the associated Linear ticket

[2022-04-08 19:56] #4981 closed, assigned to nobody

[2022-04-08 19:56] nbrahms commented on #4980
Closing in favor of the associated Linear ticket

[2022-04-08 19:56] #4980 closed, assigned to nobody

[2022-04-08 20:22] #4948 closed, assigned to IagoAbal

[2022-04-08 21:09] #4950 closed, assigned to IagoAbal

[2022-04-08 21:19] ievans commented on #4984
Hello! you need to update to 0.86.5 or higher: some rules in config auto require newer engine feature — we’re working on making this process more graceful & obvious and should have a fix out soon. feel free to re-open if that doesn't solve the issue

[2022-04-08 21:19] #4984 closed, assigned to nobody

[2022-04-08 21:26] brendongo commented on #4978
Yep @ievans: it was not just that users _wanted_ this but it was that from our testing we found that they all _expected_ semgrep to behave this way.

@JosiahOne is it possible to not pass in files you dont want scanned by semgrep? I'm hesitant to add another vector of customization to an already complex targeting logic (--exclude, --include, .semgrepignore, and explicit targeting)

[2022-04-08 21:26] underyx commented on #3976
Hey @DanKaplanSES! I'm really sorry this flew under our radar until I stumbled upon this issue just now. Your points were great and I wanted to thank you for writing such a well-considered description! I've just opened a PR to apply your second suggestion (as implementing tabs in our markdown-rendered docs sounds like a lot of effort.) Sorry about taking half a year to do this 😥

[2022-04-08 22:58] nbrahms opened #4991 "[ruby] certain backslashes break regex matching"
**Describe the bug**
Certain character-class sequences in regex break regex matching

**To Reproduce**
https://semgrep.dev/s/WDZE

**Expected behavior**
Regexes match

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

[2022-04-08 22:59] r2c-demo commented on #4991
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1136/[ruby]-certain-backslashes-break-regex-matching.

[2022-04-08 23:01] enncoded opened #4992 "taint mode sanitizing sink when using `not_conflicting: true`"
**Describe the bug**
I'm not super sure what's going on here, but in @IagoAbal's words:
"It seems like if the sink were sanitized in your rule 😕  and it shouldn't be due to the `not_conflicting: true` sanitizer... it may be a bug."

The Slack thread where that's from will be linked in the comments of the Linear issue.

**To Reproduce**
https://semgrep.dev/s/enncoded:sanitizer-test

**Expected beha

[2022-04-08 23:02] r2c-demo commented on #4992
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1137/taint-mode-sanitizing-sink-when-using-not-conflicting-true.

[2022-04-09 00:09] JosiahOne commented on #4978
Hey @brendongo ! We could if needed. It'd likely require us to write a bit of code to parse the semgrepignore file ourselves and match our targeted files against that then remove them.

This is a bit clunky so I'd prefer it if it wasn't needed, but it's doable.

[2022-04-09 00:49] brendongo commented on #4994
Actually my bad should not have done that and should have opened a separate issue. Moving back sorry for the noise

[2022-04-09 05:31] Priyadhana commented on #4987
Hi @ievans , I am getting error code 2.
![image](https://user-images.githubusercontent.com/48547351/162660180-178f3370-fa73-4422-a71c-004527ceceea.png)

Can you please help me with how should I use metric on/off?

[2022-04-09 09:22] pavkir opened #4995 "[Scala] taint analysis bug"
**Describe the bug**
Taint analysis matches only first case #2

**To Reproduce**
rule:
[code]
Code example:

[code]

**Expected behavior**
Both cases matched

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**
- [x] P1: important to fix or quite annoying

**Environment**
local semgrep 0.87.0

**Use case**
What will fixing this

[2022-04-09 09:23] r2c-demo commented on #4995
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1139/[scala]-taint-analysis-bug.

[2022-04-11 12:07] IagoAbal commented on #4875
Yeah I think next time you should check the docs @pieterdc1. PR #4977 still makes sense, but this should have been low
priority IMO. Although I would personally recommend:

[code]

[2022-04-11 12:42] timhemel opened #4996 "Allow multiple test case files per yaml file"
**Is your feature request related to a problem? Please describe.**
When testing my rules, I am limited to one test case file per yaml file. This can be a problem if I want to test patterns that I cannot duplicate inside a file.

**Describe the solution you'd like**
I would like to be able to have more test cases per yaml file. Ideally, remove the file name based restriction of test files: this is

[2022-04-11 12:43] r2c-demo commented on #4996
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1142/allow-multiple-test-case-files-per-yaml-file.

[2022-04-11 13:21] IagoAbal commented on #4985
Unless I'm missing something, making `E` match `E as T` is not something that symbolic propagation will do for you. Deep-expression pattern `<... $SERVEINDEX(...) ...>`, as already suggested, should do the job quite well. Although this rule may benefit from symbolic propagation in case you want to account for intermediate assignments.

We could add an equivalence for type casts too, I guess it mak

[2022-04-11 15:10] nbrahms commented on #4866
@pieterdc1 appears to be fixed in 0.87.0? https://semgrep.dev/s/ZPZ4

[2022-04-11 16:18] nbrahms commented on #4985
E.g. https://semgrep.dev/s/gGP5

[2022-04-11 16:21] nbrahms commented on #4985
@LewisArdern please do reopen if this doesn't work for you!

[2022-04-11 16:21] #4985 closed, assigned to nobody

[2022-04-11 18:13] brendongo commented on #4987
Hi. I think you are running a stale version of semgrep. If you upgrade to latest semgrep 0.87.0, `semgrep --config p/owasp-top-ten` should work correctly.

[2022-04-11 18:38] ievans commented on #4987
Yes, dupe of https://github.com/returntocorp/semgrep/issues/4984.

[2022-04-11 18:38] #4987 closed, assigned to nobody

[2022-04-11 19:06] brendongo commented on #4978
If the goal is to only run on riles that changed in a PR `semgrep ci` subcommand already does this for you (you may need to set some env vars if you arent on github actions or gitlab workflows) so I would suggest switching over to that.

Otherwise I think the clunky script might be the way to go.

[2022-04-11 20:06] nmote commented on #4971
The problem here is that the module name in both the patterns and the program text itself is missing quotes around it.

This leads to an error in the TypeScript playground, too: https://www.typescriptlang.org/play?#code/JYWwDg9gTgLgBAbwEoFMCOBXFBnGAaOVbSAO2xQF84AzKCEOFADzCh2yA

When I add quotes, Semgrep returns the results that I expect: https://semgrep.dev/s/qZ3O

[2022-04-11 20:06] #4971 closed, assigned to nobody

[2022-04-11 20:45] IagoAbal opened #4997 "[cli] Line affected by a syntax error should be easier to extract"
See https://semgrep.dev/s/6kpK

This is what semgrep-core returns:

Here ^ the error is pretty clear, and we can easily extract the location of the syntax error.

This is what Semgrep CLI returns:

Here ^ the error becomes more confusing. The error message could perhaps be more concise (1. Does it matter that this occurred while invoking the Semgrep engine? 2. It may not be a bug but an actual syn

[2022-04-11 20:47] r2c-demo commented on #4997
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1145/[cli]-line-affected-by-a-syntax-error-should-be-easier-to-extract.

[2022-04-11 22:52] #4991 closed, assigned to nmote

[2022-04-12 01:21] ievans commented on #4978
Closing the issue, feel free to re-open or continue comments. Thanks for the clear comms @JosiahOne

[2022-04-12 01:21] #4978 closed, assigned to nobody

[2022-04-12 02:48] mmcqd commented on #4982
@LewisArdern can you try this on the latest version of semgrep? The code where that error is occurring has been rewritten and I don't believe it should happen anymore. The syntax of the key has changed a bit, and you should know that `package.json` files don't get scanned, only `package-lock.json`. Check out the docs for more info: https://semgrep.dev/docs/experiments/r2c-internal-project-depends-

[2022-04-12 07:56] noraj commented on #3713
There should be many similar rules from Java, also the [few rules](https://github.com/CodeNarc/CodeNarc/tree/master/src/main/groovy/org/codenarc/rule/security) from CodeNarc' [security ruleset](https://codenarc.org/codenarc-rules-security.html) could be re-used.

[2022-04-12 15:42] LewisArdern opened #5004 "Semgrep Issue parsing TypeScript functions with object destructuring"
**Describe the bug**
Semgrep parses various function definitions differently, but there appears to be some unexpected behaviour when dealing with object destructuring values in a function, the following snippet does not get caught for even basic pattern matching examples:

[code]

**To Reproduce**
* https://semgrep.dev/orgs/LewisArdern/editor/s/LewisArdern:test-express-tainted-sendfile

**Expected

[2022-04-12 15:43] r2c-demo commented on #5004
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1149/semgrep-issue-parsing-typescript-functions-with-object-destructuring.

[2022-04-12 16:27] anshumanbh opened #5006 "Type Annotations support for Typescript"
**Describe the bug**
Please take a look at this playground - https://semgrep.dev/s/anshumanbh:test
As per "iago" in Semgrep community Slack - "It seems like Semgrep doesn't support those type annotations yet in patterns", hence I am creating this bug report.

**To Reproduce**
https://semgrep.dev/s/anshumanbh:test

**Expected behavior**
With the rule above, I would have expected Semgrep to identify

[2022-04-12 16:29] r2c-demo commented on #5006
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1150/type-annotations-support-for-typescript.

[2022-04-12 16:42] NEllusion commented on #2252
This would be awesome for our development teams 👍

[2022-04-12 17:07] Gby56 opened #5007 "Missing "suppressions" in SARIF output for semgrep ci"
**Describe the bug**
I used to run scans with semgrep-agent in diff mode, with the SARIF output, and it supported "suppressions" in the SARIF output.
It seems that the `semgrep ci` new method is not reporting to me the issues, I see in the scan logs that it finds all issues, then only reports a part of it, and it's not mentioned in the SARIF file.
I also checked the `--enable-nosem` and it's enabl

[2022-04-12 17:07] r2c-demo commented on #5007
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1154/missing-suppressions-in-sarif-output-for-semgrep-ci.

[2022-04-12 18:17] ievans commented on #4460
@minusworld made a PR: https://github.com/returntocorp/semgrep/issues/4460

[2022-04-12 21:54] enncoded opened #5012 "Accept the pattern `{..., Object, ...}` for importing a type in Typescript imports"
**Describe the bug**
Currently, doing `import {Object} from 'lib'` will match regardless of `Object`'s position within the squiggly brackets, but doing `import {..., Object, ...} from 'lib'` throws a Semgrep error.
The latter feels more natural to me given that surrounding something in ellipses is a common way to tell Semgrep "I want this thing and I don't care about the position of it in this str

[2022-04-12 21:55] r2c-demo commented on #5012
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1165/accept-the-pattern-object-for-importing-a-type-in-typescript-imports.

[2022-04-13 06:47] 0xDC0DE commented on #4875
My bad. I did not understand this feature as well as I should have before filing an issue. I was asked to make dockerfile issues medium priority.

[2022-04-13 14:24] federicodotta opened #5021 "PHP - Function arguments with default values not correctly tracked"
**Describe the bug**
When a default value is assigned to a function argument (es. "function test29($test = 'public')"), the parameter is not tracked correctly in the code.

As an example, using the following rule:

[code]
this code does not match:
[code]
while this one match correctly:
[code]

**To Reproduce**
The following example shows the issue: https://semgrep.dev/s/ALop

**Expected behavior**

[2022-04-13 14:25] r2c-demo commented on #5021
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1167/php-function-arguments-with-default-values-not-correctly-tracked.

[2022-04-13 17:59] raghavjain3 opened #5024 "Semgrep outputs "0 findings" even when findings are present"
**Describe the bug**
Semgrep's logs say "0 findings" even though there are findings from the scan

**To Reproduce**
Any Semgrep CI scan on the latest version (that has findings)

**Expected behavior**
Semgrep outputs the correct # of findings from that scan

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite anno

[2022-04-13 19:47] brendongo commented on #5024
I could not reproduce: ```semgrep ci --config r/python.lang.correctness.common-mistakes.string-concat-in-list.string-concat-in-list``` on a file with `["abc" "123"]` reported the finding

[2022-04-13 20:48] emjin commented on #4797
This should be closed by: https://github.com/returntocorp/semgrep/pull/5023. Please reopen it if not!

[2022-04-13 20:48] #4797 closed, assigned to nobody

[2022-04-13 20:50] r2c-demo commented on #5024
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1174/semgrep-outputs-0-findings-even-when-findings-are-present.

[2022-04-13 21:25] raghavjain3 commented on #5024
Audit findings are not reported but are documented in the next line of the log output

[2022-04-13 21:25] #5024 closed, assigned to nobody

[2022-04-13 22:09] ievans opened #5029 "Included `fixes` in SARIF output"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
--sarif should output the `fixes` field when an autofix is available

This will enable better integration to downstream tools like reviewdog: https://github.com/returntocorp/semgrep/pull/4870

[2022-04-13 22:11] r2c-demo commented on #5029
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1176/included-fixes-in-sarif-output.

[2022-04-14 00:36] wu-s-john commented on #3921
Hey everyone.

I solved the issue with the following PRs:

https://github.com/returntocorp/semgrep/pull/5022
https://github.com/returntocorp/pfff/pull/516

Please review. Let me know if I need to make any changes to my PR.

[2022-04-14 02:12] meriouma commented on #5007
Not sure if it's related. But we were using 0.80.0 with sarif output, and in one file we had a `// nosemgrep` that worked :
[code]
In 0.87.0 and 0.88.0, the issue is being included in the report as a finding. Tested back to 0.84, and it seems that the problem appears in 0.85.0

[2022-04-14 11:10] IagoAbal commented on #5021
Hi @federicodotta! Have you tried using a `pattern-either` as in https://semgrep.dev/s/nw4X ?

To get the behavior you are asking for we would need to make metavariables match both the parameter declaration and the parameter name. It could make sense, but I would say this is a feature request rather than a bug.

[2022-04-14 13:26] federicodotta commented on #5021
Hi @IagoAbal,

Thank you for your help. I will modify my rules as you said.

Yes, it can absolutely be an enhancement. I reported it as a bug because often people writing rules don't consider default values and consequently many issues may not be detected. It could be great to make metavariables match this use case by default.

Thanks again,
Federico

[2022-04-14 18:36] #3976 closed, assigned to nobody

[2022-04-14 18:40] #4887 closed, assigned to nobody

[2022-04-15 06:01] inkz opened #5040 "[JavaScript] object destructuring is not tracked by taint mode"
Taint mode do not recognize sources that use destructuring assignment (https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Destructuring_assignment)

https://semgrep.dev/s/gGwo

[code]

[2022-04-15 06:03] r2c-demo commented on #5040
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1183/[javascript]-object-destructuring-is-not-tracked-by-taint-mode.

[2022-04-15 13:47] #5004 closed, assigned to nobody

[2022-04-15 23:31] fpmosley commented on #3698
Hey everyone. I'm back 👋 . I have some free time next week, and was thinking of jumping back in.

Do you still need some help with this? I have an internal Hackweek next week and still haven't planned how I'll use my time.

[2022-04-18 15:15] pranavrayakantigs opened #5043 "Getting a '/.semgrep' permission denied error after upgrading from 0.57.0 to 0.83.0"
**Describe the bug**
After doing the semgrep-version upgrade from 0.57.0 to 0.83.0 we are getting '/.semgrep' permission denied error

**Error Logs :**
[code]

**Expected behavior**
Semgrep-Scan should get finish without any errors

**What is the priority of the bug to you?**
- [x] P0: blocking adoption of Semgrep

**Environment**
running on docker image

**Use case**
What will fixing this bug ena

[2022-04-18 15:16] r2c-demo commented on #5043
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1184/getting-a-semgrep-permission-denied-error-after-upgrading-from-0570-to.

[2022-04-18 15:22] pranavrayakantigs commented on #5043
I don't have access to this link...

[2022-04-18 20:49] pranavrayakantigs commented on #5043
Hello @noraj , I see you have resolved a similar kind of error [3379] (https://github.com/BlackArch/blackarch/issues/3379), could you please assist us in resolving this one?

[2022-04-18 22:56] brendongo commented on #5043
@pranavrayakantigs what environment are you running semgrep docker image in and how are you invoking it? Our published docker image should have the necessary permissions for `/.semgrep`

[2022-04-18 23:09] pranavrayakantigs commented on #5043
Currently, we are seeing this issue in production. During runtime, we are invoking this through a bash script, and fetching below images from docker-hub. do you feel we miss anything in below setup ?

[code]

[2022-04-18 23:22] brendongo commented on #5043
I'm assuming the USER in REDACTED/dx/py-eng/python-images/python3.7-rhel7-prod:current does not have root privileges. You can add a `RUN mkdir /.semgrep && chmod -R 777 /.semgrep`  or letting semgrep run as sudo: `USER root`

[2022-04-18 23:35] ievans commented on #3698
@aryx @clintgibler is it worth marking Elixir as experimental given the progress?

[2022-04-19 00:50] alexandre commented on #5043
??

On Mon, Apr 18, 2022, at 5:49 PM, pranavrayakantigs wrote:

[2022-04-19 07:14] aryx commented on #3698
Like I said above: "I've pushed a little bit with https://github.com/returntocorp/semgrep/pull/4643 but after that it still remains
to replace all the todos in Parse_elixir_tree_sitter.ml by the correct constructs from the generic AST. This is what takes time
and could use some help."

[2022-04-19 07:15] aryx commented on #3698
because of all those todos, the parsing stats inside semgrep will be at 0% because we never generate a generic AST from an Elixir CST returned by tree-sitter.
This is usually what takes the most time (e.g., that is what Nat is currently doing for Swift).

[2022-04-19 07:16] #4881 closed, assigned to nobody

[2022-04-19 11:00] ttttmr opened #5046 "increase the scope of constant propagation to the whole file (with symbolic_propagation: true)"
[Original title: javascript function variable propagation and line matching]

https://semgrep.dev/s/7Qxk

[code]

[code]

I'm a beginner with semgrep and I think this should match to the b1 function call

so i modify the rules

https://semgrep.dev/s/L2oG

[code]

Successfully matched, but it shows matching to line 4 and 7, I want to match to line 6 and 7

Or is there any rule writing to achieve th