[2021-01-17 16:49] Ruin0x11 commented on #2404
Yes, that's fair. I hope we can get more test cases to make sure the Lua support is actually usable.

I think this is because currently the generic AST variable resolver will assume the language you're using treats variable definitions like `let` where a new binding name is created. So it would count a statement like `foo = foo` as creating an entirely new binding on the left hand side `foo` that

[2021-01-17 19:57] aryx commented on #2404
But his example is using ==, not =.

[2021-01-18 04:09] Ruin0x11 commented on #2404
Yes sorry, I found another issue while I was testing. I added test cases for both in my PR.

[2021-01-18 10:24] throwaway-semgrep opened #2409 "JS browser security concat bypass not detected"
**Describe the bug**
Context: This is a throw away account to preserve my privacy. I am a dev at a Fortune 500 and my manager is an a@@ h@@@ who doesn't understand or cares about security. Recently one of our clients needed a security audit for the coding practices and we used tools like semgrep, SonarQube etc. My manager had forced us to use jquery with string concat to create html elements inste

[2021-01-18 11:24] underyx commented on #2409
This story was so sad, I had to immediately jump on the issue, and I submitted a PR improving on the rule: https://github.com/returntocorp/semgrep-rules/pull/1070

Of course this is just a quick band-aid that I added mainly for the benefit of other innocent devs who are using `.concat()` in good faith. Unfortunately I feel like we would inevitably lose any game of whack-a-mole where users are tryi

[2021-01-18 11:26] #2409 closed, assigned to nobody

[2021-01-18 13:10] aryx commented on #2401
I think it is the next bug in the todo list of emma.

[2021-01-18 13:29] #2404 closed, assigned to nobody

[2021-01-18 14:38] Uzair614 commented on #2368
Apologies for the late reply. Your workaround seems good, thanks.

[2021-01-19 07:02] jithurjacob opened #2411 "Rules with "too many matches" generate confusing "Timeout" error"
**Describe the bug**
I am using semgrep in Azure Pipeline for PR analysis. Semgrep is getting timedout for a small JS file (~6K lines) in 5 seconds. I have seen multiple threads related to timeouts in JS but did not find any conclusion or plan of action. I have tried the command locally with only this file but no luck. Is there other workaround or any other option that I could use to get a scan no

[2021-01-19 08:33] aryx commented on #2411
--timeout 0 means no timeout, which means the scan may not terminate at all because of a problematic file.
This is why we use a default of 5s for timeout, so that even one problematic file does not crash/take-forever the whole scan.

[2021-01-19 08:51] jithurjacob commented on #2411
@aryx - Yes but I think this should be left to the end-user, 5 seconds is too less. We should respect whatever value is provided by the end-user and give a warning saying it could take forever if the user provides 0. 5 seconds is arbitrary and there should be a way to override this one, maybe set another parameter timeout per file or exit after n matches.

I had given 3 hours as the time limit and

[2021-01-19 18:35] mjambon commented on #2367
For internal reference: [typescript modules](https://www.typescriptlang.org/docs/handbook/modules.html), [relevant part of the generic AST](https://github.com/returntocorp/pfff/blob/25ebf6f13cefa6284834aff187e181e7981a34fe/lang_GENERIC_base/AST_generic.ml#L1507-L1531).

I'm hoping to look into this by the end of the week, depending on outcome of current task.

[2021-01-19 18:55] ievans commented on #2411
@jithurjacob thanks for the detailed issue write-up! To me there are two issues:

- Timeout flag is not honored (as described)
- Semgrep takes more than 5s to run a rule on a single .js file

It sounds like the latter is something you can live with, but it is something that I'd like to make sure we fix as well. Is it at all possible for you to share a minimal/reduced/obfuscated version of the file

[2021-01-20 01:22] jithurjacob commented on #2411
@ievans - I'm sorry I won't be able to share the code. My organization strictly forbids it.

In some of the older issues related to timeout I had seen failed test cases against open source repos in which the scan is taking more than 5 seconds. Could you try with that?

[2021-01-20 01:26] jithurjacob commented on #2398
It is working fine for me please check your path given.

[2021-01-20 01:44] ievans commented on #2411
@jithurjacob unfortunately I'm pretty sure we have fixed all of those already :/ @brendongo or @aryx is that true? If your organization is able to sign an NDA with r2c maybe that's a path forward, otherwise we'll just have to hope that increasing once the fix is in to increase timeout, it completes in finite time.

@aryx maybe --profile in the core could be helpful here?

[2021-01-20 01:49] jithurjacob commented on #2411
@ievans - Unfortunately not possible, it's an enterprise and they are really slow. It would take atleast 6 months.

However, once the fix is done I can test and update you.

[2021-01-20 08:23] #2307 closed, assigned to emjin

[2021-01-20 14:23] mschwager commented on #2356
https://semgrep.dev/s/gLpR?version=develop works! This fix will go out in the next release.

[2021-01-20 14:23] #2356 closed, assigned to emjin

[2021-01-20 14:43] aryx commented on #2411
actually the default is 30s, not 5s.

[2021-01-20 14:52] aryx commented on #2411
But if you set --timeout 0, I don't see how you can get a timeout error on a JS file. Can you show the exact
command line and the exact error message?
You should get a Parse error on the problematic file, not a timeout error.

[2021-01-20 17:13] nbrahms commented on #2411
Hi @jithurjacob ,

This should be fixed in Semgrep 0.39 and higher. In the meantime, you should be able to disable timeouts by setting `--timeout -1`.

[2021-01-20 18:12] fproulx-boostsecurity opened #2424 "go - equivalent naming import does not work"
I was testing this registry rule `go.jwt-go.security.jwt-none-alg` and I noticed that it does not work when the Go import has an alias (like `foo`). I've made a live editor clone here https://semgrep.dev/s/fproulx-boostsecurity:go-equivalent-naming-import???registry=go.jwt-go.security.jwt-none-alg

@minusworld looked at this with me and if we modify the pattern to have a variable in the import, th

[2021-01-20 18:15] aryx commented on #2356
Also works with the new release: https://semgrep.dev/s/gLpR?version=0.38.0

[2021-01-20 20:25] nbrahms commented on #2291
cf. https://github.com/tree-sitter/tree-sitter-ruby/pull/153

[2021-01-20 20:25] nbrahms commented on #2291
cf. https://github.com/tree-sitter/tree-sitter-ruby/pull/154

[2021-01-20 21:12] mjambon opened #2425 "internal: clone shallow submodules"
Cloning semgrep and its submodules takes about 2 minutes in CI, which is long. `git clone ... --shallow-submodules` should allow cloning semgrep and its submodules quicker than currently. See https://stackoverflow.com/questions/2144406/how-to-make-shallow-git-submodules and `git clone --help`.

[2021-01-20 21:13] nbrahms commented on #2291
@mschwager @minusworld Should https://github.com/tree-sitter/tree-sitter-ruby/issues/155 affect our GA?

[2021-01-20 21:55] mschwager commented on #2291
Ruby support is [already GA'ed](https://semgrep.dev/docs/status/#language-maturity). Or do you mean demote Ruby maturity? Considering this bug doesn't violate any of our maturity definitions, I'd vote no. IMO we can treat it like a parsing bug in any other GA language.

[2021-01-20 21:57] nbrahms commented on #2291
This won't cause parse errors. Instead, it will cause certain patterns not to match code that you might expect them to.

[2021-01-20 23:38] smcpeak opened #2426 "matching an "if" statement in C requires an extraneous terminating semicolon behind the statement metavariable"
https://semgrep.dev/s/ndqb?version=develop

In semgrep, to match an "if" statement, one uses the pattern "if ($E) $S;".  Note the final semicolon.  If the semicolon is omitted from the match expression, then semgrep says, "Pattern could not be parsed as a C semgrep pattern".

I think the semicolon should not be part of this match expression.  In C, some statements (such as an expression statement

[2021-01-21 00:28] mschwager commented on #2291
Hmm, your question is telling me that you think we should. Could you elaborate on your thoughts?

I would still lean toward "no" for the following reasons:

- We haven't had any complaints from external users, or internal users, for that matter, we found it through manual code review/debugging. This makes me think that it's not a widespread issue.
- IMO, we should prefer to fix bugs in GA language

[2021-01-21 00:59] dlukeomalley commented on #2424
@fproulx-boostsecurity Thanks for opening a ticket after the Slack convo. Gauging your priority, how urgent is this fix/improvement needed?

[2021-01-21 01:12] fproulx-boostsecurity commented on #2424
I would say that this makes matching pretty much anything in Go that is
specific to a given imported  package almost completely unreliable. Any
import alias can break those rules from matching. That blocks us from
declaring that we have robust Go scanning support.

On Wed, Jan 20, 2021 at 19:59 dlukeomalley <notifications@github.com> wrote:

[2021-01-21 08:45] #2401 closed, assigned to emjin

[2021-01-21 11:35] mfocuz opened #2427 "Rule with code execution is not skipped and fails whole scan (and fails pipeline as a result)"
**Describe the bug**
Sorry to create is as bug, while it also could be considered as feature. But for me it currently fails whole pipeline.
I'm running semgrep with setting --config=semgrep-rules/, where "semgrep-rules/" is pulled from repo.
In case of there is a rule with code execution inside, whole scan stopped and says:

`at least one rule needs to execute arbitrary code; this is dangerous! if

[2021-01-21 12:11] aryx opened #2429 "internal: Experiment with using real rules in semgrep-core"

[2021-01-21 13:31] aryx commented on #2429
[code]

[2021-01-21 14:32] jithurjacob commented on #2411
@aryx @nbrahms  - Screenshot for timeout error with both timeout 0 and -1. Just to clarify was -1 supposed to be in 0.39 or is it supposed to work in 0.38.0 itself?

Please let me know if you need any additional information.

![image](https://user-images.githubusercontent.com/7101452/105364527-453a6e00-5c23-11eb-992a-da77e05a9e3e.png)

Edit: Added screenshot with time information

![image](https:/

[2021-01-21 15:19] dlukeomalley commented on #2427
Thank you for filing this ticket @mfocuz. To immediately unblock you, I wanted to learn more about the rules you're running. Where are they from?

For folks running Semgrep in CI, assuming your rules are not custom, we recommend pulling from the registry: https://semgrep.dev/explore

You can run registry rules through commands like: `semgrep --config "p/r2c-ci"`

The rulesets that are available fr

[2021-01-21 16:50] nbrahms commented on #2411
Hi @jithurjacob

That's quite unexpected. I was able to reproduce your result using Semgrep 0.37.0 on `three.min.js`. It's interesting that this occurs only on a single rule. I'll investigate further.

For posterity:

[code]

[2021-01-21 17:31] nbrahms commented on #2411
It looks like we report "too many matches" as a timeout:
[code]

[2021-01-21 17:32] nbrahms commented on #2411
cc. @aryx I think we want to change the returned error to indicate that this won't be fixed by changing the timeout setting.

I propose `TooManyMatches` or some such name.

[2021-01-21 17:38] nbrahms commented on #2411
I reported this in the rule: https://github.com/returntocorp/semgrep-rules/issues/1074

[2021-01-21 17:42] aryx commented on #2426
I might have done that because of some grammar ambiguity ...

[2021-01-21 17:45] aryx commented on #2411
yep, TooManyMatches sounds good.

[2021-01-21 17:47] nbrahms commented on #2411
@brendongo Is there a way to set the core's `-max_match_per_file` setting from the wrapper?

[2021-01-21 17:47] nbrahms commented on #2411
Let's make sure the error message tells the user how to change the setting.

[2021-01-21 18:10] mschwager opened #2432 "Running semgrep on Apple M1 ARM system"
The new [Apple M1](https://en.wikipedia.org/wiki/Apple_M1) chips are ARM-based. Currently, our OCaml binaries are compiled for x86-64. It seems the new M1 chips have [x86 emulation under something called Rosetta 2](https://wccftech.com/m1-macbook-air-x86-emulation-faster-all-mac-models/), so things may Just Work. Regardless, we should test things out to ensure they do.

[2021-01-21 18:13] underyx commented on #2432
I believe @fallion (@capchase) is using an M1 chip and he might have already been running Semgrep on his machine.

[2021-01-21 18:42] emjin opened #2433 "Add support for typed metavariables in Python"
We support typed metavariables for statically typed languages like Java and Go. Python is more difficult, but it would be nice to have!

[2021-01-21 18:43] emjin opened #2434 "Add support for typed metavariables in Javascript"
We support typed metavariables for statically typed languages like Java and Go. Javascript is more difficult, but it would be nice to have!

[2021-01-21 18:46] emjin commented on #2388
This is being added for C! You can follow #1344 for updates there. I've also opened separate issues for Python (#2433) and Javascript (#2434), though, as we noted previously, they're much more difficult!

[2021-01-21 19:39] fproulx-boostsecurity opened #2435 "java - constant propagation is broken in try/catch blocks"
Looks like intra-procedural constant propagation is broken in Java when match is inside `try` / `catch` block!
https://semgrep.dev/s/fproulx-boostsecurity:java-const-propag-in-try-catch

[2021-01-21 20:01] IagoAbal commented on #2435
Thanks for reporting @fproulx-boostsecurity, I will take a look (fairly soon) !

[2021-01-21 21:17] #1344 closed, assigned to emjin

[2021-01-21 21:53] msorens opened #2436 "Custom rule proclaimed "not found" when navigating from policy"
**Describe the bug**
Selecting a newly added rule in my policy to navigate to the semgrep sandbox worked fine--except for the error pop-up. That is, it did navigate to and open the rule correctly--so the error pop-up is, err, well erroneous.

<img width="1404" alt="image" src="https://user-images.githubusercontent.com/6817500/105416926-aea08980-5bef-11eb-9eb2-3204fc5aceee.png">

**To Reproduce**
A

[2021-01-21 21:58] dlukeomalley commented on #2436
Thanks for filing @msorens Marked `priority:low` given the P2 status, though suspect it's a quick fix. Curious what @sabihb @underyx think who are on support this week w.r.t. how to fix / repro.

[2021-01-21 22:16] msorens opened #2437 "Opening a rule in semgrep sandbox should maintain the name"
**Describe the bug**
Navigating to a rule in the browser, e.g. https://semgrep.dev/s/msorens:combinelatest-not-combining, should populate the name field, too. User should not have to re-type the name after editing it in order to save it again.
<img width="1100" alt="image" src="https://user-images.githubusercontent.com/6817500/105419200-2a500580-5bf3-11eb-88c6-bacc44be26d1.png">

I suspect the fir

[2021-01-21 22:28] rlundinSlack opened #2438 "Add support for semgrep rules that check for specific file path names"
**Is your feature request related to a problem? Please describe.**
I am working on creating a custom semgrep ruleset and would like to be able to check the target repository for a specific filepath, directory name, or file name.  For example, in a golang repository, I would like to be able to check for the existence of a "vendor" directory.

**Describe the solution you'd like**
It would be great i

[2021-01-21 22:28] msorens opened #2439 "Report "unit test results" in semgrep sandbox"
**Is your feature request related to a problem? Please describe.**
I am enamored over the idea of being able to create semgrep rules in the editor/sandbox and effectively have unit tests right there on the same page. This is great when a human is there to examine the page and say, "yes, these are the matches I expected".

But what I would really like to see when you press "Run" besides reporting t

[2021-01-21 22:38] fproulx-boostsecurity opened #2440 "go - constant propagation does not work with short variable assignment"
It appears that Golang support for constant propagation does not cover `:=` short assignment statement. It works with `var` declaration though.

https://semgrep.dev/s/fproulx-boostsecurity:go-const-propag-broken

[2021-01-21 22:41] mschwager commented on #2439
![](https://zombiesruineverything.files.wordpress.com/2013/07/morph1.jpg)

What if I told you... we already support that! https://semgrep.dev/s/KlW6/

Note the "All tests pass" on the right :+1:

These tests follow the same conventions as the [CLI testing functionality](https://semgrep.dev/docs/writing-rules/testing-rules/).

[2021-01-22 00:10] msorens commented on #2439
Perfect reply, @mschwager !! 😁
(@ievans posted the same comment in slack but without Morpheus to back him up.)

Copying my reply from there here as well:
I was not aware of this!! That does get us part of the way there!
(a) It validates the matches and non-matches.
(b) It does not validate the autofixes.
Since autofix is still experimental, though, let's say ruleid gets three-quarters of the job d

[2021-01-22 03:28] msorens commented on #2439
Reflecting further on this, I wondered:

_Should I have been aware of this cool feature?_ Well, not without having pored over all the docs (which I did) and remembered it (which I did _not_). Because the semgrep sandbox gives no hint that this exists... unless you already know to use it.

Hmm, so _could I have been aware of it?_ Yes, with not too much work, I believe. The semgrep sandbox is a grap

[2021-01-22 04:03] msorens opened #2442 "Saved custom rules URLs are behaving strangely"
**Describe the bug**
Not sure if this is related to #2436, but I just discovered that things are very strange.
I created this custom rule in Chrome: https://semgrep.dev/s/msorens:combinelatest-not-combining.
I later went back into Semgrep Live and revised the text, starting to make another new rule, but did not save it again.
Yet, now when I go back to the saved rule URL above, it shows the revise

[2021-01-22 07:33] brendongo opened #2443 "Mechanism to pass arbitrary flags from python wrapper down to semgrep-core"
semgrep-core exposes a number of flags to modify behavior of matching like `-max_match_per_file`. In majority of use cases none of these extra flags are necessary but there are edge cases like https://github.com/returntocorp/semgrep/issues/2411#issuecomment-764824110 that would benefit from being able to use them. Instead of having to wire up the python wrapper with every flag exposed by semgrep-c

[2021-01-22 07:34] brendongo commented on #2411
Created https://github.com/returntocorp/semgrep/issues/2443 to track passing arbitrary opts to semgrep-core

[2021-01-22 09:00] aryx commented on #2443
semgrep-core can use the SEMGREP_CORE_EXTRA environment variables to pass extra arguments.

[2021-01-22 09:02] aryx commented on #2442
cc @chmccreery

[2021-01-22 14:30] mschwager commented on #2439
Nice, thanks for all the great feedback! I agree, there's no real way to discern this functionality, and there should be. At the very least we should document this cloud app functionality, then we could have the editor include something like "Did you know you can test editor rules inline in code?" -> link to docs. Having a nice UI for this in the editor would be more desirable, but ultimately more

[2021-01-22 15:33] gdamoreira opened #2445 "Timeout with `java.lang.security.audit.crlf-injection-logs.crlf-injection-logs` on ~7k line Java file"
**Describe the bug**
We are using semgrep in our development pipeline to prevent security vulnerabilities and bugs in our code base. In one of our commits we faced with an unexpected error that couldn't be solved without manually skipping the semgrep phase. The error happens when we run "p/r2c-security-audit" rules over a specific file in our code base. The file have 7455 lines and the error only

[2021-01-22 17:44] msorens commented on #2442
Update:
I sat down to try this again and record more carefully what occurred.
I had this from sometime ago--calling this `Rule1`: https://semgrep.dev/s/msorens:test-rule.
Yesterday, I introduced `Rule2` (https://semgrep.dev/s/msorens:combineLatest-not-combining) and observed the problems noted above.

Today as a baseline, I tried `Rule2` again in both Firefox and Chrome after closing and restartin

[2021-01-22 18:23] chmccreery commented on #2442
Thanks @msorens for the detailed report - I am planning to dedicate some time next week to fixing bugs in the editor, and hope I am able to resolve this wonkiness as well. There are some fields like language and rule-name/rule-id that can be populated differently inside and outside the editor, leading to unexpected behaviors, and rule-name is not rendered in the URL as consistently as it should be

[2021-01-22 20:09] ievans commented on #991
Closing this as stale; almost no rulesets use where-python now thanks to the new metavariable comparison work.

[2021-01-22 20:09] #991 closed, assigned to nobody

[2021-01-22 20:14] ievans commented on #2445
Hi @gdamoreira -- thanks for reporting this! tagging @aryx or @mjambon to look at the timeout issue.

In the meantime, can you clarify how this is blocks your workflow? My expectation would be that this is printed as a warning and not an error, and that it doesn't change the output status code (unless you are running with `--strict`). When you say "without any error and without any issues found",

[2021-01-22 22:50] mschwager commented on #991
This may help: #2450

[2021-01-24 02:13] msorens commented on #2332
Update: Working further on this--actually wiring up the nightly run, that is--I do still find a need for the fictitious project, because I really do not want the extra noise in the log/semgrep output. I want all of the reported issues there to be considered actionable. Right now, my nightly run is reporting 18 such findings. If I had used my "regular" policy, the one I use for differential scans o

[2021-01-24 10:32] aryx opened #2451 "Using the inheritance tree, semantic on-the-fly analysis"
Inspired by https://blog.includesecurity.com/2021/01/ruby-static-analysis-custom-rules-breakman-vs-semgrep.html
which mentions few false positives in semgrep vs brakeman when matching classes inheriting from a certain class.
Right now 'class $A extends Foo {}' will work only if the code contains a direct inheritance to Foo.
But we would really want any class that indirectly inherits from Foo.

In

[2021-01-24 10:32] aryx commented on #2451
cc @nbrahms @mschwager

[2021-01-24 12:14] problame opened #2452 "Go: metavariables do not work for captured variables with captured + captured in closures"
I want to write a semgrep rule for the following (problematic) Go code:

[code]

The rule should match if the loop variable `i` in the `for` clause is captured by the closure's body.

My attempt:

[code]

(Link: https://semgrep.dev/s/W8OA )

This seems to work.
But if we correct the Go code by shadowing the loop variable with a local variable (a common pattern), the rule still matches.

[code]

**

[2021-01-24 20:41] IagoAbal commented on #2435
This is related to #1425, as of now we ignore try-catch-finally blocks. We log a warning, but the warning is not displayed by default. I'll see if it's easy to add support for try-catch-finally or otherwise I'll add some partial support.

[2021-01-25 09:13] aryx commented on #2443
but yes I like this --core-opts.
I think we can keep --timeout in the wrapper too, but maybe we could already move --max_memory to a --core-opts?

[2021-01-25 09:16] #2429 closed, assigned to nobody

[2021-01-25 09:18] aryx commented on #2425
Note that an alternative is to remove ocaml-tree-sitter from semgrep.
We really just need ocaml-tree-sitter-lang and ocaml-tree-sitter-lib.
The rest of the machinery, and especially all those tree-sitter-xxx we don't need.

(at the same time in the futur we may want to remove ocaml-tree-sitter-lang instead since it introduces
an intermediate steps that prevents to modify a tree-sitter-grammar and

[2021-01-25 09:24] aryx commented on #1256
Can we close this @emjin then?

[2021-01-25 09:30] mfocuz commented on #2427
Hi @dlukeomalley , I clone rules from here https://github.com/returntocorp/semgrep-rules and run it.
Due to its official repo, my idea was to run always latest rules. Is it wrong approach?

[2021-01-25 11:03] aryx commented on #2427
You can use URLs with the --config, so no need to locally clone the semgrep-rules. Semgrep can use the network to fetch
the rules on-the-fly. For example --config p/r2c will use the best and latest rules in  https://github.com/returntocorp/semgrep-rules

[2021-01-25 11:08] aryx commented on #2452
Thx for the bug report! Yep, seems like we don't recognize correctly i :=. So the := always declare a new variable?

[2021-01-25 11:11] aryx commented on #2445
Also the issue title contains "unspecified error" but the error seems pretty clear: it's a timeout with one of the rule. Or is the use of timeout unclear in this context?

[2021-01-25 11:12] aryx commented on #2452
A related issue involving := recently: https://github.com/returntocorp/semgrep/issues/2440

[2021-01-25 11:13] aryx commented on #2432
OCaml has also been recently ported to this new archi/os, so we should be able to produce native binaries for it.

[2021-01-25 11:16] erwanlr opened #2453 "PHP - Inconsistent behaviour of wildcard matches in nested statement"
**Describe the bug**
Wildcard matches (...) fail to properly work in a nested statement (such as foreach and if) in PHP.

For example, the pattern:
[code]

Will not match the code
[code]

But will match
[code]

**To Reproduce**
https://semgrep.dev/s/Kl8d

**Expected behavior**
Line 3 should match

**What is the priority of the bug to you?**
P0

[2021-01-25 12:40] problame commented on #2452
https://golang.org/ref/spec#Short_variable_declarations

[2021-01-25 12:43] problame commented on #2452
(That section omits the possibility to *shadow* variables in child scopes, though, much like you can do in C:

[code]

[code]

[2021-01-25 15:22] #2112 closed, assigned to nobody

[2021-01-25 16:11] #2427 closed, assigned to mschwager

[2021-01-25 16:13] mschwager commented on #2427
Hi @mfocuz,

We've made your suggested improvements in https://github.com/returntocorp/semgrep/pull/2450. Those changes will go out with the next release sometime this week :+1:

[2021-01-25 17:10] #2347 closed, assigned to nobody

[2021-01-25 19:16] aryx commented on #2396
cc @mjambon

[2021-01-25 19:18] aryx commented on #2396
There was also some flakyness in CI on btcexport, sometimes working, sometimes not, but there
was actually 2 entries in the test_public_repos.py file, so I removed one; maybe it fixes the problem.

[2021-01-25 19:35] emjin commented on #1256
This error should be fixed! The above pattern now does not cause an error (https://semgrep.dev/s/emjin:wrong-error?version=develop). Note that both if statements are matched because the pattern does not include a requirement that the metavariables be different values.

[2021-01-25 19:35] #1256 closed, assigned to emjin

[2021-01-25 20:57] aryx opened #2457 "Negation not working with subexpressions"
In https://semgrep.dev/s/zv91
we should not report match to os.environ when part of a larger expression that matches the pattern-not.

[2021-01-25 20:59] aryx commented on #2457
I'm actually currently working on reimplementing the boolean composition logic in the core,
and I'm not finished yet with negation, but the semantic I have I think would not report
the other (wrong) matches semgrep is currently returning.
A and not B should filter all matches in A that are included (range-wise) in one of the range of B.

[2021-01-25 20:59] aryx commented on #2457
cc @nbrahms @ievans

[2021-01-25 21:36] IagoAbal commented on #2435
PR returntocorp/pfff#387 should make your example work. It adds partial support for try-catch-finally, the CFG isn't really the proper one yet... it assumes that only the last statement of body will throw an exception (if any).

[2021-01-25 23:56] nbrahms commented on #2457
I think the user here just wants `pattern-not-inside`.

I'd propose just removing `pattern-not` since it never gives us anything over `pattern-not-inside`.

[2021-01-26 00:01] ievans commented on #2457
Big +1, please do that as part of this transition. Ticket is: https://github.com/returntocorp/semgrep/issues/1218

[2021-01-26 10:15] aryx commented on #2451
Note that a current workaround is to (ab)use metavariable-regexp and look if you inherit from something that ends
with *Controller.

[2021-01-26 10:34] aryx opened #2460 "internal: move generic AST and related files from pfff to semgrep-core/"
The split semgrep-core vs pfff start to be annoying with all the concurrent PRs we have on semgrep and pfff.
The pfff submodule is the source of many conflicts when merging PRs. Let's move at least
the generic AST from pfff/lang_GENERIC_base/ to semgrep-core/core/ast/ to have more stuff in the same repository.
We can still keep the language-specific stuff in pfff.

One issue is that the generic AS

[2021-01-26 10:34] aryx commented on #2460
cc @IagoAbal @mjambon @emjin
cc @Sjord @Ruin0x11 @zythosec

[2021-01-26 13:14] erwanlr commented on #2453
Not sure if also related to this issue:

https://semgrep.dev/s/rdk0

[code]

Will not match
[code]

To match it, the pattern would need to be like below, but then produces too many matches
[code]

[2021-01-26 13:31] paresh-borkar opened #2462 "UnicodeDecodeError while running semgrep on strapi github repo"
**Describe the bug**
Ran into UnicodeDecodeError while running semgrep on strapi github repo. Semgrep version is 0.33.0

Please see details below:
/usr/local/bin/semgrep  -v --json --config=p/r2c-security-audit /home/tw/repos/strapi
A new version of Semgrep is available. Please see https://github.com/returntocorp/semgrep#upgrading for more information.
using config from https://semgrep.dev/p/r2c-s

[2021-01-26 13:39] brendongo commented on #2462
Possible this is related to https://github.com/returntocorp/semgrep/issues/2111

Trying latest semgrep 0.38.0 seems to run on strapi with no issues.

[2021-01-26 14:19] brendongo commented on #2462
Closing as fixed. Feel free to open if upgrading to 0.38.0 did not fix the issue for you

[2021-01-26 14:19] #2462 closed, assigned to nobody

[2021-01-26 15:10] gdamoreira commented on #2445
Hi @ievans and @aryx, I tried to run locally to get this information, and I suppose in local environment the error is different from our CI server.

I could reproduce the problem using Semgrep Live.

The error can be reproduced using this link:
https://semgrep.dev/s/b7re

Just for curiosity, we could fix that problem updating python and semgrep to latest version and put --timeout flag.

Thank you.

[2021-01-26 15:51] erwanlr commented on #2453
Another one: https://semgrep.dev/s/N487 which is even weirder, as no match will be found at all with a pattern like `pattern: do_something(...);`

Let me know if I should open different issue reports for those

[2021-01-26 17:56] nbrahms commented on #2445
This may be related to #2411, but on a different rule

[2021-01-26 18:05] underyx commented on #2445
1. Related but not relevant here: I'll create an internal issue to improve the error message on semgrep.dev
2. @inkz could you check if there are performance improvements to make to the offending rule? https://github.com/returntocorp/semgrep-rules/blob/develop/java/lang/security/audit/crlf-injection-logs.yaml
3. We're shipping a release with experimental opt-in performance improvements this week,

[2021-01-26 18:15] underyx commented on #2442
Just one more note @msorens: our initial design for this feature was intended to be "flawed" quality, with anything other than the most basic rule saving/updating being out-of-scope. Since this issue involves updating the design of the feature to cover more use cases, we consider it an feature enhancement as opposed to a bug report. This means it'll go on the feature-work track and take weeks to d

[2021-01-26 18:20] mschwager commented on #2424
Interestingly it looks like we do support this behavior in Python:

[code]

[code]

However, conversely, we don't consider imports without aliasing: https://github.com/returntocorp/semgrep/issues/1096

cc @aryx I'd say this is fairly important - part of the [equivalences we advertise](https://semgrep.dev/docs/writing-rules/pattern-syntax/#imports) are imports.

[2021-01-26 18:24] nbrahms commented on #2445
Here's the output of the core:

[code]

[2021-01-26 19:46] nbrahms commented on #2445
@gdamoreira I've updated the rule to improve its performance by ~3x in the attached PR.

However, please note that you may still see timeouts on larger Java files. If you do, you may need to either:
- Exclude the file from checking
- Increase the timeout using the `--timeout` flag (its default is 30 seconds)
- Disable the timeouts altogether using `--timeout 0`

Hope this helps, and thanks for sub

[2021-01-26 20:55] mjambon commented on #2240
This is a pain point for everyone involved with updating tree-sitter grammars for semgrep. I set the priority to medium because it's not strictly blocking but it's very important to a lot of people.

Pain points:
* too many submodules involved when updating a grammar, leading to human mistakes
* generating ocaml code requires the contributor to set up ocaml and know how to troubleshoot

Here's the

[2021-01-26 21:08] aryx commented on #2240
For "semgrep-core: uses the ocaml-tree-sitter runtime library and the generated libraries for each grammar (unchanged)"
does that mean there is another repo with just the ocaml-tree-sitter runtime library? or it's still the full semgrep-tree-sitter?

[2021-01-26 21:48] #2445 closed, assigned to mjambon, inkz

[2021-01-26 21:50] aryx commented on #2396
Fix also coinbase-pro-node in public_repos.py that I've commented the xfail_repo when doing "the big refactoring".

[2021-01-26 22:27] IagoAbal commented on #2435
Fixed@develop: https://semgrep.dev/s/fproulx-boostsecurity:java-const-propag-in-try-catch?version=develop
Please reopen if I missed something!

[2021-01-26 22:27] #2435 closed, assigned to IagoAbal

[2021-01-26 22:29] #2460 closed, assigned to nobody

[2021-01-27 00:35] ievans commented on #1366
Confirmed fixed in v.38, probably earlier actually

[2021-01-27 00:35] #1366 closed, assigned to nobody

[2021-01-27 00:37] ievans commented on #1377
Also working as of v.38, probably fixed earlier. Checked at https://semgrep.dev/s/Gx4z

[2021-01-27 00:37] #1377 closed, assigned to colleend

[2021-01-27 00:39] ievans commented on #1523
@mjambon https://github.com/tree-sitter/tree-sitter/issues/714 is closed, is this still relevant?

[2021-01-27 00:40] ievans commented on #1856
Still an issue in 0.38

[2021-01-27 00:40] msorens commented on #2442
Thanks for the note, @underyx . While I appreciate your point, I am not quite sure why you are saying this involves updating the design at all. As far as I can see, I really was doing only "the most basic rule saving/updating".

[2021-01-27 00:40] ievans commented on #2013
https://github.com/tree-sitter/tree-sitter-typescript/issues/103 is closed @mjambon, is this still relevant?

[2021-01-27 00:45] ievans commented on #1317
https://semgrep.dev/s/ievans:c-dataflow and https://semgrep.dev/s/eLKl are all working. @IagoAbal is semgrep-core/tests/c/equivalence_constant_propagation.c enabled as a test in the core? Closing this issue in favor of the super issue https://github.com/returntocorp/semgrep/issues/1645

[2021-01-27 00:45] #1317 closed, assigned to nobody

[2021-01-27 00:46] ievans commented on #1180
Hey, we did this! Closing, cc @underyx

[2021-01-27 00:46] #1180 closed, assigned to nobody

[2021-01-27 00:50] clintgibler opened #2465 "pattern-not-regex does not properly filter out matches"
**Describe the bug**
`pattern-not-regex` does not correctly filter out matches that I expect it would.

**To Reproduce**
https://semgrep.dev/s/clintgibler:pattern-not-regex-bug.

**Expected behavior**
I would expect this rule to match the first line, but **not** the latter two. However, all three lines are matched.

[code]

[code]

**What is the priority of the bug to you?**
P1

[2021-01-27 01:18] #1977 closed, assigned to nobody

[2021-01-27 02:01] mjambon commented on #2367
Hey Jonathan. I got some success after a bit of trial and error. Here's what I found works:

Given the target program:
[code]
Semgrep will find 3 matches for the pattern `import { $ID } from $FILE;`:
* $ID = `Bamboo`
* $ID = `Curry`
* $ID = `Panda`

It's not obvious from the live editor because of how the first two matches overlap (https://semgrep.dev/s/dK0Y).

However, without the braces in the p

[2021-01-27 02:09] chmccreery commented on #2442
Yep, I agree @msorens, our named-rule saving behaviors have some bugs. I will take a look at this tomorrow, it has been on my list for awhile.

[2021-01-27 03:14] DrewDennison opened #2466 "Investigate failure report from M1 / ARM64"
**Is your feature request related to a problem? Please describe.**
Make sure semgrep works in ARM docker containers. @ajinabraham noticed Semgrep failed to run on a M1 Mac

[2021-01-27 03:54] clintgibler commented on #2451
Whoa, this is super cool! 🎉  Looking forward to seeing what we can build with this 👍

[2021-01-27 04:51] brendongo commented on #2466
Duplicate of https://github.com/returntocorp/semgrep/issues/2432 ?

[2021-01-27 08:51] aryx commented on #2451
well, this is an issue, not a pull request, so it's not yet implemented :)

[2021-01-27 09:47] paresh-borkar commented on #2462
Thanks @brendongo. Upgrading to 0.38.0 helped resolve the issue.

[2021-01-27 10:45] erwanlr opened #2470 "PHP - Unable to match function defined in class with simple pattern"
**Describe the bug**
Having a pattern such as `function __destruct() { ... }` against the function definition in a class, yields no match. Also using visibility keywords such as `public`, `private` etc in the pattern (ie `public function __destruct() { ... }` results in a pattern parsing error.

**To Reproduce**
https://semgrep.dev/s/8yR7

**Expected behavior**
The pattern should match against cod

[2021-01-27 14:36] underyx commented on #2470
Thanks for the report @erwanlr! I've added an alpha label to this issue for technical correctness, but I know we're thinking of graduating PHP in the near future and so I'll be bringing up this issue at our team meeting this PST morning.

[2021-01-28 17:56] underyx commented on #2466
@DrewDennison @ajinabraham can we get a more detailed report of how it failed? Did x86 emulation not work correctly?

[2021-01-28 17:58] underyx commented on #2411
This is blocking, FYI.

[2021-01-28 17:59] underyx commented on #2411
@aryx please also create an output confusion issue

[2021-01-28 18:12] mschwager commented on #2424
IMO this is more of a bug than an enhancement. We advertise import equivalences for GA languages, which Golang is one of. I suspect this is an issue with multi-line imports in Golang because it appears to work for single-line equivalences: https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/tests/go/equivalence_naming_import.go

[2021-01-28 18:24] underyx commented on #2470
Hey, I owe you an update. We have not decided yet on working towards graduating PHP, so this issue is going in the low-priority backlog.

[2021-01-28 18:44] IagoAbal commented on #2440
I believe the problem may be in how `:=` is represented internally, I need to check Go's language spec first.

[2021-01-28 20:59] karoun commented on #1834
This seems pretty important, since otherwise there's no easy way (that I can tell) to specify "file of type within subdirectory" without using `*`s for every possible file depth.

[code]

[2021-01-28 21:07] karoun commented on #2438
This would be terrific, allowing semgrep to take the place of tools like `repolinter` or `ls-lint`.

[2021-01-28 21:50] karoun opened #2475 "Rule evaluation slows down linearly+ with length of paths.exclude"
**Describe the bug**
I'd like to grandfather in all the current instances of a pattern, but `ERROR` for new ones, so I'm using `paths.exclude` to list all the existing file paths. Unfortunately, that list is ~1,350 entries long and double-unfortunately, `semgrep` slows down massively (<3s → ~80s) when I add it to my ruleset.

**To Reproduce**
[Add lots of exclusions to `paths.exclude`](https://sem

[2021-01-28 23:19] underyx commented on #2436
@msorens

[code]

Just committed this ⬆️

Sadly we lost the exact name of your snippet when it was saved to a policy,
so you should remove and readd it to your policy next week to never encounter this error again!

[2021-01-28 23:46] #2436 closed, assigned to underyx

[2021-01-29 01:11] chmccreery commented on #2442
Ok, this is being slated for next week's "feature freeze/bug bash" theme

[2021-01-29 02:04] karoun opened #2476 "Make violation thresholds configurable per-rule"
**Is your feature request related to a problem? Please describe.**
I'm trying to deprecate a common pattern in a codebase, and it's too frequent/tetchy to autofix/patch all at once. If I make it a `WARNING`, new instances will creep in, but if I make it an `ERROR`, I'll be forced to `exclude` all the existing matches (which is both [very slow](https://github.com/returntocorp/semgrep/issues/2475) a

[2021-01-29 02:11] ievans commented on #2475
Hi @karoun! thanks for taking the time to file a bug--this is definitely something we should fix. cc @brendongo who knows the most about that part of the code.

I wanted to hear more about your use case though -- I bet most users haven't run into this because they have been using the semgrep CI wrapper (https://github.com/returntocorp/semgrep-action) to "grandfather" in instances of a new pattern

[2021-01-29 02:21] karoun commented on #2475
Oh wow, that's super slick — thanks @ievans!

[2021-01-29 02:56] rtpg opened #2477 "semgrep-core returns mistaken match bounds when unicode strings are present in Python"
**Describe the bug**
Autofixing seems to hit some weird issues when there are unicode strings in Python.

**To Reproduce**
https://semgrep.dev/s/oxYN

**Expected behavior**
 `    self.assertEqual(entry.a, 'あいうえお')` turns to `assert entry.a == 'あいうえお'` when applying an autofix like
[code]

**Actual**
[code]

applying the autofix ends up with
[code]
(making the string be just ASCII characters makes

[2021-01-29 12:32] mfocuz commented on #2427
cool, thx!

[2021-01-29 22:22] markchristensen-sl commented on #2398
I'm using the following task:

[code]
Using the [Sample ASP.NET Core application for Azure Pipelines](https://github.com/MicrosoftDocs/pipelines-dotnet-corel) in a source repo, Semgrep recognizes the files contained in Build.SourcesDirectory: ran 119 rules on 13 files: 0 findings

When using the same task in other pipelines with different custom code source repos, Semgrep reports running on zero f

[2021-01-29 23:17] ievans commented on #2477
Thanks @rtpg ! I can confirm this is a bug, and I like your hypothesis about the glyph/byte distinction being at the root of it. @DrewDennison or @mschwager, want to take a look?

Autofix is still an experimental feature but we are excited to improve it. If you don't mind, can you share the relative priority of the issue for you? is it a blocker to using Semgrep further (P0), a significant annoyan

[2021-01-30 10:07] cfguimaraes commented on #1392
@Sjord congratulations, you have done a lot, the community praises you.
I'm here to offer my help.
I see that the work you have done is far away from my knowledge, but I believe I can help with testing, or if some suggest, I could learn to help.

P.S. Sorry for my English, I'm brazilian guy that made a cheaper course :)

[2021-01-31 11:07] damiencarol opened #2479 "SARIF format for output report"
**Is your feature request related to a problem? Please describe.**
Want to have the ouput as a SARIF file. https://docs.oasis-open.org/sarif/sarif/v2.0/sarif-v2.0.html

**Describe the solution you'd like**
When I use -o option, have a -sarif option to export the file as SARIF format like:

[code]

**Additional context**
https://docs.oasis-open.org/sarif/sarif/v2.0/sarif-v2.0.html

[2021-01-31 15:20] jithurjacob commented on #2398
@markchristensen-sl  -

I didn't understand what you meant by using the same task in other pipelines. The output shown for the pipeline you have shown seems to be working. Did you try with --verbose flag to see if the path being scanned is as expected?

[2021-01-31 17:12] ievans commented on #2479
Hey @damiencarol, have you tried the --sarif flag? (we should probably improve documentation for it)

[2021-01-31 17:31] underyx commented on #2479
Note that it's `--sarif` with two dashes instead of one.

[2021-01-31 22:30] download13 commented on #2409
I'm guessing that manager is not going to allow anyone to update semgrep...

[2021-02-01 01:33] SirJson commented on #2409
How can a manager dictate how you design a program? I'm not saying you made this story up somehow, I'm just baffled that this is even a thing.

[2021-02-01 02:29] EternityForest commented on #2409
@SirJson I'm not really surprised honestly.  Some managers are absolutely obsessed with simplicity.  I very, very much doubt this will save even 5 seconds compared to doing in right.

But it has the right kind of "feel" of good old, common sense, direct control, not using what seems like advanced features(Aka stuff they don't understand right now), etc.

I think that whenever someone does stuff an

[2021-02-01 02:51] rtpg commented on #2477
I understand autofix is experimental, but from our perspective it's hard to set up semgrep on an existing codebase without introducing a lot of busywork. This is a P0 for our own personal adoption, yeah.

[2021-02-01 05:03] jdmarshall commented on #2409
@underyx Do you also detect join()? Because we all know that's the next stop on this roller coaster.

[2021-02-01 07:12] damiencarol commented on #2479
Will try. thanks for the feedback

[2021-02-01 07:15] sdegueldre commented on #2409
If you're wondering why there is a sudden uptick in the activity of this issue, it's because it has been [linked on reddit](https://old.reddit.com/r/programming/comments/l9i7fz/i_am_a_dev_at_a_fortune_500_and_my_manager_is_an/), probably because it's both funny and sad and that makes for good reddit content. Anyhow, as you said, it's an arm race you cannot win with static analysis. If someone want

[2021-02-01 07:31] hnnweb commented on #2409
And one of the top posts on HackerNews
[Semgrep: JavaScript browser security concat bypass not detected](https://news.ycombinator.com/item?id=25984941)

[2021-02-01 08:44] aryx commented on #2465
What is the match range of pattern-regex: "Foo"? The whole line? or just the matched range?

[2021-02-01 09:38] Sjord commented on #1392
Thanks, @cfguimaraes. You can help me improve the parser by creating small C# test files that have a construct that is currently not implemented. There are two ways to find those:

1. Search in [Parse_csharp_tree_sitter.ml](https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/Parsing/tree_sitter/Parse_csharp_tree_sitter.ml) for `todo env`. The first occurence is [here](https://github.

[2021-02-01 09:42] aryx commented on #1392
For the semgrep integration tests you can follow https://semgrep.dev/docs/status/#maturity-definitions and try at least the tests for the "Alpha" category. You can imitate the tests for lua/ which has currently the "Alpha" state.
If something does not work we probably need to extend the semgrep-grammar for C# at https://github.com/returntocorp/semgrep-grammars/blob/master/src/semgrep-c-sharp/gramm

[2021-02-01 10:58] underyx commented on #2479
I'll assume that solves the problem, so closing this issue. Feel free to reopen if I'm wrong!

[2021-02-01 10:58] #2479 closed, assigned to nobody

[2021-02-01 11:16] jondubois commented on #2409
That approach looks ugly. That said, it's not so different from what React and other front end frameworks are doing behind the scenes.

I'm not a big fan of these automated 'security tools' which output 99% false positives. For example `raw-html-concat` COULD be a security risk, but it's actually not a security risk in 99% of cases (for example if not using untrusted user-generated input).

Anythi

[2021-02-01 17:17] minusworld commented on #2465
It should be the matched range, but I'll have to double-check

[2021-02-01 19:35] mschwager commented on #2237
@minusworld @aryx can we close this out from https://github.com/returntocorp/semgrep-rules/issues/1058?

@zythosec can you confirm the above fix?

[2021-02-01 20:00] msorens commented on #2436
You just said to remove and re-add to the policy, but I do not seem to be able to access the rule at all, even typing it directly into the URL bar of the browser. Should I be able to, or do I have to re-enter the rule from scratch?

[2021-02-01 20:42] chmccreery opened #2484 "Allow Semgrep to run over multiple (concatenated) files"
**Is your feature request related to a problem? Please describe.**
I recently encountered a bug that I would like to write a rule for, to prevent this bug from occurring again
Our alembic database migration scripts need to occur in one, linear, path.
Therefore, we want to prevent a PR from going in if its down_revision already
exists in another file in the codebase. This can happen very easily if

[2021-02-01 20:56] mschwager commented on #2484
I think you can achieve this by taking input from `stdin` with `-`:

[code]

[2021-02-01 21:03] colleend opened #2486 "String regex escaping special characters"
**Describe the bug**
Creating a string regex that has special character escaping results in semgrep looking for the exact sequence of characters instead of the escaped character itself. For instance, in the semgrep.dev example linked below, the regex matches the first line but not the second.

**To Reproduce**
https://semgrep.dev/s/EkvA/

**Expected behavior**
Would expect semgrep to match the sec

[2021-02-01 21:42] chmccreery commented on #2484
@mschwager that is cool, but doesn't port easily over to `semgrep-app` and what I really would like is a way to write this type of rule to run on PR's right before they get merged, as they are likely not out of date until after-review or the author would catch it.

[2021-02-01 22:00] mschwager commented on #2486
I'm not entirely sure how [template literals](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals) are handled in Javascript. I.e. I'm not sure if the `${...}` portion is actually part of the string itself and can be searched. The fact that `${tainted}` isn't highlighted here tells me that may be the case: https://semgrep.dev/s/7oYR/

cc @aryx who knows more about t

[2021-02-01 22:24] colleend commented on #2486
that's a very good point 🤔 another interesting happening is https://semgrep.dev/s/LwXJ/: I get an error "Could not parse target.jsx as js" although the error is in the pattern 😓

[2021-02-01 22:28] mschwager commented on #2484
Hmm, it sounds like we're talking about two different solutions:

1. A first-party Semgrep solution, like a CLI flag.
2. A "third-party" solution, like some Bash-fu.

For (1), I know @aryx is working on some multi-file analysis to look at class hierarchies. That could be helpful here, but it may be a while before this functionality is surfaced/mature. We could add a CLI flag that simply concatenat

[2021-02-01 23:25] chmccreery commented on #2484
Yep, sorry that wasn't very clear. I am down to wait for multi-file analysis, and @aryx asked me to file this as an issue just to keep track of it. It isn't an urgent need, just a 'this would be nice to support, if we can' type thought.

We could, of course, do this through `semgrep-action` as some complicated workaround, but I filed the issue thinking that I would love for us to support this func

[2021-02-02 00:59] msorens opened #2487 "DRY out "unit tests" in live editor"
**Is your feature request related to a problem? Please describe.**
Here is a typical rule with unit tests in the live editor: https://semgrep.dev/s/msorens:observable-not-ending-with-dollar-sign
The very obvious thing here is that the lengthy rule id (`typescript.rxjs.best-practice.observable-not-ending-with-dollar-sign`) needs to be repeated over and over.
<img width="485" alt="image" src="https:

[2021-02-02 01:09] msorens commented on #2436
Ended up re-creating it from scratch and all is well.

[2021-02-02 01:12] msorens commented on #2442
I am reasonably sure this has been resolved by the fix to https://github.com/returntocorp/semgrep/issues/2436.

[2021-02-02 10:20] underyx commented on #2442
@msorens I can access the original rule at https://semgrep.dev/s/msorens:combineLatest-not-combining – note the uppercase `L`. Is this the name after your recreation? Is it possible you were trying to open the URL from the issue description which has been lowercased?

[2021-02-02 10:22] underyx commented on #2436
You should be able to do that, see other discussion. I think maybe you were using the wrong casing: the policy wasn't aware of the correct casing of your snippet name, so couldn't like you to it correctly.

[2021-02-02 15:15] msorens commented on #2442
Yes, that is the newly created rule you found, not the original one.

[2021-02-02 18:27] chmccreery commented on #2442
OK, @msorens feel free to close this issue if it was in fact resolved by #2436

[2021-02-02 18:39] mschwager commented on #2427
Hey @mfocuz,

After merging in https://github.com/returntocorp/semgrep/pull/2450 we realized that this would break backwards compatibility with existing Semgrep installations, so we reverted. Generally, we believe that silently skipping `pattern-where-python` rules (e.g. in a CI scenario where a user may not be watching `stdout`) could lead to findings being missed. We could include some kind of `

[2021-02-02 22:44] mjambon commented on #2240
@aryx ocaml-tree-sitter per se is an ocaml code generator + the runtime library to support the generated code. I won't split them into different repos, for sure. We could distribute them as separate opam packages if that's useful. The key requirement is to not require downloading the tree-sitter-* submodules when we just want the ocaml-tree-sitter runtime library.

[2021-02-03 00:27] cfguimaraes commented on #1392
I've been looking at these links, I believe I can help you right now with option 2, parsing files and making it reproducible.
As I learn more about Semgrep I can write tests, no problem =D
And who knows someday I could help you with the parser.

Talk to you as soon as I found this exception in our codebase (is plenty of scenarios)

[2021-02-03 00:55] ievans commented on #1392
@cfguimaraes I am excited that you are interested in helping! If you would like even faster responses, you can also join us on Slack: https://r2c.dev/slack. Most of the developers are there and we are very friendly!

[2021-02-03 00:57] Ruin0x11 opened #2493 "Disambiguate between semgrep ellipsis and preexisting ellipsis operator in language"
Lua has a variadic argument operator (`...`) which expands to the set of variadic arguments in a function. It is used like this:

[code]

The problem is that this conflicts with semgrep's ellipsis operator. I was trying to write a rule that matched the following:

[code]

To do this I wrote the pattern:

[code]

But this does not match the example. If I write this, it works:

[code]

But now the p

[2021-02-03 01:01] ievans commented on #1338
Thanks to @Ruin0x11 this is well underway and shipped as "experimental" in Semgrep v.38. Tagging the people who liked the issue in case any of you are interested in helping test it! @ArniDagur, @pierwill, @riimak, @lojikil, @Boscop, @underyx, @KevinGimbel, @pcallahan-r7, @DrewDennison

Some related PRs:
https://github.com/returntocorp/semgrep/pull/2385
https://github.com/returntocorp/semgrep/pull/

[2021-02-03 01:40] colleend commented on #1118
We have currently shipped Kotlin as 'experimental' in Semgrep v.38! There's still some work to do before metavariables and ellipsis are fully functional, but tagging people who have liked this issue as a heads up @findjigar @asm0dey @rashadsookram @dimsuz @SPoint42 @starsep @radnair @traw @eoftedal @IndexOverflow

Some PRs that have been pushed:
[2288](https://github.com/returntocorp/semgrep/pull/

[2021-02-03 02:19] mjambon commented on #2240
Marking this as high-priority because it affects the productivity of all contributors, both internal and external.

[2021-02-03 14:17] aryx commented on #2240
In your original plan you have "The goal is to allow contributions to tree-sitter grammars without setting up an ocaml dev environment," and again later you wrote: "Updating a tree-sitter grammar in semgrep-tree-sitter should not require the contributor to build the ocaml components locally." but really I think we can assume people contributing/modifying the semgrep grammars have an OCaml environm

[2021-02-03 14:18] aryx commented on #2240
Ideally, the person who modifies a semgrep grammar will type make, and be forced to modify the Parse_xxx_tree_sitter.ml, so that the burden does not go on someone else.

[2021-02-03 14:19] aryx commented on #2240
ocaml-tree-sitter-lang was ok when it was just martin (and occasionally me) modifying the semgrep grammars, but now we have 5 people possibly modifying it, and it requires discipline to not walk on each other toes.

[2021-02-03 14:42] mschwager commented on #2493
Hi @Ruin0x11,

Nice catch! I know Python has an [`Ellipsis`](https://docs.python.org/dev/library/constants.html#Ellipsis) object as well - I wonder if there are similar issues. Since Lua is still in the experimental phase I'm going to mark this as lower priority. cc @aryx who knows more about these things than I do, and may be able to help out :)

[2021-02-03 14:47] mschwager commented on #2487
Hey @msorens,

That is a bit cumbersome. We could even just use `// ruleid` and `// ok` :thinking:

I'll track this as an enhancement in the editor :+1:

[2021-02-03 15:05] mschwager commented on #2476
Hey @karoun,

Thanks for the idea! Another option is leveraging the [`nosem`](https://semgrep.dev/docs/ignoring-findings/#ignoring-findings-via-inline-comments) functionality to allow all current findings, and stop new ones from creeping in. This would be a large code change, since it seems your codebase has many findings, but it's one way to achieve this workflow.

I know we've been thinking abou

[2021-02-03 15:10] #2442 closed, assigned to chmccreery

[2021-02-03 15:31] mschwager commented on #2424
Okay, I think this bug is a bit more complex than I originally anticipated. It appears to be a confusion between Golang's concept of `package`, and the `import` mechanism. Unfortunately it appears that we cannot totally rely on the `import` string for aliasing. E.g.

- This works: https://semgrep.dev/s/W8WA/, the `import` string "matches" the package name
- This doesn't work: https://semgrep.dev/s

[2021-02-03 16:02] yonkeltron commented on #2367
Hey thanks for this. My team and I are reviewing this and will get back to you as soon as we can assess.

Thanks,
+Jonathan

[2021-02-03 18:29] jdmarshall commented on #2409
@jondubois There's two reactions to being questioned about html interpolation: Either a detailed description of how we architected it out, in which case they are right 99% of the time (not as in 1 out of 100 respondents are wrong, but as in 1 out of 100 call sites don't follow the rules they think all the code follows), or someone says that's not a problem and 100% of the time they're wrong and th

[2021-02-03 19:31] jondubois commented on #2409
I'm surprised that so many people gave thumbs down to my comment for merely stating computationally provable facts. There is a big difference between code being bad/ugly and code being a security vulnerability.

Security-wise, concatenating strings in this way is no different from using the newer template strings syntax which everyone uses in React... In any case, you need to sanitize the input be

[2021-02-03 22:29] markchristensen-sl commented on #2398
I'm running Semgrep in two pipelines: one using the Sample ASP.NET as a source, and another custom .NET Core app. Both run Semgrep using $(Build.SourcesDirectory) as the source path, but only the Sample ASP.NET one recognizes the files.

I have used the --verbose Semgrep flag and added a pipeline variable, System.Debug=true, but neither return details for this issue.

[2021-02-03 23:00] minusworld commented on #2465
It's just the matched range, so that means that the `pattern-regex` set would be {Foo<0,3> Foo<10,13>, Foo<20,23>} and the `pattern-not-regex` set would be {Foo-<10,14>, -Foo<19,23>}.

(Those numbers are made up to illustrate the point.)

So, I think that means what you want is either:
1. Regexes to operate on a line-by-line bases when only `regex` clauses are used, or
2. To remove findings when `

[2021-02-04 03:33] nsweaney commented on #2409
Jon, the reason it provides some risk, even if low, is because you may use it in a perfectly safe manner, but you have no idea what the next dev following you will do.  Business requirements may change and the data that you thought was safe  may suddenly be modified by untrusted users. Or some future developer may simple assume that you followed best practices and treated the data safely.  Or busi

[2021-02-04 08:20] jondubois commented on #2409
@nsweaney In most cases, no matter how many layers you have, all it takes is one bad line of code to bring the whole thing down. The best protection is high quality automated testing. Everything else is just bureaucracy. It makes no sense that some automated tool which knows nothing about your business domain can somehow find vulnerabilities.

I don't know what kind of code people write these days

[2021-02-04 11:53] Sjord commented on #1392
We really need the latest tree-sitter-c-sharp to make semgrep work correctly, even for alpha functionality. I started updating it in [semgrep-grammars](https://github.com/returntocorp/semgrep-grammars), but this broke the build after the PR was merged, and I don't fully understand why.

[2021-02-04 14:06] aryx commented on #1392
What is the error message? What is broken?

[2021-02-04 15:13] Sjord commented on #1392
The CircleCI image [here](https://github.com/returntocorp/semgrep-grammars) showed failed instead of passed, but when I tried to reproduce it I got different errors each time. However, I think I solved it [in my PR](https://github.com/returntocorp/semgrep-grammars/pull/20).

[2021-02-04 17:51] nbrahms opened #2498 "Don't call a frontend error a server error"
Auth FE errors display a page that says "server error" and doesn't trigger Sentry

[2021-02-04 23:31] brendongo commented on #2276
Closed by https://github.com/returntocorp/semgrep/issues/2276

[2021-02-04 23:31] #2276 closed, assigned to brendongo

[2021-02-05 00:00] sfc-gh-cdai opened #2502 "import $VAR metavariable does not match entire import path"
**Describe the bug**
when typing the pattern ```import $VAR```, the metavariable $VAR matches only the last portion of the import path, not the entire import path.

**To Reproduce**
Here's an example:
https://semgrep.dev/s/oxN6/

**Expected behavior**
Would expect to match the entire path. In the example given, I would expect the pattern to match both of the example imports.

**What is the priorit

[2021-02-05 00:00] Ruin0x11 opened #2503 "Output results of rule matches asynchronously, before all the rules have finished running"
It's common for programs like ripgrep to output the results of matches before the entire scan has finished running. In an interactive context, it would be helpful to show the results as early as possible. For example, Emacs has multiple different input querying frameworks that update the command to run as you type in more of the pattern. With ripgrep you can get results almost instantly when you p

[2021-02-05 00:49] ievans commented on #2502
hi @sfc-gh-cdai -- thanks for filing an issue! It looks like the link to the editor you sent is empty -- can you click the "share" button before copying the link? that should generate a short url permalink. Thank you!

[2021-02-05 17:43] colleend opened #2507 "Kotlin support -lang kt and -lang kotlin"
**Describe the bug**
-lang kt and -lang kotlin from the semgrep repository currently result in 'language not found' errors.

[2021-02-05 21:04] clintgibler commented on #2502
Also relevant: https://github.com/returntocorp/semgrep/issues/975

[2021-02-05 21:18] ievans commented on #478
I don't think so. Closing and @mschwager or @clintgibler can re-open if they disagree

[2021-02-05 21:18] #478 closed, assigned to nobody

[2021-02-05 21:21] ievans commented on #2475
@karoun since the semgrep CI wrapper unblocks this but it's still a bug we'd like to fix, marking as a P2 for now

[2021-02-07 21:04] Ruin0x11 commented on #2240
IMO, I think it's only practical to modify the semgrep grammars if you're also going to modify the parser code, since changes in the former can cause compile errors in the latter, so you'd need both dev environments set up anyway to make sure nothing breaks. It sounds like it's a tradeoff between having an `ocaml-tree-sitter-lang` that can easily get out of sync with `semgrep-grammars` on a consta

[2021-02-08 00:50] mjambon opened #2513 "Error with 'git submodule update --init --recursive'"
I made submodule changes within the `ocaml-tree-sitter` repo, which is itself a submodule of semgrep. If you do `git submodule update --init`, everything is fine, but with the `--recursive` flag git gets confused and produces a message like this:
[code]
Solution that worked for me:
[code]
There may be other quirks, depending on the state of your development tree. Please reach out for help on our [

[2021-02-08 01:09] mjambon commented on #2240
The current situation is:
* semgrep-grammars is now included in ocaml-tree-sitter instead of being a submodule (since today)
* generated code is published to semgrep-LANG for each language LANG, instead of all the languages existing in ocaml-tree-sitter-lang (work in progress)

[2021-02-08 01:17] mjambon commented on #2240
Basically, we're dropping the goal of "separating ocaml and nodejs worlds".

[2021-02-08 01:46] xerxesb opened #2514 "Semgrep unable to analyse file with non-ascii chars (UnicodeEncodeError: 'ascii' codec can't encode characters)"
**Describe the bug**
When I run semgrep using the standard `r2c-ci` rules, the runner fails and reports a python exception

**To Reproduce**
I've narrowed the issue down to a single file in our repo. We use the JSON Editor js module, and semgrep crashes when trying to parse it.
https://cdnjs.cloudflare.com/ajax/libs/json-editor/2.5.2/jsoneditor.min.js

[code]

**Expected behavior**
I expected it t

[2021-02-08 10:19] aryx commented on #2507
what does "from the semgrep repository" means in this context?
What is the command-line that fails?

[2021-02-08 10:21] aryx commented on #2493
The place where you can use ... in Python (I think mostly in types) are different than the place where semgrep is using so we didn't have the problem in Python.

[2021-02-08 10:30] SPoint42 commented on #2507
This 2 lines :

`docker run -v ${PWD}:/src -v c:\semgrep-rules\Level1\Kotlin\:/rules  returntocorp/semgrep /src --config /rules/ --lang kt`
`docker run -v ${PWD}:/src -v c:\semgrep-rules\Level1\Kotlin\:/rules  returntocorp/semgrep /src --config /rules/ --lang kotlin`
returns :

`unsupported language: kt. supported languages are: C#, JSON, Json, c, cs, csharp, generic, go, golang, java, javascript,

[2021-02-08 13:34] aryx commented on #2411
This should work better now. People should get a TooManyMatches error, not a Timeout error anymore.

[2021-02-08 13:34] #2411 closed, assigned to aryx

[2021-02-08 13:41] aryx commented on #2367
Closing for now as martin's solution seems to satisfy your need.

[2021-02-08 13:41] #2367 closed, assigned to mjambon

[2021-02-08 13:42] #2376 closed, assigned to emjin

[2021-02-08 15:12] mschwager commented on #2502
Good catch, I see that the first line considers `$CRYPTO_LIB` as `CryptoCipherFactory`, and the second line as `BouncyCastleProvider`, so it appears to be the same issue as Python imports. cc @aryx who's been thinking about this for a while.

[2021-02-08 15:27] mschwager commented on #2514
Hi @xerxesb,

Can you describe your environment further? Are you sure you're running the latest version of Semgrep?

I'm unable to reproduce on Ubuntu 18.04 when running via a Docker environment and Python pip-installed environment:

[code]

[2021-02-08 15:43] mschwager commented on #2368
@brendongo @nbrahms do you know the status of this issue? I see it was moved into "To do... later" then moved back into "To do."

[2021-02-08 15:45] mschwager commented on #2191
@underyx @nbrahms do you know the status of this issue? It looks like it was moved into "To do... later" then back to "To do."

[2021-02-08 17:27] mjambon opened #2518 "Update "add a language" instructions in semgrep and pfff to reflect recent changes in pfff"
`Lang.ml` recently moved from pfff to semgrep-core. Some other files like `file_type.ml` are still in pfff and still need to be updated when adding a language, it seems.

[2021-02-08 17:34] jdmarshall commented on #2409
@jondubois

The problem with code smells is that they blunt the power of human audits. It's something you don't necessarily pick up on unless you really watch people (or yourself) go through the process and trying to figure out where the waste occurs.

Code that looks wrong gets time spent on it, in perpetuity.

[2021-02-08 17:39] mjambon commented on #2240
The split of ocaml-tree-sitter-lang into semgrep-javascript, semgrep-ruby, etc. is now live!

[2021-02-08 17:39] #2240 closed, assigned to mjambon

[2021-02-08 19:14] nbrahms commented on #2368
@Uzair614 what's the priority of this issue to you? It seems like you have a workaround now, so we'll put it at P2 for now. Please let us know if you want us to advance the priority of this. 🙇

[2021-02-08 21:11] mschwager commented on #374
This works now! https://semgrep.dev/s/weZn/

[2021-02-08 21:15] mschwager commented on #910
Both of @emjin's examples work now!

[2021-02-08 21:15] #910 closed, assigned to nobody

[2021-02-08 21:24] mschwager commented on #1120
I think this got done with @ievans's https://github.com/returntocorp/semgrep/pull/2082 PR. Can we close?

[2021-02-08 21:29] aryx commented on #374
well, what works now? The example of drew ($X === $X) actually does not work, and your example matt does not involve any dataflow. You just look for console.log(...).

[2021-02-08 21:30] mschwager commented on #1295
After https://github.com/returntocorp/semgrep/pull/2326 we now see the following:

[code]

Is that sufficient @underyx?

[2021-02-08 21:33] mschwager commented on #374
Ahh true, I misunderstood the request. Reopening...

[2021-02-08 21:38] mschwager commented on #1386
This flag works in my testing:

[code]

[code]

Feel free to re-open if you see an issue.

[2021-02-08 21:38] #1386 closed, assigned to nobody

[2021-02-08 21:39] mschwager commented on #1607
Fixed by https://github.com/returntocorp/semgrep/pull/2364

[2021-02-08 21:39] #1607 closed, assigned to minusworld

[2021-02-08 21:44] mschwager commented on #1645
@aryx is this done with https://github.com/returntocorp/pfff/pull/361, https://github.com/returntocorp/semgrep/pull/2322, and https://github.com/returntocorp/semgrep/pull/2386?

[2021-02-08 22:14] IagoAbal commented on #2440
Internally `:=` is not being represented as an assignment in the way that one would expect, the encoding is kind of "obfuscated". As far as I understood it, this is because some users want to distinguish `:=` from `=` during matching. I will fix constant propagation to recognize this case and handle it properly.

[2021-02-08 22:18] IagoAbal commented on #1645
Some of the features, such as`($X: const<int>)`, are still not implemented.

[2021-02-08 22:37] underyx commented on #1295
Good enough for me!

[2021-02-08 22:37] #1295 closed, assigned to nobody

[2021-02-08 23:37] nbrahms commented on #2424
Since there's no syntactic information to indicate that the `jwt-go` package is named `jwt`, we'll need to implement user-defined equivalences for this. I'm not sure if we've implemented this yet at all (or how it would work), so leaving this as a feature-request for equivalences.

As a workaround, I think https://semgrep.dev/s/dK1Q/ is probably the best Semgrep can do in the near term, although i

[2021-02-08 23:38] nbrahms commented on #2424
@fproulx-boostsecurity can you confirm that the above workaround alleviates your current issue? Much thanks, and our gratitude for raising this issue.

[2021-02-08 23:54] ievans commented on #1120
Yup from me!

[2021-02-08 23:54] #1120 closed, assigned to nbrahms

[2021-02-09 02:47] xerxesb commented on #2514
Hi @mschwager,

I just noted a small mistake in my original report. The URL of the file should actually be:
https://cdnjs.cloudflare.com/ajax/libs/json-editor/2.5.2/jsoneditor.min.js

However even the URL above and the one I originally provided both fail with the same error (only difference is the character position).

Some more information about my env:
* Semgrep version == 0.39.1
* Python versio

[2021-02-09 10:54] Sjord commented on #1392
@mjambon, could you perhaps import the latest [upstream](https://github.com/tree-sitter/tree-sitter-c-sharp) C# grammar? The version in [semgrep-c-sharp](https://github.com/returntocorp/semgrep-c-sharp) is pretty old and contains several serious bugs.

[2021-02-09 11:15] #2400 closed, assigned to aryx

[2021-02-09 16:33] aryx commented on #1392
@mjambon I can have a go at it. Good way to test for me the new ocaml-tree-sitter organization.

[2021-02-09 18:55] clintgibler opened #2523 ""..." does not match string literals in Typescript imports or exports"
**Describe the bug**
Pretty much what the title says. I'd expect `'./foo/Bar'` and `'otherString'` to be matched by the pattern: `"..."`.
[code]

**To Reproduce**
https://semgrep.dev/s/clintgibler:typescript-import-export-string-literals

**What is the priority of the bug to you?**
P2 (regular bug that should get fixed)?

[2021-02-09 19:25] fproulx-boostsecurity commented on #2424
OK. I understand. But yeah I guess some user equivalence in the rule to specify the package name will be necessary... :/

[2021-02-09 21:01] mjambon opened #2526 "Protect against tree-sitter library incompatibilities"
The tree-sitter runtime library used to link semgrep-core against must be at least as recent as the version of tree-sitter used to generate the parsers from ocaml-tree-sitter.

This task is to add a check at the time of building semgrep-core (in particular, a statically-linked semgrep-core), so as to avoid surprise segfaults at run time.

[2021-02-09 23:35] clintgibler opened #2528 "Java fails to parse when `$` in identifiers"
**Describe the bug**
It appears that `$`'s can appear in several places in Java source code that currently causes Semgrep to fail to parse the file, including:
* In enum names
* In imports
* Probably other places

**To Reproduce**
https://semgrep.dev/s/clintgibler:java-dollarsigns-parse-bugs

**Expected behavior**
I would expect this file to parse.

**What is the priority of the bug to you?**
P2 (

[2021-02-10 04:22] msorens opened #2530 "Ability to exclude rules from rulesets on command line"
**Is your feature request related to a problem? Please describe.**
I want to explore additional rulesets to add to my semgrep scans in CI. Before enabling a new ruleset in CI, however, I want to see the results on the whole codebase. So I just came across `p/r2c-bug-scan` that I had not noticed before. I have a convenience entry in my makefile that sort of approximates the .semgrepignore list that

[2021-02-10 08:29] danielcuthbert opened #2532 "Parser error when parsing obfuscated JavaScript (CLI and Online Rules Editor)"
**Introduction**

Whilst testing Semgreps ability to parse malicious JavaScript (in this case, MageCart skimmer code), I've found that the parser struggles with certain jQuery blocks. This results in both the parser reporting failure and also in combination with the --log value, it doesn't write any of the debug information to the log file.

The code itself is valid and can be seen at semgrep --co

[2021-02-10 11:49] zain-CSsol opened #2533 "OSError: [WinError 193] %1 is not a valid Win32 application"
Hello, i installed semgrep locally on desktop computer with python having following configurations

1. HP ProBook
2. RAM (16GB)
3. Processor Core i5 (7th Gen)
4. Python 3.7

to download the config file i issued the following command highlighted in the semgrep official website [here](https://semgrep.dev/p/ci)

**semgrep --config "p/ci"**

at first it tried to download the config file but then abort

[2021-02-10 13:49] jithurjacob commented on #2411
@aryx @underyx @nbrahms  - Just to clarify, how will the user get issues related to a file in case of TooManyMatches error?

Suppose a user scans three.js shown above with timeout 0, and semgrep got 128K matches. As per the new behaviour, semgrep will exit with TooManyMAtches and not Timeout. But how will this help end-users to identify actual issues? What should they do to get actual issues in ca

[2021-02-10 14:16] xmo-odoo commented on #2530
An other situation in which filtering rules would be useful is wanting to work on a specific rule from an existing ruleset, or creating a new rule for a ruleset. Yes it's possible to copy/paste that rule into a separate configuration file, but being able to opt in or out of rules within a config files would be super useful.

[2021-02-10 14:17] aryx commented on #2411
The actual issue is that the pattern used is too general and match too many times, so we should fix this pattern/rule (see the "most offending rule" line in your example with the problematic pattern displayed).
Nathan actually recently improved some of our rules to use less of those general patterns while still finding the same final bugs.

[2021-02-10 14:42] mschwager commented on #2514
Interesting, I was eventually able to reproduce on this Docker image. The key insight ended up being:

Locally for me:

[code]

From your Docker image:

[code]

Running the following command successfully completes for me in the Docker container:

[code]

Note that we do set this encoding in our officially provided [`Dockerfile`](https://github.com/returntocorp/semgrep/blob/develop/Dockerfile). Is

[2021-02-10 14:53] zythosec commented on #2237
@mschwager @minusworld @aryx looks to be fixed. i re-downloaded the yaml file from the policy in the UI and it looks like the problematic patterns were removed. It is still pretty slow but I think that's the nature of the rules + the repo. Now it does finish and give results though so I would consider this closed 👍 thanks!

[2021-02-10 14:57] mschwager commented on #2533
Hi there @zain-CSsol,

Thanks for opening this ticket. Native Windows is currently unsupported, we're tracking this request in #1330. We should definitely make this more clear when running `semgrep` on Windows. `semgrep` does work on WSL, are you able to run it there?

[2021-02-10 14:57] emjin commented on #2486
Matt's correct---the ${...} portion is parsed as an interpolated string. The first link you gave was behaving as expected; it was matching the presence of a $ in the first string (https://semgrep.dev/s/emjin:dollar-rule shows it's not exact match). You can actually search directly for an interpolated string, if that's all you want! (see https://semgrep.dev/s/emjin:inter-string) I'm not sure if thi

[2021-02-10 15:00] mschwager commented on #2237
Awesome, thanks for sticking with us to solve this problem!

[2021-02-10 15:00] #2237 closed, assigned to aryx, mschwager, minusworld

[2021-02-10 15:37] aryx commented on #2486
Someone should file a task in semgrep-app for saying there's an error in the code when the error is really in the pattern.

[2021-02-10 16:11] mschwager commented on #2514
Adding `encode('utf-8')` won't work because of our output coloring and other formatting :/

I could always wrap the `print` in a `try`/`except UnicodeEncodeError` and recommend setting `PYTHONIOENCODING=utf-8` if you see this error :thinking:. Does that sound reasonable?

[2021-02-10 16:49] emjin commented on #2486
https://github.com/returntocorp/semgrep-app/issues/1630

[2021-02-10 17:22] msorens opened #2537 "Selecting rule to disable in a policy shows mutiple copies"
**Describe the bug**
A clear and concise description of what the bug is.
<img width="828" alt="image" src="https://user-images.githubusercontent.com/6817500/107546404-2aec1400-6b81-11eb-9476-4989a104615d.png">

Additional note: I had seen this a couple months ago and it was fixed shortly after I reported it.

**To Reproduce**
Open a policy.
Add a ruleset ("r2c-bug-scan").
Select the "Add a disable

[2021-02-10 17:53] #2486 closed, assigned to emjin

[2021-02-10 18:45] colleend commented on #2486
seems like the inter-string rule is giving me the $ rule instead -- what's the syntax to search directly for the interpolated string again? Ideally for this pattern, I would want to find an interpolated string with string literals to the left or right side of the interpolated string (the second example in https://semgrep.dev/s/EkvA/)

[2021-02-10 19:51] nbrahms commented on #2530
Thanks for the submission @msorens !

[2021-02-10 20:00] emjin opened #2540 "Go type assertion missing token location info"
**Describe the bug**
Type assertion label for go is missing token location info

**To Reproduce**
https://semgrep.dev/s/jRDl

**Expected behavior**
Should return results

[2021-02-10 21:02] aryx commented on #2502
Note that an alternative is also to use import $PACKAGE.$ENTITY;
which will match import org.com.bar.MyList; with $PACKAGE bound to org.com.bar and $ENTITY to MyList.

With the PR above, import $LIB; now also match and $LIB is bound to the FQN (fully qualified name) org.com.bar.MyList.

[2021-02-10 21:21] aryx commented on #975
And now we bind the fully qualified name in Java

[2021-02-10 21:33] mschwager commented on #975
w00t, slowly but surely!

[2021-02-10 21:33] #2502 closed, assigned to aryx

[2021-02-10 21:40] emjin commented on #2453
For the last one (https://semgrep.dev/s/N487), the discrepancy is because one of the else bodies is empty. Not sure if we'd want to update the behavior to be more intuitive, but https://semgrep.dev/s/ydXO should get you want you want in the meantime.

[2021-02-10 22:33] emjin commented on #2486
Oops linked the wrong thing! @colleend Does https://semgrep.dev/s/weXn work?

[2021-02-10 22:46] xerxesb commented on #2514
See that surprises me. I wouldn't have imagined nvidia needing to change the default encoding in their image...? I decided to run a quick test using the originating ubuntu 18.04 image...

I fully grant that I might be misunderstanding it, but it looks like the base image has a default encoding set to `ANSI_X3.4-1968`, so I'm surprised I haven't seen this reported before (I would have expected plen

[2021-02-10 22:51] dlukeomalley opened #2544 "Semgrep should return non-zero exit code when results are found"
Per https://semgrep.dev/docs/cli-usage/, Semgrep should return a non-zero exit code when results are found.

On the https://github.com/digininja/DVWA repo, when clone and run with `eslint-plugin-security` ruleset:

[code]

CC @jmeit-fwdsec who found the bug

[2021-02-11 00:47] colleend commented on #2486
perfect! 🙏 🙏

[2021-02-11 02:40] jithurjacob commented on #2411
@aryx - Okay so if I understand correctly, semgrep found 128K matches due to a bad pattern in a rule. Since the number of patterns is greater than max_matches semgrep exits with TooManyMatches error.

Suppose the user wants to find the issues no matter the wait time(overnight CI scan for example) and has defined timeout 0. How can they currently set max_matches to 0 or -1 to get the scan result?

[2021-02-11 03:43] ievans commented on #2411
@jithurjacob, I'm sure @aryx will answer your question but I thought I'd more about the philosophy behind Semgrep. We generally expect that eventually developers or security engineers are going to look at the output of the tool. 128K+ matches on a single file would take a few months to review if you are going to spend a minute on each finding! So I wouldn't expect us to optimize the performance of

[2021-02-11 04:01] jithurjacob commented on #2411
@ievans I'm confused 128K matches means 128K issues have been found by a rule or 128K matches has been found by a rule which needs to be scanned by semgrep to find X issues?  I was under the impression that 128K matches need to be narrowed down by semgrep. So due to time constraints, TooManyMatches error was being thrown.

No, we do not have a separate pipeline. It's a manual analysis of issues fo

[2021-02-11 06:59] zain-CSsol commented on #2533
Thanks a lot for your concern, no till now i haven't tested on WSL, but i am definitely going to test it on WSL to test the behavior.

[2021-02-11 07:02] zain-CSsol commented on #1330
Yes i think it's still in progress i am also backtracking the issue for solution, anyhow if any one of you came to know the solution then do let me know

[2021-02-11 08:03] aryx commented on #2411
The 128K is actually the number of match of a pattern in a rule. It does not mean indeed that semgrep at the end will return 128K matches, because this pattern is probably gonna be combined with other more restricting patterns in the rule.
I am actually working on reorganizing the engine to reorder how we look for those patterns which could solve the problem, but it's not yet ready.
In the mean ti

[2021-02-11 10:13] #2514 closed, assigned to mschwager

[2021-02-11 10:15] aryx commented on #2400
This works on develop now: https://semgrep.dev/s/DooW?version=develop

[2021-02-11 10:22] aryx commented on #2530
jsonnet ...

[2021-02-11 10:27] aryx commented on #2528
tracked here: https://github.com/tree-sitter/tree-sitter-java/issues/62

[2021-02-11 10:35] aryx commented on #2513
Seems like we managed to update with your fix.
Let's close this.

[2021-02-11 10:35] #2513 closed, assigned to mjambon

[2021-02-11 10:36] aryx commented on #2507
I think this should work on develop now.
Should be available in the next semgrep release (0.40.0) next week.

[2021-02-11 10:36] #2507 closed, assigned to colleend

[2021-02-11 10:38] aryx commented on #2503
Note that semgrep-core itself can do that (there is also a -emacs flag).

[2021-02-11 10:42] aryx commented on #2452
@IagoAbal want to take a look at this? A bug in Naming_AST.ml probably (which needs some love ...).

[2021-02-11 10:45] aryx commented on #2360
@zythosec I think we're done with refactoring semgrep, pfff, and ocaml-tree-sitter to make it easier for external contributors to add languages. Let us know if you need some help with the new code organization and flow.

[2021-02-11 10:47] aryx commented on #2316
Any progress on this @emjin ?

[2021-02-11 10:50] aryx commented on #2291
I think most of the things have been merged with https://github.com/returntocorp/semgrep/pull/2531, and ruby is at 99.944% I think.

[2021-02-11 10:50] #2291 closed, assigned to nbrahms

[2021-02-11 10:51] aryx commented on #2255
Can you port semgrep Caching to spacegrep and fix that now?

[2021-02-11 10:52] aryx commented on #2432
related also: https://github.com/returntocorp/semgrep/issues/2252

[2021-02-11 10:55] underyx commented on #2513
Yay, thanks for pointing to a fix! In my case, I also had to run `git submodule deinit -f --all` before removing the directory.

[2021-02-11 11:47] jithurjacob commented on #2411
@aryx Thank you for the clarification. Is it possible for me to test this with SEMGREP_CORE_EXTRA? I haven't seen this in any documentation.

[2021-02-11 12:00] aryx commented on #2411
Yes. you can do export SEMGREP_CORE_EXTRA=-max_match_per_file 200000
The use of SEMGREP_CORE_PROFILE is documented in CONTRIBUTING.md but not SEMGREP_CORE_EXTRA indeed.
Those options are supposed to be used only by semgrep developers, but I guess in your case you can try it.

[2021-02-11 12:00] jithurjacob opened #2547 "Incorrect rule - Flask static url creation"
**Describe the bug**
While running semgrep on a Flask template, an incorrect match is given. It is fine to use url_for to generate static links. The rule defined in semgrep does not check if the tag is link or not.

Since we cannot comment out individual lines in HTML we are ignoring the entire file and this causing issues in adoption.

**To Reproduce**
Save this as index.html
`<link rel="styleshe

[2021-02-11 12:25] aryx commented on #2523
The pattern "..." assumes that you are looking for a string _expression_. Here it's not an expression but a module name, which
has a different category internally. One of those cases where semgrep is not like grep.

[2021-02-11 12:25] aryx commented on #2523
We could disambiguate and allow import { ...} from "..."; or export * from "..."
or maybe allow a partial 'from "..."', but none of those currently work for different kinds of reasons.

[2021-02-11 12:27] aryx commented on #2528
This is allowed indeed: https://docs.oracle.com/javase/specs/jls/se8/html/jls-3.html according to the spec, even though
such legacy identifiers are discouraged, or should be present only in generated code.

[2021-02-11 12:33] aryx commented on #2528
But your file contains a syntactical error with a missing semicolon at the second line.
With it the file parses fine (because the Java pfff parser handles correctly those identifiers).
See https://semgrep.dev/s/dKJQ/

[2021-02-11 12:35] aryx commented on #2528
Then your pattern $X does not match all of those identifiers, because $X is parsed as a expression metavariable, and will only
match expressions.

[2021-02-11 12:35] aryx commented on #2528
Closing as semgrep actually currently parses this file (even though the tree-sitter-java parser does not).

[2021-02-11 12:44] #2528 closed, assigned to nobody

[2021-02-11 13:21] jithurjacob commented on #2411
@aryx - thanks this helped us along with setting the timeout as 0

[2021-02-11 13:28] erwanlr commented on #2453
Thanks @emjin, however for the last one, the pattern in the linked semgrev dev was not the one I talked about for some reason (I guess I was testing things).

https://semgrep.dev/s/nd9Z

What I meant with this one is that `pattern: do_something(...);` will not match:

[code]

But will match

[code]

However, if `pattern: do_something(...)` is used, both will match but that's not a real case scenar

[2021-02-11 13:28] xmo-odoo opened #2548 "metavariable-regex not working with pattern-inside?"
When using `pattern-inside` and `metavariable-regex` which tries to filter one of the `pattern-inside`'s metavariables, the match seems to never happen https://semgrep.dev/s/8ykq

[code]
The intent is to match all methods which are "public" (not starting with `_`) and use a bare `return` or a `return None`. Commenting the `metavariable-regex`, all methods with the return are matched (including tho

[2021-02-11 14:23] mschwager commented on #2514
It does seem odd that the Ubuntu base image doesn't use `UTF-8`. Especially since I'm using Ubuntu OS and that is what I get.

Ahh, I see, that makes sense. I suspect most Semgrep Docker users are using our official image, but I agree that we should cover `pip` installation wherever we can :+1:. https://github.com/returntocorp/semgrep/pull/2535 should at least point people in the right direction i

[2021-02-11 14:37] mschwager commented on #2544
I believe this has always been the case, and the docs appear to be incorrect. IIRC this is why we have the `--error` flag:

[code]

I'm definitely supportive of this, I think it makes more sense to have the reverse: exit > 0 with findings by default, and provide a flag to exit 0 with findings when provided. This is what `flake8` does:

[code]

However, I think this will be a big change because the

[2021-02-11 16:42] nbrahms opened #2551 "Add unit tests for metavariable bindings"
We've seen regressions with what strings get bound to metavariables.

This occurs most frequently when binding entity names in imports, and seems to differ across languages.

Suggestion is to write a quick unit test suite for these bindings for each GA and beta language.

[2021-02-11 17:25] mschwager opened #2552 "Deep expression operator doesn't cover object/dict initialization"
From https://github.com/returntocorp/semgrep-rules/issues/1098.

Looking at the following behavior:

- Works: https://semgrep.dev/s/5QZD/
- Doesn't work: https://semgrep.dev/s/Geby/
- Doesn't work: https://semgrep.dev/s/Ro5g/

Do we expect the deep expression operator to work in this way?

[2021-02-11 17:57] nbrahms commented on #2544
@dlukeomalley What do you see the priority of this issue as?

[2021-02-11 21:16] emjin commented on #2453
Ah, that is weird indeed! It seems to be related to your other problem, so hopefully fixing one will fix the other. Looking into it.

[2021-02-12 03:49] mjambon opened #2558 "Write a guide for mapping tree-sitter CST to generic AST"
Here's what I wrote in r2c community Slack when asked about it. Maybe we can just copy-paste these tips as a starting point: https://r2c-community.slack.com/archives/C01LNF69F9B/p1613071312036100

[2021-02-12 09:02] #2533 closed, assigned to mschwager

[2021-02-12 09:07] #2316 closed, assigned to emjin

[2021-02-12 09:48] #2453 closed, assigned to emjin

[2021-02-12 13:43] aryx commented on #2234
I can make 'import fs from "fs"' match code like 'import fs = require("fs")'
but just import "fs" is not valid typescript so I will not allow it.

[2021-02-12 14:08] aryx commented on #2367
Yes for now semgrep usually does not support metavariable matching a sequence of things, like here $IMPORTS for a list of imported entities. Instead metavariable cam match only a single element.
There are some work to allow sequence metavariables like $...IMPORTS, but it's still exeperimental and restricted to a few languages.

[2021-02-12 15:58] #2234 closed, assigned to aryx

[2021-02-12 17:23] emjin commented on #2453
The first and third (https://semgrep.dev/s/Kl8d and https://semgrep.dev/s/nd9Z) are working on develop now---you can check by going to tools and then selecting "use develop docker image". Those fixes will go out in the next release.

Your second one (https://semgrep.dev/s/rdk0) is less directly related. Your pattern isn't expected to match, because in
[code]
the two lines are in different scopes.

[2021-02-12 18:35] nbrahms commented on #1489
@aryx Per your request, I thought I'd lay out an approximate technical specification here:

## Match space

First, we collect all metavariable definitions in the pattern definition. For each metavariable v, we define the set of possible bindings as _B_v_. For each metavariable, a match can return a set of possible bindings, where these sets are contained in the combination set _V_v_ of _B_v_.

We

[2021-02-12 23:10] nelsonlaquet commented on #2409
Hm... This isn't actually equivalent at all.

[code]

Is indeed equivalent to

[code]

But that isn't actually what we're talking about when it comes to mitigating injection vulnerabilities. It would be more appropriate to compare to:

[code]

The third case looks similar, but in fact is vastly different in function and security implications. Mitigating code injection vulnerabilities is quite simp

[2021-02-13 10:18] jondubois commented on #2409
@nelsonlaquet my point is that any code which renders untrusted data into a string/template (by whatever mechanism) without doing some kind of verification on that data first is potentially vulnerable. The problem has nothing to do with how the string or element is generated and everything to do with having proper validation. It's still possible to make your react component above crash by passing

[2021-02-13 11:01] ben-elttam commented on #2234
I think `import fs from "fs"` matching both `import fs from "fs"` and `import fs = require("fs")` should be enough.
Thanks @aryx.

[2021-02-13 14:47] erwanlr commented on #2453
Thank you for the fix!

Even though I understand the scope thing, using a pattern-inside will produce false positive, matching statements from two different functions for example, ie https://semgrep.dev/s/1Zk1/?version=develop

[2021-02-13 18:13] cfguimaraes commented on #1392
Hello all :)

@Sjord when running locally in windows via docker I have got these exceptions:

[code]

I know this isn't what you are want me to look for `Fatal error: exception (Failure "not implemented")`. But I'm curious if I should ignore or report these as separate?

[2021-02-14 10:42] Sjord commented on #1392
This is probably because of [a bug](https://github.com/tree-sitter/tree-sitter-c-sharp/issues/141) in the tree-sitter grammar. It doesn't currently make much sense to create a test case for this, until we have an updated grammar.

This is new to me. This could be interesting to have a test case for.

[2021-02-14 14:18] cfguimaraes commented on #1392
I found what is the cause of the Error you are interested in.

I've made the minimum reproducible code that I can

[code]

In the code above Request is a DTO Class, request.A is a string property and request.B is an extension method that returns an `(int,int)?` Nullable tuple.

I want to know from you what is the best way you would like to receive these snippets. And of course,

My next step is le

[2021-02-14 14:20] cfguimaraes commented on #1392
Important too, I've been running docker this way
`docker run --rm -v "${PWD}:/src" returntocorp/semgrep --dump-ast -l cs file.cs`

[2021-02-14 14:26] Sjord commented on #1392
Thanks, @cfguimaraes. Yes, I think a new GitHub project with code snippets is the easiest way. Then I will add them to the semgrep parsing tests as soon as I implement the parsing code for them.

[2021-02-14 23:18] msorens commented on #2298
Another data point. I was wondering why my open findings jumped from 21 to 25 just recently. I took the real output of my nightly semgrep run on my codebase, trimmed the output, and sorted to show the issue succinctly:
[code]
I am guessing that `go.lang.security.audit.net.use-tls.use-tls` appears in 3 different rulesets since each such finding is reported in triplicate.

Fallout from this issue:
(

[2021-02-15 16:32] #2470 closed, assigned to emjin

[2021-02-15 19:09] emjin opened #2564 "Add support for typed metavariables in Typescript"
**Is your feature request related to a problem? Please describe.**
We support typed metavariables for statically typed languages like Java and Go. Typescript is a dynamically typed language (though it has more guarantees than Javascript), but it would be nice to have!

[2021-02-16 10:45] domainController opened #2565 "Support for 32 bit architecture (compile semgrep-core for 32bits machines)"
**Describe the bug**
Cannot run semgrep without always running into the same error:

OSError: [Errno 8] Exec format error: '/usr/local/lib/python3.6/dist-packages/semgrep/bin/semgrep-core'

![semgrep](https://user-images.githubusercontent.com/58897196/108051283-9da63500-7042-11eb-9820-6c054bc7a1e5.png)
 started by examples from

**To Reproduce**
A simple install in my case.
I wonder if it's due to

[2021-02-16 11:42] aryx commented on #2565
Yep, probably because we internally use a binary, semgrep-core, which is compiled for 64bit archi.
Can you do $ ldd /usr/local/lib/python3.6/dist-packages/semgrep/bin/semgrep-core
Can you execute this file in bash?

[2021-02-16 11:56] jithurjacob opened #2566 "Per line ignore for HTML files"
**Is your feature request related to a problem? Please describe.**
Currently, it is not possible to ignore lines for HTML files. I've used exclude to ignore the file entirely.

**Describe the solution you'd like**
Ability to ignore lines with nosemgrep comments like other languages.

[2021-02-16 12:01] minusworld commented on #2566
Ah! Good catch. I think this should be a quick fix. I'll work on it shortly.

[2021-02-16 12:02] domainController commented on #2565
Thank you for your prompt reply Yoan. Here is my output.
![ldd](https://user-images.githubusercontent.com/58897196/108060372-b0266b80-704e-11eb-9117-8e75acdf16cd.png)

[2021-02-16 13:36] aryx commented on #2565
What happens when you try to execute the binary? You also get an error?
We could try to build a semgrep-core binary for x86-32; we also need to produce one for the new apple M1-ARM architecture; but it's still low priority right now unfortuntately.

[2021-02-16 13:58] aryx commented on #1392
update to latest tree-sitter-csharp here: https://github.com/returntocorp/ocaml-tree-sitter/pull/154

[2021-02-16 14:25] aryx commented on #1392
And here is the PR to update semgrep: https://github.com/returntocorp/semgrep/pull/2567 (incomplete).

[2021-02-16 14:30] aryx commented on #1392
@Sjord there are lots of changes in the latest tree-sitter-csharp. Would you mind fix #2567 ?

[2021-02-16 14:35] tuhaolam opened #2568 "Got a error "TypeError: attrs() got an unexpected keyword argument 'eq'" when running at the first time after installing"
**Describe the bug**
Got a error "TypeError: attrs() got an unexpected keyword argument 'eq'" when running at the first time after pip installment

**To Reproduce**
ζ semgrep -h
Traceback (most recent call last):
  File "/usr/local/bin/semgrep", line 5, in <module>
    from semgrep.__main__ import main
  File "/usr/local/lib/python3.7/dist-packages/semgrep/__main__.py", line 5, in <module>
    fro

[2021-02-16 14:46] tuhaolam commented on #2568
ζ python3
Python 3.7.5rc1 (default, Oct  8 2019, 16:47:45)
[GCC 9.2.1 20190909] on linux
Type "help", "copyright", "credits" or "license" for more information.

'19.1.0'

[2021-02-16 14:47] tuhaolam commented on #2568
After update attrs to attrs-20.3.0(>=19.3.0), it is fixed.

[2021-02-16 14:47] #2568 closed, assigned to nobody

[2021-02-16 15:04] domainController commented on #2565
Oops my bad . Installing Docker for a 32-bit machine do not solve the issue and outputs the exact same error. I did read the issue about M1-ARM architecture. This is good news. Using a remote  AWS machine and your REPL for the moment .

![exec_semgrepcore](https://user-images.githubusercontent.com/58897196/108080251-8f1e4480-7067-11eb-82c5-61ca0642740b.png)

[2021-02-16 15:09] aryx commented on #2564
relevant slack conversation: https://r2c-community.slack.com/archives/G01FXEAJJHK/p1613403370002000

[2021-02-17 00:11] chmccreery commented on #2530
@dlukeomalley wanted to make sure you saw this, as it is more feature-request than bug-report

[2021-02-17 08:16] #2440 closed, assigned to IagoAbal

[2021-02-17 16:21] mschwager commented on #2548
Hey @xmo-odoo,

Thanks for bringing this to our attention, I'm going to investigate what's going on. This looks similar to https://github.com/returntocorp/semgrep/issues/1699, hopefully we can solve this "metavariables with `pattern-inside`" in a generalized way :+1:

[2021-02-17 18:46] daghan opened #2578 "semgrep.dev bug report"
https://semgrep.dev/s/GeX6?stepByStep=1

This code should have matched  "box". I don't understand why.

[2021-02-17 22:00] emjin commented on #1856
It parses on develop! I'm not sure if this is meant to match or not @ievans @aryx, though we should probably open a separate issue. (It matches in other languages too)

[2021-02-17 22:17] colleend commented on #2578
thanks for filing the issue! The metavariable actually seems to match the entire string, quotes included. This should work:
https://semgrep.dev/s/0QPw/?stepByStep=1

[2021-02-17 22:38] DrewDennison commented on #2578
@colleend can you update the documentation please to clarify this and use these links as examples? @mschwager what's your thoughts on what `metavar-regex` API? Should we clarify that you have to include `"` in your regex or do you want to ask semgrep-core to return just the bits inside the string?

[2021-02-17 22:41] DrewDennison commented on #2565
related to #2252

[2021-02-17 22:43] DrewDennison commented on #2564
@aryx my vote is to lump into the LSP work but defer to you and @emjin on if this is easy cc @nbrahms

[2021-02-17 22:46] DrewDennison commented on #2551
@colleend this seems relevant for #2578 is this something you are able to tackle? It seems part of the language feature matrix work you did as part of the language graduation spec

[2021-02-17 22:47] DrewDennison commented on #2548
@xmo-odoo thanks for the bug report. Just checking what the priority of this fix is for you and if there are any timelines you're looking for a fix by?

[2021-02-17 22:51] DrewDennison commented on #2523
perhaps related to #2551

[2021-02-17 22:53] DrewDennison commented on #2503
@Ruin0x11 thanks for taking the time to write up a nice issue. We're actively interested in streaming results but we also want to change the python to ocaml interface and that's a bit more of a change. Are you ok with waiting a few months or so for that work before we tackle this?

[2021-02-17 22:55] DrewDennison commented on #2493
My thinking here is what we ask the user to `$FOO...` for metavars where it is ambiguous and have strict mode that always asks for the `$FOO...` syntax

[2021-02-17 23:00] DrewDennison commented on #2443
would like to pass a proper data structure down to the core from python with the full rules and all the config options. Or we could continue the work to remove python altogether

[2021-02-17 23:02] DrewDennison commented on #2439
@msorens as always, thank you for the detailed feedback and writeup! We're planning an editor revamp so I'll save this issue for an editor sprint if that's ok with you? cc @adamberman who might be interested in this discussion too

[2021-02-17 23:06] colleend commented on #2578
I can update the documentation. personally, I think having semgrep-core return the bits inside the string is more intuitive.

[2021-02-17 23:07] colleend commented on #2551
I can do this, but I probably won't get to this until next week.

[2021-02-17 23:07] DrewDennison commented on #2438
@mschwager this reminds me of the great work you did using regexs and the boolean logic for `pattern-regex` Do you think it would be feasible to wrap `find` or python's Pathlib in a similar fashion?

[2021-02-17 23:09] DrewDennison commented on #2437
YUP! I actually want to follow the git forking model and track the provenance for rules. Also queuing for an editor focused sprint cc @adamberman

[2021-02-17 23:09] daghan commented on #2578
The semgrep debugger didn't show what metavariable $BOX (in this above link) matched. I think regex is a very frequent use-case for people and a regex debugger would be super nice

[2021-02-17 23:10] DrewDennison commented on #2434
@aryx vote we do this with LSP again?

[2021-02-17 23:10] DrewDennison commented on #2433
same. Vote we do this with LSP next quarter

[2021-02-17 23:12] DrewDennison commented on #2432
r2c doesn't have an new M1 macs yet 😢 but I believe we could test this with arm docker images but would love a PR or help from anyone in the community with ARM compilation experience. 🙏

[2021-02-17 23:15] DrewDennison commented on #2424
@IagoAbal this seems related to your constant propagation work. Down the road, could we use a similar approach to do this for renamed imports?

[2021-02-17 23:19] dlukeomalley commented on #1953
Still relevant and of interest, thank you stale-bot! Adding `priority:high` to appropriately track the desire by us all for Scala support.

[2021-02-17 23:22] DrewDennison commented on #2398
hi @markchristensen-sl thanks for opening an issue and we can work on our documentation in https://github.com/returntocorp/semgrep-docs or if you got this working, please feel free to make a PR to that repo and we'll happily merge it in

I wanted to see if you were still having the issue above or if you had worked around it? If so, feel free to ping me on our [community slack](https://r2c.dev/slac

[2021-02-17 23:24] dlukeomalley commented on #1714
@ben-elttam May I close this ticket given the use of `https://semgrep.dev/c/p/<ruleset>`?

[2021-02-17 23:25] DrewDennison commented on #2298
@brendongo @mschwager @colleend  seems like an easy perf win to `list(set(all_rules)` and a good first task. Any of you up for knocking this out for our next release?

[2021-02-17 23:27] DrewDennison commented on #2264
two asks 1) I recommend using `semgrep-agent` in DefectDojo and 2) @underyx @brendongo can we add SARIF output to semgrep-agent with the new `--opts` flag?

[2021-02-17 23:27] DrewDennison commented on #2079
@mschwager I believe you did this already? Ok if I close out?

[2021-02-17 23:27] #2079 closed, assigned to mschwager

[2021-02-17 23:40] dlukeomalley commented on #2264
@DrewDennison Reflecting on this a bit more, I'm wondering if [Semgrep App](https://semgrep.dev) should just be able to post Semgrep CI results to DefectDojo? That takes away any manual result importing.

@xens, do you have any context/how-to knowledge on what it would look like to post Semgrep App data to DefectDojo? This would let us leverage the fanciness of Semgrep App (result deduplication, e

[2021-02-17 23:48] DrewDennison commented on #1330
related to #2252 and #2565 we would need to do cross-platform builds as part of our release process

[2021-02-17 23:48] DrewDennison commented on #1330
marking as low priority given WSL and docker workarounds

[2021-02-17 23:54] DrewDennison commented on #2530
@aryx config 2.0 will help but I think this is actually a issue of feature divergence between `semgrep` and `semgrep-agent` where the latter has the override logic cc @ievans and @dlukeomalley

[2021-02-17 23:59] dlukeomalley commented on #2476
@karoun Following up on some of earlier conversations, I think [Semgrep CI](https://github.com/returntocorp/semgrep-action/) solves most of the use case here. The maintainer group's preference is for any CI integration to leverage the diff-aware scanning + baselining features of Semgrep CI.

I'm tentatively closing this issue, is that ok given the functionality of Semgrep CI? Happy to chat more he

[2021-02-17 23:59] #2476 closed, assigned to nobody

[2021-02-18 00:34] ievans commented on #1964
Keep.

[2021-02-18 00:34] ievans commented on #2016
Keep.

[2021-02-18 00:36] ievans commented on #1340
IMO stale bot shouldn't run on `new-language` issues @nbrahms @dlukeomalley

[2021-02-18 00:36] ievans commented on #1644
Keep open

[2021-02-18 00:37] ievans commented on #1954
Keep

[2021-02-18 00:40] Ruin0x11 commented on #2503
Not a problem, just thought it might be worth mentioning. I'm a frequent Emacs user and the general sentiment with Emacs is the better the program is at outputting things to stdout, the easier it is to use in an extension.

[2021-02-18 01:27] dlukeomalley commented on #1703
@msorens Do you feel this ticket has been resolved or is outstanding given the UI changes on Semgrep App?

![image](https://user-images.githubusercontent.com/605906/108290533-76845c00-7145-11eb-82f0-17769dab8cc8.png)

[2021-02-18 02:41] inkz commented on #1007
:wave:

[2021-02-18 02:41] inkz commented on #584
:wave:

[2021-02-18 02:42] inkz commented on #1006
:wave:

[2021-02-18 02:47] inkz commented on #285
most of this stuff is working now, so I believe that this issue can be closed

[2021-02-18 02:47] #285 closed

[2021-02-18 04:50] ievans commented on #973
Keep

[2021-02-18 04:50] ievans commented on #51
Keep

[2021-02-18 07:18] xmo-odoo commented on #2548
@DrewDennison this is a low priority thing, I'm looking into semgrep and trying to use it personally (in part in order to better understand the quirks of pattern combinations, I don't think my mental model is correct yet) but that's about it.

This I decided to report because I spent a while trying to find out what I was doing wrong and a reduced test case showed it didn't seem to be supported (so

[2021-02-18 07:20] xmo-odoo commented on #2548
@mschwager

It does look like the same issue (just revealing itself in a different context). Should I close this one?

Maybe edit the title of #1699 so there's more chance people will find it when searching? Given #2154 it looks like I'm not the only one which missed the original.

[2021-02-18 07:29] minusworld commented on #1595
Keep

[2021-02-18 09:29] aryx commented on #584
@daghan just wanted that this week

[2021-02-18 09:33] aryx commented on #1007
maybe we could have function ...(...) { more stuff here }
to match named or unnamed functions? I remember @ajinabraham had to use many pattern-either to cover all the possible use of functions.

[2021-02-18 09:38] #2540 closed, assigned to emjin

[2021-02-18 09:39] aryx commented on #1856
Yep I think your recent fix emma on ast_php.ml fixes that.
Closing :)

[2021-02-18 09:39] #1856 closed, assigned to emjin

[2021-02-18 09:40] aryx commented on #1856
works on develop: https://semgrep.dev/s/weKN/?version=develop
Should be in the next release.

[2021-02-18 09:41] aryx commented on #2565
Should we move this to the backlog @DrewDennison ?
It's low priority no?

[2021-02-18 09:43] aryx commented on #2564
I don't think it would be too hard to do what we have for Java and Go given we use the AST generic for that, so it should work for Typescript for the type-annotated variables. In any case, LSP or not we need to extend the typescript/javascript grammar to support the typed metavariable syntax, so this will be needed anyway later.

[2021-02-18 09:47] aryx commented on #1096
@mschwager can you link to semgrep.dev examples of what does not currently work?

[2021-02-18 09:48] #1227 closed, assigned to emjin

[2021-02-18 09:49] #1187 closed, assigned to mschwager

[2021-02-18 09:52] #838 closed, assigned to nobody

[2021-02-18 09:56] #868 closed, assigned to nobody

[2021-02-18 09:59] #1309 closed, assigned to nobody

[2021-02-18 10:00] aryx commented on #1769
:wave:

[2021-02-18 10:03] aryx commented on #1147
:wave:

[2021-02-18 14:36] mschwager commented on #744
Still a thing

[2021-02-18 14:37] mschwager commented on #1474
Still a thing

[2021-02-18 14:37] mschwager commented on #1673
Still a thing

[2021-02-18 15:17] #2566 closed, assigned to minusworld

[2021-02-18 15:31] #2465 closed, assigned to minusworld

[2021-02-18 15:38] aryx opened #2585 "[Internal] compilation errors after tree-sitter-lang/ update"
After I update some tree-sitter-lang/repo, I sometimes get some weird compilation errors like the one below.
A second make though work.
weird.

[code]

[2021-02-18 15:46] aryx commented on #299
:wave:

[2021-02-18 15:50] aryx commented on #554
@IagoAbal could you look why https://semgrep.live/ReAq does not do the constant propagation everywhere now that we
use the dataflow one? It should match everywhere no?

[2021-02-18 15:50] aryx commented on #1271
:wave:

[2021-02-18 15:51] #1288 closed, assigned to nobody

[2021-02-18 15:53] aryx commented on #1301
A nice example of "complex symbolic expression" constant propagation (or typed metavariable in Ruby).

[2021-02-18 15:54] aryx commented on #1059
:wave:

[2021-02-18 15:59] aryx commented on #1478
I turned on the step-by-step debugger and semgrep-core returns all the matches, so this is the semgrep python wrapper that does the wrong thing here @nbrahms . It should return multiple matches given the metavariables have different values (and the message then is different each time).

[2021-02-18 15:59] aryx commented on #1833
nobody else asked for it ... closing.

[2021-02-18 15:59] #1833 closed, assigned to nobody

[2021-02-18 16:02] aryx commented on #2434
same answer than for the typescript one. Even if we use LSP, we need to extend the grammar to support the typed metavariable syntax.

[2021-02-18 16:05] aryx commented on #1837
jsonnet for config 2.0 can do that for free. Just program the set of rules you want.

[2021-02-18 16:05] #1837 closed, assigned to nobody

[2021-02-18 16:07] aryx commented on #1751
:wave:

[2021-02-18 16:08] #1864 closed, assigned to nobody

[2021-02-18 16:14] aryx commented on #1885
@mschwager just added a feature to generate a template from a pattern #2562 so this should be good enough.

[2021-02-18 16:14] #1885 closed

[2021-02-18 16:17] aryx commented on #1950
Tracked here now: https://github.com/tree-sitter/tree-sitter-javascript/issues/154

[2021-02-18 16:59] mjambon commented on #2585
This looks like a tree-sitter API compatibility issue. I'll try to understand what's happening and add a check that suggests a solution.

[2021-02-18 17:34] ievans commented on #1969
(This is not an internal user)

@mjambon seems fixed, can you confirm?

[2021-02-18 17:43] #1930 closed, assigned to nobody

[2021-02-18 17:46] aryx commented on #2518
You did that no?

[2021-02-18 18:02] chmccreery commented on #2191
@dlukeomalley we are talking about priority of this issue- can you weigh in here?

[2021-02-18 18:04] DrewDennison commented on #2191
I looked into this and didn't see that we have different modes between ts and tsx so since tsx should be a superset, I think it's correct that all ts files are turned into tsx in the editor, if that's not correct, we should make a new language in the dropdown

[2021-02-18 18:08] ievans commented on #1969
Looked on desktop and seems good, closing as fixed

[2021-02-18 18:08] #1969 closed, assigned to mjambon

[2021-02-18 18:18] mjambon commented on #1969
Thank you Isaac. Yes, it was fixed in tree-sitter-typescript (https://github.com/tree-sitter/tree-sitter-typescript/issues/82) and the fix is now in semgrep.

[2021-02-18 20:02] chmccreery opened #2586 "Figma user (dev) is seeing Semgrep take 6 hours on CI jobs"
https://r2c-community.slack.com/archives/C01FXE728N9/p1613614752060500

[2021-02-18 20:05] chmccreery opened #2587 "Community user ran with GITHUB_TOKEN and pr_comments selected, but did not receive PR comments"
We do not seem to have received any Sentry error or cloudwatch logging indicating that the PR comments failed, however in redash we can see that there was a scan that should have posted review comments

[2021-02-18 20:12] chmccreery commented on #2587
https://app.redash.io/r2c/queries/668345

[2021-02-18 20:16] chmccreery commented on #2587
Slack: https://r2c-community.slack.com/archives/CK86BJ5DW/p1613630905250000

[2021-02-18 21:33] dekadentno commented on #1751
The stale bot reminded me to inform you about the `vue-template-compiler` I mentioned in one of the comments.  :)

A new version of Vue.js is out and it is using some new packages, like the [compiler-sfc](https://www.npmjs.com/package/@vue/compiler-sfc) for parsing single file components (.vue files).

Vue.js 3 is mostly backwards compatible with Vue.js 2, but it has an additional approach for wri

[2021-02-18 22:51] chmccreery commented on #2586
More details obtained from a conversation with Drew, Colleen, and Clara:
- Figma experienced one GitHub Actions run that took >6 hours and looked like it may never finish.
- Around the same time, GitHub experienced a performance degradation incident: https://www.githubstatus.com/incidents/bnd3tpf66m0b
- Our logs show no errors on our side, but there was a 5-hour gap during which semgrep-action doe

[2021-02-18 22:51] #2586 closed

[2021-02-18 22:53] chmccreery opened #2590 "Follow up with Dev at Figma about local performance of his getting-started policy over the entire figma/figma code base"
Waiting for him to report back the logs

[2021-02-19 07:09] chmccreery commented on #2587
We got inline PR comments working, although it is not clear what was wrong before. We started over with a new token and updated yaml file. Possibly there was a misunderstanding about the differences between push/pull_request with respect to diffing logic and pr_comments. Opening a new issue on semgrep_app for that...

HOWEVER, in helping the user, it became clear that their organization's Semgrep

[2021-02-19 07:09] #2587 closed, assigned to chmccreery

[2021-02-19 07:26] minusworld commented on #2566
@jithurjacob This is in the development branch and will go out in the next release.

For your reference, `nosem` comments currently need to be at the end of the line. Since HTML comments are not allowed inside of tags, you can also include `nosem` as an HTML attribute. This isn't ideal but it does get things started.
This is the test file we included for this, which you can use for reference:

[co

[2021-02-19 12:07] minusworld opened #2593 "Metavariable equivalence across pattern clauses with deep expressions don't work as expected"
**Describe the bug**
While working on https://github.com/returntocorp/semgrep-rules/issues/954, I encountered an issue where metavariable equivalence wasn't working across `pattern-inside` and `pattern` clauses when the deep expression operator <... $THING ...> was used.

**To Reproduce**
You can see that it works as expected when in one large pattern clause: https://semgrep.dev/s/8xe7/?stepByStep

[2021-02-19 13:09] ademar59 opened #2594 "Semgrep report errors count by severity"
**Is your feature request related to a problem? Please describe.**

I would have in the output the errors count by severity
I try do do that but the report is not standardized to count all severity:<level>

**Describe the solution you'd like**
i would have a clearest report at the end of scan

current:
ran 34 rules on 5 files: 17 findings

desired:
ran 34 rules on 5 files: 17 findings
3 error
12 w

[2021-02-19 15:48] aryx opened #2595 "Semantic equivalence of numbers"
Looking for foo(8) should also report code written as foo(0x8); they are semantically equivalent.

[2021-02-19 16:57] mschwager commented on #2593
Seems similar to https://github.com/returntocorp/semgrep/issues/2548 and https://github.com/returntocorp/semgrep/issues/1699. Generally, it seems our metavariable logic is scattered and incomplete in the Python code. We should try to solve this in a general manner in the codebase so we aren't hunting and pecking for bugs in many different locations.

[2021-02-19 18:13] colleend commented on #2594
Thanks for your input! We'll definitely consider this when moving forward with our work.

[2021-02-19 18:13] colleend commented on #2578
closing because documentation has been merged!

[2021-02-19 18:13] #2578 closed, assigned to colleend

[2021-02-19 18:16] msorens commented on #1703
@dlukeomalley (1) and (5) have clearly been addressed and have made it much more friendly--thanks for those! I would still suggest that (2) and (3) -- which are really the same item -- would be a useful UX improvement.

[2021-02-19 18:57] dlukeomalley commented on #1703
@msorens Agreed! I'm tracking this as a follow-up with the title "Semgrep Registry users can only select categories with 1+ result when filtering". If I may, I'd like to close this specific ticket for now and use what I've filed privately to address the remaining items. Is that ok? 🙏

[2021-02-19 18:57] #1703 closed, assigned to dlukeomalley

[2021-02-19 21:57] nbrahms commented on #1868
@mjambon @aryx I think the "MISSING" errors are meant to be recoverable. For example, I know tree-sitter will insert missing semi-colons on line-ends in JavaScript.

IMO we shouldn't raise a parse error in these cases, and instead parse the file with the recovered tree.

@mschwager what's motivating you to want a parse error in this case?

[2021-02-19 22:06] nbrahms commented on #1868
Moving this from "bug" to "documentation". Our Semgrep contract is that we should parse all valid code, but not necessarily that we should reject invalid code. Probably worth making this clear in some documentation somewhere.

[2021-02-19 22:06] nbrahms commented on #1868
cc. @mschwager if you still want the medium priority here?

[2021-02-19 22:13] mschwager commented on #1868
I don't have strong feelings on the type of error, just that we should avoid silently failing (or succeeding) on invalid files, if we can. I believe the original motivation here was that a user (or maybe it was me) incorrectly pasted some code into the app editor and it silently failed on them. This isn't so bad on the original example because it's so short, but if you have 500 lines of Ruby code

[2021-02-19 23:42] dlukeomalley commented on #1953
It's starting to happen! From @mjambon on the [Semgrep Slack](https://r2c-community.slack.com/archives/CK86BJ5DW/p1613776847298700):

[2021-02-20 08:42] #2558 closed, assigned to mjambon

[2021-02-21 20:51] IagoAbal commented on #374
This one works https://semgrep.dev/s/eLEL, that is using the pattern `"..." === "..."`. This matching does not need any dataflow analysis as far as I can tell, it should have worked already back in April. You can see in the output of `-constant_propagation` that `x`'s value `"asdf"` is known to the matcher. I guess it's something in the matching algorithm, I will take a look.

[2021-02-21 21:10] IagoAbal commented on #374
This should be fixable in `Matching_generic.equal_ast_binded_code`, this function fails to see that `x` and `"asdf"` are equal, so the matching fails too.

[2021-02-22 10:25] marcelocarlos opened #2601 "Language support for YAML"
**Is your feature request related to a problem? Please describe.**

Not exactly, but my main interest/plan to use a semgrep would be to analyse IaC, such as kubernetes definitions. I can see HCL is being already tracked (https://github.com/returntocorp/semgrep/issues/1147) and hopefully available soon, however, I couldn't find references to YAML. I could obviously get away with converting it to JS

[2021-02-22 11:17] aryx commented on #2601
Yep YAML is on our roadmap for Q1 2021. Cc @DrewDennison

[2021-02-22 11:33] aryx commented on #374
Yep, in theory we should also allow matching metavariables module user-defined equivalences (e.g., 1+2 == 2+1 should be
matched by $X == $X  if we defined the user equivalence $X + $Y <=> $Y + $X (like in Coccinelle).

[2021-02-22 14:05] #2564 closed, assigned to emjin

[2021-02-22 14:05] aryx commented on #2585
It does not happen anymore, and I don't really know how to reproduce, so let's close it.

[2021-02-22 14:05] #2585 closed, assigned to mjambon

[2021-02-22 14:07] aryx commented on #2593
Note that I'm currently porting the Python code to ocaml, so that semgrep-core can process a whole rule and do better optimisations.

[2021-02-22 15:28] mschwager commented on #988
Closed by #2596.

[2021-02-22 15:28] #988 closed, assigned to nobody

[2021-02-22 15:46] #2595 closed, assigned to aryx

[2021-02-22 16:15] mschwager commented on #2548
Hey @xmo-odoo,

After looking into this I understand what's going on. The `patterns` operator will only pass along metavariable information for findings that are present in _all_ sub-operators. In other words, in your first example, since `$METHOD` is not present in your `pattern` operators its information will not be propagated to `metavariable-regex`.

The bad news is I don't see any code improv

[2021-02-22 18:31] hlieberman-rd commented on #2298
I'll take this @DrewDennison.  PR coming in the next few.

[2021-02-23 06:48] xmo-odoo commented on #2548
@mschwager thanks for the example, I'll take a look at it.

I understand the reasoning for `pattern-either`, but I can't grasp it for `patterns` (possibly because my mental model of semgrep remains incomplete or incorrect): since all branches of the pattern *must* match, surely it doesn't matter which branch matched it, and the metavariable will always match the logic specification?

[2021-02-23 17:52] mschwager commented on #2548
Hmm, after thinking about it a bit more, I think you're correct that it makes sense to propagate metavariables in some situations. My initial thought is that this propagation makes sense when using `patterns` + `pattern` or `pattern-inside`, i.e. additive operations guaranteed to have equivalent metavariables under the conjunctive nature of `patterns`, but not things like `pattern-either` or filte

[2021-02-23 17:59] chmccreery commented on #2537
I looked into this- it is coming from us having multiple rules inside of the yaml file here: https://github.com/returntocorp/semgrep-rules/blob/develop/go/lang/correctness/permissions/file_permission.yaml

I will separate them out in a semgrep-rules PR

[2021-02-23 18:04] chmccreery commented on #2537
Fixed by https://github.com/returntocorp/semgrep-rules/pull/1119

[2021-02-23 18:17] brendongo commented on #2548
Yeah propagating metavariables in patterns and pattern-inside but not in pattern-either makes sense.

[2021-02-23 18:45] aryx commented on #2548
Subscribe

[2021-02-23 18:54] brendongo opened #2611 "Not deduplicating matches"
**Describe the bug**
In https://github.com/returntocorp/semgrep-rules/issues/1117 a duplicate pattern resulted in a duplicate match for the rule

The result should be deduped

**To Reproduce**
See issue above

**Expected behavior**
Rule Matches should be deduped based on unique (rule, lines matched) pair

Relevant Code:
in `evaluation.py`
[code]

Should use a set/ordered set instead of list and ne

[2021-02-23 19:44] brendongo commented on #2611
Closing this issue. The duplicate match being reported was due to an extra character from the semi-colon (the second reported match was one character longer than the first reported match)

[2021-02-23 19:44] #2611 closed, assigned to nobody

[2021-02-23 20:44] ievans commented on #1218
Go away stale bot

[2021-02-23 21:35] dlukeomalley commented on #1218
@ievans Adding a `priority:medium` label, thanks for resurrecting this ticket. It has continued to cause confusion for new (and existing) users and is worth fixing near-term (rather than "future").

[2021-02-23 22:24] chmccreery commented on #2537
Thanks @msorens for filing! Unfortunately, these seem to be coming from bugs in our semgrep-rules repo, where multiple rules have been created using the same id, so fixing them is a manual process. Please let us know if you see this again. This particular one should hopefully be fixed and out to production in the next day or two.

@dlukeomalley when we make registry 2.0 we can enforce a uniqueness

[2021-02-24 01:35] dlukeomalley commented on #2537
@chmccreery I hear you loud and clear 🙏  In the interim, should we keep this issue open or closed?

[2021-02-24 01:42] brendongo opened #2613 "Parse catch unknown in typescript 4.0"
**Describe the bug**
In Typescript 4.0 the following is valid:

[code]

As of 0.40.0 semgrep fails to parse this as valid typescript

See: https://devblogs.microsoft.com/typescript/announcing-typescript-4-0/#unknown-on-catch

**To Reproduce**
For convenience: https://semgrep.dev/s/AvN2/

**Expected behavior**
Parses cleanly

**What is the priority of the bug to you?**
Is this a P0 (blocking your a

[2021-02-24 01:46] brendongo commented on #2613
Once this passes can fully parse Zulip repo without excludes again

[2021-02-24 01:52] brendongo commented on #1498
Python3 disallowed mixing but I think in Python2 it was fine

[2021-02-24 01:57] mjambon commented on #2613
Thanks @brendongo. It looks like `catch (e: whatever) {` isn't supported by tree-sitter-typescript. It should be easy to add to the grammar. I assigned it to me because at least I need to confirm and make a proper bug report or just fix it.

Oh, and our typescript setup in ocaml-tree-sitter is a little complicated so that's why it's probably best to assign the whole semgrep issue to me. However, s

[2021-02-24 02:17] dlukeomalley commented on #2191
@DrewDennison Following up, does that mean you'd like to close the ticket?

Any thoughts from anyone else on this thread?

[2021-02-24 03:28] msorens commented on #2544
This is one of those minor things I had wondered about when I first encountered it: why did one have to use the `--error` flag to force semgrep to provide a conventionally expected exit code? I am therefore in favor of the change, but I agree, it is a breaking change to an unknown number of users. Perhaps should wait until you are ready for v1.x so you can introduce semantic versioning and then, p

[2021-02-24 06:40] xmo-odoo commented on #2548
@mschwager awesome

That I've not used negative-filtering patterns much yet and thus didn't really think of them when I answered is probably why I had a much more optimistic view than you did. But glad to know it seems to work out in the end.

It'd make sense that only "positive" assertions "export" metavariables and negative ones don't, though from what you're writing it feels like semgrep uses m

[2021-02-24 10:26] mab0te opened #2616 "[Python] Constant tracking do not follow assignment operators"
**Describe the bug**
It appears that the constant tracking feature for python is not aware of assignment operator. The result of a match differs depending on whether a (not so) constant is modified using a simple assignment or an assignment operator.

This results in false negatives where some values are considered constant when they really are not.

Being pretty new to semgrep, it is possible tha

[2021-02-24 10:42] aryx commented on #2078
Still an issue on 0.40

[code]

[2021-02-24 11:17] javixeneize opened #2617 "Document sarif report in the github action"
Hi

Is Sarif supported in the github action? I can see the CLI supports that but i dont know if the action does. If so, it might be added to the documentation for clarity :)

https://github.com/marketplace/actions/semgrep-action

Thanks

[2021-02-24 13:04] aryx commented on #2078
I've investigated a bit and the problem is that the 4 timeout occurs in file containing WASM code using a tons of local variables.
Then pattern like
function (...,$Z,...) {
  ...
  $Y = <... $Z ...>;
  ...
}
just takes forever because they can match at too many places.

[2021-02-24 13:05] aryx commented on #2078
The wasm code seems pretty regular, like:
// EMSCRIPTEN_START_ASM
var asm = (function(global, env, buffer) {
  'use asm';

so  maybe we could have a preprocessing phase where we skip such code; in any case the code does not contain any "regular" variables from the user I think.

[2021-02-24 13:11] aryx commented on #2078
BTW the failures are not on small-medium size file. I had to compress the offending file to not get the
check_large_file pre-commit error.

[2021-02-24 14:51] aryx opened #2620 "read timeout on downloading the semgrep config"
[code]
This happens more and more often. This is really annoying because some CI jobs can fail because of this flakyness.

[2021-02-24 14:56] aryx commented on #2616
@IagoAbal can you have a look?

[2021-02-24 15:38] mschwager opened #2622 "[Php] Add ellipsis nested statement feature support"
Demo: https://semgrep.dev/s/YvBy/

This is commonly referred to as `dots_nested_stmts` in `semgrep-core/tests/`.

This feature is actually listed as necessary under Alpha language support, and PHP is listed as Alpha, so we should tackle this.

[2021-02-24 16:46] IagoAbal commented on #2616
This works when the code is inside a function https://semgrep.dev/s/zvWd/.
But your example should work too, I'll investigate why it doesn't.

[2021-02-24 16:52] IagoAbal commented on #2616
Oh ok, I see why. It's a bug in the basic flow-insensitive constant propagation pass. It does not take assign-operators into account, so it believes `s` is a global constant. This analysis only works for global variables, that's why the bug disappears when you put the code into a function making `s` local.

[2021-02-24 17:31] aryx opened #2624 "[MacOS] semgrep-core now uses libpcre but is not linked statically in macOS"
from https://r2c-community.slack.com/archives/CK86BJ5DW/p1614169938012300

Starting from semgrep 0.40, semgrep-core internally uses libpcre but now the binary is
linked dynamically with it, which then fails for some users who don't have libpcre installed.

[code]

We need to link pcre statically!

[2021-02-24 17:39] aryx commented on #2624
This might help; Another ocaml tool has a similar issue with pcre: https://github.com/comby-tools/comby/issues/89

[2021-02-24 17:42] aryx commented on #2624
@mjambon wrote: @yoann (r2c) I think the problem is that we don't have a check for this in place. If I understand correctly, the main issue is that Darwin doesn't allow full static linking. We can statically link third-party libraries like pcre or tree-sitter but not the libc implementation (something like this). @brendon (r2c) achieved static linking of libtree-sitter by some hack that we'd have

[2021-02-24 17:52] brendongo commented on #2624
Taking a look now

[2021-02-24 17:57] brendongo commented on #2624
Yeahp uninstalled pcre from my machine and was able to reproduce

[2021-02-24 18:01] brendongo commented on #2624
We do have a test that verifies the static linking on MacOS https://github.com/returntocorp/semgrep/blob/develop/.github/workflows/build-tests.yml#L61 I'll look into it but I suspect pcre might be installed on the github action machine?

[2021-02-24 18:20] brendongo commented on #2624
Verified pcre comes preinstalled in Github action mac runners https://github.com/returntocorp/semgrep/runs/1972699180?check_suite_focus=true#step:4:1

[2021-02-24 18:46] chmccreery commented on #2537
Let's leave it open until returntocorp/semgrep-rules#1119 (above) gets merged

[2021-02-24 20:34] #2616 closed, assigned to IagoAbal

[2021-02-24 21:51] pankajmt opened #2631 "Ruby detection - ruleId ruby.lang.security.create-with.create-with - false positive"
**Describe the bug**
We are using rails ~> 6.1.1. and it reported ruleId ruby.lang.security.create-with.create-with which seems false positive as per https://vuldb.com/?id.67377

**To Reproduce**
any code piece like
customer = Customer.create_with(
        some_id: api.same_id
      ).find_or_create_by!(some_id: customer_details.fetch(:same_id))

**Expected behavior**
Do not highlight this as a SA

[2021-02-24 22:07] #2537 closed, assigned to chmccreery

[2021-02-24 22:19] brendongo commented on #2617
Hi @javixeneize we do have a Sarif report function on semgrep-action. You're right it does look like we don't have it well documented. Modifying the issue to reflect need to add it to documentation.

For now you can turn it on by setting generateSarif in the config file to 1 if using githubactions. See last line of following config:
[code]

or if setting the env variable INPUT_GENERATESARIF to 1

[2021-02-24 22:30] #2298 closed, assigned to nobody

[2021-02-24 22:39] richvdh opened #2633 "pypi dist installs a package called `tests`"
**Describe the bug**

After I `pip install semgrep`, I have a package called `tests` in my virtualenv.

I'm aware of the debate about whether or not to include tests in your sdist, and take no particular view on that, but if you're going to do it, please don't put them in the top level of the dist. I feel like cluttering the package namespace in this way is incorrect.

**To Reproduce**

[code]

**

[2021-02-24 22:39] richvdh commented on #2633
Related: https://github.com/returntocorp/semgrep/issues/1399

[2021-02-24 23:34] brendon commented on #2624
Not @brendon ;)

[2021-02-24 23:50] #1851 closed, assigned to nobody

[2021-02-24 23:50] #1319 closed, assigned to nobody

[2021-02-24 23:50] #1378 closed, assigned to nobody

[2021-02-24 23:50] #1064 closed, assigned to nobody

[2021-02-24 23:50] #1933 closed, assigned to nobody

[2021-02-24 23:50] #1956 closed, assigned to nobody

[2021-02-24 23:50] #1979 closed, assigned to nobody

[2021-02-24 23:50] #1983 closed, assigned to nobody

[2021-02-24 23:50] #2020 closed, assigned to nobody

[2021-02-24 23:51] #1975 closed, assigned to mjambon

[2021-02-24 23:51] #2032 closed, assigned to mjambon

[2021-02-24 23:51] #1459 closed, assigned to nobody

[2021-02-25 00:50] mjambon opened #2634 "Document '--lang' option of semgrep"
The current help message is:
[code]
It should tell us:
* if this option has an effect when used with a rules file, and whether multiple languages can be selected
* what values are valid i.e. which languages are supported

[2021-02-25 00:51] #1273 closed, assigned to nobody

[2021-02-25 00:51] #1328 closed, assigned to nobody

[2021-02-25 00:51] #849 closed, assigned to nobody

[2021-02-25 00:51] #794 closed, assigned to nobody

[2021-02-25 00:51] #1568 closed, assigned to nobody

[2021-02-25 00:51] #1491 closed, assigned to nobody

[2021-02-25 00:51] #1477 closed, assigned to brendongo

[2021-02-25 00:51] #1652 closed, assigned to nobody

[2021-02-25 00:51] #1675 closed, assigned to nobody

[2021-02-25 00:51] #1674 closed, assigned to nobody

[2021-02-25 00:51] #1704 closed, assigned to dlukeomalley

[2021-02-25 01:08] mjambon opened #2635 "Elucidate delayed CI errors when spacegrep changes"
Problem: when the output of spacegrep changes meaningfully and we don't update the expected output in our test suites, we should get an error in CI. Apparently we don't get these errors at the time of the pull request that introduces the changes, but they pop up in later, in unrelated pull requests.

How to reproduce (tentatively):
1. change (temporarily) the contents of the `lines` field in the j

[2021-02-25 01:42] dlukeomalley commented on #1340
@underyx Thoughts on why this was closed given your PR? https://github.com/returntocorp/semgrep/pull/2610

[2021-02-25 01:50] #704 closed, assigned to nobody

[2021-02-25 01:50] #705 closed, assigned to nobody

[2021-02-25 01:50] #871 closed, assigned to nobody

[2021-02-25 01:50] #753 closed, assigned to nobody

[2021-02-25 01:50] #912 closed, assigned to nobody

[2021-02-25 01:50] #914 closed, assigned to nobody

[2021-02-25 01:50] #862 closed, assigned to nobody

[2021-02-25 01:50] #798 closed, assigned to nobody

[2021-02-25 01:51] #1130 closed, assigned to nobody

[2021-02-25 01:51] #1170 closed, assigned to brendongo

[2021-02-25 01:51] #1179 closed, assigned to nobody

[2021-02-25 01:51] #1216 closed, assigned to mschwager

[2021-02-25 01:51] #1223 closed, assigned to nobody

[2021-02-25 01:51] #1258 closed, assigned to nobody

[2021-02-25 02:03] sfc-gh-cdai opened #2636 "Go parsed with pfff does not do nested statement matching"
**Describe the bug**
Files parsed by _pfff_ do not catch a pattern in a nested under multiple Go functions if you use just the ellipsis. For instance, in this link:
https://semgrep.dev/s/weAA/
there should be a match on line 10, but semgrep does not show that there is a match.

However, a file parsed by _tree-sitter_ will indeed catch this pattern. Without the package and import specification, a G

[2021-02-25 04:28] dlukeomalley commented on #912
I still find this confusing. I think it's better addressed by https://github.com/returntocorp/semgrep/issues/1218 though

[2021-02-25 08:48] tkisason commented on #1717
@ievans @underyx  , is this wontfix or will be reopened?

[2021-02-25 09:48] aryx commented on #1059
keep it

[2021-02-25 09:48] aryx commented on #1301
keep it

[2021-02-25 09:50] aryx commented on #1478
keep

[2021-02-25 09:52] aryx commented on #1717
If the stale bot closed it, feel free to reopen it to put it back on our radar.

[2021-02-25 09:58] aryx commented on #849
Actually we now support ... in chained operations. See https://github.com/returntocorp/semgrep/issues/2208
It works for Java and Javascript right now.

[2021-02-25 10:04] aryx commented on #1273
You want metavariable-regexp maybe?

[2021-02-25 10:05] aryx commented on #1064
You need to implement it @mjambon :)

[2021-02-25 10:05] aryx commented on #1319
I think this works now.

[2021-02-25 10:15] aryx commented on #2624
did pip3 install semgrep
and verified otool -L does not return libpcre anymore for semgrep-core! Closing.

[2021-02-25 10:15] #2624 closed, assigned to mjambon, brendongo

[2021-02-25 10:16] aryx commented on #2635
Yep, got biten by this too.

[2021-02-25 11:21] aryx commented on #2622
the problem is actually if(...) that is currently not supported.

[2021-02-25 11:34] aryx commented on #1147
related work: https://github.com/tfsec/tfsec

[2021-02-25 11:36] #2636 closed, assigned to aryx

[2021-02-25 11:36] aryx commented on #2636
nice commit sha1 :) offdead :)

[2021-02-25 12:00] aryx commented on #2544
The problem is that the more we wait, the more people will be affected, as the number of users of semgrep grows every week. So better now than later.

[2021-02-25 12:00] aryx commented on #2544
Who knows when 1.x will come.

[2021-02-25 12:23] #2622 closed, assigned to aryx

[2021-02-25 17:07] mschwager opened #2643 "PHP parse error when using 'LIST' as variable name"
Repro: https://semgrep.dev/s/PJ3z/

Although probably discouraged, this is considered syntactically valid PHP:

[code]

[2021-02-25 17:09] mschwager opened #2645 "PHP parse error when using 'new' as variable name"
Repro: https://semgrep.dev/s/J9Oy/

Although probably discouraged, this is considered syntactically valid PHP:

[code]

[2021-02-25 17:12] robinjmurphy opened #2646 "Issue with ellipsis matching introduced in version v0.41.0"
**Describe the bug**

The tests for one of our semgrep rules have started failing since version v0.41.0 was released.

**To Reproduce**

Rule and tests code here: https://semgrep.dev/s/5QR0/

Running this against v0.40.0 (as is the current version in the playground at time of writing) works fine.

However, running with the v0.41.0 release (and v0.41.1):

[code]

**Expected behavior**

The statemen

[2021-02-25 17:12] mschwager opened #2647 "PHP parse error when using 'instanceOf' as member name"
Repro: https://semgrep.dev/s/Ge9q/

Although probably discouraged, this is considered syntactically valid PHP:

[code]

[2021-02-25 17:31] mschwager opened #2648 "PHP parse error with 'foreach' shorthand array destructuring extra comma"
Repro: https://semgrep.dev/s/RoOq/

I wouldn't have thought it, but apparently this is valid PHP:

[code]

[2021-02-25 17:34] mschwager commented on #2648
Similar:

[code]

[2021-02-25 17:37] mschwager opened #2649 "PHP parse error using 'yield from' generator syntax"
Repro: https://semgrep.dev/s/Av92/

[`yield from` generator syntax](https://www.php.net/manual/en/language.generators.syntax.php).

[2021-02-25 17:38] colleend commented on #2636
thanks for doing this so quickly!! 🙏  🙏 🙏

[2021-02-25 17:39] mschwager opened #2650 "PHP parse error catching multiple exceptions using '|'"
Repro: https://semgrep.dev/s/BkrA/

It looks like catching multiple exceptions using the `|` operator was included in PHP 7.1.0: https://www.php.net/manual/en/language.exceptions.php

[2021-02-25 17:40] mschwager commented on #2643
Same with `AND`:

[code]

[2021-02-25 17:58] mschwager commented on #2548
Yeah the problem with negative assertion is there could be many things to "match" against. E.g.

[code]

If we're looking for `a = ...` in the following, what do we set `$FUNC` to?

[code]

Generally I think it makes sense to propagate metavariables as outlined in my comment above, so I'll go ahead with the implementation :+1:

[2021-02-25 18:04] chmccreery commented on #2620
Shall we just change timeout=10 to timeout=15 or timeout=20 [here](https://github.com/returntocorp/semgrep/blob/7b5f5271fb50156c3543e904f49d5daa75acddbf/semgrep/semgrep/config_resolver.py#L401)? Or is the goal to make sure we are more reliable within the 10-second window?

[2021-02-25 19:24] aryx commented on #2190
from slack, copy pasted here:
"actually we also need to reports parsing stats not just of tree-sitter CST parsing but also conversion to the generic AST, which is really what matters.
For example the current parsing C# stats are at 100% https://dashboard.semgrep.dev/metric/semgrep.core.c-sharp.parse.pct but in reality there are still lots of todo() in Parse_csharp_tree_sitter.ml which means most o

[2021-02-25 19:48] tkisason commented on #1717
Unfortunately, i cant. I can make another issue. :(

[2021-02-25 19:50] underyx commented on #1717
sorry @tkisason, I don't think that was intended! I've reopened the issue for you now and I asked the team to review this new stale bot workflow we have 😅

[2021-02-25 20:30] tkisason commented on #1717
Np :) Thanks!

[2021-02-25 23:11] mjambon commented on #2646
@aryx It could well be a bug with caching, which was introduced a couple weeks ago. To check if it works without the caching optimization, pass `-no_opt_cache` to `semgrep-core`. This can be done by setting the environment variable `SEMGREP_CORE_EXTRA`:
[code]

[2021-02-26 09:01] aryx commented on #2620
yep, maybe we can try that first, and see if things are less flaky with a bigger timeout.

[2021-02-26 10:17] robinjmurphy commented on #2646
Hmm it still seems to be broken with that environment variable:

[code]

[2021-02-26 11:19] aryx opened #2653 "Multi steps rules, or rules analyzing multiples files at the same time"
It would be great if a semgrep rule could reference multiple files at the same time.
For example, we could like to first detect classes which are using a dangerous function,
and then write another rule to search for uses of those classes in other files.

reference discussion:  https://r2c-community.slack.com/archives/C018NJRRCJ0/p1614333745011800

We either need:
 - a way to express mutliple files

[2021-02-26 11:20] aryx commented on #2653
cc @clintgibler @minusworld @inkz @mschwager

[2021-02-26 11:24] aryx commented on #2653
[code]

[2021-02-26 11:32] aryx commented on #2646
I can't reproduce locally on my machine.

[2021-02-26 11:53] aryx commented on #2646
I can reproduce with the installed version of semgrep (via pip3 install semgrep), but
when I try my local version of semgrep, even when I checkout release-0.41.0, I can't reproduce. Weird.

[2021-02-26 12:01] aryx commented on #2646
Ok, find a way to reproduce ... I had the wrong semgrep-core in my PATH.

[2021-02-26 12:06] underyx opened #2654 "Upload rules jsonschema to schemastore"
Apparently uploading to https://www.schemastore.org/json/ would give us autocompletion support for free in

PhpStorm
PyCharm
Rider
RubyMine
Visual Studio 2013+
Visual Studio Code
Visual Studio for Mac
WebStorm
JSONBuddy

[2021-02-26 12:34] inkz commented on #2653
Great idea! I am sure it will be very useful :+1:

[2021-02-26 12:59] aryx commented on #2646
ok, bisected to 9d4540db2eff77f3e353b6bf4fdc478b9ad96097 https://github.com/returntocorp/semgrep/pull/2618

[2021-02-26 17:54] brendongo commented on #2620
I think this might also happen less often once we split out the registry service so it's more responsive

[2021-02-26 18:08] chmccreery commented on #2620
Ok, put up the shortest PR ever 😄

[2021-02-26 21:11] #2646 closed, assigned to aryx, mschwager

[2021-02-26 21:16] #2620 closed, assigned to chmccreery

[2021-02-26 21:16] aryx commented on #2654
but not monaco?

[2021-02-26 21:36] mschwager commented on #2646
Hey @robinjmurphy,

This tricky bug was fixed in https://github.com/returntocorp/semgrep/pull/2659. This fix will go out with the Semgrep release early next week :+1:

[2021-02-27 11:24] chrisdlangton opened #2663 "semgrep timeout error "python.lang.maintainability.useless-literal.useless-literal-dict" on big dictionnaries"
**Describe the bug**
Large dict causes it 100% reproducable

**Expected behavior**
Large dict do not fail/terminate the execution

I am using `--timeout-threshold=0` and the docs say `If set to 0 will not have limit`

[2021-02-27 22:11] sharksforarms commented on #1338
Hey @ievans , just found out about this project and was curious on rust support. Any notes you can provide on what needs to be tested? How can people help out? Thanks!

[2021-02-28 12:20] aryx commented on #1338
@Ruin0x11 started the work and already got many PRs merged. I don't know how much work there remains to do. @Ruin0x11 do you have an estimate?

[2021-02-28 16:10] Ruin0x11 commented on #1338
I would say things like where clauses, macros, type parameters, lifetime modifiers on references, and trait blocks need more testing. Also, to achieve alpha level support there needs to be some amount of Rust-language rules added to Semgrep's rule repository. At the very least, the basic parsing code is there.

[2021-03-01 00:38] ben-elttam commented on #1714
@dlukeomalley yes, I'll close this ticket.

[2021-03-01 00:38] #1714 closed, assigned to dlukeomalley

[2021-03-01 02:51] JoelPagliuca opened #2664 "Statically detect unused metavariable-regex (or metavariable-regexp with wrong scope)"
**Describe the bug**
in simple cases this isn't obviously obstructive, but in cases with lots of `pattern-either`s we found this forced us to split our rules across multiple files with lots of duplicated logic

**To Reproduce**
https://semgrep.dev/s/4xK5 produces no results
https://semgrep.dev/s/PJKz produces 1 result

**Expected behavior**
1 result for both examples

**What is the priority of the

[2021-03-01 15:18] robinjmurphy commented on #2646
Amazing. Thanks for a quick response! 🙌🏻

[2021-03-01 15:24] cfguimaraes commented on #1392
@Sjord sorry for the late reply.
I see that you already have evolved since our last talk.
I've submitted the samples to GitHub but didn't mentioned here.

The link with samples is https://github.com/cfguimaraes/semgrep-AST_generic_helpers.NotAnExpr

[2021-03-01 15:57] underyx commented on #2654
@aryx Visual Studio Code is built on monaco so we'll figure out a way to use this.

[2021-03-01 16:41] nbrahms opened #2667 "[javascript] statements pattern '...;' is not what it looks like and matches nothing (was: deep-statement ellipsis can not be used with trailing semicolon)"
**Describe the bug**
This pattern:
[code]

should match:
[code]

However, the pattern fails to match: See https://semgrep.dev/s/PJKW/.

Removing the first semicolon allows the pattern to match: https://semgrep.dev/s/J9RW/.

But removing the second semicolon as well causes a parse error: https://semgrep.dev/s/5QqX/.

**Expected behavior**
At least the first two examples should match.

**What is the

[2021-03-01 17:02] underyx commented on #2654
Done via https://github.com/SchemaStore/schemastore/pull/1494

[2021-03-01 17:02] #2654 closed, assigned to underyx

[2021-03-01 17:06] emjin commented on #2601
Hey! @marcelocarlos I was wondering if you had specific examples you had in mind for yaml patterns that you could share. Our first priority is to implement yaml for semgrep in a way that is helpful to the people who want it. Thanks!

[2021-03-01 17:34] marcelocarlos commented on #2601
Hi @emjin, thanks for getting in touch.

What I have in mind is running checks for kubernetes definitions, such as checking if certain labels are defined in the template, if cpu/memory limits are set and within certain ranges, if a `securityContext` is defined and contains `runAsNonRoot: true` in it, etc. Basically, being able to cover rules/patterns to ensure kubernetes definitions follow best pr

[2021-03-01 21:57] cptcanuck opened #2668 "unofficial macports package is only packaging only semgrep-core"
**Describe the bug**

Example command does not work: semgrep -e '$X == $X' --lang=py path/to/src

'--lang' is not a command line option

semgrep -e '$X == $X' --lang=py  path/to/code
semgrep: unknown option '--lang=py'.

**To Reproduce**
run the command in the README

**Expected behavior**
README command should work

**Screenshots**
If applicable, add screenshots to help explain your problem.

**W

[2021-03-01 22:00] ievans commented on #2668
@cptcanuck what's the output of `semgrep --version`? It works fine for me on `0.41.1`.

I suspect that somehow you are actually invoking `semgrep-core` and not the `semgrep` CLI wrapper.

[2021-03-01 22:34] ievans commented on #2663
thanks for the bug report @chrisdlangton!

What version of semgrep are you on? `semgrep --version`? I think we fixed that timeout not being honored recently.

do you by chance have a reproducing test case? You can share here or in the playground https://semgrep.dev/editor

finally, what's the priority of the issue to you? is it blocking you from using Semgrep further, or just an annoyance?

[2021-03-01 22:36] ievans commented on #2664
thanks for the clear reproductions, I agree this looks like a bug! Probably need an optimization to not filter if metavariable didn't occur in patterns, @aryx a case for a new feature easy to enable in the core now?

[2021-03-02 01:21] chrisdlangton commented on #2663
latest at time of posting `0.41.1` doing a `pip install -U semgrep` the version remained
didn't have a test, can't really think of a fictitious dictionary of at least 50k keys... can you? how would I even generate one? I have mine created by hand and would not wish that pain on anyone... any tips on generalisation of a large python dict? Is web based even going to support that?
Priority is minimal

[2021-03-02 01:55] chrisdlangton commented on #2663
i created this
https://semgrep.dev/s/chrisdlangton:py-useless-literal
seems to be borked (as expected)
the rule is straight out of
https://semgrep.dev/p/r2c-ci
and the key `2` in the dict should match that rule and semgrep seems to bork on large dicts generally (but this is a good simple rule to cause the issue.

**NOTE**
by the way, the playground is totally artificial for this bug, it is irrelev

[2021-03-02 02:06] ievans commented on #2663
Thanks so much for the repro, that's super helpful. @aryx or @mjambon maybe add this case to the profiling suite work and we can track it before fix -> after? also we probably need a separate issue about `--timeout-threshold` not being honored?

@chrisdlangton we don't have a 1:1 mapping with sonarlint rules, though we have done that for some other OSS scanners. Making it easier to discover/fork/r

[2021-03-02 03:38] cptcanuck commented on #2668
hmm - I can't use --version either.

`> semgrep --version
semgrep: unknown option '--version'.`

but -version does:

`> semgrep -version
semgrep-core version: v0.14.0-0-g49b51d9, pfff: 0.38`

looks like you were right - I wonder how I get that sorted!  I used port to install -

`> port info semgrep
semgrep @0.14.0 (devel)

Description:          semgrep is like grep but for code: it is a tool for e

[2021-03-02 06:10] ievans commented on #2668
Thanks @cptcanuck! The port isn't maintained by the semgrep maintainers, looks like it was done by @herbygillot

@brendongo looks like they packaged semgrep, but potentially only semgrep-core, for Macports and unfortunately it hasn't been updated at our weekly release pace (understandably). Want to contact the maintainer listed above and ask them for their thoughts on how to proceed?

[2021-03-02 08:47] aryx commented on #2601
@marcelocarlos could you try to write those checks using an imaginary semgrep syntax for YAML?
That way we have concrete examples to follow.

[2021-03-02 14:01] amietn commented on #1338
Hello @Ruin0x11
I am interested in helping to get this completed. How much effort/time do you think it would take to get full Rust support in semgrep for someone who knows Python and Rust but doesn't know OCaml?

[2021-03-02 15:17] Ruin0x11 commented on #1338
I'm not sure how much functional programming experience you have, but I personally managed to pick up OCaml with no prior experience and learn how the codebase worked successfully as I went along. But that's only my experience, because I already had experience with functional programming from other languages like Lua and Clojure. It could be harder for you if you have no experience with things lik

[2021-03-02 15:45] amietn commented on #1338
Thanks! I'll give it a shot :)

[2021-03-02 15:46] cptcanuck commented on #2668
Thanks @ievans - just found semgrep via the SEDaily podcast and it fits my role nicely.  Gives me confidence when the community is as helpful and nice as this!

[2021-03-02 17:44] mschwager commented on #2664
The `metavariable-regex` functionality will notify of this if you run with `--debug` locally:

[code]

We could always promote this to a warning so we wouldn't need `--debug`:

[code]

This doesn't totally solve the Semgrep App editor issue, but it's a start.

It's not clear to me that this is strictly _better_, at least until we have metavariable propagation (https://github.com/returntocorp/semgr

[2021-03-03 09:45] kaldown commented on #2668
✗ semgrep --version
0.41.1

[code]

all 3 lines are "broken", but
[code]

why is that 0 findings?

[2021-03-03 15:50] ankush commented on #2565
Facing same error but only with py3.7 and not with py3.8. Both installed on same machine. but managed by pyenv.

[2021-03-03 18:03] ievans commented on #2668
@kaldown would you mind creating a separate issue? I'm going to change this to say "macports packaging only semgrep-core"

[2021-03-03 18:12] yoav-lavi opened #2685 "TSX tags seem to be matched incorrectly and fixed incorrectly"
**Describe the bug**
When matching TSX tags for a fix, Semgrep seems to match the element name and other non matching elements rather than the entire tag. This causes the fix to be implemented on the tag name -

[code]

matches

[code]

and

[code]

plus the suggested fix is

[code]

**To Reproduce**
https://semgrep.dev/s/N4Lz/

**Expected behavior**
TSX tags should be matched in their entirety an

[2021-03-03 18:13] yoav-lavi commented on #2685
This may be related to the deep expression syntax as it uses `<` and `>` as well

[2021-03-03 18:15] ievans commented on #2685
thanks for the great bug report @yoav-lavi, autofix is still experimental (https://semgrep.dev/docs/experiments/overview/#autofix) but this is probably an easy fix and one we should definitely do!

[2021-03-03 18:15] kaldown opened #2686 "Doesn't show errors as in README"
**Describe the bug**
I don't see any errors nor warnings.

**To Reproduce**
[code]
[code]

**Expected behavior**
Any error out of a 3:
- `print` statement
- query in controller
- not serialized object in controller

**What is the priority of the bug to you?**
I guess it is P2. Since I'm just trying to understand what's a beast `semgrep` is :D

**Environment**
[code]
from pip (same with docker)

[2021-03-03 18:15] kaldown commented on #2668
@ievans done, https://github.com/returntocorp/semgrep/issues/2686

[2021-03-03 18:16] yoav-lavi commented on #2685
@ievans the matching itself also seems to be wrong in this instance (see `<div>{3}</div>` which is being matched even though it does not fit the pattern)

[2021-03-03 18:18] yoav-lavi commented on #2685
It looks like it's matching `div` and `div>{3` respectively which is an issue with the match itself rather than the fix (the autofix may actually be fine here based on what it matched)

[2021-03-03 18:20] yoav-lavi commented on #2685
Just to give the motivation for using this rule - the idea was to detect empty opening and closing tags to suggest / fix with self closing tags

[code]

to

[code]

[2021-03-03 18:22] yoav-lavi commented on #2685
@ievans Also notice in the image that the fix suggestion is `constx` and `consty` with no spacing between the keyword and the variable name, which is a separate issue

[2021-03-03 21:45] kaeii12 opened #2687 "semgrep.dev bug report"
https://semgrep.dev/s/x15g

[2021-03-04 08:04] aryx commented on #1118
We now need examples of rules people would like to write for kotlin! Anybody?

[2021-03-04 08:24] SPoint42 commented on #1118
At least the rules at  https://find-sec-bugs.github.io/

I've implemented and add some code examples to checks. If you consider the kotlin implementation stable, I could help and tests

[2021-03-04 09:34] aryx commented on #1118
@colleend do you think you could port our java findsec bugs rule to Kotlin?

[2021-03-04 09:51] yoav-lavi opened #2692 "Non-string Regex"
**Is your feature request related to a problem? Please describe.**
I think it would be very useful to be able to set a Regex for expressions / code and not just strings. This would reduce the amount of times where you need to specify multiple patterns and allow more powerful matching.
As an example, if I want to match a (non legacy, ignoring `var`) TS / JS variable definition, I need to specify tw

[2021-03-04 10:00] yoav-lavi opened #2693 "AST Selectors"
**Is your feature request related to a problem? Please describe.**
It would be very useful to be able to specify a semantic token which isn't a specific textual representation of code to match syntax. For example, an AST selector (either full or a simplified token representing one, e.g. `{{IfStatement}}`, `{{CallExpression}}` `{{FunctionDeclaration}}` etc.)

**Describe the solution you'd like**
A

[2021-03-04 11:18] aryx commented on #2693
Not sure I follow what you want. The main goal of semgrep is to hide how things are represented internally (the precise name of AST nodes) and use the concrete syntax developers already know.

can you give more concrete examples? Right now if you want to match an IfStatement, just write 'if($E) ...',
same for calls or function declarations.

[2021-03-04 11:21] aryx commented on #2692
Actually for javascript if you use 'var' we also match it to let and const. See https://semgrep.dev/s/Ekqe/

[2021-03-04 11:22] aryx commented on #2692
We also added the ability for user to define their own "equivalences", see https://semgrep.dev/docs/experiments/overview/#equivalences but it's still in beta

[2021-03-04 11:25] aryx commented on #2687
@kaeii12 can you refine your example with actually parseable code. The target code part is not valid Javascript.
and the pattern part contains weird code like /alert.

[2021-03-04 11:27] aryx commented on #2686
@mschwager @minusworld are we missing some rules? Or should we update the README?

[2021-03-04 11:28] aryx commented on #2685
We have some builtin equivalences for JSX which might get in the way ...

[2021-03-04 11:32] dimsuz commented on #1118
We have rules:

* detect if lambda is more than 2 lines long and has "it" inside. Suggest replacing it with explicit parameter name
* detect if function with primitive arguments is called without supplying their names for readability. Example: `hello(5, null, false)` Suggestion: `hello(count = 5, title = null, showDescription = false)`
* detect if file has `package com.example.domain.test`, but is

[2021-03-04 11:45] yoav-lavi commented on #2693
@aryx
1. I'm suggesting this as an optional syntax addition, not as a replacement for the current syntax. It should not make it more complicated than it currently is to define rules
2. In a case where you want to match something that doesn't have a specific textual representation (e.g. calling an arbitrary function) not having AST selectors means you can't represent it with the current tools. If I

[2021-03-04 11:57] kaeii12 commented on #2687
First of all, thank you for your warning. I tried something for
experimental purposes.
I will be reviewing your application for one of my graduate courses,
but I know very little about static code analysis. I wonder if there
are any documents that you can give as webinar or pdf to find out
about the program. thank you. to your interest

Yoann Padioleau <notifications@github.com>, 4 Mar 2021 Per, 1

[2021-03-04 15:27] emjin commented on #2687
If you're looking for an overview of semgrep, you can try https://semgrep.dev/docs/ or go through the tutorial at https://semgrep.dev/learn. You can also watch one of our presentations of semgrep, like [this one](https://www.youtube.com/watch?v=pul1bRIOYc8) from the Bay Area OWASP Meetup! Hope that helps!

[2021-03-04 15:57] kaeii12 commented on #2687
thanks for information emma

Emma Jin <notifications@github.com>, 4 Mar 2021 Per, 18:28 tarihinde şunu
yazdı:

[2021-03-04 17:56] colleend commented on #1118
yes! I can port findsec bugs to Kotlin 😄

Detekt seems to have some great rule ideas -- thanks for the input!

[2021-03-05 06:50] SPoint42 commented on #1118
The best for security is findsecbugs. Detekt only see some "style"/"lint" .

[2021-03-05 15:12] Floby opened #2704 "Parse Java symbols containing accented characters and the new record extension"
**Describe the bug**
Semgrep fails to parse java code because of diacritics.

**To Reproduce**
Import or declare a symbol containing an accented character.
[code]

**Expected behavior**
semgrep reads the symbol into its AST as javac does.

**What is the priority of the bug to you?**
P0 as our code is standardised to use french words, containing accents where needed.

**Environment**
semgrep@0.41.1

[2021-03-05 22:07] ievans commented on #2704
Hello @Floby, welcome and thanks for creating an issue with so much detail!

I believe that there is a bug here but I'm not able to reproduce. I tried on the live editor https://semgrep.dev/s/6n4B and on a local test case with your reproduction having the accent aigu.

[code]

Can you provide a playground editor (https://semgrep.live) snippet that fails to parse? or more detail about your local se

[2021-03-07 18:49] ievans commented on #2159
go away stale bot

[2021-03-08 07:30] XANUK01 opened #2713 ".."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**
Is this a P0 (blocking your

[2021-03-08 09:24] Floby commented on #2704
OK, my bad for not testing this code in the sandbox.

this one indicates an error on the accented character (https://semgrep.dev/s/2xeD)

[code]
However, removing the `record` statement makes semgrep able to parse the file. `record` is still experimental so it makes sense that semgrep does not parse it, but it is still unexpected for the parse error to be reported elsewhere :)

[2021-03-08 10:59] aryx commented on #2713
No much we can act on for this bug report ... closing.

[2021-03-08 10:59] #2713 closed, assigned to nobody

[2021-03-08 11:05] aryx commented on #2704
I think the issue is that we use 2 parsers for Java, the pfff one and tree-sitter one, and both choke on it, but then we report the parse error of pfff.

[2021-03-08 11:06] aryx commented on #2704
We probably now should use first the tree-sitter Java parser instead of pfff one, so the error reported would be the one of tree-sitter.
Also, tree-sitter-java can probably parse partially this file by skipping the record keyword, so @ievans we probably need a way to tell semgrep-app of partial parse errors for the UI to not stop but run the pattern (and possibly highlight a problematic skipped to

[2021-03-08 12:06] #2687 closed, assigned to nobody

[2021-03-08 12:44] aryx opened #2715 "[Java] can't parse enum class patterns"
https://semgrep.dev/s/zvrW

[2021-03-08 14:47] mschwager commented on #2692
Also note that anything you can capture in a metavariable you can use [`metavariable-regex`](https://semgrep.dev/docs/writing-rules/rule-syntax/#metavariable-regex) on. This includes variable names, expressions, basic statements, etc.

[2021-03-08 14:55] aryx opened #2716 "[PHP] support partial if in patterns"
https://semgrep.dev/s/jR9J

[2021-03-08 16:51] Floby commented on #2704
that would be amazing :) because the second reason preventing us from using semgrep right now is our extensive use of `record`s, even though we probably shouldn't.

[2021-03-08 21:00] IagoAbal commented on #2715
The problem seems to be the ellipsis.

[2021-03-08 22:31] minusworld commented on #2264
@dlukeomalley Do you have any further updates on this ticket?  From this discussion, are you interested in documenting at least the Semgrep CLI output?

[2021-03-08 22:36] minusworld commented on #2305
@mschwager Where do you think the best place is for documenting this metavariable behavior?

[2021-03-08 22:46] markchristensen-sl commented on #2398
Hi, Drew. I did get it working and will proceed to close out this issue, thanks for checking in on this!

[2021-03-08 22:46] #2398 closed, assigned to nobody

[2021-03-08 22:50] mschwager commented on #2305
Hmm, after the work on metavariable propagation, should we similarly disable metavariable matching across negation operators (`pattern-not`, `pattern-not-inside`)? The fact that these two examples have different behavior seems too counterintuitive to me: https://semgrep.dev/s/b7LE/, https://semgrep.dev/s/Q5kJ/.

Is there anywhere where we're relying on this behavior and/or intend to make use of th

[2021-03-08 22:51] mschwager commented on #2305
As far as docs go, this will be the place to update: [metavariable matching](https://semgrep.dev/docs/writing-rules/rule-syntax/#metavariable-matching). Note that none of the examples under that header make use of a negation operator, so perhaps this was just overlooked.

[2021-03-08 22:57] DrewDennison commented on #2398
@markchristensen-sl that's awesome to hear thanks!

[2021-03-09 07:14] xens commented on #2264
@dlukeomalley regarding the DefectDojo integration it's usually a separate process in a CI/CD pipeline that takes the scanner output and sends it to DefectDojo, so basically the process would be:

1. run semgrep-agent in your pipeline and store the result as a job artifact (output format should ideally be stable)
2. the next pipeline stage or in the same one depending on your logic, the semgrep ar

[2021-03-09 09:16] aryx commented on #2704
I've created issues upstream in tree-sitter-java.

[2021-03-09 12:21] #2716 closed, assigned to nobody

[2021-03-09 12:49] aryx commented on #2716
This works now on develop: https://semgrep.dev/s/eL8y/?version=develop

[2021-03-09 14:02] #2643 closed, assigned to nobody

[2021-03-09 14:05] #2645 closed, assigned to nobody

[2021-03-09 14:05] #2647 closed, assigned to nobody

[2021-03-09 14:23] #2649 closed, assigned to nobody

[2021-03-09 15:00] zabbal opened #2721 "semgrep.dev bug report"
https://semgrep.dev/s/dKOd?registry=go.lang.security.audit.crypto.ssl

The following code triggers gosec error "G402 (CWE-295): TLS MinVersion too low":
`
return &tls.Config{
                 Certificates: []tls.Certificate{cert},
                 RootCAs:      rootCAs,
         }, nil
`
The reason is default-init with 0 means that omitted MinVersion parameter is effectively initialized with const

[2021-03-09 16:38] fproulx-boostsecurity commented on #2601
Any chance this might ship in next release of `semgrep` ?
So many great IaC (Kubernetes, etc..) opportunities.

[2021-03-09 16:50] aryx commented on #2601
depends on the kinds of rules you want to write. Right now we still have limited support for ellipsis or metavariables in the pattern.
Do you have example of rules? That would helps us a lot for setting the right priority.
Just semgrep.dev link to hypothetical IaC yaml rules would help us a lot.

[2021-03-09 20:13] underyx opened #2724 "Failure to parse `export default abstract class` in TypeScript"
https://semgrep.dev/s/gL1Z

Sample code is from https://www.typescriptlang.org/docs/handbook/2/classes.html#abstract-classes-and-members.

Tested with TypeScript 4.0: `export default abstract class` does compile successfully, so it's a valid lang feature.

[2021-03-09 20:32] underyx commented on #2724
duplicate of https://github.com/returntocorp/semgrep/issues/1995

[2021-03-09 20:32] #2724 closed, assigned to nobody

[2021-03-09 21:11] #2548 closed, assigned to mschwager

[2021-03-09 22:36] IagoAbal commented on #2715
This pattern works

[code]

We just need to tweak the grammar and allow omitting the `;`.

[2021-03-09 23:24] minusworld commented on #2078
@ievans Would you still consider this medium priority?

[2021-03-09 23:44] IagoAbal commented on #2715
Should be fixed by returntocorp/pfff#399.

[2021-03-10 07:38] inkz opened #2728 "[Java] Deep statement matching for code inside and outside of the class method"
https://semgrep.dev/s/PJwW/

pattern:
[code]
code:
[code]

trying to match `em.createQuery` that is instance of `EntityManager` but not able to do it when EntityManager is declared outside  the `getUserByUsername` method

(works when all the code is inside the method: https://semgrep.dev/s/J9zW/)

[2021-03-10 09:31] #2715 closed, assigned to IagoAbal

[2021-03-10 18:48] mschwager commented on #2548
Hey @xmo-odoo, you're rule matches now! https://semgrep.dev/s/8ykq?version=0.42.0

[2021-03-10 19:02] ievans opened #2734 "IsADirectoryError when running r/all on Semgrep itself"
I see a `IsADirectoryError` when running r/all on Semgrep itself:

[code]

[2021-03-10 19:11] ievans commented on #2734
tagging @nbrahms and @underyx who have been talking about potentially recommending r/all

[2021-03-10 20:25] underyx opened #2735 "typescript parsing bug: support 'export default interface Foo {}'"
See parser failure: https://semgrep.dev/s/Rove

[2021-03-10 20:41] underyx opened #2736 "typescript parsing bug: support 'variable as keyof Interface<SomeType>;'"
https://semgrep.dev/s/Avq8

verified as parsing correctly in TS4.0

Possibly fixed by https://github.com/tree-sitter/tree-sitter-typescript/pull/138?

[2021-03-10 20:51] underyx opened #2737 "typescript parsing bug: 'public abstract async methodName()'"
https://semgrep.dev/s/Bkl2

Verified to compile correctly in TS4.0, although editors complain about this.

[2021-03-10 20:57] underyx opened #2738 "typescript parsing bug: trailing comma after tuple element objects in an interface declaration"
https://semgrep.dev/s/Do6o

Verified to compile correctly in TS4.0

[2021-03-11 06:54] xmo-odoo commented on #2548
@mschwager awesome! Thanks :heart:

[2021-03-11 09:39] aryx commented on #2704
To switch to use tree-sitter-java first, they need to fix a few bugs first: https://github.com/tree-sitter/tree-sitter-java/issues/68
After that we will get better error messages for the files containing accents, and correctly point to the 'record' token for the error.

[2021-03-11 10:00] aryx commented on #2735
related: https://github.com/returntocorp/semgrep/issues/1950

[2021-03-11 14:24] aryx opened #2740 "[Internal] can't run --json-time on semgrep-app code, index out of range error"
[code]

[2021-03-11 14:26] aryx commented on #2740
I'll make a related PR where you can access semgrep_r_all.yml and the actual repo I ran this command on (semgrep-app and semgrep).

[2021-03-11 14:54] aryx commented on #2740
Also would be good if on the python side we were agglomerating all the time for the files, so that we could have numbers for each rule (or we can wait for semgrep-core to replace semgrep-python).

[2021-03-11 15:30] minusworld commented on #2305
I found one example of what looks like intentional matching across negation patterns. I'm not sure if this is what you mean. It looks like it relies on `$INJECT` being the same in `pattern` and `pattern-not-inside` clauses.

[code]

[2021-03-11 16:47] mjambon opened #2744 "Produce a human-readable performance report from the output of --json-time"
Semgrep now has a `--json-time` option that dumps one duration per pair (rule, target). On real code bases, this is a lot and it's not human-readable.

Let's create a script that takes this json output and produces a human-readable report. This report might include things like:
* total matching time
* total matching time per rule
* total matching time per target
* or only top 10 slowest targets by

[2021-03-11 17:30] aryx commented on #2744
sounds like a good start

[2021-03-11 18:47] colleend opened #2746 "Golang Ellipsis in Return Types"
**Describe the bug**
Semgrep fails to parse when the ellipsis is used in Golang function return types specification.

**To Reproduce**
https://semgrep.dev/s/Gevp/

**Expected behavior**
Would expect that the pattern parses and that the function test would be matched.

**What is the priority of the bug to you?**
P2

[2021-03-11 18:59] colleend opened #2747 "[Go] Infer the type of e := foo() for local functions foo()."
**Describe the bug**
Golang typed metavariables do not match for the error type -- the error type is a built-in interface, and some functions return an error value which is then later checked.

**To Reproduce**
https://semgrep.dev/s/RovO/

**Expected behavior**
Expected that the pattern would match line 7

**What is the priority of the bug to you?**
P2

[2021-03-11 23:14] squaresurf opened #2748 "The --sarif switch will swallow rule errors."
**Describe the bug**
Given that you have a broken rule, an error will be output when running semgrep. That is unless you add the `--sarif` switch.

**To Reproduce**
I created a [SSCCE](http://www.sscce.org/) at https://gitlab.com/dsearles/semgrep-sarif-bug

**Expected behavior**
An error should be output when rules are broken no matter which output options are passed to `semgrep`.

**What is the p

[2021-03-12 08:15] #1673 closed, assigned to nobody

[2021-03-13 19:40] aryx commented on #2186
Ping

[2021-03-13 23:05] mjambon commented on #2186
Oops, sorry, my email filters were set up incorrectly so this got buried. I'll look into it.

[2021-03-14 04:24] weibrian opened #2753 "Java 12 Switch Statements"
**Describe the bug**
Errors when parsing java 12 [enhanced switch statements ](https://openjdk.java.net/jeps/325)

**To Reproduce**
Code that looks something like:
[code]

**Expected behavior**
does not have a parse error

**Screenshots**
If applicable, add screenshots to help explain your problem.
Link: [https://semgrep.dev/s/Lw5r](https://semgrep.dev/s/Lw5r)

**What is the priority of the bug to

[2021-03-14 06:25] ankush opened #2754 "Can not compile javascript pattern -> f(...) + ... + f(...)"
**Describe the bug**
Semgrep 0.42 does not compile following pattern as valid Javascript patter:
`f(...) + ... + f(...)` or the one I was actually interested in: `f("...") + ... + f("...")`

**To Reproduce**
Steps to reproduce the behavior: https://semgrep.dev/s/8yPy

**Expected behavior**
This appears to be a simple pattern, should compile just fine.

**Screenshots**
n/a

**What is the priority o

[2021-03-14 13:36] Sjord commented on #2754
Thanks, @ankush, for reporting an issue. I am not sure whether this is a bug or not, but the following pattern seems to do what you want:

[code]

[2021-03-14 13:53] ankush commented on #2754
That pattern won't accept this: `f("bar") + var1 + var2 + f("foo")`

Basically, I am not sure how currently we can write pattern for multiple variables if `+ ... +` doesn't work. Which is why it feels like a bug to me.

[2021-03-14 14:17] Sjord opened #2755 "Ocaml metavar equality test does not use metavar"
[tests/ocaml/metavar_equality_var.sgrep](https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/tests/ocaml/metavar_equality_var.sgrep) contains:

[code]

I would expect this to contain a meta-variable, like this:

[code]

[2021-03-15 00:18] IagoAbal commented on #554
Apologies for the slow reaction on my side! I would expect a match everywhere indeed, it could be an issue with the AST-to-IL translation as it was happening with Go's `:=` operator. I will take a look ASAP.

[2021-03-15 00:35] IagoAbal commented on #554
OK I think I know what it is. The dataflow constant propagation right now only works at the function level, and in your example there are no functions, so it's not running. When you wrap the code in a function then everything matches.

[2021-03-15 10:47] aryx commented on #2753
created an issue upstream in tree-sitter-java.

[2021-03-15 12:07] #2755 closed, assigned to nobody

[2021-03-15 12:24] aryx commented on #2754
yes, it's because of the way addition is parsed. + is a left associative operator, so
f("bar")+$A+f("foo") is parsed as ((f("bar')+$A)+f("foo"))) so if you add another +var2 in the code, then it will not match the pattern.
We could treat specially "..." when inside an arithmetic operation and allow it to match multiple terms.

[2021-03-15 14:30] aryx commented on #2747
it's because we don't really do type inference in Go. We infer the type of literals, but we don't remember the type of functions.
If you do error err;  err = test(), then it should work, because then we know the type of err.

[2021-03-15 14:31] aryx commented on #2747
@emjin could be a nice extension to the local type inference we currently do.

[2021-03-15 14:32] aryx commented on #2747
An alternative is add support for LSP and type extraction for Go (not even sure the Go LSP server currently supports that).

[2021-03-15 14:38] emjin commented on #2747
I've been wanting to do broader type inference for a while. Ideally each expression would have a type, rather than each id. It sounds like it's not a priority, though (could be a fun hackathon project if we commit to expressions being changed in a similar way to statements)

[2021-03-15 16:15] aryx commented on #2747
We dont need type on all expr to implement this issue, just on ids and on Calls should be enough

Sent from my iPhone

[2021-03-15 19:07] colleend commented on #2747
I see, this would be nice to have but definitely not high priority 👍

[2021-03-15 19:26] IagoAbal commented on #554
@ajinabraham  @jack-om  have you tried a recent version of Semgrep? Your examples should work as expected if they are inside a function.

The way it works now where you get a basic global analysis of constants, and a more sophisticated analysis inside functions, seems quite a good compromise  to me.  But what do you think @aryx, should we still try to make these precise examples work?

[2021-03-15 21:52] colleend opened #2762 "No Alerts of 503s on All Requests to Saved Rules Endpoint"
**Describe the bug**
Since March 8th, all requests to the saved rules endpoint on semgrep-app returned nginx 503 errors. Gitlab discovered this on March 15th, leading to the following issue being created and fixed: https://github.com/returntocorp/semgrep-app/issues/1874.

However, we were never alerted to these 503 errors by datadog, sentry, or pagerduty. We should request logs to datadog in order

[2021-03-15 23:48] #2183 closed, assigned to nobody

[2021-03-15 23:48] #1226 closed, assigned to nobody

[2021-03-15 23:48] #2209 closed, assigned to nobody

[2021-03-16 00:06] dgryski opened #2763 "The message contains a truncated expression during substitution"
**Describe the bug**

The message contains a truncated expression during substitution:

"use w.Write(b[:n) instead of io.WriteString when b[:n is []byte"

**To Reproduce**

Playground link: https://semgrep.dev/s/BkKW/

**Expected behavior**

The $VAR replacement should include the trailing `]` character.

**What is the priority of the bug to you?**
P3: minor cosmetic issue, although it might affec

[2021-03-16 00:33] mjambon opened #2764 "Report which target file causes memory exhaustion"
I'm not sure what we have at the moment. Logging each target path before processing it might be sufficient, if we're not doing it already. Then the issue to make it visible to the user:
[code]

[2021-03-16 00:51] mjambon commented on #2764
Related idea: estimate memory requirements before parsing the target and emit a warning for the files that wouldn't fit in available memory.

[2021-03-16 02:11] mjambon commented on #2051
reopening

[2021-03-16 04:47] msorens commented on #840
Responding to the stale-bot, please keep this active. 🎉

[2021-03-16 14:17] mschwager commented on #2763
Hey @dgryski,

Thanks for the heads up. I suspect `semgrep-core` has a off-by-one error on the range returned for the metavariable. cc @aryx

[2021-03-16 15:10] aryx commented on #2764
The problem is not the size of the target file; even if they are huge, it's still nothing compared to the typical memory of a machine.

[2021-03-16 15:11] aryx commented on #2764
A file will always fit in the available memory. The problem of memory we had in the past was because of the matching engine, which was finding too many matches, with too many possible combinations in big files.

[2021-03-16 16:58] brendongo commented on #2748
@mschwager this is probably because we only print errors when output format is text. https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/output.py#L440 in `--json` we append the error to the json output not sure if sarif has a similar place for errors. FWIW running with `--sarif` returns non-zero exit code.

[2021-03-16 21:43] mjambon commented on #2764
I see what you mean. For starters, I think we should set up the semgrep wrapper to specify `-max_memory` using some heuristic (95% of MemTotal from /proc/meminfo ?), unless some other value is specified by the user.

[2021-03-16 22:14] colleend opened #2770 "JSON Example Has No Match"
**Describe the bug**
After upgrading to semgrep 0.43.0 (pushing the latest develop commits), the example on semgrep-app for JSON does not match with the target code.

**To Reproduce**
Try going to https://semgrep.dev/editor?version=0.43.0 -> load "Configuration Bugs (JSON)" and click Run.

**Expected behavior**
Expecting the match to happen.

**What is the priority of the bug to you?**
P1

[2021-03-17 08:08] aryx commented on #2770
Yes, it's because we now require some extra "..." in JSON to be more consistent with what we do in other languages.
With the extra ellipsis it works: https://semgrep.dev/s/3xgr/?version=0.43.0
Could you update the examples (no idea where the data is stored, probably somewhere in semgrep-app).

[2021-03-17 08:10] aryx commented on #2770
This is since https://github.com/returntocorp/semgrep/pull/2741
cc @mschwager

[2021-03-17 09:02] aryx commented on #2763
@emjin want to take a look? probably some missing tokens in the AST somewhere got lost along the way.

[2021-03-17 09:09] aryx opened #2773 "[Internal] Pass the whole rule to semgrep-core in evaluation.py"
To get semgrep-core -fast, we need to pass the whole rule to semgrep-core, instead of individual patterns like it's the case right now. At some point we also want to pass a big set of rules to semgrep-core at once too, to dedup similar patterns in different rules, but for now let's focus on just passing a whole rule.

This is the most important thing to do to improve the performance of semgrep I t

[2021-03-17 09:09] aryx commented on #2773
cc @mschwager @nbrahms @DrewDennison

[2021-03-17 09:11] aryx commented on #2773
Note that there are still 28 mismatches between semgrep and semgrep-core -config when used in semgrep-rules, and a few more regressions when using -fast. I need to fix them, but in the mean time we can in parallel work on updating the python wrapper to pass the whole rule to semgrep-core.

[2021-03-17 09:12] aryx commented on #2773
The only feature not handled by semgrep-core -config is the pattern-where-python, so we may need to keep some of the evaluation.py logic for that, but this should not be too hard because the interface between semgrep and semgrep-core should be similar: semgrep-core will still return a set of matches with metavariables (it's just that it handled the boolean logic composition itself so there's less

[2021-03-17 09:14] aryx commented on #2601
I think @emjin is mostly done, so alpha support for YAML should make it to the next release!

[2021-03-17 14:19] aryx commented on #1218
Actually just found an example where we can't merge pattern-not and pattern-not-inside: https://semgrep.dev/s/PJ7Y/?stepByStep=1

We could merge pattern: and patter-inside, but for negation the difference matters :(

[2021-03-17 14:39] aryx commented on #1218
Here are example of semgrep-rules that now works if you treat pattern-not and patter-not-inside differently:
Great: a test file now works: ./javascript/browser/security/new-function-detected.yaml
Great: a test file now works: ./python/django/best-practice/upsell_django_environ.yaml
Great: a test file now works: ./python/django/security/audit/xss/template-translate-as-no-escape.yaml
Great: a test f

[2021-03-17 15:21] aryx commented on #2552
The one fixing this issue needs to remove some todook: in semgrep-rules in useless-assign.js

[2021-03-17 15:26] mschwager commented on #2773
This seems like a fairly large task, and since it's an internal ask I'm going to remove from the customers board and defer on prioritization (@dlukeomalley, @minusworld, @DrewDennison, @nbrahms?).

This seems like a great start, but I think there's a lot of functionality depending on the current implementation. I'm curious what the plan is for making this transition. We can start dogfooding intern

[2021-03-17 15:49] aryx commented on #2035
Note that adding the deep expression operator (which I didi) will not solve your issue with your PHP rule.
semgrep-rules/php/lang/security/assert-use.php will still not work even if you uncomment the pattern-not you have in your rule.

[2021-03-17 15:55] aryx commented on #2773
I'm down to 13 mismatch in semgrep-rules (down from 28 this morning, and for context there are 2673 rulid: in semgrep-rules, so that's 13/2673 mismatch not bad). I've also fixed all regressions with -start in semgrep-rules, so with or without -fast we now have 13 mismatch

[2021-03-17 15:59] minusworld commented on #2457
Waiting until pattern logic gets merged into semgrep-core to make any progress here.

[2021-03-17 16:03] aryx commented on #2457
@nbrahms actually as I said in https://github.com/returntocorp/semgrep/issues/1218 we can't merge pattern-not: and pattern-not-inside: :( I've found some examples where the behavior must be different :(

[2021-03-17 19:39] timfaraci opened #2776 "Semgrep Gets Into State Returning Zero Results Against Specific Directory"
**Describe the bug**
Using Semgrep in `docker run` I got semgrep into a state where if I run against directory named `repositories` it will fail to return results. However running against any other named directory, ie `repositories2` results will be returned.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:
Run the following...
`docker run --user "$(id -u):

[2021-03-17 20:13] mschwager commented on #2776
I suspect this has something to do with your local directory layout. Could you provide a minimal directory structure to reproduce?

I'm currently trying with:

[code]

Both directories work for me:

[code]

[code]

And if I try against a non-existent directory I get:

[code]

Is there a minimal directory structure you can repro with and provide?

I have a suspicion this could be related to https:/

[2021-03-17 20:16] aryx commented on #2773
I like your transition plan @mschwager. good ideas.

[2021-03-17 20:23] mschwager commented on #2776
Unable to reproduce original issue, closing out for now :+1:

[2021-03-17 20:23] #2776 closed, assigned to mschwager

[2021-03-17 22:47] jack-om commented on #554
@IagoAbal All examples do work when they're inside a function. Here's an updated test: https://semgrep.dev/s/jack-om:issue-554-poc

[2021-03-18 09:19] aryx commented on #1218
Here is another example where merging pattern and pattern-inside would lead to a different behavior:
https://semgrep.dev/s/W8w4/?stepByStep=1

[2021-03-18 09:38] aryx commented on #1218
the problem is that And is not commutative anymore with pattern-inside and pattern. The evaluation order of
pattern-inside:x AND pattern-inside:y AND pattern:z  matters. We currently rely on
evaluatin first pattern:z and then comparing it with x, and y.

[2021-03-18 14:51] aryx opened #2778 "[spacegrep] missing matches when same metavariables used in different patterns"
See:
https://semgrep.dev/s/GeLB/?stepByStep=1

It's because internally spacegrep returns for each metavariable a unique_id that depends on the location (it should not),
and then 2 metavariables that actually bind to the same content get different unique_ids and can't be matched together.

[2021-03-18 14:55] aryx commented on #2778
that means though that we need to adjust @daghan rule https://github.com/returntocorp/semgrep-rules/pull/1044

[2021-03-18 14:56] aryx commented on #2778
indeed, in https://semgrep.dev/s/4xng/?stepByStep=1 spacegrep currently returns a match for the last user root, but this is by chance; it should not.

[2021-03-18 14:56] #2305 closed, assigned to minusworld

[2021-03-18 15:00] aryx commented on #2078
ping @ievans should we add special code to not process WASM autogenerated code?

[2021-03-18 15:07] aryx commented on #2778
the unique_id field is used by semgrep-core to differentiate variables with the same name but in different scope.
For instance in
int a;
a = 1;
foo() {
  int a;
  a =2;
}
I don't want the pattern
$A = 1;
...
$A = 2;
to match this code, because the $A are actually different; they have the same name, but their scope is different.

In the case of spacegrep, we don;t really have semantic information a

[2021-03-18 15:25] msorens opened #2779 "Need to be able to annotate rule disablements"
**Is your feature request related to a problem? Please describe.**
I have found it necessary to disable certain rules (from otherwise useful rulesets) due to them either being:
(a) "not a problem" in my code base
(b) comes down to a matter of style
(c) a rule that does not make sense
(d) a faulty rule
At the time I make that election I know the reason, but the next time I go to look at my policy,

[2021-03-18 15:53] dlukeomalley commented on #2779
Copying from Semgrep Slack ([here](https://r2c-community.slack.com/archives/CK86BJ5DW/p1616081908009700?thread_ts=1616081632.009200&cid=CK86BJ5DW)):

[2021-03-18 16:31] mschwager commented on #2685
Do you mean get in the way of the autofix or FP here?

Since autofix is experimental functionality I think we should focus on the FP. @aryx shouldn't the pattern require a `...` to match the first example here? https://semgrep.dev/s/Av7g/

[2021-03-18 16:52] aryx commented on #2685
I can take a look

[2021-03-18 16:54] mschwager commented on #2457
I think https://github.com/returntocorp/semgrep-docs/pull/129 may close this out.

[2021-03-18 17:40] ievans commented on #2078
@aryx I wouldn't do that. I think as long as we have a reasonable timeout that means we won't parse these giant files, we are fine.

[2021-03-18 18:18] mjambon commented on #1995
We will be unblocked when this PR gets merged: https://github.com/tree-sitter/tree-sitter-javascript/pull/160

[2021-03-18 18:21] mjambon commented on #2735
Marking this as a duplicate of #1995.

[2021-03-18 18:21] #2735 closed, assigned to nobody

[2021-03-18 21:10] #2239 closed, assigned to mjambon

[2021-03-18 21:39] brendongo commented on #2432
Haven't tested on an M1 mac yet but 0.43.0 on homebrew included building on ARM https://github.com/Homebrew/homebrew-core/pull/73280

[2021-03-18 21:59] ropnop opened #2780 "Regex matching fails with literal backticks"
**Describe the bug**
Semgrep regex will not find matches within backticks, making rule creation for Javascript template strings impossible

**To Reproduce**
https://semgrep.dev/s/Kl7P

**Expected behavior**
I would like to match the JS template string with variable expansion in line 1, but not line 2.

**What is the priority of the bug to you?**
P2. String expansion with tainted variables are an i

[2021-03-18 22:38] Isaac0616 commented on #2438
+1 to this feature, it would be very helpful to my use cases.
In addition, I would love to be able to use regex to match the path.

[2021-03-18 23:23] colleend commented on #2457
We can close this issue as we are not currently merging pattern-not and pattern-not-inside and documentation currently differentiates between the two.

[2021-03-18 23:23] #2457 closed, assigned to colleend

[2021-03-19 00:29] Isaac0616 opened #2781 "Javascript parsing error: export * as name1 from …;"
**Describe the bug**
Javascript parsing error: `export * as name1 from …;`

**To Reproduce**
https://semgrep.dev/s/dKGP

**Expected behavior**
No parsing error.

**What is the priority of the bug to you?**
P1