[2020-08-25 01:34] brendongo opened #1583 "Parse Error Ruby Lambda"
**Describe the bug**
Fails to parse two lambdas in a row: https://semgrep.dev/WeW2/

**To Reproduce**
When either lambda is commented out the code parses correctly.

Potentially related to #1581

[2020-08-25 01:38] brendongo commented on #1457
Filed #1580 #1581 #1582 #1583 for some errors out of rails project. It's weird in that the parse errors that are being reported don't actually parse incorrectly; there seems to be an underlying issue that then reports on these lines. Stopping splitting into separate issue hoping that the root cause of the 4 above remove a lot of other issues with these repos.

[2020-08-25 01:40] brendongo commented on #1457
Marking as blocked for now. Should revisit after the above issues are looked at.

[2020-08-25 01:57] brendongo commented on #1547
Looks like pattern-inside is being replaced with pattern when converting to GUI rule editor. @chmccreery does your work on warning when switching to simple mode address this?

[2020-08-25 01:58] chmccreery commented on #1547
This is a slightly different problem, but I will take a look and fix this. Thanks @ajinabraham for reporting the issue!

[2020-08-25 04:46] #1547 closed, assigned to nobody

[2020-08-25 05:10] chmccreery commented on #1547
The fix has been pulled into our `develop` branch and should be deployed later this week after a bit more testing

[2020-08-25 20:55] DrewDennison opened #1592 "Output JSON for test arg"
[code]

[code]

[2020-08-25 23:23] IagoAbal commented on #877
Hi,

I can take this one, if nobody did already @aryx?

Without having really looked carefully into the code, but having played around with the example, I think semgrep doesn't have an use for `...` here. As far as I can tell, semgrep considers a Java interface as a set of methods (hence unordered), and an interface-pattern matches an interface if each method-pattern matches a different method in

[2020-08-25 23:51] colleend commented on #1569
hmm @aryx is there a way to tell whether this parser_error comes from parser_go.mly or go_to_generic.ml?

[2020-08-26 01:55] clintgibler commented on #975
For what it's worth, I've had this bite me a few times, in Java and Python.

It would be nice if `import $X` matched the full path regardless of syntax, though in some cases that could be confusing for the new user (e.g. `from foo import bar`).

If it's not too hard to support matching the full path of imports, I would be happy 🙏

[2020-08-26 07:23] aryx commented on #877
Yes I vote for 2. Actually we support them in class_member_declaration (see the use of DeclEllipsis in parser_java.mly), so we should support them also for interface member declaration.

[2020-08-26 07:25] aryx commented on #1569
The error (and backtrace) should be different. You can try pfff -lang go -dump_pattern /path/to/gofiles.sgrep
to dump pattern files.
If it's not a pattern, you can use -parse_go which will not call go_to_generic, or -dump_go which will just dump the Go AST. To exercise also go_to_generic you can use -dump_ast which will dump the generic AST.

[2020-08-26 11:00] SPoint42 opened #1594 "Provide a working Dockerfile for building on alpine"
The current dockerfile to build semgrep, seems buggy. I could not build an docker image with it.
there is a strang git pull in the 16th line and the opam switch also failed

Tests on a Windows 10 host

[2020-08-26 11:31] underyx commented on #1594
@brendongo I see that you reviewed the Dockerfile's current iteration. Could you maybe shed some light on this `git pull` in there?

Here's a thread from our community Slack with more context about the question: https://r2c-community.slack.com/archives/CK86BJ5DW/p1598433513061100

[2020-08-26 12:52] aryx commented on #975
Do you have a semgrep.dev example of what you would like? Just so I can use that later as a set of tests.

[2020-08-26 13:09] aryx commented on #1551
+1 on that.

[2020-08-26 14:42] clintgibler commented on #975
Hm, to be honest I'm not totally sure what the behavior semgrep **should** have is.

There are 2 main contenders in my mind:
1. `import $X` matches entire import (`foo.bar.baz` in `import foo.bar.baz` and `from foo.bar import baz`)
2. Match syntax more directly: `import $X` matches `import foo.bar.baz` but not `from foo.bar import baz` because there’s no `from` in the pattern

I think either are O

[2020-08-26 16:40] clintgibler commented on #975
What should `import $X` match for the following 2 lines?

[code]

@ievans and @colleend  vote that `import $X` should match the full import path for both cases, `$X` matching `one.two` and `foo.bar.baz` respectively.

[2020-08-26 16:42] brendongo commented on #1594
What error are you getting when trying to build the docker file? Not entirely sure what you're trying to do. The Dockerfile already builds on alpine.

[2020-08-26 17:19] mschwager commented on #975
I think it's worth going over all the different import styles in Python. Python is fairly representative here, so we can extrapolate to other languages as well. To my knowledge, here are the different ways you can import something in Python:

[code]

IMO, we should always return the FQIN (fully-qualified import name) as the metavariable `abstract_content`. We can define the FQIN as the full import

[2020-08-26 17:32] clintgibler commented on #975
@mschwager Thanks so much for the details and examples, this comment is 💯

I agree with your reasoning, I think having the metavariable return the fully-qualified import name makes the most sense.

In the last two examples you provided:

[code]

To me, I think the expected behavior should be what you've proposed, **2 matches** for each line:

[code]

[2020-08-26 22:02] minusworld opened #1595 "FAQ with "ported tool definition" answer"
**Is your feature request related to a problem? Please describe.**
Add an FAQ with a question addressing "what does porting a tool mean in semgrep?"
With points like:
- We don’t port every rule always for X, Y, Z reasons
- Some tools we may be in the process of porting, see the related GH issue for specific checks we’ve ported
- Since our implementation is different, we may find more / fewer thing

[2020-08-26 22:42] IagoAbal commented on #877
I think this was supposed to be implemented by https://github.com/returntocorp/pfff/commit/81ea364572db3cdd55f2b3b85523ab936c5732f0 ("Java Class Ellipsis in body") but the `interface_member_declaration` rule of the parser wasn't updated accordingly.

I have a patch that fixes that, now I have to check if the semgrep engine already handles `...` in interfaces' bodies.

[2020-08-27 12:50] SPoint42 opened #1596 "Semgrep 0.21.0 error on installing in a ubuntu docker container"
**Describe the bug**
I try to install semgrep in a ubuntu dockerized because need to add it with other tools.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

**Extract of the build error**
Successfully built bs4 gitlab
Installing collected packages: certifi, idna, chardet, urllib3, requests, soupsieve, beautifulsoup4, bs4, gitlab
Successfully installed be

[2020-08-27 12:56] SPoint42 commented on #1594
I use this dockerfile : https://raw.githubusercontent.com/returntocorp/semgrep/develop/Dockerfile

and have this

[code]
When I try to exclude the pull

[code]

[2020-08-27 12:56] SPoint42 commented on #1596
this work on 0.20, and 0.19

[2020-08-27 16:01] defreez opened #1597 "'y' and 'n' patterns cause internal semgrep-core error"
**Describe the bug**
A pattern of exactly `y` or `n`, causes an internal error on semgrep.dev. Other single character literals work just fine. This only occurs if `|` is not used in the pattern.

The error message on semgrep.dev is

[code]

**To Reproduce**
Use this pattern
[code]

or
[code]

semgrep.dev adds the `|` automatically when navigating away from the Advanced tab, so I cannot provide a s

[2020-08-27 16:11] ievans commented on #1597
I believe this is because "y" and "n" are boolean values in YAML: https://yaml.org/type/bool.html

[2020-08-27 16:34] defreez commented on #1597
Ah, indeed. IMHO it would be nice if this case was consistent with `true` which returns invalid schema, but I can just use multi-lines for everything.

Thank you!

[2020-08-27 16:40] brendongo commented on #1596
Hi @SPoint42 looks like our nuitka binary had problems including the jsonschema file.

Is there a reason you aren't using `pip3 install semgrep==0.21.0`?

[2020-08-27 16:50] brendongo commented on #1594
Looking into what the dockerfile will look like without the git pull but in the mean time it looks like you might be running this with a proxy or without network access.

[2020-08-27 16:53] SPoint42 commented on #1594
There is no proxy between me and internet

[2020-08-27 17:02] ievans commented on #1597
@defreez no problem. Grrr, YAML! I'm going to tag this as won't fix, although perhaps someone (@mschwager ?) has ideas on how we could improve documentation about YAML peculiarities.

[2020-08-27 17:20] #1597 closed, assigned to nobody

[2020-08-27 17:27] brendongo commented on #1594
Working on updating the base image so the git pull is unnecessary.

Not sure why your local docker build is unable to connect to github.com. https://github.com/npm/npm/issues/6285 looks like other people had similar problems due to ports (TCP 9418) being blocked.

[2020-08-27 19:56] minusworld commented on #1155
Closed by https://github.com/returntocorp/semgrep/pull/1584.

[2020-08-27 19:56] #1155 closed, assigned to nbrahms

[2020-08-27 20:43] dgryski opened #1602 "Go rule matches when it shouldn't"
With semgrep version 0.21.0

[code]

The `$HDR` values should be the same (according to the rule) but clearly they are not.

This also happens with the following yaml file:
[code]

This yaml file does not match on the following code however:
[code]

But it *does* match on the following (missing `package main` line, making it an invalid Go file? Is there something in the runner.go file that's causi

[2020-08-27 21:35] underyx commented on #1602
Hey @dgryski, thanks for the report! I was trying to create a share link for easier debugging, when I noticed that the issue doesn't seem to be happening on the latest development build of semgrep 🤔

See for yourself:

Issue exists on https://semgrep.dev/s/underyx:semgrep-issue-1602?version=0.21.0

Issue doesn't exist on https://semgrep.dev/s/underyx:semgrep-issue-1602?version=develop

I'll admit

[2020-08-27 21:42] dgryski commented on #1602
Agreed. `develop` LGTM.  I'll wait for 0.22 to be released.

[2020-08-27 21:42] #1602 closed, assigned to underyx

[2020-08-27 21:46] underyx commented on #1602
Great!

Quick heads-up, due to some major internal refactoring this week, we are currently deciding if we should make next week an exception from our release schedule. In that case we'd release a 0.22 beta next Tuesday, and the stable 0.22 release would land on September 8th.

[2020-08-27 22:41] dgryski commented on #1602
Hope it passes all your regression tests :D

[2020-08-28 14:10] aryx commented on #975
Ok I'll have a try at it next week.

[2020-08-28 14:23] mschwager commented on #1568
I'm by no means an expert in this kind of stuff, but after a quick read of [overfitting](https://en.wikipedia.org/wiki/Overfitting) I think you're correct. We should also consider that line coverage != branch coverage. Chasing line coverage will not guarantee us any level of quality. However, these are decent proxies for quality and may make a good trade-off between level of verification and speed

[2020-08-28 16:10] #522 closed, assigned to nbrahms, colleend

[2020-08-28 17:09] dgryski commented on #1568
For regression testing you want to check a few things:
   1) parsers don't regress; that is, the number of files that fail to parse never increases
   2) pattern matching doesn't regress; that is, given a number of source files and a set of rules, we never find fewer true positive matches than a previous release.

In the first case, this means you want to actually have a significantly large corpus

[2020-08-28 21:18] colleend opened #1606 "javascript object ellipsis"
**Describe the bug**
When attempting to create an object in javascript inside a function call, the pattern does not parse.

**To Reproduce**
I would expect
https://semgrep.dev/s/vZpb/
to produce a match, but the pattern does not seem to parse.

[2020-08-28 21:57] minusworld opened #1607 "Support for "pattern-not-regex""
**Is your feature request related to a problem? Please describe.**
Someone asked about this and I myself had a need for this scenario. See https://github.com/returntocorp/semgrep-rules/blob/63e92b8d2e8b956b0c50e541170f819be5140d54/python/flask/security/xss/audit/template-href-var.html for an example and comments about how this would be useful.

**Describe the solution you'd like**
`pattern-not-reg

[2020-08-28 22:13] brendongo commented on #1594
Update: the base image we use in the dockerfile right now interacts with the opam package repos using git (relevant: https://opam.ocaml.org/doc/Usage.html#opam-repo) we're going to switch over to an image that doesn't use a git backed opam repository in the next week or two. However there are other operations in the dockerfile that require git (updating semgrep submodules) so you might still run i

[2020-08-28 23:13] dgryski commented on #1607
I was looking for this today.  I ended up finding a better way to structure this rule, but one of my attempts looked like this:

[code]

And I would have been happy to have instead
[code]

The example at https://github.com/returntocorp/semgrep/blob/develop/docs/configuration-files.md#metavariable-regex shows blocklisting insecure functions.  I wanted to have a rule allowing-listing good functions.

[2020-08-28 23:46] dlukeomalley opened #1609 "String capture groups return 0 characters"
I’m running an issue where I want to extract ruby key names and put them into a message, but the message comes back as blank. This appears to happen with any string.

Repo: https://semgrep.dev/s/QwJQ/
Repo 2: https://semgrep.dev/s/P9PW/

[2020-08-29 15:27] #1471 closed, assigned to aryx

[2020-08-29 15:53] aryx commented on #1471
This should work better now!

[2020-08-29 15:55] aryx commented on #1518
This works now! no more parse error.

[2020-08-29 15:55] aryx commented on #1519
This still does not work.

[2020-08-29 15:56] aryx commented on #1519
And it's not supported yet by the tree-sitter-javascript

[2020-08-31 12:55] #1514 closed, assigned to nobody

[2020-08-31 12:57] aryx commented on #1514
Should work now! You can use /i for case-insensitive search.

[2020-08-31 12:58] aryx commented on #688
Should work now

[2020-08-31 13:44] aryx commented on #1606
Yep, this should be similar to adding support for ... inside annotations in Java, but this time for Javascript.

[2020-08-31 13:46] aryx commented on #1609
@IagoAbal do you want to have a try at this issue?

[2020-08-31 14:06] aryx commented on #1496
I've removed the 5s timeout and Signal-desktop seems to parse at 100% correctly, so let's close that.
It's still slow, but it parse the 189 files in 40s

[2020-08-31 14:07] #1496 closed, assigned to nobody

[2020-08-31 14:13] aryx commented on #1475
I don't even get a clear parse error message. I just got "semgrep error" without any information.

[2020-08-31 14:14] aryx commented on #1474
@nbrahms can json-schema specify those constraints?

[2020-08-31 14:17] aryx commented on #1412
Also I don't think the issue title is very good. I don't think it has anything to do with macOS sierra.

[2020-08-31 14:21] aryx commented on #1351
Yep, this works with develop docker image.

[2020-08-31 14:21] #1351 closed, assigned to nobody

[2020-08-31 14:23] aryx commented on #1309
I think the best solution for now is to run semgrep as an external program. You can use the docker image if that helps reduce the burden to install the semgrep binary.

[2020-08-31 14:25] aryx commented on #1297
Closing this, I think we've did many things to improve the performance.
We can create another issue if needed to check the performance of 0.20 and more recent semgrep versions.

[2020-08-31 14:25] #1297 closed, assigned to brendongo

[2020-08-31 14:29] aryx commented on #1231
This works with the latest docker image.

[2020-08-31 14:29] #1231 closed, assigned to nobody

[2020-08-31 14:34] aryx commented on #1592
?

[2020-08-31 14:35] gfs commented on #1309
Thanks Aryx,

That isn't a feasible solution for us right now, we are not aiming to change the actual user experience (require a user to have docker and configure it), the current install process is just to grab a NuGet, but I appreciate the workaround idea.

[2020-08-31 14:51] mschwager commented on #1607
We can get most of the way there with a [negative lookahead assertion](https://docs.python.org/3/library/re.html#regular-expression-syntax):

[code]

[code]

[code]

Unfortunately we're missing the `.New` detection at the end of the `regex`, but I suspect this rule is precise enough to get it right most of the time. Note the `metavariable-regex` implementation uses [`re.match` instead of `re.searc

[2020-08-31 14:51] aryx commented on #1478
cc @DrewDennison

[2020-08-31 14:55] aryx commented on #1208
you can do export SEMGREP_CORE_DEBUG=1 to display the files being processed.

[2020-08-31 14:56] aryx commented on #1204
Also pfff is now using dune so things should be easier.

[2020-08-31 14:56] #1204 closed, assigned to nobody

[2020-08-31 15:00] aryx commented on #1187
Yep, keyword arguments are matched in any order, so putting timeout=30 before or after the ellipsis
does not change anything.

[2020-08-31 15:00] dgryski commented on #1607
In my particular case, I ended up going with a pattern that as more closely tied to the bug I was looking for that didn't require regexps: https://github.com/dgryski/semgrep-go/blob/master/hmac-hash.yml

[2020-08-31 15:05] aryx commented on #1151
@IagoAbal good issue to explore the codebase.

[2020-08-31 15:06] aryx commented on #1148
@mjambon you can reference this issue in your PR.

[2020-08-31 15:07] aryx commented on #1143
Do you have example of rules you would like to write and examples of codebase you would like to process?
This can help us to test the support for PHP.

[2020-08-31 15:10] aryx commented on #1071
Annotations on fields/statements are supported in tree-sitter, but not in the pfff java parser, which is used
to parse the pattern.

[2020-08-31 15:14] aryx commented on #1053
still high priority?

[2020-08-31 15:22] aryx commented on #859
I think it is ok to not require the ..., or we could allow a @... to say we accept more declarators.

[2020-08-31 15:22] #859 closed, assigned to nobody

[2020-08-31 15:25] aryx commented on #784
I think the pattern-not is what we should use for that. I don't think it's good to invent too many
special features.

[2020-08-31 15:25] #784 closed, assigned to nobody

[2020-08-31 15:26] aryx commented on #735
seems to be fixed.

[2020-08-31 15:26] #735 closed, assigned to nobody

[2020-08-31 15:59] nbrahms commented on #1053
Doing nothing until we get complaints :)

[2020-08-31 15:59] #1053 closed, assigned to nobody

[2020-08-31 16:23] aryx commented on #710
seems to work now with develop

[2020-08-31 16:23] #710 closed, assigned to nobody

[2020-08-31 16:35] #688 closed, assigned to nobody

[2020-08-31 16:56] #696 closed, assigned to nobody

[2020-08-31 16:56] aryx commented on #696
There's lots of tests in semgrep-core/tests/ and semgrep/semgrep/tests

[2020-08-31 17:02] aryx commented on #584
Here is a test that should work but does not:
https://semgrep.dev/s/D8XY/

[2020-08-31 17:11] aryx opened #1613 "Explore the use of LSP (language servers) to extract more semantic information from code"
We can get typing information.
We can get resolved names.
We can explore neigborhood files.

[2020-08-31 19:02] minusworld opened #1614 "[Ruby] "Hash" syntax equivalence"
**Describe the bug**
This syntax:
[code]

is equivalent to this syntax:
[code]

However, it does not match: https://semgrep.dev/s/0gPv/
Nor can we match using `a: b` syntax explicitly: https://semgrep.dev/s/Kd97/

[2020-08-31 19:34] aryx commented on #1614
I think that recent Ruby versions will remove this equivalence.
https://www.ruby-lang.org/en/news/2019/12/12/separation-of-positional-and-keyword-arguments-in-ruby-3-0/

[2020-08-31 21:00] denisa commented on #1504
FYI: it is still broken with 0.21.0 <https://semgrep.dev/s/l0ry>

[2020-08-31 21:06] sabrinabrogren commented on #1412
Feel free to change it! I just wrote something quick when creating the issue and had no idea what was causing it (and I'm still not sure).

[2020-09-01 07:11] #877 closed, assigned to IagoAbal

[2020-09-01 07:17] aryx commented on #1504
This is also track in https://github.com/returntocorp/semgrep/issues/1569

[2020-09-01 09:54] #1285 closed, assigned to aryx

[2020-09-01 10:59] aryx commented on #1285
Works better now. The brackets are correct.
Now there's issue with the hash and its commas, but we will need to switch to the generic
pretty-printer to solve this.

[2020-09-01 15:11] mschwager commented on #1607
Ahhh, nice, glad you found a workaround. That's an interesting rule - I hadn't considered that anti-pattern before :+1:

[2020-09-01 15:31] nbrahms opened #1619 "Missing root rule key leads to ambiguous error message"
**Describe the bug**
See returntocorp/semgrep-rules#825

When missing the "languages" key, our YAML schema validator produces a misleading error message.

[2020-09-01 18:01] dlukeomalley commented on #1148
For those following along, this work is currently in progress! 💪

[2020-09-01 18:08] nbrahms commented on #1609
This appears to also be an issue with Go: https://semgrep.dev/s/OkbB

[2020-09-01 19:25] aryx commented on #1609
It is a todo in parse_treesitter_helper.ml combine_tokens function.

[2020-09-01 20:48] mschwager commented on #1388
Assigning this to @DrewDennison since he's assigned to the associated PR.

[2020-09-02 07:14] #1569 closed, assigned to colleend

[2020-09-02 14:50] dgryski opened #1626 "Go type inference fails when variable is redeclared in a new scope."
**To Reproduce**
https://semgrep.dev/s/l0Jy/

**Expected behavior**
`r` is an `*http.Request` in the outer scope, but is a new variable (with a new type) redefined in the defer block.

**Environment**
Encountered in homebrew build, replicated on semgrep.dev.

[2020-09-02 15:30] mschwager commented on #1626
Hey @dgryski,

Thanks for finding this - it looks like a bug to me. I've added this to our current sprint :+1:

For my own edification, how does the scoping of `r` work here? Will `r` in `h.ServeHTTP(w, r)` be the value from `recover()` or `*http.Request` from the outer scope? I have limited Golang experience.

[2020-09-02 15:40] dgryski commented on #1626
The scope of the redeclared `r` in the defer block ends at the closing brace.  In `h.ServeHTTP(w, r)` the value of `r` will be the one from the outer scope (in this case the function argument).

Go specification on scopes: https://golang.org/ref/spec#Declarations_and_scope

[2020-09-02 16:51] aryx commented on #1626
This is a bug in Naming_AST.ml. We think it's the same variable.
Could take a bit of time to fix it. The naming algorithm tries to handle all the languages at once, and so it's quite tricky to modify.

[2020-09-02 20:50] dgryski commented on #1626
Hmm.. doesn't this affect more than just Go then? Or is it Go's short declaration syntax the issue?

[2020-09-02 22:51] chmccreery opened #1630 "Semgrep output not parsable as JSON"
**Describe the bug**
Instead of returning to out a json string and to err an empty string, out is an empty string and err is plain text

**To Reproduce**
https://semgrep.dev/s/rZDn/

Output to err:

`Traceback (most recent call last):
  File "/usr/local/lib/python3.8/site-packages/semgrep/rule_lang.py", line 408, in validate_yaml
    jsonschema.validate(data.unroll(), RuleSchema.get(), cls=Draft7V

[2020-09-02 22:55] chmccreery commented on #1630
<img width="553" alt="Screen Shot 2020-09-02 at 3 55 11 PM" src="https://user-images.githubusercontent.com/25408780/92045175-c2c51680-ed34-11ea-90b0-256b8e8cd0fb.png">

[2020-09-02 22:58] chmccreery commented on #1630
Also see https://github.com/returntocorp/semgrep-app/issues/500

[2020-09-03 07:35] aryx commented on #1626
Yes, I think := got transformed at parsing time into a regular assign, which confuses Naming_ast.ml

[2020-09-03 07:37] aryx commented on #1626
I think because I didn't fully understand at the time the semantic of :=, and whether it was redefining a new var or reassigning an existing var (I still don't fully get the different with regular Go declaration and the
advantage of := over var declarations).

[2020-09-03 08:01] dgryski commented on #1626
A quick summary of the rules (although check the spec for the fine print):

`:=` declares a variable if it doesn't exist in this scope; it is an error to use `:=` with a variable that already exists in the current scope.  However, if you have a multiple assignment (`a, b := 10, 20`), then you're allowed to use `:=` as long as at least one of the variables is being declared.  `:=` is treated like r

[2020-09-03 08:25] SPoint42 commented on #1596
It was not working last week. Don't know why .....

[2020-09-03 08:25] #1596 closed, assigned to mschwager

[2020-09-03 16:18] nbrahms opened #1632 "Match TypeScript Types"
- [x] Add type nodes to pfff JavaScript AST
- [x] Convert pfff js type nodes to pfff generic type nodes
- [x] Generate pfff type nodes from tree-sitter parser
- [x] Handle complex types, not just single identifier types like "int" on tree-sitter-side
- [x] Handle the same on pfff side in ast_js_build.ml

[2020-09-03 21:18] brendongo opened #1636 "Support pip install in alpine"
**Is your feature request related to a problem? Please describe.**
Semgrep manylinux wheel is compatible with alpine but the manylinux spec is actually not alpine compatible
so pip will skip over this wheel and try to build from source.

**Describe the solution you'd like**
Let `pip install semgrep` work on alpine

**Describe alternatives you've considered**
Will probably need to publish an "any"

[2020-09-03 21:25] brendongo commented on #1636
Current internal workaround is to copy the semgrep-core manually and using PRECOMPILED_LOCATION flag in setup.py: https://github.com/returntocorp/semgrep-action/blob/develop/Dockerfile#L15

[2020-09-03 21:30] brendongo commented on #1636
Also as another alternative, downloading the manylinux wheel on pypi: https://files.pythonhosted.org/packages/4d/96/eb6317ae0fcde35cb5e908ca53df43d07de2971e47d8d3ec1e0c1f973f6c/semgrep-0.22.0-cp36.cp37.cp38.py36.py37.py38-none-manylinux1_x86_64.whl, renaming manylinux1_x86_64 to any and pip installing that whl file will also work.

[2020-09-03 22:38] brendongo commented on #1636
An issue we will run into is that any wheel that pip thinks is compatible with alpine it will also think is compatible with Windows. We could print an error message on run that detects if platform is windows and fails fast instead of failing at the call to semgrep-core binary. However this means semgrep on windows no longer fails on install time.

[2020-09-04 00:32] minusworld opened #1639 "Typos on semgrep.dev/learn"
Typos:
- 2d Missing space `patternrequests.get()`
- 4a `inlcude`
- 5c missing space `withString.equals()`
- 6c missing space `normalpattern`

[2020-09-04 00:41] chmccreery commented on #1639
https://github.com/returntocorp/semgrep-app/pull/509

[2020-09-04 00:45] ekse commented on #1639
One more:
- 6c missing space `onlyhttp.ResponseWriter.Write()`

[2020-09-04 03:43] chmccreery commented on #1639
fixed on semgrep-app

[2020-09-04 03:43] #1639 closed, assigned to nobody

[2020-09-04 14:05] aryx commented on #1609
The go example now works (with develop).
Tackling the ruby examples now.

[2020-09-04 18:49] ievans commented on #1550
cc @brendongo @DrewDennison @aryx @sabihb @dlukeomalley for thoughts

[2020-09-04 19:22] ievans opened #1644 "support for capturing the output of ellipsis operators $..."
We've seen a number of applications where matching an arbitrary number of decorators is difficult (cc @clintgibler @minusworld)

Perhaps we could use the ellipsis operator with $ to capture a sequence, eg:

[code]

would match

[code]

and bind metavars:
$A1 = prop1
$A2 = prop2
$B1 = a, $B2 = b, $B3 = c

cc @aryx for implementation thoughts

[2020-09-04 20:32] ievans opened #1645 "Expand support for compile-time constants"
Currently, we support constant propagation under limitations (globals in Python see #349; variables under the `const` keyword for other languages).

However, many of the checks we write involve a need to ensure that an expression evaluates to a compile-time constant. This is key to supporting the sort of secure-by-default work that, for instance, Google leverages heavily with things like detecting

[2020-09-04 20:57] clintgibler commented on #1645
+1 this would be really helpful. Agreed that intraprocedural within 1 file would get most of the value (for now), at least based on how we write rules currently and community rule writing asks.

Per @ievans's first point, doing this for more than just strings would be nice (ints, floats, ...).

**In practice**, what users generally want to know is:

So when @ievans says `$X.innerHTML = "..."`, thi

[2020-09-04 21:28] nbrahms commented on #1478
FWIW, I think this is because semgrep stops exhaustively matching after an AST node has at least one match, so it's just returning the first thing that matches (in this case, description).

This feels a bit more like a feature request to me?

[2020-09-04 21:38] #1619 closed, assigned to nbrahms

[2020-09-04 23:08] nbrahms commented on #1469
@aryx I think this demands a refactor to combine `semgrep_one_pattern` and `semgrep_rules_file` code paths. It looked complex to me, so I removed the `good first issue` label.

[2020-09-04 23:33] nbrahms commented on #1475
Looks to be fixed in 0.21

[2020-09-04 23:33] #1475 closed, assigned to nobody

[2020-09-05 02:30] mjambon opened #1647 "Add tsx support (jsx syntax for typescript)"
This is part of the effort to support typescript in semgrep. Unlike jsx for javascript, tsx is not 100% compatible with typescript. Tree-sitter has a slightly different grammar for it.

Much of this work involves figuring out how to reconcile the code generated by ocaml-tree-sitter separately for ts and tsx. If possible, we'd use a single `CST.ml` file (type for the CST) for both the ts parser and

[2020-09-05 15:37] aryx commented on #1609
Works with develop now.

[2020-09-05 15:37] #1609 closed, assigned to aryx

[2020-09-06 17:13] dgryski commented on #1644
I can see this making the rule and matching syntax a bit clunkier without more powerful constructs.  Maybe it'll make sense to default to python rules in that case, but at the very least you'll want something like awk's `NF` to indicate the end of the list and be able to count backwards.

[2020-09-07 01:40] clintgibler opened #1652 "Streamline parser bug reporting process"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

It might work something like this:
1. `semgrep --bisect-parsing-bug` - automatically slices and dices a file to figure out approximately what's wrong and then rips out enough adjacent context to make i

[2020-09-07 01:40] clintgibler commented on #1550
I like what you've proposed.

This is unclear whether semgrep found bugs or had some internal problems.

[code]

I like this: printing how many rules were ran over how many finds and a quick summary of findings tells you it's working, or at least points out when you're doing something wrong ("huh, I expected to be running 100 rules but only ran 3").

Can we print more context around **why** files

[2020-09-07 14:28] aryx commented on #1550
sgtm too. I like the proposed output.

[2020-09-07 17:50] defreez opened #1654 "Empty Python tuple with metavariable semgrep-core error"
**Describe the bug**
If a Python semgrep match would result in assigning an empty tuple to a metavariable, semgrep-core returns

[code]

**To Reproduce**
https://semgrep.dev/s/defreez:empty-tuple-crash

**Expected behavior**
The string `()` is assigned to the metavariable in the match. Assigning `[]` to the metavariable is the behavior for empty lists.

**Environment**
Pip installed semgrep 0.22.0

[2020-09-09 08:33] dgryski commented on #1652
The slicing and dicing algorithm is https://blog.acolyer.org/2015/11/17/hierarchical-delta-debugging/ on one hand and creduce at the other extreme, although there might be a dumber approach.

[2020-09-09 16:02] mschwager commented on #1594
Closing in favor of #1636. When that is complete a Alpine Dockerfile should be trivial.

[2020-09-09 16:02] #1594 closed, assigned to mschwager

[2020-09-09 19:53] #1606 closed, assigned to colleend

[2020-09-10 15:57] mschwager commented on #1632
I [added a comment here](https://github.com/returntocorp/semgrep/pull/1664#issuecomment-690383254), but perhaps it'd be better served on this issue:

[2020-09-10 17:07] mjambon opened #1666 "Update base docker image used for ocaml projects"
* change [ocaml-layer setup](https://github.com/returntocorp/ocaml-layer) to as to push to r2c's DockerHub account instead of [mjambon](https://hub.docker.com/repository/docker/mjambon/r2c-ocaml)
* set up automatic weekly updates (ocaml-layer already provides a config for this)

[2020-09-10 18:18] dgryski commented on #1483
Is this sufficiently documented / stable that a standalone Go (or whatever) service could be used to serve rules standalone on-prem?

[2020-09-10 18:19] underyx commented on #1483
@dgryski sorry, no, we don't have a stable spec yet!

[2020-09-10 18:19] dgryski commented on #1483
A proxy could also handle the boiler plate for https://github.com/dgryski/semgrep-go/issues/10

[2020-09-10 19:57] #1636 closed, assigned to brendongo

[2020-09-11 02:13] #1666 closed, assigned to mjambon

[2020-09-11 11:12] aryx commented on #1613
Also useful: https://lsif.dev/ which could be used to boost performance!

[2020-09-11 13:15] aryx opened #1670 "Using Javascript patterns on typescript code, using Typescript patterns on javascript files"
We currently have lots of semgrep-rules specifying 'javascript' for the language that could be applied
to typescript code. We may want to have -l js to also apply javascript rules on typescript code.
To restrict really to javascript, we could have a -l jsonly (we have something similar with -l python
working for python2 and python3 and -l python2 and -l python3 for the specifics).

Conversely, lot

[2020-09-11 13:15] aryx commented on #1670
I think @clintgibler @DrewDennison @ievans and @mschwager spoke a little bit about that before in other issues or slack or quip.

[2020-09-11 18:43] colleend commented on #1504
Fixed in #1569 👍

[2020-09-11 18:57] ievans commented on #1504
Thanks @colleend . @denisa if you switch to using the `develop` branch on the live editor, you can see your example working! https://semgrep.dev/s/l0ry?version=develop

I expect this will make it into the next release on Tues/Wed of next week.

[2020-09-11 18:57] #1504 closed, assigned to colleend

[2020-09-13 21:35] IagoAbal commented on #1151
@ievans could you please elaborate what is wrong with Boolean constant propagation and the https://semgrep.live/d8OQ example? Are there any other examples that don't work as expected and that we would like to fix?

[2020-09-14 15:20] mschwager opened #1673 "Add official Python 3.9 support"
Python 3.9 will officially be released 2020-10-05: https://devguide.python.org/#status-of-python-branches

Let's double check that Semgrep works correctly with Python 3.9 then add official support. "Support" on our end includes 4 things:

- Run `tox` tests against 3.9: https://github.com/returntocorp/semgrep/blob/develop/semgrep/tox.ini
- Include 3.9 in our package naming: https://github.com/retur

[2020-09-14 20:58] rezen commented on #1143
A good place for vulns to test against https://github.com/digininja/DVWA/tree/master/vulnerabilities

- SQLi https://github.com/digininja/DVWA/blob/master/vulnerabilities/sqli/source/low.php#L8
- Exec - https://github.com/digininja/DVWA/blob/master/vulnerabilities/exec/source/low.php#L10
- File Inclusion - https://github.com/digininja/DVWA/blob/master/vulnerabilities/fi/index.php#L36
  - I'm not s

[2020-09-14 21:48] nbrahms opened #1674 "Add useful troubleshooting documentation"
**Is your feature request related to a problem? Please describe.**
It can be difficult to understand how to trouble-shoot parse errors when they arise in Semgrep. Let's provide step-by-step instructions on how to troubleshoot issues.

Here are some items we should include:

- List utilities that can be found to validate files (e.g. `node --check some.js`)
- Add hint to verify Semgrep version is la

[2020-09-14 21:52] nbrahms opened #1675 "Include failed rule in pattern-parse error messages"
**Is your feature request related to a problem? Please describe.**
It would be much easier to fix a failing rule if we knew which rule was failing.

**Describe the solution you'd like**
Print which rule caused a pattern-parse error.

[2020-09-14 23:01] DrewDennison commented on #1483
@dgryski this is solved. Please let me know if the header fails for you

[2020-09-14 23:01] #1483 closed, assigned to nobody

[2020-09-15 06:48] aryx commented on #1143
@clintgibler who keeps tracks of vulnerable-on-purpose repos

[2020-09-15 07:24] rezen commented on #1143
@aryx do you mean https://owasp.org/www-project-vulnerable-web-applications-directory/? @kingthorin

[2020-09-15 15:51] aryx commented on #1645
@IagoAbal is this something you would be interested in to do?

[2020-09-15 15:54] aryx commented on #1630
Also, can we actually see the error in the editor? Right now it just says "unspecified error", but
I have no idea how to know what the error is. Can we add a flag in Tools to be more verbose about errors?

[2020-09-15 15:57] aryx commented on #1519
So @mjambon we now need to update ocaml-tree-sitter-lang with the latest javascript grammar and hope we don't have too many modifications to do?

[2020-09-15 16:00] aryx commented on #1592
Can someone document what this is is about?

[2020-09-15 16:01] aryx commented on #1582
We may need to update to the latest tree-sitter-ruby which got a few updates recently.

[2020-09-15 16:02] aryx commented on #1550
Who can do the work? @brendongo @mschwager who is familiar with this part of the codebase?

[2020-09-15 16:03] aryx commented on #1474
@nbrahms bump

[2020-09-15 16:06] aryx commented on #1208
This might be an easy way to start learning the python part of semgrep.
@brendongo or @mschwager can probably help if you need.

[2020-09-15 16:08] mschwager commented on #1592
@aryx https://github.com/returntocorp/semgrep/pull/1665 provides some good context here.

Basically, TL;DR is @ajinabraham, and likely other users, would like to be able to programmatically analyze our `--test` output. To achieve this we're making the `--test` flag respect the `--json` output option.

[2020-09-15 21:45] mjambon commented on #1519
The first task is to check that it works with typescript. Yesterday I saw failed tests in tree-sitter-typescript. Not sure if Max fixed them  on the javascript side or if it the typescript grammar extension has to be updated to reflect new rules in javascript. Also I'm working on semgrep for tsx support at the moment, let's try to minimize conflicts.

[2020-09-16 00:29] #1592 closed, assigned to mschwager

[2020-09-16 20:15] IagoAbal commented on #1151
@DrewDennison @aryx I'm not sure I understand what's wrong with Isaac's example even after reading up on SafeSQL. I get the idea although SafeSQL would report statements that do *not* use constant arguments, do we have a way to express the same thing in Semgrep?

Anyways, back to the example from Isaac, this is the pattern:
[code]
And the latest Semgrep does flag this line exactly as one would exp

[2020-09-17 09:46] aryx commented on #1143
Should work now. You can start writing PHP rules.
The live editor should list soon PHP as one of the language options.

[2020-09-17 09:46] #1143 closed, assigned to nobody

[2020-09-17 21:14] mgaudet opened #1688 "[Javascript] Parse Failure on empty yield"
**Describe the bug**

[code]

Where that file is [this](https://searchfox.org/mozilla-central/source/js/src/jit-test/tests/jaeger/bug588362-2.js)

[code]

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

https://semgrep.dev/s/B2qv

**Expected behavior**
File is legal JS, should parse.

**Screenshots**
If applicable, add screenshots to help explain your prob

[2020-09-17 21:20] mgaudet opened #1689 "JS Parse Failures while Trying to parse SpiderMonkey jit-test suite"
**Describe the bug**

There are a variety of JS parse failures (of which #1688 is one) when parsing the spidermonkey jit-test suite.

**To Reproduce**

Acquire the [jit-test directory](https://searchfox.org/mozilla-central/source/js/src/jit-test/tests) from [mozilla-central](https://firefox-source-docs.mozilla.org/contributing/contribution_quickref.html?highlight=clone#clone-the-sources); then run

[2020-09-17 21:42] aryx commented on #1644
Right now we have $X to match a full single element (an expression, a statement), and '...' to match a sequence of elements (arguments, parameters, statements). In some languages you can even use ...$X to match a rest parameter. It might make sense then to also provide $X... (the opposite of ...$X) to match a sequence of elements and store the result in a "Sequence metavariable" $X.

[2020-09-17 21:43] aryx commented on #1644
We could also use ...$X, but this would prevent us to match specifically rest parameter, so maybe $X... is safer.

[2020-09-17 21:43] aryx commented on #1644
to avoid conflicts with existing constructs.

[2020-09-17 21:50] mgaudet opened #1691 "Matching arrow functions regardless of storage scope"
**Describe the bug**

I would expect that `(...) => { ... }` would match the following lines

[code]

However, this doesn't appear to work right now. Yet, if you drop the `var`, it -does- seem to work.

*edit*: Oh wild: I added a `let` binding at the bottom, and the sense of what works flipped: Now the `var`s work, but the `var`less don't. https://semgrep.dev/s/q6WR/

**To Reproduce**
https://semg

[2020-09-17 22:53] minusworld opened #1692 "Ruby Empty NoTokenLocation for "".html_safe.tap do |str|"
**Describe the bug**
Ruby parse failure on the following code:

[code]

This appears to be valid ruby. In irb:
[code]

**To Reproduce**
Failure case: https://semgrep.dev/s/l0GB/?version=develop
Pattern works fine without the above code: https://semgrep.dev/s/YKJD/?version=develop

[2020-09-18 16:09] aryx opened #1694 "[C] no deep expression operator"
see https://semgrep.dev/s/boKP/

[2020-09-19 05:26] aryx opened #1697 "[Javascript] Match on decorators"
We support attributes in Java, OCaml, Python, etc.. Javascript now has "decorators" which are similar.

[2020-09-19 14:52] aryx commented on #1151
@ievans was on vacation this week. Hopefully he can spec out a bit more what he wants next week.

[2020-09-19 21:40] dkasak commented on #1425
I'm getting

[code]

with the example rule from this issue, or really with any example I've been able to think of.

This is on semgrep v0.24.0.

[2020-09-20 14:19] dkasak opened #1699 "pattern-inside metavariables are not bound in the message"
**Describe the bug**
Metavariables used in a `pattern-inside` are not available in the `message` and are left unexpanded.

**To Reproduce**
https://semgrep.dev/s/gpoK/

**Expected behavior**
`$CLASS` in the above example should be expanded to `Foo`.

Is this a known limitation?

[2020-09-20 16:50] IagoAbal commented on #1645
This sounds interesting, I'm taking it!

[2020-09-20 20:11] msorens opened #1700 "Documentation in learn/6 wrong on ellipsis and keyword argument mix"
**Describe the bug**

This problem is either in your tutorial (https://semgrep.dev/learn/6) or in the core code itself.

Section "2d. The ellipsis operator: before and after" states:
[code]
But when I use `requests.get(timeout=30, ...)` it matches all 3 cases:
[code]

**To Reproduce**
Visit the above URL and try the example.

**Expected behavior**
Only the middle line should match.

**Screenshots*

[2020-09-20 20:58] msorens opened #1701 "Rules appearing multiple times on "All Rules" web page"
**Describe the bug**
Isolating the rule picker to "none" for language (https://semgrep.dev/r?lang=none&sev=ERROR,WARNING,INFO&tag=dgryski.semgrep-go,security,java-spring,java-stdlib,js-node,nodejsscan,owasp,dlint,correctness,best-practice,maintainability,performance,compatibility)
shows many duplicates. The image shows just a few examples, but there are more.

**To Reproduce**
Visit the above URL

[2020-09-20 21:05] msorens opened #1702 "Looks like "js" category has snuck in accidentally on rule picker page"
**Describe the bug**
I was wondering why there are both `javascript` and `js` categories. Checking them individually, there are many rules for `javascript` but just a single rule for `js`, leading me to believe it was meant to be included in the former.

**To Reproduce**
Visit the rule picker page. https://semgrep.dev/r?lang=js&sev=ERROR,WARNING,INFO&tag=dgryski.semgrep-go,security,java-spring,jav

[2020-09-20 22:17] msorens opened #1703 "Category selections confusing until the "aha" moment"
**Is your feature request related to a problem? Please describe.**

The categories on the rule picker page are divided into two camps: language-specific (e.g. dgryski.semgrep-go, js-node, java-spring, etc.) and language-agnostic (owasp, best-practice, correctness, and so forth). The problem is that whatever language you have selected, all categories are enabled, which makes for a confusing UX.

If

[2020-09-20 22:52] msorens opened #1704 "Select rules and get config URL on Semgrep.dev"
**Describe the bug**
I have looked throughout your website but have been unsuccessful in figuring out how to apply a set of selected community rules. Starting here, I see how to use a specific named set, like `r2c` or `gosec`.

<img width="449" alt="image" src="https://user-images.githubusercontent.com/6817500/93723980-14083f00-fb58-11ea-8748-cad77ec1dd51.png">

Clicking the header there takes me

[2020-09-21 03:52] msorens opened #1705 "Typescript not recognized"
**Describe the bug**
Only `ts` is working for typescript. Neither `tsx` nor `typescript` are recognized, as they are supposed to be.

[code]

Reason--there is a missing comma:
https://github.com/returntocorp/semgrep/blob/d3fe469c7edc44f179cf7754836ed5f34d073614/semgrep/semgrep/target_manager.py#L61

Change this:
[code]
To this:
[code]

[2020-09-21 09:28] aryx commented on #1016
This now works in typescript mode: https://semgrep.dev/s/4BX7/?version=develop

[2020-09-21 09:28] #1016 closed, assigned to nobody

[2020-09-21 09:29] aryx commented on #1015
This now works in typescript mode: https://semgrep.dev/s/P9v0/

[2020-09-21 09:29] #1015 closed, assigned to nobody

[2020-09-21 09:31] aryx commented on #1014
This now works in typescript mode: https://semgrep.dev/s/GRvG/

[2020-09-21 09:31] #1014 closed, assigned to nobody

[2020-09-21 09:32] aryx commented on #1012
This now works in typescript mode: https://semgrep.dev/s/RrvY/

[2020-09-21 09:32] #1012 closed, assigned to nobody

[2020-09-21 09:37] aryx commented on #1705
Ahah, semgrep can find this bug now!
+ /home/pad/semgrep/_build/default/bin/Main.exe -lang python -e {..., "..." "...", ...} semgrep/
semgrep/semgrep/target_manager.py:61
     elif language in {"ts", "tsx" "typescript"}:
semgrep/semgrep/target_manager.py:61
     elif language in {"ts", "tsx" "typescript"}:

[2020-09-21 09:38] aryx commented on #1705
@mschwager @minusworld a new python rule to put in semgrep-rules/ ?
{..., "..." "....", ...} is probably a bug with a missing comma typo.

[2020-09-21 09:42] aryx commented on #1705
I'll add it in the local semgrep.yml

[2020-09-21 10:08] #1694 closed, assigned to nobody

[2020-09-21 10:54] aryx commented on #1705
Should work now.

[2020-09-21 10:54] #1705 closed, assigned to aryx

[2020-09-21 10:59] aryx commented on #1700
Well, the issue here is that the pattern mix '...' and keyword argument, and keyword argument can be matched in any order. If you do foo(1, ...), then indeed this will match only if 1 is the first argument, but foo(kwd=1,...) will match also when the keyword argument is later.

[2020-09-21 11:35] aryx opened #1709 "Null AST but no parsing error returned on typescript code in editor"
In
https://semgrep.dev/s/AjqQ/?version=develop
where Javascript is selected, semgrep does not report any match, but it does not report
any parsing failure either. Selecting Typescript in the menu instead reports correctly the match.
If you select back Javascript and look at the dumped AST (in Help menu), there is a Null AST for
the program.
Why?
semgrep-core correctly parse the file and return a f

[2020-09-21 11:48] aryx commented on #1709
@chmccreery might also know what's going on. Where is the language selected in the dropped-out menu used,
and how it relates to the languages field in the yaml. What has priority?

[2020-09-21 11:49] aryx commented on #1670
Note that right now, if you use -lang js and apply it on a .ts file, semgrep-core does not do anything.
yy -lang js -e '$X == $X' tests/ts/misc_ast.ts -debug -profile
because Lang.langs_of_filename will not put Javascript in the list of lang for mist_ast.ts and semgrep-core will just skip it.

[2020-09-21 12:14] aryx commented on #1691
It's because var foo = (a) => { stuff }
was considered like an alternative way to define a function, so this is really transformed internally
in function foo(a) { stuff }, which is then not considered an anonymous function (a lambda).
I probably did that because people use the short arrow syntax to define toplevel functions, but I should probably restrict the internal transformation only when peop

[2020-09-21 13:02] aryx commented on #1689
Yes, those test suites expose all the edge cases in Javascript but I don't think we'll have the time to fix
all of those. We currently focus our energy on real code. Note that we now use tree-sitter-javascript
to parse javascript code, so feel free to report parsing bugs to them.

[2020-09-21 13:02] #1689 closed, assigned to nobody

[2020-09-21 13:30] #1691 closed, assigned to nobody

[2020-09-21 15:12] msorens commented on #1700
Thanks! I thought I had seen that keywords could be in any order, as you say, but I am learning so I assumed the tutorial was also telling the truth. 😁 Thanks for clarifying!

[2020-09-21 15:26] aryx commented on #1425
@IagoAbal here is the task I mentioned during the standup. It's just lots of little things to fix
in pfff/lang_generic/analyze/CFG_build.ml (look at the raise Todo),  and AST_to_IL.ml
(see the calls to todo()).

Let me know if you need more help. The main thing to understand is IL.ml, the linearized/normalized version of AST_generic.ml that is more convenient to work on from a static analysis pers

[2020-09-21 15:29] #1688 closed, assigned to nobody

[2020-09-21 15:32] aryx commented on #1645
Here is another related example from a user:
https://semgrep.dev/s/3enD/
One thing we can fix, is to use eval_expr also in the VarDef case in Constant_propagation.ml, so if you do string yo = "foo" + "bar"; we resolve it.

[2020-09-21 15:34] aryx commented on #1645
But really what we need is a more general notion of "literalness", or "compile-time-constantness". People don't care about the value of the string literal; they use "..." in their pattern; they just want to make sure this is not a computed value (that could come from the user).
I think we can use the taint analysis infrastructure in lang_generic/analysis/Dataflow_tainting.ml to propagate this "com

[2020-09-21 15:58] chmccreery commented on #1709
Hmm yeah, we need to figure out a better way to handle language conflicts. Right now, we don't really have any guardrails against the user specifying one language in the drop-down and another in their yaml. @aryx what would you expect to happen here? Some ideas:
1) We warn user about the inconsistency and do not even allow code to run until they match (what I am leaning toward)
2) We choose one of

[2020-09-21 19:10] IagoAbal commented on #1425
OK I'll take a look (this may take some time).

[2020-09-21 21:03] IagoAbal commented on #1645
I'm thinking that we could infer "constant-ness" in a flow-insensitive manner like we must be doing already for typing information.

We could have:
[code]
Here `Cst` would mean "some constant", something that we could infer in cases like `var term = random() > 0.5 ? 'baz' : 'baz2';`. Then a pattern like `"..."` could match an expression of type `string` with constant-ness `Cst` or `Lit (String ...

[2020-09-21 22:16] dlukeomalley commented on #1702
Thanks for filing @msorens and for the detailed tickets (all of them 🙏 ). Queuing this up.

[2020-09-21 22:42] dlukeomalley commented on #1054
Adding a configuration file that allows for specifying registry rules and rulesets by name could help address some of https://github.com/returntocorp/semgrep/issues/1704

[2020-09-21 22:56] dlukeomalley commented on #1704
@msorens Thanks for the detailed issue! Right now there is not a generally available way to select multiple rules from the registry to run locally. We're working on this now, it's a clear deficiency.

A few ideas come to mind, curious your thoughts:

1. Add support for a Semgrep config file that works similar to npm's `package.json`, specifying named rules and rulesets to download from the registr

[2020-09-21 23:22] msorens commented on #1704
Thanks, @dlukeomalley ! From my limited (but growing) knowledge, any of 1, 2, or 3 sound quite reasonable when running semgrep locally. Probably slight preference to 1 or 3 since those would always have the "latest" version of the rule available.

Note that I have not yet looked at using semgrep in CI--which is my ultimate goal--so if any of those three would work better in CI, that would be my pr

[2020-09-21 23:26] msorens commented on #1704
Regarding the `semgrep --help`, that is my mea culpa. I just looked again, and I see that, yes, in the itemized list it shows `-f CONFIG, --config CONFIG`. I simply did not see that yesterday. But there is a lot of text there. So I am good with leaving that as is. (In the usage line, you are already being consistent by using the short-hand for other flags, so that one should stay `-f`.)

[2020-09-21 23:41] msorens opened #1713 "[typescript] Probable bug in parsing"
**Describe the bug**

Running semgrep on my large-ish code base yielded these remarkably few probable parsing problems--nice job, folks!

These files compile cleanly and are currently running in production so, as far as I know, they should be parsable.
[code]

**To Reproduce**

My codebase is open source so you can go right to, well, the source: https://github.com/chef/automate/tree/master/compone

[2020-09-21 23:48] ben-elttam opened #1714 "Clean Way to Download Rule Packs"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to download rule packs, like `DanHatesNumbers.ruby-rules` and `r2c-security-audit`.
I'd like to be able to compare rule-packs, to see which ones are simply subsets, supersets, and unique rules between them, or rules that have been modified. e.g. I want to be able to compare rule packs.

If I download the YAML,

[2020-09-22 07:00] aryx commented on #1645
Sounds good, yes we should define this new const_info type. We don't really compute typing information right now. We really just propagate types from their declaration in languages with type annotations (Java, Go) to their uses, and do very limited type inference on Go, but there's no typing analysis really right now.

[2020-09-22 10:14] aryx opened #1715 "[PHP] no support for ... between statements"
See https://twitter.com/dandr3ss/status/1308273733740589056

[2020-09-22 12:11] #1715 closed, assigned to aryx

[2020-09-22 15:23] underyx opened #1717 "When where-python patterns are skipped due to security concerns, we should list which rules were skipped"
**Is your feature request related to a problem? Please describe.**

There's an error message that mentions when there's been some rules that were skipped because `--dangerously-allow-arbitrary-code-execution-from-rules` wasn't passed. But this error message only says that "some rules were skipped"

**Describe the solution you'd like**

The error should list the rule IDs and count of rules that wer

[2020-09-22 16:52] mjambon commented on #1713
Thanks for the report, @msorens. I'll look into this.

[2020-09-22 18:40] aryx commented on #1715
works now: https://semgrep.dev/s/NxRn/?version=develop

[2020-09-22 19:49] tkisason commented on #1717
Thanks! Also, what i think is more concerning, is if such a rule is "hit", rules that could be executed, but come after this rule are skipped. For example:

[code]

[2020-09-22 21:58] colleend opened #1719 "Go Object Matching"
**Describe the bug**
Go object matching with ellipsis on either side is not matching as expected.

**To Reproduce**
https://semgrep.dev/s/ere0/

**Expected behavior**
Would expect the pattern to match on the http.Request object.

[2020-09-23 03:38] msorens opened #1721 "Autofix inadvertently changing code outside the match"
**Describe the bug**
Autofix properly updated the matched pattern with the replacement text--but it also changed the code outside the match and it should not have. I first found this by running semgrep on the command line with a YAML file; then reproduced precisely the same behavior at semgrep.dev.

**To Reproduce**
In the playground (https://semgrep.dev/s/7g4k/), run the sample and apply the auto

[2020-09-23 06:50] aryx commented on #1719
I can't load your snippet. I get "Error loading snippet 'ere0': o.replaceAll is not a function"
@chmccreery might know why.

[2020-09-23 07:07] aryx commented on #1709
Yes option 1 sounds good to me. Note that a rule can have multiple languages, so just make sure the selected lang is at least part of the list of languages specified in the rule.

But independently of that, why there's a null AST? Where the language specified in the menu is used? I thought it was just a way for the monaco editor to switch to the right mode. Is it passed to the semgrep CLI program?

[2020-09-23 07:25] aryx commented on #1647
We can close that no? Seems done to me.

[2020-09-23 10:24] #1697 closed, assigned to nobody

[2020-09-23 13:34] clintgibler opened #1723 "JavaScript metavariable matching objects seems to swallow commas/colons in resulting match text"
**Describe the bug**
When matching the arguments to a function call in JavaScript, certain characters, specifically colons and commas, appear to not be included in the metavariable match.

The pattern `func($ARG)` when run on

[code]

Returns: `{"arg1""bar""arg2""bar"}`.

**To Reproduce**
https://semgrep.dev/s/clintgibler:javascript-matching-object-args-swallows-punctuation

**Expected behavior**

[2020-09-23 15:05] chmccreery commented on #1719
Strange- I think I know what line of code may have caused the error you just mentioned, @aryx, but I am not able to reproduce it (the snippet loads just fine for me?)

[2020-09-23 15:12] chmccreery commented on #1709
Cool, I will go for option 1.

It is passed to semgrep-core because users don't have to specify language in their pattern, so we ask semgrep to parse the pattern and target code in whatever language is in the drop-down. The hope was that users would use the language drop-down **instead** of specifying language in the yaml when using the editor, because it wouldn't make sense for users to write a p

[2020-09-23 15:26] aryx commented on #1723
yep, always been like that. Commas are not stored in the AST

the generic AST is half a CST; it's a bit messy, but we keep tokens when the range would be incorrect without them (hence we keep (), {} around expression or statements, but we don't care about commas)

[2020-09-23 16:26] mschwager opened #1724 "RFC: Add primitive for mathematical comparisons of metavariable"
In an attempt to further reduce our reliance on `pattern-where-python`, I'd like to propose adding a new primitive for performing basic mathematical comparisons on metavariables. First let's look at how `pattern-where-python` is used in [`semgrep-rules`](https://github.com/returntocorp/semgrep-rules):

<details>
  <summary>Semgrep rules examples</summary>

[code]
</details>

We can see most of the

[2020-09-23 16:34] colleend commented on #1719
Oh interesting, whenever I try to load the snippet again, I'm also getting the same error @aryx was getting...I'll try to make another semgrep.live link then.

[2020-09-23 17:01] chmccreery commented on #1719
@colleend do you want to screenshare with me and debug together? I think I know the problem roughly, but since I can't reproduce it locally, it would help to be on the call with you.

[2020-09-23 17:10] brendongo commented on #1724
Something to think about but might be out of scope: comparing two metavariables to enforce something like $X < $Y

[2020-09-23 17:52] colleend commented on #1719
Talked to @chmccreery , it was actually the version of JS our web browsers are running that resulted in that error.

[2020-09-23 17:57] chmccreery commented on #1719
We are changing the code so that any web browser can load snippets. Sorry about that, and thanks for filing the issue, @aryx! Fixed in: https://github.com/returntocorp/semgrep-app/pull/685

[2020-09-23 18:18] #1700 closed, assigned to minusworld

[2020-09-23 18:30] mschwager commented on #1724
After thinking about this a bit more, since we're using such a restricted input set we could use simple string parsing to identify the operation. E.g. a regex like `(<|<=|>|>=|==|!=) ?-?\d+` should be sufficient. Then find the correct `operator`, convert the number strings to integers, and perform the comparison. No need for more complicated implementations like AST evaluation.

[2020-09-23 18:57] aryx commented on #1724
Why not use pattern-where-python: and statically analyze when the python code is safe to execute.
You can parse the string (there's a builtin Python parser in Python), and when the AST is a simple expression, just evaluate it.
Otherwise each time we will need to add yet another metavariable-xxx: special name.

[2020-09-23 19:00] ievans commented on #1724
+1 to what @aryx said, though my suggestion would be to write a minimal valid python-subset intepreter that doesn't have enough power to exec arbitrary code but can perform all the ops we care about, rather than encoding it as part of the YAML syntax. Or just use one someone else already wrote. E.g. https://deno.land/

[2020-09-23 19:40] clintgibler commented on #1723
More context from @aryx:

[2020-09-23 20:26] mjambon commented on #1647
:+1:

[2020-09-23 20:26] #1647 closed, assigned to mjambon

[2020-09-23 20:39] ievans commented on #1151
I'm back, thanks for chiming in @aryx. I actually think we should close this in favor of https://github.com/returntocorp/semgrep/issues/1645. But yes @IagoAbal this issue was specifically about the fact that only `str` types propagate, and not others like booleans for example.

[2020-09-23 20:39] #1151 closed, assigned to IagoAbal

[2020-09-23 20:55] clintgibler commented on #1724
Thanks for the great write-up @mschwager! 🙏

I do like the idea of limiting use of `pattern-where-python` by providing safer primitives, but I also see @aryx and @ievans's trade-offs about not bloating the pattern language.

Only evaluating simple expressions seems "safe," (assuming we do it right), but I'm a little concerned about our ability to correctly enforce the safety properties we intend g

[2020-09-23 21:22] mschwager commented on #1724
How do we know when it's safe to execute? What about `"__import__('os').remove('important file')"` and `"(1).__class__.__bases__[0].__subclasses__()"`? These are just the easy ones. What about `'f"{().__class__.__base__}"'` or `"f\"{eval('()' + chr(46) + '__class__')}\""`? That's [just a string](https://stackoverflow.com/a/35806044) to the interpreter. What about [this monstrosity](https://benkurt

[2020-09-24 06:14] aryx commented on #1724
I didnt say to run eval. I said that we could parse the string with the python parser, you get an AST and then you write a simple interpreter allowing only simple constructs (literals, variables, arith operator). What about the monstrosity you mentioned? Easy, they are complex AST constructs not allowed by our interpreter.

[2020-09-25 01:29] msorens commented on #1489
As a new--but enthusiastic--semgrep user, I am in favor of this approach as well. I think it will simplify the mental calisthenics to derive a pattern, and reduce the learning curve a bit. A few random thoughts:

1. I definitely agree you need to support both for an interval to give folks time to migrate, and solidify on the new approach by 1.0 (or sooner; a few months overlap is probably sufficie

[2020-09-25 02:03] dlukeomalley commented on #1701
@msorens This is a confusing UI on our end. Upon expanding the rules by clicking the `...` they are actually different. We're going to update the UI to make this clearer and we've have marked this `blocked` until we discuss it further and have some mocks to test. Up for looking at some mocks when they're ready?

[2020-09-25 16:54] #1702 closed, assigned to dlukeomalley, colleend

[2020-09-25 23:50] msorens commented on #1701
Sure thing; thanks!

[2020-09-26 20:32] ievans commented on #1562
@disconnect3d can you share more about your reasoning for this? I'm trying to decide whether to put it in the default output or behind a flag like `--verbose`

[2020-09-26 21:02] ievans commented on #383
#1-3 are done or tracked in https://github.com/returntocorp/semgrep/pull/1732
#4 is superseded by https://github.com/returntocorp/semgrep/issues/1652

[2020-09-26 21:02] #383 closed

[2020-09-26 21:03] ievans commented on #384
I think these are fixed in https://github.com/returntocorp/semgrep/pull/1732. @nbrahms feel free to re-open

[2020-09-26 21:04] ievans commented on #864
Closing as the /scan page has been deprecated for a while now

[2020-09-26 21:04] #864 closed, assigned to nobody

[2020-09-26 21:09] ievans commented on #488
@clintgibler if you added test cases for these in semgrep core, they would automatically propagate to our cheatsheets which would be a nice way to accomplish this!

[2020-09-28 13:17] aryx commented on #1613
Right now it is pretty slow, like 10min on the pfff codebase to get the type info of all identifiers in expressions (a little bit more to get this for entities and for parameters). Note though that lsif-ocaml-dump takes 60min on pfff. Note also that
this is the patological case where we ask for type to all identifiers; there are lots of possible optimisations to request
type only when the rest of

[2020-09-28 15:27] #1613 closed, assigned to aryx

[2020-09-28 15:46] dvyakimov opened #1736 "Regular expression in Golang example does not work"
Regular express for Golang example does not work.

https://semgrep.dev/s/5WnW

[2020-09-28 16:38] disconnect3d commented on #1724
Hey,

I think I have a possible answer for you regarding safe execution of Python expressions, though I haven't read the whole topic, so please forgive me if my reply is not applicable.

Assuming that we only want "simple expressions" and not e.g. allowing of using functions, we can compile the input expression via Python's `compile` function, parse the resulting code object into AST and walk thro

[2020-09-28 16:50] disconnect3d commented on #1562
@ievans Sure! I sometimes develop/adjust rules on big codebases and I want to be certain that a given change to reduce false positives did not exclude any true positives. Same for the opposite: if I change a rule to be more general, I want to know right away if I hit more results.

[2020-09-28 17:31] ievans commented on #1562
@disconnect3d for that, is it sufficient to just report # of findings, or is the INFO/WARN/ERROR count meaningful to you?

[2020-09-28 17:34] disconnect3d commented on #1562
The `# of findings` would be sufficient for my needs, though I bet the `INFO/WARN/ERROR` would be (more) interesting for running Semgrep on CI/CD in order to e.g. fail on errors but also display info/warn findings?

[2020-09-28 17:59] minusworld commented on #1388
Merged in https://github.com/returntocorp/semgrep/pull/1720. Released in Semgrep 0.25.0.

[2020-09-28 17:59] #1388 closed, assigned to minusworld

[2020-09-29 06:35] #1654 closed, assigned to nbrahms

[2020-09-29 12:38] dvyakimov opened #1740 "[Golang] Can't find option in var to prevent CORS vuln"
Semgrep can't find option in var to prevent CORS vuln in Golang
https://semgrep.dev/s/WeKZ/

[2020-09-29 15:34] dvyakimov opened #1742 "Java pattern error for String value"
- id: sfs.java.cors.getOrigin-in
  patterns:
    - pattern-either:
      - pattern: |
          String $VAL = $REQUEST.getHeaders().getOrigin()
          ...
          $RES.addHeader("=~/access-control-allow-origin/i", $VAL);
  message: |
    Permissive CORS policy will allow a malicious application to communicate with the victim application in an inappropriate way, leading to spoofing, data theft

[2020-09-29 16:32] msorens opened #1743 "Docker image for CI not behaving as expected"
**Describe the bug**
I am trying to hook up semgrep to our Buildkite CI system, in particular running semgrep in the [docker buildkite plugin](https://github.com/buildkite-plugins/docker-buildkite-plugin).

But the particulars of the CI system are **not** the issue: after having problems trying to hook it up there, we then tried just using your docker container directly and still found the same is

[2020-09-29 16:59] underyx commented on #1743
Heya! I responded on Slack, but I'll just post the answer here as well for you:

[2020-09-29 17:02] brendongo commented on #1742
Looks like you are missing a semicolon after getOrigin: https://semgrep.dev/s/Kd2Y/

[2020-09-29 17:02] #1742 closed, assigned to brendongo

[2020-09-29 17:12] #1743 closed, assigned to underyx

[2020-09-29 17:13] underyx commented on #1743
Issue resolved as per Slack 🙃

[2020-09-29 18:31] brendongo commented on #1736
Hey @dvyakimov looks like you're trying to access a property after parsing the url. The regex syntax you used is for matching string literals. Does using a metavariable to take the place of the property satisfy your use case? https://semgrep.dev/s/q6zb/

[2020-09-29 20:51] brendongo commented on #1740
@dvyakimov thanks for filling. This looks like it might be a bug on our end.

[2020-09-30 00:15] mjambon opened #1746 "semgrep-core -target_file doesn't allow trailing newline."
The argument of the `-target_file` option of `semgrep-core` contains a list of files.
[code]
The `target` file contains just one file path ended with a newline. The error message shows that semgrep-core tries to read the file named `""`.

[2020-09-30 07:18] #1736 closed, assigned to brendongo

[2020-09-30 07:20] dvyakimov opened #1747 "Findings work without imports"
There is no findings
https://semgrep.dev/s/6W3Y/

But if i delete impots, it works
Why?
https://semgrep.dev/s/ol6d/

[2020-09-30 07:35] brendongo commented on #1747
Function calls in Semgrep patterns need to be fully specified: https://semgrep.dev/s/pGoJ/
Looks like our documentation did not include this info. Sorry for the confusion. Added a ticket to update our docs.

[2020-09-30 07:39] brendongo opened #1748 "Document need for function calls in patterns to be fully specified"
It is not clear in https://github.com/returntocorp/semgrep/blob/develop/docs/pattern-features.md#function-calls that function calls have to be fully specified. Relevant: https://github.com/returntocorp/semgrep/issues/1747

[2020-09-30 08:06] dvyakimov opened #1749 "Repeats in results (python)"
3 results of $PATH in message (repeat)
https://semgrep.dev/s/X2qw/

[2020-09-30 08:09] #1747 closed, assigned to brendongo

[2020-09-30 09:37] aryx commented on #1746
Why this problem suddenly occured? Did something changed in the way the semgrep-python wrapper calls semgrep-core? It used to work fine.

[2020-09-30 09:37] aryx commented on #1746
Does a user have the issue?

[2020-09-30 10:22] dekadentno opened #1751 "Vue.js support"
**Is your feature request related to a problem? Please describe.**
It is not possible to write rules for `.vue` files.

**Describe the solution you'd like**
Ability to write rules for `.vue` files. Vue.js has its own file extension for writing components and because of that I assume it has to be treated as a separate language.

**Describe alternatives you've considered**
I'll try to make a maneuve

[2020-09-30 12:47] #1746 closed, assigned to aryx, mjambon, colleend

[2020-09-30 13:12] aryx commented on #1751
Is there somewhere some documentation of the syntax of those .vue files? Do they contain just javascript code?

[2020-09-30 13:22] dekadentno commented on #1751
Most Vue.js apps are written as [Single File Components (SFCs)](https://vuejs.org/v2/guide/single-file-components.html). SFCs can have a `template` tag for the html, `script` tag for the javascript and the `style` tag for the css, as it can be seen on the image below:
![vue sfc](https://vuejs.org/images/vue-component.png)
In rarer cases, Vue components can be written in `.js` files, where the html

[2020-09-30 13:40] aryx commented on #1751
And what kind of check you want to do on those .vue files? Do you just want (1) the ability for semgrep Javascript pattern
to apply on the <script>...</script> content or you also want the pattern to (2) match what is inside the template between
the {{ }}? Or do you want also the ability to (3) look for html pattern in the template?

(1) should be pretty easy, (2) is more difficult, (3) even more

[2020-09-30 13:55] dekadentno commented on #1751
Most [security concerns](https://vuejs.org/v2/guide/security.html) regarding Vue.js are injection related and occurable in the `template` part of the SFC. So I'm afraid that the answer is (3).
But still, it's not impossible that, in the future, some security concerns will be possible in the `script` part of the SCF as well :worried:
Also, an another important question is regarding the existing jav

[2020-09-30 14:46] aryx commented on #1751
Well if we implement (1) (and (2)) then yes all the existing javascript rules could be applied to the javascript-part of the .vue
(what is inside <script>...</script> and between {{ ... }} in the template part).

[2020-09-30 14:48] disconnect3d commented on #1227
Is this issue still valid? Go return types seems to work, although, there is a bug with them: https://semgrep.dev/s/disconnect3d:go-func-return-types-bug (shall we create another GitHub issue for it?)

I bet that `$RETTYPES` should match only functions with a single return type, similarly to what `($SOMEARG $SOMETYPE)` does.

[2020-09-30 14:56] aryx opened #1753 "[Typescript] Support matching on implements"
https://semgrep.dev/s/9RPe

[2020-09-30 15:30] msorens opened #1754 "Performance issue with one rule on one file"
**Describe the bug**
In a small-ish code base this took about 4 **minutes**:
[code]

But by removing a single file, the same run took only 8 **seconds** total:
[code]

Running semgrep with a `-v` allowed me to find the single specific rule that was causing the performance issue:
[code]
Interesting points:

1. The problematic file is a generated file, not hand-written. It is about 1M in size, so mu

[2020-09-30 16:41] aryx commented on #1754
I think I've fixed that today: https://github.com/returntocorp/semgrep/pull/1750
If you use the very latest, you should get a parse error after 5s instead of trying forever to parse the file.

[2020-09-30 16:43] aryx commented on #1754
hmm, actually it's another problem.

[2020-09-30 16:45] aryx commented on #1754
BTW there's a --timeout option to semgrep to avoid slowing down everything for pathological files

[2020-09-30 17:12] brendongo commented on #1227
@disconnect3d Probably better to open a new github issue for that

Will look into if this ticket is closable.

[2020-09-30 17:32] disconnect3d opened #1756 "Match only function signatures or class header (in Go and Typescript)"
## Is your feature request related to a problem? Please describe.
I want to be able to find all functions that fulfil certain pattern **in a fast manner and only it (without getting the function body)**. Normally, I would use `grep` for that (and parse the output) but that doesn't work well if a pattern (here: function signature) spans across multiple lines.

So, from a code like this (saved as `a

[2020-09-30 17:49] disconnect3d opened #1757 "Go patterns that matches functions incorrectly handle the function return type"
In https://semgrep.dev/s/disconnect3d:go-func-return-types-bug the `$RETTYPES` incorrectly matches two return types and I would expect it to match functions with a single return type.

Another buggy case is that removing `$RETTYPES` from the pattern, still matches the function (it should not since we want to match functions that do not return?).

[2020-09-30 17:50] disconnect3d commented on #1227
@brendongo moved to https://github.com/returntocorp/semgrep/issues/1757

[2020-09-30 18:33] aryx commented on #1756
I think i ll add the ability to just have pattern for function signature (or a clas header)

[2020-09-30 18:34] aryx commented on #1756
That way you can omit the trailing {...} in the pattern and we will not display the body

[2020-09-30 18:40] brendongo commented on #1699
This might be a more complex change than I initially thought. Because of the way we do range resolution we don't actually have access to the pattern_match obj and thus the metavariables of a pattern-inside rule. https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/evaluation.py#L306

IMO might be better to wait til we refactor evaluation.py to be more set-operation-y instead of the

[2020-09-30 18:42] brendongo commented on #1699
Related https://github.com/returntocorp/semgrep/issues/1273

[2020-09-30 19:00] dekadentno commented on #1751
Thank you for your time and quick replies @aryx

I understand that everything mentioned regarding Vue.js is a really big and time consuming task. And I understand that things are not trivial as they are for e.g. angular.

Vue.js grew rapidly in popularity over the last few years and at this very moment it's certainly the most popular frontend framework out there. It would be really nice to conside

[2020-09-30 22:26] mjambon commented on #1746
The user was me. I was trying to reproduce an error and simplify the input, but it was failing mysteriously because my text editor would add a trailing newline. I'll be more specific next time.

[2020-09-30 22:27] nbrahms commented on #1489
👍

^^ Exactly correct

👍

[2020-10-01 01:39] msorens opened #1762 "[typescript] Attempting to parse file in multiple languages--but not typescript"
**Describe the bug**

Valid typescript exists in this two-line file called test.d.ts:
[code]

Issues:
(a) Semgrep does not think it is valid typescript, but it is.
(b) Semgrep tries to parse it in several languages even though the file extension is `.ts`.
(c) Apparently semgrep does **not** try to parse it in typescript even though the file extension is `.ts` (!).

According to [this slack thread]

[2020-10-01 07:41] #1753 closed, assigned to aryx

[2020-10-01 13:30] dvyakimov opened #1765 "Equivalence javascript to find open redirect does not work"
Why equivalence does not work?

https://semgrep.dev/s/d7y6/

[2020-10-01 13:51] dvyakimov commented on #1765
The same:
https://semgrep.dev/s/ZWyW/

[2020-10-01 14:19] erwanlr commented on #1715
Was there a regression ?

Line 14 should match in the example you gave above, but does not.

Edit: Seems like to be a visual thing, as the match is on line 6

[2020-10-01 14:25] aryx commented on #1715
Line 14 matches, but it's really Line6 to Line14 that is the match. It's because we return all the lines that match a pattern, and here
the pattern has the form A ... B and so we return all the lines between A and B (including A and B), hence the yellow matching color going until Line 14.

[2020-10-01 14:26] dvyakimov opened #1766 "Make "this" as $FUNC (javascript)"
Semgrep does not classify "this" as a parameter ($FUNC), which is why you have to create another rule with autocorrect ($FUNC->this).
https://semgrep.dev/s/nePd/
Moreover, equivalence does not work to solve this issue
https://semgrep.dev/s/ErN5/

[2020-10-01 14:28] erwanlr commented on #1715
Yep, I noticed that after playing around xD

I would suggest to have a match output like `Line 6-14:` in such case ;)

Thanks for the clarification :)

[2020-10-01 14:47] aryx commented on #1713
With the better error reporting I now get those parse error locations:
[code]

[2020-10-01 14:48] aryx commented on #1713
This can help in the futur to provide more information on the kind of constructs we do not parse well, which also makes it
easier to create simpler test file showing the issue (minimal test case).

[2020-10-01 15:29] msorens commented on #1756
Just a bit more input on this. Consider this rule where I want to report any classes where the `ngOnDestroy` function exists but does not contain `this.isDestroyed.next()`. The output is voluminous--it prints out the entire class. Both of the two options that @disconnect3d mentions above  would fix this, but I am not sure how the third option you mention @aryx , would do that.
[code]

[2020-10-01 16:04] disconnect3d opened #1768 "Go: displayed types are not complete"
Not sure if that is a bug, but the displayed types by `message` key in the rule format are a bit incomplete.

PoC:
[code]

There are three weird cases:
1. The `some.NamespacedType` is displayed without dots, as `some NamespacedType`
2. The `interface{}` is displayed as just `interface`
3. The `struct{}` is displayed as `{}`

[2020-10-01 16:31] brendongo commented on #1756
With the ability to omit trailing {...} you could potentially use pattern-in and pattern-not-in:
[code]

[2020-10-01 16:32] chmccreery commented on #1721
Found the same bug in python: https://semgrep.dev/s/LrkX/

[2020-10-01 16:32] msorens commented on #1713
Some additional feedback: I just upgraded from 0.24 to 0.26 and I am seeing errors on the same two files as you show @aryx , but they are different errors !?!

[code]

[2020-10-01 16:56] brendongo commented on #1762
Hi @msorens! If a directory is passed to semgrep it will crawl the files and use extensions to figure out the language of a file. If the file is passed directly to semgrep it scans it with all rules.

There actually also aren't any typescript rules in that rulepack.

[2020-10-01 17:02] aryx opened #1769 "Support -lsp for more languages than OCaml"
To support LSP-powered semgrep typed patterns, we need to call a specific program for each language, the language server,
and know how to use it. For example for OCaml, there's https://github.com/ocaml/ocaml-lsp/ but it takes a little bit of
effort to install it, configure it, and to learn how to create the build environment so that it works.
I can't do that for each language so I need help. I've

[2020-10-01 17:05] aryx commented on #1769
Here is the lsp_stdin_ex.jsonrpc test file: https://gist.github.com/aryx/a9a60362d70093bad0705c5d29849f22
You'll need to slightly edit this file to change the code part and feed it to your language server.

[2020-10-01 17:05] aryx commented on #1769
@mschwager if you have time to try to setup the mypy LSP server that would be great!

@chmccreery if you have time to do the same for typescript! So that we can use it on semgrep-app codebase.

[2020-10-01 17:07] aryx commented on #1769
Here is the output of the test file sent to the ocamllsp server:
[code]

[2020-10-01 17:08] aryx commented on #1769
The important part is the 3rd response (id:3) which contains  the type of the request specified in the lsp_stdin_ex.jsonrpc file.

[2020-10-01 17:09] aryx commented on #1769
For reference here is the inline content of lsp_stdin_ex.jsonrpc:
[code]

[2020-10-01 17:29] brendongo commented on #1768
Convenience repro link: https://semgrep.dev/s/QwNJ

Checking metavars locally with --json has output:
[code]

Looks like the . and brackets are being stripped by semgrep-core matcher.

Full --json output for ease in debugging:
[code]

[2020-10-01 17:53] aryx commented on #1713
yes the latest code for better error location is not yet in the release, it will be in 0.27

[2020-10-01 19:06] brendongo commented on #1721
Looks like we might have some disparity on how UI and CLI treat end column (inclusive vs exclusive). I think the webUI is treating it as exclusive, but the autofix code treats it as inclusive. Will have to double check with semgrep-core on what actual intention is.

Evidence:
https://semgrep.dev/s/RrNv/?stepByStep=1 shows finding range as 0-5
WebUI highlights 0-4 but autofix replaces characters 0-

[2020-10-01 20:39] mschwager commented on #1190
https://github.com/returntocorp/semgrep/blob/develop/docs/integrations.md#jenkins

[2020-10-01 20:39] #1190 closed, assigned to nobody

[2020-10-01 22:46] DrewDennison opened #1771 "import not matching what's expected"
**Describe the bug**
A clear and concise description of what the bug is.

 https://semgrep.dev/s/KdNY/ fails to match the expected lines

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:  https://semgrep.dev/s/KdNY/

**Expected behavior**
A clear and concise description of what you expected to happen.

`$X` should include the full path or there should be a w

[2020-10-02 07:21] SPoint42 commented on #1118
any progress  ? or Estimate Time to have something ?

[2020-10-02 07:38] aryx commented on #1118
It's on our Q4 roadmap, so maybe in november.

[2020-10-02 07:38] aryx commented on #1118
Unless we get many customers requesting Kotlin.

[2020-10-02 12:26] disconnect3d commented on #1768
Ups, found another case that is worse than previous (since we can infer `struct{}` from `{}` and `interface{}` from `interface` but here we can't):

[code]

TL;DR: The `[]string` was displayed as `string`.

[2020-10-02 13:31] mschwager commented on #1771
See also: https://github.com/returntocorp/semgrep/issues/975#issuecomment-681014485

[2020-10-02 14:09] aryx commented on #1771
I knew you would comment matt :)

[2020-10-02 14:18] mschwager commented on #1771
Hah, that's what I'm here for!

[2020-10-02 14:55] underyx commented on #1749
I did a bit of investigation here.

The issue comes from the raw string flag. When searching `eval($FOO)` in this code:

[code]

The first metavar has `"abstract_content": "r'foo'r'foo'r'foo'"`, while the second has `"abstract_content": "'bar'"` as you'd expect.

The AST representations are

[code]

and

[code]

respectively.

@aryx at this point I'm not sure how to investigate further. Is it poss

[2020-10-02 16:39] brendongo commented on #1699
Going to wait on progress for https://github.com/returntocorp/semgrep/issues/1489 will revisit if that simplificiation takes too long.

[2020-10-02 16:56] nbrahms commented on #1721
cc. @aryx

[2020-10-02 17:03] brendongo commented on #1749
Looks like bug is reproducable with binary encoded strings too `eval(b'foo')` so might be an issue in EncodedString

[2020-10-02 17:07] underyx commented on #1749
Yeah, I get the feeling we might be flattening the tree and each of the three layers outputs itself as a full string.

[2020-10-02 17:12] brendongo commented on #1099
Does this work if the config file has rules for multiple languages? i.e. If you have some config that has python and javascript rules and want to run the javascript rules on .ts files

[2020-10-02 17:14] brendongo commented on #1099
Either way I do agree it does make more sense for --include to be additive since right now it replicates target functionality.

[2020-10-02 17:21] brendongo commented on #1099
Maybe we might also need a mechanism that allows uses to say treat this extension as this type of file?

[2020-10-02 23:42] colleend opened #1776 "A single identifier pattern does not match a field name"
**Describe the bug**
Attempting to find a keyword inside a function using pattern inside should match. There is some inconsistent behavior depending on whether the keyword is an  object or a function.

**To Reproduce**
If the keyword is a function, there is no match.
https://dev.semgrep.dev/s/l0KL/

If the keyword is an object, there is a match.
https://semgrep.dev/s/X2yw/

**Expected behavior**
I

[2020-10-05 03:10] emjin opened #1780 "[java] Parse_generic and Parse_code have different behavior"
**Describe the bug**
Parse_generic.parse_pattern lang pat and Parse_code.parse_and_resolve_name_use_pfff_or_treesitter lang file give two different parsings for the same line of code

**To Reproduce**
In Unit_synthesizer.ml, this is exhibited by the "exact_match.java" case (even if you remove the "this." before each variable). Note that this error does not occur for other similar cases.

**Expecte

[2020-10-05 03:11] emjin commented on #1780
Sorry the tree's whitespace didn't render!

[2020-10-05 07:45] aryx commented on #1780
Yes, you need to enclose it in ``` ````

[2020-10-05 07:45] aryx commented on #1780
I do the same mistake

[2020-10-05 07:49] aryx commented on #1723
Maybe Emma has some ideas to fix that.
Maybe when we return the abstract_content to the semgrep-python wrapper we could call the pretty-printer,
so we would get the right columns.

[2020-10-05 12:57] erwanlr opened #1781 "PHP - Basic XSS not matching"
**Describe the bug**
I've been trying to write a pattern to catch a basic XSS, but it's always reported as `Pattern could not be parsed as a PHP semgrep pattern`

**To Reproduce**
https://semgrep.dev/s/1Ld5/

**Expected behavior**
I was expecting to have at least a match for the pattern `echo $X`

[2020-10-05 14:09] Sjord commented on #1781
Try providing a complete statement by closing the pattern with a semicolon:

    - pattern: echo $X;

[2020-10-05 14:11] erwanlr commented on #1781
@Sjord already tried that, does not work :/

[2020-10-05 14:25] aryx commented on #1768
Maybe it's time for the python wrapper to not use the abstract_content field, which as the name suggest results from the Abstract Syntax Tree which does not have the full syntactic information that you would find in a concrete syntax tree.

[2020-10-05 14:25] aryx commented on #1768
I can improve a bit the case for []string and struct vs interface but not much more.

[2020-10-05 14:30] aryx commented on #1768
Or we should use @emjin pretty printer when printing the message containing metavariable.

[2020-10-05 14:36] aryx commented on #1781
This works: https://semgrep.dev/s/Nx3A/

[2020-10-05 14:38] aryx commented on #1781
Or this: https://semgrep.dev/s/kWye/

In semgrep you usually can't write partial construct, and echo in PHP is at the statement level, not expression level, so it has to finish with a ';'. Not sure why there was an antislash before the $_GET in your example, but yet it does not work.

[2020-10-05 14:38] #1781 closed, assigned to nobody

[2020-10-05 17:46] brendongo commented on #1768
Oh I see. Yeah makes sense to use range instead of abstract_content field when figuring out metavariable values/autofixes.

[2020-10-05 17:51] #1762 closed, assigned to brendongo

[2020-10-05 17:57] brendongo commented on #1768
This issue re inclusive/exclusive is probably relevant if we switch over to using ranges: https://github.com/returntocorp/semgrep/issues/1721#issuecomment-702338846

[2020-10-05 20:55] aryx commented on #1757
That's by design. Regarding the first point, this is because RETTYPES is matched against a tuple type (a pair type). A metavariable type can match any type, including tuple types.

Regarding the second point, this is again by design and one of the core principle of semgrep which I call "unspecified matches more", meaning that even if your pattern does not specify certain things (decorators, return

[2020-10-06 08:53] aryx commented on #1768
Works better now.
https://semgrep.dev/s/7g2G/?version=develop
still not perfect, but at least we have now struct{}, and string[].
Is it enough for now @disconnect3d ? The right fix requires to switch to a different way to print metavariables in message, but that make take a while to fix.

[2020-10-06 08:54] aryx commented on #1768
I'll close for now, we can create another issue to really use pretty printing when displaying metavar.

[2020-10-06 08:54] #1768 closed, assigned to brendongo

[2020-10-06 11:17] #1749 closed, assigned to aryx, underyx

[2020-10-06 12:18] dvyakimov opened #1784 "CORS accept in python - flask does now find"
CORS(app, resources={$KEY: {"origins": "*"}})
does not find pattern
https://semgrep.dev/s/8xXg/

[2020-10-06 12:19] dvyakimov commented on #1749
Could you fix it in web editor?

[2020-10-06 12:42] aryx commented on #1749
Should work in the editor in 30min now with ?develop

[2020-10-06 14:53] mschwager commented on #1784
Hi @dvyakimov,

You need to specify the full module path of the function call, e.g. include `flask.ext.cors`. See: https://semgrep.dev/s/gpPR/

In fact, we've already noticed this missing in our documentation, so we're going to improve our docs: https://github.com/returntocorp/semgrep/issues/1748

[2020-10-06 14:53] #1784 closed, assigned to mschwager

[2020-10-06 15:19] mschwager commented on #1765
Hi @dvyakimov,

Note that equivalences are an [experimental feature](https://github.com/returntocorp/semgrep/blob/develop/docs/experimental.md#equivalences), so there may be bugs. I've reduced your example to a more minimal test case: https://semgrep.dev/s/QwxJ/. I noticed a few things to consider here:

* You must specify `var $URL` as `var {$URL}` if this is what you're expecting.
* Semgrep will

[2020-10-06 15:22] aryx commented on #1749
see https://semgrep.dev/s/X2qw/?version=develop

[2020-10-06 15:47] mschwager commented on #1766
This looks like a bug to me - I would expect `$THIS` to match `this`. E.g. this works: https://semgrep.dev/s/4BoL/, but this doesn't: https://semgrep.dev/s/P9x3/.

@aryx are we treating `this` as a special case? Is there a reason `$THIS` won't match `this`?

[2020-10-06 15:49] ropnop opened #1786 "semgrep.dev lesson 6b solution not working"
Following along with the lessons and the "hint" on https://semgrep.dev/learn/15 does not seem to work:

[code]

This finds no matches. What is the correct "solution" to match the last 2 `subprocess.call` lines, but not the first one with a hardcoded string?

[2020-10-06 16:05] mschwager commented on #1786
Good catch! It looks like our tutorial needs to be updated. Semgrep is too smart for its own good! It's noticing that `dir` is a constant string so it's hitting the `pattern-not: subprocess.call("...", ...)` case. You can find this [constant propagation documented here](https://github.com/returntocorp/semgrep/blob/develop/docs/pattern-features.md#constants). If we add an example that doesn't use a

[2020-10-06 16:35] chmccreery commented on #1786
Closed by PR in semgrep-app: https://github.com/returntocorp/semgrep-app/pull/785

[2020-10-06 16:46] DrewDennison commented on #1237
@colleend @brendongo is this really finished? PRs seem closed not merged

[2020-10-06 16:49] #1786 closed, assigned to chmccreery

[2020-10-06 16:54] #1550 closed, assigned to nobody

[2020-10-06 16:55] ievans commented on #1562
Closed in #1732, cc @underyx for the suggestion about putting this into semgrep-action (the CI integration!)

[2020-10-06 16:55] #1562 closed, assigned to nobody

[2020-10-06 16:55] #1551 closed, assigned to nobody

[2020-10-06 16:59] #1748 closed, assigned to mschwager

[2020-10-06 19:03] aryx commented on #1776
A keyword in programming languages is 'if', 'then', but not group_by. This is an identifier.
And the issue here is that in the pattern, group_by is parsed as an identifier (Id in the generic AST), but
in the code it is parsed as a fieldname (probably a FId), and so it is not matched.
We could change that and allow a single ID to match a field ID.
But the issue is not about pattern-inside I think.

[2020-10-06 19:04] aryx commented on #1776
In fact, you will probably get the same issue in other languages, not just Python.

[2020-10-06 19:07] aryx commented on #1766
this is treated specially in the AST (It's an IdSpecial (This), but I don't understand why $THIS does not match it. $THIS should match any expression, including IdSpecial expressions.

[2020-10-06 19:12] aryx commented on #1719
@colleend want to take a look at it? Sounds similar to other bugs related to ellipsis you fixed with other languages.
As before you can dump the pattern AST and code AST and figure out in Generic_vs_generic why it does not match.
Note that I've added some logging capability so feel free to ask me if you need to setup logging.

[2020-10-06 23:22] ievans commented on #1200
This was closed in https://github.com/returntocorp/semgrep/pull/1401

[2020-10-06 23:22] #1200 closed, assigned to nobody

[2020-10-07 05:38] rezen commented on #1781
@erwanlr a better example is https://semgrep.dev/s/KdzY - I also have a couple other rules here https://gist.github.com/rezen/9908fb3a0cbe1a38ffd15cbc8f43b6f0

@aryx where do community rulesets live? We could contribute some php rules - is https://github.com/returntocorp/semgrep-rules the place?

[2020-10-07 07:23] aryx commented on #1781
Yes! We would love you to contribute rules in semgrep-rules.
@minusworld is managing this repo.

[2020-10-07 07:38] erwanlr commented on #1781
Thank you @rezen for the examples :)

There is still a bug (false positive), taking https://semgrep.dev/s/KdzY rules, `echo $settings['something'];` and `echo CONSTANT['a'];` will match but they shouldn't. It seems like `$_GET[$KEY]` is taken as `$Y[$KEY]` (hence why I tried to escape the first `$` in my example above btw).

[2020-10-07 08:18] erwanlr opened #1789 "[PHP] Unable to parse $var[] = ... array append operator"
**Describe the bug**
Some PHP files could not be parsed

**To Reproduce**
- Download https://raw.githubusercontent.com/Studio-42/elFinder/master/php/elFinder.class.php
- `$ semgrep --config semgrep.yaml -v elFinder.class.php`

**Expected behavior**
The files should be parsed

**Screenshots**
<img width="935" alt="Screenshot 2020-10-07 at 10 08 03" src="https://user-images.githubusercontent.com/166

[2020-10-07 08:29] aryx opened #1790 "$_GET should not be considered a metavariable in PHP"
https://semgrep.dev/s/4BoZ

[2020-10-07 08:29] aryx commented on #1781
You're right @erwanlr , I've created a separated issue for this bug just now: https://github.com/returntocorp/semgrep/issues/1790

[2020-10-07 09:30] dvyakimov opened #1791 "Can't find dangerouslySetInnerHTML in React (javascript)"
Can't find dangerouslySetInnerHTML={this.rawMarkup()}
https://semgrep.dev/s/P9xE/

[2020-10-07 09:32] dvyakimov opened #1792 "windows[...] can't be find in React (javascript)"
Can't find {`window['__initialState'] = ${JSON.stringify(state)};`} by windows[...] pattern
https://semgrep.dev/s/JqoZ/

[2020-10-07 10:29] dvyakimov commented on #1792
And other question
Is it to complex for semgrep?
https://semgrep.dev/s/5Wzl/

[2020-10-07 11:11] erwanlr opened #1794 "PHP - using isset with pattern-not-inside causes an invalid pattern error"
**Describe the bug**
Using `- pattern-not-inside: isset(...)` results in an `semgrep error: invalid pattern`. If `isset` is replaced by `issets`, then it works fine.

**To Reproduce**
https://semgrep.dev/s/GR31/

**Expected behavior**
There should not be any pattern error.

**Screenshots**
<img width="611" alt="Screenshot 2020-10-07 at 13 08 45" src="https://user-images.githubusercontent.com/16688

[2020-10-07 11:50] dvyakimov commented on #1792
One more example :)
https://semgrep.dev/s/Rrx2/

[2020-10-07 13:17] dvyakimov commented on #1792
There is something happening with "window" or may be html:
https://semgrep.dev/s/D80W/

[2020-10-07 15:21] mschwager commented on #1789
Hi @erwanlr,

Thanks for bringing this to our attention. I'll investigate and get back to you.

[2020-10-07 15:26] rezen commented on #1790
An important note, all variables in PHP are prefixed with `$`. `$_GET` specifically is a **superglobal**. Being able to escape variables will be important with PHP.

- https://www.php.net/manual/en/language.variables.superglobals.php
- https://www.php.net/manual/en/language.variables.variable.php

[2020-10-07 15:50] mschwager commented on #1791
Hi @dvyakimov,

Thanks for finding this. This appears to be a problem with our JSX parsing. For example, the following pattern works: https://semgrep.dev/s/0gqJ/. However, if we use the ellipsis operator inside the tag it doesn't work: https://semgrep.dev/s/q638/.

@aryx do we expect `...` to work inside JSX tags?

[2020-10-07 15:55] mschwager commented on #1794
Hi @erwanlr,

Thanks for finding this. If my PHP memory serves, `isset` is not actually a function. From [`isset`](https://www.php.net/manual/en/function.isset.php): "Note: Because this is a language construct and not a function, it cannot be called using variable functions."

@aryx do we need special handling for `isset` since it's not a function?

[2020-10-07 16:09] mschwager commented on #1792
I don't think `...` is completely implemented for JSX tags yet. For example, the following works: https://semgrep.dev/s/6Wpj/?version=develop, but this doesn't: https://semgrep.dev/s/z8X0/?version=develop. This is probably related to #1791 - it looks like JSX is missing some Semgrep features.

@aryx does this seem right to you? Do we have any plans for further JSX functionality in the near future?

[2020-10-07 16:27] colleend commented on #1237
ah yes, just linked the merged PR

[2020-10-07 16:31] colleend commented on #1719
yes I'll take a look! Yay for logging 🥳

[2020-10-07 16:55] colleend opened #1795 "Set expectation that PHP is experimental in semgrep.dev and CLI"

[2020-10-07 17:02] mschwager commented on #1789
This seems like a bug in our PHP parsing. Pulling in @aryx.

[2020-10-07 20:26] vortfu commented on #1789
Appears to be related to the `$var[] = $val` array shorthand?

[2020-10-07 20:35] DrewDennison opened #1796 "--test: separate out test and pattern files"
Allow semgrep yaml files and test files to be in separate directories

[2020-10-07 21:11] ajinabraham commented on #1796
It would be useful to separate test files and rule files https://github.com/semgrep/rules-nodejsscan/tree/with_tests/rules
especially when packing and updating rules dynamically.

Can we have support for `python -m semgrep --quiet --json --test --rules <rules> --src <source_code>`

[2020-10-08 12:07] #1790 closed, assigned to nobody

[2020-10-08 12:39] aryx commented on #1519
This works with ?develop

[2020-10-08 12:39] #1519 closed, assigned to mjambon

[2020-10-08 12:40] aryx commented on #1148
I think this works now.

[2020-10-08 12:40] #1148 closed, assigned to mjambon

[2020-10-08 12:48] aryx commented on #1792
It's because what is inside the backquotes is a template Javascript string which is just interpreted as text by semgrep. Even if you write code in it, semgrep does not know about it so you can only use string patterns, for example
https://semgrep.dev/s/xxQP/ (I have a problem to specify using a regexp with window[.* but that's another issue).
Inside the backquote if you use ${ then semgrep know th

[2020-10-08 12:50] #1792 closed, assigned to nobody

[2020-10-08 12:50] #1794 closed, assigned to nobody

[2020-10-08 12:51] aryx commented on #1790
this now works on develop: https://semgrep.dev/s/Okpb/?version=develop

[2020-10-08 12:54] aryx commented on #1791
The issue is that what is inside the body of a JSX element is interpreted as text by Javascript.
You can do <div>THIS IS WHATEVER TEXT YOU WANT</div>
and so if your text looks like code, semgrep does not know about it, so you need to use string-related pattern features to match it,
for example the =~/regexp/ feature in semgrep (but I'm not sure they currently work for the XHP BODY).

[2020-10-08 12:55] aryx commented on #1791
if dangerouslySetInnerHTML was a JSX attribute, as in <div attr1=value attr2=value dangerouslySetInnerHTML=value>TEXT</div>
then things would be different, because semgrep understand that attributes are not just any text.

[2020-10-08 12:57] aryx opened #1802 "[Javascript] can't match methods with a function pattern"
https://semgrep.dev/s/wp0B

[2020-10-08 13:04] aryx opened #1803 "[JSX] Allow ... in list of attributes"

[2020-10-08 13:05] aryx commented on #1803
I think @mschwager wanted that.
We would probably just filter them in the backend, because we match attributes in any order anyway and we accept
less attributes than what is in the concrete code, but there's no reason we should not allow the ... there. We accept
them in Dict, Set, etc. (even if there too we usually just filter them).

[2020-10-08 13:59] rezen commented on #1789
@vortfu `$var[] = $val` is how you append to arrays in PHP

[2020-10-08 15:33] mschwager opened #1804 "False negative when deep expression operator combined with ellipsis operator"
I'm looking for a function call that could be in an `if` statement, or it could not be, so I'm using the deep expression operator. I'm then looking for a subsequent function call using the same argument. My searches for either function call on its own each work, but combined they don't work.

- Deep expression operator works: https://dev.semgrep.dev/s/X2Rl/
- Subsequent function call works: https:

[2020-10-08 17:00] colleend opened #1805 "All r2c repos output SARIF (test inline commenting)"

[2020-10-08 18:00] vortfu commented on #1789
I understand what the code does, but I think it's what is causing this parse error in semgrep/pfff :)

Minimalized test case as follows:

[code]

[2020-10-08 19:36] vortfu opened #1807 "PHP parse error - variable length argument lists"
PHP functions using the `...` token (PHP 5.6+) to support variable arguments fail to parse.
See https://www.php.net/manual/en/functions.arguments.php#functions.variable-arg-list

[code]

[2020-10-08 19:37] vortfu opened #1808 "PHP parse error - exponentiation"
PHP code using the exponentiation operator fails to parse.
See https://www.php.net/language.operators.arithmetic

[code]

[2020-10-08 19:38] vortfu opened #1809 "PHP parse error - static anonymous functions"
PHP code using static anonymous functions (PHP 5.4+) fails to parse.
See https://www.php.net/manual/en/functions.anonymous.php#functions.anonymous-functions.static

[code]

[2020-10-08 19:39] vortfu opened #1810 "PHP parse error - anonymous functions inheriting variables"
PHP code using anonymous functions that inherit variables from the parent scope via the `use` keyword fail to parse.
See https://www.php.net/manual/en/functions.anonymous.php (Example #3)

[code]

[2020-10-08 23:16] colleend commented on #1740
Seems like this is parsing in tree-sitter because lack of `package <package name>`. But if we do something like:

https://semgrep.dev/s/ZWAL/

which parses in pfff, same issue happens. I looked into it a bit, and it appears that AllowedOrigins is parsed as ArgKwd in pfff,
 `ArgKwd(("AllowedOrigins", ()), L(String(("test", ()))));`
But `AllowedOrigins` pattern is parsed into E(Id).

@aryx should we

[2020-10-09 03:29] msorens commented on #1713
Just to be explicit, with 0.27.0 I am now seeing the revised error messages @aryx indicated. However, those files are all valid code, so those errors should not be present.

[2020-10-09 06:41] #1803 closed, assigned to nobody

[2020-10-09 08:37] aryx commented on #1808
Should work now in develop branch.

[2020-10-09 08:37] #1808 closed, assigned to colleend

[2020-10-09 08:38] aryx commented on #1809
Should work now in develop branch

[2020-10-09 08:38] #1809 closed, assigned to colleend

[2020-10-09 09:06] aryx commented on #1754
cc @mjambon for performance issue.

[2020-10-09 09:29] aryx commented on #1789
Thx a lot for the minimal test @vortfu

[2020-10-09 09:30] aryx commented on #1789
Yes internally semgrep is parsing correctly the file, but the part that transform the PHP program in a generic AST has some TODOs related to those assignments. I'll fix it.

[2020-10-09 10:41] #1789 closed, assigned to nobody

[2020-10-09 14:05] #1807 closed, assigned to nobody

[2020-10-09 14:33] #1810 closed, assigned to nobody

[2020-10-09 14:55] aryx commented on #1721
Here is the code in semgrep-core/reporting/JSON_report.ml
[code]

[2020-10-09 14:56] aryx commented on #1721
So it's adding the length of the matched thing to the starting offset, so I guess this is exclusive in brendon's terminology.
On brendon's example, here is what semgrep-core report:
[code]

[2020-10-09 14:58] aryx commented on #1721
So boto3 in the code starts at offset 0, and its length is 5, so the end offset reported is 5, but indeed the character at offset 5 is not part of the matched string (hence the use of 0-4 in highlighting).

[2020-10-09 16:56] dlukeomalley commented on #1757
@disconnect3d Thank you for filing an issue, and @aryx thank you for the reply! For now I'd like to close this issue as `wont-fix`, and if there are additional questions we can certainly reopen it.

[2020-10-09 16:56] #1757 closed, assigned to dlukeomalley

[2020-10-09 21:02] #1237 closed, assigned to DrewDennison, colleend

[2020-10-11 22:30] #1756 closed, assigned to aryx

[2020-10-12 06:41] aryx commented on #1756
Should work now for function signature and class header in Go and Javascript/Typescript

[2020-10-12 13:42] securitygeneration opened #1817 "FileNotFoundError: [Errno 2] No such file or directory: ‘NO FILE INFO YET’"
**Describe the bug**
Running r2c-security-audit on a C codebase results in `FileNotFoundError: [Errno 2] No such file or directory: ‘NO FILE INFO YET’`

[code]

[code]

**To Reproduce**
As this is not open source code, I can't recommend a way to reproduce, but happy to help narrow things down.

**Expected behavior**
Semgrep to run normally

**Screenshots**
If applicable, add screenshots to help ex

[2020-10-12 13:48] mschwager commented on #1817
Thanks for filing an issue @securitygeneration. We've see this `NO FILE INFO YET` error before:

- https://github.com/returntocorp/semgrep/issues/275
- https://github.com/returntocorp/semgrep/issues/1412

@aryx do you know when and why this error occurs? It would be helpful if we added more debugging context around this error, like what file(s) are causing the error.

[2020-10-12 14:04] aryx commented on #1632
good enough for now

[2020-10-12 14:04] #1632 closed, assigned to aryx

[2020-10-12 14:16] mschwager opened #1819 "Parse error on '!old_scope.key? "type"'"
Our `jekyll` QA repository recently introduced a commit that broke Ruby parsing.

Relevant CI job: https://github.com/returntocorp/semgrep/pull/1814/checks?check_run_id=1242449418

The QA repository has since been moved to expected failure: https://github.com/returntocorp/semgrep/commit/687a87c23fe226a2b11bce0b2d63348ea35e18a0

I created this issue to track this parsing error. Let's fix the parsin

[2020-10-12 15:15] #1802 closed, assigned to nobody

[2020-10-12 16:29] #1766 closed, assigned to nbrahms

[2020-10-12 17:49] vortfu opened #1822 "PHP parse error - array appends"
While #1789 / https://github.com/returntocorp/pfff/commit/c246f4e1f9b871537950f832ec486d77a17a6f01 fixed support for array appends in the form of `$val[] = $var`, the following usage still fails to parse:

[code]

[2020-10-13 09:31] Sjord commented on #1392
I have [started an attempt](https://github.com/Sjord/semgrep/tree/csharp).

[2020-10-13 17:05] vortfu commented on #1822
Updated test case to include `list( $x[], $y ) = ...`

[2020-10-13 23:38] msorens opened #1825 "Runtime stats are not quite accurate"
**Describe the bug**
Two issues with the number of findings being reported.

(a) When I run semgrep on my entire code base it reports 13 findings but I only count 12:
https://buildkite.com/chef-oss/chef-automate-master-verify/builds/14196#3fb5498f-9a8c-4bab-ba99-95c6b32eb6b8
Expected: 12 findings

(b) I then added a few ignore flags (`//nosem`) and made no other changes. It still reports 13 findin

[2020-10-14 04:16] ben-elttam opened #1827 "[Java] Match only function signatures or class header"
**Is your feature request related to a problem? Please describe.**

Changes were made to PFFF to resolve https://github.com/returntocorp/semgrep/issues/1756.
In Slack Yoann mentioned

This GH issue is to track that progress.

For example in Java I want to write rules that match annotations and report the class name and method name and parameters but not the method's body.

Currently, in Semgrep 0.

[2020-10-14 05:04] dlukeomalley commented on #1827
Thanks for filing this issue @ben-elttam - adding some tags so we can triage and track moving forward. CC @aryx @DrewDennison

[2020-10-14 07:24] inkz opened #1828 "Catching classes with multiple interfaces in Java"
**Describe the bug**
In Java I want to write a rule that finds classes implementing an interface, https://semgrep.dev/s/1LNQ
If the class implements many interfaces, the expression will only finding it if its first, or if you list the other interfaces in the right order. Using <... SecondInterface ...> deep nesting operator  doesn't work.

**To Reproduce**
https://semgrep.dev/s/1LNQ

[code]

[code

[2020-10-14 07:27] inkz opened #1829 "catching Java annotations regardless of the context"
**Is your feature request related to a problem? Please describe.**
in Java it is possible for annotations to be applied to targets (contexts) such as a class, a method, a field etc). I'd like to write semgrep patterns that match an annotation in any context (the pattern is just `@SomeAnnotation(...)` and does not have class `$CLASS { ... }` or `$RETURN $METHOD(...) {...}` in it.
I'm writing rules

[2020-10-14 12:20] #1827 closed, assigned to nobody

[2020-10-14 13:06] drorb opened #1831 "Semgrep fails with an SSL error"
Trying to run semgrep with a ruleset from the registry fails with an SSL related error.

When running the following command

`semgrep --config "https://semgrep.dev/p/r2c-security-audit"`

I get the following error

[code]

Using semgrep version 0.27.0 installed using brew on OSX Catalina 10.15.7

[2020-10-14 13:45] #1829 closed, assigned to nobody

[2020-10-14 16:24] brendongo opened #1833 "Flag to set acceptable rule level for non-zero exit code"
**Is your feature request related to a problem? Please describe.**
Semgrep rules have a level field that can be Warning or Error or Info it would be nice if there was a way to tell semgrep to only have a non-zero exit code for errors for example.

**Describe the solution you'd like**
Something like `semgrep --error-level=WARNING`

[2020-10-14 17:35] Isaac0616 commented on #1099
I like this approach.
It allows per rule customization.

[2020-10-14 17:51] Isaac0616 opened #1834 "Support more expressive paths syntax"
**Is your feature request related to a problem? Please describe.**
Semgrep supports path include/exclude with the Python glob syntax.
https://github.com/returntocorp/semgrep/blob/develop/docs/configuration-files.md#paths
The examples given in the doc are
[code]
There is no way to specify something like js files in all subdirectories of `project/static`.

**Describe the solution you'd like**
One po

[2020-10-14 19:51] chgg-kboberg commented on #1644
+1 to this request, I have a use case this would be great for (credential leaks in format strings)

[2020-10-14 20:05] mschwager commented on #1644
Here were my musings on this type of functionality: https://github.com/returntocorp/semgrep/issues/744

I'm not sure if this can be generally implemented for many language constructs in many languages, but it'd be great to capture variadic language elements and output them in a structured way for post-processing.

[2020-10-14 20:12] aryx commented on #1834
I like **/*.js, it's in many shells now.

[2020-10-14 20:15] aryx commented on #1833
My only concern is that using the word error and warning together seems counterintuitive (in --error-level=WARNING).
Maybe --fail-level=WARNING?
We overload a bit the term "error", same with --error, when really it's about an exit return code to make CI fail.

[2020-10-15 07:01] #1828 closed, assigned to nobody

[2020-10-15 07:12] aryx commented on #1831
@DrewDennison any idea?

[2020-10-15 07:29] aryx opened #1837 "DSL to select by intension instead of extension a set of rules, e.g. --config 'python/**/* - *security*'"
If we transform the id of a rule with a / separator instead of a ., then we can use path regexp as a way to select a set of rules. We probably also need set operations like union (+) and difference (-).

[2020-10-15 08:09] aryx commented on #1795
Actually I've fixed many bugs for PHP this week, so I don't think we need to do anything special anymore about it.

[2020-10-15 08:09] #1795 closed, assigned to colleend

[2020-10-15 08:11] aryx commented on #1630
I think the situation is better now that we have semgrep ocaml rules to check  for the wrong use of printing function.

[2020-10-15 08:11] #1630 closed, assigned to nobody

[2020-10-15 08:50] #1822 closed, assigned to nobody

[2020-10-15 09:34] aryx commented on #1751
Is there a way to call a tool on .vue file and get the resulting pre-processed .js file? Could you just use that?

How other tools like editors, language servers, linters, etc. handle .vue files? They have special code to recognize
the <template> {{ <script> tags? Do they call a vue "preprocessor? How do they relate things found on the pre-processed file to the original file?

[2020-10-15 16:07] ievans commented on #1831
@drorb thanks for making an issue! I can't reproduce this. It seems like the issue might be with your local certificate chain. Can you report whether

`curl -L -H 'User-Agent: Semgrep/0.27' https://semgrep.dev/p/r2c-security-audit`

works for you?

[2020-10-15 16:09] ievans commented on #1796
@colleend We'll need to think about this a bit with the changes we're making to load examples into the registry

[2020-10-15 16:40] drorb commented on #1831
I can confirm that `curl -L -H 'User-Agent: Semgrep/0.27' https://semgrep.dev/p/r2c-security-audit` works for me

[2020-10-15 16:58] DrewDennison commented on #1791
@dvyakimov I think the react code is not valid (dangerous react) did you mean something like https://semgrep.dev/s/Ok6b ?

[2020-10-15 17:01] DrewDennison opened #1841 "Allow JSX patterns to be matched against nested JSX elements"
https://semgrep.dev/s/erlE should match

[2020-10-15 17:06] DrewDennison commented on #1841
https://semgrep.dev/s/ZWJL works which makes me think it's more of a support matches in nested JSX tags issue

[2020-10-15 17:18] mjambon commented on #1713
@msorens a number of fixes are coming for typescript but still need integration work. They will become available most likely in the semgrep release two weeks from now. This includes:

* more complete typescript syntax support ([list of typescript errors](https://github.com/returntocorp/ocaml-tree-sitter/issues/115), [list of tsx errors](https://github.com/returntocorp/ocaml-tree-sitter/issues/118)

[2020-10-15 18:05] ievans commented on #1825
Thanks for this @msorens and the clear reproduction steps. @brendongo -- I think you'd have the best context here regarding how the target manager works, want to take a look?

[2020-10-16 04:34] msorens opened #1846 "[typescript] Class properties/declarations not recognized"
**Describe the bug**
In this sample (https://semgrep.dev/s/P9oE/) observe that only line 10 is matched, when it should also include line 5:
![image](https://user-images.githubusercontent.com/6817500/96213243-60635680-0f2d-11eb-9dd4-a810a2a8501f.png)

If I modify the rule to look for the _expression_ rather than the full _declaration_, then it does match line 5 as well:
![image](https://user-images

[2020-10-16 07:45] aryx commented on #1713
Let's keep this open until we double check that the new release really fix the issue.

[2020-10-16 07:48] aryx commented on #1713
Unless this is already working with the develop version @mjambon ?

[2020-10-16 15:44] mschwager opened #1849 "Return "value propagation" in JSON output"
Building on our [constant propagation](https://github.com/returntocorp/semgrep/blob/develop/docs/pattern-features.md#constants), it would be useful to also return the value the constant holds.

Consider the following rule and code:

[code]

[code]

Running with `--json` gives the following output:

[code]

The `abstract_content` key tells us the literal code token in the metavariable. It'd be very

[2020-10-16 16:18] dlukeomalley commented on #1846
@aryx @mschwager @DrewDennison Added some labels, do you feel this is a bug or enhancement?

[2020-10-16 16:29] mschwager commented on #1846
This looks like a bug to me. Unless I'm misunderstanding something about JS/TS, both lines are assignments, so I would expect the `$VAR =` pattern to catch both.

[2020-10-16 16:54] msorens opened #1850 "[typescript] Support for "implements" keyword is incomplete"
**Describe the bug**
This sample (https://semgrep.dev/s/Jq0Z/) illustrates that #1753 (Support matching on "implements") is incomplete. The red X cases are incorrect.

**Additional Info**

**To Reproduce**
https://semgrep.dev/s/Jq0Z/

**Expected behavior**
Multiple implemented interfaces must be supported.

**Screenshots**
<img width="242" alt="image" src="https://user-images.githubusercontent.com

[2020-10-16 16:55] SPoint42 opened #1851 "OWASP ASVS as a metadata ?"
We have CWE and OWASP as a metadata.
I see some effort to add ASVS rules. https://github.com/semgrep/rules-owasp-asvs

I made some work on mapping semgrep in OWASP Requirements.

Could it be possible to add it in some rules in the semgrep-rules repo ?

I can contribute on some to launch the effort

[2020-10-16 17:01] msorens opened #1852 "[typescript] Would like to be able to match functions in a pattern"
**Describe the bug**
Cannot match a function in a pattern.

**To Reproduce**
https://semgrep.dev/s/5WNl/

**Expected behavior**
Should be able to match a TypeScript function in a pattern.

**Screenshot**
<img width="799" alt="image" src="https://user-images.githubusercontent.com/6817500/96287137-56c20900-0f96-11eb-816a-abde9306b997.png">

**Environment**
Semgrep 0.27.0

(Priority for me: somewhat

[2020-10-19 06:01] dekadentno commented on #1751
Vue uses the official [vue-template-compiler](https://github.com/vuejs/vue/tree/dev/packages/vue-template-compiler#readme) to precompile Vue files, you should check it out.
Also, there are some unofficial tools that can do the trick like
- [vue-sfc-parser](https://github.com/ktsn/vue-sfc-parser)
- [parser](https://github.com/vuedoc/parser)
- [vue-parser](https://github.com/prograhammer/vue-parser)

[2020-10-19 18:02] #1724 closed, assigned to nobody

[2020-10-19 18:06] DrewDennison commented on #1791
@dvyakimov did you get a chance to look at the above?

[2020-10-19 18:30] vortfu opened #1856 "Internal error matching conditionals when empty"
semgrep fails with an internal error when using a pattern of `if ( $X ) $Y;` if the PHP code being scanned contains an empty conditional, e.g.

[code]

[2020-10-19 18:37] ievans commented on #1831
@drorb thanks for trying that.

In the meantime as a workaround -- you've probably already done this, but just to be explicit:
[code]

I'm at a bit of a loss as to where the issue could be. What is your specific Python version? cc @nbrahms @brendongo for ideas on the root cause.

[2020-10-19 18:37] dlukeomalley commented on #1701
@msorens Closing this for now. We no longer use the `...` to hide rule names and have some additional changes on staging that should land this week (CC @ievans @brendongo) ✌️

[2020-10-19 18:37] #1701 closed, assigned to sabrinabrogren

[2020-10-19 19:22] minusworld opened #1858 "Finish integrating spacegrep"
- [x] Ensure binary is available in all installation mediums
- [x] Integrate off-by-one fixes
- [x] Get spacegrep/spacecat to under 100MB

[2020-10-19 19:54] nbrahms commented on #1831
Hi @drorb ...

Can you run:
[code]

where `/path/to/brew/python3` is probably something analogous to `/usr/local/Cellar/python@3.8/3.8.5/bin/python3` for you.

Please make sure the version is at least `2020.6.20`:
[code]

If it's not, you should be able to run
[code]

Hope this helps 🤞 .

[2020-10-19 19:57] nbrahms commented on #1831
@ievans It's my understanding that the python `requests` library uses the certificate authority from the `certifi` package, not any locally installed `openssl`, etc. CA.

[2020-10-19 20:03] nbrahms commented on #1831
@ievans Also looking through the dependencies of `semgrep`, we appear to be using `requests 2.22.0`, which itself only requires `certifi>=2017.4.17`. We may want to advance the `requests` or `certifi` dependency manually within `semgrep`.

[2020-10-19 20:08] nbrahms commented on #1831
Although it's worth noting the signer cert is from 2015:

[code]

[2020-10-19 20:59] minusworld commented on #1858
<strike>https://github.com/returntocorp/semgrep/pull/1853</strike>

and

<strike>https://github.com/returntocorp/semgrep/pull/1848</strike>

[2020-10-19 23:42] brendongo commented on #1768
FYI @aryx when switching to using line ranges in #1859 we now correctly handle case 1 and 3 of the user above but case 2 (interface{}) is still reported only as (interface) seems like this is semgrep-core not including the {} in the case of interface

[2020-10-20 00:50] dlukeomalley commented on #1721
@msorens This should be resolved by #1859 once it merges. Thanks @brendongo for leading the charge on the fix.

[2020-10-20 00:53] dlukeomalley commented on #1740
@colleend @DrewDennison @aryx Checking in on this ticket. Any next steps we can queue up? Thank you!

[2020-10-20 01:04] dlukeomalley commented on #1713
@aryx @mjambon This appears to still not parse. I ran a subset of the rules on one of the problematic files via Semgrep.dev:

❌ 0.27.0: https://semgrep.dev/s/GRBn/?version=0.27.0
❌ develop: https://semgrep.dev/s/GRBn/?version=develop

[2020-10-20 01:10] brendongo commented on #1825
This is cause the stat line is computed from semgrep-core invocation and nosem ignores are performed after. IMO we should not be having CoreRunner report stats and instead have output compute them as necessary. https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/semgrep_main.py#L223

[2020-10-20 01:45] clintgibler commented on #1851
Hey @SPoint42 👋  Thanks for reaching out, much appreciated! Yes, we have been chatting with several of the people involved with OWASP ASVS and are keen to help support people in using Semgrep to determine how their repos measure up to ASVS best practices.

We've done some internal mapping of Semgrep <=> CWE <=> ASVS control, as both Semgrep rules and ASVS controls have a CWE listed.

Just to clari

[2020-10-20 04:43] brownierin commented on #1118
I'm also interested in Kotlin support.

[2020-10-20 05:39] inkz commented on #891
works now

[2020-10-20 05:39] #891 closed, assigned to nobody

[2020-10-20 09:31] drorb commented on #1831
The result of running `python3 -m pip show certifi` is

[code]

[2020-10-20 16:50] DrewDennison commented on #1791
Closing this for now but feel free to reopen if you still see this issue.

[2020-10-20 16:50] #1791 closed, assigned to DrewDennison

[2020-10-20 16:55] nbrahms commented on #1831
@drorb ... well that is super confusing. Can you confirm that `semgrep` is running using the python binary at your `/usr/local/lib/python3.8/` install?

[2020-10-20 17:00] DrewDennison commented on #1852
@msorens thanks for the bug report. tagging our TS expert @mjambon for an update on when this can get fixed

[2020-10-20 17:01] DrewDennison commented on #1850
@aryx this seems to be a matching / type bug. Tagging you for an investigation

[2020-10-20 17:53] drorb commented on #1831
@nbrahms so it seems that the brew installation of semgrep comes with its own python located in `/usr/local/Cellar/semgrep/0.27.0/libexec/bin/python3.8`
Looking at the semgrep script it seems to be using that version - `#!/usr/local/Cellar/semgrep/0.27.0/libexec/bin/python3.8`

The results of running `/usr/local/Cellar/semgrep/0.27.0/libexec/bin/python3 -m pip show certifi` are:

[code]

[2020-10-20 18:03] underyx commented on #1834
Hey @Isaac0616, we're trying to decide where to place this on our roadmap. Could you give us some idea of how important this feature would be for you?

[2020-10-20 18:17] mjambon commented on #1852
@msorens I would suggest the following workaround:

[code]
See https://semgrep.dev/s/6WQ6

For matching a similar function definition, you'd have to create a separate pattern introduced with the `function` keyword:
[code]

@aryx please let us know if you think of a better solution here. It looks like we'd have to allow method definitions as top-level patterns.

[2020-10-20 19:48] mjambon opened #1860 "Cannot match typescript function definitions with newline before body"
This is a [non-trivial bug in the tree-sitter typescript parser](https://github.com/tree-sitter/tree-sitter-typescript/issues/95).

It causes a function like the following:
[code]
to be identified as a function declaration `function foo()` followed by an independent statement block `{}` instead of the whole thing being one function definition.

Note that the following is parsed correctly:
[code]

[2020-10-20 23:39] brendongo commented on #772
Yeah with current benchmark we fail CI if semgrep becomes 15% slower than our 0.17.0 release on a given set of repos on every PR.

[2020-10-20 23:39] #772 closed, assigned to nobody

[2020-10-21 00:23] Isaac0616 commented on #1834
There are not a lot (`dir/` and `*.ext` cover most cases), but I encountered several times during migrating some rules we used to use regex to include/exclude files.
Not super urgent, but it helps reduce false positives.

[2020-10-21 02:48] msorens commented on #1852
@mjambon Two problems with your workaround.

1. The output goes from just a few lines (the function definition) to perhaps 100 lines (the entire class body). That presents a poor user experience; need to be able to constrain output to be terse.

2. What exists today does not quite make sense:
- one can match a single line of code (or single expression, if you will)
- one can match an entire class

[2020-10-21 02:58] msorens commented on #1825
@brendongo Just wanted to point out that that might not be the entire explanation. Your explanation covers case (b) but not case (a) I should think.

[2020-10-21 03:07] DrewDennison opened #1861 "Metavariable for method call should be matched against corresponding metavariable in method definition"
@msorens to looking to have https://semgrep.dev/s/erDl match as part of a more complex pattern. I triaged it down to a difference between `this.checkTypeChange()` and `checkTypeChange()` not being the same so `$FUNC` isn't matching both as perhaps it should. I also couldn't get `this.$FUNC` to match in the pattern https://semgrep.dev/s/vZ44

[2020-10-21 03:08] DrewDennison commented on #1861
More details in https://r2c-community.slack.com/archives/CK86BJ5DW/p1603248889264700

[2020-10-21 06:34] SPoint42 commented on #1851
I mean something like that on each rules:

[code]

[2020-10-21 06:36] ievans commented on #1126
This is done now, though we don’t print the percentage. Feel free to reopen!

[2020-10-21 06:36] #1126 closed, assigned to nobody

[2020-10-21 06:38] ievans commented on #634
I haven’t heard anything about this, so assuming it is stale.

[2020-10-21 06:38] #634 closed, assigned to nobody

[2020-10-21 11:13] aryx commented on #1850
This works on develop: https://semgrep.dev/s/Jq0Z/?version=develop
Should be in 0.28 that we release today.

[2020-10-21 11:13] #1850 closed, assigned to aryx, mjambon

[2020-10-21 11:20] underyx commented on #1858
@minusworld could you track fixing/working around https://github.com/returntocorp/semgrep/pull/1862/commits/e5670ed176e18a6927fea85d2a82212b5d272806 as part of this?

[2020-10-21 11:21] underyx opened #1864 "builds: Fail if a built wheel is >100MB in size"
PyPI would reject it later when we actually try to release it: https://github.com/returntocorp/semgrep/pull/1862/commits/e5670ed176e18a6927fea85d2a82212b5d272806

[2020-10-21 11:22] aryx commented on #1740
One issue is that AllowedOrigin in the pattern is parsed as an identifier, but in the code it's a keyword argument, and those are not matched agains one another. You could add more context around it to disambiguate that you look for a keyword argument, but I failed to get https://semgrep.dev/s/ZWEn/ working, so this needs further investigation.

[2020-10-21 11:34] aryx commented on #1852
This is because of grammar ambiguities and yacc shift/reduce conflicts.
When seeing bar(), yacc has no idea that you start to define a method in a semgrep pattern. It thinks you
started to write a function call. In typescript, the parser knows because you can define methods only inside a class, so when you parses 'class foo {', the official typescript parser knows that bar() is the start of a meth

[2020-10-21 11:35] aryx commented on #1852
Things are even worse in Javascript because some keywords like 'function' or 'class' are actually allowed as method names, and so for semgrep it's pretty difficult to parse any kind of patterns, hence the current requirement to write 'function bar() {' to clearly indicate to semgrep you want to parse a function/method.

[2020-10-21 11:41] aryx commented on #1852
@mjambon note this is actually where tree-sitter shines by using a Generalized LR algorithm instead of yacc LALR(1).

[2020-10-21 11:45] aryx commented on #1852
I can add some parsing hacks around yacc to allow toplevel method semgrep pattern, but it will have some restrictions.

[2020-10-21 14:05] aryx commented on #1360
Too complicated to debug, happened a long time ago. I investigated a bit back in the day but could not find the issue.
I don't think it's high-prio, we can spend a better time by profiling what we have and changing core matching algorithm (especially for foo(); ...; bar(); type of patterns).

[2020-10-21 14:05] #1360 closed, assigned to aryx

[2020-10-21 14:06] aryx commented on #1386
Does not sound like a program analysis issue. Removing from our board.

[2020-10-21 14:36] Sjord commented on #1392
I can't find anything in AST_Generic to represent an expression with an infix operator, such as `1 + 2`. I would expect `expr * operator * expr`. There is `AssignOp`, but as I understand, that is for `a += 1`. Am I missing something?

[2020-10-21 14:47] #1852 closed, assigned to mjambon

[2020-10-21 14:48] aryx commented on #1392
Yes you need to convert that in a Call (IdSpecial (Op Plus), e1, e2)
You can look in the codebase of pffff for js_to_generic.ml, or java_to_generic.ml to see how we convert those languages to the generic AST.

[2020-10-21 17:06] brendongo commented on #1825
Hmm I think (a) is a problem with our UI

[code]

There are actually two findings here but the UI doesn't clearly separate them

[2020-10-21 17:10] brendongo opened #1866 "Confusing output when multiple findings in same file"
**Describe the bug**
When semgrep finds multiple findings of the same rule on the same file it outputs them without clear delineation between the findings.

This has led to some confusion: https://github.com/returntocorp/semgrep/issues/1825#issuecomment-713722239

**To Reproduce**
Run any semgrep rule the fires twice on a file

**Expected behavior**
At least include whitespace between the findings

[2020-10-21 17:11] colleend opened #1867 "TS Parsing failing on juice-shop"
**Describe the bug**
typescript is failing on juice-shop

https://github.com/returntocorp/semgrep/pull/1806/checks?check_run_id=1232600832
ERROR message: Could not parse index.d.ts as ts
Semgrep.dev example: https://semgrep.dev/s/nezO/

'https://github.com/bkimminich/juice-shop
ERROR message: Could not parse user.service.ts as ts
Semgrep.dev example: https://semgrep.dev/s/ErEA/

**To Reproduce**
T

[2020-10-21 17:13] brendongo commented on #1825
Opened https://github.com/returntocorp/semgrep/issues/1866 to track the UI ugliness and we can use this ticket to track fixing the nosem not being reflected on stats

[2020-10-21 18:37] minusworld commented on #1858
If we run `strip` on `spacecat` and `spacegrep`, we can shave off 1MB. 🤷‍♂️

[2020-10-21 19:43] sabrinabrogren commented on #1856
Hello @vortfu, thank you for the detailed issue! I’m going to move this to our backlog for now since PHP is still in alpha, and we’re focusing on solidifying Ruby and Typescript before moving forward. Please let us know if this issue is blocking for you, and we can chat about a fix or workaround!

[2020-10-21 20:01] aryx commented on #1846
What is this construct? It's an assignment in the middle of class definition? In JS you can have properties, methods, what is this construct? and what is this variable with a $ at the end?

[2020-10-21 20:05] aryx commented on #1846
If you use the "Dump AST" you can see one possible reason. This thing is parsed as a FieldDef, but
your pattern is assignment. We do some special thing to allow x = a; to match declaration like int x = a; in some languages but we don't do it here for JS/TS, I think because people didn't want that sometimes.
We can revise that back.

[2020-10-21 21:12] mschwager opened #1868 "Lack of trailing newline masks Ruby parse errors"
Consider the following broken Ruby code:

[code]

We're missing the class's `end` statement. Running Semgrep gives the expected parse error:

[code]

However, if we remove the trailing newline it no longer produces a parse error:

[code]

[2020-10-21 22:37] nbrahms commented on #1539
@underyx @aryx I'm wondering if this is actually a good use for Semgrep or not.

I'd expect Semgrep to treat `"a" "b"` and `"ab"` as semantically equivalent, and hence not distinguish between the two ever.

Is it reasonable to just declare this use case out-of-scope?

IMO this should just be handled by Black.

[2020-10-22 06:46] aryx commented on #1392
Feel free to ask many many questions @Sjord. We know AST_generic.ml is not very well commented, so we know it's tedious to write those converters from tree-sitter CST to AST_generic.ml
Fantastic job btw, this looks great.

[2020-10-22 14:49] ievans opened #1873 "Can't use ellipsis after import in Java"
Example: https://semgrep.dev/s/D8Lj?version=develop

[2020-10-22 18:32] DrewDennison commented on #1361
@aryx see https://returntocorp.slack.com/archives/C6A1GN4P3/p1603390422139900 (this is a regression)

[2020-10-22 19:47] brendongo commented on #1864
We should see if there are easy wins to reduce package size. In the mean time I filed a ticket with pypi asking for an increase in our upload limit https://github.com/pypa/pypi-support/issues/681

[2020-10-22 19:51] brendongo commented on #1858
Fyi: https://github.com/returntocorp/semgrep/issues/1864#issuecomment-714722346 we might be able to increase our pypi limit.

[2020-10-22 19:53] minusworld commented on #1864
We could try stripping symbols from the binaries. It's a small savings:
[code]

[2020-10-22 20:05] minusworld commented on #1864
And using UPX:
[code]

[2020-10-23 06:55] ben-elttam opened #1877 "semgrep.dev Java Cannot match annotation to partial class"
Now that Support for partial class header and method header for java #1830 has been merged I expected this to rule definition to work.
https://semgrep.dev/s/l01j?stepByStep=1

I expect:

[code]

To match:

[code]

But it needs the ellipse on the class, which match/output the whole class, when I just want the class name.

Works but too verbose:

[code]

Summarised as a table:

| What

[2020-10-23 08:10] underyx commented on #1877
That table is so useful, thank you! @aryx since you made the two relevant fixes I assume you'll have a look at this issue as well?

[2020-10-23 09:37] aryx commented on #1864
Is this still an issue?
I've managed to reduce the semgrep-core binary from 116MB to 87MB (but this leads to a small loss of performance)

[2020-10-23 09:38] aryx opened #1879 "Match code even if the file contains parse errors, leverage tree-sitter error-recovery mechanism"

[2020-10-23 09:39] aryx commented on #1879
Most of the work has been done by martin before.
This just finishes the task by integreating martin's work at the right place in semgrep-core.

[2020-10-23 12:28] #1879 closed, assigned to nobody

[2020-10-23 13:20] erwanlr opened #1882 "Parse Error in files from popular Frameworks/Libraries"
semgrep v0.28.0 fails to parse some files from popular PHP Frameworks/Libraries.

To reproduce, download the latest version / master code via the link given and run semgrep again it

- https://github.com/sebastianbergmann/phpunit
[code]

- https://github.com/PHPOffice/PHPWord
[code]

- https://github.com/symfony/symfony
[code]

[2020-10-23 13:34] aryx commented on #1723
This now works thx to @brendongo fix where the python wrapper does not use abstract_content anymore but
extract the content from the range from the file directly (it has also some issues, like it deletes newlines in the matched code which can have bad implications, but that's another problem).

[2020-10-23 13:34] #1723 closed, assigned to emjin

[2020-10-23 15:00] #1841 closed, assigned to aryx

[2020-10-23 15:53] DrewDennison opened #1885 "Add support for `--message` and maybe also --fix"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I want to be able to run `semgrep --e '$X'  --message '$X is a expression'`

[2020-10-23 15:53] DrewDennison commented on #1885
cc @daghan

[2020-10-23 16:06] dlukeomalley commented on #1885
@DrewDennison @daghan Thanks for filing this feature request! I wanted to learn a little more about your workflow to scope the feature. Where and when do you find yourself reaching for Semgrep and desiring a `--message` argument? Thank you! :)

[2020-10-23 16:38] DrewDennison commented on #1721
https://r2c-community.slack.com/archives/CK86BJ5DW/p1603471048306900

[2020-10-23 17:18] colleend opened #1886 "Update Performance Baseline"
**Is your feature request related to a problem? Please describe.**
We are now parsing and scanning ts files, which leads to 10% increase in semgrep 0.17.0 baseline performance.

**Describe the solution you'd like**
We should update the baseline performance to be 0.29.0 and change the allowed deviation back to 5% once 0.29.0 is released.

[2020-10-23 17:55] #1721 closed, assigned to aryx, brendongo

[2020-10-23 19:45] sabrinabrogren opened #1888 "nosem behavior in Python"
**Describe the bug**
`// nosem` in Python appears to work to disable semgrep on a line.

**To Reproduce**
https://dev.semgrep.dev/s/3eWg/

**Expected behavior**
The line should still be flagged.

**What is the priority of the bug to you?**
P2 (regular bug that should get fixed)

[2020-10-23 19:49] aryx commented on #1888
Python use #, not //
https://dev.semgrep.dev/s/4B0g/

[2020-10-23 19:50] aryx commented on #1888
🤦

[2020-10-23 19:51] aryx commented on #1888
https://gph.is/g/Zdb5AgD

[2020-10-23 19:51] aryx commented on #1888
How do I include gifhy directly in github? Github forbids gifs?

[2020-10-23 19:54] aryx commented on #1885
Note that many people "abuse" the message to display code information and explore a codebase (especially ben on r2c-community), so I could see a use case for them.
they just want to display for example all the class in a project and use a pattern like -e 'class $A { ... }' --message 'found class $A'

[2020-10-23 19:54] sabrinabrogren commented on #1888
I'm confused, shouldn't it give a parse error because I used `//` instead of `#`?

[2020-10-23 19:54] aryx commented on #1885
Of course they can define the same via a local rule file in yaml, but the -e --message is shorter.

[2020-10-23 19:55] sabrinabrogren commented on #1888
Oh wait no, `//` is a thing in Python, it does floor division. So it shouldn't be a parse error, but it shouldn't ignore the finding like it does in the example. I'll edit the ticket...

[2020-10-23 19:55] aryx commented on #1873
@colleend want to have a look?

[2020-10-23 20:00] aryx commented on #1849
abstract_content does not contain the code token :) it contains the name of the expression, here the constant named 'CONST'

[2020-10-23 20:01] sabrinabrogren commented on #1888
https://dev.semgrep.dev/s/P9LN/ Another interesting example. Is it intentional that you just can't use the string `nosem` or it'll disable semgrep?

[2020-10-23 20:01] aryx commented on #1849
if you do print (($X : int_literal)) maybe you will get the right value in $X.

[2020-10-23 20:04] brendongo commented on #1888
@aryx https://dev.semgrep.dev/s/5WK6/ doesn't run in python but we parse it without issue somehow :D

[2020-10-23 20:06] aryx commented on #1776
Semgrep is not grep, so here we think you look for the identifier group_by, but group_by in the code is not a regular identifier,
it's a field name, which have different scoping rules than a regular identifier.
You need to be more precise right now and give more context like https://dev.semgrep.dev/s/Jq8o/
This is debatable, we could allow at some point single identifier like this to also be match

[2020-10-23 20:06] #1776 closed, assigned to nobody

[2020-10-23 20:06] brendongo commented on #1888
Nvm see // floor division above

[2020-10-23 20:06] #1888 closed, assigned to nobody

[2020-10-23 20:12] aryx commented on #1709
I guess this got fixed.

[2020-10-23 20:12] #1709 closed, assigned to DrewDennison

[2020-10-23 20:13] DrewDennison commented on #1885
@aryx yep it's exactly what you described so `-e` works and now `-msg` + `-json` allows for using semgrep as a tool to pipe to other tools without needing to break out yaml

[2020-10-23 20:14] aryx commented on #1670
@colleend kinda fixed it.
Let's close it for now.
If people want more magic auto-conversion from one to the other we can reopen the issue.

[2020-10-23 20:14] #1670 closed, assigned to nobody

[2020-10-23 20:20] aryx commented on #1203
This is kinda done no?

[2020-10-23 20:20] #1203 closed, assigned to nobody

[2020-10-23 20:23] aryx commented on #1147
update: there is a new matching engine inside semgrep called spacegrep. This can be used to match terraform.
@minusworld and @mjambon added this new feature.

However this will not do the kind of constant propagation you rely on your example.
Still, spacegrep could help other queries.

[2020-10-23 20:25] aryx commented on #1054
Now that we allow multiple --config, one with a URL and one using a local file, at least half of luke's request can now be done.
Closing for now, we can still reopen later if we feel the need for a more complex config file.

[2020-10-23 20:25] #1054 closed, assigned to nobody

[2020-10-23 20:27] aryx commented on #938
Any idea why the semgrep.live URL do not work anymore?
Did we reset the DB at some point?
Anyway, I think you can now use metavariable on annotations.

[2020-10-23 20:27] #938 closed, assigned to nobody

[2020-10-23 20:29] aryx commented on #840
We can do that by storing the pattern/message/fix in a local semgrep.yml file right?
@brendongo we could also allow it via the cli without an intermediate yaml file? Like we also want to support
the --message in #1885

[2020-10-23 20:30] aryx commented on #1885
We could also support -fix as mentioned in #840 ?

[2020-10-23 20:33] aryx commented on #838
We might switch that to a wontfix no?
Typescript is already hard to handle ... unless Facebook is ok to pay us a lot to support Flow (which I doubt they will).

[2020-10-23 20:34] aryx commented on #695
Well semgrep-core is now getting some coverage information! We could push this a little bit more
and indeed send the coverage data to codecov.io or coverall.

[2020-10-23 20:35] aryx commented on #695
But at least semgrep-core/scripts/run-coverage.sh satisfy your title, so I'll close this.
We can create another ticket to send the data to codecov or coverall.

[2020-10-23 20:35] #695 closed, assigned to nobody

[2020-10-23 20:36] aryx commented on #488
@DrewDennison any idea why the semgrep.live URL don't work anymore? Too old? We reseted the DB at some point?

[2020-10-23 20:39] aryx commented on #488
And you can now use metavariable for annotations: https://semgrep.dev/s/boqe/
Closing this as many people actually are using annotations in patterns.

[2020-10-23 20:39] #488 closed, assigned to clintgibler

[2020-10-23 22:10] #1825 closed, assigned to sabrinabrogren

[2020-10-23 23:32] clintgibler commented on #1851
Apologies for the response delay! Yes, if you want to just directly file PRs to https://github.com/returntocorp/semgrep-rules with that additional meta info for rules that don't have it, that would be much appreciated :D

[2020-10-23 23:40] clintgibler commented on #1346
@mschwager has this been completed?

[2020-10-23 23:50] clintgibler opened #1892 "Ruby metavars don't match full class paths"
**Describe the bug**
Currently, metavariables in Ruby will only match a solo class path (e.g. `class Foo`), but *not* if the class is something like `class Foo::Bar`.

**To Reproduce**
https://semgrep.dev/s/clintgibler:ruby-class-metavar-bug

**Expected behavior**
Ideally `class $CLASS ... end` should match all of the following:

[code]

Until this is the default behavior, rule writers will have t

[2020-10-26 08:34] aryx commented on #1892
It's because the way Ruby defines classes does not fit well with how the other languages are doing it, which means the generic AST does not represent well such class definitions. In every other languages a class is defined by a single identifier, which defines a class in the current scope (package, module, etc.).

[2020-10-26 16:05] mschwager commented on #1346
Looks like no: https://dev.semgrep.dev/s/RrLE?version=develop

[2020-10-26 16:18] Sjord commented on #1392
C# has [multidimensional arrays](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/arrays/multidimensional-arrays):

[code]

I was thinking of representing this as a [TyArray](https://github.com/returntocorp/pfff/blob/master/h_program-lang/AST_generic.ml#L880) with a [Tuple](https://github.com/returntocorp/pfff/blob/master/h_program-lang/AST_generic.ml#L305), so that writing `array2

[2020-10-26 21:59] nbrahms commented on #1831
Thanks @drorb . Alas, I don't think we can reproduce on our end. We'll keep an eye out, and look at pinning cert versions on our end.

[2020-10-27 00:51] chu66yUnic0rn commented on #1817
I have the same error caused by code:
`myWindow = NewCWindow(nil, &wRect, "\pHello", true, zoomNoGrow, (WindowRef) -1, true, 0);`
The issue is gone after removing `\p`

[2020-10-27 03:44] mjambon opened #1896 "spacegrep bug - indented ellipsis should match empty block"
Pattern:
[code]

Document 1, doesn't match:
[code]

Document 2, matches:
[code]

Both documents should match. Use `spacecat --debug` to see the difference between document 1 and document 2.

[2020-10-27 04:13] bflad opened #1897 "Matching multiple imports in Go"
## Description

It does not seem possible to match multiple imports in Go. For example, we want to report if a Go source file contains multiple imports matching certain patterns.

Example: https://semgrep.dev/s/D8nj?version=develop

[code]

## Attempted Patterns

Pattern could not be parsed as a Golang semgrep pattern:

[code]

No matches:

[code]

No matches:

[code]

No matches:

[code]

No matc

[2020-10-27 04:19] ievans commented on #1897
Hi @bflad thanks for sharing the full progression of things you tried, that's quite helpful feedback for us...though I imagine frustrating for you.

The answer here involves promoting from the single semgrep pattern to combining two patterns, though we could certainly change the Semgrep pattern syntax and I'd be happy to discuss. But to verify what I think is the solution, does https://semgrep.dev

[2020-10-27 04:53] bflad commented on #1897
Hi @ievans 👋  Thank you for the very quick response! Interesting, I wouldn't have thought to try `pattern-inside` there. It seems to work in the simple reproduction case with hardcoded import paths.

For the real world case, some additional context might be helpful -- we are looking to check multiple imports matching a prefixed pattern with a lot of potential combinations (https://github.com/aws/a

[2020-10-27 06:30] ievans commented on #1897
Yes, that's indeed a bug--regex ought to work in the imports. https://semgrep.dev/s/P9np cc @aryx thoughts?

If you want to work around it, there's an alternative syntax for regex that ought to work--`metavariable-regex`. Here's a javascript example of a similar concept that illustrates the use : https://semgrep.dev/s/rx46

Having to break out that extra syntax is a little uglier than it should be

[2020-10-27 10:46] dvyakimov opened #1900 "Can't find dangerouslySetInnerHTML in React"
Still have a question about how can i find some text in JSX.

Last ticket: #1791

How can i write some regexp to find JSON.stringify in dangerouslySetInnerHTML?
https://semgrep.dev/s/Jqnj

[2020-10-27 11:13] aryx commented on #1886
This is high-pri because all our CI tests are red because of the perftests failure.

[2020-10-27 11:14] aryx commented on #1882
Thx for the report!

[2020-10-27 11:15] aryx commented on #1882
Is there one parsing bug you really would like us to fix? Just to prioritize things.
Is this high-priority for you to be able to use semgrep?

[2020-10-27 11:34] erwanlr commented on #1882
Not really, they are all on the same level for me I would say. It happened when trying to parse some code I can't post here, but managed to find open source code with the same parsing issues.

Would not say it's a high one, but it's a bit annoying to not be able to fully parse some code to scan. Can still use semgrep on basic code.

[2020-10-27 11:48] #1892 closed, assigned to nobody

[2020-10-27 14:59] nbrahms opened #1902 "Can't match inside Python try/except clause"
See https://semgrep.dev/s/5WlD. I expect this to match on line 5.

[2020-10-27 21:00] aryx commented on #1902
add a () after bad and it will work ...
It's because of a special case to handle metavariable statement in python.

[2020-10-27 21:48] #1902 closed, assigned to nobody

[2020-10-27 21:55] aryx commented on #1392
Hmm, yes not super easy to represent right now. We could extend the generic AST at some point to better handle those.
In the mean time when a construct does not fit, you can use one of the OtherXxx constructor and Ox_Todo,
for example here could return for those multidimensional array something like
OtherType (OT_Todo, [T (TyArray ((lbracket_tok, None, rbracket_tok), type_elt)])

And later when we

[2020-10-28 03:04] msorens commented on #1846
@aryx

 The construct is defining a property of the class.

The dollar sign at the end is not significant at all for your purposes; just a [Finnish naming convention](https://medium.com/@benlesh/observables-and-finnish-notation-df8356ed1c9b) for Observables.

[2020-10-28 11:09] #1846 closed, assigned to aryx

[2020-10-28 11:39] aryx commented on #1886
@brendongo could you fix it or find the person responsible for this CI test.
It's causing all our PRs to be red :+1:

[2020-10-28 11:56] aryx commented on #1846
works on ?develop now.

[2020-10-28 13:08] aryx commented on #1861
Your second solution, with this.$FUNC should now work.

[2020-10-28 13:36] #1861 closed, assigned to aryx

[2020-10-28 13:36] msorens opened #1909 "Update semgrep-agent in Python Package Index with release cadence"
**Is your feature request related to a problem? Please describe.**
I want to use semgrep-agent via the Python Package Index (https://pypi.org/) (rather than your docker image) for my CI purposes. The reason is so that I can properly pass in the token secret.

**Describe the solution you'd like**
Need the semgrep-agent package kept up to date.

[2020-10-28 19:13] colleend commented on #1886
I can try to tackle this! Might not push it until next week though (due to code freeze)

[2020-10-28 21:03] #1886 closed, assigned to brendongo, colleend

[2020-10-28 22:46] minusworld opened #1912 "Semgrep with multiple configs only uses the last one."
**Describe the bug**
Semgrep with multiple configs only uses the last one.

**Screenshots**
![image](https://user-images.githubusercontent.com/2374948/97504723-b0cab300-1934-11eb-947a-3519c5e738a6.png)

**What is the priority of the bug to you?**
P2

**Environment**
pip install, v0.29.0

[2020-10-29 00:53] mjambon opened #1914 "Spacegrep bug: incorrect ellipsis span"
Pattern:
[code]

Document 1:
[code]

Document 2:
[code]

Document 1 should match, and it does match. Document 2 matches but it should not, because there are more than 10 lines between `a` and `b`.

The bug seems to be that the location of `b` is not checked, only the location of anything caught in the ellipsis (`1` in the example) is checked. Since `1` is less than 10 lines away from `a` and there

[2020-10-29 01:51] msorens opened #1916 "Indent on sample code affects autofix result"
**Describe the bug**
The output with `--autofix` changes based simply on the indent of the first line of this block of code:
[code]
As shown, the autofix output on semgrep.dev reports `returnthis.hasSession();`, which is wrong. There needs to be a space between `return` and `this`.

If I simply add an indent to the block of code like so:
[code]
Then the autofix output on semgrep.dev correctly repo

[2020-10-29 02:15] msorens opened #1917 "Auto-fix has... gone haywire"
**Describe the bug**
Auto-fix for the rule given below sometimes works, but sometimes... well, you have to see it to believe it. Read on...

Input
[code]

Rule
[code]
Output
[code]
As is often the case, a picture shows the problem more dramatically.
 - Two occurrences of the rule flagged: ✅
 - First occurrence fixed.  ✅
 - Second occurrence... mangled. ❌

<img width="1001" alt="image" src="https:/

[2020-10-29 07:58] ben-elttam commented on #1873
From my digging (in semgrep.live) this is what I have noticed in terms of behaviour.

If pattern is `import spark.Spark;` then dumping the pastern AST there is one.

<details><summary>Pattern AST</summary>

[code]

</details>

But if pattern is

[code]

Then the pattern AST is `{}` (an empty object). I'd expect the AST to be similar to the above but with some ellipse in addition.

<details><summar

[2020-10-29 08:50] ben-elttam opened #1919 "Equivalences cause Java parse errors"
https://semgrep.dev/s/l0OG?version=develop

Error with rule with `equivalences` feature:

[code]

If `equivalences` feature is commented out, or removed, then the parse error on the java file goes away. It seems the error is a bit of a red herring as it is complaining about the java source, but modifying the rule (`.yml`) makes the difference.

I know the feature is experimental, hopefully this bu

[2020-10-29 09:22] underyx commented on #1919
Thanks for the report! We have filed it in our backlog for when we shift our focus to experimental features 🙌

[2020-10-29 10:06] dvyakimov opened #1920 "Error in CLI version, but not Web version"
I have a working rule in web version:
https://semgrep.dev/s/6WRL

But at same time error in CLI version:
<img width="585" alt="Снимок экрана 2020-10-29 в 13 06 30" src="https://user-images.githubusercontent.com/34271513/97554265-90a7fc00-19e7-11eb-8f40-ae6d114964ed.png">
0.29.0 version

[2020-10-29 10:24] underyx commented on #1920
<img width="482" alt="Screenshot 2020-10-29 at 11 23 35" src="https://user-images.githubusercontent.com/1060436/97556039-3011c280-19d9-11eb-80ff-9290dac607a0.png">

Could you share a screenshot of this working on the web UI? I see the above error on your link, which is the same as the CLI returns.

[2020-10-29 10:29] dvyakimov commented on #1920
Sorry. You are right 👍
Previously, an error in the rules was highlighted with a red rim.

[2020-10-29 10:29] #1920 closed, assigned to nobody

[2020-10-29 10:53] underyx commented on #1920
Yes, thanks to your report I've filed an internal bug report to fix the error highlighting on the website! That really is an issue.

[2020-10-29 13:29] dlukeomalley commented on #1919
Always, thank you @ben-elttam and thank you @underyx. I've added a few labels for tracking.

[2020-10-29 13:36] aryx opened #1922 "Parse errors not shown when run with --strict"
When running with `--strict`, the suffix about parse errors removed (although the exit code flag is set).

[code]

So with --strict the only way to know there was a parse error is with --verbose.
Otherwise, the only hint is the exit code (which makes CI failing) that something is going on:

![image](https://user-images.githubusercontent.com/332336/97580753-03b76f80-19f4-11eb-8b75-91f2dcb11a19.png)

[2020-10-29 13:48] dlukeomalley commented on #1912
Thank you @minusworld for filing the ticket. I tested locally with v0.29.0 and it does look like this is an issue.

To reproduce I:
1. Created `bad.py` and `bad.go` with issues `p/python` and `p/gosec` would find.
2. I ran `p/python` and `p/gosec` individually on my codebase and confirmed that both found issues in their respective languages
3. I ran with both rulesets and confirmed that only the l

[2020-10-29 13:57] dlukeomalley commented on #1897
@bflad @ievans Thank you for the discussion and debugging. Tickets for the regex issues would be much appreciated.

With those filed, is it appropriate to close this issue given the `metavariable-regex` suggestion and/or the rule strategy @ievans provided?

[2020-10-29 14:51] bflad commented on #1897
Sorry for the slow response, `metavariable-regex` wasn't working with multiple imports in Go when I briefly tried it the other night. I'll circle back to providing a link that shows that later today and filing the regular expression issue.

[2020-10-29 14:59] dlukeomalley commented on #1900
@dvyakimov I gave this a go using `pattern-inside` to find `<script>` tags that use `dangerouslySetInnnerHTML` AND contain `JSON.stringify`. Does this look like what you want to match?

https://semgrep.dev/s/pGO0/

[2020-10-29 15:58] dlukeomalley commented on #1498
@brendongo @aryx Were you able to reach consensus on whether this was a bug or invalid code?

[2020-10-29 16:07] mschwager opened #1923 "Ellipsis operator parse error in C member assignment"
I would expect something like `$VAR->$MEMBER = ...;` to work in C:

https://semgrep.dev/s/X2K4/

[2020-10-29 19:27] brendongo opened #1925 "Semgrep Core sets file as "NO FILE INFO YET" when failing to parse C code"
**Describe the bug**
When running on invalid C code semgrep is unable to parse semgrep-core output. It assumes that
the path field in a LexicalError is a path to a file but instead it is the string "NO FILE INFO YET"

**To Reproduce**
Locally run `semgrep --config s/eryd` on the following target:

foo.c
[code]

**Expected behavior**
Should report as a parseerror

[2020-10-29 19:36] #1896 closed, assigned to mjambon

[2020-10-29 21:31] oreza commented on #1118
me too

[2020-10-29 23:03] #1914 closed, assigned to mjambon

[2020-10-30 01:49] bflad commented on #1897
Okay after retrying this today, it is working with `metavariable-regex` in the below example. 👍 Adding an ellipsis between the import statements causes significant processing delays in my real world testing, but we enforce import ordering via other means so not a concern for us.

[code]

[code]

I'll close this out as there is a workaround for my situation. Thank you for all your help.

[2020-10-30 01:49] #1897 closed, assigned to emjin

[2020-10-30 02:01] bflad opened #1927 "String Regular Expressions Not Matching in Go Imports"
**Describe the bug**

(Continuation of https://github.com/returntocorp/semgrep/issues/1897#issuecomment-716980074)

When attempting to use the `"=~/REGEX/"` syntax within the `import` statements of a Go source file, no matches are returned as expected.

**To Reproduce**

https://semgrep.dev/s/gpKx/

Source:

[code]

Attempted patterns:

[code]

[code]

[code]

[code]

[code]

**Expected behavior**

[2020-10-30 02:09] mjambon opened #1928 "Can't match file with no newline with spacegrep (generic mode)"
Repro:
[code]

but it should find one match, as in the following:
[code]

The `spacegrep` command line shows a match when `semgrep` doesn't:
[code]

Impact: prevents "hello world" examples from working in the live editor. Seems like any program containing a newline character is ok, though.

[2020-10-30 03:09] mjambon commented on #1928
Nope, the problem is with `spacegrep`, which behaves incorrectly when given a named file as input but behaves correctly when reading from stdin.

[2020-10-30 04:03] #1900 closed, assigned to nobody

[2020-10-30 04:23] dvyakimov opened #1930 "[JS] A metavariable can't match both a fieldname and a variable in an object as in { ..., $URI, ...}"
**SSRF is detected with explicit name "uri":**
https://semgrep.dev/s/3eze

[code]

**SSRF is missed with $URI pattern:**
https://semgrep.dev/s/4B3x

[code]

[2020-10-30 08:01] dvyakimov commented on #1930
I think, I understood:
https://semgrep.dev/s/Rr2g
It needs to be with this format:

[code]

Is it correct behavior?

[2020-10-30 08:37] mwild1 opened #1931 "Support for Lua language"
**Is your feature request related to a problem? Please describe.**

Add support for the [Lua language](https://lua.org/).

**Additional context**

Lua is used in a wide variety of contexts including many video games, business logic software, and within notable open-source software such as Apache, MediaWiki, Redis, VLC and Wireshark.

There is currently one popular static analysis tool for Lua, [lu

[2020-10-30 09:58] #1928 closed, assigned to mjambon

[2020-10-30 10:08] aryx commented on #1931
There is actually already a tree-sitter grammar for LUA: https://github.com/Azganoth/tree-sitter-lua
so integrating LUA should not be too difficult.
We already have a few people adding support for C# and kotlin by also usint a tree-sitter-based parser.

[2020-10-30 10:11] aryx commented on #1931
If you're willing to learn a bit OCaml, you could try to add yourself support for LUA!
See the work of @Sjord for C# support here: https://github.com/returntocorp/semgrep/issues/1392

[2020-10-30 10:18] aryx commented on #1930
It's because internally a JS object like o = { fld1, fld2: 3} is rewritten internally as o = { fld1: fld1, fld2: 3}
and using a metavariable $URI to match both a field name and a variable does not work.
We could probably fix it.
In the mean time yes you can be more explicit and do uri: $URI, or $FLD:$URI like you did above.
Here is the simplest fix:  https://semgrep.dev/s/D8Rd/

[2020-10-30 13:01] brampat opened #1932 "Add CI integration for Jenkins"
**Is your feature request related to a problem? Please describe.**
Not related to a problem

**Describe the solution you'd like**
Be able to use Semgrep in Jenkins CI, with something like a plugin.

**Describe alternatives you've considered**
Call Semgrep from CLI in Jenkins. This would need the Jenkins server to have Semgrep installed, which in some setups is a lot harder to configure. For instan

[2020-10-30 14:54] bobby-lin commented on #1330
Bumping this up. Is this work in progress?

[2020-10-30 15:27] mschwager commented on #1925
See our other `NO FILE INFO YET` issues too:

- https://github.com/returntocorp/semgrep/issues/1817
- https://github.com/returntocorp/semgrep/issues/1412
- https://github.com/returntocorp/semgrep/issues/275

We should at least return a more helpful error - something that the user can use to fix the problem or take additional action.

[2020-10-30 16:42] bobby-lin opened #1933 "[Semgrep Editor] Adding a generic HTTP servlet code to the existing sample java code"
**Is your feature request related to a problem? Please describe.**
Currently, I have to search code sample on HTTP servlet when I am writing a new rule from scratch in Semgrep editor.

**Describe the solution you'd like**
Add a generic HTTP servlet code to the existing sample java code. This will be useful for writing a rule that involves the request and response.

[2020-10-30 16:44] dlukeomalley commented on #1930
@aryx If I read your comment correctly, do you think this is an `enhancement`?

@dvyakimov Do you feel like you have a path forward based on @aryx's sample he shared?

[2020-10-30 21:10] dan5382 opened #1935 "Learn, Product, and About seem large"
change to all 16px

[2020-10-30 22:00] dan5382 opened #1936 "Rulesets"
Change to White background

[2020-10-30 23:59] reillybr opened #1937 "Wrong spacegrep executable installed by pip (was: Adding support for CFML)"
**Describe the solution you'd like**

It would be great to have support for Coldfusion/CFML in semgrep.  (Edit:  I'm looking at #1392 as well for some guidance on trying to take a shot at adding it.)

I can successfully run basic rules on CFML code in the web Live Editor, but it doesn't seem to work on the command line.

Error output:

% **semgrep -f test.yaml vuln.cfm**
running 1 rules...
spacegr

[2020-10-31 02:50] dlukeomalley commented on #1937
Thanks for filing this issues @otbar! It looks like there are two separate issues here, one with the "generic" language and a second request for adding Coldfusion/CFML.

@mjambon Thoughts on the "generic" bug? Do you want a separate ticket to track it?

@aryx Any guidance on adding new language support?

[2020-10-31 02:56] dlukeomalley commented on #1933
Thank you for filing this @bobby-lin! Do you have an HTTP servlet snippet that would be a good fit?

[2020-10-31 15:26] msorens commented on #1846
Just tested the same sandbox above (semgrep.dev/s/P9oE) and the behavior is unchanged; still not finding the first occurrence.

[2020-10-31 15:47] msorens commented on #1861
Just tested the "second solution" above (https://semgrep.dev/s/vZ44) and the behavior is unchanged with 0.29.0; still not matching.

[2020-11-01 00:41] jonatanmurga opened #1941 "FirebaseCustomRemoteModel remoteModel = new FirebaseCustomRemoteModel.Builder("your_model").build(); FirebaseModelDownloadConditions conditions = new FirebaseModelDownloadConditions.Builder() .requireWifi() .build(); FirebaseModelManager.getInstance().download(remoteModel, conditions) .addOnSuccessListener(new OnSuccessListener<Void>() { @Override public void onSuccess(Void v) { // Download complete. Depending on your app, you could enable // the ML feature, or switch from the local model to the remote // model, etc. } });"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**
Is this a P0 (blocking your

[2020-11-01 03:11] evandrix opened #1942 "Homebrew Error"
**Describe the bug**

**To Reproduce**
`brew update && brew upgrade && brew cleanup`

**Expected behavior**
successfully install without reporting any errors/warnings

**Screenshots**
N.A.

**What is the priority of the bug to you?**
P0

**Environment**

- OS: 64bit Mac OS X 10.15.7 19H2
- `brew --version`

[2020-11-01 03:32] mjambon opened #1944 "spacegrep stack overflow on file with 20K lines"
Running `spacegrep x -d .` on the semgrep repo fails, with a stack overflow and possibly a segfault (depending on command line). The following input file makes it crash:

[code]

[2020-11-01 03:40] mjambon commented on #1944
Increasing the stack size on linux with `ulimit -s 64000` is a temporary workaround which allows me to scan all the files in the semgrep repo (including build products).

[2020-11-01 18:53] clintgibler opened #1945 "Generic Language Metavariable Fails to Match HTML Attribute"
**Describe the bug**
Metavariable matching for the `generic` language matching does not work as expected. This is from a question on Twitter: https://twitter.com/omerlh/status/1322969765841874944.

**To Reproduce**
https://semgrep.dev/s/clintgibler:html-attribute-metavar-matching

**Expected behavior**
I would expect `<script ... src=$SRC ...>...</script>` to match `<script src="https://example.co

[2020-11-01 18:53] clintgibler commented on #1945
CC @minusworld @mjambon

[2020-11-01 18:54] dlukeomalley commented on #1942
Thanks for filing this issue @evandrix. I'll chat with the team first thing Monday about it and circle back with an update for you.

@brendongo @underyx Tagging you two for awareness, I think you have the most expertise here.

[2020-11-01 18:57] dlukeomalley commented on #1941
Hi @jonatanmurga, thanks for opening a ticket. Was this submitted accidentally? I'll close it preemptively, but please feel free to reopen with details and a description if it was intentional! 🙏

[2020-11-01 18:57] #1941 closed

[2020-11-01 19:25] msorens opened #1946 "Autofix applying wrong element"
**Describe the bug**
The variable descriptor is being used instead of the variable itself.
<img width="1115" alt="image" src="https://user-images.githubusercontent.com/6817500/97812194-8d558000-1c34-11eb-980a-50b375c6986d.png">

**To Reproduce**
https://semgrep.dev/s/6WXK/

Note: This sample actually contains 3 bugs; filing separately.

**Expected behavior**
Should be this:
[code]
and not this:
[c

[2020-11-01 19:30] msorens opened #1947 "Other occurrence of expression is not recognized"
**Describe the bug**
If I change $ITEM2 in the rule to just $ITEM it should work, but it does not match.

<img width="792" alt="image" src="https://user-images.githubusercontent.com/6817500/97812325-74010380-1c35-11eb-97de-4811a12a04ab.png">

**To Reproduce**
https://semgrep.dev/s/6WXK/

Note: This sample actually contains 3 bugs; filing separately.

**Expected behavior**
Should get a match if `$I

[2020-11-01 19:44] msorens opened #1948 "Semicolon matching and autofix"
**Describe the bug**
This is, I believe, just a usability issue.

As shown there is a double-semicolon in the autofix output (4).
That occurs because my `pattern` (1) is including a semicolon so I naturally included a semicolon in the `fix` (2) as well.
But now look at what was matched (3) -- it does not include the semicolon! Since the match did not include it, the double semicolon stems from the

[2020-11-02 08:17] omerlh opened #1949 "Error when trying to run semgrep that installed with python"
**Describe the bug**
When installing semgrep via pip, I am getting the following error:

semgrep --debug views/
running 1 rules from 1 config .semgrep.yml
running 1 rules...
Running rule find-missing-sri...
spacegrep output could not be parsed as JSON.
Traceback (most recent call last):
  File "/usr/local/bin/semgrep", line 8, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.9/site-

[2020-11-02 08:59] aryx commented on #1949
@mjambon ? "spacegrep output could not be parsed as JSON."

[2020-11-02 09:15] aryx commented on #1861
it works on develop.
https://semgrep.dev/s/vZ44?version=develop

it should be in the next release (0.30).

On Sat, Oct 31, 2020 at 4:47 PM Michael Sorens <notifications@github.com>
wrote:

[2020-11-02 09:20] aryx commented on #1846
works on develop https://semgrep.dev/s/P9oE?version=develop
Should be in the next release.

On Sat, Oct 31, 2020 at 4:26 PM Michael Sorens <notifications@github.com>
wrote:

[2020-11-02 09:25] aryx commented on #1937
Regarding language support, @colleend is working on adding support for Kotlin this month, and while doing so she will try to write some docs to help other people!

[2020-11-02 16:27] minusworld commented on #1858
I'm calling this closed since it is working in 0.29.

[2020-11-02 16:27] #1858 closed, assigned to mjambon, minusworld

[2020-11-02 18:29] brendongo commented on #1942
Hi I think you possibly installed a develop version of semgrep in the past with `--devel` but brew has recently deprecated that option. You can likely fix this by running `brew uninstall semgrep && brew install semgrep`

[2020-11-02 19:12] nbrahms commented on #1942
Hi @evandrix,

Can you confirm if the proposed fix above works for you?

Much thanks

[2020-11-02 19:26] DrewDennison commented on #1771
more context: https://r2c-community.slack.com/archives/GVB6L4HHC/p1601592049009200

[2020-11-02 19:41] mjambon commented on #1946
Thank you @msorens!

[2020-11-02 20:38] chgg-kboberg opened #1950 "[Javascript] support export-default-from JS extension"
**Describe the bug**
Semgrep fails to parse Javascript when file contents are a single "export" statement:

`export default from './SomeComponent';`

**To Reproduce**
https://semgrep.dev/s/2Lor

**Expected behavior**
This is valid Javascript and should parse.

**Screenshots**
N/A

**What is the priority of the bug to you?**
P2.  This is a "warn" semgrep error that is not exposed in normal operatio

[2020-11-02 21:28] rezen commented on #1882
I'm curious, would it be possible to have partial parsing? For example if the parser runs into something that it doesn't recognize, it could label it as such and continue on? I imagine this would be challenging around not being able to parse language constructs that create separate blocks/scopes (such as `new class(...)`). I suspect this probably would not work, but I figure why not throw ideas ou

[2020-11-03 00:20] dlukeomalley commented on #313
As originally filed this issue is resolved!

[2020-11-03 00:20] #313 closed

[2020-11-03 10:49] aryx commented on #1950
Seems to be a Javascript extension.
https://github.com/tc39/proposal-export-default-from

[2020-11-03 10:51] aryx commented on #1950
Is this feature supported by most browsers and by nodejs?

[2020-11-03 10:51] hexagonrecursion opened #1952 "C++ support"
I searched the issues and did not find a request for C++ support. Now there is one.

[2020-11-03 16:09] izar opened #1953 "Support for Scala"
Scala is growing as a choice in high-performance computing environments and data science, offering both OO and functional approaches. Developers would highly benefit from support in semgrep.

[2020-11-03 16:59] dlukeomalley commented on #1953
Thank you @izar for the tracking ticket and request! We'll look for more +1s here and start the conversation 👍

[2020-11-03 16:59] dlukeomalley commented on #1952
Thank you @hexagonrecursion for the tracking ticket and request! We'll look for more +1s here and start the conversation 👍

[2020-11-03 17:00] ievans commented on #1952
cc @aryx @mjambon and also see some prior discussion on HN: https://news.ycombinator.com/item?id=24932891

[2020-11-03 17:01] ievans commented on #1937
@nbrahms possibly the same issue as https://github.com/returntocorp/semgrep/issues/1949?

[2020-11-03 18:05] DrewDennison commented on #1118
update on this: @colleend is actively working on kotlin support! We hope to have it in alpha this month. Thanks for all the enthusiasm!

[2020-11-03 18:05] ievans opened #1954 "Document how to detect "import x.[some-regex]""
We've seen many users and bugs related to the general pattern of "I'd like to detect imports under some namespace, probably with a regex." cc @clintgibler @minusworld @DrewDennison

Examples:

* https://github.com/returntocorp/semgrep/issues/1771
* Python: https://github.com/returntocorp/semgrep/issues/1897
* Can't find the ticket, but for Javascript: https://semgrep.dev/s/rx46

Desired outcome:
*

[2020-11-03 18:07] chgg-kboberg opened #1955 "Metavariables don't work for class/interface keywords in Java"
**Describe the bug**
Metavariables don't work for class or interface identifiers in Java.  The following pattern should work, but throws an unparseable exception on semgrep.dev:
[code]

**To Reproduce**
https://semgrep.dev/s/B2oR

**Expected behavior**
Metavariables for class/interface identifiers should work correctly.

**What is the priority of the bug to you?**
This is a P1 and aligned with qua

[2020-11-03 19:41] nbrahms commented on #1955
Hi @chgg-kboberg ,

Thanks for filing this.

As a workaround, would https://semgrep.dev/s/D8pG/ work for you?

[2020-11-03 19:46] chgg-kboberg commented on #1955
@nbrahms this workaround will work in the interim, the metavariable behavior would just be useful to cut down on the number of duplicated rules (this use case already has a lot of edge/corner cases that require multiple similar rule definitions).

[2020-11-03 20:03] aryx commented on #1955
I don't think we can allow metavariables to match some keywords. That would lead to grammar ambiguities where we could not know what you want to match (maybe we could make it work for this precise example, but we could not generalize it; for example you cant use a metavariable to represent a if or for or while or do to factorize things; it leads to many grammar ambiguities). There's a reason keywo

[2020-11-03 20:10] aryx commented on #1955
Note that the pattern is actually already hard to read/parse for me as a human when I see public $IDENT $STRUCT { ... }

[2020-11-03 21:52] PatrikHudak opened #1956 "Support for no-include-lines in final output"
Hi,

when using semgrep on minifed Javascript, it is really unnecessary to include the lines matched, since the whole file is one line. When working with several megabytes large files, every hit replicates the matched line in final output. When there are several hits, the output is really... BIG!

Would it be possible to add option to disable line output in final txt/json output? I would still lik

[2020-11-04 12:17] hexagonrecursion opened #1960 "Missing ASI when parsing a semgrep pattern"
I am trying to match this
[code]

I tried this pattern https://semgrep.dev/s/6WGK/
[code]

Got:
Pattern could not be parsed as a Javascript semgrep pattern
Run with docker image: 0.29.0

I did find a pattern that works, but I don't understand why the first one did not.

https://semgrep.dev/s/olPX/
[code]

[2020-11-04 18:29] mschwager opened #1963 "PHP parse error special case with 'eval'"
It looks like `eval` is a special case in our PHP parsing:

[code]

[code]

[2020-11-04 19:29] evandrix commented on #1942
oh yes, it works! thanks

[2020-11-04 19:29] #1942 closed, assigned to brendongo

[2020-11-04 22:36] ievans opened #1964 "if semgrepignore was used to ignore paths, mention as part of output"
Users probably won't be aware that semgrep respects .gitignore by default -- this can result in users thinking that semgrep is broke/doesn't scan subfolders.

Proposal: if gitignore was used to ignore paths, mention as part of output

Expanded proposal: if _any_ source was used to ignore paths, explain what it was (eg `ignored paths from .semgrepignore and .gitignore`)

cc @brendongo

[2020-11-05 10:50] hexagonrecursion commented on #838
I encountered this as well when trying to apply semgrep to the mozilla repository https://hg.mozilla.org/mozilla-central/. Some files in it are using flow. It is not common though.

[2020-11-05 10:57] hexagonrecursion commented on #838
Is there a reason you can't use the Babel parser?

[2020-11-05 11:16] hexagonrecursion commented on #838
I guess one possible workaround would be to replace the custom flow syntax with the comment-based one https://flow.org/en/docs/types/comments/.

[2020-11-05 15:28] milo-minderbinder commented on #1877
@aryx it might be a PEBKAC issue, but I think this fix only partially works. I can see the test case you added in #1883 works and can verify that in the live editor, but if I try to run @ben-elttam's [example](https://semgrep.dev/s/l01j?stepByStep=1) it fails. After some attempts at debugging where/why it fails, I've noticed that it seems to be due to the `import`s at the top of @ben-elttam 's exa

[2020-11-05 16:09] svganesh opened #1967 "Semgrep not supporting nested functions."
Semgrep does not support grep in nested functions.

I want to check if make_transaction() is getting called in any of the child nested functions. Please help. Thanks!
https://semgrep.dev/s/wpEd

[2020-11-05 17:10] mjambon opened #1968 "Semgrep misses files when scanning a folder with -l=generic --include="*Dockerfile""
Command:
[code]

Expectation: It should print something like this:
[code]
where 1234 is the number of files found with `find . -name "*Dockerfile" | wc -l`.

Actual result: Semgrep finds 3 files when it should find over 1000 files in a hierarchy with sub-subfolders.

[2020-11-05 18:02] ievans opened #1969 "typescript parse error on conditional types: a extends b ? c : d"
https://semgrep.dev/s/erNL

[2020-11-05 18:03] ievans opened #1970 "typescript support for 'this' in user-defined type guards"
https://semgrep.dev/s/vZE0

[2020-11-05 18:10] msorens opened #1971 "semgrep.dev corrupts pattern switching from "advanced" to "simple""
**Describe the bug**
Semgrep.dev is not corrupting pattern when moving from "advanced" to "simple"

Here is one example that causes switching to "simple" just by starting the Share process.
![semgrep-share-issue (1)](https://user-images.githubusercontent.com/6817500/98279279-88ebd880-1f4e-11eb-8e5f-a2491881fe65.gif)

However, it is not really related to sharing per se. The same problem occurs if y

[2020-11-05 18:20] msorens opened #1972 "[typescript] Incorrect match being flagged"
**Describe the bug**
First, sorry for such a non-specific title above. Please rename to something more useful.

A couple things going on here.

Pattern:
[code]
Test code
[code]

Observations:
(a) Running on semgrep.dev (reporting 0.29.0) shows a match on line 3 (the `mergeMap`) but that is not correct; it should not flag a match.
(b) Running locally with v0.29.0 (`semgrep -f $SEMGREP_DIR`) on my o

[2020-11-05 19:22] chmccreery commented on #1971
@msorens thanks for the detailed bug report- I will jump on this right away

[2020-11-05 19:41] chmccreery commented on #1971
Fixed by https://github.com/returntocorp/semgrep-app/pull/1059

[2020-11-05 19:45] ben-elttam commented on #1877
What I’ve found is that if you import the full symbol, then the pattern
needs to be fully qualified to match the annotation.

I write these rules with pattern-either to handle it.
https://semgrep.dev/s/7gqQ/?stepByStep=1

On Fri, 6 Nov 2020 at 2:28 am, milo-minderbinder <notifications@github.com>
wrote:

--
Ben Cambourne

Security Researcher
m: (+61) 0431 943 433 p: (+61) 2 8004 5952
PGP: 3924 CE2

[2020-11-05 19:56] #1971 closed, assigned to chmccreery

[2020-11-05 20:27] #1949 closed, assigned to mjambon

[2020-11-05 20:30] #1912 closed, assigned to minusworld

[2020-11-05 20:31] mjambon commented on #1949
This was a packaging bug, sorry about that. This will be fixed in the next release of semgrep (0.31.0) which should happen next week.

[2020-11-05 20:36] mjambon commented on #1937
@otbar we fixed the packaging bug (#1949, #1973) that was causing the cryptic error message. It will be available next week when we release semgrep 0.31.0. Thanks for your patience!

[2020-11-05 23:34] ben-elttam commented on #1877
What I’ve found is that if you import the full symbol, then the pattern
needs to be fully qualified to match the annotation.

I write these rules with pattern-either to handle it.
https://semgrep.dev/s/7gqQ/?stepByStep=1

[2020-11-05 23:36] mjambon opened #1975 "Ignore typescript .d.ts files"
When semgrep scans for typescript files, it looks for `*.ts`, which includes files ending in `.d.ts` which are [typed interfaces for javascript code](https://www.typescriptlang.org/docs/handbook/declaration-files/templates/module-d-ts.html). Our parser currently doesn't support them, resulting in error messages that don't benefit the user.

Suggestion: filter out files with the `.d.ts` suffix in a

[2020-11-06 16:40] ievans opened #1977 "Confusing output for invalid language"
[code]
Ideally this "bug generating manual config" would not be a part of the output.

Suggested output:
[code]

[2020-11-06 18:43] brendongo opened #1979 "Remove static thumbnail when posting semgrep.dev link"
When semgrep.dev links are posted it shows the same static thumbnail https://semgrep.dev/thumbnail.png
in the future we might want a dynamic thumbnail but for now it would be nice to remove the static thumbnail altogether.

**Additional context**
Relevant community slack thread: https://r2c-community.slack.com/archives/CK86BJ5DW/p1604396252410200
https://medium.com/slack-developer-blog/everything-

[2020-11-06 18:46] msorens commented on #1861
Yes, I see it does work on "develop" per the link above, but it is not working on the released 0.30.0--even though it is in the release notes for 0.30.0. Perhaps it was not actually included in the release?

[2020-11-06 19:17] ievans opened #1981 "indefinite hang when running r/javascript rule"
**Describe the bug**

Semgrep hangs for 20+ minutes when running r/javascript on itself. The first rule is `javascript.jquery.security.audit.jquery-insecure-selector.jquery-insecure-selector`.

**To Reproduce**

[code]

**Expected behavior**
Execution should finish in <60sec for the whole rule pack.

**What is the priority of the bug to you?**
P1 for me but could be P0 for user so tagging as high.

[2020-11-06 20:09] j-martin opened #1982 "Feature - Add the ability to specify a maximum or expected number of violation before triggering an `ERROR`"
**Describe the solution you'd like**

For example, if the rule is violated 10 times it's a `WARNING`, but the 11 time it's `ERROR` . The idea is to progressively reduce the usage of a rule, ratcheting down the number progressively, and preventing new infractions.

For example, we want to deprecate the use of a library in our code without having to do a full rewrite.

On top of that, it would be ni

[2020-11-06 21:29] chmccreery commented on #1861
@msorens it looks like semgrep.dev accidentally did not get updated to use 0.30.0 yet - should be done later today I think!

[2020-11-06 21:57] chmccreery commented on #1861
Ok, 0.30 has been deployed on semgrep.dev and it looks like [https://semgrep.dev/s/vZ44](https://semgrep.dev/s/vZ44) now works. Sorry for the release delay, and thanks for pointing it out

[2020-11-06 22:16] daghan opened #1983 "Improve Notifications section of the docs"
Perhaps we should add some requirements like you need to login with your GH account and add a project and then for each type of notification (ex: slack) explain what you need to do.

[2020-11-06 22:20] pabloest commented on #1983
`<heavy>`+1`</heavy>` from me since currently this requires the visitor to log in to the Semgrep app in order to see those notification details.

[2020-11-07 01:09] TeoZosa commented on #1981
+1, I think this same issue is causing CI job failures on my end with `json.decoder.JSONDecodeError: Expecting value: line 1 column 1 (char 0)` errors.

Failures started this morning at 9:31 AM PST (last successful run at 8:27 AM PST).

[2020-11-07 19:07] #1944 closed, assigned to mjambon

[2020-11-08 04:43] msorens commented on #1861
I had first seen this--or so I thought(!)--when running locally. Turns out it was my error--my real pattern had a flaw. So, yes, this is good as is!

[2020-11-09 04:57] j-martin opened #1987 "Bug - Python - Issue handling f-strings with date formatting"
**Describe the bug**
The parser can't handle f-strings with date formatting that have `/`.

**To Reproduce**

[code]

**Expected behavior**
It should handle them properly.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**
P2

**Environment**
0.300 on macOS installed with brew.

[2020-11-09 12:25] ubimars commented on #1952
+1

[2020-11-09 13:54] aryx commented on #1952
Do you have example of codebase you would like to analyze? A big problem is that we want to parse the code as-is, but
if the C++ code uses heavily cpp macros using weird syntax, we will not be able to parse the code.

[2020-11-09 14:41] aryx commented on #1925
Note that the code is invalid in your example because you use python style comment # xxx on a C file.
It causes a lexical error (not a parse error), which causes then the No File info Yet.

[2020-11-09 15:59] emjin commented on #1371
Not sure what I looked at that made me open this issue. I vaguely recall finding documentation that there could be multiple expressions, but maybe I read it wrong. Closing

[2020-11-09 16:00] #1371 closed, assigned to emjin

[2020-11-09 16:12] #1925 closed, assigned to nobody

[2020-11-09 19:52] mjambon commented on #1969
tree-sitter-typescript will have to support [conditional types](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-8.html). See https://github.com/tree-sitter/tree-sitter-typescript/issues/82

Test in the typescript sandbox: https://www.typescriptlang.org/play?#code/C4TwDgpgBMULxQM7AE4EsB2BzKEAewEGAJolAEYD2lANhAIYZQD8UGArgLbkQpQBcSVJiwAoIA

[2020-11-09 21:18] mschwager commented on #1982
Hi @j-martin,

Thanks for the feature request. I wonder if we can take a step back and consider other approaches to achieve your goals.

Instead of specifying a specific number of expected violations, would the following work:

1. Run Semgrep with the rule(s) you're considering
2. Mark all existing violations as [`nosem`](https://semgrep.dev/docs/running-rules/#managing-findings), thus ignoring th

[2020-11-09 21:22] mschwager commented on #1987
Hi @j-martin,

Thanks for the report - this looks like a bug in our Python parser. I've included this on program analysis board and will notify the relevant parties :+1:

[2020-11-09 21:31] mjambon commented on #1970
It looks like [user-defined type guards](https://www.typescriptlang.org/docs/handbook/advanced-types.html#user-defined-type-guards) are supported by tree-sitter-typescript but `this` isn't accepted as a variable in `this is T`. Filed at https://github.com/tree-sitter/tree-sitter-typescript/issues/96.

[2020-11-09 21:39] mschwager commented on #1967
Hi @svganesh,

Semgrep will find nested functions, but it appears that your pattern is not matching what you expect in the example code. For example, the following pattern finds the nested function: https://semgrep.dev/s/KdP5/. Looking at your example code, I think we will need some more complex logic to find what you're looking. The following should work: https://semgrep.dev/s/q6E7/. As you can s

[2020-11-09 21:39] #1967 closed, assigned to nobody

[2020-11-09 21:42] j-martin commented on #1982
@mschwager I ~~almost~~ feel silly for asking the feature now since the workflow you are suggesting is exactly what we've been doing with every other linters. I'll close the issue.

[2020-11-09 21:42] mschwager commented on #1960
Hi @hexagonrecursion,

Thanks for the report. It looks like Semgrep unnecessarily requires a `;`. This looks like a JS parsing bug to me, I'll move this to the correct board and notify the appropriate team.

[2020-11-09 21:43] #1982 closed, assigned to mschwager

[2020-11-09 21:51] dlukeomalley commented on #1982
@j-martin The idea is a good one regardless, thank you for filing the issue!

@mschwager @j-martin The [Semgrep CI](https://github.com/returntocorp/semgrep-action) runner also only shows new issues introduced by a PR, which I think acts in the way you'd want (avoiding the need for adding `nosem` comments).

[2020-11-09 22:03] mschwager commented on #1972
Hi @msorens,

My JS/TS knowledge is not great, but is this what you're looking for: https://semgrep.dev/s/l0gE? The [`metavariable-regex`](https://semgrep.dev/docs/writing-rules/pattern-logic/#metavariable-regex) operator is particularly useful here.

[2020-11-09 22:23] msorens commented on #1972
@mschwager Nice! Using `metavariable-regex` is (a) a cleaner solution and (b) works correctly with my data. So I will update my code accordingly and that gets me quite unblocked. Thanks!

(Note, however, that does not change the fact that my original rule worked in 0.29 and now fails in 0.30, so there is still a bug there, no?)

[2020-11-09 22:29] msorens opened #1990 "UX for multiple matches: need visual separation cue"
**Is your feature request related to a problem? Please describe.**
When semgrep reports multiple issues in a single file it is not at all obvious. The first couple times I did not even realize they were separate issues. The only way to tell is to notice discontinuities in the line numbers. Need to be much more obvious than that.

**Describe the solution you'd like**
Add a visual cue separating con

[2020-11-09 22:30] mschwager commented on #1925
@aryx Can we output something more descriptive than `NO FILE INFO YET`? That would be very helpful for debugging.

EDIT: Looking at https://github.com/returntocorp/semgrep/commit/a288fcc4a85cd2dc453c37248ca67299f8111cde more closely, it looks like we shouldn't get `NO FILE INFO YET` anymore?

[2020-11-09 22:32] j-martin opened #1991 "Feature - #nosem should be case-insensitive"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
Using `#nosem`, `#NOSEM`, `//NOSEM`, etc. should work the same way.

**Describe alternatives you've considered**

Use the current convention.

**Additional context**
This feature is debatable, but hey!

[2020-11-10 01:21] mjambon opened #1992 "typescript parsing bug: cannot parse 'foo<bar[]>()'"
The following fails to parse:

[code]

But this works:
[code]

to do:
* [x] simplify test case
* [x] ~~find out name of feature that's missing~~
* [x] report bug to tree-sitter-typescript
* [x] fix bug
* [x] upgrade the grammar in semgrep

Needs to be fixed at https://github.com/tree-sitter/tree-sitter-typescript/issues/97

[2020-11-10 01:33] dlukeomalley commented on #1990
I believe this is a duplicate of https://github.com/returntocorp/semgrep/issues/1866. I'd favor this ticket over the other due to its greater detail 👍

[2020-11-10 01:33] dlukeomalley commented on #1866
Closing in favor of https://github.com/returntocorp/semgrep/issues/1990

[2020-11-10 01:33] #1866 closed, assigned to nobody

[2020-11-10 02:11] mjambon opened #1993 "typescript parsing bug: support optional properties for mapped types: '[P in keyof A] ?: any'"
This requires a fix in the tree-sitter-typescript grammar. See https://github.com/tree-sitter/tree-sitter-typescript/issues/98

[2020-11-10 02:29] j-martin commented on #1982
@dlukeomalley in my case, I'd rather have the `// nosem: do-not-do-that` peppered as a reminder.

[2020-11-10 04:31] mjambon opened #1994 "typescript parsing bug: support types of the form 'keyof typeof foo'"
This requires a fix in the tree-sitter-typescript grammar. See details at https://github.com/tree-sitter/tree-sitter-typescript/issues/99.

[2020-11-10 04:45] mjambon opened #1995 "typescript parsing bug: 'export default abstract class C {}'"
This requires fixing tree-sitter-typescript.

See https://github.com/tree-sitter/tree-sitter-typescript/issues/100 for details.

[2020-11-10 06:38] #1968 closed, assigned to mjambon

[2020-11-10 06:55] hexagonrecursion commented on #1952
@aryx

1. [Cataclysm - Dark Days Ahead. A turn-based survival game set in a post-apocalyptic world. ](https://github.com/CleverRaven/Cataclysm-DDA)
2. https://hg.mozilla.org/mozilla-central/

[2020-11-10 07:06] hexagonrecursion commented on #838
On the subject of the workaround: [noppa](https://github.com/noppa) has [pointed out to me](https://github.com/facebook/flow/issues/8524#issuecomment-724067454) that there is a tool that can automatically replace the custom flow syntax with the comment-based one https://babeljs.io/docs/en/babel-plugin-transform-flow-comments/

[2020-11-10 07:43] aryx commented on #838
We usually avoid to call pre-processors because we want to report bugs on the original source file, not on pre-processed code
that may not maintain correct line information. If babel can maintain those line information, they you could indeed call babel first on the file and then run semgrep on it.
However, semgrep also has the autofix feature, and in that case we definitely want to modify the orig