[2021-05-25 14:15] aryx commented on #3152
maybe this is a tree-sitter-ruby bug.

[2021-05-25 14:16] aryx commented on #3152
https://github.com/tree-sitter/tree-sitter-ruby/issues

[2021-05-25 14:18] aryx commented on #3151
@aegarbutt-stripe would you mind submitting an issue also on the tree-sitter-ruby repo?
https://github.com/tree-sitter/tree-sitter-ruby/issues
We're using tree-sitter to parse many programming languages, including Ruby, so this is likeley a bug in there.

[2021-05-25 14:21] aryx commented on #3108
hmm an exit code of -11 might be a segmentation fault.

[2021-05-25 14:22] aryx commented on #3105
I think it's fixed now.

[2021-05-25 14:22] #3105 closed, assigned to aryx

[2021-05-25 18:03] aegarbutt-stripe commented on #3151
@aryx I added a comment to an existing issue upstream on tree-sitter. Thanks.

[2021-05-25 18:31] #3179 closed, assigned to brendongo

[2021-05-25 19:17] aegarbutt-stripe commented on #3152
Filed upstream at https://github.com/tree-sitter/tree-sitter-ruby/issues/174

[2021-05-25 19:48] erwanlr opened #3191 "echo not supported as pattern-sinks in PHP taint mode"
**Describe the bug**
echo is not supported as a `pattern-sinks` in taint mode in PHP

**To Reproduce**
https://semgrep.dev/s/DJWq

**Expected behavior**
Line 6 and 9 in the playground linked above should match and not result in `Semgrep exited with an unspecified error`

**What is the priority of the bug to you?**
P0: blocking your adoption of Semgrep or workflow

[2021-05-25 19:53] mschwager opened #3192 "[JS] Add support for private class fields"
JS/TS supports special [private class fields](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Private_class_fields) syntax, but it looks like we can't parse it yet: https://semgrep.dev/s/WgkZ/

[2021-05-25 19:57] mschwager commented on #3192
Another example from the MDN page: https://semgrep.dev/s/0n7q/

[2021-05-25 20:42] #3178 closed, assigned to nobody

[2021-05-25 20:50] aryx commented on #3191
I think it's because taint-mode currently restricts source/sinks/sanitizers to expressions, but echo is a statement.

[2021-05-25 20:51] aryx commented on #3191
In the long term we want to specify a source/sink by any pattern (expr, stmt, parameter, etc.) and be also able to specify a source/sink by a formula (a conjonction of pattern-inside with a pattern for example, and with a metavariable-regexp even).

[2021-05-25 20:52] aryx commented on #3192
Is it an official extension or just in mozilla js engine?
We should report the bug in tree-sitter-javascript then.

[2021-05-25 20:54] mschwager commented on #1096
Another edge-case from GitLab (https://gitlab.com/gitlab-org/gitlab/-/issues/331452): `__import__`.

E.g. https://semgrep.dev/s/qr1b/

[2021-05-25 22:43] CGamesPlay commented on #3187
Wow. Astounding turnaround time. Thank you.

I briefly reviewed the commit which resolves and I did have one note, which I don't believe affects this issue but which may be relevant for future issues:

[code]

Properly representing this may be useful for more detailed rules, although again my request is satisfied.

Thanks again for the amazing turnaround time.

[2021-05-26 02:07] karling1989 commented on #3108
Thanks for your response!
This time the command I ran is:
============================
semgrep -v --debug -f ../rules_backup_2/semgrep-rules-develop/javascript/puppeteer/security/audit/puppeteer-goto-injection.yaml /tmp/targets/

and I got this error:
================================
Version cache expired: 1621907795:1621994402.7777445
A new version of Semgrep is available. Please see https://gith

[2021-05-26 03:12] minusworld opened #3195 "Semgrep reports '0.0' for all runtimes with --time when the target is an absolute path"
**Describe the bug**
Running on Semgrep `0.52.0`, running Semgrep with `--time` where the target is an absolute path causes Semgrep to output all zeroes for the runtimes. `--time` still works with relative paths.

Of note, `--time` works with absolute paths in version `0.50.1`, but not after. Perhaps it's related to [this changelog entry](https://github.com/returntocorp/semgrep/blob/f24a4222c01fb9

[2021-05-26 08:38] erwanlr commented on #3191
Please also consider casting (ie `(int) $_GET['x'];`) in pattern-sanitizers, so far I've been unable to handle them (I think because it's a statement and not an expression as well)

[2021-05-26 10:05] aryx commented on #3178
should work now

[2021-05-26 10:07] aryx commented on #3178
We correctly match the closing paren now, see https://semgrep.dev/s/2b7B/?version=develop

[2021-05-26 10:17] aryx commented on #3191
hmm no Cast should be expressions, but you need to remove the trailing semicolon to get an expression.

[2021-05-26 10:27] aryx commented on #3187
thanks for the explanation, I've added a note about it in pfff/lang_js/parsing/ast_js.ml

[2021-05-26 10:41] Anthony-Mckale commented on #2533
had same issue on local git-bash or cmd windows, but works for me in wsl2 (ubuntu vm)

my setup

1) installed the ws2 ubuntu vm from here = https://docs.microsoft.com/en-us/windows/wsl/install-win10

2) modified my .bashrc to take my standard windows python out of the mix and added "/home/local/.local/bin" which is where the python3 cli pip apps will be installed

3) then installed python 3.8 and

[2021-05-26 12:59] erwanlr opened #3198 "b && c does not match a && b && c"
**Describe the bug**
In PHP, `pattern: "!check1($VAR) && !check2($VAR)"` or even `pattern: <... !check1($VAR) && !check2($VAR) ...>` do not match something like `if (!check3($stuff) && !check1($stuff) && !check2($stuff)) {`, but matches `if (!check1($stuff) && !check2($stuff) && !check3($stuff)) {`

Don't know if it's a regression or not, but I am pretty sure it was working in at least a previous

[2021-05-26 13:39] erwanlr opened #3199 "Taint Mode Features Request"
**Is your feature request related to a problem? Please describe.**
1. ~~When playing around with the taint mode in PHP, I came across a case where I need to specify in which argument position the source should be (either in `pattern-sinks` or `pattern-sanitizers`) - https://semgrep.dev/s/pljJ~~ There is a trick to do that: https://github.com/returntocorp/semgrep/issues/3199#issuecomment-908635051

[2021-05-26 14:32] mschwager commented on #3192
Looks like they're a part of the [ECMA standard](https://stackoverflow.com/questions/22156326/private-properties-in-javascript-es6-classes), and are available in [most implementations](https://github.com/tc39/proposal-class-fields#implementations).

[2021-05-26 15:53] aegarbutt-stripe commented on #3178
🎉

[2021-05-26 19:27] mschwager commented on #3049
To start, I'm thinking of adding some kind of [`DeprecationWarning`](https://docs.python.org/3/library/exceptions.html#DeprecationWarning) when we detect `equivalences` use. We could then warn about the deprecation for 2-4 releases, link to this issue in the message, give users some time to voice their concerns, then remove the functionality from the Python interface if there are minimal objection

[2021-05-26 19:34] aryx commented on #3049
sounds good to me.

[2021-05-26 19:49] aryx commented on #3198
yes it's because && is left associative, so a && b && c is parsed as (a && b) && c, which is not matched by b && c.

[2021-05-26 19:50] aryx commented on #3198
We should handle specially those binary operators.
cc @IagoAbal

[2021-05-26 19:51] aryx commented on #3198
that's where user-defined equivalences could be useful ... to define the associativity, commutatitivity and distributivity of certain operators.

[2021-05-26 19:54] aryx commented on #3199
I think it's nice if we can reuse the boolean logic composition of patterns to describe precisely a source/sink/sanitizer, here for example
[code]

[2021-05-26 20:29] aryx opened #3202 "[Metachecker] detect wrong use of pattern-not"
Context https://r2c-community.slack.com/archives/C018NJRRCJ0/p1622060003061000

[code]
"I wanted to match only functions that do not contain a return statement. Is this the way to go?
I expected it to not match this (but it did):"

Actual solution: https://semgrep.dev/s/B4w7

[2021-05-26 20:38] aryx opened #3203 "[Metachecker] detect useless pattern-either and patterns"
context: https://r2c-community.slack.com/archives/C01KY32FDAT/p1621891891043200

from @minusworld:
[code]

[2021-05-27 05:29] richvdh commented on #2633
Bump

[2021-05-27 05:36] aryx commented on #1059
👋

[2021-05-27 05:38] aryx commented on #1644
This is mostly done. We have now $...X for most languages for calls and statements

[2021-05-27 05:38] aryx commented on #1644
Not yet for parameters or decorators

[2021-05-27 07:22] aryx commented on #2746
some discussions about possible implementations: https://r2c-community.slack.com/archives/C01LNF69F9B/p1622066772009400

[2021-05-27 07:32] #3195 closed, assigned to colleend

[2021-05-27 12:51] 101142TS opened #3207 "[Java] Symbolic expression propagation"
**Describe the bug**
Hello team,
Can semgrep expand the expression（Similar to three address codes）？Or is there any other tool that can help me expand the expression in Java? thx :D

**To Reproduce**

Code A and code B are semantically the same.  For code B, I just expanded the expression in code A.
code A:
[code]
code B:
[code]
The following rule matches code B well, but not code a.
[code]

**Expe

[2021-05-27 13:43] OlegPQ opened #3208 "Missing "message" and "severity" in the output"
I downloaded the latest release at the moment, _semgrep-v0.53.0-osx.zip_ from https://github.com/returntocorp/semgrep/releases. Start semgrep in the following way:

`./semgrep -config ./rule.yaml -lang go ./code`

**Rule.yaml** (a simple example from the package):
[code]

**Output:**
[code]

I noticed that my output is different from the examples on the internet, there is no `message` and `severit

[2021-05-27 14:19] aryx commented on #3207
cc @IagoAbal

[2021-05-27 14:21] aryx commented on #3207
maybe symbolic expression propagation could help here, but that means you would write the simpler pattern
[code]
and it would match A and B because we would propagate expressions.

[2021-05-27 14:22] aryx commented on #3208
Are you using semgrep or the semgrep-core binary? Looks like the output of semgrep-core.

[2021-05-27 14:31] OlegPQ commented on #3208
You are right, semgrep-core.
The archive contained only semgrep-core and spacegrep. So I renamed semgrep-core to semgrep, didn't know they could be different and thought they are the same. So, semgrep-core cannot output the above mentioned information?

[2021-05-27 15:19] 101142TS commented on #3207
What is the meaning of symbolic expression? I didn't find an explanation in the document(https://semgrep.dev/docs/). Would you please write down the complete rules? Thank you very much.

[2021-05-27 16:34] aryx commented on #3208
you can use the -json flag I think to get those information, but it's better to use the semgrep python wrapper you can install via homebrew or pypi.

[2021-05-27 17:06] ievans commented on #1964
@brendongo now that we display the number of scanned files this seems less important. What do you think?

[2021-05-27 17:09] OlegPQ commented on #3208
Yeap, -json works, I can see the `message`, but with this flag I cannot see the code and `severity`.

That's exactly what I wanted to avoid.

There doesn't seem to be a solution.

[2021-05-27 17:48] ILoveWin32k opened #3211 "[Python] Deep Statement expression bug when matching with pattern-not-inside"
https://semgrep.dev/s/v0G8

in this simple example, the if expression should match but it does not, due to some internal dataflow issue

[2021-05-27 18:25] ievans commented on #1644
@aryx @minusworld is $...X documented on semgrep.dev/docs?

[2021-05-27 19:08] ILoveWin32k opened #3212 "[Python] semgrep cannot match class code, with or without aliasing"
I need to match a whole class with a pattern and not use pattern-inside to find code inside a pattern
and semgrep does not match the class code...

reproduce:
https://semgrep.dev/s/E595

expected:
  match the class

 result:
  matches nothing

[2021-05-27 20:45] mschwager opened #3214 "Specifying multiple JSON keys requires ellipsis"
This seems odd to me:

- Doesn't work: https://semgrep.dev/s/4yAL/
- Works: https://semgrep.dev/s/Pp43/

[2021-05-27 21:10] #1595 closed, assigned to nobody

[2021-05-27 21:10] #2434 closed, assigned to nobody

[2021-05-27 21:10] #2518 closed, assigned to mjambon

[2021-05-27 21:10] #2594 closed, assigned to nobody

[2021-05-27 21:10] #2523 closed, assigned to nobody

[2021-05-27 21:10] #2487 closed, assigned to nobody

[2021-05-27 21:10] #2439 closed, assigned to nobody

[2021-05-27 21:10] #2433 closed, assigned to nobody

[2021-05-27 21:10] #2484 closed, assigned to nobody

[2021-05-27 21:20] minusworld commented on #2653
I still want to do this some time

[2021-05-27 21:25] ievans commented on #2437
Go away stale bot

[2021-05-27 21:28] brendongo commented on #3044
External ask: https://r2c-community.slack.com/archives/CK86BJ5DW/p1622147935097300

[2021-05-28 00:05] brendongo commented on #3208
@OlegPQ you can also run from our published docker image. But for now we don't build a binary for the python wrapper around semgrep-core.

Going to close this issue as resolved feel free to open a new one re: packaging/binaries

[2021-05-28 00:05] #3208 closed, assigned to nobody

[2021-05-28 07:38] aryx commented on #1644
I don't think so. Also we could extend the cheatseet autogeneration to look for metavar_ellipsis_args.sgrep (and later for also _params, and _stmts)

[2021-05-28 07:51] #3124 closed, assigned to brendongo

[2021-05-28 08:17] aryx commented on #3044
people end up doing binary search on their repo to find which file is causing some errors ... Not good.
Why --debug does not output the file being processed?

[2021-05-28 08:18] aryx commented on #3044
The slack link above has great context on what we should do.

[2021-05-28 08:30] aryx opened #3220 "Show which files are currently processed in --debug mode"
context: https://r2c-community.slack.com/archives/CK86BJ5DW/p1622147935097300

right now if semgrep-core segfaults on a file, there is no easy way to know what was the file in the error messages.
People resorts to:
[code]
which is not good.

The --debug mode should display the rules x files pair being currently processed.

[2021-05-28 08:30] aryx commented on #3220
related: https://github.com/returntocorp/semgrep/issues/3044

[2021-05-28 08:52] aryx commented on #3170
This works now: https://semgrep.dev/s/L0bG?version=develop
Might want to use gofmt on the autofixed code though ...

[2021-05-28 08:52] #3170 closed, assigned to aryx

[2021-05-28 08:54] aryx commented on #3212
Weird. This does not work either: https://semgrep.dev/s/R8Jv/

[2021-05-28 08:57] aryx commented on #3207
Oh sorry, markdown issue. I've written the complete pattern above.

[2021-05-28 08:57] aryx commented on #3207
The term symbolic expression was meant for my colleague Iago; it's not documented, it's an internal term we use to discuss about certain features.

[2021-05-28 08:58] aryx commented on #3203
Note that it seems the playground sometimes automatically adds those redundant pattern-either.

[2021-05-28 12:05] pavkir opened #3223 "[Scala] TyDefined not implementd error, Failed to create generic AST with scala code"
**Describe the bug**
Conversion to the generic AST failed with "TyRefined not handled"

[code]

**To Reproduce**
Try to analyze attached code.

**Expected behavior**
Code analyzed successfully

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [] P0: blocking your adoption of Semgrep or workflow
- [X] P1: important to fix o

[2021-05-28 14:03] mschwager commented on #3214
Although it works with just the two keys: https://semgrep.dev/s/B4X7/

This seems fine to WONTFIX too, it just caught me a little off guard.

[2021-05-28 14:08] mschwager commented on #3220
While reviewing some other changes I noticed that `semgrep-core` debug functionality is enabled via the `--debugging-json` flag, not `--debug`: https://github.com/returntocorp/semgrep/pull/3154#issuecomment-845270231. I suspect this is a bug due to the confusing nature of `OutputSettings.debug`.

[2021-05-28 16:58] ievans commented on #1644
I'll make an issue for the docs, and close this one.

[2021-05-28 16:58] #1644 closed, assigned to nobody

[2021-05-28 17:01] ievans opened #3226 "Document $...X (sequence metavariable)"
Now that https://github.com/returntocorp/semgrep/issues/1644 is mostly done, we need to document.

- [x] Document $...X in https://github.com/returntocorp/semgrep-docs
- [ ] Extend the cheatseet autogeneration to look for metavar_ellipsis_args.sgrep (and later for also _params, and _stmts)
- [ ] Decide whether it is a blocker for alpha/beta/GA languages to support this feature

cc @aryx

[2021-05-28 17:03] ievans commented on #1644
Note we didn't implement binding new metavariables corresponding to every item. I'll let someone create a new issue or re-open this one if there's a lot of interest.

[2021-05-28 17:04] mschwager commented on #1644
Yeah, we should do this, and probably make it a requirement for GA languages so users know where they can expect it :+1:

[2021-05-28 17:36] nbrahms opened #3227 "[story] semgrep user browsing rule in repo navigates to the source repository of a rule"

[2021-05-28 18:27] #2016 closed, assigned to ievans

[2021-05-28 20:35] minusworld opened #3231 "Move `perf/` into its own repository"
`perf/` is getting a lot of attention lately, but it really only has a nominal dependency on Semgrep itself.

Moving `perf/` into its own repository will let us more easily develop here, plus allowing us to more easily set up testing.

When this gets moved, `perf/` will still need to:
- work with an arbitrary version of Semgrep, so that fixes optimizations can be tested
- run regularly and report

[2021-05-28 20:44] nbrahms opened #3232 "Project hash metric depends on passwords"
**Describe the bug**
The project hash should be a stable function of the project location, and not dependent on username or password.

**To Reproduce**
Run `echo $(git ls-remote --get-url) | sha256sum` in a gitlab CI multiple times

**Expected behavior**
Our metrics return the same value from run to run

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or wo

[2021-05-28 21:03] mschwager commented on #3232
Another consideration, if `git` isn't available we make the following call:

[code]

I suspect the `.com` search will fail for non-`.com` hosted `git` repositories, e.g. `.net`. I don't think this is a problem for `gitlab.com` cloud repositories, but may cause issues with on-prem deployments.

[2021-05-29 01:32] mjambon opened #3235 "Report number of target files that were skipped due to excessive size"
Since we started [ignoring targets over a certain size](https://github.com/returntocorp/semgrep/pull/3081), we should report how many files were skipped due to this filter.

[2021-05-29 01:41] mjambon opened #3236 "Move spacegrep code to the same dune project as semgrep-core"
Having a single dune project for all ocaml code in the semgrep repo would be simpler than the current setup which requires building and installing spacegrep independently before building semgrep-core. It used to make a bit more sense when the two code bases didn't depend on each other but now that they do, let's `git mv spacegrep semgrep-core/src/`. It shouldn't be too difficult but we need to mak

[2021-05-29 04:20] aryx opened #3238 "[Debugger] help rule writer use deep expr correctly"
context: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1622214411075100

here is the pattern:
[code]
and here is the source code
[code]

this was not matching because ... actually it should maybe match.
In any case the user found that this was working:
[code]

This is an example where the playground should help the user towards the solution.

[2021-05-29 04:23] aryx opened #3239 "[equivalence] foo(1,<... 2 ...>) should match foo(1, param=2)"
https://semgrep.dev/s/WgBZ

[2021-05-31 10:38] IagoAbal commented on #3198
Do you mean that we should have those equivalences built into the matching engine?

[2021-05-31 12:39] aryx opened #3240 "[Python] force an expression statement context (to detect unused return value)"
See https://semgrep.dev/s/kLge/
and for context https://r2c-community.slack.com/archives/C018NJRRCJ0/p1622132558067800

The user does not want to enumate all the possible use of $X.resize() via pattern-not.
We would like to write a pattern that impose an expression statement context.

The problem is that in Python, unlike C, there is no terminating ';' so when one writes the pattern
'foo()' we don

[2021-05-31 12:43] aryx commented on #3198
yep. I don't think the user-defined equivalence feature could anyway  fix the issue.

[2021-05-31 12:57] aryx commented on #3240
priority for user: p1

[2021-05-31 17:46] #3223 closed, assigned to aryx

[2021-05-31 18:23] j-martin opened #3243 "[Java] import $PATH; does not capture the whole path including the trailing .*"
**Describe the bug**

I am trying to prevent our engineers to use wildcard import. With grep I can do `.*\.\*` to escape the `.*`, but semgrep does not seem to be handling those. I might be doing something wrong (e.g. YAML escaping on top of regex escaping), but permutations like `.*\\.\\*` or `.*\\\.\\\*` did not help. I could not find anything in the docs regarding this behavior.

[code]

`ripgr

[2021-05-31 18:29] aryx commented on #3243
Hmm looks like the .* is not in the $PATH, so the metavariable-regexp would not work anyway:
https://semgrep.dev/s/jNK2/

[2021-05-31 18:31] aryx commented on #3243
You can directly match .* though: https://semgrep.dev/s/1nyQ/
with
[code]

[2021-05-31 18:33] j-martin commented on #3243
~~@aryx to confirm, you are suggesting this is an actual bug and not a user error?~~

Perfect!

[2021-05-31 18:34] aryx commented on #3231
Are we sure we want to do that?
cc @emjin

[2021-05-31 22:02] #3243 closed, assigned to nobody

[2021-06-01 04:28] #3177 closed, assigned to aryx

[2021-06-01 04:51] aryx commented on #3214
I think we should impose '...' to express you don't care about other keys. We are not always consistent there, but
the good behavior I think should be to impose to have a '...', like we do here.

Let me know where we don't force the '...'.
I know we currently don't in JSX for attributes, but I want to fix that.

[2021-06-01 04:51] #3214 closed, assigned to nobody

[2021-06-01 04:54] aryx commented on #3239
whether foo(1, 2) should match foo(1, param=2) is more debatable.

[2021-06-01 04:56] aryx commented on #3220
@brendongo I think one of the issue is that we capture the stdout/stderr of semgrep-core python side, and display its content only after semgrep-core terminated; we should display its content as we go.

[2021-06-01 04:59] aryx commented on #3156
@abhinavbansal19961996 did you try our kotlin parser on gradle file? Does the gradle file you use use the kotlin syntax?

[2021-06-01 07:04] aryx commented on #3240
A possible trick is to write the pattern in a language where expression statements are explicit, e.g., C, but applies
it to another language, e.g., Python.

[2021-06-01 07:08] aryx commented on #3101
Can we close the issue? Seems done no?

[2021-06-01 07:12] aryx commented on #3070
In the long term, I think people should run their autoformating tool (prettier, gofmt, rustfmt, etc.) on the autofixed code.
We can definitely try to indent a bit better for some easy cases, but it might be complicated to handle correctly for all posible autofixing.

[2021-06-01 08:04] erwanlr opened #3245 "PHP - Taint - Using sink such as require leads to semgrep error"
**Describe the bug**
In taint mode, with the PHP language, using a sink such as `require(...)` raises a semgrep error: `Pattern id from semgrep-core was missing in pattern spans.`. All other PHP inclusion sinks are also affected

**To Reproduce**
https://semgrep.dev/s/kLqz

**Expected behavior**
Semgrep should not error

**What is the priority of the bug to you?**
P2

[2021-06-01 08:43] aryx opened #3246 "Negation and metavariables mismatch"
**Describe the bug**

Generalizing https://semgrep.dev/s/xY3P/
to use metavariable and metavariable-regexp with https://semgrep.dev/s/wxyX/
does not give the same result.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

**Environment**
If not using semgrep.

[2021-06-01 08:49] aryx commented on #3240
nice recent variant to try to avoid expression context: https://semgrep.dev/s/O12b/

[2021-06-01 08:52] aryx commented on #3240
other variant: https://semgrep.dev/s/e4AE/ still does not work

[2021-06-01 08:54] artemisart commented on #3240
Added an example to highlight the limitations of these rules https://semgrep.dev/s/v09R/

[2021-06-01 09:19] aryx commented on #2977
Another good example: https://semgrep.dev/s/E595
if you take the class part of the pattern, it matches, if you take just the assign it matches, but together
it does not match.
Would be good if the debugger indicate that the statement inside the pattern, and the class header match.

[2021-06-01 10:24] aryx commented on #3212
The problem had actually nothing to do with aliasing.
It's because $VAR = Vuln() was not matched in any order, because assign in Python inside classes
were not translated in VarDef.

[2021-06-01 10:32] aryx commented on #3246
maybe we do the metavariable-regexp filtering too late. We should maybe distribute it to all the patterns that use the metavariable
with an intermediate And.

[2021-06-01 10:35] aryx commented on #3246
maybe this is 101 logic ...
we have A /\ not B /\ not C /\ not D /\ metavariable-regexp
and we should do
(a /\ metavariable-regexp) /\ (not B /\ metavariable-regexp) /\ ...

We are using metavariables inside A, B, C, and D, so maybe we have some implicit existential in there, and we should distribute the condition on it.

[2021-06-01 10:37] aryx commented on #3246
Right now how things are implemented is that each pattern is tried independently, but maybe this is wrong regarding the existential.

[2021-06-01 10:37] aryx commented on #3246
We need to talk with a logician :)

[2021-06-01 10:38] aryx commented on #3246
Combining boolean logic and metavariables is tricky.

[2021-06-01 11:42] IagoAbal commented on #3246
Minimized example: https://semgrep.dev/s/8nO4/

[2021-06-01 12:11] #3212 closed, assigned to aryx

[2021-06-01 12:14] IagoAbal commented on #3246
Perhaps Boolean logic is not expressive enough to reason about this. The `metavariable-regex` is more like a "where" clause on the matches of the patterns. So if we have `A /\ not B /\ not C /\ not D where W` I guess that is equivalent to `(A where W) /\ not (B where W) /\ not (C where W) /\ not (D where W)`.

[2021-06-01 12:17] IagoAbal commented on #3246
Well we need to sort out the details of `P where W` when `W` refers to a metavariable that is not bound by `P`.

[2021-06-01 13:58] emjin commented on #3231
I think this is a good idea; perf is separate from semgrep functionality, and that way we don't need to worry about the size of files we include

[2021-06-01 16:42] squaresurf commented on #3232
@mschwager heads up that https://gitlab.com/gitlab-org/security-products/analyzers/semgrep/-/merge_requests/40 and https://gitlab.com/gitlab-org/security-products/analyzers/semgrep/-/merge_requests/44#note_585005828 ensure that git is now available when semgrep is running in GitLab :smile:

[2021-06-01 17:39] chmccreery commented on #3070
@aryx that is a good point - I was mostly thinking about python, where indentation can influence the logic of the code. Are any other languages like that? Maybe this is python-specific 🤔

My expectation (for python) would be that the indentation of the autofix is all done relative to the first line of the autofix, and that the absolute indentation of the first fixed line matches the absolute inden

[2021-06-01 18:04] #3232 closed, assigned to brendongo

[2021-06-01 22:24] emjin commented on #3155
@IagoAbal What's the status of this?

[2021-06-01 23:51] brendongo commented on #2989
Going to close for now. Looks like we rely on tree-sitter being a very specific version.

[2021-06-01 23:51] #2989 closed, assigned to brendongo

[2021-06-01 23:55] brendongo commented on #2047
Closed by https://github.com/returntocorp/semgrep-docs/pull/185

[2021-06-02 05:41] aryx commented on #3070
Scala and haskell are indentation sensitive too

[2021-06-02 06:38] IagoAbal commented on #3155
I will dig into this today.

[2021-06-02 08:06] IagoAbal commented on #3155
This is due to an incomplete AST-to-IL translation, will fix.

[2021-06-02 09:47] IagoAbal commented on #3245
The main issue is that `include(...)` is not accepted as a Semgrep pattern: https://semgrep.dev/s/R812/

[2021-06-02 13:13] IagoAbal commented on #3245
Note that the status of PHP support is alpha, and in particular `...` are not yet allowed in every place where they could make sense. But you can aways use a metevariables instead, e.g. https://semgrep.dev/s/AlR6/. However your example still doesn't work https://semgrep.dev/s/B4A9/.

[2021-06-02 13:26] erwanlr commented on #3245
Ohhhhh, so that's because of the `...` in the end :o

The search mode and metavariables regex is what I am doing currently, but it's not really maintainable to consider every (real case) possibilities (and sanitisation as well).

My example was a dummy one, but it appears to work on real case ones with the metavariable trick, so will change the priority of the issue from P0 to P2 :)

Thanks again!

[2021-06-02 20:41] kiwiz opened #3257 "Metavariable patterns"
**Is your feature request related to a problem? Please describe.**

Let's say I'm looking for calls to the following functions:

- `sqlx.Get($_X, $_Y, $QUERY, ...)`
- `$OBJ.Get($_X, $QUERY, ...)`

I'd like to be able to match cases where `$QUERY` is an expression like:
- `$X + $Y`
- `fmt.Sprintf("...", $X)`
- etc

**Describe the solution you'd like**

It'd be nice to be able to define patterns tha

[2021-06-02 20:43] ievans commented on #3257
@kiwiz thanks for this feedback. We have a different solution in mind for cases like this that I wonder if you found in the experiments section of the docs: taint mode. https://semgrep.dev/docs/experiments/overview/#taint-tracking. Would be curious for your feedback!

[2021-06-03 04:46] #2617 closed, assigned to nobody

[2021-06-03 04:46] #2634 closed, assigned to nobody

[2021-06-03 04:46] #1086 closed, assigned to nobody

[2021-06-03 04:46] #1478 closed, assigned to nobody

[2021-06-03 04:46] #2544 closed, assigned to nobody

[2021-06-03 04:46] #1717 closed, assigned to nobody

[2021-06-03 13:13] pavkir opened #3261 "[Scala] error: unrecognized symbol: '"
**Describe the bug**
Failed parsing akka route params
[code]

**To Reproduce**
Check this code fragment:
[code]
**Expected behavior**
Successful file parsing

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

**Environment**
official binary

[2021-06-03 14:50] mschwager opened #3263 "Investigate GitLab SAST CI/CD timeouts"
We've found the following GitLab SAST CI jobs timing out:

- https://gitlab.com/Yrkki/cv-generator-fe/-/jobs/1280773458
- https://gitlab.com/sia-insa-lyon/dev/portailva-2/portailva-website/-/jobs/1311413602
- https://gitlab.com/gitlab-org/status-page/-/jobs/1314483231
- https://gitlab.com/gitlab-org/monitor/sandbox/splattael-status-page/-/jobs/1282811227

Let's investigate what's making them take

[2021-06-03 15:15] kiwiz commented on #3257
@ievans Oh, good point! I've played around with taint tracing, but I haven't used it for any real rules yet. After some consideration, I think that isn't quite what I'm looking for (in this specific case) as I don't have any specific sources in mind - I just want to discourage this pattern.

[2021-06-03 15:21] #3101 closed, assigned to mjambon

[2021-06-03 16:20] hex0punk opened #3264 "TypeScript constructors are not parsed correctly in the pattern"
**Describe the bug**
The `constructor` function in typescript is not parsed correctly. The error received is `Pattern could not be parsed as a Typescript semgrep pattern`.

**To Reproduce**
See https://semgrep.dev/s/WgXz/

**Expected behavior**
Semgrep should parse TypeScript constructor

**Screenshots**
N/A

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep

[2021-06-03 19:04] ievans commented on #1954
Go away stalebot

[2021-06-03 19:06] ievans commented on #1086
I confirmed this is fixed in 0.53.0 (probably earlier)

[2021-06-03 19:55] #2047 closed, assigned to brendongo

[2021-06-04 07:44] hoeg opened #3269 "Fix-regexp does not resolve metavariables"
**Is your feature request related to a problem? Please describe.**

Sometimes I need to reference metavariables when doing `fix-regexp`. I have a pattern using meta variables and I want to add a fix where the variable is part of the fix.

[In this example](https://semgrep.dev/s/KWD6) we want to add a statement referencing the `$RESP` variable but the suggested fix does not resolve to value of `$RE

[2021-06-04 09:34] aryx commented on #2996
so @emjin and @chmccreery you're on this right?

[2021-06-04 09:34] aryx commented on #3001
so @emjin and @chmccreery you're on this right?

[2021-06-04 09:43] aryx opened #3270 "[Scala] parsing correctly s"$foo${1}", ending $ not part of identifier"
The spec https://scala-lang.org/files/archive/spec/2.13/13-syntax-summary.html says $ can be part of an identifier,
but the official scala compiler does not.

[code]
this parses correctly with Scala 2 and 3 (and prints just " $")

[2021-06-04 10:36] #3155 closed, assigned to IagoAbal

[2021-06-04 10:40] #3270 closed, assigned to nobody

[2021-06-04 11:52] aryx commented on #3264
Note that switching to tree-sitter-typescript to parse the pattern may solve this issue.

[2021-06-04 12:41] #3261 closed, assigned to nobody

[2021-06-04 21:06] chmccreery commented on #3001
Yes! @emjin shall I put time on our calendars for today? Or next week?

[2021-06-04 21:09] emjin commented on #3001
Next week? Getting a bit late for me today

[2021-06-04 23:02] ievans opened #3279 "matching keys and values in JavaScript objects"
Reporting for an external user. When trying to match a structure like those found in package.json, such as:

[code]
(1) The following matches only the first or last entry in the object:
[code]

Desired behavior is that it returns a match for every key under "dependencies".

Playground url: https://semgrep.dev/s/2b25

Bonus bug, it finds nothing when in JSON mode. Playground url in JSON mode: https

[2021-06-04 23:05] ievans opened #3280 "document quote-sensitive behavior in JavaScript"
Reporting on behalf of an external user. JavaScript object matching appears to be sensitive to quotes in strange ways. Eg., searching for `"$KEY": "$VALUE"` doesn't work, but searching for $KEY: $VALUE does.

`$KEY: $VALUE` matches: https://semgrep.dev/s/2b25
`"$KEY": $VALUE` matches: https://semgrep.dev/s/jNPA
`"$KEY": "$VALUE"` doesn't match: https://semgrep.dev/s/KWBd <- unexpected

We should e

[2021-06-04 23:22] #3100 closed, assigned to brendongo

[2021-06-05 13:59] aryx commented on #3257
metavariable-pattern is now supported in semgrep-core! It just remains a little bit of work
to make it available in the semgrep python wrapper.

[2021-06-05 14:00] aryx commented on #3280
yep we don't support metavariable inside strings. You can just do "..." inside strings.

[2021-06-05 14:02] aryx commented on #3280
We may accept them for keys in dictionnaries because those keys are treated specially; they are not regular strings, they
are object fields.

[2021-06-05 14:05] aryx commented on #3191
Can we close this @IagoAbal ? Should work now?

[2021-06-07 07:57] IagoAbal commented on #3191
Not yet, since making `echo` an expression in the parser introduced conflicts I will now try converting the pattern after the fact. I'll handle this today.

[2021-06-07 08:58] IagoAbal commented on #3245
I am not sure what happened, but it does work now. Maybe it was something wrong with the Playground.

[2021-06-07 09:44] #3245 closed, assigned to IagoAbal

[2021-06-07 09:52] erwanlr commented on #3245
Thanks for the update!

In the test cases (https://github.com/returntocorp/semgrep/pull/3286/files), shouldn't it be `echo "...";` instead of `echo ...;` (and same for the other `...` basically) ? Based on other patterns (like in search mode), I would not expect `echo ...;` to match `echo 'test';` but rather `echo $something;`

[2021-06-07 09:58] fenollp opened #3287 "Support for Erlang"
I'd like to write semantic rules for the https://www.erlang.org/ programming language which semgrep has no support for today.

**Describe the solution you'd like**
First-class support for Erlang as there is for Go and others.

**Describe alternatives you've considered**
https://github.com/facebookarchive/pfff/tree/ec21095ab7d445559576513a63314e794378c367/lang_erlang has a (complete?) implementatio

[2021-06-07 10:14] Sjord opened #3289 "Ellipses for parameters in C#"
It would be nice to match any C# method like this:

[code]

For this to work, ellipses should match zero or more parameters.

I tried adding the following to [fyi/semgrep-grammars/src/semgrep-c-sharp/grammar.js](https://github.com/returntocorp/semgrep-c-sharp/blob/main/fyi/semgrep-grammars/src/semgrep-c-sharp/grammar.js).

[code]

However, this is overwritten on build. Is this the correct method?

[2021-06-07 10:16] IagoAbal commented on #3245
`...` matches "anything", whereas `"..."` matches _any string literal_ (modulo constant propagation), so `echo ...` matches `echo 'test'` and also `echo $something`, whereas `echo "..."` matches `echo 'test'` but not `echo $something`.

[2021-06-07 12:21] #3191 closed, assigned to IagoAbal

[2021-06-07 17:51] #3257 closed, assigned to IagoAbal

[2021-06-07 17:53] ievans commented on #3280
Thanks for clarifying @aryx. I think the ticket should then be to update the docs so that this behavior is clear for users

[2021-06-07 18:50] emjin opened #3295 "Implement taint-analysis in semgrep-core"
Currently, we're going through `--optimizations none` for taint rules. Change this

[2021-06-07 18:50] emjin opened #3296 "Implement debugging-json in semgrep-core"
This will allow us to properly turn on optimizations all

[2021-06-07 18:51] emjin opened #3297 "Implement in semgrep-core or deprecate pattern-where-python"
Currently, we're going through `--optimizations none` for pattern-where-python. Either implement some version of this or deprecate it altogether

[2021-06-07 19:12] emjin opened #3298 "Return ranges for parse errors to display a nice message"
From https://github.com/returntocorp/semgrep/pull/3277:

pattern -> character numbers mapping that it uses to pretty print
pattern parse errors. We currently do not have access to the correct
character offsets in the yaml parser in semgrep-core but are thinking
of moving to a differnt parser that does give us character offsets.

For now special case the pattern-parse errors when running with
whole

[2021-06-07 19:21] emjin opened #3299 "Allow users to select optimization level using --optimizations"
While in theory `--optimizations` was meant to allow users to turn on and off various optimizations (caching, bloom filters, whole rule), right now all it does is select `run_rules_in_semgrep_core`. It operates as a string comparison (if argument passed is `none`, turn off `run_rules_in_semgrep_core`. We should commit to this feature flag or rename it.

[2021-06-07 21:04] #2744 closed, assigned to emjin

[2021-06-07 21:05] #3074 closed, assigned to emjin

[2021-06-08 06:14] aryx commented on #3289
This is the one you want to modify: https://github.com/returntocorp/ocaml-tree-sitter/blob/master/lang/semgrep-grammars/src/semgrep-c-sharp/grammar.js

It's explained a bit here: https://github.com/returntocorp/ocaml-tree-sitter/blob/master/doc/updating-a-grammar.md
"syntax extensions to support semgrep patterns, such as ellipses (...) and metavariables ($FOO). This is lang/semgrep-grammars/src/se

[2021-06-08 06:17] aryx commented on #3295
I think we can wait for @IagoAbal to finish tainting 2.0.

[2021-06-08 10:38] xmo-odoo opened #3304 "Provide better contextual display for patterns with large elisions"
**Is your feature request related to a problem? Please describe.**
Given a pattern like:
[code]
(taken straight from the default JS ruleset), if the `...` in the middle is very large (I've seen one extreme case where there are thousands of lines between the `require` call and the use, though a few hundreds is pretty common) semgrep will only show the initial part of the match.

**Describe the solu

[2021-06-08 11:02] xmo-odoo opened #3305 "Undetected typos / errors in metavariable names"
When using metavariable-regex with an incorrect metavariable, no error is triggered:

[code]
Note the `metavariable` doesn't match anything defined in the `pattern`. I did not.

Now I do not know how "missing" metavariables are modelled internally by semgrep, or how `metavariable-regex` is modelled, so it's possible that there's a way to check that the metavariable is *not* matched and thus the fe

[2021-06-08 11:53] xmo-odoo commented on #2324
I don't know if it's strictly related to this, but it's a bit similar to this bit:

autofix currently doesn't support or understand ellipsis, and not all ellipsis can be replaced by metavars, so given a pattern like:
[code]
i'm not sure there's a way to create an autofix, I don't think there's a way to match varargs to a metavariable, let alone "an arbitrary amount of code", is there?

[2021-06-08 14:07] ankush opened #3306 "`enumerate` in python confuses constant propagation"
**Describe the bug**
When `enumerate` is used the constant propagation isn't working as expected.

**To Reproduce**
https://semgrep.dev/s/KW5d/

rule: `$X is $X`
[code]

**Expected behavior**
Use of `enumerate` shouldn't change the behaviour.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2:

[2021-06-08 14:07] emjin opened #3307 "Run rules in semgrep-core not reporting parse errors"
Dev container output:
[code]

Stable:
[code]

[2021-06-08 14:10] pavkir commented on #3307
Changed since following commit: https://github.com/returntocorp/semgrep/commit/7e111099ffafd39d2be1f8408bebda38b3997415

[2021-06-08 14:14] emjin opened #3308 "Document optimizations"
Just write a paragraph so that people looking for it can know what's happening

[2021-06-08 15:21] pavkir opened #3309 "[Scala] Could not parse multiline import with trailing comma"
**Describe the bug**
Multiline import parsing error
[code]

**To Reproduce**
[code]

**Expected behavior**
Successfully parsed

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

**Environment**
off docker

[2021-06-08 15:27] aryx commented on #3279
semgrep-core returns 22 matches, but the python wrapper reduces it to just one.

[2021-06-08 15:43] aryx commented on #3279
It's because the Python wrapper removes findings that have the same range, even if they have different metavariable bindings. Not sure
why we do that, but we have been doing that for a long time.

[2021-06-08 16:15] aryx commented on #3279
This might be a big change for the user @ievans because we may report multiple times the same findings, with the exact same range.

[2021-06-08 16:32] emjin commented on #3279
Relevant slack conversation: https://returntocorp.slack.com/archives/C01AX0QCEET/p1622757347088700

[2021-06-08 16:42] ievans commented on #3287
Hi @fenollp, thanks for opening this issue! We've been deprecating the Facebook-era handrolled parsers and standardizing on using [tree-sitter](https://tree-sitter.github.io/tree-sitter/) as a common parser basis. Do you know if there is a good tree-sitter grammar for erlang?

I found https://github.com/AbstractMachinesLab/tree-sitter-erlang which looks up-to-date (tagging @ostera in case they wan

[2021-06-08 18:20] #3307 closed, assigned to nobody

[2021-06-08 18:59] zbuc commented on #3192
I created https://github.com/tree-sitter/tree-sitter-javascript/issues/176 to report this to tree-sitter

[2021-06-08 19:08] #3075 closed, assigned to aryx, IagoAbal

[2021-06-08 19:22] aryx commented on #3192
Thx a lot @zbuc

[2021-06-08 19:25] aryx commented on #3279
Note that the user should write the rule in a different way, where we match individual fields separately, with
a pattern-inside and pattern, but I just realized you could not write partial single field definition in a pattern
in JS (we could in JSON mode but not JS). This is partly because      x: { stuff } is ambiguous and could also
be a statement (a label x followed by a block). But I think we

[2021-06-08 20:30] colleend commented on #3108
hmm, @aryx would you happen to have any context as to why there would be an "out of memory" error?

[2021-06-08 21:06] sfc-gh-sdeng opened #3879 "python.lang.maintainability.useless-innerfunction.useless-inner-function"
**Describe the bug**
It says my inner function (`round_down_min`) is useless, but it is not.

**To Reproduce**
See https://github.com/snowflakedb/account_usage_share/pull/301/files/0764e41b42af2fb8fc8269becd13d993ff9f3159#r647779518. Give it several seconds to load. On line 366, inner function `round_down_min` is used.

**Expected behavior**
The inner function is used, so it should not make this c

[2021-06-08 21:13] aryx commented on #3108
If you have a rule and a test file i can
Reproduce the error locally yes

[2021-06-08 22:55] colleend commented on #3879
Hi! Thanks for filing this issue! Unfortunately, I can't access the github link -- would you mind creating a https://semgrep.dev/editor link that contains the rule and functions that are important?

[2021-06-08 23:35] #2565 closed, assigned to nobody

[2021-06-08 23:35] #2668 closed, assigned to nobody

[2021-06-09 01:26] minusworld opened #3315 "Unexpected reported locations in 0.55.0"
**Describe the bug**
A code change resulted in different locations reported by Semgrep in 0.55.0. Need to investigate why, as this is not expected.

See https://github.com/returntocorp/semgrep/pull/3312.

https://github.com/returntocorp/semgrep-app/pull/2675/files/208152566bbeacb0e0ac88dd13f308c23fca2fcd#r647864400 is also relevant.

**What is the priority of the bug to you?**

- [x] P0: blocking

[2021-06-09 01:27] minusworld commented on #3315
Prior debugging suspects this to be in the Python wrapper.

Here's a snippet that reports wrong numbers:

[code]

^ based on this thread: https://returntocorp.slack.com/archives/C6A1GN4P3/p1623198872464500?thread_ts=1623197143.460000&cid=C6A1GN4P3

[2021-06-09 01:45] brendongo commented on #3315
Tracked down the offending PR https://github.com/returntocorp/semgrep/pull/3293
Looks like using optimizations --all by default causes this error.

[2021-06-09 02:24] minusworld commented on #3315
If it’s relevant, it goes all the way back to 0.49.0, which is when --optimizations was exposed

[2021-06-09 02:42] minusworld commented on #3315
Potentially this line? https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/src/engine/Match_rules.ml#L480

This is what spacegrep outputs on the test sample above:

[code]

Looks like maybe the wrong `bol` is getting used? I think the right number for the `end` in this test case is 21, which can be gotten with the final entry: `cnum=130 - bol=110 + 1 => 21`. Conversely, 91 is gotten

[2021-06-09 08:03] aryx commented on #3279
Ok the JSON part is fixed too: https://semgrep.dev/s/XLXA?version=develop

[2021-06-09 08:06] aryx commented on #3279
Also here is an alternative solution to the issue: use a pattern-inside and another pattern to just match the deps.
https://semgrep.dev/s/0npB/?version=develop

[2021-06-09 08:06] aryx commented on #3279
Works also in JS mode: https://semgrep.dev/s/KWGL/?version=develop

[2021-06-09 08:07] aryx commented on #3279
@ievans do you have a slack link to the request from the external user? That way I can tell him workarounds.

[2021-06-09 08:56] IagoAbal opened #3316 "[ruby] Constant propagation ignores side-effects on string object"
**Describe the bug**
Constant propagation incorrectly flags a variable as constant after it has been modified by a method call.

**To Reproduce**
https://semgrep.dev/s/4y19/

**Expected behavior**
No false positives.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should ge

[2021-06-09 09:02] IagoAbal commented on #3316
Some amount of false positives of this kind are expected since we only do intra-procedural analysis, and if we assume that _anything_ can alter the value of a variable then we would also miss many true positives. But in this particular case I think the intention to modify the variable is clear and we should handle it.

[2021-06-09 11:48] #3315 closed, assigned to nobody

[2021-06-09 12:59] #3119 closed, assigned to aryx

[2021-06-09 13:00] aryx commented on #3119
you need to use a metavariable for the return type, func(...) $T, otherwise it will match only function that do not return anything.

[2021-06-09 13:00] aryx commented on #3119
And also you need to name the parameter in the function, because it is named in the pattern, otherwise it will not match either.

[2021-06-09 13:17] #3309 closed, assigned to aryx

[2021-06-09 13:24] azuline commented on #3102
Any update? Running into a non-trivial number of parsing failures which have been flagged as fixed in tree-sitter.

[2021-06-09 13:33] IagoAbal opened #3321 "[js] if (A) { ... foo() } pattern does not match if braces are missing"
**Describe the bug**
[code]
does not match `if (A) foo()`, but it does match `if (A) { foo() }`.

**To Reproduce**
https://semgrep.dev/s/WgoE/

**Expected behavior**
The pattern matches even when braces are missing, since `...` can match nothing too the braces are not needed in the code.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1:

[2021-06-09 13:41] pavkir opened #3322 "[Scala] Parsing error"
**Describe the bug**
Code:
[code]
Error:
[code]

**To Reproduce**
Run attached code

**Expected behavior**
parsed

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

**Environment**
official docker

[2021-06-09 14:25] #2693 closed, assigned to nobody

[2021-06-09 14:33] pavkir opened #3324 "[Scala] Parsing error"
**Describe the bug**
[code]
Code:
[code]

**To Reproduce**
Analyze attached code fragment

**Expected behavior**
file successfully parsed

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

**Environment**
docker

[2021-06-09 17:11] Gby56 opened #3328 "Support for Clojure"
**Is your feature request related to a problem? Please describe.**
Given the current state of Clojure security tools, having semgrep would be a great addition into the ecosystem.

HN Thread: https://news.ycombinator.com/item?id=24929993
CRUSH, a code review tool that could inspire some rules.
- https://jemurai.com/2020/01/15/oss-crush/
- https://github.com/Jemurai/crush

**Describe the solution yo

[2021-06-09 18:06] DrewDennison commented on #3328
https://github.com/sogaiu/tree-sitter-clojure and https://github.com/oakmac/tree-sitter-clojure both exist and if they have reasonable coverage. It shouldn't be too hard to add in

[2021-06-09 20:51] aryx commented on #3328
There's also https://github.com/SergeevPavel/tree-sitter-clojure and https://github.com/Tavistock/tree-sitter-clojure
Which one to choose?

[2021-06-09 21:19] zbuc commented on #3192
The fix has been merged to tree-sitter-javascript 🎊

[2021-06-09 21:27] mjambon commented on #3102
It's in progress and I still haven't finished.

[2021-06-10 01:27] #901 closed, assigned to nobody

[2021-06-10 09:08] dvyakimov opened #3333 "Semgrep doesn't define the symbol "_" as valid by regexp"
I try to write rule to find secrets, but it seems that semgrep doesn't define the symbol "_" as valid by regexp

https://semgrep.dev/s/zk0n/

[2021-06-10 09:37] IagoAbal commented on #3198
I wonder what exactly was working in a previous version of Semgrep because we didn't have this kind of equivalence built-in. Or did you wrote some user equivalence for that?

[2021-06-10 09:48] erwanlr commented on #3198
My guess is that the code I tested so far was things like `if (!check3($stuff) && (!check1($stuff) && !check2($stuff))) {` which was correctly detected as it's `a && (b && c)` and then I stumbled across a `(!check3($stuff) && !check1($stuff) && !check2($stuff)`case (`(a && b) && c`) which did not match and was surprised

[2021-06-10 10:44] aryx commented on #3192
good job @zbuc ! Now we need to pull the latest version of tree-sitter-javascript. @mjambon is usually the one doing that but this might take some time because he is in the middle of big refactorings for integarting javascript and typescript in semgrep.

[2021-06-10 15:31] emjin commented on #3308
https://github.com/returntocorp/semgrep-docs/blob/main/docs/running-rules.md

[2021-06-10 15:31] #3308 closed, assigned to emjin

[2021-06-10 19:04] mjambon commented on #1867
This issue needs to be split into two since there are two different errors.

[2021-06-10 19:06] mjambon commented on #1867
We should not try parse the `.d.ts` files since our parser doesn't support them and they're only type definitions, which are of little to no interest for semgrep users. I don't know if scanning was fixed to exclude those files.

[2021-06-10 19:09] mjambon commented on #1867
The other error is this:
![image](https://user-images.githubusercontent.com/343265/121582955-853c9a80-c9e4-11eb-8977-ea6f34374e6c.png)

I'll check this when the typescript upgrade everyone is waiting for is ready.

[2021-06-10 20:22] nbrahms commented on #3180
Changing priority to reflect the fact that we no longer are attempting to address a performance issue.

[2021-06-10 22:26] adamberman commented on #3333
hi @dvyakimov Can you give a bit more information? The example you posted does seem to match on `_`

[2021-06-11 00:26] colleend commented on #1867
I can split this issue into two 👍 .

Here are the two new issues:
https://github.com/returntocorp/semgrep/issues/3335
https://github.com/returntocorp/semgrep/issues/3336

[2021-06-11 00:28] colleend opened #3335 "Semgrep should not parse `.d.ts` files as typescript."
**Describe the bug**
`d.ts` files are only type definitions, and our parser does not support these types of files. We should not automatically scan these types of files until we support parsing `d.ts` files.

**To Reproduce**
Here is the CI error:
https://github.com/returntocorp/semgrep/pull/1806/checks?check_run_id=1232600832
ERROR message: Could not parse index.d.ts as ts
Semgrep.dev example: ht

[2021-06-11 00:31] colleend opened #3336 "Semgrep fails to parse typescript optional interface variables with name 'new'"
**Describe the bug**
semgrep fails to parse an optional variable named `new` in typescript.

**To Reproduce**
https://semgrep.dev/s/ErEA/

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

[2021-06-11 04:32] aqualen commented on #3264
This is blocking adoption for my team.

[2021-06-11 08:07] aryx commented on #1751
Ok apparently there is a tree-sitter binding for vue.
@dekadentno would you mind trying the playground here: https://ikatyang.github.io/tree-sitter-vue/ to check how mature the tree-sitter parser is? If you copy some of your code in the playground, do you see errors reported?

The tree-sitter-vue README says it supports Vue v2.6.0 Template Syntax . Is it recent enough?

[2021-06-11 08:30] #3198 closed, assigned to IagoAbal

[2021-06-11 14:36] mschwager commented on #1392
Can we close this out now that C# has reached alpha: https://github.com/returntocorp/semgrep/pull/3121? If we'd like to track additional improvements we should create new, specific issues (e.g. beta, GA, parse errors, etc).

[2021-06-11 14:45] mschwager commented on #2884
Can we close this out after https://github.com/returntocorp/semgrep/commit/be6984f4f5cf7ff57998f35eaaebb45445f95c74?

I also don't see any additional `ocp-indent` usage:

[code]

[code]

Can we remove the `.ocp-indent` files?

[2021-06-11 14:49] mschwager commented on #3159
Fixed by https://github.com/returntocorp/semgrep/pull/3233

[2021-06-11 14:49] #3159 closed, assigned to nobody

[2021-06-11 15:24] mschwager commented on #2262
Since this is playground related I'll move it to `semgrep-app`.

[2021-06-11 15:39] mschwager commented on #2994
Closing out, feel free to re-open if you notice any additional issues.

[2021-06-11 15:39] #2994 closed, assigned to nobody

[2021-06-11 16:19] Sjord commented on #3289
I [attempted to implement this](https://github.com/Sjord/semgrep-c-sharp/commit/df62e0cca53b3734c46333ea019d7c4306565025). I haven't tested it in semgrep yet. A problem I ran into is that the definition for `interpolated_string_text` changed in CST.ml.

It was this:
[code]

And now it's this:
[code]

I am not sure what is going on.

[2021-06-11 18:12] IagoAbal commented on #3306
Thanks for the bug report! This problem was previously reported in #3155, resolved by #3254, and the fix is already in Semgrep 0.55.1.

[2021-06-11 18:12] #3306 closed, assigned to IagoAbal

[2021-06-11 20:47] Sjord commented on #3289
@mjambon Is this the result of your recent changes to ocaml-tree-sitter?

The C# grammar has this:

[code]

and that is translated in CST.ml to this:
[code]

So the second entry, `token.immediate(...)`, is always mapped to `Blank`, which seems incorrect. Is the C# grammar incorrect? What should it be? Or is this a bug in ocaml-tree-sitter?

[2021-06-11 21:04] dee-see opened #3343 "[Ruby] Strings and command shells are confused by the parser"
**Describe the bug**

I'm looking for shell invocations and semgrep flags regular strings.

**To Reproduce**

https://semgrep.dev/s/WgJE/

**Expected behavior**

The above repro shouldn't have any matches in the `notvuln` function

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep o

[2021-06-11 21:04] dee-see commented on #3343
Forgot to mention that the rule comes from https://github.com/returntocorp/semgrep-rules/blob/develop/ruby/lang/security/dangerous-subshell.yaml

[2021-06-11 21:29] fproulx-boostsecurity commented on #2424
Looks like that as this article explains:
[code]

so I guess that only way is for the semgrep rule to specify this extra metadata, which it cannot figure out by scanning just one `.go` file ... as you said "user-defined equivalences" I guess - which in that case it's not just an equivalence , it's actually the only and proper way to refer to it by default (unless aliased)

[2021-06-11 21:38] sonjaq opened #3344 "semgrep.dev bug: Rule javascript.express.security.audit.xss.mustache.explicit-unescape on non-mustache"
https://semgrep.dev/s/B45R?registry=javascript.express.security.audit.xss.mustache.explicit-unescape.template-explicit-unescape

Within an angular project, powered by ionic, my project flagged the following design pattern:

[code]

Expected:
javascript.express.security.audit.xss.mustache.explicit-unescape.template-explicit-unescape should not trigger on this pattern, which is popular in our Angula

[2021-06-11 22:00] mjambon commented on #2884
I rely on ocp-indent to indent code when editing. Ocamlformat is now set up to run as pre-commit hook. However, I don't know how to set up ocamlformat during live editing, and I'm not sure I want this either. Ocp-indent really just indents the current line, it doesn't do a full reformatting like ocamlformat.

[2021-06-11 22:08] mjambon commented on #2884
ocp-indent supports a [global configuration file at `~/.ocp/ocp-indent.conf`](https://www.typerex.org/ocp-indent.html). Maybe I should use that instead.

[2021-06-11 22:11] mjambon commented on #2884
I'm leaving this issue open because we've only transitioned to ocamlformat for the semgrep repo. Other major r2c repos containing  ocaml source code are pfff and ocaml-tree-sitter. I'm in no rush to add ocamlformat to those due to lack of frustration and motivation...

[2021-06-12 00:24] brendongo commented on #3220
So right now, the way we use subprocess in python waits until the process is finished before it returns and has the stdout and stderr of the subprocess. There are two ways around this:

(1) if we don't capture stderr in the subprocess, it will go straight through to stderr without having to wait. This would mean we have to be more attentive to what gets printed out to stderr in semgrep-core since

[2021-06-12 19:31] leostera commented on #3287
@ievans it should have a few rough spots! Last I used it it'd crash with some malformed inputs, but it should be a good starting point. Unfortunately I don't have time to improve it myself right now, but I'd be happy to help someone get onboarded into it.

[2021-06-13 03:11] somebody1234 commented on #840
especially useful if you don't want to make an entire config file for a single rule, you'd be able to just add `semgrep -e 'foo' --replacement 'bar' -l lang ./src` or something

[2021-06-13 11:43] Sjord opened #3348 "C# does not search for method attributes"
When I specify a method attribute in a query, it is ignored:

[code]

This returns all public methods. I expect it to return only methods with the "Something" attribute.

I am using semgrep 0.55.1. It seems [method attributes are already being parsed](https://github.com/returntocorp/semgrep/blob/8d6399ad897b13edb8c00a8a443771f704799ea1/semgrep-core/src/parsing/tree_sitter/Parse_csharp_tree_sitter.

[2021-06-13 15:40] aryx commented on #3348
You can save the pattern in a file foo.sgrep, and do semprep-core -lang csharp -dump_pattern foo.sgrep
to check whether the attribute in indeed in the AST.

[2021-06-13 16:48] #2692 closed, assigned to nobody

[2021-06-14 06:22] mjambon commented on #3264
We're planning to switch to the tree-sitter parser for parsing javascript and typescript patterns. We'll have to handle this case. It needs a special treatment because it's not valid as a standalone program.

[2021-06-14 06:26] mjambon commented on #3102
@azuline the typescript upgrade is done, it will in the next weekly release of semgrep. :tada: Thank you for your patience! It was a lot of changes, and we're still figuring out how to handle these upgrades faster.

[2021-06-14 06:26] #3102 closed, assigned to mjambon

[2021-06-14 06:29] mjambon commented on #3006
The fix will be in semgrep 0.56 due this week.

[2021-06-14 06:29] #3006 closed, assigned to mjambon

[2021-06-14 06:36] dekadentno commented on #1751
Hey @aryx, looks like it works well, I've tested it a lot, but it only supports parsing the template part of the component; the `script` and `style` will still remain uncovered by the parser, but it's a start. Glad to see this issue is still alive!

[2021-06-14 06:51] mjambon commented on #2993
The fix will be in semgrep 0.56 due this week.

For a preview, see https://semgrep.dev/s/ahmsec:ts_export_default_not_detected?version=develop

[2021-06-14 06:51] #2993 closed, assigned to mjambon

[2021-06-14 06:54] mjambon commented on #2901
The fix will be in semgrep 0.56 due this week.

[2021-06-14 06:54] #2901 closed, assigned to mjambon, nbrahms

[2021-06-14 06:56] mjambon commented on #2900
The fix will be in semgrep 0.56 due this week.

[2021-06-14 06:56] #2900 closed, assigned to mjambon, nbrahms

[2021-06-14 06:59] mjambon commented on #2790
The fix will be in semgrep 0.56 due this week.

[2021-06-14 06:59] #2790 closed, assigned to mjambon, nbrahms

[2021-06-14 07:00] Sjord commented on #3348
It isn't:

[code]

It seems the pattern is interpreted as local function, not as method. This makes some sense, since it isn't in a class. And local functions don't get attributes yet, because of [the attributes are in `vtodo` and not yet used](https://github.com/returntocorp/semgrep/blob/8d6399ad897b13edb8c00a8a443771f704799ea1/semgrep-core/src/parsing/tree_sitter/Parse_csharp_tree_sitter.ml#L170

[2021-06-14 07:01] mjambon commented on #2738
The fix will be in semgrep 0.56 due this week.

[2021-06-14 07:01] #2738 closed, assigned to mjambon

[2021-06-14 07:03] mjambon commented on #2736
The fix will be in semgrep 0.56 due this week.

[2021-06-14 07:03] #2736 closed, assigned to mjambon

[2021-06-14 07:04] mjambon commented on #2613
The fix will be in semgrep 0.56 due this week.

[2021-06-14 07:04] #2613 closed, assigned to mjambon

[2021-06-14 07:06] mjambon commented on #1995
The fix will be in semgrep 0.56 due this week.
https://semgrep.dev/s/qrK7?version=develop now works

[2021-06-14 07:06] #1995 closed, assigned to mjambon

[2021-06-14 07:08] mjambon commented on #1992
https://semgrep.dev/s/ljPE?version=develop now works.

The fix will be in semgrep 0.56 due this week.

[2021-06-14 07:08] #1992 closed, assigned to mjambon

[2021-06-14 07:13] mjambon commented on #2841
https://semgrep.dev/s/B4y7/?version=develop

The fix will be in semgrep 0.56 due this week.

[2021-06-14 07:13] #2841 closed, assigned to nobody

[2021-06-14 07:21] mjambon commented on #3029
Same thing, but with a simpler rule: https://semgrep.dev/s/6r11
The `import type` line shouldn't match.

[2021-06-14 07:30] mjambon commented on #3030
A single-pattern solution is to use empty braces:
[code]
https://semgrep.dev/s/z9Yd/

Not sure how to make this obvious or if there's a place in the documentation for this.

[2021-06-14 07:30] #3030 closed, assigned to nobody

[2021-06-14 07:33] mjambon commented on #3031
Sounds reasonable to me. @aryx would know the history of this feature.

[2021-06-14 08:00] mjambon commented on #3087
This got fixed with the typescript parser upgrade. Compare https://semgrep.dev/s/wxrx/?version=develop with https://semgrep.dev/s/wxrx/?version=0.55.1 (unwanted match on type in `tc8`).

[2021-06-14 08:00] #3087 closed, assigned to nobody

[2021-06-14 08:17] mjambon opened #3350 "Upgrade TypeScript parser monthly - June 2021"
We're planning to use the typescript parser to parse javascript, so this upgrade will take care of javascript as well if everything goes according to plan.

[2021-06-14 09:19] aryx commented on #3031
actually @ievans and @DrewDennison implemented this prefix matching feature a long time ago.

[2021-06-14 09:29] #3348 closed, assigned to nobody

[2021-06-14 13:08] azuline commented on #3102
Thanks!! I'm really excited to be able to run semgrep on ts codebases with far fewer/no parsing problems!

[2021-06-14 15:43] jdunnpenguin opened #3355 "nosemgrep ignored for bandit.B110 if python exception is specified"
I have only tested this within a Gitlab  CI/CD pipeline so please disregard if this is already resolved upstream. In Python the following does not properly ignore a Bandit B110 finding:
[code]
However, without the exception specified it works as expected so this does work:
[code]

[2021-06-14 15:59] minusworld commented on #3355
Hey @jdunnpenguin, thanks for filing this issue!

I suspect there are a few things contributing to this.

`nosemgrep` comments currently have to be at the top line of a finding. Since the [rule definition for B110](https://gitlab.com/gitlab-org/security-products/analyzers/semgrep/-/blob/main/rules/bandit.yml#L128) looks like this,

[code]

that means the `nosemgrep` comment needs to be on the same

[2021-06-14 17:13] jdunnpenguin commented on #3355
Ahhh, that makes sense. I'll shift the nosemgrep up to the try and test that out. Thanks for the explanation.

Tested, working fine on the try: line. Does seem like you should match the empty "except:" format. If someone went to the trouble to call out the exception they are ignoring there's a better chance they actually thought through the implications as opposed to just throwing all failures awa

[2021-06-14 19:21] #2884 closed, assigned to mjambon

[2021-06-14 19:30] ievans opened #3356 "bind pattern-regex capture groups to metavariables"
I'd like to propose we extend pattern-regex capture group support to bind the capture groups into metavariables like $1, $2, etc. that could be referenced in the message.

My use case: https://semgrep.dev/s/O8lL/. I’d like $1 and $2 to be bound and usable in the output message.

[2021-06-14 19:46] nafiz1001 opened #3357 "Inconsistent findings between playground and cli/docker when using metavariable to represent import alias"
**Describe the bug**
The semgrep findings are different between the Playground and CLI/Docker when using metavariable to represent import alias.

**To Reproduce**
4 findings (2 false positives), same for "Use develop docker image" toggled on: <https://semgrep.dev/s/xedL/>
2 findings:
[code]

**Expected behavior**
2 findings at line 17 and 29

**Diffs**
This is my diff to introduce metavariable for

[2021-06-14 20:19] #2424 closed, assigned to IagoAbal

[2021-06-14 20:30] devd commented on #689
Hey! I am not sure if I understand this issue+fix correctly. I am trying to detect Ruby regexes using ^ or $ (cos they should very likely be using \A \z and not ^ $) and I can't match regexes. If I understand this issue+fix, it seems like I should be just be able to match regexes like a normal string. https://semgrep.dev/s/KWj5/ only seems to match one regex. (but I also think it would be nice if

[2021-06-15 00:50] mjambon commented on #2764
.

[2021-06-15 01:17] clintgibler opened #3362 "More intuitively handle multiple `except` clauses in Python"
**Describe the bug**
I was trying to reproduce all of the examples given in the blog post [Abstract Syntax Tree for Patching Code and Assessing Code Quality](https://engineering.soroco.com/abstract-syntax-tree-for-patching-code-and-assessing-code-quality/), and I found that one example was blocked on Semgrep's matching.

**To Reproduce**
https://semgrep.dev/s/clintgibler:python-nested-try

**Expec

[2021-06-15 07:24] IagoAbal commented on #2424
@fproulx-boostsecurity we went for recognizing other naming conventions that seem common in Go, `.../xyz/vN` and `.../xyz-go`. Your example should now work. Let us know if you encounter other import naming issues, maybe we need to reconsider that solution.

[2021-06-15 07:30] brendongo commented on #3296
Playground will run with optimizations off unless the debugger is on so not high priority anymore but still necessary before we delete old code paths

[2021-06-15 08:23] IagoAbal commented on #3316
Actually this is mainly due to AST-to-IL not recognizing a call to the `concat` method as the `Concat` operation.

[2021-06-15 13:35] mschwager commented on #1392
Closing out - feel free to open new, specific issues for additional C# work!

Thanks for all the hard work here!

[2021-06-15 13:35] #1392 closed, assigned to nobody

[2021-06-15 17:38] graveacc opened #3369 "semgrep-core failed: unparseable json output"
**Describe the bug**
semgrep-core crashes due to an unparseable json output. This occurs when I attempt to run the r2c-security-audit ruleset.

**To Reproduce**
Install semgrep via pip on a vmware virtualized kali linux instance.
Attempt to run semgrep on a local codebase using the following command: ```semgrep --config "p/r2c-security-audit" /path/to/src```
Note that semgrep-core exits with ```co

[2021-06-15 20:59] mjambon commented on #3289
@Sjord yes, this is the result of the changes I made last week in ocaml-tree-sitter as the refinement of a previous workaround for missing tokens in the tree-sitter CST. I may have made a wrong assumption for this particular case.

In the tree-sitter-hack grammar, [we have a case of a `token(prec.dynamic(...))`](https://github.com/antoniodejesusochoasolano/tree-sitter-hack/blob/7029040f29a1a451707

[2021-06-15 21:15] colleend commented on #3369
Thanks for filing this issue! Would you be willing to share the contents of the target file represented by `/tmp/tmp0eq5cw09`? Feel free to anonymize the file -- as long as we can reproduce the error, we can move on to debugging.

[2021-06-15 21:38] graveacc commented on #3369
Hi there! I don't have access to the file. Looks like that is something that the tool outputs after I run semgrep against the local codebase. Is there a way to capture that info?

[2021-06-15 21:50] colleend opened #3371 "JSONDecodeError in semgrep-action"
**Describe the bug**
User is experiencing a JSONDecodeError when running semgrep-action during their attempt to integrate into CI/CD pipeline:

[code]

[code]

**Expected behavior**
semgrep-action to finish without exiting.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regular bug that sh

[2021-06-15 21:52] emjin commented on #3369
We are working on https://github.com/returntocorp/semgrep/issues/3220 to improve our ability to debug errors like the one you got. In the meantime, would it be possible for you to narrow down where semgrep fails by running it on subdirectories? Apologies for the error!

[2021-06-15 22:13] colleend commented on #689
hmm seems like Ruby regexes are parsed a little differently -- the pattern `\...\` for ruby is translated to the AST
`E(L(Regexp(("...", ()))))`, which won't match the `A.Regexp(("/.../", a)), B.regexp((_s,b))` that went into this fix. I would say that this is a separate issue, as this one mainly focused on Javascript -- I'll open a separate one for your Ruby issue 👍

Created [this](https://github

[2021-06-15 22:35] colleend opened #3372 "Ruby Regex Matching"
**Describe the bug**
Ruby regex matching does not match equating a string constant with a regex.
In
https://semgrep.dev/s/KWj5/
the expectation is that the pattern will match both regex expressions.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

[2021-06-16 00:40] dlukeomalley opened #3373 "Semgrep commands are autocomplete-able"
**Is your feature request related to a problem? Please describe.**
Autocomplete was a delightful feature in our past project [Bento](https://github.com/returntocorp/bento). It aided discoverability of commands and made the tool fast to use. This ticket is a request to provide this functionality for Semgrep, allowing me to tab autocomplete and see relevant flags and their help text as I go.

**Desc

[2021-06-16 08:30] aryx commented on #689
Note that there's a tree-sitter-regexp! so potentially we could use metavariable-pattern: to have powerful matching inside the regexps themselves! (hardcore).

[2021-06-16 18:55] IagoAbal commented on #2432
I can build from sources ("manually" rather than using `brew`) and run the tests in semgrep-rules without problems on M1. I can also run our perf benchmark that includes real-world code without problems. Can you point to a concrete rule and file that causes these problems?

[2021-06-16 18:56] MilindPurswani opened #3380 "[Terraform] semgrep generic mode unable to parse brackets properly"
**Describe the bug**
While playing with semgrep, I learned that it doesn't parse brackets properly.  I am currently trying to develop a terraform rule to detect s3 buckets with no logging enabled and here is my rule file:

[code]

For some reason, it is not detecting this behaviour:

[code]

**Expected behavior**
I am assuming it has to do something with how semgrep handles curly brackets but I ma

[2021-06-16 21:29] colleend commented on #3380
Thanks for filing this issue! What use case is this pattern attempting to catch?

The pattern you've specified is `logging{...}` with the `pattern-not-inside`, which should catch all cases of `logging{...}` in the test code which is _not_ in a clause like `resource "aws_s4_bucket" ...`. Here's a semgrep.dev example of how I would expect this to work: https://semgrep.dev/s/brwW.

Another good flag

[2021-06-16 21:42] clintgibler commented on #3115
I'm getting a "Pattern could not be parsed as a Typescript semgrep pattern" error from:

[code]

This may be a separate parsing bug, but putting it here because it's related.

[2021-06-16 22:00] MilindPurswani commented on #3380
Thanks for the reply @colleend,

My example was flawed here. I am trying to catch all `aws_s4_bucket` resources which do not have `logging` enabled. Here is the  example.

[code]

[2021-06-17 00:11] colleend commented on #3380
Ah I see, thanks for the clarification!

Would something like https://semgrep.dev/s/kkxP be inline with what you're looking for?

[2021-06-17 09:21] aryx commented on #3372
Not sure if that's what the user wanted, but you can now use metavariable in regexps, and even ..., as in `foo(/.../)`

See https://semgrep.dev/s/grx0/?version=develop

[2021-06-17 09:21] aryx commented on #3372
Or https://semgrep.dev/s/Q4rZ/?version=develop

[2021-06-17 09:21] #3372 closed, assigned to aryx

[2021-06-17 13:19] #3356 closed, assigned to aryx

[2021-06-17 15:19] Sjord commented on #3289
[Extract _string_literal_fragment and _interpolated_string_text_fragment by Sjord · Pull Request #196 · tree-sitter/tree-sitter-c-sharp](https://github.com/tree-sitter/tree-sitter-c-sharp/pull/196)

Apparently it is to [move precedence handling to the lexer](https://github.com/tree-sitter/tree-sitter/issues/1087#issuecomment-833198651).

[2021-06-17 15:30] MilindPurswani commented on #3380
Hi @colleend,

Thanks for that, unfortunately it still doesn't work. Try the following example:

[code]

[2021-06-17 19:23] colleend commented on #3380
I see, there's definitely an issue there -- we'll fix it as soon as possible 👍

[2021-06-17 20:19] fasiha commented on #2991
Hi Semgrep friends, I'm running into another interesting error with my Cygwin-compiled Windows build of semgrep-core, specifically with **multiline** patterns.

The following config:
[code]
runs fine on macOS (of course 😅) but on my Windows build, I see the following error, with whitespace added for ease of reading:
[code]
Notice the **"Pattern could not be parsed as a Python semgrep pattern"** er

[2021-06-18 08:27] fasiha commented on #2991
A quick update on the multiline pattern problem described above.

This happens because [pfff's Parse_python.ml](https://github.com/returntocorp/pfff/blob/24cbf38f71e302a1f9babae68264287047d7e72e/lang_python/parsing/Parse_python.ml#L195) opens a temp file and write the pattern to it, but it uses [`Common2.with_tmp_file`](https://github.com/returntocorp/pfff/blob/f9abeffcd29cd0e22c864e285fb5b0f715f7

[2021-06-18 16:43] JDegesysHelm opened #3387 "[Autofix] sometimes drops closing bracket in python slices"
**Describe the bug**
The closing bracket is sometimes dropped in the autofix.

**To Reproduce**
https://semgrep.dev/s/juliusdegesys:closingbracketbugrepro
[code]
Input file:
[code]
Output:
[code]

**Expected behavior**
Closing bracket not to be dropped in autofix.
[code]

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [X] P1: important to fix

[2021-06-18 17:14] JuliusDegesys opened #3388 "Autofix overwrites wrong line with multiple multiline matches"
**Describe the bug**
Incorrect chunks of the file are auto-fixed. Searching for `assert_eq(True, $X)` and replacing with `assert $X` will mangle the output when auto-fixing multiple multi-line matches.

**To Reproduce**
https://semgrep.dev/s/juliusdegesys:asserteqbug
Input file:
[code]
Rule:
[code]
The matches look correct, and so do the auto-fixes. But when you "Apply all fixes" or apply the firs

[2021-06-18 18:39] fasiha commented on #2991
I asked on [OCaml Discourse](https://discuss.ocaml.org/t/in-cygwin-ocaml-outputs-crlf-line-endings-but-inputs-only-lfs-leading-to-end-of-file/8014). Someone else might chime in but for now I'm afraid the idea seems to be that we'll have to convert all input channels in Semgrep to binary channels for an eventual Windows port 😕. It's not a Cygwin-only issue but rather a Windows issue with text mode:

[2021-06-18 19:48] colleend opened #3390 "Ruby String Interpolation Pattern Parsing Error"
**Describe the bug**
Semgrep exits with `Rule id: my_pattern_id contains a pattern that could not be parsed as a pattern for language Ruby: Rails.logger.info("Creating update with params` error when parsing the following pattern:

[code]

With test-file
[code]

**To Reproduce**
Copy and paste the above lines of code into separate files.

Run the following command in the command-line:
`semgrep -f r

[2021-06-18 20:16] emjin commented on #3390
What did you use to run this in `semgrep-core`?

[2021-06-19 12:45] aryx commented on #2382
👋

[2021-06-19 13:57] aryx commented on #1218
👋

[2021-06-19 23:38] ievans opened #3392 "semgrep --lang=kotlin not accepted by semgrep-core"
When trying to run a kotlin rule with language set to `kotlin`, I get the following:

cc @colleend

[2021-06-20 13:12] k4n5ha0 opened #3393 "request semgrep support cross file dataflow"
Hi. i request semgrep can support corss file dataflow.
so that semgrep  could find deep vul like codeql.
Thx!

[2021-06-20 18:56] msorens opened #3394 "Browser history cache entries updated incorrectly"
**Describe the bug**
With the new UX in the web registry, the browser history is nullified, and hence the backward/forward navigation amongst pages is lost.

**To Reproduce**
(1) Start from semgrep.dev/explore **on a new tab**, then select a ruleset:
<img width="729" alt="image" src="https://user-images.githubusercontent.com/6817500/122684573-fafdee80-d1ba-11eb-8dc3-3bd3b457e59c.png">

(2) Observe

[2021-06-21 02:33] inkz commented on #3289
@aryx @mjambon
will this also tackle situation like this:

[code]

or I should open another ticket?

[2021-06-21 02:39] CityOfLight77 opened #3395 "Export as CSV, HTML"
When I scan a project I found 500+ issues and I can't see all results in terminal.
So I would like to see an option to export scan result to csv/html format

[2021-06-21 03:14] emjin commented on #2051
Reopening--I do mean to take a look at this.

[2021-06-21 08:22] mjambon commented on #2985
Hello! I sorry I missed this report earlier. I just looked into it and the issue is that spacegrep (engine for the generic mode) ignores files where lines are too long. This is designed so as to skip minified files because they aren't human-readable and spacegrep would run into performance problems due to the absence of indented blocks. I need to think about what's best to do here.

Unfortunately

[2021-06-21 15:11] nbrahms commented on #3394
Maybe even more minimal:

1. Open a new tab
2. Navigate to a semgrep.dev/explore
3. Click a ruleset
4. Hit the back button

You'll end up on the new tab's splash screen instead of `/explore`.

My guess at RCA is that we are incorrectly linking when clicking on the ruleset card from `/explore`.

[2021-06-21 15:42] emjin opened #3396 "Take advantage of running whole rule in OCaml for speed"
There are a number of optimizations enabled by whole rule in OCaml which we can implement now. Currently, my plan is to work towards a goal of achieving 5 minute p95 runtime for r/security-audit, but I will timebox this to July 21.

https://r2c.quip.com/MKq4AAOCVzSi/Improving-whole-rule-in-OCaml

[2021-06-21 15:43] minusworld commented on #3395
Hey @CityOfLight77! Thanks for the request!

Currently, you can use the `-o` or `--output` flag to save results to a file. We support a text-based output, JSON with the `--json` flag, XML j-unit output with `--junit-xml`, and [SARIF](https://docs.oasis-open.org/sarif/sarif/v2.0/sarif-v2.0.html) output with `--sarif`.

If you're specifically asking for CSV or HTML output, I can change the ticket ti

[2021-06-21 15:46] emjin opened #3397 "semgrep-core takes 2 seconds to start up"
I ran `semgrep` and timed `semgrep-core`.

The first time I ran `semgrep`, `semgrep-core` took 2+ seconds. In subsequent runs, `semgrep-core` took 0.7 seconds (these numbers are from memory). Should investigate

[2021-06-21 15:55] nbrahms commented on #3394
@msorens Thanks for the issue! I've submitted a fix and it should be out within the next couple days.

[2021-06-21 18:06] #3394 closed, assigned to nobody

[2021-06-21 18:18] ievans opened #3398 "Differing behavior under semgrep-action"
**Describe the bug**
Semgrep running under semgrep-action fires on a line of go code that doesn’t repro locally or in playground.

The rule in question: https://github.com/dgryski/semgrep-go/blob/master/badnilguard.yml

reported by @echlebek

**To Reproduce**
https://gist.github.com/echlebek/afc24b331fc53482c05ce62da643b10a

**Expected behavior**
No match, as seen in this example: https://semgrep.

[2021-06-21 18:29] ievans opened #3399 "Commutative operator breaking rules"
https://semgrep.dev/s/grJJ

expecting no match. This rule is from https://github.com/dgryski/semgrep-go/blob/master/badnilguard.yml

[2021-06-21 18:30] nbrahms commented on #3398
See https://semgrep.dev/s/grJJ

@IagoAbal looks like commutivity assumptions clash with c-style evaluation order semantics here

[2021-06-21 18:30] ievans commented on #3398
Closing in favor of https://github.com/returntocorp/semgrep/issues/3399

[2021-06-21 18:30] #3398 closed, assigned to nobody

[2021-06-21 19:11] colleend commented on #3388
Hi! Thanks for filing this issue -- we'll look into it as soon as we get the time to. As a heads up, autofix is an alpha feature so it is not as well supported as other GA features!

[2021-06-21 19:50] mjambon commented on #3289
@inkz
* If you're referring to the return type captured by `$A`, it looks like it should be already supported since `identifier` is extended to support semgrep metavariables, and an `identifier` is valid in this position.
* Same reasoning for `$X`. The type appears to be optional, so I'm guessing a plain `$X` should be valid for a `parameter`.

Here's where to look:
* The grammar extension for sem

[2021-06-21 20:03] mjambon commented on #3289
@Sjord I'm noticing [this](https://github.com/returntocorp/ocaml-tree-sitter/blob/5c17d313d9ac8c55ad59410e2439a6b6cbc29c34/lang/semgrep-grammars/src/semgrep-c-sharp/grammar.js#L43) in the grammar extension:
![image](https://user-images.githubusercontent.com/343265/122820649-b2b10000-d290-11eb-912f-46d0140ccd27.png)

You may prefer to create a rule for the pattern (regexp) since otherwise it will b

[2021-06-21 20:30] IagoAbal commented on #3198
@erwanlr out of curiosity, for your particular use case here, is commutative-matching desirable or undesirable?

[2021-06-21 21:02] colleend commented on #3392
good catch, currently kotlin is supported as `kt` in semgrep-core, we can also make it support `kotlin` 👍

[2021-06-21 22:38] mjambon commented on #2991
@fasiha great investigation. I think you should try replacing all instances of `open_in` with `open_in_bin` in both pfff and semgrep. pfff is used as a git module within semgrep. So you'd make a branch in pfff, and another one in semgrep, and we'll see if the tests pass. @aryx might know if there's a reason to not do this but he's on vacation until next week so I say let's just try this.

[2021-06-21 23:16] ShaylanDias opened #3401 "A Ruby gem for Semgrep"
**Describe the solution you'd like**
An implementation of [this Ruby gem](https://rubygems.org/gems/semgrep) allowing Semgrep to be run through Ruby the same way the current Python tool works. This would be useful for integration with Ruby pipelines.

[2021-06-22 02:57] inkz opened #3402 "[Python] constant propagation inside/outside context created by `with` statement"
https://semgrep.dev/s/RP8O/

[code]

[code]

constant propagation does not work for variables outside `with` context

[2021-06-22 05:12] fasiha commented on #2991
Ok! Will try this and let you know what happens 💪🤞!

[2021-06-22 05:46] #2996 closed, assigned to emjin

[2021-06-22 05:46] #3001 closed, assigned to emjin

[2021-06-22 05:54] inkz commented on #3289
@mjambon thank you:+1:

[2021-06-22 07:30] erwanlr commented on #3198
For this case, the commutative matching (a pattern like `b && c` matching code like `(a && b) && c`) is highly desirable, otherwise I would miss matches

[2021-06-22 07:52] IagoAbal commented on #3198
@erwanlr we can do that with just associative matching. With commutativity you can make `b && c` match code like `(b && a) && c`. The thing is that `&&` is not truly commutative. In my opinion, it is useful to pretend it is commutative for code-searching purposes, but some other users have complained about this, so we may disable it by default. I will however let `&&` be associative, so `b && c` s

[2021-06-22 08:06] erwanlr commented on #3198
Oh, I mixed both (associative and commutative), but I just had a look at my real rule and yea for this case I would need both associative and commutative matching.

If it's creating more trouble it's fine to disable it by default, will there be an option to enable it via the rule though ?

[2021-06-22 14:13] IagoAbal commented on #3198
Thanks for confirming! There will be a way to enable it although I am not sure how it will look exactly. I will propose:
[code]
This may change, but it should be documented.

[2021-06-22 23:53] clintgibler commented on #1147
@mitchellh recently [created a grammar for HCL](https://github.com/mitchellh/tree-sitter-hcl): https://github.com/mitchellh/tree-sitter-hcl

https://registry.terraform.io/browse/modules

[Example to find examples](https://twitter.com/mitchellh/status/1407442665654738945)

[2021-06-23 05:42] mjambon opened #3405 "semgrep-core slow startup and/or slow stack trace collection and/or big binaries"
[please add details if you have any]

On Linux, with the ocaml 4.10.0, `semgrep-core` takes about 2 seconds of active CPU time to obtain a stack trace (`Printexc.get_backtrace ()`) when an exception is caught. We don't know what causes this. It can be reproduced by adding code the `Main.ml` that simply raises an exception, catches it, calls `Printexc.get_backtrace ()`, and exits.

On MacOS, a star

[2021-06-23 05:45] mjambon commented on #3405
I'm not sure if this is a problem for typical use of semgrep. It could be if for example `Printexc.get_backtrace ()` is called for many files that fail to parse and that call takes a long time every time. It's possible that it's slow only the first time. More data is needed.

[2021-06-23 10:08] mafrosis commented on #1147
What would be necessary steps to implement/support a new tree-sitter grammar for semgrep? There's huge value for me in helping to get this issue over the line - I'll be happy to contribute

[2021-06-23 13:37] emjin commented on #1147
That would be amazing! To start, take a look at https://github.com/returntocorp/semgrep/blob/develop/doc/SEMGREP_CORE_CONTRIBUTING.md#adding-support-for-a-language, which gives an overview of what you need to do. Also, feel free to connect with us in the [community slack](https://r2c.dev/slack) or post in #dev-discussions whenever you have questions.

[2021-06-23 14:37] mschwager commented on #3405
Looks related to https://github.com/returntocorp/semgrep/issues/3397.

[2021-06-23 18:38] mschwager commented on #2190
It's here!

- https://dashboard.semgrep.dev/metric/semgrep.core.php.parse.pct
- https://dashboard.semgrep.dev/metric/semgrep.core.python.parse.pct

[2021-06-23 18:38] #2190 closed, assigned to mjambon

[2021-06-24 02:17] #3399 closed, assigned to IagoAbal

[2021-06-24 07:06] CityOfLight77 commented on #3395
Yes, please change the title to export csv/html format

[2021-06-24 13:27] IagoAbal opened #3410 "Constness analysis is very slow on very large functions"
**To Reproduce**
[code]

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

[2021-06-24 14:27] IagoAbal opened #3411 "metavariable-pattern does not work on metavariables bound by a regex"
**Describe the bug**
Once we now bind capture groups to metavariables (`$1`, `$2`, ...) we should be able to filter these matches using `metavariable-pattern`, but this does not seem to work yet.

**To Reproduce**
https://semgrep.dev/s/Dwko

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: re

[2021-06-24 15:36] DrewDennison opened #3413 "Semgrep sometimes takes 6 hours and sometimes 3 mins on the same files"
**Describe the bug**
The nightly integration tests sometimes take 6 hours

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [x] P0: blocking your a

[2021-06-24 15:37] DrewDennison commented on #3413
@nbrahms can you please dig up the links to the slow CI jobs when you have a minute?

[2021-06-24 17:19] mjambon opened #3414 "Establish best security practices for tree-sitter imported and generated code"
The concern is that malicious code could be injected into code that ends up linked into semgrep-core.
- [ ] add security guidelines to ocaml-tree-sitter docs
- [ ] add note to each semgrep-LANG repo that outside PRs can't be accepted due to the large volume of code

[2021-06-24 18:04] #2302 closed, assigned to nobody

[2021-06-24 18:48] DrewDennison opened #3415 "C# parser bug: ellipsis operator doesn't work for method args"
Doesn't work: https://semgrep.dev/s/grYo
Works: https://semgrep.dev/s/34rg

from @chgg-kboberg

[2021-06-24 19:09] clintgibler commented on #1330
This worked for someone on Windows:

[code]

[2021-06-24 20:36] mschwager commented on #3414
Transferring to `enterprise` project due to potential security concerns...

[2021-06-24 20:36] AsquaredWsquared commented on #1330
Sorry @clintgibler that was me giving you rubbish information (thanks again for the talk on Semgrep). It installs and can access the help but if I run the below in a poetry shell it isn't happy:

C:\Users\ilike\semgrep_test>semgrep --config=p/ci test.py
using config from https://semgrep.dev/p/ci. Visit https://semgrep.dev/registry to see all public rules.
downloading config...
running 135 rules...

[2021-06-24 23:57] mjambon commented on #3410
Here's how I found it:
[code]
You can run it for other languages and see if you get a similar problem. I just copied the `develop` branch into `parsing-stats`, which triggers a parsing-stats job for all languages in CircleCI. You [can download the log](https://app.circleci.com/pipelines/github/returntocorp/semgrep/4512/workflows/1e996a8e-dcf0-4240-85a7-fca5ee739f40/jobs/6142) if that helps.

[2021-06-25 02:53] j-martin opened #3417 "Add support for Java varags"
**Is your feature request related to a problem? Please describe.**
In this example https://semgrep.dev/s/YX8W (need to quote the semgrep pattern) we are trying to match `double...`, but not `double[]`. Maybe it is possible, but we couldn't find it in the docs.

**Describe the solution you'd like**
Being able to match varargs.

**Describe alternatives you've considered**
n/a

**Additional context**

[2021-06-25 04:06] #3236 closed, assigned to nobody

[2021-06-25 13:51] Sjord commented on #3415
This looks like a duplicate of #3289.

[2021-06-25 13:53] Sjord commented on #3289
My [ocaml-tree-sitter PR was merged](https://github.com/returntocorp/ocaml-tree-sitter/pull/218). I need someone at R2C to release a new semgrep-c-sharp. Then I can refer to that in [this PR](https://github.com/returntocorp/semgrep/pull/3412) and then ellipsis can be used as parameters.

[2021-06-25 18:56] mjambon commented on #3289
@Sjord it's ready: https://github.com/returntocorp/semgrep-c-sharp/tree/dd52ab7e924556b3c500ad1c13232748c0942d00

[2021-06-25 21:02] brendongo commented on #2432
Back on this. Can confirm that building from source runs without problems on M1 but running `brew install -s semgrep` runs into problems

[2021-06-25 23:15] brendongo commented on #2432
Well I have a weird minimal reproduction of the issue:

1. Install using brew build from source: `brew install -s semgrep`
2. Create a test directory and run the following commands:
[code]
3. Run `semgrep -e 'print($X)' --lang python .` This should run to completion without issue
4. Run `cp 1.py 9.py`
5. Run `semgrep -e 'print($X)' --lang python .` Semgrep will no longer finish

This seems to sugg

[2021-06-27 12:28] Sjord commented on #3289
@mjambon [Something went wrong](https://github.com/returntocorp/semgrep-c-sharp/blob/dd52ab7e924556b3c500ad1c13232748c0942d00/lib/CST.ml#L174):

[code]

The text fragment is `Blank` again. Did you use the latest upstream tree-sitter-c-sharp grammar?

[2021-06-27 14:30] jtimmons opened #3423 "Metavariable comparison fails in mixed integer/float comparisons"
**Describe the bug**
The `metavariable-comparison` rule fails when comparing integers and floats. This is particularly problematic when the value of the metavariable can be either/or because then you aren't able to adjust the comparison to match.

**To Reproduce**
Take this example from the docs: https://semgrep.dev/s/L83L

This works as-is, but if you change _any_ of the integers in either the ru

[2021-06-27 17:30] #2734 closed, assigned to nobody

[2021-06-27 22:28] #2779 closed, assigned to nobody

[2021-06-28 09:04] #1474 closed, assigned to nobody

[2021-06-28 09:11] aryx commented on #3415
closing, duplicate.

[2021-06-28 09:11] #3415 closed, assigned to nobody

[2021-06-28 09:13] aryx commented on #3410
please copy the offending file in semgrep-core/perf/input/lxxxx.cs so we can quickly reproduce (and maybe add it as a part
of perf regression testing, see semgrep-core/perf/run-perf-suite)

[2021-06-28 09:14] aryx commented on #3402
@IagoAbal possibly a CFG related error?
We do not handle those kinds of statements maybe?

[2021-06-28 09:15] aryx commented on #3401
cc @ievans who would also like to make it easy to install semgrep from the language-specific package managers.

[2021-06-28 09:17] aryx commented on #3397
I also got once this issue, and it's really hard to know why.
Please @emjin can you describe your enviromnent: OS, ocaml version.
semgrep-core --help should take no more than 0.1 second.

I tried strace on semgrep-core to investigate a bit, and got some weird file introspection.

[2021-06-28 09:23] IagoAbal commented on #3402
Indeed, we do not handle the translation of `with ... as ...:` to the IL for data flow. But it should be easy to fix.

[2021-06-28 11:12] dvyakimov commented on #3333
What information do you need? The example shows that the same rule works for a "-" symbol and does not work for "_"
<img width="975" alt="Снимок экрана 2021-06-28 в 14 12 43" src="https://user-images.githubusercontent.com/34271513/123627639-e9e85980-d81a-11eb-9098-5b0169682ab7.png">
.

[2021-06-28 12:11] spookylukey commented on #3387
It also sometimes duplicates a closing square bracket. That might be a different bug, but it seems similar enough that it is worth documenting here.

Rules:
[code]

Code:
[code]

In the second case, it seems that the match is finding `Dict[str, int` rather than `Dict[str, int]`.

See:
https://semgrep.dev/s/spookylukey:closing-bracket-autofix-bug-list
https://semgrep.dev/s/spookylukey:closing-brack

[2021-06-28 12:46] emjin commented on #2294
👋

[2021-06-28 12:48] emjin commented on #3397
I'm using a MacOS (Big Sur), 4.10.0

[2021-06-28 13:55] #3423 closed, assigned to nobody

[2021-06-28 15:08] #3411 closed, assigned to IagoAbal

[2021-06-28 15:45] nbrahms opened #3426 "Publish policy for issue SLA"

[2021-06-28 16:11] emjin opened #3427 "Some spacegrep rules are slow"
The following generic rules are consistently some of the five slowest rules in r2c-security-audit.

https://github.com/returntocorp/semgrep-rules/blob/develop/python/django/security/audit/xss/template-translate-as-no-escape.yaml
https://github.com/returntocorp/semgrep-rules/blob/develop/python/django/security/audit/xss/template-translate-no-escape.yaml
https://github.com/returntocorp/semgrep-rules

[2021-06-28 16:17] nbrahms opened #3428 "Generic mode should have a way to ignore comments"
**Is your feature request related to a problem? Please describe.**

Let's say a generic file has code like:

[code]

This will be caught by rules that, e.g., check for `my_terrible_api(...)`.

**Describe the solution you'd like**
Semgrep should have some mechanism to ignore content in comments. Three ideas:
1. Blanket ignore content after common comment sentinels `#`, `//`, `/*` et c.
2. Map file

[2021-06-28 16:58] ievans commented on #2295
@msorens It looks to me like https://semgrep.dev/s/Rok8/ is working as expected now? Can you confirm?

[2021-06-28 17:00] ievans opened #3429 "Ocaml exception running r/all on semgrep"
**Describe the bug**

Semgrep outputs a stderr exception representing an exception in the core:
[code]

**To Reproduce**

Checkout semgrep then `semgrep --config=r/all` on semgrep.

**Expected behavior**
No output from semgrep-core.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bu

[2021-06-28 18:06] mjambon opened #3430 "Slow parsing and matching with spacegrep"
Here are 3 slow rules using the generic mode (reported by @emjin ):
* https://github.com/returntocorp/semgrep-rules/blob/develop/python/django/security/audit/xss/template-translate-as-no-escape.yaml
* https://github.com/returntocorp/semgrep-rules/blob/develop/python/django/security/audit/xss/template-translate-no-escape.yaml
* https://github.com/returntocorp/semgrep-rules/blob/develop/python/djang

[2021-06-28 19:16] mjambon commented on #3289
Oops. It should be good now.
Before: https://github.com/returntocorp/semgrep-c-sharp/blob/dd52ab7e924556b3c500ad1c13232748c0942d00/fyi/semgrep-grammars/src/tree-sitter-c-sharp/grammar.js#L1161-L1165
After: https://github.com/returntocorp/semgrep-c-sharp/blob/06f15cd5de732f560f3a14e6f43c1baca73e4767/fyi/semgrep-grammars/src/tree-sitter-c-sharp/grammar.js#L1165-L1169

[2021-06-28 19:19] mjambon commented on #3289
no more blank in `CST.ml`:
https://github.com/returntocorp/semgrep-c-sharp/blob/06f15cd5de732f560f3a14e6f43c1baca73e4767/lib/CST.ml#L212-L216
[code]

[2021-06-28 19:44] mjambon commented on #2258
Current tree-sitter-ruby: [commit 391269d](https://github.com/tree-sitter/tree-sitter-ruby/tree/391269d74d20154bbd0ac9be20b35eced6920290))

What I see is that indeed, our ocaml parser cannot make sense of heredoc contents like the original tree-sitter parser does.

Input:
[code]
Using the work in progress by @ahlinc, we get this output:
![image](https://user-images.githubusercontent.com/343265/123

[2021-06-28 20:18] ievans commented on #2734
confirmed fixed as of 0.56.0

[2021-06-28 20:59] jtimmons opened #3432 "Feature request: metavariable expressions in autofix"
**Is your feature request related to a problem? Please describe.**
Several of our semgrep rules involve checking the units that the developer has used for a number and recommending a different unit based on the usecase, so for our purposes it would be extremely convenient to be able to automatically perform that conversion. Some examples:
  - Preferring [em/rem to pixels](https://engageinteractive

[2021-06-28 22:05] brendongo commented on #2432
Running the built semgrep-core binaries directly:

Infinite loop is printing out:
[code]

Which seems linked to parmap https://github.com/rdicosmo/parmap/blob/f140dbc8b05aa3d341c70436a1920a06df9a0ed4/src/setcore_stubs.c#L54 which supports @IagoAbal hypothesis on an unpinned ocaml dependency being the potential problem? But could also point to diff setting of HAVE_MACH_THREAD_POLICY_H in brew buill

[2021-06-28 22:26] #2987 closed, assigned to mjambon

[2021-06-28 22:35] ievans commented on #2103
Fixed as of 0.56 or earlier, as mentioned by @aryx.

[2021-06-28 22:35] #2103 closed, assigned to nobody

[2021-06-28 22:39] ievans commented on #3357
@nafiz1001 We re-release docker images a lot (every merge to main branch). Can you share the tag of the image that had the issue? Right now
https://semgrep.dev/s/xedL/?version=develop is at docker tag `4bec5b915b7b` and I only see two findings -- which is what you were hoping for!

If you did see an issue, it's probably the propagation delay of the new image making it into the playground. Will clo

[2021-06-28 22:39] #3357 closed, assigned to nobody

[2021-06-28 22:53] brendongo commented on #2432
Acceptable workarounds so far:

1. Use Rosetta and use pypi semgrep
2. Use brew installed semgrep but set `--jobs` to 1 when running semgrep
3. Follow steps in https://github.com/returntocorp/semgrep/blob/develop/doc/SEMGREP_CORE_CONTRIBUTING.md#building-semgrep-core to build semgrep-core from source on an M1 Mac

[2021-06-29 02:14] mjambon commented on #2258
OK, so [Max explained why there's no better solution than having the heredoc_body occur as an extra](https://github.com/tree-sitter/tree-sitter-ruby/issues/176). The solution I can think of would involve making a special pass on the original CST so as to locate the heredoc_body and move to the just previous heredoc_beginning. We'd have to generate a `CST.ml` as if the grammar had a `seq($.heredoc_

[2021-06-29 02:58] #2264 closed, assigned to dlukeomalley

[2021-06-29 07:57] Sjord commented on #3395
One method to conveniently view semgrep output is to export to SARIF and then use the [SARIF viewer](https://marketplace.visualstudio.com/items?itemName=MS-SarifVSCode.sarif-viewer) plugin in Visual Studio Code. There you can open the SARIF file and even navigate directly to the correct code location.

For CSV and HTML output, it would also make sense to use SARIF as intermediate. I.e. create a SA

[2021-06-29 08:10] Sjord commented on #3289
Thanks, the [pull request](https://github.com/returntocorp/semgrep/pull/3412) works and is ready for review.

[2021-06-29 11:25] ahlinc commented on #2258
@mjambon The `heredoc_content` doesn't have visible content in the above screenshot because it is multi line token and contains `\n`. I didn't implement printing multi line tokens properly yet.

[2021-06-29 12:24] Sjord commented on #3289
Pull request is merged, so this issue is done. Available either in the current `develop` branch or with the next release.

@inkz, please test, and feel free to file a new issue if your use case is not solved by this change.

[2021-06-29 12:24] #3289 closed, assigned to nobody

[2021-06-29 13:24] aryx commented on #2835
On Thu, Apr 22, 2021 at 6:00 AM poning ***@***.***> wrote:

Going through my email backlog ... yes it's tracked somewhere, it's also now
the default mode, so your example should go faster now with 0.56.

[2021-06-29 14:02] #3279 closed, assigned to aryx

[2021-06-29 15:45] nbrahms commented on #2781
Fixed in https://github.com/tree-sitter/tree-sitter-javascript/pull/180

[2021-06-29 15:58] mschwager opened #3437 "Add Javascript equivalence for optional function name"
It would be helpful if the following pattern caught all 4 functions here: https://semgrep.dev/s/2RA8. Instead, we currently use 2 patterns to catch all these cases: https://semgrep.dev/s/X8ZN. This wouldn't have been so noticeable if this pattern didn't catch these 2 cases: https://semgrep.dev/s/jkDD.

My intuition for behavior here would be: `function ($REQ, $RES) {...}` catches all the above cas

[2021-06-29 17:53] IagoAbal commented on #3437
The key detail here is that `function ($REQ, $RES) { ... }` is an expression pattern (a "lambda") whereas `function $FUNC($REQ, $RES) { ... }` is a statement (function definition).

This is also a statement, that's why you need `function $FUNC($REQ, $RES) { ... }` to match it:
[code]

So this about making a lambda pattern match a function definition.

[2021-06-29 18:14] IagoAbal commented on #3437
Please check if https://semgrep.dev/s/96L0 does the job and if it does we can probably close this issue. We should document this feature it is not already.

[2021-06-29 18:55] mschwager commented on #3437
Yup, that did the trick!

[2021-06-29 18:55] #3437 closed, assigned to nobody

[2021-06-29 19:42] jgatka-OD opened #3439 "Support for additional flags during CI scanning"
**Is your feature request related to a problem? Please describe.**
No, not yet anyways. The ability to add these flags could reduce the likelihood of errors related to unsupported file types or files that cause parsing errors or scans that hang indefinitely in the future.

**Describe the solution you'd like**
Currently, the `--skip-unknown-extensions`, `--timeout`, and  `--timeout-threshold` flags

[2021-06-29 19:45] aryx commented on #3437
yep, you can use ... for the function name.
I'll try to add it in the docs.
I think it's only for Go and Javascript right now.

[2021-06-29 21:04] IagoAbal commented on #3410
The file is part of a microbenchark for aspnetcore, the problematic function looks like this:
[code]
Do you still want to add it to `perf/input` ?

[2021-06-29 21:18] thypon commented on #2432
Is there a roadmap to provide a bug-free experience for the general public?

[2021-06-30 00:00] mjambon commented on #2258
@ahlinc ok, great. I closed that issue.

[2021-06-30 00:11] ahlinc commented on #2258
@mjambon I've shared new improvements in https://github.com/ahlinc/tree-sitter/pull/4 and now it also prints multi line tokens, but some times with a bit broken indentation for such tokens sot there are still need to work on improvements. You can try to update your tree-sitter version from that branch.

[2021-06-30 00:29] mjambon commented on #2258
@ahlinc Awesome. Here's the updated screenshot:
![image](https://user-images.githubusercontent.com/343265/123884172-7d935600-d8ff-11eb-9c7a-20ea8536cde2.png)

[2021-06-30 00:37] mjambon commented on #2331
The solution here is to use a deep expression as @fcsonline showed above ^. I see that the cheatsheet now covers the case of `"Hello, #{name}!"` not being matched by `...`. Closing!

[2021-06-30 00:37] #2331 closed, assigned to nobody

[2021-06-30 00:40] mjambon commented on #3427
Oops, I didn't see this. I created a duplicate issue: #3430

[2021-06-30 00:40] #3427 closed, assigned to mjambon

[2021-06-30 00:49] mjambon commented on #3410
Not sure what you did eventually. An option to avoid keeping a huge file around is to shrink it so that the old constant propagation takes 5-10 seconds. We'd make the test fail if it takes over a second or so.

[2021-06-30 01:24] mjambon opened #3443 "Log any operation that's unusually slow and takes over 1 second"
[not sure if there's already a ticket for this or work in progress]

I think we should print, in semgrep's default output, any target file that takes a long time to parse (> 1 second) or a pair (rule, target) that takes a long time to match (> 1 second). Why?
* This won't clutter up the output because there's only so many (non-overlapping) computations that can take over 1 second within a semgrep

[2021-06-30 02:45] inkz commented on #3289
@Sjord ok, thank you :+1:

[2021-06-30 03:30] minusworld opened #3445 "Make `--test` output easily understandable"
**Is your feature request related to a problem? Please describe.**
Right now, the `--test` output is huge. In CI, this becomes a problem because it's not immediately obvious where a failing test is.

**Describe the solution you'd like**
It would be nice if the `--test` output made it easy to understand what failed instead of trying to find the needle in the haystack. Desired features:
- easily und

[2021-06-30 08:26] IagoAbal commented on #3410
Sure I can add a shrink'ed version of it. I was somewhat in doubt because it is not a realistic example, but it's not much work to add It anyways.

[2021-06-30 08:28] IagoAbal commented on #2432
@thypon yes, I will be looking into this this week.

[2021-06-30 08:35] aryx commented on #2812
:wave:

[2021-06-30 08:39] javixeneize opened #3446 "False positives management"
**Is your feature request related to a problem? Please describe.**
Maybe its something that is already built but i have not seen t documented anywhere. I would like to have the ability to ignore a specific false positive.
I dont want to ignore a rule completely as there might be a scenario where it is a valid finding in a file, but not in another in the same project

**Describe the solution you'd

[2021-06-30 08:42] #3410 closed, assigned to IagoAbal

[2021-06-30 13:09] aryx commented on #3429
I can't reproduce on develop.
I tried :`semgrep --config=r/all semgrep-core/tests/c/ --verbose` but I don't get any exception.

[2021-06-30 13:15] aryx commented on #3429
I do get some errors logged when running with --debug, but I get lots of stuff in those --debug output, so the logged
exception does not really stand out as more annoying than the other logs.

[2021-06-30 13:25] #3429 closed, assigned to aryx

[2021-06-30 13:41] IagoAbal commented on #2432
Simply `Parmap.disable_core_pinning();` fixes the problem in 0.56.0, I will check this against develop and I'll open a PR. The fix should go into 0.58.0 next week (it's already too late to include it in 0.57.0).

[2021-06-30 15:18] nbrahms commented on #2551
go away stale bot

[2021-06-30 15:21] nbrahms commented on #1804
@mschwager is this issue still a problem for you, or should we close it?

[2021-06-30 15:46] mschwager commented on #1804
The issue mentioned in the description still exists, but it's not currently blocking me on anything. I'm having a tough time remembering exactly why I was trying to write this type of pattern. I think I was trying to emulate some kind of source-sanitizer-sink pattern, like: https://dev.semgrep.dev/s/PJqz.

We did some similar work for https://github.com/returntocorp/semgrep/issues/3077, and, per h

[2021-06-30 21:10] aryx commented on #3392
Can you fix that @colleend ? seems like a small diff.

[2021-06-30 21:12] aryx commented on #3369
@graveacc looks like you got a segfault (code: -11).
Do you mind sharing the architecture you run semgrep on? I see you use vmware, but did you try the same command on the host machine?

[2021-06-30 21:14] aryx commented on #3355
Closing since looks like adjusting the nosemgrep to the line of the try fixed the problem.

[2021-06-30 21:14] #3355 closed, assigned to nobody

[2021-06-30 21:17] aryx commented on #3333
We are actually in the process of deprecating inline-regexp in string (the "=~/.../") syntax.
Could you rewrite your rule to use instead metavariable-regexp?

[2021-06-30 21:19] aryx commented on #3305
A good check to add @emjin !

[2021-06-30 21:20] aryx commented on #3304
That's a great idea!

[2021-06-30 21:26] aryx commented on #3220
@brendongo can we fix that? I think it will really help to debug those segfault, to at least
get the last file that was processed.
semgrep --debug should currently display the list of analyzed file.

[2021-06-30 22:10] #3343 closed, assigned to emjin

[2021-06-30 22:36] colleend commented on #3392
can do 👍

[2021-06-30 23:13] fasiha opened #3453 "Windows-style configs incorrectly parsed as saved snippet"
**Describe the bug**
Calling Semgrep with a Windows-style path to a config, e.g., with a drive letter and colon like `c:\path\to\config.yaml` are interpreted as a saved snippet so Semgrep attempts to download it from https://semgrep.dev/s, which fails.

**To Reproduce**
Running `semgrep --config=c:\path\to\rules.yaml` fails with an error, `Failed to download config from https://semgrep.dev/s/C:\pa

[2021-07-01 00:43] dee-see commented on #3343
Yay, thanks team :)

[2021-07-01 00:45] dee-see commented on #3343
Hmm might have celebrated too early.

My repro in the original description now crashes with `Semgrep exited with an unspecified error` https://semgrep.dev/s/WgJE/?version=develop

@mjambon

[2021-07-01 00:48] dee-see commented on #3343
Also tagging @emjin, just realized `@mjambon` approved the MR but didn't do the implementation my bad

[2021-07-01 01:03] emjin commented on #3343
Hm, it's working for me. Can you try refreshing? Sometimes updating the docker image has a little lag, and we have to refresh 1 or more times.

[2021-07-01 01:04] dee-see commented on #3343
Indeed it works now, sorry for the false alarm. Thanks!

[2021-07-01 03:12] mjambon commented on #3343
😅

[2021-07-01 04:28] ajs1998 opened #3455 "Match partial try/catch blocks in Java"
https://semgrep.dev/s/Aw5Q

[2021-07-01 06:36] mjambon commented on #3430
@emjin I haven't been able reproduce the slowness on artificial files. We already have an optimization that takes care of treating consecutive `...` as one. Do you have a target that's know to be slow for one of these rules? Preferably over 100 ms.

[2021-07-01 09:29] inkz opened #3456 "[JavaScript] matching a field with a function in a JS object"
matching a field in a JS object does not work if value is a function
works: https://semgrep.dev/s/lxWB/
[code]
[code]

does not work: https://semgrep.dev/s/YX4D/
[code]

[code]

It works if you give a name to the function https://semgrep.dev/s/qqZR

Also, it is not possible to match a pattern inside a function in a specific field

example: https://semgrep.dev/s/65kW/

[code]

[code]

will match bo

[2021-07-01 13:00] aryx commented on #3220
Ok, just thought about it again. What about we simply do (1) and not capture stderr in the subprocess when in --debug mode? That way in normal mode we capture it and avoid issues where semgrep-core prints stuff on stderr by mistake, and in --debug mode anyway we don't care about those mistakes.

[2021-07-01 13:57] IagoAbal commented on #3198
0.57.0 is out, finally you'll have to do:
[code]
The docs should be updated soon.

[2021-07-01 14:14] emjin commented on #3430
You can use `semgrep/perf/bench/gitlab/input/gitlab/locale/ko/gitlab.po`, which takes half a second to match on my machine. In general, I don't think it takes a super long time on any one file, it just takes a non-negligible amount of time for each file, which adds up.

For the gitlab repo, here is the general summary:
[code]

and here is one of the spacegrep rules on the entire repo:

[code]

[2021-07-01 16:01] mjambon commented on #3430
Great, thanks. Maybe I'll try indexing the tokens of the target in a hash table and checking for the presence of tokens of the pattern in that table, as a preliminary step.

[2021-07-01 16:06] IagoAbal commented on #3397
@emjin

Have you been able to reproduce this behavior by running `semgrep-core` directly? Could you help me reproducing this?

[2021-07-01 17:08] emjin commented on #3397
Just now, having stepped away for lunch, I ran `time semgrep-core --help`, and it took over a second. I got `semgrep-core --help  0.08s user 0.02s system 7% cpu 1.299 total`.

The next time I ran it, I got `semgrep-core --help  0.10s user 0.03s system 97% cpu 0.133 total`.

It looks to me like the `system 7%` may be the cause? I don't know why that difference exists

[2021-07-01 17:08] haydenplemmons opened #3458 "Generic/autofix Metavariable Name Issue"
**Describe the bug**
When applying autofixes, uses metavariable with shortest name instead of the actual variable referenced.
set $B, autofix will never use a variable named $BA or $BAR, it will fill in that $B first.

**To Reproduce**
https://semgrep.dev/s/xePj

**Expected behavior**
We would expect it to use the variables that I give it, read the whole variable name, not just the first matching

[2021-07-01 17:13] IagoAbal commented on #3397
When time allows, could you upgrade to 4.10.2 and try to reproduce it? I built semgrep-core with 4.10.2 and I'm not able to reproduce this.

[2021-07-01 18:23] emjin commented on #3397
Ooh, that might have worked! I'll try again to confirm after I haven't touched the command line for a bit.

[2021-07-01 20:50] #2782 closed, assigned to dlukeomalley

[2021-07-02 00:44] emjin commented on #3397
Yup, on 4.10.2 it doesn't happen!

[2021-07-02 04:00] mjambon opened #3461 "spacegrep performance: Add pre-parse target filtering"
Parsing time dominates spacegrep runs. See https://github.com/returntocorp/semgrep/pull/3460

We could skip a target without parsing it if it doesn't contain all the literals required by the pattern.

The approach could be:
1. Parse the pattern
2. Search for all the literals within the pattern (`Word`, `Punct`, `Byte`) and check that they occur in the target source file without parsing it.
3. Cont

[2021-07-02 04:06] mjambon commented on #3461
A regexp-based implementation could be to translate the spacegrep pattern into a regexp, rather than looking up bytes or substrings in any order. It would have to be faster than spacegrep on average. It looks like it would require nailing down the correct regexp for Words.

For example, the spacegrep pattern `function $F { ... }` could be translated into a regexp like this:
[code]

This ignores in

[2021-07-02 07:46] aryx commented on #3397
Do we know what was fixed between 4.10.0 and 4.10.2 that fixed the issue?
I also experience slow startup time in other ocaml programs, but  it's not very deterministic. I add a new file to link in
and boom the startup goes to 2s.

[2021-07-02 07:47] #3397 closed, assigned to nobody

[2021-07-02 08:36] #3455 closed, assigned to nobody

[2021-07-02 08:36] #3417 closed, assigned to aryx

[2021-07-02 09:58] aryx commented on #3461
See semgrep-core/src/optimizing/Analyze_rule.ml and semgrep-core/src/optimizing/Analyze_pattern.ml which do similar things.

[2021-07-02 09:58] aryx commented on #3461
(that was the main idea behind -fast)

[2021-07-02 11:02] IagoAbal commented on #3397
I could not find an obvious cause by looking at the release notes of 4.10.1 or 4.10.2. @aryx do you experience this with 4.10.2 on Linux?

[2021-07-02 16:56] j-martin commented on #3417
@aryx Tu es le meilleur!

[2021-07-02 17:48] #3402 closed, assigned to IagoAbal

[2021-07-02 21:23] mjambon commented on #3151
See also #2258, which is preventing us from doing anything with the heredoc body.

[2021-07-04 09:07] 101142TS opened #3469 "Line numbers within a single file"
Hello, team!  Can I specify the start and end line numbers when matching within a file? Since a file may contain many lines, one match can take a long time

**Is your feature request related to a problem? Please describe.**
User can specify the start and end line numbers when matching within a file, and match only the content between them

**Describe the solution you'd like**
semgrep -f ./test.yml

[2021-07-04 17:32] aryx commented on #2664
👋

[2021-07-04 21:14] #1834 closed, assigned to nobody

[2021-07-05 01:11] #2323 closed, assigned to nobody

[2021-07-05 07:25] aryx commented on #1208
with --debug we get the list of files being processed.

[2021-07-05 07:25] #1208 closed, assigned to nobody

[2021-07-05 07:26] aryx commented on #3417
merki

[2021-07-05 08:31] aryx commented on #1301
:wave:

[2021-07-06 13:33] IagoAbal opened #3476 "Regression due to `pattern: $X` optimization"
**Describe the bug**

We can't (in general) optimize a `pattern: $X` that follows a sequence of `pattern-inside`s by simply extracting the value of `$X` in the `pattern-inside` matches. As long as there is a `...`, `pattern: $X` could be match inside that region of code, and the result would not be equivalent.

**To Reproduce**

The link to the Playground would be https://semgrep.dev/s/65Bq but th

[2021-07-06 14:13] emjin commented on #3476
Unrelated to this particular issue (presumably): I can't get your semgrep link to work for me. Am I doing something wrong?

![image](https://user-images.githubusercontent.com/5942585/124615012-d6547880-de42-11eb-83ef-0f75f56c2c68.png)

[2021-07-06 14:55] IagoAbal commented on #3476
As far as I can tell that is a bug in the Playground (or some weird bug in Semgrep). If you create a new Python example, go to advance mode, and copy-paste the config and target that I provided, it works. Now you try to share it, and use the link, and it does not work anymore... (But sharing the link has the side-effect of rewriting the pattern so that's why I'm not sure if this is a Playground or

[2021-07-06 16:37] IagoAbal commented on #3476
Actually, if I pass to Semgrep CLI the rewritten pattern formula:
[code]
Then it works and I get the results that I expected (the optimization doesn't kick in I guess due to the `pattern-either`). It must be a bug in the Playground, so I opened a separate issue returntocorp/semgrep-app#2907.

[2021-07-06 16:42] mschwager commented on #3469
If you have a particular file in mind you can pipe the line range to Semgrep using target `-`, like so:

[code]

[2021-07-06 20:42] clintgibler commented on #1849
I was just talking with a paying customer today who wanted this functionality. Not saying that this is a high priority issue that should be done ASAP, just as a +1 to the value of this. I'd also like this functionality personally.

Agree with @aryx, probably we'd want to return the name of the variable in addition to its value. Maybe something like `abstract_content` and `abstract_value`? 🤷

From

[2021-07-06 21:32] #3476 closed, assigned to emjin

[2021-07-07 01:08] jtimmons commented on #3458
I ran into this as well in a similar situation and debugged a bit. Seems that during the message/autofix string interpolation the set of metavariables are just looped over in no particular order and replaced - this means that if the shorter metavariable name is hit first then it'll replace that first. An easy way to avoid these types of collisions this would be to just replace the metavariables in

[2021-07-07 11:43] Vijay1216 opened #3480 "Severity modification in the output of rule semgrep --config "p/owasp-top-ten"."
**Is your feature request related to a problem? Please describe.**
It is not very clear whether we should mitigate the issues or not from security perspective.

**Describe the solution you'd like**
Can we not modify the output of rule semgrep --config "p/owasp-top-ten" as Severity :high , medium ,low , informative instead of warning and error. It will be easier to understand the issues from securi

[2021-07-07 14:09] emjin commented on #3458
That seems like a good solution! You're very welcome to make a fix

[2021-07-07 19:52] gordonwoodhull opened #3482 "Fixes drop Java generic parameters; no apparent way to specify correct fix"
**Problem description**

I'm trying to write rules that may match Java types, and those types may or may not be generic.

If I use a single metavariable to represent the generic type with its parameters, the parameters get dropped.

Furthermore it seems to be invalid syntax to use angle brackets inside a pattern, so I can't write a more specific rule to match & fix this correctly.

**To Reproduce*

[2021-07-08 00:16] ievans opened #3484 "`import "foobar"` matched `import "foobar4"` in golang"
**Describe the bug**
`import "foobar"` matched `import "foobar4"` in golang

**To Reproduce**
https://semgrep.dev/s/AwNw

**Expected behavior**
I expect L19, 21, 25, 27 not to match, but they do.

**What is the priority of the bug to you?**
- [x] P2: regular bug that should get fixed

cc @aryx @IagoAbal

[2021-07-08 12:26] IagoAbal commented on #3199
I am working on a new version of the taint-mode that should resolve some of your requests, when it's released we need to re-assess what is left.

[2021-07-08 15:54] #3295 closed, assigned to IagoAbal

[2021-07-08 15:59] aryx commented on #3482
Hi @gordonwoodhull . Thx for the bug report. We are in the middle of a hackathon/hack-week, but I'll try to look at it
next monday.

[2021-07-08 17:56] mschwager opened #3489 "Expressions forming python decorators aren't matched ('@foo', '@foo()', '@foo.bar()')"
Using metavariables in Python `from ... import ...` style imports misses decorator usage of the metavariable.

See here: https://semgrep.dev/s/jk4y

![image](https://user-images.githubusercontent.com/343265/125345631-a22efb00-e30d-11eb-9977-0b06ea78975e.png)

[2021-07-08 18:27] mschwager commented on #3489
Looks like this is not just imports, it's any metavariable defined in a separate pattern and used in a decorator call: https://semgrep.dev/s/1Ggl. If we take away the decorator in the pattern it works as expected: https://semgrep.dev/s/96n2.

[2021-07-08 18:45] mschwager opened #3490 "Multiple from-style imports produce incorrect findings and range"
https://semgrep.dev/s/rkDj

This appears to be producing two incorrect results:

- There are 3 findings whereas I would expect 1
- The finding range only includes the `import` statement whereas I would expect it to include the whole file

[2021-07-09 00:05] #2871 closed, assigned to nobody

[2021-07-09 01:32] jtimmons commented on #3489
Just hit this as well, looks like it's not specific to the python language either. Here's an example of looking for methods within a class in TS:
  - If we include the class as part of the match then it works fine: https://semgrep.dev/s/kkPO
  - But, if we make the match more specific to the method being inside the class then it fails: https://semgrep.dev/s/w12N
  - Similarly, removing the decorat

[2021-07-09 13:23] #1751 closed, assigned to aryx

[2021-07-09 15:56] nbrahms commented on #1849
@clintgibler I don't think this ticket and the user request are related? Constant propagation isn't driving the match here. It would if the pattern were `print(42)`.

[2021-07-09 16:02] #1945 closed, assigned to nobody

[2021-07-09 17:46] timfeirg opened #3500 "returntocorp/semgrep-agent:v1 image not working"
**Describe the bug**

"semgrep-agent": executable file not found in $PATH

**To Reproduce**

![image](https://user-images.githubusercontent.com/4319104/125117276-9500e900-e120-11eb-9713-6dfcd0a8b6d4.png)

**Expected behavior**

semgrep-agent runs normally

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoyi

[2021-07-09 17:50] underyx commented on #3500
Hey @timfeirg! Is it possible that you tried semgrep-agent a long time ago, before we added the command alias? Maybe you just need to run `docker pull returntocorp/semgrep-agent:v1` before running this command. For the record, I cannot reproduce the issue with the same command, probably because of that.

[2021-07-09 21:58] JasonCubic opened #3502 "(x) => `${x}` yields unexpected match for raw-html-concat rule"
https://semgrep.dev/s/JjOd?registry=javascript.browser.security.raw-html-concat.raw-html-concat

I have some backend code that seems to be returning a false positive for this rule.  Here is the code:  https://semgrep.dev/s/jasoncubic:false-positive-for-html-xss-in-backend-code??registry=javascript.browser.security.raw-html-concat.raw-html-concat

[2021-07-10 02:51] timfeirg commented on #3500
I pulled the image yesterday but it was through a chinese mirror, the mirror itself was outdated, sorry for the trouble, it was a china problem.

[2021-07-10 02:51] #3500 closed, assigned to nobody

[2021-07-10 07:10] underyx commented on #3500
Thanks for reporting back! And wow, that's a fascinating issue, it's the first time I definitely heard of this problem with docker images! All the more reason for us to start semantically versioning semgrep-agent 🤔

[2021-07-10 13:16] dee-see opened #3503 "pattern-not-regex doesn't work when under metavariable-pattern"
**Describe the bug**

In the following (simplified) structure

[code]

It seems like the `pattern-not-regex` is ignored. `pattern-regex` works as expected however.

**To Reproduce**

https://semgrep.dev/s/WOLj

**Expected behavior**

`pattern-not-regex` should work

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0:

[2021-07-10 13:26] dee-see commented on #3503
I just realized how new this feature is! Maybe this isn't supposed to work yet?

[2021-07-11 17:29] #2475 closed, assigned to nobody

[2021-07-11 23:28] dee-see commented on #2874
I would like it but I understand there are more pressing issues :)

[2021-07-12 00:56] ievans commented on #2874
@brendongo @aryx I assume this is much easier now that we've moved functionality into semgrep-core?

[2021-07-12 18:23] #3482 closed, assigned to aryx

[2021-07-12 18:47] mjambon commented on #3503
Thanks for reporting this! It's strange indeed because `pattern-regex` instead of `pattern-not-regex` works as expected: https://semgrep.dev/s/65AY [as you mentioned - sorry I didn't read you message carefully]

[2021-07-12 19:19] mjambon commented on #3502
Thank you for reporting this! It's unfortunate that we don't see which of the patterns matched. Here's the same with a simplified target program: https://semgrep.dev/s/z9WP

[code]

[2021-07-12 19:23] mjambon commented on #3502
It might be a problem with the rule itself since it's pretty long but my guess is there's a matching bug.

[2021-07-12 19:30] minusworld commented on #3502
@inkz When you come online, would you also mind investigating this from a rule perspective?

[2021-07-12 19:48] mjambon commented on #3489
I reduced the example to this: https://semgrep.dev/s/pkqJ

![image](https://user-images.githubusercontent.com/343265/125346987-39e11900-e30f-11eb-82ae-3e4fd15df7ba.png)

Expressions in decorators are not matched, but the user expects them to be matched.

[2021-07-12 21:02] mjambon commented on #3480
Thanks for bringing that up! I pinged the security team and they're telling me it's something they've considered in the past and looking into again.

[2021-07-12 21:37] mjambon commented on #3469
@101142TS I'm closing the issue. Just let us know if @mschwager's suggestion doesn't work for you or if we misunderstood your use case.

[2021-07-12 21:37] #3469 closed, assigned to nobody

[2021-07-13 07:26] aryx commented on #3482
Works now on develop: https://semgrep.dev/s/RP48?version=develop

[2021-07-13 08:31] #3120 closed, assigned to IagoAbal

[2021-07-13 08:42] IagoAbal commented on #3120
@sk- for now you can use:
[code]
on each rule where this behavior is a problem, eventually it should become the default.

[2021-07-13 08:49] inkz commented on #3502
yep,
* this is definitely a rule problem, semgrep is doing its job :+1: , so I believe it makes sense to move this ticket to the`semgrep-rules` repo.
* We do not check strings to contain HTML code specifically, the rule just highlights everything that concatenates strings and variables regardless of the string content. It works pretty well on client-side js code, but on the server, it is going to

[2021-07-13 08:49] inkz commented on #3502
cc @minusworld

[2021-07-13 09:10] aryx commented on #3062
The main issue is that pfff is using ppxlib 0.15.0 and it does not work with ocaml 4.12, so I need
to update to ppxlib 0.20.0

[2021-07-13 12:37] aryx commented on #2885
:wave:

[2021-07-13 12:42] gordonwoodhull commented on #3482
Cool, thanks @aryx!!

[2021-07-13 12:57] aryx commented on #3405
I'm being hit by this with https://github.com/returntocorp/semgrep/pull/3509
If you update to ppxlib 0.20.0, then suddenly Main.exe take more than 2s with ocaml 4.10.0 (also 4.09.1), but not 4.12.0.

[2021-07-13 12:57] aryx commented on #3405
This is on Linux.

[2021-07-13 12:58] aryx commented on #3405
By having a 2s semgrep-core startup time, the CI time goes from 4m to 40min ...

[2021-07-13 12:58] aryx commented on #3405
See the CI job here: https://github.com/returntocorp/semgrep/pull/3509

[2021-07-13 13:32] aryx commented on #3405
I don't have the problem with 4.10.2

[2021-07-13 13:32] aryx commented on #3405
cc @IagoAbal

[2021-07-13 14:21] aryx commented on #3405
if I strace semgrep-core, it looks like it's waiting 2sec in a call to
wait4(-1, ...)

[2021-07-13 14:25] aryx commented on #3405
with 4.10.2, there is also this call to wait4, but it returns immediately

[2021-07-13 14:28] aryx commented on #3405
I did a diff on the 2 strace (one with 4.10.0 and one with 4.10.2) but don't see anything that different. except one wait4 takes 2s and the other 0.1s

[2021-07-13 16:38] clintgibler commented on #3480
Hey @Vijay1216! Clint here on the security team. Totally agree with what you're saying. We are mostly likely going to shift from warning/error/info to Informational/Low/Medium/High/Critical in hopefully the not too distant future.

There are a lot of rules to adjust (1,000+), and we'll need to transition the Dashboard, CI agent, Playground, and maybe other things at the same time to ensure we don'

[2021-07-13 17:47] #3458 closed, assigned to nobody

[2021-07-13 23:17] ievans commented on #2890
@aryx I thought there was some progress on this? At least a JSON dump?

[2021-07-14 03:09] mjambon opened #3513 "rust: cannot match macro call"
Pattern:
[code]

Target code:
[code]

https://semgrep.dev/s/nkld

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

[2021-07-14 03:15] mjambon commented on #3513
Here's the AST we're getting, showing a macro call to `debug!` followed by a function call to `debug`:
[code]

source:
[code]

[2021-07-14 04:16] aryx commented on #2890
Yes, we exported the AST using martin's atd tool, which make it easier to export/import in other languages.
Now we need customers for this feature.

[2021-07-14 08:46] #3062 closed, assigned to aryx

[2021-07-14 11:38] #2188 closed, assigned to nobody

[2021-07-14 14:12] emjin commented on #3480
Could we use Semgrep to adjust the rules? Seems like this should be a simple rule to write with an autofix.

[2021-07-14 15:15] aryx opened #3520 "Investigate perf regression between 0.55.1 and 0.58"
Many PRs done after 0.57 got some random perf regressions reported by the bot-action.
It's hard to pin at a specific PR because many of those PR don't even modify OCaml code but still got
perf regressions.

I had to reset the baseline to 0.57 just before I released 0.58, but we were seeing sometimes
some > 12% perf regressions (mostly on small bench < 10s).

[2021-07-14 15:18] aryx commented on #3520
see https://github.com/returntocorp/semgrep/pull/3519

[2021-07-14 15:19] aryx commented on #3520
see https://github.com/returntocorp/semgrep/pull/3516 that had lots of perf regressions reported (even though it was just
a refactoring diff).

[2021-07-14 16:28] emjin commented on #3520
Putting priority:high because the longer this is put off, the less we will remember what we did during this period. We should either investigate soon or we won't investigate at all.

[2021-07-14 18:28] ievans opened #3521 "Can't suppress with // nosemgrep because of autoformatter"
I can’t use //nosemgrep because my autoformatter moves it to its own line, where it is ignored by semgrep.

To reproduce: https://semgrep.dev/s/340G
Desired behavior: I'd like all of the examples in the above snippet to be suppressed by the `nosemgrep` annotation, including:
* where `nosemgrep` is on its own line before the target line
* where `nosemgrep` is inside the matched range.

This is curr

[2021-07-14 18:53] mschwager commented on #3521
I agree, this limitation is often painful. Ideally, it'd be great if we could support all the different "ignore annotation" styles of something like `eslint`, but there are a few considerations. The fundamental difference with Semgrep here is that Semgrep findings often span many lines, and will have many overlapping spans across findings. I see a couple challenges

1. Coordinating a specific `nos

[2021-07-14 18:55] mschwager commented on #3521
Could we get 90% of the value here by looking for `nosemgrep` comments on the same line N, and N-1? I think that would cover the autoformatter case.

[2021-07-14 19:07] aryx commented on #3405
Also weird, the size of Main.exe (semgrep-core) in 4.10.0 is 178MB, in 4.10.2 it's 46MB!
With the same libraries ...

[2021-07-14 19:20] emjin commented on #3405
Woah that's really interesting, and probably relevant

[2021-07-14 19:21] emjin commented on #3405
What does `wait4` do? (Or what is it being called on, if that's the better question?)

[2021-07-14 19:22] aryx commented on #3405
according to the man page it's waiting for any children (when passed the -1 as a first argument).

[2021-07-14 19:23] aryx commented on #3405
But like I said, in 4.10.2 there's also this call to wait4, except it succeeds immediately.

[2021-07-14 19:31] nbrahms commented on #3521
I can imagine some gross edge cases:
[code]

I'd propose maybe
[code]

[2021-07-14 19:48] ievans commented on #3521
@nbrahms I like that proposal but it does add some complexity in "what you have to remember beyond "nosemgrep".

What if `nosemgrep` on a line with only that and whitespace suppresses the next line? Any edge cases we can imagine for that?

[2021-07-14 20:35] nbrahms commented on #3521
@ievans I think that would work too. Mostly I'm thinking of trying to get parity with other linters so the user mental model is nothing new. Cf. `eslint-disable-next-line`.

[2021-07-14 21:34] nbrahms commented on #3521
Another possibility would be to push `nosemgrep` to `semgrep-core`, and have it work on the next _statement_. This could help in instances like:

[code]

cc. @aryx

[2021-07-14 23:37] brendongo commented on #3220
yeah that makes sense @aryx

[2021-07-15 01:27] inkz commented on #2728
:wave:

[2021-07-15 01:27] #2754 closed, assigned to nobody

[2021-07-15 08:09] #3220 closed, assigned to brendongo

[2021-07-15 09:01] #3158 closed, assigned to nobody

[2021-07-15 09:01] #3027 closed, assigned to aryx, mjambon

[2021-07-15 09:05] aryx commented on #2874
We still capture the stdout of semgrep-core python-side and wait until semgrep-core finishes.
What we can do at least now is you can use --debug and we will print which files are currently processed.
But the findings no.

[2021-07-15 10:00] aryx commented on #2863
With #3522 at least we can see debugging logs as we go on stderr, so I think it closes this issue too.

[2021-07-15 10:01] aryx commented on #2863
just using semgrep --debug should now do the right thing and displays things as semgrep-core goes.

[2021-07-15 10:01] #2863 closed, assigned to emjin

[2021-07-15 10:03] aryx commented on #3405
Note that switching to 4.10.2 (or 4.12.0) improves things for Main.exe, but Main.bc (the bytecode version)
is actually worse off in recent OCaml versions. The startup time of Main.bc is 2.5s with 4.12.0

[2021-07-15 10:23] aryx commented on #3405
Also not sure if it happens to other, but I don't get anymore backtraces with ocaml 4.12.0 :(
[code]

[2021-07-15 10:31] aryx commented on #3405
I do get the correct backtrace with Main.bc
[code]
but then the startup time is 2.5sec,
argh

[2021-07-15 11:10] aryx commented on #3405
OMG ... https://returntocorp.slack.com/archives/C01NXGX2EHZ/p1626346551300100
it was because Main.exe was actually a bytecode-compiled with ocamlrun included ...
We have been shipping bytecode programs all this time!

[2021-07-15 15:38] chgg-kboberg opened #3531 "Metavariable pattern matching does not work for some language types"
**Describe the bug**
Metavariable pattern matching does not work for some parsers (such as YAML).  Setting the metavariable pattern language to Python does not solve the issue (and causes Semgrep to complain that the target is not parseable as the parent type).

**To Reproduce**
https://semgrep.dev/s/RPlv

**Expected behavior**
Rule should match `jwt.decode(...)`

**Screenshots**
n/a

**What is th

[2021-07-15 15:51] chgg-kboberg commented on #3531
@ievans pointed out that you can work around this limitation by specifying Javascript as the pattern language (which works, even though the example metavariable code is Python)

[2021-07-15 16:40] zbuc commented on #3350
Would it be possible to pull in https://github.com/tree-sitter/tree-sitter-javascript/pull/177 as part of this? It's preventing us from using the latest semgrep versions because our codebase contains private fields. We're running semgrep v0.14.0 as a result, which has a lot of missing features.

[2021-07-15 16:41] mschwager commented on #3192
Hey @mjambon, are there any updates here? I know @zbuc is still eager to get this fix. Since it's been fixed upstream in tree-sitter is it just a matter of updating the grammar now? I.e. will this be sufficient for a fix: https://github.com/returntocorp/semgrep/issues/3350?

[2021-07-15 18:00] ndegory opened #3534 "Dockerfile rules - false positives on apt-get update"
**Describe the bug**

Dockerfile rules look for apt-get update without apt-get clean: https://github.com/returntocorp/semgrep/blob/38f910708aed5cc46eb475004332e9843489e2da/perf/bench/r2c-rules/docker.yml#L410

This is not required, as mentioned in the [Dockerfile best practices](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#apt-get):

**To Reproduce**

A Dockerfile inst

[2021-07-15 18:20] mjambon commented on #3350
@zbuc sorry, I didn't realize you were blocked. Getting back to this now.

[2021-07-15 20:21] ShaylanDias opened #3535 "CLI: Incorrect error code after running successfully and finding issues"
**Describe the bug**
The [CLI reference](https://semgrep.dev/docs/cli-usage/#exit-codes) states that it should exit with 1 if "Semgrep ran successfully and found issues in your code". However, the CLI exits with 0 in this case.

**To Reproduce**
To reproduce:
1. Write a rule and a file where the rule will result in an error:
rules.yml:
[code]
Test.js
[code]
2. Run `semgrep --config rules.yml` and

[2021-07-15 20:36] ShaylanDias commented on #3535
Update: I've realized I need to pass the `--error flag`, but I think the docs need to be updated to match this as currently they are inconsistent

[2021-07-16 07:42] aryx opened #3537 "[Internal] investigate why benchmark circleCI jobs fails constantly"
See https://app.circleci.com/pipelines/gh/returntocorp/semgrep?branch=develop

Fortunately it seems the job pushes some of the results on our dashboard
(e.g., https://dashboard.semgrep.dev/metric/semgrep.bench.0c34.std.duration).
Still, would be nice to know why it's not terminating.

@emjin says she can't reproduce locally. Seems to happen only in CI.

[2021-07-16 07:45] aryx opened #3538 "[Internal] investigate why parsing stats circleCI jobs fails often"
See https://app.circleci.com/pipelines/gh/returntocorp/semgrep?branch=develop

Relevant discussion: https://returntocorp.slack.com/archives/C01NXGX2EHZ/p1626372454313200
@mjambon thinks that:
"
I remember now: some jobs on large files were taking a long time with increasing memory usage. @iago said it was due to something having to do with constant propagation. I haven't checked the progress on th

[2021-07-16 08:53] IagoAbal commented on #3538
We merged returntocorp/semgrep#3434 and returntocorp/semgrep#3440 that should have helped with this, but I'll take a look.

[2021-07-16 09:03] aryx commented on #3538
Ok, feel free to add more logging in the parsing stat code, so at least we can better see which files are problematic.

[2021-07-16 09:03] aryx commented on #3538
Feel free to assign the task back to me if you don't find anything obvious.

[2021-07-16 09:20] aryx opened #3539 "[Internal] break mutual dependency between semgrep CI and semgrep-rules CI"
As martin wrote:
We have a CI deadlock because:

semgrep CI tests against the main branch of semgrep-rules, and
semgrep-rules CI tests against the main branch of semgrep
This would be solved by using a git submodule in semgrep pointing to the correct branch of semgrep-rules.

See for example this semgrep PR https://github.com/returntocorp/semgrep/pull/3444 mutually dependent on
this semgrep-rules

[2021-07-16 09:22] aryx commented on #3539
This is how we handled in the past, but it was not ideal:

"This mutual dependency issue happens rarely, so usually what I do is that I make the PR to semgrep, and in the test plan I show how a modified semgrep-rules pass with the modified semgrep
then I force merge the semgrep PR if only the semgrep-rules CI job fails
then I wait an hour that the docker develop image has been updated
and I make t

[2021-07-16 09:22] aryx commented on #3539
As suggested by martin, it would be better to make semgrep-rules a submodule and remove the test that rely on the online version of semgrep-rules and instead use the rules in the submodule.

[2021-07-16 09:23] aryx commented on #3539
cc @mschwager @brendongo @minusworld

[2021-07-16 09:25] aryx commented on #3535
Closing this since you've created an issue in semgrep-docs.
Thx for reporting the inconsistency!

[2021-07-16 09:25] #3535 closed, assigned to nobody

[2021-07-16 12:19] #3503 closed, assigned to IagoAbal

[2021-07-16 12:30] IagoAbal commented on #3531
If I run semgrep-core on this, after adding `language: python`, I get:

[2021-07-16 12:36] IagoAbal commented on #3531
_Probably_ (haven't confirmed this is the case) because a subset of the code can be parsed as JS. The tree-sitter parsers can work with partially-correct input, they will still generate a syntax tree for the parts that are syntactically valid.

[2021-07-16 12:44] IagoAbal commented on #3531
This works for me https://semgrep.dev/s/2RWB

In your example there is an ending `}` that makes the Python front-end to fail. I believe that for Python we don't use tree-sitter so Semgrep doesn't accept inputs that contain any lexical or syntactic error.

I would say that this is not a bug, if you can confirm please close the issue. Otherwise please share another example.

[2021-07-16 13:50] dee-see commented on #3503
https://semgrep.dev/s/WOLj?version=develop works as expected on the develop image now, thanks for the fix!

[2021-07-16 15:22] #3513 closed, assigned to aryx

[2021-07-16 15:53] IagoAbal commented on #3538
There may be different causes for the failures, for now I have looked into C and there is a segfault involved:
[code]

[2021-07-16 16:03] aryx commented on #3538
How did you find the name of this file? You've added logging in the cron job or you were able
to reproduce locally?

[2021-07-16 16:10] chgg-kboberg commented on #3531
Confirmed, trailing bracket was an artifact of an improperly minified example snippet.  Would be nice if the parser complained in the right language (currently it says couldn't be parsed as PARENT_LANGUAGE)

[2021-07-16 16:10] #3531 closed, assigned to IagoAbal

[2021-07-16 17:20] IagoAbal commented on #3538
I was able to reproduce it locally, and I am trying to check each language separately with `./run-lang <lang>`. BTW I've been digging into this particular issue with the C parsing stats, seems to be caused by a stack overflow (some Parsing_hacks functions are non tail recursive and this file is somewhat large with 17k+ LOC).

[2021-07-16 17:26] IagoAbal commented on #3538
We could perhaps generate a log for each language and archive those logs as artifacts.

[2021-07-16 17:51] aryx commented on #3538
good idea

[2021-07-16 18:08] IagoAbal commented on #3538
@mjambon in lang/hack/projects.txt we have three different `framework` projects which is causing problems:
[code]
Is this intended?

[2021-07-16 18:21] aryx commented on #3538
I think this projects.txt are autogenerated from github stats
They are probably fork of each other; We should just keep the one with the most stars

[2021-07-16 21:23] raghavjain3 opened #3544 "https://semgrep.dev/s/xeLl should report 1 fail but it reports 2"
**Describe the bug**
https://semgrep.dev/s/xeLl should report 1 fail but it reports 2

**Expected behavior**
Only 1 test should fail

**Screenshots**
![image](https://user-images.githubusercontent.com/32291067/126009838-4cc8c2fe-e444-461d-9c2b-035914f3cccf.png)

**What is the priority of the bug to you?**
P1

**Environment**
semgrep.dev

[2021-07-17 00:05] mjambon commented on #3192
This is now merged, it will be in the next semgrep release (0.59).

[2021-07-17 00:05] #3192 closed, assigned to mjambon

[2021-07-17 00:05] mjambon commented on #3350
done!

[2021-07-17 00:05] #3350 closed, assigned to mjambon

[2021-07-19 08:54] aryx commented on #3405
Ok we still don't fully understand why things were going slow with the old Main.exe in 4.10.0, but
with a real native Main.exe, things are now better (good startup, small binary size, good backtrace), so let's close this.

[2021-07-19 08:54] #3405 closed, assigned to nobody

[2021-07-19 11:10] IagoAbal commented on #3538
Strange, if I redirect output to log files then I start getting these errors:

Perhaps we are trying to fetch too many repos at once.

When cloning some repos.

[2021-07-19 12:45] #2349 closed, assigned to emjin

[2021-07-19 14:00] IagoAbal opened #3547 "Properly communicate errors in semgrep-core to the CLI"
**Is your feature request related to a problem? Please describe.**
Warnings or errors raised by semgrep-core are quite often not communicated properly to the CLI, so the CLI fails with some generic error that may not be very helpful. For example, in #3531, semgrep-core reports an exception when parsing a piece of Python code, but this is reported as a YAML syntax error by the CLI.

**Describe the

[2021-07-19 14:01] IagoAbal commented on #3531
I agree we need to improve error reporting for this and other cases, opened #3547 to keep track of this issue.

[2021-07-19 14:07] tilperion2 commented on #3544
Found the same in my automation project. Some rules get duplicated output.
So my test cases are failing. I think problem appears only in recent semGrep updates > 0.58.x

Example: https://semgrep.dev/s/Gwz1/

PS. not sure though, that is is really connected with the issue in the top comment.

[2021-07-19 15:58] guifre commented on #3544
+1 Seeing Impact here as well, we have a broken pipeline due to this.

[2021-07-19 22:02] milanwilliams opened #3551 "os-command-injection should find matches when opened in the playground from embedditor"
Describe the bug
[os-command-injection](https://semgrep.dev/s/rk0A?registry=csharp.lang.security.injections.os-command.os-command-injection) should find matches, but it fails when opened in Playground directly from the [Registry](https://semgrep.dev/p/owasp-top-ten) (the first rule, csharp.lang.security.injections.os-command.os-command-injection). I believe a fix is to change the embedditor:

lang

[2021-07-20 02:40] mjambon opened #3552 "Fix semgrep-core parsing stats"
We don't know why the new parsing stats on semgrep-core are so much worse than those produced by ocaml-tree-sitter-semgrep.

See for example:
* ocaml-tree-sitter stats: https://dashboard.semgrep.dev/metric/semgrep.tree-sitter.c-sharp.parse.pct
* semgrep-core stats: https://dashboard.semgrep.dev/metric/semgrep.core.c.parse.pct This used to receive ocaml-tree-sitter stats, hence the sharp drop.

The

[2021-07-20 12:46] aryx commented on #3489
This is because an expression pattern currently can't be used to match a decorator, because in many languages
the decorator is not an expression but a special kind of calls, with many restrictions.

[2021-07-20 12:46] neonlyis opened #3557 "Cant run semgrep on a specific file"
Hello, I want to run semgrep on pypi packages, or test files but dont seem to understand how to do it.
I ran this on my VM:
docker run --rm -v "/root:/mnt" returntocorp/semgrep --config=p/gitlab-bandit --config=p/python /mnt/test.txt

my packages and files are on /root on my VM, after i run this, I get this error:
PermissionError: [Errno 13] Permission denied: '/mnt/test.txt'

when I run:
docker r

[2021-07-20 13:51] aryx commented on #3489
you need to write it like this:
https://semgrep.dev/s/Gwv1/

[2021-07-20 13:51] aryx commented on #3489
You need to also put the def because you can't currently match just a decorator
(we could change that though).

[2021-07-20 13:58] aryx commented on #3489
So this has nothing to do with metavariable; It's just that an expression pattern does not currently match a decorator,
so you are forced to explicitely set a decorator context by using @expr first, and then we don't accept single decorator pattern so you are forced again to attach it to an entity like a function

[2021-07-20 14:07] mschwager commented on #3489
Nice! This works for my use-case. Although I still find it surprising that if I specify `foo.bar` it doesn't match `@foo.bar`. I suspect other users would find this surprising as well. It may be worth considering adding this use-case :+1:

[2021-07-20 14:26] gordonwoodhull commented on #3388
Understand 100% that autofix is in alpha, however I thought I would add that autofix also gets confused when applying multiple changes to the same line.

Here is the repro: https://semgrep.dev/s/gordonwoodhull:wrap-strings

On semgrep.dev it produces the correct individual suggestions. However, when running on the command line with `--autofix`, it looks like it confuses the two output positions.

[2021-07-20 15:55] mschwager commented on #3490
It looks like the latest code is now producing 4 findings instead of 3? Whereas I'd expect 1:
- https://semgrep.dev/s/rkDj
- https://semgrep.dev/s/rkDj?version=develop

And this gives 5 findings: https://semgrep.dev/s/5J43?version=develop. So it seems the number of findings will continue to grow as the code gets larger

[2021-07-20 16:26] nbrahms opened #3560 "[Ruby] Single-metavariable pattern causes target parse errors with interpolated strings"
**Describe the bug**
Constructing a composite pattern where one pattern is a single metavariable can cause target parse errors.

**To Reproduce**
Seen in https://semgrep.dev/s/Gwvn/, but deleting `pattern: $PATHS` as in https://semgrep.dev/s/RPvK/ does not yield a parse error.

**Expected behavior**
No parse errors

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of S

[2021-07-20 18:39] mschwager commented on #3490
Maybe I'm misunderstanding what's supposed to be happening with the above example, but here the `...` only produces 1 finding: https://semgrep.dev/s/owjN/, and here it produces 4: https://semgrep.dev/s/jkeA/.

[2021-07-20 21:13] #3560 closed, assigned to IagoAbal

[2021-07-21 03:40] 101142TS opened #3564 "[Java]Unable to match method names"
**Describe the bug**
Unable to match method names in Java

**To Reproduce**
https://semgrep.dev/s/8RP7/

**Expected behavior**
MATCHES shows : **Intent intent = activity.getIntent();**

**What is the priority of the bug to you?**
P0

[2021-07-21 03:46] dlukeomalley commented on #3564
Hey @101142TS! Thanks for filing this bug. I modified your pattern and am able to match `activity.getIntent()`: https://semgrep.dev/s/JjPQ/

In Semgrep the pattern needs to be valid source code, so in this case to match a function call in Java the method name `getIntent` must be proceeded by `()`.

The tutorial [here](https://semgrep.dev/learn) should help explain some of these concepts better tha

[2021-07-21 03:46] #3564 closed, assigned to nobody

[2021-07-21 09:35] BashPrince opened #3568 "Opposite conditional matching behavior in PHP and Java"
In Java matching  conditionals with
[code]
matches an if-block as well as an if-else-block. In PHP only the if-block is matched.
However, changing the pattern to
[code]
will have the opposite behavior in either languages.

Links:
https://semgrep.dev/s/bashprince:java
https://semgrep.dev/s/bashprince:php

Not sure which one is the correct behavior, but I would think the Java version makes more sens

[2021-07-21 11:23] aryx commented on #3490
It's normal, the ... does not have the same scope in both. In one case your pattern matches a function definition, and it will either match a full function definition or nothing. In the other case your pattern is a list of statements, and it will match a list of statements.

[2021-07-21 11:23] #3490 closed, assigned to aryx

[2021-07-21 12:58] tilperion2 commented on #3544
I`ve tried to revert to different previous versions to unblock our build pipeline.
Found that latest semGrep that does not duplicate finding in result is v0.56.0.
Hope it may help.

[2021-07-21 14:00] mschwager commented on #3490
Another case - this produces 1 finding instead of 5: https://semgrep.dev/s/65L6/ vs. 5 here: https://semgrep.dev/s/owvN/. This feels counterintuitive to me. In one scope we only produce 1 finding - the entire span of the scope. In another scope we produce multiple findings for each possible span :confused:

IMO we should aim to generalize rather than specialize. Specialization makes functionality

[2021-07-21 15:58] underyx opened #3572 "YAML string matching metavars are off by one character"
**Describe the bug**

See here how the metavar matching highlight is off to the left by one character.

<img width="190" alt="Screen Shot 2021-07-21 at 18 57 48" src="https://user-images.githubusercontent.com/1060436/126520699-47299664-35e7-4f2b-a814-def8959fe59d.png">

**To Reproduce**

https://semgrep.dev/s/underyx:yaml-metavar-repro

**What is the priority of the bug to you?**

- [ ] P0: blocki

[2021-07-21 17:34] colleend commented on #3388
Thanks for commenting about this issue! Would you mind filing a separate autofix issue with the contents of the comment? 🙏

[2021-07-21 17:52] aryx commented on #2986
👋

[2021-07-21 19:55] mschwager opened #3576 "Improve PHP parse rate to beta percentage"
[PHP currently has](https://semgrep.dev/docs/status/):

- All Semgrep beta features
- A 10+ rule ruleset: https://semgrep.dev/p/phpcs-security-audit
- 97% of 99% beta parse rate

If we can bump up this last 2% parse rate we can promote it to beta!

[2021-07-21 20:37] gordonwoodhull opened #3577 "interspersed autofix of multiple expressions on same line"
Similar to #3388, if fixing multiple expressions in the same line, the autofixes can get mixed up and duplicated, resulting in garbled code.

Here is the repro: https://semgrep.dev/s/gordonwoodhull:wrap-strings

On semgrep.dev it produces the correct individual suggestions. However, when running semgrep 0.59 on the command line with `--autofix`, it looks like it confuses the output positions betwe

[2021-07-22 00:50] minusworld opened #3578 "Named ellipses not bound in `metavariable-pattern` for JS"
**Describe the bug**
I have this pattern here: https://semgrep.dev/s/Gw6y/
I would expect this to work, matching the template string.

I suspect this has something to do with the named ellipses, because I can make this pattern here work that uses template strings: https://semgrep.dev/s/RPAg/

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x]

[2021-07-22 01:37] nbrahms opened #3579 "[js] literal numeric property names are not equivalent between encodings"
The key `0x1` and `1` should be equivalent.

https://semgrep.dev/s/Dwqd

[2021-07-22 01:44] nbrahms opened #3580 "[js] Can't match duplicate function arguments"
In https://semgrep.dev/s/K82L, I should be able to match repeated function arguments.

[2021-07-22 01:47] #2929 closed, assigned to mschwager

[2021-07-22 01:49] nbrahms opened #3581 "[js] setter methods do not parse"
I expect the pattern at https://semgrep.dev/s/lxqG to compile

[2021-07-22 01:57] nbrahms opened #3582 "[js] can't match sparse arrays"
See https://semgrep.dev/s/653L

Multiple problems here, I think, but especially

`[,]` and `[]` are not equivalent (the lengths should be different):

[code]

[2021-07-22 03:18] mjambon commented on #2956
.

[2021-07-22 10:50] IagoAbal commented on #3579
Internally, when `1` or `0x1` are used as keys, they are parsed as identifiers.

[2021-07-22 11:34] IagoAbal commented on #3579
Seems that's OK but we need to normalize these strings, so that `0x1`, `1.0` and `1` all end up represented the same way.

[2021-07-22 13:24] underyx commented on #3572
Bumping to P1 because this makes metavariable-regex rules impossible or possible only with a super ugly workarounds (of adapting regex patterns to the last character being cut off)

[2021-07-22 19:06] IagoAbal commented on #3579
#3586 should fix this, although I'm not sure if we are 100% compliant. In Semgrep `{1.:"foo", "1.":"bar"}` would trigger your rule as `1.` and `"1."` being duplicate keys. In my Firefox JS console this is not the case.

[2021-07-22 19:06] IagoAbal commented on #3579
^ cc @pad @mjambon

[2021-07-22 20:42] mschwager commented on #2650
Hmm, looks like we're still having issues when there are multiple `catch` statements: https://semgrep.dev/s/owJ6/

[2021-07-22 20:44] mschwager opened #3587 "PHP parse error on non-ASCII text"
https://semgrep.dev/s/z9ll

[2021-07-22 20:47] mschwager opened #3588 "PHP parse error on union types"
PHP 8.0 union types: https://www.php.net/manual/en/language.types.declarations.php#language.types.declarations.union

https://semgrep.dev/s/pk50

[2021-07-22 20:51] mschwager opened #3589 "PHP parse error on 'PUBLIC' class variable"
I wouldn't have expected it, but apparently this is syntactically valid (`php -l` says no syntax errors): https://semgrep.dev/s/2Rdq/

[2021-07-22 20:55] mschwager opened #3590 "PHP parse error on 'for' class method"
https://semgrep.dev/s/X8y4/

[2021-07-22 20:56] mschwager commented on #3576
Some fodder here:

- https://github.com/returntocorp/semgrep/issues/2648
- https://github.com/returntocorp/semgrep/issues/2650
- https://github.com/returntocorp/semgrep/issues/3587
- https://github.com/returntocorp/semgrep/issues/3588
- https://github.com/returntocorp/semgrep/issues/3589
- https://github.com/returntocorp/semgrep/issues/3590
- https://github.com/returntocorp/semgrep/issues/3591
- h

[2021-07-22 20:59] mschwager opened #3591 "PHP parse error on enums"
PHP 8.1 will include `enum` support: https://stitcher.io/blog/php-enums

https://semgrep.dev/s/jkyl/

[2021-07-22 21:02] mschwager opened #3592 "PHP parse error on goto statements"
https://semgrep.dev/s/1Gdx/

[2021-07-22 21:03] mschwager commented on #3590
Same with 'await' https://semgrep.dev/s/96Qz/.

[2021-07-23 00:01] dlukeomalley commented on #3521
Speaking with a Semgrep user today, they've run into pain when they run 1+ scanning tools that both fire in the same region and/or on the same starting line: they have to choose between suppressing Semgrep or the other tool (eslint iirc) because both tools require the suppression comment to be on the proceeding line.

What was the rationale for not respecting rule-id specific `nosemgrep` comment (

[2021-07-23 06:58] #3579 closed, assigned to IagoAbal

[2021-07-23 07:04] aryx commented on #3547
I'm done with what I wanted to do.
Feel free to take over.

[2021-07-23 07:44] mjambon opened #3594 "Document semgrep-core environment variables"
`semgrep-core --help` should document the environment variables that affect the behavior of the program.

For example `git grep DEBUG` reveals the existence of `SEMGREP_CORE_DEBUG` but setting it to `1` seems to have no effect on logging when running `-parsing_stats`.

[2021-07-23 08:44] zakrush commented on #3521
@dlukeomalley There is one more problem in your description. What to do if the code left the line that was in the file .semgrepignore? I have problems with the semgrep that the code goes away, and every time new triggers on the same alert. Developers don't want to setup comments, becouse the comment will can go away from muted code.

[2021-07-23 09:57] IagoAbal opened #3596 "Investigate why taint-mode appears to be slower"
@minusworld reported that after switching a rule to taint-mode in https://github.com/returntocorp/semgrep-rules/pull/1389, it became about 2x slower.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

[2021-07-23 13:50] mschwager commented on #3521
Copying in some further comments from Slack:

[2021-07-23 21:59] mjambon opened #3598 "Document the fine-grained logging options from semgrep-core's command-line help"
I suggest:
* adding a section that says configurable logging is available via a `log_config.json` file and link to the detailed documentation (`/doc/SEMGREP_CORE_CONTRIBUTING.md`)
* adding a note to the `-debug` and `verbose` options indicating that configurable logging is available and direct the reader to the relevant documentation.

Note that cmdliner produces gorgeous output which is suitable

[2021-07-23 22:55] mjambon opened #3600 "[rust] Can't match literal macro call"
See https://r2c-community.slack.com/archives/C018NJRRCJ0/p1627052124314500?thread_ts=1626194116.277400&cid=C018NJRRCJ0

It looks like the fix for #3513 introduced a regression i.e. the pattern `println!("hello")` no longer matches.

[2021-07-26 04:30] devd opened #3603 "Parsing error for parameter calls with ()"
**Describe the bug**

Parse error on a ruby file that accepts block as a param and calls it via ->() and the pattern has metavariables.

**To Reproduce**
https://semgrep.dev/s/AwBL/

**Expected behavior**
no parse error

**What is the priority of the bug to you?**

- [ ] P2: regular bug that should get fixed

[2021-07-26 10:53] neonlyis commented on #3557
What does the assignment and label mean? Is this not a feature?

[2021-07-26 13:52] IagoAbal commented on #3596
This may be due the new taint-mode reliance on range information, e.g. checking django/django/contrib/admin/options.py takes 0.16s, 56% (0.09s) of which are spent computing ranges with `Visitor_AST.range_of_any_opt`.

[2021-07-26 13:57] IagoAbal commented on #3596
Analyzing the whole `django` repo with the taint-mode rule takes 22.5s, 67% (15s) of which are spent computing ranges with `Visitor_AST.range_of_any_opt`.

[2021-07-26 18:34] Sjord opened #3604 "Found mismatch between test and result ids"
While testing rules with `semgrep --test`, I occassionally get an error message. I have problems interpreting the error message on a user level.

[code]

I think this happens when the `return-in-init` matches nothing. However, this message is pretty technical and I don't understand it. It seems semgrep compares two files and these don't match up, but this seems like an implementation detail that i

[2021-07-26 18:36] raghavjain3 opened #3605 "Allow local caching of rules"
**Is your feature request related to a problem? Please describe.**
Users would like to cache rules locally in the event that the Semgrep Registry is down

**Describe the solution you'd like**
Potential Solution - A cached directory with different rules from a project (like "node_modules")

**Describe alternatives you've considered**
N/A. Have not worked on potential flows / solutions for this feat

[2021-07-26 20:38] emjin commented on #3544
@aryx Could https://github.com/returntocorp/semgrep/pull/3310 be related? It was merged in v0.57.0.

[2021-07-26 21:43] emjin commented on #3577
I assume this is also P1 for you?

[2021-07-26 22:18] gordonwoodhull commented on #3577
Yes. I would say it is P1 because we can still use Semgrep for a lot of things but this makes a small percentage of our fixes impossible.

(We are trying to do some pretty ambitious things with autofix! Thank you for the amazing tool.)

[2021-07-26 22:32] ShaylanDias opened #3606 "Option for SARIF output to include ignored findings using the suppressions property"
**Is your feature request related to a problem? Please describe.**
We would like visibility into Semgrep findings which have been ignored via a `nosemgrep` comment— especially for integration with other tooling which performs requires this information.

**Describe the solution you'd like**
There should be an option for Semgrep findings which are ignored through the use of `nosemgrep` comments to s

[2021-07-26 22:33] ShaylanDias commented on #3606
After looking at the source code briefly I feel fairly confident about taking this on myself and submitting a PR. I just wanted to gauge whether or not it fits within the Semgrep design plan first.

[2021-07-26 22:48] brendongo commented on #3606
Seems like `suppressedInSource` https://docs.oasis-open.org/sarif/sarif/v2.0/csprd01/sarif-v2.0-csprd01.html#_Toc517436079  would be more appropriate here?

[2021-07-26 23:05] dlukeomalley commented on #3521
Related: https://github.com/returntocorp/semgrep/issues/3153

[2021-07-26 23:28] ShaylanDias commented on #3606
Yes, you're definitely correct—I'll update the post to reflect. I think the idea still stands though.

[2021-07-26 23:39] emjin commented on #3577
Glad to hear that :D Autofix is still an experimental feature, but we're really excited about what people can do with it and hope we can put it on our roadmap soon.

[2021-07-27 10:47] aryx commented on #3605
We need also a versioning story that goes with it, so people can cache locally owasp-rules-1.0,
and update if they want to a new ruleset which will then update the local cache

[2021-07-27 11:08] IagoAbal commented on #3547
Another example of bad error communication is #3603.

[2021-07-27 11:09] tsigouris007 opened #3610 "Unparseable json output"
**Describe the bug**
It seems like there is an unhandled json parsing error on a specific rule. This happened today and I have been using semgrep for a month now without such issues. The output is:
[code]
The rule that seems to do this is `semgrep-rules.javascript.express.security.express-wkhtmltoimage-injection`.

**To Reproduce**
If I scan a simple file with only this rule nothing out of the ord

[2021-07-27 11:10] IagoAbal commented on #3603
This seems to be due to fake tokens in the Ruby AST.

[2021-07-27 11:13] aryx commented on #3600
Can you put a playground link? I just tried the pattern println!("hello") and it matches correctly rust code.

[2021-07-27 11:32] aryx commented on #3600
Also the linked slack thread does not contain explanation about what was wrong with my fix.

[2021-07-27 11:33] aryx commented on #3600
(Actually might be a Slack bug, because if I search for Chris Jacoby messages I found it, but in the linked thread above
this message does not appear; weird).

[2021-07-27 12:15] #3600 closed, assigned to aryx

[2021-07-27 13:20] #3603 closed, assigned to IagoAbal

[2021-07-27 17:12] haydenplemmons opened #3614 "Double Findings"
**Describe the bug**
When we run semgrep in terminal on a local dir, we are getting double findings. Even if there is only one pattern, it gives 2 findings per line, usually. Sometimes, there is only one finding per line, I cannot see a pattern as to when there is double findings vs single. Also, by we I mean myself and another engineer both tried on our machines.
Also, I just updated from semgrep

[2021-07-28 08:40] #2426 closed, assigned to nobody

[2021-07-28 12:37] IagoAbal commented on #3369
We recently fixed some stack overflows affecting large JS files. Stack overflows could be reported as segfaults. @graveacc could you try to reproduce the problem using the latest Semgrep?

[2021-07-28 12:41] IagoAbal commented on #3572
Off by one, or off by two characters?

[2021-07-28 12:55] IagoAbal commented on #3544
Are we sure this is a problem with Semgrep and not with Semgrep App? https://semgrep.dev/s/xeLl?version=0.56.0 does not work any better, and neither does https://semgrep.dev/s/xeLl?version=0.55.0.

[2021-07-28 13:10] tilperion2 commented on #3544
Hi, not sure about top one, but mine example shows the difference:
https://semgrep.dev/s/Gwz1?version=0.60.0 - two similar/duplicated finding for the same line
https://semgrep.dev/s/Gwz1?version=0.56.0 - only one finding reported - correct one.

[2021-07-28 13:41] IagoAbal commented on #3544
Thanks for pointing it out @tilperion2, I think these are two different issues. Yours is probably a Semgrep issue, will take a look.

[2021-07-28 15:44] underyx commented on #3572
@IagoAbal good question. could be off-by-two if the quotes are meant to be matched as well.

[2021-07-28 15:46] IagoAbal commented on #3544
@tilperion2 could you open a separate issue?

[2021-07-28 15:55] IagoAbal commented on #3614
_Originally posted by @tilperion2 in https://github.com/returntocorp/semgrep/issues/3544#issuecomment-888296611_

[2021-07-28 15:57] IagoAbal commented on #3614
@aryx this seems related to #3310 as @emjin pointed out, in @tilperion2's example (https://semgrep.dev/s/Gwz1) we are returning two matches, one where `$CIPHER` is `Cipher`, and another one where it is `javax.crypto.Cipher`.

[2021-07-28 16:00] tilperion2 opened #3618 "Duplicated findings in the output results"
**Describe the bug**
When running SemGrep scans I see duplication of results for some rules in my automated scans.
Looks like this behaviour introduces around version 0.57.0

**To Reproduce**
See two examples:
https://semgrep.dev/s/Gwz1?version=0.60.0 - two similar/duplicated finding for the same line
https://semgrep.dev/s/Gwz1?version=0.56.0 - only one finding reported - correct one.

**Expected

[2021-07-28 16:02] IagoAbal commented on #3544
@raghavjain3 I believe this issue should be reported to Semgrep-app. Semgrep is not doing anything suspicious as far as I can tell, it might be a bug in the `evaluate_tests` function which returns the number of failed tests.

[2021-07-28 16:06] tilperion2 commented on #3614
Created the same issue here, you may chose which one to close as a duplicate:
#3618 https://github.com/returntocorp/semgrep/issues/3618

[2021-07-28 16:08] IagoAbal commented on #3614
Oops sorry I had not seen this issue at the time I asked you to open a new one.

[2021-07-28 16:10] IagoAbal commented on #3618
(UPDATED) Might be a duplicate of #3614, but this can be reproduced in the Playground whereas #3614 supposedly does not.

[2021-07-28 16:35] raghavjain3 commented on #3544
I will leave it open here and open another issue in semgrep-app but please feel free to close this out if you don't think it's relevant.

[2021-07-28 17:21] IagoAbal commented on #3614
@haydenplemmons can you provide an example in text format that I can use to reproduce the issue.

[2021-07-28 17:22] IagoAbal commented on #3618
@tilperion2 do you have any other example of this issue that you can share?

[2021-07-28 18:01] tilperion2 commented on #3618
Sure, here are some similar stuff:
https://semgrep.dev/s/P82v/?version=0.60.0 - duplication for line 20.
https://semgrep.dev/s/JjlP/?version=0.56.0 - no duplicated lines.
OR:
https://semgrep.dev/s/5J6j?version=0.60.0 - duplicated line 21

[2021-07-28 18:21] IagoAbal commented on #3618
OK it seems clear that your problems come from the equivalences we introduce for imported stuff. In the first example, `Cipher` can be referred as `Cipher` or as `javax.crypto.Cipher`, and we produce two matches, one for each.

[2021-07-28 18:22] IagoAbal commented on #3618
This sounds very similar to #3614 but here we can reproduce the issue in the Playground, whereas in #3614 the double findings supposedly do not occur in the Playground... so maybe these are not duplicates after all. Perhaps just related.

[2021-07-28 18:28] IagoAbal commented on #3618
@tilperion2 I consider this a bug and we should fix it, but I also must note that there are situations were Semgrep can appear to report "duplicates" that really aren't duplicates, e.g. here https://semgrep.dev/s/2b25 there is a different match per field in the record. Is it possible that you could handle this situation more gracefully on your side?

[2021-07-28 18:32] IagoAbal commented on #3614
OK, I think I know why you cannot see the problem in the Playground, and it's probably because you are not running against the same code. Is e.g. `XmlObject` an imported entity?  This may be a duplicate of #3618 after all.

[2021-07-28 18:34] tilperion2 commented on #3618
Thanks, Iago.
In general It is ok for us to have different results for the same line, and we are handling this mostly correctly, I believe.
But for our custom SemGrep rules we have test code and tests that should work as predicted. So for examples I`ve shown we are expecting that only particular lines should be in report, to assert our tests passed.

[2021-07-28 18:44] IagoAbal opened #3620 "Semgrep's plain text output should inform about the value of metavariables"
**Is your feature request related to a problem? Please describe.**
Since #3310 we are reporting what is, from the user perspective, duplicate matches. If we have _N_ matches with the same range, but with one `$MVAR` that binds to different things, we report _N_ matches. But for the user, all the matches are the same because we don't show what `$MVAR` is binding to. Sometimes the duplicate matches

[2021-07-28 19:49] emjin opened #3621 "Gracefully handle exit code -11"
We have had multiple users encounter semgrep-core exiting with -11, which represents a segmentation fault. When this happens, semgrep declares the output is unparseable JSON and crashes. Due to our use of temp files, it is also difficult to ask users to give us file contents to reproduce.

We should
1. Produce a better error message
2. If possible, continue running and report this as a usual error

[2021-07-28 19:56] meagar opened #3622 "($X : TypeName) only matches variables declared with `var x TypeName`"
**Describe the bug**

In Go, patterns matching method invocations on variables of a given type work when the variable declared using `var x TypeName` but not when using `x := TypeName{}` or `var x = TypeName{}`.

**To Reproduce**

https://semgrep.dev/s/WO5E

Pattern: `($X : http.Server).ListenAndServe`

Sample input (I would expect all three to be matched):

[code]

**Expected behavior**

Any vari

[2021-07-28 19:56] IagoAbal commented on #3621
Related to #3547. Actually it could be considered a specific example where we don't communicate errors properly. We could perhaps handle the segfault and exit providing some debug info.

[2021-07-28 20:33] mjambon commented on #3621
See also #3044.

[2021-07-28 20:43] mjambon commented on #3538
Update:
* we were having errors due on minified or large javascript targets, which is now fixed (#3602 and #3601).
* I'm looking into typescript stats

[2021-07-28 20:49] IagoAbal commented on #3456
Apparently, when inside a record, `function(one) { console.log(one) }` is parsed as a function definition (or "method") whereas `function f(one) { console.log(one) }` is parsed as a lambda-expression. It may be a problem with the front-end, what do you think @mjambon ?

[2021-07-28 21:08] IagoAbal commented on #3456
Note that `{renderer: ...}` is equivalent to `{..., renderer: ..., ...}` and this matches the entire record (in fact we should prefer the explicit way). You could use `metavariable-pattern` instead https://semgrep.dev/s/053w, i.e.:
[code]

Maybe we should have a way to select a single field in a record but that may require some new syntax, cc @aryx.

[2021-07-28 21:25] mjambon opened #3623 "[call for ideas] Eliminate stack overflows or troubleshoot them more easily"
In OCaml (native code), stack overflows often result in a segfault rather than a nice `Stack_overflow` exception. Any practical solution that mitigates this problem is welcome.

Stack overflows may occur in the normal use of semgrep if the maximum stack size is too small and the input is a bit extreme. Things we can do include:
* Don't use the stack unless necessary (e.g. don't use `Stdlib.List.ma

[2021-07-28 21:40] mjambon commented on #3623
I don't know why there's a maximum stack size while there's no maximum heap size. The only clue I found is that for imperative languages like C, a large stack usually is due to an accidental infinite loop. Catching this error would prevent memory exhaustion for all the processes of the OS.

If that's all there is to it, I suggest we increase the maximum stack size to a very large value and only wo

[2021-07-28 22:15] mjambon commented on #3623
I asked the question on [Discuss](https://discuss.ocaml.org/t/is-there-any-value-in-having-a-maximum-stack-size/8214):

[2021-07-28 22:26] harold-stripe commented on #3572
Actually yes this is right, off-by-two

But should we actually need to match the quotes?
In YAML
[code]
These 3 are equivalent. If I want to do a Regex, should I actually need to add ['"]? in front and at the end of all my expressions? Quotes can be added by dev just because they like it or because they use a symbol/expression that forces them to. (🇳🇴 being the best example)
I think it would be ni

[2021-07-29 01:29] mjambon commented on #3623
Main solution for unix systems
--

Set the stack size limit to `unlimited`. This can be done from bash with `ulimit -s unlimited`. From OCaml, this requires a third-party library that provides an ocaml interface to the `getrlimit` and `setrlimit` syscalls. From python: see https://docs.python.org/3/library/resource.html

For Windows, changing the stack limit apparently must be done at compilation/

[2021-07-29 01:36] #2932 closed, assigned to nobody

[2021-07-29 06:38] underyx commented on #3572
Actually I think in other languages we support `"$VAR"` instead of `$VAR` to capture string contents instead of the full _thing_.

[2021-07-29 08:19] IagoAbal commented on #3623
IMO we should just set up a signal handler for `SEGV` and use it to terminate the program more gracefully with a proper message and some debug info.

[2021-07-29 08:40] IagoAbal commented on #2932
Any updates on this @mjambon @mschwager ? Still relevant?

[2021-07-29 08:48] mjambon commented on #3623
I don't think we can do any useful sigsegv handling in OCaml. Check out what Xavier Leroy has to say about it: https://discuss.ocaml.org/t/signal-management-in-sys-sys-set-signal/1575/6

[2021-07-29 09:06] IagoAbal commented on #3623
Hmm, I would like to try that still, but I see Xavier's point.

[2021-07-29 09:06] mjambon commented on #2932
It's a nitpick and not a problem for a single user. I think it's fine to close it.

[2021-07-29 09:22] malexmave commented on #2477
This is probably also the root cause of [this issue I mistakenly opened in semgrep-rules (but which seems to be a semgrep bug, not an issue with the rule)](https://github.com/returntocorp/semgrep-rules/issues/1398), where unicode seems to be completely ignored in rule matching on Python files.

[2021-07-29 09:31] IagoAbal commented on #2477
This is an example by @malexmave: https://semgrep.dev/s/y6QA

[2021-07-29 11:38] IagoAbal commented on #3623
I think in C we could do it because you can run the handler in an alternate stack (https://man7.org/linux/man-pages/man2/sigaltstack.2.html).

[2021-07-29 12:09] IagoAbal commented on #3614
@brendongo could you please explore (partially) reverting returntocorp/semgrep#3310 ? I think it should be a quick-fix.  If two matches have the same range *and* different message (because the message refers to an `$MVAR`) then we should not remove duplicates. But if the messages are identical, then the user cannot see why we return several matches (and maybe does not want to!). If the users reall

[2021-07-29 14:20] fproulx-boostsecurity commented on #3614
Hello, chiming in here
I am also seeing that after upgrading from 0.56.0 to 0.60.0.

Here's a playground:
https://semgrep.dev/s/owQX

---

I also ran using `--json` and I can see that there are slight variations in the 4 findings, vs when output as SARIF they are the same (without that AST details):

[code]

---

Between 1st and 2nd findings, looks like that is extra:

[code]

---

If I output the

[2021-07-29 15:05] fproulx-boostsecurity commented on #3614
OK. I rewrote the rule to avoid repetition and it's much much faster anyway
https://semgrep.dev/s/fproulx-boostsecurity:owqx-v2

I think, I can handle my issues by rewriting / optimizing my 4 rules that show the behavior, but that scenario where they in fact match differently, but the message is the same (and the line span is strictly the same) .... should be de-dupped by the tool

--

I had a clo

[2021-07-29 21:20] emjin opened #3635 "Show users the snippet of pattern that has an error"
Instead of

[code]

we should give the user's original file and show a snippet of the pattern with the error (as we did before whole rule in semgrep-core)

[2021-07-29 21:31] emjin opened #3637 "Report specific range for parse errors in patterns"
When there is a parse error in a pattern, return the start and end of that error. This includes passing the information so that `config_start` and `config_end` can be updated, allowing the simple editor to highlight the most specific place possible.

[2021-07-29 21:34] emjin opened #3638 "Fix inaccuracies in reported error ranges"
There are two factors that will cause the error we report to be off. One is that the YAML parser automatically strips tabs and gives the location for strings of the form `| str` as the location of the bar. The other is that we pass semgrep-core autoformatted temp files instead of the user's original rules, so the ranges we report are for the temp file. Both of these issues need to be fixed.

[2021-07-29 22:03] nealharris opened #3639 "Incorrect Timeout"
**Describe the bug**
When attempting to run `semgrep-agent` against my python project I receive an error message that says `Semgrep took longer than 1800 seconds to run; canceling this run`, even though this message is given quite quickly. Concretely:
[code]

**To Reproduce**
Sadly, this is in a private repository, and I haven't found a way to reproduce with a public repo.

**Expected behavior**
I

[2021-07-30 00:34] dlukeomalley commented on #2530
Re-opening after discussion with vamsi on the Semgrep Slack #general channel ([here](https://r2c-community.slack.com/archives/CK86BJ5DW/p1627325715074900)).

[2021-07-30 00:50] mjambon opened #3640 "Report segfault from stack overflow on macOS/M1"
@emjin ran into a segfault attributed to a stack overflow in semgrep-core, compiled to native code with ocaml 4.12, darwin. Apparently this should no longer happen and the OCaml team is eager to fix any such crash. See
https://discuss.ocaml.org/t/is-there-any-value-in-having-a-maximum-stack-size/8214/10

The work here is to reduce the crashing program to one that's easy and quick to build.

[2021-07-30 02:36] #744 closed, assigned to nobody

[2021-07-30 08:29] IagoAbal commented on #3640
[code]

[2021-07-30 08:40] #3484 closed, assigned to nobody

[2021-07-30 08:46] IagoAbal commented on #3640
-> https://github.com/ocaml/ocaml/issues/10547

[2021-07-30 12:24] IagoAbal commented on #3489
Should we turn this issue into a feature request or should we close it? @mschwager @jtimmons

[2021-07-30 12:34] IagoAbal commented on #3489
@aryx we could change `| NamedAttr of tok (* @ *) * name * arguments bracket` to `| ExprAttr of Tok * expr` perhaps? We don't need to change the parsers, just their encoding into Generic.

[2021-07-30 12:37] IagoAbal commented on #3502
Can we close this issue? @inkz

[2021-07-30 17:55] minusworld commented on #3502
@inkz Do you think this is closed by https://github.com/returntocorp/semgrep-rules/pull/1386? Thanks for checking :)

[2021-07-31 03:00] mjambon opened #3642 "Show a useful stack trace for any unexpected exception"
There's a bunch of places where we have indiscriminate exception catchers that do this:
[code]
which is currently the same as just turning the exception to a string with `Printexc.to_string`. When catching an exception like `Failure "not implemented"` or `Stack_overflow`, we'd like to know where the exception was raised and currently we don't know. It takes a lot of guesswork to figure out what ha

[2021-07-31 09:22] aryx commented on #3640
Seems to be specific to the M1? Maybe we should change the title of the issue to put macOS/M1?

[2021-07-31 09:24] aryx commented on #3623
So can we at least change the python wrapper to do this call to ulimit and get this in 0.61? cc @brendongo

[2021-07-31 09:24] aryx commented on #3623
cc @mschwager

[2021-08-01 20:01] #2992 closed, assigned to nobody

[2021-08-01 20:01] #2997 closed, assigned to nobody

[2021-08-02 01:39] ievans commented on #2438
I believe this is mostly solved now with logic under the ‘paths’ key

[2021-08-02 05:45] inkz commented on #3502
@minusworld yep, new version of `raw-html-concat` rule mitigates this FP :+1:

[2021-08-02 05:46] inkz commented on #3502
@JasonCubic thank you, new version of `raw-html-concat` rule is available.

[2021-08-02 05:46] #3502 closed, assigned to nobody

[2021-08-02 08:01] spookylukey opened #3648 "autofix mishandles embedded quotes in string replacements for Python"
Given a rule like this:
[code]

autofix will replace:
[code]

with
[code]

which is a syntax error.

**Expected behavior**
Should get a properly quoted string, either:
[code]

or
[code]

**What is the priority of the bug to you?**

- P1: important to fix or quite annoying

**Environment**
Latest Semgrep (0.59 at time of writing)

Example in playground: https://semgrep.dev/s/spookylukey:string-quot

[2021-08-02 10:41] #3640 closed, assigned to emjin

[2021-08-02 13:44] mschwager commented on #2438
Following up here, this is the official workaround we use internally:

[code]

E.g.

[code]

[2021-08-02 14:22] #3604 closed, assigned to mschwager

[2021-08-02 17:09] #3596 closed, assigned to IagoAbal

[2021-08-02 17:31] emjin commented on #3547
I've done what I meant to: this now gives a better error message: https://semgrep.dev/s/BLJR/?version=4cfd20f237a9106b185d56c747215b856bca2e84

[2021-08-02 18:53] mschwager commented on #3445
I'm supportive of this, but I'm going to pull it off support escalations since it's a "nice to have."

[2021-08-02 23:03] #3614 closed, assigned to brendongo

[2021-08-02 23:03] #3618 closed, assigned to nobody

[2021-08-03 05:43] emjin opened #3653 "Give a better message in CLI for taint tracking mode"
If you give (for example) a bad `pattern-source` for taint mode (`get_user_input(...)` instead of `pattern: get_user_input(...)`, the error message shown is quite opaque:

[code]

This is totally unnecessary, since semgrep-core gives a perfectly reasonable message:

[code]

Surface the message in addition to the error.

(This is a little more difficult than I hoped since the error seems to be rais

[2021-08-03 09:27] aryx commented on #3489
I'm a bit reluctant to change to the more general ExprAttr. In almost all languages there are strong restrictions on what can go in an attribute, so I prefer to be more precise. But maybe we could do like vardef_to_assign, and dynamically convert some of those NamedAttr to expression if someone is looking for an expression and it turns out it matches a named attribute.

[2021-08-03 09:27] aryx commented on #3489
Closing for now.

[2021-08-03 09:29] aryx commented on #3456
Yes we should require the ... around renderer. We are not consistent, sometimes they are required, sometimes they are implicit.
And I've added a way to select a single field in a record, at least for Javascript. You can do
foo: 1
for example.
(this is especially useful when matching JSON code).

[2021-08-03 15:37] malexmave opened #3660 "git submodules break scan target identification for "generic" language"
**Describe the bug**
Running a rule with language "general" on the [OpenHaystack](https://github.com/seemoo-lab/openhaystack) repository results in an error message `Could not open 'Firmware/Microbit_v1/blessed': [Errno 21] Is a directory: 'Firmware/Microbit_v1/blessed'`. The directory "blessed" is empty.

I set a breakpoint on [core_exception.py:106](https://github.com/returntocorp/semgrep/blob/d

[2021-08-03 15:45] malexmave commented on #3660
Two addendums:
- Renaming the "blessed" folder to "cursed" makes the error go away :upside_down_face:
- The error seems to stop execution of the rule evaluation: After the rename, my dummy rule found an additional match that it did not find before.

[2021-08-03 17:39] emjin commented on #3653
Another unideal error message:

[code]

Compared to semgrep-core's correct

[code]

[2021-08-03 19:05] clintgibler commented on #2438
Quick handwavy spec at what first class support for this might look like.

New clause:
* `pattern-file`: Accepts a file glob, like under the `paths` key. Returns any file that matches the path glob.
  * The matched text could be empty and the range could just be starting line and ending line and column of (0,0) or something. Basically, the user should expect no content from the file back from this

[2021-08-03 19:16] IagoAbal commented on #2438
I will then reopen the issue since it still seems relevant, not sure about its priority though (maybe it should be low?).

[2021-08-03 20:21] aryx commented on #2438
I think pattern-file could be combined with other patterns. We could make it match the range of the whole file,
so then it's just yet another range that can be combined with other. We could even have metavariable
in the glob like we have for metavariable-regex, metavariables that could be reused in other patterns or the message.

[2021-08-03 20:23] aryx commented on #2438
In fact, the paths field could be replaced by a series of pattern-file and pattern-either in theory.

[2021-08-04 01:58] minusworld opened #3662 "Enable test cases via explicit file paths for https://github.com/returntocorp/semgrep-rules/commit/f569fd35478dd84fa3d917e464fa998f73f0c82c"
The `paths` key in the rule at https://github.com/returntocorp/semgrep-rules/commit/f569fd35478dd84fa3d917e464fa998f73f0c82c limits testing to a specific file path. Being able to run the `--test` suite with `path` key limitations is desirable.

[2021-08-04 02:59] mjambon commented on #2991
I went ahead and changed the ocaml code in pfff and semgrep-core so that all files are opened in binary mode, both for writing and for reading (#3663). I hope this will just fix a bunch of problems that are only seen on Windows (`End_of_file` exceptions, corrupt cache data). **Anything that writes to a regular file will write LF-terminated lines rather than CRLF**. This may be too much for certain

[2021-08-04 03:07] mjambon commented on #3047
.

[2021-08-04 07:13] aryx commented on #3653
I think @brendongo removed the rule scheme check in semgrep-py, so maybe this solves the issue?

[2021-08-04 08:51] Sjord commented on #3576
Do you want to improve the built-in PHP parser, or switch to tree-sitter?

[2021-08-04 12:48] IagoAbal commented on #3007
These issues were fixed by https://github.com/returntocorp/semgrep/pull/3613. I still get an error with the Playground but I cannot reproduce it locally:

[2021-08-04 13:10] aryx commented on #3552
Dupe of https://github.com/returntocorp/semgrep/issues/3538

[2021-08-04 13:11] #3552 closed, assigned to nobody

[2021-08-04 13:22] IagoAbal commented on #3538
Need to investigate these out-of-memory issues: https://github.com/returntocorp/semgrep/pull/3664#issuecomment-892647211

[2021-08-04 13:55] mschwager commented on #3456
Can someone from PA look into this to unblock @inkz? I'll assign @aryx for now, feel free to re-assign as you see fit :+1:

[2021-08-04 14:19] mschwager commented on #3660
@brendongo can you look into this? I suspect the Python code is passing a folder as a target down into `semgrep-core` :thinking:

[2021-08-04 14:21] malexmave commented on #3660
One more thing I noticed yesterday which may help narrow it down: The "blessed" folder is also hosting a git submodule. However, the error still occurs if the submodule contents have been downloaded and the folder is no longer empty.

[2021-08-04 14:24] mschwager opened #3666 "Gracefully handle weird scalars in YAML config"
Since this crashes the CLI it's difficult to post a playground snippet. The config in question is:

[code]

The `pattern: !true` is causing some config validation weirdness. I'm seeing the following error:

[code]

This crash causes the App playground to error out. We should more gracefully handle this error and tell the user how to fix it.