[2020-07-07 18:45] mjambon commented on #1204
We currently build 3 ocaml projects separately (pfff, ocaml-tree-sitter, semgrep-core). Their dependencies are or can be installed with a command like `opam install --deps-only .`, where the last argument is the root folder, which contains a *.opam file that contains the dependencies.

`semgrep-core/semgrep.opam` contains external dependencies but also lists `pfff` as a dependency. This prevents u

[2020-07-07 19:25] DrewDennison commented on #917
agreed

[2020-07-07 21:26] #1191 closed, assigned to nobody

[2020-07-07 23:11] dlukeomalley commented on #917
I'd expect it to work only without `$`. I agree low-pri, on the flip side it's easier to change this now with fewer folks using python-where 🤷

[2020-07-07 23:20] ievans opened #1208 "Display what files semgrep will be invoked on"
Under --debug flag, it would be helpful to print the paths that semgrep is being invoked on, to build confidence that the tool has actually run over the targeted files.

[2020-07-07 23:43] rttwge opened #1209 "Using --sarif doesn't produce output to specification."
When using the --sarif option a _mostly_ SARIF file is produced but is missing mandatory object **runs**. Validation fails when using Viewer tools.

Using version v0.13.0 and executed using Python 3.6.10.

Thanks,

Rick

[2020-07-07 23:46] dlukeomalley commented on #1209
Thank you for filing a ticket @rttwge. Tagging @underyx and @DrewDennison who have the most context here.

With regards to reproing, is there a specific viewer tool you're using that we can confirm functionality with? Curious about your workflow and how to best support it.

[2020-07-07 23:49] DrewDennison commented on #1209
thanks @rttwge. We'll try to get this fixed and also would be happy to accept a PR if you're interested https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/output.py#L159 I'm not 100% sure the difference between `runs` and `results`

[2020-07-08 00:21] rttwge commented on #1209
Thanks for the fast feedback ... I used [SARIF Validator](https://sarifweb.azurewebsites.net/Validation) and also tried _Visual Studio Code_ and _Visual Studio 2019_.

I was running from a workflow in github as:
  semgrep --config=r2c --strict --sarif ./source > ./CodeAnalysis.sarif

I'm creating an artifact and therefore will upload the .sarif file. I may use the file as is and parse myself or, m

[2020-07-08 01:43] nbrahms commented on #917
One thought I had here is to override `getattr` on the `vars` object, so
you would access metavars using:

[code]

but

[code]

would still work for backwards compatiblity.

Watcha think?

[2020-07-08 02:02] rttwge opened #1210 "Error with --json flag"
I'm receiving the following error from the github workflow (shown at the end of message and I added line-feeds for readability). I previously issued a bug for --sarif because the output didn't match the schema specified so I switched to json output for now. Here is what I run from the command line:

semgrep --config=r2c --strict --json ./sourcecode

With --sarif, other than following the spec for

[2020-07-08 03:22] brendongo commented on #1210
@rttwge it looks like one of our internal exceptions was not being handled correctly. We added some more strict typing to our exception handling in our next release which should come out later today that should fix this issue.

[2020-07-08 03:26] ievans commented on #173
@clintgibler this was your idea originally, but no one has requested it; going to close until someone does

[2020-07-08 03:26] #173 closed

[2020-07-08 16:34] asadasivan commented on #1184
I checked and it looks like public void feed(List<Animal> animals) throws
parsing error. The current version of semgrep used is 0.12.0.

--Arun

On Mon, Jul 6, 2020 at 11:52 AM Arunkumar Sadasivan <
contact.arunsec@gmail.com> wrote:

[2020-07-08 16:44] chmccreery opened #1212 "Incorporate taint tracking in python wrapper"
Semgrep-core already has support for rudimentary taint analysis. We should wire it up to the python CLI to make it more accessible to users!

The current core code takes a yaml file specifying sources, sinks, and sanitizers. This seems like a lot of arguments to include directly on the commandline (like what is done with the -e flag), so it may make most sense to pass in the yaml file using some v

[2020-07-08 16:53] DrewDennison commented on #1212
weak vote for 3. I would use fields like `pattern-source` or `pattern-source-file: <file path>` or `pattern-source-id: <registry id>`

[2020-07-08 16:55] ievans commented on #1210
@rttwge semgrep 0.14 was released a few hours ago--could you try this issue on that version? (or if you provide a reproducing test case, we can try it).

[2020-07-08 16:58] minusworld commented on #1212
I also vote for 3. Something like `spec:pattern` or `spec:taint` or something similar.
Then we could straight-up use `source:`, `sink:`, and `sanitizers:` inside the config file.

[2020-07-08 17:29] clintgibler commented on #1032
@DrewDennison was a fan of gitbook but @ievans wasn't.

[2020-07-08 17:30] DrewDennison commented on #1032
I like gitbook and docs.semgrep.dev was a thing but there was some un-debugged sync issues so we just reverted to GH as source of truth

[2020-07-08 17:59] ievans commented on #1032
I would highly recommend putting the docs as a top-level semgrep.live entry, semgrep.live/docs. Can be markdown/gitbooks integrated into semgrep.live; would make it easy to cross-link from the editor and rule packs.

EDIT: also, we can deploy the docs to semgrep.live as part of the release process when we upgrade the version of semgrep it uses by default.

[2020-07-08 18:06] #1166 closed, assigned to brendongo

[2020-07-08 18:18] dlukeomalley commented on #1184
@ievans @aryx After your Java discussion can you update us here on next steps?

@asadasivan What version of Java are you analyzing? We're currently deciding how to best support Java moving forward and whether we'll address these issues one-off or move to an alternative parser that better supports new Java features.

[2020-07-08 18:59] ievans commented on #1184
@asadasivan: I discussed this with @aryx and we think that we can get these issues resolved comprehensively fairly soon (by switching to the tree-sitter parser). Stay tuned.

[2020-07-08 19:22] dlukeomalley commented on #1166
Closing in favor of Semgrep Action/agent related tickets! Thanks all.

[2020-07-08 19:33] dan5382 commented on #1212
Weak vote for 3 as well. Seems like a good safe path forward. I'd be interested in digging into 1 as well though.

[2020-07-08 19:46] mschwager opened #1215 "Make semgrep's "chdir" usage more resilient"
Semgrep's usage within Docker combined with our `chdir` call caused for a difficult to track down bug. The related fixes were:

- https://github.com/returntocorp/semgrep-rules/pull/696
- https://github.com/returntocorp/semgrep-app/pull/165

Along with https://github.com/returntocorp/semgrep/pull/1192 for the original change.

The issue was our Github Action calls `make test`: https://github.com/re

[2020-07-08 20:02] mschwager opened #1216 "Create a feature deprecation plan"
Likely in `DEVELOPMENT.md` we should come up with a process for deprecating functionality for it's eventually removal or change. Something like, 1) fire a `DeprecationWarning` on the functionality and include info in CHANGELOG, 2.) let this sit for 1-2 release cycles, 3.) remove the functionality and include info in CHANGELOG.

[2020-07-08 20:30] clintgibler commented on #1212
I'm super excited for this, thanks for starting this thread!

I'm still thinking about the options you've listed. First, I'd like to take a step back and wax philosophical about:
1. What we might want to express with taint
2. How other tools express it
3. How we might want to express taint in semgrep.

## 1. What do we want to express with taint?

At a high level, for **sources** we want to be abl

[2020-07-08 20:34] clintgibler commented on #1212
Oh also, some cool related work by Pysa on [Dynamically Generating Models](https://pyre-check.org/docs/pysa-model-generators.html):

[2020-07-08 21:56] ievans opened #1217 "pattern-regex on a single metavariable"
I've seen several cases where it would be helpful to make pattern-regex operator not on a full range, but on a single metavariable.

E.g.:
[code]

[2020-07-08 21:57] ievans opened #1218 "Merge pattern-inside and pattern, pattern-not-inside and pattern-not"
As discussed by @nbrahms : we haven't seen any instances where anyone would want to use pattern rather than pattern-inside. We could just alias the keys and stop advertising pattern-inside and pattern-not-inside.

[2020-07-08 22:40] #706 closed, assigned to nbrahms, chmccreery

[2020-07-08 22:41] clintgibler commented on #1032
+1 I like the docs living on semgrep.live/docs

[2020-07-08 22:46] DrewDennison commented on #1217
cc @ghbren who would love this feature for hard coded strings

[2020-07-08 22:55] underyx commented on #1209
Thanks @rttwge for the link to the validator! The issue you flagged is now fixed with https://github.com/returntocorp/semgrep/pull/1219 — this should most likely be released next Tuesday.

[2020-07-08 23:11] DrewDennison commented on #1209
and/or we can give you a way to install this from in a pre-release form if blocking

[2020-07-08 23:52] DrewDennison commented on #1215
I like the idea of removing the chdir and having the rule ID remove a base path from the config dir / cwd

[2020-07-09 01:13] dlukeomalley opened #1221 "Semgrep 0.14 only showing first parse error"
In Semgrep 0.14.0, it seems to only report the first parsing error. There are other files with parsing errors, and the parsing error changes across runs. Also, it seem that the parsing error now only shows the filename instead of the full path.
For my monorepo I can't tell which __init__.py has the parse error.

Running with `--verbose` does not show all parse errors.

[2020-07-09 03:23] rttwge commented on #1210
Hello Isaac,

This arrears to have fixed the problem. There was an error in the file
jquery.dataTables.min.js and in the json output was the information below.
The rest of the json file contained results showing concerns as expected.

Thanks,

Rick

errors section of json output.

...
"errors": [
    {
      "type": "SourceParseError",
      "code": 3,
      "short_msg": "parse error",
      "long

[2020-07-09 05:51] Isaac0616 commented on #1155
Add another use case.
We have config files `xxx.avsc` which is also the json files that we would like to parse and apply json rules.

[2020-07-09 05:52] aryx commented on #1212
We probably want to create another issue/thread to discuss the compose/reuse of semgrep rules. I remember @rcoh also wanted that.

[2020-07-09 05:54] #1168 closed, assigned to nbrahms, chmccreery

[2020-07-09 10:54] #1209 closed, assigned to underyx

[2020-07-09 18:37] asadasivan commented on #1184
Thanks for the update. Looking forward to it.

--Arun

On Wed, Jul 8, 2020 at 1:59 PM Isaac Evans <notifications@github.com> wrote:

[2020-07-09 18:49] dlukeomalley commented on #1155
@Isaac0616 If a file is known to be of a specific type (ignoring its suffix), you can explicitly pass it to Semgrep and indicate that you want the rule run. I did this locally with a "dummy" pattern:

[code]

You can also do this with patterns, see @mschwager's comments here: https://github.com/returntocorp/semgrep/issues/1093#issuecomment-647604210

[2020-07-09 19:00] emjin opened #1223 "Add understanding of types of general expressions"
**Is your feature request related to a problem? Please describe.**
I want to be able to catch all usages of something of a certain type (definitely when it pertains to things in the same file, would be nice to also be able to understand imports)

**Describe the solution you'd like**
Extend typed metavariables to understand types for all expressions

**Additional context**
Example: in this, the fir

[2020-07-09 21:43] mschwager opened #1225 "[Java] Import prevent to use direct name"
Consider the following Java code:

[code]

We're attempting to use our Java `final` propagation to detect MD5 usage. The following pattern works:

[code]

But this pattern does not:

[code]

I believe this pattern will be more accurate because the call must come from the `MessageDigest` module, whereas the first pattern could be any module calling `getInstance`.

@aryx @mjambon any thoughts?

[2020-07-09 22:45] DrewDennison commented on #1217
https://semgrep.live/5rOA is an example where this would be really nice

[2020-07-09 22:49] DrewDennison opened #1226 "Tie fixes to patterns instead of one global fix"
Support a `fix` for each pattern e.g. https://semgrep.live/GdEp

[2020-07-09 23:02] DrewDennison opened #1227 "Support function return types in golang + java for local functions"
Support local functions such as `divide` in https://semgrep.live/DrewDennison:test-go-types

To make Semgrep types more useful, we need to support type signatures from imports (at least standard library imports) as seen in the example above given that we have `f, err := os.Open` and other common idioms

[2020-07-10 00:45] andersk opened #1228 "“running 9 rules...” message can’t be suppressed"
Semgrep added this progress message in the last few weeks, even on a non-TTY (as simulated here by `|& cat`):

[code]

Since Zulip runs [many linters in parallel](https://github.com/zulip/zulip/blob/3.0-rc1/tools/lint#L52), progress messages only make it harder to see when there are actual issues. All our other linters either give no such message or have an option to suppress it.

`semgrep --quiet

[2020-07-10 01:23] Isaac0616 commented on #1155
I see. It is good to know that it works when explicitly specifying files.
However, it would still be nice to have this feature implemented so that something like
[code]
would easily work in the CI.
As @minusworld said, it is important for reaching feature parity with regex based tool.
In addition, I think not parsing a file also paves the road to the feature of file name (only) matching rules.
btw

[2020-07-10 05:03] dgryski opened #1230 "Parse error with valid Go code"
The following Go code fails to parse:

[code]

Running semgrep with one of my rules produces the following error:

[code]

[2020-07-10 05:06] dlukeomalley commented on #1230
Thanks for filing a ticket @dgryski. Queuing this up to discuss with @DrewDennison and @aryx tomorrow.

Confirmed on semgrep.live: https://semgrep.live/Re3E/

[2020-07-10 06:41] ievans opened #1231 "Parse error on minified javascript"
Reproducing testcase on 0.14: https://semgrep.live/YG5W

input was 32c80b0e279871a7866402b071539a978ce84800330d2fe275d0e51da24a26ba, jquery.dataTables.min.js
via https://github.com/returntocorp/semgrep/issues/1210

[2020-07-10 06:42] ievans commented on #1210
@rttwge thanks! I'm going to close this issue as it's fixed in the latest release. I found a version of jquery.dataTables.min.js online that matched that hash and created #1231 to track the parse bug.

Can you comment on that issue with a sense of prioritization? Generally we don't find people that interested in running over minified files, so just curious if this is a blocker for you.

[2020-07-10 06:42] #1210 closed, assigned to nobody

[2020-07-10 13:32] aryx commented on #1225
I agree it should match, but I don't think it is related to constant propagation as the title suggest says. I think it's a more
general problem with "qualifiers" that seems to not match here.

[2020-07-10 15:15] dlukeomalley commented on #1228
@andersk I appreciate you filing this ticket. Do you have an example of the flags your other linters use to suppress these messages?

I'd rather add a flag here than disable it for non-TTY cases. It's been helpful for users to see these messages in build logs to prove to themselves Semgrep did what they expected it to do. Moving forward I'd expect these types of outputs to continue to change and m

[2020-07-10 15:21] dlukeomalley commented on #841
@rtpg This is fixed now for the sample provided. Mind taking a look and letting us know as you run in issues?

[2020-07-10 15:21] #841 closed, assigned to nobody

[2020-07-10 17:51] ievans commented on #308
Thanks to @rcoh 's work I'm going to close this -- we're ever so much better now

[2020-07-10 17:51] #308 closed

[2020-07-10 17:53] ievans commented on #383
@nbrahms I think these are mostly done, and this issue is maybe a dupe of https://github.com/returntocorp/semgrep/issues/384?

[2020-07-10 17:54] ievans commented on #384
@nbrahms looks like this is pretty much done now?

[2020-07-10 17:56] ievans commented on #632
It's done in https://github.com/returntocorp/semgrep/blob/develop/docs/pattern-features.md#deep-expression-operator

[2020-07-10 17:56] #632 closed, assigned to nobody

[2020-07-10 18:12] ievans commented on #918
@dlukeomalley your example works now (note `pattern-not-inside`) https://semgrep.live/JDrk

[2020-07-10 18:12] #918 closed, assigned to nobody

[2020-07-10 18:21] ievans commented on #699
@underyx is this actually important? I'd vote to close. We use mypy on the actual code so I think we're getting the 80/20 in terms of value

[2020-07-10 18:22] ievans commented on #1051
@mschwager can you confirm and close this ticket if true?

[2020-07-10 18:22] underyx commented on #699
I should've clarified that I'm against this. @nbrahms would you still want to add mypy?

[2020-07-10 18:24] ievans commented on #1147
@alex thanks for this issue! FYI, we are in the midst of switching to tree-sitter as the basis for all parsers. Do you know of any tree-sitter grammars for HCL? I found https://github.com/awilkins/tree-sitter-terraform with a bit of googling, but I'm not sure if it is still maintained (perhaps @awilkins knows?)

[2020-07-10 18:24] ievans commented on #978
@brendongo can you update / close this?

[2020-07-10 18:27] nbrahms commented on #699
@chmccreery and I just wasted a bunch of time waiting for CI to fail because mypy wasn't running on test code. IMO we should enable a weaker configuration of mypy just to aid development speed.

[2020-07-10 18:28] underyx commented on #699
How do you imagine weaker configuration? And can you describe what the issue was you needed caught?

[2020-07-10 18:29] nbrahms commented on #699
FWIW, I'd like to see the following checks in test code:
- Functions with known types are used appropriately

Whereas the following aren't necessary:
- Explicit type annotations in test code

[2020-07-10 19:02] andersk commented on #1228
We have

* `eslint`: (default)
* `isort`: (default)
* `mypy`: **`--no-error-summary`**
* `puppet`: (default)
* `puppet-lint`: (default)
* `pycodestyle`: (default)
* `pyflakes`: (default)
* `shellcheck`: (default)
* `stylelint`: (default)
* `tsc`: (default)
* `yarn-deduplicate`: (default)

and for completeness, I’ve been proposing to add:

* `black`: **`--diff --quiet`**
* `flake8`: (default)
* `pr

[2020-07-10 19:23] DrewDennison opened #1237 "Make --config take an array of args or be allowed to be passed in multiple times"
so you can pass in multiple flags or an array to --config and get perf speed ups from only having to parse once.

[2020-07-10 20:09] DrewDennison opened #1240 "Support lock-aware restrictions between calls between structs using types"
"I'd really like to declare constraints between two structs like methods on A can't call B with its lock held (because B might call A)"  - https://twitter.com/njcw/status/1281672598854619136

[2020-07-10 22:33] dlukeomalley commented on #1054
@brendongo From our conversations, my understanding is that we're pausing work here until we have a stronger use case from more users.

[2020-07-10 22:36] dlukeomalley commented on #1006
Note that this should be resolved (and decided) by work in https://github.com/returntocorp/semgrep/issues/1218. Let's revisit in the course of that ticket.

[2020-07-10 23:01] nbrahms commented on #431
Completed by showing steps.

[2020-07-10 23:01] #431 closed, assigned to nobody

[2020-07-11 18:28] ajinabraham opened #1243 "semgrep 0.14.0 python API issues"
**Describe the bug**
I am trying to upgrade to semgrep 0.14.0.

Setting`quiet=True` is not respected by the progress bar and initial message, `running `x` rules.`
Ref: https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/semgrep_main.py#L250
Also, this will trigger an exception.

Example:

[code]
When `quiet=True`semgrep shows `running x rules` message and progress bar and triggers

[2020-07-11 18:53] ajinabraham opened #1244 "Semgrep core exceptions UnicodeDecode error"
**Describe the bug**
Is encoding handled correctly in semgrep?

I am using semgrep APIs with libsast.
Integration code.

[code]
While running tests, when binary files in`__pycache__/` are read by semgrep, it triggers UnicodeError.

[code]

[code]

However, semgrep handles this gracefully.

[code]

Any ideas about what might be happening?

[2020-07-12 17:40] bored-engineer opened #1245 "Missing semgrep-files/semgrep-core during `pip install` with --no-binary"
**Describe the bug**
At LinkedIn we import/rebuild packages into an internal artifact mirror before they can be used.
When completing this process with semgrep (`0.12.0`) an error occurs when referencing files in semgrep-core:
[code]
The package does not build from source when `--no-binary :all:` option is used. It appears the `build_wheel` command references a path that does not exist.

**To Repr

[2020-07-12 19:23] ghbren opened #1246 "Semgrep does not print out all parser errors"
**Describe the bug**

If there are multiple files with parser errors, then semgrep only prints out parser error with one of the files.

**To Reproduce**

try running semgrep from a directory with 2 files that have invalid syntax, semgrep will only print out parser error with 1 file.

**Expected behavior**
print out all parser errors

**Screenshots**

**Environment**
If not using semgrep.live: are

[2020-07-13 08:44] underyx opened #1247 "UnicodeDecodeError crash when scanning binary files"
**Describe the bug**

I believe this is just a regression causing #563 again.

[code]

**To Reproduce**

[code]

**Expected behavior**

Semgrep probably shouldn't crash. Maybe a parse error is acceptable. But I think it's pretty common to have binary files (icons, logos, etc.) alongside your code and it's kind of a chore to explicitly ignore them.

Since this is the second time we have this bug, w

[2020-07-13 15:17] mschwager commented on #1245
Hi @bored-engineer,

It looks like our `.whl` packages are working correctly, but our `.tar.gz` packages are not:

[code]

[code]

Thanks for bringing this to our attention! We'll look into it and get back to you as soon as possible. In the mean time, you could use our [Docker runtime](https://github.com/returntocorp/semgrep#installation) if you'd like to continue testing out `semgrep` while we lo

[2020-07-13 15:35] nbrahms opened #1252 "Elevate "code-to-pattern" to pattern syntax box"
We want it to be discoverable above and beyond right-clicking highlighted code.

[2020-07-13 16:41] dlukeomalley commented on #1243
Thank you for filing Ajin. On the surface this looks related to #1228. I'll mark it as a duplicate for now and make sure we look into both.

[2020-07-13 16:43] dlukeomalley commented on #1221
Reported by @ghbren as well: https://github.com/returntocorp/semgrep/issues/1246#issue-655460703

[2020-07-13 16:44] dlukeomalley commented on #1246
Thank you filing @ghbren! Merging this with #1221. CC @brendongo

[2020-07-13 16:44] #1246 closed, assigned to nobody

[2020-07-13 16:49] dlukeomalley commented on #1228
Very helpful, thank you @andersk.

Related to #1243

[2020-07-13 17:03] ajinabraham commented on #1247
Related to https://github.com/returntocorp/semgrep/issues/1244 ?

[2020-07-13 17:28] underyx commented on #1247
@ajinabraham I think so! I'm not 100% sure on what the behavior is here, but it seems that semgrep only crashes when you target an unparseable file, such as a binary, by name. You don't see a failure in your issue on the CLI because you're running on a directory and semgrep is somehow ignoring the unparseable files.

The https://github.com/returntocorp/semgrep/pull/1250 PR should change it so you

[2020-07-13 18:25] ievans opened #1253 "specify constraints on metavariables outside of patterns (e.x. non-equality)"
Right now we enforce that metavariables are equal, but there is no way to add more constraints on top of this to the metavar matching.

For instance, in many cases it would be helpful to specify
* that $X and $Y are non-equal
* constraint on the literal text of the metavariable (Somewhat related to #1217).
* algebraic constraints on type

[2020-07-13 18:29] clintgibler commented on #1253
+1 this would be great.

I've wanted a number of times to be able to express:
* $X is a variable (that is, *not* a string, int, double, etc. primitive data).

[2020-07-13 19:09] emjin opened #1255 "Extend pattern-from-code to at least add the skeleton of displaying everything"

[2020-07-13 19:16] emjin opened #1256 "Metavariable information discarded when using typed metavariables"
Metavariable not being properly extracted from pattern-where-python

Pattern at: https://semgrep.live/6JDY

Trace:

[code]
[code]

[2020-07-13 19:42] mjambon opened #1257 "Convert tree-sitter Java CST to generic AST"
The goal is to replace the existing Java parser with the one generated by tree-sitter via ocaml-tree-sitter. Depends on https://github.com/returntocorp/ocaml-tree-sitter/issues/66.

[2020-07-13 20:07] ajinabraham opened #1258 "Ability to choose between rules that matches the same thing"
**Is your feature request related to a problem? Please describe.**
There can be scenarios where one of the two rules can be triggered but not both. For example
A sure XSS with severity ERROR and a possible XSS with severity WARNING. Currently, both of the rules match the same line.

**Describe the solution you'd like**
Ability to mention a rule id in another as a conditional. Like, trigger a warni

[2020-07-13 20:20] ajinabraham opened #1259 "Semgrep internal error caused by source code"
Source Code causing internal errors in semgrep 0.14.0
[code]

https://semgrep.live/zdDP/

[2020-07-13 20:29] ievans opened #1261 "Internal error in semgrep-core: 'NoTokenLocation min_max, empty list exn'"
[code]

https://semgrep.live/pKeJ?registry=python.sqlalchemy.correctness.bad-operator-in-filter

[2020-07-13 21:20] ievans commented on #1189
cc @saaspeter : work is starting on the upgraded Java parser this week in https://github.com/returntocorp/semgrep/issues/1257 if you'd like to track!

[2020-07-13 21:20] ievans commented on #1184
cc @asadasivan : work is starting on the upgraded Java parser this week in https://github.com/returntocorp/semgrep/issues/1257 if you'd like to track!

[2020-07-13 21:29] brendongo commented on #1245
@bored-engineer semgrep-core is built using ocaml and we haven't included all that in the source dist on pypi yet. To get you unblocked though, it is possible to build semgrep from source. The following steps effectively reproduce how we craft the whls.

[code]

[2020-07-13 21:54] #699 closed, assigned to nbrahms

[2020-07-13 22:01] nbrahms commented on #1256
is `$ERR1` a valid metavariable? for some reason I thought one couldn't use numerals

[2020-07-13 23:04] nbrahms commented on #1230
AFAICT, yacc is interpreting the first set of braces as the IF body, rather than the conditional statement. Solving this with an LL(1) parser is not super obvious here.

[2020-07-13 23:06] brendongo commented on #1228
It makes sense to me that --quiet should suppress out stderr output but should not affect printing of findings.

[2020-07-13 23:08] brendongo commented on #1243
Root cause: running semgrep as cli sets some global verbosity flags that this API code path does not set. These types of issues will be fixed when we get https://github.com/returntocorp/semgrep/pull/1188 over the line but for now I will add the flag setting code to this function to fix.

[2020-07-13 23:14] brendongo commented on #1228
Will having semgrep output findings on `--quiet` be enough for your use case @andersk. We are in the middle of refactoring the way we output logging messages like this so we should have more granular control on message visibility but that still needs a bit more work

[2020-07-13 23:18] andersk commented on #1228
Yeah, that’d be great. (I decided to work around this by adding a mechanism to filter lines from the output, but being able to use `--quiet` would be nicer.)

[2020-07-13 23:38] brendongo commented on #1243
Actually adding

[code]
before calling invoke_semgrep should get you desired functionality.

I'll work on getting #1188 overthe line so there's no weird global like this.

[2020-07-13 23:39] dgryski commented on #1256
Yes, because this is a valid file:
[code]

[2020-07-13 23:48] clintgibler commented on #1258
I like this idea and have wanted something similar :+1:

What I wanted it for, which I believe is the same case you're describing here, is being able to target the same potentially dangerous code pattern, in multiple rules corresponding to how risky/dangerous it likely is.

For example:

[code]

Ideally I'd be able to say - if the last one matches, ignore all the earlier, less precise ones. "Show

[2020-07-14 07:41] aryx commented on #1230
Yes, the Go Grammar is not an LALR(1) grammar (the one supported by Yacc), and so I have some parsing hacks to go around that in lang_go/parsing/parsing_hacks_go.ml. There are heuristics in this file to deal with those complex if condition
that contains braces. We need to extend those heuristics to handle the example of damian, or switch to tree-sitter for Go too.

[2020-07-14 07:45] #582 closed, assigned to nbrahms

[2020-07-14 16:05] aryx commented on #1221
Yep, got the problem also. semgrep-core returns 9 parse errors on a project
but semgrep just reports one. Even with -json.

[2020-07-14 16:10] aryx commented on #1257
actually we just have to convert it to the Java AST in pfff; and from that we can just reuse
the java_to_generic.ml already in pfff.

[2020-07-14 16:12] aryx commented on #1040
@nbrahms does you recent PR fix that?

[2020-07-14 16:25] aryx commented on #990
Ok we should have a fix for this by the end of the week; It should go in the next semgrep release, in 0.15.

[2020-07-14 16:44] nbrahms commented on #1040
@aryx My guess is no, but I haven't tested this functionality yet.

[2020-07-14 17:00] aryx opened #1269 "Internally test ruby support, port semgrep examples from Python/Js to Ruby"
See the matrix.md file.
See also semgrep-core/tests/python/*.sgrep and what could be ported to ruby.
I've started porting some examples in semgrep-core/tests/ruby/ but we could do far more.

[2020-07-14 17:03] aryx commented on #1269
Maybe start porting Brakeman rules.

[2020-07-14 17:03] aryx commented on #1269
right now semgrep-rules/ruby is empty :) the only ruby tests are basic tests in semgrep-core/tests/ruby (but those are useful to test the core patterns possibilities).

[2020-07-14 17:04] #1245 closed, assigned to brendongo

[2020-07-14 17:08] #1247 closed, assigned to nobody

[2020-07-14 17:11] ievans commented on #1040
@nbrahms @aryx I threw in an .live link to the original post that shows them still failing on `develop`

[2020-07-14 18:21] nbrahms opened #1270 "[Python] Untyped function pattern does not match typed function code"
**Describe the bug**
A pattern like:
[code]
does not match a typed function definition in python.

**To Reproduce**
See https://semgrep.live/d8e5/.

**Expected behavior**
Patterns without a declared type should match both typed and untyped function definitions.

**Environment**
semgrep.live

[2020-07-14 18:58] aryx opened #1271 "Equivalence is not applied for $X != $Y ==> $X == $Y"
https://semgrep.live/ReY2
should also match if err == nil thx to the equivalence.

[2020-07-14 19:32] dgryski commented on #1140
Still broken for Unicode characters though:

https://semgrep.live/Abd4?version=develop

https://play.golang.org/p/r4YaC5waxdl

[2020-07-14 20:27] sabrinabrogren opened #1273 "Metavariables don't propagate across pattern-regex functionality"
Metavariable information is not propagated across pattern-regex functionality. So in this example:
[code]
(in live editor [here](https://semgrep.live/2Z95/)), `$METHODNAME` and `$REQUESTPATH` are not found. In cai, running collect with this rule results in `KeyError: 'metavars'`.

[2020-07-14 21:01] kncdev132 opened #1274 "Support string wildcards in various javascript imports"
## Problem
I want to be able to detect if a js import path contains a specific keyword.
Ex. if keyword = "my_target_str" and we have the import in our code:
`import foo from '../my_target_str/views/foo/bar';`
we'd want this to report an error.

## Potential Solution
Following up from my discussion with @ievans it sounds like we may be able to achieve this via a regex style pattern such as:
`- patt

[2020-07-14 21:10] DrewDennison commented on #1140
yeah thanks @dgryski reopening

[2020-07-14 21:14] aryx commented on #1140
@mjambon can you generate ocaml-tree-sitter-lang/golang :)
I guess it's time for Go to do the switch too.

[2020-07-14 21:19] DrewDennison commented on #1140
ah we missed `rune` literal when reading https://golang.org/ref/spec#String_literals switching to https://github.com/tree-sitter/tree-sitter-go will fix this and other open go parse bugs

[2020-07-14 22:02] nbrahms commented on #1040
It is interesting that https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/try...catch says clearly that the nodes inside catch expressions are specifically identifiers, not patterns. However `node --check` parses the suggested code cleanly.

[2020-07-14 22:46] DrewDennison commented on #1274
@KieranCairney thanks for filing the issue. I agree with Isaac's solution but I'm trying to gather data on what would intuitively match your mental model. Can you write out what you would ideally see?

For example my take on this would be:

[code]

[2020-07-14 22:51] nbrahms commented on #1040
https://tc39.es/ecma262/#prod-CatchParameter contains the pattern spec

[2020-07-14 23:14] nbrahms commented on #1040
- The first pattern will be fixed by returntocorp/pfff#207
- The second pattern appears to already work in 0.14: https://semgrep.live/4brE/

[2020-07-14 23:57] nbrahms commented on #1230
@aryx What's a good way to get started on extending these heuristics?

[2020-07-15 00:35] #1040 closed, assigned to nbrahms

[2020-07-15 01:42] mjambon commented on #1140
@dgryski @ghbren oops, my mistake. I didn't know about rune literals. We'll work on a fix.

[2020-07-15 02:59] saaspeter commented on #1189
thank you, waiting for the new release  :)

[2020-07-15 04:03] asadasivan commented on #1184
Hello Isaac,

Thanks for the update. Looking forward to testing it out once the fix is
ready.

Thanks,
Arun

On Mon, Jul 13, 2020 at 4:21 PM Isaac Evans <notifications@github.com>
wrote:

[2020-07-15 06:01] dgryski commented on #1230
@nbrahms https://github.com/returntocorp/semgrep/issues/1140 seems to suggest switching to Go tree-sitter package, which I guess removes the need for heuristics and will probably solve all open Go parsing issues, including this one.

[2020-07-15 07:40] #1270 closed, assigned to nobody

[2020-07-15 07:44] rtpg commented on #841
https://semgrep.live/r650/ Based on this example, this issue is still not really fixed for brackets.

![image](https://user-images.githubusercontent.com/1408472/87517856-70636400-c6ba-11ea-97ac-96089d902a36.png)

(Basically the brackets disappear upon being replaced, does some especially nasty stuff on JSON objects)

[2020-07-15 16:31] #1212 closed, assigned to chmccreery

[2020-07-15 17:19] dlukeomalley opened #1285 "Semgrep autofix eats brackets []"
https://semgrep.live/r650/ Based on this example, this issue is still not really fixed for brackets.

![image](https://user-images.githubusercontent.com/1408472/87517856-70636400-c6ba-11ea-97ac-96089d902a36.png)

(Basically the brackets disappear upon being replaced, does some especially nasty stuff on JSON objects)

_Originally posted by @rtpg in https://github.com/returntocorp/semgrep/issues/841

[2020-07-15 17:20] dlukeomalley commented on #841
@rtpg Thank you for the follow-up and excellent live example. I opened https://github.com/returntocorp/semgrep/issues/1285 to track further fixes here 🙏

[2020-07-15 23:08] fitbitkfoster opened #1288 "New option flag: When scanning an explicit file, enforce that the file extension matches the rule being checked."
**Is your feature request related to a problem? Please describe.**
I encountered parsing errors as semgrep was attempting to parse a non-python file as python.
If a file is explicitly passed, semgrep will attempt to parse it in the language specified in the config. If instead you use `semgrep .`, it will automatically only grab files with the extension associated to the language specified in the r

[2020-07-15 23:13] brendongo commented on #1288
Semgrep will try to not parse files with known extensions (i.e. it wont try to parse a .js file as a python file) but it does not know what to do with files with an unknown/non-existent extension.

Is there a reason you are explicitly passing in the non-python file?

[2020-07-15 23:18] fitbitkfoster commented on #1288
This was occurring on a `.h` file extension:
`{"timestamp": "2020-07-15T20:04:36.316077Z", "level": "WARNING", "line": 41, "path": "/app/fitbit/security/stitches/log/__init__.py", "message": "semgrep: Could not parse exercise_model.h as python"}`

We scan all of our newly changed files using semgrep, regardless of the extension.
Our config files are also not split based on the language they apply

[2020-07-16 00:49] brendongo commented on #1288
Oh I see. A quick-fix while we think through this workflow would be potentially calling semgrep with `--exclude *.h` if there are just a limited set of file extensions in your codebase that runs into this issue.

Hmm does it make sense to count .h files as C files @aryx?

[2020-07-16 03:13] rtpg commented on #1285
I haven't landed a simple repro but I think I've seen commas disappear too, which makes me think that regex special symbols are getting chewed up in the autofix code.

[2020-07-16 04:35] aryx commented on #1288
Yes .h should be considered C files

[2020-07-16 05:22] ievans opened #1292 "Add support for metavariable statements in Golang"
https://semgrep.live/zd6n

This is blocking the last go test case for "full support" on our language matrix: https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/tests/go/metavar_equality_stmt.TODO

[2020-07-16 14:04] mschwager commented on #1204
Unassigning myself incase someone else has time to work on this before I do.

[2020-07-16 14:25] mschwager commented on #438
Fixed in #1192.

[2020-07-16 14:25] #438 closed, assigned to nobody

[2020-07-16 14:27] mschwager commented on #309
@aryx @emjin I think this is done? At least v1 is, and if we have more specific requests we can always create a new issue.

[2020-07-16 14:55] dgryski commented on #1292
Note that due to Go's semicolon insertion rules, the else must be cuddled for it to parse correctly.

[2020-07-16 15:20] underyx opened #1295 "Improve error message when running `pip install semgrep --no-binary :all:`"
We currently package the semgrep-core binary in a wheel. Installing from a sdist works only if you bring your own semgrep-core.

We should print some instructions on how to build or download semgrep-core instead of failing with `error: can't copy '/tmp/pip-install-415o5olw/semgrep-files/semgrep-core': doesn't exist or not a regular file` as mentioned in https://github.com/returntocorp/semgrep/issu

[2020-07-16 15:38] nbrahms commented on #1230
@dgryski I agree. Aside from blocking parsing bugs that crop up while that work is underway, it probably makes sense to punt issues like this 👌 .

[2020-07-16 15:48] #1051 closed, assigned to mschwager

[2020-07-16 16:05] jtmelton commented on #309
@mschwager is there documentation for this yet? I'd like to test it out, but not sure what it looks like

[2020-07-16 16:23] nbrahms commented on #1261
This may possibly be a duplicate of #1259

[2020-07-16 16:37] mschwager commented on #309
Hi John, it's currently documented under our experimental features: [Typed Metavariables](https://github.com/returntocorp/semgrep/blob/develop/docs/experimental.md#typed-metavariables).

[2020-07-16 16:47] #309 closed

[2020-07-16 16:59] ievans commented on #1292
@dgryski thank you, TIL. There is still an issue that $S metavariable should glob the statements in the true/false blocks, but are not; I'm going to edit this issue to reflect that.

[2020-07-16 18:00] kncdev132 commented on #1274
Hey @DrewDennison, that example is a totally reasonable way of implementing it to me.

[2020-07-16 18:10] jtmelton commented on #309
:+1: thanks!

[2020-07-16 18:19] jtmelton commented on #309
@mschwager  a quick question on this example (https://semgrep.live/Orwk/) that @clintgibler put together. Line 5 and 15 are correctly found now (great!). Maybe should be a different issue, but what do I do to get lines 22, 24, and 26 to be found as well? They are the same issue, just with boolean conditions in the conditional clause.

[2020-07-16 19:31] mschwager commented on #309
Great question! You can use the [Deep Expression Operator](https://github.com/returntocorp/semgrep/blob/develop/docs/pattern-features.md#deep-expression-operator). I've modified your example a bit to make use of that operator: https://semgrep.live/5rXj/

Although, it appears that we're treating `if((s = true) || 1 == 1)` vs. `if(s = true || 1 == 1)` differently here. I'll create a separate issue t

[2020-07-16 20:03] mschwager opened #1296 "Deep expression operator behaves differently depend on parentheses"
Consider the following Java code:

[code]

If particular, note the `if ((bool = true) || 1 == 1)`. Using the deep expression operator we can catch this issue:

[code]

However, if we change this to `if (bool = true || 1 == 1)` we get different results:

[code]

[code]

This was originally identified in #309. Is there something I'm missing? Is this a Java operator precedence thing?

cc @aryx @mjamb

[2020-07-16 20:09] ajinabraham opened #1297 "Semgrep 0.15.0 performance issues"
**Describe the bug**
[code]

More than 15 minutes and still waiting.

Rules: https://github.com/ajinabraham/njsscan/tree/master/njsscan/rules/semantic_grep
Source: https://github.com/bkimminich/juice-shop

## Enhancement

It would be nice to add an end to end test suite with semgrep that runs before release updates on real apps to catch performance bugs.

**Environment**
[code]

[2020-07-16 20:59] ajinabraham commented on #1297
Also is there a way to identify rules that are slow?

[2020-07-16 21:01] ajinabraham commented on #1297
It took ~1 minute to scan single file with 105 rules
[code]

[2020-07-16 21:12] jtmelton commented on #309
Excellent - thank you! I'll watch that one as well.

[2020-07-16 21:14] jtmelton commented on #309
@mschwager Also note that line 26 was missed in the example you made as well

[2020-07-16 22:01] dgryski commented on #275
This is still an issue.  I still get the following error with 0.15.0 running a simple query against the repo `github.com/h2o/h2o`.

[code]

[2020-07-16 22:02] kncdev132 commented on #1274
To provide a bit more context, here is a pseudo example of the cases we'd like to cover: https://semgrep.live/LjyY/

We want to catch anyone importing a specific module in our code. However, we've realized a wildcard string may produce false positives if another library references the same name (see test case 18 in my example). Despite us not particularly caring about this false positive, others m

[2020-07-16 22:02] colleend opened #1298 "Ruby Divide By Zero Parsing"
**Describe the bug**
Semgrep does not find any instances of divide by zero corresponding to the pattern $X / 0. Some examples that semgrep misses are 0/0, 1/0, etc.

**To Reproduce**
https://semgrep.live/gEl5/??version=develop

**Expected behavior**
Would expect that the pattern matches 0/0, 1/0, foo/0 in the semgrep live code.

[2020-07-16 22:13] brendongo commented on #1298
FYI probably want this link instead: https://semgrep.live/gEl5/?version=develop

From dumpling the AST it looks like the pattern is not including the 0 in the tree?

Part of Pattern for $X / 0 that refers to denominator
[code]

Same part when parsing ruby code:
[code]

[2020-07-16 22:14] brendongo commented on #1298
Might be an easy fix @aryx @nbrahms?

[2020-07-16 22:18] minusworld commented on #1297
Hey @ajinabraham, we are actually working on gathering performance stats for each rule right now. We also need to know which rules are fast and slow. This'll probably be done tomorrow or Monday and we'll be able to check out runtimes on all the rules together.

[2020-07-16 22:19] dgryski commented on #275
Here's the smallest reproducer I could find.
[code]

The C parser doesn't like the `llu` suffix.

[2020-07-16 22:52] minusworld opened #1299 "[Ruby Alpha] Ruby cannot match exact pattern"
**Describe the bug**
https://semgrep.live/YDky/?version=develop

Trying to match this case of using `without_protection`.
Keeping record of this here.

[2020-07-16 22:58] dgryski opened #1300 ":= and = considered equivalent in golang"
https://semgrep.live/pZKZ

The rule `if $A, $B := ... ; $B { ... }` shouldn't match the construct `if d, err = foo(); d { ... }`

This also happens with 0.15.0.

[2020-07-16 23:06] dgryski commented on #1300
There's a weird interplay with `:=` and `=` in the rule.  My guess is the current parser which transforms `if a, b := foo(); b { ... }` into `a, b := foo(); if b { ... }` has an issue with ... something?

[2020-07-16 23:38] ievans commented on #1274
Related-ish: https://github.com/returntocorp/semgrep/issues/285

[2020-07-17 00:28] dlukeomalley opened #1301 "[Ruby] Typed metavariable handling new, literal arrays"
https://semgrep.dev/s/ExwN?version=develop

 Doesn’t catch the Array.new from either casting of syntax

[2020-07-17 15:28] zythosec opened #1303 "Parse error on Java @interface annotation type declaration"
**Describe the bug**
Java files sometimes have a multi-line comment header at the top of the file. Tools such as Eclipse, IntelliJ, etc. automatically add these when creating new Java files (often a Copyright Block).

Error below:
[code]

**To Reproduce**
Create a Java file and place this block at line 1:
/***************************************************************************
Comment Here
 **

[2020-07-17 15:36] nbrahms commented on #1298
cc. @mjambon

[2020-07-17 16:16] dlukeomalley commented on #1303
Thank you for filing @zythosec! @aryx Is this another one solved by your tree-sitter tree migration?

CC @nbrahms @DrewDennison

[2020-07-17 17:09] mschwager commented on #1296
Actually, this was a misunderstanding, or at least a lack of creativity, on my part. I believe this wasn't being caught in the version without parentheses due to Java's operator precedence. That is, the `true` was binding to the `|| 1 == 1` instead of the `bool =`, so `semgrep` wasn't detecting it. Regardless, I think we can come up with a better pattern. We likely don't want _any_ assignments hap

[2020-07-17 17:09] #1296 closed, assigned to mschwager

[2020-07-17 19:07] zythosec opened #1306 "JavaScript Function Signature Destructuring Parse Error"
**Describe the bug**
JavaScript function signature with deep destructuring fails to parse.

**To Reproduce**
https://semgrep.live/Gxe2/

**Expected behavior**
No parse error

**Environment**
semgrep.live and locally using docker:
`docker run --rm -v "${PWD}:/src" returntocorp/semgrep --verbose --config=https://semgrep.live/p/javascript`

[2020-07-17 23:36] ievans opened #1308 "semgrep ignores code to analyze is /src exists"
Ran into this incredible Heisenbug while packaging an application that uses semgrep. Semgrep was not running on my specified path because of this code:

[code]

Desired behavior: semgrep doesn't cd into /src unless some specific env flag is used

from https://github.com/returntocorp/semgrep/commit/41774067786783f28c6ff70c985ef21da73c7c3f but also earlier cc @DrewDennison @mschwager

[2020-07-18 15:45] aryx commented on #1303
This is very weird. I'm pretty sure our Java parser handle /* comments spread on multiple lines. It's used in every projects
and the java parser parses 99.9% of the popular github projects.

[2020-07-18 18:15] ievans commented on #1303
@aryx I'm pretty sure there is a regression in the error reporting on ranges and we are incorrectly reporting span positions. We had another javascript bug where it reported 1:1 but was definitely not there. @brendongo can you look into that?

@zythosec can you provide a full reproduction here or on https://semgrep.live/editor?

[2020-07-19 09:46] minusworld commented on #1297
@ajinabraham From the JS rules, it looks like `audit.puppeteer-injection` eats up a LOT of time. You can check out the runtimes of all rules in this chart:

![semgrep-rules-public-repos-benchmarks](https://user-images.githubusercontent.com/2374948/87871974-de818280-c969-11ea-910a-86f1a4fa2e8d.png)

[2020-07-19 15:38] gfs opened #1309 "Being able to call semgrep from a C# program (C# library to interact with semgrep)"
**Is your feature request related to a problem? Please describe.**
This looks like an interesting project and I primarily develop in C#, particularly lots of pattern matching things in the security space, so I'd be interested in a C# library.

**Describe the solution you'd like**
A modern C# semgrep implementation.

**Describe alternatives you've considered**
I could call out to the command line b

[2020-07-19 16:28] ajinabraham commented on #1297
@minusworld Nice!
Can I run this benchmark locally? Also, can we know which file contributes to the most time?

[2020-07-20 13:29] mschwager commented on #1308
This may be a dupe of #1215

[2020-07-20 16:00] nbrahms commented on #638
Fixed by #1305 and #1310. Just FYI, due to what constitutes valid Go code, you will need to match with:

[code]

but that will match every import in:

[code]

[2020-07-20 17:26] #638 closed, assigned to colleend

[2020-07-20 17:37] mschwager commented on #1218
Unassigning myself in case someone can get to this before I can.

[2020-07-20 17:49] ievans commented on #1308
Indeed, let's discuss there

[2020-07-20 17:49] #1308 closed, assigned to nobody

[2020-07-20 18:24] ievans commented on #1309
Hey @gfs, thanks for filing an issue. We've had a number of non-Python implementers use the subprocess approach; since you can invoke semgrep with a config file that can have as many rules as you like, usually you can express everything in a single invocation. Would that change your view on the viability of alternatives, or are there some other constraints that you all have? (I.e., needing to make

[2020-07-20 19:22] gfs commented on #1309
For some more context Our DevSkim project is regex based CLI and IDE for Visual Studio so we can't guarantee the deploy environment will have python.

[2020-07-20 20:06] #1306 closed, assigned to nbrahms

[2020-07-20 20:07] nbrahms commented on #1306
Fixed in 0.16

[2020-07-20 20:44] aryx commented on #1309
What guarantees do you have on the deploy environment? Can you use binaries? Is it Windows only or Linux/macOS must also be supported? I guess docker is too much overhead?

[2020-07-20 21:03] brendongo commented on #1309
@gfs our ubuntu-generic install script installs a self contained binary that doesn't need python. See https://github.com/returntocorp/semgrep/releases/download/v0.15.0/semgrep-v0.15.0-ubuntu-generic.sh

[2020-07-20 21:04] gfs commented on #1309
For CLI and library we have no guarantees about deployment environment other than that it can run .NET Core 3.1.

For the Extension we would know we are on windows but the engine itself is in in the library.

Docker would indeed be too much overhead and we can't guarantee the deployment has docker as anyone can install this.

-------- Original Message --------
On Jul 20, 2020, 1:44 PM, Yoann Padio

[2020-07-20 21:43] minusworld commented on #1297
@ajinabraham
The benchmarks are now set to run on our [semgrep-rules](https://github.com/returntocorp/semgrep-rules) repo. It uses `pytest` and `pytest-benchmark`, so you should be able to run the benchmarks locally.

You can pass in rule-directory and a git-repo.

Something like this should work:
[code]

It doesn't drill down into specific files, but generally speaking, our observations are that

[2020-07-20 22:17] dgryski commented on #1173
Value ordering in struct literals only applies to un-keyed literals.  (Note that golint complains about un-keyed literals because they break compatibility with newer versions of packages with extra fields.). Matching on field assignments for unkeyed literals might be nice, but would require full type information from third-party packages.

[2020-07-20 22:40] brendongo commented on #1228
With https://github.com/returntocorp/semgrep/pull/1188/files `--quiet` will only output findings and parse errors. Will go out on next release

[2020-07-20 22:40] #1228 closed, assigned to brendongo

[2020-07-21 01:29] ajinabraham commented on #1297
@minusworld, Looks like I am not able to run this test. It's extremely slow.
[code]
I think there needs to be a feature with semgrep that allows timeout within the core to ignore rules if they go beyond a threshold.  Or maybe ignore minified files. It might be sensible for nodejsscan to do that since we don't expect minified server side javascript. I am not sure about semgrep's client side javascr

[2020-07-21 01:38] minusworld commented on #1297
@ajinabraham I... meant to mention above that it takes about an hour to run. My bad! 🤗

We scheduled it to run periodically since the benchmark tests take a while.  Here's the run that ran over the weekend on a fork that I made to test it out: https://github.com/minusworld/semgrep-rules/actions/runs/175034968

r2c has discussed a hard timeout or skipping minified files, and your experience is anot

[2020-07-21 13:42] zythosec commented on #1303
@ievans I realized from another bug I reported that the error using Docker locally reports line 1 error even if the error is not on that line. I will work on getting you a reproduction on semgrep live of the actual error today.

[2020-07-21 13:58] zythosec commented on #1303
@ievans Here you go: https://semgrep.live/RGgE/ Let me know if you need any more information. Thanks!

[2020-07-21 14:02] #1257 closed, assigned to aryx, mjambon

[2020-07-21 14:03] zythosec commented on #1303
Also, I'm happy to change the title of this issue once it's diagnosed. 😸

[2020-07-21 14:08] #1303 closed, assigned to nobody

[2020-07-21 15:43] #1198 closed, assigned to nobody

[2020-07-21 15:45] #1197 closed, assigned to nobody

[2020-07-21 15:46] #1196 closed, assigned to nobody

[2020-07-21 15:48] #1195 closed, assigned to nobody

[2020-07-21 15:49] #1194 closed, assigned to nobody

[2020-07-21 15:50] aryx commented on #1189
This should work now.

[2020-07-21 15:50] #1189 closed, assigned to aryx

[2020-07-21 15:52] aryx commented on #1184
This should work now! Thx for the bug report. Switching to tree-sitter-java fixed the issue.

[2020-07-21 15:52] #1184 closed, assigned to aryx

[2020-07-21 15:55] #1048 closed, assigned to nobody

[2020-07-21 16:01] #993 closed, assigned to nobody

[2020-07-21 16:03] #992 closed, assigned to nobody

[2020-07-21 16:04] #990 closed, assigned to aryx

[2020-07-21 16:07] aryx commented on #717
I've improved ast_java.ml to support those try with resources, but I've not fixed the grammar to generate those
resources. Also I'm not sure we are matching correctly those in semgrep.

[2020-07-21 16:08] aryx commented on #717
@IagoAbal this is a good candidate.

[2020-07-21 16:12] aryx commented on #522
This might work now? @IagoAbal another good first task.

[2020-07-21 16:13] aryx commented on #877
Another good one for @IagoAbal

[2020-07-21 16:20] aryx commented on #1303
Should work now. I've also changed the title of the issue. Thx for the bug report!

[2020-07-21 16:53] ievans commented on #1303
thanks @zythosec I'm going to file the parser reporting location as a separate issue!

[2020-07-21 16:55] ievans opened #1314 "Parse error spans not reported correctly"
There is a regression in the error reporting on ranges and we are incorrectly reporting span positions.

Example: https://semgrep.live/RGgE/ thanks @zythosec

[2020-07-21 17:11] gfs commented on #1309
@brendongo Thanks! I think this doesn't solve this problem for me, as the experience I really need is seamless to the end user- who can't be expected to do any more configuration than add a NuGet package, but that's a good reference to know.

[2020-07-21 17:17] denisa opened #1315 "golang package declaration can't be used as pattern"
https://semgrep.live/pZNk

[code]

ps
my goal is to enforce go package dependency.
For (a bad) example, if my project has the packages:
`internal/persistence`
`internal/business`
`internal/rest`

I want semgrep rules to enforce
`internal/persistence` depends on no other internal packages
`internal/business` might depends on `internal/persistence`
`internal/rest` might depends on `internal/business

[2020-07-21 17:44] ievans commented on #1315
Thanks @denisa, this is definitely a bug we'd like to fix

[2020-07-21 17:58] dlukeomalley commented on #1245
@brendongo @bored-engineer With the removal of sdist from the pypi release are we able to make progress now?

@bored-engineer Up for jumping on r2c.dev/slack to debug or chat more synchronously? Excited to get you unblocked.

[2020-07-21 19:41] kncdev132 commented on #1274
Hey folks, we're curious what a loose timeline would be for feature support of this as we're trying to decide on what tool to use for a required task in our backlog, thanks!

[2020-07-21 19:56] ievans commented on #1300
cc @aryx for thoughts?

[2020-07-21 20:00] mschwager opened #1317 "Add support for constant propagation in C"
Pulling from #1316.

Test: `semgrep-core/tests/c/equivalence_constant_propagation.c`

[code]

[2020-07-21 20:01] mschwager opened #1318 "Add support for metavariable equality statement in Golang"
Pulling from #1316.

Test: `semgrep-core/tests/go/metavar_equality_stmt.go`

[code]

[2020-07-21 20:03] mschwager opened #1319 "Add support for ellipsis operator statements in C"
Pulling from #1316.

Test: `semgrep-core/tests/c/dots_nested_stmts.c`

[code]

[2020-07-21 20:36] ievans commented on #1274
@KieranCairney thanks for checking -- we're thinking it will ship in 0.17 in one week (we release every Tuesday). Would that work for you all?

[2020-07-21 20:41] aryx commented on #1309
The only solution i see then is porting the python part of semgrep to Ironpython (is it still a thing) and the ocaml part toF# (great language too) to solve your issue.

[2020-07-21 20:44] ievans commented on #1274
Desired solution is https://github.com/returntocorp/semgrep/issues/1217 I think cc @brendongo @mschwager

[2020-07-21 21:24] dlukeomalley commented on #1243
@brendongo Are we good to close this now that #1188 is closed?

[2020-07-21 21:52] kncdev132 commented on #1274
Sounds great, looking forward to trying it out. Thanks @ievans!

[2020-07-21 22:02] minusworld commented on #1297
@ajinabraham

I removed rules that was slower than 1,000 lines of code per second from some of the rule packs we distribute (this one in particular)[https://semgrep.live/p/r2c-security-audit] and that brought things to a tolerable speed.

[code]

The list of those rule files is here:
[code]

We made https://github.com/returntocorp/semgrep-rules/issues/736 for improving the performance of the rules

[2020-07-21 22:11] brendongo commented on #1243
Let me double check that this is also fixed. A little different since the entry point here is the API not the cli

[2020-07-21 22:17] gfs commented on #1309
IronPython seems to still be being developed. They just released .net standard/core support a few months ago.

https://ironpython.net/

[2020-07-21 23:16] #1221 closed, assigned to brendongo

[2020-07-21 23:17] dlukeomalley commented on #1303
@ievans Do you have a ticket we can reference or link to from here? Thanks for filing!

[2020-07-21 23:17] brendongo commented on #1243
invoke_semgrep should now no longer print anything to stderr or stdout and added a test that enforces this

[2020-07-22 00:46] #1243 closed, assigned to brendongo

[2020-07-22 08:39] aryx commented on #1300
It's because go_to_generic.ml transform short variable declarations in regular assignments. := is converted into =. I thought
that would allow $X = $B to also match x := b, which users would want, but if that's not the case, if people do not want that "code equivalence" I can remove it.

[2020-07-22 08:48] aryx commented on #275
@DrewDennison trying https://semgrep.live/Kl6 gives just "semgrep got an error" but I can't find a way to display the error.
Is it normal?

[2020-07-22 09:26] aryx commented on #1301
Not sure what you want, but your semgrep.live link above has the wrong pattern.
You need $ARR.instance_eval(...) as in https://semgrep.dev/s/K39j/?version=develop

[2020-07-22 09:28] aryx commented on #1301
if you're talking about the alias of 'foo' created when called Array.new(), which might be an alias for 'Array' (not super familiar with Ruby), but yes it's not handled by semgrep. You need $ARR.instance_eval or we need some kind of typed metavariables for Ruby to handle this case.

[2020-07-22 09:30] aryx commented on #1301
But the title of this issue is confusing. Maybe "support typed metavariable for Ruby" or "handle type aliases".

[2020-07-22 13:08] #1298 closed, assigned to aryx

[2020-07-22 13:10] #1299 closed, assigned to nobody

[2020-07-22 14:33] dgryski commented on #1300
Notice in my example, `$B` is the second metavariable in the assignment but it's matching `d` which is the first variable in the assignment.

[2020-07-22 14:37] dgryski commented on #1300
As for equivalence, given that using `:=` instead of `=` (or vice versa) can be a source of bugs, it's probably a good to be explicit about and let the rule author decide in their case if they're equivalent or not.

[2020-07-22 18:57] aimichal opened #1327 "Typo in tutorial"
Page 3 of https://semgrep.live/learn ("2a. The ellipsis operator") has a typo.

That should not have a trailing period.

Copy/pasting this example doesn't work ("No matches"):

But without the trailing `.` it works:

[2020-07-22 19:04] ievans commented on #1327
thanks for the bug report @aimichal ! @minusworld, want to take a look at fixing?

[2020-07-22 19:36] brendongo opened #1328 "Document Python API"
semgrep can be invoked as a python library using semgrep_main:invoke_semgrep

We need some documentation to point out this fact and also on how to consume the data

[2020-07-22 20:30] dlukeomalley opened #1329 "Semgrep Extension for Visual Studio Code"
I'd like to have Semgrep scan my code as I write it in Visual Studio Code. I specifically want VS Code, but I've heard other users express interest in other editors (Sublime, Eclipse, IntelliJ, vim/emacs, etc.).

**Describe the solution you'd like**
A Semgrep extension hosted in the VS Code Marketplace.

**Describe alternatives you've considered**
I've also considered running this as a pre-commit

[2020-07-22 20:49] mschwager opened #1330 "Add Native (non-WSL) Windows support to semgrep"
Creating this issue to begin tracking requests for Semgrep support on Windows. Note that we expect Semgrep to work via `pip` installation on WSL, so this issue is focused on native Windows support. If you need _native_ Windows support please chime in here :+1:

Depends on:
- [x] #2956
- [ ] #2991
- [x] #3061
- [ ] [issue needed] Eliminate calls to fork(), which requires parser to run in the same s

[2020-07-22 21:36] dlukeomalley commented on #1301
It's the right pattern for the behavior I _want_ Semgrep to have, but is not right in the context of how Semgrep actually works.

Thanks for the clarification. It makes sense to me now that what I want to query for is "instance_eval calls on objects of type Array", which isn't supported.

@nobletrout - Does it suffice for you to use `$ARR.instance_eval` for now?

[2020-07-22 21:37] dlukeomalley commented on #1184
Using the develop docker image through semgrep.live I can confirm this code now parses: https://semgrep.live/nJvr?version=develop

Thanks @aryx !

[2020-07-22 22:42] dee-see opened #1333 "[Ruby alpha] simple x.y pattern not finding any results"
**Describe the bug**
trying to match a simple `object.method` pattern and it's not finding anything

**To Reproduce**
https://semgrep.live/1QXQ/?version=develop

**Expected behavior**
all 3 occurrences of the pattern should be found

**Environment**
semgrep.live `develop`

[2020-07-22 22:49] DrewDennison commented on #1333
@dee-see thanks for the bug report. We should definitely match this case

[2020-07-23 00:21] skanga opened #1336 "Invalid Path Separator on Windows"
A clear and concise description of what the bug is.
"pip3 install semgrep" fails on windows 10 with Python 3.7.8 and pip 20.1.1 the error seems to be an invalid path separator char.
error: can't copy 'XXXXXXXXXXXXXX\Local\Temp\pip-install-cq40rzma\semgrep-files/semgrep-core': doesn't exist or not a regular file

Anyone here know how to fix that?

[2020-07-23 00:23] skanga commented on #1336
It appears like the path separator char is hard coded to be the Unix/Linux style forward slash "/" instead of an OS dependent character.

[2020-07-23 00:24] skanga commented on #1336
Just run "pip3 install semgrep" on Windows 10 to reproduce.

[2020-07-23 00:25] ievans commented on #1336
Looks like https://github.com/returntocorp/semgrep/blob/1a835b87675e2ba7624ccc1a2c0abd17ecfa1503/semgrep/setup.py#L96

should just provide separated arguments to os.path.join

[2020-07-23 00:57] dlukeomalley commented on #1336
@skanga Thanks for filing this. I'm less familiar with Windows 10, is the way that this is running via WSL? While we're not formally supporting Windows yet, we have had users running Semgrep via WSL successfully.

@ievans If the compatibility fix is as straightforward as this, seems like a good Semgrep rule for us moving forward - look for calls to `os.path.join` where the arguments contain a `/`

[2020-07-23 01:08] dee-see opened #1337 "[Ruby alpha] Cannot match function call when I specify some parameters"
**Describe the bug**
Trying to match the `require :status` part in a Grape API definition

[code]

matching `require` finds it but `require :status` and other variations (see semgrep.live link) doesn't.

**To Reproduce**
https://semgrep.live/w8jX/?version=develop

**Expected behavior**
The `requires :status, type: String, desc: 'Your status.'` line should match

Still not 100% if it's a bug or an

[2020-07-23 01:09] dee-see commented on #1337
Issue #1337, I should have reported a security bug :)

[2020-07-23 01:56] kevincox opened #1338 "Rust Support"
I'm opening a ticket to indicate interest in support for the [Rust Programming Language](https://www.rust-lang.org/).

[2020-07-23 02:28] paul-nameless opened #1339 "Parse f-string self documenting expression in Python"
**Describe the bug**
[code]

**To Reproduce**
Run `semgrep --verbose --config=https://semgrep.live/c/p/python .` with string formatting `f"removing msg {msg_ids=}"`.

**Expected behavior**
not fail with parse error

**Screenshots**

**Environment**
local build

[2020-07-23 02:36] ievans commented on #1339
minimal reproduction on the live editor: https://semgrep.live/l48j/

thanks @paul-nameless for the report!

[2020-07-23 02:38] ievans commented on #1338
Thanks @kevincox! We are in the midst of a project to use tree-sitter as the basis for all of our parsers going forward. Since tree-sitter (https://tree-sitter.github.io/tree-sitter/) advertises "fairly complete" support for rust, this may not be terribly difficult to do.

cc @aryx @mjambon

[2020-07-23 06:53] skanga commented on #1336
@dlukeomalley You're welcome. I was running it in a command prompt using Python for Windows. I suspect it WILL work as-in under WSL but have not tried that.

[2020-07-23 07:17] ievans commented on #614
I think we've largely solved this problem through the live editor experience @DrewDennison . Feel free to re-open

[2020-07-23 07:17] #614 closed, assigned to nobody

[2020-07-23 07:18] ievans commented on #577
Duplicated in https://github.com/returntocorp/semgrep/issues/1292, closing this

[2020-07-23 07:18] #577 closed, assigned to aryx

[2020-07-23 07:18] ievans commented on #1318
Duplicate of https://github.com/returntocorp/semgrep/issues/1292

[2020-07-23 07:19] #1318 closed, assigned to nobody

[2020-07-23 07:43] aryx commented on #1338
The main issue will be the changes to the generic AST to handle Rust-specific features. Rust is a quite different beast
compared to the other languages we currently have, but we'll see.

[2020-07-23 07:59] dev-zero opened #1340 "Fortran (free-form) Support"
Since there's some new development around Fortran (see the https://fortran-lang.org/ efforts), Fortran support would be nice since the standard deprecated some patterns and there are some anti-patterns as well which could be caught by a project like this.

Restricting it to free-form Fortran might be a good idea to limit the complexity of it.

[2020-07-23 08:36] brendongo commented on #1339
For context: https://docs.python.org/3/whatsnew/3.8.html#f-strings-support-for-self-documenting-expressions-and-debugging

[2020-07-23 09:06] aryx commented on #1297
Yes @ajinabraham we definitely need to add a performance regression testing in our CI checking for regression in nodejjscan.
What is the command we need to run to check for those perf regressions?

[2020-07-23 13:21] #1217 closed, assigned to mschwager

[2020-07-23 14:15] mschwager commented on #1217
Hi @ghbren,

The [`metavariable-regex`](https://github.com/returntocorp/semgrep/blob/develop/docs/configuration-files.md#metavariable-regex) functionality has been pushed to `develop`. This will be officially released next Tuesday. If you'd like to try it out before then you can do the following:

[code]

Next you'll need to bring your own `semgrep-core`. You can accomplish this by downloading the

[2020-07-23 14:24] aryx commented on #1337
Note that currently those keyword/hash arguments are not parsed as real keyword arguments in the generic AST
(they are parsed as Tuple of Atom => value)
and so the order currently matters. I can fix that in another PRs if needed so one can look for
foo kwd1:1, kwd2:2 and it would match also foo kwd2:2, kwd1:1

[2020-07-23 14:24] aryx commented on #1337
Note also that because of the rewriting, search for   :x => v, will also match code written as x: v
which is nice I think.

[2020-07-23 15:01] clintgibler opened #1342 "Java pattern doesn't match when @interface is included"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Given the following pattern:
[code]

Pattern matches: https://semgrep.live/Dkgj/
[code]

Pattern doesn't match: https://semgrep.live/WrwA/

[code]

**Expected behavior**
I expect both to match.

[2020-07-23 15:42] nbrahms commented on #1274
@ievans I just tried https://semgrep.live/3Zle/?version=develop, but alas, we don't seem to be performing the matches on the filename correctly yet.

cc. @colleend , who I know already fixed this issue for similar AST nodes (arising from Go imports).

[2020-07-23 15:47] nbrahms commented on #1274
Color me wrong here. The following matches:
  https://semgrep.live/BjRx/?version=develop&stepByStep=1

However, I'm having trouble getting the metavariable regex to work:
  https://semgrep.live/Dk3d/?version=develop

cc. @mschwager for thoughts.

[2020-07-23 15:59] mschwager commented on #1274
Currently `metavariable-regex` is only a [child operator](https://github.com/returntocorp/semgrep/blob/develop/docs/configuration-files.md#schema). Including a parent `patterns` looks like it fixes the issue: https://semgrep.live/0b3B/?version=develop

[2020-07-23 15:59] nbrahms commented on #1274
Right on!

[2020-07-23 16:01] nbrahms commented on #1274
@KieranCairney I'm going to close this issue as it looks like we probably support your needs here.

We'll release this in 0.17, but please feel free to play with https://semgrep.live/0b3B/?version=develop in the meantime.

Also please do reopen this ticket if you run into problems.

Best,
Nathan

[2020-07-23 16:01] #1274 closed, assigned to nobody

[2020-07-23 16:18] mschwager commented on #1292
Can un-TODO `semgrep-core/tests/go/metavar_equality_stmt.TODO` when this is done.

[2020-07-23 16:27] mschwager commented on #1274
Also, if you'd like to try out `metavariable-regex` locally before the next release you can follow these instructions: https://github.com/returntocorp/semgrep/issues/1217#issuecomment-663032218

[2020-07-23 16:41] #1333 closed, assigned to aryx, mjambon

[2020-07-23 16:52] ievans commented on #1340
@dev-zero thanks for the comment! Under the hood, we're using tree-sitter for new grammars. I found https://github.com/stadelmanma/tree-sitter-fortran but I'm not sure how complete the project is in terms of parse rate success (perhaps you could ask @stadelmanma?)

If there is a complete tree-sitter grammar, the integration work is a fairly straightforward O'Caml transformation from the Fortran AS

[2020-07-23 17:03] dlukeomalley commented on #1336
To unblock you in the short-term are you willing to run Semgrep via WSL? If that does work I'd like to close this ticket in favor of #1330 and focus the discussion on Semgrep supporting Windows in general.

[2020-07-23 17:10] mschwager opened #1344 "Add support for typed metavariables in C"
We currently support [typed metavariables in Java and Golang](https://github.com/returntocorp/semgrep/blob/develop/docs/experimental.md#typed-metavariables). Since C is statically typed let's include typed metavariable support there too.

[2020-07-23 17:12] mschwager opened #1345 "Add support for constant propagation in Ruby"
We can un-TODO `semgrep-core/tests/ruby/equivalence_constant_propagation.TODO` when this is done.

[2020-07-23 17:14] mschwager opened #1346 "Add support for metavariable statements in Ruby"
We can un-TODO `semgrep-core/tests/ruby/metavar_equality_stmt.TODO` when this is done.

[2020-07-23 17:26] stadelmanma commented on #1340
@ievans and @dev-zero I haven't touched the code in awhile since my need for a AST parser for Fortran went away (which is sad, because I loved working with Fortran). I _think_ it was somewhere in the neighborhood of 70% complete and I'm pretty sure everything in the [test corpus](https://github.com/stadelmanma/tree-sitter-fortran/tree/master/corpus) was successfully parsed.

The major barrier to m

[2020-07-23 17:35] ajinabraham commented on #1297
@aryx Not sure if I understand correctly, But there is nothing specific to nodejsscan. I would like to see these semgrep rules https://github.com/semgrep/rules-nodejsscan running against some vulnerable node.js apps like the OWASP juice shop for performance-related CI checks.

[2020-07-23 17:37] ievans commented on #1217
@mschwager would it be simpler to just use the `develop` docker image?

[2020-07-23 18:12] ievans commented on #1340
@stadelmanma thank you so much for chiming in with the detailed comment! That's really helpful context.

[2020-07-23 20:16] mschwager opened #1348 "Move typed metavariables from experimental to official support"
We currently document [typed metavariables](https://github.com/returntocorp/semgrep/blob/develop/docs/experimental.md#typed-metavariables) under experimental features. If there's nothing major blocking its official support let's do it! To accomplish this I see a few things we have to do:

- Move the documentation from experimental to [Pattern Features](https://github.com/returntocorp/semgrep/blob/

[2020-07-23 21:56] aimichal commented on #1327
The typo is still on https://semgrep.live/learn.

Can someone please re-open? (Or LMK where the code for the /learn site is, because I couldn't find it -- I can submit a PR too.)

[2020-07-23 23:17] brendongo commented on #1200
Good point @mschwager do we care about the experience of running cutting edge develop as a pre-commit hook locally or just checking that it doesnt break anything? We can run another pre-commit-config in CI that includes running semgrep-develop docker image if that is the case.

[2020-07-23 23:46] ievans commented on #1200
@mschwager @brendongo tbh I'm not sure we care about testing that, can probably do the cheap thing for now

[2020-07-24 01:02] dee-see opened #1350 "[Javascript] Parse error with deconstructed arrow function expression parameters"
**Describe the bug**
Object deconstruction in the parameters of an arrow function seems to cause the parser some problems, see repro

**To Reproduce**
https://semgrep.live/kbjP

**Expected behavior**
No parse error

[2020-07-24 01:13] dee-see opened #1351 "[Javascript] Parse error with nullish coalescing operator (??)"
**Describe the bug**
The `??` operator doesn't seem to be supported, though I wonder if that's a bug or simply a matter of it being too recent?

**To Reproduce**
https://semgrep.live/xygL/

[2020-07-24 01:15] dee-see commented on #1351
Same with `a?.b` https://semgrep.live/O9ZL/

[2020-07-24 01:59] stadelmanma commented on #1340
I fired up the old dev environment to try things out and made a couple needed changes that cause the test suite to fail but no parse errors in `test/corpus`. I'll try to fix the tests in the next few days, updating them isn't hard just tedious due to how the "assertions" are laid out.

@ievans  and @dev-zero I'm not really sure whose court this ball falls into but I'll be happy to help as my time

[2020-07-24 02:03] chmccreery commented on #1327
Thanks for following up! Taking care of this now

[2020-07-24 03:36] ghbren opened #1352 "JavaScript NoTokenLocation Error on empty catch binding (catch () {})"
**Describe the bug**
https://semgrep.live/gEz0/

**To Reproduce**
https://semgrep.live/gEz0/

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
If not using semgrep.live: are you running off docker, an official binary, a local build?

[2020-07-24 04:36] DrewDennison commented on #1336
thanks @skanga I believe I changed to from `/` to `os.path.join` correctly in https://github.com/returntocorp/semgrep/pull/1353/files but I'll hunt down other hardcoded `/` tomorrow

[2020-07-24 04:49] #1336 closed, assigned to nobody

[2020-07-24 06:37] dlukeomalley commented on #1336
@DrewDennison Thoughts on this Semgrep rule for preventing this in the future? https://semgrep.live/dlukeomalley:avoid-hardcoded-path-seperator

[2020-07-24 07:28] aryx commented on #1348
Yep, sounds like a good plan.

[2020-07-24 13:14] aryx commented on #1342
should work now.

[2020-07-24 13:14] #1342 closed, assigned to aryx

[2020-07-24 13:41] aryx commented on #1352
Obviously we should return an error on your example, but
what do you want your pattern which uses catch($ERR) to match code that does have anything in the catch
with catch {}.
If you want it to match, what should contain $ERR then?

[2020-07-24 13:46] aryx commented on #1351
We could handle ?? by switching to the tree-sitter javascript parser (should not take too long),
because it's apparently handled at https://github.com/tree-sitter/tree-sitter-javascript/blob/master/grammar.js
but I don't see any grammar rule for "?." in it. Is it a very recent Javascript feature? What's the syntax and semantic?

[2020-07-24 13:48] aryx commented on #1350
@nbrahms do you think you could fix that?
We can switch to tree-sitter-javascript, but we may still have to correctly "compile" those pattern to ast_js.ml.

[2020-07-24 14:00] dee-see commented on #1351
I saw it used here https://github.com/elastic/kibana/blob/master/src/plugins/discover/public/application/angular/discover.js#L821 but they might be using some sort of non-standard compiler because I can't find any documentation about it. In other languages it's usually called safe navigation or "elvis operator". Nevermind about that one!

`??` exists for real though https://developer.mozilla.org/e

[2020-07-24 14:03] dee-see commented on #1351
Seems like `?.` is supported by my browser's console though.

This didn't raise any exception

[code]

Ah seems like it's a proposition here: https://github.com/tc39/proposal-optional-chaining

So no need to parse that just yet.

[2020-07-24 14:05] aryx commented on #1351
As soon as we switch also to tree-sitter for the javascript parser the ?? should work.

[2020-07-24 14:36] aryx commented on #1300
This should work now on develop

[2020-07-24 14:36] #1300 closed, assigned to nobody

[2020-07-24 15:00] ghbren commented on #1352
I don't want the pattern to match code with stuff inside `catch`.  I'm trying to catch empty `catch` blocks.

Sorry if I'm missing something, but why would this be an error?  The pattern is valid and the js code is valid.

[2020-07-24 15:02] aryx commented on #1352
sorry, typo, "we should NOT return an error on your example".

[2020-07-24 15:05] aryx commented on #1352
This will work in the mean time: https://semgrep.live/ExAe/
I'll try to add try { ... } catch (...) { }

[2020-07-24 18:18] dgryski commented on #1300
There's still the issue with the wrong metavariable being matched: https://semgrep.live/w8WY/?version=develop ($A vs $B in the if check)

[2020-07-24 21:45] brendongo opened #1360 "Performance Regression from https://github.com/returntocorp/semgrep/pull/1061"
**Describe the bug**
It looks like we introduced a 30% performance regression with this PR

**To Reproduce**

[code]

Make and install semgrep-core at bc55bea (this PR)
[code]
takes 133 seconds on my machine

Make and install semgrep-core at 3613b50 (commit right before this PR) takes 100 seconds on my machine

[2020-07-24 21:50] brendongo opened #1361 "Semgrep on JuiceShop stalling on three.js"
**Describe the bug**
Running `time semgrep -f ~/Code/njsscan/njsscan/rules/semantic_grep/ ~/Downloads/juice-shop-master/` takes forever but running `time semgrep -f ~/Code/njsscan/njsscan/rules/semantic_grep/ ~/Downloads/juice-shop-master/ --exclude three.js` takes 90 seconds.

It looks like parsing step is only taking 0.5 seconds to parse three.js so this is stalling in the match step.

Rules: ht

[2020-07-24 21:51] brendongo commented on #1361
From slack: @aryx is going to have semgrep-core respect the timeout flag in the matching step and return a timeout error as a stop gap while we look into the root cause

[2020-07-24 21:51] brendongo commented on #1297
Update on progress being made re: performance regressions

We have identified two potential sources of poor performance:
- https://github.com/returntocorp/semgrep/issues/1360
- https://github.com/returntocorp/semgrep/issues/1361

[2020-07-24 21:52] #1327 closed, assigned to minusworld

[2020-07-24 21:56] brendongo opened #1362 "Benchmark CI job that loudly fails performance regressions"
**Describe the bug**
Current Benchmark CI job gathers performance data but does not block PRs on regressions

**Expected behavior**
Given a set of rules and a project we should have some target run time in mind and the CI job should exit as a failure
and block a PR when it goes above such target time.

[2020-07-24 22:13] brendongo commented on #1350
Fixed in 0.16.0: https://semgrep.live/kbjP?version=0.16.0

[2020-07-24 22:13] #1350 closed, assigned to nobody

[2020-07-24 23:58] kncdev132 commented on #1274
Thanks all! I was able to test it out and seems to be what we're looking for. However, I'm curious about a particular false positive it seems like:
line 12 - https://semgrep.live/Wrzy/?version=develop
Demo of the same regex in metavariable working as expected: https://regex101.com/r/FONidm/1

[2020-07-25 08:29] ievans commented on #1274
@KieranCairney, actually two things going on:

1. because your top-level key is `patterns-either`, you are ORing the results of the metavariable-regex filter. You want a patterns-either at the top-level, and then two subkeys (`patterns`) which will and the `pattern` and `metavariable-regex`. This is super not intuitive and we're working on making it better.

So in fact in your example, it's curren

[2020-07-25 09:15] aryx opened #1365 "SEMGREP_CORE_DEBUG=1 does not work anymore with semgrep"
as explained in CONTRIBUTING.md, one way to debug semgrep-core from semgrep is to run
export SEMGREP_CORE_DEBUG=1 and if you do:
pipenv run semgrep -f ../semgrep-core/tests/PERF/ajin.yaml ../semgrep-core/tests/PERF/three.js

will get some debugging output from semgrep-core. There is also SEMGREP_CORE_PROFILE.
However this does not work anymore. My guess is that semgrep now redirect the stdout and

[2020-07-25 09:20] aryx commented on #1365
the pb seems to come from:
            core_run = sub_run(cmd, stdout=subprocess.PIPE, stderr=subprocess.PIPE)
commenting stderr=... get the previous behavior, but would be nice to have an option for that.

[2020-07-25 10:31] aryx commented on #1297
I think a big issue is that patterns like $X = {}; ...
matches a lot of elements in three.js because {} may match any records with any elements, and then it triggers too much the deep statement matching.
@ajinabraham do you expect $X = {};  to match code like  foo.bar = { fld1: 1, fld2: 2};?

[2020-07-25 10:32] aryx commented on #1297
or do you want $X = {}; to just match empty objects?

[2020-07-26 16:52] karthick-gururaj opened #1366 "semgrep.live bug report: Valid C function doesn't parse"
https://semgrep.live/gEDK

The following (valid) C function gives a compile error:

    int foo(char *str) {
    //    while (*str && (*str != ':')) -> works
        while (*str && *str != ':')
        {
            str++;
        }
       return 0;
    }

Code is valid as per gcc.

[2020-07-27 09:38] aryx opened #1368 "New -timeout and -max_memory semgrep CLI flags"
Those flags are available in semgrep-core but not currently surfaced in semgrep.

[2020-07-27 13:59] mschwager opened #1370 "Fix Golang newline inconsistencies"
Originally noticed in this comment: https://github.com/returntocorp/semgrep/pull/1357#issuecomment-663603212

In Go a newline introduces hidden semicolons. This ends up creating inconsistencies when patterns do or do not include a newline at the end of the pattern. This is especially noticeable when using a file vs. a CLI flag as the pattern input since files tend to include newlines whereas CLI a

[2020-07-27 16:02] #1348 closed, assigned to mschwager

[2020-07-27 17:56] emjin opened #1371 "Multiple expressions in cond of for loop not parsing"
When we have

for (int i = 0, j = 0; i < 10; i++, j++) {
    do_something();
}

this parses as expected. However, when we add another expression to the condition, it breaks

for (int i = 0, j = 0; i < 10, j < 10; i++, j++) {
    do_something();
}

https://semgrep.live/X0ow

[2020-07-27 19:37] kncdev132 commented on #1274
Thanks for the clarifications Isaac, I was able to get a demo working now. Looking forward to 0.17!

[2020-07-27 20:20] mschwager commented on #1368
@sabihb was interested in picking off some `semgrep` tasks - this would be a great introductory issue.

To flesh the task out a bit more: `semgrep` (the Python code) calls out to `semgrep-core` via `subprocess`. This includes passing relevant information to `semgrep-core` via CLI flags. This task will be to create new `semgrep` CLI flags and pass the relevant information to the `semgrep-core` CLI

[2020-07-27 20:45] mschwager commented on #1269
@aryx Is this done? See also https://github.com/returntocorp/enterprise/issues/272

[2020-07-27 20:49] dee-see commented on #1337
Is my repro from the issue (https://semgrep.live/w8jX/?version=develop) supposed to work now or it hasn't been deployed yet? I'm not sure how recent the `develop` version is supposed to be.

[2020-07-27 20:50] dee-see commented on #1337
And if it was indeed supposed to work, let me know if I should open a new issue @aryx

[2020-07-27 21:08] dlukeomalley commented on #1366
Thank you @karthick-gururaj for filing this bug. We'll track it as part of our general C improvements. Is this blocking your workflow or Semgrep experiments?

[2020-07-27 21:13] dlukeomalley commented on #1370
@mschwager @nbrahms This might help first time rule writers for Go. Shall we queue it up for this sprint?

[2020-07-27 21:19] mschwager commented on #1370
Let's do it! I just added it :+1:

[2020-07-27 21:49] nbrahms opened #1372 "Code-to-pattern should suggest `"..."` for string literals"

[2020-07-28 00:08] ievans commented on #1274
@KieranCairney great! I realized I forgot to deeplink the `develop` version that has the unreleased changes. https://semgrep.live/rx46?version=develop :)

[2020-07-28 00:08] ievans commented on #1372
@aryx what do you think about this? Should we continue showing "..." or is $X: str more idiomatic now?

[2020-07-28 00:34] ievans opened #1375 "if (...) matches else block as well"
We should only be matching the first clause, but match both: (cc @dlukeomalley who noticed this in the cheatsheet)

![image (10)](https://user-images.githubusercontent.com/409041/88605606-3d608f00-d02f-11ea-874e-01d051c8cadf.png)

test case is at https://github.com/returntocorp/semgrep/blob/a7941ebae2c80bf1982f4a0a63a576f659468273/semgrep-core/tests/python/dots_nested_stmts.py

[2020-07-28 03:22] karthick-gururaj commented on #1366
Thanks @dlukeomalley - no, not blocking.

[2020-07-28 07:15] aryx commented on #1372
I like "...", because it's yet another sequence (of characters this time).

[2020-07-28 07:29] aryx commented on #1269
the semgrep-core/tests/ruby/  is not bad now. I'll mark this as done.

[2020-07-28 07:29] #1269 closed, assigned to clintgibler

[2020-07-28 13:12] karthick-gururaj opened #1377 "#define causes parse error"
https://semgrep.live/Gx4z

The code snippet below doesn't parse:

    #define FOO
    int i = 0;

I reduced it to the snippet above from a much bigger file. This bug means `semgrep` can't run on any real-life C code base.

[2020-07-28 13:20] karthick-gururaj opened #1378 "semgrep doesn't parse included headers"
https://semgrep.live/0bpq

In the code snippet:

    #include "some_file.h"
    int i = 0;
    foo_t f;

I expected to see an error - since `semgrep` can't find the included header or definition of the type `foo_t`. But no error is issued. I'm not sure if this is a bug or how the tool is designed fundamentally. I thought the tool should parse _and_ resolve type references. Looks like I'm mistaken.

[2020-07-28 14:22] aryx commented on #1297
@ajinabraham ?

[2020-07-28 14:26] ajinabraham commented on #1297
Apologies for replying late. I was not doing well.
@aryx  Can you share an example? I can look into it and get back

[2020-07-28 14:37] aryx commented on #1297
No problem, I am actually not feeling well either today :) Got a nasty cold.
the main performance issue is that semgrep with your rules get stuck on three.js because one of the
pattern, $X = {} ... <otherstuff>  matches at too many places which then triggers the slow deep statement matching,
and on a big file like three.js it's really slow.
My question is that in the example below
https://semgrep.

[2020-07-28 14:39] aryx commented on #1297
The problematic rule is node_nosqli_injection with for example this pattern:
    - pattern: |
        $QUERY = {};
        ...
        $QUERY[$KEY] = <... $REQ.$FOO.$BAR ...>;
        ...
        $OBJ.findOne($QUERY, ...);

The first $QUERY = {} matches too many places in three.js. Do you want $QUERY = {} to match all those places or when you wrote this pattern you just wanted $QUERY = {} to only

[2020-07-28 15:10] ajinabraham commented on #1297
This (`$QUERY = {};`) is not really required I think. I removed all such occurrences from all the rules and attempted to scan `three.js` on semgrep 0.16.0. and still, see the issues.
The updated rules I am using: https://github.com/ajinabraham/njsscan/tree/master/njsscan/rules/semantic_grep

[2020-07-28 15:16] mschwager commented on #1256
Hi all,

To start, it looks like we have a deficiency in our error messages when using `pattern-where-python`. I'm going to make some improvements there right now. Other than that, it looks like we have a bug in our typed metavariables implementation. `semgrep-core` is failing to include the relevant metavariable information when using typed metavariables. Consider the following simple example:

[

[2020-07-28 17:38] ievans commented on #1337
@dee-see `develop` == our main development branch on this issue. so it should work, re-opening this

[2020-07-28 17:49] mschwager commented on #1378
Hi @karthick-gururaj,

[2020-07-28 17:57] mschwager commented on #1378
Hi @karthick-gururaj,

In this case, this is how the tool is designed. Since Semgrep is performing static analysis on the code itself it will not resolve external references. To do so would require considering the state of the filesystem, the compiler header include flags, and compiler linker flags, which Semgrep doesn't currently have access to. This provides advantages like being very fast and e

[2020-07-28 18:07] mschwager commented on #1377
Hi @karthick-gururaj,

I'd expect Semgrep to at least parse the above example, even if it can't derive semantic meaning from preprocessor statements yet. From my testing it looks like Semgrep correctly parses macros like `#define FOO 1`, but fails with `#define FOO`. We'll track this as a C parser bug on our end :+1:. Is this blocking Semgrep usage on your end?

Thanks again for bringing all these

[2020-07-28 22:01] colleend opened #1381 "Java package pattern cannot be parsed"
**Describe the bug**
The "package" pattern cannot be parsed in Java. It results in a parsing error although it should be able to be parsed.

**To Reproduce**
https://semgrep.live/colleend:java_package

**Expected behavior**
Should be able to be parsed.

[2020-07-29 00:26] nbrahms opened #1386 "--test-ignore-todo doesn't work"
**Describe the bug**
Semgrep in test mode reports errors on lines annotated with todos

**To Reproduce**
See
https://github.com/returntocorp/semgrep-rules/pull/746/checks?check_run_id=921258601

**Expected behavior**
Semgrep should not error in this case.

[2020-07-29 00:57] dlukeomalley opened #1387 "Pattern regex is slow to run"
The following rules for hardcoded passwords are slow to run, possibly because of the complexity of the regex. Does the regex run on the whole file or only what matches other patterns?

Pending performance improvements with these rules I've temporarily removed them from blocking my team's CI builds.

[code]

[2020-07-29 01:13] nightwatchcyber opened #1388 "Support for JUnit XML format as output"
Would love to see an option to get output as JUnit XML, since many CI/CD tools support this out of the box. This can be done via this module:
https://github.com/kyrus/python-junit-xml

[2020-07-29 01:54] dlukeomalley commented on #1388
@nightwatchcyber Thanks for filing this feature request. Is there a specific CI/CD system you have in mind? I'm curious to dig into the workflow a little further and figure out what "good" looks like for delivering this kind of feature.

[2020-07-29 02:20] nightwatchcyber commented on #1388
The two systems I was thinking of is Circle-CI and Gitlab:
https://circleci.com/docs/2.0/collect-test-data/
https://docs.gitlab.com/ee/ci/junit_test_reports.html

In particular, Brakeman added JUnit support specifically because of Circle-CI:
https://github.com/presidentbeef/brakeman/pull/1453

[2020-07-29 02:20] karthick-gururaj commented on #1378
Ok, I understand.

Yes, sure. The feature can be split into two parts - first being resolving references within a [translation unit](https://en.wikipedia.org/wiki/Translation_unit_%28programming%29) and the second will be to analyze across translation units.

[2020-07-29 02:23] karthick-gururaj commented on #1377
@mschwager - thanks! Yes, this one is a blocker for me.

[2020-07-29 07:28] #979 closed, assigned to nbrahms

[2020-07-29 08:06] aryx commented on #1361
We can probably close this one. At least it does not stall anymore.

[2020-07-29 08:20] aryx opened #1391 "[Go] Wrong generic AST for short var decl"
a,b := 1,2  is actually parsed as   b,a := 1,2

See https://semgrep.live/Qkvx/?version=develop

This was reported here https://github.com/returntocorp/semgrep/issues/1300#issuecomment-663670111

[2020-07-29 08:31] mackowski opened #1392 "C# support"
I'm opening a ticket to indicate interest in support for the C# Language.
I can help with developing it if you can point me how to start and where to look.

[2020-07-29 08:50] aryx commented on #1337
It works, it's just a YAML syntax problem.
You need pattern: | see https://semgrep.live/Jd2Z/?version=develop
Not sure why YAML does not accept your syntax though. probably the requires: with a colon.

[2020-07-29 08:53] aryx opened #1394 "Semgrep returns ambiguous error when pattern key includes non-string YAML"
As mentioned in https://github.com/returntocorp/semgrep/issues/1337
this works https://semgrep.live/5PXl/?version=develop
but not this https://semgrep.live/Gxl1/?version=develop

Not sure why, an edge case of YAML syntax.
At least we should give a better error message. Right now it just says "Error" without any information.

[2020-07-29 08:54] aryx commented on #1337
I've created a separate issue to try to accept your syntax (or at least give a better error message suggesting to use pattern: |

[2020-07-29 08:55] #1337 closed, assigned to nobody

[2020-07-29 09:18] #1391 closed, assigned to aryx

[2020-07-29 09:37] aryx commented on #1300
It now works on develop!

[2020-07-29 13:39] mschwager commented on #1387
Hey there,

I see a few ways we could speed this up. First, this looks like a great opportunity to use the new [`metavariable-regex`](https://github.com/returntocorp/semgrep/blob/develop/docs/configuration-files.md#metavariable-regex) operator. This would allow us to update the following rule:

[code]

[code]

This reduces the size and complexity of the regex, and only runs it over the contents of

[2020-07-29 13:49] mschwager commented on #1386
Do we really need this behavior in Semgrep itself? Could we instead just comment out the ignored tests inline or move a file to e.g. `.TODO` instead of `.py`? It's less maintenance burden for us and less custom syntax for users to learn vs. using builtin language features they'll already know.

[2020-07-29 15:03] nbrahms commented on #1386
cf. https://github.com/returntocorp/semgrep-rules/pull/746. Not optimizing for the long term here, but right now we can't commit certain changes without breaking CI. Let's unblock ourselves on that first.

[2020-07-29 15:08] dlukeomalley commented on #1392
Thank you for filing this @mackowski. Adding @aryx and @nbrahms to discuss what adding support for a new language looks like. We'd love to get more folks involved there.

[2020-07-29 15:12] ievans commented on #1253
@clintgibler #1217 is done!

I'm going to close this particular issue as "not specific enough." I think we might have enough validation to build something for algebraic constraints on type, but we can open that as a separate issue.

[2020-07-29 15:12] #1253 closed, assigned to nobody

[2020-07-29 15:12] aryx commented on #1392
Are you familiar with OCaml? the only remaining part to handle C# needs to be written in OCaml (in semgrep/semgrep-core/parsing/ like the Parse_ruby_tree_sitter.ml in this directory for example, but here it would be a Parse_csharp_tree_sitter.ml. We can generate the boilerplate for this file, but we still need to convert that in the generic AST (defined in pfff/h_program-lang/AST_generic.ml)

[2020-07-29 15:25] aryx commented on #1368
@brendongo actually implemented yesterday the --timeout

[2020-07-29 15:53] dlukeomalley commented on #1388
Thank you for the links and supportive of adding this. Is it something you'd be willing to contribute with some guidance from one of the maintainers?

[2020-07-29 16:19] #1339 closed, assigned to nbrahms

[2020-07-29 16:53] underyx commented on #1372
@emjin just wanted me make sure you're aware of this issue

[2020-07-29 17:21] mschwager opened #1397 "Add Ruby repositories to QA testing"
In an effort to gain more confidence in our Ruby support we should include some Ruby repositories in our QA testing process. This will confirm our parsing support, Ruby rules in semgrep-rules, and prevent regressions.

Related Ruby efforts:

- https://github.com/returntocorp/enterprise/issues/251
- https://github.com/returntocorp/enterprise/issues/270
- https://github.com/returntocorp/enterprise/i

[2020-07-29 17:23] brendongo commented on #1397
Repos used in QA testing are in https://github.com/returntocorp/semgrep/blob/develop/semgrep/tests/public_repos.py

https://github.com/returntocorp/semgrep/blob/develop/semgrep/tests/qa/test_public_repos.py will need to be modified to run ruby rules. Right now it only does python go and javascript

[2020-07-29 18:01] minusworld commented on #1397
We also have benchmarking for Ruby rules on `semgrep-rules`.

https://github.com/returntocorp/semgrep-rules/blob/develop/tests/performance/.test_public_repos.yaml

[2020-07-29 18:46] nbrahms commented on #1230
@aryx Did the Go tree-sitter work land? It looks like the semgrep link here is still failing, even on develop.

[2020-07-29 20:09] ajinabraham commented on #1297
I am already testing `--timeout` in 0.17.0 and it looks great!

[2020-07-29 20:15] brendongo opened #1399 "Remove tests from pypi pacakage"
It looks like python tests are being unnecessarily included in python package. We should remove them.

[2020-07-29 20:23] ajinabraham commented on #1297
@aryx I see the following with timeout enabled.

[code]

Does it make sense to skip the problematic file(s) on maybe a 3rd timeout and show it in errors or a separate flag along with timeout to handle that? This will save time wasted on timeouts on that file per X no of rules.

[2020-07-29 20:27] aryx commented on #1230
nope, not yet. I was fixing ruby and Go matching bugs, and trying to fix the perf regressions of ajin.
Hopefully I can finish the Go tree-sitter this week or early next week.

[2020-07-29 20:31] aryx commented on #1297
Not sure exactly what you propose. Do you want that the first timeout on a file with a rule to automatically skip this file for the other rules?

[2020-07-29 20:31] underyx commented on #1399
Not against this, but I'll note that this is not an obvious design decision and there's some disagreement on whether tests should be packaged: https://www.mail-archive.com/twisted-python@twistedmatrix.com/msg12242.html

[2020-07-29 20:35] ajinabraham commented on #1297
I mean if we find that a file is consistently timing out for more than ~3 rules. Remove that file from being scanned with other rules, if a flag like `skip_on_timeout=3` is supplied along with `timeout=6`.

This should skip problematic files triggering timeouts with most other rules and increasing scan times. In this example, we could skip the file `three.js` on the third timeout.

[2020-07-29 20:36] underyx commented on #1399
Oh, actually, that thread was about where in the directory structure tests should go.

For packaging questions I normally defer to @hynek's judgement and practices. He happens to have a blog post on this: https://hynek.me/articles/testing-packaging/

The post does not seem to say anything about including test files in the package. However I just checked the latest release of `attrs`, and it seems

[2020-07-29 20:36] aryx commented on #1297
@brendongo what do you think? sounds reasonable to me. Could be done on the python side only? just exclude the file from the target list file passed to semgrep-core?

[2020-07-29 20:37] aryx commented on #1297
@brendongo we could also aggregate the 50 errors with 1 error listing all the rules (or just the first few rules and a ...)

[2020-07-29 20:38] aryx commented on #1297
BTW was this ever fast with semgrep 0.9? I have a hard time to believe that semgrep 0.9 was working correctly and fast on the current juice-shop repo with the current njssscan rules.

[2020-07-29 20:39] aryx commented on #1297
some of the patterns are intrinsically exponential given how the matching engine currently works (we can fix that, but it's a big change on how the matching engine work).

[2020-07-29 20:41] ajinabraham commented on #1297
The issue was reported on `0.8.0` with around 70 rules, fixed in `0.9.0` and got reintroduced from `0.10.0`

[2020-07-29 21:06] brendongo commented on #1297
@ajinabraham `skip_on_timeout` sounds like a great idea
@aryx i'll make a ticket on aggregating errors like this

[2020-07-29 21:09] nightwatchcyber commented on #1388
I can take a look at that. I was thinking of doing this in a similar way existing SARIF reporting is implemented.

[2020-07-29 22:03] dlukeomalley commented on #1388
@brendongo @underyx Any recommended starting points or context to share with @nightwatchcyber?

[2020-07-30 00:49] nbrahms commented on #1394
It works with: https://semgrep.live/kWxK/?version=develop, or by putting the content in quotes.

Broadening this to improving error message.

[2020-07-30 00:50] nbrahms commented on #1394
Probably related to, and fixed by, https://github.com/returntocorp/semgrep-app/issues/307

[2020-07-30 03:58] Isaac0616 opened #1404 "JSON pattern matching bug"
**Describe the bug**
The pattern `{"key1": $X}` will match the entire object instead of the part of `"key1"`.

**To Reproduce**
https://semgrep.live/d78Y/?version=develop

**Expected behavior**
Should match only the part of `"key1"`

[2020-07-30 07:47] #1381 closed, assigned to nbrahms, colleend

[2020-07-30 08:35] mackowski commented on #1392
I do not know OCaml, but it seems to be fun to learn it. Anyway, as I did not do it before I do not know how much time is needed to do it. I am ready to learn something new and help you with this project, but I also do not want to be a roadblock.
If you can generate the boilerplate in a new branch, I can try to start writing mapping, I will use other languages as examples. If you have capacity and

[2020-07-30 08:46] aryx commented on #1392
Sounds great! @mjambon can you add csharp in ocaml-tree-sitter-lang? I'll create the Parse_csharp_tree_sitter.ml boilerplate with a few cases filled in as a starting point.

[2020-07-30 10:30] MCOffSec opened #1406 "Matching Python annotations containing "." characters"
**Describe the bug**
When trying to match an annotation on a python method that contains a "." character the match fails

**To Reproduce**

In the following code snippet:

[code]

This pattern will match the class annotator:

[code]

but a similar pattern to match the class annotator "@api.response" fails:

[code]

If I remove the . in the api.response string I can write a match pattern that works

[2020-07-30 14:09] mschwager commented on #1406
Hi @MCOffSec,

Thanks for bringing this to our attention. I'll look into it and get back to you.

[2020-07-30 14:53] mschwager commented on #1261
EDIT: tracking this bug in https://github.com/returntocorp/semgrep/issues/1407

[2020-07-30 15:18] nbrahms commented on #1261
Not sure about @mschwager 's mentioned problem, but the semgrep.dev link here works, so looks like this has been fixed, at least in Semgrep 0.15.

[2020-07-30 15:18] #1261 closed, assigned to nobody

[2020-07-30 15:33] mschwager opened #1407 "Internal error in semgrep-core: 'NoTokenLocation min_max, empty list exn'"
Seeing this error message during some internal testing on Javascript code.

File: https://github.com/mulesoft/api-notebook/blob/master/src/scripts/plugins/filter-properties.js

Pattern: `$APP.$METHODNAME($REQUESTPATH, ...)`

[code]

See also #1261 and #1259

[2020-07-30 15:49] mschwager commented on #1406
Okay, I was able to reproduce your issue. Here's a minimally reproducible case I came up with:

[code]

[code]

[code]

If we switch the second decorator's `.` to a `_` it works as expected:

[code]

[code]

[code]

I've confirmed the same bug exists for function decorators too. I'm going to move this to a bug and we'll track it accordingly. cc @aryx @mjambon

Is this a major blocker for your Semg

[2020-07-30 16:01] MCOffSec commented on #1406
its not a major problem, I've managed to work round it in a way that i'm happy with

[2020-07-30 17:01] chgg-kboberg opened #1409 "Support Gitlab SAST artifact output"
**Is your feature request related to a problem? Please describe.**
My employer is a Gitlab shop and a requirement for integration into our SAST pipeline is the ability to "speak Gitlab" and leverage e.g. in-line merge request vulnerability scan results.

**Describe the solution you'd like**
A semgrep flag that generates Gitlab-formatted JSON output: https://docs.gitlab.com/ee/user/application_secu

[2020-07-30 17:03] dee-see commented on #1409
Related issue from the other side: Make GitLab support the SARIF output format (which semgrep supports, but isn't exclusive to semgrep) https://gitlab.com/gitlab-org/gitlab/-/issues/118496

[2020-07-30 17:05] dlukeomalley commented on #1409
This issue is spiritually related to #1388. Tagging here to link the two tickets for those who implement.

[2020-07-30 20:08] sabrinabrogren opened #1411 "Change names of semgrep directories"
Having `semgrep/semgrep/semgrep` can get confusing.

Idea discussed on slack:

[2020-07-30 20:14] sabrinabrogren opened #1412 "No File Info Yet exn on toyota benchmarks C codebase"
**Describe the bug**
Error message:
[code]

**To Reproduce**
Running [this pack of C community rules](https://semgrep.live/p/Ascof22.Ascof22.Espresso-IT_C_rules_only) on the [static analysis benchmarks from Toyota ITC](https://github.com/regehr/itc-benchmarks/) on macOS High Sierra 10.13.6.

**Expected behavior**
semgrep should be able to run without errors.

**Environment**
macOS High Sierra 10.1

[2020-07-30 20:33] sabrinabrogren commented on #1412
@aryx perhaps this has to do with these:
https://github.com/returntocorp/pfff/commit/1784a99ff1ce0b12f508998ba6364fa83972ffa7
https://github.com/returntocorp/pfff/commit/407fd16cae58d50c4a5f5af5910ecf54715afe17

[2020-07-30 20:38] mjambon commented on #1392
@aryx I just added csharp to ocaml-tree-sitter-lang. I parsed one sample program successfully on the first try but didn't run large-scale stats.

[2020-07-30 20:46] colleend opened #1414 "Ruby pattern-not not removing matches"
**Describe the bug**
In Ruby, pattern-not does not actually remove a match. In the example, I have tested that the pattern-not matches the line that is commented #should not match, but it does not accurately remove the match.

**To Reproduce**
https://semgrep.dev/colleend:create_with

[2020-07-30 21:04] underyx commented on #1411
This blog post recommends nesting under `src/`: https://hynek.me/articles/testing-packaging/

[2020-07-30 21:22] brendongo commented on #1204
Looks like we now use a docker image with most the dependencies installed and most builds/tests finish in 5 minutes or less. @mjambon is this good to close

[2020-07-30 21:25] mschwager commented on #1404
Hi @Isaac0616,

Thanks for bringing this to our attention. I'm still new to the idea of using Semgrep for JSON search, so I don't have a good feel for its JSON use-cases and the ergonomics of patterns yet. I took a look at the Python equivalent for `dict`s and it appears to have similar behavior, except that it requires a `...`: https://semgrep.live/D8kj/?version=develop. That is, it matches the w

[2020-07-30 21:25] brendongo commented on #812
Duplicate of https://github.com/returntocorp/semgrep/issues/1368 and handled in #1385

[2020-07-30 21:25] #812 closed, assigned to nobody

[2020-07-30 22:14] Isaac0616 commented on #1404
My specific use case is detecting modification of an attribute of a secret key.
For example,
[code]
I want to know if someone modify the `"gen"` of the `"SECRET_KEY2"` to something else.
(`$X` in my example can be `...`.)
Because the pattern has to be a complete json, I have to specify something like `{"SECRET_KEY2": ...}` (with bracket).
I can understand why it match the entire object, but what I

[2020-07-31 04:11] aryx commented on #1392
Ok,  I'll create the Parse_csharp_tree_sitter.ml boilerplate with a few cases filled in as a starting point.

[2020-07-31 16:26] awilkins commented on #1147
Sadly, I didn't get very far implementing it - I've stopped using Atom.

Would it make it simpler to convert the file into the JSON format of HCL first?

[2020-07-31 16:34] #1315 closed, assigned to colleend

[2020-07-31 16:36] #1173 closed, assigned to colleend

[2020-07-31 17:54] mschwager commented on #1404
Thanks for the use-cases, they're really helpful in formulating how to think about the ergonomics here. I see two ways to determine a good JSON interface here, 1.) come up with use-cases and make sure we can use patterns to find them, and 2.) look to patterns in other languages (e.g. Python) to frame how we think about the problem. With that, I'll use a mix of these below to come up with a game pl

[2020-07-31 18:18] brendongo commented on #1404
For key/value in use case:

Would it make more sense to do something like
[code]
instead of a pattern-inside and pattern?

[2020-07-31 19:06] mschwager commented on #1404
Yup, I think that's another way to specify it, similar to how `pattern-inside` and `pattern` can be interchangeable in certain situations in other languages. The reason I broke it out into multiple patterns with `pattern-inside` was to disambiguate the `pattern-not` case. I.e if we consider this case:

[code]

We can't simply move that to:

[code]

In this case would it mean that 1.) we didn't fin

[2020-07-31 21:46] brendongo commented on #1365
With the PR above logs are visible when setting the ENV variable and invoking semgrep with --verbose

[2020-07-31 23:40] nbrahms commented on #1411
Half-finished on https://github.com/returntocorp/semgrep/pull/1423, but CI is being a blocker here.

[2020-08-01 00:59] chmccreery opened #1424 "Examples we show on live editor fail by default"
**Describe the bug**
Upon loading from the menu, the "Call this before that" and "Combine semgrep and regex" examples both say that tests failed.

**To Reproduce**
https://dev.semgrep.dev/nWLd/
https://dev.semgrep.dev/ExL5/

**To Fix**
The code for "Call this before that" needs to be updated to include $X instead of ... in the second pattern

[2020-08-01 01:00] chmccreery commented on #1424
<img width="528" alt="Screen Shot 2020-07-31 at 5 56 27 PM" src="https://user-images.githubusercontent.com/25408780/89090411-a27df280-d357-11ea-8cea-8857fbb402ea.png">
<img width="1662" alt="Screen Shot 2020-07-31 at 5 56 08 PM" src="https://user-images.githubusercontent.com/25408780/89090414-a578e300-d357-11ea-86e0-835f3b9beb59.png">

[2020-08-03 15:56] mschwager opened #1425 "Parse error when running taint analysis"
I've lightly modified the basic taint tests provided in `semgrep-core`.

Modified `semgrep-core/data/basic_tainting.yml`:

[code]

Modified `semgrep-core/tests/TAINTING/tainting.py`:

[code]

It looks like we're specifically having parse troubles under taint mode:

[code]

If I run a non-taint rule against that Python code there's no parse error. I double checked, the `format` line is valid Python

[2020-08-03 15:59] dlukeomalley commented on #1387
@ghbren - closing this for now. Let me know if the changes @mschwager proposed are unclear.

[2020-08-03 15:59] #1387 closed, assigned to dlukeomalley

[2020-08-03 16:02] mschwager commented on #1425
Seeing similar errors without any `.format` calls:

[code]

Using rule:

[code]

I'm not sure that taint analysis is ready for primetime, as @aryx has been alluding to.

[2020-08-03 17:28] #1365 closed, assigned to brendongo

[2020-08-03 18:47] adzuci commented on #1147
I'm new to `semgrep` and `tree-sitter` grammars, but I was looking into what https://github.com/fugue/regula does with OPA policies and was curious if running semgrep rules on the json plan output might make sense in some situations.

[2020-08-03 19:41] #1406 closed, assigned to mschwager, nbrahms

[2020-08-03 19:43] #1368 closed, assigned to sabrinabrogren

[2020-08-03 22:39] brendongo opened #1430 "Aggregate timeout and memory errors in text output"
When many timeout or memory errors are returned by semgrep-core we output each one as it's own error:
[code]
It would be much cleaner if we aggregated the output as `X timeout errors on FILE when running following rules: []`

[2020-08-03 22:42] brendongo opened #1431 "Stop running rules on file that keeps timing out"
With `--timeout` flag it is still possible for a file to cause a timeout on every single rule.

Make default behavior to be to stop trying to scan a file after X number of rule timeouts. Add a flag that modifies the value of X.

This will significantly speed up run times when running on a codebase with a problematic file.

[2020-08-03 22:43] brendongo commented on #1297
Created https://github.com/returntocorp/semgrep/issues/1430 and https://github.com/returntocorp/semgrep/issues/1431 for aggregating timeout error message and for skipping a file after X timeouts.

[2020-08-03 22:49] nbrahms commented on #1411
This was too high an effort bar, so killing this task for now.

[2020-08-03 22:49] #1411 closed, assigned to nobody

[2020-08-03 23:10] colleend opened #1432 "Ruby exact match failing"
**Describe the bug**
Ruby exact match of  "user_id = session[params[:token]]" does not show up as a match.

**To Reproduce**
https://semgrep.dev/colleend:exact_match????version=develop

[2020-08-03 23:56] colleend opened #1435 "Ruby not matching anything with : in front."
**Describe the bug**
Ruby is not exact-matching :token.

**To Reproduce**
https://semgrep.dev/colleend:token

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
If not using semgrep.dev: are you running off docker, an official binary, a local build?

[2020-08-04 00:05] nbrahms commented on #980
This was fixed in 0.17

[2020-08-04 00:05] #980 closed, assigned to nobody

[2020-08-04 07:33] aryx commented on #1077
I think it's normal, var a, b = 1  is just sugar for var a; var b = 1;  so we don't know anything about a.
Or am I wrong? var a, b = 1  means  var a = 1; var b = 1?

[2020-08-04 08:32] #1230 closed, assigned to colleend

[2020-08-04 08:32] #1140 closed, assigned to mjambon

[2020-08-04 08:50] javixeneize commented on #1295
Hi

Has the new python been released? Im still having this problem

Thanks

[2020-08-04 09:11] javixeneize opened #1437 "Non root docker image"
Hi

The docker image for semgrep runs as root. I think a new image should be released with a less privileged user

[2020-08-04 09:30] DrewDennison commented on #1437
@javixeneize thanks for the issue. Yep I believe there shouldn't be any issue. I can investigate if this is a quick task tomorrow or it would be super appreciated if you made a PR. Does running with `--user $(id -u):$(id -g)` work as a temporary workaround for you? (it might dump a stack trace if file permissions need to be updated for this to work)

[2020-08-04 09:33] aryx commented on #1292
It's because unlike in C or Java, in Go if statements have to be inside { }.
You can not write  if ($E) $S else $S
In C/Java/... this is allowed, which allows us to abuse statement metavariables to also match a list of statement because really they just match a single statement which is a Block statement. Unfortunately this is not valid Go syntax.

[2020-08-04 09:44] javixeneize commented on #1437
im trying to make it work creating a new user in the dockerfile, but even doing a chmod 777 for the semgrep binary, it still says permission denied.

Im trying to build a docker image based in alpine, running pip install, but im having the issue detailed in #1295
Im trying to build the wheel by myself and repackage everything but its a bit of pain and not pretty.... If you can let me know how to i

[2020-08-04 09:47] #1370 closed, assigned to aryx

[2020-08-04 11:45] salecharohit commented on #849
This is indeed a very important feature that I would expect to see as now a days devs like to chain functions Example below
[code]

In the above scenario I'd like to capture the connect and execute functions but it all depends on the implementation.

Something like Jsoup.connect(...)...execute(...) would be desirable to capture.
Also do let me know if there is any other way of catching the above c

[2020-08-04 13:24] nnamon opened #1439 "Generics in Java Sources Causing Matching Issues"
**Describe the bug**

The use of generics in a function signature appears to affect detection.

The following class is semgrepped against:

[code]

With the pattern from the `find-sec-bugs` rules: `new ObjectInputStream(...);`

Only the deserialization instance in the function `deserializeObject` is matched but the one in `deserializeObjectStealth` is not.

**To Reproduce**

A snippet of the bug c

[2020-08-04 14:20] aryx commented on #234
should work now

[2020-08-04 14:20] #234 closed

[2020-08-04 14:41] aryx opened #1441 "[JS] JSX semgrep patterns parse error"
https://semgrep.dev/8xxq

[2020-08-04 15:12] mschwager commented on #1425
Seeing similar parse errors for Javascript:

[code]

[2020-08-04 15:23] nbrahms commented on #1425
It's really weird that these are showing up as parse errors, as apparently `pfff` is able to parse the files just fine.

cc. @brendongo for thoughts on why the error is mislabeled.

[2020-08-04 16:23] javixeneize commented on #1437
I have submitted a PR to add a non root dockerfile - https://github.com/returntocorp/semgrep/pull/1443

Thanks

[2020-08-04 19:19] nbrahms commented on #1435
This appears to already be fixed when run with `?version=develop`

[2020-08-04 19:19] #1435 closed, assigned to colleend

[2020-08-04 19:20] nbrahms commented on #1432
Appears to be fixed

[2020-08-04 19:20] #1432 closed, assigned to nobody

[2020-08-04 19:24] nbrahms commented on #1414
It looks like the returned match range is missing a character; my suspicion is that the match ranges differ by this last character and hence are not equal.

[2020-08-04 19:41] nbrahms commented on #1414
Hmm, color me wrong here. It looks like our subtraction logic is just broken here for some reason:

![image](https://user-images.githubusercontent.com/2490631/89337480-d99e1d80-d64f-11ea-9565-53996e513378.png)

[2020-08-04 19:43] ievans commented on #1329
Alpha at https://github.com/returntocorp/semgrep-vscode

[2020-08-04 19:54] brendongo commented on #1437
@javixeneize not sure what you are trying to do but we currently do not have a published pip package that works on alpine. Which results in the error you are seeing above.

The following dockerfile should work:

[code]

[2020-08-04 20:00] brendongo commented on #1437
Alternatively you can copy the relevant binaries from our alpine docker container:

[code]
to get semgrep working in your own alpine docker.

[2020-08-04 20:02] brendongo commented on #1295
We havent fixed this ticket yet but if you are seeing this message it means you are trying to install semgrep on a system that is not currently supported (i.e. not manylinux or osx compatible)

[2020-08-04 20:06] javixeneize commented on #1437
Yeah, this works, thanks!

Im trying to build semgrep as a service, it will be wrapped with a flask API and it will receive a config file, a git repository and return the report. Once i have it ready, i will do a PR if its something that you would like to have in your project

Thanks!

[2020-08-04 20:55] dlukeomalley commented on #1437
@javixeneize This project sounds awesome! Have you seen https://semgrep.dev/scan ? It has similar functionality letting you specify a config + git repository. Feel free to join us on the community slack (r2c.dev/slack) if you’d like to learn more!

[2020-08-04 21:18] mschwager commented on #1397
Re-opening since we reverted this change due to failing tests: https://github.com/returntocorp/semgrep/runs/946554625

[2020-08-04 21:21] javixeneize commented on #1437
Ok, i will have a look at it. It is more to call it via API rather than having that interface, but looks great :)

[2020-08-04 21:25] dlukeomalley commented on #1437
I think we're thinking the same way. We are starting to use both `/scan` and [app.r2c.dev](https://app.r2c.dev/) for on-demand scanning of public and private projects via API and for one-off cases via a UI. Would love to chat more about what you have in mind :)

[2020-08-04 21:33] javixeneize commented on #1437
Sure, let’s have a chat. I will write you tomorrow.
Thanks!

[2020-08-04 22:33] colleend commented on #1414
huh interesting, it does seem like subtraction is wrong in this case. It seems that subtraction works in other cases, though (like in this case: https://github.com/returntocorp/semgrep-rules/blob/develop/ruby/lang/security/bad-deserialization.yaml).

[2020-08-04 23:31] colleend commented on #1439
Making the parser_java.mly change that fixes this issue leads to at least 3 more shift-reduce errors. @aryx do you have any suggestions?

[2020-08-05 07:24] #1441 closed, assigned to aryx

[2020-08-05 08:00] aryx commented on #1439
For some reasons the body of the second method has no AST ...

[2020-08-05 09:12] javixeneize opened #1452 "using semgrep pip package as a dependency"
Hi

Is there any documentation on how to use semgrep as a dependency in python? It is, which service you need to call to run the scan, etc...

As explained in the previous issue, im trying to build a Flask API that enables semgrep as a service, and i would like to call the service needed to run the scan

Thanks

[2020-08-05 11:50] aryx commented on #1439
ok there's a big ast_todo in parser_java.mly on the grammar rule for generic methods. That explains it :+1:

[2020-08-05 12:26] nuc13us opened #1454 "warn: parse error(Javascript file)"
There is some issue when trying to parse a valid Javascipt File

[code]
Any possible way to ignore this kind errors and scan rest of the files.

[2020-08-05 13:52] dlukeomalley commented on #1454
@nuc13us My understanding is that the behavior of Semgrep already is to warn and continuing scanning the rest of the files unless `--strict` is used. Do you expect results in another file that are not being returned?

[2020-08-05 14:09] #1430 closed, assigned to sabrinabrogren

[2020-08-05 14:09] dlukeomalley commented on #1452
@javixeneize Unfortunately we don't have formal documentation yet. The API is firming up so we’ll write documentation soon and in the meantime there are decent doc strings. @brendongo and I can help answer any questions.

For examples of how the package is used, see Ajin's use of Semgrep in libsast:

https://github.com/ajinabraham/libsast/blob/3ed4428e505382476cd1d9a85ade640a89a2fa9f/libsast/core_

[2020-08-05 15:32] E1200411 commented on #1452
basically i need to understand whats the method needed to make it work. At the moment in trying to call it via subprocess and its not great.
I have seen Ajin's code. This man is always involved in cool things, eh? MobSF, NodeJSScan... ;) Im checking his code and im not understanding how you need to send the list of targets.

The parameter sent is as follows:

target=[pt.as_posix() for pt in paths]

[2020-08-05 15:33] javixeneize commented on #1452
basically i need to understand whats the method needed to make it work. At the moment in trying to call it via subprocess and its not great.
I have seen Ajin's code. This man is always involved in cool things, eh? MobSF, NodeJSScan... ;) Im checking his code and im not understanding how you need to send the list of targets.

The parameter sent is as follows:

target=[pt.as_posix() for pt in paths]

[2020-08-05 16:24] colleend commented on #1439
ah I see now! that does indeed explain it 👍

[2020-08-05 16:40] brendongo commented on #1452
You will want to call this function: https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/semgrep_main.py#L251
and pass it in a path to the config file and a list of paths that you would pass when calling semgrep from the command line.

[2020-08-05 16:44] javixeneize commented on #1452
Thanks. This is the method im calling, but i dont know whats the expected format for the list of paths. Do you have an example you can share?

Thanks

[2020-08-05 17:01] brendongo commented on #1399
Looks like they don't want tests in the package?

[2020-08-05 17:43] hynek commented on #1399
That’s about where you put your tests in your project hierarchy. Not whether or not you put it into an sdist. I don’t feel strongly about putting tests into wrists but people kept complaining so I add them.

[2020-08-05 19:43] mschwager opened #1457 "Fix Ruby parse errors in QA repositories"
The following Ruby projects are producing Ruby parse errors:

* https://github.com/rails/rails
* https://github.com/rapid7/metasploit-framework
* https://github.com/Homebrew/brew
* https://github.com/gitlabhq/gitlabhq

The parse errors can be found here: https://github.com/returntocorp/semgrep/pull/1456/checks?check_run_id=950616441

Let's fix these up and remove their `xfail_repo` designation :+1

[2020-08-05 20:34] mschwager commented on #1457
cc @aryx @mjambon

[2020-08-05 21:03] #1397 closed, assigned to mschwager

[2020-08-05 21:59] brendongo commented on #1399
Good to know! If some people care about having tests in a package, might as well keep it. Closing.

[2020-08-05 21:59] #1399 closed, assigned to nobody

[2020-08-05 22:07] brendongo commented on #1452
[code]
should work

[2020-08-05 22:17] javixeneize commented on #1452
Thanks! Just one last thing, can you accept my LinkedIn connection please? I need to speak with you about something please. Thanks ;)

[2020-08-05 22:47] colleend commented on #1414
investigated this further, so the subtraction is working fine, but the call to _run_core_command in the python wrapper is actually returning an extra range match to 196-269.

[2020-08-05 22:59] dlukeomalley commented on #1452
@javixeneize Done! We can also go back and forth via email: luke@r2c.dev

[2020-08-05 23:20] namitanair0201 opened #1459 "Add support for templated .json.erb files"
**Describe the bug**
Semgrep displays a warning when it encounters ruby code embedded in json: Parser error.

**To Reproduce**
Running Semgrep on this trial.json.erb:
[code]
**Expected behavior**
Semgrep would ideally be able to ignore such code in json files.

[2020-08-06 08:10] javixeneize commented on #1452
Hi @brendongo

It doesnt work as expected.. I have this error when calling invoke

RuntimeError:
        An attempt has been made to start a new process before the
        current process has finished its bootstrapping phase.

        This probably means that you are not using fork to start your
        child processes and you have forgotten to use the proper idiom
        in the main module:

[2020-08-06 08:17] javixeneize commented on #1452
Fixed it... i need to call it from a main function
[code]

[2020-08-06 10:40] nuc13us commented on #1454
@dlukeomalley No, i don't think it is scanning rest of the files because when i try to remove that particular file(ErrorCorrectionModal.js) as per the above example and try to scan again it says parse issue in some other file.

[2020-08-06 12:10] #1439 closed, assigned to colleend

[2020-08-06 12:13] aryx commented on #1454
which version are you using? There was a bug in previous semgrep version where we were just displaying the first error. @brendongo

[2020-08-06 12:19] aryx commented on #1412
I don't see how PRs for Ruby could be related to analyzing a C repository.
The "NO FILE INFO YET" error usually happens when we tokenize a file and forget to call the function
tokenize_all_and_adjust_pos which adjust the filename and line/col information for each tokens.
Not sure why it triggers here.
You can run with SEMGREP_CORE_EXTRA=-debug  to at least see the offending file in the ITC benchma

[2020-08-06 12:21] aryx commented on #1404
We could allow 'key: value' semgrep pattern, just like we currently accep full expression/statement/statements pattern; that way, we would just return the matched field.

[2020-08-06 12:22] aryx commented on #1404
an alternative would be to improve the editor code highlighter as suggested also by @lvh to highlight differently code really matched and code matched by "..." (explicit or implicit "..." here).

[2020-08-06 12:27] disconnect3d opened #1460 "Semgrep doesn't warn if yaml rules contain unexpected values e.g. due to missing whitespace"
When we include a `-pattern-not:` instead of `- pattern-not:` as `rules[patterns]` key in the multi-pattern yaml semgrep rules, it will not be treated as a `pattern-not`.

The screenshots below show an example of that from the semgrep tutorial.

**Screenshots**
![image](https://user-images.githubusercontent.com/10009354/89531228-2f113080-d7f0-11ea-98cb-7f5c4a05dafe.png)

vs

![image](https://user-

[2020-08-06 12:28] #1372 closed, assigned to emjin

[2020-08-06 13:13] javixeneize commented on #1452
Last question, when i want to load an external config file, the syntax is

semgrep --config "https://semgrep.dev/p/findsecbugs"

How would i need to do it calling invoke_semgrep directly?
Im trying config = Path("https://semgrep.dev/p/findsecbugs"), but when getting inside the semgrep library, i am calling a service, resolve_config which has the following code:

    elif config_str in RULES_REGIST

[2020-08-06 13:13] nuc13us commented on #1454
I was using older version of semgrep(0.14.0). After using updated version issue is fixed.
Thanks a lot @aryx

[2020-08-06 13:13] #1454 closed, assigned to nobody

[2020-08-06 13:55] #1352 closed, assigned to nobody

[2020-08-06 19:41] #1437 closed, assigned to nobody

[2020-08-06 19:52] brendongo commented on #1452
Yes sending as a string will work for urls

[2020-08-06 19:56] #1452 closed, assigned to nobody

[2020-08-06 20:11] mschwager commented on #1414
After talking with @colleend, it looks like this is likely the same issue as https://github.com/returntocorp/semgrep/issues/1006.

[2020-08-06 20:14] mschwager commented on #1006
We should clean this up in `semgrep-core` regardless, it's a generally buggy architecture (`sid` vs. `md5sum`) that will cause other issues too. E.g. here's another example which wasn't simply `pattern` vs. `pattern-inside`: https://github.com/returntocorp/semgrep/issues/1414.

[2020-08-06 20:38] colleend commented on #1414
Yep, it seems like its the exact same problem:
[<PatternMatch id=.1 range=<Range start=50 end=96 vars={'$PARAMS': '69c3bd562924235d62bc3792745edea5', '$FUNC': 'dbe8ad76e3d6b7b5729b7caed5572032'}>>,
 <PatternMatch id=.1 range=<Range start=222 end=295 vars={'$PARAMS': '8d942a149bade9e4a6f9252f0073a3dc', '$FUNC': 'dbe8ad76e3d6b7b5729b7caed5572032'}>>,
 <PatternMatch id=.0 range=<Range start=222 end=2

[2020-08-07 16:54] #1255 closed, assigned to emjin

[2020-08-07 20:53] #1362 closed, assigned to brendongo

[2020-08-07 22:17] nbrahms opened #1469 "Core when run with -json does not output json"
**Describe the bug**
Running the OCaml core with the `-json` flag does not emit JSON output

**To Reproduce**
Build the core,  then:
[code]

**Expected behavior**
`-json` should emit json

**Environment**
local build on commit `3f0f93e0ec`

[2020-08-07 22:25] colleend commented on #1414
Talked to @nbrahms , changing one of the metavariable's name to PARAMA instead of PARAM results in correct behavior. We've decided to not change API for now, but want to propagate more debugging information about metavariable matching to the user (warn when there are two params of the same name, and range matching of metavars).

[2020-08-07 22:47] colleend opened #1470 "Propagate Metavariable Debugging Information to Step-by-step Debugging."
**Is your feature request related to a problem? Please describe.**
From the issue with ruby not-pattern parsing, with example:

https://semgrep.dev/colleend:create_with

we've seen that having two metavariables with equivalent names results in enforced equality. This means that the subtraction of the "pattern-not" matches from the "pattern" matches does not behave as expected. However, changing th

[2020-08-07 23:05] TMFRook opened #1471 "Timeout still happens even if default is 0"
**Describe the bug**
When timeout is not provided, the documentation says it defaults to 0 (which means there is no timeout). However, it still timeouts.

**To Reproduce**
1. Run `semgrep --config=https://semgrep.dev/p/r2c-CI .`
2. Returns `Warning: Semgrep exceeded timeout when running contrib.nodejsscan.eval_yaml_deserialize.yaml_deserialize2 on api_manager/static/api_manager/libs/jquery_2.1.3/j

[2020-08-07 23:11] brendongo commented on #1471
Thanks for filling this issue @TMFRook! Looks like we didn't remove https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/bin/Main.ml#L349 which is setting a default timeout of 5 seconds for javascript files.

[2020-08-07 23:30] brendongo commented on #1471
A side effect of removing the default timeout of 5 seconds in js will mean if a project has large minified javascript files semgrep will potentially take forever to run.

Thoughts on setting default timeout to 5 seconds @mschwager @TMFRook?

[2020-08-10 13:04] TMFRook commented on #1471
I don't have an opinion on the default timeout setting. However, it is odd to me that it would choke on seemingly small-ish files. They're only ~82K big. Is this expected?

[2020-08-10 15:00] mschwager opened #1474 "Error out when multiple rules use the same rule 'id'"
Based on conversations in https://github.com/returntocorp/semgrep/pull/1302, I believe Semgrep should error out as early as possible when presented with multiple rules using the same rule `id`.

[2020-08-10 15:11] dlukeomalley commented on #1474
@mschwager If we move our naming to the proposal `<org>.<pack>:<rule>` do we think this is necessary? Is there value in multiple rules having the same name?

[2020-08-10 15:14] nbrahms commented on #1414
To summarize here, it looks like we got bit by our metavariable-matching API.

Per our documentation, this is the "expected" behavior (although perhaps not expected by us!): Metavariables in AND composition are enforced to be identical; in this case the two `$PARAM` variables referenced different AST nodes.

Suggestions I discussed with @colleend to address this:
A. Include metavariable nodes in d

[2020-08-10 15:14] nbrahms commented on #1414
cc. @chmccreery @dan5382 for design thoughts

[2020-08-10 15:17] mschwager commented on #1471
Javascript tends to be an outlier as far as code files go. Codebases frequently have generated JS files (minified, multiple files combined, etc), so I think it's fine to treat JS as a special case. With that being said, I think it'd be best if this 5 sec JS default was specified in the Python interface rather than the OCaml core. We could include some logic to detect when `lang == 'js'` and `timeo

[2020-08-10 15:20] nbrahms commented on #1414
cf. #1470

[2020-08-10 15:24] nbrahms commented on #344
This works as of 0.16.0 :D

[2020-08-10 15:24] #344 closed

[2020-08-10 15:32] mschwager commented on #1474
Yes, I believe so. `<org>.<pack>:<rule>` can still run into multiple rules with the same identifier. If the same organization puts multiple rules with the same ID in the same pack, then there will be overlap. Regardless, this is fundamentally a Semgrep problem, not a semgrep.dev problem. Semgrep doesn't know about `org` or `pack`, it just sees a string identifier that really shouldn't be re-used.

[2020-08-10 15:37] nbrahms opened #1475 "Can't use `from` as a variable in JavaScript"
**Describe the bug**
`from` is treated as a keyword, even when we're not in an import directive.

**To Reproduce**
https://staging.semgrep.dev/l4v6/

**Expected behavior**
Should be able to use `from` in expressions

Found while debugging #710

[2020-08-10 15:38] nbrahms commented on #710
Note that `exporting-server/java/highcharts-export/highcharts-export-web/target/highcharts-export-web/WEB-INF/jspf/config.js` is not JavaScript; it is a JSON file instead.

[2020-08-10 16:11] nbrahms commented on #1414
I'm going to close this issue since the problem itself is resolved.

Let's create issues for the follow-up work that we want to perform.

[2020-08-10 16:11] #1414 closed, assigned to colleend

[2020-08-10 17:04] chmccreery commented on #1414
I should probably know this, but how do you get the Step-by-step debugging enabled? I found it in the toolbar, but nothing on my screen changes. Also worth noting that I couldn't figure it out, so we may want to make this more discoverable too?

[2020-08-10 17:04] mschwager opened #1476 "Perform case-insensitive search using pattern-regex"
Can I perform case-insensitive search using [`pattern-regex`](https://github.com/returntocorp/semgrep/blob/develop/docs/configuration-files.md#pattern-regex)? E.g. search for `foo()`, `Foo()`, or `FOO()`.

[2020-08-10 17:05] mschwager commented on #1476
Why yes, yes you can. You'll want to use `(?i:...)` like `(?i:foo)`. This is under the `(?aiLmsux-imsx:...)` section in the `re` docs: https://docs.python.org/3/library/re.html. Here's an example: https://semgrep.dev/l02o/.

[2020-08-10 17:05] #1476 closed, assigned to nobody

[2020-08-10 17:14] mschwager commented on #1414
My understanding is that this is the output underneath the cheatsheet: "Debugging step-by-step." Although I just tested it and it looks like this section under the cheatsheet is visible regardless of if the "Debugger" is enabled under Tools, so maybe I'm misunderstanding something.

Regardless, I agree that we should improve this, because I ran into the exact same issue/thought. I enabled the "Deb

[2020-08-10 17:34] nbrahms commented on #1412
Could be a duplicate of #735

[2020-08-10 18:13] underyx commented on #1329
Happy to announce that the above project has been officially released at https://marketplace.visualstudio.com/items?itemName=semgrep.semgrep today!

Currently it supports showing Semgrep findings in-editor, and also adds a command that suggests patterns based on code you have selected in the editor.

Excited to hear feedback at https://github.com/returntocorp/semgrep-vscode/issues/new!

[2020-08-10 18:13] #1329 closed, assigned to underyx

[2020-08-10 19:42] kncdev132 opened #1477 "Support brew version pinning"
We would like semgrep to support version pinning via a formulae such as `semgrep@0.16.0`.

Our current use case:

We have a minimum requirement of 0.17.0. We do not want to necessarily have to install the latest version when someone installs semgrep to avoid introducing potential breaking changes. This is already supported by semgrep via docker with tagging.

[2020-08-10 21:04] chmccreery commented on #1414
@mschwager and everyone else- what do you think about putting the debugger above the cheatsheet instead of below, still collapsed by default, but open-able either by clicking on it or by selecting it in the tools bar?

[2020-08-10 21:21] mschwager commented on #1414
I would make it either collapsible XOR enabled in the tools bar. Having both feels unnecessary :+1:

I'd have a slight preference to a simple collapsible row if we expect external users to use this functionality to support their pattern writing, and a preference for hiding it in the tools bar if we expect the primary consumers to be internal.

[2020-08-10 21:26] minusworld opened #1478 "Return all matches on the same line with different metavariables."
**Describe the bug**
Semgrep filters out duplicate matches that are on the same line when I would expect it to return multiple findings based on my query.

For example, if I do something like `$FUNC(..., $KWARG=$VALUE, ...)` in Python, I would expect it to return all variations of $FUNC, $KWARG, and $VALUE. However, Semgrep only returns one finding. See https://semgrep.dev/2Lxr/ for an example. I

[2020-08-10 21:35] minusworld commented on #1285
We have another autofix capability that uses regular expression replacement: https://github.com/returntocorp/semgrep/blob/develop/docs/experimental.md#autofix-using-regular-expression-replacement

This tends to be less magical than the regular `fix` key, but it works more-or-less as expected. Does that work in this contextX?

[2020-08-10 21:36] chmccreery opened #1479 "Discrepancy in how ellipsis arguments are interpreted"
**Describe the bug**
The /learn tutorial claims that requests.get(timeout=30,...) will only match if timeout=30 is first argument, but it matches also when it is 2nd and 3rd argument.

**To Reproduce**
Part 2d of the /learn tutorial

**Expected behavior**
The instances where timeout=30 is not the first argument should only be detected if there are ellipses before the timeout=30.

<img width="855"

[2020-08-10 21:38] chmccreery commented on #1479
Probably the same problem as #1187

[2020-08-10 21:38] #1479 closed, assigned to nobody

[2020-08-10 21:59] pabloest commented on #1032
#### Here are some thoughts on documentation

### Short term

In the short term I believe it’s important to:

1. Update the documentation content so it reflects the latest developments in semgrep CLI.
2. Make the docs discoverable and visible from semgrep.live.
3. Move docs out of the semgrep GitHub repo.

#2 is already done thanks to a recent update. I think #3 is important because:

1. It’s rath

[2020-08-10 21:59] mjambon commented on #1477
Hey @KieranCairney , I assigned this to my colleague @brendongo who knows better about this than me.

[2020-08-10 22:02] brendongo commented on #1477
Hi @KieranCairney. Does installing using Pypi work for you? We have pinned versions there. Because homebrew-core needs everything to build from source and our build steps have been in flux it's a fair bit of work to get older versions pinned on brew but we will probably start pinning once we've stabilized how we build our dependencies soon.

[2020-08-10 22:12] nbrahms commented on #720
Looks like it works as of 0.18

[2020-08-10 22:12] #720 closed, assigned to nobody

[2020-08-10 22:18] chmccreery commented on #1414
Ok, I like this idea. Moving discussion to slack :)

[2020-08-10 22:18] nbrahms commented on #694
Going to close this out as it seems like we aren't going to jump on this soon. @underyx please reopen if you start implementing this.

[2020-08-10 22:18] #694 closed, assigned to nobody

[2020-08-10 22:19] brendongo commented on #770
Simplified perf tests in https://github.com/returntocorp/semgrep/pull/1373 makes this n/a

[2020-08-10 22:19] #770 closed, assigned to nobody

[2020-08-10 22:20] brendongo commented on #771
Simplified perf tests in https://github.com/returntocorp/semgrep/pull/1373 makes this n/a

[2020-08-10 22:20] #771 closed, assigned to nobody

[2020-08-10 22:20] brendongo commented on #788
Simplified perf tests in https://github.com/returntocorp/semgrep/pull/1373 are basically does running these rules on these repos finish in expected amount of time. Closing as n/a

[2020-08-10 22:20] #788 closed, assigned to nobody

[2020-08-10 22:23] nbrahms commented on #1013
Hi @ghbren,

Thanks for filing this issue!

For tracking simplicity, I'm going to close this in favor of #1148 , which is currently in progress.

If this issue still persists after #1148 is closed, we should reopen this issue then.

[2020-08-10 22:23] #1013 closed, assigned to nobody

[2020-08-10 22:23] nbrahms commented on #1017
👋 Per our ticket simplification on #1013 , let's close this in favor of #1148

[2020-08-10 22:23] #1017 closed, assigned to nobody

[2020-08-10 22:59] nbrahms commented on #1005
@aryx This seems to be due to an interaction between parameter destructuring transpilation and metavariable binding.

The pattern:
[code]

gets transpiled into:
[code]

And the code
[code]

gets transpiled into:
[code]

However, the metavariable `$FOO` gets bound to the variable identifier `foo`, and is no longer available to be bound to the field identifier `foo`.

A simple hack would be to allow

[2020-08-10 23:18] nbrahms commented on #1005
@aryx https://github.com/returntocorp/semgrep/pull/1481 is a stab at solving this.

[2020-08-10 23:42] nbrahms commented on #909
I'm going to go ahead and close this. Single quotes solve this issue, and we're unlikely to change this API due to its widespread use.

Please reopen if you have follow up :)

[2020-08-10 23:42] #909 closed, assigned to nobody

[2020-08-10 23:43] nbrahms commented on #917
It looks like `metavariable-regex` is allowing us to move away from `pattern-where-python` anyway, and in a much safer manner.

I'm going to close this issue in favor of that usage.

Please reopen this ticket if you have further thoughts!

[2020-08-10 23:43] #917 closed, assigned to nbrahms

[2020-08-10 23:45] nbrahms commented on #938
It looks like the `(...)` on the annotation in your pattern, together with older Semgrep code, was causing the mismatch.

Are you unblocked with https://semgrep.dev/X2Bj/?version=develop ?

[2020-08-11 00:02] nbrahms commented on #1125
@minusworld Does the new `--timeout` behavior solve this issue for you?

[2020-08-11 00:08] minusworld commented on #1125
👍

[2020-08-11 00:08] #1125 closed, assigned to nobody

[2020-08-11 00:11] nbrahms commented on #1007
@aryx It looks like named function patterns show up as statements, not expressions...

[2020-08-11 00:20] nbrahms commented on #1007
Also note that

[code]
matches as an expression

[2020-08-11 00:21] nbrahms commented on #1007
@inkz It seems like using a `patterns-either` with:
[code]
and
[code]
as the two patterns will work for now

[2020-08-11 00:43] nbrahms commented on #1053
This looks like a bug waiting to happen, so prioritizing

[2020-08-11 09:14] xmo-odoo opened #1482 "Print only filename / matching"
**Is your feature request related to a problem? Please describe.**
Currently when matching e.g. a class definition (filtered on a class attribute), semgrep will print the entire class body. I couldn't find any way to suppress this. This is annoying when using semgrep as a grep, in order to find interesting pieces of code interactively: knowing where the interesting matches are is useful, seeing th

[2020-08-11 09:46] underyx opened #1483 "Use `Accept: text/yaml` header instead of User-Agent to get rules as YAML"
We currently have semgrep.dev return the YAML of rules when the User-Agent is `semgrep/*`. This is a very magical way to go about it, and is [difficult to explain](https://r2c-community.slack.com/archives/CK86BJ5DW/p1597138641145400?thread_ts=1597136269.145300&cid=CK86BJ5DW).

Instead of making assumptions based on client, we could just explicitly support returning YAML if the client asks for YAML

[2020-08-11 14:12] #1431 closed, assigned to sabrinabrogren

[2020-08-11 14:35] nightwatchcyber commented on #1388
I have made a first stab at this here:
https://github.com/nightwatchcyber/semgrep

However, I am running into some weird issues with Tox. Maybe someone from the core team can help me?

[2020-08-11 15:21] #645 closed

[2020-08-11 15:41] dlukeomalley commented on #1482
Thanks for filing this @xmo-odoo. For the output, do you have an example of what you'd like the output to look like? Would you want to see just the filename (similar to grep's `-l` flag) or supplemental information line number and/or column for all matches within the file?

[2020-08-11 16:47] sabrinabrogren commented on #744
Another example of where this may be useful is with writing patterns for Ruby routes.
[code]
It would be useful to be able to capture all of these resources.

[2020-08-11 17:12] nbrahms commented on #1388
👋 Hi @nightwatchcyber . Sure thing; I'll give updates on the PR itself.

[2020-08-11 17:14] nbrahms commented on #1388
Actually, can you start by making a PR against `returntocorp/semgrep`? It'll be easier to debug there :)

[2020-08-11 17:14] dan5382 opened #1485 "Semgrep.live homepage"
We've tested it. and we've mostly figured it out (for now). So we'd like to push this into production:

A single page that is scrollable that ends in a quickstart.

You can find the design files here:
https://www.figma.com/file/TSjNTnyUD6mEIpgpZvbH7y/Semgrep.dev?node-id=0%3A1

[2020-08-11 17:16] dan5382 opened #1486 "Adding quick-start to homepage."
Our quickstart has some interactive elements that need to be implemented along with the homepage.

You can find the design files here:
https://www.figma.com/file/TSjNTnyUD6mEIpgpZvbH7y/Semgrep.dev?node-id=0%3A1

[2020-08-11 17:54] colleend opened #1487 "Crypto Rule Pack"
Detect bad entropy, usages of specific RSA keys/RSA keys that are too short, weak elliptic curves, etc.

[2020-08-11 18:17] dgryski commented on #1487
Comparing MACs with == instead of a constant time operation.

[2020-08-11 18:26] dgryski commented on #1077
`var a, b = 2` is not valid Go.  You need the same number of expressions on both sides of the equals sign.  Alternately you can have a function with the same number of return values.

https://golang.org/ref/spec#Assignments

[2020-08-11 18:55] nbrahms opened #1489 "RFC: Simplify pattern matching API"
## Why

- Our current API has many different possible keys, and their interactions are hard to fully define
- Our current API doesn't meet well-known mental models
- Some functionality of our current API is broken (e.g. `pattern-inside` with `pattern-either`)

## Needs

- Minimize the number of API components of the matching API
- Ideally fit the API within a well-known mental model
- Create an ea

[2020-08-11 19:06] #1487 closed, assigned to colleend

[2020-08-11 19:32] ievans commented on #1489
Overall I am very supportive of these changes. There are some painful parts, like the fact that `not` will now require an additional level of nesting in the YAML, but hopefully we can get away from requiring a lot of YAML anyways / promoting the visual editor. But the consistency of a single `pattern` key and then boolean operators is powerful, and also lets us eventual mix in `regex` as a subkey

[2020-08-11 19:35] ievans commented on #1147
@awilkins thanks for commenting!

cc @adzuci. Since semgrep now has support for JSON, I think running on the JSON representation of HCL files may make some sense.

Here's an example with an IAM policy: https://semgrep.dev/lBr5

[2020-08-11 19:39] nbrahms commented on #1489
That's correct. The combination of `pattern-inside` with `pattern` is handled with an `and` composition.

IMO this is also correct.

I can think of two options:
1. Handle at the pattern level
2. Handle at the overall match level

[2020-08-11 19:52] nbrahms commented on #1337
FWIW, I've found typing some horrendous YAML-breaking code in the simple editor, then switching to the advanced editor, to be a good way to properly format the YAML:

https://semgrep.dev/bo7v/?version=develop

Also, we're releasing a pattern-composition UI into the simple editor that will also help ease some of these pain points.

[2020-08-11 20:34] sabrinabrogren opened #1490 "Semgrep cannot detect assignment for multiple variables in one line"
**Describe the bug**
When you have multiple variable declarations in one line and want to find one of those declarations with a pattern, semgrep cannot find it.

**To Reproduce**
This works [in C](https://semgrep.dev/Nx4N/). However in languages like [Ruby](https://semgrep.dev/wpxd/) and [Python](https://semgrep.dev/kWLA/), the pattern fails to find a variable declaration.

**Expected behavior**
T

[2020-08-11 20:45] sabrinabrogren opened #1491 "Correctly parse multiple declarations with chained ="
**Describe the solution you'd like**
When there is a line in the code like `a = b = 0`, I would like to be able to find the pattern `a = 0` in the code

**Describe alternatives you've considered**
There doesn't seem to be another way to find this.

**Additional context**
[Here's](https://semgrep.dev/xxYy/) a short example.

[2020-08-11 22:59] colleend opened #1494 "Ruby pattern parsing of "def" throws error."
**Describe the bug**
When searching for the pattern "def" in the code, semgrep throws an error.

**To Reproduce**
https://semgrep.dev/d7g0/

**Expected behavior**
Expect that there is no error and that ruby will match pattern "def".

[2020-08-11 23:03] #1470 closed, assigned to colleend

[2020-08-11 23:24] nightwatchcyber commented on #1388
Created:
https://github.com/returntocorp/semgrep/pull/1495

[2020-08-12 01:19] #978 closed, assigned to nobody

[2020-08-12 01:24] brendongo opened #1496 "Takes more than 5 seconds to parse large js files"
**Describe the bug**
Many repos contain either minified vendored code (jquery.js), webpacked bundles, or just large javascript files (See https://github.com/signalapp/Signal-Desktop). Semgrep timeout when trying to parse these large files (matching a complex pattern will surely take even more time).

**Expected behavior**
Either semgrep skips these large files by default and mentions them to the u

[2020-08-12 01:28] minusworld commented on #1496
Similar to https://github.com/returntocorp/semgrep/issues/1125

[2020-08-12 02:17] DrewDennison opened #1497 "Regression in matching vardefs with expression patterns in 0.18"
**Describe the bug**
Regression in the matching logic in 0.18 caught by @ajinabraham's integration tests: https://semgrep.dev/7g0Q?version=0.18.0

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev: https://semgrep.dev/7g0Q?version=0.18.0 vs https://semgrep.dev/7g0Q?version=0.17.0

**Expected behavior**
`$X = '...';` should match `var $X = '...';` in javacript

[2020-08-12 02:18] brendongo opened #1498 "Fails to Parse Python2 file with mix of spaces and tabs and try"
**Describe the bug**
Semgrep is unable to parse python files with spaces and tabs used as indentation with a try/except

**To Reproduce**
Run semgrep on https://github.com/dropbox/DropboxBusinessScripts/blob/master/Sharing/reports/getCollaborationReport.py

**Expected behavior**
Semgrep should parse this correctly

[2020-08-12 02:30] brendongo opened #1500 "Tab Indented comment on last line of python"
**Describe the bug**
Semgrep fails to parse python file where the last line is a tab indented comment

**To Reproduce**
https://semgrep.dev/gpJ5/

Real life code: https://github.com/dropbox/notouch/blob/master/notouch/util.py#L48

Note that if the comment is indented with spaces the error does not occur and web editor does some indent auto conversion so best to try this locally.

[2020-08-12 02:39] brendongo opened #1501 "Fail to parse page break (0x0c) in python"
**Describe the bug**
Semgrep is unable to parse python file when it contains the 0x0c character

**To Reproduce**
https://semgrep.dev/Qw8q/
Real life code: https://github.com/pyston/pyston/blob/master/from_cpython/Lib/email/mime/audio.py

[2020-08-12 04:41] dlukeomalley commented on #1285
@minusworld Good suggestion. Assuming it is acceptable in this context, I think this is still a bug for us to track with `fix`.

[2020-08-12 05:41] #1146 closed, assigned to nobody

[2020-08-12 06:01] dlukeomalley commented on #372
Closing in favor of our current approach with `pip`.

[2020-08-12 06:01] #372 closed

[2020-08-12 06:05] dlukeomalley commented on #772
Closeable given @brendongo perf benchmarking?

[2020-08-12 06:06] xmo-odoo commented on #1482
@dlukeomalley supplemental information would be great, but in fairness matching grep's output would probably be closer to people's expectations, especially if the option has the same name as grep's.

[2020-08-12 15:12] nbrahms commented on #651
Just noting that we do want to address this still

[2020-08-12 15:12] nbrahms commented on #674
@brendongo @minusworld Is this still an issue?

[2020-08-12 17:47] disconnect3d commented on #1187
**I think there might be another bug then the one described.** I reported this on SemGrep slack and I did not give full description initially. Let me recall the screen I sent there:
![image](https://user-images.githubusercontent.com/10009354/90047001-82442100-dcd1-11ea-81d6-155d68d473c5.png)

I think that this match is correct but the marked description in the learn/tutorial is wrong.

I didn't fi

[2020-08-12 18:22] nbrahms opened #1502 "Docker image fails to create cache directory in source path"
**Describe the bug**
When running the docker image, the following error can appear:

[code]

**To Reproduce**
https://github.com/returntocorp/semgrep/runs/977180789

**Expected behavior**
IMO, I do not expect the Docker image to modify the file contents of anything on the host environment's path.

Note that this blocks release of 0.19

[2020-08-12 19:03] mschwager commented on #1502
We need to modify a file on the host's filesystem to support version check caching. The ephemeral nature of Docker containers means we have no good place to store information across runs (named volumes are an option, but this increases the complexity of the Docker command users will run). We can obviously disable version checking and/or version check caching in Docker environments, but I think the

[2020-08-12 20:36] colleend commented on #1494
Seems like this is the case for every language. @nbrahms do you think this is a necessary fix/feature?

[2020-08-12 20:42] minusworld commented on #674
I think not after refactoring to run once per rule.

[2020-08-12 21:26] gschaffner opened #1503 "Python multiline patterns without trailing newlines fail to parse"
**Describe the bug**
Python multiline patterns (via `semgrep -e PATTERN`) fail to parse if they do not have trailing newlines.

I have not tested this with any other languages.

**To Reproduce**
In bash or zsh, using [ANSI-C quoting](https://www.gnu.org/software/bash/manual/html_node/ANSI_002dC-Quoting.html):
[code]

Or with multiline strings:
[code]

**Expected behavior**
semgrep should gracefull

[2020-08-12 22:51] denisa opened #1504 "Package and import in golang pattern"
**Describe the bug**
semgrep patterns can identify `package`:
[code]
 and they can identify `import`:
[code]

They cannot identify the combination of a package and an import

**To Reproduce**
Given the golang code from https://raw.githubusercontent.com/PaulRosset/go-hacknews/master/hacknews_api.go
and the pattern:
[code]

**Expected behavior**
the pattern should match with the file

[2020-08-12 22:53] underyx commented on #1504
Hey @denisa, thanks for the bug report! Could you have a quick look at the reproduction link? Seems like you copied the wrong URL.

[2020-08-12 23:12] denisa commented on #1504
you’re right, I can’t copy the link…
I updated the description to make it easily reproducible.

[2020-08-12 23:19] underyx commented on #1504
Thanks. It did seem like you were on the development version of our live editor, which Is probably why you could bump into that bug. For the record, semgrep.dev is the stable deployment.

[2020-08-13 00:42] #674 closed, assigned to nobody

[2020-08-13 18:15] colleend commented on #1504
Hi Denisa, sorry about that -- the bug has been fixed, but it may take a few days to release the version of semgrep with the fix included.

[2020-08-13 18:34] parsiya commented on #1330
Attaching the error after running `pip3 install semgrep` on Windows 10 (1909) and Python 3.8.1. Seems to be a similar issue to #1336 but not the path separator problem.

I am running it via WSL2 so it's not a deal breaker but it would be nice to have Windows support for the VS Code extension (unless I can figure out how to run it via WSL2).

The log is attached but the important part appears to be

[2020-08-13 19:03] underyx opened #1505 "Semgrep JSON output prints two \n\n characters for each newline in matched lines"
**To Reproduce**

[code]

The JSON output will say `"lines": "eval(\n\n dir)"`

**Expected behavior**

The JSON output should say `"lines": "eval(\n dir)"`.

**Environment**

0.19.0 via homebrew

[2020-08-14 01:19] ievans commented on #1504
specifically @denisa should be in v0.20. Thanks for reporting this and the earlier issue!

[2020-08-14 03:19] nightwatchcyber opened #1508 "[Java] Can't match imported annotations"
**Describe the bug**
Matching stops working in Java when "import" is used

**To Reproduce**
https://semgrep.dev/RrPN

**Expected behavior**
Matching should work even if import statements exist

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
semgrev.dev and MacOS

[2020-08-14 03:21] nightwatchcyber commented on #1508
This is based of the example by @minusworld, theirs works:
https://sgrep.live/yjx

Mine doesn't:
https://semgrep.dev/RrPN

Only difference is the import statement

[2020-08-14 03:22] nightwatchcyber commented on #1508
screenshots attached
![with_import](https://user-images.githubusercontent.com/16509274/90210388-d1ff1700-ddbb-11ea-9a1c-b1ea770c9ed2.png)
![without_import](https://user-images.githubusercontent.com/16509274/90210390-d1ff1700-ddbb-11ea-9d3e-13d3c560b0e9.png)

[2020-08-14 03:23] nightwatchcyber commented on #1508
Using full package name doesn't help either:
@org.springframework.web.bind.annotation.RequestMapping(method=$M)

[2020-08-14 04:37] ievans commented on #1508
Thanks for the great bug report, @nightwatchcyber. Cc @aryx who I suspect has the most context here

[2020-08-14 04:54] aryx commented on #1077
closing then.

[2020-08-14 04:54] #1077 closed, assigned to nobody

[2020-08-14 07:55] reeyaa opened #1509 "Allow choosing rules based on severity"
This would allow a user to choose which rule severity - `ERROR`, `WARNING` or `INFO` they would like to report findings on. For example, a user would only want to report findings that have severity `ERROR`. This could be added as an optional command line argument that can be configured by the user. By default, semgrep would use all the rules regardless of the severity rating.

Without this option,

[2020-08-14 14:02] aryx commented on #1508
There's 2 bugs here. First, annotations with qualified names are not correctly represented in the generic AST
so @Foo.bar.whatever is actually the same as @xxx.yyy (not good). Second, if the pattern does not contain a qualified name (e.g., @Foo), we should still allow it to match imported name (E.g., import x.y.Foo; @Foo ).

[2020-08-14 14:55] aryx commented on #1504
What has been fixed @colleend ? There's no linked pulled request showing this has been fixed.

[2020-08-14 14:59] aryx commented on #1494
Yes semgrep is not grep, so you need to provide full expression/statement/declaration as a pattern.
For example you can't search for 'if true' because this is not a valid statement. 'if true { ... }' is.
Same for definition, you need 'def $F(...): ... end'

[2020-08-14 15:00] aryx commented on #1494
We might provide a better error message though.
Actually I think that's in the editor, this problem is one of the suggested fix.

[2020-08-14 15:00] #1494 closed, assigned to colleend

[2020-08-14 15:27] colleend commented on #1504
Should be closed with pull request https://github.com/returntocorp/semgrep/pull/1383 and https://github.com/returntocorp/pfff/pull/219. I'll link them to https://github.com/returntocorp/semgrep/issues/1315.

[2020-08-14 15:29] #1501 closed, assigned to aryx

[2020-08-14 16:56] #1502 closed, assigned to nbrahms

[2020-08-14 17:07] underyx commented on #1460
Thinking we should replace our homegrown simple schema validation code with jsonschema.

[2020-08-14 18:57] #1505 closed, assigned to underyx

[2020-08-14 19:31] dlukeomalley commented on #1118
@asm0dey Updating here - we're looking at Kotlin as a nearer term language addition. I'm working with @DrewDennison and @aryx on specific dates, likely Q4.

[2020-08-14 21:25] nightwatchcyber opened #1514 "Unable to do case-insensitive matching in Java"
**Describe the bug**
Unable to do case-insensitive matching in Java

**To Reproduce**
My test case here:
https://semgrep.dev/nightwatchcyber:regex_case_insensitive_match

Based on:
https://semgrep.dev/editor?registry=java.lang.security.audit.crypto.desede-is-deprecated

**Expected behavior**
Ability to match with case-sensitivity flags normally used in Java ("{?i}" or "/i")

**Screenshots**
If app

[2020-08-14 22:19] asm0dey commented on #1118
Thanks for update!

[2020-08-14 23:08] mjambon opened #1515 "Support matching arbitrary JSX attributes regardless of containing element"
**Is your feature request related to a problem? Please describe.**

There doesn't appear to be a way to specify a pattern like `<$ANY dangerous=...>`. We would like to match the following code where `dangerouslySetInnerHTML` is an HTML attribute set to a javascript object of the form `{__html: ...}`:

[code]

**Describe the solution you'd like**

Add a syntax for matching any JSX element. For exam

[2020-08-16 21:19] mjambon opened #1516 "Javascript, can't match repeated 'var $X'"
https://semgrep.dev/z8xd

[2020-08-17 08:34] aryx commented on #1500
The problem is that you use 4 spaces for indentation whereas python consider tabs to use 8 spaces,
so if the line before the comment use 8 spaces instead of 4 this will parse.

[2020-08-17 08:36] aryx commented on #1498
Can you reduce to a simpler test case?
Also https://stackoverflow.com/questions/2034517/pythons-interpretation-of-tabs-and-spaces-to-indent#:~:text=It%20is%20best%20%E2%80%94%20necessary%20in,'use%202%20spaces'.)&text=Never%20mix%20tabs%20and%20spaces. says code should not mix tabs and spaces no?

[2020-08-17 08:51] #1503 closed, assigned to nobody

[2020-08-17 08:54] aryx commented on #1515
Next time it would be nice if you could add a link to a semgrep.live example showing the issue.

[2020-08-17 10:34] aryx commented on #1516
Because you redefine the same variable, and we resolve names, so the first $X match a global with the single unique identifier Global 1 (see the dumped AST in the editor in Tools/Dump AST), and at the second line it's another variable with the single unique identifier (sid) Global 2, and $X can not match this one.
If you use $X and $Y it will work.

[2020-08-17 10:34] #1516 closed, assigned to nobody

[2020-08-17 10:43] aryx commented on #1514
Right now we use the OCaml regexp syntax, which is not great and does not support /i.
We could switch to the PCRE (the one used in Perl) which is better and support /i and /m.
@ievans what do you think?

[2020-08-17 10:44] aryx commented on #1514
I wonder if switching to another regexp engine would break many semgrep-rules @minusworld ?

[2020-08-17 10:46] #1515 closed, assigned to aryx

[2020-08-17 16:01] nbrahms commented on #1514
Hi @nightwatchcyber ...

Can you confirm that https://semgrep.dev/2L8L/ works for you? Over time we are working to deprecate the OCAML-based Regex syntax and replace it with `metavariable-regex`.

I'm going to close this issue out; please reopen it if you find yourself still blocked.

[2020-08-17 16:03] nbrahms commented on #1514
@aryx cf. https://github.com/returntocorp/semgrep/issues/688

[2020-08-17 16:08] nbrahms commented on #1508
cf. https://semgrep.dev/jxwN/, which should be a working test case even if we don't change the fqdn resolution behavior (the latter seems more like a design decision we should revisit than a clear-cut bug, @aryx ?).

[2020-08-17 16:13] nightwatchcyber commented on #1514
@nbrahms your solution works for me, thank you!

[2020-08-17 16:16] nbrahms commented on #1508
Here's the AST of the code annotation:
[code]

but the pattern annotation is parsed as:
[code]

[2020-08-17 16:51] brendongo opened #1518 "Parse ?? operator in js"
**Describe the bug**
Semgrep unable to parse ?? operator https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operator

**To Reproduce**
 https://semgrep.dev/1L8G/

**Expected behavior**
See doc link above

[2020-08-17 16:53] brendongo opened #1519 "Parse ?. in javascript"
**Describe the bug**
Semgrep unable to parse operator chaining in javascript https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining

**To Reproduce**
https://semgrep.dev/9Rrr/

**Expected behavior**
See doc above

[2020-08-17 17:36] mjambon commented on #1518
This will be supported when we switch to the tree-sitter implementation.

[2020-08-17 17:40] mjambon commented on #1519
linking to https://github.com/tree-sitter/tree-sitter-javascript/issues/134

[2020-08-17 17:45] aryx commented on #1508
Yep, I'm almost done fixing it.

[2020-08-17 17:46] nbrahms commented on #1519
@brendongo Is this JavaScript, Flow, or TypeScript? IIRC, `?.` is not supported in JavaScript.

[2020-08-17 17:54] #1005 closed, assigned to nbrahms

[2020-08-17 21:19] ievans commented on #1392
@aryx looks like you added the basic parser; did you want to follow up with @mackowski ?

[2020-08-17 22:40] mjambon opened #1523 ""??=" in parser.c is a C trigraph, should be escaped"
This is a tree-sitter code generation bug reported at https://github.com/tree-sitter/tree-sitter/issues/714

Severity: breaks the C# parser on some platforms (on which platform where did you see the error @nbrahms ?).

[2020-08-17 23:05] nbrahms commented on #1497
This appears to be due to returntocorp/pfff@78f052659671. This converts `ExprStmt` nodes into pure expressions.

However, we don't convert `VarDef` nodes into `Expr` nodes when matching against the program, so we no longer match.

IMO, we should perform the `VarDef` conversion instead of reverting 78f052659671, as this would also allow us to match with or without the trailing semicolon.

cc. @aryx

[2020-08-18 00:16] dlukeomalley commented on #1482
Do you want this to match grep's behavior of displaying the filename only or every match Semgrep finds, just without the code snippet?

[2020-08-18 04:53] #1508 closed, assigned to aryx

[2020-08-18 05:44] SPoint42 commented on #1118
What did you need to help ?

[2020-08-18 06:08] xmo-odoo commented on #1482
Either would work, I'd go with what's simpler for you. My use case is finding "interesting" bits of code in a fairly large codebase, so just knowing that a given file is "interesting" is useful, knowning that there are specific locations in specific files is slightly more useful but not *necessary* if it's harder to implement.

[2020-08-18 08:05] aryx opened #1525 "Use tree-sitter for Javascript"
This will pave the way for using tree-sitter for Typescript later.

[2020-08-18 13:10] kevincox commented on #1500
This is definitely a bug. Both the example, and the real world example are accepted by the cpython parser. This is because the parser doesn't care about the indentation of comments. It appears as though semgrep treats the last line of the file as "code" even if it is just a comment. For example adding another line to the example makes it parse correctly.

https://semgrep.dev/OkeL/

Even adding an

[2020-08-18 15:29] aryx commented on #1118
@mjambon can you add kotlin to ocaml-tree-sitter-lang so I can start to write the skeleton and maybe people can start contribute.

[2020-08-18 15:30] aryx commented on #1118
https://github.com/fwcd/tree-sitter-kotlin seems to be the tree-sitter we want.

[2020-08-18 15:31] aryx commented on #1118
@SPoint42 @asm0dey can you look at the tree-sitter-kotlin link and check if the grammar looks up to date with the recent versions of Kotlin, or do you know a better repository with the kotlin grammar in tree-sitter format?

[2020-08-18 15:32] aryx commented on #1392
No I didn't. I guess I need to add a few simple cases to be a better starting point and maybe some documentation on where to find the relevant AST definitions.

[2020-08-18 15:34] aryx commented on #1392
The main work @mackowski  is to replace all the todo in https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/parsing/Parse_csharp_tree_sitter.ml with the relevant construct defined in https://github.com/returntocorp/pfff/blob/master/h_program-lang/AST_generic.ml
Not trivial, but not impossible :)

[2020-08-18 16:53] #1497 closed, assigned to nbrahms

[2020-08-18 17:39] nbrahms commented on #1497
This will be fixed in 0.20.0.

As a bonus, the trailing semicolon will no longer be required in this type of pattern:
https://semgrep.dev/7g0Q?version=develop

[2020-08-18 20:00] nbrahms commented on #1491
Hi @sabihb... just to double-check, do you want to detect `a=0` (per your issue comment) or `b=0` (per your semgrep.dev link) in this code?

It looks like the latter is just a bug in how we parse Python and straightforwardly solvable.

[2020-08-19 11:55] mackowski commented on #1392
looks good! Next week I will be on a small trip without my laptop but after that I will start working on that :)

[2020-08-19 15:39] nbrahms commented on #1259
Hi @ajinabraham I'm not able to reproduce this with version 0.19.1. Would you be able to confirm for us?

For instance, https://semgrep.dev/neKY/ returns results now.

[2020-08-19 15:42] nbrahms commented on #1457
As a first pass, we need to identify code snippets that fail and break them down into further issues. @mschwager are you able to help out with this?

[2020-08-19 15:45] nbrahms opened #1537 "Fix failing CI performance test"
Let's not normalize failure. We should fix the failing test in https://github.com/returntocorp/semgrep/runs/1003359080 or remove it from our system.

[2020-08-19 15:51] mschwager commented on #1537
https://github.com/returntocorp/semgrep/pull/1536 should do the trick.

[2020-08-19 16:00] underyx opened #1539 "The pattern `"..." "..."` matches Python f-strings"
**Describe the bug**

Sometimes we want to detect unintended implicit string concatenation, such as in [`python/lang/correctness/common-mistakes/string-concat-in-list`](https://github.com/returntocorp/semgrep-rules/blob/050d472c84adcf8fb8a4cee89e87345ad99f3453/python/lang/correctness/common-mistakes/string-concat-in-list.yaml).

This currently fires on `f"foo"` as well, which is not intended.

**T

[2020-08-19 16:05] ajinabraham commented on #1259
Should be fixed.

[2020-08-19 16:09] colleend commented on #522
@aryx do you think this is a good issue to tackle?

[2020-08-19 16:29] TrustMeIm0xDolphin opened #1540 "[Python] Rule analysis does not keep track of function name as metavariable across patterns"
**Describe the bug**
Semgrep does not keep track of function name as metavariable across patterns

**To Reproduce**
Using the following python file as an example:

[code]
And the following YAML rule:

[code]

This combination returns no results

**Expected behavior**
Expected semgrep to identify the pattern

**Environment**
Happens on `semgrep.dev` and using semgrep on ubuntu (installed via pip)

[2020-08-19 16:36] nbrahms opened #1541 "Ensure failing perf tests prevent release"

[2020-08-19 16:37] mschwager commented on #1537
Pending closing on successful build here: https://github.com/returntocorp/semgrep/commit/74044fed28aad7215c63469531724f5d702c70be

[2020-08-19 16:45] brendongo commented on #1519
Out on Node14 apparently

[2020-08-19 16:50] nbrahms commented on #1471
@aryx Would you be able to post an update about our plan for this ticket?

[2020-08-19 18:11] mschwager commented on #1537
It's green!

[2020-08-19 18:11] #1537 closed, assigned to mschwager

[2020-08-19 21:22] DrewDennison opened #1543 "JSONDecodeError in 0.20"
[code]

This is how I am calling semgrep https://github.com/ajinabraham/libsast/blob/master/libsast/core_sgrep/helpers.py#L9

[2020-08-19 21:50] mschwager opened #1544 "Python f-string detected as implicit string concatenation"
This was initially found as a false positive for this rule: https://github.com/returntocorp/semgrep-rules/blob/develop/python/lang/correctness/common-mistakes/string-concat-in-list.yaml. The rule looks for this pattern: `'["..." "...", ...]'`.

We can see that there isn't a false positive with regular string literals:

[code]

[code]

However, when we use an f-string we get a false positive:

[cod

[2020-08-19 21:53] underyx commented on #1544
Is this a duplicate of https://github.com/returntocorp/semgrep/issues/1539?

[2020-08-19 21:55] mschwager commented on #1544
Yup, you're too quick!

[2020-08-19 21:55] #1544 closed, assigned to nobody

[2020-08-20 01:31] minusworld commented on #1543
Can confirm that this happens on generic semgrep 0.20.0 as well:

[code]

[2020-08-20 01:42] minusworld commented on #1543
So, this only happens on certain repos:

`https://github.com/canavandl/bokeh` -- breaks ❌
`https://github.com/returntocorp/semgrep` --  ✅
`https://github.com/seasonstar/bibi` -- ❌
`https://github.com/jinzhu/gorm` -- ✅

[2020-08-20 01:43] minusworld commented on #1543
Based on my observations, I think this has to do with the very first rule in a file timing out. The repos which fail hang for a while at 0 rules run, and then spit out this error. Working repos immediately begin running rules.

[2020-08-20 01:45] minusworld commented on #1543
Testing above concept on `bokeh`:

[code]

[code]

[2020-08-20 01:46] minusworld commented on #1543
Actually it might be parse errors due to JavaScript? It's either that or timeouts.

[2020-08-20 01:48] minusworld commented on #1543
Looks like parse errors:

[code]

[2020-08-20 01:52] minusworld commented on #1543
Looks like JavaScript in general is just broken:

[code]

[2020-08-20 05:42] aryx commented on #522
Yep, go for it.

[2020-08-20 07:10] #1490 closed, assigned to colleend

[2020-08-20 14:36] ajinabraham commented on #1543
Some more info if this is helpful https://trendmicro.zoom.us/j/94259385255?pwd=OEpaKzhGQ1VSdW5WWC83U2xqdHExZz09

[2020-08-20 14:36] ajinabraham commented on #1543
Some more debugging info: https://github.com/ajinabraham/njsscan/runs/1005007733#step:8:299

[2020-08-20 14:39] #1259 closed, assigned to nbrahms

[2020-08-20 14:40] ajinabraham commented on #794
Will this be tested on Mac?

[2020-08-20 14:44] ajinabraham commented on #1244
Looks like this is fixed

[2020-08-20 14:44] #1244 closed, assigned to nobody

[2020-08-20 14:45] ajinabraham commented on #1067
Fixed

[2020-08-20 14:45] #1067 closed, assigned to nobody

[2020-08-20 14:46] ajinabraham commented on #732
This is not relevant now. Closing this.

[2020-08-20 14:46] #732 closed, assigned to nobody

[2020-08-20 15:24] underyx opened #1546 "--skip-unknown-extensions skips all files"
**Describe the bug**

The new `--skip-unknown-extensions` flag from 0.20.0 seems to just skip all files.

**To Reproduce**

[code]

**Expected behavior**

A finding should be returned, just like when the flag is not given.
The flag is intended to skip files with unknown extensions, so the `.py` file above is meant to be scanned.

**Environment**

semgrep 0.20.0

[2020-08-20 15:27] ajinabraham opened #1547 "Semgrep UI is breaking rules."
**Describe the bug**
Semgrep UI corrupts the rule on Share. The UI tries to format the rule and corrupts it.

**To Reproduce**
Use the rule

[code]
and file
[code]
Click on Run and Share. You can see that the rule is changed to by semgrep UI.

**Expected behavior**
Do not alter the rule without confirmation from user.

**Environment**
Semgrep live 0.20.0
Broken after share https://semgrep.dev/B26A

[2020-08-20 15:30] aryx commented on #1489
+1 on just using boolean logic!

[2020-08-20 15:33] ajinabraham opened #1548 "Semgrep 0.20.0 is matching things that were not matched before or missing matches"
**Describe the bug**

**EXAMPLE** missing match
Semgrep matches changes across versions for the same rule.

[code]
The above pattern is not working anymore.

**To Reproduce**
Working on 0.18.0: https://semgrep.dev/editor/?version=0.18.0
Failing on 0.20.0 https://semgrep.dev/Wep2/?version=0.20.0

**Expected behavior**
https://semgrep.dev/editor/?version=0.18.0

**Screenshots**
N/A

**Environment**

[2020-08-20 15:37] ajinabraham commented on #1548
Will this be caught using the semgrep test action? Do it fail if more number of matches are triggered by a test file.

[2020-08-20 15:44] ajinabraham commented on #1548
Another one working on 0.18.0: https://semgrep.dev/editor/?version=0.18.0
Failing on 0.20.0 https://semgrep.dev/Wep2/?version=0.20.0

[2020-08-20 16:23] ievans commented on #1548
possibly related to #1540 ?

[2020-08-20 16:33] nbrahms commented on #1543
cc. @mjambon @aryx

I see what appear to be tree-sitter artifacts in the above output, so wondering if these are biting us.

[2020-08-20 16:47] ajinabraham commented on #1548
**EXAMPLE** extra matches.

why are there two matches? https://semgrep.dev/KdX5/
IIUC, `pattern-either` should exit on the first match?

[2020-08-20 16:55] mschwager commented on #1457
I did a quick smoketest against `rails`:

[code]

If we need more granular parsing error information, i.e. what language feature is causing the issue, this will definitely take more time. Looking at the CI failure above, it looks like there's around 100 files that fail to parse across all the repos. I may be able to look into this more closely next week, but it'd probably be quicker for @aryx or @

[2020-08-20 17:21] ievans commented on #412
Per discussion with @DrewDennison, this can be supported already to the degree we'd like with whitelisted python

[2020-08-20 17:21] #412 closed, assigned to nobody

[2020-08-20 17:21] colleend commented on #1543
Looked at it with @mjambon, realized that the there might be another failure which triggers the tree_sitter javascript parser to run. Trying to fix in Parse_code.ml currently.

[2020-08-20 17:25] minusworld commented on #1548
Notes:
This actually broke in 0.19.0:
https://semgrep.dev/Wep2/?version=0.19.0

[2020-08-20 17:26] DrewDennison commented on #412
yes we also support multi-line python with the last line needing to return a boolean so the code above in the issue body will work now as long as `zxcvbn` is in the user's python libraries

[2020-08-20 18:20] ievans commented on #441
confirmed with @brendongo that this is fixed

[2020-08-20 18:20] #441 closed, assigned to rcoh

[2020-08-20 18:21] ievans commented on #315
With the combination of cheatsheets, us mentioning this in the help text for no matches and the suggest pattern feature, I think this is good enough.

[2020-08-20 18:21] #315 closed

[2020-08-20 18:22] ievans commented on #1037
Confirmed fixed with semgrep 0.19.1 (fix probably happened earlier, that's just the version I used)

[2020-08-20 18:22] #1037 closed, assigned to nobody

[2020-08-20 18:26] ievans opened #1550 "Clean up parser warning UX"
I'm looking for feedback on the UX of the final semgrep output. I propose the following. When run in an interactive shell, semgrep will print the following final line.

If (internal tool) warnings exist:

[code]

If (internal tool) warnings do not exist (related to #1562):

[code]

The tricky thing about this text is differentiating _internal tool errors_ from _rules labeled error_.

[2020-08-20 18:27] ievans opened #1551 "Parser error output does not report full path to file with parse error"
Parser error output does not report full path to file with parse error:

[code]

But there is no callback.js at root.

[code]

[2020-08-20 18:31] pabloest commented on #1126
+1 to this. I ran 196 Semgrep rules on a small repo today and Semgrep chewed through it very quickly. There were no parse errors, but it ran so quickly I wondered what happened, if Semgrep found anything, how many files it scanned, etc.

[2020-08-20 18:32] ievans commented on #661
Done in 0.20 or earlier

[2020-08-20 18:32] #661 closed, assigned to aryx

[2020-08-20 18:39] ievans commented on #821
@aryx does this require the deep expression matching operator?

[2020-08-20 19:33] #1543 closed, assigned to minusworld, colleend

[2020-08-20 20:02] mschwager commented on #1489
I like the idea and I think it would greatly simplify things. However, I think the more challenging aspect will be the transition from the old API to the new API. It's no small feat to painlessly break compatibility with all existing rules. With that being said, do you have a plan for making this change? A few initial questions come to mind:

- Do we have a deprecation plan?
- Are we planning to s

[2020-08-20 21:00] #1546 closed, assigned to brendongo

[2020-08-20 22:11] minusworld commented on #1548
Looks potentially related to `semgrep-core`

[code]

[2020-08-20 22:18] minusworld commented on #1548
[code]

[2020-08-20 22:24] minusworld commented on #1548
Broken in `semgrep-core` 0.19.0:
[code]

[2020-08-20 22:29] minusworld commented on #1548
Commits between 0.18 and 0.19:
[code]

[2020-08-20 22:37] minusworld commented on #1548
Working in this Docker image: https://semgrep.dev/Wep2/?version=64695a87331c56d0b95cc6032a5ef46fb442873d
Broken in this Docker image: https://semgrep.dev/Wep2/?version=3c82fe06833217620275220a0a633836485fb993

[2020-08-20 22:41] nbrahms commented on #1489
IMO we should support both languages in parallel for a few releases, but only have this language at time of 1.0 release.

I believe it is possible to algorithmically transition from the old to the new API.

Not sure what the correct answer is here. But worth flagging that users already need to include a `...` at the end of the `pattern-inside`.

I think the big challenge with adding an `inside` ke

[2020-08-20 22:50] minusworld commented on #1548
Here's the commit: https://github.com/returntocorp/semgrep/commit/3c82fe06833217620275220a0a633836485fb993

[2020-08-20 22:53] minusworld commented on #1548
@aryx Would you mind taking a look at what might have caused this?

[2020-08-20 23:10] nbrahms commented on #1548
It looks like we used to treat the following as equivalent:
[code]
[code]
and we don't any longer

[2020-08-20 23:12] nbrahms commented on #1548
I think this diff may be the culprit:

https://github.com/returntocorp/pfff/compare/dcea8f46d4f47c60f4f9dae553f733e57f5bc79e...53808c569065a62d09b7338de8e1b24661336385 at lang_js/analyze/ast_js_build.ml#337

cc. @aryx

[2020-08-20 23:41] minusworld commented on #1540
Hey @Emi1305, Semgrep doesn't support this example just yet.

`- pattern` clauses that are under `patterns` are implicitly AND'ed together. This means that the pattern matches when both of these patterns are met in the same range. They don't match if they're in the same file but in different locations.

[code]

[code]

[Here's an example](https://github.com/returntocorp/semgrep-experiments/blob/ma

[2020-08-20 23:44] nbrahms commented on #1157
@DrewDennison I actually don't think we should match global variable declarations with `var ...`, as `var` specifically indicates the local scope.

I think you want to match with https://semgrep.dev/l0ZE/?version=0.20.0.

Please close this out if this matches your use case.

[2020-08-20 23:46] DrewDennison commented on #1157
yep lgtm. Thanks!

[2020-08-20 23:46] #1157 closed, assigned to nbrahms

[2020-08-21 00:08] #1394 closed, assigned to DrewDennison

[2020-08-21 00:11] nbrahms commented on #1460
Fixed in 0.21

[2020-08-21 00:11] #1460 closed, assigned to underyx, nbrahms

[2020-08-21 00:15] nbrahms commented on #1518
Duplicate of #1351

[2020-08-21 00:15] #1518 closed, assigned to mjambon

[2020-08-21 00:16] nbrahms commented on #1407
@mschwager Would you be able to link to a semgrep.dev link?

[2020-08-21 00:19] nbrahms commented on #1375
See https://semgrep.dev/YK8y/?version=0.20.0

[2020-08-21 04:13] ajinabraham commented on #1548
I am not sure if this got buried in the discussion. Is https://github.com/returntocorp/semgrep/issues/1548#issuecomment-677778551 related to the diff in pfff?

[2020-08-21 04:24] minusworld commented on #1548
I think this is working as intended. I think `pattern-either` reports back all findings. At least, that's how I've understood it up until now.

[2020-08-21 04:41] ajinabraham commented on #1548
I think you are right. This has nothing to do with the regression. This came up as a bug opened by a user. I got confused.
Somehow this gives the impression that the rule exec stops on the first match.
<img width="927" alt="Screenshot 2020-08-21 at 12 49 27 AM" src="https://user-images.githubusercontent.com/4301109/90853462-33892d80-e348-11ea-87c1-84653b790773.png">

[2020-08-21 07:24] #821 closed, assigned to nobody

[2020-08-21 07:50] #1548 closed, assigned to minusworld, nbrahms

[2020-08-21 10:48] #1525 closed, assigned to aryx

[2020-08-21 10:55] aryx commented on #1009
This seems to work now.

[2020-08-21 10:56] aryx commented on #1519
I think it's a proposed extension not yet approved. @mjambon knows more.

[2020-08-21 11:04] ghost commented on #1210
Looks like version .20 introduced the same error. .19 was working.

Thanks,

Rick

[2020-08-21 11:22] aryx commented on #1471
As soon as I can fully switch to tree-sitter and use tree-sitter first, we can fix that issue.
Right now we still use the pfff parser first because otherwise we have regressions. I'm working on those regressions.

[2020-08-21 12:52] disconnect3d opened #1562 "Report basic statistics when run with no flags"
It would be nice if Semgrep reported a number of INFO/LOW/WARN/ERROR findings when its simply run with `semgrep [-f <config>]`, probably as the last line it prints out.

It seems some statistics are displayed when `--json` is invoked thx to https://github.com/returntocorp/semgrep/pull/302, but that's not very convenient.

The proposed solution would make it more convenient to develop rules based o

[2020-08-21 13:56] mschwager commented on #1504
I don't think this is fully working as intended yet. We can use `package` in a pattern, but it appears we can _only_ use `package`, i.e. no ellipsis operator. Using the latest `semgrep-core`:

[code]

Searching for just the `package` works:

[code]

[code]

[code]

However, if we add a `...` it fails:

[code]

[code]

That means the original pattern fails as well:

[code]

[code]

Am I missing som

[2020-08-21 15:15] ievans commented on #1210
@rttinfosec could you provide a reproduction example and open a new issue?

I looked at #1231 again and ran it with the latest docker image (https://semgrep.dev/YG5W?version=develop) but it runs ok

[2020-08-21 15:56] aryx commented on #1471
Blocked on https://github.com/returntocorp/ocaml-tree-sitter/issues/102

[2020-08-21 16:49] mschwager commented on #1407
https://dev.semgrep.dev/s/zy60/?version=develop

[2020-08-21 17:04] ghost opened #1567 "JSONDecodeError in version 0.20"
Receiving an error running Semgrep. Below is the first lines of the install followed by the run with the error information output.

Install:
Run pip3 install semgrep
Collecting semgrep
  Downloading semgrep-0.20.0-cp36.cp37.cp38.py36.py37.py38-none-manylinux1_x86_64.whl (29.6 MB)
  ...

Run:

[code]

[2020-08-21 17:06] #1540 closed, assigned to minusworld

[2020-08-21 18:22] nbrahms commented on #1567
This was fixed in https://github.com/returntocorp/semgrep/pull/1552, and will be available in 0.21

[2020-08-21 18:22] #1567 closed, assigned to nobody

[2020-08-21 18:23] minusworld commented on #1567
0.21 will release on Tuesday! in the meantime, you can try `pip install semgrep==0.19.1`.

[2020-08-21 20:36] minusworld commented on #1314
@ievans Can you verify whether this is still an issue? I cannot infer from the semgrep.live example what the issue is.

[2020-08-21 20:50] colleend commented on #1504
I can take another look at this.

[2020-08-21 20:50] mschwager opened #1568 "Use test corpus minimization to speed up QA testing time"
AFL has this cool corpus minimization technique to remove redundant files: [afl-cmin](https://manpages.debian.org/testing/afl/afl-cmin.1.en.html)

I think we could do something similar with our QA tests and `semgrep-core` where we:

* Integrate code coverage instrumentation into `semgrep-core`
* Gather all QA test repositories
* Gather all code files in QA repositories and group them by language
*

[2020-08-21 20:55] colleend opened #1569 ""Package" in go not working with ellipses."
**Describe the bug**
"package" parses.

However, adding an ellipses such as the case in:
https://semgrep.dev/Nxwy/
does not work.

[2020-08-21 20:58] ievans commented on #1568
Couldn't this result in overfitting and then missing cases that we used to past, but now don't?

[2020-08-21 21:14] ievans commented on #1314
AFAICT it looks fine, closing

[2020-08-21 21:14] #1314 closed, assigned to nobody

[2020-08-21 21:15] ievans commented on #1562
Other suggestions I've heard for the default output:

* the # of files, # of bytes, or # of lines of code processed. This can be useful if you run and think that you're scanning a lot of code, but it's actually mostly under a `.gitignore`.

[2020-08-21 21:50] nbrahms opened #1572 "Support ellipses in Python decorators"
**Is your feature request related to a problem? Please describe.**
see https://semgrep.dev/kWzP/

[2020-08-21 22:05] #1541 closed, assigned to minusworld, colleend

[2020-08-21 23:44] colleend commented on #1572
seems like this works! https://semgrep.dev/xx4L/?version=0.20.0

[2020-08-22 17:10] nbrahms commented on #1572
whoops :)

[2020-08-22 17:10] #1572 closed, assigned to colleend

[2020-08-24 10:09] SPoint42 commented on #1118
I'm not familiar with tree-sitter. I could help to try to parse some kotlin sources files or execute and/or write query for semgrep kotlin indeed

[2020-08-24 10:28] dimsuz commented on #1118
I also have access to a few rather large kotlin codebases (android apps) and can check how parser works on them.

[2020-08-24 15:10] dgryski commented on #1568
Corpus minimization makes sense when your binary isn't changing. However, given that semgrep and the rules are under development the corpus would immediately become out of date.

[2020-08-24 21:19] brendongo opened #1580 "Ruby Squiggly Heredoc Weirdness"
**Describe the bug**
Semgrep is having trouble parsing squiggly heredoc with disabled interpolation

**To Reproduce**
https://semgrep.dev/3e8K/ doesnt work.
Removing ~ to make it a regular heredoc results in a different error: https://semgrep.dev/Qw6Z/
Removing the interpolation disabling on line 4 https://semgrep.dev/4Bl5/?version=develop results in parsing correctly

fwiw I'm not sure if nested

[2020-08-24 21:45] sabrinabrogren commented on #1491
My mistake, I meant the former (`a=0`). I didn't realize `b=0` also wasn't working. Is that a related issue or should I make a separate ticket?

[2020-08-25 00:29] brendongo opened #1581 "Weird behavior with ruby lambdas"
**Describe the bug**
Reports parse error when running over this code: https://semgrep.dev/GRyq/

[code]

**To Reproduce**
In the original file https://github.com/rails/rails/blob/master/actionpack/lib/action_dispatch/routing/mapper.rb removing the lambdas just causes semgrep to report an error in a different place. In the supplied reproduction, semgrep no longer reports any error but running ocaml

[2020-08-25 00:48] brendongo opened #1582 "[Ruby] Indentation with dot access functions"
**Describe the bug**
Semgrep unable to parse https://semgrep.dev/Rryq/
the error goes away when the call is in a single line: https://semgrep.dev/Ajy2/
but also interestingly goes away when a different line is deleted/commented out: https://semgrep.dev/B2yA/

For posterity:
[code]

[2020-08-25 01:03] mjambon commented on #1581
I confirm the problem. It looks like a transformation that we apply to the grammar causes the parser to fail. I started a branch for this: https://github.com/returntocorp/ocaml-tree-sitter/tree/ruby-error

I will handle this later.

[2020-08-25 01:32] brendongo commented on #1581
Forgot to add to the issue but removing the each function also results in semgrep reporting no parse errors: https://semgrep.dev/D8yP/