[2021-10-27 00:56] mjambon commented on #3882
That's what we'd like to avoid. The scenario is:
1. I know that I touched some performance-sensitive code.
2. I'd like to be sure that everything is still fine performance-wise.
3. I'm ok with waiting an hour or so before merging.

Another scenario is the quick-benchmarks:
1. It's a regular pull request and I don't expect any performance issues.
2. The quick benchmarks are a sanity check, in case

[2021-10-27 00:57] mjambon commented on #3882
An issue is to ensure our own jobs don't compete for resources on the same machine.

[2021-10-27 00:57] emjin commented on #4154
Note: a greater concern may be that the `int` would be erased by autofix in the above examples

[2021-10-27 02:47] minusworld opened #4157 "JS somehow parses lua"
**Describe the bug**
[This issue on semgrep-rules](https://github.com/returntocorp/semgrep-rules/issues/1489) shows a strange circumstance where `javascript.lang.correctness.useless-eqeq` somehow parses and reports this finding on a lua file.

Notably, this only works when the `lua` file is explicitly listed, so this isn't an issue with default language extensions.

**To Reproduce**
Strangely, thi

[2021-10-27 03:25] #3578 closed, assigned to nobody

[2021-10-27 08:13] IagoAbal commented on #3620
At the end we arrived at a solution where we use the message to deduplicate findings. Nobody has raised the issue again so I assume everyone is happy with it.

[2021-10-27 08:13] #3620 closed, assigned to nobody

[2021-10-27 08:54] inkz opened #4160 "[JavaScript] Taint mode not matching sinks prefixed with `await` operator"
Example: https://semgrep.dev/s/WpPL/

source is `req`

works fine for the sink:
[code]

but if `res.send` is prefixed with `await` - no results

[code]

[2021-10-27 17:29] briankassouf commented on #4063
@brendongo Thanks for the fix! And yes, the go syntax error was on our end and has since been fixed.

[2021-10-27 17:41] mjambon commented on #2956
I think the issue here is that we don't know where to install libraries if we're not allowed to install them as root. Please advise.

[2021-10-27 21:19] robbles opened #4167 "Ability to specify simple rules via the CLI options"
**Is your feature request related to a problem? Please describe.**
I've found semgrep's autofix feature to be pretty useful for on the fly refactoring. The one main drag is having to make a YAML file with a bunch of required fields for an ad-hoc rule.

**Describe the solution you'd like**
 It would be pretty useful if semgrep allowed something similar to the `-e` / `--pattern` option, but for a wh

[2021-10-27 21:35] colleend commented on #4141
I can also take a look into these if you're focusing on the newline bug!

[2021-10-27 21:39] emjin commented on #4167
Does this PR solve your use case? (`--replacement`) https://github.com/returntocorp/semgrep/pull/3734

[2021-10-27 21:56] emjin opened #4168 "Help users debug their metavariable-regex patterns"
Discussion here: https://returntocorp.slack.com/archives/C01NXGX2EHZ/p1635369528059100

[2021-10-27 21:59] emjin commented on #3638
Still a thing :(

[2021-10-27 22:06] emjin commented on #3637
I think still relevant

[2021-10-27 22:07] emjin commented on #3635
What we have is probably good enough

[2021-10-27 22:07] #3635 closed, assigned to nobody

[2021-10-27 23:03] robbles commented on #4167
Looks like it! Thank you!

[2021-10-27 23:03] #4167 closed, assigned to nobody

[2021-10-28 12:11] janisz opened #4171 "Package not resolved for Golang"
**Describe the bug**
From docs:

**To Reproduce**
[code]

[code]

**Expected behavior**
It should match all 3 lines.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

**Environment

[2021-10-28 12:30] aryx commented on #4171
Semgrep will not be able to detect the 3rd line, because this would require to know that Clone is part of proto, which would require to analyze the imported modules (and semgrep analyze one file at a time, separately).

[2021-10-28 12:32] aryx commented on #4171
Your pattern can't be github.com/gogo/protobuf/proto.Clone because this is not valid Go code.
In the doc we say to use the fully qualified names, because most languages allow that. Go is special because it has this weird import and module mechanism where only the last part of the path is used when accessing the module.
So your pattern will need to be proto.Clone,  and then we should be able to han

[2021-10-28 12:32] janisz commented on #4171
Got it. How about different package.
e.g.
[code]

How can I match only `p.Clone(nil)` but not `proto.Clone(nil)`?

[2021-10-28 12:33] aryx commented on #4171
This works: https://semgrep.dev/s/GO8y/

[2021-10-28 12:35] janisz commented on #4171
But line 11 should not be matched. I'd like to match only `ithub.com/gogo/protobuf/proto.Clone` not any other package `.Clone`

[2021-10-28 12:35] aryx commented on #4171
but also matching the third line (Clone(nil)) will not work. We have the same issue in other languages
such as Java where people do import x.y.*
in which case we can't know what are all those entities part of x.y.
(good news is that most guidelines advise to not use such import, which make it also harder for the reader to
follow the code).

[2021-10-28 12:36] aryx commented on #4171
Ah I understand, yeah usually we couple this proto.Clone pattern with a pattern-inside where we check the file actually import the github/protobuf/proto one.

[2021-10-28 12:37] aryx commented on #4171
Like this: https://semgrep.dev/s/RXng/

[2021-10-28 12:46] aryx commented on #4141
I think it's because "..." is not allowed yet inside a class body.
I'll fix it. I also need to update to the latest fwcd with your latest improvoements (yeah, 90 -> 93%!)

[2021-10-28 12:47] aryx commented on #4140
Same than the other issue; we just supported ellipsis inside expressions.
We need to allow it also inside arguments, class body, etc.

[2021-10-28 12:57] janisz commented on #4171
OK, nice trick :) but it still matches other import

[2021-10-28 13:10] janisz opened #4172 "Could not match function definition in Go interface."
**Describe the bug**
Could not match function definition in interface.

**To Reproduce**
https://semgrep.dev/s/Dznd

**Expected behavior**
Function is matched.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regul

[2021-10-28 13:32] aryx commented on #4140
But your first example is weird, there are now 'new' in Kotlin.

[2021-10-28 16:32] kbuyens-salesforce opened #4175 "Language support for TSQL and PL/SQL"
**Is your feature request related to a problem? Please describe.**
I'd would like to prevent SQL injection in stored procedures.

**Describe the solution you'd like**
It would be good if semgrep supports the TSQL and PL/SQL languages. This would allow us to help reason about SQL injection in stored procedures.

**Describe alternatives you've considered**
Major static analysis tools do not support

[2021-10-28 19:06] IagoAbal commented on #3610
@tsigouris007 could you please try to reproduce this with the latest Semgrep release? This is typically the result of a stack overflow in the semgrep-core engine. Previously we run semgrep-core with the default stack size, and this is typically quite small. But semgrep-core is written in OCaml where is normal to use recursion a lot. In the latest release we now run semgrep-core with a larger stack

[2021-10-28 20:01] emjin commented on #3610
I don't think this looks like a stack overflow to me. In `lexer_js` we have:
[code]

Which looks like the error being printed out repeatedly

Though more recent semgrep versions may well have fixed this!

[2021-10-28 20:30] SamuelMarks opened #4176 "C statements give opaque error message when no semicolon"
**Describe the bug**
Semgrep Core ERROR - Pattern parse error: In rule -: Invalid pattern for C

[code]

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

Pattern:
[code]

C code:
[code]

**Expected behavior**
A clear message suggesting that a semicolon is needed

**Screenshots**
N/A

**What is the priority of the bug to you?**

- [ ] P0: blocking your adopt

[2021-10-28 20:54] IagoAbal commented on #3610
Good eye @emjin, the report was somewhat old so I assumed it could be just another stack overflow. Didn't really read the whole thing. Will take a look.

[2021-10-28 21:03] IagoAbal commented on #3610
It might still be a stack overflow nonetheless, just not one we fix with a larger stack size, we'll see 😄

[2021-10-28 21:08] emjin commented on #4176
You need the semicolon so it's a valid statement: https://semgrep.dev/s/pYp0. Hopefully as the C parser matures, we can handle things like this more gracefully (feel free to convert this issue into a "better error message" one).

[2021-10-28 21:13] tsigouris007 commented on #3610
Hi guys and thanks for your responses. I have bypassed temporarily this error by using an older version of the mentioned rule that created this exception. There were a couple more rules that behaved the same way and I just did the same thing (does the job anyways).
I will update in the near future to the latest semgrep version and the latest rules and let you know if it went well.
I do not have a

[2021-10-28 21:53] colleend commented on #4140
good point, only the second example is valid Kotlin 👍

[2021-10-28 21:54] colleend commented on #4141
awesome, thanks for doing this!

[2021-10-28 22:49] SamuelMarks commented on #4176
Thanks that final semicolon did the trick. Unexpected only because the regular `semgrep --lang c -e 'strlen(...)' "$PWD"` didn't require a statement end. But yeah, better error message would be handy for n00bs

[2021-10-28 23:08] emjin commented on #4176
Absolutely---it's because `strlen(...)` is an expression, but `int $X = $Y` can only be a statement, and the parser expects a semicolon at the end of a statement. Glad it worked!

[2021-10-29 09:18] IagoAbal commented on #3610
@tsigouris007 could you please share with us what version of Semgrep are you running, and what old version of that (those) rule(s) are you using? If you could reproduce this, might you be able to share with us (privately if you want) the output of Semgrep running with `--debug`?

[2021-10-29 09:41] #4140 closed, assigned to aryx

[2021-10-29 09:41] #4141 closed, assigned to aryx

[2021-10-29 09:56] aryx commented on #4176
Would be nice also to not have this JSON blob on the upper right and instead highlight the place in the rule that is
wrong.

[2021-10-29 10:01] aryx commented on #4175
Is there a formal specification somewhere of the grammar of those TSQL and PL/SQL? Or even better
a tree-sitter grammar for those languages?

[2021-10-29 10:19] aryx commented on #4172
It's because the syntax for method inside interfaces is ambiguous when you allow it at the top with
other Go constructs.
For example how should we parse $FOO(...)?  is it a method call or a method definition in an interface.
Right now you can disambiguate by putting the 'func' keyword before as in:
https://semgrep.dev/s/Oen2

[2021-10-29 12:07] #4172 closed, assigned to nobody

[2021-10-29 23:02] ievans opened #4182 "JSX parse failure on: `( )` was unexpected"
The code snippet:
[code]

Generates:
[code]
see https://semgrep.dev/s/Z4np

[2021-10-30 13:21] nedbat opened #4184 "Implicit string concatenation rule only finds some instances"
**Describe the bug**
I wrote a rule to find implicit string concatenation in Python (or any language I guess!), and it found some instances but not others.

**To Reproduce**
https://semgrep.dev/s/EvgL

**Expected behavior**
I thought all instances would be found.

**What is the priority of the bug to you?**
Because this seems too simple to fail, it undermines my confidence in semgrep.

- [ ] P0: b

[2021-10-30 13:21] s3rius opened #4185 "Autofix is broken because of import statements."
**Describe the bug**
I faced this issue when I was writing my own set of rules in .semgrep.yml.
I've tried to reproduce this bug on semgrep.dev playground and it's reproducible.

**To Reproduce**
Create custom rule with fix.
For example:
[code]

This rule must validate that exception with no parameters have no parentheses.
And it works well for this sample:
[code]

But if we add import statement f

[2021-10-30 13:35] nedbat opened #4186 "Interpret ~ in CLI arguments"
**Is your feature request related to a problem? Please describe.**
I used ~ in a file path on the command line, and semgrep couldn't find the file:
[code]

**Describe the solution you'd like**
Usual shell conventions should be followed.

**Describe alternatives you've considered**
none

**Additional context**
BTW, this is on Mac, using zsh

[2021-10-30 14:04] Kolaer commented on #4185
[code]
Seems to work fine: https://semgrep.dev/s/Q9Gk

[2021-10-31 20:22] Piccirello opened #4187 "Matching JavaScript arrow functions defined on class"
**Describe the bug**
There doesn't appear to be a way to match exclusively against arrow functions defined on a class. It's only possible to match against all function definitions, and to match against local arrow functions.

**To Reproduce**
It's possible to detect all function definitions: https://semgrep.dev/s/Jxrj
It's also possible to detect local arrow functions: https://semgrep.dev/s/Pb5p

[2021-11-01 11:06] krutskikh opened #4188 "BlockingIOError: [Errno 11] write could not complete without blocking in py subprocess module"
Hello,
We use semgrep installed via pip in docker. And we use this command to run scan:
[code]
 And from time to time we have this kind of error in logs for the big npm projects:
[code]
subprocess return 1 exit code, but there's no file with results in semgrep_report_path

We tried to increase our resources but it seems like the results file blocks any actions because it's not ready...

Could you

[2021-11-01 12:23] IagoAbal commented on #3610
Closing the issue because I am unable to reproduce it.

I ran semgrep-rules/javascript and semgrep-rules/typescript/react/security/ on a bunch of popular [javascript](https://github.com/returntocorp/semgrep/blob/develop/parsing-stats/lang/javascript/projects.txt) and [typescript](https://github.com/returntocorp/semgrep/blob/develop/parsing-stats/lang/typescript/projects.txt) projects. Ran 183 rule

[2021-11-01 12:23] #3610 closed, assigned to IagoAbal

[2021-11-01 12:39] tsigouris007 commented on #3610
Hello @IagoAbal and thank you for the quick response.
Sorry, but I haven't had time to redo this.
If anything comes up in the future I will provide a full debug.
Thanks again!

[2021-11-01 14:14] so87 opened #4190 "cannot use semgrepignore"
What I tried:
* using gitignore syntax
* running semgrep from commandline
* scanned a repository with p/owasp-top-ten
* tried in same directory as repo base
* tried in sub directory of repo

Are there any examples of using semgrep ignore file in the docs?

[2021-11-01 14:55] romichg opened #4191 "SARIF out put failing in github actions"
**Describe the bug**
When using github actions to run Semgrep with the option to produce SARIF file, Semgrep fails

**To Reproduce**
Enable SARIF generation by passing
` generateSarif: "1"` in semgrep.yml file

**Expected behavior**
Run to complete normally with SARIF file generated.

**Screenshots**
![image](https://user-images.githubusercontent.com/1326120/139691664-bede6859-ca89-42a9-9de7-1f917

[2021-11-01 16:04] emjin commented on #3882
CircleCI has this: https://circleci.com/docs/2.0/parallelism-faster-jobs/. Dropping it here; will investigate

[2021-11-01 16:28] nbrahms commented on #3264
Tracked in https://linear.app/r2c/issue/PA-145/typescript-constructors-are-not-parsed-correctly-in-the-pattern

[2021-11-01 16:30] nbrahms commented on #3321
Tracked in https://linear.app/r2c/issue/PA-156/[js]-if-a-foo-pattern-does-not-match-if-braces-are-missing

[2021-11-01 22:05] #3606 closed, assigned to nobody

[2021-11-02 09:19] malexmave opened #4198 "Document factors influencing resource consumption / report benchmarking results"
**Is your feature request related to a problem? Please describe.**
I am running semgrep in a k8s environment which requires me to specify how much memory it is going to consume. If this memory is exceeded, [semgrep crashes](https://github.com/returntocorp/semgrep/issues/4199). The plan is to run it regularly, unattended, on a variety of repositories. I currently do not know which factors influence

[2021-11-02 09:37] malexmave opened #4199 "Auto soft stack limit increasing does not correctly handle hard limit of -1/unlimited"
**Describe the bug**
I am running semgrep in a k8s environment with enforced memory limits. Running it in a 512 MB RAM pod and scanning a  repo results in the following error (JSON format because of my settings, beautified for easier reading):
[code]

**To Reproduce**
It's a bit complicated since it is running inside secureCodeBox on a kubernetes cluster with memory limits. The memory limits that

[2021-11-02 16:39] #4050 closed, assigned to nobody

[2021-11-02 19:35] kbuyens-salesforce commented on #4175
I don't think so. This might come close: https://github.com/antlr/grammars-v4/tree/master/sql/tsql and https://github.com/antlr/grammars-v4/tree/master/sql/plsql

[2021-11-02 19:36] gordonwoodhull commented on #3388
It’s an important issue - please don’t close.

[2021-11-02 19:37] gordonwoodhull commented on #3577
I am planning to work on this.

[2021-11-02 21:02] IagoAbal commented on #3880
Well, I didn't know about Ruby blocks and I thought they had different semantics.. sorry if confused things. So it seems that the `do-end` block is a lambda that is passed as an argument to the method that precedes it?

Anyways, perhaps we could instead encode:

[code]
this other way:
[code]

So that `Net::HTTP.start(...)` will not match the entire `do-end` block as it does now (see https://semgre

[2021-11-02 23:03] LewisArdern commented on #3727
This creates extra patterns for a lot of the rules I tend to write @clintgibler sometimes you want to know the value of an assigned value e.g.  in go:
[code]
If you add a metavariable to compare the value is < something this requires you to write another rule if its not statically assigned, I would say this is actually going to cause a lot of people to write false negative rules:
A lot of your pub

[2021-11-03 07:39] mjambon opened #4204 "testing: Ignore matches or the lack of matches on "todook:" and "todoruleid:" locations"
Goal: tolerate false positives and false negatives that are marked as such, so as to allow running a version semgrep on an incompatible version of semgrep-rules.

The `--test-ignore-todo` looks like it should provide just this, but it doesn't work. We still get an exit code of 1.

Repro setup
--

Target file `toto.py`:
[code]

Rule file, `toto.yaml`:
[code]

Plain `--test`
--

Output obtained with

[2021-11-03 13:47] IagoAbal commented on #3880
This also requires taint analysis to handle nested functions.

[2021-11-03 16:59] ievans commented on #3235
More feedback on this from a user:

[2021-11-03 17:39] emjin commented on #4168
clint Oct 27th at 2:18 PM
I see string matching has been deprecated (https://semgrep.dev/docs/writing-rules/pattern-syntax/#string-matching) in favor of metavariable-regex. Does string matching still work, or does one have to use metavariable-regex?

clint  7 days ago
Also, the examples on the Playground are now recommending the wrong thing:
![image](https://user-images.githubusercontent.com/59425

[2021-11-03 21:03] ievans commented on #4190
Sadly semgrepignore is a semgrep CI feature, not a semgrep feature:

See the warning at https://semgrep.dev/docs/semgrep-ci/overview/#ignoring-files

[2021-11-03 21:04] ievans commented on #4190
We can keep this issue open as a feature request though

[2021-11-03 21:18] brendongo commented on #4186
This is weird. I am also on Mac using zsh and this works fine for me.

[code]

[2021-11-03 21:21] brendongo commented on #4186
What version of semgrep is this and what was it installed with (brew/pypi?)

[2021-11-03 21:26] brendongo commented on #4188
Hi can you give an example of a project and ruleset that reliably reproduces this error

[2021-11-03 21:30] brendongo commented on #4190
We do plan on porting this functionality over in ~3 months

[2021-11-03 21:48] brendongo commented on #4199
Thanks for opening this @malexmave ! This was useful since we weren't handling case when hard limit was -1 (i.e. infinite)

[2021-11-03 22:36] nedbat commented on #4186
I had installed it with pip.  There's a difference in how you and I invoked it.  You used `--config ~/blah/blah` (with a space).  I used `--config=~/blah/blah` (with an equals sign).  Trying it again, the space works, the equals sign does not.

[2021-11-03 22:56] emjin commented on #4176
Yes this is something I want to fix in the near future

[2021-11-03 23:16] #3547 closed, assigned to IagoAbal

[2021-11-03 23:16] emjin commented on #3445
@mmcqd Relatable

[2021-11-03 23:33] emjin commented on #3605
Added to "Semgrep can run on an airplane" project

[2021-11-03 23:44] emjin commented on #3677
Still needed

[2021-11-04 00:56] inkz commented on #3456
:wave:

[2021-11-04 07:03] mhoffm-aiven opened #4209 "go: unable to match package comment"
example: https://semgrep.dev/s/AXJB

This can be useful to auto-fix copyright headers or `// go:generate` comments at the beginning of packages.

[2021-11-04 07:50] hoeg opened #4210 "Golang metavariable does not capture curly braces"
**Describe the bug**
When using a metavariable to capture a struct initialization in Go e.g `http.Transport{}` the `{}` are not being captured as opposed to when doing a function call `transport()` which captures the `()`. The fact that the `{}` are not captured makes it hard to write a fix, since the trailing brackets are getting in the way.

**To Reproduce**
https://semgrep.dev/s/oY2X

**Expecte

[2021-11-04 10:09] aryx commented on #4209
It's because when we do a pattern-inside, we compute the range of the matched AST, so your rule will only report comments that happen to be in the range of some matched code in the AST. The first comment is before the first AST element so is not in the range, and the second comment is between a package and main, so it will be reported.
If you didn't have the main after, it would not be reported ei

[2021-11-04 10:16] mhoffm-aiven commented on #4209
Hey @aryx, thanks for looking into it! Is this something that could be supported in semgrep in the future, or should i close this issue?

[2021-11-04 10:57] #4150 closed, assigned to IagoAbal

[2021-11-04 11:34] aryx commented on #3993
In practice this is not a huge issue because toplevel statements are forbidden in Go,
so any such statement should be part of a function with a closing } and optional terminator (see grammar.js)

[2021-11-04 12:59] #4210 closed, assigned to nobody

[2021-11-04 13:01] aryx commented on #4209
It does not fit very well with the semgrep philosophy right now. At the same time we also support regexp matching,
so it could be nice to support this use case. Maybe you should try the generic mode of semgrep; it could support what you want.

[2021-11-04 13:02] aryx commented on #3387
Hmm maybe https://github.com/returntocorp/semgrep/pull/4211 can slove the Go autofix issue at least.

[2021-11-04 13:07] IagoAbal commented on #3727
The right example would be https://semgrep.dev/s/zxPn.

[2021-11-04 13:38] mhoffm-aiven commented on #4209
I understand! could you help with that? how would the generic pattern look for "match above `package xxx` ?

[2021-11-04 18:00] stephencsnow commented on #4151
Thank you @nbrahms!

[2021-11-04 18:00] #4151 closed, assigned to nbrahms

[2021-11-04 18:03] aryx commented on #4209
maybe @minusworld or @mjambon could help

[2021-11-04 20:17] ievans commented on #4209
how about https://semgrep.dev/s/Z4d4 with generic?

[2021-11-04 23:21] brendongo opened #4213 "brew auto-pr is removing ruamel.yaml.clib dependency"
**Describe the bug**
When creating an auto homebrew PR, it removes the ruamle.yaml.clib resource

Looks like this is because ruamel only lists clib as a dependency when running python < 3.10
https://sourceforge.net/p/ruamel-yaml/code/ci/default/tree/__init__.py#l16

And in our release script https://github.com/returntocorp/semgrep/blob/develop/.github/workflows/release.yml#L303 we install pipgrip

[2021-11-04 23:22] r2c-demo commented on #4213
This issue is synced in Linear at https://linear.app/r2c/issue/PA-659/brew-auto-pr-is-removing-ruamelyamlclib-dependency.

[2021-11-04 23:36] emjin opened #4214 "Semgrep scales linearly with number of languages"
From https://github.com/returntocorp/semgrep-rules/pull/1590:

This is because we send rules by language to semgrep-core. We should either send language-specific files with each rule or let semgrep-core do file filtering.

[2021-11-04 23:38] r2c-demo commented on #4214
This issue is synced in Linear at https://linear.app/r2c/issue/PA-660/semgrep-scales-linearly-with-number-of-languages.

[2021-11-05 10:07] mjambon opened #4217 "bash: simple command pattern shouldn't match pipeline containing it"
Pattern:
[code]
Shouldn't match the following target:
[code]

https://semgrep.dev/s/4eJ9

[2021-11-05 10:09] r2c-demo commented on #4217
This issue is synced in Linear at https://linear.app/r2c/issue/PA-661/bash-simple-command-pattern-shouldnt-match-pipeline-containing-it.

[2021-11-05 10:23] aryx commented on #4209
nice isaac!

[2021-11-05 10:24] mhoffm-aiven commented on #4209
Works for me! Thanks for your help everyone!

[2021-11-05 13:01] aryx commented on #4209
Closing then.

[2021-11-05 13:01] #4209 closed, assigned to nobody

[2021-11-05 13:59] hudsonma opened #4220 "Parse failure when using 'override' keyword in TypeScript"
**Describe the bug**
When using the 'override' keyword, several rules result in warnings that cause the GitLab CI analyzer to fail with status code 3.  The 'override' keyword was added in TS 4.3: https://www.typescriptlang.org/docs/handbook/release-notes/typescript-4-3.html#override-and-the---noimplicitoverride-flag

[code]

**To Reproduce**
https://semgrep.dev/s/WpdE

**Expected behavior**
Parsin

[2021-11-05 14:00] r2c-demo commented on #4220
This issue is synced in Linear at https://linear.app/r2c/issue/PA-662/parse-failure-when-using-override-keyword-in-typescript.

[2021-11-05 18:42] rgraber opened #4221 "python rules do not match list comprehension correctly"
**Describe the bug**
Using a python rule to match a list comprehension fails, in certain cases, to correctly match the full expression, resulting in extra `]`s appearing after fixes are applied. Also, possibly a separate bug, repeated metavariables don't seem to work inside a list comprehension.

**To Reproduce**
https://semgrep.dev/s/0ykw

**Expected behavior**
1. I expect ```$Z = [ $X for $X in

[2021-11-05 18:43] r2c-demo commented on #4221
This issue is synced in Linear at https://linear.app/r2c/issue/PA-664/python-rules-do-not-match-list-comprehension-correctly.

[2021-11-05 19:07] rgraber commented on #4221
Updated version of rule to demonstrate where we first encountered this: https://semgrep.dev/s/5D50

We have a method `very_important_method()` that was copied and pasted across several repositories. We want to update this method with the new standard across several repositories. However, whenever the current implementation of `very_important_method` ends with a list comprehension, somehow the very

[2021-11-06 09:53] 4390c336 commented on #3974
trying to get around it by using `\x{CODE}` is also not working :
[code]

[2021-11-08 01:14] #1950 closed, assigned to nobody

[2021-11-08 08:38] mjambon commented on #3974
I asked the question of supporting more Unicode properties such as `Bidi_Control`: https://github.com/PhilipHazel/pcre2/issues/39

[2021-11-08 08:47] mjambon commented on #3974
@4390c336 thanks for the report. Our code is missing a flag for this to work. I'll fix it, hopefully in time for this week's release (semgrep 0.72).

[code]

[2021-11-08 09:12] #3727 closed, assigned to IagoAbal

[2021-11-08 10:42] aryx commented on #3387
@dgryski the go autofix should work now.

[2021-11-08 12:34] #2746 closed, assigned to nobody

[2021-11-08 13:49] rgraber commented on #4221
More updates: I'm unclear if this is the same issue but it seems similar even though it's not actually a list comprehension. A method that ends with a long compound boolean expression was not matched correctly: https://semgrep.dev/s/66G1

[2021-11-08 16:16] aryx commented on #4221
hmm you see @emjin with this last example I am more and more tempted to use ParenExpr there too

[2021-11-08 17:04] LewisArdern opened #4228 "Missing detection for try method value"
**Describe the bug**
Semgrep currently fails to detect values within a try statement https://semgrep.dev/s/0ykj
[code]
In java semgrep translates it to try { body } in the generic AST and completely forgets about $VALUE.

Semgrep should detect the $VALUE of the try not just the body. There are a lot of cases where code examples in Java show this, and it would be important to detect the use.

**To

[2021-11-08 17:06] r2c-demo commented on #4228
This issue is synced in Linear at https://linear.app/r2c/issue/PA-668/missing-detection-for-try-method-value.

[2021-11-08 17:20] emjin commented on #3685
Still relevant

[2021-11-08 17:38] IagoAbal commented on #4228
We could perhaps encode this combining `WithUsingResource` and `Try`?

[2021-11-08 18:35] emjin opened #4229 "Inconsistent error behavior for configs"
If we run semgrep on a folder where one of the configs has an error, we will abort and exit with 7. However, if we run semgrep with those configs individually, we will still run the working config and exit with 4. We should make these behave in the same way.

Note: gitlab would prefer we always fail fast on configs.

The configs tested with:

With error:
[code]

Without error:
[code]

These were t

[2021-11-08 18:35] #1804 closed, assigned to aryx

[2021-11-08 18:37] #4160 closed, assigned to nobody

[2021-11-08 18:40] nbrahms commented on #2369
Fixed in current Semgrep

[2021-11-08 18:40] #2369 closed, assigned to nobody

[2021-11-08 18:43] nbrahms commented on #2781
@mjambon Has this tree-sitter parser been integrated? We still seem to be getting a parse error in current Semgrep.

[2021-11-08 18:58] nbrahms commented on #3544
Closing in favor of returntocorp/semgrep-app#3041

[2021-11-08 18:58] #3544 closed, assigned to nobody

[2021-11-08 19:04] nbrahms commented on #3666
Moving to enhancement as tags are, alas, part of the YAML standard

[2021-11-08 19:06] nbrahms commented on #3794
Hmm, I think the user in this case should add the self-signing root to their local ssl certs. This does mean that they should not run with the docker image.

[2021-11-08 19:08] nbrahms commented on #3794
As a workaround @vdbaan , you may want to:

[code]

[2021-11-08 19:09] nbrahms commented on #3794
@vdbaan I know this may not be the outcome you're looking for, but I think we should probably close this as a wont-fix due to the unique security aspects involved here, and the fact that copying the repo should make things work.

Please do re-open if you disagree with my thinking here. And thanks for the report!

[2021-11-08 19:09] #3794 closed, assigned to nobody

[2021-11-08 19:13] nbrahms commented on #3804
@jbdoster

Do you have a Semgrep.dev link to code you've tried?

In the interim, it appears that https://semgrep.dev/s/y1EP is at least one failing example

[2021-11-08 19:17] nbrahms commented on #3904
Should be fixed in Semgrep 0.70.0

[2021-11-08 19:17] #3904 closed, assigned to nobody

[2021-11-08 19:20] nbrahms commented on #3967
This is more of a "confusing UX" issue; which we should probably address by getting rid of pattern-not altogether, or switching to the boolean syntax (cf. #1489)

[2021-11-08 19:21] nbrahms commented on #3975
Moved to semgrep-app

[2021-11-08 19:21] #3975 closed, assigned to nobody

[2021-11-08 19:22] nbrahms commented on #3988
Closing in favor of the Linear issue

[2021-11-08 19:22] #3988 closed, assigned to nobody

[2021-11-08 19:24] nbrahms commented on #4153
Closing in favor of Linear issue

[2021-11-08 19:24] #4153 closed, assigned to nobody

[2021-11-08 19:27] nbrahms commented on #4182
This code isn't valid JSX. When I try using `node`:
[code]

Going to close this as a bug. Would be curious on your thoughts re potential improvements to error reporting, however.

[2021-11-08 19:27] #4182 closed, assigned to nobody

[2021-11-08 19:31] nbrahms commented on #4184
Hi @nedbat ,

Since Semgrep is a semantic search tool, it _should_ treat concatenated strings as a single string, both in the pattern and code. This means that Semgrep is not appropriate for checking style. I'd love to hear more about your use case, and what you're trying to achieve, however. I'm also adding @milanwilliams who I know is trying to understand better how people are using Semgrep.

In

[2021-11-08 19:34] nbrahms commented on #4186
@brendongo with the space, perhaps the `~` is being expanded by zsh (rather than Semgrep)?

[2021-11-08 19:35] nbrahms commented on #4186
Repro on zsh:
[code]

[2021-11-08 19:38] nbrahms commented on #4188
@aryx Probably relates to results streaming

[2021-11-08 19:38] nbrahms commented on #4190
On this quarter's roadmap :D

[2021-11-08 19:40] nbrahms commented on #4199
Shoutouts for the detailed and informative bug report 🙏

[2021-11-08 21:36] nedbat commented on #4184
@nbrahms thanks for the discussion.  The fact is, semgrep did a good job finding implicitly concatenated strings.  This isn't a style issue, it's about whether you use `"x" "y"` to produce a string or `"x" + "y"`.

I used this config:
[code]
on this file:
[code]
It reported one finding:
[code]
The strings on lines 4 and 5 are explicitly concatenated, so they were not reported.  The strings on 6 an

[2021-11-08 21:37] nedbat commented on #4184
(I don't seem to be able to re-open...)

[2021-11-08 22:12] roisec commented on #4191
+1

[2021-11-08 23:17] brendongo commented on #4186
Oh wow would not have thought that would make a difference. Thanks for the bug report @nedbat!

[2021-11-09 00:47] colleend opened #4234 "Kotlin metavariable equality statements"
**Describe the bug**
Kotlin metavariable equality statements (in if-else statements) do not match on expected code snippets.

**To Reproduce**
semgrep.dev currently isn't working for Kotlin (keeps giving wrong matches). What I'm running is:

_sgrep file:_
[code]

_kotlin file:_
[code]

**Expected behavior**
I would expect there to be a match on the first if-else statement, but there are currently

[2021-11-09 01:29] emjin opened #4238 "Semgrep will timeout multiple times on parsing a file"
Scenario: two rules, run on the same file. Parsing the file times out. Semgrep will try to parse the file both times.

Example:

(First rule is not parsed because it can be filtered out; it is only there because the later yaml rules reference it)

[code]

Command:
[code]

[2021-11-09 01:32] emjin opened #4239 "Tree-sitter times out parsing yarn.lock file"
Run:

Create config:
[code]

➜  semgrep-app git:(develop) semgrep --config [config] frontend/yarn.lock --time --debug

[2021-11-09 01:33] emjin commented on #4238
Fix: we should cache the fact of failures

[2021-11-09 09:15] aryx commented on #3539
One thing we can do during the release process, as Iago suggested, is to update the semgrep-rules submodule to
use the latest semgrep-rules. We can also run a check to transform certain todoruleid: in regular ruleid: when the engine
recognizes them correctly.

[2021-11-09 10:49] TinMarkovic commented on #4191
I am unable to reproduce as of now.

This semgrep run went through without issues even with `generateSarif` configured: https://github.com/TinMarkovic/django.nV/runs/4150815248?check_suite_focus=true

Can you give me more tips to help me reproduce? Specifics of your repo, any kind of pattern you might consider an important difference than the test repo I use?

[2021-11-09 10:53] #3974 closed, assigned to nobody

[2021-11-09 12:47] krutskikh commented on #4188
Hi,
I tried to make test-example to reproduce the problem, but it works locally without problem...
I agree with @nbrahms it seems like a streaming problem.

For example I use these public config: --config "p/owasp-top-ten" or  --config "p/javascript"

Full stream on subprocess log:
[code]
I created example project closed to original, it may help you, but I can't reproduce the problem locally
[exam

[2021-11-09 13:29] #4187 closed, assigned to nobody

[2021-11-09 15:00] aryx commented on #4238
We do! When we use cached ASTs we cache whether it was a parse failure.

[2021-11-09 15:05] aryx commented on #4234
I think it's because $S matches a single statement. You put those $S inside { } so it will only match blocks with one statement.
But you can get $S to match a whole block (which is a single statemnet) with
[code]

To double check.

[2021-11-09 15:37] krutskikh commented on #4188
Maybe it's a conflict between uwsgi stream and semgrep stream?
Semgrep tried to write log and uwsgi tried to send pid log every 5 sec:

[code]

[2021-11-09 17:49] minusworld commented on #3539
I'm also happy to work with you all on this - sorry about all the trouble from last week.

From our standpoint, our main desire is that rules that make it all the way to registry are able to run on the latest released version of Semgrep that's in all the package managers. i.e., we don't want someone to try and run a rule that won't work on the most recently available version. This is what `test-la

[2021-11-09 18:52] emjin commented on #4238
Ah then we should also cache timeouts. Or if we already do, then I don't know why this one happened, but when I ran the entire semgrep-app rule config on it the file tried to parse and timed out 140 times.

[2021-11-09 19:47] colleend commented on #4234
I see, that makes sense. hmm, changed it to that and still getting no matches 🤔 ,  but
[code]
works. This might be because of the newline parsing issue with a newline after the `else` in `if_expressions` 🤔  (so might be fixed after your PRs to tree-sitter!)

[2021-11-09 20:20] mjambon commented on #2781
@nbrahms yes, the tree-sitter integration was done, so we can now parse a target program successfully:
[code]
However, it's not supported as a pattern, since we use the pfff parser for this:
[code]

[2021-11-09 20:20] #2781 closed, assigned to mjambon, nbrahms

[2021-11-09 20:24] mjambon commented on #2781
@nbrahms we should reopen this issue if you confirm that we're getting a parse error on a target.

[2021-11-09 20:30] mjambon opened #4244 "Javascript pattern parsing error on: export * as name1 from "someModule";"
Targets are now be parsed successfully but not patterns because they use a different parser. See https://github.com/returntocorp/semgrep/issues/2781#issuecomment-964505218.

Pattern parsing fails:
[code]

Target parsing succeeds:
[code]

[2021-11-09 20:44] mjambon commented on #3666
We need yaml quotes around the pattern e.g. `"!true"`. This works fine in the live editor now, see https://semgrep.dev/s/mjambon:not-true
Closing.

[2021-11-09 20:44] #3666 closed, assigned to nobody

[2021-11-09 20:58] mjambon commented on #3974
Regarding the support of more Unicode character properties in PCRE, I [reported the issue and Philip Hazel himself said he might take a look](https://github.com/PhilipHazel/pcre2/issues/39#issuecomment-963935118). If this gets done, there would still be a significant amount of work to get this to work with OCaml, since [pcre-ocaml uses the old PCRE API, not PCRE2](https://github.com/mmottl/pcre-oc

[2021-11-09 21:49] pbderr commented on #3090
I'd like to be able to scan embedded-SQL C code as C (as processed by Oracle Pro*C).  In our project these files are named `*.sc`.  I've tried adding that extension in the C_EXTENSIONS definition in target_manager_extensions.py and that works, but it really needs to be an option.  The user should be able to add to or modify the mapping of file name extensions to languages .

[2021-11-09 23:38] #4186 closed, assigned to brendongo

[2021-11-09 23:45] mjambon commented on #4239
It's a performance problem during parsing. I can reproduce with the following command, on the `frontend/yarn.lock` from semgrep-app (15467 lines):
[code]
It's resistant to ^C, which I guess has to do with a signal that can't be delivered due to no syscall being made. This is rarely the case in OCaml, so I'm leaning toward an issue in the C code generated by tree-sitter. Let me see if I can reprodu

[2021-11-10 00:15] mjambon commented on #4239
The slowness is due to the tree-sitter parser being fed weird input:
[code]
This takes 25 s, which is high but less than the 43 s we get from semgrep-core. Could be a difference in compilation flags.

Also, ^C works. I don't know why it doesn't work with semgrep-core.

By shortening the file, parsing times decrease fast. I haven't managed to get a file under 1000 lines that takes over a second to

[2021-11-10 08:34] aryx commented on #4234
Maybe. I'll check!

[2021-11-10 08:38] aryx commented on #4187
Should work now, as long as you set the 'arrow_is_function' and 'flddef_assign' config in your yaml file, as shown in one of the example in the associated PR #4242

[2021-11-10 11:59] aryx commented on #4244
I remember you tried at some point to extend the semgrep-javascript (or semgrep-typescript) to also support the pattern syntax. Do you think you can resume the work?

[2021-11-10 17:35] ievans opened #4252 "C parser failure"
I *think* this is valid C, but it fails to parse: https://semgrep.dev/s/DzrP

[2021-11-10 17:38] aryx commented on #4252
What is this syntax?
[code]
I never saw those {"secret"} thing.

[2021-11-10 17:42] aryx commented on #4252
Can we close then? if it's actually not valid syntax ...

[2021-11-10 17:47] ievans commented on #4252
Yes, will re-open when I have a proper snippet.

[2021-11-10 17:47] #4252 closed, assigned to aryx

[2021-11-10 19:43] chgg-kboberg opened #4253 "Taint mode appears to be broken for some languages"
**Describe the bug**
Taint mode sanitizers don't seem to work in C#.  Source/Sink seems to work fine though.  See attached semgrep.dev link.

**To Reproduce**
https://semgrep.dev/s/kboberg@chegg.com:asp_taint_test

**Expected behavior**
Sanitizer definitions correctly perform cleanses for taint tracking.

**Screenshots**
N/A

**What is the priority of the bug to you?**

- [ ] P0: blocking your ado

[2021-11-10 20:04] colleend commented on #4234
I'm going to close this issue then because it works (and newline is separate issue :D)

[2021-11-10 20:04] #4234 closed, assigned to nobody

[2021-11-10 21:33] mjambon commented on #4244
Yes, that makes sense now that we only maintain a tree-sitter typescript parser rather than a parser for javascript and another one for typescript.

[2021-11-10 22:18] brendongo commented on #3788
@erwanlr I think this is beyond the scope of semgrep for the near future and can be handled by a script that calls semgrep selectively over files after using semgrep on readme,md files. Closing since we dont plan on baking this functionality into semgrep.

We might consider adding file targeting with regex on the file name but probably not on rules firing on one file determining what other files t

[2021-11-10 22:18] #3788 closed, assigned to nobody

[2021-11-10 23:37] minusworld opened #4254 "[C# & Java] Property chaining not captured"
**Is your feature request related to a problem? Please describe.**
A pattern like `model.$PROP` matches `model.property` but not `model.parent.child`.

C# example:
https://semgrep.dev/s/xqwL

**Describe the solution you'd like**
I would like to express a version of this pattern to match any number of chained properties. Perhaps the `$...PROP` syntax could be used here.

**Additional context**
Spec

[2021-11-10 23:40] minusworld opened #4255 "[Join mode] Optional conditions"
**Is your feature request related to a problem? Please describe.**
Join mode needs some kind of "must-match" counter or optional designation.  Not all of the properties are guaranteed to match, particularly if you're manually enumerating stuff: Model.Foo vs Model.Foo.Bar?

**Describe the solution you'd like**
A condition similar to the following:

[code]

Also see these links:
- https://semgrep.de

[2021-11-10 23:42] chgg-kboberg commented on #4254
So this does...kinda work, just not like you'd expect.  if you do `$A.$B` against `Foo.Bar.Biz` with a message like `"A is $A and B is $B"` you get` "A is Foo.Bar and B is Biz"`, which is...workable but should probably be the other way around.  The aggressive capturing group should be the last one (which is backwards from useful behavior in generics).  Maybe a control character for inverting metav

[2021-11-10 23:42] minusworld opened #4256 "[Join mode] Debugging output"
**Is your feature request related to a problem? Please describe.**
Title says it all: join mode output does not help with debugging and is relatively unclear.

**Describe the solution you'd like**
Output debugging info (for the rule author) with join mode when verbosity is high.

[2021-11-11 01:07] gordonwoodhull commented on #3801
Thanks @IagoAbal for the suggestion of how to implement this functionality. I implemented it successfully!

I will offer an experience report now, and if my project continues next year I will clean up my changes, write tests, and contribute a PR.

I found the Semgrep code surprisingly easy to read given how powerful it is. Well commented and just the needed abstractions. Kudos!

Okay, here are the

[2021-11-11 01:47] ievans commented on #4185
@s3rius , did the approach @Kolaer posted unblock you?

[2021-11-11 10:07] IagoAbal commented on #4253
Thanks for the report @chgg-kboberg! I fixed you rule: https://semgrep.dev/s/nK2Y, this should work. Let me know if you have other cases where it doesn't work and I can help you fine-tuning it.

If you have 15-20 minutes I also recommend you reading https://r2c.dev/blog/2021/taint-mode-is-now-in-beta/. For example, when you declare `- pattern: public ActionResult $CMETHOD(...,string $STRING,...){.

[2021-11-11 11:28] s3rius commented on #4185
Yes, it helped. But it looks really weird. Is it ok?

[2021-11-11 11:29] s3rius commented on #4185
If it is,  feel free to close the issue.

[2021-11-11 11:29] IagoAbal opened #4258 "Semgrep 0.72.0 tries to analyze .png files and crashes"
**Describe the bug**
Semgrep 0.72.0 tries to analyze .png and other binary files and then crashes with `Pcre.Error(BadUTF8)`:
https://r2c-community.slack.com/archives/C0242656NQ2/p1636567860034600. Affects paying customers.

**To Reproduce**
This can be reproduced on this public repo https://github.com/RecordReplay/devtools/, see https://github.com/RecordReplay/devtools/runs/4169052484?check_suite

[2021-11-11 11:46] IagoAbal commented on #4258
cc @mjambon

[2021-11-11 12:50] IagoAbal commented on #4254
Let's say that we match `model.$PROP` with `model.parent.child`, what should `$PROP` be? The problem is that `model.parent.child` is really `(model.parent).child`.

~If you are just interested in matching, then we have a feature for this, that allows to use `...` to match a chain of properties. But it may not yet be supported in C#.~ Edited: The feature we have is for matching a chain of method ca

[2021-11-11 12:55] aryx commented on #4254
Maybe this is another usecase for $...PROPS metavariables.

[2021-11-11 14:07] IagoAbal commented on #4254
What about extending method chain patterns https://semgrep.dev/docs/writing-rules/pattern-syntax/#method-calls to attribute chains?

[2021-11-11 14:22] aryx commented on #4254
Sounds good to me!

[2021-11-11 15:32] IagoAbal commented on #4258
cc @brendongo @mmcqd

[2021-11-11 15:39] IagoAbal opened #4260 "[Python] Cannot write a pattern to find useless list comprehensions"
Reporting on behalf of @mhoffm-aiven.

**Describe the bug**
Pattern `[$X for $X in $ITERATOR]` does not match `[v for v in iterator]`. The cause seems to be that in Generic, the first `v` is an expression id, whereas the second `v` is a pattern id. We should probably consider both equal when they bind to the same metavariable.

**To Reproduce**
https://semgrep.dev/s/Q91Z

**Expected behavior**
Pat

[2021-11-11 16:29] SoftwareApe opened #4261 "Autofix for Python exit -> sys.exit doesn't work in 0.72.0"
**Describe the bug**
When runnin autofix on a Python codebase I noticed exit is replaced with sys.exit, but semgrep fails to use the right return code.

e.g.
`exit(1)`

becomes `sys.exit($X)`

**To Reproduce**
autofix python with exits.

**Expected behavior**
should produce the same return code.

**Screenshots**
![grafik](https://user-images.githubusercontent.com/17566442/141333665-ac159c12-246b-4

[2021-11-11 16:56] chgg-kboberg commented on #4253
Thanks @IagoAbal.  Semgrep rule docs for taint mode probably need the extended docs from the "cookbook" at the end of the blog - I use the Semgrep documentation as my "source of truth" and didn't think to go check the blog for functionality documentation.

[2021-11-11 17:46] dee-see opened #4262 "PHP Alpha: public function causes invalid pattern"
**Describe the bug**

Seems like having `public` in the pattern causes an error

**To Reproduce**

https://semgrep.dev/s/krg2

**Expected behavior**

It should work :)

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P

[2021-11-11 17:48] dee-see opened #4263 "PHP Alpha: Unable to match on a function"
**Describe the bug**

I've been playing with this pattern and I just can't figure out how to have a pattern that matches a function, any function really. Am I doing something wrong or it's really a bug?

**To Reproduce**

https://semgrep.dev/s/Pbjz

**Expected behavior**

Demo above should match

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority o

[2021-11-11 18:10] ievans commented on #4185
Great :) Let's keep the issue open, because your approach *ought* to work so there is still a bug here. But hopefully it is no longer a P0 blocker for you!

[2021-11-11 18:20] IagoAbal commented on #4253
Have you checked the docs recently? When we published the blog post we also updated the docs: https://semgrep.dev/docs/writing-rules/data-flow/taint-mode/. I pointed you to the blog post because I think it provides some more context that can be interesting/helpful to know about, but for sure the docs should contain all the essential info. Let me know if you are missing something, you can find the

[2021-11-11 18:40] chgg-kboberg commented on #4253
Not recently enough it seems.  This is a no-op then.

[2021-11-11 18:40] #4253 closed, assigned to IagoAbal

[2021-11-11 22:11] ievans opened #4265 "Java control flow analysis false positive"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Running on [this java file](https://github.com/eclipse/jetty.project/blob/b06ccf286d8b72c745883a8218e065cba455dcf4/jetty-websocket/websocket-jetty-common/src/main/java/org/eclipse/jetty/websocket/common/JettyWebSocketFrameHandler.java#L463)

there is a false positive on the $X == $X rule. See https://semgrep

[2021-11-11 23:31] emjin commented on #4265
![image](https://user-images.githubusercontent.com/5942585/141383512-d7fc9f9f-8feb-4829-a850-27c5bee17e57.png)

[2021-11-12 03:34] jayvdb commented on #4258
I encountered this on 0.72 with zips, tar.gz, .eot, .ttf, .woff(2).   I was able to workaround it with both `.semgrepignore` and the semgrep app ignore overrides.

[2021-11-12 08:46] IagoAbal commented on #4258
This happens using the `regex` language.

[2021-11-12 10:37] aryx commented on #4261
Do you have a semgrep.dev playground link so we could try to reproduce?

[2021-11-12 10:39] aryx commented on #4260
I had some refactoring I wanted to do to remove Metavariable.Id and just keep Metavariable.Name. This might solve this issue.

[2021-11-12 13:59] #4258 closed, assigned to nobody

[2021-11-12 15:43] IagoAbal commented on #3801
Wow, very nice @gordonwoodhull ! I am looking forward to seeing that PR.

I think that if we add something like `pattern-inside-taint` then those circular dependencies are natural and we'll deal with them. I think we had a bit of that when we added `metavariable-pattern` too. Mutually recursive types are not a problem. But we may want to merge `Tainting_generic` with `Match_rules`.

Let's think ab

[2021-11-12 16:04] roisec opened #4274 "Semgrep hidden files"
Hi,
I want to scan my repos by semgrep and scan secrets on hidden files.
When .env is in my repo the semgrep ignore him by default.
How can I disable it?

Thanks

[2021-11-12 16:12] #4091 closed, assigned to nobody

[2021-11-12 18:18] IagoAbal commented on #4265
Also, we get some of those `Could not resolve label: _label` warnings here... let's fix both.

[2021-11-12 19:18] emjin opened #4275 "Error when multiple rules are found with the same id but different behavior"
Implicitly, ids of rules are assumed to be unique. The metadata may be different, but the pattern/mode/language is expected to be the same. If this assumption is violated, error.

[2021-11-13 00:49] #4275 closed, assigned to nobody

[2021-11-13 01:38] gordonwoodhull commented on #3388
Another experience report. Solution for this and #3577 is relatively simple.

1. Remember a line offset, column offset, and active line per active file. Assume there is no overlap in matches and they are sorted by line/column.
2. If the next match is on the active line, it will need the column offset; all matches get the line offset
3. Update the offsets and active line. Four cases fall out for th

[2021-11-13 01:39] gordonwoodhull commented on #3577
Outline of solution in https://github.com/returntocorp/semgrep/issues/3388#issuecomment-967756894.

Hope to contribute soon.

[2021-11-13 20:13] dozernz commented on #4263
Your test code needs a PHP opening tag. See: https://semgrep.dev/s/dozernz:pbjz for a working example

[2021-11-13 20:27] dozernz opened #4277 "PHP: Sanitize by side effect does not work"
**Describe the bug**
I cannot create a PHP rule in taint mode that uses the side-effect sanitizing feature (as per https://r2c.dev/blog/2021/taint-mode-is-now-in-beta/#sanitized-by-side-effect).

**To Reproduce**
https://semgrep.dev/s/dozernz:phpsideeffect

**Expected behavior**
The $vuln var should be matched , but not the $notvuln var. However both are matched.

**What is the priority of the bug

[2021-11-13 22:16] dee-see commented on #4263
Ugh, not proud of that one haha. Thanks!

[2021-11-13 22:16] #4263 closed, assigned to aryx

[2021-11-13 22:17] dee-see commented on #4262
Modified the snippet to include the opening PHP tag (my bad) but it still doesn't work

https://semgrep.dev/s/krg2

[2021-11-13 23:21] gordonwoodhull opened #4278 "patterns as anchors for inserting statements with autofix"
### Problem

Sometimes when fixing vulns, it's sufficient to add some statements in the right place, using metavariables bound on patterns found in an "anchor statement", without modifying any existing statements.

For example, take:

[code]

When we encounter a statement containing the dangerous expression `new File(path)`, we want to insert some statements validating the path and throwing if it'

[2021-11-14 04:20] dee-see opened #4279 "Java: Can't match across methods in a file"
**Describe the bug**

I'm trying to find calls that flow from one method to another but it doesn't appear to work. Is that not supported in Java or is my rule wrong? Here's a working example in Ruby https://semgrep.dev/s/Z4Xo

**To Reproduce**

https://semgrep.dev/s/d2xd

**Expected behavior**

I'd expect the rule to match

**Screenshots**
If applicable, add screenshots to help explain your proble

[2021-11-14 06:44] Sebastian1011 opened #4280 "golang: taint tracking"
**Is your feature request related to a problem? Please describe.**
I'm trying to track where the data flows from a thrift handler param , but got an Error:
 Pattern parse error: In rule tacing: Invalid pattern for Golang

my rules yaml looks like follows:

[code]

**Describe the solution you'd like**
Is there any sugestion, how to write taint tracking rules in this case.

[2021-11-14 09:51] aryx commented on #4280
Do you have a semgrep.dev/editor link? It's easier for us to reproduce the bug.
BTW I think you need the 'func' keyword before sourcefunction in your pattern-inside.

[2021-11-14 09:51] aryx commented on #4280
tagging with metachecker to improve error location

[2021-11-14 15:04] nightwatchcyber opened #4281 "License confusion"
The licensing for semgrep CLI (not the rules) seems to be LGPL as indicated here:
https://github.com/returntocorp/semgrep/blob/develop/LICENSE
https://pypi.org/project/semgrep/
https://semgrep.dev/docs/faq/

However, within the source there are other licenses that appear such as AGPL, Apache and GPL, and some of this code is shipped with semgrep (such as spacegrep):
https://github.com/returntocorp

[2021-11-14 19:48] Piccirello commented on #4187
@aryx Thank you for the quick fix!

[2021-11-15 11:15] IagoAbal commented on #4277
Hi @dozernz, I fixed your example here: https://semgrep.dev/s/Dz1o

Thanks for taking the time to open an issue, I will clarify this in the docs. BTW, I am just curious, are you new to Semgrep and trying taint mode? Please let me know if I can help you with other taint rules, and if you want we can chat via r2c's community Slack. I am very interested in gathering feedback around taint-mode.

Note

[2021-11-15 11:27] IagoAbal commented on #4274
@RoiSec is `.env` in your `.gitignore`, is it listed in `git ls-files`?

You are welcome to ask questions here in GitHub but I recommend you joining http://r2c.dev/slack for that, you will probably get answers much quicker, and you can also get help from other Semgrep users.

[2021-11-15 11:43] IagoAbal commented on #4280
Hi @Sebastian1011, I fixed an example for you https://semgrep.dev/s/0yJ5, let me know if it helps.

[2021-11-15 11:50] IagoAbal commented on #4279
Hi @dee-see, this seems to work this way https://semgrep.dev/s/qYvy. I am not sure why you need the class declaration in the Java pattern but not in the Ruby pattern, we need to investigate this. For now I just wanted to give you a solution.

[2021-11-15 12:07] Sebastian1011 commented on #4280
OK，I will try it.

[2021-11-15 12:09] Sebastian1011 commented on #4280
It works! Thank you so much

[2021-11-15 12:09] #4280 closed, assigned to nobody

[2021-11-15 12:40] dee-see commented on #4279
Awesome, thanks a lot for the workaround @IagoAbal !

[2021-11-15 14:42] #3020 closed, assigned to nobody

[2021-11-15 16:02] nbrahms commented on #4281
@ievans @mjambon @aryx can y'all work together to resolve these discrepancies?

[2021-11-15 16:03] aryx commented on #2451
👋

[2021-11-15 16:22] #4229 closed, assigned to mmcqd

[2021-11-15 16:39] brendongo commented on #4213
Looks like homebrew core expects a brew installed pipgrip to exist and calls that specifically. But brew only installs pipgrip with python 3.10

[2021-11-15 16:55] gordonwoodhull commented on #4278
Forgot to mention prior art: this is equivalent to one use of context lines in SmPL, lines without `+` or `-` which need to be matched but are not deleted or added, preceded or followed by `+` lines.

[2021-11-15 19:05] ievans commented on #4281
Hi @nightwatchcyber,

The source for semgrep itself (this repository) is LGPL-2.1 licensed, but as you mention we embed many different sub-repositories which have different licenses. More permissive licenses such as Apache and MIT are well-understood to not pose a problem in such a project, but others, for instance AGPL, do. Fortunately our company (r2c) is the copyright holder by virtue of being

[2021-11-15 19:09] emjin opened #4283 "Add a whole semgrep-rules check for rules with the same id but different fields"
While we deduplicate rules by id and behavior, it's also not desired for two rules in our repo to have the same id but do different things. Maybe we can add a warning: "another rule already has this id"

[2021-11-15 19:46] dozernz commented on #4277
Hi,

Thanks for clarifying and creating a fixed example, I can see how it works now. When I read the blog post I had incorrectly assumed the `...` on the newline was a placeholder for other rules, rather than actually part of the rule.

Yes, I have only used it once before. This was the first complex rule I tried to write using taint mode (which is very helpful). If I have any more questions I wil

[2021-11-15 19:46] #4277 closed, assigned to IagoAbal

[2021-11-16 01:15] emjin commented on #2503
Still relevant

[2021-11-16 10:48] Sebastian1011 opened #4284 "Taint tracking across mulit golang src files"
I have successfully achived taint tracking in single golang file.
But I need to do taint tracking across multi golang source files.
I'm curious how to write the rules.
For example, Project structure like follows and I want to find out relation between variable a in File1 and fmt.Println(name) in File3 :

File1.go
[code]
File2.go
[code]
File3.go
[code]

[2021-11-16 15:53] IagoAbal commented on #4284
@Sebastian1011, the short answer is that Semgrep only does intra-file analysis, that is, it analyzes one file at a time and in isolation.

That said, we have an experimental feature https://semgrep.dev/docs/experiments/join-mode/ that may help here. It allows running multiple rules and then "joining" their results. You should be able to use it for taint tracking rules too.

[2021-11-16 16:42] IagoAbal commented on #4278
Not an expert on _autofix_, and I would have to read this more carefully to understand all the details (may need more examples too). Are you thinking to implement this yourself?

Capturing the AST matched by a deep-expr pattern into a metavariable should be easy. On the engine side, this probably just needs a change in  `Generic_vs_generic`. Don't know what would be the right syntax though, maybe

[2021-11-16 21:02] #4204 closed, assigned to ievans, brendongo

[2021-11-17 01:10] #4213 closed, assigned to nobody

[2021-11-17 07:13] emjin commented on #3653
I just realized we would need to add anchors and aliases in semgrep-core YAML parsing, so there's a bit of work still. (Which we should do anyway)

[2021-11-17 07:29] xmo-odoo opened #4294 "Autofix ought fix up imports when it can"
**Is your feature request related to a problem? Please describe.**
The autofix feature is neat, however in Python (and likely others e.g. Go) when autofixing a snippet (or existing call) to e.g. a function call from the standard library, a second pass is necessary in >90% of cases because odds are good the module(s) used in the fix are not imported.

**Describe the solution you'd like**
Ideally, s

[2021-11-17 08:06] RunFox opened #4295 "semgrep does not work on windows 10"
Hello. I use pip3 to install semgrep locally. Install succsesfull. But when i try ro run it - it gives error:
"import resource
ModuleNotFounError: No module named 'resource'

Environment: Windows 10, pip3, python 3.7.3

[2021-11-17 08:58] aryx commented on #3576
:wave:

[2021-11-17 12:37] aryx commented on #4295
Yes we support Semgrep on Windows only under WSL.

[2021-11-17 12:45] RunFox commented on #4295
Hello, @aryx . Thank you for reply

[2021-11-17 12:49] #4295 closed, assigned to nobody

[2021-11-17 13:49] #4262 closed, assigned to aryx

[2021-11-17 13:50] aryx commented on #4262
Should work in the next release (or if you use develop).

[2021-11-17 13:55] dee-see commented on #4262
Awesome, thanks!

[2021-11-17 18:01] clintgibler commented on #4254
Extending method chain patterns sounds good to me for cases in which you're not trying to capture parts of it in metavariables 👍

I'll let @chgg-kboberg weigh in on if that's sufficient for his needs.

[2021-11-17 18:07] gordonwoodhull commented on #4278
Thanks @IagoAbal!

Yes, I will implement some form of this for my demo, and it would make sense to contribute since it's one of the things I can't do with a wrapper script.

Here is a simpler, more relatable example.

It's a joke example but pretty close to what we do to remediate XXE vulnerabilities, where we need to disable dangerous factory and parser options which are enabled by default.

Say

[2021-11-17 18:13] chgg-kboberg commented on #4254
Ellipsis support in property chains would be sufficient.  Generally speaking, you need to match a root object type and a leaf property name, and there are N layers in between that are (probably) unimportant, unless you have high property name duplication across subfields, in which case you have an unreadable object model (and bigger problems).

[2021-11-17 20:34] clintgibler opened #4300 "Add `...` for method chaining support for all GA languages"
**Is your feature request related to a problem? Please describe.**
`...` for method chaining is a useful abstraction for Semgrep rule authors, and having unequal Semgrep feature support across languages may be confusing or annoying to users.

According to https://github.com/returntocorp/semgrep/issues/2208, this functionality has been added for JavaScript and Java, though it does not appear to hav

[2021-11-17 23:47] devd opened #4301 "FP: string constant inference not correct for non-literal-require"
**Describe the bug**
https://semgrep.dev/s/0y95 should not trigger for the third case. Full string inference is hard but this is pretty basic and common and one line. The ? is to decide whether you are in prod/dev mode, e.g..

[2021-11-17 23:47] devd commented on #4301
tagging @sabrinabrogren who I think wrote the rule initially; forgive me if that's not cool 🙏🏼

[2021-11-17 23:59] sabrinabrogren commented on #4301
@devd Totally cool! I think this is actually a bug with semgrep and not the rule, so I'm transferring this issue to the relevant repo. Thanks for the bug report!

[2021-11-18 09:42] fabiopires commented on #2232
Hi @aryx - not sure if you can give an update on this one. Any thoughts on when this will be added?

Thank you!

[2021-11-18 09:46] aryx commented on #2232
It's not on our roadmap yet I think. We don't have any customers yet asking for it. Also the tree-sitter-switft above
has not been updated in 2 years, so this is problematic because we need an up-to-date tree-sitter grammar to get good parsing stats.
Note that people can help. In the last year a few external people added support for language like Rust, C#, Hack.

[2021-11-18 12:43] aryx commented on #4301
Note that a workaround is to also explicitely whitelist with an additional pattern-not: require($X? "..." : "...")

[2021-11-18 12:43] aryx commented on #4301
@IagoAbal I guess this would require an e_constness field in expr, just like we have currently for identifier.

[2021-11-18 12:46] aryx commented on #4261
@SoftwareApe could you link to a semgrep.dev/editor snippet, so we could try to reproduce easily?

[2021-11-18 12:54] SoftwareApe commented on #4261
I'm not sure what you want there, this is about the rules that are automatically selected by semgrep when applying autofix on the command line. All occurrences are the same for me.

[2021-11-18 13:11] aryx commented on #4261
What is the exact command you ran? (semgrep --config ???)  and could you copy-paste the python file that exhibits the error?

[2021-11-18 14:02] aryx opened #4305 "[PHP] Stack overflow with big list of pattern-inside"
See https://r2c-community.slack.com/archives/C018NJRRCJ0/p1637242553127900

[2021-11-18 14:03] aryx commented on #4305
rule: https://github.com/Sjord/semgrep-rules/blob/php-tainted-filename/php/lang/security/injection/tainted-filename.yaml

[2021-11-18 14:03] aryx commented on #4305
file: https://github.com/Sjord/semgrep-rules/blob/php-tainted-filename/php/lang/security/injection/tainted-filename.php

[2021-11-18 14:06] Sjord commented on #4305
On Linux, with semgrep 0.73.0:

[code]

[2021-11-18 15:25] IagoAbal commented on #3938
@emjin What about https://semgrep.dev/s/jwKY ?

Internally we represent:
[code]
as the string literal:
[code]
And the `regex` in `metavariable-regex` only matches starting from the beginning of the string.

[2021-11-18 15:28] IagoAbal commented on #3938
Alternatively, we could represent Go raw strings using `EncodedString "r"` as we do for Python, then it would constant propagation that makes them equivalent to string literals. Unless we want these "encoded strings" to be equivalent to strings regardless of constant propagation.

[2021-11-18 17:41] IagoAbal commented on #4265
This was a corner case affecting switch statements, when the last statement of the default case is something that ends the execution like a `throw`.

[2021-11-18 18:40] #3881 closed, assigned to IagoAbal

[2021-11-18 21:44] pbderr opened #4309 "support embedded-SQL C code"
I would like to be able to use semgrep to analyze C code with embedded-SQL code that is processed by a precompiler like Oracle Pro\*C.  (https://en.wikipedia.org/wiki/Pro*C)
The SQL code is prefixed by "exec sql" (case insensitive) and terminated by a semi-colon (;), possibly multiple lines.
For example:

exec sql select count(*)
into :PayerCnt
from t_re_pat_liab
where sak_recip = :sakRecip;
[ mor

[2021-11-18 22:10] vedanandusekar opened #4310 "[pre-commit] Semgrep trying to scan not supported languages file with python rule"
We are currently running `semgrep`  with the following ruleset
`semgrep --config=p/r2c-security-audit --JSON`  in the repository which has mixed-language support.

So ideally it should just ignore the language files which it doesn't support.
But instead of that, it is trying to run python-Django rule-set against R type file.

Here is the error :

```line 967, characters 4-71\nCalled from Match_rul

[2021-11-18 23:12] gordonwoodhull commented on #4278
I updated my example up top with a more complicated expression-statement to illustrate the problem better.

For now I will try to implement capturing deep expression operator and then generate a rule wrapping the DEO for each relevant `stmt_kind`.

Thanks again! I will let you know how it goes.

[2021-11-19 01:17] j-martin opened #4311 "Installing semgrep via pypi or GitHub on M1 Pro, Max, etc. (arm64) Mac installs semgrep-core compiled for x86_64"
**Describe the bug**

Arguably a feature request

We use `pip` to install `semgrep` in our dev setup to ensure everybody uses the same version and therefore gets replicable ouput. Unfortunately, currently, there is no wheel for macOS arm64 so pip installs x86-64 binaries.

https://pypi.org/project/semgrep/#files

The same issue with the artifacts published to [github](https://github.com/returntoco

[2021-11-19 05:36] ben-elttam commented on #3860
I get `Semgrep Core ERROR - Pattern parse error: In rule blah: Invalid pattern for Javascript`, with many lines in the source yaml, many patterns this doesn't help narrow down which line is causing the problem, or what the problem is exactly.

[2021-11-19 11:33] aryx commented on #4310
which version of semgrep are you using?

[2021-11-19 11:52] #4300 closed, assigned to aryx

[2021-11-19 12:35] aryx commented on #4305
what is your value for ulimit -s?

[2021-11-19 12:37] aryx commented on #4305
weird, semgrep-core has no problem on those files.

[2021-11-19 13:20] aryx commented on #4305
Ok found it, it's because of -filter_irrelevant_rules.

[2021-11-19 13:38] IagoAbal commented on #4305
@Sjord I think you can write that same rule this way:
[code]

[2021-11-19 13:49] #4305 closed, assigned to aryx

[2021-11-19 14:21] Sjord commented on #1301
Links were broken, here are working links:

* https://semgrep.dev/s/ExwN?version=develop
* https://semgrep.dev/s/K39j/?version=develop

The title indicates Ruby, but this would be useful in any object-oriented language. For example, in PHP I want to match calls to `DOMDocument::load(...)`, which would look something like this:

[code]

So I want semgrep to remember the type of `$doc`, so that it l

[2021-11-19 14:47] #4265 closed, assigned to IagoAbal

[2021-11-19 16:43] emjin commented on #3691
Does having `.semgrepignore` work with CLI (something we are trying to add in the near future) support this sufficiently?

[2021-11-19 16:53] emjin commented on #3938
Hm, I think making them equivalent by constant propagation would be fine? Check the linked issue #3930 for context

[2021-11-19 17:00] emjin commented on #3938
Actually, I just saw your Python raw string PR. I think this is exactly the same kind of construct!

[2021-11-19 17:03] vedanandusekar commented on #4310
It's `0.73.0`

[2021-11-19 18:05] j-martin commented on #4311
I updated the ticket to mention that the artifacts on GitHub are also x86-64 only. https://github.com/returntocorp/semgrep/releases/tag/v0.74.0

[2021-11-19 20:14] mmcqd commented on #1953
Hey all who were interested in this, Scala feature support has reached (almost) Beta with the release of Semgrep 0.74.0! It's not technically full Beta yet, because we're still in the process of adding Scala rules to the semgrep-rules repo, but the parse rate is now above 99%. Feel free to start writing your own Scala rules, and reporting any bugs you find.

[2021-11-20 01:21] colleend opened #4319 "Scala function pattern results in parse error"
**Describe the bug**
If we type a pattern similar to `def $FUN(..., $X, ...) {...}` to match a generic function definition with input being passed into said function, semgrep-core gives a pattern parsing error.

**To Reproduce**
https://semgrep.dev/s/oY79

**Expected behavior**
Thought that the pattern would parse!

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of S

[2021-11-20 13:34] KilledKenny commented on #3691
@emjin Oh i didn't know about the ignore file. It almost that logic i was looking for but instead of the ignore file being in the source dir i could specify it on the command line. Also ignore would sill only solve the exclude case and not deal whit the include case.

[2021-11-21 20:54] fgarci03 opened #4328 "`python.lang.security.audit.insecure-file-permissions.insecure-file-permissions` raises a `Eval_generic.NotHandled(_)` error"
**Describe the bug**
When running the python rules, `os.getenv('a', 'asas')` (notice the default) raises an exception. It does not happen on `os.getenv('a')` without the default, nor it happens on a regular `some_dict.get('a', 'aaa')` usage. Only for `os.getenv()`.

This is not a semgrep error that is caught by this rule. Its an actual exception in the running of semgrep.

**To Reproduce**
Add `os

[2021-11-22 05:22] inkz commented on #584
:wave:

[2021-11-22 05:22] inkz commented on #3745
:wave:

[2021-11-22 06:01] #2493 closed, assigned to nobody

[2021-11-22 10:10] Sjord opened #4320 "Taint mode in PHP doesn't work on object that method is called on"
https://semgrep.dev/s/sjord:domdocument_load

[code]

[code]

I try to match calls to `DOMDocument::load`, with taint mode to track whether `$DOMDOCUMENT` is the result of a call to `new DOMDocument()`, in `$DOMDOCUMENT->load($FILENAME, ...)`. However, this doesn't seem to work properly. `$doc->load('file.xml')` doesn't match, even though `$doc` should be tainted here.

[2021-11-22 21:29] emjin commented on #3728
@DrewDennison This was my original proposal! Was thinking about the narrow use case of sharing taint sources.

[2021-11-23 01:09] brendongo commented on #2846
I think this works as expected.

[2021-11-23 01:09] #2846 closed, assigned to aryx

[2021-11-23 06:57] mjambon commented on #3736
needs tests

[2021-11-23 08:21] aryx commented on #1059
:wave:

[2021-11-23 16:20] roisec opened #4325 "Commit history scanner"
Hi,
There will be in the future a git commit history scanner?
Semgrep provides a solution for this? maybe pre-commit scanner?

Thanks

[2021-11-23 22:10] minusworld opened #4327 "Support for Dockerfile"
**Describe the solution you'd like**

Support for dockerfile.

[This rule](https://github.com/returntocorp/semgrep-rules/issues/1596) has a false positive due to comments in a Dockerfile. Others have reported similar experience. Dockerfile support would help eliminate these FPs.

**Additional context**
Priority: Low (Not urgent)

[2021-11-23 22:24] minusworld commented on #4328
Hey @fgarci03, thanks for filing this issue. I'm going to transfer it to the Semgrep repository.

Indeed, I can also reproduce this behavior on Semgrep 0.75.0.

[code]

[2021-11-23 22:26] fgarci03 commented on #4328
Oops, I did file it in the wrong place 😅

Thanks!

[2021-11-24 05:25] #1006 closed, assigned to aryx

[2021-11-24 17:02] chmccreery opened #4330 "Typescript not matching on "..." | "..." syntax"
**Describe the bug**
Semgrep pattern
`export type $X = "..." | "..." `
should match
`export type BadRbacRole = "admin" | "member"`
but it does not.

**To Reproduce**
See playground example https://semgrep.dev/s/qYD1.

**Expected behavior**
The typescript rule above should match on line 8.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1

[2021-11-25 01:10] mjambon commented on #4327
I was working on dockerfile support before I broke my arm. Maybe there'll be some preliminary support in 2-3 weeks, i.e. whenever I get back to full-time work.

[2021-11-25 01:59] mjambon commented on #4274
This issue was assigned to me but I'm on sick leave for about 2 more weeks.

[2021-11-25 22:16] tilperion2 opened #4335 "Java classes with generics in signature may not be processed correctly"
**Describe the bug**
When Java class has generics in its signature/declaration, then regular semGrep "class $CLASS" pattern will not handle/trigger it.

In semGrep repository there are **lots** of Java rules that rely just on "class $CLASS" pattern, so in this case there will be cases/code issues missed, just in case if Java class has generics.

**To Reproduce**
See here:
https://semgrep.dev/s/w3o

[2021-11-26 01:26] craigds opened #4336 "Python: Can't match unicode snowman literals in strings"
**Describe the bug**

I'm trying to match a string, in python, which contains a literal snowman character (`☃`). I can't find a way to do so.

**To Reproduce**

https://semgrep.dev/s/craigds:unicode-snowman

**Expected behavior**
I expected to just be able to use the string itself

[code]

It didn't match. Neither did any of the other things I tried, e.g.:

* `"Test \x{FE0F}"`
* `"Test \u2603"`

*

[2021-11-26 08:11] priv-kweihmann opened #4337 "update to wcmatch 8.3 in Pipfile"
wcmatch version 8.3 was released a couple of weeks back.
So far I don't see a reason why semgrep needs to be pinned to 8.2 version.

Please allow usage of wcmatch 8.3

[2021-11-26 08:22] xmo-odoo commented on #2530
This thing is extremely annoying.

[2021-11-26 15:47] sidmitra commented on #2530
Looks like a https://github.com/returntocorp/semgrep-action/pull/319 was closed. So there doesn't seem to be any plans to add some config file to be able to control this behaviour. The only option seems to be maintain your own forks for rulesets with only the subsets you want, and keep them in sync.

[2021-11-29 11:55] aryx commented on #4337
What do you need from the latest version of wcmatch?

[2021-11-29 11:56] aryx commented on #4336
might be a unicode issue.

[2021-11-29 11:57] priv-kweihmann commented on #4337
[code]

[2021-11-29 13:02] aryx commented on #3207
:wave:

[2021-11-29 13:14] aryx commented on #2186
:wave:

[2021-11-29 14:19] #4335 closed, assigned to aryx

[2021-11-29 14:30] tilperion2 commented on #4335
Thank @aryx for quick response.

[2021-11-29 16:05] #4330 closed, assigned to nobody

[2021-11-29 16:26] brendongo commented on #4337
Will look into updating it this week!

[2021-11-29 17:25] minusworld commented on #4327
It's no rush - mainly just wanted to put it here for accounting purposes 👍

[2021-11-29 17:57] IagoAbal commented on #3199
Fixing 4 should be easy nowadays since taint tracking now does track which specific source is matching a sink. So we have the info at hand, we just need to generate a match from the source to the sink.

[2021-11-29 19:19] emjin commented on #3044
Planned

[2021-11-29 19:44] sabrinabrogren commented on #3771
I think this issue is still present.

[2021-11-30 10:27] IagoAbal commented on #4274
Closing this issue since the user is not responding. @RoiSec feel very welcome to reopen it or drop by our Community Slack!

[2021-11-30 10:27] #4274 closed, assigned to nobody

[2021-11-30 10:37] #3153 closed, assigned to nobody

[2021-11-30 11:03] Sjord commented on #3786
​

[2021-11-30 12:19] #4320 closed, assigned to IagoAbal

[2021-11-30 14:26] aryx commented on #4325
What do you mean by commit scanner? You mean just running semgrep on the files modified in HEAD?
or run semgrep on files modified in a specific commitid?

[2021-11-30 14:28] aryx commented on #4311
Is this fixed @brendongo or should we lower its priority?

[2021-11-30 14:30] aryx commented on #4283
In the same rule file? I thought we already had a check for duplicate ids.

[2021-11-30 14:49] #4328 closed, assigned to aryx

[2021-11-30 15:08] aryx commented on #4260
Hmm it's also because Naming_AST does not handle correctly those variables. The PatId has a resolved of Global 1
while the Id is unresolved.

[2021-11-30 15:08] aryx commented on #4260
(found via -dump_named_ast)

[2021-11-30 15:32] tilperion2 commented on #3787
Hi, any update with this issue? It should be getting more and more popular, as Java 17 already released.

[2021-11-30 17:21] emjin commented on #4283
You're right; updated the issue. I don't think this is as pressing now, though, since we only ignore the metadata field now when comparing rules. I'll close it for now.

[2021-11-30 17:21] #4283 closed, assigned to nobody

[2021-11-30 17:46] mmcqd opened #4346 "Scala annotations sometimes not matched"
**Describe the bug**
Scala annotations that match a pattern are not detected by semgrep.

**To Reproduce**
https://semgrep.dev/s/zxBk

**Expected behavior**
All annotations should be matched

**What is the priority of the bug to you?**
- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

[2021-11-30 19:37] jyotty commented on #3848
Hello all, we started using semgrep on a large PHP application where I work and this is preventing us from getting complete coverage. So now there's a few more people in the world getting bit by this.

[2021-11-30 23:12] nbrahms opened #4347 "Generic mode can't bind environment variables to metavariables"
https://semgrep.dev/s/eobR should have two matches

[2021-11-30 23:35] chmccreery opened #4348 "Generic mode does not find CMD match"
This should match on line 6, but doesn't https://semgrep.dev/s/vq5W

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

**Environment**
If not using semgrep.dev: are you running off docker, an official binary, a local build?

[2021-12-01 06:30] #2437 closed, assigned to nobody

[2021-12-01 06:30] #51 closed

[2021-12-01 06:30] #973 closed, assigned to nobody

[2021-12-01 06:38] xmo-odoo commented on #3785
Go away

[2021-12-01 06:39] xmo-odoo commented on #3783
:hiking_boot:

[2021-12-01 14:02] aryx commented on #4190
Hopefully this will make the next release

[2021-12-01 18:47] emjin commented on #3802
Still a thing :(

[2021-12-01 19:30] IagoAbal opened #4354 "cli: Deprecate --output"
Semgrep `--output` may be superfluous given that one can just redirect `stdout`.

[2021-12-01 20:35] ievans commented on #4354
@IagoAbal I think output is still useful, especially in non-interactive use-cases; what's the reasoning behind getting rid of it?

[2021-12-02 04:55] nicokosi opened #4358 "CLI's help (`semgrep --help`) returns a broken link about "how and why these metrics are collected""
**Describe the bug**
The CLI's help (`semgrep --help`) returns a broken link: https://github.com/returntocorp/semgrep/PRIVACY.md.

**To Reproduce**
Run `semgrep --help`:

**Expected behavior**
Link should be correct, for instance https://github.com/returntocorp/semgrep/blob/develop/PRIVACY.md.

**Screenshots**
<img width="1440" alt="Screenshot 2021-12-02 at 05 48 50" src="https://user-images.githu

[2021-12-02 05:28] daneah commented on #4310
We're experiencing the same on `0.74.0` and `0.75.0`—semgrep attempts to parse a SCSS file as Python despite the following in a custom rule:

[code]

We're running Semgrep using [pre-commit](https://pre-commit.com/) with the following command:

[code]

<details>
  <summary>Error details</summary>
  <pre>
Semgrep Core ERROR - Fatal error: When running mutable-default-arguments on path/to/one/of/our

[2021-12-02 08:02] aryx commented on #4310
Ok looking

[2021-12-02 08:11] aryx commented on #4354
@nbrahms thinks it's not very Unix-y. More discussions on slack.

[2021-12-02 09:59] Sjord commented on #3578
This seems like an actual bug, should this be reopened? It looks similar to [Metavariables don't match in JavaScript template strings · Issue #3786 · returntocorp/semgrep](https://github.com/returntocorp/semgrep/issues/3786).

[2021-12-02 12:22] mlni commented on #4115
Ran into the same issue, looks like `catch` blocks in typescript are not supported.

Here's [a rule](https://semgrep.dev/s/mlni:dont-wrap-when-reraising-ts) I'd like to write. And here's the same [rule in python](https://semgrep.dev/s/mlni:dont-wrap-when-reraising) that seems to work just fine.

[2021-12-02 14:12] aryx commented on #4310
@vedanandusekar are you also using semgrep via pre-commit? Or you run it on the command-line? Could you copy-paste this test.R file so I can try to reproduce.
I've created a testing /tmp/tests/test.R file and ran --debug --config=p/r2c-security-audit --json /tmp/test/
but I don't get any of the error you mention.
If you could also attach the content of the output of semgrep with the --debug option

[2021-12-02 14:35] aryx commented on #4310
@daneah can you run the pre-commit command on the command-line that shows the error and also attach this file.scss?
I try to reproduce on my machine but I can't get semgrep 0.74 to run on it.

[2021-12-02 15:05] daneah commented on #4310
@aryx Interestingly, running `pre-commit run` directly I get no error:

[code]

The `file.scss` is arbitrary—I can add a newline to any of a wide variety of our SCSS files and when I attempt to commit it I can reproduce the error. Here's an example, but I want to reiterate that I don't think it's "special" in any way:

[code]

This leads me to suspect that when run as part of pre-commit's pre-comm

[2021-12-02 15:23] aryx commented on #4310
Ok I was able to reproduce the error. Thx!
Seems like a regression introduced in 0.72.
Will try to fix ASAP, in the mean time you can use 0.71 to be on the safe side.

[2021-12-02 16:22] #3763 closed, assigned to nobody

[2021-12-02 16:22] #3203 closed, assigned to nobody

[2021-12-02 18:03] aegarbutt-stripe opened #4365 "Do not early exit when encountering a false positive while running rules tests."
**Is your feature request related to a problem? Please describe.**

When a false positive is encountered while running rules tests, `semgrep` performs an early exit. No data is sent to `stdout`, but two log lines formatted for human review are sent to `stderr`. This early exist only occurs when there is a rule false positive.

This early exit is problematic since it makes it difficult to include a

[2021-12-02 18:49] #4358 closed, assigned to nobody

[2021-12-02 22:34] nbrahms opened #4367 "[python] argument metavariable doesn't match argument with default value"
**Describe the bug**
Metavariables in argument position don't match arguments with default values

**To Reproduce**
https://semgrep.dev/s/Jx5k

**Expected behavior**
Expect a match

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

(this causes a FN for me)

[2021-12-03 00:17] brendongo commented on #4365
Probably doesn't need to be behind a flag. Would have to dig into git history but I don't think early exit was ever an explicit requirement

[2021-12-03 01:15] #3568 closed, assigned to nobody

[2021-12-03 07:47] mlni commented on #4115
Btw, if you write your pattern as follows then it works:
[code]

[2021-12-03 08:11] aryx commented on #4367
Those are not arguments with default values, those are named arguments.

[2021-12-03 08:11] aryx commented on #4367
I don't think we should support this.

[2021-12-03 08:56] aryx commented on #4367
Also there are not use of argument metavariables in your example @nbrahms

[2021-12-03 08:57] aryx commented on #4367
Or maybe that's what you wanted to write: https://semgrep.dev/s/Dz7v ?

[2021-12-03 09:00] aryx commented on #4367
The reason it's not maching is because this x=4 is a named argument, it's not an expression.
But why do you want to match with a metavariable named argument? You will not be able to reuse this $X is another
part of the pattern.

[2021-12-03 09:04] aryx opened #4370 "[C] failed to report a simple match"
https://semgrep.dev/s/LXRn

[2021-12-03 09:04] aryx commented on #4370
reference: https://r2c-community.slack.com/archives/C0242656NQ2/p1638481116057200
What is weird is that it's working in C++ mode.

[2021-12-03 15:27] IagoAbal opened #4371 "Crash when metavariable-regex is applied to the result of constant propagation"
**Describe the bug**
`metavariable-regex` may crash if the `metavariable` binds to the result of constant propagation, because the string literals produced by constant folding may have fake tokens.

**To Reproduce**
https://semgrep.dev/s/KXGj

**Expected behavior**
Should be possible to run a regex on a propagated value.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoptio

[2021-12-03 15:36] IagoAbal commented on #4371
Actually just trying to match `return "$X"` is enough to cause the crash: https://semgrep.dev/s/4ew8.

[2021-12-03 16:26] aryx commented on #4310
Actually it was not introduced in 0.72. The bug has always been there it's just that it appears only when someone commit a file that will make the python lexer fails with a bad exception.

[2021-12-03 16:28] aryx commented on #4310
There are 2 problems:
 - we should not parse non Python files with python, but in pre-commit we get explicitely passed a list of file, which we interpret as the user knows what is doing. Maybe we should change the default of --scan-unknown-exts to false.
 - we should return a regular parse error in the Python lexer, not a Failure (which is then turned into a Fatal error)

[2021-12-03 19:07] v-p-b commented on #2514
I stumbled upon this issue after trying to analyse files with latin2 encoding. In my case Semgrep didn't thrown an exception, just reported 0 matches for even trivially matching patterns (I think this is worse, because one can't tell that something is wrong).

I tried setting PYTHONIOENCODING as suggested above, but it didn't help.

[2021-12-04 00:44] enncoded commented on #3572
I was trying to make the owasp metadata tags in the rules more consistent by turning each one with a string value to a length 1 array and encountered this issue.

This current issue is making it harder for me to update this rule: https://github.com/returntocorp/semgrep-rules/blob/develop/yaml/semgrep/metadata-owasp.yaml

[2021-12-04 01:07] enncoded opened #4374 "Metavariable-pattern broken when applying to yaml"
**Describe the bug**
`metavariable-pattern` within a rule for yaml causes a Semgrep Core ERROR.

**To Reproduce**
https://semgrep.dev/s/lejliu:yaml-metavariable-pattern-bug

Here is the relevant error:
![Screen Shot 2021-12-03 at 17 06 09](https://user-images.githubusercontent.com/14846866/144690799-7b352bb8-ab57-49a0-b18d-8c4a282a07b0.png)

**Expected behavior**
I expected `$X` to match `$Y`

**W

[2021-12-05 08:42] aviam commented on #2252
We need it on ARM64 architecture, is it possible to support it?

[2021-12-06 07:12] xmo-odoo commented on #3758
![supervisor](https://user-images.githubusercontent.com/7571158/144803075-81353154-dd5b-4871-b078-03e899ce6f24.gif)

[2021-12-06 11:12] timhemel opened #4377 "hardcoded color in output"
**Describe the bug**
If I run semgrep with a ruleset, part of the output is colored "black" (for some value of black), which happens to be the same color as my terminal background (SolarizedDark color scheme).

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:
Install a Solarized Dark color scheme in your terminal and run `semgrep -f xyz.yaml`

**Expected beh

[2021-12-06 17:39] emjin commented on #3298
Maybe will be able to be fixed soon-ish

[2021-12-06 19:30] aryx opened #4379 "Support for Solidity, smart contract language"
For more context see: https://r2c-community.slack.com/archives/C01LNF69F9B/p1637258242019500

[2021-12-06 20:03] emjin commented on #3413
What is the current state of this? We fixed a couple things related to this

[2021-12-06 20:16] ievans commented on #3767
Looks fixed to me! As of 0.75 or earlier

[2021-12-06 20:16] #3767 closed, assigned to nobody

[2021-12-06 22:43] #4365 closed, assigned to nobody

[2021-12-06 23:23] mmcqd commented on #4319
This is happening because scala function parameters have to have their types annotated. It works if the pattern is `def $FUN(...,$X : $T,...) = {...}`. See https://semgrep.dev/s/86vj

[2021-12-06 23:23] #4319 closed, assigned to mmcqd

[2021-12-07 01:21] vedanandusekar commented on #4310
Thank you for fixing this issue.

[2021-12-07 01:21] #4310 closed, assigned to aryx

[2021-12-07 07:16] mjambon commented on #4348
This is a problem with how the generic mode works* and the lack of indentation in dockerfiles. This will solve itself when we have proper dockerfile support, which should arrive soon-ish (January 2022).

*it finds two matches for CMD which both extend to the end of the file, does some pruning keeping only the shorter match, which is then excluded by the "not inside" clause. Excessive pruning may b

[2021-12-07 07:16] mjambon commented on #4348
We should close this when dockerfile support becomes available.

[2021-12-07 07:27] mjambon commented on #4347
You have to keep in mind that the target code`$FOO` is parsed into two tokens, `$` and `FOO`. Moreover, the _pattern_ `$FOO` is a metavariable that will match exactly one _word_, which is an alphanumeric sequence of the form [A-Za-z_]+. To match the code `$FOO`, you need a pattern like `$ $ANY`: https://semgrep.dev/s/Q9oo

[2021-12-07 07:27] #4347 closed, assigned to mjambon

[2021-12-07 08:52] IagoAbal commented on #3770
Closing this for now but I will double check with more people from r2c's security team, and of course feel free to reopen if you want to add to the discussion.

[2021-12-07 08:52] #3770 closed, assigned to IagoAbal

[2021-12-07 09:33] aryx commented on #4374
@emjin is is related to your recent PR? I don't see it referenced.

[2021-12-07 09:35] aryx commented on #4336
@mjambon can you have a look at it? You're the unicode expert ...

[2021-12-07 10:08] IagoAbal commented on #3413
I think we can close this once @mjambon created #3769.

[2021-12-07 13:07] krutskikh commented on #4188
I thing, i solved it.
It was a problem with CI streaming in okd, when semgrep send json log with parsing errors (code 3) to console it's too long string. When I don't write it to console and use stdout=subprocess.PIPE, semgrep works normally

[2021-12-07 15:10] aneeshusa opened #4386 "Tweak pre-commit hooks to be non-noisy by default"
**Is your feature request related to a problem? Please describe.**
I've been using semgrep in one of my repos for about a year, and it's been really helpful! Thanks for making this tool :)
One thing I have found annoying is that the pre-commit hook emits a lot of extra output that's not related to the actual warnings/errors - mainly timing info and version check info.
Because pre-commit passes eac

[2021-12-07 17:20] aryx commented on #4386
maybe we need a --pre-commit argument to semgrep to setup all the right thing. For example, we recently discovered
that you really want --skip-unknown-ext when running under pre-commit, so maybe we should just all of those settings behind a --pre-commit flag.
cc @nbrahms

[2021-12-07 18:50] emjin commented on #4374
Thanks for reminding me of this! I meant to link it

[2021-12-07 18:50] #4374 closed, assigned to emjin

[2021-12-07 19:43] mmcqd opened #4392 "Newlines sometimes break patterns in Go"
**Describe the bug**
The pattern `&http.Transport{...}` works but
[code]
produces an error

**To Reproduce**
https://semgrep.dev/s/KXj9

**Expected behavior**
The two patterns should be equivalent

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

[2021-12-08 02:15] #3662 closed, assigned to nobody

[2021-12-08 02:15] #3799 closed, assigned to nobody

[2021-12-08 02:44] mjambon commented on #4336
@pad here's what I got:
[code]
with the following rule file `snowman.yml`:
[code]

The problem is when using a rule file, `-fast`, and some non-ascii input.

[2021-12-08 13:04] #4379 closed, assigned to aryx

[2021-12-08 13:05] aryx commented on #4392
Could be related to ASI (automatic semicolon insertion), which is used in languages like Go and Javascript.

[2021-12-08 13:05] aryx commented on #4392
See the Parsing_hacks_go.ml

[2021-12-08 14:09] #4371 closed, assigned to IagoAbal

[2021-12-08 14:44] #4260 closed, assigned to aryx

[2021-12-08 17:10] IRDonch opened #4400 "[Python] semgrep always highlights one extra character"
**Describe the bug**
When semgrep highlights parts of the shown lines to demonstrate which parts matched the given expression, it always highlights one more character than needed.

**To Reproduce**
Create a file named `test.py` with the following contents:

[code]

Then run `semgrep -l python -e sys.exit test.py`. It outputs the following:

[code]

The following segment is highlighted: `sys.exit(`

[2021-12-08 21:15] mmcqd commented on #4392
That's exactly what it was

[2021-12-08 21:45] #4392 closed, assigned to mmcqd

[2021-12-08 21:52] clintgibler opened #4405 "Document how to create unit test files when rule assumes specific file name or path"
**Is your feature request related to a problem? Please describe.**
Some Semgrep rules flag issues in files of a specific name.

For example, perhaps we're looking in a dependency file (`package.json`, `Gemfile`, `Pipefile`, ...), a configuration file (e.g. `web.xml`), `Dockerfile`, etc. To make the rule high signal, since we know only certain files are relevant, we may use the [paths](https://semg

[2021-12-08 22:12] aryx commented on #2530
👋 also asked here: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1638779987197500

[2021-12-08 23:01] #4386 closed, assigned to brendongo

[2021-12-08 23:14] #3263 closed, assigned to nobody

[2021-12-09 06:52] mjambon commented on #4336
For background, see #2111. The hack that was implemented to work around bad locations replaces each non-ascii byte by a `Z`, resulting in false positives like the following:
[code]
This match happens because both 😀 and 🚀 and parsed as `ZZZZ` due to our unicode hack. However it breaks our `-fast` ("filter irrelevant rules") optimization which compares the parsed pattern (containing `ZZZZ` or `ZZZ`)

[2021-12-09 07:07] mjambon commented on #4336
A proper fix would involve eliminating the hack that replaces non-ascii bytes by Zs, and then should do whatever is necessary to report proper locations. This would be a bit of work and needs to be done right.

Alternatively, we could extend the Unicode hack to work with the `-fast` optimization. This could make the optimization slower, in addition to making the code more complicated.

[2021-12-09 13:55] #4367 closed, assigned to nobody

[2021-12-09 14:00] #4346 closed, assigned to mmcqd

[2021-12-09 17:06] #4337 closed, assigned to brendongo

[2021-12-09 19:11] emjin commented on #4336
imo we should hack a solution for -fast. Can we just exclude `Z*` from string filtering?

[2021-12-09 21:13] #4221 closed, assigned to aryx

[2021-12-09 22:22] minusworld opened #4414 "Add the ability to specify how many of a thing that ellipses should skip"
**Is your feature request related to a problem? Please describe.**
Today I came across a method signature like this:

[code]

and wanted to write a rule that detected when `PARAMETER_OF_INTEREST` was a certain value. The pattern would look something like this:

[code]

**Describe the solution you'd like**
It would have been nice to express a way to ignore the first 5 parameters instead of accounti

[2021-12-09 22:30] j-martin commented on #4311
@brendongo is there any timeline on fixing this?

[2021-12-09 22:31] sbassett29 commented on #2530
+1 to the notion that this would be an _extremely useful_ feature to have, especially for custom CI configurations where one really wants to leverage _most_ of the rules within a given ruleset/policy within semgrep's registry, but does not want to overwhelm their developers with a few less-meaningful, very noisy rules and their output.

[2021-12-09 22:51] ievans commented on #4221
Thanks for the report @rgraber. I expect this fix will go out in 0.77 next week!

[2021-12-09 23:18] ievans commented on #2530
Just to give a quick update on this: we are planning to merge semgrep-action code into semgrep CLI. Hopefully we can make some improvements like this once that is done.

Personally I think that the exclude flags make sense for users who are defining and running all rules locally, but I'm less convinced they make sense when combined with fetches from the central registry.

Here's why:
- without ver

[2021-12-10 00:30] mjambon commented on #4336
@emjin great idea. I was worried about the cost of editing each target but editing the pattern should be fine.

[2021-12-10 01:46] #3413 closed, assigned to nobody

[2021-12-10 03:49] azuline commented on #4129
This is more than annoying to me; it invalidates Semgrep for the use case of TypeScript replacement of template literals.

[2021-12-10 06:41] xmo-odoo commented on #2530
@ievans my use case is solely manipulating, checking, and iterating on *local* rules embedded in the project. I have no opinion on "central registry" rules.

[2021-12-10 13:49] roisec commented on #4325
@aryx
https://linuxhint.com/view-the-commit-history-of-the-git-repository/
Commit history can contain secrets and Semgrep does not search there ...

[2021-12-10 20:04] Jason-Lim00 opened #4416 "[js-experimental] Add the ability to parse the '::' operator in Semgrep for javascript"
**Is your feature request related to a problem? Please describe:**

Semgrep currently does not support parsing for the '::' operation in javascript. An example can be found in the following error and code snippet below in the additional context.

**Describe the solution you'd like:**

It would be nice to add the ability to parse this to help with faster code writing as well as keeping up with shor

[2021-12-11 09:42] #4336 closed, assigned to mjambon

[2021-12-11 09:48] mjambon commented on #4336
@craigds we just merged a "fix" for this, which is a hack on top of another hack. It will be in the next semgrep release. At some point, we'll need to handle Unicode correctly. Meanwhile, expect some false positives. See #4415.

[2021-12-11 20:54] daneah opened #4417 "Semgrep pre-commit hooks don't respect languages parameter"
**Describe the bug**

When using Semgrep as a pre-commit check using [pre-commit](https://pre-commit.com/), the `languages` parameter is not respected. This was first discussed in #4310:

This seems to have been fixed for Python specifically, but is still reproducible for other language types. Making a change to a file in a language other than the one specified in the rule will make the rule try t

[2021-12-11 20:57] daneah commented on #4417
Sorry, I see that the rules that were still triggering unexpectedly have a `languages` parameter of `generic`—I thought they were `javascript` and `css` respectively. I'll reopen this if I see this crop up elsewhere.

[2021-12-11 20:57] #4417 closed, assigned to nobody

[2021-12-13 07:58] yourivoet opened #4418 "Cannot match constructors in Java"
When trying to match a constructor in Java

`public class MyJavaClass {
    MyJavaClass() {
        // Constructor
    }
}`

Semgrep will give a "Semgrep Core ERROR - Pattern parse error" error.

https://semgrep.dev/s/d175

[2021-12-13 14:38] IagoAbal opened #4419 "[PHP] "$MVAR" patterns not working"
Reporting on behalf of Kurt Boberg (https://r2c-community.slack.com/archives/C02DM47JHS4/p1639265066009600).

**Describe the bug**

PHP does not support `"$M"` pattens, these are parsed as interpolated strings.

PHP support is still experimental so this may be seen as a feature request.

**To Reproduce**

https://semgrep.dev/s/GyR1

**What is the priority of the bug to you?**

- [ ] P0: blocking y

[2021-12-13 15:24] sfc-gh-nsfard opened #4420 "Support ellipsis metavariables for parameters"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I'd like to extract a java method signature (including arguments) into a metavariable.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

The ellipsis metavariable can be used in a `message`

[2021-12-13 18:59] emjin commented on #2764
.

[2021-12-13 19:04] emjin commented on #3296
.

[2021-12-13 19:21] emjin commented on #3373
.

[2021-12-13 19:43] emjin commented on #4420
Thanks for filing this report! What priority would you say this issue is to you (high/medium/low)?

[2021-12-13 21:51] #4418 closed, assigned to aryx

[2021-12-13 22:13] sfc-gh-nsfard commented on #4420
medium is fine, thanks @emjin

[2021-12-14 03:47] sbassett29 commented on #2530
@ievans - our use-cases are essentially:
1. Using semgrep cli as one of several tools for manual appsec reviews, the results of which are then analyzed and compiled into a report deliverable.  We tend to use semgrep.dev registry policies with `--metrics=off` as a very fast, convenient way to find obvious issues with code as well as starting points for deeper analysis.  Being able to temporarily di

[2021-12-14 14:48] #4420 closed, assigned to nobody

[2021-12-14 21:53] finnigja opened #4428 "Autofix overwrites wrong line with multiple multiline matches (second example)"
**Describe the bug**
When using autofix to manipulate Terraform configuration files, I found that fixes for multiple issues within the same file would not be written to the correct line locations.

This appears to be similar to an already reported issue - https://github.com/returntocorp/semgrep/issues/3388 - but I'm reporting it here because having a separate test case may help with development of

[2021-12-14 22:35] brendongo commented on #4190
This made the release in 0.76.2 so closing this

[2021-12-14 22:35] #4190 closed, assigned to mmcqd

[2021-12-15 05:26] emjin commented on #1215
cc @brendongo since that work has begun

[2021-12-15 06:33] emjin commented on #1964
Should we change the "semgrep skips .gitignored files by default" behavior now that we have a `.semgrepignore`? imo should be removed entirely and controlled only by the `.semgrepignore`

[2021-12-15 10:25] #2783 closed, assigned to IagoAbal

[2021-12-15 10:25] #2859 closed, assigned to IagoAbal

[2021-12-15 12:04] priv-kweihmann commented on #2633
Anyone wanna take this? Basically this is super prone to collisions with various other packages.

[2021-12-15 12:26] richvdh commented on #2633
Having to bump this every few weeks is pretty annoying.

[2021-12-15 15:55] IagoAbal commented on #2859
@fasiha please try
[code]
and let me know how does it work!

Here is your original example, now working: https://semgrep.dev/s/1znD?version=develop

[2021-12-15 18:18] emjin commented on #3879
I think this works now! @sfc-gh-sdeng can you check https://semgrep.dev/s/vqx4 to confirm?

[2021-12-15 19:01] rc-mattschwager commented on #1338
Hello from the outside!

Having Rust support would greatly help some of the initiatives I'm working on :)

[2021-12-15 20:28] ievans commented on #2530
Thanks for sharing @sbassett29 and @xmo-odoo. Two thoughts:

* The preferred solution should be we make it easy to contribute a custom public policy that is hosted in the registry, the same way you can contribute rules (e.g., a github repo named `semgrep-rule-policies`). Assuming there's no privacy sensitivity to include/exclude choices, this means that others can discover "tuned" versions of broa

[2021-12-15 20:39] aryx commented on #1338
There is actually already some Rust support.
I guess we can close this issue and people can create issues for more specific bugs.

[2021-12-15 20:40] aryx commented on #1338
It's even mentioned there: https://semgrep.dev/docs/language-support/

[2021-12-15 20:40] #1338 closed, assigned to nobody

[2021-12-15 21:03] rc-mattschwager commented on #1338
Nice! I'll give it a go

[2021-12-15 21:08] rc-mattschwager opened #4444 "Rust parse error on 'allow' attribute"
**Describe the bug**

Parse error on `allow` attribute: https://stackoverflow.com/questions/25877285/how-to-disable-unused-code-warnings-in-rust

Similar to https://github.com/returntocorp/semgrep/issues/3762, but not exactly the same.

**To Reproduce**

https://semgrep.dev/s/38Ab

**Expected behavior**

Successfully parses.

**Screenshots**
If applicable, add screenshots to help explain your prob

[2021-12-15 21:31] rc-mattschwager opened #4445 "Rust parse error `!` was unexpected"
**Describe the bug**

Getting a Rust parse error: `'!' was unexpected`.

Unfortunately it doesn't tell me which `!` was unexpected, so I've included the whole file.

**To Reproduce**

https://semgrep.dev/s/Pgpq

**Expected behavior**

Successfully parses.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0: blocking y

[2021-12-15 21:34] emjin commented on #4444
👋

[2021-12-15 21:38] rc-mattschwager commented on #4444
Hi from the outside! I'm giving Semgrep a go on some Rust projects :)

[2021-12-16 08:46] aryx commented on #1338
OMG it's matt! I didn't even realize it when I answered to you :)

[2021-12-16 14:54] IagoAbal commented on #2783
@dkasak please give a try to the new feature and let us know how it works in practice! Your example: https://semgrep.dev/s/nrkO?version=develop

[2021-12-18 14:08] dkasak commented on #3246
It seems to me that negative patterns shouldn't (cannot, even) influence the binding of metavariables. Instead, a metavariable reference in a negative pattern should simply be considered a constant with a value that was previously bound in positive patterns.

As evidence that this is what currently might be wrong, I give this rule https://semgrep.dev/s/8ggq where I unrolled the single `pattern-not

[2021-12-18 14:13] dkasak commented on #2368
An alternative, and perhaps an easier solution, could be to add `metavariable-not-regex` and `metavariable-pattern-not` as analogues of `pattern-not-regex` and `pattern-not`. #3246 looks related.

[2021-12-21 07:06] #3850 closed, assigned to nobody

[2021-12-21 10:23] robintw commented on #3901
This error in the docs still seems to be present

[2021-12-21 22:23] ievans commented on #4377
@adamboros are you still working on this?

[2021-12-21 22:29] ievans commented on #1118
Kotlin is now officially in [beta](https://semgrep.dev/docs/language-support/), so I'm closing this issue -- please create new issues for any Kotlin-specific bugs!

[2021-12-21 22:29] #1118 closed, assigned to colleend

[2021-12-21 22:37] ievans commented on #3577
Confirmed fixed in 0.77! Playground is confused now but semgrep CLI is solid.

[2021-12-21 22:37] #3577 closed, assigned to nobody

[2021-12-21 22:39] ievans commented on #3388
Fixed in 0.77, with tests to boot. Thanks @chair6!

[2021-12-21 22:39] #3388 closed, assigned to nobody

[2021-12-21 22:39] ievans commented on #4428
Fixed in 0.77 with tests in #4429, thanks again @chair6!

[2021-12-21 22:39] #4428 closed, assigned to nobody

[2021-12-21 22:41] ievans commented on #4261
@SoftwareApe I'm unable to reproduce this on 0.77. Can you upgrade Semgrep and try again? Here's a snippet showing it working just fine: https://semgrep.dev/s/PgYp

[2021-12-21 22:44] ievans commented on #3070
@chmccreery is this still a bug? I can't reproduce with:

`semgrep --config https://semgrep.dev/s/semgrep-examples:autofix --autofix --disable-nosem --skip-unknown-extensions --dryrun` on semgrep itself anymore.

[2021-12-21 22:44] ievans commented on #1946
Confirmed fixed in 0.77 or earlier!

[2021-12-21 22:48] ievans commented on #1917
Mostly fixed as of 0.77, but the parenthesis gets dropped in the first example, which I believe is a duplicate with https://github.com/returntocorp/semgrep/issues/2902

input:
[code]

output:
[code]

[2021-12-21 23:11] gordonwoodhull commented on #3577
Thanks @chair6! Took a glance at your solution and it looks equivalent and maybe simpler than what I did.

Will check for edge cases soon.

[2021-12-21 23:44] SoftwareApe commented on #4261
I'm sorry I can't reproduce this right now,  I don't have my laptop with me.

[2021-12-22 00:58] #3873 closed, assigned to nobody

[2021-12-22 05:05] Isaac0616 opened #4453 "Limit the result to the function argument"
**Is your feature request related to a problem? Please describe.**
For example, if I use the pattern `requests.get(..., verify=False, ...)` to match a function with a specific argument, it will report the entire function call like:
[code]
Therefore, any changes to other arguments would be reported as a new finding in Semgrep CI.
This might be the desire behavior in some cases, but if a function ca

[2021-12-22 05:09] Isaac0616 opened #4454 "Support `semgrep --validate` without network connection"
**Is your feature request related to a problem? Please describe.**
I would like to run `semgrep --validate` in an unit test environment without network connection

**Describe the solution you'd like**
Maybe have an option to provide the local copy of `p/semgrep-rule-lints`.

[2021-12-22 05:41] chmccreery commented on #3070
Yes, still a bug.

Unfortunately it looks like named snippets are broken right now... but if you use https://semgrep.dev/s/ByGx you should be able to see this bug still.

[2021-12-22 09:10] Sjord opened #4455 "Registry rules are matched by prefix instead of by directory"
The [readme in semgrep-rules says](https://github.com/returntocorp/semgrep-rules#how-do-i-use-these-rules):

Therefore, I expect `semgrep -c "r/java"` to run all rules in the [java](https://github.com/returntocorp/semgrep-rules/tree/develop/java) directory. However, the rules in [javascript](https://github.com/returntocorp/semgrep-rules/tree/develop/javascript) are also run:

[code]

A workaround

[2021-12-22 12:13] damiencarol opened #4456 "UnboundLocalError: local variable 'target_manager' referenced before assignment"
**Describe the bug**
I have an error when I do a simple scan.

**To Reproduce**
I can only reproduce it on:
* Python 3.9
* semgrep 0.77.0, 0.76.0 (seems not here in 0.75.0)

[code]

**Expected behavior**
A report generated.

**Logs**

[code]

**What is the priority of the bug to you?**

- P1: important to fix or quite annoying

**Environment**
Local build in a virtual environment

[2021-12-22 17:34] adds68 opened #4457 "semgrep reports "invalid configuration file" when running from homedir"
**Describe the bug**
Fresh install of semgrep from brew reports this error when calling 'semgrep' via cli

[code]

Config file, which seems to get re-generated if i delete it:

[code]

**To Reproduce**
Install 0.77.0 via brew on MacOS 11.6.1 and call semgrep via the cli

**Expected behavior**
No errors reported about configs?

**What is the priority of the bug to you?**

- [ ] P0: blocking your ad

[2021-12-23 01:13] ievans commented on #4457
I am able to reproduce this, but only when running from my home directory. @adds68 does it work if you run semgrep outside of the home directory?

[2021-12-23 11:14] Sjord commented on #4456
I can reproduce this by scanning a file that doesn't exist.

E.g. `foo.js` does not exist:

[code]

Perhaps related to #4334, and [the following code](https://github.com/returntocorp/semgrep/blob/4fdfd0259314c4705c75a04bf09724a68ec32f76/semgrep/semgrep/semgrep_main.py#L202-L213):

[code]

If a FilesNotFoundError is raised, `target_manager` is not assigned. Execution seems to continue and use `targ

[2021-12-23 11:19] Sjord opened #4458 "Semgrep fails to parse interface keyword in JavaScript"
https://semgrep.dev/s/d1p0

test.js:
[code]

Actual:
[code]

Expected:
[code]

[2021-12-23 11:34] Sjord opened #4459 "Semgrep fails when method brace is on new line in class expression"
https://semgrep.dev/s/sjord:zj74

test.js (edited since this issue was created):
[code]

Actual:
[code]

Expected:
[code]
[code]

[2021-12-24 16:27] ievans commented on #3090
@nbrahms with the existence of https://github.com/returntocorp/semgrep-langs, is it now the case that a user can just edit a compiled `langs.json` file locally to edit this behavior?

[2021-12-24 16:29] anantshri commented on #3090
I will test the langs section after holidays but look like this can be closed now.

[2021-12-24 16:30] ievans commented on #3090
@anantshri 🎉 but let me keep the issue open for a bit to confirm and even if it does work, we should add documentation for it :)

[2021-12-24 16:43] nbrahms commented on #3090
We should augment the README.md in that repository; the editing path would be to edit that json, make a PR to returntocorp/semgrep-langs, get that merged, then update the submodules in this repo.

[2021-12-25 00:01] mjambon commented on #3380
Sorry I just noticed this issue now. The solution is to add indentation to the generic patterns. This should work: https://semgrep.dev/s/ByxA

[code]

[code]

[2021-12-25 00:05] mjambon commented on #3380
It works also, without worrying about indentation, with the dedicated `hcl` mode:
* https://semgrep.dev/s/DyXP (same pattern as generic mode, with indentation)
* https://semgrep.dev/s/WW72 (no indentation for `{ ... }`)

It's best to use the `hcl` mode since it's now available.

[2021-12-25 00:05] #3380 closed, assigned to mjambon

[2021-12-26 02:21] Plasma opened #4460 "Ensure users aren't surprised by "--config=auto will log in to the Semgrep Registry with your project URL""
Hi team,

Thanks for the semgrep project, I'm wondering what this notice is when running semgrep with the ``--config=auto`` suggestion refers to:

```semgrep --config=auto```
[code]

This felt pretty alarming to read, given I thought semgrep was about to try and upload code somewhere?

What does "logging in" refer to? Who sees it? What if the repository on GitHub is private?

Thank you

[2021-12-26 02:27] brendongo commented on #4460
Hi @Plasma sorry for the confusion. Here semgrep is trying to see if there are any rules configured to run on that git project (keyed by project name) and running those rules. No code is uploaded. What language would have made more sense for you given this functionality?

[2021-12-26 03:02] Plasma commented on #4460
Thank you @brendong

To provide some background, I followed the quickstart steps (at https://semgrep.dev/getting-started) and when I saw that CLI log message I assumed one or two things were happening:
1) The code was being uploaded to Semgrep to detect the language (as this was the 'auto' mode)
2) The registry was going to try and git pull the code at the URL it showed me to try and detect the co

[2021-12-26 18:45] #2740 closed, assigned to nobody

[2021-12-27 03:06] #3889 closed, assigned to nobody

[2021-12-27 03:06] #3820 closed, assigned to nobody

[2021-12-27 03:06] #3822 closed, assigned to nobody

[2021-12-27 03:06] #3816 closed, assigned to nobody

[2021-12-27 20:45] nbrahms commented on #4460
Hi @Plasma ,

Thanks for pointing this out! Tagging @adamboros as our resident language-clarifier-in-chief.

[2021-12-27 20:47] nbrahms commented on #4459
Thanks for the bug report @Sjord !

@mjambon tagging you here as the default maintainer for js. Tagging as high prio as this seems like pretty basic parsing.

[2021-12-27 20:49] nbrahms commented on #4458
Oh how I wish the JavaScript grammar actually treated keywords as keywords :)

@Sjord , how would you rate the priority of fixing this? Is it blocking your workflow?

[2021-12-27 20:51] nbrahms commented on #4457
@ievans @aryx @adamboros ... I think we should remove implicit yml discovery, and just make `--config` a required option.

[2021-12-27 20:52] nbrahms commented on #4456
Tagging @mmcqd @brendongo ... would either of y'all be able to take this one?

[2021-12-27 20:59] nbrahms commented on #4455
Thanks for pointing this out!

Looks like a documentation bug. I'll forward to the doc maintainers once the new year arrives.

[2021-12-28 08:16] Sjord commented on #4458
It's not blocking for me, so I would not say this is high priority.

[2021-12-28 11:47] #3922 closed, assigned to nobody

[2021-12-28 16:10] ievans commented on #3226
ping @aryx

[2021-12-28 16:11] ievans commented on #4457
@nbrahms that would break backwards compatibility for some % of users; what's the advantage of doing that for the general user?

[2021-12-28 17:17] ievans commented on #2663
Still an issue

[2021-12-29 16:09] vmarkovtsev opened #4461 "[Python] Cannot parse tuple expansion"
**Describe the bug**
semgrep considers Python3 files with `return a, *b` invalid.

**To Reproduce**
[code]
raises
[code]
Note: there must be some rule match. For example, this is my config:
[code]

**Expected behavior**
This is a valid Python 3 syntax. Works on 3.8+, I didn't check older versions.

Also,
[code]
successfully parses.

**What is the priority of the bug to you?**

P1 - there are many

[2021-12-29 16:16] vmarkovtsev opened #4462 "Crash on non-existent file"
**Describe the bug**
`semgrep --config=whatever nonexistentfile.py` prints

[code]

**What is the priority of the bug to you?**

P2

**Environment**
semgrep v0.77.0

[2021-12-29 22:07] jwbth opened #4464 "In taint mode, variables in `pattern-inside` are not exposed to messages and join mode"
**Describe the bug**
In taint mode, variables used in `pattern-inside` are not available to the message and rules in join mode.

**To Reproduce**
https://semgrep.dev/s/bX6W
You can see "VAR: a FUNC: $FUNC" in the match message.

**Expected behavior**
"VAR: a FUNC: doSmth" in the match message.

**Details**
This happens only in taint mode. In search mode, if you rename `pattern-sources` to `pattern

[2021-12-30 13:44] itaranto opened #4465 "Support XDG Base Directory Specification"
Please support the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html) on Linux/*nix systems.

Right now `semgrep` puts its config file under `~/.semgrep/`, the correct location should be `$XDG_CONFIG_HOME/semgrep/` with a fallback to `~/.config/semgrep/`.

It doesn't need to be perfect at first, but moving `semgrep` files from the `$HOM

[2022-01-02 07:56] ghost opened #4466 "Uname process doesn't close when running in Linux OS"
**Describe the bug**
Running semgrep CLI from Amazon Linux OS doesn't close the `uname` process what causes a memory leak.

**To Reproduce**
Run Semgrep CLI in Amazon Linux OS.
`uname` processes doesn't close.

**Expected behavior**
after semgrep process has finished - close all the relevant processes.

**Screenshots**
![image](https://user-images.githubusercontent.com/16287464/147869560-6c82d05c-

[2022-01-02 08:27] #1099 closed, assigned to nobody

[2022-01-03 11:39] #2324 closed, assigned to nobody

[2022-01-03 18:58] dlukeomalley commented on #1218
@ievans @emjin - Re-opening given past activity here and added 'planned-project' to avoid Stalebot moving forward.

I'm personally still excited about making the keys and their behavior simpler, in the spirit of this ticket.

[2022-01-03 21:08] #3890 closed, assigned to nobody

[2022-01-03 23:31] huonw commented on #3914
The issue still reproduces 🤷‍♂️ E.g. at https://semgrep.dev/s/AXjB

[code]

De-JSON-ified:

[code]

[2022-01-03 23:52] ievans commented on #1218
though seems like the tail wagging the dog re: stalebot, as this is not planned

[2022-01-03 23:56] dlukeomalley commented on #1218
In that case if it's not planned I'd vote to close this issue or see it implemented. In practice, if we keep deferring an issue, it's probably not an issue we're going to actually act on.

[2022-01-04 00:10] inkz commented on #3963
:wave:

[2022-01-04 15:54] aryx commented on #3891
:wave:

[2022-01-04 15:54] aryx commented on #3890
:wave:

[2022-01-04 15:57] aryx commented on #2664
:wave:

[2022-01-04 15:58] aryx commented on #3940
:wave:

[2022-01-04 15:58] aryx commented on #3941
:wave:

[2022-01-04 15:59] aryx commented on #1147
:wave:

[2022-01-04 16:38] aryx commented on #3304
:wave:

[2022-01-04 16:38] aryx commented on #3305
:wave:

[2022-01-04 17:27] ahmadkhancruise opened #4468 "Semgrep fatal error while scanning certain invalid syntax (like `null("fs")`)"
**Describe the bug**
Scanning JS code containing something like `null("fs")` causes Semgrep to crash. This type of syntax may appear invalid, but it can be surrounded by try/catch, and it does appear in the wild. Please see the https://semgrep.dev link below.

Side note: Semgrep does properly handle other invalid invocations like `123("fs")`.

**To Reproduce**
https://semgrep.dev/s/ahmadkhancruise

[2022-01-04 18:13] mjambon commented on #2258
We definitely want to get this done. Get that, stalebot?

[2022-01-04 18:47] LewisArdern opened #4469 "Semgrep NOT_Found Error thrown on valid rules / valid code"
**Describe the bug**
I think this is a common per-language issue where if Semgrep fails to parse the flow of a rule it will throw a NOT_FOUND error based on code, which is causing a lot of pain for some developers when they are trying to integrate Semgrep into their application workflow.

Both of these rules have been successfully ran on many projects with detection success, the expected behaviour

[2022-01-04 20:26] adamboros commented on #4377
@ievans Yes, I want to push my changes this week

[2022-01-05 10:33] IagoAbal commented on #1301
We have implemented "symbolic propagation" now (#4388), but I think all the examples above are better solved with typed metavariables.

[2022-01-05 10:36] IagoAbal commented on #1301
@Sjord's example should work but I think it doesn't mainly because `new DOMDocument()` is not being correctly translated into Generic (`DOMDocument` should be an `ArgType`).

[2022-01-05 10:47] aryx commented on #4444
Issue 4444! I'm sure this pleases @rc-mattschwager who likes magic numbers :)

[2022-01-05 11:14] IagoAbal commented on #3428
@returntocorp/pa any comments on this? I don't know how often this is a problem, but I would be happy with solution 3.

[2022-01-05 11:46] aryx commented on #3428
cc @mjambon

[2022-01-05 11:48] aryx commented on #3428
Option 3 seems fine to me.
But in many cases people should anyway switch to the real parser instead of using generic mode.
Generic mode is a last resort solution.
We now have JSON, YAML, terraform, and martin just added recently dockerfile, so where do we still need the generic mode?

[2022-01-05 13:05] aryx commented on #4466
Can you give us the precise command you run? semgrep --???
so we can try to reproduce the issue on our hand.

[2022-01-05 13:12] #4444 closed, assigned to aryx

[2022-01-05 14:23] aryx opened #4473 "[Internal] cleanup xfail_repo in public_repos.py, lots of parse errors"
We should try to fix all those parse errors.
This starts to add up.

[2022-01-05 14:25] aryx commented on #4473
Looks like most of the issues are with javascript parsing errors.

[2022-01-05 14:48] aryx commented on #4445
This works now: https://semgrep.dev/s/Pgpq?version=develop

[2022-01-05 14:48] #4445 closed, assigned to aryx

[2022-01-05 14:49] aryx commented on #4348
Does the example work @mjambon now that we have dockerfile native support?

[2022-01-05 14:52] #4261 closed, assigned to nobody

[2022-01-05 15:16] emjin commented on #3428
yarn.lock files use generic

[2022-01-05 19:11] #4461 closed, assigned to aryx

[2022-01-05 21:23] nbrahms opened #4477 "Match Jupyter notebooks with python rules"
**Is your feature request related to a problem? Please describe.**
Enforce best practices in Jupyter notebooks.

**Describe the solution you'd like**
Automatically run python rules on notebooks.

**Describe alternatives you've considered**
- Use Semgrep join mode to extract code blocks (suffers from escaping & single-cell scanning)
- Use metavariable-pattern (suffers from escaping in blocks, singl

[2022-01-05 23:26] minusworld opened #4478 "Support "embedded languages" for common use cases"
**Is your feature request related to a problem? Please describe.**
It would be awesome to have Semgrep automatically scan "embedded" languages in other languages, particularly for common cases.
Some examples of this include:
- JavaScript inbetween `<script>` tags. This is a really common case; we'd like to run all our JS rules without having to do `metavariable-pattern`.
- bash inside YAML keys (A

[2022-01-05 23:53] emjin commented on #4478
A plugin architecture makes the most sense to me; I doubt we can anticipate all the variants. Writing one sounds easy---the user just needs to provide "extraction" rules, and then we can autogenerate a corresponding rule using metavariable-pattern. (This would only work for supported languages.) I could also see borrowing the pattern-addressable syntax and having some way to denote "all rules of [

[2022-01-06 06:39] mjambon commented on #4348
@aryx yes, it works. The pattern `CMD ...` matches just the cmd instruction rather than the current line and 9 lines that follow.

[2022-01-06 06:58] mjambon commented on #3428
I think we could implement a comment stripper which would replace comments by whitespace before proper spacegrep parsing.

[2022-01-06 07:02] mjambon commented on #3428
@aryx

I'm pretty sure there are quite a few more formats that we don't support. For example, I had to fix a problem for someone who was using it on markdown files.

[2022-01-06 07:25] aryx commented on #3428
But does markdown and yarn.lock require a comment stripper?

[2022-01-06 07:49] aryx commented on #4478
original conversation here: https://returntocorp.slack.com/archives/C01NXGX2EHZ/p1641412524045000

[2022-01-06 07:51] aryx commented on #4478
what if semgrep had a -pp option (for preprocessor) where you pass a semgrep rule that does the pre-processing/extraction and internally we do the magic to remember the original line, so when a rule is applied to the extraced code, we report the error at the correct location in the original file!

That way handling .ipynb file would just require a special rule to extract the code snippet (we can u

[2022-01-06 07:51] aryx commented on #4478
Semgrep is great at finding code, let's use it to do the extraction!

[2022-01-06 07:59] #4469 closed, assigned to aryx

[2022-01-06 11:35] aryx opened #4480 "[Python] restore GA level, current parsing stats are at 99.2%"
See https://dashboard.semgrep.dev/metric/semgrep.core.Python.parse.pct
we are at 99.2%.
I've recentrly added tree-sitter-python to ocaml-tree-sitter-semgrep and it's at 99.925%
so there is good hope. We just need to switch to tree-sitter for python too.

[2022-01-06 11:38] aryx commented on #4480
Also we need to add more languages to https://dashboard.semgrep.dev/
now that we have more GA languages.
See here: https://semgrep.dev/docs/language-support/

[2022-01-06 16:43] mjambon commented on #3428
We're not targetting markdown and yarn.lock specifically, we're targetting all the file formats that people might use. I'm confident that there will always be formats for which we don't have a dedicated parser.

(but yeah, markdown does supports html-style comments and yarn.lock supports shell-style comments)

[2022-01-06 17:09] aryx commented on #3428
Totally agree, I love generic mode, I just was wondering how important is to handle comments in the rules we need to write.
But yes if yarn.lock and markdown have comments then yep, might be important then.

[2022-01-06 20:26] mjambon commented on #4416
I can't find documentation for this. It looks like it was a proposal for ES7 (2016) but there's no trace of it in the [ES7 spec](https://262.ecma-international.org/7.0/) or later. Here's [confirmation](https://news.ycombinator.com/item?id=18041979) that the bind operator `::` wasn't adopted in javascript. It wasn't adopted in typescript either but a [comment indicates that the ES proposal has been

[2022-01-06 23:16] enncoded opened #4484 "[Terraform] metavariable-regex does not match properly when used in conjunction with pattern-not"
**Describe the bug**
`metavariable-regex` used in conjunction with `pattern-not` does not produce any matches.

**To Reproduce**
<https://semgrep.dev/s/lejliu:mv-regex-pattern-not-test>

**Expected behavior**
`$KEY` should match `aws_kms_key.test.arn` in the first test and `bad` in the second test.

However, `metavariable-regex` does work on `pattern`, as seen here <https://semgrep.dev/s/lejliu:mv

[2022-01-07 10:16] #3207 closed, assigned to IagoAbal

[2022-01-07 14:36] #3969 closed, assigned to nobody

[2022-01-10 06:39] xmo-odoo commented on #2324
fucking hell and how do I reopen this exactly?

[2022-01-10 13:00] sileht opened #4490 "python.lang.maintainability.useless-literal.useless-literal-dict doesn't work with multiple bytes unicode key"
**Describe the bug**

python.lang.maintainability.useless-literal.useless-literal-dict doesn't work with multiple bytes unicode key

**To Reproduce**
This code:
[code]
wrongly report:

[code]

[2022-01-10 14:54] jesper commented on #4311
Can confirm that this issue still persists in v0.77.0 of sempgrep when installed via pip on M1 macs.

[2022-01-10 21:37] tim-goddard-cybercx opened #4494 "PHP not matching function definitions"
Just testing out the experimental PHP support, and it appears not to match function definitions (whether the function name is defined or wildcarded):

https://semgrep.dev/s/Nw9p

Cheers,

Tim

[2022-01-11 05:23] ievans opened #4497 "bash mode doesn't propagate dataflow through backticks (`)"
**Describe the bug**
I expected that
[code]

Would be matched by a `pattern-source` with \`curl ...\`

But it is not, see: https://semgrep.dev/s/ievans:taint-mode-bash line 7.

**Expected behavior**
The snippet fires on line 7.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug tha

[2022-01-11 09:54] xmo-odoo opened #4499 "Generic comprehension patterns"
I'm trying to modernise a codebase (as well as some colleagues who remain unaware that literals and comprehensions other than lists exist).

The codebase contains a significant number of occurrences of `set(literal_list | listcomp | gencomp)` and `dict(listcomp | gencomp)`, I would like to lint them and suggest literal set, setcomps, and dictcomps.

I wanted to use semgrep for this, but it doesn't

[2022-01-11 10:13] IagoAbal commented on #4499
Thanks for taking the time to open this issue @xmo-odoo and for the detail in it. We would appreciate if you could add examples using the Playground (https://semgrep.dev/editor/), with rules that you wanted to work but don't, and annotating the code so that we know exactly what you want to match with those rules. Then it's easier to iterate those examples and discuss whether you can express you ru

[2022-01-11 10:43] IagoAbal commented on #4499
If I understood correctly, for the first issue you could use `pattern-either`: https://semgrep.dev/s/nrAX. Although we could also extend Semgrep to recognize that `... for ...` should also match `a for b in c`.

Plus you don't want this to match https://semgrep.dev/s/d1OZ; but you wanted this to match https://semgrep.dev/s/ZjbD. We seem to parse `any(a for b in c)` as `any([a for b in c])`. But in

[2022-01-11 10:47] IagoAbal commented on #4499
If you share via the Playground the rule that you wanted to write with some example code, then we can help you to work around these issues so that you can start using Semgrep already for what you wanted. You are welcome to just share it right here, or in https://r2c.dev/slack (there more people will be available for help so you may have a quicker answer).

[2022-01-11 11:15] IagoAbal commented on #4497
Is that correct Bash?

This works:
[code]
Adding spaces before or after changes the meaning.

I'm just not sure if
[code]
is being parsed correctly, it seems that the `yy=` part is thrown away. cc @mjambon

[2022-01-11 11:35] xmo-odoo commented on #4499
@IagoAbal

Hard to say, on the one hand I don't think I can do the thing I want to do without it, on the other hand doing that thing is not mission critical so...

The problem is that only works for the two instances listed, but there is an infinite number of comprehensions (multiplied by comprehensions being list, generator, set, and dict) as conditions and iterators (after the first one) can be

[2022-01-11 11:41] xmo-odoo commented on #4499
An other consideration / annoyance of the inability to capture the "comprehension" part of the expression is I don't think it's possible to define an autofix for this?

E.g. for an other rule I have

    pattern: set([...])

in that case container-comprehension equivalence is useful, howwever while I can elide the entire thing using `...` I don't think I can then have a

    fix: {...}

can I? And

[2022-01-11 17:39] ievans commented on #4497
d'oh! Thanks @IagoAbal, you are absolutely right. Correcting the syntax to remove the spaces before and after = fix it.

[2022-01-11 17:39] #4497 closed, assigned to nobody

[2022-01-11 17:43] ievans commented on #4494
Hi Tim, I don't know PHP, but does the file parse in the regular PHP interpreter? Adding a `<?php` prefix makes your example work for me, see: https://semgrep.dev/s/gXoJ

[2022-01-11 19:18] ajinabraham opened #4505 "Semgrep installing the wrong binary for Darwin"
**Describe the bug**

Install from pip copy over the wrong semgrep-core binary.

**To Reproduce**

* pip install semgrep
* run semgrep on a file
[code]
[code]

I am on Mac Intel chip, using zsh.
[code]
Semgrep version: 0.77.0
Python: 3.8.9

**Expected behavior**

Install a MachO semgrep-core.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of t

[2022-01-11 21:05] vedanandusekar opened #4508 "Semgrep trying to scan not supported languages file with ruby rule [regression]"
I have reported this issue previously as well but this issue is for `semgrep` is trying to run `ruby` rules against `dockerfile`.

My previous issue was fixed https://github.com/returntocorp/semgrep/issues/4310.

our current version of semgrep is `0.77.0`

The error:

`Checks for divide by zero. Best practice involves not dividing a variable by zero, as this leads to a Ruby ZeroDivisionError.`

Le

[2022-01-11 21:05] vedanandusekar commented on #4508
@aryx

[2022-01-11 22:05] aryx commented on #4508
What is the exact semgrep command you are running, so I can try to reproduce on my end.
Are you still using semgrep via pre-commit?
cc @mmcqd

[2022-01-12 01:29] minusworld opened #4509 "[JS] Taint does not propagate through `.push(...)` for arrays"
**Describe the bug**
It appears that taint mode stops propagating data at `.push(...)` in array objects.

**To Reproduce**
This link has 3 examples. The third does not work, but should.
https://semgrep.dev/s/bXKp

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fi

[2022-01-12 02:42] ievans commented on #4508
@vedanandusekar sorry about that, and thanks for filing an issue; can you share a rough prioritization? is this a blocker to using Semgrep (p0), big issue (p1), minor annoyance (p2)?

[2022-01-12 06:50] vedanandusekar commented on #4508
@aryx
`semgrep --config=p/r2c-security-audit --JSON` this command

[2022-01-12 06:51] vedanandusekar commented on #4508
@ievans It is P1 as it is giving a lot of false positives.

[2022-01-12 10:16] gabpil45 commented on #3019
Hi, Can we reopen this? We would like to use it to utilize the JUnit output to post it to Jenkins and the Sarif/JSON to the github API.

Thanks,
G

[2022-01-12 10:20] gabpil45 commented on #3699
Hi, Can we reopen this? We would like to use it to utilize the JUnit output to post it to Jenkins and the Sarif/JSON to the github API.

Thanks,
G

[2022-01-12 10:52] IagoAbal commented on #4509
At present taint-mode only propagates taint through explicit assignments. In your example taint needs to be propagated through a side-effectful method call. We could perhaps asume that a (pressumably void-returning) method call like `data.push(input)` does taint `data` if `input` is tainted. We make similar assumptions in constant propagation already.

The current workaround would be:
[code]

[2022-01-12 10:54] IagoAbal commented on #4509
Ooops, the workaround doesn't work in your example due to the limitations of `...` in Semgrep. 😞

[2022-01-12 11:02] IagoAbal commented on #4508
~@vedanandusekar Could you share a (possibly minimized) `Dockerfile` that triggers this error?~ Never mind, I guess the problem here is that the `Dockerfile` is being passed explicitly to Semgrep, so the content of the `Dockerfile` is not very relevant.

[2022-01-12 11:58] xmo-odoo commented on #3235
Putting in a :+1: for better reporting of semgrep's files selection (at least at higher log level): in a somewhat large project I just realised semgrep skips entire files and I have no idea why. Even giving semgrep the name of the file, it reports

    ran 135 rules on 0 files: 0 findings

As far as I can tell I don't seem to have any relevant ignore file (e.g. `rg` finds stuff in that file just f

[2022-01-12 12:54] IagoAbal commented on #4505
Probably the same as #4311.

[2022-01-12 14:17] IagoAbal commented on #4499
I set the priority to medium, but if this is stopping you (your org) from adopting Semgrep then we should set it to high. (The priority we set here is from the user's perspective.) If you are using Semgrep for other stuff and it's just this particular rule that is causing trouble, then medium is probably the correct priority.

Right, it is not scalable. I suggested using `pattern-either` since you

[2022-01-12 14:18] IagoAbal commented on #4499
I think fixing this may not be too hard. I believe it would be reasonable to make `[... for ... in ...]` match any list comprehension. @aryx do you have any thoughts on this?

[2022-01-12 14:26] IagoAbal commented on #4499
Actually I think it may be a bug that `[... for ... in ...]` does not match `[a(e) for a in b if c if d for e in f]`, shouldn't be this equivalent to `[(a(e) for a in b if c if d) for e in f]`? See https://semgrep.dev/s/wZ6Y.

[2022-01-12 14:54] aryx commented on #4499
Might be not too difficult. I just remember I've added proper support for comprehension in AST_generic.ml later, because before it was transpiled in a complex way.

[2022-01-12 15:45] gordonwoodhull commented on #4278
Thanks @IagoAbal, it was indeed easy to add a capturing deep expression operator `<...$CDEO expr ...>`

I did it by adding it to the Java lexer: the variable is captured inside the left bracket`LDots` and then handled in `Generic_vs_generic.ml`, similar to how `$...ARGS` is a metavariable which is also `...`. I guess the downside is that every lexer would need to be modified, but it works perfectl

[2022-01-12 15:45] #4278 closed, assigned to nobody

[2022-01-12 16:26] tilperion2 commented on #3787
@aryx, @emjin any updates for this feature request? Thanks

[2022-01-12 16:27] tilperion2 commented on #3855
Looks like still reproducible.

[2022-01-12 16:54] ajinabraham commented on #4505
This is Intel Mac

[2022-01-12 17:11] IagoAbal opened #4515 "[TS] Cannot match annotated variables"
Reporting on behalf of customer.

**To Reproduce**

https://semgrep.dev/s/Zj5D

Using `semgrep-core -lang ts -dump_pattern` it seems that when parsing `(v8 as $T)` as a pattern we throw away the type annotation, and this is represented as just `v8` in Generic. However with `-dump_ast`, the type annotation is there (as a Generic `Cast`).

**What is the priority of the bug to you?**

- [x] P0: block

[2022-01-12 18:03] brendongo commented on #4505
Could be https://github.com/returntocorp/semgrep/issues/2402 ? What version of pip are you running?

[2022-01-12 18:05] brendongo commented on #4311
@j-martin Probably will have time for this in the second half of Feb? Currently busy with porting some semgrep-action functionality into semgrep that should be wrapped up by then.

[2022-01-12 18:30] ievans commented on #4515
after further discussion with the user, bumping to priority:high cc @IagoAbal

[2022-01-12 18:31] ajinabraham commented on #4505
That was it. Updating pip resolved it. Thanks!

[2022-01-12 18:31] #4505 closed, assigned to nobody

[2022-01-12 20:09] ievans commented on #3235
@xmo-odoo so sorry about that. The release notes for 0.77 explain that we now use the same default `semgrepignore` between semgrep CI and semgrep CLI, see it here: https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/templates/.semgrepignore

we'll do better about updating the output, tracking here: https://github.com/returntocorp/semgrep/issues/1964 and I'm going to ask the team t

[2022-01-13 02:49] tim-goddard-cybercx commented on #4494
Huh, okay - my mistake, sorry.

I thought I'd simplified it to the minimal case, but there must be another reason that's not coming up. If and when I find a genuine issue, will report it :)

[2022-01-13 02:49] #4494 closed, assigned to nobody

[2022-01-13 03:39] ievans commented on #4494
No problem, thanks for the update!

[2022-01-13 05:42] inkz commented on #3978
:wave:

[2022-01-13 05:45] inkz commented on #2728
:wave:

[2022-01-13 06:50] xmo-odoo commented on #3235
No worries, I *did* skip the release notes so fair enough.

In case the release notes are editable, maybe a note should be made of how to resolve to the old behaviour? I assume an empty .semgrepignore would do the trick?

[2022-01-13 06:57] xmo-odoo commented on #1964
Respecting .gitignore (`.ignore` as wel as it was "standardised" as an application-agnostic ignore file) seems like it remains a good idea to me: odds are if the project has things ignored in git they don't want to process them in any way. Hence tools like ripgrep [also respecting ignore files by default](https://github.com/BurntSushi/ripgrep/blob/master/GUIDE.md#automatic-filtering).

Though it c

[2022-01-13 14:11] emjin commented on #3235
We're adding that to the docs (https://github.com/returntocorp/semgrep-docs/pull/400) and linking the docs in the `--verbose` output. Hopefully this will make it discoverable! (And yes, an empty .semgrepignore will work)

[2022-01-13 15:54] rc-mattschwager opened #4524 "Impossible to run against Golang test files (and other default ignores)"
**Describe the bug**
A clear and concise description of what the bug is.

Without creating a `.semgrepignore` file it's impossible to run Semgrep against Golang test files. I was very confused about why my seemingly correct pattern wasn't detecting expected findings in `*_test.go` files. It appears that Semgrep cannot scan any file that matches the default [`.semgrepignore`](https://github.com/ret

[2022-01-13 16:01] emjin commented on #4524
In addition to this, should we remove `tests/` from the default .semgrepignore and encourage app users to add that?

[2022-01-13 16:43] rc-mattschwager commented on #4524
Personally, I would say yes. IMO blanket ignoring all tests might be a little too aggressive, but others may have different opinions. Default ignoring something like `node_modules` makes sense to me because my repository doesn't "own" that code, whereas `tests` is my responsibility. And, as you mentioned, users can always add it to `.semgrepignore` if they feel differently 👍

[2022-01-13 17:34] j-martin commented on #4311
Sounds good. Thanks for the update. :)

[2022-01-13 18:24] rc-mattschwager commented on #4524
https://github.com/returntocorp/semgrep/pull/4518 may be enough to close this out, but I'd still consider removing the default tests ignore.

[2022-01-14 03:26] daghan commented on #4311
@j-martin let us know if those timelines are workable.

[2022-01-14 06:10] j-martin commented on #4311
Oh yeah, this is totally fine. Also, it's not like you folks owe me/us anything. ;)

[2022-01-14 07:44] #4010 closed, assigned to nobody

[2022-01-14 09:01] IagoAbal commented on #4499
@nbrahms I labeled it as a bug because of this ^^^ correct me if I'm wrong but I think our Python parser does have a bug when it comes to parsing `[a(e) for a in b if c if d for e in f]`

[2022-01-14 09:23] IagoAbal commented on #4278
Happy to hear that you got that implemented easily @gordonwoodhull. Looking forward to your next proposal and eventually some PRs 😄

[2022-01-14 11:08] IagoAbal commented on #3430
Have we tried removing the limitation of `...` to just 10 lines, or bumping it to 100? How did we set that limit in the first place?

[2022-01-14 13:12] #4490 closed, assigned to mjambon

[2022-01-14 14:54] IagoAbal commented on #1147
Ideally we can tweak the translation to make things easier. Right now sections are translated as records. We could translate the `locals` section differently, as a block of assignments, and then constant propagation should work. The caveat would be that the order of the local definitions would matter, whereas using a record the order does not matter.

[2022-01-14 20:21] mjambon commented on #3430
I picked 10 because it's easy to remember, and it's set in stone for the same reason. I think 100 seemed like too much at the time, and the ability to use `... ... ...` convinced me that 10 was the best setting.

In the current implementation (see earlier comment), a single `...` with a limit of 100 should have the same behavior and performance as 10 consecutive `...` with the standard limit of 10

[2022-01-17 10:41] aryx opened #4530 "[Solidity] support for(...)"
This was reported here: https://r2c-community.slack.com/archives/CK86BJ5DW/p1642160792063600

[2022-01-17 21:58] #4530 closed, assigned to aryx

[2022-01-18 08:51] aryx commented on #3521
@mjambon did you see the comment @underyx had on semgrep-agent above?

"When solving this, please test whether semgrep-agent still understands which findings are ignored right and whether semgrep-agent sees the same source code for the finding before and after ignore.

Currently semgrep-agent has to resort to a brittle hack to be able to recognize that the finding is identical before and after ign

[2022-01-18 17:05] s-santillan opened #4537 "--no-git-ignore isnt being respected"
**Describe the bug**

Default Semgrep ignore behavior (behavior when there is NO explicit .semgrepignore file) overrides the --no-git-ignore flag. This means that running Semgrep by default with `semgrep --no-git-ignore` still skips gitignored files, even though it should not.

**To Reproduce**

**Docs say:** "--no-git-ignore will disable git-aware filtering." So files named in .gitignore should n

[2022-01-18 21:50] colleend opened #4538 "Ruby pattern parse error on parameter name: value key pair"
**Describe the bug**
There is a ruby pattern parse error on a parameter name value key pair separated by a column. It seems like the pattern parser errors on matching statements like:
[code]

**To Reproduce**
(https://semgrep.dev/s/386D)

**Expected behavior**
Expecting this pattern to parse.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [X

[2022-01-18 22:39] #3677 closed, assigned to nobody

[2022-01-18 22:43] ievans commented on #1964
Fixed in https://github.com/returntocorp/semgrep/pull/4518. @xmo-odoo I like that a lot -- want to open a new issue for -u/uu/uuu flags like ripgrep has?

[2022-01-18 22:43] #1964 closed, assigned to nobody

[2022-01-19 03:00] #4039 closed, assigned to nobody

[2022-01-19 06:59] mjambon commented on #3521
@aryx thanks for the heads-up, I hadn't realized that. I just asked @underyx to take a look at https://github.com/returntocorp/semgrep/pull/4535

[2022-01-19 07:45] xmo-odoo opened #4539 "Add `-u` flag (potentially repeatable) to disable filtering"
Copy of https://github.com/returntocorp/semgrep/issues/1964#issuecomment-1011849002 on the recommendation of @ievans.

semgrep has support for `.gitignore` files and its own `.semgrepignore` (possibly `.ignore` as well? Unsure).

It does have a flag to skip `.gititgnore` (i don't think it has one for `.semgrepignore` as yet? but `--no-git-ignore` can be a bit of a ~~mouthful~~ fingerful, and it's

[2022-01-19 09:02] aryx commented on #4539
@mmcqd recently added support for .semgrepignore in semgrep itself (it was only in the agent before). Maybe he has some feedback on this feature request.

[2022-01-19 09:05] aryx commented on #4538
You were using 4 dots. See https://semgrep.dev/s/qyQB

[2022-01-19 09:06] aryx commented on #4538
We could create a ticker for improving the error message, to more accurately point out where is the error.

[2022-01-19 09:06] #4538 closed, assigned to nobody

[2022-01-19 09:07] aryx commented on #4524
cc @mmcqd

[2022-01-19 09:22] xmo-odoo commented on #4539
Makes sense, this feature suggestion is, in a way, a followup to that change.

[2022-01-19 11:13] ZyanKLee opened #4540 "unit test for pattern-regex always fails locally"
**Describe the bug**
I wrote some rules and their corresponding unit tests and use them locally. Since v0.77.0 these tests always fail, up to 0.76.2 they work fine. The very same rules succeed when copy-n-pasting them to the playground:
https://semgrep.dev/s/zyanklee:httpd-rewriterule-too-many-spaces

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://semgrep.dev/s/zyanklee:httpd-r

[2022-01-19 15:50] minusworld commented on #4540
Hey @ZyanKLee, thanks for reporting this. Based on your description, it sounds like this is a bug in Semgrep itself. I'm going to transfer it to the Semgrep repository. Discussion can continue there. Thanks again!

[2022-01-19 15:54] minusworld commented on #4540
@colleend Might this have anything to do with --test changes? I wouldn't think so, but I am wondering if this rings any bells.

[2022-01-19 17:28] DMRobertson commented on #2633
Not an expert, but would guess that https://github.com/returntocorp/semgrep/blob/7e3fe901c5e768138b2f8c3b8a9282f390cdb8df/semgrep/setup.py#L148 could be changed to an explicit list, or else one [could pass](https://setuptools.pypa.io/en/latest/userguide/package_discovery.html#using-find-or-find-packages) `exclude=["tests"]` to `find_packages` as a list of excluded packages.

[2022-01-19 18:15] colleend commented on #4538
🤦‍♀️ 🤦‍♀️ 🤦‍♀️

Good catch! An improved error message would definitely be helpful 😅

[2022-01-19 19:34] colleend commented on #4540
Hmm, that's a good question -- I'll investigate whether it's related to `--test` changes 👍 . I ran it on my machine (MacOS Monterey).

With semgrep version 0.75.0, I got the confusion matrix with 1 TN and 3 TP (all tests passed). I then ran it with version 0.78.0, and got `✓ All tests passed!`, with no failure on the `--test` end.

My being unable to reproduce the issue might also be due to OS dif

[2022-01-19 19:57] brendongo opened #4543 "Speed up directory traversal"
**Is your feature request related to a problem? Please describe.**
Semgrep takes ~30 seconds to traverse large enough directory while something like fd https://github.com/sharkdp/fd#benchmark will take ~1 second. This is probably because fd does the traversal in parallel but semgrep does a single threaded walk. Right now semgrep also does this walk once per language.

**Describe the solution you'd

[2022-01-19 23:53] #3521 closed, assigned to nobody

[2022-01-20 00:13] ievans commented on #2633
(added planned-project so stale bot will go away)

I do agree it's pretty obnoxious but sadly still low-priority compared to other issues for the team. @brendongo will probably get to eventually but we would welcome a PR if someone wants to beat us to it

[2022-01-20 11:12] davidshepherd7 opened #4548 "Flag to automatically insert ignore comments for legacy code"
**Is your feature request related to a problem? Please describe.**

I'm adding new semgrep rules to a large legacy codebase, and I noticed that the vast majority of my time working on this is spent trying to figure out what to do about existing violations of the rules. Often the best I can do is to add an ignore comment. But even just  adding the ignore comments manually is a lot of work.

**Descr

[2022-01-20 13:17] xmo-odoo commented on #3758
![dog](https://user-images.githubusercontent.com/7571158/150346083-77cfa6b8-0ecb-498b-ba28-1c5199cd8e14.png)

[2022-01-20 13:18] xmo-odoo commented on #2530
![BnXNP28CQAA6jut](https://user-images.githubusercontent.com/7571158/150346247-ca986dfe-edb1-4667-8285-b4b82d7c8f8a.jpg)

[2022-01-20 13:19] xmo-odoo commented on #3304
![dogconfused](https://user-images.githubusercontent.com/7571158/150346355-44aacc38-2b2f-46f1-b0a2-9b5e5516bd57.png)

[2022-01-20 14:36] ZyanKLee commented on #4540
Hello,

thanks @minusworld for moving the ticket.

Thanks @colleend for looking into it. May the issue be related to the fact, that I do not run semgrep on each file individually, but have multiple files in the folder and run the `--test` on the whole folder?

[2022-01-20 14:43] ZyanKLee commented on #4540
Ok, I tried it with only a single rule in a single .yaml with the corresponding .conf in a separate folder, still it failed:
[code]

running it like this seems to succeed, though:
[code]

[2022-01-20 16:31] ievans commented on #2530
Ugh, I've added a priority tag to this which I think will make stalebot go away

[2022-01-20 17:36] gordonwoodhull commented on #3801
:wave:

This is high-priority for us, we have implemented it, and plan to contribute. Since the project is continuing this year, we will get approved to contribute soon!

[2022-01-20 17:50] minusworld commented on #3539
semgrep-rules now officially releases off of a release branch. This means that changes can be made to `develop` and will be reflected in semgrep's tests without actually releasing rules that use unreleased features. Does this sound like it resolves this issue?

[2022-01-20 18:02] ievans commented on #4281
This is in progress!

[2022-01-20 18:17] ievans commented on #4548
Thanks for writing the issue @davidshepherd7! We would gladly welcome a PR for this and I think it would be fairly straightforward. The UI could be implemented as something like `semgrep ignore <lastrun.json>`. Or `semgrep --config=xyz.yml | semgrep ignore -`

[2022-01-20 18:27] ievans commented on #4543
would be awesome to use the same ignore + regex engines that ripgrep does, and get us one step closer to a fully-native binary

[2022-01-20 19:39] aryx commented on #3539
The problem is that we still use the latest semgrep-rules in the CI of semgrep, and many times a fix in semgrep leads to finding more things, or fixing some todoruleid: in semgrep-rules, which means the CI of semgrep will fail, but we can't change semgrep-rules because it's using an old version so you can't add more ruleid: or remove some todoruleid:, so we're still blocked. Can't change semgrep,

[2022-01-20 19:42] colleend commented on #975
wave

[2022-01-20 19:43] aryx commented on #3801
woohoo, great!

[2022-01-20 19:44] aryx commented on #2503
we're working on it

[2022-01-20 19:46] aryx commented on #2530
ahah, j'adore la cite de la peur!

[2022-01-20 19:50] aryx commented on #2874
similar to https://github.com/returntocorp/semgrep/issues/2503#issuecomment-1017750599

[2022-01-20 23:56] colleend opened #4550 "Ruby metavariable matching in class objects"
**Describe the bug**
Ruby metavariable representing a serialized class variable is not matching the variable when a new object is created.

**To Reproduce**
https://semgrep.dev/s/Byg7
Would expect this rule to match on line 7

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [X] P2: regular bug that

[2022-01-21 02:07] enncoded opened #4551 "Ruby Metavariable Matching With Strings Error"
**Describe the bug**
I encountered two similar issues. (further information will be numbered accordingly)
1. Matching a metavariable _within_ a string results in a `failed to bind to subpattern` error.
2. Matching a metavariable _as_ a a string only matches the `:asdf` representation of a string, but not `'asdf'` or `"asdf"`.

**To Reproduce**
1. https://semgrep.dev/s/lejliu:ruby-string-example-1

[2022-01-21 04:50] mjambon commented on #4117
Here's a simpler reproduction of the problem: https://semgrep.dev/s/Q6nJ

And it doesn't seem to be a problem with the generic mode alone: https://semgrep.dev/s/38KG

[2022-01-21 05:00] mjambon commented on #4071
Maybe it's something related to constant propagation, I don't know. I assigned @IagoAbal

[2022-01-21 06:54] aryx commented on #4550
Which metavariable are you talking about in your example?
I think the prolbme is the use of :$INPUT and .$INPUT, which are not matched with each other
when it's used as :tags and .tags.

[2022-01-21 07:07] vmarkovtsev commented on #4462
I think the bot meant "and either it wasn't prioritized or its priority is **not** high"

[2022-01-21 07:08] vmarkovtsev commented on #4462
@ievans indeed, this is a cosmetic issue, but also should be a quick fix.

[2022-01-21 17:27] ievans commented on #4462
Yes, I added some labels that will make stale bot go away. Thanks for reporting!

[2022-01-21 17:45] HariSekhon opened #4552 "GitHub Action broken"
**Describe the bug**
This used to work and suddenly broke. I re-ran the failed Github Actions workflow which succeeded but caused lots of false positives to appear in the Security tab, including for things that I don't even have in this repo like django.

2 issues:

1. Why did it fail the first time?
2. I believe semgrep is getting false positive alerts from semgrep's own agent files!

**Screensho

[2022-01-21 18:08] HariSekhon opened #4554 "GitHub Actions re-run reports lots of false positives from own semgrep agent log!"
**Describe the bug**
After the failure in #4552, clicking re-run on the GitHub Actions workflows results in 16 false positives being logged to GitHub security tab, including for things that I don't even have in this repo like django.

**To Reproduce**
Re-run a failed semgrep github action:

[code]
[code]

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or w

[2022-01-21 18:10] ievans commented on #4552
thanks @HariSekhon , we're looking into this. Feel free to join us on https://r2c.dev/slack as we fix

[2022-01-21 19:04] mmcqd commented on #4552
We rolled back to the previous semgrep-action release while we fix this. Let us know if anything is still broken.

[2022-01-21 20:36] brendongo opened #4555 "homebrew deploy action broken due to updated python version"
**Describe the bug**
Update on Homebrew-core job is failing during release https://github.com/returntocorp/semgrep/runs/4889454978?check_suite_focus=true

This is because https://github.com/returntocorp/semgrep/blob/develop/.github/workflows/release.yml#L320 has hardcoded the version of python that is running and github action is no longer running 3.9.9 but is running 3.9.10

We should dynamically

[2022-01-21 22:07] #3373 closed, assigned to nobody

[2022-01-21 22:18] ievans commented on #4554
Resolved along with #4552 -- will track resolution there: https://github.com/returntocorp/semgrep/issues/4552#issuecomment-1018781543

[2022-01-21 22:18] #4554 closed, assigned to nobody

[2022-01-21 22:20] emjin commented on #3298
Work needed now:
- pattern-ref sends a separate file to semgrep-core
- semgrep-core can take multiple files or python has a translation

[2022-01-21 23:00] colleend commented on #4550
was talking about the $INPUT metavariable -- is there a way to get the metavariable to match both the `tag` in `:tag` and the `tag` in `post.tag`?

[2022-01-22 00:04] #4462 closed, assigned to nobody

[2022-01-24 13:33] #4550 closed, assigned to nobody

[2022-01-24 18:30] hongyihu opened #4563 "[ruby] support sorbet's type assertions"
**Is your feature request related to a problem? Please describe.**
Supporting sorbet type assertions in ruby would allow us to write much more powerful and high signal rules. For example, checking if the input type to an activerecord object method is a hash (safe) or a non-static string (potentially unsafe).

**Describe the solution you'd like**
Semgrep can parse type assertions and propagate that

[2022-01-24 18:35] ievans commented on #4563
See also our issue tracking typing-awareness in more languages: https://github.com/returntocorp/semgrep/issues/2388

[2022-01-24 19:20] lgfa29 opened #4565 "False positives when matching strings that start with a backtick"
**Describe the bug**
False positive match for the `generic` language when the string to match starts with backtick (`` ` ``).

**To Reproduce**
Here's a playground like with the rule and sample inputs: https://semgrep.dev/s/08NJ

**Expected behavior**
The first input should match with a suggested fix, but the second one should not since it follows the expected pattern.

**Screenshots**
N/A

**What

[2022-01-24 19:21] colleend commented on #4550
🙏 thanks for fixing this so quickly!

[2022-01-24 19:24] lgfa29 commented on #4565
@LewisArdern provided me with a workaround for this particular case by using `pattern-not-inside`: https://semgrep.dev/s/zJe0

Though I don't know if this would work in other scenarios.

[2022-01-24 20:35] LewisArdern commented on #4565
I don't like the work around for the core reason:

* pattern-not-inside= should be able to allow semgrep to dig inside something e.g. a script value <script ...>
* pattern-not= should match any semantic type query e.g. "```$VALUE"

There was a reference to https://github.com/returntocorp/semgrep/issues/1218 in the slack channel but this use-case is not deeply nested queries, or anything fancy.

ED

[2022-01-24 22:38] kosztyua opened #4566 "[PHP] Help with pattern"
Hi,
I am working on trying to reduce false positives and here is my first pattern-not, any guess semgrep cannot parse it? What am I missing here?
- pattern-not: assert(... instanceof ...);

Log:
`[0.024  Info       Main.Run_semgrep     ] Uncaught exception: Rule.InvalidPattern("assert-use", "assert(... instanceof ...);", _, "Parsing.Parse_error", _, _)
Raised at Parse_rule.parse_xpattern_expr in f

[2022-01-24 22:48] ievans commented on #4566
hi @kosztyua, can you share a snippet with the code you're trying to parse and the full pattern using the playground? (https://semgrep.live/)

[2022-01-25 07:23] xmo-odoo opened #4567 "Literal string patterns seem to confuse `metavariable-pattern`"
**Describe the bug**
Trying to exclude literal strings from a metavariable match

**To Reproduce**
https://semgrep.dev/s/gXKy

**Expected behavior**
From my (admittedly shallow and probably incomplete) understanding this should exclude the cases where a `getattr`'s second parameter is a literal string.

The behaviour is odd because a literal string seems to match *everything*: if the patttern is f

[2022-01-25 09:52] xmo-odoo commented on #4567
Note: I downgraded the priority from P1 (quite annoying) because this specific case at least [I can express otherwise](https://semgrep.dev/s/PgzE), but I think the general issue on the behaviour of string literals in metavariable patterns is valid regardless

[2022-01-25 10:09] kosztyua commented on #4566
Hi @ievans,
Thank you for the quick response. Here is the code in the playground: https://semgrep.dev/s/JeKZ
What I am trying to do here is add a specific pattern-not for instanceof which has a somewhat unique layout.

[2022-01-25 11:09] timhemel opened #4568 "Semgrep does not detect java files under directory named test because of default .semgrepignore"
**Describe the bug**
I am running semgrep on a directory with java files, but it fails to detect a java file that is under a directory called `test`.

**To Reproduce**
I used the java rules from the semgrep-rules repository.

[code]

So, if I am in the directory containing the file, it detects it as a Java file (`ran 97 rules on 1 files`), but if I am not, it does not detect it (`ran 97 rules on 0

[2022-01-25 11:23] timhemel commented on #4568
Confirmation that it is indeed the name `test` that gives problems:

[code]

[2022-01-25 11:31] timhemel commented on #4568
I can reproduce the same problem for python files.

[2022-01-25 12:09] timhemel commented on #4568
Looks like the default `.semgrepignore` file in the installed python package skips these directories. While this may be user friendly in a way, it is also not obvious to users, and leads to surprises. If they serve as examples of how make a `.semgrepignore` file, please comment out any such entries. And make users aware that a default ignore file is used.

[2022-01-25 13:09] kosztyua commented on #4566
I ended up using this, but if there is a better solution please share
`    - pattern-not-regex: assert\(\$.* instanceof .*\)\;`

[2022-01-25 17:06] LewisArdern opened #4569 "Semgrep.dev playground converts language to python"
**Describe the bug**
When you open a registry item such as https://semgrep.dev/p/secrets in the playground it converts the value to python and it errors out not running

**To Reproduce**
Open Visit https://semgrep.dev/editor?registry=generic.secrets.security.detected-amazon-mws-auth-token.detected-amazon-mws-auth-token

See error:
[code]

**Expected behavior**
Should use the language specified in

[2022-01-25 18:50] ievans commented on #4566
@kosztyua The pattern `...` only matches a sequence/list of length 0+, I think you want a metavar, like so: https://semgrep.dev/s/Pgzq

[2022-01-26 00:34] lgfa29 opened #4572 "Support `fix` action to delete lines"
**Is your feature request related to a problem? Please describe.**
Sometimes I want to prevent a specific pattern from being used in a code base. In these situations I can write a rule to match and detect the pattern, but currently there's not way to provide a `fix` for it, which would be to delete the matching lines.

Example playground: https://semgrep.dev/s/kzdK

**Describe the solution you'd l

[2022-01-26 17:50] JosiahOne opened #4574 "#nosemgrep requires a path to the config file unexpectedly"
**Is your feature request related to a problem? Please describe.**
Consider the following folder structure:

[code]

Where rule.yml is:

[code]

And test.py is:

[code]

If you run `semgrep --config configs/rule.yml .` you get the following output:

[code]

Which I found to be unexpected. The [docs](https://semgrep.dev/docs/ignoring-findings/) indicate you should only need to provide the rule-id,

[2022-01-26 18:02] ievans commented on #4574
@JosiahOne thanks for this feedback, great writeup. This is intended behavior, but it is controllable with the flag `--rewrite-rule-ids` / `--no-rewrite-rule-ids`. If you disable rewriting rule ids, you can use # nosemgrep as intended, and the output `rule:configs.poc: POC` will instead read `rule:poc: POC`.

The rewrite behavior is heavily relied upon for interactions with Registry (https://githu

[2022-01-26 18:08] JosiahOne commented on #4574
Thanks for the quick response and tip @ievans ! I gave ``no-rewrite-rule-ids` a shot and indeed that solves my woes.

Looking forward to the docs update!

[2022-01-26 18:19] ievans commented on #4568
@timhemel your assessment is correct. We're working on a couple improvements here around both messaging and defaults, more details soon. Previously: https://github.com/returntocorp/semgrep/issues/1964

[2022-01-26 18:41] #4552 closed, assigned to nobody

[2022-01-27 04:16] mjambon opened #4578 "HTML parser should not be invoked if rule specifies 'generic' language"
**Describe the bug**

See https://github.com/returntocorp/semgrep/pull/4489

We get a parse error from the tree-sitter HTML parser even though the rule file only lists `generic` as a permitted language. The target file has the `.html` extension but it's not valid HTML and fails to parse with an HTML parser.

This is weird. It could have a bad performance impact since parsing is expensive.

**To Re

[2022-01-27 06:50] inkz commented on #2728
:wave:

[2022-01-27 06:51] inkz commented on #3978
:wave:

[2022-01-27 09:37] fropert opened #4579 "[C] pfff and tree-sitter parser fail to parse universal character name (UCN)"
**Describe the bug**

Both pfff and tree-sitter parser doesn't recognize the 4-digit hex identifier universal character name int **\u0401**;  in C code.
Same issue with the 8-digit hex identifier int **\U00000401**; as specified in ISO/IEC 10646.

**To Reproduce**

Visit https://semgrep.dev/s/1z7x

See error:

[code]
Using semgrep-core -lang c --debug:

[code]

**Expected behavior**

Should be abl

[2022-01-27 09:44] WesleyAC commented on #3605
Are there any docs for how to do this now?

I presume I can vendor the returntocorp/semgrep-rules repo somehow — it'd be nice to have some docs on how to do that in the interim while this feature is being developed.

[2022-01-27 12:20] aryx commented on #3605
I think you can just use the URL of the ruleset to download it locally.

`curl https://semgrep.dev/c/p/ocaml`
will download all the ocaml rules in one yaml file that you can then pass to --config

[2022-01-27 12:27] WesleyAC commented on #3605
Ah, that works great, thanks! Can that be added to the docs somewhere?

[2022-01-27 13:11] aryx commented on #3605
Yes we should.

[2022-01-27 20:07] aryx commented on #4563
https://sorbet.org/docs/type-assertions

[2022-01-28 02:29] #4060 closed, assigned to nobody

[2022-01-28 02:29] #4036 closed, assigned to nobody

[2022-01-28 02:29] #4135 closed, assigned to emjin

[2022-01-28 02:29] #3860 closed, assigned to nobody

[2022-01-28 02:29] #3085 closed, assigned to nobody

[2022-01-28 02:29] #4284 closed, assigned to IagoAbal

[2022-01-28 02:29] #4325 closed, assigned to nobody

[2022-01-28 02:29] #3901 closed, assigned to nobody

[2022-01-28 02:29] #4405 closed, assigned to nobody

[2022-01-28 02:29] #4454 closed, assigned to nobody

[2022-01-28 14:05] ievans commented on #3901
Looks like this was fixed!

[2022-01-28 14:16] aryx commented on #4176
@ievans when you reopen, please assign a priority. @mjambon changed the stale bot to not bother us on issues with a priority (unless it was set to high and nobody did anything on the issue for 2 weeks).

[2022-01-28 14:42] ievans commented on #4176
I added `planned-project` which also prevents stale bot, but it's good to have the priority too :)

[2022-01-28 22:09] minusworld opened #4582 "[Terraform] Can't match YAML documents inside Terraform strings with metavariable-pattern"
**Describe the bug**
I have a rule in which I'm trying to match YAML inside a Terraform string. Examples are in the next section.
I have tried many combinations of patterns, but it seems like it just isn't getting picked up.
I'm still able to match YAML documents in other languages, though.

**To Reproduce**
Case I want to match: https://semgrep.dev/s/GyGq
Full rule I'm trying to write with JSON e

[2022-01-29 09:44] Hupka commented on #2232
Good morning!

Recently the Tree-Sitter-Swift-Project has been moved and is now actively maintained in a different place: https://github.com/alex-pinkus/tree-sitter-swift

How much effort would it be to include support for Swift? What would be most of the effort?

[2022-01-31 12:55] p3pijn opened #4583 "Option to exclusively share and match values of meta variables with the same name in pattern / pattern-inside clauses"
**Is your feature request related to a problem? Please describe.**
Currently, meta variables in patterns are scoped to a single pattern. It is not possible to have a `pattern` match a meta variable and then e.g. reuse that meta variable with the exact matched value in a `pattern-inside`.
This seems to be because patterns and their respective pattern-inside clauses perform their own matching and bi

[2022-01-31 15:07] SoftwareApe opened #4584 "C++ parser fails on namespace aliases, various kinds of open braces, assignments, alignas, custom operators, etc."
Description:

I have some code with

1. namespace aliases, e.g.

[code]

Semgrep currently fails parsing here for C++.

2. It also fails on various places with '{' not expected, ot '=' not expected, even though you have a valid balanced bracing and the variable for the assignment declared just a few lines prior.

3. Semgrep also fails on the name after the [alignas specifier](https://en.cppreferen

[2022-01-31 15:08] SoftwareApe commented on #4584
This is just a few of the common failures.

[2022-01-31 15:30] IagoAbal commented on #3085
I think https://github.com/returntocorp/semgrep/issues/3085#issuecomment-844237454 is good, we just need to make a decision whether this is still relevant and what is it's priority.

[2022-01-31 15:47] fropert commented on #2104
Unsure if it's the same issue but the following simplified code from real-world with #define in a function fails to parse:
[code]

[2022-01-31 16:04] jynik commented on #2104
@fropert IIRC, the `#` in the `#define` technically is supposed to be the first character on the line according to the C standard (89? 99?), isn't it? (I thought GCC and LLVM required such at least, but could be wrong.)

Is this the source of the failure, or was it a copy-paste error in creating the issue?

[2022-01-31 20:43] amuthanarulraj commented on #3713
Here is the official grammar https://github.com/groovy/groovy-core/blob/GROOVY_2_4_3/src/main/org/codehaus/groovy/antlr/groovy.g

[2022-01-31 21:39] ahpaleus opened #4587 "Unable to catch a contract with its modifier"
**Describe the bug**
It is unable to catch the whole contract with the specific modifier.

**To Reproduce**
https://semgrep.dev/s/7nk2

**Expected behavior**
Catch the whole:
[code]

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

**Environment**
If not usi

[2022-02-01 00:12] idawson-gl opened #4589 "PHP: Support for matching types in function parameters"
Right now it's not possible to match types defined in function parameters. This makes it impossible to match functions or methods that are defined with type information.

Example here: https://semgrep.dev/s/idawson-gl:findmethod

It would be excellent if we were able to match on types, or use ellipsis to ignore them.

The only way to currently match a function like the one above is to have a rule

[2022-02-01 01:08] inkz commented on #4484
Similar issue but for Python code: https://semgrep.dev/s/abuammar:pattern-not-inside
from our user: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1643230967051000

[2022-02-01 02:14] enncoded opened #4591 "`r2c-internal-project-depends-on` gives no output when no lockfile is found"
**Describe the bug**
Rules using `r2c-internal-project-depends-on` gives no output without a lockfile in the directory that's being scanned.

**To Reproduce**
Run a semgrep rule that uses that key on in a directory that doesn't have a lockfile.

**Expected behavior**
I'd personally prefer if Semgrep pretends that the `r2c-internal-project-depends-on` key doesn't exist if it can't find a lockfile,

[2022-02-01 08:07] aryx commented on #2232
Most of the effort is writing the Parse_swift_tree_sitter.ml which converts the Concrete syntax tree of Swift as returned by tree-sitter-swift, to the generic AST used internally in semgrep. See for example https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/src/parsing/tree_sitter/Parse_csharp_tree_sitter.ml which is the converter written for C#.

[2022-02-01 08:08] aryx commented on #2232
Before writing this Parse_swift_tree_sitter.ml, there are lots of small steps to do as documented here: https://semgrep.dev/docs/contributing/adding-a-language/

[2022-02-01 12:58] IagoAbal commented on #4583
I think your example should work and this is probably a bug. Is this blocking your adoption of Semgrep @p3pijn ?

[2022-02-01 14:58] jeremybrooks-sf commented on #717
Is there any plan to merge this into the main semgrep repo from @aryx's fork? This is causing false negatives for our team.

[2022-02-01 15:53] p3pijn commented on #4583
@IagoAbal

It slightly blocks my adoption in writing rules, but I can still write other rules that do not need this specific construct.

That said, if metavariable matching does not work correctly due to this bug then it is likely that matching in other rules are also impacted by this bug.

[2022-02-01 16:31] aryx commented on #717
This was merged, a long time ago.

[2022-02-01 16:32] aryx commented on #717
If you have examples that do not work, feel free to create a new issue with a link to a semgrep.dev playground example showing the current limitations.

[2022-02-01 16:56] jeremybrooks-sf commented on #717
I can create a new issue, but I'm not sure if this is a bug or just my misunderstanding. I tried the example which is posted in the original comment (similar case here https://semgrep.dev/s/zJKW). The "object deserialization" rule in that playground link does not flag line 21 as I would expect. I am assuming semgrep.live is using the latest engine. I also tried the sample code and rule from that l

[2022-02-01 17:50] LewisArdern commented on #4228
I'm seeing this hasn't been fixed, we're running into missing catches on production code we're trying to scan

Here's another example:
* https://semgrep.dev/s/6gjB

See: https://github.com/returntocorp/semgrep/issues/717 which said it was fixed, and well i think it hasnt been

[2022-02-01 22:09] #717 closed, assigned to nobody

[2022-02-01 22:46] emjin commented on #4228
Should match now! https://semgrep.dev/s/0ykj?version=develop. Fix will go out with the release tomorrow

[2022-02-01 22:46] #4228 closed, assigned to emjin

[2022-02-02 00:48] LewisArdern opened #4599 "Semgrep playground fails to run from defined branch on page load"
**Describe the bug**
When you visit https://semgrep.dev/s/0ykj?version=develop it does not use the 'version' parameter when querying the docker API https://semgrep.dev/api/run. It should first extract the version and run against develop.

**To Reproduce**
1. Visit https://semgrep.dev/s/0ykj?version=develop
2. See no finding was found
3. Click 'run' see that the finding was found as the develop fla

[2022-02-02 00:49] r2c-demo commented on #4599
This issue is synced in Linear at https://linear.app/r2c/issue/PA-815/semgrep-playground-fails-to-run-from-defined-branch-on-page-load.

[2022-02-02 07:03] inkz opened #4600 "[Scala] Parsing error for `main` method example"
**Describe the bug**
Parsing error
[code]
for
[code]

**To Reproduce**
https://semgrep.dev/s/gXOZ

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

**Environment**
If not using semgrep.dev: are you running off docker, an official binary, a local build?

[2022-02-02 07:04] r2c-demo commented on #4600
This issue is synced in Linear at https://linear.app/r2c/issue/PA-816/[scala]-parsing-error-for-main-method-example.

[2022-02-02 16:12] Pamplemousse opened #4606 "`int` could be a valid Java pattern"
**Is your feature request related to a problem? Please describe.**

Trying to use `pattern-either` within a `metavariable-pattern` with Java types, `semgrep` complains that `int` is not a valid pattern.

Here is an MWE: https://semgrep.dev/s/qy7y ; It shows that `pattern: int` is invalid for `$TYPE`: commenting it out shows its true positivity: the line that has `String` is reported.
Trying to con

[2022-02-02 16:13] r2c-demo commented on #4606
This issue is synced in Linear at https://linear.app/r2c/issue/PA-817/int-could-be-a-valid-java-pattern.

[2022-02-02 16:43] mmcqd commented on #4600
There are two issues here. First is that currently Semgrep can't just parse a function definition in Scala, it needs to be part of some `Object` or `Class`. This is the case in Java too. If being able to do that is important let me know. The other is that your code isn't actually valid Scala 2. The function body needs to be in brackets if it's a series of statements (see: https://scastie.scala-lan

[2022-02-02 16:51] #4600 closed, assigned to mmcqd

[2022-02-02 17:47] HariSekhon commented on #4554
Technically I think this is still a bug as a retry in the GitHub Action will find `.semgrep_logs/` and get lots of false alerts... the solution is probably to exempt `.semgrep_logs/` directory or use regex tricks like `matc[h]` so that you don't match your own regex or something.

The problem with exempting `.semgrep_logs/` by default is that this makes this a good place to hide things...

Looks l

[2022-02-02 18:17] nbrahms commented on #4540
Tagging @IagoAbal to see if there's anything going on with the core engine here.

[2022-02-02 20:40] ievans commented on #4554
good eye, I believe @HariSekhon those docs were actually updated as part of the fix, and we now ignore .semgrep_logs/ by default. In general we're not too concerned about the idea of someone hiding from Semgrep as it's designed to be used in a non-adversarial relationship, but you can always get the behavior back by committing an empty `.semgrepignore`

[2022-02-02 23:42] huonw opened #4608 "Python f-strings appear to be string literal concatenation"
**Describe the bug**

A pattern like `"..." "..."` is handy for catching string literal concatenation in Python (https://docs.python.org/3/reference/lexical_analysis.html#string-literal-concatenation), ala https://pylint.pycqa.org/en/latest/messages/warning/implicit-str-concat.html. However, this pattern also flags some single strings: `f"anything"`, even without any substitutions. Fortunately, th

[2022-02-02 23:43] r2c-demo commented on #4608
This issue is synced in Linear at https://linear.app/r2c/issue/PA-819/python-f-strings-appear-to-be-string-literal-concatenation-in-some.

[2022-02-02 23:45] huonw commented on #4184
This appears to be related to the metavariables in the strings: using `"..." "..."` as the pattern flags sequences of more than 2 literals as desired (https://semgrep.dev/s/huonw:semgrep-issue-4184).

While experimenting with this, I noticed https://github.com/returntocorp/semgrep/issues/4608, and is potentially related to misleading string handling.

[2022-02-02 23:56] ievans commented on #4608
Thanks for reporting @huonw

One of the design principles for Semgrep is that we match based on the most generous interpretation of the pattern. E.g., if you write `int x;` as your pattern, we still match `const int x;` but the pattern `const int x` won't match `int x`.

In this case, it's intended behavior that the most generic string search "..." matches all strings, even f-strings or byte-strin

[2022-02-03 00:01] huonw commented on #4608
Thanks for the quick response, however even with that generous interpretation, it's a peculiar inconsistency that `"..." "..."` is matching `f"single"`, but not `"single"`.

I note that this rule works at the moment, other than the f-string inconsistency (i.e. it's not being matched semantically). And, the most-generous interpretation means the rule automatically correctly flags `"A" f"B"`, which

[2022-02-03 00:53] inkz commented on #4600
@mmcqd thank you :pray:
my bad, I guess I bumped into some "Hello world"s from Scala 3

[2022-02-03 00:56] ievans commented on #4608
Yup, good point. So my minimal repro of that is https://semgrep.dev/s/08p5 :

print(f"hello") #<- matched (bug)
print("hello") #<- not matched

[2022-02-03 01:04] ievans commented on #4608
(& sorry it took me so long to process your bug report)

[2022-02-03 01:15] adamberman commented on #4599
Hi @LewisArdern! Thanks for reporting this! I've deployed a fix for this issue, so I'll close it. If you feel like this hasn't been fully addressed or if you see it pop up again, feel free to re-open and add more context. Again, thanks for reporting!

[2022-02-03 01:15] #4599 closed, assigned to adamberman

[2022-02-03 08:37] aryx commented on #4606
When you're looking for a type, in other languages I had to explicitely add a special syntax to tell the parser that what comes after
is not an expression but a type. For example, when looking at OCaml code you can say pattern:  : foo, to tell semgrep you're interested in the type foo, not the expression foo. Maybe we need the same trick for Java.

[2022-02-03 13:45] IagoAbal commented on #4608
`"...""..."` matches `f"single"` because f-strings are represented as concatenations. In this case `f"single"` is a concatenation of a single string, but `"..." "..."` can match string concatenations of _one_ or more strings, because the second "..." can match zero strings too. If that makes sense?

I've been wondering if we should consider f-strings as concatenations at all, or rather as `<str>.f

[2022-02-03 13:46] IagoAbal commented on #4608
cc @aryx

[2022-02-03 16:43] insanitybit opened #4612 "Semgrep doesn't pick up .semgrepignore in Docker"
**Describe the bug**
When you run Semgrep in a docker image it seems to hardcode where it looks for .semgrepignore as opposed to the default behavior of looking in the current directory.

I assume this works fine for your docker images, but I'm building an image with semgrep in it, and my working directory is elsewhere.

**To Reproduce**
Create a custom dockerfile off of semgrep:
[code]

**Expecte

[2022-02-03 16:44] r2c-demo commented on #4612
This issue is synced in Linear at https://linear.app/r2c/issue/PA-821/semgrep-doesnt-pick-up-semgrepignore-in-docker.

[2022-02-04 01:12] clintgibler commented on #4168
Can I maybe bump this up from low priority? I feel like it's something people (like me) stumble on often, so if we have some bandwidth would be nice to do 🙏  Maybe we can have a list of common failure modes?

[2022-02-04 01:15] clintgibler commented on #3305
+1 I was just thinking about this as well, including for other operators like `metavariable-comparison`.

Would be great to have Semgrep flag for you when you use a metavariable in `metavariable-foo` that is not present in any pattern.

@emjin What's your approximate costing for this?

Could fall under the "make Semgrep easier for new users" / "fewer sharp edges" / "better author debugging" goals.

[2022-02-04 04:17] khanhldt opened #4620 "Semgrep tries to pull registry when `--validate` is on"
**Describe the bug**
Trying to set up a pre-commit hook like below:

[code]

It failed to run in our CI because Semgrep attempted to pull from registry even though the documentation said it should not (and our CI blocks network call).

So i tried to remove `--validate` flag and it looks like it doesn't try to pull from registry anymore. Also, looking at the change log, i believe this was changed f

[2022-02-04 04:18] r2c-demo commented on #4620
This issue is synced in Linear at https://linear.app/r2c/issue/PA-823/semgrep-tries-to-pull-registry-when-validate-is-on.

[2022-02-04 05:09] huonw commented on #4608
It's a bit confusing to me if `"..."` by itself can match zero strings? It makes sense that it can match a string of zero length (`""`), but not not-a-string at all? Thus, it's also a bit confusing to me if `"..." "..."` is a special form that means 'one or more strings'? Maybe I'm missing something.

Yeah, an f-string seems more formatting than a concatenation, since `"x" + y` requires that `y` i

[2022-02-04 07:49] IagoAbal commented on #4540
@ZyanKLee could you please try to reproduce with 0.80.0 or 0.81.0 ? I could not reproduce it myself on MacOS 11. Using Semgrep 0.80.0 and doing everything exactly as you described, I got `✓ All tests passed!`.

[2022-02-04 08:05] IagoAbal commented on #4608
The `"..."` being able to match zero strings allows `"foo" "..." "bar"` to match both `"foo" "bar"` and `"foo" "hello" "bar"`: https://semgrep.dev/s/9LZk. Although I see your point, and I kind of agree, we should probably instead allow the pattern `"foo" ... "bar"` which is not currently a valid pattern. I may be missing some other reason why we need `"..."` to match zero or more strings, cc @aryx

[2022-02-04 08:08] IagoAbal commented on #4620
cc @brendongo @underyx

[2022-02-04 08:42] brendongo commented on #4620
semgrep pulls from registry to pull the extra validation rules https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/core_runner.py#L454

[2022-02-04 08:45] brendongo commented on #4620
Maybe we need to update documentation. @khanhldt where did you find that `--validate` says it doesn't pull rules from registry?

[2022-02-04 10:16] ZyanKLee commented on #4540
Hey @IagoAbal, you are right. I can't reproduce with 0.80.0 nor 0.81.0
I guess I will upgrade and we can close this ticket if you do not need it anymore.

Thanks for your support everyone!

[2022-02-04 10:40] IagoAbal commented on #4540
Great to hear it works for you too! I'll then close, but if someone thinks that we should investigate why it failed, then please reopen.

[2022-02-04 10:40] #4540 closed, assigned to nobody

[2022-02-04 13:18] #4515 closed, assigned to IagoAbal

[2022-02-04 17:37] khanhldt commented on #4620
I think I read it in a couple of places, but one is from the `semgrep --help` saying `This will check YAML files for errors and run 'p/semgrep-rule-lints' on the YAML files. No search is performed.`

Another thing is that I've been using version 0.65.0 in our CI and its been working fine. With this change in newer versions, I'm not able to get Semgrep to run in our CI anymore.

How can I turn off

[2022-02-04 18:47] emjin commented on #4168
I wonder if you could write any rule-lints to capture the failure modes you've run into! And if not you can describe them in a list and PA can encode them in OCaml

[2022-02-04 18:49] emjin commented on #3305
This seems like a day or two of work. Let me see if I can get to it next week

[2022-02-04 19:18] emjin commented on #4582
Created a linear ticket for this https://linear.app/r2c/project/support-security-research-team-5beed2a5f2e7/PA

[2022-02-04 20:41] ievans commented on #3147
Re-opening, this is a planned feature (part of "semgrep runs on an airplane")

[2022-02-04 20:42] ievans commented on #4620
As far as I understand the use case, I suspect it's semi-related to https://github.com/returntocorp/semgrep/issues/3147

E.g., if we bundled `p/semgrep-rule-lints` with release, `--validate` would be robust to network requirements.

@khanhldt is this blocking you? can you remove the --validate step for now?

[2022-02-04 20:46] khanhldt commented on #4620
Not really blocking as I switched to use version 0.70.0.

I'm using this hook to validate my Semgrep rules so `--validate` is necessary.

[2022-02-04 20:47] brendongo commented on #4620
@emjin was there a particular reason we went with not embedding the rule lints or is it fine to proceed with embedding them per release?

[2022-02-04 21:12] brendongo opened #4625 "Strict flag confusing behavior with nosem"
**Describe the bug**
It looks like `--strict` causes semgrep to report an error on on a `nosem` inline ignore if it contains rule_ids that do not match
a rule_id of a finding that fired on that line.

This is inconsistent because it does not report that nosem if no finding fires on that line.

**To Reproduce**
On foo.py
[code]
Run  `semgrep --config config.yml --strict foo.py`

config.yml
[code]

[2022-02-04 21:13] r2c-demo commented on #4625
This issue is synced in Linear at https://linear.app/r2c/issue/PA-831/strict-flag-confusing-behavior-with-nosem.

[2022-02-04 21:41] emjin commented on #4620
Embedding them should be fine

[2022-02-04 23:53] LewisArdern opened #4626 "Include extra.lines output in --vim output"
**Is your feature request related to a problem? Please describe.**
When you run --emacs it includes the extra.lines output, part of our automated scanning we leverage --vim in our pipeline, it is missing the extra.lines output

It would be great if they could be aligned, where the --vim flag also can contain the code snippet which is vulnerable.

semgrep -f value.yaml --emacs:
[code]
semgrep -f va

[2022-02-04 23:55] r2c-demo commented on #4626
This issue is synced in Linear at https://linear.app/r2c/issue/PA-832/include-extralines-output-in-vim-output.

[2022-02-05 00:11] ievans commented on #4620
Also, duplicate of https://github.com/returntocorp/semgrep/issues/4454

[2022-02-05 03:03] #1849 closed, assigned to IagoAbal

[2022-02-06 20:47] ghost commented on #4466
Hey @aryx  sorry for the late reply, the command that I run is -
`semgrep -q --json --disable-metrics -c p/r2c-security-audit . -o /tmp/semgrep.json`

[2022-02-07 06:55] xmo-odoo commented on #3758
![animal 1](https://user-images.githubusercontent.com/7571158/152739422-7a1f7ca3-8d9b-44e9-a76b-88717b9dbb4b.png)

[2022-02-07 06:55] xmo-odoo commented on #3304
![animal 2](https://user-images.githubusercontent.com/7571158/152739439-049a798e-847d-41a7-a3a1-38de390aaf72.png)

[2022-02-07 06:55] xmo-odoo commented on #4539
![animal 3](https://user-images.githubusercontent.com/7571158/152739463-9ecc8d56-137f-4d26-a480-618be9425d14.png)

[2022-02-07 14:30] IagoAbal commented on #3304
We need to set some priority here. cc @ievans

I still think that the easiest solution would be for the CLI to make sure that the lines where metavariables match are included in the output. That is not perfect but it should do the job, and it doesn't require any change in the matching engine. CCing @brendongo who is the CLI expert. The CLI could also apply some other heuristics, if needed.

I am n

[2022-02-07 14:49] IagoAbal commented on #3539
This is a good candidate for a tech-debt week. It shouldn't take much time. It would solve the problem on our side. But for semgrep-rules, you will still have a situation where first your `test-develop` check fails, and then (once you update your `develop`) your `test-latest` will fail until a new Semgrep is released. Maybe `test-latest` is only needed for your release branch?

[2022-02-07 15:34] IagoAbal commented on #3199
Need to get back at some of these issues soon. Number 4 is something I want to do soon-ish. Number 3.i may be partly possible already using [symbolic propagation](https://semgrep.dev/docs/experiments/symbolic-propagation/), and 3.ii could be possible if we improved typed metavariable support for PHP. @erwanlr curious to know if you have been using taint-mode lately and if you have any other feedba