[2022-08-31 13:21] aryx commented on #1498
@brandonspark can you check whether this is still an issue now that we've switch to tree-sitter for Python?
I think there are maybe 20 Python issues we could close now :)

[2022-08-31 13:26] aryx commented on #3296
Solved! https://github.com/returntocorp/semgrep/pull/5898

[2022-08-31 13:26] #3296 closed, assigned to nobody

[2022-08-31 13:28] aryx commented on #3667
Is it still the case @IagoAbal ? Can we close the issue?

[2022-08-31 13:38] aryx commented on #3728
We're experimenting with adding direct support for jsonnet in semgrep, so you don't even need the makefile!
https://github.com/returntocorp/semgrep/pull/6009

[2022-08-31 13:42] aryx commented on #3806
Do we still have the issue @emjin ?

[2022-08-31 13:42] aryx commented on #3806
Can we close it?

[2022-08-31 14:28] aryx commented on #4480
@brandonspark are we there now with tree-sitter-python and all the TODOs fixed?

[2022-08-31 14:29] aryx commented on #4565
@mjambon is it related to the other recent bug with generic mode?

[2022-08-31 14:40] aryx commented on #4784
I think this has been tried and reverted. @annikalee or @milanwilliams have more information about it I think.

[2022-08-31 14:42] navhits opened #6012 "Support for output templates"
I usually parse the result from the Semgrep CLI into a custom template. For this, I would depend on the JSON output and then use Jinja to render any template I want.

If Semgrep CLI supports an additional flag `--output-template`, which takes the path to the template and auto-populates the values, it helps to have a dynamic way for anyone to use any template they want.
The inspiration for this req

[2022-08-31 14:42] r2c-demo commented on #6012
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1833/support-for-output-templates. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-31 14:48] aryx commented on #4939
@nmote did your work on switch in JS helps for this too?

[2022-08-31 14:49] annikalee commented on #4784
I'm closing this issue as we have decided to go down the alternative path described above instead.

[2022-08-31 14:49] #4784 closed, assigned to nobody

[2022-08-31 15:19] aryx commented on #5614
We could also maybe support a 'semgrep download --config p/r2c
just like we have a publish.

[2022-08-31 15:20] aryx commented on #5680
Some people in #5926 want actually to use the opportunity to override previous rule from ruleset by defining a local rule with the same id.

[2022-08-31 15:23] aryx commented on #5715
Got hit by this today also. Works on my Mac but I can't build the docker image on Linux.

[2022-08-31 16:36] nmote commented on #4939
Probably not. I introduced the concept of a standalone switch case as a pattern (e.g. just `case 4: ...`). Fully-formed switch statements already worked as patterns in JS/TS. It looks like the issue here isn't that we can't parse switch statements as patterns, but that we don't allow the semgrep ellipsis in them. The pattern `switch ($X) { }` parses and matches the switch statement in that example

[2022-08-31 16:57] brandonspark commented on #1498
@aryx Indeed, we can parse the given example now.

[2022-08-31 16:57] #1498 closed, assigned to brandonspark

[2022-08-31 17:03] IagoAbal commented on #3667
This is still an issue. A small issue I think, but I'll try to solve it during next hack week if not yet solved. Brandon gave it a try but the result was too complex I think for what we were achieving here.

[2022-08-31 17:16] aryx commented on #5994
Seems related to a very old issue: https://github.com/returntocorp/semgrep/issues/1375

[2022-08-31 17:17] brandonspark commented on #4480
@aryx No, sadly not, we are at 99.7%.

There is a single TODO that I left in the code, which I have now fixed in #6014, but I highly doubt that it's why.

I'm pretty sure the fact that we are failing to parse is a result of people passing off fake meta-Python files as Python, which borks the parser. I don't really know if there's something we can do about that.

[2022-08-31 17:19] aryx commented on #4480
Well we can look at the projects listed in the projects.txt and if 1 project really abuses and have fake meta-python files
we could just skip it (and use another popular Python project instead) and get better stats.

[2022-08-31 18:01] brandonspark commented on #4480
The two projects are:
[code]

Deleting just one is not enough to get us to 99.9%.

I have investigated both. `huggingface/transformers` uses some weird shenaniganry which looks like metaprogramming.

`cpython` just has code using this weird `except*` and `!` inside of f-strings, which as far as I have checked is not real Python code. Since it also has code _testing_ this syntax, I am under the imp

[2022-08-31 18:48] ck3mp3r opened #6015 "Add aarch64 to releases"
aarch64 missing in release packages for Linux and Darwin.

[2022-08-31 18:48] r2c-demo commented on #6015
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1834/add-aarch64-to-releases. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-08-31 19:43] aryx commented on #4480
Go for it. Just put them in comments in the projects.txt file with your notes on why we skip them

[2022-08-31 19:44] aryx commented on #4480
It is totally ok to skip cpython. We do the same for other languages where usually the compiler for a lang contains many test cases not representative of real code

[2022-08-31 20:59] nmote commented on #5558
@backcover7 I have what I believe to be a reasonable fix almost ready for review. It's currently blocked by a tangentially-related problem. I think the fix will be available either in next week's release or the week after.

[2022-08-31 21:29] backcover7 commented on #5558
@nmote Thank you for the notification. Would you mind linking to a valid playground case here when the fix is applied?

[2022-08-31 22:49] nmote commented on #5558
Sure, will do

[2022-09-01 11:02] Sjord opened #6018 "Performance issues when parsing null conditional operators in C#"
This file takes several minutes to parse:

[code]

[code]

[code]

[2022-09-01 11:02] r2c-demo commented on #6018
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1837/performance-issues-when-parsing-null-conditional-operators-in-c. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-01 11:32] spmishra121 commented on #5969
@bmahe , When using semgrep version 0.104.0 (Which is used as latest version in njsscan 0.3.1). I am getting no error but when running njsscan. I am getting error.
@ajinabraham , Please provide your feedback on this ticket. Seems error is not because of semgrep. It is because of output type. For HTML report we are getting error while for json, there is no error.

[2022-09-01 12:43] aryx commented on #5715
Seems like a case of https://stackoverflow.com/questions/71874467/docker-permissions-with-base-image-for-non-root-user
WORKDIR in arch linux does not respect the previous USER directive. in macOS it does, so
in arch linux we first need to mkdir the directory. argh.

[2022-09-01 12:57] aryx commented on #5715
See also https://github.com/moby/moby/issues/36677

[2022-09-01 18:16] bmahe commented on #3445
@aryx is this issue still valid?

[2022-09-01 18:27] bmahe commented on #4780
@aryx is it still relevant?

[2022-09-01 18:48] bmahe commented on #4926
Would this solve your problem? https://semgrep.dev/s/0Azk

[2022-09-01 18:56] bmahe commented on #4780
Not reproducible

[2022-09-01 18:56] #4780 closed, assigned to 0xDC0DE

[2022-09-01 19:00] bmahe commented on #4926
Alternatively: https://semgrep.dev/s/40j7

[2022-09-01 19:39] IagoAbal commented on #6002
As far as I can tell the issue is that in Pfff `Hello.class` is represented this way:
[code]
And in our Tree Sitter front-end is represented this way:
[code]

[2022-09-01 20:47] IagoAbal commented on #6001
Another example where typed metavariable doesn't match despite all the info is available: https://semgrep.dev/s/PLqN

[2022-09-01 22:59] IagoAbal commented on #6006
@Sjord are you requesting inter-procedural taint tracking? That's something that DeepSemgrep is meant to deal with.

[2022-09-01 23:48] backcover7 opened #6024 "Match only a parameter, ambiguous pattern"
**Is your feature request related to a problem? Please describe.**
https://semgrep.dev/s/XgoN
The pattern can only match the expression in the function body, and the parameter part cannot be matched.

**Describe the solution you'd like**
https://r2c-community.slack.com/archives/C018NJRRCJ0/p1662075237477919?thread_ts=1661554615.015699&cid=C018NJRRCJ0
As @IagoAbal said in Slack, a tag called `patte

[2022-09-01 23:48] r2c-demo commented on #6024
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1839/match-the-parameter-in-function-definition. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-02 05:16] backcover7 commented on #5971
@IagoAbal I suppose this issue could also be solved by the thought which is regarding to the propagation library we talked about in the slack.

[2022-09-02 06:57] lundberg opened #6026 "semgrep-core linked to homebrew libpcre.1.dylib"
**Describe the bug**
Running `semgrep` complains about `libpcre.1.dylib` not loaded. Looks to be same issue as #2624, but for macOS.

**To Reproduce**
[code]

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

**Environment**
* Apple M2
* macOS Monterey

[2022-09-02 06:57] r2c-demo commented on #6026
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1840/semgrep-core-linked-to-homebrew-libpcre1dylib. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-02 09:13] #5558 closed, assigned to nobody

[2022-09-02 09:14] aryx commented on #3445
No idea ... I'll close, somene can open it back if it's still an issue.

[2022-09-02 09:14] #3445 closed, assigned to nobody

[2022-09-02 10:17] aryx commented on #5715
reopened because of the revert

[2022-09-02 10:46] #5715 closed, assigned to aryx

[2022-09-02 12:36] wuestholz opened #6031 "Overly liberal matching for try-catch construct in Solidity"
**Describe the bug**

It seems like semgrep matches a try-catch construct in Solidity even if the external call does not match.

**To Reproduce**

I wrote the following rule to reproduce this in the semgrep playground (see https://semgrep.dev/s/0ApW):

[code]

Semgrep emits a match for the following Solidity code:
[code]

However, `d.baz()` should not match `d.foo(42)`.

**Expected behavior**
I ex

[2022-09-02 12:36] r2c-demo commented on #6031
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1841/overly-liberal-matching-for-try-catch-construct-in-solidity. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-02 13:48] aryx commented on #6024
Well you can do that: https://semgrep.dev/s/oZ81
I think pattern-param: is a not a great idea because I actually want to get away from all those pattern-xxx: and generalize instead.

[2022-09-02 13:55] aryx commented on #6024
maybe we could allow a pattern like  ',Search $S,' to indicate we're looking for a parameter. We also have a similar problem when someone is looking for a type where he can't say just 'pattern: MyType' because this will be parsed as an expression, not a type.

[2022-09-02 13:56] aryx commented on #6024
In OCaml I require to have ':' in front of MyType, as in ': MyType' so it's clear you're looking for MyType in a typing context.

[2022-09-02 13:57] aryx commented on #6026
@spencerdrak can you have a look? I think you recently had a fix regarding homebrew. Is it related?

[2022-09-02 13:58] aryx commented on #6031
Oh, this is bad ...

[2022-09-02 14:06] spencerdrak commented on #6026
Yep, I'll take a look. @lundberg thanks for reporting! I saw you opened PR #6027 - this definitely is incorrect, but our build process also ensures that the dynamic libraries are removed before each run, so I'm not sure that it'll solve the issue. We'll do some more digging.

(And by definitely incorrect, I mean that your PR fixes an incorrect line of code)

[2022-09-02 15:07] spencerdrak commented on #6026
@lundberg was the `otool` command run on an M1 mac?

[2022-09-02 18:17] spencerdrak commented on #6026
@lundberg we weren't able to reproduce this on either an M1 or X64 mac - can you provide any more info about the bug?

[2022-09-02 18:34] #6003 closed, assigned to nobody

[2022-09-03 11:10] emcd commented on #5996
I also see this fairly often, though it is not consistently reproducible, which makes me think that there is a timing or data race issue involved. (All occurrences that I recall have been with PyPy running `semgrep` rather than CPython.) Here is `--debug` output from the latest failure which I have encountered:
[code]

[2022-09-03 14:44] emcd commented on #5996
Also sometimes see the following, which further corroborates the notion of this being a data race:
[code]

Maybe a temp file is sometimes being deleted before everything is done using it or while something is still using it?

--

Reproducibility is tricky, as mentioned earlier. I just ran `semgrep` in a loop for 10 iterations after I got the above error. Out of the 10 iterations, 9 completed succe

[2022-09-03 16:45] lundberg commented on #6026
@spencerdrak I ran this on a clean Mac M2 without homebrew or commandline tools. I installed otool using nix package manager to check semgrep-core.

[2022-09-04 08:40] TheErk commented on #5996
We did face this a couple of time in CI exclusively.
This seems resource related because when we change the failing job runner to get a more powerful one (more CPU and more memory) the job stops failing.

NB: when semgrep is launched on a set of directories which contains less file to inspect, the "small" runner get the job done without failing too.

This is difficult to investigate because we wer

[2022-09-04 14:01] emcd commented on #5996
As I mentioned earlier, it definitely bears the characteristics of a race.

In my case, I can see it happening occasionally on the standard Github Actions workers (CI job) as well as locally. PyPy is much more sensitive to the problem than CPython and I suspect that that is because it is generally _slower_ on linting/testing workloads than CPython.

--

Anyway, here is some more data to add to wha

[2022-09-04 17:41] #5750 closed, assigned to nobody

[2022-09-04 22:59] ben-elttam commented on #5735
Is there a way to add a priority label via a bot (via a comment)?

[2022-09-05 10:27] aryx commented on #5996
@smcpeak I remember you mentioned some possible weird race in one of your review of our code. Do you think this could be related?

[2022-09-05 11:01] smcpeak commented on #5996
This does not look like the race I noted (in [https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/src/cli-bridge/bridge_design.txt](bridge_design.txt), search for "Progress bar race condition") because, in that case, the symptom would be an "internal error" that is caused by a failure to parse JSON (since `semgrep` treats malformed progress bar update bytes as JSON).

The error "0 by

[2022-09-05 12:59] emcd commented on #5996
@smcpeak : I also tried `--jobs 1` yesterday and still saw the issue (see previous post to this issue about results from iterated trials). It really looks like the master thread is closing the temp file with the test rules before thread-joining the workers, whether that number of workers is 1 or more. And, as witnessed, that temp file is sometimes being closed before all workers have had a chance

[2022-09-05 13:49] spaceraccoon commented on #5807
Hey @ben-elttam ,

I noticed you also tried the `taint` method to snag XSSes in JSPs but it's not compatible with `generic` language; did you ever find a neat solution for a single-file XSS detection in JSPs? The `join` mode approach has a bit of performance impact because you can't limit the `include` for the child rules...

[2022-09-05 15:41] #6031 closed, assigned to aryx

[2022-09-05 15:45] aryx commented on #6002
@emjin maybe that's the kind of bug we could detect automatically.
Note that semgrep-core -diff_pfff_tree_sitter also shows the difference.

[2022-09-05 15:54] aryx commented on #6002
Tree-sitter is wrong. I'm not sure why because there is a grammar rule for class_literal, but it does not seem to trigger.

[2022-09-05 15:55] aryx commented on #6002
Oh someone opened an issue about it: https://github.com/tree-sitter/tree-sitter-java/issues/121

[2022-09-05 15:57] wuestholz commented on #6031
@aryx Awesome! Thanks a lot for fixing this so quickly! 🙏

[2022-09-05 17:19] #6002 closed, assigned to aryx

[2022-09-05 17:40] #1489 closed, assigned to nbrahms

[2022-09-05 22:44] IagoAbal commented on #5740
@emjin Should we add this to Linear/Documentation?

[2022-09-05 22:51] IagoAbal commented on #5851
Playground permalink (just in case): https://semgrep.dev/s/x5rl

Closing because this looks like a request for inter-procedural symbolic propagation. Maybe it's something to move to DeepSemgrep?

[2022-09-05 22:51] #5851 closed, assigned to nobody

[2022-09-06 08:19] Sjord commented on #6006
Yes, I guess. I thought that this was supposed to work within one file, but not across files. But if this works as it is supposed to, that's fine of course.

[2022-09-06 09:10] ben-elttam commented on #5807
@spaceraccoon no, the best solution I found was the `join` mode rule, because `html` language is too strict (won't allow non HTML, e.g. JSP), and taint mode doesn't support generic language.

[2022-09-06 09:17] spaceraccoon commented on #5807
@ben-elttam Yes, ideally HTML support loosens up or JSP support as taint mode would be the most performant way of doing this.

[2022-09-06 19:31] emjin commented on #5740
Done. But also, we have a bunch of broken links it sounds like. I would like to know how much benefit these examples provide people.

[2022-09-06 22:35] backcover7 opened #6051 "Ellipsis in the constructor body fails"
**Describe the bug**
The fix here https://github.com/returntocorp/semgrep/issues/5558 makes it happen that semgrep now supports Java constructor matching. However, I found the ellipsis in the constructor body will fail the match in develop mode.

**To Reproduce**
https://semgrep.dev/s/K1dd?develop=true

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or wor

[2022-09-06 22:35] r2c-demo commented on #6051
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1852/ellipsis-in-the-constructor-body-fails. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-07 11:13] wuestholz opened #6052 "Too liberal matching for Solidity's try-catch construct"
**Describe the bug**

It seems like there is something off with how semgrep matches external calls in Solidity's try-catch construct.

**To Reproduce**

I wrote the following rule to reproduce this against the the develop-branch:

[code]

Semgrep emits a match for the following Solidity code:
[code]

However, there is only a single call to function `bar()` in function `foo()`.

**Expected behavior

[2022-09-07 11:14] r2c-demo commented on #6052
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1854/too-liberal-matching-for-soliditys-try-catch-construct. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-07 12:32] wuestholz opened #6053 "Pattern parse error for Solidity modifiers and constructors"
**Describe the bug**

Semgrep seems to run into a pattern parse error when trying to use Solidity modifiers and constructors in rules.

**To Reproduce**

I am trying to match the following Solidity code:

[code]

I wrote the following rule to match Solidity constructors in the semgrep playground (see https://semgrep.dev/s/BqLx):

[code]

This results in a pattern parse error.

I wrote the followin

[2022-09-07 12:33] r2c-demo commented on #6053
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1855/pattern-parse-error-for-solidity-modifiers-and-constructors. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-07 13:36] wuestholz opened #6055 "Too many matches for Solidity's unchecked-blocks"
**Describe the bug**

It seems like there is something off with how semgrep matches Solidity's unchecked-blocks. There seem to be more matches than expected.

**To Reproduce**

I wrote the following rule to reproduce this in the semgrep playground (see https://semgrep.dev/s/39re):

[code]

Semgrep emits **two** matches for the following Solidity code:
[code]

One of the matches is for the entire f

[2022-09-07 13:36] r2c-demo commented on #6055
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1856/too-many-matches-for-soliditys-unchecked-blocks. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-07 14:59] IagoAbal commented on #6006
We considered making Semgrep intra-file inter-procedural but there was a lot of duplication with DeepSemgrep, so we decided that Semgrep would stay intra-file intra-procedural (that's how it always was), and DeepSemgrep will deal with both inter-file and inter-procedural. If you want to stay with Semgrep only, there are always some workarounds that can help simulating inter-procedural to some exte

[2022-09-07 14:59] #6006 closed, assigned to IagoAbal

[2022-09-07 20:52] ewbankkit opened #6059 "semgrep `v0.112` Go regression - false positives reported"
**Describe the bug**
After the release of semgrep **v0.112** we started getting false positives reported on one of our Go rules.

**To Reproduce**
Offending rule:

[code]

**Expected behavior**

An example source file that passes the rule with **v0.111.1** (and below) but fails with **v0.112** is https://github.com/hashicorp/terraform-provider-aws/blob/main/internal/service/accessanalyzer/analyzer

[2022-09-07 20:53] r2c-demo commented on #6059
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1859/semgrep-v0112-go-regression-false-positives-reported. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-07 21:15] backcover7 opened #6060 "Match access modifier in Java"
**Is your feature request related to a problem? Please describe.**
Java has some different access modifiers like `public`, `private`, `protected`. However if a class or method does not define the access modifier explicitly, then it will be `package-private` in default. But Semgrep now cannot match the access modifier. Also some keywords like `static` and `final` are not supported either.
https://s

[2022-09-07 21:16] r2c-demo commented on #6060
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1860/match-access-modifier-in-java. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-07 21:49] IagoAbal commented on #6059
Minimized example: https://semgrep.dev/s/e85L
Seems like if the `pattern-not` operator was broken.

[2022-09-07 22:46] brandonspark commented on #6059
We found out why there was a false positive - sorry for the hassle! A re-release with a fix will be out by tomorrow.

[2022-09-07 23:48] emjin commented on #5996
I've investigated this a bit and there are a couple things going on:

One is that we're removing a file that could be a temp file after it's closed. I'm not sure why this hasn't caused anybody else issues, but it makes sense why it could be a race (sometimes the temp file is removed, sometimes it's not). We can patch this by wrapping it in a try-except.

That doesn't explain the `0 bytes read on a

[2022-09-08 01:29] #6059 closed, assigned to brandonspark

[2022-09-08 04:36] rouge8 opened #6063 "Wheels for Python 3.10 and Python 3.11"
**Is your feature request related to a problem? Please describe.**

It would be nice for the Python wheels to be tagged for Python 3.10.

**Describe the solution you'd like**

It would be nice for the Python wheels to be tagged for Python 3.10.

**Describe alternatives you've considered**

Building from the sdist is slow.

**Use case**

Faster installs using pre-commit.

[2022-09-08 04:36] r2c-demo commented on #6063
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1862/wheels-for-python-310. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-08 04:54] psifertex commented on #5996
I need to actually uninstall the working homebrew version I got from homebrew and re-install the pip version to make sure it reproduces on my box still. Switching to a working binary was more important to me at the time. 😉 I'll see if I can get the repro for you again tomorrow or this weekend.

[2022-09-08 09:22] aryx commented on #6052
This should be fixed by #6040

[2022-09-08 09:23] aryx commented on #6052
Or maybe there's something else going on.

[2022-09-08 09:23] aryx commented on #6052
seems related to #6031

[2022-09-08 09:30] wuestholz commented on #6052
@aryx Thanks! I think this is a separate issue. I used Docker and the develop-branch to verify that this is still happening after the fix in https://github.com/returntocorp/semgrep/pull/6040.

[2022-09-08 09:51] IagoAbal commented on #6024
I simply meant to say that a specialized way to say "I want to match a parameter" would help.

In any case I said that because I thought you needed a more complex pattern than `$F(..., Search $S, ...) { ... }`, that also included the `class` declaration in the pattern. (Sometimes you need to do that with our Java pattern language, IIRC).

This https://semgrep.dev/s/N9oz would be fine with me. But

[2022-09-08 12:59] joelrebel opened #6064 "Ignore unrelated YAML files from rulesets"
**Describe the bug**

I'm trying to run semgrep in a GH Actions CI pipeline,
This error shows up only in the GH Actions environment, and not when I run the same command locally.

Is there any cli flags to ignore certain files as rulesets - I have tried adding the yamls to `--exclude` and `.semgrepignore`.

The GH action fails because semgrep attempts to load unrelated `yaml` files as a ruleset.
[c

[2022-09-08 13:00] r2c-demo commented on #6064
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1863/issue-running-in-gh-actions. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-08 14:49] jods4 opened #6065 "List metavariable not working in C#"
**Describe the bug**
Metavariables like `$...ARGS` don't seem to parse: _Invalid pattern for C#_

**To Reproduce**
[Playground demo](https://semgrep.dev/s/g1NZ)

**Expected behavior**
Pattern should parse and variable should be usable in replacements

**Screenshots**
![image](https://user-images.githubusercontent.com/3832820/189153455-49215adc-9b3b-48a4-96ae-f0dbf3cd38a3.png)

**What is the priori

[2022-09-08 14:50] r2c-demo commented on #6065
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1864/list-metavariable-not-working-in-c. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-08 15:38] Vasco-jofra opened #6066 "Rust parser does not support `mod $MOD { ... }`"
**Describe the bug**
It is impossible to match `mod` statements in rust. Currently, Semgrep outputs the following error `error: Invalid pattern for Rust: mod tests {...}`.

**To Reproduce**
Run the following rule (https://semgrep.dev/s/2enD):
[code]

**Expected behavior**
Semgrep can parse `mod` statements.

[2022-09-08 15:38] r2c-demo commented on #6066
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1866/rust-parser-does-not-support-mod-dollarmod. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-08 17:55] emjin commented on #6059
0.112.1 released with a fix! Please let us know if this is still happening.

[2022-09-08 17:59] #6001 closed, assigned to nobody

[2022-09-08 18:16] emjin commented on #6001
Fixed in develop; will go out in the next release (probably next Tuesday). Your example will work, but I believe on line 7 instead of `Object m = new Hello.internalB().t()` you meant this to be `Object m = new Hello.internalB.t()`. To match that, I think the better pattern is `new world.Hello.internalB.t()`

You can see your original rule working on develop https://semgrep.dev/playground/s/x5by?de

[2022-09-08 18:30] backcover7 commented on #6001
@emjin Yes. You're correct. The only difference between the two rules is the instance function call and static function call.
And can we match this case now?

[2022-09-08 21:02] emjin commented on #6001
This one requires more inference than Semgrep currently does. We don't keep around the current package of a file because in most cases, if you only can look at one file at a time, it's not useful. We _do_ do that in DeepSemgrep, the proprietary multi-file extension of Semgrep, however. In general would love to hear more about your use case.

[2022-09-08 21:23] backcover7 opened #6067 "Improvement in matching function call"
**Is your feature request related to a problem? Please describe.**
Semgrep is used by security researchers to locate source and sink functions. For example, `Thread.sleep(...)` can match a potential DoS attack. However, as you know, developers do not write in the same practice. Someone might write code like `Thread.currentThread().sleep(...)`.

So, the general example is `obj.x().y().z()` is a var

[2022-09-08 21:24] r2c-demo commented on #6067
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1867/improvement-in-matching-function-call. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-08 21:31] backcover7 commented on #6001
So are you saying the package based rule works in deepsemgrep mode?

[2022-09-08 21:35] IagoAbal commented on #6067
Do you expect to find also:
[code]
?

I see how enumerating all permutations of 3 is a bit annoying, but it seems OK-ish to do once in a while. How many of your rules does this affect? If it affects many, is it because they share the same sources or sinks?

Could you provide a Semgrep rule where you need to do this to get a sense of how complex it gets?

[2022-09-08 21:53] backcover7 commented on #6067
@IagoAbal Actually, I did encounter such cases when trying to match code pattern in XXE issue. Lots of XML parser need factory class to build an instance of the parser and then parse the xml file. So there will be a lot of possible function calls like `transform()`, `newInstance()` before the last sink function `parse()`. So I need to use `...` to match all sink functions and ignore the `newInstan

[2022-09-08 21:57] IagoAbal commented on #6067
What about this https://semgrep.dev/s/e8Gb ? Just realized this potential solution right now.

[2022-09-08 22:04] IagoAbal commented on #6067
For me this is a perfect use case for taint labels!

[2022-09-08 22:08] IagoAbal commented on #6067
What about this https://semgrep.dev/s/QyL4 ? I guess this feels more complex than `obj. ... .x()` but does what you need I think.

[2022-09-08 22:17] backcover7 commented on #6067
This works for ignoring `newInstance`. But you might not want to see my rule which has a lot of ellipsis in it to make sure no false negatives. It is a good rule but I am not sure I want to do this to locate every function call to avoid false negative.

If this feature could be implemented, I believe the false negatives would be eliminated a lot.

[2022-09-08 22:39] backcover7 commented on #6067
This seems to be the best approach that semgrep can do in the present. And I can understand how hard to implement what I said in the request, and for now, it's a proper solution the permutation issue. But since I was trying to locate a sink code, can I nest the whole rule as a sink of another taint rule? Should I use join mode to refer this rule?

[2022-09-08 23:27] mjambon opened #6068 "semgrep --test should fail in case of parsing error in a target"
**Describe the bug**

`semgrep --test` doesn't fail in case of a parsing error. We want it to fail so that we can detect malformed test cases, unlike in a normal Semgrep scan.

**To Reproduce**

See instructions in upcoming pull request.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regul

[2022-09-08 23:28] r2c-demo commented on #6068
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1868/semgrep-test-should-fail-in-case-of-parsing-error-in-a-target. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-08 23:50] mjambon opened #6069 "Share semgrep-rules test command between semgrep and semgrep-rules to avoid discrepancies"
**Describe the bug**

Both repos semgrep and semgrep-rules should run complete and strict tests that validate and test the rules found in semgrep-rules. See upcoming pull requests in semgrep and semgrep-rules.

[2022-09-08 23:51] r2c-demo commented on #6069
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1869/share-semgrep-rules-test-command-between-semgrep-and-semgrep-rules-to. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-09 04:52] inkz opened #6071 "Issues when scanning long lines with `generic` mode"
**Describe the bug**

* when you run a generic rule, this one specifically https://semgrep.dev/s/7PnQ on a one line snippet of code - it is not working
when you add extra line to a snippet, like here: https://semgrep.dev/s/E6zN - it works
same for the CLI
also if you make first line even longer https://semgrep.dev/playground/s/7PQ2 - it is not working again (with 1 extra line)
but if I add one mor

[2022-09-09 04:52] r2c-demo commented on #6071
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1870/issues-when-scanning-long-lines-with-generic-mode. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-09 04:54] inkz commented on #6071
requested by user: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1662577736189749

[2022-09-09 08:54] IagoAbal commented on #6067
Could you share your rule and some target example code with us, perhaps privately? I can't be 100% sure whether there is a simple way of writing the rule you need without that. 😕 I would like to think that taint labels can do the job because it's pretty powerful, perhaps we just need to re-think the rule and look at it from another perspective. I am just speculating.

For example, this rule https:

[2022-09-09 09:53] IagoAbal commented on #5971
I have a fix for this already, but I was quite busy getting #5697 finalized (it may interest you too). I think I can open a PR next week.

[2022-09-09 10:20] malexmave opened #6072 "metavariable-comparison: $VAR not in [list] construction does not work"
**Describe the bug**
The metavariable-comparison rule does not correctly match based on the following construction:
[code]

**To Reproduce**
See [this playground example](https://semgrep.dev/playground/s/YZZW), where [the inverse case works properly](https://semgrep.dev/playground/s/644w).

**Expected behavior**
I would expect the example above to produce a single match.

**Workaround**
The correc

[2022-09-09 10:21] r2c-demo commented on #6072
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1871/metavariable-comparison-dollarvar-not-in-[list]-construction-does-not. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-09 10:41] Denis-Podgurskii opened #6073 "Angular component not parsed"
**Describe the bug**
Angular app may have a template injection within the @Component declaration and semgrep is not able to parse it properly, so rule doesn't work

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev: https://semgrep.dev/playground/s/denis-podgurskii:angular-template-injection

**Expected behavior**
Rule should find template injection within @Co

[2022-09-09 10:41] r2c-demo commented on #6073
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1872/angular-component-not-parsed. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-09 10:44] Sjord commented on #6072
`G.NotIn` is simply missing from [this list](https://github.com/returntocorp/semgrep/blob/d324d65be084320ae76be5c282e334deb9cb121f/semgrep-core/src/engine/Eval_generic.ml#L224-L287). It reaches [this raise](https://github.com/returntocorp/semgrep/blob/d324d65be084320ae76be5c282e334deb9cb121f/semgrep-core/src/engine/Eval_generic.ml#L287), but apparently that is silently ignored.

[2022-09-09 14:33] priyeshpatel opened #6074 "Ignoring multiple rules with nosemgrep produces warnings"
**Describe the bug**
When ignoring multiple rules with a `nosemgrep` comment, semgrep produces incorrect warnings in strict mode or logs incorrect messages in non-strict mode.

1. The warning (strict mode) / log message (non-strict mode) is printed for ignored rules which have already been correctly skipped.
2. The "but no corresponding rule trying X" phrase in the warning (strict mode) / log mess

[2022-09-09 14:33] r2c-demo commented on #6074
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1873/ignoring-multiple-rules-with-nosemgrep-produces-warnings. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-09 17:20] emjin commented on #6064
We don't have a way to configure what yaml files are targeted in a folder because in general we assume that people have control over their config folders. I see that in your case you're using the `semgrep-go` rules, which helps clarify why you need this. However, I'm surprised because I can't find a `semgrep-go/docs/scripts/docker-compose.yml` file in https://github.com/dgryski/semgrep-go. Could y

[2022-09-09 20:02] kurt-r2c opened #6076 "Semgrep returns complement of pattern result instead of intended target for some Rust patterns"
**Describe the bug**
Results for Rust rules are the complement of what the user expects.

**To Reproduce**
https://semgrep.dev/s/2egz

**Expected behavior**
Expected single finding on line 2 in this example. Received a match for everything *except* line 2.

**Screenshots**
![image](https://user-images.githubusercontent.com/98792107/189431319-beeba8d9-ff89-44a2-b82c-4c55e86f9072.png)

**What is the

[2022-09-09 20:02] r2c-demo commented on #6076
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1874/semgrep-returns-complement-of-pattern-result-instead-of-intended. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-09 21:47] mjambon opened #6077 "Make git commit ID available from semgrep CLI"
**Is your feature request related to a problem? Please describe.**

We just ran into an issue where a docker image tagged `returntocorp/semgrep:develop` had a bug and it's not clear how it got published despite the tests that we have in place. To help solve this problem, it would have been nice to get the git commit ID of the version of semgrep that was built.

**Describe the solution you'd like**

[2022-09-09 21:47] r2c-demo commented on #6077
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1876/make-git-commit-id-available-from-semgrep-cli. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-09 23:44] ievans opened #6079 "Python constant propagation failure"
**Describe the bug**
Semgrep fails to see a compile-time constant in python.

Example:

[code]

`typarray` is a constant string, but Semgrep still flags this with the `sqlalchemy-execute-raw-query` rule

**To Reproduce**
https://semgrep.dev/s/rwr6

**Expected behavior**
Semgrep should not match

**Screenshots**
Semgrep 0.112

**What is the priority of the bug to you?**

- [ ] P0: blocking your ado

[2022-09-09 23:44] r2c-demo commented on #6079
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1877/python-constant-propagation-failure. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-10 02:01] #6068 closed, assigned to mjambon

[2022-09-10 02:01] #6069 closed, assigned to mjambon

[2022-09-10 03:26] emcd commented on #5996
Finally had a chance to dive on the code some. When I saw `clone` calls in the syscall trace, I assumed that threads were being used for the workers, but was apparently wrong about that. I am happy to learn that separate processes are being used for each worker instead since processes provide much better workload isolation than threads. Doesn't change the analysis of the problem though - it just m

[2022-09-10 13:09] TheErk commented on #6026
I have a similar issue on Mac M1.
I did install semgrep in a pristine venv using `pip install semgrep`, then running semgrep fails due to missing lib because
`/opt/homebrew/opt/pcre/lib/libpcre.1.dylib` wasn't found which is normal because I use [Mac Port](https://www.macports.org/) and not [Homebrew](https://brew.sh/) thus the proper pcre lib is installed at: `/opt/local/lib/libpcre.1.dylib`

I d

[2022-09-12 16:01] emjin commented on #5996
Thanks a lot for looking into this! This definitely could be two separate issues; until I can reproduce any of them it's hard to know. @emcd Could you tell me the latest version of Semgrep that this fails with? This would help us narrow down the code to search through for anything causing a premature completion or a semgrep-core crash.

[2022-09-12 16:27] emjin commented on #6066
Hi! Could you let us know the priority of this issue for you? For now I'll set it to low

[2022-09-12 16:29] emjin commented on #6001
I believe so. If it doesn't, it's something we should fix.

[2022-09-12 16:36] emjin commented on #3806
It's not happening anymore in the repro so looks like it was fixed!

[2022-09-12 16:36] #3806 closed, assigned to nobody

[2022-09-12 18:08] effortlessdevsec commented on #3727
Hi can we  do metavariable-comparison in generic language

[2022-09-12 18:38] nmote commented on #5558
A little late to the game here, but this is out in v0.112.x. I should have a fix for #6051 shortly.

[2022-09-12 22:31] #6051 closed, assigned to nmote

[2022-09-12 22:36] backcover7 commented on #6067
@IagoAbal Please take a look here (https://semgrep.dev/s/backcover7:xml-copy)
For each kind of xml parser I have to write several rules to match them. And I need to use an ellipsis for each of them. This expands the rule a lot.

[2022-09-12 23:28] nmote commented on #6007
Could be, but it would only help if we are ready to take the plunge and try parsing with tree sitter *first*. pfff can parse this, it just parses it differently, so falling back to tree sitter wouldn't help.

[2022-09-12 23:29] mjambon commented on #4828
because it doesn't tell the user whether they should upgrade or contact support. It saves them (and us) time if they're automatically told "12 rules couldn't run because they're not supported by your current version of Semgrep. Consider upgrading.". Rules that can't run with the latest version of Semgrep are not version issues but bugs that need reporting and fixing.

[2022-09-12 23:41] mjambon commented on #4828
I like the original proposal except for the field name. `requires` is typically used to specify a list of package dependencies. I prefer this:
[code]
It would be an optional field. If the minimum semgrep version is unknown, that's fine.

@brendongo wrote:

I don't understand what you mean by this.

Alternatively, we could specify semgrep as a dependency using the npm syntax or another standard/pop

[2022-09-13 01:32] emcd commented on #5996
Sure thing. @emjin. I was testing under 0.111.1 last week, but I am still able to sporadically reproduce the issue with 0.112.1.
[code]

Out of a total of 19 iterations with 0.112.1, I had:
* 17 successes
* 1 "0 bytes read on a total of 2 expected bytes"
* 1 new stack trace

The new stack trace is different than the one I previously reported, but still seems related to a race condition around temp

[2022-09-13 11:38] IagoAbal commented on #4828
Sometimes rules rely on experimental features which may later change or be removed, so you need both minimum and maximum I think. In any case, I agree with Isaac's view point here. I'm not sure this would help us a lot.

[2022-09-13 14:44] IagoAbal commented on #6079
Is this idiomatic Python?
[code]
I would have expected this (assuming I got the meaning correctly):
[code]
But we could support this anyways if you think it's common enough.

[2022-09-13 15:46] #6076 closed, assigned to emjin

[2022-09-13 18:36] #6072 closed, assigned to nobody

[2022-09-13 22:27] ievans opened #6096 "poor error message when offline"
**Describe the bug**
When semgrep is run offline with a registry config, the output doesn't clearly explain what's going on:

[code]

**Expected behavior**
A message that clearly explains "semgrep could not connect to semgrep.dev on port 443 (https); is your internet connection working, or check status.semgrep.dev" maybe?

**Screenshots**
If applicable, add screenshots to help explain your problem

[2022-09-13 22:27] r2c-demo commented on #6096
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1883/poor-error-message-when-offline. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-13 23:16] emcd commented on #5996
@emjin: If you are running Semgrep under PyPy, you can get 100% reproducibility by invoking `gc.collect` just inside the `with` block, like so:
[code]
This forces a garbage collection which causes the temp file to be removed before it is used.

Unfortunately, I cannot use the same technique to get it to reproduce on CPython and I even disabled automatic garbage-collection in case it was gc'ing bef

[2022-09-14 10:45] Sjord commented on #6018
There are two things causing this issue:

* [Precedence incorrect between or and conditional access](https://github.com/tree-sitter/tree-sitter-c-sharp/issues/233)
* map `a?.b` to `null == a ? null : a.b` [here](https://github.com/returntocorp/semgrep/blob/756408aafebb849d89993a067f9c6f8d834df8a4/semgrep-core/src/parsing/tree_sitter/Parse_csharp_tree_sitter.ml#L1295)

So `x || x?.C` is parsed as `

[2022-09-14 17:21] emjin commented on #5996
Wow, thank you for this thorough investigation! This makes sense based on my understanding of the code as well. I was wondering how it was being removed before the `semgrep-core` call, because I believed that it wouldn't be deleted while it was open, but that makes a lot of sense and also explains why I can't get the same behavior. You're very welcome to open a PR with a fix, since you have a repr

[2022-09-14 17:37] cameron-gagnon commented on #3090
I installed semgrep via homebrew and I struggled to figure out where my configuration file lived. I had to do the dumb thing and run `cd / && find . -path \*semgrep/lang\*` which showed my `lang.json` being under: `./usr/local/Cellar/semgrep/0.106.0/libexec/lib/python3.10/site-packages/semgrep/lang/lang.json`. I made my updates and finally semgrep treated the extensions as I wanted it to!

[2022-09-14 22:35] aneeshusa commented on #5899
I bumped our internal process for OSS contribution approval (currently pending CLA approval).

[2022-09-15 00:08] bananabr opened #6099 "Allow bitwise operations in metavariable-comparison"
**Is your feature request related to a problem? Please describe.**
It is common for C/C++ programs to use bit flags as function arguments.

**Describe the solution you'd like**
Allow bitwise AND and bitwise OR in metavariable-comparison. For example ```$ARG & 4 > 0```.

**Describe alternatives you've considered**
None.

**Use case**
Be able to identify function calls using specific options encoded

[2022-09-15 00:09] r2c-demo commented on #6099
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1887/allow-bitwise-operations-in-metavariable-comparison. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-15 00:21] dmgping commented on #6071
Hi guys, is there an estimated fix timeline for this one?

[2022-09-15 09:20] Sjord opened #6101 ""Fetching configuration from semgrep.dev" shown even when not logged in"
When running semgrep ci while logged out, it shows "Fetching configuration from semgrep.dev" but it doesn't.

[code]

`scan_handler` is None [here](https://github.com/returntocorp/semgrep/blob/756408aafebb849d89993a067f9c6f8d834df8a4/cli/src/semgrep/commands/ci.py#L295-L303), so after the message is output the logic to retrieve the configuration is not run:

[code]

[2022-09-15 09:20] r2c-demo commented on #6101
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1888/fetching-configuration-from-semgrepdev-shown-even-when-not-logged-in. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-15 18:55] ievans commented on #6079
I think it's common enough, but definitely low priority.

[2022-09-15 20:23] mjambon commented on #6071
The issue here is that the target file is just one very long line. Adding a newline character will restore normal functionality in this particular example: https://semgrep.dev/s/2eP5

Unfortunately, the generic mode engine (spacegrep) will not handle files made of only extremely long lines. This is meant to avoid extremely slow parsing and matching, which could happen if it were to process a minif

[2022-09-15 22:07] dmgping commented on #6071
Hi @mjambon
No.2 sounds like what users(namely myself) will need for the tool. While the line in this example is a long line,  for a html file I don't thinks it's that unreasonable in terms of length, and certainly isn't the longest I've seen.
Maybe it could be a flag that could be passed to the semgrep command in to set a higher value for the length heuristic? Thus keeping the default lightweight

[2022-09-16 00:10] mjambon commented on #3521
https://github.com/returntocorp/ocaml-tree-sitter-core/pull/48 will allow us to parse comments correctly in the languages parsed with tree-sitter. This will allow for a more accurate and correct inspection of comments if desired. The current hack used for the implementation of nosemgrep is likely to stay in place for the time being, though.

[2022-09-16 01:08] enncoded commented on #5686
We decided to enhance `focus-metavariable` itself instead of changing the behavior of `pattern-either`. In addition to taking in a single metavariable as a YAML string (which has been the behavior so far), it can also to take in a list of metavariables.

[2022-09-16 05:04] sk- commented on #5966
How can we remove the stale label?

[2022-09-16 10:49] Sjord opened #6107 "ValueError PosixPath has an empty name when running test on single config"
[code]

[2022-09-16 10:50] r2c-demo commented on #6107
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1892/valueerror-posixpath-has-an-empty-name-when-running-test-on-single. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-16 16:35] luisfontes19 opened #6108 "[QUESTION] How to search array in rules"
Hey guys,

Is there any native way of searching for arrays with a rule?
I have a use case that if a method receives an array of hardcoded strings its not an issue. I know i can go with regex, but that will then have other issues.

(I'm creating rules for python in case it matters)

[2022-09-16 16:36] r2c-demo commented on #6108
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1893/[question]-how-to-search-array-in-rules. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-16 21:35] IagoAbal commented on #6108
@luisfontes19 could you please provide a concrete example and maybe also a draft rule as you envision it?

From your description ("an array of hardcoded strings") I think you may want to write something like:

[code]

We don't currently support that but we could add support for it rather quickly nowadays thanks to a recent PR by @brandonspark.

[2022-09-16 21:47] IagoAbal commented on #6107
@Sjord could you share `stacktrace-disclosure.yaml` or at least a sanitized / minimized version of it that exhibits the problem?

[2022-09-16 21:51] IagoAbal commented on #6101
@Sjord as I understand your suggestion is that Semgrep simply doesn't show that message since it's not actually fetching anything. Correct?

[2022-09-17 14:46] #2530 closed, assigned to nobody

[2022-09-17 17:03] aryx commented on #4480
Got back to 100% Closing!

[2022-09-17 17:03] #4480 closed, assigned to brandonspark

[2022-09-17 17:40] aryx commented on #1868
still an issue @mjambon

[2022-09-17 17:44] aryx commented on #2258
@mjambon what is the current status about this here documents and extra nodes? I've seen some recent work by you on this topic. Is it close to be done?

[2022-09-18 10:58] Sjord commented on #6101
Yes, that's correct. I would expect the `logger.info` to be inside the `if scan_handler`.

[2022-09-18 11:00] Sjord commented on #6107
I just copied [this one](https://github.com/returntocorp/semgrep-rules/blob/develop/csharp/lang/security/stacktrace-disclosure.yaml) to an empty directory, but I get this problem with any rule file. Can you reproduce it?

[2022-09-18 11:13] IagoAbal commented on #6107
Thanks, yep, I can reproduce it! Sorry, I had not tried it myself, but given the error it makes sense that this is not specific to any config.

[2022-09-18 11:28] aryx commented on #6002
This looks like the better fix: https://github.com/tree-sitter/tree-sitter-java/pull/125#pullrequestreview-1111528606

[2022-09-18 16:51] aryx commented on #6066
The problem is not the mod, but the ellipsis in the mod body.

[2022-09-18 16:54] #6053 closed, assigned to aryx

[2022-09-18 18:42] #6066 closed, assigned to aryx

[2022-09-18 19:44] aryx commented on #3753
seems like a dupe of #3759

[2022-09-19 06:10] wuestholz commented on #6053
@aryx Great! Thanks a lot for the fix!

[2022-09-19 07:52] #3759 closed, assigned to aryx

[2022-09-19 09:36] #6065 closed, assigned to aryx

[2022-09-19 12:56] #1923 closed, assigned to nobody

[2022-09-19 19:40] #5987 closed, assigned to mjambon

[2022-09-19 22:49] emcd commented on #5996
Thanks for merging the PR that I submitted.

I suspect that the PR only addressed the failures that I was seeing. One thing that might help others would be to run `semgrep` with the [PYTHONUNBUFFERED](https://docs.python.org/3/using/cmdline.html#envvar-PYTHONUNBUFFERED) environment variable set, in case exception output is still caught in a buffer when a worker process terminates. Also, it could b

[2022-09-19 23:01] colleend commented on #4926
yes! awesome 👍

[2022-09-20 01:32] #6071 closed, assigned to nobody

[2022-09-20 03:05] mjambon commented on #1868
We should add support to `MISSING` nodes inserted by tree-sitter parsers. The relevant issue is https://github.com/returntocorp/ocaml-tree-sitter-core/issues/8

[2022-09-20 07:54] sigvissec commented on #1831
I ran into this same issue while on MacOS on a corporate network and found a solution. As stated previously, semgrep ships with Python and relies upon certifi for certificate validation.

One method to resolve this is to export the certificate used for mitm-ing the traffic and then to add it to the cacert.pem file within the certifi directory. To be clear, I already have that certificate added to

[2022-09-20 09:55] aryx opened #6131 "Scala: support ellipsis in match body"
Add support for `$X match { ... }`

[2022-09-20 09:55] r2c-demo commented on #6131
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1898/scala-support-ellipsis-in-match-body. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-20 09:56] aryx commented on #6131
reference discussion: https://returntocorp.slack.com/archives/C01NXGX2EHZ/p1663607715926549

[2022-09-20 10:34] #6131 closed, assigned to aryx

[2022-09-20 19:38] #5897 closed, assigned to nobody

[2022-09-20 19:38] #5903 closed, assigned to nobody

[2022-09-20 19:39] #5896 closed, assigned to nobody

[2022-09-20 19:39] #5937 closed, assigned to nobody

[2022-09-20 19:39] #5923 closed, assigned to mjambon

[2022-09-20 19:50] mjambon opened #6140 "Ensure that all source files contain a header with copyright and license notice"
**Is your feature request related to a problem? Please describe.**

The LGPL requires individual source files to come with a copyright license notice. The justification for this seemingly bureaucratic practice is given [here](https://www.gnu.org/licenses/gpl-faq.en.html#NoticeInSourceFile) (in the context of the GPL but applicable broadly):

Adding a copyright notice and a license notice at the st

[2022-09-20 19:51] r2c-demo commented on #6140
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1899/ensure-that-all-source-files-contain-a-header-with-copyright-and. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-20 23:40] efortuna commented on #5756
hey, just checking in, to see if there was still interest on fixing this?

[2022-09-21 08:14] #5229 closed, assigned to mjambon

[2022-09-21 08:16] aryx commented on #5756
cc @bmahe and @nmote who are doing work around autofix these days.

[2022-09-21 08:18] aryx commented on #5756
I think there's an interest in having autofix getting smarter in the transformation part (it's smart in the matching part), but it's currently so buggy that we first need to fix it before trying to do the smarter stuff. Nat is actually rewriting the autofix code to be based on the AST instead of doing string manipulation. Maybe after that is done we can focus on smarter fixes.

[2022-09-21 13:09] vdbaan opened #6150 "Option for Full path in output"
When I run SemGrep I use the vim single-line output and save it into a text file. In my text editor I have a macro that allows me to jump to the file:line based on this output and review the finding.

However I often forget to provide the full path to the location of the source and save the output in a different path altogether. This means that I need to rerun SemGrep with the full path to be able

[2022-09-21 13:09] r2c-demo commented on #6150
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1900/option-for-full-path-in-output. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-21 13:50] aryx commented on #6150
Sounds like a good idea to me.
We have a similar flag in the ocamlc compiler with --absname
[code]

[2022-09-21 15:25] nmote commented on #5756
Let me restate the issue to make sure that I understand it:

Semgrep matches the pattern `cerealizer` in your example to `foo` in the target file because of the import which adds an alias. However, there's no way to carry that information into the fix without using `metavariable-pattern`. Here's a workaround: https://semgrep.dev/s/OzqL

Ideally, Semgrep would be able to do this automatically. It s

[2022-09-21 16:19] kopecs opened #6154 "Bash function pattern parsing rejects some definitions"
**Describe the bug**
Bash patterns do not allow a function definition of the form
[code]
and instead only allow those of the form
[code]

**To Reproduce**
See https://semgrep.dev/s/g1Q0 and https://semgrep.dev/s/39EK

**Expected behavior**
Both of the above should be valid patterns, matching the same AST nodes

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgre

[2022-09-21 16:20] r2c-demo commented on #6154
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1901/bash-function-pattern-parsing-rejects-some-definitions. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-21 18:56] efortuna commented on #5756
Hi @nmote thanks for looking into this! Yes, you understand the issue. However, your workaround works for the use case where the code reads:

`import cerealizer as foo`

_however_ it won't catch if in some _other_ files in the project the code simply reads

`import cerealizer`

hence the trickiness. But yeah, I was wondering if we could use the AST to help solve the problem. Thanks for considering

[2022-09-21 19:32] nmote commented on #5756
Sorry -- I meant to write https://semgrep.dev/s/OzKn.

Unfortunately that doesn't actually work as desired either. If there's a reasonable workaround for this, I'm not sure what it is.

[2022-09-21 20:21] bocajspear1 opened #6155 "Keep getting return code 1 with 0 findings and --error flag"
**Describe the bug**
I'm trying to run semgrep against code in a CI pipeline, and I'm using the `--error` flag to produce an error when it finds something. However, while a few sections of code semgrep finds nothing and returns 0, other sections of code, semgrep returns 1 even when no findings are reported.

[code]

**Steps to Reproduce**
I'm running the following in a Docker container:
[code]

**

[2022-09-21 20:22] r2c-demo commented on #6155
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1903/keep-getting-return-code-1-with-0-findings-and-error-flag. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-21 21:51] emjin commented on #5688
@mmcqd encountered this:

ok I have an absolutely insane matching error for you guys lol. I have not figured out what's happening yet.
this rule:
[code]
matches this code:
[code]
the two fs have to be the same variable.

The problem was with ` {...,$X,...} = require('parse-url')`

This appears to be a common mistake so we should do something about it

[2022-09-22 01:06] mjambon commented on #5931
Hi there. It's not impossible that we could add some support for matching comments but I haven't found a simple approach that's also generic yet. Thanks for the clear use case, it's helpful.

Preliminary work to have comments in the AST is almost done: https://github.com/returntocorp/ocaml-tree-sitter-core/pull/48

[2022-09-22 02:33] ievans commented on #6060
@backcover7 what's the priority of this issue for you?

[2022-09-22 03:17] Pchao93 commented on #5931
Chiming in with another use case - catching and preventing linter exemption comments. In ruby, Rubocop rules can be disabled with comments like `# rubocop:disable Some/Rule`, which cannot be detected. Very interested in seeing this usage supported!

[2022-09-22 04:11] backcover7 commented on #6060
It's not in a hurry. You can set this as the lowest priority.

[2022-09-22 18:46] IagoAbal opened #6161 "Symbolic propagation does not propagate `new`"
Reporting on behalf of @backcover7.

We expect this https://semgrep.dev/s/vrBA to work but it doesn't.

[2022-09-22 18:47] r2c-demo commented on #6161
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1911/symbolic-propagation-does-not-propagate-new. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-22 19:36] dmgping opened #6163 "Autofix rewrites CRLF line separators to LF line separators"
**Description**
Running a scan with the cli using a rule that has a fix definition and passing in the --autofix flag to implement the fix rewrites CRLF line separators to LF line separators.

**To Reproduce**
Steps to reproduce the behavior:

**1** - Create an example.html file with the following contents

[code]

**2** - ensure it has CRLF line separator by running this command:
"find example.htm

[2022-09-22 19:42] dmgping commented on #6163
html and yaml files couldn't be attached so I tried to paste the bodies but seems the html is being filtered

[2022-09-22 19:44] dmgping commented on #6163
![Screen Shot 2022-09-22 at 12 44 22 PM](https://user-images.githubusercontent.com/99043843/191837143-ec29bcfc-47a1-46a5-8672-7b378180132d.png)
![Screen Shot 2022-09-22 at 12 43 36 PM](https://user-images.githubusercontent.com/99043843/191837146-2f3ddbd7-de64-45d8-89c2-ccc0cd6088bb.png)

[2022-09-22 19:50] dmgping commented on #6071
Hi @mjambon , do you know when this fix will be merged into the cli and the returntocorp/semgrep-agent:v1 image?

[2022-09-22 20:09] mjambon commented on #6071
The 500-byte limit will be available in the next semgrep release (0.115.x), next week. This value is not configurable because I was a bit worried of performance (and I was lazy). In retrospect, I think it's a good thing to have a safe default and let users experiment with a value that works for them.

[2022-09-22 20:18] mjambon opened #6162 "Make generic mode's 500-byte limit configurable"
**Is your feature request related to a problem? Please describe.**

The generic mode (spacegrep) avoids parsing files that don't have a human-readable 2D layout for performance reasons. We recently relaxed the requirement for a file to be excluded by allowing any text file under 500 bytes to be scanned, even if the file doesn't contain a single newline.

Some users expressed the desire to make the

[2022-09-22 20:19] r2c-demo commented on #6162
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1912/make-generic-modes-500-byte-limit-configurable. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-22 20:21] mjambon commented on #6071
^ https://github.com/returntocorp/semgrep/issues/6162 is the follow-up task.

[2022-09-22 20:22] r2c-demo commented on #6163
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1913/autofix-rewrites-crlf-line-separators-to-lf-line-separators. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-23 08:27] luisfontes19 commented on #6108
So just to give some context, i'm trying to re-write the usage of subprocess rule to improve on the results.

The thing is that we can have for example:

[code]

I'm trying to remove all results for hardcoded strings, as they contain no user input, and thats why I need to find all arrays with just hardcoded strings or the other way around.

Unfortunately the logic from the example you provided did

[2022-09-23 10:00] Sjord opened #6166 "Taint mode does not interpret function parameters with --deep"
**Describe the bug**

When another method passes tainted input to a sink, I expect `semgrep --deep` to detect that, but it doesn't.

[code]

I am using the [deep.yaml](https://github.com/returntocorp/deep-semgrep-tests/blob/main/tainting/java/intrafile/deep.yaml) rule file.

[code]

[2022-09-23 10:00] r2c-demo commented on #6166
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1914/taint-mode-does-not-interpret-function-parameters-with-deep. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-23 10:00] Sjord commented on #6006
It also doesn't seem to work with DeepSemgrep. I [created a new issue](https://github.com/returntocorp/semgrep/issues/6166) about that.

[2022-09-23 10:23] JannesSmitskamp-sfy opened #6167 "semgrep ci fatal error"
A fatal error is triggered when running `semgrep ci`. The error condition seems to be triggered only when run with multiple rulesets and a sufficiently large source tree.

Running `semgrep scan` separately on current and baseline-commit versions works fine.

Working setup: semgrep 0.111.1 on python 3.10.6
Error setup: semgrep 0.112.1 on python 3.10.7
Error setup: semgrep 0.114.0 on python 3.10.7 a

[2022-09-23 10:24] r2c-demo commented on #6167
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1915/semgrep-ci-fatal-error. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-23 14:41] luisfontes19 commented on #6108
Ok, so i got it working based on the suggestion @IagoAbal mentioned.

I'm leaving the code here in case anybody else runs into a similar issue

[code]

If you think is still relevant to add a specific option to do this, we can keep this issue open, otherwise for me it can be closed as solved :)

[2022-09-23 17:03] daramcq commented on #3090
I'm also having this issue, attempting to write rules for Ruby code against Gemfiles. Is it possible to override the `lang.json` with a specified file, or any other more maintainable solution?

[2022-09-23 17:23] aryx commented on #5996
Can we close this issue now?

[2022-09-23 18:22] aylusltd opened #6170 "CLI hangs after scan"
**Describe the bug**
I run semgrep as part of a bash script, and for some reason it does not hand control back to the parent script.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:
~/.local/bin/semgrep --config auto --json -o ../atd_results/$repo_name.findings.json ./
I'm targeting a clone of ["Small Test Repo"](https://github.com/rtyley/small-test-repo)

[2022-09-23 18:22] r2c-demo commented on #6170
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1917/cli-hangs-after-scan. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-23 21:04] aylusltd commented on #6170
Hey, my bad. it was the next line in my script. `rm` was failing, not semgrep. I wasn't expecting a write protected file in the results folder. Sorry to have bothered you guys.

[2022-09-23 21:04] #6170 closed, assigned to nobody

[2022-09-24 03:38] psifertex commented on #5996
I think so -- my particular reproduction was cleaned up once I moved install methods to a more modern one so I'm certainly happy with it, only left it open for others who had experienced it.

[2022-09-24 03:38] #5996 closed, assigned to nobody

[2022-09-25 06:55] #5972 closed, assigned to spencerdrak

[2022-09-25 06:56] #5978 closed, assigned to nobody

[2022-09-25 06:56] #5965 closed, assigned to bmahe

[2022-09-25 06:57] #6012 closed, assigned to nobody

[2022-09-25 06:57] #6015 closed, assigned to nobody

[2022-09-25 06:58] #5969 closed, assigned to nobody

[2022-09-25 10:05] ck3mp3r commented on #6015
Closed as "completed"?!

[2022-09-26 04:41] ben-elttam commented on #5735
Priority should be low.

[2022-09-26 04:51] ben-elttam commented on #3019
anchore/syft does [multiple outputs](https://github.com/anchore/syft#multiple-outputs) this way:

Syft can also output _multiple_ files in differing formats by appending
`=<file>` to the option, for example to output Syft JSON and SPDX JSON:

[code]

[2022-09-26 07:51] ysebyy opened #6178 "Semgrep CLI display findings ruleset origin"
**Is your feature request related to a problem? Please describe.**
When running rules, especially "auto", it would be great to see when a there is a finding, which ruleset it belongs to. Doing comparisons or editing on certain rulesets would be easier to track down in our case, as auto runs way more rules than standard "ruby" for example.

**Describe the solution you'd like**
Just an additional se

[2022-09-26 07:52] r2c-demo commented on #6178
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1918/semgrep-cli-display-findings-ruleset-origin. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-26 07:57] ysebyy commented on #6178
Awesome! Thanks!

[2022-09-26 07:57] #6178 closed, assigned to nobody

[2022-09-26 21:08] ievans commented on #6162
OTOH, a flag like this might make it significantly more difficult to reason about reproducibility of results.

[2022-09-26 21:18] 0xdbe opened #6180 "Extract Mode: No such file or directory: '/tmp/extracted-xxxx'"
**Describe the bug**

Semgrep can't retrieve extracted code:

[code]

**To Reproduce**

- Create a rule to extract ruby from ERB Template:

[code]

- Start container (using fish)

[code]

**Expected behavior**
parse extracted code.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug

[2022-09-26 21:19] r2c-demo commented on #6180
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1923/extract-mode-no-such-file-or-directory-tmpextracted-xxxx. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-27 11:36] unhammer opened #6182 "respect DO_NOT_TRACK"
**Is your feature request related to a problem? Please describe.**

semgrep --help suggests running a command which immediately uploads information about my stuff, without respecting my `export DO_NOT_TRACK=1`.

**Describe the solution you'd like**

DO_NOT_TRACK==1 should be treated as if SEMGREP_SEND_METRICS=off
cf. https://consoledonottrack.com/

**Describe alternatives you've considered**

- un

[2022-09-27 11:36] r2c-demo commented on #6182
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1925/respect-do-not-track. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-27 11:53] inkz opened #6183 "[PHP] Not able to match a chained method call"
**Describe the bug**

There is a parsing error when matching a chained method call, without specifying the whole chain, e.g.

trying to match

[code]

with:

[code]
throws an error

 (I need to catch DB specifically and that ->pluck(...) is also called somewhere in the chain)

https://semgrep.dev/s/o3wn

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or wo

[2022-09-27 11:53] r2c-demo commented on #6183
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1926/[php]-not-able-to-match-a-chained-method-call. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-27 12:22] aryx commented on #6182
This https://consoledonottrack.com/ does not seem widely adopted, but sure, why not.

[2022-09-27 14:37] 0xdbe commented on #6180
A way to reproduce:

- Clone https://github.com/discourse/discourse

- Run Semgrep

[code]

[code]

This error happens with large project and many rules.

[2022-09-27 17:23] dmgping commented on #6071
@mjambon It appears the implemented fix hasn't worked for this issue. I upgraded to v0.115 and ran the rule again and seen the same misplacement of the autofix code inserted. The original targeted line was 197 chars long.
![Screen Shot 2022-09-27 at 10 18 03 AM](https://user-images.githubusercontent.com/99043843/192593825-13702b9d-a394-4e29-bfab-35ee08429365.png)
The detection is correct in the te

[2022-09-28 12:00] IagoAbal commented on #6108
[code]
this should be equivalent to just
[code]

[2022-09-28 12:04] IagoAbal commented on #6108
Nice! So you wanted to match an array where at least one element is not a hardcoded string, then your rule works yeah! Let's close the issue then. By the way, for this kind of questions it's better to use our community Slack, you'll get much better support.

[2022-09-28 12:04] #6108 closed, assigned to nobody

[2022-09-28 17:58] kurt-r2c opened #6191 "`this` keyword in Javascript doesn't behave correctly with taint"
**Describe the bug**
The `this` keyword in Javascript does not appear to propagate taint correctly - when attempting to taint global properties like `this.window` the engine ignores them.

**To Reproduce**
minimal example:
https://semgrep.dev/playground/s/JvRP

**Expected behavior**
`this` and subproperties should be taintable by the data flow engine.

**Screenshots**
N/A

**What is the priority o

[2022-09-28 17:59] r2c-demo commented on #6191
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1929/this-keyword-in-javascript-doesnt-behave-correctly-with-taint. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-28 18:16] backcover7 opened #6192 "eval function cannot be matched by metavariable"
**Describe the bug**
In my test, `eval` could not be matched by metavariable in javascript.
But I do not test this in other languages and I do not test other functions. **Please fix if there's something more similar issues.**

**To Reproduce**
https://semgrep.dev/s/lGKo

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix

[2022-09-28 18:17] r2c-demo commented on #6192
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1930/eval-function-cannot-be-matched-by-metavariable. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-28 19:14] kurt-r2c opened #6195 "Taint data flow for C does not correctly propagate into if(...) statements"
**Describe the bug**
Taint appears to not correctly propagate into `if(...)` statements. Rewriting an existing rule in taint mode, I discovered a test case that *should* work with taint mode but doesn't (see reproduction link).

**To Reproduce**
https://semgrep.dev/s/OdLk

**Expected behavior**
Tests on repro link should pass.

**Screenshots**

N/A

**What is the priority of the bug to you?**

- [

[2022-09-28 19:15] r2c-demo commented on #6195
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1933/taint-data-flow-for-c-does-not-correctly-propagate-into-if-statements. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-29 09:40] aryx commented on #6180
I actually get another error (on my Arch Linux machine):
[code]

[2022-09-29 10:24] #6161 closed, assigned to nobody

[2022-09-29 11:48] IagoAbal commented on #4670
There is also a problem with filter-irrelevant-rules using string literals for filtering, so we would also need to tackle that for this example to work.

[2022-09-29 12:39] marcelocarlos opened #6199 "Add support for Elm"
**Is your feature request related to a problem? Please describe.**

Not fully, but it would be great to have support for elm so we can write rules ourselves. [ other issue with parsing moved to https://github.com/returntocorp/semgrep/issues/6247 ]

We can address most of the issues ourselves, but it would be great have support for Elm in the first place for several reasons.

**Additional context**

[2022-09-29 12:40] r2c-demo commented on #6199
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1938/add-support-for-elm. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-29 12:44] aryx commented on #6180
Ok I've fixed a first bug, and now I'm able to reproduce your error.

[2022-09-29 13:27] aryx commented on #6180
I think I understand why. It's because the extracted content from the .erb files generates some parse errors,
and while we convert matching to the extracted content to the original file, we don't do it for parse errors.

More generally, using extract mode for ERB might be more complicated than anticipated because the resulting code
must be parsable by Ruby, but each <? xxx ?> can be any Ruby code,

[2022-09-29 13:28] aryx commented on #6180
There is a `reduce: concat` special field that you can add in an extract mode rule, to concatenerate together
all the elements that were extracted, hoping to generate something that would parse, but I don't think it would
be enough here for the .ERB.

[2022-09-29 22:56] LewisArdern opened #6201 "Semgrep does not support TypeScript `?` in pattern syntax"
**Describe the bug**
In typescript you can write things like this:

`req.user?.accountId`

Patterns do not accept that as valid and fall over with a parsing error, customers have had pain writing some typescript rules because of this.

**Expected behavior**
support ? as pattern syntax  see the link here https://semgrep.dev/s/1XOk

**Priority**
How important is this to you?
- [x] P2: annoying but n

[2022-09-29 22:59] r2c-demo commented on #6201
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1943/semgrep-does-not-support-typescript-in-pattern-syntax. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-30 07:01] adriensaladin opened #6203 "Python slicing operator ignored in taint mode"
**Describe the bug**

Python slicing (for substrings, etc) does not seem to be handled for rules in taint mode.

**To Reproduce**

https://semgrep.dev/playground/s/Q3x4

**Expected behavior**

All tests pass

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ x ] P2: regular bug that should get fixed

[2022-09-30 07:02] r2c-demo commented on #6203
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1944/python-slicing-operator-ignored-in-taint-mode. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-30 09:31] Sjord opened #6206 "Safe navigation operator support"
The [safe navigation operator](https://en.wikipedia.org/wiki/Safe_navigation_operator#JavaScript) does null-safe dereferencing:

[code]

This returns the first article author's name, but won't throw an exception if any of the values are null.

Currently, semgrep doesn't really support this. For example, the following rule wouldn't work, as it would also match on `article?.Author`:

[code]

[AST_Ge

[2022-09-30 09:32] r2c-demo commented on #6206
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1947/safe-navigation-operator-support. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-30 13:23] Techbrunch opened #6209 "Missed findings when running on a folder"
semgrep version 0.115.0

My rule:

[code]

I have an empty `.semgrepignore`.

[code]

There is only one finding but I know that at least one of the file is not scanned since if I run semgrep only on this file then there are more findings.

I confirmed that the file in question is in `git ls-files`.

[code]

[2022-09-30 13:23] r2c-demo commented on #6209
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1948/missed-findings-when-running-on-a-folder. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-09-30 13:53] Techbrunch commented on #6209
If I run with `--debug` on the folder with the missed file, I can see (`Nothing to scan.`) that semgrep does not find the file to scan:

[code]

[2022-09-30 17:02] IagoAbal commented on #4670
Oops, this is not yet solved.

[2022-09-30 18:07] #5740 closed, assigned to emjin

[2022-09-30 22:45] sk- commented on #5966
Why is the stalebot marking it as stale, if it has a high priority?

[2022-10-01 09:51] Sjord commented on #6018
I am getting pretty tired of the stale bot.

[2022-10-01 09:53] Sjord commented on #6107
​

[2022-10-01 09:54] Sjord commented on #6101
​

[2022-10-01 17:32] #6064 closed, assigned to nobody

[2022-10-01 17:32] #6073 closed, assigned to nobody

[2022-10-01 17:33] #6074 closed, assigned to nobody

[2022-10-03 08:51] zakrush opened #6218 "add handle 'export' for function pattern"
**Is your feature request related to a problem? Please describe.**
https://r2c-community.slack.com/archives/C018NJRRCJ0/p1664733162490709 was discus into Slack
Needed handle only export functions for JS and TS languages.

[code]
I want handle only export type of functions and rule down/ now is not working

[code]

**Describe the solution you'd like**
Add the ability to specify the type of function

[2022-10-03 08:52] r2c-demo commented on #6218
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1950/add-handle-export-for-function-pattern. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-03 09:07] IagoAbal commented on #6218
Another example (minimized): https://semgrep.dev/s/nAnb

[2022-10-03 10:12] Sjord commented on #5965
@spencerdrak What do you think of this issue?

[2022-10-03 11:22] IagoAbal commented on #6218
When we parse a `export function ...` as a target we generate:
[code]
But this `DirectiveStmt` is not generated when parsing it as a pattern.

[2022-10-03 14:38] aneeshusa commented on #5899
Our process for OSS contribution approval has moved forward and I believe we'll be signing the corp CLA soon.

[2022-10-03 19:13] 4390c336 opened #6225 "scala duplicated results"
**Describe the bug**
The example code results in the same finding reported twice , with an added `{` in the second finding.
this bug appears only when printing the variable `$T`

**To Reproduce**
https://semgrep.dev/s/o3ON

**Expected behavior**
report the finding only once

**What is the priority of the bug to you?**
P2

[2022-10-03 19:14] r2c-demo commented on #6225
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1953/scala-duplicated-results. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-04 14:41] dkasak opened #6233 "Autofix mangles TypeScript expression containing parentheses"
**Describe the bug**
I found a case where the autofix functionality incorrectly transforms a TypeScript expression containing parentheses by eating an opening parenthesis.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev: https://semgrep.dev/s/Aq24

**Expected behavior**

The transformed expression should be

[code]

But instead it is

[code]

**What is the

[2022-10-04 14:41] r2c-demo commented on #6233
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1955/autofix-mangles-typescript-expression-containing-parentheses. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-04 16:28] dmgping commented on #6162
@mjambon It appears the fix implemented in https://github.com/returntocorp/semgrep/issues/6071 hasn't resolved the issue. I upgraded to v0.115 and ran the rule again and seen the same misplacement of the autofix code inserted. The original targeted line was 197 chars long.
![image](https://user-images.githubusercontent.com/99043843/193874000-1300789e-da47-4d21-adb1-917339bbf155.png)
The detection

[2022-10-04 18:42] nmote opened #6236 "Autofix fails to insert necessary parentheses"
**Describe the bug**

When a metavariable `$X` matches a binary expression, and the fix uses `$X` as part of another binary expression, it may be necessary to also insert parentheses around it to avoid changing the meaning of the fix.

**To Reproduce**

https://semgrep.dev/s/Kv6d

**Expected behavior**

The last example should correct to `bar((x + 5) * 2)` instead of `bar(x + 5 * 2)`

**What is th

[2022-10-04 18:42] r2c-demo commented on #6236
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1956/autofix-fails-to-insert-necessary-parentheses. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-04 20:41] ievans commented on #6150
I like it, but I wonder if there's a better solution for vim, like using the new LSP functionality https://github.com/returntocorp/semgrep/blob/develop/cli/src/semgrep/commands/lsp.py

[2022-10-04 20:45] holdenmcg commented on #6209
Could you try that same debug command, but also including the --include flag with the file that you want to scan and sharing the output?

[2022-10-05 07:12] aryx commented on #6236
Love this! Only AST-based autofix could handle those things.

[2022-10-05 08:42] aryx opened #6243 "Permission denied when using semgrep docker image in pre-commit"
[code]

[2022-10-05 08:42] r2c-demo commented on #6243
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1958/permission-defined-when-using-semgrep-docker-image-in-pre-commit. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-05 08:44] aryx commented on #6243
@brendongo I need to get a fix for this to be able to dogfood using semgrep-jsonnet in pre-commit.
Right now none of our docker images seem to work when used inside pre-commit. We can use the python-based
semgrep, but the docker image seem to fail. What is weird is that it seems to work in CI in GHA (that's where those
manual hook stage are run).

[2022-10-05 08:45] aryx commented on #6243
I've tried to add --verbose to pre-commit for better logging, but it does not log anything apparently. I don't even know which command is run and how the docker container is called.

[2022-10-05 08:47] aryx commented on #6243
Looking at the code in env.py and terminal.py it seems like Path.home() must return '/' or None so then the mkdir fails.
Could we do a try around this mkdir and if it fails just set user_log_file to stderr?

[2022-10-05 08:48] aryx commented on #6243
or is there a way to disable logging so that we don't even try to do this mkdir .semgrep?

[2022-10-05 08:57] Techbrunch commented on #6209
@holdenmcg With `--include` there are no findings and the missing file is not listed in the list of files skipped by the include pattern.

There is something really weird going on. Some observations:

- Changing the file permission from `644` to `755` and it gets picked up by semgrep. Changing it back to `644` and it is ignored again
- Changing the extension from `.inc` to `.php` whithout changing

[2022-10-05 16:53] ievans opened #6247 "Semgrep tries to parse .elm files even though it doesn't support Elm"
Split out from https://github.com/returntocorp/semgrep/issues/6199

My understanding is the expected behavior is that if we don't support elm, we don't try to parse elm file.

[2022-10-05 16:54] r2c-demo commented on #6247
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1961/semgrep-tries-to-parse-elm-files-even-though-it-doesnt-support-elm. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-05 16:54] ievans commented on #6199
I've split out the problems with semgrep trying to parse Elm here: https://github.com/returntocorp/semgrep/issues/6247

[2022-10-05 17:14] nmote commented on #4963
With the work-in-progress on AST-based autofix, this issue is not fully addressed, but it is dramatically improved: https://semgrep.dev/playground/s/2gr5?develop=true

Now, the second example is autofixed to:

[code]

It still reorders the arguments, but since they are keyword arguments this shouldn't matter. It at least generates valid code now.

The reordering is due to how Semgrep does matching

[2022-10-05 17:26] #1946 closed, assigned to mjambon

[2022-10-05 17:39] twittemb opened #6249 "Error while running on an Android project"
**Describe the bug**

I have an issue while running Mobsfscan (which relies on semgrep) on an Android/Kotlin project with the following error.

Environment:

macOS Monterey
proc M1 Ultra
Python 3.8.9 (default, May 17 2022, 12:55:41) [Clang 13.1.6 (clang-1316.0.21.2.5)] on darwin
mobsfscan: v0.1.1

the stack trace seems to incriminate semgrep :-(

[code]

**What is the priority of the bug to you?**

[2022-10-05 17:40] r2c-demo commented on #6249
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1962/error-while-running-on-an-android-project. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-05 23:50] brendongo commented on #6243
Without any code you can override the home directory: with XDG_CONFIG_HOME or you can override the logfile path with  SEMGREP_LOG_FILE envvar

[2022-10-06 00:03] brendongo commented on #6243
Hmm yeah this is weird that outside pre-commit this seems to work fine. The docker command is being invoked here: https://github.com/returntocorp/semgrep/blob/develop/.pre-commit-hooks.yaml#L23

Maybe we should just add a MKDIR /.semgrep to the dockerfile?

[2022-10-06 07:06] aryx commented on #6243
I also thought about the env var, but I don't know how to do that for a docker_image entry in pre-commit.

[2022-10-06 07:07] aryx commented on #6243
Weird that Path.home() returns /. It should return /root. And weird anyway it can't mkdir /semgrep since the user is root.

[2022-10-06 07:11] 0xdbe opened #6253 "Add new Operator pattern-missing or pattern-not-found"
**Is your feature request related to a problem? Please describe.**

In some cases, default parameters are unsafe and doesn't need any configuration files or classes.

For example, Spring uses logback (as logging framework) and default configuration is loaded without any configuration files or classes.
This default configuration is unsafe  and vulnerable to log injection.
To be safe, a configuratio

[2022-10-06 07:11] r2c-demo commented on #6253
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1964/add-new-operator-pattern-missing-or-pattern-not-found. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-06 08:06] Starkteetje opened #6255 "Semgrep scan doesn't find test cases depending on language order for kotlin and java"
**Describe the bug**
When writing a rule for Java and Kotlin, the order in which they are specified changes detection behaviour in Kotlin files.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:

https://semgrep.dev/playground/s/lG7G?editorMode=advanced contains the code, but it is working in the playground

- Pull the latest Dockerfile (`/src # semgrep --ve

[2022-10-06 08:07] r2c-demo commented on #6255
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1965/semgrep-scan-doesnt-find-test-cases-depending-on-language-order-for. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-06 13:47] aryx commented on #6247
seems related to https://github.com/returntocorp/semgrep/issues/6167

[2022-10-06 13:51] aryx commented on #6167
reported also by martin here: https://returntocorp.slack.com/archives/C01NXGX2EHZ/p1664220310354639

[2022-10-06 19:02] brendongo commented on #6243
Yeah. Maybe pre-commit runs as a different user

[2022-10-07 09:38] Techbrunch commented on #6209
In the end the best workaround is to do what is recommended in #3090, I edited the lang.json in `/opt/homebrew/Cellar/semgrep/0.115.0/libexec/lib/python3.10/site-packages/semgrep/lang`

[2022-10-07 14:57] aryx commented on #6243
Ok after instrumenting pre-commit Python code, I got:
[code]
so yes, it's using a different user.

[2022-10-07 15:01] aryx commented on #6243
in docker.py in pre-commit source code:
[code]
which is why it's working in CI, because it's ran from root. But in my case I'm running pre-commit from my arch linux account with user id 1000:1000 and so then it fails when running the semgrep container.
Argh.

[2022-10-07 17:12] aryx commented on #6243
@brendongo maybe we could just fallback to creating the .semgrep in /tmp if there's an exception raised on the mkdir .semgrep?
Is there other place where we would get a permission denied?

[2022-10-07 17:37] brendongo commented on #6243
That's so weird. why is pre-commit assuming that the user id in the docker container is the same user id as the running os.

[2022-10-07 17:45] aryx commented on #6243
yep ...

[2022-10-07 17:46] aryx commented on #6243
https://github.com/pre-commit/pre-commit/issues/1243

[2022-10-07 19:48] brendongo commented on #6243
Looks like others have run into similar issue: https://github.com/pre-commit/pre-commit/issues/1243

[2022-10-07 19:48] brendongo commented on #6243
Oh you found it too :D

[2022-10-07 19:49] brendongo commented on #6243
Yeah. We can probably have some flag to set the location of the log file? Seems better than falling back silently to a different location

[2022-10-07 20:08] brendongo commented on #6243
There has to be a way to use the existing envvar. I'll take a quick look

[2022-10-07 20:12] aryx commented on #6243
does not look like pre-commit allows to set those vars for docker.
the --logfile does not look too bad. I can set it to --logfile /tmp/semgrep.log

[2022-10-07 20:12] aryx commented on #6243
ah perfect you did it :)

[2022-10-07 20:35] sww commented on #6026
I also ran into this issue on a new M1 MacBook Pro.  In my case, `semgrep` was installed via pip, which did not install the `pcre` dependency (but `pcre` DOES get installed if you install `semgrep` via Homebrew). I think I've fixed in my PR https://github.com/returntocorp/semgrep/pull/6268.

[2022-10-07 22:58] emjin commented on #6166
This should be fixed now! The problem was that `this` wasn't resolved, which interfered with our function lookup. If you `semgrep install-deep-semgrep` again it should work.

Please file more issues as you encounter them in DeepSemgrep! We'd also love to hear your thoughts on what you're looking for with DeepSemgrep. Feel free to dm me (Emma)

[2022-10-07 22:58] #6166 closed, assigned to nobody

[2022-10-08 05:17] Sirneij opened #6270 "semgrep rule fails to catch some patterns"
I have a Python (Django) application that needs to be checked for some anti-pattern code writing. I don't want any variable to be included in log messages for some reason. I currently have this rule:

[code]
However, running this rule doesn't catch something like:
[code]
or:
[code]
Is there anything I am missing? My `semgrep` version is `0.90.0`.

[2022-10-08 05:18] r2c-demo commented on #6270
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1981/semgrep-rule-fails-to-catch-some-patterns. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-08 05:48] #6243 closed, assigned to nobody

[2022-10-08 09:58] #6067 closed, assigned to nobody

[2022-10-08 09:58] #5735 closed, assigned to nobody

[2022-10-08 13:16] phretor opened #6272 "[C/C++] missing support for `struct` token"
**Describe the bug**
C parser doesn't support `struct` token.

**To Reproduce**
https://semgrep.dev/playground/s/parsiya:c-struct

**Expected behavior**
Should not report a parse error.

**Screenshots**
[code]

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [X] P2: regular bug that should get fixed

[2022-10-08 13:17] r2c-demo commented on #6272
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1982/[cc]-missing-support-for-struct-token. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-10 12:48] phretor opened #6274 "[C/C++] Matching too much code when ellipsis is used"
**Describe the bug**
A rule that uses an `...` is matching too much code.

**To Reproduce**
[code]

See: https://semgrep.dev/playground/s/phretor:phretor-uefi-noninit-datasize-copy?editorMode=advanced

**Expected behavior**
Given the above playground snippet, it should match up to L45 and not up to L54.

**Screenshots**
![image](https://user-images.githubusercontent.com/192820/194869919-2cfee6f9-8

[2022-10-10 12:49] r2c-demo commented on #6274
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1985/[cc]-matching-too-much-code-when-ellipsis-is-used. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-10 17:55] ievans commented on #6274
I think this actually might be currently expected behavior? Docs seem unclear to me: https://semgrep.dev/docs/writing-rules/pattern-syntax/#ellipsis-operator-scope

@aryx your thoughts?

[2022-10-10 18:00] ievans commented on #6270
I think this is expected; is there any reason why your last couple patterns aren't using the elipsis inside the f string? See https://semgrep.dev/s/NvBy, seems to work.

[code]

Will close this out but feel free to re-open!

[2022-10-10 18:00] #6270 closed, assigned to nobody

[2022-10-10 18:01] ievans commented on #6249
@ajinabraham any ideas?

[2022-10-10 18:06] ievans commented on #975
Looks like this is fixed actually -- at least all the issues in the original comment! @aryx I'm going to close but feel free to re-open if there's another thing we're waiting for

[2022-10-10 18:06] #975 closed, assigned to aryx

[2022-10-10 18:09] ajinabraham commented on #6249
@ievans The exception comes from semgrep. We saw this from multiple semgrep versions. Anything wrong with the integration?

https://github.com/ajinabraham/libsast/blob/ab406dcc45319d133e296d8594b8aff035036d71/libsast/core_sgrep/helpers.py#L9

[2022-10-10 18:31] ievans commented on #1059
@aryx I think we should close this out, we aren't planning to do it and haven't had interest. We can add it to an internal hackathon doc though.

[2022-10-10 18:31] #1059 closed, assigned to nobody

[2022-10-10 18:55] ievans commented on #6249
I'm puzzled by it, epecially since the issue only seems to appear when Semgrep is wrapped as a subprocess. Do you know how often this issue is occurring for users at all?

[2022-10-10 18:59] ajinabraham commented on #6249
I think we had one reported in the repo and a few mentions in the slack channel.

[2022-10-11 07:15] aryx commented on #6274
looks like a bug

[2022-10-11 10:51] #6026 closed, assigned to spencerdrak

[2022-10-11 14:29] #5971 closed, assigned to IagoAbal

[2022-10-11 17:42] jaskaransinghdr6j commented on #5876
Is there any update on this? It's affecting our CI pipeline. Any workaround which does not involve modifying the Dockerfile itself?

[2022-10-11 18:00] emjin commented on #6249
Hi @twittemb! Thanks for filing this. I don't know what rules `mobsfscan` uses, but can you try running `semgrep --config p/default` on the repository with an error? If that works (aka gives the same error), can you add `--debug` and share the output?

[2022-10-11 18:01] emjin commented on #6249
@ajinabraham If you have a reproduction, could you also send the `--debug` output?

[2022-10-11 18:47] ajinabraham commented on #6249
The rules we use are validated against latest semgrep https://github.com/MobSF/mobsfscan/blob/9bef3983eb13051b2162626717eeaed96c3fbbd7/.github/workflows/tests.yml#L39

I don’t have a test case to reproduce the above. maybe the author can help.

[2022-10-11 19:32] brendongo commented on #6155
@bocajspear1 can you give us an example code and rules to reproduce?

[2022-10-11 19:49] bocajspear1 commented on #6155
Unfortunately, it's private code and I can't provide it here... which makes things tough. I'm using the [default rules](https://github.com/returntocorp/semgrep-rules) and [Trail of Bits rules](https://github.com/trailofbits/semgrep-rules) run via the command given above. I can run other semgrep commands and provide output though.

I'm planning to try using semgrep on some of my personal projects,

[2022-10-11 21:47] emjin commented on #5876
If it's only one Dockerfile causing problems, you can add it to your `.semgrepignore` so it'll stop being scanned, and thus stop crashing the pipeline. Also, if you're not on the latest Semgrep, try updating the version of Semgrep and let us know if the problem persists.

We're working on improving our tolerance to errors like these, so hopefully we will fail more gracefully. In terms of the actua

[2022-10-12 01:53] dstrelau opened #6287 "[Go] Backtick string literals not captured correctly"
**Describe the bug**
Go's backtick string literals are not captured properly (or autofix doesn't output them properly?)

**To Reproduce**

https://semgrep.dev/s/1vrv

FWIW, I don't believe this to be specific to JSON content — any content inside backticks fails in this manner.

**Expected behavior**

The autofix is missing the closing backtick and final character. I expect it to be included.

[cod

[2022-10-12 01:53] r2c-demo commented on #6287
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1987/[go]-backtick-string-literals-not-captured-correctly. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-12 12:27] szymon-kaczorowski opened #6291 "[Kotlin] Parsing of proper code fails"
**Describe the bug**
A valid Kotlin code is not parsed, so no rule can be checked against it

**To Reproduce**
Follow this link: (https://semgrep.dev/s/Godp)

**Expected behavior**
Should parse code correcty and then be able to check any other defined rules

**Screenshots**
Stack trace of --debug flag show this stack trace:
[code]

**What is the priority of the bug to you?**

- [ ] P0: blocking yo

[2022-10-12 12:28] r2c-demo commented on #6291
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1988/[kotlin]-parsing-of-proper-code-fails. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-12 13:11] jonny64 opened #6293 "[javascript] match inside function second argument"
**Is your feature request related to a problem? Please describe.**
[code]
how do I match USER_INPUT in second argument?

**Describe alternatives you've considered**
this gives false positive even if USER_INPUT goes to data (which is OK)
[code]

**Use case**
integrating semgrep in workflow, finding meaningful results

**Describe the solution you'd like**
no false positive, match inside function sec

[2022-10-12 13:11] r2c-demo commented on #6293
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1989/[javascript]-match-inside-function-second-argument. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-12 21:11] minusworld opened #6298 "Taint mode does not identify Python keyword arguments as a source"
**Describe the bug**
In this example, https://semgrep.dev/s/4v4l, I want to match any instance of a string beginning with `http://` that enters the sinks specified. This works in the expected case, but does not work when the string is the default string of a keyword argument.

**To Reproduce**
https://semgrep.dev/s/4v4l

**Expected behavior**
I expect this rule to match on lines 28 and 38 as it's

[2022-10-12 21:12] r2c-demo commented on #6298
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1990/taint-mode-does-not-identify-python-keyword-arguments-as-a-source. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-12 21:17] minusworld opened #6299 "metavariable-pattern does not match as expected when the metavariable is explicitly described as a string in Python"
**Describe the bug**
In this example, https://semgrep.dev/s/PBkY, I am trying to match string literals according to a specific regular expression. If I express the `pattern` clause explicitly as `"$URL"` to capture string literals, the`metavariable-pattern` clauses do not match.

If I express the pattern as `$URL` without quotes, the `metavariable-pattern` clause works as expected. See https://sem

[2022-10-12 21:17] r2c-demo commented on #6299
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1992/metavariable-pattern-does-not-match-as-expected-when-the-metavariable. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-13 08:36] inkz opened #6308 "[PHP] Tainted `$this` not matched in some cases"
**Describe the bug**

example https://semgrep.dev/s/ggpJ

While trying to catch tainted `$this->input` it is not highlighted in cases like:

[code]

(but works fine for `$foobar->input`)

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

[2022-10-13 08:36] r2c-demo commented on #6308
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1994/[php]-tainted-dollarthis-not-matched-in-some-cases. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-13 09:11] inkz opened #6309 "[PHP] Parse error for patterns with some internal PHP functions"
**Describe the bug**
If you try to match `eval("foobar")` with a pattern like this:

[code]

semgrep will throw parsing error

with:
[code]
works fine

same for other functions like `include`, `require` etc

it is not necessarily a bug, but can be frustrating when you get "Parsing error" for this, better messaging can help
but IMHO it would be better with `eval($X,...)` letting to match `eval(x)`

[2022-10-13 09:12] r2c-demo commented on #6309
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1995/[php]-parse-error-for-patterns-with-some-internal-php-functions. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-13 10:41] inkz opened #6311 "[PHP] Literal Metavariables"
**Is your feature request related to a problem? Please describe.**
Would be very useful to have literal metavariables for PHP like:
https://semgrep.dev/s/GoRp

[code]

[code]

and for template strings as well

[code]

[code]

[2022-10-13 10:42] r2c-demo commented on #6311
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1998/[php]-literal-metavariables. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-13 12:38] jonny64 commented on #3019
could you please give anyworkaround to convert --json to human readable format ? `write a tool yourself` ?
use case:
* gitlab
* upload json results to defect portal
* still should be able to view pipeline output as a human

[2022-10-13 15:47] Sirneij commented on #6270
@ievans Thank you for that. I currently still have a problem. I have some logs in my codebase that span multiple lines, such as:
[code]
And some only have two `f'...'`s while others 3 `f'...'`, and so on. Is there a scalable way to capture all of these without duplicating rules?

[2022-10-13 16:03] Sirneij opened #6314 "[Python] Scalable way to catch all cases"
Refer to #6270

I currently still have a problem. I have some logs in my codebase that span multiple lines, such as:
[code]
And some only have two `f'...'`s on separate lines while others 3 `f'...'`s, and so on.

I am currently duplicating patterns to catch such logs. For example:

[code]
Catches those with 5 `f'...'`s on multiple lines. I have to write another pattern for those with 4, 3 and so o

[2022-10-13 16:23] r2c-demo commented on #6314
This issue is synced in Linear at https://linear.app/r2c/issue/PA-1999/[python]-scalable-way-to-catch-all-cases. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-13 19:19] elb-slack commented on #3019
At Slack, we'd love to be able to have output in both semgrep's json format and in sarif. Our tooling relies on the json format (we remove false positives and do comparisons between branches or over time), but we'd like to upload SARIF to aggregation tools for additional analysis. Preferably I'd like to not run semgrep twice just to get different outputs.

Otherwise, I'm going to have to rewrite a

[2022-10-14 08:51] aryx opened #6318 "Can't use autofix to remove some code"
with this rule:
[code]
I can't use it on some codebase to remove all the typing imports.
`semgrep --config ~/refactoring.yaml . --autofix` does not apply any fixes.

[2022-10-14 08:51] r2c-demo commented on #6318
This issue is synced in Linear at https://linear.app/r2c/issue/PA-2000/cant-autofix-to-remove-some-code. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-15 18:30] ievans commented on #5966
Hmmm, not sure

[2022-10-15 21:15] just-be-dev opened #6323 "Can't use Ellipsis Metavariables to capture JSX tag content"
**Describe the bug**
In order to write a fix rule that removes some attributes of an JSX expression, you must be able to capture any other parameters in the JSX expression.

For example let's say you have a component that returns this SVG tag:

[code]

If you want to remove width and height there, but otherwise keep the expression the same one would assume you could do..

[code]

In the above rule

[2022-10-15 21:15] r2c-demo commented on #6323
This issue is synced in Linear at https://linear.app/r2c/issue/PA-2003/cant-use-ellipsis-metavariables-to-capture-jsx-tag-content. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-17 14:45] aryx commented on #5876
seems like the problem is not even in tree-sitter-dockerfile but tree-sitter itself ... The tree-sitter-dockerfile author
just sent the issue upstream: https://github.com/tree-sitter/tree-sitter/issues/1842

[2022-10-17 14:54] aryx commented on #6199
@marcelocarlos can you give us a reproducible scenario that shows the errors you got (trying to parse .elm files even though we don't support it). I've tried to make a simple directory containing foo.elm and ran semgrep --config auto /tmp/testdir/ and I didn't get any error.

[2022-10-17 15:55] ZPetrovich opened #6328 "False positive spring jdbctemplate SQL Injection"
**Describe the bug**
[_Improper Neutralization of Special Elements used in an SQL Command ('SQL Injection')_] when using **PreparedStatementSetter**. Due to the use of **PreparedStatement** it's _a false positive error_.

**Please note**, this was already fixed in corresponding **find-sec-bugs** plugin, however not sure whether that plugin somehow related to **Semgrep** Project: https://github.com

[2022-10-17 15:56] r2c-demo commented on #6328
This issue is synced in Linear at https://linear.app/r2c/issue/PA-2018/false-positive-spring-jdbctemplate-sql-injection. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-17 18:00] dmgping commented on #6163
Hi @ievans , is there any scheduled date for resolving this issue?

[2022-10-17 18:01] dmgping commented on #6071
Hi @mjambon, can you review the above? Thanks

[2022-10-17 18:15] ievans commented on #6163
@dmgping autofix is still experimental but I know @nmote has been working on it. No ETA though.

[2022-10-17 20:10] nmote commented on #6163
I am working on improving autofix. However, my current stream of work will not address this issue, and I currently have no plans to investigate it. I don't expect it to be a particularly difficult fix, though, so it's likely that I'll get to it in the next few months.

[2022-10-17 22:52] spencerdrak commented on #5965
@Sjord so sorry for the late reply on this, somehow the notification was lost. I'm actually unsure here, and I'm going to re-assign to the team who owns this now. I'll ping someone here shortly on that. thanks for your patience!

[2022-10-17 23:27] underyx opened #6331 "`semgrep --pattern "foo"` should infer search language from current directory"
**Is your feature request related to a problem? Please describe.**

See https://news.ycombinator.com/item?id=33240839

**Describe the solution you'd like**

I think Semgrep should:
1. Walk the targets
2. Recognize all the in the targets by file extension
3. Set those languages (plus generic?) in the rule YAML generated from the CLI supplied pattern
4. Ignore any parse errors if at least one langua

[2022-10-17 23:28] r2c-demo commented on #6331
This issue is synced in Linear at https://linear.app/r2c/issue/PA-2019/semgrep-pattern-foo-should-infer-search-language-from-current. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-18 10:11] IagoAbal commented on #6331
Maybe we could try to infer a set of potential languages from the pattern. We could try parse the pattern with every language, and collect the list of languages for which the pattern is valid. But you may end up scanning _too much_ and having a worse experience (longer runtime, more noise).

If the problem is verbosity (that's what @lbhdc seems to have complained about originally?), one must note

[2022-10-18 12:29] IagoAbal commented on #6323
This is a problem with the Javascript front-end. Until this is fixed, as a workaround, you could use Generic: https://semgrep.dev/s/9JWR. Although Generic has more limitations, attributes would need to occur in the exact same order as in the pattern.

[2022-10-18 20:18] brandonspark commented on #6291
Hi, thanks so much for reporting this issue! Just wanted to let you know that we're working on it, but it's taking a little longer than anticipated.

[2022-10-19 02:21] backcover7 opened #6344 "symbolic_propagation failed when including Cast type in Java"
**Describe the bug**
When the statement contains cast type, the symbolic_propagation feature will fail in matching.

**To Reproduce**
https://semgrep.dev/s/0vAb

**Expected behavior**
The two "either" patterns should be matched because when the cast type is in the statement.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to

[2022-10-19 02:22] r2c-demo commented on #6344
This issue is synced in Linear at https://linear.app/r2c/issue/PA-2025/symbolic-propagation-failed-when-including-cast-type-in-java. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-19 11:57] #6298 closed, assigned to IagoAbal

[2022-10-19 16:07] #3648 closed, assigned to nobody

[2022-10-19 18:23] minusworld opened #6353 "I need a way to detect a special "mounted secrets" syntax in Dockerfiles"
**Is your feature request related to a problem? Please describe.**
Dockerfiles have introduced a [special `--secrets` flag](https://docs.docker.com/develop/develop-images/build_enhancements/#new-docker-build-secret-information) which permits the use of secrets during the build process that are discarded after the build is complete. This is neat, since you can use secrets to affect the final contai

[2022-10-19 18:23] r2c-demo commented on #6353
This issue is synced in Linear at https://linear.app/r2c/issue/PA-2028/i-need-a-way-to-detect-a-special-mounted-secrets-syntax-in-dockerfiles. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-19 19:43] #5729 closed, assigned to nobody

[2022-10-19 20:34] just-be-dev commented on #6323
Thanks @IagoAbal, that's helpful! Would still be nice to be able to do this within the javascript frontend though.

[2022-10-19 20:53] brandonspark opened #6355 "Labels not being applied correctly to taint rule"
**Describe the bug**
We are producing a finding when we shouldn't be, because a label being used as a "requires" should be preventing the finding, but it is not.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev: https://semgrep.dev/playground/s/JPRQ

**Expected behavior**
There should be no finding, because the `USERINPUT` label is not satisfied by the sourc

[2022-10-19 20:54] r2c-demo commented on #6355
This issue is synced in Linear at https://linear.app/r2c/issue/PA-2029/labels-not-being-applied-correctly-to-taint-rule. _Note_: this link is for r2c use only and is not accessible publicly.

[2022-10-19 22:52] #6154 closed, assigned to nobody

[2022-10-19 23:04] #6201 closed, assigned to nobody

[2022-10-20 14:10] MIJOTHY commented on #5698
Also running into this (P1 for me)

[2022-10-20 15:22] #6183 closed, assigned to nobody

[2022-10-20 22:31] backcover7 opened #6366 "Initialize block parse error"
**Describe the bug**
Java has two kinds of initialize blocks, they behave as same as the constructors. But semgrep cannot recognize them

**To Reproduce**
https://semgrep.dev/s/ojQ0

**Expected behavior**
semgrep should match them but it might conflict with existing syntax. Because `{...}` is used to match all content wrapped by `{}`.

**What is the priority of the bug to you?**

- [ ] P0: blockin

[2022-10-21 00:17] jharper-sec opened #6367 "Add Dataflow Traces to SARIF Output Formatter"
**Is your feature request related to a problem? Please describe.**
Currently the SARIF output only includes information about the `rule_match` location. This is fine for Semgrep rules matching on a single line of code, but for rules with mode `taint`, the output should include the dataflow details. The text formatter output already includes this information when passing the `--dataflow-traces` fla

[2022-10-21 08:00] #6191 closed, assigned to nobody

[2022-10-21 08:00] #6195 closed, assigned to nobody

[2022-10-21 08:00] #6182 closed, assigned to nobody

[2022-10-21 11:51] IagoAbal commented on #6270
@Sirneij what about this https://semgrep.dev/s/L5qo ?

If it doesn't work, please share a Playground link with a bunch of examples that you want to match (annotated with `#ruleid:`), and also with a bunch of examples that you do _not_ want to match.

[2022-10-21 12:05] IagoAbal commented on #6367
Does that mean you can work on a PR yourself @jharper-sec ?

[2022-10-21 12:42] jharper-sec commented on #6367
@IagoAbal Yes, I can start work on a PR and let you know if I have questions as I work through it.

[2022-10-21 13:40] IagoAbal commented on #6367
Great! cc @nmote who exposed taint traces for users.

[2022-10-21 14:11] Sirneij commented on #6270
@IagoAbal Thank you for this. It caught them effectively. Thank you.

[2022-10-21 14:12] Sirneij commented on #6314
The solution to this can be found [here](https://github.com/returntocorp/semgrep/issues/6270#issuecomment-1286855026).

[2022-10-21 14:12] #6314 closed, assigned to nobody

[2022-10-21 14:58] IagoAbal commented on #6299
`metavariable-pattern` without `language` key needs the metavariable to bind to a Python expression or program. With `"$URL"`, `$URL` binds to raw text representing an URL and that is not valid Python. For it to be valid, it should be possible to dump the content of `$URL` into a file, and parse it as Python. If that's not possible, then you are not supposed to use `metavariable-pattern` on that m

[2022-10-21 18:11] backcover7 opened #6372 "Special annotation class match"
**Describe the bug**
The special annotation class cannot be parsed correctly in semgrep.

**To Reproduce**
https://semgrep.dev/s/gg0Z

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

[2022-10-21 23:29] enncoded opened #6375 "Go - Symbolic Propagation Not Working With Function"
**Describe the bug**
I'd expect Semgrep to produce a match on both line 12 and 14 with symbolic propagation turned on in this example - https://semgrep.dev/s/jeXY

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

**Use case**
What will fixing this bug enable

[2022-10-22 05:44] morriswinkler commented on #3019
+1

[2022-10-22 17:53] jharper-sec commented on #6367
Linking to PR: https://github.com/returntocorp/semgrep/pull/6377

[2022-10-24 18:54] aryx commented on #6018
cc @brandonspark

[2022-10-24 19:58] nmote commented on #6236
Fixed in https://github.com/returntocorp/semgrep/commit/f591d2e059702ad97fbb92ad1f814b89a6954c52.

I waited for a bit before closing because it uses AST-based autofix, which only worked in very specific cases at that point. However, now I think it's mature enough (at least for JS and Python) that we can close this. Currently, Semgrep will still get it wrong for other languages and for some unsuppo

[2022-10-24 19:58] #6236 closed, assigned to nobody

[2022-10-24 20:00] nmote commented on #4964
AST-based autofix has handled this specific case for a little while now, but I wanted to wait to close because it handled very little else. Over the past month, however, it has matured enough that it can handle most expression autofixes in JS and Python, so I think it's time to close this issue.

[2022-10-24 20:00] #4964 closed, assigned to nobody

[2022-10-24 23:19] enncoded commented on #6375
This issue is synced in Linear at https://linear.app/r2c/issue/PA-2054/go-symbolic-propagation-not-working-with-function. Note: this link is for r2c use only and is not accessible publicly.

[2022-10-25 00:22] mjambon commented on #6372
The following pattern is parsed without an error:
[code]
What fails is:
[code]
My understanding of Java is that `@interface` placed in this position is a keyword similar to `class` or `interface`. It can't be any string like an annotation. For example, the following is illegal syntax because `@something` isn't valid in this position:
[code]
I believe that's why we don't support the metavariable sy

[2022-10-25 16:05] jharper-sec opened #6390 "Refactor SARIF Output Formatter to Use `sarif-python-om` Library"
**Is your feature request related to a problem? Please describe.**
Currently the SARIF output is created through use of freeform dictionaries. This works, and the current output aligns with the spec, but there are some enhancements that will improve testability, maintainability, and extensibility of the SARIF output formatter.

**Describe the solution you'd like**
Refactor the current SARIF output

[2022-10-25 16:30] aryx commented on #6390
We're actually in the process of migrating the semgrep Python wrapper to OCaml, so if we need to migrate to a sarif library, we will need to find an OCaml one.

[2022-10-25 16:37] aryx commented on #6390
We might be able to reuse some code here: https://github.com/Frama-C/Frama-C-snapshot/tree/master/src/plugins/markdown-report

[2022-10-26 08:57] #6367 closed, assigned to nobody

[2022-10-26 09:08] #6353 closed, assigned to mjambon

[2022-10-26 16:58] effortlessdevsec opened #6396 "No taint traces of all rules in Join mode"
**Describe the bug**
In joint mode having two rules , while running with --dataflow-traces semgrep will show only last rule taint traces

**To Reproduce**
1. create two rules
2. Join both rules with joint mode
3. run the rule with --dataflow-traces
4. Only last one result rule taint traces will show

**Expected behavior**
with --dataflow-traces both rules taint traces should show
**Screenshots**
I

[2022-10-26 18:47] backcover7 commented on #6372
@mjambon I rechecked again and agree with you. I think this is not a bug anymore. Please close it if you want.

[2022-10-27 00:14] LewisArdern opened #6402 "Be able to inspect last value where multiple instances may exist"
**Describe the bug**
There have been cases where someone wants to write a rule where they want to find the instance of something but only the last item and inspect the contents to check its a certain value`$VALUE`.

For example in Docker you can use the `USER username` many times in a Dockerfile, a security issue occurs in the last instance of `USER` if it is `USER root`

example code from current

[2022-10-27 02:49] #6372 closed, assigned to nobody

[2022-10-27 12:26] Starkteetje opened #6405 "Typescript generics and await don't work together"
**Describe the bug**
Matching a function call in typescript that has a generic and is awaited doesn't work.

**To Reproduce**
https://semgrep.dev/s/Zz0x

**Expected behavior**
[code]
all match `callService(...)`

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fix

[2022-10-27 12:30] robbjass commented on #4889
This might help:
`r = requests.post(output_url, data=output.encode('utf-8'), timeout=10)`

[2022-10-27 13:54] caglarsayin commented on #2252
There is no pip wheel for ARM64 Linux machines. Can you please add it to pypi?

[2022-10-27 17:23] #6355 closed, assigned to nobody

[2022-10-28 08:46] rightphp commented on #4947
@nbrahms This resource issue is fixed for you?  I see that #4986 is closed which I expected will solve this, but I still see same problem.

I also upgraded semgrep

Requirement already satisfied: semgrep in c:\users\......\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (0.104.0)
Collecting semgrep
  Downloading semgrep-0.

[2022-10-28 16:34] backcover7 opened #6410 "Negative match does not work for parameters"
**Describe the bug**
I am writing such rule to match a function with metavariable-regex
https://semgrep.dev/s/3vGG
I use type awareness regex to match the annotation @RequestMapping , it can recognize it correctly.
But when I use a negative regex to disallow any hello.world.Src type parameter. It cannot exclude the function
I think there might be a bug here in the metavariable in parameters. Becau

[2022-10-28 19:00] ligurio opened #6411 "Lua patterns doesn't work"
**Describe the bug**

semgrep has an expiremental Lua support. semgrep cheatsheet describes a number of patterns supported in Lua [^1]. However all these patterns doesn't work.

[^1]: https://semgrep.dev/embed/cheatsheet

**To Reproduce**

`deep_matching.lua`:

[code]
`deep_matching.yaml`:

[code]

Run semgrep:

[code]

[code]

**Expected behavior**
A clear and concise description of what you expe

[2022-10-28 19:10] nbrahms commented on #4947
@rightphp forwarding to @brendongo @underyx as they should have more current knowledge on the status of Windows support

[2022-10-28 20:22] ligurio commented on #6411
Ah, the problem is due to a wrong option `-f`.
With `-rules` works as expected:
[code]

[2022-10-28 20:22] #6411 closed, assigned to nobody

[2022-10-28 21:20] niamster commented on #5799
Hi,
Are there any plans fixing this?
Golang generics become more and more widespread and unfortunately more source code is affected by this issue.
Thanks!

[2022-10-31 10:03] IagoAbal commented on #5854
We should try doing this, it's probably cheap nowadays.

[2022-10-31 10:06] IagoAbal commented on #6101
cc @mjambon and @aryx who are rewriting the CLI in OCaml.

[2022-10-31 10:24] IagoAbal commented on #6107
cc @aryx maybe this is solved in the upcoming CLI written in OCaml?

[2022-10-31 12:42] yruss972 commented on #5071
Any update on this?

[2022-10-31 13:32] WilkenSteiner commented on #5704
Hi! Is this being worked on? Or is it on hold until the dockerd/buildx feature mentioned in #5770 has been solved?

[2022-10-31 15:49] trosonke opened #6416 "Adding `mode: join` support for `--validate`"
**Is your feature request related to a problem? Please describe.**
When experimenting with `mode: join` and while trying to run `semgrep --validate` I encountered the following issue:
[code]
Per conversation in semgrep slack, join mode is not supported in semgrep --validate and I was advised to open a feature request here.

**Describe the solution you'd like**
Having `--validate` not fail when usi

[2022-10-31 16:59] emilejq opened #6417 "`metavariable-regex` doesn't match against variable value"
**Describe the bug**
When using `metavariable-regex`, the value of a variable is not being evaluated before matching it against the regex

**To Reproduce**
https://semgrep.dev/s/wjDX

**Expected behavior**
Both test cases to match

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep o

[2022-11-01 02:54] mjambon opened #6421 "Improve detection of minified files"
**Is your feature request related to a problem? Please describe.**

The current heuristic based on whitespace analysis ([Skip_target.ml](https://github.com/returntocorp/semgrep/blob/40b8203a5601618e012d947cc7707e5d0e6498e2/semgrep-core/src/targeting/Skip_target.ml)) doesn't predict very well what's a minified and what isn't. This causes files like [OdmExtractDAO.java](https://github.com/OpenClinic

[2022-11-01 09:10] TheErk commented on #5333
I'm not sure to understand the answer from @ievans , do you mean that the warning appears despite metrics not being sent or is this display bug that says that metrics are sent but they are not?

[2022-11-01 17:07] ievans commented on #5333
The latter: the notice is always displayed, even if metrics are not enabled.

[2022-11-01 21:57] #6253 closed, assigned to nobody

[2022-11-01 21:57] #5899 closed, assigned to nobody

[2022-11-02 14:51] aryx commented on #5799
Should be part of the next release (0.119)

[2022-11-02 15:04] aryx commented on #6247
This should be fixed by #6335

[2022-11-02 15:04] #6247 closed, assigned to aryx

[2022-11-02 15:05] #5799 closed, assigned to aryx

[2022-11-02 15:21] aryx opened #6431 "metachecker: detect use of nested ellipsis inside strings"
See https://semgrep.dev/s/Zwq4

From https://r2c-community.slack.com/archives/C0242656NQ2/p1667401071791169

[2022-11-03 00:11] mjambon opened #6440 "Reduce the amount of boilerplate to modify when changing AST type"
**Is your feature request related to a problem? Please describe.**

I'm in the process of adding SQL constructs for the Apex language, which is a dialect of Java that supports embedded SQL statements. This requires extending the Java AST type and similarly extending Semgrep's generic AST. The two files containing new type definitions are:

* [ast_java.ml](https://github.com/returntocorp/pfff/blob/

[2022-11-03 09:33] reijne opened #6442 "Allow usage of Python `match` statement inside Semgrep `pattern`"
**Is your feature request related to a problem? Please describe.**
Previously, an issue was solved that allows parsing of `match` in python. However, I still cannot use it in the pattern of semgrep.
I have created a playground to demonstrate the issue: https://semgrep.dev/s/88KQ

This issue is the natural follow up of the bug report: https://github.com/returntocorp/semgrep/issues/5885

**Describe

[2022-11-03 13:59] thansen31 commented on #3090
Hi Semgrep team - I was told in Sept 2022 a fix was forthcoming for this issue. It is a blocker for me and the workaround to change the json.lang file does not work for me (I double checked that the expected python version with the modified json.lang was being used).  Any updates please?

[2022-11-03 17:47] schreddies commented on #5701
@ievans https://github.com/returntocorp/semgrep/commit/1a1c716506a968f8b461bd58ca0b14724705d431 it seems like fix was already applied without connecting with this issue. As it is fixed, I am closing it!

[2022-11-03 17:52] ievans commented on #5701
Great, thanks for catching that @schreddies!

[2022-11-03 18:12] emjin commented on #6421
Note: I just double checked and we don't seem to perform minified file detection when targets are given from the CLI (so, in all Semgrep runs).

[2022-11-03 18:58] #6218 closed, assigned to nobody

[2022-11-03 19:40] schreddies commented on #5674
@IagoAbal @mmcqd the 'issue' is still there, but I am closing this one, as it is working for me (Zero width space)

[2022-11-03 19:40] #5674 closed, assigned to nobody

[2022-11-03 22:17] mjambon opened #6450 "Use ppx visitors instead of maintaining boilerplate code manually"
Context: https://github.com/returntocorp/semgrep/issues/6440

This allows deriving the boilerplate for visiting ASTs from the AST type definitions. In particular, the generic AST. The operations that visitors allow include:
* map: copy most nodes, modify some of them
* iter, fold: iterate over a tree and accumulate some result

[2022-11-03 22:22] mjambon opened #6451 "Replace manual boilerplate with ppx_deriving show to dump ASTs where applicable"
Context: https://github.com/returntocorp/semgrep/issues/6440

We have one file like this, [Meta_AST.ml](https://github.com/returntocorp/semgrep/blob/3333891939432f9c4fc7567d9da7d1d671c61a37/semgrep-core/src/core/ast/Meta_AST.ml) &rarr; [ppx deriving show](https://github.com/ocaml-ppx/ppx_deriving). We should take advantage of ppx_deriving so that we don't have to maintain this file.

[2022-11-03 22:59] mjambon opened #6452 "Make generated AST mapper/iterator boilerplate available for copy-paste-edit"
Context: https://github.com/returntocorp/semgrep/issues/6440

This task consists in modernizing [ocamltarzan](https://github.com/aryx/ocamltarzan) so that semgrep developers can easily extend the boilerplate code that maps an AST into something else, by copy-pasting generated code and then editing it by hand where necessary.

[2022-11-04 10:51] Sjord commented on #6018
Could you reopen this please?

[2022-11-04 11:05] aryx commented on #6018
One possible fix is to use an intermediate variable to store the value of the expression a, so we don't repeat
a each time so
we map `a?.b` to `let va = a in null == va ? null : va.b`

[2022-11-04 11:06] aryx commented on #6018
This should avoid the AST explosion.

[2022-11-04 11:07] aryx commented on #6018
@IagoAbal could we do this rewriting? (introduce some intermediate var in the generic AST). Would this interfere
with constant propagation and matching? or Let is already handled there?

[2022-11-04 14:47] khanhldt opened #6456 "Bug in semgrepignore parsing logic with colon (":") directive"
**Describe the bug**
Include directive in `.semgrepignore` apparently parses `.gitignore` using the same syntax parser with `.semgrepignore`, which assumes `:` is also a directive.

**To Reproduce**
1. Check out any repo.
2. Create a semgrepignore file that looks like this: https://gitlab.com/gitlab-org/security-products/analyzers/semgrep/-/blob/452f9e47b96b909ff588ff23c3827b543e3b0c2c/semgrepigno

[2022-11-04 16:14] dzentota opened #6457 "Can't match try + catch blocks in PHP"
**Describe the bug**
I want to write a rule to ensure that some of my code is surrounded by `try + catch` but Semgrep doesn't match `try + catch` blocks for PHP language. It works nicely for java, e.g. [https://semgrep.dev/s/3gxK](https://semgrep.dev/s/3gxK) but the same rule for PHP fails with a syntax error

**To Reproduce**
Simplest scenario: [https://semgrep.dev/s/Q75Z](https://semgrep.dev/s/Q

[2022-11-04 16:30] fopinappb commented on #5939
About this, one thing I've learnt is that `...` capture is *greedy*.

So writing a rule like that will only report the first plugin entry, as `...</plugin>` will capture until the last plugin after that match.

Just as an heads up!

[2022-11-04 17:46] IagoAbal commented on #6018
Could we instead do a translation based on the `Elvis` operator as @brandonspark did here: https://github.com/returntocorp/semgrep/pull/6265/files ? Basically `x?.y` becomes `(x?).y`.

[2022-11-04 20:05] aryx commented on #6018
sounds good. will try that monday.

[2022-11-05 08:36] Sjord commented on #6018
This is semantically incorrect, especially with function calls. Consider `x?.y()`. In `(x?).y()`, `y()` is always called, possibly on a null value. When in reality, the function call is not performed when x is null.

In my opinion the `?.` needs it's own operator in AST_Generic. It is pretty common in multiple languages, and is sufficiently different from `.`. It cannot be mapped to something else

[2022-11-05 09:20] aryx commented on #6018
I see. You're right it's incorrect, but semgrep is not trying to be a syntax checker/type checker/interpreter, so for matching purpose, the transformation is fine. The only issue is that if you look for $O.$M(), then this would match too (x?).y(), but maybe that's actually something we want.

[2022-11-07 15:59] timhemel opened #6470 "Semgrep for Kotlin crashes on partially matching identifier"
**Describe the bug**
Semgrep crashes when fed a particular Kotlin file if I request a call to an identifier, and that identifier is part of another identifier used in the code.

**To Reproduce**
Use the following Kotlin source code (identifier names have been changed to protect the innocent).

[code]
Then, run these queries:

[code]

This gives me the output:

[code]

If I scan a whole directory t

[2022-11-07 16:16] aryx commented on #6470
@brandonspark can you take a stab at it since you've been fixing Kotlin issues recently?

[2022-11-07 17:56] aryx commented on #6452
I'll close for now. There's still lots of Todos, but it's a first step.

[2022-11-07 17:56] #6452 closed, assigned to aryx

[2022-11-07 20:06] chmccreery opened #6473 "SqlAlchemy relationship arguments not detected"
**Describe the bug**
When writing a rule to find SqlAlchemy relationship calls with a particular key-word argument and value, semgrep does not find the keyword argument.

**To Reproduce**
https://semgrep.dev/playground/s/returntocorp:sqlalchemy_relationships_use_raise_loading-bad

**Expected behavior**
I expect the pattern above to match where I've indicated in the code.

**What is the priority of

[2022-11-07 21:47] minusworld opened #6475 "Python f-strings are not working as a source in taint mode"
**Describe the bug**
I have an example, [here](https://semgrep.dev/s/Q74Q), where I want to detect if a format string is a source that flows into a sink. (The full example of what I want to detect is [here](https://semgrep.dev/s/4nPz), but the previous link is a minimized example.)

**To Reproduce**
https://semgrep.dev/s/Q74Q

**Expected behavior**
I expected Line 31 to match in https://semgrep.de

[2022-11-07 23:31] #6299 closed, assigned to nobody

[2022-11-08 14:48] IagoAbal commented on #5674
Maybe this would work now with @nmote's latest AST-based autofix?

[2022-11-08 16:16] nmote commented on #5674
I don't think AST-based autofix would affect it. It doesn't affect fix-regex at all, since fix-regex is by definition text-based. I bet this is due to a Python truthiness test somewhere like `if replacement:`, since the empty string is falsy. I bet that finding that spot and replacing `if replacement:` with `if replacement is not None:` would address this issue.

[2022-11-08 19:06] IagoAbal commented on #5854
Closed by #6474

[2022-11-08 19:06] #5854 closed, assigned to nobody

[2022-11-09 06:10] #6331 closed, assigned to nobody

[2022-11-09 08:20] inkz commented on #6308
fixed by: https://github.com/returntocorp/semgrep/pull/6279

[2022-11-09 08:20] #6308 closed, assigned to nobody

[2022-11-09 17:21] schreddies commented on #5701
@ievans When it will be available for stable version?

[2022-11-09 18:41] backcover7 opened #6493 "Parser failed when "$" exists as prefix of an identifier"
**Describe the bug**
Java Parser failed when a variable name (identifier) has `$` as its prefix.
https://semgrep.dev/s/rvN6 (This should work, but it is still worth fixing this issue)
https://r2c-community.slack.com/archives/C018NJRRCJ0/p1668017114017899

I am not sure if any other language parser has a similar issue. Please check them as well.

**To Reproduce**
https://semgrep.dev/s/yvJ8

**Expec

[2022-11-09 20:24] annikalee commented on #4569
I am unable to replicate this anymore so I'm closing as cannot reproduce. Let me know if this is still an issue!

[2022-11-09 20:24] #4569 closed, assigned to nobody

[2022-11-09 22:46] ikonst opened #6494 "Use as pre-commit hook ignores includes/excludes"
**Describe the bug**
When used as a pre-commit hook, semgrep appears to ignore `paths.includes` and `paths.excludes`, perhaps due to how pre-commit works by feeding the tool the exact targets that it should check.

Per [a comment in the semgrep code](https://github.com/returntocorp/semgrep/blob/89e9161243fdbe5e152acd556d21cd40d44d9789/cli/src/semgrep/target_manager.py#LL663C67-L663C67), command li

[2022-11-10 02:08] backcover7 commented on #6493
Another case of `$` in class name
https://semgrep.dev/s/z45z

[2022-11-10 09:10] #5698 closed, assigned to nobody

[2022-11-10 16:43] ievans commented on #5110
From reading the discussion, I think this is intended behavior, so I'm going to close out in favor of https://github.com/returntocorp/semgrep/issues/5665. But feel free to re-open / comment.

[2022-11-10 16:43] #5110 closed, assigned to mjambon

[2022-11-10 18:01] klardotsh commented on #6015
Likewise would love to see this reopened and tackled if at all possible. Happy to find some time to help, if necessary (and if steps can be identified to help with: I'm not much of an OCaml guy, but I'm familiar with dealing with the aarch64 transition).

[2022-11-11 04:59] niamster opened #6502 "[Go] Generic type parsing fails when struct field type is a ptr"
**Describe the bug**

Semgrep fails to parse valid Go code like
[code]

[code]

**To Reproduce**

[code]

`main.go` code:
[code]

Go build:
[code]

Semgrep:
[code]

**Expected behavior**

Semgrep should be able to be compatible with Golang Generics ref and successfully parse valid Golang code.

**Screenshots**

N/A

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of S

[2022-11-11 08:44] Sjord opened #6504 "Failure "lexing: empty token""
empytoken.py
[code]

[code]

[2022-11-11 08:44] Sjord commented on #6504
P2: regular bug that should get fixed

[2022-11-11 19:36] brendongo commented on #6456
Fixed by https://github.com/returntocorp/semgrep/pull/6460 this should be fixed in latest release!

[2022-11-11 19:36] #6456 closed, assigned to nobody

[2022-11-11 20:29] annikalee commented on #5879
I'm going to close this issue since I am unable to reproduce it. Please reopen if you still are having issues!

[2022-11-11 20:29] #5879 closed, assigned to nobody

[2022-11-12 15:06] ahmedameenaim opened #6509 "Kotlin parser doesn't work as intended."
**Describe the bug**
A written verified correct rule doesn't parse kotlin app's source code as intended. @LewisArdern

**To Reproduce**
https://semgrep.dev/playground/s/yv37

**Expected behavior**
The rule should match the snippet of code in the mentioned playground.

**What is the priority of the bug to you?**

- [*] P0: blocking your adoption of Semgrep or workflow

**Use case**
What will fixing

[2022-11-13 21:04] Sjord commented on #6018
In that case, perhaps it's simpler to just map `a?.b` to `a.b`. That loses the distinction between the two, but as you said that might not be such a big problem.

This makes no sense to me. I thought Elvis needs two operands. E.g. `a ?: b` returns `b` if `a` is null and `a` otherwise. But in this code it seems to be called with one operand. If `x?.y` becomes `(x?).y`, what does `x?` even mean in t

[2022-11-13 23:25] tpetr opened #6515 "Closing backtick is swallowed when capturing a JS template literal"
**Describe the bug**
The closing backtick is missing from the contents of the metavariable when capturing a JS [template literal](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Template_literals).

**To Reproduce**
https://semgrep.dev/s/DglW

Run and then view match, observe that the autofix is:
[code]

**Expected behavior**
Autofix should be:
[code]

**What is the priority of t

[2022-11-14 13:31] tpetr commented on #6515
It also looks like the trailing `}` is dropped too: https://semgrep.dev/s/L747 (Run and observe match 2)

[2022-11-14 14:13] IagoAbal commented on #6018
Internally, for Semgrep, `(x?).y` means `x?.y`. This is not a new thing, we abuse other Generic AST constructs in a similar way already. If we didn't do this kind of thing then Generic would probably have to grow considerably. (To be fair, I'm speculating a bit here, since I have not been personally very involved in x-to-generic translations.) It's easier to justify adding yet-another construct to

[2022-11-14 14:23] VaismanLior commented on #2252
Tried to install semgrep with pip in a docker container running on my M1 and got this message.
![Screen Shot 2022-11-14 at 16 03 56](https://user-images.githubusercontent.com/97836016/201683924-f5939b4c-2320-41d5-915d-61a3c4f7196f.png)

Is it planned to add support?

[2022-11-14 15:23] lbbooleans opened #6518 "Kotlin metavariables in string literals not working"
**Describe the bug**
When writing a Kotlin rule, meta-variables used in string literals do not appear to work (wildcards like `...` do work).

**To Reproduce**
Example Kotlin code:
[code]

Rule:
[code]

**Expected behavior**
I would expect the rule to match the source. For context: when I use a wildcard (`"..."`) instead of a metavariable (`"$X"`) it does seem to work.

**Priority**
How important

[2022-11-15 19:02] rc-mattschwager opened #6530 "Ruby parsing error on HEREDOC"
**Describe the bug**

There's a Ruby parsing error on HEREDOC syntax: https://ruby-doc.org/core-3.1.2/doc/syntax/literals_rdoc.html#label-Here+Document+Literals.

I suspect this is related to https://github.com/returntocorp/semgrep/issues/2258 and https://github.com/returntocorp/semgrep/issues/3151.

**To Reproduce**

https://semgrep.dev/playground/s/5jOj

Oddly, if I change the directory in the H

[2022-11-15 19:05] rc-mattschwager commented on #6530
Also, hi all, hope things are going well 👋

[2022-11-16 18:56] IagoAbal opened #6538 "[python] `import $X` does not match relative imports"
See https://semgrep.dev/s/b8Rv

Reporting on behalf of @martynsmith.

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

[2022-11-16 19:17] martynsmith commented on #6538
The issue I actually had was writing a pattern like this:

`app.model.base.db.relationship(..., backref=$X, ...)`

`app/model/first_model.py` (pattern matches, yay!):

[code]

`app/model/second_model.py` (pattern doesn't match, but should):

[code]

The challenge I think is the only sensible way to solve the file 2 case is to actually have the filename and path somehow forming part of the tree (i.

[2022-11-17 13:35] francoataffarel opened #6542 "JSON output id severity is not same from internet!"
**Describe the bug**
JSON output "severity" is not same from app internet!

**To Reproduce**
json > "severity": "WARNING"
app > "severity": "2", "1" and "0"  or "medium", "high and "low"

**Expected behavior**
json > "severity":  "2", "1" and "0"  or "medium", "high and "low"

**Screenshots**

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x

[2022-11-17 18:44] rc-mattschwager opened #6545 "Rust language beta support mega-issue"
Hi all,

We currently have a moderate amount of Rust code within our organization. However, there are not many Rust Semgrep rules available yet, which makes it difficult to adopt Semgrep on our Rust codebases. Rust is also growing very quickly, and becoming a darling of the open source community. With that, I'd like to purpose an initiative to move Rust from experimental -> beta support in Semgrep

[2022-11-18 15:32] melsabagh commented on #5876
The problem seems to impact other languages too. I am getting the same error on the attached [akp.java.txt](https://github.com/returntocorp/semgrep/files/10042566/akp.java.txt) Java file with Semgrep 0.122.0 on macOS 12.4 x86. The file ends with a newline so that isn't the issue. Rename the file to `akp.java` and run:

[code]

[2022-11-18 17:33] kiwiz opened #6556 "Faster include/exclude parsing"
**Is your feature request related to a problem? Please describe.**

I'm running Semgrep within a large (~98K files) monorepo environment. When scanning individual projects, I can pass them to semgrep as targets. However, (for coverage reasons) I'd also like to be able to scan all files that are not part of a project. The way I'm implementing this currently is via a large (~850) number of `--exclud

[2022-11-18 19:13] kopecs commented on #5876
My initial reaction, without looking into this, is that it is unlikely to be the exact same error. That error message is just communicating that semgrep was expecting more output from semgrep-core, but didn't get it. Unless semgrep-core is segfaulting due to tree sitter on that input, that'll be a different issue, so you'll probably want to open a separate issue.

[2022-11-18 19:41] melsabagh commented on #5876
Thanks @kopecs. I will open a new issue. I am happy to provide more debugging information (`--debug` doesn't yield much in this case). How do I go about doing that?

[2022-11-19 00:23] emjin commented on #6530
Hello!

[2022-11-21 14:25] Denis-Podgurskii opened #6567 "Extract mode ignoring destination language"
**Describe the bug**
I have rules for javascript and vue  languages and when I use extract  rule I see that both rules report findings even I use dest-language: javascript

**To Reproduce**
https://semgrep.dev/s/denis-podgurskii:vanilla-dom-xss - first rule
https://semgrep.dev/s/denis-podgurskii:vue-dom-xss - second rule

extract rule:
[code]

command I use
`semgrep --config ../html/extract/javasc

[2022-11-21 16:25] gheijer opened #6568 "C#: loops seemingly cannot be matched through patterns"
**Describe the bug**
It seems impossible to find `while`, `for` and `foreach` loops in C# through patterns. Strangely enough, the exact same code in Java can be found. Also substituting `while` with `if` in both the code and the pattern (so the code and pattern are the same otherwise) does result in a match.

**To Reproduce**
[Link to https://semgrep.dev `while` in C#](https://semgrep.dev/s/O5lb)

[2022-11-21 18:29] emjin commented on #5876
One thing you can do is run `semgrep scan --max-target-bytes 0 --config 'r/java.' akp.java --debug -d`. This will output the `semgrep-core` command that `semgrep` invokes under the hood. If you run that `semgrep-core` command, you might get more output 🙏

[2022-11-22 12:56] csrichter commented on #1330
i'm also interested in in running semgrep on windows without WSL

i have tried installing semgrep via pip natively and that works, but running it leads to the error : ModuleNotFoundError: No module named 'resource'

i've read that the package "resource" is not available on windows

[2022-11-23 09:34] IagoAbal commented on #6567
Thanks for reporting, to be future proof, the examples are https://semgrep.dev/s/K7jY (first rule) and https://semgrep.dev/s/K7j6 (second rule).

[2022-11-23 14:53] IagoAbal commented on #6568
We need immutable links here:

https://semgrep.dev/s/O5lb <= cannot be found
https://semgrep.dev/s/yv0Z <= can be found
https://semgrep.dev/s/pvPd <= can be found

[2022-11-23 15:43] rc-mattschwager opened #6593 "Add full support for Rust 'use' declarations"
**Describe the bug**

Rust supports a wide array of bringing modules into the local scope: https://doc.rust-lang.org/reference/items/use-declarations.html. However, it appears this "import" mechanism is only partially supported in Semgrep.

**To Reproduce**

- It appears that aliasing with `as` is supported: https://semgrep.dev/s/vJxR
- However, some `use` declarations are not yet supported
  - ht

[2022-11-23 15:46] gheijer commented on #6568
I've edited links in the original post. I've used `Permalink`; is this what you needed?

[2022-11-23 15:53] rc-mattschwager opened #6594 "Add direct module reference for Rust"
**Describe the bug**

I'd like to use direct module references in Rust as a pattern. For example, directly referencing this struct: https://docs.rs/rustls/latest/rustls/client/struct.DangerousClientConfig.html.

**To Reproduce**

- https://semgrep.dev/s/L4y7
- Also, the ellipsis operator in struct initialization: https://semgrep.dev/s/gBly
- Note that direct module reference is possible in Python:

[2022-11-23 15:55] rc-mattschwager commented on #6545
Here are some relevant tasks I've created regarding Rust rule and language support:

- https://github.com/returntocorp/semgrep/issues/6593
- https://github.com/returntocorp/semgrep/issues/6594
- https://github.com/returntocorp/semgrep-rules/pull/2568

[2022-11-23 16:13] IagoAbal commented on #6568
Yes, we would need permalink here to make sure the content has not changed. You can still update the description and fix the links later if needed, but then we know the update is intentional. Also, sometimes people forget they used these links on GitHub and may just delete them.

[2022-11-23 19:35] wagrenier opened #6596 "Ignored Code Due To Comment Containing `nosem` Or Extra Space For RuleId"
**Describe the bug**
Semgrep is looking for a `nosem` comment in order to ignore a line of code. If a badly formatted `// nosemgrep: ruleid` is present, then semgrep will ignore any issue found with the following line of code, even if a ruleid was specified.

Also, if a comment contains `nosem` then the following line will be ignore, even if the comment is not related to semgrep.

**To Reproduce**

[2022-11-25 04:37] #6344 closed, assigned to nobody

[2022-11-25 06:03] ievans commented on #5966
go away stale bot

cc @aryx for the issue

[2022-11-25 20:46] lingo opened #6614 "metavariable-pattern failed because we lack range info for $...BODY"
**Describe the bug**

**To Reproduce**

Error occurs with an empty catch block while attempting to build rules around try..catch

https://semgrep.dev/s/PGgv

**Expected behavior**

I would have expected either a warning (if I'm using semgrep incorrectly) or an empty $...BODY metavariable

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1:

[2022-11-26 17:39] #5853 closed, assigned to nobody

[2022-11-27 00:37] ievans commented on #6101
low pri but should be fixed still, go away stale-bot

[2022-11-27 00:38] ievans commented on #5704
Re-opening (go away stale bot) and marking as priority low; @brendongo any context on status?

[2022-11-27 12:06] elfring commented on #6515
:thought_balloon: How do you think about to delete the statement “`const history = useHistory();`” (in your source code example) also together with the desired usage of the function call “navigate”?

[2022-11-27 17:52] elfring opened #6618 "Addition of a build system generator"
**Is your feature request related to a problem?**
:thought_balloon: I suggest to reuse a higher level build system than [your current make script](https://github.com/returntocorp/semgrep/blob/7a9986d986f8bf8d0d6c63fdf7950056a7e857b7/Makefile#L5 "Update candidate") so that powerful checks for software features will become easier.

**Describe alternatives you've considered**
- [CMake](https://cmake.

[2022-11-27 18:42] elfring opened #6619 "Choose a maintained PCRE API"
**Describe the bug**
[The software implementation contains a dependency on the module “PCRE-OCaml”](https://github.com/returntocorp/semgrep/blob/3c3fe52e36c22c3da64cead792e6d1a7cb8a9127/semgrep-core/src/utils/SPcre.mli#L9 "Update candidate") which refers still to the outdated programming interface “PCRE1”, doesn't it?

**Expected behaviour**
The application of maintained programming interfaces is

[2022-11-27 20:00] elfring opened #6620 "Support constraints for metavariables"
**Is your feature request related to a problem?**
Metavariables can refer to various items.
I would occasionally like to restrict contents from applied variables.

**Describe the solution you'd like**
I would like to take constraints better into account at some places.

**Describe alternatives you've considered**
The semantic patch language (Coccinelle software) demonstrates several possibilities.

[2022-11-28 00:58] huonw opened #6621 "Findings ignored for renamed file that was (but no longer) in .semgrepignore, when using --baseline-commit"
**Describe the bug**

When using diff-aware scanning via `--baseline-commit` / `SEMGREP_BASELINE_COMMIT` (e.g. on a non-main branch in CI), a file that is renamed in a way that moves it from being ignored by `.semgrepignore` in the baseline to _not_ being ignored in the HEAD commit should have any findings displayed, but does not. This means that findings will appear in a full scan, rather than be

[2022-11-28 09:48] IagoAbal commented on #6621
cc @aryx @mjambon

[2022-11-28 17:57] #5305 closed, assigned to aryx

[2022-11-29 10:21] christophetd opened #6631 ""Internal matching error, metavariable-pattern failed because $ARG1 does not bind to a sub-program" starting on Semgrep v0.113.0"
**Describe the bug**
When running the following rule: https://github.com/DataDog/guarddog/blob/fab6f964209154c40ad031d1e944ada34419b5e4/guarddog/analyzer/sourcecode/code-execution.yml

Against the following code: https://github.com/DataDog/guarddog/blob/fab6f964209154c40ad031d1e944ada34419b5e4/tests/analyzer/sourcecode/code-execution.py

Semgrep exits with the following error:

[code]

**To Reprod

[2022-11-29 10:30] aryx commented on #6545
Hi Matt!
Haha, the mega issues are back! :)

[2022-11-29 11:10] gheijer commented on #6568
Thank your for the explanation; it is clear now.

Regarding the issue with loops: there seems to be a very similar issue with C# constructors that might be related to this one. Would it be best to create a separate bug report and have them refer to each other?

[2022-11-29 11:37] IagoAbal commented on #6568
You can share the example here if you want and we decide.

This issue may be related to the condition, `...` works but not a metavariable: https://semgrep.dev/s/AW9p

[2022-11-29 12:14] gheijer commented on #6568
Here are the examples. Since you've mentioned the `...`, I've added examples without parameters as well.

The C# semgreps for constructors all result in an error, whereas the ones for loops do not. In addition, using `...` instead of a metavariable (examples not included) still results in an error and not a match. So maybe the loop and constructor issues are not related after all.

https://semgrep

[2022-11-29 12:40] IagoAbal commented on #6568
In C# it seems that you need to enclose the pattern in a class for it to work: https://semgrep.dev/s/63Ao. You can open a separate issue for that.

[2022-11-29 19:36] LewisArdern opened #6638 "Support super(...) in Semgrep Pattern Java"
**Describe the bug**
Currently Semgrep patterns don't allow matching super(...) as a pattern

https://semgrep.dev/s/9PWY

it works in JavaScript/TS
https://semgrep.dev/s/yRDx

**To Reproduce**
https://semgrep.dev/s/9PWY

**Expected behavior**
Super should be a valid pattern value

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: importa

[2022-11-30 08:50] Markus-Elfring opened #6642 "Support metavariables for storing complete pattern matches"
**Is your feature request related to a problem?**
[The software documentation contains the following transformation example](https://github.com/returntocorp/semgrep-docs/blob/0fc714274e848c742fdb57c7bff8f02be5947f16/docs/writing-rules/experiments/autofix.md#autofix "Fixing exit calls").

[code]

Such a change specification indicates that a bit of source code is repeated.
I would appreciate if code

[2022-11-30 12:54] carlosvillasanchez commented on #6638
Thank you for creating the issue in GitHub from the report in slack!