[2020-05-04 15:43] minusworld commented on #671
@inkz I have a question:

Are you trying to match:
[code]

but NOT match:
[code]
?

Does this work? https://semgrep.live/9O2

[2020-05-04 17:08] nbrahms commented on #664
@DrewDennison what run-time would be acceptable here? Just want to make sure we have a clear definition of "fixed".

[2020-05-04 17:27] ievans opened #673 "Check for update every N runs in non-blocking thread"
We've fixed a lot of bugs in the latest semgrep release, but since we're not in a package manager most users who have installed binaries may not be aware of that. We should have a feature that notifies a user that an upgraded version of the tool is available.

Suggestion: Check for update every N runs in non-blocking thread

[2020-05-04 17:38] minusworld opened #674 "Apply equivalences only to current rule"
**Is your feature request related to a problem? Please describe.**
Currently, equivalences are specified inside a rule yaml file. Intuitively, this implies that the equivalences will only operate on that rule.

However, in reality, equivalences are flattened and applied across all rules for a single invocation of semgrep. This is because semgrep also flattens all patterns for a language, making it

[2020-05-04 17:40] minusworld commented on #363
Merged into `develop` with https://github.com/returntocorp/semgrep/pull/619.

Closing in favor of new issues:
- https://github.com/returntocorp/semgrep/issues/674
- https://github.com/returntocorp/semgrep/issues/648
- https://github.com/returntocorp/semgrep/issues/651
- https://github.com/returntocorp/semgrep/issues/652

[2020-05-04 17:40] #363 closed

[2020-05-04 17:56] #623 closed, assigned to nobody

[2020-05-04 18:22] brendongo commented on #611
Closed by https://github.com/returntocorp/semgrep/pull/610

[2020-05-04 18:23] #611 closed, assigned to mschwager

[2020-05-04 19:44] underyx opened #678 "Traceback is printed for "only `['pattern-either']` or `['patterns']` expressions can have multiple subpatterns""
When [this evaluation error occurs](https://github.com/returntocorp/semgrep/blob/e6ac0a63/semgrep/semgrep/evaluation.py#L244-L246) we print an `AssertionError` traceback. We should print a nicely formatted error message instead.

The immediate need for this is that we want to test the error message, but tracebacks are user-specific due to included absolute paths.

By the way, Python skips `assert`

[2020-05-04 21:31] rcoh commented on #472
The PR is in brew core! https://github.com/Homebrew/homebrew-core/pull/54261 I will monitor and shepherd it over the next few days / weeks to get it merged.

[2020-05-04 23:49] inkz commented on #671
@minusworld not exactly but your example helped me to understand where I was wrong, thanks!

[2020-05-04 23:49] #671 closed, assigned to nobody

[2020-05-05 01:45] minusworld commented on #550
Fixed in 0.5.0:  https://semgrep.live/wvY?version=0.5.0

[2020-05-05 01:45] #550 closed, assigned to nobody

[2020-05-05 04:35] #615 closed, assigned to brendongo

[2020-05-05 17:03] mschwager commented on #656
If we add this, don't forget to update the docs: https://github.com/returntocorp/semgrep/blob/develop/docs/pattern-features.md#ellipsis-operator

[2020-05-05 17:03] mschwager commented on #435
If we add this, don't forget to update the docs: https://github.com/returntocorp/semgrep/blob/develop/docs/pattern-features.md#ellipsis-operator

[2020-05-05 21:56] nbrahms opened #688 "Support fully featured regexp in strings (e.g. PCRE)"
**Is your feature request related to a problem? Please describe.**
A motivating example is to match a 16-digit hex field (e.g. when searching for a hard-coded hexidecimal API key):
[code]

With vanilla ocaml regex, I'd need to instead write:

[code]

**Describe the solution you'd like**
Support more fully featured regex dialects. For example, https://mmottl.github.io/pcre-ocaml/ would allow detect

[2020-05-05 22:11] ajinabraham opened #689 "Match inside JS regex"
https://semgrep.live/kjO?version=experimental

How do I match inside JS regex?

[2020-05-05 22:13] ievans commented on #689
Hi @ajinabraham ! Are you familiar with the regex syntax for finding strings inside code: https://github.com/returntocorp/semgrep/blob/develop/docs/pattern-features.md#strings ? Just checking before I dig in.

[2020-05-05 22:16] ajinabraham commented on #689
@ievans Yes I am familiar. I am trying to match a special case where a regex is constructed with user input.
[code]

[2020-05-05 22:19] ievans commented on #689
Ah, as I see it, semgrep is not interpreting the regex as a string literal, so the string literal syntax matching doesn't work.

[2020-05-05 22:26] ajinabraham opened #690 "Support '...' inside for header as in for (...) {"
**Is your feature request related to a problem? Please describe.**

How do I look for a property, something like `foo.length`
How to look inside `for()` or `while()` loops?
No luck with these: https://semgrep.live/DGv?version=experimental and https://semgrep.live/0xr?version=experimental

**Describe the solution you'd like**
1. ability to look inside `for()` or  `while()`
2. or ability to look for

[2020-05-05 23:41] minusworld commented on #646
Works on develop: https://semgrep.live/KYj?version=develop

[2020-05-05 23:41] #646 closed, assigned to nobody

[2020-05-05 23:51] ievans commented on #664
We should establish if this is a regression or not

[2020-05-06 00:15] ievans opened #691 "semgrep 0.6.0 outputs "<internalonly>" as the message"
semgrep 0.6.0 outputs "<internalonly>" as the message

    $ semgrep --config=r2c tests/
    tests/utils/test_email.py
    rule:python.tempfile.tempfile-without-flush: <internalonly>    ### <------
    106:        attachment = tempfile.NamedTemporaryFile()

[2020-05-06 07:20] DrewDennison commented on #688
Would also be nice since `pattern-regex` will have PCRE support. Alternatively, we could make it so all regexing is done in python and you have to do something like

[code]

and let the and logic make the magic happen. Related to #629

[2020-05-06 07:22] DrewDennison commented on #664
Yeah I think we should run this over something before deep statement matching and baseline against that to see if it's a simple perf bug in ocaml code or if we need to employ parallelization etc.

[2020-05-06 07:33] #616 closed, assigned to underyx

[2020-05-06 10:16] #691 closed, assigned to brendongo

[2020-05-06 15:01] nbrahms commented on #344
@aryx Seems like this should be a built-in equivalence, right?

[2020-05-06 15:11] underyx opened #694 "Use the library `hypothesis` for property testing"
We currently have some tests that run semgrep on various real world repos just to get a wide array of inputs and make sure we don't crash on them.

Unit tests could also make use of https://hypothesis.readthedocs.io/en/latest/ to automatically generate many test cases for functions that are meant to never error.

[2020-05-06 15:13] underyx opened #695 "Add semgrep unit test coverage reporting"
We should start tracking our unit tests' test coverage with pytest-cov. We could also use https://codecov.io/ as an additional CI check to ensure test coverage of new features once we have that.

[2020-05-06 15:15] underyx opened #696 "Add unit tests for semgrep"
This is a broad discussion issue to plan how we're gonna extend our test coverage. Currently the only unit tests we've got are for `semgrep.evaluation`.

[2020-05-06 16:48] underyx opened #699 "Enable mypy on semgrep tests"
It took lots of effort to get type hinting working on tests so we just disabled it. See http://calpaterson.com/mypy-hints.html which suggests this too. Here's a discussion anyway to try re-adding type hints down the line.

[2020-05-06 17:06] DrewDennison commented on #629
basic feature: if `pattern-regex` is defined, read the file in python and return the range that the regex matches. Acceptance criteria is that `pattern-regex` should work with the boolean logic so I can match something like

[code]

with

[code]

[2020-05-06 17:06] DrewDennison commented on #629
cc @nbrahms

[2020-05-06 17:34] ievans commented on #629
@DrewDennison in that example, I think you would want:
[code]
So that the regex range must be **inside** the semgrep range

[2020-05-06 17:37] ievans commented on #312
@DrewDennison unfortunately no, that PR is in but https://semgrep.live/5J3?version=develop still fails to parse

[2020-05-06 18:27] #626 closed, assigned to underyx

[2020-05-06 18:48] underyx commented on #645
@dlukeomalley so I just had my first look at `semgrep --test` and it seems like we already have "a native solution that is accessible via the semgrep CLI"? What else are we missing here? Is it only documentation, or do we need any adjustments to the testing feature?

[2020-05-06 19:22] nbrahms opened #704 "[python] Support destructuring in generator expressions"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to match tuple destructuring in generator expressions. E.g.:

[code]

**Describe the solution you'd like**
Ideally, I'd match this with something like:
[code]

**Additional context**
See https://semgrep.live/Onw

[2020-05-06 19:37] nbrahms opened #705 "[python] Match implicit generator expressions"
**Is your feature request related to a problem? Please describe.**
Certain generator expressions are equivalent:
[code]
is equivalent to
[code]

or:

[code]
is equivalent to
[code]

**Describe the solution you'd like**
All of these should match the pattern:
[code]

**Describe alternatives you've considered**
Alternatively, they could match `a for b in c` (without the parends), although that techni

[2020-05-06 19:51] nbrahms commented on #629
Just a heads up for @dlukeomalley that `pattern-regex` will be PCRE-compliant, whereas string regexes in `pattern` will not be.

[2020-05-06 19:53] nbrahms commented on #629
Also, FWIW:

```(?<!\d)[12]?\d{1,2}(?:\.[12]?\d{1,2}){3}```

~should be the~ is a closer PCRE for a host 🤷 😛

[2020-05-06 19:54] mschwager commented on #705
Note that `foo(a for b in c)` is not always the same as `foo((a for b in c))`. Or, at least, sometimes the extra parentheses are required:

[code]

This shouldn't be a big deal - hopefully there's not a lot of Python code floating around with syntax errors. The only place I could see this being an issue is if we tried to autofix the parentheses version to the non-parentheses version and it has mor

[2020-05-06 20:18] #637 closed, assigned to mschwager

[2020-05-06 20:42] rcoh opened #706 "Gracefully handle missing files"
**Describe the bug**
If you run semgrep on a file that doesn't exist, it panics:
[code]

**To Reproduce**
Run semgrep on a file that doesn't exist.

**Expected behavior**
An error about a file not existing.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
pip package v0.6.0

[2020-05-06 21:09] nbrahms opened #707 ""Global" metavariable used in local scope is reported as type "AST""
**Describe the bug**
I have these two patterns:
[code]
and
[code]

When used in the same scope both metavariables have the same type and `sid`. However, when a global variable is used in local scope, the local usage is reported as type "AST", with no `sid`.

**To Reproduce**
Use this code:
[code]

Then `semgrep-core` returns:
[code]
{
  "type": "Global",
  "value": "path",
  "md5sum": ...,
  "sid"

[2020-05-07 01:50] minusworld opened #708 "pattern-inside reaches beyond 'boundaries'"
**Describe the bug**
Sometimes pattern-inside will go beyond what it looks like the 'boundaries' should be.

**To Reproduce**
https://semgrep.live/oQx?version=develop

**Expected behavior**
To myself and others, it seems like the bottom `eval` should not be matched.

[2020-05-07 08:27] aryx commented on #669
It's because of the way ifs are internally translated. the generic AST does not make the difference between
if (1) { foo(); } else { }
and
if(1) { foo(); }
In both cases the generic AST will see If (Int 1,  Block [Call foo], Block []).
It does not know whether a else was given in the pattern.
This has some advantages, but maybe it's better to change the If and remember if there was an else or not.

[2020-05-07 08:34] aryx commented on #344
It's a naming issue.
See below the foobar at the beginning is a Global with unique id 1, but
later the introduction of the foobar field,  which could be the start of a method
generate a new entity foobar with unique id 3, and further references of foobar
are assigned to this (wrongly) unique id 3, which prevents it to be matched equal
with the toplevel foobar.

It's a bug in naming_ast.ml

[code]

[2020-05-07 08:34] aryx commented on #344
-naming_generic pretty prints correctly the AST, but github comments messed it up. Try pfff -naming_generic if you want the right output

[2020-05-07 08:35] aryx commented on #344
[code]

[2020-05-07 08:35] aryx commented on #344
How do you copy paste code with indentation in github and have github respect the indentation?

[2020-05-07 08:37] aryx commented on #344
regarding the shorter pattern with just { foobar }, this indeed should be a builtin equivalence, or this
should be desugared at some point in { foobar: foobar } if it's valid JS.

[2020-05-07 16:29] mschwager commented on #629
I don't think `pattern` vs. `pattern-inside` matters in this situation since they're using the same value and thus will return the same results. `semgrep` doesn't distinguish between two patterns returning the same information, it just filters the information it gets back. I.e. `pattern-regex` will simply be filtering the results it receives back from `semgrep-core`, it doesn't care if the results

[2020-05-07 16:34] underyx commented on #645
@dlukeomalley can we close this out with the following:

- [ ] I act like a customer by re-adding the semgrep rule for semgrep about top-level imports I wrote for #640
- [ ] I try to include unit tests for the rule with this rule re-adding PR
- [ ] I fix anything that I found annoying as a user in the previous step
- [ ] I document the whole process

[2020-05-07 16:58] DrewDennison commented on #629
@mschwager I think a hard requirement is the also support new languages that doesn't exist in semgrep yet. i.e. I would also like for someone to write a regex to scan terraform, ruby, etc while we work on tree-sitter support for new languages. I think this means it should be a top-level key

[2020-05-07 16:59] dlukeomalley commented on #629
@mschwager Thanks for calling this out. Based on the feedback we've gotten, the expectation is that `pattern-regex` works standalone. The goal is to be able to deprecate any grep-based tooling people have and use semgrep's infrastructure fully.

[2020-05-07 17:47] brendongo commented on #691
Fixed in 0.6.1

[2020-05-07 18:02] brendongo commented on #504
Current release process includes an ubuntu install script and brew install --devel recipe. For now there is no Mac install script included in the release.

[2020-05-07 18:08] brendongo commented on #557
Yep. There are still some repos that fail to parse but will work to catch any regressions for now: https://github.com/returntocorp/semgrep/pull/571

[2020-05-07 18:08] #557 closed, assigned to brendongo

[2020-05-07 18:22] brendongo opened #710 "Semgrep fails to parse highcharts"
[code]

Or see https://semgrep.live/scan/ee4135e6-74ff-4384-a3e3-76949d9e8580

As of 0.6.1

[2020-05-07 18:28] brendongo opened #711 "Semgrep fails to parse zulip"
[code]

[2020-05-07 22:56] minusworld opened #717 "Java: semgrep does not match the 'try-with-resources' pattern."
**Describe the bug**
The 'try-with-resources' pattern was added in Java 8: https://docs.oracle.com/javase/tutorial/essential/exceptions/tryResourceClose.html

This example I was using as a test case uses this pattern, but semgrep doesn't pick it up:
https://find-sec-bugs.github.io/bugs.htm#OBJECT_DESERIALIZATION

**To Reproduce**
This pattern should match both cases:
https://semgrep.live/GD1

It l

[2020-05-08 12:15] inkz opened #720 "JavaScript: patterns not working for functions without return expression"
**Describe the bug**
not able to find patterns inside functions that do not return anything

not working:
https://semgrep.live/dd5
[code]

[code]

working:
https://semgrep.live/ZdL

[code]

[code]

[2020-05-08 15:26] DrewDennison opened #721 "remove internal representation from json output"
`metavar` and `md5sum` from the `extra` property shouldn't be output as they are internal and will change from run to run if the internals of `pfff` change

[2020-05-08 15:31] nbrahms commented on #176
Fixed by #712 :)

[2020-05-08 15:31] #176 closed

[2020-05-08 18:18] ulziibay opened #723 "Parse list of statements in pattern"
**Describe the bug**
A list of statements cannot be used in pattern!
https://semgrep.live/Bo9

**To Reproduce**
https://semgrep.live/Bo9

**Expected behavior**
It should match the given code.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
If not using semgrep.live: are you running off docker, an official binary, a local build?

[2020-05-08 22:19] brendongo commented on #576
Duplicate of #557

[2020-05-08 22:19] #576 closed, assigned to brendongo

[2020-05-08 22:38] minusworld commented on #522
I gave this one a try.

Unintuitively, Java Annotations special-case `ElementValuePair` (https://docs.oracle.com/javase/specs/jls/se7/html/jls-18.html) and these are not considered expressions. This is why metavariables and ellipses do not work for `value = something` in Annotations.

I tried adding a special-case ellipsis operator to `annotation_element` in pfff `parser_java.mly:1017`, but that w

[2020-05-08 23:06] ajinabraham opened #726 "String concatenation support for deep expression operator"
**Is your feature request related to a problem? Please describe.**
I want to port these rules to use deep expression operator. But I need to check for a preceding string.
[code]

Currently I cannot concatenate a string with deep expression operator.

**Describe the solution you'd like**
Support for `"=~/[\/\/].+/" + <... $REQ.$QUERY.$VAR ...>`

[2020-05-08 23:15] brendongo opened #727 "Bring per rule include-exclude from experimental to develop branch"
In the future we plan on separating configuration (like per rule ignores) from rules but for now we should just get mainline branch to support all features from experimental and kill of that branch now that develop is stable.

[2020-05-08 23:20] brendongo opened #728 "Remove Nuitka in docker"
We don't need to have semgrep as a binary inside the docker container since we can run directly with python.

[2020-05-08 23:20] brendongo opened #729 "Remove nuitka in docker"
We don't need to have semgrep as a binary inside the docker container since we can run directly with python.

[2020-05-08 23:21] brendongo commented on #729
Duplicate of https://github.com/returntocorp/semgrep/issues/728

[2020-05-08 23:21] #729 closed, assigned to nobody

[2020-05-08 23:33] #538 closed, assigned to brendongo

[2020-05-09 00:52] ievans commented on #728
@brendongo FYSA, last time this was benchmarked, the built python binary was faster and smaller (https://github.com/returntocorp/semgrep/pull/221)

[2020-05-12 04:30] ajinabraham opened #732 "JavaScript relaxed rule."
**Is your feature request related to a problem? Please describe.**

For JavaScript, you can define a global variable without `var`, `let` or `const` etc.
Does it make sense for

`var $FOO = 1`  to match both `foo = 1;` and `var foo=1;`
or
`$FOO = 1`  to match both `foo = 1;` and `var foo=1;`

**Describe the solution you'd like**
Example:

Consider a pattern:

[code]

Having the ability for `var $Q

[2020-05-12 12:44] inkz opened #733 "Java: Find static method usage"
Not able to find static method usage in Java
https://semgrep.live/dxY

[code]

[code]

[2020-05-12 15:50] javixeneize opened #735 "Problems in high sierra - Symbol not found: ____chkstk_darwin"
Hi

I have installed the package using brew in my high sierra (10.13.6) and im having this error when running semgrep

dyld: lazy symbol binding failed: Symbol not found: ____chkstk_darwin

Any idea what might be the problem? I have cmake installed

Thanks

[2020-05-12 16:02] rcoh commented on #735
Hi @javixeneize -- the issue seems to be that binaries compiled on 10.15 are incompatible with 10.13. The binaries in our brew tap are compiled using Github actions which only supports 10.15.

Can you try using our homebrew core package? Homebrew builds it on 10.13 natively so it should work for you:

[code]
(This is brand new so we haven't added it to the docs yet)

[2020-05-12 19:13] DrewDennison opened #736 "Add an Experimental Features to Documentmentation"
We want bugs but there should be a "pre-release" message

- Equivalences
- Sources and Sinks
- Deep Statement Matching

[2020-05-12 19:39] underyx commented on #721
@mschwager has a use for these values, so not removing. Instead I'm masking the MD5 values in the test snapshots.

[2020-05-12 20:01] DrewDennison commented on #721
@mschwager what's the use? Note that these will be highly unstable with different values of the hash for each version of pfff. @underyx are you sure the need isn't for `pattern-regex` and they can be kept internally but not needed for `--json` i.e. in the final output. This feels a bit like exposing the internal structure of a linter in the json output which I haven't seen other tools do

[2020-05-12 20:16] ajinabraham opened #738 "semgrep.live can't make test pass"
https://semgrep.live/5o3?version=develop
Actually there are 9 matches and but add true positive tests can identify only 8.
Also make test pass not working.

[2020-05-12 21:04] #721 closed, assigned to underyx

[2020-05-12 21:25] mschwager commented on #721
Here, take a look: https://github.com/returntocorp/routes/blob/master/generate_tree.py#L161

Note that this doesn't make use of things like `md5sum`, but if I understood correctly the original PR fixing this, it was removing ALL `metavars` information, which the above code relies on.

[2020-05-12 21:30] #599 closed, assigned to nobody

[2020-05-12 21:35] brendongo commented on #599
Fixed. Going out on next release.

[2020-05-12 21:35] brendongo commented on #600
Fixed. Going out on next release.

[2020-05-12 21:35] #600 closed, assigned to minusworld, nbrahms

[2020-05-12 21:35] brendongo commented on #602
Fixed. Will go out on next release.

[2020-05-12 21:35] #602 closed, assigned to brendongo

[2020-05-12 21:38] brendongo commented on #472
PR was merged so counting this as done!

[2020-05-12 21:38] #472 closed, assigned to rcoh

[2020-05-12 21:50] ulziibay commented on #251
Closing this as the work is done https://github.com/returntocorp/semgrep/blob/develop/docs/matrix.md. We should make sure to generate the matrix continously

[2020-05-12 21:50] #251 closed

[2020-05-13 08:19] javixeneize commented on #735
Hi

I know whats the problem now. Brew installs python 3.8 as its a requirement for semgrep but it does not activate it, so i was still using semgrep with python 3.6.5. It is fixed now but maybe this can be added to the documentation/throubleshooting

[2020-05-13 12:37] inkz opened #743 "Regular expression escaped char not supported in Java pattern"
**Describe the bug**
https://semgrep.live/15x

parse error when trying to use regex in patterns for Java
[code]

[2020-05-13 14:25] #743 closed, assigned to aryx

[2020-05-13 14:26] aryx commented on #743
This will need to also update semgrep to use the latest pfff, but this should happen soon

[2020-05-13 15:59] mschwager opened #744 "Add support for variadic metavariables or ellipsis operator for post-processing"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to obtain information about certain code patterns when the general form of the code is known, but the number is unknown.

For example, say I'd like to grab information about certain Python decorators:

[code]

Maybe I'd like to find when `@dec2` is used with `arg="foo"`.

First, consider that the decorators may

[2020-05-13 16:07] mschwager commented on #744
Another example from Java land, consider an API route like:

[code]

Here the number of `@QueryParam`s and decorators will be variadic when looking at many different functions. So we'd like to grab the function name and a structured representation of all the query parameters and decorators for post-processing.

[2020-05-13 16:59] underyx commented on #727
Note I've implemented this in experimental, but I'm focusing on semgrep-action things so I might not be able to do this before the semgrep release.

[2020-05-13 17:33] ievans opened #746 "Report line numbers and column numbers in parse error output"
Very difficult to debug eg https://semgrep.live/Ov2 without line/col for parse errors

[2020-05-13 21:08] brendongo commented on #728
Yeah looks like it adds ~70MB going from alpine to python:alpine image would be a fair bit of work to get a more minimal install of python and given benchmarked perfomance decrease above will deprioritize this for now.

[2020-05-14 02:02] #654 closed, assigned to aryx

[2020-05-14 09:30] underyx opened #751 "Parse failure on Python 3.8's := walrus operator"
**Describe the bug**

The [`:=` operator](https://www.python.org/dev/peps/pep-0572/) causes a parse failure.

**To Reproduce**

https://semgrep.live/qpe

[2020-05-14 16:04] rcoh commented on #348
We now build on OCaml 4.10.0, 4.10.0-static-flambda on Linux.

[2020-05-14 16:04] #348 closed

[2020-05-14 18:47] #631 closed, assigned to rcoh

[2020-05-14 19:06] minusworld commented on #738
It looks like two different rules are firing on the same line, which is confusing "Make Tests Pass" and the test harness.  We should make sure to account for this case.

![image](https://user-images.githubusercontent.com/2374948/81974991-3a7f0200-95db-11ea-9464-68534c3650cc.png)

In the meantime I'm going to see if I can make only the correct rule fire there.

[2020-05-14 20:04] minusworld commented on #738
I made a comment about this here:
https://github.com/returntocorp/semgrep-rules/pull/481/files#r425397852

I'm going to make a new issue about handling the cases when multiple rule IDs fire on the same line.

[2020-05-14 20:09] minusworld opened #753 "Semgrep tests cannot handle multiple rule IDs firing on the same line."
**Describe the bug**
The discussion on https://github.com/returntocorp/semgrep/issues/738 led us to discover that semgrep tests assume that only one rule ID will fire per line.  In the linked discussion, this was actually caused by testing multiple rules in a larger test file -- a rule was firing in an unlikely situation because we have to organize "whole programs" inside our test files.

So, whil

[2020-05-14 20:10] minusworld commented on #738
New issue: https://github.com/returntocorp/semgrep/issues/753

[2020-05-14 20:29] ievans commented on #753
c.f. https://github.com/returntocorp/semgrep-rules/issues/61

[2020-05-14 23:50] #738 closed, assigned to nobody

[2020-05-15 01:22] brendongo commented on #504
Looks like python binaries are not packaged in osx-release zip anymore so being able to install a historical release on Mac is blocked on that.

[2020-05-15 02:00] inkz commented on #733
one more example https://semgrep.live/ybO

[code]

[code]

none of the static methods and constants is found

[2020-05-15 09:21] aryx commented on #656
It's because of the associativity of +, it's left associative so matching
$X = 1 + 2 + ...
against
foo = 1 + 2 + 3 + 4
will try to match
$X = (1+2)+ ...
against
foo=((1+2) + 3) + 4

Note that you can also use the deep ellipsis operator to solve your problem.
$X = <... 1 + 2 ...> would match foo = 1 + 2 + 3  + 4.

[2020-05-15 16:42] ajinabraham commented on #656
Sweet!

[2020-05-15 17:05] brendongo commented on #618
Should be done with https://github.com/returntocorp/semgrep/pull/752 but will wait til next release to verify works.

[2020-05-15 17:16] mschwager commented on #618
Does this include automatically publishing new releases to PyPI, or just manual? We could wire up auto publishing similar to Bento.

[2020-05-15 17:25] #629 closed, assigned to mschwager

[2020-05-15 17:36] ajinabraham commented on #726
This should be fixed as per https://github.com/returntocorp/semgrep/issues/656#issuecomment-629130381

Deep ellipsis operator supports concatenation.

[2020-05-15 17:36] #726 closed, assigned to nobody

[2020-05-15 17:49] mschwager opened #758 "Handle poorly defined expressions gracefully in pattern-regex"
Using the following rule file:

[code]

We get the following exception:

[code]

Let's gracefully handle `re.error` instead of throwing an exception.

[2020-05-15 18:05] #76 closed

[2020-05-15 18:12] rcoh commented on #618
@mschwager this does _not_ include automatic publishing

[2020-05-15 19:06] #656 closed, assigned to aryx

[2020-05-15 19:47] #758 closed, assigned to nobody

[2020-05-15 20:31] rcoh commented on #746
And also https://semgrep.live/gQx

[2020-05-15 21:50] rcoh opened #763 "Rule Validators are not run"
**Describe the bug**
From #644 dataclass was changed to NamedTuple -- this caused a regression where `__postinit__` stopped being called. `__postinit__` validates the rule JSON

[2020-05-15 22:12] #727 closed, assigned to underyx

[2020-05-15 22:40] brendongo opened #765 "pattern-regex does not have start and end line numbers"
pattern-regex does not fill `start` and `end` fields. Relatedly this causes semgrep.live to crash

 https://semgrep.live/O22?version=e4e89dcbe40830bfb8d5a8e5341e5587824e1770

[code]

on

[code]

[2020-05-15 22:54] brendongo commented on #504
https://github.com/returntocorp/semgrep/pull/761 will make installing from historical mac release possible

[2020-05-15 23:31] brendongo commented on #505
Updated details.

[2020-05-16 00:38] ajinabraham opened #768 "javascript pattern-not with null not working as expected"
Is this expected?
https://semgrep.live/BEx?version=develop

works if I replace metavar with `hash`
`- pattern-not: if (hash == null) { ... };`

[2020-05-16 10:36] underyx opened #770 "performance tests: Set up saving snapshots upon releases"
We want to see charts of how semgrep performance has change over time for all the various test cases. See for example [speed.pypy.org](https://speed.pypy.org/timeline/?exe=3%2C6%2C1%2C5%2C8%2C9%2C10%2C11&base=5%2B388&ben=sqlalchemy_declarative&env=1&revs=1000&equid=off&quarts=on&extr=on#/?exe=3,6,1,5,8,9,10,11&base=5+388&ben=sqlalchemy_declarative&env=1&revs=1000&equid=off&quarts=on&extr=on) — we

[2020-05-16 10:38] underyx opened #771 "performance tests: Add a command that benchmarks your uncommitted code against develop"
Something like `make benchmark ARGS="-k upsell_django_environ"` should run the given benchmark on the latest `develop` and on your own dirty tree, and then print the comparison.

[2020-05-16 10:41] underyx opened #772 "performance tests: Add a github action that benchmarks PRs when a comment is sent"
I'd want to be able to comment `/benchmark 10%` on PRs, which would run the full benchmark suite on the base and the head versions, and would fail CI if the new code is 10% slower in any of the scenarios.

[2020-05-16 19:29] rcoh commented on #728
Fixed in #764

[2020-05-18 00:09] Nudin opened #774 "Example doesn't work: Unknown option -lang."
**Describe the bug**
I tried the example from the README:
[code]
**To Reproduce**
- Download Ubuntu version and follow the Example Usage in the README.md

**Environment**
- Binary from the Ubuntu tgz in version 0.7.0, on Arch Linux (since it is static build this shouldn't be an issue).

[2020-05-18 14:34] ulziibay commented on #356
Seems to be fixed already! Closing

[2020-05-18 14:34] #356 closed

[2020-05-18 15:13] ulziibay commented on #723
@returntocorp/admins please add Emma to this repo so she can work on it.

[2020-05-18 15:55] nbrahms opened #775 "Either change or add option to make check IDs independent of config location"
Right now, check IDs depend on the location of the config.

E.g., using the config `r/r2c` from semgrep.live, vs. downloading and running that same config from a local directory "dir", yield two different check ids:

`r2c.python....`

vs.

`dir.r2c.python...`

This breaks archiving with the semgrep action, as the archive can not easily be run locally.

The ask here is to either:
1. Make check IDs

[2020-05-18 17:13] rcoh commented on #774
**First off,** to immediately unblock yourself, you can use the dockerized verison:
[code]

**Next** to debug:
We're actually not shipping static binaries until this weeks release (coming out tomorrow, 0.8.0), so it's possible that's the issue? (although you're not getting some glibc error, so I'm not sure it's a linking issue at all.)

In the meantime, did you use the install script or attempt to

[2020-05-18 17:45] brendongo commented on #728
Closed without size increase and no immediate performance decrease

[2020-05-18 17:45] #728 closed, assigned to nobody

[2020-05-18 19:17] mschwager commented on #765
This was somewhat implicitly [discussed here](https://github.com/returntocorp/semgrep/pull/739#discussion_r424026917). The gist of it is `pattern-regex` operates on the full file buffer, not line-by-line. This makes it more difficult to determine start and end line and column. I.e. we know the offset in the whole buffer of where the regex matched, but we don't know which line and column this corre

[2020-05-18 20:29] nbrahms opened #777 "Filter out unsupported rules"
**Is your feature request related to a problem? Please describe.**
Right now, new rules can be published that do not work on the system's version of semgrep. In this case, semgrep will just crash with a failure.

**Describe the solution you'd like**
Any method to support filtering out rules with unsupported features would work.

E.g. a rule with `pattern-regex` when run on semgrep 0.7.

**Describe

[2020-05-18 20:30] DrewDennison commented on #777
cc @rcoh who is thinking about pattern versions

[2020-05-18 20:30] DrewDennison commented on #777
IMO it should crash with `--strict` otherwise ignore invalid rule and warn

[2020-05-18 20:32] mschwager opened #778 "Document cross-pattern metavariable functionality"
#712 implemented cross-pattern metavariable usage, which can be useful as an additional filter to multi-pattern rules. E.g.

[code]

`$X` must be the same across the patterns. That is, we don't care if just anything is passed to `open`, we only care if request data is passed to `open`.

We should document this functionality because:

- We don't what this behavior to come as a surprise to users. I

[2020-05-18 20:36] brendongo commented on #652
Was able to reproduce this issue on semgrep-core

`semgrep-core -lang python -rules_file rules.yaml -equivalences equivalences.yaml target.py`

[code]

[code]

[code]

[2020-05-18 20:37] brendongo commented on #652
Outputs
[code]
when it should not fire on line 19

[2020-05-18 21:30] brendongo commented on #775
There is an existing flag `--no-rewrite-rule-ids` that does not append the path to the file to the rule_id. Since check packs look like they have a flattened structure (already include `r2c.python....` in the rule_id) we don't have to worry about this flag stripping those out.

[2020-05-18 21:40] brendongo commented on #765
No I think the above three are a good description of the ways forward. A silly 4th option is to potentially to shell out to grep and so we get the line numbers for free.

[2020-05-18 21:42] nbrahms commented on #775
Looks good enough for my usage. Thanks!

[2020-05-18 21:42] #775 closed, assigned to brendongo

[2020-05-19 10:20] omerlh opened #781 "IsADirectoryError: [Errno 21] Is a directory:"
**Describe the bug**

When trying to run the latest version from develop (commit ad6260f79fc134292dd57bbb9cc395d7d9da1dc6), I'm getting the following unclear error:

[code]

**Environment**
If not using semgrep.live: are you running off docker, an official binary, a local build?

[2020-05-19 11:24] underyx commented on #781
[As discussed on Twitter](https://twitter.com/underyx/status/1262704255179395074), our immediate advice just to unblock you, is that you try one of the binaries we built, as `develop` is considered unstable.

@mschwager could you try to reproduce this to ship an actual fix?

[2020-05-19 11:28] omerlh commented on #781
I know, but I was looking for the regex support which look like is not available on the latest released version... this is why I tried develop branch

[2020-05-19 11:33] omerlh opened #782 "Semgrep not matching object properties"
**Describe the bug**
When trying to run semgroup on one of our codebases, I noticed it couldn't find anything although it should.

**To Reproduce**
Using this config file:

[code]

I expected the code to anything containing the word `downloadTime` - and when using with a search I can find it.

**Expected behavior**
Find all the lines with this string, like regular find returns.

**Environment**
Ve

[2020-05-19 11:41] underyx commented on #781
Ah, gotcha. That feature's very fresh and might not be ready for prime time. We're planning to run a QA pass and release a new binary today (US west coast time), so you can look forward to that.

But if you're impatient: I think I might've tracked down the source of the error you saw, and you can give this commit a go: https://github.com/returntocorp/semgrep/commit/5db300583a9d4036a3cb5951f7a79f4b

[2020-05-19 11:44] inkz opened #784 "Designation for a non-string value"
**Is your feature request related to a problem? Please describe.**
Recently there was a lot of rules intended to find usage of a value that is non-literal string
[code]
usually, I tackle it like

[code]
but sometimes there are too many patterns like this inside one rule,
e.g. https://github.com/returntocorp/semgrep-rules/blob/ac70ce84c0a82f1342cf16d7f926ac77a32b705b/java/lang/security/audit/ognl-i

[2020-05-19 12:30] omerlh commented on #781
This solved but now I'm having a new issue:
[code]

[2020-05-19 12:46] underyx commented on #781
Ah, I see, we've always filtered to files with language specific file extensions before the regex matcher was added, and seems like we overlooked that now binary files might end up being scanned. This commit adds a test case and fixes this: https://github.com/returntocorp/semgrep/pull/783/commits/c9e9260b02f346027f55ab40f4389c12b7376268

Sorry about all these hoops! We'll be doing plenty of testin

[2020-05-19 12:49] underyx opened #785 "Add regex pattern tests in the QA test suite"
The real world's shown that there's a bunch of issues with regex matching: https://github.com/returntocorp/semgrep/issues/781

We should add a regex pattern to `tests/qa/test_public_repos.py` which would run the regex pattern module on lots of real world code.

[2020-05-19 13:27] omerlh commented on #781
Awesome! Does that means the regex will be part of this release?

[2020-05-19 13:27] underyx commented on #781
That's right!

[2020-05-19 14:07] mschwager commented on #782
Hi @omerlh,

Thanks for trying `semgrep` on your codebase. Let me grab a little bit of information about your use-case, and we can go from there. Could you provide 1.) a snippet of code that you're expecting the above rule to detect, and 2.) the command you're using to run `semgrep`? Of course feel free to remove any sensitive information.

Note that `semgrep` is not `grep` - it's looking for sema

[2020-05-19 14:15] aryx commented on #782
I would add that the best way for us to fix a bug is to report an example via semgrep.live!

[2020-05-19 14:17] aryx commented on #782
You can use the button "Share" on semgrep.live to get a permalink to a buggy example.

[2020-05-19 14:25] omerlh commented on #782
Ohh ok, so I try to match object properties - given this object, for example:
[code]

I want to find all objects where `downloadTime: 5`. Looking at the docs, I couldn't find anything matching it..

[2020-05-19 14:54] mschwager commented on #782
Thanks for the clarification. This gotcha has caught me a few times too. The relevant parts of the documentation are here: [Partial Statements](https://github.com/returntocorp/semgrep/blob/develop/docs/pattern-features.md#partial-statements). Basically, looking for something like `pattern: { key: ... };` is a partial Javascript statement. Instead we need to search for `pattern: $X = { key: ... };`

[2020-05-19 15:02] rcoh commented on #746
#773 does most of the backend work for this. Some more QA and cleanups probably required afterwards.

[2020-05-19 15:03] rcoh commented on #384
Mostly fixed by #773

[2020-05-19 15:16] omerlh commented on #782
Thanks for the quick help! Any exception to when we case see typescript support?

[2020-05-19 15:31] underyx commented on #782
@omerlh Just to add to @mschwager's comment, I wanted to show some more patterns that together will find even more cases of `downloadTime: 5` use: https://semgrep.live/XXj

[2020-05-19 16:32] underyx opened #788 "Fix hacky performance test fixtures"
_Originally posted by @mschwager in https://github.com/returntocorp/semgrep/pull/786_

[2020-05-19 16:52] aryx opened #789 "Documenting semgrep internals"

[2020-05-19 17:23] #781 closed, assigned to underyx

[2020-05-19 17:51] clintgibler commented on #488
Note: matching specific annotations works (e.g. https://semgrep.live/yoA), but currently there is *not* a way to match an unknown annotation, e.g.

[code]

[2020-05-19 20:24] DrewDennison commented on #513
FYI @aryx is prioritizing this next

[2020-05-19 20:32] #785 closed, assigned to mschwager

[2020-05-19 21:02] DrewDennison opened #794 "Add integration tests for pip package"
It should install and run on

- [ ] Ubuntu 16.04 +
- [ ] Debian Stretch +
- [ ] Centos 7 +
- [ ] Alpine
- [ ] Travis & Jenkins base images
- [ ] NodeJS official docker image

https://github.com/pypa/manylinux should cover most of them

[2020-05-19 21:03] rcoh commented on #794
We install into maylinux as part of the wheel build process. We should also do ubuntu

[2020-05-19 21:36] DrewDennison commented on #794
cc @ajinabraham for vis

[2020-05-20 01:36] minusworld opened #798 "Clearer error messages when equivalences fail to parse"
**Is your feature request related to a problem? Please describe.**
https://semgrep.live/GQ6 demonstrates an error parsing equivalences. The actual issue is caused by not including semicolons.

Working examples: https://semgrep.live/JQP, https://semgrep.live/5bj

**Describe the solution you'd like**
It would be good to describe the cause of the error. This is especially true as we add more clauses

[2020-05-20 02:15] #765 closed, assigned to brendongo

[2020-05-20 07:13] underyx commented on #781
@omerlh just wanted to let you know, we added a QA suite for testing regex on real world repos, and fixed another issue regarding metadata output on regex pattern matches. Sadly, we ran out of time during yesterday, so the release including `pattern-regex` had to be pushed back till today :(

[2020-05-20 07:15] omerlh commented on #781
No worries :) happy to hear you spend a lot of time on quality :)

[2020-05-20 07:37] clintgibler commented on #782
@omerlh Regarding language support: we're planning to add support for Ruby next, and then likely Typescript after that. I don't have a hard timeline for you, but I think in the next 2-3 months ish.

[2020-05-20 13:18] aryx opened #799 "Use uppercase letter for ocaml filenames"
Most ocaml files in pfff and semgrep use lowercase, as in ast_generic.ml, but when
they are referenced, you need to capitalize the filename. This creates a useless mismatch
between the file and its reference as a module, hence it's better to use capitilazed names
for filenames too!

I'm not sure why I didn't do that from the start, I think it's because in old versions of Caml or OCaml
the filename

[2020-05-20 14:32] aryx opened #800 "ensure the number of grammar conflicts does not grow in pfff"
It happened multiple times that someone extended a grammar in pfff and introduced new shift/reduce or reduce/reduce conflicts. Bison has a %expect directive to enforce a certain number of conflicts. Unfortunately ocamlyacc and menhir do not have that, so we may have
to store the number of expected conflcits in the Makefile and use some shell tricks to make sure
they remain constants.

[2020-05-20 16:09] #799 closed, assigned to aryx

[2020-05-20 17:24] emjin commented on #723
See working run here. https://semgrep.live/GQq?version=develop

[2020-05-20 17:24] #723 closed, assigned to emjin

[2020-05-20 18:08] ievans commented on #782
@omerlh I'd recommend adding yourself to the mailing (link at semgrep.live) if you'd like the release update when it happens.

[2020-05-20 19:55] DrewDennison opened #805 "pattern-regex should work with pattern"
[code]

https://semgrep.live/0jj?version=develop

[2020-05-20 20:03] mschwager opened #806 "Python 'import $X' matches 'from foo import bar'"
Consider the following Python file:

[code]

Both of the following patterns match this statement:

[code]

[code]

It may seem like `import $X` is simply nested within `from $Y import $X`, but in Python these are two different AST types: `ast.Import` and `ast.ImportFrom`, so it's surprising that `import $X` matches `from foo import bar`. This is especially inconvenient when you're considering both

[2020-05-20 20:08] mschwager commented on #688
Can we close this? You need to use `pattern-inside`, but what @nbrahms is describing is now available.

[2020-05-20 20:15] mschwager commented on #457
Closed by #532.

[2020-05-20 20:15] #457 closed, assigned to nobody

[2020-05-20 20:17] nbrahms opened #807 "Python `!=` is matched by `not $X`"
**Describe the bug**
The pattern:
[code]
will currently match:
[code]

However, this python code actually is called by the interpreter as:
[code]
whether any negation at all is performed by the implementation of `__ne__` is at the whim of the programmer of `a`'s type.

**Expected behavior**
This pattern should not match.

**Impact**
This breaks https://semgrep.live/?registry=python.sqlalchemy.corr

[2020-05-20 20:21] nbrahms commented on #806
@mschwager this is actually intended behavior (I think it's even documented that these import scenarios are equivalent).

Removing the bug label here, as this seems more like a documentation issue (or is it an enhancement request?)

[2020-05-20 21:18] mschwager commented on #806
Per an internal discussion, to recap:

[code]

Running against `from foo import bar` will give `$X` as `foo` and nothing for `$Y`. This is confusing to me personally. This is intentionally done for ease of implementation on the backend, but there's some discussion to be had about ease of implementation vs. UX.

[2020-05-21 05:05] omerlh commented on #782
Will do, thanks!

[2020-05-21 06:21] underyx commented on #781
Hey again @omerlh, got some good news! 0.8.0 is now out with stable regex support. You can upgrade now with `brew install returntocorp/semgrep/semgrep` (there's a bit of lag before the official Homebrew formula is updated).

[2020-05-21 11:18] InitRoot opened #810 "Semgrep PostMessage Detection"
**Describe the bug**
I'm trying to find url parameters in all postMessage javascript code. To learn the syntax of semgrep I'm only looking for url, and have no idea how to include the postMessage logic. At the moment if I'm trying simple code it works, however, using more complex js files it doesn't detect the url.

**To Reproduce**
It works on the below link using a very simple version of code as

[2020-05-21 15:09] #807 closed, assigned to nbrahms

[2020-05-21 17:35] ievans commented on #810
Hi @InitRoot, thanks for opening an issue!

There are two issues here: one is that your pattern is specifying a function call $F with a single argument, but line 162 is actually a function call with two arguments: $F({ ... }, "*"). So the correct pattern is `$F({ url: ... }, ...)`

In fact this is a UX problem. The default timeout for parsing javascript files is about 5 seconds, and due to a prior

[2020-05-21 17:37] ievans opened #811 "Timeouts are not reported as errors"
Taking the code from https://semgrep.live/NAy and running it locally, I see the following output:
[code]

I would expect that we should report a "timeout" error for test.js in the returned JSON, and that if `--strict` is specified, semgrep fails with an error code. This would fix semgrep.live as well.

Additionally, we should add a --timeout option to the CLI.

[2020-05-21 17:39] ievans opened #812 "Add a parsing --timeout"
Currently semgrep has a hard-coded timeout for giving up on parsing files (per-file basis). We should make this a user-configurable option and have the python CLI set the default. Suggestion: --timeout=5 gives a 5 second timeout for parsing.

[2020-05-21 17:40] ievans commented on #810
Closed in favor of #811 and #812. Thanks again @InitRoot for the report, we'll queue this up for fix!

[2020-05-21 17:40] #810 closed, assigned to ievans

[2020-05-21 17:40] DrewDennison opened #813 "Add OWASP NodeGoat to parser test suite"
https://github.com/OWASP/NodeGoat

Parsing errors from user

[code]

Should also file issues for any parsing issues discovered

[2020-05-21 17:50] ievans opened #814 "Failure to parse javascript files using non-breaking space"
C.f. https://raw.githubusercontent.com/OWASP/NodeGoat/master/app/routes/benefits.js

[code]

The specific issue comes from the first line with a https://en.wikipedia.org/wiki/Non-breaking_space:

![Screen Shot 2020-05-21 at 10 49 44 AM](https://user-images.githubusercontent.com/409041/82589300-c9969780-9b50-11ea-9ecd-80995c1baa5a.png)

I'm not sure what the specs say about this, but Node parses it

[2020-05-21 17:51] ievans commented on #813
#814 filed from this project

[2020-05-21 18:01] ievans commented on #664
This affected an external user in https://github.com/returntocorp/semgrep/issues/810

[2020-05-21 18:37] dlukeomalley commented on #782
Looks like there is a path forward here. I'm closing this issue for now, please let me know if that's in error.

[2020-05-21 18:37] #782 closed, assigned to nobody

[2020-05-22 11:22] aryx commented on #505
I think docs/development.md covers most of nathan's needs.
What it may not cover is the trick around pfff which is a submodule of semgrep,
and the trick to be able to run the big regression tests (e.g., semgrep-rules) with the latest semgrep-core (you need to make install in semgrep-core, cd ../semgrep; make test

[2020-05-22 11:30] aryx commented on #652
There's a bug, but you should write
  pattern: django.shortcuts.redirect <==> django.http.HttpResponseRedirect
because after my fix, your equivalence would not apply at all on the pattern. It's because in equivalence mode, the thing must match exactly, so foo(...) ==> bar(...) should get applied only when the user wrote foo(...) in his pattern; if he wrote foo(...,$X) it should not apply. If you w

[2020-05-22 15:32] ricsirigu opened #818 "Error parsing variable arguments with ellipsis operator"
**Describe the bug**
I'm trying to catch this kind of SQL injection

[code]

You can find the rule in the following link

**To Reproduce**
https://semgrep.live/JLW

**Expected behavior**
A rule correctly parsed that catches a SQLi with variable arguments

[2020-05-22 15:42] dlukeomalley commented on #818
Thank you for filing this @ricsirigu. I have this queued up to investigate this morning.

[2020-05-22 16:00] dlukeomalley commented on #818
@ricsirigu, I was able to get your pattern working [here](https://semgrep.live/D7o), more details below!

I initially got the pattern compiling by adding quotes around the `...` to denote string literals:

[code]

String matching like this can be problematic because it won't catch variations like the following:

[code]

To get around this, we have a special syntax that says "if $PARAM appears anyw

[2020-05-22 16:23] mschwager commented on #818
Hi there @ricsirigu,

It seems that there are two questions in play here: 1.) how can I fix this parse error from happening on my rule? and 2.) how can I detect SQL injection? It looks like @dlukeomalley has answered the first question. Regarding the second question, we also have a pre-built `semgrep` rule for detecting SQL injection in Java.

* You can find it in our registry under `java.lang.sec

[2020-05-22 16:26] minusworld commented on #652
OK, that makes sense! Thanks @aryx!

[2020-05-22 16:27] mschwager opened #819 "Document deep expression matching"
The deep expression matching pattern feature (`<... ... ...>`) has been referenced a few times: #818, #726, #656, but I don't believe we have docs for it yet. We should document its behavior so both internal and external users can understand its full capabilities and limitations.

[2020-05-22 16:29] mschwager commented on #819
Oh yeah, I would recommend documenting this under Pattern Features, similar to the Ellipsis Operator: https://github.com/returntocorp/semgrep/blob/develop/docs/pattern-features.md

[2020-05-22 16:41] ievans opened #820 "highlighted range for imports is incorrect"
on a query like:

QUERY: `import isPromise from 'is-promise';`
CODE: `import isPromise from 'is-promise';`

semgrep reports the range corresponding to `isPromise from 'is-promise';` but misses the `import` keyword.

see https://semgrep.live/KGX

[2020-05-22 16:44] ricsirigu commented on #818
@dlukeomalley @mschwager you guys are awesome! Thank you for your support

Unfortunately not, but in the codebase that I'm analyzing its enough

[2020-05-22 16:48] #618 closed, assigned to rcoh

[2020-05-22 16:49] #763 closed, assigned to rcoh

[2020-05-22 17:54] dlukeomalley commented on #818
Keep us posted if you run into any other issues @ricsirigu. We've also got a bunch of security engineers and pattern writers hanging out on [Slack](https://join.slack.com/t/r2c-community/shared_invite/enQtNjU0NDYzMjAwODY4LWE3NTg1MGNhYTAwMzk5ZGRhMjQ2MzVhNGJiZjI1ZWQ0NjQ2YWI4ZGY3OGViMGJjNzA4ODQ3MjEzOWExNjZlNTA).

Closing this ticket for now. In bocca al lupo 👍

[2020-05-22 17:55] #818 closed, assigned to dlukeomalley

[2020-05-22 18:43] brendongo commented on #805
It actually should not work with how our boolean composition works. For an `and` the ranges of the two patterns need to match exactly. You want to do an pattern-inside for this

[2020-05-22 18:45] brendongo commented on #805
https://semgrep.live/Xzb?version=0.8.0

[2020-05-22 19:17] dlukeomalley opened #821 "... not capturing string literal"
**Describe the bug**
From #818, I ran into a bug where `"...."` was required for matching an instance of string concatenation. See https://semgrep.live/JLW

**Expected behavior**
I expect both of the following patterns to match string concatenations:

[code]

[code]

[2020-05-22 23:24] dlukeomalley commented on #2
Closing until broader tree-sitter work lands. Java is already supported. CC @DrewDennison @nbrahms

[2020-05-22 23:24] #2 closed

[2020-05-23 07:04] DrewDennison opened #823 "JS parse bug"
semgrep fails to parse ES6 template strings. e.g.

[code]

https://semgrep.live/ELe

[2020-05-23 07:08] DrewDennison commented on #823
More complete example https://semgrep.live/7rW

[2020-05-23 09:16] ghbren opened #824 "NoTokenLocation min_max, empty list exn while processing file"
**Describe the bug**

I ran `semgrep --config r2c` on my code and got

[code]

**To Reproduce**

Just run  `semgrep --config r2c`  on file containing
[code]

**Expected behavior**

I expect no message on internal error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
If not using semgrep.live: are you running off docker, an official binary, a local bui

[2020-05-23 18:05] dlukeomalley commented on #824
Thank you for opening this issue @ghbren. Adding this to my queue to investigate first thing Tuesday (given Memorial Day). Are you blocked and would you like me to prioritize this sooner?

@ievans Is this related to #670? Defer to you on deduping.

[2020-05-23 18:08] ievans commented on #824
It is probably not related

[2020-05-23 22:04] ajinabraham opened #827 "Semgrep consume all of the CPU, Possible Regex DoS inside the engine."
**Describe the bug**

Certain files and rules cause semgrep to consume all CPU and hangs the process.

**To Reproduce**
`$ semgrep -f foo.yaml ~/Downloads/juice-shop-master/frontend/src/assets/private/three.js`

File: https://github.com/bkimminich/juice-shop/blob/master/frontend/src/assets/private/three.js
Rule: foo.yaml
[code]

This issue is present with rules that have ellipsis `...` used to mat

[2020-05-23 22:06] ajinabraham commented on #827
Forcefully killing throws
[code]

[2020-05-24 00:17] dlukeomalley commented on #827
@ajinabraham Thank you for filing this. Being sensitive to your project, on what timeline would you like to see a fix? We don't want to block you or your v4 rollout. Depending on how pressing this is, is it acceptable for us to investigate this next week?

[2020-05-24 00:58] ajinabraham commented on #827
This is not blocking me as of now. This was reported by one of the early adopters of nodejsscan cli. For now he can scan the source by ignoring the problematic files.https://github.com/ajinabraham/njsscan/issues/1

[2020-05-24 02:30] ghbren commented on #824
@dlukeomalley No need to prioritize this sooner. Please enjoy the long weekend  😃

[2020-05-25 09:41] inkz opened #828 "Confusion when using multiple `pattern-either` inside `patterns`"
In my opinion: using `patterns` and `pattern-either` within one rule sometimes behave not as it would be predicted according to the docs (https://github.com/returntocorp/semgrep/blob/develop/docs/configuration-files.md#patterns)

as I understand from the docs:
`patterns` performs a logical AND operation
`pattern-either` operator performs a logical OR operation

so by doing smth like this (sorry if

[2020-05-25 14:00] aryx commented on #800
@emjin you can now merge you PR and close this issue. Thx!

[2020-05-25 17:03] DrewDennison opened #829 "Golang fails to parse when function defined in if statement"
[code]

fails to parse. See https://semgrep.live/bvE

[2020-05-26 07:12] aryx commented on #823
It parses template strings, (you can do a = `this is ${handled}`), but not this specific kind that is attached to a method.

[2020-05-26 08:02] andersk opened #830 "semgrep 0.8.0 --version reports 0.8.1.dev0+gb3c2930.d20200521"
**Describe the bug**
The official binary 0.8.0 release reports an incorrect version number. (This complicates a programmatic check for whether the correct version is installed.)

[code]

**Expected behavior**
[code]

[2020-05-26 08:16] aryx commented on #827
Yes it's probably because of the '...' which right now can be slow on huge files because of the
deep statement matching that is done implicitely (it basically tries to match on any sequence of statements where those sequences are the flatten list of all statements in a file, including in nested functions. We know this could be slow, I'm not sure though what to do for those. Maybe limit the depth o

[2020-05-26 08:20] andersk opened #831 "--lang fails to set input file language"
**Describe the bug**
The help for `--lang` says “parse pattern and all files in specified language”, but this does not happen (so it’s impossible to lint Python scripts without a `.py` extension):

[code]

**Expected behavior**
[code]

**Environment**
Official binary (`semgrep-v0.8.0-ubuntu-16.04.tgz`).

[2020-05-26 08:21] aryx commented on #824
@ievans how do I find the rule corresponding to rule 55..3 in semgrep-rules?
Here is the error:
  "NoTokenLocation min_max, empty list exn while processing ./short.js for rule 55..3, with metavar $Y, close location = { \"line\": 2, \"col\": 5, \"offset\": 43 }").

[2020-05-26 08:26] andersk commented on #711
You’re missing support for [ES2019 optional `catch` binding](https://github.com/tc39/proposal-optional-catch-binding): `try {} catch {}`.

[2020-05-26 09:41] aryx commented on #824
In the mean time, each time there is an error in semgrep-core, I save the rule file passed from semgrep to /tmp/semgrep_core_xxx.yaml so that should be enough.

[2020-05-26 10:31] aryx commented on #829
The semgrep live example is not a valid Go file. You can't have statements at the toplevel.
They need to be inside a function.
But indeed, even inside a function you have a problem. Should be easy to fix.

[2020-05-26 15:32] nbrahms commented on #814
Removing the `good first issue` label...

Per https://dev.realworldocaml.org/parsing-with-ocamllex-and-menhir.html, we likely need to install a 3rd-party library to add unicode support to Lex.

(cc. @aryx )

[2020-05-26 15:35] dlukeomalley commented on #830
Queuing up for discussion this morning with the team. Thanks for filing @andersk.

[2020-05-26 15:36] dlukeomalley commented on #831
Queuing up this one too for discussion with the team @andersk.

[2020-05-26 15:37] nbrahms commented on #814
cf. https://www.ecma-international.org/ecma-262/5.1/#sec-7.2

[2020-05-26 15:56] nbrahms commented on #814
FWIW, despite the fact that Inria's docs imply that unicode string literals should be allowed in Lex files (https://caml.inria.fr/pub/docs/manual-ocaml/lex.html, https://caml.inria.fr/pub/docs/manual-ocaml/lexyacc.html#s%3Aocamlyacc-syntax), using ocamllex 4.07.1 on a match to `"\u{A0}"` yields:
[code]

[2020-05-26 16:00] aryx commented on #828
@ievans is the expert on boolean logic on patterns :) @brendongo might know too.

[2020-05-26 16:24] ajinabraham commented on #827
Yeah it would be ideal to support a configurable depth parameter in semgrep API with a reasonable default.

[2020-05-26 16:28] nbrahms commented on #831
Hi @andersk ,

I believe `--lang` is meant to apply a filter to the files that are inspected, rather than tell `semgrep` what the file language is. It sounds like we probably have a documentation bug to clarify this point.

For your use case, would it be sufficient for `--lang python` to tell `semgrep` to inspect files with a `#!/bin/.../python` shebang?

Best,
Nathan

[2020-05-26 17:21] nbrahms commented on #811
cc. @brendongo for release planning

[2020-05-26 17:22] nbrahms commented on #812
cc. @brendongo for release planning

[2020-05-26 17:55] andersk commented on #831
A Python shebang can take many shapes.

*     #!/usr/bin/python

*     #!/usr/bin/env python

*     #!/usr/bin/env python3

*     #!/usr/bin/env pipenv-shebang

*     #!/bin/sh
      "exec" "`dirname \"$0\"`/zulip-py3-venv/bin/python3" "$0" "$@"

*     #!/usr/bin/env nix-shell
      #!nix-shell -i python3 -p "python3.withPackages (ps: [ps: numpy])"

Since Zulip already has a framework to determine

[2020-05-26 17:56] ievans commented on #828
@inkz I agree with you, this looks like a bug to me. @brendongo could investigate. @brendongo I added comments with notes on what examples I would expect to match: https://semgrep.live/Gl2

[2020-05-26 19:34] Nudin commented on #774
You are right: I don't know how, but I apparently managed to have a wrong binary in 'semgrep-core'-binaries place:
[code]
Thanks and sorry for the effort.

[2020-05-26 19:34] #774 closed, assigned to rcoh

[2020-05-26 20:26] DrewDennison commented on #513
this should be fixed in 0.9.0 !

[2020-05-26 20:30] DrewDennison commented on #554
@aryx does https://github.com/returntocorp/pfff/pull/126 fix this?

[2020-05-26 20:36] DrewDennison commented on #664
cc @ajinabraham who is also seeing this

[2020-05-26 21:18] daghan opened #835 "[javascript] Match error on variable declaration"
**Describe the bug**
an internal error occured while invoking the semgrep engine: unknown exception: (Failure
  "NoTokenLocation min_max, empty list exn while processing ./foundation.min.js for rule 13..3, with metavar $Y, close location = { \"line\": 9, \"col\": 7894, \"offset\": 8136 }").

**To Reproduce**
With this file: https://github.com/daghan/lets-be-bad-guys/blob/master/badguys/static/js/f

[2020-05-26 21:26] dlukeomalley commented on #835
@aryx @ievans Any relation to recent bug fixes? I suspect this interferes with our demos.

[2020-05-26 21:46] nbrahms commented on #831
@andersk Thanks for the clarification! We'll get this prioritized for you.

[2020-05-26 22:12] nbrahms commented on #835
@daghan Is there an unminified version of this file somewhere we can play with?

[2020-05-26 22:20] nbrahms commented on #835
FWIW, I beautified this using `beautify-js`, and the offending lines of the file are:

[code]

[2020-05-26 22:21] nbrahms commented on #835
https://semgrep.live/APp for an online version

[2020-05-26 22:26] nbrahms commented on #835
A simpler repro is at: https://semgrep.live/DBY

[2020-05-26 22:39] nbrahms commented on #835
Note that `./pfff -dump_js` parses the latter example successfully.

[2020-05-26 22:58] brendongo commented on #830
There was an issue in the building steps. Releasing 0.8.1 without this problem.

[2020-05-26 23:05] brendongo commented on #830
Fixed in https://github.com/returntocorp/semgrep/pull/836/commits/72c70951c1d4eb1ae3fb01a80e26491be2a069a5

[2020-05-26 23:09] #813 closed, assigned to brendongo

[2020-05-26 23:16] brendongo opened #838 "Flow not parsed in react-coinbase-commerce"
semgrep fails to parse  https://github.com/coinbase/react-coinbase-commerce

[2020-05-26 23:17] brendongo opened #839 "semgrep fails to parse solidity-workshop"
semgrep fails to parse https://github.com/coinbase/solidity-workshop

[2020-05-26 23:20] brendongo commented on #830
Verified this regression no longer exists on ubuntu 0.8.1 release :D Thanks for filing the bug @andersk!

[2020-05-26 23:20] #830 closed, assigned to brendongo

[2020-05-27 02:34] rtpg opened #840 "Allow using autofix via the command line"
**Is your feature request related to a problem? Please describe.**
Sometimes I just want to fix up a pattern once through the codebase. I can search for the problem pattern via the command line but am unable to just fix it as-is

**Describe the solution you'd like**
something like
[code]
**Additional context**

I understand the value of checking in this kind of stuff to a config file. But when doi

[2020-05-27 02:56] rtpg opened #841 "Autofix eats up parentheses and brackets"
**Describe the bug**
Autofix on Python seems to sometimes eat parentheses and brackets, making code very semantically different

**To Reproduce**
https://semgrep.live/2Y0

^ this is a simple repro, where I'm trying to replace
`self.assertEquals(foo(), 1)` with `assert foo() == 1`, but I end up with `assert foo == 1`.

(I would have labelled this issue but I don't seem to have the right permissions

[2020-05-27 03:01] DrewDennison commented on #841
Thanks @rtpg for the issue. We’re on it. What timeline do you like a fix? Does the end of the week work ok if it’s a minor fix?

[2020-05-27 03:12] rtpg commented on #841
Nothing is burning of course, but if you are able to provide even a minor fix I would be able to run this across a pretty large codebase and report back on how successful the patch is.

[2020-05-27 05:43] DrewDennison commented on #841
very cool. We'll get on it!

[2020-05-27 08:36] andyrat33 opened #842 "semgrep.live bug report"
https://semgrep.live/scan/9998d52e-32cb-4516-be6c-ec247f54d23b
The rule identifies open without close but missed the use of 'with' and the implicit close
try:
        cc_file = open(filename, mode='rb')
    except IOError as e:
        print("Error: {}".format(e))
    else:
        with cc_file:

[2020-05-27 09:49] #823 closed, assigned to aryx

[2020-05-27 09:51] #829 closed, assigned to aryx

[2020-05-27 09:54] #513 closed, assigned to aryx

[2020-05-27 09:55] #430 closed, assigned to aryx

[2020-05-27 11:01] #824 closed, assigned to aryx

[2020-05-27 12:20] aryx commented on #835
I think I've fixed that yesterday.
Same than https://github.com/returntocorp/semgrep/issues/824

[2020-05-27 12:50] #835 closed, assigned to nobody

[2020-05-27 12:56] aryx commented on #554
No, my fix was a parsing issue when you were using template strings in a very special way
as an argument to function without parentehsis, e.g. sanitize`template string` or div.styled`template string`. There is no parsing error in the example of ajin; Here it's a matching bugfix/feature we need in the semgrep engine.

[2020-05-27 14:56] mschwager commented on #805
These were my thoughts as well. `pattern-regex` now simply matches the evaluation behavior of `pattern`. So if you're looking to use `pattern-regex` to check the contents of a previously matched string you'll have to combine it with `pattern-inside`.

[2020-05-27 15:35] dlukeomalley opened #844 "Brew SHA256 Mismatch"
**Describe the bug**
I ran `brew install returntocorp/semgrep/semgrep` on a machine with no prior semgrep installation. Brew reports a SHA256 mismatch.

I tried the installation twice, removing the semgrep tar file inbetween.

[code]

**To Reproduce**
`brew install returntocorp/semgrep/semgrep`

[2020-05-27 15:36] dlukeomalley commented on #844
@brendongo @rcoh Any thoughts here? Is this a "me" problem? :)

[2020-05-27 15:44] rcoh commented on #844
It's not a you problem it reproduces for me. @brendongo we need to get the CI job on a cron to catch this.

[2020-05-27 16:36] ievans opened #845 "can't match empty if statement bodies"
See https://semgrep.live/nJXX

```if (...) { }``` matches a block with an non-empty body:

[code]

[2020-05-27 16:46] brendongo commented on #844
I just reran it and I don't get a sha mismatch?

[2020-05-27 16:48] brendongo commented on #844
Why does the shasum change?

[2020-05-27 20:55] brendongo commented on #844
Fixed https://github.com/returntocorp/homebrew-semgrep/commit/0663f7874d64aa9279bd595784ca615f89d1f86d

[2020-05-27 20:55] #844 closed, assigned to brendongo

[2020-05-27 20:59] brendongo commented on #805
Closing since current behavior seems logical.

[2020-05-27 20:59] #805 closed, assigned to mschwager, brendongo

[2020-05-27 21:38] DrewDennison opened #849 "Support chained option calls in a first class way"
calls to ```foo().option('a', bar).option('b', bar)``` can be made in any order. We need a better syntax for matching function calls in any order. Perhaps something like `foo().<... option(...) ...>` would work?

https://semgrep.live/w9Y

[2020-05-27 21:41] brendongo commented on #652
https://semgrep.live/Qrg4?version=0.8.1 with @aryx's suggestion for convenience

[2020-05-27 21:50] mschwager commented on #849
This is somewhat similar to #744. Instead of chained method calls it references chained decorators and others. Basically I see the generalized need here as: 1.) a way to capture variadic statements (function arguments, method calls, decorators, etc) and 2.) gate findings from (1) on certain logic (i.e. do *all* of these statements meet certain criteria, do *any* of these statements meet certain cr

[2020-05-27 22:00] brendongo commented on #505
I'll add a section on testing then should be good to close this

[2020-05-27 22:17] nbrahms commented on #312
FWIW, when I run `semgrep` manually on this file from the command line, everything is happy. @DrewDennison is it possible this is an issue with semgrep.live?

[2020-05-27 22:18] nbrahms commented on #312
I used `semgrep-core` as of `5df168ab0550c`

[2020-05-27 22:24] brendongo commented on #128
Doesn't look like this exists anymore. Assuming it was fixed by https://github.com/returntocorp/semgrep/pull/398

[2020-05-27 22:24] #128 closed

[2020-05-27 22:36] brendongo commented on #312
Are you sure? Running on https://github.com/returntocorp/semgrep/pull/843/commits/119d3ce4d22979bdbf823affea87d14bd592691c which should be the same as 5df168ab0550c still gets the parse error

[2020-05-27 22:37] brendongo commented on #312
https://semgrep.live/5J3?version=119d3ce4d22979bdbf823affea87d14bd592691c for convenience

[2020-05-27 22:39] nbrahms commented on #578
Fixed by https://github.com/returntocorp/pfff/pull/132

[2020-05-27 22:42] brendongo commented on #471
A linux install script is attached to each release.

[2020-05-27 22:42] #471 closed, assigned to rcoh

[2020-05-27 22:43] brendongo commented on #551
A lot of the validate-release functionality doesn't make sense with beta releases anyway. Closing.

[2020-05-27 22:43] #551 closed, assigned to brendongo

[2020-05-27 22:51] #800 closed, assigned to emjin

[2020-05-27 23:07] ievans commented on #128
@brendongo - I think this was "fixed" by just doing a `uniq` on the output, not by investigating what caused the underlying issue. Agreed this can slide for now though.

[2020-05-27 23:49] nbrahms commented on #711
FWIW `semgrep --pattern '$X==$X' --lang javascript --exclude-dir 'node_modules' .` completes properly for me.

[2020-05-27 23:52] nbrahms commented on #711
@brendongo Which version of `semgrep` are you on? I'm on 0.8.1.

[2020-05-27 23:56] brendongo commented on #711
[code]

[2020-05-28 00:59] nbrahms commented on #711
Looks like I was on a (very) stale Zulip branch 🐑

[2020-05-28 00:59] nbrahms commented on #711
Fixed by https://github.com/returntocorp/pfff/pull/134

[2020-05-28 01:25] brendongo commented on #838
Parsing errors due to semgrep not supporting flow

[2020-05-28 03:10] dlukeomalley opened #851 ""!=" comparator not matching Golang sample"
I expected `$X != nil` to match `err != nil` in Golang, but get no match: https://semgrep.live/qNRz

Notably, `$X == nil` does match `err != nil`: https://semgrep.live/lBNy

I've been confused what equivalences are applied in the `==` case.

[code]

[2020-05-28 07:32] #562 closed, assigned to nobody

[2020-05-28 08:36] #814 closed, assigned to aryx

[2020-05-28 13:12] aryx commented on #827
no need for -depth parameter yet. The code I wrote was just terribly slow and was doing lots of useless work. With the small fix things seems more tractable.

[2020-05-28 17:15] ievans commented on #784
cc @emjin for consideration in your work

[2020-05-28 18:40] ievans opened #856 "javascript ... overly greedy"
For the pattern:

[code]
doesn't match:

[code]

However, removing the ... on line #3 of the pattern does work. See broken example at https://semgrep.live/OrlB

[2020-05-28 20:15] #819 closed, assigned to minusworld

[2020-05-28 21:15] mschwager opened #859 "Surprising behavior with '...' ellipsis operator and Python decorators"
Consider the following example:

[code]

[code]

[code]

It's surprising to me that the `pattern` matches the above code without a `...` after the `@foo` decorator. I was more surprised to see that a `...` after a decorator was a parse error:

[code]

[code]

I'm not entirely sure what the expected behavior here is. Requiring a `...` after a decorator to consume additional decorators is more consi

[2020-05-28 23:56] DrewDennison commented on #744
similar to https://github.com/returntocorp/semgrep/issues/849

[2020-05-29 01:58] brendongo opened #862 "Per Rule Include/Exclude is not prefiltering"
**Describe the bug**
Per rule path includes and excludes are a post filter so semgrep potentially does a lot of unnecessary work. Should be pre-filtering.

[2020-05-29 08:26] danmx opened #864 "semgrep.live scan shows error when Python rules run on Go project"
https://semgrep.live/scan/4d0005e0-7126-4a39-9072-74d726dbe370

[2020-05-29 09:34] #851 closed, assigned to aryx

[2020-05-29 09:42] #827 closed, assigned to aryx

[2020-05-29 12:57] jajajasalu2 commented on #312
Hi,

Just my two cents on this: https://github.com/returntocorp/pfff/pull/102 does fix an underlying lexing issue but not this bug. The last few tokens for the erroneous code are

INDENT
NEWLINE
DEDENT
NEWLINE
EOF

For which I don't see a corresponding production in the python parser. Python 3.7 doesn't give me a syntax error either, so I guess this should parse.

[2020-05-29 14:13] mschwager opened #866 "Parse error with Java import pattern"
Rule file:

[code]

Java file:

[code]

`semgrep` output:

[code]

[2020-05-29 14:21] mschwager commented on #866
More specifically, I'd like to be able to specify the pattern `java.io.$ANYTHING;`, similar to Python, and catch this code `File("filename.txt");`. Note that this also gives a parse error:

[code]

[2020-05-29 15:07] nbrahms commented on #663
Fixed in https://github.com/returntocorp/semgrep/pull/857

[2020-05-29 15:19] dlukeomalley commented on #864
@danmx, anything you'd like us to investigate with the above scan error?

[2020-05-29 15:48] nbrahms opened #868 "Document all "unspecified match more" metavariable nodes"
**Is your feature request related to a problem? Please describe.**
Metavariables bound to certain AST nodes will match a large variety of code AST nodes.

For example:

[code]

will match `MyClass extends AParentClass` in Java.

However, I don't know which metavariable binding sites have this behavior, and which do not, by reading the documentation in `/docs/`.

**Describe the solution you'd like*

[2020-05-29 16:52] #505 closed, assigned to brendongo

[2020-05-29 21:27] minusworld opened #871 "Java metavariable means "zero or more""
**Describe the bug**
Java metavariable in method accessor means "zero or more".

**Expected behavior**
I expected this to mean "one or more" when specified like this: `$OBJ.method(...)`'

**To Reproduce**
https://semgrep.live/Abbg

It should not match the first match.

[2020-05-29 21:27] mschwager commented on #868
Per an internal conversation, we came to the conclusion that these are the "unspecified match more" features:

[code]

[2020-05-29 21:30] mschwager commented on #778
Closed by #793

[2020-05-29 21:30] #778 closed, assigned to nobody

[2020-05-29 21:46] nbrahms commented on #868
@mschwager @aryx It seems like there should be something for Java annotations in addition to this list, correct?

[2020-05-29 22:29] ievans opened #873 "java parser spews output to stderr, should be hidden/fixed"
When parsing echelon-backend, as observed in @dlukeomalley run this am:

ine@imbp4 ~/D/r/echelon-backend (develop)> semgrep --config=https://semgrep.live/c/p/java
scanning code...
depth_angle < 0, -1
Tag17 ([((" ", 14047, 408, 51, "./analysis/analyzers/r2c/synode/external/test/com/google/javascript/jscomp/TemplatesMinner.java"))])

I believe this comes from:
https://github.com/facebookarchive/pfff

[2020-05-29 23:12] brendongo opened #875 "semgrep-core list of files to run rule on"
**Is your feature request related to a problem? Please describe.**
We are moving target/include/ignores/etc logic to python so need to be able to pass a list of files down to semgrep-core to run a rule on. To prevent hitting character limits in shelling out we should pass semgrep-core a list of files.

**Describe the solution you'd like**
Add a -f/-t flag that takes in a filename that is a newline

[2020-05-29 23:16] brendongo opened #876 "Ability to cache parsed ASTs between semgrep-core runs"
**Is your feature request related to a problem? Please describe.**
It would save unnecessary work in times when semgrep-core is called multiple times on the same file by semgrep to cache the AST representation somewhere instead of reparsing the file every time.

**Describe the solution you'd like**
Either a flag to pass to semgrep-core to use and clear a cache file or using a cache and semgrep cle

[2020-05-29 23:27] brendongo commented on #831
After #863 going to pull in the file targeting logic from bento into semgrep

[2020-06-01 08:52] danmx commented on #864
@dlukeomalley I was using Python rules for Go. Maybe instead throwing an error you could print something else that would speed up finding the error 😄

[2020-06-01 15:19] dlukeomalley commented on #864
I love that idea. I'm going to re-open this and get the team's input. Thank you @danmx!

[2020-06-01 16:12] minusworld opened #877 "Ellipsis operator does not parse in Java Interfaces"
**Describe the bug**
It appears that the ellipsis operator does not parse when writing patterns that involve Java interfaces.  Here is an example:
https://semgrep.live/2ZZz

Interestingly, leaving out the ellipsis operator works like I want:
https://semgrep.live/pKK3

**Expected behavior**
If the working example is expected behavior, great! We should document this somewhere. Otherwise, we should m

[2020-06-01 16:36] nbrahms opened #878 "Respect .gitignore in semgrep"

[2020-06-01 16:38] nbrahms opened #879 "Port Bento results display to Semgrep"
Specifically:
- [ ] ~~Progress bar output~~ (Excluded after Semgrep workflow discussion)
- [ ] Clippy formatting
- [ ] Clear stderr vs. stdout segregation
- [ ] ~~Some pager support?~~ (optional) (Excluded after Semgrep workflow discussion)

[2020-06-01 16:40] nbrahms opened #880 "Port Bento caching to Semgrep"
A second run of Semgrep on an unchanged filesystem should take minimal time.

[2020-06-01 16:40] nbrahms opened #881 "Port Bento `--diff-against` logic to Semgrep"

[2020-06-01 17:21] dlukeomalley commented on #768
@ajinabraham I'm having a hard time understand the pattern you want to match and what you don't want to match. Mind sharing more details or examples? Thank you.

[2020-06-01 17:25] #736 closed, assigned to minusworld

[2020-06-01 17:29] dlukeomalley commented on #689
@ajinabraham What's the relative priority of this ticket versus some of the others you've filed? We're gearing up for our next 2-week sprint and want to tackle the highest priority items for you. Thanks!

[2020-06-01 17:31] ajinabraham commented on #768
@dlukeomalley I want to catch all `==` comparisons but it should not match comparisons with `null`

example:
match
[code]
do not match

[code]

[2020-06-01 17:33] dlukeomalley commented on #690
@ajinabraham Looking for relative priority here as well. Thank you sir!

[2020-06-01 17:36] ajinabraham commented on #690
I would say medium. This blocks me from adding a rule that can check for application layer DoS

[2020-06-01 17:37] ajinabraham commented on #689
I would say medium again. This blocks me from adding a rule that can check for regular expression DoS.

[2020-06-01 17:38] dlukeomalley commented on #878
Inspiration for us: https://github.com/BurntSushi/ripgrep/blob/master/GUIDE.md#manual-filtering-globs

`--type` also seems much clearer than `--lang`.

[2020-06-01 17:38] ajinabraham commented on #768
@dlukeomalley I want to prioritize this over the rest since this is already throwing a lot of false positives in existing rule.

[2020-06-01 17:44] dlukeomalley opened #882 "Const-analysis to propagate more implicit constants in Go"
**Describe the bug**
I expect constants to propagate in Go so I could match on all 3 of the following lines:

[code]
Pattern:

[code]

https://semgrep.live/9AAk

[2020-06-01 17:45] ajinabraham opened #883 "Ability to support sanitize function"
**Is your feature request related to a problem? Please describe.**
We have discussed this before and I know that a `pattern-santizer` is in the timeline. But I am opening this for tracking this at my end.

support for safe functions: ` res.send("Hello " + escape(obj.username));`

**Describe the solution you'd like**
If a particular safe function is called under `pattern-inside` section or invoked

[2020-06-01 17:49] minusworld commented on #768
@ajinabraham Does changing the metavariable work? Something like this: https://semgrep.live/bwZZ?version=develop?

[2020-06-01 17:55] ajinabraham commented on #768
Thanks that works. So that metavar has scope in both pattern cases? I thought it had scope only under the single `pattern:`

[2020-06-01 18:03] minusworld commented on #768
Yep! I think that was added in 0.7.0. But it looks like it didn't make it into the CHANGELOG. I'll amend that. :x

[2020-06-01 18:48] brendongo commented on #878
Some overlap with #863

[2020-06-01 19:40] mschwager commented on #883
Hi @ajinabraham,

I believe we can achieve you're use-case by using a `pattern-not` operator and [deep expression matching](https://github.com/returntocorp/semgrep/blob/develop/docs/pattern-features.md#deep-expression-operator) functionality to whitelist cases that use `escape`. Consider the following example:

[code]

[code]

[code]

This won't be perfect - for example the following case will be

[2020-06-01 19:49] nbrahms commented on #669
At the very least it seems that https://semgrep.live/kxbX should work for this use case

[2020-06-01 19:55] minusworld commented on #768
I added the bit about how metavariables match across patterns in the CHANGELOG: https://github.com/returntocorp/semgrep/blob/develop/CHANGELOG.md#070---2020-05-12. Thanks for bringing this to our attention! 🙏

[2020-06-01 21:12] brendongo commented on #581
Also causing semgrep to fail to parse https://github.com/bkimminich/juice-shop https://github.com/bkimminich/juice-shop/blob/master/data/datacreator.js#L298

[2020-06-01 21:49] #670 closed, assigned to aryx

[2020-06-01 21:57] aryx commented on #882
only 'const' variable are propagated (easy way to know if it's safe to propagate because
with 'const' we know the variable is really a constant that nobody is gonna change).

To support your use-case would require a const-analysis, to detect places where the user could have put a 'const' keyword but didn't.

[2020-06-01 22:14] #845 closed, assigned to aryx

[2020-06-01 22:14] #669 closed, assigned to nobody

[2020-06-01 23:54] dlukeomalley commented on #882
@aryx Upon inspection I misread the Go. You are correct, `:=` is not a const. I'll reply to the user who I was corresponding to about this and close this issue.

[2020-06-01 23:54] #882 closed, assigned to nobody

[2020-06-02 00:25] inkz opened #891 "JavaScript: Deep statement matching for code inside `try catch`"
**Describe the bug**
usually deep statement matching works perfect for code inside `try {} catch () {}`
but I found one case when it does not work (it may be incorrect pattern from me but still need some clarification)

https://semgrep.live/d86P

[code]

[code]

[2020-06-02 14:13] aryx commented on #443
That is weird indeed ...

[2020-06-02 16:11] dlukeomalley opened #894 "open-not-closed rule False Positive"
https://semgrep.live/nJWG

[code]

Fails to detect `file.txt` below:

[code]

[2020-06-02 16:43] clintgibler opened #895 "Update README and docs to be more clear and intuitive to new users"
**Is your feature request related to a problem? Please describe.**
Currently the README has a lot of great info, but it's not optimally organized for people new to semgrep.

It should be easier to grok for new users: what does this do, what are the primary use cases, and how do I do those?

**Describe the solution you'd like**
* [ ] `docs/README.md` should have an overview of the rest of the docs

[2020-06-02 16:51] clintgibler commented on #895
@mschwager @dlukeomalley for visibility.

[2020-06-02 17:00] minusworld commented on #768
@ajinabraham Let me know if this comes up again! I'm going to close this ticket. Thanks again!

[2020-06-02 17:00] #768 closed, assigned to minusworld

[2020-06-02 17:17] dlukeomalley commented on #895
Some notes from our dry-run:

* Add a "quick start" section that shows how to download AND run semgrep with a set of pre-defined rules. Offer clear next steps in this section, like "See Writing Patterns" or "Run in CI".
* Add navigation section to top of README like Bento. A lot of work went into the format and flow of the Bento README, worth taking a serious look at it and taking inspiration (lik

[2020-06-02 18:06] mschwager commented on #777
Here's what I'm thinking, add two new keys:

* `minVersion` - `semgrep` must have a newer version than this value, inclusively. E.g. `minVersion: "1.3.0"` means `semgrep` must be `1.3.0` or newer. Here we can warn older versions that they're using unsupported functionality.
* `maxVersion` - `semgrep` must have a earlier version than this value, inclusively. E.g. `maxVersion: "1.8.0"` means `semgre

[2020-06-02 18:10] nbrahms commented on #777
I'd amend (1) to print a warning, rather than error, if there is no version requirement and an unsupported YAML key is encountered.

[2020-06-02 18:10] nbrahms commented on #777
Other than that, I'm on-board with this solution 🚀

[2020-06-02 18:12] rcoh commented on #777
I did a design doc for this a few days ago, pasted below:

As updates are made to the Semgrep Rules language & semgrep-core expression syntax, we need a way to gracefully notify users if their version of semgrep is too old to run certain rules. Notable examples include:

* pattern-where-regex
* https://github.com/returntocorp/semgrep/issues/777

This will become more problematic as people run vers

[2020-06-02 21:46] mschwager commented on #777
Ahh, good catch. There seems to be some gotchas in different approaches here - I'll give everything a review :+1:

[2020-06-02 21:52] brendongo commented on #295
Closing while typescript support is "partial"

[2020-06-02 21:52] #295 closed

[2020-06-02 22:52] nbrahms commented on #879
**Motivation**

Current ripgrep- and json-style formatters can be confusing for check-pack user personas. We've learned how users like to consume findings data from our experience with Bento. Let's use those findings as a starting point for further development.

**Spec**

1. **Only result output should go to stdout** -- this should be true regardless of format

2. **Add Bento-style Clippy formatte

[2020-06-02 22:54] nbrahms commented on #879
cc. @brendongo @dlukeomalley

[2020-06-03 00:32] nbrahms commented on #582
This appears to be a duplicate of #581

[2020-06-03 01:00] ievans commented on #879
IMO `--json` is intuitive and useful for CLI workflows to have it as a top level flag rather than `--format=json`. Basically because users are lazy. This is what ripgrep does, for instance.

What's the impetus for porting the bento-style clippy formatter? Why should we have more than one formatter? Maybe we could pull bento data to see if anyone ever used the non-default formatter.

[2020-06-03 01:20] dlukeomalley commented on #879
For reference, `rg` output below:

[code]

![image](https://user-images.githubusercontent.com/605906/83668289-8c84c900-a584-11ea-8f23-28a84ae2a04d.png)

Would we augment this @ievans @nbrahms to include file and check-id, excluding message or extra fields? The goal is to make it feel "light" and I worry all of the other fields we use work against us there.

Strawman, noting that I don't know how t

[2020-06-03 01:24] dlukeomalley commented on #879
I'll note that this format seems challenging in a CI setting, but I do accept the point that people haven't run it in CI yet beyond our team.

[2020-06-03 15:31] nbrahms commented on #733
👋 Hi @inkz

I have a proposed fix for this. Just FYI, you'd need to write a fully qualified pattern in order to match:

[code]

This should go out in 0.10.

[2020-06-03 15:35] #689 closed, assigned to nbrahms

[2020-06-03 15:45] mschwager commented on #777
I've been getting a lot of mileage out of the [Docker Compose file versioning](https://docs.docker.com/compose/compose-file/compose-versioning/) scheme doc.

It looks like both Docker Compose and Kubernetes configuration file version **value** is totally divorced from the version of the application itself. E.g. I'm currently using Docker engine version `19.03.11`, Docker Compose version `1.25.4`,

[2020-06-03 16:05] nbrahms commented on #689
Fixed in 0.10

[2020-06-03 16:06] rcoh commented on #777
## On divorcing `apiVersion` from `semgrep-version`
I considered divorcing them, however, it just seemed like it would add unnecessary confusion and make it harder to figure out if the version of semgrep you had would work with the rule. I guess I just imagine us adding new keys / features on a weekly basis. The compatibility matrix just seems like an unnecessary piece of confusion for users.

To

[2020-06-03 16:06] #580 closed, assigned to nbrahms

[2020-06-03 16:06] nbrahms commented on #580
Should be fixed in 0.10 (@brendongo reminder that we'll need to bump `pfff` prior to release).

[2020-06-03 17:31] mschwager opened #900 "Add per-line whitelisting capabilities"
We currently support a few different means of whitelisting: `--exclude`, `--exclude-dir`, and `pattern-not` to some extent. These are useful, but don't have the level of precision an AppSec team may need. Often a security engineer will want to whitelist a specific line in a file, not the entire file. Let's add functionality around whitelisting a specific line in a file. For example:

[code]

A goo

[2020-06-03 17:37] mschwager opened #901 "Add rule format versioning"
My thoughts are to implement something loosely based on [Docker Compose file versions and upgrading](https://docs.docker.com/compose/compose-file/compose-versioning/). There was lots of discussion around this functionality here: https://github.com/returntocorp/semgrep/issues/777 and we decided to split this into two separate tasks. I highly recommend taking a close look at that issue before procee

[2020-06-03 17:39] #733 closed, assigned to nbrahms

[2020-06-03 18:39] brendongo commented on #751
Released in 0.9.0: https://semgrep.live/qpe?version=0.9.0

[2020-06-03 18:39] #751 closed, assigned to nbrahms

[2020-06-03 18:40] brendongo commented on #711
Added zulip to qa tests. https://github.com/returntocorp/semgrep/pull/886/files

[2020-06-03 18:40] #711 closed, assigned to nbrahms

[2020-06-03 18:41] brendongo commented on #663
https://semgrep.live/BJv?version=0.9.0 Released in 0.9.0

[2020-06-03 18:41] #663 closed, assigned to nobody

[2020-06-03 18:42] dlukeomalley commented on #879
Per discussion in standup, closing this ticket in favor of a downscoped modification of existing Semgrep output.

[2020-06-03 18:42] #879 closed, assigned to nobody

[2020-06-03 19:21] DrewDennison commented on #777
How about as a v0 we:
1. catch the exception, warn, and continue (I think doable in just python but might need a bit of ocaml work to add to an "errors" key in the output)
2. print a message saying "seems to be unsupported features in one or more of your rules. Try upgrading semgrep to latest version"
3. circle back to the proprosal above in here when we tackle 901?

[2020-06-03 19:22] DrewDennison commented on #777
seems like large maintenance overhead to support version compatibility logic while semgrep is still pre 1.0

[2020-06-03 19:39] mschwager commented on #777
Yup, I split rule versioning out into #901

[2020-06-03 19:53] dlukeomalley opened #903 "Remove Error and Warn from default Semgrep output"
This ticket is to track improvements to the default Semgrep output format. Most pressing is a request to remove `Warning` and `Error` from the output; it has been misinterpreted as a Semgrep tool warning/error rather than a result severity.

![image](https://user-images.githubusercontent.com/605906/83676411-792b2b00-a58f-11ea-8159-1f936761b7e4.png)

[code]

Proposal:

[code]

This is effectively t

[2020-06-03 19:58] ievans opened #905 "Java parse error"
This Java pattern fails to parse (observed in an Eclipse project):
[code]
reproduction: https://semgrep.live/kxWX

[2020-06-03 20:08] ievans opened #906 "Java array parse errors"
This Java statement fails to parse:

[code]

repro: https://semgrep.live/x8xe?version=develop

[2020-06-03 20:30] ievans opened #908 "poor performance running Java check pack"
**Describe the bug**
semgrep consumes ~120GB of virtual memory and times out running Java check pack on a repo

**To Reproduce**

[code]

I killed the process, which had two instances of semgrep-core consuming about 60GB of memory.

**Expected behavior**
Semgrep should run on the repo at ~10Ksloc/sec and with at most a few GB of virtual memory used.

**Environment**
OSX brew installed
semgrep --ve

[2020-06-03 21:14] dlukeomalley opened #909 "Metavariable syntax is misinterpreted on bash command line"
The `$X` syntax isn't command line friendly and requires escaping. I expected semgrep to be optimized for the command line and `-e` and was surprised that its syntax required escaping. I'm able to adapt and include `\`, but know I'll make this mistake again in the future.

[code]
Instead:

[code]

Preferably the Semgrep pattern syntax would be able to run on the command line without modification o

[2020-06-03 21:24] mschwager commented on #909
Single quotes here also solve the problem: `'$X.set_cookie(...)'`

https://stackoverflow.com/questions/6697753/difference-between-single-and-double-quotes-in-bash

Oh the joys of bash :)

[2020-06-03 22:46] emjin opened #910 "Inline if statements not matched if the pattern includes braces"
**Describe the bug**
(Potentially not a bug, but was surprising behavior.) A pattern using an if statement without braces does not match inline if statements

**To Reproduce**
https://semgrep.live/v8ZX
Note that both are caught without the braces: https://semgrep.live/d87P

**Expected behavior**
Expected both if statements to match

[2020-06-03 22:54] ievans commented on #903
This would definitely solve the issue. Maybe slightly different color shades for the rule id for info vs warning vs error severity cases, but nbd either way.

[2020-06-03 22:56] ievans commented on #910
Looks like the latter, inline `if` doesn't have a "Block" wrapper. @DrewDennison it's so easy to see the ASTs on semgrep.live!

![Screen Shot 2020-06-03 at 3 55 16 PM](https://user-images.githubusercontent.com/409041/83696980-a5a46e80-a5b2-11ea-9ff9-2ccc797392d5.png)

[2020-06-03 22:59] ievans commented on #905
actually, it's possible this is the same error as #906

[2020-06-03 23:10] nbrahms commented on #581
This'll do it:

[code]

[2020-06-03 23:11] inkz commented on #733
@nbrahms Awesome thanks! :+1:

[2020-06-03 23:59] nbrahms commented on #582
Not a duplicate of #581 (which involved missing code to handle rest parameters in object destructuring); instead this relates to missing code in `pfff/lang_js/analyze/transpile_js.ml` to handle nested parameters in destructuring expressions.

[2020-06-04 14:13] dlukeomalley opened #912 "pattern-regex requires pattern-inside for matches"
I found `pattern-regex` behavior confusing. It seems that it requires `pattern-inside`, and doesn't work with `pattern`. Is this expected?

`pattern` example (not working): https://semgrep.live/GdRB
`pattern-inside` example (working): https://semgrep.live/RerE

My fear is that this behavior is non-intuitive and requires too much knowledge about other Semgrep configuration.

[code]

[2020-06-04 14:57] mschwager commented on #912
See also: #805

I think it makes sense, but definitely open to hearing other thoughts. Intuitively the regex must be "inside" the other pattern. This is also consistent with other boolean composition logic in `semgrep`, e.g. if using multiple `pattern` operators with `patterns` then the whole range must match exactly. If you want the range to be inside, then you have to use `pattern-inside`.

This

[2020-06-04 15:44] dlukeomalley commented on #912
Thank you for pointing out #805. This may be feedback on our syntax more broadly.

Originally I thought `patterns` was an "AND" clause and so expected the `pattern` and `pattern-regex` keys to both fire on that snippet of code and for there to be an overall match shown to the user. From a tech perspective I can guess why this isn't true, but it's counterintuitive to me for UX.

If we were to keep

[2020-06-04 15:50] rcoh opened #914 "Matching on class names shouldn't need to be fully qualified"
**Is your feature request related to a problem? Please describe.**
I would expect this to work:
[code]
**Describe the solution you'd like**
This fails since class names must be fully qualified, but this is overly cumbersome for the "semgrep is grep but for code" usecase. Perhaps we could support post-fix matching on classnames.

[2020-06-04 17:30] nbrahms commented on #383
cc. @mschwager

[2020-06-04 17:30] nbrahms commented on #384
cc. @mschwager

[2020-06-04 19:54] dlukeomalley opened #917 "Don't require "$" for variable names in pattern-where-python vars array"
I was surprised that `$` was required to access variables within `pattern-where-python`. `$` feels like a special character in our syntax to denote a variable, but it doesn't feel part of the variable name. For example, `$FNAME` is the variable named `FNAME`.

![image](https://user-images.githubusercontent.com/605906/83802693-12c20d80-a660-11ea-9ca4-dd5a70576cf2.png)

Proposal: strip `$` from the

[2020-06-04 19:55] #581 closed, assigned to nbrahms

[2020-06-04 20:11] dlukeomalley opened #918 "Unable to enforce use of `os.getenv` for sensitive values in Python"
I'd like to ensure that all `aws_secret_key` values are read from environment variables in my code, rather than being hard coded or coming from potentially checked-in config. I haven't been able to articulate a rule that reliably does this.

Full pattern and test cases: https://semgrep.live/qNxR

My current pattern fails to exclude the "good" case.

Pattern:
[code]

[2020-06-04 20:20] dlukeomalley commented on #918
In this case ideally I'd be able to specify the following:

[code]

Rather than having to remember that people may not directly use `os.getenv` in the method call, Semgrep would ideally understand that the following code is equivalent:

[code]

[2020-06-04 20:25] dlukeomalley commented on #918
A seperate user ask is the following `set_cookie` example: https://semgrep.live/YGvD

Pattern
[code]

Code
[code]

[2020-06-04 20:34] rcoh commented on #746
The line and column numbers are actually already in the JSON cc @DrewDennison

[2020-06-04 20:48] dlukeomalley commented on #191
TIL I learned the difference between `|` and `|-`. This point seems subtle and likely to cause issues in the future. Do you still feel good about your proposal?

This website has a nice demo: https://yaml-multiline.info/

[2020-06-04 20:56] dlukeomalley commented on #918
Related to https://github.com/returntocorp/semgrep/issues/349

[2020-06-04 21:01] dlukeomalley commented on #521
@minusworld @clintgibler @mschwager Have any of you run into this issue recently? Looking through older tickets and seeing if there are any that should be prioritized again. Thank you!

[2020-06-04 21:06] mschwager commented on #918
This is similar to the `open-never-closed` rule. I think you'll want `pattern-not-inside` instead of `pattern-not`: https://semgrep.live/zdvk. But you're correct, we still need constant propagation here for Python.

[2020-06-04 21:09] mschwager commented on #521
I think this was just fixed: #733

[2020-06-04 21:13] dlukeomalley commented on #593
This appears to work now. Closing this ticket!

@DrewDennison please re-open if I've misunderstood https://semgrep.live/Ang?version=develop

[2020-06-04 21:15] dlukeomalley commented on #521
Indeed it is fixed on develop. Closing, thanks @mschwager for the pointer!

[2020-06-04 21:15] #521 closed, assigned to nobody

[2020-06-04 21:15] mschwager commented on #777
I may be misunderstanding the issue, but it looks like we already warn and skip unsupported rules. Here's my test case:

[code]

[code]

[code]

This ignores all unsupported rules while still running the correctly formatted one: `test-multi2`. We can even squelch the warnings by redirecting `stderr`:

[code]

Am I missing something?

[2020-06-04 21:17] dlukeomalley commented on #673
@nbrahms I recall we discussed this recently, but don't remember if we decided to explicitly deprioritize it. Do you think this fits in near term for UX?

[2020-06-04 21:19] dlukeomalley commented on #678
@underyx @rcoh Was this addressed by #680 or #773?

[2020-06-04 21:23] dlukeomalley commented on #708
This appears fixed in 0.9 and above. Please re-open this ticket if I've closed it in error. Thank you @minusworld!

[2020-06-04 21:23] #708 closed, assigned to nobody

[2020-06-04 21:25] dlukeomalley commented on #344
@aryx I've fixed the formatting for you.

[2020-06-04 21:29] dlukeomalley commented on #634
@ievans I see you self-assigned a while back. Any progress or modifications you'd make to this ticket? I'm going through and doing cleanup/pruning. If no longer relevant mind closing?

[2020-06-04 21:30] dlukeomalley commented on #381
@clintgibler Is this stale and/or something we can close for now?

[2020-06-04 21:32] dlukeomalley commented on #710
Still fails as of 0.9.0. @brendongo would this be a good candidate to add to our test suite?

[2020-06-04 21:37] dlukeomalley commented on #664
@aryx @DrewDennison With the recent improvements in 0.9, is this ticket ready to be closed?

[2020-06-04 21:37] #664 closed, assigned to aryx

[2020-06-04 21:38] dlukeomalley commented on #308
@clintgibler Do you feel the semgrep.live "next steps" solves this ticket?

![image](https://user-images.githubusercontent.com/605906/83812805-fed2d780-a670-11ea-999a-cc18ee0b05c9.png)

[2020-06-04 21:44] mschwager commented on #777
This ticket specifically mentions `0.7.0`. Looks like sometime between then and now it was fixed:

[code]

[2020-06-04 22:57] nbrahms commented on #673
Seems reasonable.

One thought: if we want to avoid network, can we just check the install time of the binary? Given that we're on a timed release cadence, we know the tool is out of date after 14 days.

[2020-06-04 23:20] nbrahms commented on #918
Removing the `bug` label here, as it seems that the current feature set of `Semgrep` works in this case:

@mschwager 's link https://semgrep.live/zdvk works.

It looks like there's probably a documentation need here to help users understand this use case.

Implementing data-flow is a long-term enhancement.

[2020-06-04 23:28] nbrahms commented on #856
Hi @ievans . Thanks for the bug report. FYI this appears to be a duplicate of #443 . I'm going to close it as such. Please respond and reopen with a comment if I misunderstand this ticket.

[2020-06-04 23:28] #856 closed, assigned to nobody

[2020-06-04 23:39] nbrahms commented on #905
This looks to be a duplicate issue with #906. Since we've started work on that issue, I'll close this one in it's favor.

Please reopen with a comment if this closure is an error.

[2020-06-04 23:39] #905 closed, assigned to nobody

[2020-06-04 23:45] nbrahms commented on #839
@brendongo Can you add reproduction info?

I ran `semgrep -e '$X==$X' --lang js .` on the root of `solidity-workshop` as of commit `0c0ad9759` using version 0.8.1, with no errors.

[2020-06-05 01:21] #906 closed, assigned to mjambon

[2020-06-05 01:24] ievans commented on #191
Confirmed this is fixed in 0.9.0 or earlier! https://semgrep.live/ZqvA

Thanks for the prod @dlukeomalley . Closing.

[2020-06-05 01:24] #191 closed

[2020-06-05 01:25] ievans commented on #634
@dlukeomalley thanks for the flag. I unassigned. @rcoh might be the right person to do this, but TBH I'm not sure it's a big priority right now.

[2020-06-05 07:16] andersk opened #923 "Infinite loop on parameter that shadows a name in its own type"
This case, reduced from `zulip/zerver/lib/email_mirror.py`, causes `semgrep` to spin in an infinite loop:

https://semgrep.live/GdeG

Pattern:
[code]

Code:
[code]

[2020-06-05 07:16] ievans commented on #923
Oof. Thanks for the bug report @andersk!

[2020-06-05 08:22] andersk opened #924 "Parse error on Unicode identifiers"
This isn’t a priority for my project, but I happened to notice that `semgrep` fails to parse this file with lots of Unicode identifiers in another project:

https://github.com/uber-archive/pyflame/blob/v1.6.7/tests/sleeper_%E3%83%A6%E3%83%8B%E3%82%B3%E3%83%BC%E3%83%89.py

[code]

https://semgrep.live/AbvQ

[2020-06-05 10:16] DrewDennison opened #926 "parse python2 except Exception, e:"
`except Exception, err` fails to parse but is valid python2. Python3 does `except Exception as err` which parses fine https://semgrep.live/WA8o for a minimal repro

https://github.com/dropbox/trapperkeeper/blob/master/trapperkeeper/config.py#L89

[2020-06-05 10:25] DrewDennison commented on #926
@nbrahms can we do a screen recording of you fixing this and add to CONTRIBUTING.md or similar?

[2020-06-05 10:42] DrewDennison opened #927 "don't vomit internal debugging messages without `--verbose`"
[code]

is very confusing

[2020-06-05 13:05] mschwager commented on #777
Closing out after a conversation with @nbrahms. Looks like this was fixed per the above two comments.

[2020-06-05 13:05] #777 closed, assigned to mschwager

[2020-06-05 15:00] #866 closed, assigned to nbrahms

[2020-06-05 15:01] nbrahms commented on #866
Implemented in 0.10.

Note that you'll need to specify an import statement here:
[code]

[2020-06-05 15:17] mschwager commented on #873
Similar, or same as #927?

[2020-06-05 16:01] nbrahms opened #931 "Ensure CI time for this repo <= 10 min"
Long CI times make development take longer... let's ensure that our CI completes in under 10 minutes under normal conditions.

[2020-06-05 16:31] dlukeomalley commented on #927
Thank you for filing. This is a follow-up I missed filing from last week.

[2020-06-05 16:34] dlukeomalley commented on #927
@DrewDennison @brendongo Might we include this in 0.10 rather than 0.11? It has an outsized negative impact during demos and use (looks concerning, is confusing, says "bad"). Ditto for #873.

[2020-06-05 16:36] dlukeomalley commented on #924
Thank you for filing @andersk.

[2020-06-05 16:44] DrewDennison commented on #931
I think we can move the parse test suite to 1) nightly with slack notify on failure and 2) if a change to `pfff` is in the PR then run?

[2020-06-05 16:50] #593 closed, assigned to aryx

[2020-06-05 16:50] ievans commented on #806
Closing this @mschwager per discussion as it's intended behavior for now.

[2020-06-05 16:50] #806 closed, assigned to nobody

[2020-06-05 16:52] dlukeomalley commented on #880
We've opted to just make Semgrep fast! 🚀

[2020-06-05 16:52] #880 closed, assigned to nobody

[2020-06-05 16:52] ievans commented on #706
cc @brendongo will your work fix this soon?

[2020-06-05 16:53] brendongo commented on #839
https://github.com/returntocorp/semgrep/pull/886/files

Looks like this issue can be closed :D

[2020-06-05 16:53] #839 closed, assigned to nbrahms, brendongo

[2020-06-05 16:55] dlukeomalley commented on #789
@aryx May I close this ticket or is work ongoing?

Biasing towards action and closing. Please reopen with more details if still relevant!

[2020-06-05 16:55] #789 closed, assigned to aryx

[2020-06-05 16:55] ievans commented on #577
It looks like as of 0.9.0, the original report is fixed, but now we don't flag when the bodies are actually equivalent: https://semgrep.live/zdkk

[2020-06-05 16:56] ievans commented on #578
Confirmed fixed in 0.9.0 or earlier https://semgrep.live/pKlk

[2020-06-05 16:56] #578 closed, assigned to nbrahms

[2020-06-05 16:58] ievans commented on #412
The biggest problem I see with this is that the combination of semgrep install + config files is no longer hermetically sealed: you now need a way to track dependencies outside of the config file, which is kind of a pain. Until we see more users asking for this, I would vote to close cc @DrewDennison

[2020-06-05 18:12] ievans commented on #873
Different code paths (one is Java, the other Javascript) AFAICT

[2020-06-05 20:13] mschwager opened #935 "Document using semgrep in common CI systems"
I think we can just ape something like this: https://github.com/dlint-py/dlint/tree/master/docs#how-can-i-integrate-dlint-into-xyz

[2020-06-05 20:27] ievans commented on #935
Yes -- we also talked today about mirroring / putting this in a blog post so that it has better SEO

[2020-06-05 20:56] #903 closed, assigned to mschwager

[2020-06-05 22:24] #926 closed, assigned to nobody

[2020-06-05 23:14] #873 closed, assigned to nobody

[2020-06-05 23:14] #927 closed, assigned to nobody

[2020-06-06 00:10] minusworld opened #938 "Match Python Annotations with metavariables"
**Is your feature request related to a problem? Please describe.**
I'd like to match Python annotations with metavariables. Like this: https://semgrep.live/Ew5E.

It looks like the ASTs are pretty close but that the metavariable isn't applied?

[2020-06-08 06:52] DrewDennison opened #941 "$Y = {$X: "..."}; matches too many things"
It should only match line 1 in
https://semgrep.live/BYL6

not lines 3 and 5.

[code]

[2020-06-08 17:51] DrewDennison commented on #917
seems low pri to me

[2020-06-08 19:08] #935 closed, assigned to mschwager

[2020-06-08 20:04] minusworld opened #943 "Communicate to user that semgrep CLI is scanning files."

[2020-06-08 20:05] minusworld opened #944 "Communicate to user which check pack or registry selection is being used."

[2020-06-08 20:50] brendongo commented on #875
Closed by https://github.com/returntocorp/semgrep/pull/911

[2020-06-08 20:50] #875 closed, assigned to brendongo

[2020-06-08 22:11] andersk opened #945 "Fails to parse triple-quoted f-string with internal quote"
Semgrep 0.9.0 fails to parse this valid Python:

[code]

https://semgrep.live/pKkd

[2020-06-08 22:17] andersk commented on #945
And there’s what seems to be a different error without the internal quote:

[code]

[code]

https://semgrep.live/2ZRj

[2020-06-09 00:27] rcoh commented on #746
I'm going to close this for `semgrep` -- all remaining work is in semgrep.live cc @DrewDennison @ievans

[2020-06-09 06:22] andersk commented on #945
Also a multi-line triple-quoted f-string:

[code]

https://semgrep.live/10Gl

[2020-06-09 12:36] DrewDennison commented on #746
@rcoh is this true if `--strict` is passed in? It wasn't last time I checked

[2020-06-09 12:50] #945 closed, assigned to nobody

[2020-06-09 13:43] #443 closed, assigned to aryx, mjambon

[2020-06-09 13:48] aryx commented on #443
Thx Martin!

[2020-06-09 13:59] aryx commented on #941
It's because a field definition is considered the same than a variable definition.
{x: 1, y: 2} is transformed internally as   { x = 1, y = 2 }

[2020-06-09 14:01] aryx commented on #941
In the same way, methods and definitions are both converted to a common FuncDef.

[2020-06-09 14:05] aryx commented on #923
It's a bug in the Naming_AST.ml phase.
Looking.

[2020-06-09 14:06] aryx commented on #941
I'll try to add a FieldDef in addition to the existing VarDef to make the difference.
We might get regressions though in other test files.

[2020-06-09 18:28] ievans commented on #746
#948 fixes this for code, but it is still a problem for the patterns:

[code]

[2020-06-09 18:49] #831 closed, assigned to brendongo

[2020-06-09 18:58] rcoh commented on #746
yeah, I'll have it fixed for patterns today. I thought the issue was just for code.

[2020-06-09 19:03] ievans commented on #944
A desirable behavior is also to provide URL links to the registry from the command line

[2020-06-09 19:17] dlukeomalley opened #950 "Relax Python 3.8 requirement"
We've had a few complaints and comments about the initial Semgrep installation via Brew taking a long time because of Semgrep's Python 3.8 requirement. For users who are on 3.6/3.7, download time is primarily spent here. From one user and supporter, they said:

I'd like to investigate what it would take to reduce our Python requirement and remove this part of the download process.

[2020-06-09 20:07] #923 closed, assigned to aryx

[2020-06-09 20:13] rcoh commented on #950
wow. OK, I thought I needed to specify a tagged Python version with brew...I'll look into it.

[2020-06-09 20:20] dlukeomalley commented on #950
@rcoh This isn't an absolute deal breaker. If it looks like it'll be extensive work let's just close this ticket as `wont-fix`. If it's quick (1-2 hours?) let's try to knock it out. @DrewDennison may have more context than I.

[2020-06-09 22:01] dlukeomalley opened #952 "Semgrep fails with "circular import" error"
**Describe the bug**
When running within `incubator-superset`'s `superset` directory, the following error is thrown:

[code]

**To Reproduce**
[code]

**Environment**
If not using semgrep.live: are you running off docker, an official binary, a local build?

Mac OSX, Semgrep 0.9.0

[2020-06-10 00:57] rcoh commented on #950
Fixed here: https://github.com/returntocorp/homebrew-semgrep/pull/22

It's worth noting that _every_ recipe in brew-core names Python 3.8 explicitly so I think they must have done that for a reason.

[2020-06-10 01:01] dlukeomalley commented on #950
For that reason should we avoid this change?

On Tue, Jun 09, 2020 at 5:57 PM, Russell Cohen < notifications@github.com > wrote:

[2020-06-10 01:07] rcoh commented on #950
it's fine for our tap, but is unlikely to be accepted into brew-core. They are doing it so they can safely upgrade the default version for brew-python to 3.8 on a formula by formula basis, IIRC

[2020-06-10 03:05] dlukeomalley opened #959 "Semgrep matches appear off-by-one"
I've noticed in presentations and demos, both locally in the CLI and on semgrep.live, that the trailing `)` is often excluded in matches.

See https://semgrep.live/8GRj

![image](https://user-images.githubusercontent.com/605906/84222434-6c756e00-aa8c-11ea-9f51-8da467515b0b.png)

Semgrep 0.9

[2020-06-10 05:50] underyx opened #960 "Semgrep prints "you forgot to mount the current directory in Docker" even though it's mounted with docker-compose"
_Originally posted by @SarayuR in https://github.com/returntocorp/semgrep/pull/548#issuecomment-641736537_

Could able to run Semgrep successfully in my local.
Built Semgrep image using the Dockerfile available in develop branch, it errored out while opening it in interactive terminal mode of a Docker container. I did mount the current directory but still got below error :

you are running semgrep

[2020-06-10 05:52] underyx commented on #960
@SarayuR could you share the docker-compose.yml file's contents? The mount might be to the wrong directory. We expect to see it at `/home/repo/`, and we print the error message you got if that directory is empty.

[2020-06-10 06:57] #941 closed, assigned to aryx

[2020-06-10 07:33] aryx commented on #690
The main issue is that '...' is currently not allowed inside for(...).
I'll add support for it.

[2020-06-10 11:50] aryx commented on #690
Should work now!

[2020-06-10 11:50] #690 closed, assigned to aryx

[2020-06-10 12:36] #820 closed, assigned to aryx

[2020-06-10 13:48] #876 closed, assigned to aryx

[2020-06-10 16:20] aryx commented on #959
it's because parenthesis for Calls are not in the generic AST (because some languages such
as OCaml or even Ruby do not require them)

[2020-06-10 16:21] aryx commented on #959
maybe we should add them in the generic AST yhen

[2020-06-10 16:51] DrewDennison commented on #950
ah then I think we should just tell folks to do `brew install semgrep` since we're down to 3 hours between release. i.e. deprecate the tap. Let's stick with 3.8 if that's the new standard in core

[2020-06-10 18:11] #828 closed, assigned to mschwager

[2020-06-10 18:16] dlukeomalley commented on #959
@aryx Is that related to some of the autofix bugs like #841?

[2020-06-10 18:23] ievans opened #966 "ParseErrors are not clearly explained when running semgrep with checks that don't match the language on a specific file"
passing a specific file (.py) with (—config=r2c) is going to have nasty lexical bugs because we forcibly try to run the rules that can’t parse those files

[code]

[2020-06-10 18:43] brendongo commented on #952
I can't reproduce this locally with 0.9.0 or 0.10.0. How was your semgrep installed?

[2020-06-10 21:18] SarayuR commented on #960
Using COPY in Dockerfile to mount the current directory to /home/repo/ worked as opposed to mounting it from docker-compose file. But here are the contents of my docker-compose.yml file :

version: '3'
services:
  semgrep:
    image: semgrep:latest
    ports:
      - 5221:5221
    volumes:
      - ${PWD}:/home/repo

Also, can you direct me to OWASP rule coverage to run on Java projects ? The ones

[2020-06-11 03:23] rtpg commented on #841
@DrewDennison if there ends up being even a WIP branch that potentially fixes this, I'm willing to try running out to confirm that it doesn't introduce any issues. Please freel free to ping me

[2020-06-11 15:09] Enr1g opened #973 "Support semantic equivalence between keyword arguments and positional arguments"
Expected rule `func(x=1, y=2)` to match `func(1, 2)` for the function with the following signature:

[code]

Live example: https://semgrep.dev/s/Nb1n

[2020-06-11 16:35] dlukeomalley commented on #973
Hi @Enr1g, thanks for filing this ticket. My understanding is that because you're trying to match positional arguments (rather than keyword arguments), the pattern `func(1, 2)` is what you likely want: https://semgrep.live/wd3N

If you used the pattern `func(x=1, y=2)`, Semgrep would look for calls to `func` with *named* keyword arguments `x` and `y`, like this `boto3` example: https://semgrep.liv

[2020-06-11 17:16] mschwager opened #974 "Add Javascript import metavariable usage"
It looks like pure import detection works: https://semgrep.live/Zq4x?version=develop

However, you cannot re-use an import metavariable from what I can tell: https://semgrep.live/nJKg?version=develop

There's been an external ask to support this behavior.

[2020-06-11 17:34] ievans commented on #974
Is this related / dup of https://github.com/returntocorp/semgrep/issues/285?

[2020-06-11 17:55] coreyferguson commented on #974
Similarly, this pattern cannot be parsed, although something like it should work. The intent: I'd like to know if something is imported and then USED.

[code]

https://semgrep.live/7KYk

[2020-06-11 18:02] mschwager commented on #974
Ahhh, yes, looks like it. #285 covers additional use-case's as well :+1:

[2020-06-11 18:54] Enr1g commented on #973
Is this an intended behavior? Let's consider dummy API to fetch resource:

[code]

Let's also imagine that in the analyzed code base this API is used in different yet equivalent ways:

[code]

How can I match both with one rule? Or there is no canonical way to do it?

[2020-06-11 19:12] mschwager opened #975 "Import inconsistencies between languages"
[code]

Consider the following Python code:

[code]

When using a pattern looking for imports we get the following results:

[code]

Here the `$X` metavariable content is `os`. This doesn't feel correct looking at the code, I'd expect it to be `os.path.join`. An argument could be made for this behavior, but it doesn't even seem consistent across languages. For example, consider the following Java

[2020-06-11 19:18] mschwager commented on #327
Reopening since this never got completed and is a worthwhile feature IMO.

[2020-06-11 19:59] #811 closed, assigned to aryx

[2020-06-11 20:45] ievans commented on #810
@InitRoot following up here: we actually shipped a bunch of perf improvements in v0.10 that makes this no longer timeout, and we updated the logic so that timeouts are properly reported as errors.

[2020-06-11 21:02] brendongo opened #978 "Address semgrep-core timeouts"
With https://github.com/returntocorp/semgrep/commit/19513df850d03051349f31e34931818f12379e44 repos that are timing out are now surfacing the error. https://github.com/returntocorp/semgrep/pull/977 shows which of the test repos are timing out. Should investigate these timeouts.

[2020-06-11 21:05] ievans commented on #952
Also can't reproduce this with 0.10.1. Closing for now.

[2020-06-11 21:05] #952 closed, assigned to nobody

[2020-06-11 21:09] brendongo commented on #978
Quick glance looks like we are timing out on large minified js files.

[2020-06-11 21:18] andersk opened #979 "Python f"..." fails to match f-strings with interpolated expressions"
(Follow up to #654.)

Currently (https://semgrep.live/Rey8),

* `f"..."` matches `f"zero"` but not `f"one {a}"`, `f"two {a} {b}"`,
* `f"...{...}..."` matches `f"one"` but not `f"zero"`, `f"two {a} {b}"`,
* `f"...{...}...{...}..."` matches `f"two {a} {b}"` but not `f"zero"`, `f"one {a}"`,

and so on. There still seems to be no way to write an pattern that matches all f-strings; you have to specify

[2020-06-11 21:25] ievans opened #980 "Fatal Error: Ast_js_build.TodoConstruct("ParamPattern:TODO: PatArr pattern not handled", _)"
happens with some javascript files, see example case at: https://semgrep.live/Abyw

[2020-06-11 21:53] dlukeomalley commented on #979
Queued up. Thank you @andersk

[2020-06-11 22:49] ievans commented on #973
@Enr1g indeed, the examples you've provided are semantically equivalent. There is experimental support for allowing you to directly program more _equivalences_ into the semgrep engine. You can use this to say "this is equivalent to that" and make the patterns more concise. In this case:

[code]
https://semgrep.live/4blL

However I agree with you this is a generally useful semantic pattern that we'

[2020-06-12 12:50] aryx commented on #960
yep ran into that too. I had to use /home/repo or unset SEMGREP_IN_DOCKER to make it work.

[2020-06-12 14:32] aryx commented on #974
@coreyferguson my fix should help for your pattern, but you don't need the ..., $X, ...
just import { $X } from 'foo' will handle all the variations.

[2020-06-12 14:33] aryx commented on #974
I've added an example in the PR linked above PR #986

[2020-06-12 14:36] aryx commented on #638
What do you want $X to bind to? If it's one of the module string, fine, but then you will not be able to reuse the same metavariable later.
Or you just want to check whether there's an import directive? In that case maybe import (...) would be better?

[2020-06-12 14:38] aryx commented on #975
Yep, in both case they should really match the entire path.

[2020-06-12 14:47] rcoh opened #988 "Add test coverage for `--debugging-json`"
Currently this feature is completely untested.

[2020-06-12 15:23] mschwager commented on #960
Both building the Docker image locally, and using the existing `returntocorp/semgrep:latest` work for me. Can you try using the Docker Hub version? Here's what I tried:

[code]

[code]

[code]

[code]

[code]

[code]

Building the Docker image locally using the `Dockerfile` (note, not `Dockerfile.dev`) also works for me:

[code]

[code]

[code]

Can you confirm that neither of these works for you?

[2020-06-12 15:45] dee-see opened #990 "semgrep.live bug report - Java parsing fails because of lower case in class name"
https://semgrep.live/BYy7

This fails to parse:
[code]

This works:
[code]

The only difference is the PascalCase on `OtherTest`, which is Java standard but I'm running this on some ugly code. :)

[2020-06-12 16:39] #950 closed, assigned to rcoh

[2020-06-12 16:52] ievans opened #991 ""at least one rule needs to execute arbitrary code" not printed out till after run is complete"
current behavior:
[code]

expected behavior:
I would expect that this message be printed earlier, and that it be reworded to say "if you want to enable these rules..." rather than "if you want to continue"

$ semgrep --version
0.10.1

[2020-06-12 17:16] ievans opened #992 "Java parsing bug for final static int"
reproduction: https://semgrep.live/Dbyq

[2020-06-12 17:17] ievans opened #993 "Java parser fails on `func(Class<T> cls, Callback[] arra) {`"
reproduction: https://semgrep.live/WAWZ

also on:
[code]
https://semgrep.live/0o8q?version=develop

[2020-06-12 17:21] ievans opened #994 "python2 parser bug: lambda (k,v)"
reproduction: https://semgrep.live/KxkY

this line is not valid python3, but it is valid python2:
```return dict(map(lambda (k,v): (k,self.format(v)), val.iteritems()))```

[2020-06-12 17:57] ievans commented on #990
+1 to this issue, I noticed it in a large Java repo I started work on today as well.

[2020-06-12 19:03] JBthePenguin commented on #994
I'm not sure if that's what you really want, but for python3 this should work.
[code]

[2020-06-12 19:36] dee-see opened #997 "semgrep.live bug report - Java parser does not support unicode characters"
https://semgrep.live/9Ave

I added this line to the sample

[code]

It works with an ascii character.

[2020-06-12 19:36] dee-see commented on #997
There is [this other issue](https://github.com/returntocorp/semgrep/issues/924) about unicode but it seemed different enough to open another one

[2020-06-12 21:14] dlukeomalley commented on #931
Chatted with @DrewDennison and closing for now. If this issue persists or people find it adds friction I trust that it'll be resolved with/without a ticket. Thank you for filing!

[2020-06-12 21:14] #931 closed, assigned to nobody

[2020-06-12 21:39] dlukeomalley commented on #990
This is queued up for work. Thank you for filing @dee-see.

[2020-06-12 23:11] mjambon commented on #900
Here's a list of whitelisting methods I'm aware of:

1. excluding paths or rules from the command line.
2. using `.semgrepignore` files that would be similar to `.gitignore` files. They're familiar and local to a subfolder. It's nice to be able to rename or move a folder without having to update the semgrepignore paths. Possible extension: Instead of excluding whole files from semgrep scanning, it

[2020-06-13 01:07] dlukeomalley commented on #746
Has this issue been fixed? I've seen quite a bit of activity and believe this ticket is at worst "in progress". 🏡

[2020-06-13 01:16] rcoh commented on #746
#998 gets pretty close

[2020-06-13 01:50] #944 closed, assigned to minusworld

[2020-06-13 02:44] andersk opened #1003 "Matching ... inside Python dict and set literals"
Currently,

* `{$X}` matches only a one-element dict or one-element set,
* `{...}` matches only a one-element dict or one-element set,
* `{$X, ...}` matches only a two-element dict or two-element set,
* `{..., ...}` matches only a two-element dict or two-element set,
* `{$X, ..., ...}` matches only a three-element dict or three-element set,
* `{..., ..., ...}` matches only a three-element dict or

[2020-06-13 03:27] inkz opened #1005 "JavaScript: Tracking destructured object's property inside function"
What would be the way to track destructured object's property inside function?

example:
[code]

trying to track `foo` from the example I came up with several patterns but none of them works:

link: https://semgrep.live/3qBG

[code]

[code]

[code]

[code]

[code]

[2020-06-13 05:39] inkz opened #1006 "JavaScript: different behaviour for deep expression operator between using `pattern-inside` and `pattern`"
I notice different behaviour for deep expression operator between using it with `pattern-inside` and `pattern`

link: https://semgrep.live/4bDL
while trying to track function argument parameter inside function
example code:

[code]

if using `pattern-inside` function it does not work:

[code]

but using just `pattern` with function inside of it works:
[code]

as a user would expect behaviour to be

[2020-06-13 06:37] inkz opened #1007 "[JavaScript] function ...(...) { ... } or abstracting away named or anonymous functions"
There is a confusion on how patterns for named and unnamed functions for JavaScript work:

when using `pattern: function (...) {...}` it sometimes catches named functions
link: https://semgrep.live/PeY3

while using `pattern: function $NAME (...) {...}` does not catch all named functions possible
link: https://semgrep.live/JDgR

as a researcher I would like to have "catch em all" pattern, whether

[2020-06-13 11:31] #974 closed, assigned to nobody

[2020-06-13 15:39] dlukeomalley commented on #746
Sweet. I associated this ticket with #998 and we can close it out once that merges.

[2020-06-13 20:37] ghbren opened #1008 "Semgrep cannot parse @ in javascript"
**Describe the bug**
Semgrep cannot parse @ in javascript

**To Reproduce**

See https://semgrep.live/5rLK

**Expected behavior**

no parser error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
If not using semgrep.live: are you running off docker, an official binary, a local build?

[2020-06-13 20:55] ghbren opened #1009 "JavaScript Lexical error: WIERD end of file in regexp"
**Describe the bug**
Lexical error: WIERD end of file in regexp

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.live:
~https://semgrep.live/Gdgz~ https://semgrep.live/QrOP

**Expected behavior**
no lexical error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
If not using semgrep.live: are you running off docker, a

[2020-06-13 21:09] ghbren opened #1010 "Syntax Error on Javascript <>"
**Describe the bug**
Syntax Error on Javascript <>

**To Reproduce**
https://semgrep.live/Regv

**Expected behavior**
no syntax error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
If not using semgrep.live: are you running off docker, an official binary, a local build?

[2020-06-13 21:12] ghbren opened #1011 "JavaScript Lexical error: unrecognised symbol, in token rule"
**Describe the bug**
Lexical error: unrecognised symbol, in token rule:

**To Reproduce**
https://semgrep.live/Ab50

**Expected behavior**
no lexical error

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment**
If not using semgrep.live: are you running off docker, an official binary, a local build?

[2020-06-13 21:17] ghbren opened #1012 "Parse 'declare type x = { stuff } ' typed Javascript declarations"
https://semgrep.live/BYG7

syntax error

[2020-06-13 21:23] ghbren opened #1013 "Parse typed javascript type declaration (Flow or Typescript)"
https://semgrep.live/DbAq

[2020-06-13 21:41] ghbren opened #1014 "parse typed arrows"
https://semgrep.live/WAjZ

[2020-06-13 21:42] ghbren opened #1015 "Parse discrimated unions (ADTs) Javascript type declarations, with string cases"
https://semgrep.live/0oGq

[2020-06-13 21:44] ghbren opened #1016 "parsed type declarations for records in typed javascript (Flow?)"
https://semgrep.live/KxgY

[2020-06-13 21:45] ghbren opened #1017 "parse Javascript generics using <?Foo syntax (Flow? Typescript?)"
https://semgrep.live/qN9b

[2020-06-14 05:37] andersk opened #1018 "Should ignore extra sets of parentheses"
Semgrep seems to always treat `foo` and `(foo)` as different subexpressions. But when they result in the same AST, they should be matched in the same way.

For example, if I lint against `cursor.execute("..." % ...)` to avoid SQL injections, it shouldn’t be possible to accidentally evade this check just by adding unnecessary parentheses:

[code]

https://semgrep.live/YG05

[2020-06-14 09:33] kwisatz commented on #1011
Same issue here when using non-ASCII characters in code, such as for instance a unicode lambda symbol:

[code]

Resulting exception:

[code]

[2020-06-14 16:56] dan5382 opened #1019 "Pack headers (example: https://semgrep.live/p/django)"
**Describe the bug**
We added the add to ci button here but we never designed it or aligned it to anything. So we just need to make some tweaks there, both in language and alignment.

**To Reproduce**
Land on the page

**Expected behavior**
We want to see the actions all laid out nicely on the right of the header.

**Screenshots**
![image](https://user-images.githubusercontent.com/2009327/84599182

[2020-06-14 20:37] aryx commented on #900
Yep want that feature too!
Note that regarding the comments for each language, we may not have to handle all kind of
comments, regexp sometimes can be good an universal :) just looking for semgrep-disable: <id>
in the line before should be enough and work immediately for all languages.

[2020-06-15 14:07] mschwager commented on #1003
This is somewhat similar to #744.

From that issue I'd like to be able to match things like:

[code]

And this will grab all `dict`s (or objects in Javascript or Golang) that have a `path` key inside the `widgets` list. As mentioned above, we could also specify a pattern like `{ ..., path: $PATH, ... }` that would simply match all `dict`s or objects in the code with a `path` key.

I think it would

[2020-06-15 19:28] ievans commented on #1017
Hi @ghbren : this looks like it might be typescript, not javascript?

[code]

[2020-06-15 19:37] DrewDennison opened #1023 "Regression in parse error exit code in 0.10"
**Describe the bug**
In 0.9.0 when there is a bad pattern e.g. `$` it exits with exit code `4`. In 0.10.x, it exits with `2`

If not using semgrep.live: are you running off docker, an official binary, a local build?
official linux binary and docker containers. Not that I hacked around this for .live so it won't show up there.

[2020-06-15 19:38] DrewDennison commented on #1023
Can we add exit code to our regression test suite?

[2020-06-15 19:47] DrewDennison commented on #1023
regression seen in https://github.com/coinbase/salus/commit/282ddf940c5a24bb6f54ba132cd3fc64489aee31#diff-a3cee78d09fa30467a918e93fbbf29d4R602

[2020-06-15 19:52] mschwager commented on #1006
This broke because of recent metavariable matching changes. Prior to #947, metavariable matching was broken due to always using the string literal `"md5sum"` instead of grabbing the `md5sum` value from a `dict`: https://github.com/returntocorp/semgrep/pull/947/files#diff-dcf44252140037801168b8192c45e95cR40. After this change metavariable matching logic started working correctly. The issue here is

[2020-06-16 04:41] ajinabraham opened #1026 "JavaScript, consider uninitialised variables as var"
**Is your feature request related to a problem? Please describe.**

Does it make sense to consider unintialized variables as `var/const/let` type in semgrep rule for JavaScript? I don't know if doing so will affect a rule looking for globally scoped var.

Based on : https://github.com/ajinabraham/nodejsscan/issues/177

[2020-06-16 09:55] aryx commented on #924
This should be fixed by https://github.com/returntocorp/pfff/pull/170

[2020-06-16 11:46] aryx commented on #997
This should work with the next release of semgrep.
Thx for the bug report!

[2020-06-16 11:46] #997 closed, assigned to mjambon

[2020-06-16 11:46] aryx commented on #924
This should work with the next release of semgrep.
Thx for the bug report!

[2020-06-16 11:46] #924 closed, assigned to nobody

[2020-06-16 14:19] aryx commented on #1011
this should be fixed by https://github.com/returntocorp/semgrep/pull/1028

[2020-06-16 14:22] aryx commented on #1008
This is valid Javascript?
The spec does not mention that @ is a valid identifier start.
See https://tc39.es/ecma262/#sec-names-and-keywords

[2020-06-16 14:24] aryx commented on #1009
Probably a bug in the parsing of JSX. It thinks it's a regexp (//) when it's probably a tag.

[2020-06-16 14:25] aryx commented on #1010
What does this construct mean? Is it a react JSX thing?
To which HTML element it corresponds to?

[2020-06-16 14:27] aryx commented on #1012
Not a Javascript issue indeed. Semgrep does not currently support typescript (we're working on it, but it will take a few weeks).

[2020-06-16 16:42] #878 closed, assigned to brendongo

[2020-06-16 16:51] #908 closed, assigned to aryx

[2020-06-16 16:55] ghbren commented on #1012
We have some .js code that uses `declare type`.  It appears to be valid with the javascript flow library.   https://flow.org/en/docs/libdefs/creation/
Is this something you can support?

[2020-06-16 17:11] #900 closed, assigned to mschwager

[2020-06-16 17:51] ghbren commented on #1008
This [page](https://stackoverfow.com/questions/31821084/what-does-the-at-symbol-do-in-es6-javascript-ecmascript-2015) explains the @.

Is this something you can support?

[2020-06-16 18:05] #1023 closed, assigned to rcoh

[2020-06-16 18:13] rcoh commented on #1023
do we have documented exit code semantics anywhere? Eg. should the exit code be 4 if the rule is incorrectly structured?

[2020-06-16 18:49] aryx commented on #900
Note a huge fan of "nosem". What does "noqa" means btw?
Otherwise great! thx!

[2020-06-16 18:57] ghbren commented on #1010
I'm actually not sure exactly what `return (<>)` means, but it looks like react.
Do you plan to support react code, like the examples here https://www.w3schools.com/whatis/whatis_react.asp?
We have other return statements similar to the ones from this link.

[2020-06-16 19:00] mschwager commented on #900
`noqa` comes from `flake8`, which I believe stands for "no QA" like "no [quality assurance](https://en.wikipedia.org/wiki/Quality_assurance)." But this is also a somewhat familiar trend as `bandit` uses `nosec` too. We could follow `eslint`'s lead with something like `semgrep-disable`, which is much more descriptive but obviously misses brevity :man_shrugging: (although with rule names like `pytho

[2020-06-16 19:04] #943 closed, assigned to minusworld

[2020-06-16 19:35] mschwager opened #1032 "Find a better home for semgrep documentation"
Currently `semgrep` documentation lives as Markdown files in the `docs/` folder. We have a GitBook instance here: https://docs.semgrep.dev/, but it's unmaintained. As seen in #1004, we're starting to have some growing pains with simple Markdown files in a directory. Let's find a good documentation solution.

Some open questions:

- Where will it live? Github? GitBooks? https://r2c.dev/? Readthedoc

[2020-06-16 21:49] brendongo commented on #966
Reduce surface by doing some best effort matching in target_manager https://github.com/returntocorp/semgrep/pull/1036

[2020-06-16 22:35] ievans opened #1037 "semgrep-core: unknown exception: End_of_file"
(using `develop` image at `14deabbf47ae`)

eclipse.platform.swt (master) [1]> time docker run --rm -v "$PWD:/home/repo" returntocorp/semgrep:develop --config=https://semgrep.live/p/findsecbugs
using config from https://semgrep.live/p/findsecbugs. Visit https://semgrep.live/registry to see all public rules.
running 43 rules.....
non-zero return code while invoking semgrep-core:
	an internal error o

[2020-06-16 22:38] dlukeomalley commented on #1037
Related to #312? Do you have a semgrep.live link for a repo?

[2020-06-16 22:41] ievans commented on #1037
Not related. No semgrep.live link as I don't know what file in this (giant) repo causes it. Will need OCaml backtraces to do so.

[2020-06-16 23:15] #678 closed, assigned to nobody

[2020-06-16 23:15] rcoh commented on #678
Closed via #1033

[2020-06-16 23:16] clintgibler commented on #1032
* I strongly vote for Markdown.
* I think we should do something that looks nice and is easy to setup, maintain, and add content to.
* I don't think we should spend too much time on this decision, we can improve it later.
* Not sure about the final hierarchy, but my first thought is there are at least 2 "buckets" of types of content:
  * Core, authoritative docs that list everything you can do in

[2020-06-16 23:57] ievans commented on #1037
Related to https://github.com/returntocorp/semgrep/issues/1009

[2020-06-17 02:31] ajinabraham opened #1040 "Failure on complex JS destructuring patterns (objects in catch, array with default values)"
Live example: https://semgrep.live/zd70/?version=develop

Semgrep can't parse these JS:
https://github.com/ajinabraham/nodejsscan/issues/179

[2020-06-17 02:40] ajinabraham opened #1041 "Semgrep Python API ability to suppress parse errors"
**Is your feature request related to a problem? Please describe.**
I am using semgrep python API in njsscan. Semgrep prints parse errors and other exception to output. Can this be suppressed? Am I missing a flag or option to make this less verbose? Ideally I would like to collect all of such issues in a variable which I can later decide weather to print or not.

Related issues: https://github.com/

[2020-06-17 03:20] dlukeomalley commented on #1041
@ajinabraham Thanks for filing. Adding @brendongo and @DrewDennison who I think will have thoughts given https://github.com/returntocorp/semgrep/pull/1034.

[2020-06-17 03:21] dlukeomalley commented on #1009
@aryx @ievans also mentioned here for a reactjs repository: https://github.com/ajinabraham/njsscan/issues/9#issuecomment-644723240

[2020-06-17 03:33] dlukeomalley commented on #1040
@aryx @ievans Thoughts on these parse failures?

[2020-06-17 03:34] dlukeomalley commented on #1026
@aryx @ievans @minusworld Thoughts on how to handle uninitialized variables or how to tweak the pattern here to catch @ajinabraham's case?

[2020-06-17 06:54] #1011 closed, assigned to nobody

[2020-06-17 08:34] #1018 closed, assigned to aryx

[2020-06-17 08:36] aryx commented on #1008
Not sure why but the link does not work for me. Stack overflow seems down from where I live. Can someone make a screenshot of its content?

[2020-06-17 08:37] aryx commented on #1008
oh, found the issue, was missing a 'l' in stackoverflow in the URL. Weird though that I was
getting a huge timeout on it.

[2020-06-17 13:20] mschwager opened #1045 "Add 'nosem' tests for all supported languages"
We currently have Javascript tests for this functionality, but let's include tests for C, Go, Python, and Java as well.

[2020-06-17 13:37] #1003 closed, assigned to aryx

[2020-06-17 13:40] aryx commented on #973
The problem is that currently semgrep is local to a file and the definition of func may be in another file in which case we don't know what is the actual position of x and y.
We could do something indeed if the definition is in the same file.

[2020-06-17 13:42] aryx commented on #841
Yep, it is more difficult than expected. Hopefully we can get a fix in the next few weeks.

[2020-06-17 13:43] aryx commented on #959
Yes it's related

[2020-06-17 13:54] aryx commented on #1040
Yes I think certain Javascript "patterns" (not sure they call that pattern, but it's really the recent pattern-matching ability of Js where you can match object/records/ with also default values) are not yet handled. We parse them, but we don't handle them during the conversion to the generic AST.

[2020-06-17 13:58] aryx commented on #1026
Not sure what you mean. Can you write a semgrep.live example with a certain pattern and the kind of code you would like it to match (with the equivalences the semgrep engine should handle automatically).

[2020-06-17 13:59] aryx commented on #990
Do you have know repo I could test this one @ievans and @dee-see ? just to make sure I don't introduce regressions in other files.

[2020-06-17 14:01] aryx commented on #990
It's just that right now the Java parser uses some heuristics to parse generics, which are ambiguous when using  an LALR(1) parser generator like yacc, and those heuristics assume PascalCase. I can relax the condition, but maybe in code like  if (a < b, b > 3) the a < b, b> could be interpreted as a generic (leading to parse error when encountering the 3).

[2020-06-17 14:02] aryx commented on #990
So I need to relax the condition but add more heuristics to not convert too much cases as generics, hence the need for repo to tests those heuristics (note that tree-sitter-java probably handle better those things in the long-term).

[2020-06-17 14:03] aryx commented on #1008
Ok, found the grammar spec: https://tc39.es/proposal-decorators/
Yes, it's probably something we can handle.

[2020-06-17 14:04] aryx commented on #1012
We could extend the parser to just skip over those 'declare' type declarations. You would not be able to match over this code or express type-related patterns, but we should at least be able to analyze the truly javascript code in the file. Would that work for you?

[2020-06-17 15:37] underyx opened #1047 "Docker run calls without a volume mount fail silently in 0.11.0"
<img width="882" alt="Screenshot 2020-06-17 at 17 36 15" src="https://user-images.githubusercontent.com/1060436/84918581-12465f80-b0c1-11ea-8106-9eb41999a590.png">

**To Reproduce**

`docker run returntocorp/semgrep:0.11.0`

**Expected behavior**

The error message from above should be printed.

[2020-06-17 16:36] mschwager commented on #883
Closing this out - feel free to re-open if the above solution doesn't fit your needs :+1:

[2020-06-17 16:36] #883 closed, assigned to mschwager

[2020-06-17 16:52] minusworld commented on #1026
@ajinabraham Is this the `xss_node.yaml` rule?

If so, I think if the rule is edited to include cases that don't require an intermediate variable initialization it will work here.

Something like
[code]

[2020-06-17 16:59] ajinabraham commented on #1026
Make sense, the `var` is not required for the variables. I can handle this with rule QA.

[2020-06-17 16:59] #1026 closed, assigned to nobody

[2020-06-17 17:42] ievans opened #1048 "Java parse bug: new HashMap <> ();"
`HashMap <Integer, String> hmap = new HashMap <> ();` fails to parse

Reproduction: https://semgrep.live/JDwR

[2020-06-17 18:57] ievans opened #1050 "only show progress bars when running with --config, not --pattern or --debug"

[2020-06-17 19:11] mschwager opened #1051 "Finding suppressed depending on languages specified"
Consider the following Java file:

[code]

Using the following rule we get these results:

[code]

[code]

However, if we add additional `languages` we get a different result:

[code]

[code]

[2020-06-17 19:12] dlukeomalley commented on #1010
@DrewDennison Is this a "flow"ism?

[2020-06-17 19:37] brendongo commented on #1051
Moving java to be the first element in the languages list makes findings appear. Possibly something in semgrep-core only using the first language

[2020-06-17 20:10] mschwager opened #1053 "Consider requiring comment symbol in 'nosem' functionality"
Currently 'nosem' functionality looks for the first line of a finding including " nosem". This yields false positives in situations like:

[code]

When we really only care about situations like:

[code]

One improvement here would be to require a comment character at the beginning of 'nosem' detection. The reason I initially decided against this was to avoid having to keep track of all possible co

[2020-06-17 21:09] ghbren commented on #1012
Sounds good for now, thank you!
Can semgrep print out warnings that these things are skipped?

[2020-06-17 21:29] dlukeomalley opened #1054 "Support local Semgrep config file (like package.json)"
As I further adopt Semgrep into my local and CI/CD pipelines, I find myself wanting to customize further than using `--config` with registry or local files easily allows.

I'd like to define both local and remote Semgrep rules to run on my project. Right now I can do this via multiple invocations of `--config`. This has worked well so far, but now I want a rule from a remote check pack to exclude

[2020-06-17 21:45] brendongo commented on #1041
The code printing out the parse errors should be this line https://github.com/returntocorp/semgrep/blob/v0.10.1/semgrep/semgrep/semgrep_main.py#L275 so as long as you are using the json format output it shouldnt print out parse errors. Though it looks like you are doing that in https://github.com/ajinabraham/libsast/blob/master/libsast/core_sgrep/helpers.py#L13

Is njsscan current released with a

[2020-06-17 21:52] brendongo commented on #1041
Looks like existing libsast might be using 0.9.0 where this undesired behavior still exists. We fixed it in https://github.com/returntocorp/semgrep/pull/936

[2020-06-17 21:52] ajinabraham commented on #1041
I bumped to version 0.10.0, 5 days ago. Are you saying that this issue should not happen if I am on 0.10.0 ?

I can check with user to get his njsscan and libsast version.

[2020-06-17 21:55] brendongo commented on #1041
Yep! Verified using the python API on 0.10.0 and 0.9.0 on a file with a parse error and it prints out a message only on the later

[2020-06-17 21:57] ajinabraham commented on #1041
Awesome, I will ask the users to upgrade deps.

[2020-06-17 21:57] #1041 closed, assigned to nobody

[2020-06-17 22:00] DrewDennison commented on #1010
`return (<>)` is returning the newish [React Fragment Short Syntax](https://reactjs.org/docs/fragments.html#short-syntax)

We definitely plan / do support react and JSX but we might need to update our AST for then it's `<>` and not `<foo>` cc @aryx

[2020-06-17 22:01] #1045 closed, assigned to mschwager

[2020-06-17 22:02] ievans commented on #308
cc @rcoh who is working on this and @clintgibler who filed

[2020-06-17 22:08] dlukeomalley commented on #732
@ievans @aryx Any thoughts on the `var $FOO =` vs. `$FOO = ` equivalences?

[2020-06-17 22:08] dlukeomalley opened #1055 "Autocompleted paths don't work with `--exclude-dir`. e.g. data/ does not work"
If a trailing `/` is excluded in `--exclude-dir`, the ignore does not work. For users who are tab completing paths, the trailing `/` may be included and we should function with it.

CC @minusworld who ran into this issue

[2020-06-17 22:19] brendongo commented on #1055
When running with --exclude-dir on `dir` and `dir/` I get the same behavior on 0.11.0

[2020-06-17 22:23] brendongo commented on #1055
Confirmed that @minusworld likely ran on a previous version of semgrep.

[2020-06-17 22:23] #1055 closed, assigned to brendongo

[2020-06-17 22:49] rcoh commented on #746
Fixed in #1058

[2020-06-17 23:11] rcoh opened #1059 "Support inline semgrep rules"
**Is your feature request related to a problem? Please describe.**
One of the great features rust has is the ability to annotate a function with things like must_use [1] -- it's then a compiler error to call this function without assigning it's return value to a result.
With semgrep, it seems like we have the potential to bring this sort of lint to other languages.
[1] https://doc.rust-lang.org/re

[2020-06-17 23:13] brendongo commented on #1051
Issue is in semgrep-core:

rule.yaml
[code]

[code]

will not show any findings

[2020-06-17 23:20] dlukeomalley opened #1060 "Local CLI slower than semgrep.live/scan"
I ran the same analysis both locally and on semgrep.live/scan and counter intuitively semgrep.live is much faster...

Running the django rule pack on Zulip takes 57s.
Running the django rule pack on Zulip online takes 35s.

[code]

Semgrep scan: https://semgrep.live/scan/6562d0e3-e276-43b0-9f6c-9285c4cd74da

![image](https://user-images.githubusercontent.com/605906/84960418-67c93f00-b0b6-11ea-88b1

[2020-06-18 00:26] brendongo commented on #1060
I think you're reading the timing information wrong? Looks like running it locally for you took 37.784 seconds.

FWIW when I run it locally it takes 15.897 seconds

[2020-06-18 00:40] #746 closed, assigned to rcoh

[2020-06-18 00:42] dlukeomalley commented on #1060
Maybe I did, the wall clock time from a run just now was around 30s. I'll close for now.

[2020-06-18 00:42] #1060 closed, assigned to nobody

[2020-06-18 03:55] aryx commented on #1059
Follow

[2020-06-18 04:24] aryx commented on #732
We already support the equivslence if you use the right part.

Sent from my iPhone

[2020-06-18 05:18] aryx commented on #732
Note that it could be nice in smegreplive to propose a suggestion/warning on the pattern saying they may prefer to use an assign instead of a declaration to match more cases

Sent from my iPhone

[2020-06-18 14:48] #959 closed, assigned to aryx

[2020-06-18 15:42] mschwager commented on #1051
I'm confused, then why does `languages: [java]` work?

[2020-06-18 16:49] brendongo opened #1063 "Clean up --include/exclude and --include-dir/exclude-dir"
After #946 can make CLI flags more consistent with per rule exclude include behavior

[2020-06-18 17:25] dlukeomalley commented on #959
I can't tell you how excited I am for this 🎉 Thank you @aryx !

[2020-06-18 17:34] mjambon opened #1064 "Support optional parens in OCaml function application"
`(f 0) 33` and `f 0 33` should be treated the same.

https://semgrep.live/oqbn

[2020-06-18 19:38] ajinabraham opened #1067 "Cannot write JS rules with `/..../` concatination"
**Describe the bug**
Cannot write a rule to detect concatenation of variable with /.../
https://semgrep.live/zd50?version=develop

Related to https://github.com/returntocorp/semgrep/issues/689 ?

[2020-06-18 19:41] aryx commented on #959
This will pave the way for a correct autofixer and other more good stuff.

[2020-06-18 20:12] #1047 closed, assigned to nobody

[2020-06-18 21:34] #1050 closed, assigned to minusworld

[2020-06-19 03:59] dlukeomalley opened #1071 "Unable to parse pattern with Java field level annotation"
The following pattern cannot parse because of the field level annoation `@Language`.

https://semgrep.live/nJ8b

[2020-06-19 04:08] dlukeomalley opened #1072 "pattern-regex not matching on full code snippet"
I ran into some confusing behavior for `pattern-regex` and don't know if it's user error or a bug:

1. When I search for `Language` I get a match: https://semgrep.live/Ewpo
1. When I search for `@Language` I don’t: https://semgrep.live/7KD4
     1. This appears to be because @ isn't included in the range. Perhaps fixed by #1061?
1. When I search for `Language\(` I get a parse error, even though th

[2020-06-19 13:53] mschwager commented on #1072
I agree, I don't think this is a `pattern-regex` shortcoming. Since the `@` isn't included then `pattern-regex` cannot match it.

Good catch! Note that `"Language\\("` also works: https://semgrep.live/DbXW

YAML treats single and double quotes differently: https://docs.octoprint.org/en/master/configuration/yaml.html#scalars - "Backslashes in single quoted strings do not need to be escaped." Regard

[2020-06-19 14:08] aryx commented on #782
We now support writing patterns directly as { ..., key: value, ... }

[2020-06-19 15:08] #435 closed, assigned to aryx

[2020-06-19 15:08] #1010 closed, assigned to nobody

[2020-06-19 16:10] emjin opened #1076 "Clear box when switching languages"
**Is your feature request related to a problem? Please describe.**
I sometimes get confused when I switch languages but my code stays. Part of me subconsciously expects the code to translate itself to the new language.

**Describe the solution you'd like**
Clear the code box when switching to a language the user hasn't written code for, maybe even include a little stub like "int main() { }".

**De

[2020-06-19 16:27] emjin opened #1077 "Type propagation for go doesn't work when multiple variables are declared in a line"
**Describe the bug**
When variables are declared together (var a, b = 1), only the first one is given the type int.

**To Reproduce**
https://semgrep.live/Kx96?version=develop

**Expected behavior**
Expected all three to be matched

[2020-06-19 19:50] aryx commented on #1009
I think L19 actually contains a real parse error:
{baz ? 'test' : <a href={parentTag}test2</a>}

the <a tag is not finished. there should be a '>' before test2 probably.
Not sure why the error message is not pointing there though.

[2020-06-19 19:55] #1009 closed, assigned to nobody

[2020-06-19 20:09] #1008 closed, assigned to nobody

[2020-06-19 20:48] dlukeomalley commented on #1072
Even with @aryx's work merging the new pfff it appears the `@` is outside of the range: https://semgrep.live/10gQ?version=develop&stepByStep=1

![image](https://user-images.githubusercontent.com/605906/85178510-86087980-b233-11ea-849c-40e2e048de5b.png)

[2020-06-19 20:56] aryx commented on #1072
Bug. Can you create a separate issue?

Sent from my iPhone

[2020-06-19 21:02] dlukeomalley opened #1081 "Semgrep match has incorrect range"
Even with @aryx's work merging the new pfff it appears the `@` is outside of the range: https://semgrep.live/10gQ?version=develop&stepByStep=1

![image](https://user-images.githubusercontent.com/605906/85178510-86087980-b233-11ea-849c-40e2e048de5b.png)

_Originally posted by @dlukeomalley in https://github.com/returntocorp/semgrep/issues/1072#issuecomment-646855139_

This is a continuation of http

[2020-06-19 21:03] dlukeomalley commented on #1072
Done. Closing this in favor of https://github.com/returntocorp/semgrep/issues/1081

[2020-06-19 21:04] #1072 closed, assigned to nobody

[2020-06-19 21:04] brendongo opened #1082 "git logic does. not handle deleted files correctly"
**Describe the bug**
Semgrep 0.11.0 crashes when scanning a git repo with uncommited deletions

**To Reproduce**
Remove a file that is tracked by git. Run semgrep without --no-git-ignore flag

[2020-06-19 21:47] #1063 closed, assigned to brendongo

[2020-06-19 22:28] ievans opened #1086 "Error span printed with no description"
on https://github.com/grapl-security/grapl latest:

[code]

Expected output:
A message that says what kind of error is happening here

[2020-06-20 16:20] sshayb opened #1088 "Support "final" in Java"
**Is your feature request related to a problem? Please describe.**
Difficult to write rules to match functions called with static/const variables in Java. For example, here (https://semgrep.live/zdp0) I would expect lines 23 and 25 to match the pattern. Or even better - not require first 2 lines of the pattern at all and expect it to match on all 3 instances of MD5 use - i.e. lines 21, 23, 25.

**

[2020-06-21 02:55] dlukeomalley commented on #1088
Thank you @sshayb for the ticket. Queuing this up for discussing on Monday with the team and will circle back. CC @ievans

[2020-06-22 14:06] asad-awadia opened #1093 "Arbitrary files?"
Can semgrep pattern match on Arbitrary file types? Or does it _have_ to be java/c/go code?

i.e. find X pattern in *.txt files or something like that?

[2020-06-22 15:18] mschwager commented on #1093
Hi @asad-awadia,

I'd like to understand your question a bit better. Which of the following are you trying to achieve:

1. Semantic code search on files with an extension different from the standard extension? E.g. `.txt` files that contain Python code.
2. Simple text search on something like a `.txt` file?

We do not currently support (1), but I think it would be a useful feature. If you're looki

[2020-06-22 15:41] mschwager commented on #1093
Actually, now that I think about it, explicitly specifying files should work for (1) too. E.g. doing semantic code search using something like [`pattern`](https://github.com/returntocorp/semgrep/blob/develop/docs/configuration-files.md#pattern). For example, building on the example above:

[code]

[code]

Or again, we can use `find` to explicitly specify many `.txt` files:

[code]

[2020-06-22 16:22] mschwager opened #1095 "Pattern searching '#include' doesn't work in C"
Similar to other languages, it would be great if we supported C's "import" functionality using '#include'. Currently, it looks like we can't even parse a pattern like '#include $X':

[code]

[code]

It looks like we're failing before even reaching `semgrep-core`. Maybe @rcoh knows what's going on.

[2020-06-22 16:22] mschwager commented on #975
I think it would be useful to apply consistent behavior to all supported languages. It seems we have a few other open issues for this, I'll include them here so we can track in one place:

- https://github.com/returntocorp/semgrep/issues/806
- https://github.com/returntocorp/semgrep/issues/327
- https://github.com/returntocorp/semgrep/issues/285
- https://github.com/returntocorp/semgrep/issues/638

[2020-06-22 16:23] asad-awadia commented on #1093
@mschwager thank you for such a detailed response!

I am looking to do semgrep rules over code/languages that are not supported - such as Bazel build files and proto files - with my own custom rules

so `.bazel` and `.proto` which will have the bazel 'code' and proto 'code' respectively

[2020-06-22 16:24] rcoh commented on #1095
Can you see what happens on my branch that fixes the none issue? Will debug when I get online this morning

[2020-06-22 16:56] #1082 closed, assigned to brendongo

[2020-06-22 17:11] dlukeomalley commented on #975
@DrewDennison @aryx Thoughts on where/when to prioritize this work?

[2020-06-22 19:08] mschwager commented on #673
I'll get this done :+1:

[2020-06-22 19:13] dlukeomalley commented on #673
Sounds good. @DrewDennison may have some ideas. Overall we want to make sure that:

* is not blocking (happens async in the background)
* doesn't appear when running with `--quiet` or machine formats like `--json`
* sends the absolute minimal set of data required to figure out if an upgrade is needed, perhaps just making a GET call and running logic locally

For now I think it's fine to link to a

[2020-06-22 19:29] mschwager opened #1096 "Python false positive not when considering imported module"
Let's say I'm looking for unsafe usage of the `yaml.load` function. This comes from the [`yaml` module](https://pyyaml.org/wiki/PyYAMLDocumentation). We'd write a pattern like `yaml.load(...)` and run it against code like:

[code]

However, this also considers variables named `yaml` calling their `load` method. E.g.

[code]

[code]

We should ensure that the module is imported when considering the

[2020-06-22 19:41] mschwager commented on #673
For simplicity's sake, can we do a blocking call with a very short timeout (1sec, 2sec) to start? Then we can iterate if users find this too much. I think the network error will be instant if, e.g. they're not connected to wifi, vs. if there's simply network congestion or slow speeds. This means users not connected to wifi will get much faster feedback vs. simply a slow connection (which I would e

[2020-06-22 20:09] brendongo commented on #1051
I think there's some filtering in semgrep-core that happens when java is not the first element in the languages list.

[2020-06-22 20:22] aryx commented on #1051
The first language in the list is the one used to parse the pattern.
That means the generic AST for foo(...) in Java mode is differently from the generic AST
for foo(...) when parsed in C/Go/... mode.
You can see the dump of the AST with -lang java -dump_pattern

[2020-06-22 20:23] aryx commented on #1051
I think you can also the the dump of the pattern in the editor in the advanced options.

[2020-06-22 20:39] rcoh commented on #1051
That's weird -- shouldn't we reparse the pattern in every language for the rule and use that?

[2020-06-22 20:43] rcoh commented on #1095
As I suspected, `#include` is being interpreted as a YAML comment :roll_eyes: will fix

[2020-06-22 20:55] mschwager opened #1099 "Add functionality to include additional file extensions to targets"
Currently, the `--include` flag filters targets based on the specified argument instead of adding them. E.g. if we specify `languages: [java]` we filter targets based on the `.java` extension, we then filter targets again based on the `--include` flag. This doesn't really make any sense since we've already done the initial filtering.

It makes more sense for `--include` to be additive. E.g. if for

[2020-06-22 20:56] aryx commented on #1051
Yep, you're right, we should.

[2020-06-22 20:57] aryx commented on #1051
I just assumed the resulting generic AST would be the same, but apparently it's not necessarily the case.

[2020-06-22 20:58] mschwager commented on #1093
In that case you'll have to use `pattern-regex` with simple text searching over those files for now. As mentioned above you can use a configuration like the following:

[code]

And run `semgrep` like so:

[code]

[code]

Eventually we will support a better way to specify these extensions (tracking in #1099), but that should work for now. We may also officially support Bazel and Proto files in the

[2020-06-22 21:58] DrewDennison commented on #673
SGTM. Did you see the api for checking the version?

[2020-06-22 23:23] emjin opened #1101 "Metavariable not matched over multiple scopes in python"
**Describe the bug**
A global variable isn't being matched when used in a function.

**To Reproduce**
https://semgrep.live/4bGE

**Expected behavior**
Expect a match

[2020-06-23 00:24] ievans commented on #1009
@aryx user had a typo in the original, here is a failing case (I'll edit the original issue text too): https://semgrep.live/QrOP

[2020-06-23 00:26] asad-awadia commented on #1093
@mschwager
one last question - I am trying to learn how to write the rules and the grammar for the rules - do you have any tips on how to get a feel of it? I tried the live editor but still kind of difficult

eg. I am trying to write a rule where if a certain function `foo` is called without a certain argument `timeout` - I want it to get upset

i.e. `foo(x=1, y=2, timeout=3)` should not alert
but

[2020-06-23 01:39] minusworld commented on #1093
@asad-awadia 👋

We have a few good starting points, but we recognize that helping people know where to get started needs a little work... 😅

For starters, we have a rule in Semgrep's registry that does this for Python's `requests` module. Taking a look here should help you get started:
https://semgrep.live/r?q=python.requests.best-practice.use-timeout.use-timeout

We also have documentation that m

[2020-06-23 13:13] mschwager commented on #1093
Don't forget about this great new addition: [Writing Rules](https://github.com/returntocorp/semgrep/blob/develop/docs/writing_rules/examples.md)

On top of that, I'd recommend these two pieces of documentation most for getting started:

* [Configuration Files](https://github.com/returntocorp/semgrep/blob/develop/docs/configuration-files.md)
* [Pattern Features](https://github.com/returntocorp/semg

[2020-06-23 13:24] #1081 closed, assigned to aryx

[2020-06-23 13:24] aryx commented on #1081
Should work better once semgrep is using the latest pfff.

[2020-06-23 14:39] #707 closed, assigned to aryx

[2020-06-23 17:01] mschwager commented on #673
Yup! I'll use it :+1:

[2020-06-23 17:12] minusworld commented on #381
Superceded by https://github.com/returntocorp/enterprise/issues/245

[2020-06-23 17:12] #381 closed

[2020-06-23 18:10] #1101 closed, assigned to aryx

[2020-06-23 20:45] #673 closed, assigned to mschwager

[2020-06-23 21:06] ajinabraham opened #1112 "Semgrep not responding, consuming all CPU in 0.10.1"
**Describe the bug**
Possible regression related to https://github.com/returntocorp/semgrep/issues/827 ?

**To Reproduce**
[code]

File:  https://github.com/bkimminich/juice-shop/blob/master/frontend/src/assets/private/three.js
Rules: https://github.com/semgrep/rules-nodejsscan/tree/master/nodejsscan

**Expected behavior**
Scan gracefully and return control back

**Screenshots**
Please refer: http

[2020-06-23 21:32] brendongo commented on #1112
Ran on 0.10.1 and got same behavior. With 0.11.0 it is not taking up all CPU and with the progress bar it looks like it is doing work. We made a change to run each rule on its own instead of running all the patterns at once so that might be a possible explanation. Looks like there are a number of rules that take > 1 minute on this large file. Ill get back with timing info.

[2020-06-23 21:38] brendongo commented on #1112
[code]

[2020-06-23 21:41] brendongo commented on #1112
@aryx looks like the rules that take a while have a lot of ... operators maybe theres some low hanging perf improvement when using ... and running on a ~38000 file

[2020-06-23 21:43] brendongo commented on #1112
@ajinabraham do these run times look abnormal wrt other times these rules are invoked?

[2020-06-23 21:50] ajinabraham commented on #1112
I don't have the individual times to compare against. You could probably run the same rules against the same directory that has the JS test files and see the times. if you think there is scope for improving the rules, do let me know. Most of the times the scan time is under 2 minutes.

[2020-06-24 05:52] asm0dey opened #1118 "Support for Kotlin language"
**Is your feature request related to a problem? Please describe.**
Please, add support for Kotlin language. It's evolving in JVM ecosystem, but has deficiency on static analysis tools.

[2020-06-24 08:09] aryx opened #1120 "Default matching output is confusing; no separation and weird line order"
Here is what I get with
semgrep --config contrib/nodejsscan/header_cors_star.yaml contrib/nodejsscan/header_cors_star.js
in semgrep-rules:

<pre>running 2 rules...
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████|2/2
<font color="#4E9A06">contrib/nodejssc

[2020-06-24 08:10] aryx commented on #1120
see the 6:app.options at the very end, or 20: just after 36:
At least they should be separated.

[2020-06-24 12:04] aryx commented on #1059
Recent need in OCaml:
(* !Note that this assumes Naming_AST.resolved has been called before! *)
val propagate: Lang.t -> AST.program -> unit

[2020-06-24 12:04] aryx commented on #1059
cc @mjambon

[2020-06-24 12:45] aryx commented on #1112
Can we change the title of the issue if things have improved with 0.11?

[2020-06-24 13:01] aryx commented on #349
This now works for Python globals.
We could activate this more generally to any variables, but this lead to some regressions right now.

[2020-06-24 13:03] aryx commented on #349
Closing this as the situation has improved a bit (there was no const propagation at all before for Python).
Feel free to create another task if you want full const propagation for python, not just for the globals.

[2020-06-24 13:03] #349 closed

[2020-06-24 13:03] #1088 closed, assigned to aryx

[2020-06-24 13:31] asad-awadia commented on #1093
Thank you so much - I will read through!

[2020-06-24 13:31] #1093 closed, assigned to mschwager

[2020-06-24 13:32] ajinabraham commented on #1112
@brendongo suggested me previously to wait for 0.12. Since that version is released now, I will update it to latest and rerun the tests and keep you guys posted.

[2020-06-24 18:16] minusworld opened #1125 "Do not parse extremely large files (e.g., >10k lines, >1MB) by default, and warn user"
**Is your feature request related to a problem? Please describe.**
Running the [Golang pack](https://semgrep.live/p/golang) with Semgrep on [kubernetes](https://github.com/kubernetes/kubernetes) takes a very long time.

The issue is due to very large files in vendored code. Links to the files:
- https://github.com/kubernetes/kubernetes/blob/a94346bef9806a135ebcfda03672966c336c1c17/vendor/github.co

[2020-06-24 18:17] mschwager opened #1126 "Print number of files that were successfully/unsuccessfully parsed"
In large projects there will often be a few files that fail to parse, despite the overwhelming majority being successfully parsed. Users may be confused if they see a few parse errors and no results. To remedy that let's include some information on files that successfully/unsuccessfully parsed.

Currently the output is something like:

[code]

At the end we could include something like: `Successfu

[2020-06-24 18:22] mschwager opened #1128 "Mismatch between semgrep <-> semgrep-core with bad symlinks"
I'm not sure what the expected behavior here is. It looks like `semgrep` and `semgrep-core` have a mismatch because of this weird error printed out. I found these odd symlink files in `echelon-backend` that give an internal error/unknown exception in `semgrep-core`:

[code]

Perhaps we should handle this problematic type of file at both layers, but now that `semgrep` is feeding the target files to

[2020-06-24 19:01] minusworld opened #1130 "Pipeline rule runs so that faster jobs can finish while longer jobs run"
**Is your feature request related to a problem? Please describe.**
Semgrep runs one rule at a time, blocking until the rule is complete. Currently, this means that the time it takes Semgrep to complete is the time it takes to run the longest rule on the largest file + all of the other rule runs. This is especially painful in the case of https://github.com/returntocorp/semgrep/issues/1125, where Se

[2020-06-24 19:27] dlukeomalley commented on #1126
Big +1 to this! Something like could do the trick (focusing on the success rate instead of the failure rate):

[code]

[2020-06-24 21:33] ievans opened #1132 "python.lang.maintainability.useless-innerfunction false positives"
https://semgrep.live/7KvR?registry=python.lang.maintainability.useless-innerfunction&sourceurl=https%3A%2F%2Fraw.githubusercontent.com%2Fdropbox%2Fdropbox-api-v2-repl%2Fa057a71995e12fb4cd2fff6fa4d917969e665fda%2Frepl.py

[2020-06-25 14:37] mschwager commented on #1006
I think I figured out what's going on here. The reason you're seeing different behavior is because in the first example `$FOO` is treated as both a parameter **and** and a locally defined variable:

[code]

In `pattern-inside` `$FOO` is considered a parameter. In `pattern` `$FOO` is a local variable. In the second example `$FOO` can be considered a parameter throughout the entire `pattern`:

[code

[2020-06-25 16:55] mschwager commented on #960
Closing this out as I was unable to reproduce. Feel free to re-open if you see this again :+1:

[2020-06-25 16:55] #960 closed, assigned to mschwager

[2020-06-25 17:00] mschwager commented on #1006
Re-assigning to @aryx since I've taken this about as far as my knowledge of `semgrep-core` will get me.

[2020-06-25 17:47] ghbren opened #1140 "non-ASCII character support in golang"
Can semgrep support special characters?
https://semgrep.live/WAvL

[2020-06-25 17:51] DrewDennison commented on #1140
yes and @mjambon I thought your unicode fix addressed this?

[2020-06-26 09:26] TmmmmmR opened #1143 "Adding support for PHP"
**Describe the solution you'd like**
We would love to use/run semgrep against PHP code.

[2020-06-26 13:45] mschwager commented on #1125
I like that we're striving to improve the runtime for our users, but do we really want this behavior? My concern is that we'll be getting further and further into "automagic" territory, which will make it difficult for user's to reason about what `semgrep` is doing and which files are analyzed. Instead of being a simple tool that runs over each file in your source code we'll now have to reason abo

[2020-06-26 16:29] ievans opened #1146 "Update install script for linux, windows (WSL)"
Our pip package should possibly be the default for any linux, and we should note that semgrep appears to run well under WSL. cc @DrewDennison @mschwager

[2020-06-26 16:36] alex opened #1147 "[HCL] constant propagation support for locals"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to use the full power of sgrep with terraform (HCL) files. I was just plauged by regular grep not being able to find:

[code]
when searching with `grep "prefix-data-science"`, which `sgrep` would hopefully be able to accomplish

[2020-06-26 16:51] DrewDennison opened #1148 "Parse TypeScript in Tree-Sitter"
Add TypeScript support to Semgrep, via tree-sitter.

Steps:

- [x] Tree-sitter grammar for TS
- [x] Fix tree-sitter grammar missing functionality
- [x] Fill out TypeScript tree-sitter CST -> pfff JavaScript AST boilerplate (after this we can match ts using js rules) -- expected 2020-09-04
- [x] Create testing framework for TypeScript
- [x] Make TSX work

Acceptance criteria:
- [x] Parse more than

[2020-06-26 17:09] mjambon commented on #1140
Ah, it's because Go string literals use backticks or double quotes. The following example works: https://semgrep.live/9A5z

[2020-06-26 17:32] minusworld commented on #1125
[code]

I should note that `gosec` ignored `vendor/` by default.

[2020-06-26 17:40] minusworld commented on #1125
On vendor:

[code]

[2020-06-26 18:29] brendongo commented on #1112
Closing ticket. @ajinabraham let us know if 0.12 did not fix the issue.

[2020-06-26 18:29] #1112 closed, assigned to brendongo

[2020-06-26 18:31] brendongo commented on #1051
As part of https://github.com/returntocorp/semgrep/pull/1142 I refactored the python side to only pass in one language to semgrep-core so we should no longer be seeing this issue once that is merged in.

[2020-06-26 21:16] #966 closed, assigned to brendongo

[2020-06-26 21:36] ievans opened #1151 "Python: constant propagation for other types"
cc @aryx, not seeing boolean propagation although strings are working: https://semgrep.live/d8OQ

[2020-06-26 22:37] minusworld opened #1154 "Semgrep doesn't appear to match strings in parentheses"
**Describe the bug**
Python has that weird behavior where it will automatically concatenate strings separated across lines. When using parentheses, Semgrep appears not to match.

**To Reproduce**
This matches: https://semgrep.live/Ew6L?stepByStep=1
And when I add in parentheses, this does not match: https://semgrep.live/AbKL

[2020-06-26 22:59] minusworld opened #1155 "Feature: Add in a top-level key 'extensions' that specifies file extensions to scan instead of languages."
**Is your feature request related to a problem? Please describe.**
Since we have `pattern-regex`, I want to scan arbitrary files.

1) We can reach feature parity with regex scanners for languages we don't yet support by making it easy to tell Semgrep not to parse a language but simply to run a regex.
2) We can start scanning non-standard languages such as configuration files and HTML templates now

[2020-06-26 23:10] ievans commented on #1155
supportive, suggest `file-extensions` to make less ambiguous

[2020-06-27 00:08] ajinabraham opened #1156 "semgrep 0.12.0 is extremely slow compared to 0.10.1 when matching multiple rules in multiple files"
**Performance issue**
For some reasons, probably due to individual matching of files in 0.12.0, it appears that semgrep is much slower than 0.10.1

[code]

`$ time semgrep -f ~/Code/njsscan/njsscan/rules/semantic_grep/ ~/Downloads/dvna-master/`

[code]

[code]
[code]
[code]

Source Repo: https://github.com/appsecco/dvna
Rules: https://github.com/ajinabraham/njsscan/tree/master/njsscan/rules/semant

[2020-06-27 01:14] DrewDennison opened #1157 "JS `var $X =1` should match global variable declarations"
https://semgrep.live/8G5q fails to match but https://semgrep.live/L1e9 works.

[2020-06-27 18:50] clamey opened #1158 "Hosted pre-built Rule Pack top level tags error"
**Describe the bug**
Running semgrep with a pre-built Rule Pack results in an error.

**To Reproduce**

[code]

**Expected behavior**
To not see an error about `tags` being an invalid top level rule key - note this happens with the Rule Pack `https://semgrep.live/c/p/java` as well.

**Environment**

[code]

[2020-06-27 19:02] ievans commented on #1158
@clamey thanks for filing the issue! It looks like we had a bug in the registry this (June 27) morning -- we just rolled back and it's working now. Can you confirm it is fixed for you?

[2020-06-27 19:07] rcoh opened #1160 "Add docs for nosem functionality"
Currently, the only way you could find it is to read the code

[2020-06-27 20:16] clamey commented on #1158
It's working!  Thanks!

[2020-06-27 20:16] #1158 closed, assigned to nobody

[2020-06-29 15:59] dlukeomalley commented on #1154
@minusworld What's your take on the priority of this issue?

[2020-06-29 16:49] brendongo commented on #1155
You can probably just use the existing paths key. https://github.com/returntocorp/semgrep/blob/develop/docs/configuration-files.md#paths
[code]

[2020-06-29 16:51] brendongo commented on #1155
And maybe adding `any` or `all` as a language that doesn't do any extension filtering?

[2020-06-29 16:52] minusworld commented on #1154
@dlukeomalley Medium or Low -- I don't think it happens frequently.

[2020-06-29 16:54] minusworld commented on #1155
Sounds good to me! 👍

[2020-06-29 16:56] Isaac0616 opened #1161 "Python ParseErrors (lambda)"
**Describe the bug**
`lambda (x, y): x` is a valid Python 2 statement (invalid in Python 3).

**To Reproduce**
https://semgrep.live/zdZn

**Expected behavior**
No error.

[2020-06-29 17:09] Isaac0616 opened #1162 "Python ParseErrors (raise statement)"
**Describe the bug**
In Python 2, raise statement can take 3 arguments.

**To Reproduce**
https://semgrep.live/pKDe

**Expected behavior**
No error.

[2020-06-29 17:18] Isaac0616 commented on #1161
`lambda (x): x` is also valid in Python 2.

[2020-06-29 17:26] Isaac0616 opened #1163 "Python ParseErrors (whitespace at the last line)"
**Describe the bug**
In theory, a whitespace only line at the last line would not trigger error.

**To Reproduce**
https://semgrep.live/2Zgr

**Expected behavior**
No error.

[2020-06-29 17:28] ievans commented on #1163
@Isaac0616 thanks for filing this! It looks to me like like it is a duplicate of https://github.com/returntocorp/semgrep/issues/312 -- I'll close this issue to consolidate, but it is still something we'd like to fix.

[2020-06-29 17:28] #1163 closed, assigned to nobody

[2020-06-29 17:30] ievans commented on #1161
@Isaac0616 -- thanks for filing this; looks like a duplicate of https://github.com/returntocorp/semgrep/issues/994 -- will tag that as external-user and track there!

[2020-06-29 17:30] #1161 closed, assigned to nobody

[2020-06-29 17:36] Isaac0616 opened #1164 "Python ParseError (tuple argument)"
**Describe the bug**
Tuple argument is valid in Python2. Might be related to #994.

**To Reproduce**
https://semgrep.live/j2JP

**Expected behavior**
No error.

[2020-06-29 17:49] dlukeomalley commented on #1155
Is this a dup of #1099?

[2020-06-29 18:11] Isaac0616 opened #1165 "Python ParseError (position-only arguments)"
**Describe the bug**
Position-only argument is the new syntax in Python 3.8.

**To Reproduce**
https://semgrep.live/yy3A

**Expected behavior**
No error.

[2020-06-29 19:05] underyx opened #1166 "Support diff-aware scanning"
Refer to https://github.com/returntocorp/bento/blob/master/bento/target_file_manager.py

A `--compare-ref` or similar flag should be added which takes a `git` reference. Semgrep should then scan only files that changed since that reference (as a performance optimization), and report only issues that are not present in the given ref but are present now.

[2020-06-29 19:15] nbrahms commented on #1155
This seems like a good first issue

[2020-06-29 21:04] Isaac0616 opened #1168 "Python ParseError (True/False)"
**Describe the bug**
It is an extremely bad pattern, but in Python 2 `True` or `False` is not the keyword.

**To Reproduce**
https://semgrep.live/wdjd

**Expected behavior**
No error.

[2020-06-29 21:13] Isaac0616 opened #1169 "Python ParseError (for ... in ...)"
**Describe the bug**
In python 2, you can `[i for i in 1, 2, 3]` without `[i for i in (1, 2, 3)]`

**To Reproduce**
https://semgrep.live/OrAk

**Expected behavior**
No error.

[2020-06-29 21:38] brendongo commented on #1156
Looks like in 0.10.1 semgrep fails to parse https://github.com/appsecco/dvna/blob/master/public/assets/jquery-3.2.1.min.js and reports a TimeoutError. Semgrep 0.12.0 fails to parse as well but fails to parse 73 times. When running semgrep with `--exclude '*.min.js'` the performance between 0.10.1 and 0.12.0 is actually comparable. Going to find a way to cache parsing errors like this so it doesn't

[2020-06-29 22:30] #504 closed, assigned to brendongo

[2020-06-29 22:33] brendongo commented on #1166
With #nosem ignore do we want to bring over the run twice and only show the different results or is it enough to show results in modified files?

[2020-06-29 23:12] underyx commented on #1166
I think we still want to run twice to be able to port semgrep-action to use this. Also, otherwise, this would be just a performance improvement feature.

[2020-06-29 23:12] underyx commented on #1166
Take care not to port this bug from Bento: https://github.com/returntocorp/bento/issues/336

[2020-06-29 23:21] brendongo opened #1170 "Log exception/crash information to a file to aid in debugging"
Saving a log of the last run somewhere would be useful when debugging user crashes. We can also use this as an opportunity to bring some sanity into the existing logging (or in our case print statements and global variables).

Useful links: http://nathanielobrown.com/blog/posts/quick_and_dirty_python_logging_lesson.html, https://docs.python.org/3/howto/logging-cookbook.html

[2020-06-30 13:31] mschwager commented on #1160
https://github.com/returntocorp/semgrep/blob/develop/docs/configuration-files.md#ignoring-findings

[2020-06-30 13:31] #1160 closed, assigned to nobody

[2020-06-30 15:20] #1162 closed, assigned to nbrahms

[2020-06-30 19:33] mschwager commented on #1054
Can we get 80% of the way there by making `--config` take a list instead of a single argument? Something like `semgrep --config https://semgrep.live/p/python subdir/security.yaml /path/to/configs`, which we then combine all the rules and run as normal.

Is there something about the config file that makes it less complicated than the CLI flag? Note that we already have the [`paths`](https://github.

[2020-06-30 22:18] dlukeomalley opened #1173 "Order of named fields in struct matters"
In Go, I _think_ the order of named fields in structs doesn’t matter (much like Python keyword args), but it seems Semgrep doesn’t understand that:

not working: https://semgrep.live/oqjX
not working: https://semgrep.live/zdjn
working: https://semgrep.live/pKde

[2020-06-30 22:37] nbrahms commented on #994
Also fixes returntocorp/semgrep#1164.

[2020-06-30 23:34] brendongo commented on #1088
This will be in the next release but proof it works on develop here: https://semgrep.live/2Zvr?version=develop

[2020-07-01 05:46] brendongo commented on #1054
Using configs wont give you rule level control over includes excludes however so really the alternative solution is invoking semgrep multiple times with each pack containing the rules you want to run on the same targets.

[2020-07-01 14:32] underyx opened #1179 "RFC: Registry Spec v1"
This is meant to be an open discussion for an eventually formalized Semgrep registry standard. **This issue is not a deliverable currently.**

### Glossary

##### Pattern

Atomic unit for code search, e.g. `$X == $X`

##### Rule

Bundles one or more patterns, their relationships (`not`, `or`, `inside`), and some associated metadata (message, severity, etc.)

##### Registry

A dot-separated directo

[2020-07-01 14:34] underyx opened #1180 "Support more registry shorthand in --config"
**Is your feature request related to a problem? Please describe.**

Primarily, the way packs are executed is unwieldy right now. We have to recommend running

[code]

instead of

[code]

I don't like how:

* Users are much less likely to be able type the first command out without looking it up
* The command takes too much space than necessary, especially on the semgrep.live UI
* It's not communica

[2020-07-01 15:53] #312 closed

[2020-07-01 16:16] #994 closed, assigned to nbrahms

[2020-07-01 16:16] #1164 closed, assigned to nbrahms

[2020-07-01 19:48] asadasivan opened #1184 "parse error for generics in Java"
https://semgrep.live/nJvr
**Issue**: Java parse error
**Description**:
I recently ran semgrep against some code in java related to one of our product and I encountered parsing error. The error is due to the usage of < > in java interface. Below is a sample code to reproduce the issue:
[code]
The following rule id triggers the parsing error: id: formatted-sql-string

[2020-07-01 19:48] #1165 closed, assigned to nbrahms

[2020-07-01 20:27] dlukeomalley commented on #1184
Thank you for filing this issue @asadasivan. @aryx @ievans Any thoughts on next steps or a fix for this issue?

[2020-07-01 20:31] aryx commented on #1184
Yes the parsing heuristics to parse generics in the Java parser is not smart enough to accept this case.
We could extend the heuristic, which could help parse this case but sometimes may introduce regression for other files (it's a heuristic, not an algorithm). The right fix is to switch to the tree-sitter-java parsing which is probably more reliable but that may take some times (maybe a month).

[2020-07-01 22:54] brendongo commented on #1156
Keeping this open until I verify fix works but fix should be out on next release.

[2020-07-01 23:16] #1169 closed, assigned to nobody

[2020-07-01 23:39] nbrahms commented on #1154
It looks like this works in https://semgrep.live/AbKL?

[2020-07-01 23:39] nbrahms commented on #1154
As of 0.12.0

[2020-07-01 23:50] minusworld opened #1187 "Better documentation of keyword arguments matching: Semgrep matches all arguments in a call when an ellipsis is at the end."
**Describe the bug**
Semgrep matches all arguments in a call when an ellipsis is at the end in Python.

**To Reproduce**
https://semgrep.live/Ew7B

**Expected behavior**
I expected Semgrep to only match line 4, where the supplied keyword argument is at the beginning.

[2020-07-02 00:05] dlukeomalley commented on #1166
@brendongo Any additional context you can add here after chatting with Po-Ning and Brianna? I can get more customers for you if we need more data points!

[2020-07-02 11:39] saaspeter opened #1189 "Java: ParseError"
**Describe the bug**
I semgrep java project, got below error, the java project is based on JDK8

"errors": [
    {
      "data": {
        "check_id": "ParseError",
        "path": "***.java",
        "start": {
          "line": 57,
          "col": 41
        },
        "end": {
          "line": 57,
          "col": 42
        },
        "extra": {
          "message": "Syntax error",

[2020-07-02 12:26] underyx opened #1190 "Write CI documentation for Jenkins"
**Is your feature request related to a problem? Please describe.**

Our CI integration docs have many providers but are missing Jenkins.

**Describe the solution you'd like**

I think Jenkins might have a more complicated configuration than just committing a YAML file, and these docs would be more complex than others? Or maybe that changed in the past couple years.

[2020-07-02 13:49] mschwager opened #1191 "Fix version check caching in Docker image"
We cache version checks for a day to speed up subsequent `semgrep` runs. This functionality is currently broken in our Docker image due to volume weirdness. We set the version cache file as such:

[code]

The `.cache` directory must exist in a non-root, writable directory. The ensures the Docker container continues to work if someone runs the container as a non-root user with `docker run -u ...` (

[2020-07-02 17:09] dlukeomalley commented on #1189
Thanks for filing @saaspeter. Is it possible to provide a minimal repro via a [semgrep.live editor](https://semgrep.live/editor) snippet and pattern for us to debug?

[2020-07-02 17:10] dlukeomalley commented on #1190
@underyx Is this an external request and/or near term needed?

[2020-07-02 17:31] dlukeomalley commented on #1154
Indeed it does appear to work! Closing.

[2020-07-02 17:31] #1154 closed, assigned to nobody

[2020-07-02 17:32] dlukeomalley commented on #1184
Thanks @aryx for the comments. @asadasivan Is this a hard blocker for you and your use of Semgrep? I want to choose the right timeline for a fix.

[2020-07-02 18:23] underyx commented on #1190
I assumed it was only cause it appears on r2c.dev

[2020-07-02 18:44] dlukeomalley commented on #1190
Good eye. Note that there is a distinction in what we support as part of the OSS project and what we spend time supporting for our commercial users. I'll follow-up with you in person to talk through the distinction and how to communicate that clearly on our websites and project.

On Thu, Jul 02, 2020 at 11:23 AM, Bence Nagy < notifications@github.com > wrote:

[2020-07-03 02:22] saaspeter opened #1194 "semgrep.live bug report 1 -- java generic"
https://semgrep.live/GdLq

It seems the gramma don't support java generic, if I use below expression, it is ok
Set<String> enabeledMapper = new<String> HashSet();   // wrong gramma
Set enabeledMapper = new HashSet();   // OK

[2020-07-03 03:07] saaspeter opened #1195 "semgrep.live bug report 2 -- java generic"
https://semgrep.live/Ab72

It seems the gramma don't support java generic, if I use below expression, it is ok
public void flushByIds (List < String > ids)   // wrong
public void flushByIds (List  ids)   // ok

Thanks

[2020-07-03 03:16] saaspeter opened #1196 "semgrep.live bug report 3 -- java enum"
https://semgrep.live/BY7A

please check the java enum usage.

thanks

[2020-07-03 03:18] saaspeter opened #1197 "semgrep.live bug report4 -- java annotation"
https://semgrep.live/DbgP

please check the annotation( @NotNull ) and generic gramma, thanks

[2020-07-03 03:22] saaspeter opened #1198 "semgrep.live bug report 5 -- java interface default value"
https://semgrep.live/WAw2

please check, thanks

[2020-07-03 03:23] saaspeter commented on #1189
hi @dlukeomalley

below is the related bugs, each is a different gramma checking error.

https://github.com/returntocorp/semgrep/issues/1194
https://github.com/returntocorp/semgrep/issues/1195
https://github.com/returntocorp/semgrep/issues/1196
https://github.com/returntocorp/semgrep/issues/1197
https://github.com/returntocorp/semgrep/issues/1198

semgrep is a greater tool, your team did a very go

[2020-07-04 19:17] asadasivan commented on #1184
Based on my research, I see a lot of codebases that uses similar format
which causes the parser to fail for the entire project. Hence, it seems to
be a show stopper for us. What's the timeline look like?

--Arun

On Thu, Jul 2, 2020 at 12:32 PM dlukeomalley <notifications@github.com>
wrote:

[2020-07-06 16:35] dlukeomalley commented on #1184
@asadasivan Can you share the command you're using to run Semgrep and its version (`$ semgrep --version`)?
By default Semgrep should run on as many files as possible and output the following when parse errors are encountered:

[code]

Are you getting 100% parse errors on projects?

[2020-07-06 16:45] dlukeomalley commented on #1189
Thank you for the tickets @saaspeter. I'll chat with the team today about when we can tackle these.

[2020-07-06 16:53] asadasivan commented on #1184
I ran the following command: semgrep --config
~/Desktop/semgrep-rules/custom_ruleset <project-name>. I even ran with
verbose and that's when I found out that the error was caused due to char
"<". I need to check a couple of other projects to see if it follows a
similar format. For the project, I ran I would say around 90% contains
parse errors. I certainly understand that it will take time to fix.

[2020-07-06 21:40] ievans opened #1200 "run pre-commit hook without Docker"
cc @underyx

Now that semgrep is pip installable, we should be able to run the pre-commit hook via a pip install rather than requiring docker.

Also the instructions semgrep.live are missing a `v` in front of the revision.

[2020-07-06 22:01] brendongo commented on #1166
After discussions we found that while diff aware logic is useful in the CI workflow, knowing how to parse PRs and figure out the base branches, head, etc. is not something that semgrep needs to know how to do. https://github.com/returntocorp/semgrep-action already has some diff aware logic, we just need to do some work to rip bento out of the action

[2020-07-06 22:33] brendongo commented on #1156
Verified fix. Timeouts are cached so we don't timeout per rule.

[2020-07-06 22:33] #1156 closed, assigned to brendongo

[2020-07-07 00:55] ajinabraham commented on #1156
@brendongo Is this available in the latest version published to pypi?

[2020-07-07 00:57] ajinabraham commented on #1156
Just so your comment in slack that it will be published tomorrow

[2020-07-07 01:21] jack-om commented on #554
Found that template literals (and `+` concatenation) work for variables defined as `const`, but not `var` or `let`.

https://semgrep.live/ReAq

Expression: `"=~/.*sensitive_var=[A-Za-z0-9_-]+.*/"`

Tests:

[code]

[2020-07-07 14:52] mschwager commented on #1200
One downside here is we won't be able to run `pre-commit` with the bleeding edge changes on `develop`. Perhaps we use Docker for `develop` and dogfood that internally, and offer the `pip` package externally as the default/paved road.

[2020-07-07 15:19] nbrahms commented on #706
An alternative solution is to silently skip the file, but this solution was discarded as being a confusing user experience.

[2020-07-07 15:56] mschwager commented on #917
The documentation includes the `$`: https://github.com/returntocorp/semgrep/blob/develop/docs/configuration-files.md#pattern-where-python. Would you expect it to work with and without a `$`?

One thing I would take care to consider here is that the `metavars` field in JSON output includes the `$` also. Removing the `$` will break backwards compatibility with existing scripts depending on the JSON

[2020-07-07 17:43] DrewDennison opened #1203 "Generate aggregate parse stats for all ✅ languages"
Run over 1-10k random projects for each language.

Add parse stats as a table to the readme. stetch: have a script to run so we can re-create the table

[2020-07-07 17:54] mjambon opened #1204 "CI: cache opam dependencies"
**Is your feature request related to a problem? Please describe.**

CI is slower than it could be.

**Describe the solution you'd like**

We'd like to cache most opam packages that semgrep-core depends on. This includes dependencies of pfff, ocaml-tree-sitter, and semgrep-core. Once installed with opam, all the ocaml libraries and compilers reside under `~/.opam`. Caching this folder would save bu