[2021-08-04 15:49] clintgibler commented on #2438
Hm good point, `paths` could be replaced by `pattern-file` and `pattern-file-not`, which would both enable the workflow in this issue as well as replace the separate `paths` key.

One downside is that it'll break existing rules that use `paths`, but I suppose we could continue supporting that internally for a few versions, and update the docs so people use the new way.

Thoughts from @dlukeomalley

[2021-08-04 16:29] mschwager commented on #3369
Closing this out - feel free to re-open if you can find the file that caused the issue!

[2021-08-04 16:29] #3369 closed, assigned to IagoAbal

[2021-08-04 16:33] clintgibler opened #3667 "Constant propagation only runs inside functions"
**Describe the bug**
When making test examples, users often write code outside functions. However, constant propagation only runs inside functions, so this is potentially confusing.

For example:

[code]

does not give all expected matches for

[code]

**To Reproduce**

https://semgrep.dev/s/L8E6/

This exact thing works if wrapped in a function: https://semgrep.dev/s/Q4EZ

** Expected behavior **

[2021-08-04 16:35] ievans commented on #3666
Relatedly, see @mjambon comments on https://github.com/returntocorp/semgrep-app/pull/3066

[2021-08-04 17:02] mschwager commented on #3576
Hmm, that's a good question. @aryx will have a much better idea about the best path forward here.

[2021-08-04 17:31] #2396 closed, assigned to nobody

[2021-08-04 18:35] gordonwoodhull opened #3669 "Autofix can lose first parenthesis of Java cast expression"
**Describe the bug**
When a metavariable matches a function argument which is a Java cast expression, the autofix may lose the opening parenthesis.

**To Reproduce**
Here is a minimal repro: https://semgrep.dev/s/gordonwoodhull:lost-cast-paren-2

Yes, I know this rule should not have any effect. In practice, we use this kind of thing with multiline rules in order to use the line as an anchor and p

[2021-08-04 18:47] ievans commented on #275
https://semgrep.dev/s/ZkEw works now! In the original snippet, there was an invalid whitespace character at the start of `  nblocks = len >> 6;` that caused the parser to fail (it caused a real C compiler to fail too).

[2021-08-04 18:47] #275 closed

[2021-08-05 07:49] aryx commented on #3576
I think we should switch to the tree-sitter one. Note that Slack added support for Hack, which is kinda a superset of PHP.
They could have defined tree-sitter-hack as an extension of tree-sitter-php but didn't, because they said Hack and PHP diverged and it was more pain to make Hack an extension. Anyway, tree-sitter-php should be easy to integrate, it's just lots of boilerplate code to write.

[2021-08-05 08:35] #3014 closed, assigned to emjin

[2021-08-05 09:29] tsigouris007 commented on #3610
Same error today
[code]

[2021-08-05 11:26] tsigouris007 commented on #3610
And another one
[code]

[2021-08-05 12:09] aryx commented on #3538
yeah! it works: https://app.circleci.com/pipelines/gh/returntocorp/semgrep/5265/workflows/0bb86b83-43df-4d0d-9fb6-b80b97a8a270/jobs/7572

[2021-08-05 12:10] #3538 closed, assigned to mjambon, IagoAbal

[2021-08-05 12:55] tsigouris007 commented on #3610
After a more thorough investigation I found out that these rules produce this error:
`/semgrep-rules/javascript/browser/security/raw-html-concat.yaml`
`/semgrep-rules/javascript/browser/security/raw-html-join.yaml`

[2021-08-05 12:58] harold-stripe commented on #3572
That would be really great!

[2021-08-05 13:55] fasiha commented on #2991
Very nice, I'm glad to see all checks passing in the PR! I should have mentioned it earlier: when I ran the tests on semgrep before making this change that you suggested, on Windows, a few weeks ago, I saw, as a baseline:
[code]
Then I changed all `open_out` to `open_out_bin` and got many more failures:
[code]
I'll clone your PR and see if I can run tests on that in Windows. But it's very gratifyi

[2021-08-05 15:49] brendongo commented on #2432
For people running into issues state of the world as of 0.61.0 is on M1 Mac the following should work:
- brew install
- pypi install with rosetta

[2021-08-05 16:19] emjin commented on #3572
Ah, I suspect this actually is an off-by-one error, because of how the YAML parser we use interprets strings. This is slightly annoying (basically, the YAML parser is smart and gets rid of extra information when parsing literals, but we actually want the extra information). @underyx Do you think it would be reasonable to have `$X` match `123` in this case for YAML?

[2021-08-05 16:24] emjin opened #3677 "Add support for anchors in YAML"
YAML uses anchors and aliases to allow people to avoid repeating code. Currently, Semgrep essentially discards information about anchors.

From https://r2c-community.slack.com/archives/C022H9MSTKN/p1627286903025100:

If we have

[code]

In building rules that check for lines that are in assets -> $ROUTE, we can know that `some_dangerous_things_we_want_to_check` will be checked for the "*.html": wh

[2021-08-05 17:07] brendongo commented on #3639
Looks like the git commands were timing out (had timeout of 60) and we just had a bad error message. Bumped up the timeout for the git commands to 500 https://github.com/returntocorp/semgrep-action/pull/345 if you try rerunning (make sure to re-pull the docker image) we can see if 500 is enough for your needs.

[2021-08-05 17:28] nealharris commented on #3639
Hey, thanks!

[2021-08-05 17:34] dlukeomalley commented on #1626
@dgryski @aryx - I'm cleaning up some old tickets and believe this is resolved if I'm understanding the above discussion correctly. Running the sample rule shown returns no results, is that the expected response since r is redefined in the inner scope?

![image](https://user-images.githubusercontent.com/605906/128395349-764ea9f4-42ed-4450-81b4-8b90e22a50c8.png)

I'll close this issue assuming I've

[2021-08-05 17:34] #1626 closed, assigned to nobody

[2021-08-05 17:38] dlukeomalley commented on #652
Closing as this feature has been deprecated.

[2021-08-05 17:38] #652 closed, assigned to nobody

[2021-08-05 17:39] dlukeomalley commented on #3049
This feature has been deprecated 🙏

[2021-08-05 17:39] #3049 closed, assigned to nobody

[2021-08-05 17:41] dlukeomalley commented on #1919
Closing this ticket as the `equivalences` key was deprecated in 0.61.0.

[2021-08-05 17:41] #1919 closed, assigned to nobody

[2021-08-05 17:42] dlukeomalley commented on #1765
Hello, the `equivalences` experimental feature was deprecated in 0.56.0. Closing this ticket as a result 🙏

[2021-08-05 17:42] #1765 closed, assigned to nobody

[2021-08-05 17:43] dlukeomalley commented on #651
This feature has been deprecated. Cleaning up old tickets and going to close 🙏

[2021-08-05 17:43] #651 closed, assigned to nobody

[2021-08-05 17:44] dlukeomalley commented on #648
Hello! This feature was deprecated in 0.61.0, closing now stale tickets 🙏

[2021-08-05 17:44] #648 closed, assigned to nobody

[2021-08-05 17:45] dlukeomalley commented on #299
@IagoAbal @aryx  - I saw the mention of solving this with tainting. Does the new taint work help here?

[2021-08-05 17:46] dlukeomalley commented on #1271
Hello! `equivalences` was deprecated in 0.61.0, closing this ticket 🙏

[2021-08-05 17:46] #1271 closed, assigned to aryx

[2021-08-05 17:54] dgryski commented on #1626
Yup, I agree this is fixed.

[2021-08-05 17:57] dan5382 commented on #2186
@nbrahms any update on this or link to a related ticket?

[2021-08-05 18:26] dan5382 commented on #2294
@mschwager @emjin @mjambon A number of related tickets here seem to have gone stale-ish. Can we update relevancy here or is this all stale?

[2021-08-05 18:28] dan5382 commented on #2043
@aryx I am assuming we can close this. Please update and reopen if I am wrong.

[2021-08-05 18:28] #2043 closed, assigned to mjambon

[2021-08-05 18:30] dan5382 commented on #2117
@nbrahms Stale or still a thing? Can I close?

[2021-08-05 19:39] IagoAbal commented on #299
@dlukeomalley yes I believe the new taint mode solves these problems, you can e.g. specify `{..., one: 1, ...}` and `$X.one = 1` as sources of taint and track if they go into some sink.

[2021-08-05 20:12] leonard84 commented on #2999
It seems to have been fixed in the meantime.

[2021-08-05 20:12] #2999 closed, assigned to nobody

[2021-08-05 21:06] itdevops-channelcapital opened #3680 "nosemgrep comments in TypeScript seem to be ignored"
**Describe the bug**
Starting yesterday, I have been experiencing an issue where semgrep is reporting rule violations for code that I have commented with the `nosemgrep` comment approach. This issue has started since the last release of semgrep version 0.61.0.
I am using the docker version of semgrep and running the rule checks against a TypeScript code base.

**To Reproduce**
The command that I a

[2021-08-05 22:44] ievans commented on #2999
I think there is a subtle race condition here that has to do with switching examples before the run result is returned from the server. @DrewDennison I've seen it as well, though it's difficult to reproduce.

[2021-08-06 02:57] #3061 closed, assigned to nobody

[2021-08-06 03:48] mjambon commented on #2991
I'm also curious to see what we get now.

[2021-08-06 09:30] harold-stripe opened #3683 "YAML using pattern-either to match different variables and use of metavariable-pattern is not working"
**Describe the bug**
https://semgrep.dev/s/RPEq/. Our YAML format supports 2 possibilities for setting some configuration . A value or a list. (in the next example self is OK, URLs are not)
[code]
So matching each elements of the lists is easy, I’m using
[code]
My rule will now match every single $DIRECTIVE_SOURCE
https://semgrep.dev/s/AwO2/

but if I’m trying to either match directive sources in

[2021-08-06 13:40] mschwager commented on #3680
Hi there @itdevops-channelcapital,

Thanks for the detailed debugging steps. Unfortunately, I'm unable to reproduce. Am I missing something?

`0.61.0`, without `nosemgrep`

[code]

`0.61.0`, with `nosemgrep`

[code]

`0.60.0`, without `nosemgrep`

[code]

`0.60.0`, with `nosemgrep`

[code]

Everything looks correct to me. It looks like there may be an issue with double findings, which we've seen r

[2021-08-06 13:57] mschwager commented on #3680
I'm also seeing the same behavior across versions for the other rules you mentioned:

[code]

[code]

[code]

Although, if I run with `--verbose` I see:

[code]

I would suspect it to also be finding, and ignoring, `typescript.react.security.audit.react-http-leak.react-http-leak`.

I also wonder if this is because I'm missing more code context :thinking:

[2021-08-06 14:02] brendongo commented on #3639
Closing as fixed let us know if that was not the case

[2021-08-06 14:02] #3639 closed, assigned to brendongo

[2021-08-06 16:24] IagoAbal commented on #3683
Hmm, this works: https://semgrep.dev/s/y6gP. It may be something subtle.

[2021-08-06 17:06] IagoAbal opened #3685 "Semgrep-cli: tests: Reduce friction for adding tests"
While not being difficult, it is somewhat cumbersome to add a test to semgrep-cli. Plus, when a test fails, it is not straightforward to know what exactly failed and how to reproduce it.

It would be great if we had a simple test runner like we have in semgrep-core. A test would be a triplet of files, consisting in 1) the config, 2) the target, and 3) the expected output, all sharing the same base

[2021-08-06 17:48] dlukeomalley commented on #299
@inkz Closing for now then. Please re-open if you find @IagoAbal's suggestion does not suit your needs 🙏

[2021-08-06 17:48] #299 closed

[2021-08-06 18:05] zwass commented on #3521
Next _statement_ (ignoring comments) seems like an appealing option to me. I notice for example that eslint's `eslint-disable-next-line` does not ignore comments and that means it _must_ be the last comment before the line. If semgrep has the same limitation then both options will not be usable for suppression (though this can be worked around by eslint's disabling through a block, which I'd rathe

[2021-08-06 18:07] malexmave commented on #3521
+1 for "Next line that contains more than comments and a whitespace" being a nice semantic, also for writing rule test cases where the `ruleid`, `ok`, `todook` etc. are currently also mutually exclusive if I am not mistaken.

[2021-08-06 19:41] malexmave commented on #3660
I had a bit of time on my hands and did some more debugging on this. It looks like the folder is pulled in by [target_manager.py:126](https://github.com/returntocorp/semgrep/blob/develop/semgrep/semgrep/target_manager.py#L126), which uses `git ls-files`. This command, when run on the parent folder of the offending folder, returns "blessed", even though it is an empty folder, likely because it host

[2021-08-07 18:20] ievans commented on #3660
Thanks for the debugging work @malexmave! I asked @brendongo to review your PR

[2021-08-07 19:16] KilledKenny opened #3691 "[RFC] Allow loading excluded/included and targets from file."
# Background
I often find myself limited by the `--exclude` and `--include` flags when searching. You can get pretty far whit globing to exclude obvious files such as tests files. But I often find myself wanting to build my own list of targets that goes beyond file names to improve performance, reduce false positives and answer more complex questions.

# Proposals
I have two different but similar

[2021-08-08 23:44] itdevops-channelcapital commented on #3680
Hi @mschwager,

After lots of playing around and testing various scenarios on my side, I think have found the source of the problem.
It seems to be the `--sarif` option

I have this file:
[code]

When I run the following command:
[code]

I get these results:
[code]

When I run the following command:
[code]

I get these results:
[code]

And then finally, running the above command with 0.60.0:
[code

[2021-08-09 01:02] inkz commented on #299
sure! thanks :+1:

[2021-08-09 09:41] #3669 closed, assigned to aryx

[2021-08-09 12:08] gordonwoodhull commented on #3669
Thanks @aryx!

[2021-08-09 14:52] mschwager commented on #3685
The existing snapshot testing functionality does essentially operate on a triplet of files, however, I agree, the ergonomics are not so simple and straightforward. I can outline how this functionality works here, then perhaps we can turn this into CONTRIBUTING docs or, better yet, improve the testing interface such that it's obvious what's going on.

An example of our snapshot testing is probably

[2021-08-09 16:50] #3034 closed, assigned to nobody

[2021-08-09 18:58] underyx opened #3698 "Elixir language support"
https://elixir-lang.org/

https://github.com/ananthakumaran/tree-sitter-elixir

https://github.com/wingyplus/tree-sitter-elixir

[2021-08-09 21:05] raghavjain3 opened #3699 "Specify --json and --sarif together to get both types of output from 1 command"
**Is your feature request related to a problem? Please describe.**
Users have to run 2 separate CLI commands to get a sarif output and json output

**Describe the solution you'd like**
Be able to use --json and --sarif in the same CLI command to output 2 files

**Describe alternatives you've considered**
Alternative now is to run 2 separate commands

[2021-08-10 00:34] ievans commented on #1954
This is partially addressed by https://github.com/returntocorp/semgrep-app/pull/2944 :D 🧙

[2021-08-10 01:30] mjambon commented on #3020
.

[2021-08-10 03:09] ben-elttam commented on #1923
Similarly ellipse operator `...` doesn't work for matching arbitrary RHS of assignment https://semgrep.dev/s/y6wR. Intended behaviour achieved via `pattern-regex` https://semgrep.dev/s/4PQ5.

[2021-08-10 07:27] Sjord opened #3702 "Ellipsis in class definition not accepted in C#"
**Describe the bug**

I expect `class $A { ... }` to match any class.

**To Reproduce**

[code]

**What is the priority of the bug to you?**

- P2: regular bug that should get fixed

**Environment**

Semgrep 0.61.0 locally installed with brew.

[2021-08-10 07:39] Sjord commented on #3576
The tree-sitter-php grammar doesn't parse string interpolation correctly yet. E.g. `"hello {$planet["a"]}"`. @cfroystad [got a long way with parsing this](https://github.com/tree-sitter/tree-sitter-php/pull/72), but seems to be stuck on some tree-sitter weirdness. He could use some help with this, and this would further improve parsing percentage.

[2021-08-10 07:52] cfroystad commented on #3576
Thanks for focusing on this!
I'd be very happy to get some help get unstuck on that. The code is a bit messy due to PHP strings almost being a separate language, thus if anyone is familiar with tree-sitter and willing to lend me a hand, I'd be happy to jump on a call for some pair programming if that would make it easier to assist.

[2021-08-10 08:55] aryx commented on #3576
As I mentioned above Slack added some support for hacklang, which is mostly an extension of PHP, so maybe @cfroystad  you could copy some of the thing they do to hanle string interpolation in:
https://github.com/slackhq/tree-sitter-hack/blob/main/grammar.js

[2021-08-10 09:02] aryx commented on #3521
I would vote for //nosemgrep alone on its line means implicitely //nosemgre-next-line, and //nosemgrep with some code before mean this line.

[2021-08-10 09:22] cfroystad commented on #3576
I've looked into the hacklang [PR](https://github.com/slackhq/tree-sitter-hack/pull/25/files), but it's incomplete and does not yet implement what I consider the tricky parts of supporting PHP/Hack strings in tree-sitter. The same goes for the Heredoc already merged in master. Am I missing something?

[2021-08-10 09:32] aryx commented on #3576
Maybe @frankeld or @Nicholas-Lin can help? What are the tricky parts of strings?

[2021-08-10 09:38] cfroystad commented on #3576
To me, the the tricky part is the PHP simple syntax with subscript or member expressions. The complex part (similar to Hacks embedded_brace_expression) was quite simple due to being clearly annotated - at least in the PHP parser.

The tree-sitter magic I'm struggling with, is this [anonymous node](https://github.com/tree-sitter/tree-sitter-php/pull/72/files#diff-919ac210accac9ecc55a76d10a7590e3d85

[2021-08-10 09:55] cfroystad commented on #3576
My bad, I looked in the wrong PR 😅 I'll go through the correct one this afternoon or tomorrow to see if I can use anything to fix my issue. Thanks for the pointer!

[2021-08-10 15:14] IagoAbal commented on #3685
Thanks for joining the discussion Matt! I think that 1+2+3 would definitely improve things. The only issue with having the three files in the same place is that the target itself may be a YAML file, but I guess we can use (are using?) `.yml` or something for this. In semgrep-rules I think they use the extension `.test.yaml`. IMO it's fine to have three folders, if that's all and there are no sub-f

[2021-08-10 17:40] mschwager opened #3705 "Crash on empty file with blanket 'pattern-regex'"
Using the following `pattern-regex` rule:

[code]

With a completely empty file:

[code]

With a 1-byte file:

[code]

It looks like `rule_match` is expecting 1-indexed line numbers, but we may be receiving 0-indexed:

[code]

[2021-08-10 17:49] mschwager commented on #3705
Looks like this worked in `0.50.0`, so maybe our indexing changed somewhere along the line:

[code]

[2021-08-10 17:55] mschwager commented on #3705
Huh, it works as expected with `pattern: ...` instead of `pattern-regex: ^.*`. I suspect this is a `pattern-regex` thing. This might've changed when we moved to `semgrep-core` whole rule file handling, which is when `semgrep-core` started handling `pattern-regex` :thinking:

[2021-08-10 20:11] IagoAbal commented on #3705
This is the function we use to compute line and column number for `pattern-regex` https://github.com/returntocorp/pfff/blob/0f98e5785f8cc3192d073673c42ff076a066350e/h_program-lang/Parse_info.ml#L532, it seems that given an empty file and charpos 0 it returns line 0 and column 0. Perhaps we just need to detect this special case `(0, 0)` and handle it specially, either in semgrep-core or in semgrep-

[2021-08-10 22:39] #3039 closed, assigned to nobody

[2021-08-10 23:01] minusworld opened #3708 "Document "Join" mode"

[2021-08-11 00:32] #3660 closed, assigned to nobody

[2021-08-11 01:20] dan5382 opened #3710 "Company Logo mis represented"
**Describe the bug**
The company icon in the upper left-hand corner is less vibrant than it is. Not sure what happened, but it looks like transparency on the logo mark.

**To Reproduce**
Go to Semgrep.dev and look to the upper left-hand corner of your browser window.

**Expected behavior**
A clear and vibrant logo that we intended.

**Screenshots**
![image](https://user-images.githubusercontent.co

[2021-08-11 03:18] kiwiz commented on #2837
Bump (although it looks like there's work going on in the linked issues)

[2021-08-11 15:24] adamboros commented on #3710
merging this to already opened ticket at [Semgrep-app](https://github.com/returntocorp/semgrep-app/issues/3024)

[2021-08-11 15:24] #3710 closed, assigned to nobody

[2021-08-11 19:42] dinvlad commented on #1953
Are there any updates on when it will be added to Alpha? Thanks!

[2021-08-11 20:30] #3043 closed, assigned to nobody

[2021-08-12 00:48] mjambon commented on #2635
.

[2021-08-12 02:04] mjambon opened #3711 "Scan executable files without an extension"
This will allow semgrep to scan executable source files without an extension, aka scripts.

Subtasks:
- [ ] have semgrep pass files without an extension to semgrep-core if they have the executable permission
- [ ] have semgrep-core use the `Guess_lang` implementation to filter out files that are not in the selected language(s)
- [ ] have semgrep-core return the list of the files that were skipped,

[2021-08-12 02:28] mjambon opened #3712 "Let semgrep wrapper know about skipped files"
semgrep-core can decide to skip some targets that semgrep requested to be scanned. For example, we want to [scan scripts that have no extension](#3711). This  feature will allow semgrep-core to filter files in more advanced ways than is currently the case, without code duplication across ocaml and python.

This would extend the json response from semgrep-core to semgrep.

We usually distinguish pa

[2021-08-12 13:36] #3705 closed, assigned to nobody

[2021-08-12 15:59] bayu01 opened #3713 "Add Support for Groovy language"
**Is your feature request related to a problem? Please describe.**
I'm looking to get our project written in groovy, to be analyzed in our CI and provide the developer feedback regarding potential bugs, linting issues, etc

**Describe the solution you'd like**
semgrep to support Groovy language(https://groovy-lang.org/)

**Describe alternatives you've considered**
* CodeNarc for static analysis.

[2021-08-12 20:09] itdevops-channelcapital commented on #3680
Hi @mschwager,

I think I have narrowed it down to this PR: https://github.com/returntocorp/semgrep/pull/3616

I fully agree with the sarif including the suppressions, but this shouldn't have the side effect of exiting with an error code when used with the `--error` flag. This breaks CI related activities.

[2021-08-12 20:58] mschwager commented on #3680
Wow, thanks for digging so deeply into this! I'll take a look tomorrow and come up with a fix.

[2021-08-12 21:05] #3708 closed, assigned to minusworld

[2021-08-13 14:13] mschwager commented on #3680
Okay, I see the problem now:

[code]

[code]

[2021-08-13 20:10] mschwager commented on #3396
Can we close this one out? :tada:

[2021-08-13 21:21] #3680 closed, assigned to nobody

[2021-08-14 16:19] zwass commented on #3521
Another important property of this applying to the next statement (ignoring comments) is that we can then add comments explaining why the ignore was put in place

[code]

[2021-08-14 16:27] erwanlr commented on #3572
Same issue in PHP btw: https://semgrep.dev/s/34Pr

[2021-08-15 18:20] #3064 closed, assigned to nobody

[2021-08-16 15:47] mschwager opened #3721 "Typescript parse error with default prop getter"
From an internal codebase:

- Works: https://semgrep.dev/s/Gwjp/
- Doesn't work: https://semgrep.dev/s/5J5A/

I'm not sure what this Typescript ` = defaultPropGetter` feature is called, or where it's documented, but the code compiles correctly.

[2021-08-16 17:01] mschwager commented on #3721
From @nbrahms:

[2021-08-16 17:16] Isaac0616 commented on #2438
A bit late to the discussion.
For the current workaround like:
[code]
I think `^.*` would only match the first line.
Combining it with semgrep-action, the rule would only be triggered when the file is first added or the first line is modified.
Do I miss anything?
I was considering using `pattern-regex: ^` to match the empty string and handle the empty string specially in semgrep-action (or equival

[2021-08-17 03:38] DrewDennison commented on #2493
@aryx still an issue or did you solve in PHP and Hack?

[2021-08-17 03:39] DrewDennison commented on #2503
+1 @emjin when you and @brendongo work on the python / ocaml boundary or perhaps we should just remove python 😅

[2021-08-17 08:10] aryx commented on #2451
:wave:

[2021-08-17 16:07] emjin commented on #2503
Thanks for surfacing this; we'll think about it when we plan this out

[2021-08-17 17:14] emjin commented on #3147
👋

[2021-08-17 22:26] emjin commented on #3019
Related (duplicate?): https://github.com/returntocorp/semgrep/issues/3699. Opened by product; idk if that means priority is getting bumped

[2021-08-17 22:27] emjin commented on #3699
Priority?

[2021-08-17 22:29] clintgibler opened #3727 "Have `metavariable-comparison` work on variables, not just literals"
**Is your feature request related to a problem? Please describe.**

Currently, metavariable-comparison only works on literals (`5`, `"cat"`).

Sometimes, however, it'd be useful to operate on variables, using whatever constant propagation is able to tell us about them.

Something like:

[code]

[code]

**Describe the solution you'd like**

Ideally metavariable-comparison just "does the right thing

[2021-08-17 22:29] clintgibler commented on #3727
Overall, right now, I'd say this is low priority, at least in my opinion.

[2021-08-17 22:32] raghavjain3 commented on #3699
Medium

[2021-08-17 22:56] emjin opened #3728 "Inherit from other rules"
In many frameworks, the possible sources of taint are the same. It would make writing rules easier and leave less possibility for error if we could have some inheritable templates. For example, we could have:

[code]

[code]

And then we could have a semgrep check that anyone who uses `param` in their rule is poked about this template!

[2021-08-18 11:10] bt-nia opened #3730 "Git merge-base fails"
**Describe the bug**
The bug appears in a merge request in our GitlabCI pipeline:
[code]

**To Reproduce**
Sorry, could not reproduce locally

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

**Environment**
official docker image in CICD

[2021-08-18 14:55] brendongo commented on #3730
@bt-nia does this happen in all CI runs of semgrep-agent in gitlab CI or just this one run?

[2021-08-18 15:16] bt-nia commented on #3730
@brendongo thanks for looking at ths.
Just one actually. I was able to find the issue here: We have `GIT_DEPTH=1` set, meaning our clones are shallow. This seems to not work well with Semgrep. After increasing the depth (in this case 30, for good measure) the error disappears.

[2021-08-18 17:30] cfroystad commented on #3576
Finally, we have interpolated strings: https://github.com/tree-sitter/tree-sitter-php/pull/72

This brings us to 100 % parsing in the current selection of test projects.

Note, however, that there is still work to be done on references, PHP 8.1 and ensuring correctness.

[2021-08-18 19:15] brendongo commented on #3730
Yeah return code 1 here I think means git doesnt think that that commit is an ancestor of HEAD https://git-scm.com/docs/git-merge-base Seems like not being able to pull in history would cause that. Thanks for posting how you solved it @bt-nia !

[2021-08-18 19:15] #3730 closed, assigned to nobody

[2021-08-18 19:53] #3096 closed, assigned to nobody

[2021-08-18 19:56] ievans commented on #3096
@alinbalutoiu does this still happen for you on v.62? feel free to re-open if so

[2021-08-18 20:32] ievans commented on #1215
This commit got reverted, so the issue should be re-opened. See https://github.com/returntocorp/semgrep/pull/3732 for discussion

[2021-08-19 01:23] inkz commented on #1006
@mschwager looks like now it can be tackled with taint mode. Does it make sense to keep this ticket open?

[2021-08-19 18:29] mjambon opened #3735 "Detect ReDoS vulnerabilities (regexp denial-of-service) w/o pattern-where-python"
This is a super-task which is broken into:
- [ ] Implement configurable regexp parser in OCaml (#3736)
- [ ] Implement redos vulnerability detection on a regexp AST (#3737)
- [ ] Design and implement rule syntax for checking regexps for vulnerabilities

https://owasp.org/www-community/attacks/Regular_expression_Denial_of_Service_-_ReDoS

This used to be implemented in python via the now-deprecated

[2021-08-19 18:37] mjambon opened #3736 "Implement configurable regexp parser in OCaml"
This is a preliminary to ReDoS vulnerability detection (#3735).

Update: the regexp parser is now fairly complete. I leave this issue open until we add tests that check that the regexps are interpreted as they should.

[2021-08-19 18:39] mjambon opened #3737 "Implement ReDoS vulnerability detection on a regexp AST"
This is part of #3735

[2021-08-19 18:42] mjambon opened #3738 "Design and implement rule syntax for checking regexps for vulnerabilities"
This is the final step of #3735

[2021-08-20 14:46] IagoAbal commented on #3085
Maybe we should move this to Quip? Looks like a decent Hack Week project.

[2021-08-20 15:23] IagoAbal commented on #3727
Your example actually works https://semgrep.dev/s/pk83 because `$XVAL` and `YVAL` match literals.

[2021-08-20 16:18] emjin commented on #3727
We should use this example instead https://semgrep.dev/s/X8Yl

[2021-08-20 17:55] erwanlr opened #3741 "PHP - MetaVariable Matching Inconsistency"
**Describe the bug**
Considering the following pattern: `$VAR = $ANYTHING . $FOO . $ANYTHING_ELSE;`, with `$FOO` being a `metavariable-regex` matching `foo`

`$b = "hello" . "world" . "foo" . "world";` matches but `$c = "hello" . "world" . "foo" . "hello" . "world";` does not

**To Reproduce**
https://semgrep.dev/s/WOzy

**Expected behavior**
`$c = "hello" . "world" . "foo" . "hello" . "world";` s

[2021-08-21 18:11] erwanlr opened #3742 "Taint tracking produces duplicate findings"
**Describe the bug**
Taint mode can produces duplicate findings

**To Reproduce**
https://semgrep.dev/s/WOzo

**Expected behavior**
There should not be duplicate findings

**Screenshots**
<img width="569" alt="Screenshot 2021-08-21 at 21 06 15" src="https://user-images.githubusercontent.com/1668843/130332443-fc2dfd23-85b0-4e6f-8e65-8f047887af9e.png">

**What is the priority of the bug to you?**

P

[2021-08-21 18:12] JasonCubic opened #3743 "sql injection not flagged"
**Describe the bug**
I setup a repo with an obvious sql injection and it was not flagged.  I saw some errors in the sarif file indicating that the owasp-top-ten, command-injection, and expressjs ruleset were not able to be dowloaded.  So I am wondering if those tests were skipped without a notification of some kind?

**To Reproduce**

I setup a demo repo: https://github.com/JasonCubic/ramshackle-d

[2021-08-21 18:20] MichaHoffmann commented on #1147
Hey, i also wrote a HCL parser concurrently to @mitchellh :  https://github.com/MichaHoffmann/tree-sitter-hcl. It is currently used in https://github.com/nvim-treesitter/nvim-treesitter.

It can also handle template interpolations and heredoc templates ( not yet template directives, but i'm slowly working on it ). Is this of interest to anyone here?

[2021-08-21 18:24] ievans commented on #3199
@IagoAbal @erwanlr -- what's the current status of this issue? Should it be broken down into more concrete sub issues, or is it mostly outdated by the improvements we've been shipping?

[2021-08-21 18:27] ievans commented on #2186
@dan5382 why did this get closed?

[2021-08-21 18:29] ievans commented on #2855
Confirmed fixed in 0.61, possibly earlier.

[2021-08-21 18:29] #2855 closed, assigned to nobody

[2021-08-21 18:35] erwanlr commented on #3199
This issue still stand and was updated when the taint changes came out. I've just updated my priority list, which is now basically:
- ~~The ability to specify the source position in the sink/sanitizer pattern/s~~ See comment below :o
- Be able to display the taint flow in the output

Thanks for the work on the taint mode, I also can not wait for support of PHP in join mode as well :D

[2021-08-21 21:02] aryx commented on #1147
Sure it is of interest to us. How does it compare to the one of mitchellh? Is is strictly better because it can parse more things more precisely?

[2021-08-21 21:11] MichaHoffmann commented on #1147
Well 'strictly better' may be a little strong, but it can parse template interpolations correctly. There is still some stuff missing ( template directives ) but its slowly getting completed. I also employ fuzzing to ensure its stability and it is actively used in `neovim-treesitter`. I also crawled a corpus of ~1.5k HCL files from github and included them in the test suite to make sure that it doe

[2021-08-22 03:52] mitchellh commented on #1147
Looks “strictly better” than mine to me! Which is great 😌 I didn’t set out to make mine super feature rich, I was only aiming for “good enough” so that my HCL files weren’t totally useless haha. I never did templating and skipped a few features so if you’re committed to reaching full feature coverage then that is awesome!

[2021-08-22 23:02] huonw opened #3744 "--emacs flag doesn't include the rule's message, only code snippet"
**Describe the bug**

The `--emacs` flag doesn't include the human readable `message` for failing rules in its output, which makes it harder to work out what the appropriate fix is.

(Thanks for semgrep; we're using it for both security analysis and also a few custom rules to catch (non-security) mistakes/typos we keep making. Works well!)

**To Reproduce**

Run `semgrep` with the `--emacs` flag.

[2021-08-23 05:31] inkz commented on #584
:wave:

[2021-08-23 08:19] inkz opened #3745 "Module aliasing for Javascript 2"
### Intro

I proposed module aliasing for JavaScript a long time ago https://github.com/returntocorp/semgrep/issues/285. But at that time there were higher priority issues with JavaScript (from the rule writing point of view), so I closed the issue when individual patterns for all possible ways to import a dependency were supported.

Now JS/TS support is much better. Also, the year of experience s

[2021-08-23 14:20] brendongo commented on #1489
Bad bot

[2021-08-23 14:30] brendongo commented on #3744
@underyx did you add emacs support before? I can't seem to find documentation on what format it expects linting output to look like.

[2021-08-23 14:53] underyx commented on #3744
Nope, I never heard of this flag before!

[2021-08-23 15:16] mschwager commented on #3744
The `--emacs` functionality was originally an external contribution from @Ruin0x11: https://github.com/returntocorp/semgrep/pull/2495

When implementing the `--vim` functionality I was confused by `--emacs` lack of using the rule's message. Here's the context for why it is the way it is: https://github.com/returntocorp/semgrep/pull/2705#issuecomment-791881955.

[2021-08-23 16:20] IagoAbal commented on #3741
I guess this is just to enable associativity for `.` perhaps? That would be quick.

[2021-08-23 16:25] emjin commented on #3174
I believe this is fixed by my hack project

[2021-08-23 16:25] #3174 closed, assigned to nobody

[2021-08-23 17:17] alinbalutoiu commented on #3096
@ievans it seems that it got fixed in the recent releases. Thanks! 👍

[2021-08-23 21:10] colleend opened #3747 "Generic Mode Doesn't Match Ellipsis Inside '['"
**Describe the bug**
Generic mode doesn't match as expected when ellipsis are inside '['.

**To Reproduce**
https://semgrep.dev/s/N8eL

**Expected behavior**
Would expect the pattern above to match on lines 3-7 and line 12!

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that sh

[2021-08-23 22:35] huonw commented on #3744
Thanks for digging up some history; that doesn't seem to discuss why it's missing the rule's message specifically. I don't think that's required by emacs' error message matching, for instance, here's a little experiment with GCC, which emacs is happy to consume directly in its compilation-mode:

[code]

That is, the description is included on the 'main' line, and even code snippets.

[2021-08-24 13:17] tilperion2 opened #3748 "Incorrect pattern matching - When return object is a class with an import - Results are not correct"
**Describe the bug**
Tested on of R2C reles(unrestricted-request-mapping) and found this issue:
When return class of method in pattern matching have class not as void or Java primitives, but class with import, then check is not working properly and False positive is reported. Look for 3rd reported line in example below.

I suppose in this case return class is not correctly checker/matched in $RETU

[2021-08-24 14:56] brendongo commented on #3744
Is there some thing external we need to modify if we change `--emacs` so those using the emacs plugin(? is there a semgrep emacs plugin?) keeps working? @Ruin0x11

[2021-08-24 19:39] mschwager commented on #3728
There have been a few experiments like this in the past:

- Jsonnet: https://github.com/returntocorp/semgrep/pull/2428
- Jinja: https://github.com/returntocorp/semgrep-rules/pull/584

YAML itself also allows this to some extent with anchors and aliases: [YAML anchors](https://support.atlassian.com/bitbucket-cloud/docs/yaml-anchors/). Although, YAML anchors are not cross-file.

Anyway, just some fo

[2021-08-24 19:43] mschwager commented on #3728
Ahh, nice I see there's already an issue for YAML anchors: https://github.com/returntocorp/semgrep/issues/3677. We should definitely support this YAML functionality. My naive guess is that we just have to enable this functionality in the YAML library we're using.

[2021-08-24 22:37] huonw commented on #3744
There's no plugin published in the package registered that I can find, but there is https://github.com/Ruin0x11/semgrep.el . Looking over the code, it doesn't seem to customise emacs' compilation output functionality so my sense is the answer is 'no', but @Ruin0x11 would have to confirm.

[2021-08-25 03:55] Ruin0x11 commented on #3744
It should be fine to put the snippet on a new line like @huonw's example. There are many different matchers for compilation messages built into Emacs, and I just chose GCC's since it was pretty common. As long as one of the lines matches the error jumping will still work.

[2021-08-25 04:31] dlukeomalley commented on #3153
Re-opening, based on discussion in #3521

[2021-08-25 06:25] mjambon commented on #1059
.

[2021-08-25 08:13] IagoAbal commented on #3748
This seems to be the commit that introduced the bug (PR #3684):
[code]

[2021-08-25 12:40] #3702 closed, assigned to nobody

[2021-08-25 13:21] zabbal commented on #2746
The corresponding issue is still open so the ticket is still relevant.

[2021-08-25 15:11] IagoAbal commented on #3623
Did we have this problem also on Linux? We had it for sure with Apple M1 but it seems it may be fixed in OCaml 4.13 or 4.14: https://github.com/ocaml/ocaml/issues/10547

[2021-08-25 17:20] robre opened #3750 "semgrep.dev bug report - Rust function matching not working"
https://semgrep.dev/s/K8wj

[2021-08-25 17:20] robre opened #3751 "semgrep.dev bug report - Rust - Error parsing simple statement"
https://semgrep.dev/s/05Jr

[2021-08-25 17:20] robre opened #3752 "semgrep.dev bug report - Rust - Matchinig Rust Attributes not working"
https://semgrep.dev/s/WOBo

[2021-08-25 17:20] robre opened #3753 "semgrep.dev bug report - Rust - matching inside struct declaration using ellipses doesnt work"
https://semgrep.dev/s/Dw1v

[2021-08-25 17:22] robre commented on #3750
cant match a simple function `pub fn $FUN(...) -> $RESULT { ... }` (should match line 95)

[2021-08-25 17:23] robre commented on #3751
`fn deposit_event() = default;` gets an error

[2021-08-25 17:24] robre commented on #3752
Rust attributes aren't matched  (e.g.) `#[...]`

[2021-08-25 17:25] robre commented on #3753
cant match inside a struct declaration using ellipses. (when the ellipses are replaced with the actual code that they are substituting it works)

[2021-08-25 20:35] tilperion2 opened #3755 "Pattern-either works wrong with metavariable-regex."
**Describe the bug**
1. When you have metavariable-regex in one of pattern-either cases/branches - it is unable to detect this case if there is no second case present in the file, even only in the comments.

2. How is it possible that **comments** affect rule execution?

**To Reproduce**
First:
https://semgrep.dev/s/YXwD - works as desired at a first glance.
Let`s comment second either pattern
htt

[2021-08-25 21:49] mjambon commented on #3623
@IagoAbal I don't know if we have segfaults due to stack overflows on Linux. According to the OCaml maintainers, this used to be a known issue that's fixed since ocaml 4.10: https://discuss.ocaml.org/t/is-there-any-value-in-having-a-maximum-stack-size/8214/10

[2021-08-26 02:05] #3132 closed, assigned to nobody

[2021-08-26 04:22] inkz commented on #2653
@minusworld looks like new "join" rules fulfill this issue and also this one https://github.com/returntocorp/semgrep-app/issues/1786

[2021-08-26 06:18] ievans commented on #2437
shhh

[2021-08-26 06:18] ievans commented on #51
shhh

[2021-08-26 08:47] aaron-hau-zd opened #3757 "Reoccurring Expressions Variable Matching incorrect"
https://semgrep.dev/s/jkKD

Not sure if I am doing it wrong. I created an anti-pattern with "Reoccurring Variable", but it still matches

![Screenshot 2021-08-26 at 16 40 26](https://user-images.githubusercontent.com/87050776/130930955-b5e6de7c-c16b-48cf-97e6-cc67975d0027.png)
Line 13 -- should not be flagged
![Screenshot 2021-08-26 at 16 39 47](https://user-images.githubusercontent.com/87050776/1

[2021-08-26 12:36] xmo-odoo opened #3758 "[CONVENIENCE] pattern syntax for non-literals"
A common theme of sensitive APIs is that an in-source literal is *usually* safe (mostly), but a computed value (especially with user-provided data) is not.

This means in my experience a common pattern is:

    - patterns:
        - pattern: $SOME.$THING(...)
        - pattern-not: $SOME.$THING('...')

Would be nice if there was a way to directly specify that the first `...` is non-literal.

[2021-08-26 13:06] IagoAbal commented on #3623
I tried adding a `resource.setrlimit(resource.RLIMIT_STACK, ...)` in Semgrep-py but found some issues... It doesn't work on MacOS at least, see https://bugs.python.org/issue34602. To use `ulimit` from Semgrep-py we would need to execute `semgrep-core`'s command via the shell, I am not sure if this is OK or not, cc @brendongo.

We could also do it in semgrep-core itself, we may need to write some C

[2021-08-26 13:15] erwanlr commented on #3568
Also, an `if (...) { ... }` pattern will only match the last `else if` statement when there is an `else if`: https://semgrep.dev/s/5JEW

That one is P0 for me

[2021-08-26 14:09] #1769 closed, assigned to nobody

[2021-08-26 14:59] IagoAbal commented on #3520
Are we sure that these are really perf regressions rather than just noise? My impression is that it was somewhat random, #3516 looks like an extreme case and I believe that did not happen very often. Then we had fine-tuned the alarms in different ways, I think now we don't report deviations of less than 20%.

Just looking at the first ones reported:
- 4.105 vs 3.73
- 3.257 vs 2.785
- 21.864 vs 19.

[2021-08-26 15:02] IagoAbal commented on #3413
I believe this, at the end, might have been Git/network related? cc @emjin @mjambon

[2021-08-26 15:04] IagoAbal commented on #3396
This has been stale for a while and we have realized that our perf bottleneck is parsing. I would say this is now low priority.

[2021-08-26 16:12] robre opened #3759 "Support ellipsis in Rust `struct` items"
https://semgrep.dev/s/N8pL

When Trying to match the following code:
[code]

with the following pattern:
[code]

or even just
[code]

An error "_Error parsing Rust pattern: (Failure "error parsing the pattern")_" is returned.
The pattern
[code]
does successfully match the whole code snippet.

Am I using the ellipses wrong? I would expect each of the previous patterns to match the whole struct.

[2021-08-26 16:20] ievans commented on #3759
Rust is still under development (https://semgrep.dev/docs/status/ ) so this is probably a todo on the road to full support. Thank you for the clear write up!

[2021-08-26 16:45] IagoAbal commented on #2186
The message has already changed since this issue was opened, now Semgrep will say:

If you then pass `--verbose` you can see the parse error.

[code]

Is this enough to close this issue?

[2021-08-26 17:06] robre opened #3760 "semgrep.dev bug report - Rust Metavariable Matching bug"
https://semgrep.dev/s/kkq1

There are some Metavariable related patterns that do not work properly with a simple rust function:

#### Code:
[code]
#### Patterns that don't work, but should work:
##### Pattern1: Metavariable
[code]

##### Pattern2: Ellipses
[code]

#### Patterns that do work:
##### Pattern3: Omitting statement
[code]

##### Pattern4: Exact variable name
[code]

[2021-08-26 17:12] emjin commented on #3757
This is because the first pattern matches

[code]

which indeed does not look like

[code]

You can do what you want using `pattern-inside`. However, this actually looks like a perfect rule for taint tracking mode! Read about it here: [https://semgrep.dev/docs/writing-rules/data-flow/ ](https://semgrep.dev/docs/writing-rules/data-flow/ )

For future reference, we have a community slack which is us

[2021-08-26 17:12] #3757 closed, assigned to nobody

[2021-08-26 17:13] emjin commented on #3203
I actually think this only happens because the playground automatically adds it. It's a weird thing to do if you're writing it yourself.

[2021-08-26 17:16] emjin commented on #3413
Before we ran the integration tests with `--debug`, we would see this both in git commands and in semgrep calls. After adding `--debug`, we only saw this in the git commands (`git checkout` would take forever).

[2021-08-26 17:17] emjin commented on #3396
I'm going to close this and make any performance improvements as a part of a different story. Things that may still be worth doing

- Improve -filter-irrelevant-rules
- Cache matches between rules

[2021-08-26 17:17] #3396 closed, assigned to emjin

[2021-08-26 17:20] robre opened #3761 "Rust - Getting Matches when there shouldn't be"
#### Code
[code]

#### Patterns that produce matches, but shouldn't
[code]

[code]

I would expect the previous patterns to only yield matches when the last statement  (let mut .. ) is the last statement of a function. In the provided example code snippet it is in the middle and still yields matches. Furthermore, in Rust there is a difference wrt. semicolons. E.g. when the last statement doesn't h

[2021-08-26 17:39] robre opened #3762 "Rust attributes match most items, but not attributes"
https://semgrep.dev/s/v29W (remove the "?" at the beginning of the pattern - semgrep.dev only allows filing bugs when no match is found)

Trying to match the first line of the following code with an exact pattern will instead match all the other code. I suspect this might have something to do with the # symbol being a comment in yaml? Or maybe rust attributes aren't parsed correctly in the grammar

[2021-08-26 17:43] robre opened #3763 "allow bug reports from semgrep.dev playground for false positives"
When using the playground at semgrep.dev/editor there already exists a functionality to easily create bug reports when a pattern doesn't yield any matches and you think that it should. (False Negative)
However, in the case that a pattern yields matches, but you think that the matches are either incorrect, or that it shouldn't yield any matches at all, (False Positives)  there is no bug reporting f

[2021-08-26 17:53] robre opened #3764 "Rust metavariables don't match `self` parameter."
https://semgrep.dev/s/d0Rn

Trying to match the impl function "area" with a ref var `&self`:
### Code:
[code]
## Patterns with No Matches (broken):

### Pattern1: Metavar for `&self`
[code]
### Pattern2: Metavar for `self` prefixed by `&`
[code]

## Patterns with Matches (working as expected):
### Pattern3: Ellipses
[code]

[2021-08-26 18:01] robre opened #3765 "Rust ellipses not working as expected in a Match operator"
https://semgrep.dev/s/EO3E

When using ellipses to generically catch Rust match cases without specifying them, an error is returned.

## Code
[code]

## Patterns that don't match (bug?)
### Pattern1: Ellipses to represent unspecified match cases
[code]
I would expect the ellipses (last ellipses in previous pattern) to behave the same way as the next pattern.

## Patterns that do match (works as ex

[2021-08-26 18:09] robre commented on #3759
added some additional issues (#3760 #3761 #3762 #3763 #3764 #3765) by taking examples from  the rust doc https://doc.rust-lang.org/book/ and trying some patterns on them.
If there exists some writeup on how to approach implementing fixes for issues like those I would consider trying to fix them myself, but I have not much clue about ocaml, or grammar stuff.

[2021-08-26 19:18] emjin commented on #3759
Thank you for all the issues! Currently, Rust is primarily a community effort. We'd love to have you as well! Our [docs](https://semgrep.dev/docs/contributing/contributing-code/) give an overview of the codebase, which might be a nice starting off point. There's also an existing thread where interested contributors have been chatting: https://github.com/returntocorp/semgrep/issues/1338, and if you

[2021-08-26 19:43] sk- opened #3767 "Autofix only outputs first line of BODY"
**Describe the bug**
The autofixed code will only output the first line of the matched class body.

I even tried using `$...BODY`, but that does not generate any matches, which is strange because in https://github.com/returntocorp/semgrep/issues/3170 was mentioned this was fixed. But maybe this a Python specific issue.

**To Reproduce**
https://semgrep.dev/s/8ROB

Note how `bar` (the second statem

[2021-08-26 22:26] mjambon opened #3769 "Protect all network calls with timeout + good error message"
In the past, we've had some semgrep runs taking up to 6 hours, but would normally would take just a few minutes. See issue #3413.

To prevent jobs from taking too long without making any progress, let's set timeouts on the commands or functions that rely on the network. Examples of such operations include:

* cloning the target git repo
* fetching semgrep rules from a registry
* posting scan resul

[2021-08-26 22:29] mjambon commented on #3413
I don't know about the causes, but given the difficulty to reproduce these issues, I'd say we should program defensively. Perhaps we should ensure than any command involving "the network" (or any resource out of our control) times out reasonably and with a good error message.

I just created this task for implementing timeouts everywhere: https://github.com/returntocorp/semgrep/issues/3769

[2021-08-26 22:31] #3741 closed, assigned to IagoAbal

[2021-08-26 22:37] DrewDennison commented on #3413
awesome! Love the idea of being more defensive in our programming here

On Thu, Aug 26, 2021 at 6:29 PM Martin Jambon ***@***.***>
wrote:

[2021-08-27 08:47] underyx commented on #3521
When solving this, please test whether semgrep-agent still understands which findings are ignored right and whether semgrep-agent sees the same source code for the finding before and after ignore.

Currently semgrep-agent has to resort to a brittle hack to be able to recognize that the finding is identical before and after ignoring, because adding an inline nosemgrep comment changes the source cod

[2021-08-27 13:25] erwanlr opened #3770 "PHP - Taint - Array flagged as tainted when key is tainted"
**Describe the bug**
When a tainted source is used as an array key, the whole array is flagged as tainted, leading to false positives

**To Reproduce**
https://semgrep.dev/s/4PE8

**Expected behavior**
The array should not be detected as tainted

**What is the priority of the bug to you?**
- P1: important to fix or quite annoying

[2021-08-27 15:47] sidmitra commented on #2530
This does seem like an essential feature, atleast for us while using the CLI tool(via Github action)

- We want to use existing ruleset repo on a large existing codebase, but we can't fix all of the bugs before making this check mandatory. So those rules seem like good candidates to be turned off until they get fixed.
- This has precedents in other tools.
  - pylint
[code]
  - flake8
[code]

- The

[2021-08-27 15:50] ievans commented on #2530
Somewhat related: https://github.com/returntocorp/semgrep-action/pull/319

[2021-08-27 15:58] sidmitra commented on #2530
@ievans Thanks for the pointer, will take a look.

I was about to leave a postscript saying IMHO the tool is suffering from a lack of centralized config, and there was nothing about it in the docs. I assumed this was to guide people towards using the paid semgrep app to manage policies/rules (which is fine too, but has its own headaches for orgs like ours, SOC2 compliance etc.).

[2021-08-27 18:19] sabrinabrogren opened #3771 "$...BODY not working for Python"
**Describe the bug**
Similar issue to https://github.com/returntocorp/semgrep/issues/3170 but in Python

**To Reproduce**
https://semgrep.dev/s/DwPy/

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

[2021-08-27 18:24] sabrinabrogren commented on #3767
Thanks for the bug report, @sk- ! It seems like there are two bugs here, one with autofix and one with ellipsis-metavariable. Autofix is an experimental feature, so just a heads up that it might take us longer to fix. I created a [separate issue for ellipsis-metavariable in Python](https://github.com/returntocorp/semgrep/issues/3771) - what priority would you say this is for you?

[2021-08-27 18:39] n-hebert opened #3772 "Java static imports are not distinguished from regular imports"
**Describe the bug**
I would like to prevent static imports (as they make things less readable and searchable), but Semgrep does not distinguish between static imports and regular imports when I request it to.

**To Reproduce**
https://github.com/returntocorp/semgrep/issues/521

**Expected behavior**
I would like the static import to be detected & flagged, but non-static imports to be acceptable.

[2021-08-27 18:49] n-hebert opened #3773 "Semgrep crashes if given a yml file with only comments"
**Describe the bug**
When a rule is commented out, leaving a yml file empty (e.g. for testing), Semgrep crashes with an unsightly stack trace.

**To Reproduce**
1. Create a yml file with '# Hello World!' into it
2. Run semgrep with `--config your.yml` (given the actual path of your yml file from above)

**Expected behavior**
Semgrep ignores comment-only yml files benignly and operates as usual.

*

[2021-08-27 21:45] emjin opened #3774 "Improve surfaced semgrep-core messages"
Since https://github.com/returntocorp/semgrep/pull/3657 we surface `semgrep-core` messages so users can report and fix them. These are not very good messages. For example:

[code]

We should explain what is happening and include the rule/file where this happened so they can file a bug report.

[2021-08-28 00:36] mjambon opened #3775 "Improve uncaught exception reports"
Problems:
* Some stack traces are useless because they're incomplete or missing. This is due to exceptions being caught and turned into ordinary data without capturing the stack trace at that point.
* Uncaught exceptions are currently printed without other application-specific context: the user doesn't know what piece of input triggered the error/bug.

Recommendations:
* In general, exception catc

[2021-08-28 12:19] IagoAbal commented on #3774
I believe that it is only shown if you run with `--verbose` in which case Semgrep should be telling you on which rule is that happening?

I agree that we should catch these exceptions and handle them properly. But what is happening here is that there was an uncaught exception, and in such case I think the error message is just right. The idea is precisely that the users report these backtraces so

[2021-08-28 19:29] IagoAbal commented on #3774
OK I was wrong, I did a small test with a known way to trigger a fatal error and the error is shown regardless of `-v`. I think that's good because then we get these bug reports. Right now Semgrep will still analyze more stuff regardless, but that maybe change when we pass all the rules to semgrep-core... if there is a fatal error then it will stop analyzing.

The file that is being analyzed you c

[2021-08-30 13:20] IagoAbal commented on #3742
The way taint tracking works it is non-trivial to guarantee that there are no duplicates. Right now, internally, we use search-mode queries to compute the ranges of sources, sanitizers, and sinks. Then if e.g. an expression is inside a `pattern-sources` range, then we consider it a source of taint; and, if it is inside a `pattern-sinks` range, we consider it a sink. We have some mechanisms to remo

[2021-08-30 13:21] IagoAbal commented on #3742
Another example reported by @emjin: https://semgrep.dev/s/d0dZ/

[2021-08-30 13:36] IagoAbal commented on #3742
I will let the engine produce the duplicates and filter these duplicates at the end. Unless there are too many taint matches, it should not cause perf problems. There may be a better solution but I need to think more on it and discuss it with some colleagues.

[2021-08-30 14:12] erwanlr opened #3778 "PHP - Taint - Match not detected when in Ternary Operator Assigned to Variable"
**Describe the bug**
When trying to reduce duplicate matches of https://github.com/returntocorp/semgrep/issues/3742, by adding functions such as `isset(...)` as sanitizer, I noticed that some code was not detected as tainted

For example: `sink((isset($source) ? $source : 'b'));` is detected, but the below is not

[code]

**To Reproduce**
https://semgrep.dev/s/z9zZ

**Expected behavior**
The match

[2021-08-30 14:17] erwanlr commented on #3742
Fine by me ;) I think the max duplicates per issue I had so far is 3

Btw, I noticed another issue (ticket linked) when trying to reduce duplicate output by adding functions such as `isset(...)` as sanitizer (which works in term of eliminating some duplicates, but then some code won't match :o)

[2021-08-30 14:55] aryx commented on #3520
nobody is gonna fix that ... closing.

[2021-08-30 14:55] #3520 closed, assigned to nobody

[2021-08-30 14:56] aryx commented on #3623
I vote for ulimit -s 50000 done in the python wrapper

[2021-08-30 15:00] aryx commented on #3713
Is there an official grammar for Groovy somewhere? Or even better a tree-sitter parser for it?

[2021-08-30 15:01] aryx commented on #3698
who requested that?

[2021-08-30 15:11] nbrahms commented on #3521
Explicit is always >> implicit IMO. We can always surface a warning if there's no text before a bare `nosemgrep`.

[2021-08-30 19:10] kiwiz opened #3782 "Relative `paths` are not handled properly"
**Describe the bug**
Prior to `0.58`, an `paths.include` path with a `./` would properly pick up the file.

**To Reproduce**
[code]

1. Create a file called `readme.md` and put some content in it
2. Run the rule against semgrep `0.57` and `0.58`.

**Expected behavior**
Semgrep should scan the target file.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**What is the

[2021-08-30 19:10] kiwiz commented on #3782
Relevant thread: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1630349798014700

[2021-08-30 19:21] IagoAbal commented on #3623
@brendongo please let us know if this can be done in Semgrep CLI. I tried myself but found some problems (see https://github.com/returntocorp/semgrep/issues/3623#issuecomment-906396915). It should be possible if we invoke Semgrep inside via the shell (`shell=True`) if that's OK.

[2021-08-30 19:22] IagoAbal commented on #3623
cc @mschwager

[2021-08-30 19:41] IagoAbal commented on #3199
@erwanlr Your request number 1 is resolved already I believe: https://semgrep.dev/s/brxq. Same trick can be used for  sanitizers.

[2021-08-30 19:55] ievans commented on #3199
@IagoAbal perhaps we should add that to the documentation for taint mode?

[2021-08-30 19:59] IagoAbal commented on #3199
Yes we should, I will do!

[2021-08-30 20:06] IagoAbal commented on #3770
Given your rule this `$not_tainted = $rows[$tainted];` is going to be tainted because `$tainted` is tainted. But you could say that `$A[$B]` is a sanitizer, or you could even sanitize only the key as in https://semgrep.dev/s/N80n. Would that work for you?

[2021-08-30 20:15] IagoAbal commented on #3778
My initial thought would be that
[code]
should be reported, but this depends on how you interpret the sanitizer. I would expect it to be used as `sink(sanitizer($source));`.

[2021-08-30 21:27] erwanlr commented on #3778
Ha, I did not even pay attention to that one as it is not really an issue for me here ;D. In my everyday cases, having `sink(sanitizer($source));` or `sanitizer(sink($source));` is the same thing and safe, but I definitely understand that in some cases, such behaviour may not be desirable.

[2021-08-30 21:27] erwanlr commented on #3199
Wohop, that's actually awesome, I've edited my post about this!

[2021-08-30 21:42] #3772 closed, assigned to aryx

[2021-08-30 23:18] brendongo commented on #3623
Would be best if we did not use `shell=True` since some of the things we pass to semgrep-core are user defined or from network.

[2021-08-30 23:19] brendongo commented on #3623
Is there a good reproduction that causes the stack overflow issue?

[2021-08-30 23:36] brendongo commented on #3623
https://github.com/YosysHQ/yosys/pull/2110/files and https://bugs.python.org/issue34602 makes me think that the issue only fails if we try to call resource.setrlimit with a smaller value than mac already allows. If you have an example repro for this I can test it out on the mac side to see if the resource.setrlimit solution works?

[2021-08-30 23:44] brendongo commented on #3782
Relevant PR potentially: https://github.com/returntocorp/semgrep/pull/3173/files

[2021-08-31 00:14] emjin commented on #3623
The timeout test will stack overflow if you increase the timeout

[2021-08-31 00:18] emjin commented on #3623
➜  e2e git:(develop) ✗ semgrep --config rules/long.yaml targets/equivalence
running 1 rules...
semgrep-core failed: unparseable json output
rule ID: 'rules.forcetimeout'
semgrep-core exit code: -11
semgrep-core command: /usr/local/lib/python3.9/site-packages/semgrep/bin/semgrep-core -lang python -json -config /var/folders/4h/r6m5kls56r98069rz7w7f2400000gn/T/tmp1x9ix2c2.yaml -j 12 -target_file /var

[2021-08-31 00:19] emjin commented on #3623
I don't have a practical example on hand (user running into the stack overflow)

[2021-08-31 00:26] #1096 closed, assigned to nobody

[2021-08-31 07:11] xmo-odoo opened #3783 "Understand re-exports"
I'm not quite sure how "deep" semgrep goes in its analysis, but one thing it doesn't seem to understand is the "re-exports" variant of aliasing, at least for Python:
[code]
[code]

[2021-08-31 07:38] xmo-odoo opened #3785 "semgrep not following assignments / seeing through aliasing?"
Semgrep seems to understand "import renaming" just fine e.g. in Python using `from a import  b as c` will not prevent `c()` from being matched by a rule checking for `a.b()`: https://semgrep.dev/s/Q4lo (aliasing the module with `import hashlib as h` also works)

However if the alias is created "by hand", whether aliasing the terminal symbol or the module, semgrep gets lost: https://semgrep.dev/s/3

[2021-08-31 07:45] IagoAbal commented on #3623
I am not sure if there are any known easy-to-reproduce ones since we have fixed a bunch of them already. We could take the commits that fixed some stack overflows, revert the fixes and reproduce. For example 19dda48fdfb2ccf208631b2bd05192aeda54a9dd and 7f16a10c732eb92e3dbca95670ce827454c25fb1. @mjambon fixed one recently too I think (but I can't find it searching for "stack overflow"). The idea wa

[2021-08-31 07:54] IagoAbal commented on #3623
@brendongo I'm on Apple M1:
[code]
But let me know if you get it to work, I just did a quick test and I may have missed something obvious.

[2021-08-31 08:08] Sjord opened #3786 "Metavariables don't match in JavaScript template strings"
**Describe the bug**

I expect metavariables between backticks to work in JavaScript:

[code]

I expect this to match the following:
[code]

**Priority**
How important is this to you?
- P2: annoying but not blocking me

[2021-08-31 10:25] IagoAbal commented on #3778
We probably need to support different kinds of sanitizers.

Regarding this issue, it seems related to a bug in the Generic-to-IL translation. Some colleagues wanted to get familiar with the taint-mode code so I'll give them some time to look into this issue. If they don't find time then I'll fix this myself next week.

[2021-08-31 10:47] erwanlr commented on #3778
I would love to have different kind of sanitisers, as in the example above `sanitizer(sink($source));` is not detected and that's a wanted behaviour in the case I was dealing with, but when the sink/source is a multi lines pattern, then semgrep reports it even though the sink goes through a sanitiser (however that's the correct behaviour from what you mentioned)

[2021-08-31 13:49] tilperion2 opened #3787 "Java 15+ text blocks not supported,error parsing java classes"
**Describe the bug**
Java 15+ text blocks([link](https://www.baeldung.com/java-text-blocks)) not supported by SemGrep?

**To Reproduce**
https://semgrep.dev/s/5JbW

**Expected behavior**
New Java specs should be supported, including new Java text blocks.

**Screenshots**
![image](https://user-images.githubusercontent.com/16115976/131514221-7598d98b-640b-47ec-af6d-0fa06741f56b.png)

**What is the p

[2021-08-31 13:52] brooksmtownsend commented on #1338
Hello, we're using `semgrep` using some custom rules for our Rust project and it's going well so far. One thing we noticed is that metavariables for functions don't work correctly when used with macros, here's a few code snippets.

We're testing to see if a variable is written out to stdout, through `println!` or log macros
[code]
In the semgrep rule
[code]

This does not trigger on the following

[2021-08-31 15:23] erwanlr opened #3788 "Feature: Only run rule inside folder if specific pattern present in file at root of folder"
**Is your feature request related to a problem? Please describe.**
Recently I came across a scenario where I needed a rule to be executed only on files belonging to the same vendor (which can be identified by the presence of the vendor name in a readme.md at the root of a library for example)

**Describe the solution you'd like**
The possibility to have a rule executed only on a folder where a spe

[2021-08-31 17:43] emjin commented on #3783
Thank you for reporting this! What is the priority of this to you?

[2021-08-31 17:44] emjin commented on #3785
Thank you for reporting this (and providing the context)! What is the priority of this issue to you?

[2021-08-31 18:59] emjin opened #3790 "Taint mode can express cases where two sources of taint need to be present"
For AngularJS, we want to write a rule that bans `$sce.trustAsJs($scope.$INPUT)`, where both `$sce` and `$scope.$INPUT` may be aliased in various forms. Currently, it is not possible to require two sources of taint to reach a sink.

Workaround currently used is: https://semgrep.dev/s/emjin:trust-as-source

[2021-08-31 20:05] IagoAbal commented on #3788
As a workaround you could use Semgrep via its Python API to first find those readmes, then run your rules on the folders where those readmes are.

[2021-08-31 21:31] emjin commented on #3790
Alternate (probably better) solution: https://github.com/returntocorp/semgrep/issues/3207

[2021-08-31 22:59] l00py opened #3791 "Support for ini"
**Describe the solution you'd like**
- semgrep to support `ini` language
- tree-sitter parser available at: https://github.com/justinmk/tree-sitter-ini

[new-language]

[2021-09-01 00:36] #3742 closed, assigned to IagoAbal

[2021-09-01 03:43] #3202 closed, assigned to nobody

[2021-09-01 05:48] xmo-odoo commented on #3785
@emjin pretty low, it was just something I found when playing around with #3783 and figured I might as well report it.

[2021-09-01 05:50] xmo-odoo commented on #3783
med-low to medium?

The codebase I work on has a significant number of these re-exports (although note that the re-exports are often star-exports, not conveniently listed explicitly as the example is), but once the issue is known it can be worked around by duplicating the rule and putting the two versions in a `pattern-either:` so it's a bit of a trap and inconvenient but it's not breaking semgrep

[2021-09-01 11:57] vdbaan opened #3794 "URL with self signed certificate cannot be used as repository"
**Describe the bug**
The config is stated that it can be a registry entry, a url, or a file, folder.
When using a secure URL that uses a self signed certificate, it will not load

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:
- use docker image `nwtgck/self-signed-https` as fake https server
- start the docker image

- run `docker run --rm -v "${PWD}:/src

[2021-09-01 16:52] l00py commented on #3791
There is no license file within the https://github.com/justinmk/tree-sitter-ini. I reached out to @justinmk to seek permission. I'll advise accordingly.

Thanks

[2021-09-01 17:00] justinmk commented on #3791
added LICENSE. The grammar is alpha though...

[2021-09-01 17:04] l00py commented on #3791
I think from Semgrep, this could be in Alpha/Develop (experiment) status until the grammar is getting more mature :).

Thoughts?
https://semgrep.dev/docs/status/#maturity-definitions

[2021-09-01 17:27] brendongo commented on #3794
Does this work using semgrep locally (not in docker)?

[2021-09-01 18:09] vdbaan commented on #3794
Unfortunately no:

[code]

When I look in the code where the config is downloaded (`config_resolver.py:394`) I see that the parameter `verify` is not used, which can be set to either False (no not verify the cert), or a pem to verify against.

[2021-09-01 18:45] RamiAwar opened #3798 "semgrep.dev bug report"
https://semgrep.dev/s/34pG

[2021-09-01 18:51] emjin opened #3799 "Improve out of scope error checking"
This is a great error message:

![image](https://user-images.githubusercontent.com/5942585/131727196-f00c8e25-a858-4ef2-9619-8fed470653b8.png)

However, it does not always show up. For example, it does not warn in the equivalence case for `metavariable-regex`.

Also, a similar pattern gives no warning: https://semgrep.dev/s/JjJR

[2021-09-01 18:51] ankush commented on #3662
What's expected ideal solution to this?

Test runner should just ignore the specified file patterns?

[2021-09-01 19:07] gordonwoodhull opened #3801 "support for pattern-inside a control flow"
**Describe the bug**
We'd like to use semgrep to do the analysis of control flow that we can (in theory) do with SmPL. I'm not clear if semgrep patterns follow control flow or if it is only syntactic/AST matching.

Say we have some `Foo` provider and we want to match the region from the construction of the `Foo` to the call of `Foo.bar()`:

[code]

This matches the "no blocks" case:
[code]

and th

[2021-09-01 19:51] ievans commented on #3798
@RamiAwar this looks like a valid core crash to me -- I'll re-open and tag @mjambon to take a look?

[2021-09-01 19:52] RamiAwar commented on #3798
Oh yeah sure, I felt like I was being a noob 😅

[2021-09-01 19:54] ievans commented on #3801
@gordonwoodhull this looks like a use-case for the new taint mode, which was recently promoted from experimental (but is not yet GA). How does https://semgrep.dev/s/ievans:java-taint-cfg look to you :D

Docs: https://semgrep.dev/docs/writing-rules/data-flow/

[2021-09-01 21:13] emjin commented on #3798
That is an awful error message, and we should definitely fix that. The problem is that you can't have a `pattern-not` without a pattern. For example, https://semgrep.dev/s/lxn6 will work without an error.

[2021-09-01 21:19] emjin opened #3802 "Improve error message for pattern with only a pattern-not"
We have

[code]

For a user this becomes

![image](https://user-images.githubusercontent.com/5942585/131746595-4fd8b74a-3dc1-44b9-966c-4ebcff18e30a.png)

https://semgrep.dev/s/34pG

[2021-09-01 21:19] emjin commented on #3802
See https://github.com/returntocorp/semgrep/issues/3798

[2021-09-01 21:20] DrewDennison commented on #3802
my eyes 🙈

[2021-09-01 23:42] jbdoster opened #3804 "Support for filtering typescript enums"
**Is your feature request related to a problem? Please describe.**
Using this `{..., $KEY: $VALUE, ...}` from this [example](https://semgrep.dev/docs/writing-rules/pattern-examples/) does not work

**Describe the solution you'd like**
Support for filtering typescript enums

**Describe alternatives you've considered**
N/A

**Additional context**
N/A

[2021-09-02 00:22] mjambon commented on #3791
@justinmk I'm not familiar with the ini format. Could you please indicate in a readme which specification you're following? I see from https://en.wikipedia.org/wiki/INI_file that different parsers support different features. Ideally, these dialects would be mutually compatible so that we could use the same parser for all of them. I'm a bit worried that we'd have to manage something like 5 differen

[2021-09-02 01:01] justinmk commented on #3791
it supports [sections](https://en.wikipedia.org/wiki/INI_file#Sections) and `#`-prefixed comments.

I suppose dialects could be covered by a single parser.

[2021-09-02 02:18] #2443 closed, assigned to nobody

[2021-09-02 02:20] RamiAwar commented on #3798
Yes I was still exploring Semgrep for the first time, was just trying to get that to work. Ended up doing something different! Thanks for the help!

[2021-09-02 08:50] erwanlr opened #3805 "[PHP] Generic with metavariable-pattern: FN & FP"
**Describe the bug**
https://semgrep.dev/s/DwZq

- Line 7 should not match
- With a pattern of pattern: `echo baz(...);` Line 2 does not match but 5 does

**Expected behavior**
There should not be any False Positive and Negative with such basic pattern/s

**What is the priority of the bug to you?**

P0: blocking your adoption of Semgrep or workflow

[2021-09-02 10:20] IagoAbal commented on #3774
There are way too many places where you can get a `NoTokenLocation` exception. To the point that I don't think is feasible to do the same as I did with `range_of_any_opt`. I would rather get rid of fake tokens all together, but that's probably some (tedious) work.

[2021-09-02 12:25] IagoAbal commented on #3774
OK...

All this was wrong. We already catch exceptions and convert them to errors in `Main.iter_files_and_get_matches_and_exn_to_errors`. Actually fatal errors are even reported with the path of the target file, we just need to print it. The rule id we do not report currently, but since Semgrep CLI sends one rule at a time... it should be able to print it too.

[2021-09-02 12:42] fpmosley commented on #3698
I'm definitely interested in getting Elixir language support. We have a large Elixir code base at PagerDuty.

https://www.pagerduty.com/blog/elixir-at-pagerduty/

I'm also interested in contributing to the project by helping to build in support for Elixir.

[2021-09-02 13:06] IagoAbal opened #3806 "Cannot write `pattern: y` (upgrade to YAML 1.2)"
**Describe the bug**
You cannot write `pattern: y` in Semgrep, because apparently the `y` gets parsed as `true`!

**To Reproduce**
https://semgrep.dev/s/Q4AJ

[2021-09-02 14:24] aryx commented on #3698
@fpmosley you can have a look at https://semgrep.dev/docs/contributing/adding-a-language/ for help adding a language.
The first step would be to evaluate the two tree-sitter-elixix repo above and check which one is the most complete, and then
add it to ocaml-tree-sitter-semgrep as indicated in the doc.

[2021-09-02 14:25] underyx commented on #3698
Initially @jtormey, creator of linear-sync

[2021-09-02 14:37] IagoAbal commented on #3770
@erwanlr when time allows please let me know if my proposed solution works for you, or if I understood your problem wrong. Thanks!

[2021-09-02 14:50] erwanlr commented on #3770
It could work, I haven't had the time to try it yet. However, I still believe such case should not be flagged, as with `$data = $rows[$tainted];` `$data` does not contain tainted data unless there was something like `$rows[$tainted] = $other_tainted` done before

[2021-09-02 14:53] fpmosley commented on #3698
@aryx Thanks! I started reviewing the contributing guidelines a couple of days ago. I'm hoping to dedicate some time later this month. 🤞

[2021-09-02 15:13] gordonwoodhull commented on #3801
Thanks @ievans! That's a neat feature, and I guess it confirms my guess that ordinary patterns and ellipsis are syntactic and do not follow control flow.

Unfortunately I am looking for something with deeper integration with autofix. Specifically in our use case we would like to
- modify (or prepend statements) to the source statement (not just the sink)
- use bound metavariables in the `fix`

Tha

[2021-09-02 16:45] emjin commented on #3263
I looked at one and it still timeouts :(

[2021-09-02 16:47] emjin commented on #2443
@brendongo Is this something you're still interested in?

[2021-09-02 16:48] #3798 closed, assigned to nobody

[2021-09-02 16:54] emjin commented on #3805
Tagging @mjambon to see if he has any suggestions. In general, generic is going to be more limited because we aren't parsing into the AST.

[2021-09-02 18:00] nbrahms commented on #3806
is this part of the YAML standard?

[2021-09-02 18:06] nbrahms commented on #3806
Per the YAML standard, only literal `true` and `false` are boolean scalars: https://yaml.org/spec/1.2/#id2803629

[2021-09-02 18:07] emjin commented on #3806
So I thought it was, because the YAML library in opam does this, but looking at the standard I agree with Nathan.

[2021-09-02 18:09] emjin commented on #3806
ooh perhaps this is outdated https://github.com/avsm/ocaml-yaml (they cite YAML 1.1). I can definitely update then

[2021-09-02 18:11] nbrahms commented on #3806
Note that even:
[code]
gets parsed incorrectly

[2021-09-02 18:39] mjambon commented on #3806
https://yaml.org/type/bool.html shows the spec for yaml 1.1, which supports all the crazy values for booleans:

yaml 1.2 fixes this and only supports `true` and `false`.

I'm surprised that yaml 1.2 is dated from 2009 but yaml 1.1 is still widely in use. Anyway, now I know that we should be specific about which yaml version we support.

[2021-09-02 19:01] mjambon commented on #3805
oh, it's a bug in our php parser or matcher. Here's a simpler example: https://semgrep.dev/s/mjambon:php-ughhh
![image](https://user-images.githubusercontent.com/343265/131901496-562d6d90-4a9e-4d2d-b1b2-a6c5f54c5631.png)

[2021-09-02 19:23] IagoAbal commented on #3805
I am no PHP expert to know if this is correct, but
[code]
is parsed as `echo("value")`.

[2021-09-02 19:24] brendongo commented on #3794
I'm not sure we want to support exposing such an option. For this use case can we just curl with the desired options and pass in the file to semgrep? But I might be misunderstanding this use case. @mschwager thoughts?

[2021-09-02 19:28] IagoAbal commented on #3805
Ideally we want to restrict the matches to those attributes whose values match `"<?php ..."`. But we can't do this directly because we also need `$...TEXT` to capture the `<?php` text.

[2021-09-02 19:30] emjin commented on #3804
Thanks for opening an issue! What is the priority of this to you?

[2021-09-02 19:31] IagoAbal commented on #3805
Such as in https://semgrep.dev/s/P8RE or https://semgrep.dev/s/JjLZ, @mjambon any trick to make it match `<foo attr="value" bar="<?php echo baz($_POST['bar']); ?>" />` too ?

[2021-09-02 19:48] ievans commented on #3801
@gordonwoodhull thanks for sharing. It sounds like the refactor you want to perform might be quite complex, so using Semgrep as a tool in a pipeline makes sense to me.

At the same time, I'm curious if you have an imagined syntax that would allow Semgrep to perform the refactor. It sounds like in the search (as opposed to taint mode) you want:

[code]

[code]

Is that right? How would you imagine

[2021-09-02 21:34] mjambon commented on #3805
@IagoAbal ok, I understand the ghost echo now.

I tried filtering with a regexp, and that part works: https://semgrep.dev/s/K846
The problem is that the generic mode (spacegrep) doesn't return all the possible matches. So when there are multiple attributes, the pattern `<$TAG ... $ATTR = "$...TEXT" ...>` will just match the first attribute.

[2021-09-02 22:00] mjambon opened #3810 "Make spacegrep return all the matches"
Currently, spacegrep (semgrep's generic mode) returns only some of the matches. This is supposed to produce the best results when we want to make a simple pass and we don't want to filter the matches any further.

Some of the filtering is described here in [`Match.ml`](https://github.com/returntocorp/semgrep/blob/a57122f9e8c548ca092e0e7172f81c1a319d46cf/semgrep-core/src/spacegrep/src/lib/Match.ml#

[2021-09-02 22:01] mjambon commented on #3810
This will help with https://github.com/returntocorp/semgrep/issues/3805

[2021-09-02 22:01] r2c-demo commented on #3810
This issue is synced in Linear at https://linear.app/r2c/issue/SUP-34/make-spacegrep-return-all-the-matches.

[2021-09-02 22:25] mjambon commented on #3805
@erwanlr this is the best I could come up with for now: https://semgrep.dev/s/652j
i.e. a single generic pattern:
[code]

[2021-09-02 22:48] ievans commented on #1964
cc @mjambon who has been thinking about output along these lines

[2021-09-02 22:49] ievans commented on #3211
Still a bug, re-opening

[2021-09-03 00:46] edamamez opened #3811 "Ruby rules don't match parameter-less calls"
**Describe the bug**
When writing a Ruby rule, Semgrep returns a false negative on method calls with no parameters.
(link to Slack discussion: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1630341006011600)

**To Reproduce**
https://semgrep.dev/s/brbQ

**Expected behavior**
A parameter-less call should be able to be matched.

**Screenshots**
![Screenshot of semgrep rule in ruby where foo m

[2021-09-03 00:47] r2c-demo commented on #3811
This issue is synced in Linear at https://linear.app/r2c/issue/SUP-35/ruby-rules-dont-match-parameter-less-calls.

[2021-09-03 06:40] #3238 closed, assigned to nobody

[2021-09-03 07:47] #3774 closed, assigned to nobody

[2021-09-03 09:03] IagoAbal commented on #3805
I guess the real fix here is to make Spacegrep return "all possible" matches instead of just the shortest one.

[2021-09-03 14:29] mschwager commented on #3794
I don't recommend disabling SSL verification in production usage. However, Semgrep uses Python `requests` on the backend for HTTP request functionality, which allows for a few options here:

1. You can sign your certificate with a CA and use that CA bundle for verification when making requests: https://docs.python-requests.org/en/master/user/advanced/#ssl-cert-verification (`REQUESTS_CA_BUNDLE`).

[2021-09-03 16:47] emjin commented on #3805
If users just want the matches, then they might be overwhelmed with results.

[2021-09-03 17:18] IagoAbal commented on #3805
Wouldn't that be an argument for not returning all the matches in Semgrep as well? IMO it's unintuitive that Spacegrep works differently than Semgrep in this respect.

[2021-09-03 17:23] emjin commented on #3805
With Semgrep, the matches are usually what the user wants, though. In generic, I feel like sometimes it's a guess. For instance what if someone matches `foo $X` against `foo 3 + foo 5`? It also seems unintuitive for this to match `foo 3`, `foo 3 +`, and `foo 3 + 5`. (Sorry if I misunderstood and this would not happen)

[2021-09-03 17:32] IagoAbal commented on #3805
To the best of my knowledge, matching `foo $X` would just return two matches: `foo 3` and `foo 5`.

But if we did the same as Semgrep, `foo ... $X` would behave as you described. That wouldn't be a very smart pattern to write, but perhaps we should be careful with `...`.

[2021-09-03 17:53] anuraagbaishya opened #3816 "Add invalid rule name to semgrep --validate sarif output"
**Is your feature request related to a problem? Please describe.**
When using semgrep rule validator in sarif mode (`semgrep --validate --config semgrep-rules/ --sarif`) the output does not contain the name of the rule that was invalid. The non sarif version output contains the name of the rule
Eg:
[code]

We are building a system that allows users to add semgrep rules to their git repositories an

[2021-09-03 18:05] IagoAbal commented on #3805
@erwanlr what about this https://semgrep.dev/s/1G2Q ?

[2021-09-03 23:06] nbrahms commented on #3790
This has been worked around

[2021-09-03 23:06] #3790 closed, assigned to nobody

[2021-09-04 04:44] emjin commented on #3755
I think I know why! My suspicion is that Semgrep is incorrectly skipping this file under the belief that the string `getMd2Digest` must be present. We use a simple string search to skip files when possible. I don't know why this is going wrong, though. Here's a minimal example: https://semgrep.dev/s/96NR @aryx in case you can think of a change you made recently that would affect this

[2021-09-04 05:23] emjin commented on #3007
Appears fixed.

[2021-09-04 05:23] #3007 closed, assigned to IagoAbal

[2021-09-04 06:27] #3297 closed, assigned to nobody

[2021-09-04 06:58] emjin commented on #3443
Can we close this because we have `--time`?

[2021-09-04 07:47] emjin commented on #1804
@mschwager Is this closed by taint mode?

[2021-09-04 07:52] emjin commented on #2593
Now that the Python code is ported, is this fixed?

[2021-09-04 11:53] mjambon commented on #3747
This is because in generic mode, `$X` always matches a single alphanumeric word. To match a sequence of items (punctuation or words), we now have `$...X`, which works for this example: https://semgrep.dev/s/y6Wd
![image](https://user-images.githubusercontent.com/343265/132093525-2c7f5df1-5b48-4929-980e-155bccdc819d.png)

[2021-09-04 11:54] mjambon commented on #3747
cc @IagoAbal who implemented the `$...X` feature :-)

[2021-09-04 11:54] #3747 closed, assigned to nobody

[2021-09-05 20:40] gordonwoodhull commented on #3801
Thanks @ievans.

Yes, I want something like that, but it is impossible for `...` to appear in a fix (what would it expand to?), so I was trying to use `pattern-inside` to specify the control flow, and `pattern` to express the anchor line for the insertion:

[code]

This again has the desired behavior with the "no blocks" and "ends in block" cases, but does not match the "starts in block" case.

ht

[2021-09-06 07:52] sim642 opened #3820 "Testing silently ignored if inside `.semgrep` directory"
**Describe the bug**
I have a `.semgrep` directory in my project with a bunch of rule files (e.g. `.semgrep/myrule.yml`). I decided to add corresponding rule tests (e.g. `.semgrep/myrule.ml`), but running `semgrep --test .semgrep/` totally ignores them all:
[code]

In desperation I renamed the directory to `foo` and ran `semgrep --test foo/` and suddenly the tests actually ran.

Is there something

[2021-09-06 08:09] sim642 opened #3821 "OCaml pattern not found in functor"
**Describe the bug**
The pattern is not found inside the body of an OCaml functor while it is found from a normal module.

**To Reproduce**
https://semgrep.dev/s/N8B1/

**Expected behavior**
Patterns are also found in functors.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug tha

[2021-09-06 08:29] sim642 opened #3822 "OCaml non-regex pattern not found if unrelated module type include present"
**Describe the bug**
I wrote a pattern to find wildcard OCaml exception handlers in two ways: using a pattern that directly uses `_` and another which uses a metavariable and a regex to match the `_`.
If `include` is used in an unrelated `module type` definition, then the first pattern somehow stops working, while the latter still works.

**To Reproduce**
Module type include present: https://semgr

[2021-09-06 12:46] #2977 closed, assigned to nobody

[2021-09-06 20:39] #3778 closed, assigned to IagoAbal, emjin

[2021-09-07 10:11] richvdh commented on #2633
this doesn't appear to be true: I don't seem to have permission to reopen it.

Anyway, this is still a problem. The reason I care is that it means that, if I install `semgrep` into the virtualenv for my dev environment, the tests for my own project no longer work.

[2021-09-07 10:38] IagoAbal commented on #3801
cc @aryx who may have some thoughts too

Semgrep search mode works by traversing the AST and trying to match patterns against nodes along the way. Indeed it does not follow the CFG as Coccinelle does, hence the behavior that you observed. We could make Semgrep work the same way as Coccinelle, although it's probably quite some work. Our approach so far has been to keep matching simple, but compleme

[2021-09-07 12:58] IagoAbal commented on #3770
I understand your point, but I am not sure whether we should built this into Semgrep. In general it doesn't seem like a good idea that you index an array/map with untrusted user input. Despite it makes the rule more verbose, I would say it's preferable that the user explicitly says:
[code]
Instead of making `$data` tainted in `$data = $array[$tainted]` we could perhaps not taint `$data` but issue

[2021-09-07 15:28] gordonwoodhull commented on #3801
Thanks @IagoAbal. This is promising.

I think it would solve many or most of our use cases, as long as we don't need more than two matches in the control flow. (The equivalent of multiple `...` in SmPL.) <strike>I will check on that.</strike> **EDIT:** as far as I can tell, we only need a "line of interest" and a line before/after it that needs to be changed, so yes this works.

One detail: it's i

[2021-09-07 16:40] emjin commented on #3299
We're using the `--optimizations` flag as a "turn on the latest optimizations state" toggle

[2021-09-07 16:40] #3299 closed, assigned to nobody

[2021-09-07 16:41] emjin commented on #3298
Still in progress (returns ranges, but no nice message displayed)

[2021-09-07 18:17] colleend commented on #3747
awesome, good to know 👍  thanks for looking into this!

[2021-09-07 18:53] mjambon opened #3825 "Inject captured metavariable into pattern-regex"
**Is your feature request related to a problem? Please describe.**

User wants to do this (https://semgrep.dev/s/05lJ):
[code]

where the contents in the `regex` field is preprocessed such that `$PACK` expands into the package name captured with the semgrep pattern.

**Describe the solution you'd like**

Perhaps, just for `regex`, we could preprocess the pattern so as to replace `$FOO` by a previo

[2021-09-07 19:19] mjambon commented on #3443
This issue is more a question of general discipline. Maybe we could have a function that makes this easier, such as:
[code]
I wouldn't close this issue yet because we're not doing anything like this right now. The point is to log anything that is unexpectedly slow and nothing else.

[2021-09-07 21:49] mschwager commented on #1804
Hmm, possibly. Can you provide a taint rule that matches the original examples?

I guess the key confusion here is that if I have one pattern that finds statement A, and another pattern that finds statement B, and I put a `...` between those two patterns, I would expect the combined pattern to find statement A to statement B.

E.g.

Again, not a huge deal since this isn't blocking me, but it's a m

[2021-09-08 01:34] inkz commented on #3770
@IagoAbal I agree with you. I think it makes sense to keep current behavior and explicitly mitigate some of the FPs that are specific for each rule

[2021-09-08 02:48] fwip opened #3832 "Autofix: Issue with replacing python tuples?"
Slack discussion: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1631066079031800

**Describe the bug**
Difficulty matching tuples/parenthesized expressions (?) when writing autofix rules for python. To my eyes, it appears that the trailing `)` or `,))` written in the pattern are not matched/replaced when using the autofix feature.  I would like to figure out how to either capture these in

[2021-09-08 11:35] FLiliequist commented on #3744
Can I have a go at this issue? If I understood correctly all that is needed is to add the rule's message to the output when using the <code>--emacs</code> flag or am I missing something?

[2021-09-08 17:31] #3592 closed, assigned to nobody

[2021-09-08 17:59] milanwilliams commented on #1867
Closing this issue, as it's covered by the above two new issues.

[2021-09-08 17:59] #1867 closed, assigned to mjambon

[2021-09-09 00:20] mjambon commented on #3521
This feature seems important but hard to do if we want to be completely clean. I see two main options:

### A: Simplified but easier way, in python

Implements the following:
* a nosemgrep comment alone on a line applies to the next line.
* a nosemgrep comment followed by code on the same line applies to that line.
* a nosemgrep comment preceded by code on the same line applies to that line.

The

[2021-09-09 09:05] IagoAbal commented on #3521
I believe we should keep it simple and in Python.

Should `nosemgrep` inside a matched region disable the match? It would do the job here:
[code]

Also, as last resort, `nosemgrep+5` could disable the next 5 lines, or `nosemgrep-5` could disable the previous 5 lines. Probably you only need the `+` version.

[2021-09-09 15:09] Sjord commented on #1215
@ievens That link doesn't contain a discussion about reverting the commit. See also #3125 and #3134.

I got bitten by this bug again today. I am running semgrep-action in a docker. If `/src` exists, semgrep will `chdir` to it, even though the source files are in the current directory.

This results in error messages like "File not found: somefile.py", even though "somefile.py" definitely exists in

[2021-09-09 18:30] #3622 closed, assigned to mmcqd

[2021-09-09 18:57] #840 closed, assigned to nobody

[2021-09-10 01:53] mjambon commented on #3521
New proposal, in two independent and compatible parts A and C. A is the same A proposal as earlier. The earlier B proposal was dropped. Both A and C should be implementable from python.

### A: nosemgrep comment applies to current line or next line

Implements the following:

* a nosemgrep comment alone on a line applies to the next line.
* a nosemgrep comment on the same line as code applies to t

[2021-09-10 20:31] ristomcgehee opened #3848 "PHP Arrow Functions Parsing Error"
Hi, we've been using Semgrep on one of our PHP repos at my company. We encountering a parsing error for the arrow function syntax that was introduced in PHP 7.4.

https://semgrep.dev/s/chrismcgehee:lambda_not_parsing

https://www.php.net/manual/en/functions.arrow.php

[2021-09-10 20:51] clintgibler commented on #3521
Love the discussion on this thread 👍  A few comments/thought:

### Block Comments
The block comments (`semgrep-[off|on]`) are an interesting idea, I hadn't thought of that before.

One comment on this: I feel like the current naming is unintuitive, though contextually it makes sense; that is, turning *on* the ignoring with `semgrep-off`.

[code]

When users think about it and read the docs, they w

[2021-09-10 20:53] clintgibler commented on #3521
@minusworld Comments from Slack:

[2021-09-10 21:20] nbrahms commented on #3521
Specific eslint names: https://eslint.org/docs/user-guide/configuring/rules#using-configuration-comments-1

@clintgibler I'd warn against things like `semgrep-ignore-disable`. Let's not use no double negatives never ;) This is why `eslint` has the simple `eslint-enable` & `eslint-disable`.

[2021-09-11 00:42] ievans commented on #3848
@chrismcgehee thanks for filing this issue! Could you share the relative priority to your team? is it a blocker for using semgrep (p0), a major issue you need addressed soon (p1), or a minor annoyance (p3)?

[2021-09-11 02:59] ristomcgehee commented on #3848
I'd say a p3. It's just giving a warning in our pipeline, so it's not blocking us.

[2021-09-11 07:42] mjambon commented on #3521
To avoid the confusion introduced by double negatives, perhaps begin/end is a better language than on/off. It would give us something like this:
[code]
or
[code]

[2021-09-11 07:58] mjambon commented on #3521
@clintgibler

I think I would appreciate that if I were a developer dealing with false positives.

I don't know how this should be implemented but it makes a ton of sense to me.

[2021-09-12 18:06] ievans commented on #3031
still an issue

[2021-09-13 06:34] Gellardo opened #3850 "CLI: Early abort of testing on some rule constellations"
**Describe the bug**
When testing my rules with `semgrep --test .` there are several issues that make it really inconvenient.
All of them abort testing the rules in the current directory early and give correct but not-easy to understand error messages.

**To Reproduce**
https://gist.github.com/Gellardo/340ab5d0b221d2b918ecf6b5757e5b5d
In the gist, there are 3 different setups that produce an error

[2021-09-13 11:40] aryx commented on #2885
Done! (in time for the OCaml workshop 2021).

[2021-09-13 11:40] #2885 closed, assigned to aryx

[2021-09-13 12:16] #3589 closed, assigned to aryx

[2021-09-13 15:14] tilperion2 opened #3855 "SemGrep does not resolve package of Java class/base class if there is no import."
**Describe the bug**
For Java classes that extend base class in the same package, SemGrep does not resolve full class and base class name, so rules that detects full class import name will not detect this case.
This also relates to class name/full class name. See second branch in test semGrep rule below.

**To Reproduce**
https://semgrep.dev/s/grdn

**Expected behavior**
If possible, SemGrep shoul

[2021-09-13 18:32] brendongo commented on #3744
yeah seems like that's all that's needed

[2021-09-14 02:15] brendongo opened #3860 "Semgrep-core does not report failing pattern during parse failures"
After https://github.com/returntocorp/semgrep/pull/3847, semgrep-cli relies on semgrep-core errror message as the message to show users.

For now during a parse failure, an error message like `"Semgrep Core WARN - Pattern parse error: In rule eqeq-is-bad: Invalid pattern for Python` is shown. It does not include details of the pattern that is invalid.

Should modify the message in the error object

[2021-09-14 03:00] brendongo opened #3861 "Semgrep-core does not report correct rule_id in timeout and maxmemory errors"
Print out semgrep-core output of `semgrep --verbose --max-memory 1 --config tests/e2e/rules/long.yaml tests/e2e/targets/equivalence` and you will find that rule_id is 1

Should fix semgrep-core to place correct rule_id. For now, since we only run one rule at a time on semgrep-core we just work around this on the python side.

[2021-09-14 03:31] emjin commented on #3335
@mjambon Is this addressed in Guess_lang?

[2021-09-14 03:32] emjin commented on #3280
@ievans Is this still an issue? Looks like a relevant PR was merged.

[2021-09-14 03:34] emjin commented on #3296
Still something we want to do, though perhaps in a different form

[2021-09-14 03:35] emjin commented on #3316
@mmcqd Might be a good issue for you

[2021-09-14 03:49] emjin commented on #3373
@nbrahms Closed by click?

[2021-09-14 03:58] mjambon opened #3862 "bash: if-then-else ignored by matcher"
For an unknown reason, the AST generated for a bash if-then-else is ignored by the matcher. Interestingly, the output of `-dump_ast` looks fine and identical to what we get for an equivalent javascript program.

[code]

**What is the priority of the bug to you?**

- [x] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [ ] P2: regular bug that should

[2021-09-14 04:03] mjambon opened #3863 "bash: add support for common control structures (if, for, while, case)"

[2021-09-14 04:05] mjambon opened #3864 "bash: add support for common test expressions"
i.e. whatever appears commonly within `[[ ... ]]` or `[ ... ]`.

[2021-09-14 04:09] mjambon opened #3865 "bash: add support for variable expansion, string interpolation, globbing"

[2021-09-14 04:10] mjambon opened #3866 "bash: add support for subprocesses ( ... ) and $( ... )"

[2021-09-14 04:13] mjambon opened #3867 "bash: add support for special variables "$@", $*, $?, etc."

[2021-09-14 04:15] mjambon opened #3868 "bash: add support for declarations: =, declare, alias, function"

[2021-09-14 04:17] mjambon opened #3869 "bash: add support for arrays"

[2021-09-14 04:22] brendongo commented on #3861
Relevant: https://github.com/returntocorp/semgrep/issues/2764

[2021-09-14 04:31] mjambon opened #3870 "bash: add basic support for heredoc templates"
We should add basic support for heredoc templates, as provided by the current tree-sitter grammar.

However, doing this correctly would require:
* changes in the tree-sitter grammar, making the heredoc body an `extra`
* changes in ocaml-tree-sitter-core to deal with extras (https://github.com/returntocorp/ocaml-tree-sitter-core/issues/2)

[2021-09-14 06:19] ievans commented on #3280
agreed, verified fixed!

[2021-09-14 06:19] #3280 closed, assigned to nobody

[2021-09-14 11:54] aryx commented on #1147
@MichaHoffmann we will then base semgrep for terraform on your tree-sitter-hcl. String interpolation is important for semgrep users. However we have one problem with your grammar with those lines:
[code]
This causes our OCaml code generation to generate errors because there is a choice with nothing in it.
Would you mind modify grammar.js and add some more explicit TODOs like
[code]
which at least

[2021-09-14 12:02] aryx commented on #1147
PR here: https://github.com/MichaHoffmann/tree-sitter-hcl/pull/7 @MichaHoffmann

[2021-09-14 15:05] edamamez opened #3872 "Ruby keyword arguments order dependent"
**Describe the bug**
When writing a Ruby rule with keyword arguments, it is sensitive to the order of the arguments. Re: the slack discussion, this may be a parsing error where the keyword argument are not being recognized.
(link to Slack discussion: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1630341006011600)

**To Reproduce**
If you comment out either of the patterns, it will no longe

[2021-09-14 15:10] nbrahms commented on #3855
Tracked in https://linear.app/r2c/issue/PA-325/semgrep-does-not-resolve-package-of-java-classbase-class-if-there-is

[2021-09-14 15:12] nbrahms commented on #3850
Tracked in https://linear.app/r2c/issue/PA-326

[2021-09-14 15:13] nbrahms commented on #3848
Tracked in https://linear.app/r2c/issue/PA-327/php-arrow-functions-parsing-error

[2021-09-14 15:14] nbrahms commented on #3832
Tracked in https://linear.app/r2c/issue/PA-328/autofix-issue-with-replacing-python-tuples

[2021-09-14 15:15] nbrahms commented on #3822
Tracked in https://linear.app/r2c/issue/PA-329/ocaml-non-regex-pattern-not-found-if-unrelated-module-type-include

[2021-09-14 15:17] nbrahms commented on #3821
Synced in https://linear.app/r2c/issue/PA-330/ocaml-pattern-not-found-in-functor

[2021-09-14 15:18] nbrahms commented on #3820
Synced in https://linear.app/r2c/issue/PA-331/testing-silently-ignored-if-inside-semgrep-directory

[2021-09-14 15:19] nbrahms commented on #3816
Synced in https://linear.app/r2c/issue/PA-332/add-invalid-rule-name-to-semgrep-validate-sarif-output

[2021-09-14 17:55] edamamez opened #3873 "Test directory needs to be explicitly added to path inclusions"
**Describe the bug**
Hello!
If you use path inclusions (https://semgrep.dev/docs/writing-rules/rule-syntax/#limiting-a-rule-to-paths), you need to explicitly add the path to your test directory to the filter or else running them will result in a `failing due to rule id mismatch` error.

PR to update the docs here: https://github.com/returntocorp/semgrep-docs/pull/280

**To Reproduce**

1. Create a

[2021-09-14 20:12] clintgibler opened #3875 "PHP parsing fails when there is inline HTML"
**Describe the bug**
PHP allows PHP code to be interspersed with HTML. However, currently it appears this causes Semgrep to be unable to parse the target code.

I'm not sure if this is how PHP is supposed to be written, this is just a user provided code snippet.

**To Reproduce**
https://semgrep.dev/s/clintgibler:php-inline-html-example

**Expected behavior**
I would expect Semgrep rules to run on

[2021-09-14 20:44] clintgibler commented on #3875
Per @mmcqd

[2021-09-14 20:44] #3875 closed, assigned to nobody

[2021-09-15 02:40] minusworld commented on #3879
I used one of @TeoZosa's commits (linked in the timeline above) to reproduce the error here: https://semgrep.dev/s/vqx4

I believe this is an issue with Semgrep itself and not the rule - I have tried a few different variations and am unable to filter out the case.

I'm going to transfer this issue to the main Semgrep repository. Heads up, @emjin. Let me know if I can help any further 👍

[2021-09-15 02:58] minusworld opened #3880 "Ruby: Taint does not flow into do-end blocks"
**Describe the bug**
This taint rule does not appear to flow into the do-end block. I want it to match the `# ruleid` inside the block.
The block looks like this:

[code]

**To Reproduce**
https://semgrep.dev/s/GwQe

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get

[2021-09-15 03:42] minusworld opened #3881 "Python constant propagation does not resolve "raw" strings"
**Describe the bug**
Python has this concept of "raw" strings, which are prefixed with the character `r`. See [this link](https://docs.python.org/3/reference/lexical_analysis.html#index-19) for more information.

In Python, raw strings look like this:

[code]

[This issue](https://github.com/returntocorp/semgrep-rules/issues/1034) on semgrep-rules reported a false positive with a rule that is supp

[2021-09-15 04:27] mjambon opened #3882 "Cut benchmark suite down to ~1 hour and run it with each pull request"
Right now we have a daily job that runs lengthy benchmarks, but those benchmarks fail and we don't notice them or fix them, and they're not usable when we need them. We should have usable benchmarks, that remain usable.

Proposal:

* reduce full suite so that it takes about 1 hour and keep it that way (by force-aborting the whole thing if it takes more than e.g. 90 min)
* keep running quick suite

[2021-09-15 07:56] mjambon commented on #3882
Possible implementation with CircleCI:
* use CircleCI to run the comparative benchmarks (full suite, baseline vs. new branch)
* trigger the job conditionally if the branch name is of the form `*-bench`
* optionally* post a summary of the benchmark results as a PR comment

*Posting PR comments from CircleCI is possible but seems to require a GitHub token with full write permissions, which isn't gre

[2021-09-15 18:33] emjin commented on #3880
cc @IagoAbal @mmcqd

[2021-09-15 18:55] ievans opened #3889 "support fetching org-wide registry rules"
**Motivation:** A growing number of users are using Semgrep in new environments where it is difficult to provide an org-wide auth token (editor, pre-commit). We want to avoid extra configuration friction: running just semgrep should find publicly listed rules automatically if someone has already claimed the org/project on Semgrep.dev, or semgrep —org=name can be used to explicitly set the org name

[2021-09-15 19:33] ievans commented on #1215
Thanks @Sjord. I added this to tech-debt label. The good news is, we plan to merge semgrep-action into Semgrep proper. cc @brendongo for consideration of this issue when that work begins.

[2021-09-15 19:43] mschwager commented on #3873
Do `semgrep/rules` and `semgrep/tests/rules` have the same sub-directory structure? If they don't, this can cause the rule IDs to not match up. This is laid out in more detail at the bottom of the [testing rules docs](https://semgrep.dev/docs/writing-rules/testing-rules/).

[2021-09-15 19:47] brendongo commented on #3557
Sorry I think this issue fell through the cracks. @neonlyis I can't reproduce what you are running into. Are you sure /root/test.txt exits?

``` docker run --rm -v "$(pwd):/mnt" returntocorp/semgrep --config=p/gitlab-bandit  /mnt``` at the root of this project works. Maybe there is some permission issue with your VM? Can you try running this not on /root?

[2021-09-15 19:49] mschwager commented on #3881
We may also consider byte strings and the old unicode strings (for backward compatibility) here:

[code]

Although byte strings are a fundamentally different type in Python, so maybe it makes sense to keep those separate :thinking:

[2021-09-15 20:07] MichaHoffmann commented on #1147
Hey @aryx

Thank you for the PR, i just merged,  generated the parser and released  https://github.com/MichaHoffmann/tree-sitter-hcl/releases/tag/v0.5.0.

[2021-09-15 20:24] edamamez commented on #3873
Hi!
Yes, they do. It gives an error unless I add the path to the tests (`semgrep/tests/rules`, the same as the one passed to `--test`) to the path inclusion list for the rule. I can try to provide more detailed steps to reproduce if that would help 👍 !

[2021-09-15 20:32] #3324 closed, assigned to nobody

[2021-09-15 20:32] #3322 closed, assigned to nobody

[2021-09-15 22:27] clintgibler opened #3890 "Ellipsis operator in JavaScript objects without commas (ambiguity)"
**Describe the bug**
Including an `...` in a JavaScript object works if it's added the end, but not when followed by something else.

For example, the following works: https://semgrep.dev/s/clintgibler:js-object-ellipses

[code]

This next one gives you a JS parse error: https://semgrep.dev/s/clintgibler:js-object-middle-ellipses

[code]

But this works: https://semgrep.dev/s/clintgibler:js-object

[2021-09-16 00:08] clintgibler opened #3891 "Semgrep should report when ... operator is used in a pattern but is not needed"
**Is your feature request related to a problem? Please describe.**
When writing rules with a user, they used `...` in the middle of a JavaScript object to indicate that additional attributes were not needed (source: https://github.com/returntocorp/semgrep/issues/3890). However, Semgrep would have done the right thing, no `...` needed!

It'd be nice if Semgrep could automatically tell users when `.

[2021-09-16 01:23] #3180 closed, assigned to brendongo

[2021-09-16 03:58] msorens commented on #2295
@ievans Catching up on some questions... No, there are several problems on https://semgrep.dev/s/Rok8/ still:

1. Should be matching line 1 and line 3; only line 1 is matched though.
2. In the autofix suggestion (shown below for convenience), the phrase `({type: key, text: value})` is duplicated.
3. The `$VAR` is also duplicated in `value => { value => ...`.
4. In the autofix missing a space betwe

[2021-09-16 05:53] pombredanne commented on #2957
Related to this in https://github.com/returntocorp/semgrep/blob/4b39218cf63987d657c5e1b79f81d41fce6e2057/semgrep-core/src/datalog/Datalog_experiment.ml and a few other places there is this notice:

... yet I could not find a license.txt nor any reference to the exception in question

There is one in coccinelle at https://github.com/coccinelle/coccinelle/blob/master/license.txt but this is GPL so t

[2021-09-16 07:45] priv-kweihmann commented on #2633
+1 - tests are still being installed - To my understanding that is just a side effect of using `setuptools.find_packages()` - I guess changing it to `setuptools.find_packages(exclude=("tests",))` should already do the trick.

[2021-09-16 09:03] timhemel opened #3892 "Support UTF-16 files"
**Describe the bug**
The source code I need to analyze contains UTF-16 encoded source files (mixed with ASCII encoded files) and semgrep does not detect patterns in them.

**To Reproduce**

Create a file `ascii.java`:

[code]

Create a UTF-16 version of it:

[code]

Run semgrep on it:

[code]

**Expected behavior**
I should see a match on both ascii.java and utf16.java.

**Observed behavior**
I se

[2021-09-16 09:05] timhemel commented on #3892
I realize that it is difficult to detect encodings automatically, but UTF-16 seems to occur frequently and can be auto-detected.

[2021-09-16 13:12] tilperion2 commented on #3748
Have found the same issue for **OWASP Top 10 rule** from SemGrep rulepack.
Problem still looks the same - when return object is imported class, it is incorrectly matched by pattern/pattern-not evaluation.

See example below:
https://semgrep.dev/s/Jxdj

[2021-09-16 13:52] clintgibler opened #3895 "Mixing taint and search mode returns vague error message"
**Describe the bug**
When a rule specifies `mode: taint` *and* a search pattern like `pattern: `, the error message returned is vague and pretty unactionable.

This will likely confuse users, and will take them a fair amount of work to figure out how to fix it, if they can at all.

I'm not sure where is best to fix this, maybe in the Python part not Semgrep core?

**To Reproduce**
Copy the followi

[2021-09-16 14:15] IagoAbal commented on #3748
cc @aryx

[2021-09-16 14:50] IagoAbal commented on #3880
Do you need to match both the block and the `Get` inside the block with the exact same rule? Most likely this is the result of taint-mode removing those kind of "duplicate matches", see PR https://github.com/returntocorp/semgrep/pull/3781. If taint finds two matches, and one is strictly contained in the other, it will only report the larger one.

[2021-09-16 15:18] IagoAbal commented on #3880
I think this is mainly an issue of the Ruby front-end that encodes:
[code]
in Generic as
[code]
which I don't find very accurate. And that encoding causes that matching the call to `Net::HTTP.start` also matches the entire `do-end` block.

[2021-09-16 16:28] mschwager commented on #3890
I've been similarly bitten by this with JSON rules. If you include a comma after the `...` it should work: https://semgrep.dev/s/5DPD/

This is somewhat frustrating, but also reasonable if you consider that `obj.method(..., k=v)` works but `obj.method(... k=v)` doesn't :man_shrugging:

[2021-09-16 17:32] emjin commented on #3895
@brendongo When do we get to get rid of this terrible yaml validator?

[2021-09-16 18:12] #3861 closed, assigned to emjin

[2021-09-16 18:20] emjin commented on #3890
Should we change this to `error-reporting` instead of `bug`?

[2021-09-16 18:24] ievans commented on #2295
@msorens thanks, updated the status of this issue

[2021-09-16 20:52] clintgibler commented on #3890
@mschwager Good point, yeah the `,` makes sense, but I think is non obvious to users (and me).

Agreed @emjin, I'll update the labels.

[2021-09-16 21:02] mjambon opened #3897 "Create community-oriented system for showing off tree-sitter parsing rates"
The goals are:
1. Make it easy for everyone to see the parse rate (% lines parsed successfully) for each tree-sitter parser that exists, independently from semgrep.
2. Make it easy for the authors of tree-sitter parsers to publish these parsing stats for their project (by providing a list of public projects to scan + list of file extensions or some other mechanism to select target files of the cor

[2021-09-16 21:42] emjin commented on #3897
More repos for us to benchmark on!

[2021-09-16 23:00] mjambon commented on #3897
For storing the data and making graphs, we should probably take advantage of an existing service rather than rolling our own. @underyx once suggested Datadog.

[2021-09-17 08:38] robintw opened #3901 "Docs example for matching method calls in Python fails"
I am trying to match a series of Python method calls. I've read the docs [here](https://semgrep.dev/docs/writing-rules/pattern-syntax/#method-calls and it says that the following should work, and match the method call in the second line:

**Pattern:** `$O.foo(). ... .bar()`
**Code:**
[code]

However, when run it gives an error:
```Pattern `$O.foo(). ... .bar()` could not be parsed as a Python semg

[2021-09-17 11:34] #3316 closed, assigned to IagoAbal

[2021-09-17 15:33] ievans commented on #1218
:wave

[2021-09-17 15:33] ievans commented on #2382
keep

[2021-09-19 02:59] mjambon opened #3904 "semgrep-core segfault on stack overflow on linux: upgrade ocaml as soon as practical"
A bug that was causing segmentation faults instead of a clean `Stack_overflow` exception was just fixed in https://github.com/ocaml/ocaml/pull/10633. This bug affects semgrep on linux (x86_64).

Impact: This makes stack overflows a possible source of segfaults on linux. On darwin, it is know that we still get segfaults on stack overflows.

The solution for us is to upgrade ocaml to a version that

[2021-09-19 03:04] mjambon commented on #3904
A crash was obtained outside of semgrep-core on a very simple test program that just uses alcotest and a test that exhausts stack space. The full report is here: https://github.com/ocaml/ocaml/issues/10645

[2021-09-19 11:20] fenollp commented on #3287
[Here's OTP's lexer/parser code](https://github.com/fenollp/otp/blob/18a742fa6d52999d0ba415330ba2168caaeb1256/lib/stdlib/src/erl_parse.yrl). I have done a lot of work with it in the past, porting it to an ANTLR grammar.

I shall be looking into https://github.com/AbstractMachinesLab/tree-sitter-erlang and hunt bugs and grow the corpus.

[2021-09-20 08:48] IagoAbal commented on #2740
This worked for me:
[code]
Maybe the issue has already been fixed?

[2021-09-20 10:03] IagoAbal opened #3907 "[PHP] Semgrep cannot parse `Entity::FROM` or `Constants::DEFAULT`"
Semgrep cannot parse `Something::XYZ` where `XYZ` coincides with a keyword name.

https://semgrep.dev/s/Q9wk

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

[2021-09-20 10:13] IagoAbal commented on #3882
Did you try running the full benchmarks? How long did they take to run for you? There is a comment that claims that `--all` will take more than a day to run, but Semgrep has gotten much faster, plus I guess we only want to run `--std-only`.

[2021-09-20 10:40] IagoAbal commented on #3881
Minimized example: https://semgrep.dev/s/Pb9p

[2021-09-20 10:43] IagoAbal commented on #3895
Maybe now it's feasible to let semgrep-core validate the config file and report errors properly?

[2021-09-20 17:37] jsherm-fwdsec commented on #3810
Hi @mjambon any updates on this one?

[2021-09-20 20:30] IagoAbal commented on #3891
Actually I had discussed this with @aryx in connection to #3120 (closed by PR #3506) and in principle the conclusion was that we should move towards requiring explicit `...`s instead of just assuming them implicitly. For now you can disable some of these implicit ellipsis via `options:` with `implicit_ellipsis: false`. There is no decision made about anything, it was just a discussion. But would y

[2021-09-20 23:07] colleend opened #3911 "pattern 'x ... x' not matching in terraform"
**Describe the bug**
A pattern similar to:
[code]
is not matching the corresponding lines of code in terraform.

**To Reproduce**
Terraform is not yet on the playground. I ran the command:
[code]

where the file ```semgrep_repos/semgrep-rules/terraform/lang/security/iam/no-iam-admin-privileges.tf` contains:

[code]

**Expected behavior**
I would expect the pattern to match on the three lines below

[2021-09-20 23:41] r2c-demo commented on #3832
This issue is synced in Linear at https://linear.app/r2c/issue/PA-352/autofix-issue-with-replacing-python-tuples.

[2021-09-20 23:44] r2c-demo commented on #3889
This issue is synced in Linear at https://linear.app/r2c/issue/PA-353/support-fetching-org-wide-registry-rules.

[2021-09-20 23:44] r2c-demo commented on #3882
This issue is synced in Linear at https://linear.app/r2c/issue/PA-354/cut-benchmark-suite-down-to-1-hour-and-run-it-with-each-pull-request.

[2021-09-20 23:45] r2c-demo commented on #3825
This issue is synced in Linear at https://linear.app/r2c/issue/PA-355/inject-captured-metavariable-into-pattern-regex.

[2021-09-20 23:45] r2c-demo commented on #3822
This issue is synced in Linear at https://linear.app/r2c/issue/PA-356/ocaml-non-regex-pattern-not-found-if-unrelated-module-type-include.

[2021-09-20 23:46] r2c-demo commented on #3821
This issue is synced in Linear at https://linear.app/r2c/issue/PA-357/ocaml-pattern-not-found-in-functor.

[2021-09-20 23:47] r2c-demo commented on #3820
This issue is synced in Linear at https://linear.app/r2c/issue/PA-358/testing-silently-ignored-if-inside-semgrep-directory.

[2021-09-20 23:47] r2c-demo commented on #3816
This issue is synced in Linear at https://linear.app/r2c/issue/PA-359/add-invalid-rule-name-to-semgrep-validate-sarif-output.

[2021-09-20 23:47] r2c-demo commented on #3880
This issue is synced in Linear at https://linear.app/r2c/issue/PA-360/ruby-taint-does-not-flow-into-do-end-blocks.

[2021-09-20 23:48] r2c-demo commented on #3881
This issue is synced in Linear at https://linear.app/r2c/issue/PA-361/python-constant-propagation-does-not-resolve-raw-strings.

[2021-09-20 23:51] r2c-demo commented on #3907
This issue is synced in Linear at https://linear.app/r2c/issue/PA-362/[php]-semgrep-cannot-parse-entityfrom-or-constantsdefault.

[2021-09-20 23:52] r2c-demo commented on #3911
This issue is synced in Linear at https://linear.app/r2c/issue/PA-363/pattern-x-x-not-matching-in-terraform.

[2021-09-20 23:55] colleend opened #3913 "parsing error in terraform nested key value pairs"
**Describe the bug**
There is a semgrep core pattern parse error for nested key value pairs.

**To Reproduce**
Here's an example that is typed out (as semgrep.dev doesn't have tf just yet):
My config file:
[code]

Here's the test:
[code]

And the command used is:
[code]

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix

[2021-09-20 23:56] r2c-demo commented on #3913
This issue is synced in Linear at https://linear.app/r2c/issue/PA-364/parsing-error-in-terraform-nested-key-value-pairs.

[2021-09-21 01:37] mjambon commented on #3810
@jsherm-fwdsec sorry no update. If you have a strong use case, you can try asking in Slack (https://r2c.dev/slack) to increase its priority.

[2021-09-21 04:39] huonw opened #3914 "Fatal Error: (Failure "null And after remove_not") for pattern-either with pattern-inside and pattern-not-inside"
**Describe the bug**
I'm exploring some rules, and happened across a crash that the CLI tells me to report.

**To Reproduce**

https://semgrep.dev/s/AXjB

Run the following rule on anything, even an empty file

[code]

[code]

**Expected behavior**

Presumably `semgrep` shouldn't crash.

**Screenshots**
N/A

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep o

[2021-09-21 04:40] r2c-demo commented on #3914
This issue is synced in Linear at https://linear.app/r2c/issue/PA-365/fatal-error-failure-null-and-after-remove-not-for-pattern-either-with.

[2021-09-21 04:42] huonw commented on #3914
Potentially the same as #3802

[2021-09-21 05:02] huonw commented on #3489
We're hitting the fact that decorators aren't considered function calls too, because we're wanting to flag certain strings unless they appear in particular function calls. https://semgrep.dev/s/WpeE is a reduced example; I can't work out how to use `pattern-not-inside` to silence the error for A, without also silencing it for B. Any progress here? (Or tips for my specific rule?)

---

The real use

[2021-09-21 08:57] IagoAbal commented on #3489
We could then add that equivalence to see attributes as function applications as @aryx suggested. I believe this shouldn't be hard.

[2021-09-21 10:22] #3907 closed, assigned to aryx

[2021-09-21 11:14] IagoAbal commented on #3913
cc @aryx

[2021-09-21 11:20] IagoAbal commented on #3911
cc @aryx

[2021-09-21 14:06] IagoAbal commented on #3825
This almost works https://semgrep.dev/s/66WK and we could perhaps make it work.

[2021-09-21 14:09] IagoAbal commented on #3825
Something like this could work too but it doesn't currently: https://semgrep.dev/s/oYlX

[2021-09-21 14:43] jsherm-fwdsec commented on #3810
No problem. I think I can work around it for now, but it does make writing rules like this more difficult: https://github.com/returntocorp/semgrep-rules/pull/1482

[2021-09-21 19:39] #3913 closed, assigned to nobody

[2021-09-21 21:20] mlefebvre opened #3918 "Issue with pattern-not-regex and parentheses"
**Describe the bug**
Hello,

I have an issue that prevents pattern-not-regex from working properly since v0.57.
If a pattern is surrounded by parentheses, it doesn't seem to match correctly.

Am I doing something wrong?

**To Reproduce**
Create the following configuration file:
[code]
(I know that I don't really need parentheses in this case, I just wanted to repro the issue)

Create a file contai

[2021-09-21 21:22] r2c-demo commented on #3918
This issue is synced in Linear at https://linear.app/r2c/issue/PA-368/issue-with-pattern-not-regex-and-parentheses.

[2021-09-21 21:36] #3744 closed, assigned to nobody

[2021-09-21 23:02] ristomcgehee opened #3921 "PHP, not recognizing const variables as constant strings"
**Describe the bug**
Hi, again. We've encountered that in PHP, Semgrep is not recognizing `const` variables as constant strings.

**To Reproduce**
https://semgrep.dev/s/chrismcgehee:php-constant-const

**Expected behavior**
Variables declared as `const` are treated the same as string literals when using `"..."` in a pattern. In the above example, line 9 should not be flagged as a match.

**What is

[2021-09-21 23:02] r2c-demo commented on #3921
This issue is synced in Linear at https://linear.app/r2c/issue/PA-369/php-not-recognizing-const-variables-as-constant-strings.

[2021-09-22 01:42] mjambon opened #3922 "internal: pick up the latest semgrep-core binary when running semgrep tests"
Currently a copy of the `semgrep-core` binary is made to some folder so that pytest can find it. This is because pytest clears the environment: `PATH` is undefined when running tests, so we need a reliable path to `semgrep-core`. If we run `make` from the project root, this will first build `semgrep-core` and then make a copy using python.

Problem: running `make` from the root is slow. We recompi

[2021-09-22 01:44] r2c-demo commented on #3922
This issue is synced in Linear at https://linear.app/r2c/issue/PA-370/internal-pick-up-the-latest-semgrep-core-binary-when-running-semgrep.

[2021-09-22 07:19] IagoAbal commented on #2663
This alone already times out https://semgrep.dev/s/d2K0.

[2021-09-22 07:30] IagoAbal commented on #3882
The current benchmark suite takes ~3 hours on my laptop which I think it's totally fine, even for CI. I would say we need to expand it rather than cutting it down! We should run the entire registry on each project IMO, and use this to collect stats.

[2021-09-22 07:35] IagoAbal commented on #2663
AC matching for example tries to detect these situations heuristically, and if so it enters a "degraded mode". We could perhaps do something similar here, although one could argue that Semgrep is not meant to analyze this kind of machine-generated code... in fact we have plans to skip this kind of code automatically.

[2021-09-22 07:50] IagoAbal commented on #2663
But I would expect this https://semgrep.dev/s/Z4v4 to work and be relatively fast, perhaps we could try to optimize range intersection (i.e., `Range_with_metavars.intersect_ranges`).

[2021-09-22 20:25] IagoAbal commented on #3918
Tried to minimize this for convenience: https://semgrep.dev/s/LXwY

This is likely related to https://github.com/returntocorp/semgrep/pull/3383 that was merged in 0.57.0.

You see, in the `pattern-regex`, `(token)` will set `$1` to the string `token`, and in the `pattern-not-regex`, `(="")` will set `$1` to the string `=""`. So I'm guessing the `pattern-not-regex` is being ignored because it tries

[2021-09-22 20:56] mjambon commented on #3882
1 hour is about how much patience I have to wait for test results. That's why I set the limit to 1 hour. Often I can arrange to take a lunch break or exercise during that time. I can't do that if the job takes 2 hours. Then it forces me to jump to another task and lose context.

With a bit of effort in selecting benchmarks judiciously, I don't see why we couldn't reduce this time arbitrarily. Just

[2021-09-23 00:51] mjambon commented on #3862
.

[2021-09-23 07:42] priv-kweihmann commented on #2957
I think this one needs to be reopened. I don't see any LICENSE file in https://files.pythonhosted.org/packages/3c/3b/5013024534e36d2f999b75c99250061524192c3aba9b4a7e2062d95462a0/semgrep-0.66.0.tar.gz

[2021-09-23 12:43] #3911 closed, assigned to nobody

[2021-09-23 15:23] mjambon commented on #3882
The issue with using GHA to trigger a workflow is that it's a whole workflow, not just an optional job. This would require duplicating the workflow config.

[2021-09-23 22:40] colleend opened #3928 "[Terraform] assignment in arrays forbidden"
**Describe the bug**
semgrep-core pattern parse error occurs when there is four layers of nested terraform statements with ellipsis (previously it errored on layer three :D)

**To Reproduce**
https://semgrep.dev/s/AXlB

The test case is in the link above, but semgrep playground keeps removing the pattern for some reason. The pattern is:
[code]

**Expected behavior**
Would expect a match on line 13

[2021-09-23 22:40] r2c-demo commented on #3928
This issue is synced in Linear at https://linear.app/r2c/issue/PA-403/terraform-errors-out-on-more-nested-ellipsis.

[2021-09-23 23:17] colleend opened #3929 "[Terraform] Metavariable Pattern on strings do not match regular identifiers"
**Describe the bug**
Using metavariable-pattern in terraform produces no matches.

**To Reproduce**
https://semgrep.dev/s/WpgE

**Expected behavior**
Would expect the rule to match the two lines of test code in the link.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [X] P2: regular bug that shoul

[2021-09-23 23:18] r2c-demo commented on #3929
This issue is synced in Linear at https://linear.app/r2c/issue/PA-404/metavariable-pattern-not-matching-with-terraform.

[2021-09-24 04:51] khanhldt opened #3930 "Tidle (backtick) string in Go not matched"
**Describe the bug**
I was investigating replacing GoSec rules with Semgrep, rule G201, and found that it looks like Semgrep is unable to parse backtick Go string, which is unfortunately a quite common way to declare SQL strings in this case.

**To Reproduce**
Rule (for demo purpose only, not the final rule to replace G201):
[code]

Test file that works:
[code]

Test file that doesn't work:
[code]

[2021-09-24 04:52] r2c-demo commented on #3930
This issue is synced in Linear at https://linear.app/r2c/issue/PA-405/tidle-backtick-string-in-go-not-matched.

[2021-09-24 06:49] aryx commented on #3928
it's because you can't have assignements inside arrays.
[... a = b ...] will not work.
You need [..., {... a = b ...}, ...]
to enclose it inside an object. That's the only place where it's valid.

[2021-09-24 06:51] aryx commented on #3928
See https://semgrep.dev/s/66r1/

[2021-09-24 06:51] aryx commented on #3928
If it's a common mistake we can revisit.

[2021-09-24 06:51] #3928 closed, assigned to nobody

[2021-09-24 06:56] aryx commented on #3929
Here is a fix: https://semgrep.dev/s/pYkZ/
It's because $TYPE matches a string, not just an identifier, so then in the pattern-either after
you need to also use strings. But then the problem is that if you do pattern: "aws_iam_policy" it will not work
because YAML remove the quotes, so then you need this pattern:| to avoid the thing YAML does.

You can probably also use resource "$TYPE" ... { ...

[2021-09-24 06:56] #3929 closed, assigned to nobody

[2021-09-24 06:59] aryx commented on #3380
@colleend maybe this works now with the native terraform mode?

[2021-09-24 07:00] aryx commented on #1147
Ok, there is now alpha support for HCL at least, so I'll rename the issue to just talk about what remains to be done: the constant propagation part of locals {}.
Maybe @IagoAbal can fix that.

[2021-09-24 12:45] IagoAbal commented on #1218
Right now we could write a better(?) version of https://semgrep.dev/s/PJ7Y with `metavariable-pattern`.

Would it be simpler having a `pattern-not` with "cannot overlap with this" semantics? That's how `pattern-not-regex` works if I'm not mistaken.

[2021-09-24 15:08] emjin commented on #3930
This is because Semgrep does not consider backtick strings and quote strings to be equivalent. If you allow both cases, your pattern will work: https://semgrep.dev/s/866N

[2021-09-24 15:53] khanhldt commented on #3930
@emjin Thanks for the solution. I would like to follow up a little bit on this as to whether it's a design decision or can be considered a feature request (if not considered a bug).

Two main things:
- The value proposition of Semgrep is to make writing rules as language agnostic as possible. This backtick string is very Go specific and to some extent just equivalent to `"""` (triple quote) string

[2021-09-24 16:25] IagoAbal opened #3933 "[php] Problems with constant propagation"
Reporting on behalf of @erwanlr who provided us with this example: https://semgrep.dev/s/krrP

1. The use of `$var` in line 5 is not recognized as constant because `$var` is a global variable and it is assigned twice, but dataflow const-prop only works inside functions. This is a known limitation that we need to fix. P2
2. ~`$var2` is also not recognized as constant, it seems that we don't recogni

[2021-09-24 16:26] r2c-demo commented on #3933
This issue is synced in Linear at https://linear.app/r2c/issue/PA-407/[php]-problems-with-constant-propagation.

[2021-09-24 17:29] emjin commented on #3930
Thanks for your thoughtful feedback! Indeed `"..."` will match `"""$QUERY"""`. Backtick strings are special because while (to my knowledge) backtick strings in Go are constant strings, in several other languages we support they are not. For example, in Ruby, putting `ls` in backticks will [execute it](https://www.bigbinary.com/blog/backtick-system-exec-in-ruby).

I'm interested in your thoughts on

[2021-09-24 17:46] khanhldt commented on #3930
@emjin. Thanks for answering. Your example of Ruby case is interesting.

Just a random thought. Can we have a metadata field that says something along the lines of "please treat backtick string as string"? That can be default to "false", but we document it if we're writing a rule just for "go" language, we may want to switch that on.

Just to illustrate it a bit better:
[code]

[2021-09-24 20:31] #3489 closed, assigned to IagoAbal

[2021-09-24 21:55] ievans commented on #2382
@inkz this appears to be fixed now? https://semgrep.dev/s/yddd finds line 3

[2021-09-24 22:37] emjin commented on #3930
That could make sense! Interested in thoughts of @aryx @ievans

[2021-09-24 23:30] mjambon commented on #2837
There's good feedback here, thank you @anantshri and @kiwiz.

The main issue is that we don't have a fast and reliable way to determine the format of a file, so we rely on extensions and additional glob patterns (includes). So, the normal solution here will be to use something like `semgrep --include yaml-files/*`. This doesn't work at the moment.

I'm working on some issues regarding target filte

[2021-09-24 23:39] #3712 closed, assigned to nobody

[2021-09-24 23:54] mjambon opened #3937 "Distinguish explicit from filterable targets"
The distinction between explicit targets (files specified on the command line directly or with `--include`) and filterable targets (discovered by scanning file system) is lost between semgrep and semgrep-core.

This task is about preserving the distinction when semgrep passes the files to semgrep-core.

This will allow, for example, the exclusion of `.min.js` files in semgrep-core.

[2021-09-24 23:56] r2c-demo commented on #3937
This issue is synced in Linear at https://linear.app/r2c/issue/PA-408/distinguish-explicit-from-filterable-targets.

[2021-09-25 00:05] ievans commented on #3930
@emjin I'm probably just missing something, but if the we added an equivalence for golang specifically that \`somestr\` is normalized to "somestr" in both pattern and code parsing, that would solve the issue right? Is your concern just with having a one-off equivalence for go specifically? I know we have many one-offs for Python already so I don't think we'd be breaking any design decision.

Solvi

[2021-09-25 02:28] emjin commented on #3930
Yes, that would solve this. I’m looking for a second opinion since I’m not familiar with this syntax in Go and don’t know what people might need to look for. This might be overly hesitant; I’m just used to people wanting backtick strings to be differentiated.

[2021-09-25 06:48] emjin opened #3938 "Equivalence between go string literals and raw string literals"
In go, backtick strings are "raw strings" (unescaped) (see https://golang.org/ref/spec#String_literals). In particular, they are always constant literals, and users may want to match them using "...".

Example:

Rule:

[code]

With string literal:

[code]

With raw string literal:

[code]

With the equivalence, both of these would match that rule

[2021-09-25 06:49] r2c-demo commented on #3938
This issue is synced in Linear at https://linear.app/r2c/issue/PA-409/equivalence-between-go-string-literals-and-raw-string-literals.

[2021-09-25 06:49] emjin commented on #3930
Ok, I checked the Go standard and confirmed that these are always (at least) constant strings. Created https://github.com/returntocorp/semgrep/issues/3938, closing this in favor of that issue

[2021-09-25 06:49] #3930 closed, assigned to nobody

[2021-09-25 18:00] erwanlr opened #3939 "PHP - Taint - func($source) detected when directly in sink with Ternary Operator"
**Describe the bug**
Code such as `sink(isset($source) ? 'something' : 'b');` is detected as a match, but should not be.
Interestingly, code such as `$a = (isset($source) ? 'something' : 'c'); sink($a);` it not detected (which is the correct behaviour.

The behaviour is not related to `isset()`, as any function will be detected, as long as it's in a Ternary Operator and directly in the Sink

**To

[2021-09-25 18:00] r2c-demo commented on #3939
This issue is synced in Linear at https://linear.app/r2c/issue/PA-410/php-taint-issetdollarsource-detected-when-directly-in-sink.

[2021-09-26 19:35] IagoAbal commented on #3939
Problem is that right now anything that occurs syntactically inside `sink(...)` will be marked as "going into a sink". It's a bit hacky but works quite well... except for cases like this one! A temporary workaround is https://semgrep.dev/s/jwzJ. Or something more sophisticated: https://semgrep.dev/s/18zv.

[2021-09-27 01:14] inkz commented on #2382
@ievans yes, all examples are working now. I believe it is safe to close.

[2021-09-27 01:14] #2382 closed, assigned to nobody

[2021-09-27 06:32] IagoAbal commented on #3938
Might be similar to #3881.

[2021-09-27 10:08] aryx opened #3940 "[TechDebt][PHP] get rid of cst_php.ml intermediate"
Get rid of cst_php.ml in pfff and generate directly constructs in ast_php.ml from parser_php.mly
This will give more velocity to improving our support for PHP.

This would remove also the need for ast_php_build.ml (which should be integrated in parser_php.mly instead
as we build directly the AST).

[2021-09-27 10:09] r2c-demo commented on #3940
This issue is synced in Linear at https://linear.app/r2c/issue/PA-411/[techdebt][php]-get-rid-of-cst-phpml-intermediate.

[2021-09-27 10:11] aryx opened #3941 "[PHP] Use tree-sitter-php to parse PHP code instead of pfff"
Pad already done the job of integrating tree-sitter-php in ocaml-tree-sitter-semgrep. We just need now
to finish Parse_php_tree_sitter.ml in semgrep-core/src/parsing/tree-sitter/ and implement all those
todos.

[2021-09-27 10:12] r2c-demo commented on #3941
This issue is synced in Linear at https://linear.app/r2c/issue/PA-412/[php]-use-tree-sitter-php-to-parse-php-code-instead-of-pfff.

[2021-09-27 19:44] colleend commented on #3929
I see, thanks for the example!

[2021-09-27 19:45] colleend commented on #3928
ah I see 👍

[2021-09-27 22:36] colleend commented on #3929
Seems like matching on just `$TYPE` doesn't work (gives an internal matching error as seen here: https://semgrep.dev/s/Oegn) -- should I file an issue for that? It's not an essential fix, so I don't think its necessary, but just wanted to get your opinion :D

[2021-09-28 00:31] brendongo commented on #2957
Oh yeah I'll reopen and take a look

[2021-09-28 00:34] brendongo commented on #2957
Looks like the license is included in the wheel files but not the source tarball

[2021-09-28 05:43] xmo-odoo commented on #2324
oh god why enable this thing?

[2021-09-28 08:16] aryx commented on #3929
because $TYPE matches a string content, which is not considered a valid program; it's text, without any syntax constraint,
but metavariable-pattern: assumes the metavariable content is a program (otherwise we use metavariable-regexp for that).
The error message maybe should be improved. Or maybe we need to add this special case for terraform where indeed what is inside those resource strings are k

[2021-09-28 09:25] aryx commented on #3392
just tried ```semgrep --lang=kotlin -e 'foo(...)' kotlin/```
and it works, so closing.

[2021-09-28 09:25] #3392 closed, assigned to colleend

[2021-09-28 12:09] aryx commented on #3890
It is even more problematic in JS where '...' can be used as a spread operator, and single identifier can also be used as field shorthands so when you have { a ... b } it can actually mean { a:a ...b} or { a:a ... b:b }
so forcing the comma solve the ambiguity.

[2021-09-28 16:10] clintgibler commented on #3891
Thanks for the clarification.

This makes sense to me. Overall, I think requiring `...`'s consistently across languages is probably the right approach, so that there's less "magic" and behavior is more consistent.

To summarize, my current thoughts are:
* Let's require `...` consistently across languages (fewer implicit `...` unless it really makes sense/is preferable).
* Metachecker should inform

[2021-09-28 16:14] clintgibler commented on #3890
@aryx Ah good point.

Can we change this issue to instead be: Semgrep should tell you to add a comma after your `...` instead of throwing an opaque error like:

[code]

[2021-09-28 19:21] ievans commented on #3226
@aryx what's the status of the last two here?

[2021-09-28 19:28] dmitris commented on #2653
The link is dead and there is no (longer) the https://github.com/returntocorp/semgrep-app repo - was it moved somewhere?

[2021-09-28 22:30] mjambon opened #3953 "Conditional expression is not matched by deep expression"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

All 3 methods should match but currently the first one doesn't.

pattern:
[code]

[code]

https://semgrep.dev/s/mjambon:match-conditional

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

[2021-09-28 22:37] r2c-demo commented on #3953
This issue is synced in Linear at https://linear.app/r2c/issue/PA-417/conditional-expression-is-not-matched-by-deep-expression.

[2021-09-28 23:26] minusworld commented on #2653
`semgrep-app` is a private repo. Sometimes links to it end up here 😅

That said, here are docs on `join` mode, if you're looking for that: https://semgrep.dev/docs/experiments/join-mode/

Join mode isn't quite multi-step rules, but it's a similar idea. When we have our next hackathon (sometime closer to the end of 2021, probably) I will likely try my hand at multi-step rules 😄

[2021-09-29 05:48] xmo-odoo commented on #3305
I hate you stale bot, you suck.

[2021-09-29 05:49] xmo-odoo commented on #3304
Stalebot is the stupidest bot on this damn platform.

[2021-09-29 06:52] cfroystad commented on #3941
Great! I hope to find some time to complete tree-sitter-php in the not too distant future for our mutual benefit.

Note that there are some AST inconsistencies in the master branch I hope to resolve before the next release and that the [First-class callable syntax](https://wiki.php.net/rfc/first_class_callable_syntax) of PHP 8.1 might (depending on how you extend the grammar) interfere with Semgre

[2021-09-29 08:34] IagoAbal commented on #3304
In the meantime, would it work to rewrite the pattern this way?
[code]

Letting Semgrep CLI know what part of the match corresponds to `...` sounds nice, but I think it's not a quick thing to do. Perhaps Semgrep CLI could look at the lines where the metavariables match, and mark those lines as "important" to make sure that they are always in the output match.

[2021-09-29 08:58] IagoAbal commented on #3428
I believe Comby does this via idea 2, and we support Comby patterns. I don't know if that works or if we still want to add this feature to Generic mode too. We have `options:` now so we could use idea 3.

[2021-09-29 09:29] #3755 closed, assigned to IagoAbal

[2021-09-29 09:41] thotakartheek004 opened #3954 "Semgrep cannot parse Entity::for , Entity::GLOBAL, Entity:: AS"
https://semgrep.dev/s/thotakartheek004:tracejobdata

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix or quite annoying
- [ ] P2: regular bug that should get fixed

[2021-09-29 09:42] r2c-demo commented on #3954
This issue is synced in Linear at https://linear.app/r2c/issue/PA-418/semgrep-cannot-parse-entityfor-entityglobal-entity-as.

[2021-09-29 09:54] #3811 closed, assigned to aryx

[2021-09-29 11:06] #3954 closed, assigned to aryx

[2021-09-29 13:23] xmo-odoo commented on #3304
@IagoAbal thanks for the suggestion, I really need to get more comfortable with `pattern-inside`, I probably don't reach for it anywhere near enough.

[2021-09-29 16:55] #3872 closed, assigned to nobody

[2021-09-29 16:57] clintgibler opened #3957 "[PHP] Report line number of syntax errors"
(Reporting line numbers for syntax errors would be useful for every language, I'm just facing it with PHP right now)

**Is your feature request related to a problem? Please describe.**
When there's a syntax error in the code I'm trying to scan with Semgrep, it's difficult for me to troubleshoot exactly where the error is, as I get an error message like:

[code]

For example:

[code]

https://semgr

[2021-09-29 16:59] r2c-demo commented on #3957
This issue is synced in Linear at https://linear.app/r2c/issue/PA-419/[php]-report-line-number-of-syntax-errors.

[2021-09-29 18:57] colleend commented on #3929
I think improving the error message would be great for now, maybe adding a special case for terraform would be nice if other people come upon this problem 👍

[2021-09-29 20:29] clintgibler commented on #3939
Great example, thanks @erwanlr!

Could this potentially also be relevant in other situations (beyond ternary) like in languages (e.g Ruby) in which expressions, functions, etc.  implicitly return the last statement's result?

For `isset()` in particular, that seems like something we should add to a non taint propagator list or something.

[2021-09-29 21:20] nbrahms commented on #1804
Fixed in #3960

[2021-09-29 22:21] mjambon opened #3961 "Rule specification: Distinguish target filter from target analyzer"
Currently there's only a `languages` field which is used both for selecting which files should be scanned and for selecting the analyzer. However, we have analyzers (regex, generic) which are not tied to a particular language. Right now filtering targets for these must be done via rule-specific include/exclude rules which don't work as well as the built-in language selectors.

Proposal: keep the `

[2021-09-29 22:21] r2c-demo commented on #3961
This issue is synced in Linear at https://linear.app/r2c/issue/PA-420/rule-specification-distinguish-target-filter-from-target-analyzer.

[2021-09-30 07:45] inkz opened #3963 "[PHP] Handle case insensitive parts of code"
In PHP some parts of language are case insesitve

copy paste from: https://stackoverflow.com/questions/33273941/php-case-sensitivity

[code]

for example this calls are the same
[code]
and
[code]

https://semgrep.dev/s/4eLg/

would be useful to support this weird part of PHP language and highlight findings regardless of used case

[2021-09-30 07:46] r2c-demo commented on #3963
This issue is synced in Linear at https://linear.app/r2c/issue/PA-421/[php]-handle-case-insensitive-parts-of-code.

[2021-09-30 07:52] IagoAbal commented on #3961
We already have a `mode` field that should do the job of `analyzer`. In fact we usually talk about e.g. "generic mode"! Although there might be some value in distinguishing "search modes" from "taint mode"?

[2021-09-30 08:01] IagoAbal commented on #3430
Right now with `options:` we could just have one to set the number of lines that we want `...` to match.

[2021-09-30 08:26] inkz opened #3964 "[PHP] Import aliasing for PHP"
semgrep easily tackles import aliasing when import has a name:

[code]
pattern:
[code]
https://semgrep.dev/s/GOpB

works perfectly, but in a situation with imports without a name it does not work:

[code]

pattern:
[code]
https://semgrep.dev/s/5De6/

[2021-09-30 08:27] r2c-demo commented on #3964
This issue is synced in Linear at https://linear.app/r2c/issue/PA-422/[php]-import-aliasing-for-php.

[2021-09-30 15:57] nbrahms opened #3965 "Support target subshells"
**Is your feature request related to a problem? Please describe.**
The vast majority of UNIX tools can read a file from a subshell:

e.g.
[code]

But Semgrep can't:
[code]

A workaround exists when scanning exactly one target:

[code]

but this won't work for multiple subshell targets

**Describe the solution you'd like**
Semgrep should read from a subshell

This is on 0.65

[2021-09-30 15:57] r2c-demo commented on #3965
This issue is synced in Linear at https://linear.app/r2c/issue/PA-423/support-target-subshells.

[2021-09-30 20:04] emjin commented on #3957
hm, not sure why we aren't highlighting the file. @brendongo Maybe our changes broke the flow?

[code]

[2021-10-01 07:33] Kiblyn11 opened #3967 "Detect lack of pattern inside a pattern not working"
**Describe the bug**
Associating `pattern-not` and `pattern-inside` does not seem to yield good results.
When associating `pattern` and `pattern-inside` it matches correctly the corresponding lines.
When associating `pattern-not` and `pattern-inside` it matches everything, suggesting that pattern matching didn't work.

**To Reproduce**
Example with `pattern`: https://semgrep.dev/s/w3Ax
Example wit

[2021-10-01 07:34] r2c-demo commented on #3967
This issue is synced in Linear at https://linear.app/r2c/issue/PA-424/detect-lack-of-pattern-inside-a-pattern-not-working.

[2021-10-01 15:22] nbrahms opened #3969 "[js] Mismatch between ellipsis behavior in expression vs statement position"
**Describe the bug**
Ellipses in statement position, with statement delimiters, should match 0 or more statements

**To Reproduce**

Ellipses on statements:
[code]

Work very differently from ellipses on expressions:
[code]

**Expected behavior**
Behavior of ellipses in expression position (currently: matches 0 or more nodes, delimeter required) should
match behavior of ellipses in statement posit

[2021-10-01 15:23] r2c-demo commented on #3969
This issue is synced in Linear at https://linear.app/r2c/issue/PA-426/[js]-mismatch-between-ellipsis-behavior-in-expression-vs-statement.

[2021-10-01 17:20] nbrahms commented on #3953
Fixed in `cf73f8af36301ac7aa362699652608c66eb2a295`

[2021-10-01 17:20] #3953 closed, assigned to nobody

[2021-10-01 22:40] emjin opened #3971 "Disallow `pattern-inside` without a `pattern`"
In taint mode it is easy to get confused and write something like:

[code]

We should either have a metachecker rule that warns against this or, more simply, disallow `pattern-inside` when there is not also `pattern`.

[2021-10-01 22:40] r2c-demo commented on #3971
This issue is synced in Linear at https://linear.app/r2c/issue/PA-428/disallow-pattern-inside-without-a-pattern.

[2021-10-02 07:13] mjambon commented on #3965
This a bug, or rather a collection of bugs, in OCaml code (pfff, ocaml-tree-sitter, semgrep-core).

This shell feature is called ["process substitution"](https://www.gnu.org/software/bash/manual/html_node/Process-Substitution.html). I looked into this the other day and I understand what's going on. I fixed this for one use case, but need to fix it for each different kind of parser we use.

What th

[2021-10-02 08:44] mjambon commented on #3971
Possible duplicate of #3967

[2021-10-02 09:16] mjambon opened #3974 "Document pattern-regex syntax precisely"
https://semgrep.dev/docs/writing-rules/rule-syntax/#pattern-regex incorrectly states that the supported syntax is the python's re module, but we actually use the pcre library or pcre-compatible syntax offered by ocaml's re libary.

Task:
* find out exactly which syntax is being used
  * must explain why https://semgrep.dev/s/mjambon:pcre-bidi-control doesn't work (the unicode character property `B

[2021-10-02 09:18] r2c-demo commented on #3974
This issue is synced in Linear at https://linear.app/r2c/issue/PA-429/document-pattern-regex-syntax-precisely.

[2021-10-02 09:23] mjambon opened #3975 "Bad highlighting of pattern-regex matches and/or incorrect number of matches"
**Describe the bug**

In the following example:
* There should be 3 matches corresponding to the 3 lowercase words rather than 2.
* These 3 matches should be highlighted.
* The line containing the uppercase word should not be highlighted.

https://semgrep.dev/s/mjambon:regex-highlight shows this as of semgrep 0.67.0:

![image](https://user-images.githubusercontent.com/343265/135710499-53542683-a2f

[2021-10-02 09:24] r2c-demo commented on #3975
This issue is synced in Linear at https://linear.app/r2c/issue/PA-430/bad-highlighting-of-pattern-regex-matches-andor-incorrect-number-of.

[2021-10-02 22:31] DanKaplanSES opened #3976 "Enhance the Getting Started documentation to show how to run example projects using Docker CLI"
**Is your feature request related to a problem? Please describe.**
I couldn't gather what I was looking for from the documentation alone, so I decided to try `semgrep` directly to see what its output would look like.

I'm on Windows, so I ended up using the Docker container to do so. There is a section in the middle of [Getting Started](https://semgrep.dev/docs/getting-started/#run-semgrep-locally

[2021-10-02 22:34] r2c-demo commented on #3976
This issue is synced in Linear at https://linear.app/r2c/issue/PA-431/enhance-the-getting-started-documentation-to-show-how-to-run-example.

[2021-10-04 07:59] IagoAbal commented on #2783
Hopefully we can get this into Q4.

[2021-10-04 09:59] inkz opened #3978 "[PHP] Support for new syntax from PHP 8"
PHP 8 has some new syntax that is currently cannot be parsed by Semgrep:

Named arguments https://www.php.net/releases/8.0/en.php#named-arguments
https://semgrep.dev/s/9rWk

Union types https://www.php.net/releases/8.0/en.php#union-types
https://semgrep.dev/s/y1L8

Match expression https://www.php.net/releases/8.0/en.php#match-expression
https://semgrep.dev/s/rY86

[2021-10-04 10:01] r2c-demo commented on #3978
This issue is synced in Linear at https://linear.app/r2c/issue/PA-432/[php]-support-for-new-syntax-from-php-8.

[2021-10-04 12:40] IagoAbal commented on #1301
Another thing that would be great to get done in Q4.

[2021-10-04 12:44] IagoAbal commented on #2664
I think in the meantime we could still issue a runtime warning when we encounter this kind of thing, we already do this for `metavariable-pattern`.

[2021-10-04 14:47] emjin commented on #1301
+1

[2021-10-04 15:31] NEllusion opened #3981 "Semgrep v0.67.0 changes pattern matching behaviour in ruby"
**Describe the bug**
In semgrep `v0.66.0` the the pattern `Oj.load(..., mode: :object, ...)` in a ruby rule config would match both calls to `Oj.load` which used the hash rocket syntax, `:mode => :object` and the normal hash syntax `mode: :object`. However, in `v0.67.0` this changed and now for ruby methods which contain named parameters, you need to specify both ways to pass in the arguments as p

[2021-10-04 15:32] r2c-demo commented on #3981
This issue is synced in Linear at https://linear.app/r2c/issue/PA-433/semgrep-v0670-changes-pattern-matching-behaviour-in-ruby.

[2021-10-04 17:54] #3395 closed, assigned to nobody

[2021-10-04 19:54] #2835 closed, assigned to aryx

[2021-10-04 19:54] #3432 closed, assigned to nobody

[2021-10-04 19:58] IagoAbal commented on #3914
I am assuming that you know how to fix your rule @huonw ?

We could perhaps issue a warning and evaluate the `patterns` to the empty set, but I am not sure if that is any better.

This is probably a job for the rule meta-checker (WIP). What makes this a bit special is that a `patterns` does not require at least one positive term _if_ it belongs to a `metavariable-pattern`.

[2021-10-05 07:55] mjambon opened #3987 "Print Pcre exceptions properly"
Right now, exceptions raised by `Pcre` are printed by `Printexc.to_string` as e.g. `Pcre.Error(5)` which is unhelpful. Instead, we want something like `Pcre.Error(RecursionLimit)` which will save some time when investigating problems.

This can be implemented easily with [`Printexc.register_printer`](https://ocaml.org/api/Printexc.html#VALregister_printer), directly in semgrep or better, in the oc

[2021-10-05 07:56] r2c-demo commented on #3987
This issue is synced in Linear at https://linear.app/r2c/issue/PA-439/print-pcre-exceptions-properly.

[2021-10-05 08:06] mjambon opened #3988 "Catch Pcre exception raised by Eval_generic"
**Describe the bug**

A user is getting a fatal `Pcre.Error(5)` (RecursionLimit) raised by the `Eval_generic` module, which @aryx says is used by `metavariable-comparison:`.

See also https://github.com/mmottl/pcre-ocaml/issues/24 on the topic of Pcre.

**To Reproduce**

unclear. Error doesn't show locally for the user, possibly due to the pcre library being compiled with a different default for t

[2021-10-05 08:06] r2c-demo commented on #3988
This issue is synced in Linear at https://linear.app/r2c/issue/PA-440/catch-pcre-exception-raised-by-eval-generic.

[2021-10-05 08:11] mjambon commented on #3988
For consistency, I suggest setting the [`limit_recursion`](https://mmottl.github.io/pcre-ocaml/api/pcre/Pcre/index.html#val-regexp) flag to some value rather than relying on a platform-specific default.

Note that some limit is desirable to avoid wasting resources due to a bad regexp and/or input.

[2021-10-05 13:02] timhemel opened #3991 "Matching a pattern inside the same pattern makes the outside pattern match"
**Describe the bug**
Whenever I match a structure inside another structure, and the pattern syntax for those is the same, the outside pattern is returned as a match.

**To Reproduce**
Steps to reproduce the behavior, ideally a link to https://semgrep.dev:
[code]

[code]

returns 3 matches:

[code]

**Expected behavior**
I would have expected only one match:

[code]

Workarounds via metavariable-co

[2021-10-05 13:04] r2c-demo commented on #3991
This issue is synced in Linear at https://linear.app/r2c/issue/PA-441/matching-a-pattern-inside-the-same-pattern-makes-the-outside-pattern.

[2021-10-05 13:39] aryx opened #3993 "[Go] missing newline leads to weird AST"
https://semgrep.dev/s/w3Lx

With a newline, the target is correctly parsed as a Assign with Call.
Without, it is parsed wrongly as a cast.

[code]

[2021-10-05 13:40] r2c-demo commented on #3993
This issue is synced in Linear at https://linear.app/r2c/issue/PA-442/[go]-missing-newline-leads-to-weird-ast.

[2021-10-05 16:26] ievans commented on #3991
@timhemel this *seems* like expected behavior since metavariables are only constrained to be equal. What about the following approach? https://semgrep.dev/s/B6pv just setting pattern to:

[code]

[2021-10-05 23:18] #3987 closed, assigned to nobody

[2021-10-05 23:20] #3239 closed, assigned to nobody

[2021-10-05 23:20] #3231 closed, assigned to colleend

[2021-10-05 23:20] #3393 closed, assigned to nobody

[2021-10-05 23:20] #2551 closed, assigned to nobody

[2021-10-06 06:22] jozseftiborcz opened #4002 "java catch statement with wildcard matching doesn't work"
I tried to write a rule to find empty catch statements in java.
Here is the code:  https://semgrep.dev/s/y1Gk
The rule again:
[code]

If I replace wildcard with exact exception type in catch statement it works.

[2021-10-06 06:24] r2c-demo commented on #4002
This issue is synced in Linear at https://linear.app/r2c/issue/PA-444/java-catch-statement-with-wildcard-matching-doesnt-work.

[2021-10-06 07:58] #4002 closed, assigned to aryx

[2021-10-06 08:00] IagoAbal commented on #2859
This is another case for symbolic propagation.

[2021-10-06 20:59] directionless opened #4010 "semgrep-ci should only scan the sections of the file applicable to the diff"
**Is your feature request related to a problem? Please describe.**

When adding semgrep to a large code base, it is desirable to only scan the things a PR changes, and not the whole code base. This lowers the friction to adoption. (I believe this is part of why semgrep-ci / semgrep-agent exist)

However, as I understand status quo, they appear to operate on the entire file that's been changed. In

[2021-10-06 21:00] r2c-demo commented on #4010
This issue is synced in Linear at https://linear.app/r2c/issue/PA-445/semgrep-ci-should-only-scan-the-sections-of-the-file-applicable-to-the.

[2021-10-07 04:10] #3965 closed, assigned to mjambon

[2021-10-08 06:37] #3439 closed, assigned to nobody

[2021-10-08 08:56] IagoAbal commented on #1849
We need to decide on a priority for this and maybe add it to Q4 plan if needed.

[2021-10-08 17:37] dlukeomalley commented on #4010
@directionless - **Semgrep CI only surfaces findings introduced in the PR**. You're right that it scans the whole changed file, twice! The file is scanned at the base commit of the PR, then at HEAD, and the results are compared. Findings that did not exist at the base commit are then surfaced to the developer. The benefit of this approach is that security issues may exist in the file outside of th

[2021-10-08 23:22] jozseftiborcz opened #4030 "@interface in pattern matching doesn't work"
https://semgrep.dev/s/Pbve

[2021-10-08 23:22] r2c-demo commented on #4030
This issue is synced in Linear at https://linear.app/r2c/issue/PA-473/interface-in-pattern-matching-doesnt-work.

[2021-10-09 03:42] ievans commented on #4030
@jozseftiborcz thanks for reporting. What's the priority of this to you? Is it blocking using Semgrep further, something that should get fixed routines, or a minor annoyance?

[2021-10-09 19:05] jozseftiborcz commented on #4030
I have a workaround for this: searching for interface without @. So it is prio3.

[2021-10-11 15:30] brendongo commented on #3991
@timhemel can you confirm the above pattern works for your use case?

[2021-10-11 19:12] brendongo opened #4036 "Correctly Tag Pypi Releases for alpine"
We currently tag our linux pypi release with `any` platform since we want the wheel to be downloaded with alpine and manylinux platforms and there was no way at the time to tag an alpine platform.

Since then there is now a musllinux tag https://www.python.org/dev/peps/pep-0656/

We can have the wheel be uploaded as both a manylinux and a musllinux wheel and we should have the following outcomes:

[2021-10-11 19:14] brendongo commented on #4036
If not too difficult should also look into publishing a macosx_11_0_arm64 wheel (and a macosx 11 intel wheel)

[2021-10-11 19:14] r2c-demo commented on #4036
This issue is synced in Linear at https://linear.app/r2c/issue/PA-474/correctly-tag-pypi-releases-for-alpine.

[2021-10-11 20:52] ben-elttam opened #4037 "[C] sizeof(...) not supported"
https://semgrep.dev/s/0yXW

Semgrep complains about the rule syntax not being valid C, when trying to match a function.

[2021-10-11 20:53] r2c-demo commented on #4037
This issue is synced in Linear at https://linear.app/r2c/issue/PA-475/semgrepdev-bug-report.

[2021-10-11 21:26] ben-elttam opened #4038 "[C][Metachecker] Expression statement pattern with sizeof not matching expressions with sizeof"
**Describe the bug**
Semgrep C matching is inconsistent in finding `sizeof`.

**To Reproduce**
Steps to reproduce the behavior:

* https://semgrep.dev/s/ben-elttam:c-sizeof  (finds all instances)
* https://semgrep.dev/s/ben-elttam:c-sizeof2 (doesn't find any instances)

I am running 0.68.2 locally and the behaviour is slighly different. I couldn't reproduce on semgrep.dev though.

Also changing th

[2021-10-11 21:27] r2c-demo commented on #4038
This issue is synced in Linear at https://linear.app/r2c/issue/PA-476/semgrep-c-inconsistent-matching-of-sizeof.

[2021-10-11 23:29] yawpitch opened #4039 "[Python] Several parsing errors with Python 3.9"
The following minimal examples all fail to parse with Syntax Error, but are valid in Python 3.9.

1. package relative import

[code]

2. f-strings with # alt modifier

[code]

3. f-string with a nested bang cast

[code]

4. use of the in-place matmul operator

[code]

5. lambda with keyword-only arguments

[code]

6. [PEP-614](https://www.python.org/dev/peps/pep-0614/) decorators

[code]

7. Use o

[2021-10-11 23:30] r2c-demo commented on #4039
This issue is synced in Linear at https://linear.app/r2c/issue/PA-477/[python]-several-parsing-errors-with-python-39.

[2021-10-12 09:27] aryx commented on #4038
You had an extra semicolon in your pattern, so it will match only at the stmt level.
Try https://semgrep.dev/s/y13Z

[2021-10-12 11:12] aryx commented on #3897
I would add
3. provide a way to see parsing regressions for contributors.

This is super important. I recently had to revert a few PRs on a tree-sitter repo because those PRs were introducing big regressions.

[2021-10-12 12:07] #4037 closed, assigned to aryx

[2021-10-12 13:05] #4030 closed, assigned to aryx

[2021-10-12 13:09] timhemel commented on #3991
Thanks @ievans, @brendongo. Looks like that pattern works. In fact it is even better, because with three nested classes, the pattern-inside construction would also report class C to be inside class A, even if there is a class B in between.

Although mathematically a pattern is contained in itself, in practice it is a bit counter-intuitive. Especially since I also have a rule that wants to detect u

[2021-10-12 13:11] timhemel commented on #3991
One other thing: the finding's line number will be that of the outside class, not the inside class. This would make it difficult to locate the inside class.

[2021-10-12 15:58] #3832 closed, assigned to nobody

[2021-10-12 16:09] ben-elttam commented on #4038
Thanks @aryx for pointing out the `;`.

On my localhost I didn't have a `;`. I had made a mistake when minimising the test case for the bug report.

Here is a more complete example, it should match two separate lines but it reports two matches both for line 18.
https://semgrep.dev/s/ben-elttam:c-sizeof3

Running this with returntocorp/semgrep:develop (Digest: sha256:475d6ae1f068f88c3e2ef8d9ea54b9a

[2021-10-12 17:57] ben-elttam commented on #4038
Thanks for the quick fix @aryx

[2021-10-12 17:57] #4038 closed, assigned to nobody

[2021-10-12 17:58] ben-elttam commented on #4037
Confirmed it works as expected in returntocorp/semgrep:develop (Digest: sha256:475d6ae1f068f88c3e2ef8d9ea54b9af01ad258c75d5df00c115be48c3744714)

[2021-10-12 23:21] minusworld opened #4050 "Hacktoberfest at semgrep-rules! 👻"
Contribute security rules for everyone to use! Check out the Hacktoberfest project at https://github.com/returntocorp/semgrep-rules/blob/develop/HACKTOBERFEST2021.md.

[2021-10-12 23:22] r2c-demo commented on #4050
This issue is synced in Linear at https://linear.app/r2c/issue/PA-478/hacktoberfest-at-semgrep-rules-👻.

[2021-10-12 23:33] mjambon commented on #3897
Yes, this would be nice to have but also it looks like we'd need branch-specific runs (pre-merge), which would work best as GitHub-triggered, per-repo CI rather than a centralized scanner that runs periodically.

There are several advantages to running a centralized system for scanning external repos:
* no need for each project's cooperation.
* less work for each project maintainer.
* creates ince

[2021-10-13 07:23] aryx commented on #3988
Is there anything we need to do @mjambon ? Your fix is enough?

[2021-10-13 07:29] aryx opened #4053 "[Go] import "crypto/$ALGO" does not work"
https://semgrep.dev/s/GOoe

[2021-10-13 07:31] r2c-demo commented on #4053
This issue is synced in Linear at https://linear.app/r2c/issue/PA-479/[go]-import-cryptodollaralgo-does-not-work.

[2021-10-13 08:21] mjambon commented on #3988
@aryx I don't understand the context in which this regexp matching occurs. I vaguely heard/remember that the user was complaining that this exception was killing the whole semgrep job. I haven't checked myself. It would be good to ensure that this error is limited to just the target being parsed or matched.

[2021-10-13 09:17] #3862 closed, assigned to mjambon

[2021-10-13 09:52] mjambon opened #4055 "[Bash] find a way to match commands with unordered arguments"
For best results when searching for the invocation of a command with certain arguments, we need an easy way to describe the syntax of many popular commands. A simple example is the `set` command:
[code]
which is equivalent to
[code]
or even
[code]
and we want to search for `set -e`, which should match the 3 examples above.

We may also want to search for a single command with two specific options

[2021-10-13 09:54] r2c-demo commented on #4055
This issue is synced in Linear at https://linear.app/r2c/issue/PA-480/bash-find-a-way-to-match-commands-with-unordered-arguments.

[2021-10-13 10:02] aryx commented on #4055
How does shellcheck do it or other shell linter do it?

[2021-10-13 10:04] aryx commented on #4055
Matching arguments in any order would be a good start I think.

[2021-10-13 10:04] aryx commented on #4055
The -ueo equivalences we can do later.

[2021-10-13 10:06] aryx commented on #4055
In theory we could do like zsh which provides autocompletion.
Maybe they analyze the man pages and build some database about each command to understand the semantic of those
arguments.
Eshell in emacs does something similar with its pcomplete library.
@nbrahms is a fan of Zsh, maybe he knows more about the autocomplete magic in zsh.

[2021-10-13 10:16] aryx commented on #4053
At least we should warn the user in the metachecker

[2021-10-13 10:19] aryx commented on #3991
You can have another pattern that matches class $B, that way it will report only that.

[2021-10-13 10:20] aryx commented on #3991
Like this: https://semgrep.dev/s/18vl/

[2021-10-13 10:20] #3991 closed, assigned to nobody

[2021-10-13 11:12] #3981 closed, assigned to aryx

[2021-10-13 12:40] aryx commented on #4053
origin: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1634073785155300

[2021-10-13 12:48] aryx commented on #3855
This might work better now thx to https://github.com/returntocorp/semgrep/pull/4057

[2021-10-13 12:49] aryx commented on #3855
A bit related to https://github.com/returntocorp/semgrep/issues/3825

[2021-10-13 13:04] #3748 closed, assigned to nobody

[2021-10-13 13:09] dee-see commented on #2874
Same as last time :) https://github.com/returntocorp/semgrep/issues/2874#issuecomment-877877952

[2021-10-13 13:46] #3821 closed, assigned to aryx

[2021-10-13 15:20] ievans commented on #2874
yes, please keep open. this is at least a bit easier now I think now that more logic has moved into the Ocaml core

[2021-10-13 15:49] vr333dev opened #4060 "Vulnerability disabled in sast-rulest.toml is still scanned by semgrep-sast job"
Hello, please see description of the issue in this Gitlab ticket: https://gitlab.com/gitlab-org/gitlab/-/issues/332636
We are hoping there is a way to disable certain issues from being scanned, in Gitlab pipelines.

Thanks

Vlad

[2021-10-13 15:50] r2c-demo commented on #4060
This issue is synced in Linear at https://linear.app/r2c/issue/PA-481/vulnerability-disabled-in-sast-rulesttoml-is-still-scanned-by-semgrep.

[2021-10-13 16:14] aryx commented on #4037
works now: https://semgrep.dev/s/0yXW?version=0.69.0

[2021-10-13 16:16] aryx commented on #4030
works now: https://semgrep.dev/s/Pbve?version=0.69.0

[2021-10-13 16:32] nbrahms commented on #4055
My suggestion:

Most bash programs follow a similar convention; _viz._, options groups are equivalent to individual options. So we could transpile:
[code]
to
[code]
which should work for most commands. Note that we'd also need to treat these options as order-independent when they start with a `-`.

So the generated AST for this example should look like:

[code]

Of course, there's no guarantee tha

[2021-10-13 16:37] nbrahms commented on #4055
I wonder if we can leverage the type system here?

So a pattern like
[code]
would be transpiled and interpreted as above.

Although how do you distinguish between `o` as a unary option, and `o` as a nullary flag? Maybe you have to parameterize the type?
[code]
... gets complicated

Whereas something like:
[code]
would not get transpiled

[2021-10-13 19:59] nbrahms commented on #4055
I think it hardcodes checkers for each command: https://github.com/koalaman/shellcheck/blob/master/src/ShellCheck/Checks/Commands.hs

For `set` specifically: https://github.com/koalaman/shellcheck/blob/master/src/ShellCheck/Checks/ShellSupport.hs#L288

[2021-10-13 20:05] stephencsnow opened #4061 "Rule still runs against file even if languages filter does not apply"
**Describe the bug**
My rules which are only supposed to run against `language: [python]` files execute against a non-python file.

On its own not too bad, but I ran into a parsing error which caused pre-commit to error out.

**To Reproduce**

Rule:
[code]

[code]

Intentionally omitting the contents of `some_file.sh`, but the rules will get run for any shell file, even if a parse error is not rai

[2021-10-13 20:06] r2c-demo commented on #4061
This issue is synced in Linear at https://linear.app/r2c/issue/PA-482/rule-still-runs-against-file-even-if-languages-filter-does-not-apply.

[2021-10-13 21:54] mjambon commented on #4061
The workaround here is to pass the `--skip-unknown-extensions` flag on the semgrep command line.

The default behavior you're observing is, um, intentional. Here's what's happening:
* target files passed directly on the command line are considered "explicit targets", unlike files discovered by scanning folders.
* explicit targets are not filtered out unless their extension is known to semgrep.
* i

[2021-10-13 22:11] brendongo commented on #4061
+1 on the workaround for now

I think the reason we have it the current way (an extension we don't have coded into semgrep (say .foo) is treated as unknown and unknown extensions are by default not ignored) is that we wanted default behavior of `semgrep --pattern <blah> --lang python something.foo` to scan something.foo with the python pattern since the user explicitly wanted it scanned.

This was

[2021-10-13 22:56] mjambon commented on #4061
@brendongo I suggest extending the meaning of the `--lang` option so as to allow arbitrary files to be treated as being in that language.

Currently, `--lang` is limited to this:
[code]
Instead, I would change it to:
[code]

[2021-10-13 23:32] emjin commented on #1489
Small change: instead of `pattern: $PATTERN`, can we interpret strings as patterns by default?

[2021-10-14 00:06] briankassouf opened #4063 "ValueError: invalid width 0 (must be > 0) Exception"
**Describe the bug**
Latest version (0.69.0) results in a raised exception:

[code]

**Expected behavior**
This error was not present on earlier versions

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P2: regular bug that should get fixed

**Environment**
alpine:3.13 container on CircleCI

[2021-10-14 00:06] r2c-demo commented on #4063
This issue is synced in Linear at https://linear.app/r2c/issue/PA-483/valueerror-invalid-width-0-must-be-0-exception.

[2021-10-14 02:55] inkz commented on #2728
:wave:

[2021-10-14 06:45] mjambon commented on #4055
When we match the arguments in any order, the presence of one or more ellipsis would mean "extra arguments are allowed anywhere". The pattern
[code]
would be interpreted as
[code]
A target program
[code]
would be interpreted as
[code]

[2021-10-14 09:28] aryx commented on #1489
yes, that's what I have in the new_formula parsing:
https://github.com/returntocorp/semgrep/blob/develop/semgrep-core/tests/OTHER/rules/negation_ajin_orig_jsonnet

[2021-10-14 16:57] aryx opened #4067 "[Go] import (... "foo" ...) not supported"
https://semgrep.dev/s/5DjK

Origin: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1634223904167800

We actually don't need the ellipsis, import ("foo") should work too,
but we should also allow the (redundant) ellipsis.

[2021-10-14 16:58] r2c-demo commented on #4067
This issue is synced in Linear at https://linear.app/r2c/issue/PA-494/[go]-import-foo-not-supported.

[2021-10-14 22:28] minusworld opened #4070 "[JS] Template strings not considered as taint sink"
**Describe the bug**
It looks like JavaScript template strings, such as `<h1>${greeting}</h1>` are not considered as a sink in taint mode.

**To Reproduce**
See https://semgrep.dev/s/WpwZ. There is a pattern (listed below) that is not highlighted.
[code]

**Expected behavior**
The template string in this example to be highlighted with the above rule.

[code]

**What is the priority of the bug to y

[2021-10-14 22:30] r2c-demo commented on #4070
This issue is synced in Linear at https://linear.app/r2c/issue/PA-495/[js]-template-strings-not-considered-as-taint-sink.

[2021-10-14 22:37] minusworld opened #4071 "[JS] Parse error with metavariables in strings and duplicate lines"
**Describe the bug**
I'm not really sure where to begin describing this bug, so here are bunch of semgrep.dev links instead! 😛

- https://semgrep.dev/s/KX7Y - original observed error
- https://semgrep.dev/s/qYdb - works with ellipsis
- https://semgrep.dev/s/lZ86 - works when I remove line 32 in the source code

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgre

[2021-10-14 22:38] r2c-demo commented on #4071
This issue is synced in Linear at https://linear.app/r2c/issue/PA-496/[js]-parse-error-with-metavariables-in-strings-and-duplicate-lines.

[2021-10-14 22:40] minusworld opened #4072 "[JS] Ability to use metavariables in template strings"
**Is your feature request related to a problem? Please describe.**
I want to be able to use metavariables in JS template strings so that I can use a ` - metavariable-*` clause on them.

This works already with Python format strings: https://semgrep.dev/s/Y895
But does not work with JS template strings: https://semgrep.dev/s/N1JA

Priority: P1

[2021-10-14 22:42] r2c-demo commented on #4072
This issue is synced in Linear at https://linear.app/r2c/issue/PA-497/[js]-ability-to-use-metavariables-in-template-strings.

[2021-10-15 07:37] aryx commented on #3539
:wave:

[2021-10-15 13:17] #4067 closed, assigned to aryx

[2021-10-15 13:24] aryx commented on #4063
Can you narrow it down to a single file so we can try to reproduce locally. Can you share the offending file?
Can you run semgrep with --debug and copy-paste the trace?

[2021-10-15 17:08] clintgibler opened #4078 "HTML Support"
**Is your feature request related to a problem? Please describe.**
It'd be nice to have native HTML support in Semgrep. For simple things, generic mode is mostly sufficient, but in some cases rules would have fewer false positives if there was full HTML support.

Also, periodically I find myself writing scrapers for some site. I think to myself - why am I writing code (e.g. using BeautifulSoup or

[2021-10-15 17:09] r2c-demo commented on #4078
This issue is synced in Linear at https://linear.app/r2c/issue/PA-498/html-support.

[2021-10-15 20:03] briankassouf commented on #4063
After digging some more I realized prior to upgrading the output had this message:

[code]

We apparently had a syntax error in a Go file that was not being compiled (due to build flags). Semgrep 0.69.0 appears to panic while trying to report `found problems analyzing 2 files; ...`

For context the syntax error looked like (note the extra parenthesis at the end):

[code]

[2021-10-16 11:08] mjambon opened #4080 "-fast skips a target that it shouldn't (bash)"
I'm not getting matches with `-fast` for bash:

[code]
^ The last command should return a match.

Here's the pattern's AST:
[code]

I guess the problem is due to the artificial function call `!sh_cmd!` that was introduced, and since it's not found in the raw source code, `-fast` assumes that the pattern won't match anything. Of course, `!sh_cmd!` also exists in the target AST but not in the target

[2021-10-16 11:08] r2c-demo commented on #4080
This issue is synced in Linear at https://linear.app/r2c/issue/PA-503/-fast-skips-a-target-that-it-shouldnt-bash.

[2021-10-16 22:02] mjambon commented on #4080
Maybe we should introduce a new kind of `special` ID:
[code]

[2021-10-18 08:43] aryx opened #4082 "[Java] ... in method calls require at least one elt, but inconsistent with other ..."
See https://semgrep.dev/s/nKYd/

origin: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1634326837179000

[2021-10-18 08:44] r2c-demo commented on #4082
This issue is synced in Linear at https://linear.app/r2c/issue/PA-504/[java]-in-method-calls-require-at-least-one-elt-but-inconsistent-with.

[2021-10-18 09:00] aryx opened #4083 "[Internal] ocamldebug does not work anymore on semgrep Main.bc"
Get some Fatal error: debugger does not support channel locks

[code]

[2021-10-18 09:02] r2c-demo commented on #4083
This issue is synced in Linear at https://linear.app/r2c/issue/PA-505/[internal]-ocamldebug-does-not-work-anymore-on-semgrep-mainbc.

[2021-10-18 10:42] #4082 closed, assigned to aryx

[2021-10-18 10:58] aryx commented on #4078
there is actually preliminary support for HTML with tree-sitter-html. I never took the time to finish though but there are a few tests in semgrep-core/tests/html/

[2021-10-18 19:02] #3773 closed, assigned to emjin

[2021-10-19 04:10] emjin opened #4087 "Constant propagation doesn't understand array destructuring"
In the following code, `imageOrNull` is set.

[code]

However, semgrep does not realize this, so `$X == $X` matches.

https://semgrep.dev/s/zxAP/

[2021-10-19 07:01] #4080 closed, assigned to aryx

[2021-10-19 15:45] #2890 closed, assigned to nobody

[2021-10-19 16:28] squaresurf commented on #3043
I'm sorry for abandoning this. Now that I think back to what I was doing I think there is a good chance that I was running into something similar to a OOM issue like @corrydiehl. That being said, I haven't been running my profiler anymore and have moved onto other pressing things. #3044 will likely be very helpful for others that encounter issues like this.

[2021-10-19 16:58] mmcqd opened #4091 "Constant propagation happening mistakenly after try/catch"
**Describe the bug**
When a variable is reassigned inside of a catch block, which follows a try block ending in returning a statement which might throw an exception, which itself is inside some other block (while,if,etc.), constant propagation mistakenly thinks the variable is never reassigned, and this causes pattern like `$X == $X` to be matched when they should not.

**To Reproduce**
https://se

[2021-10-19 17:52] emjin commented on #4087
Full output:

[code]

[2021-10-20 01:19] #3480 closed, assigned to nobody

[2021-10-20 01:32] emjin commented on #1340
So I took a look...I don't think `exemptLabels` is a thing? Assuming https://github.com/actions/stale is the correct reference. Edit: nvm this seems to be a different stalebot. And more to the point, checked the date on this 🤦. I was confused because I thought I had seen issues labelled bug be marked stale, but they are not. Not sure if this is the correct behavior though?

[2021-10-20 02:24] #3863 closed, assigned to nobody

[2021-10-20 02:25] mjambon commented on #3865
not doing anything about globbing for now.

[2021-10-20 02:25] #3865 closed, assigned to nobody

[2021-10-20 02:26] #3866 closed, assigned to nobody

[2021-10-20 02:26] #3867 closed, assigned to nobody

[2021-10-20 02:26] #3868 closed, assigned to nobody

[2021-10-20 07:31] aryx commented on #2986
This was actually done @mmcqd right?

[2021-10-20 15:19] chasemp commented on #4036
Just reporting in on desire for this, currently on M1 (ARM) MacBook and pip comes with binaries for x86/AMD unfortunately.  I can use macports but the version there is quite stale.  Thanks for all you folks do.

[2021-10-20 16:33] ievans commented on #2874
ugh stale bot buggy again

[2021-10-20 17:21] ievans opened #4103 "--config=auto detects wrong project URL"
**Describe the bug**
The --config=auto mode detects the project of the current working directory, not the project in the target repository.

**Expected behavior**
--config=auto should detect the project URL of the target specified, and possibly enforce that only a single  path target is supplied.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow

[2021-10-20 17:28] ievans opened #4104 "keep --quiet output silent"
**Describe the bug**
Some non-core output, including the metrics notice, is printed even with `--quiet`. We should add a test to make sure that the --quiet flag supresses everything except findings ouptut.

**To Reproduce**
Run a fresh semgrep install with the `--quiet` flag.

**Expected behavior**
Only findings output is reported. If there are no findings, there is no output.

**What is the prior

[2021-10-20 18:12] IagoAbal commented on #2986
That's right, PR #3925 closes this.

[2021-10-20 18:12] #2986 closed, assigned to IagoAbal

[2021-10-20 20:59] nbrahms commented on #1489
I'd argue against interpreting strings as patterns, and follow New Jersey style:

[2021-10-20 22:05] jtormey commented on #3698
In case there's opportunity to learn from prior work, Elixir has an open source static analysis tool called [Credo](https://github.com/rrrene/credo). I haven't had much of a chance to work with it, but thought it might be worth mentioning here 🙂

[2021-10-20 23:50] brendongo commented on #4061
Internally the --lang is used the same way as the language field in a rule.yaml (--pattern and --lang actually just help us create a yaml file then we handle it the same way as if a yaml rule was passed). I think it's easier to grasp what's happening if behavior is the same. Does it make sense for language field in a rule to behave this way too?

[2021-10-20 23:57] brendongo commented on #3557
Closing as cannot reproduce

[2021-10-20 23:57] #3557 closed, assigned to brendongo

[2021-10-21 00:16] #4063 closed, assigned to nbrahms, brendongo

[2021-10-21 00:21] brendongo commented on #4063
@briankassouf I made a PR fixing the Invalid width exception.

re the syntax error: it sounds like it was actually invalid go code and seems unrelated to the bug above? This bug should be fixed in the next release next week let us know if it isn't!

[2021-10-21 00:54] #2957 closed, assigned to brendongo

[2021-10-21 01:33] brendongo commented on #3623
Got something working by using preexec_fn in subprocess. https://stackoverflow.com/questions/1689505/python-ulimit-and-nice-for-subprocess-call-subprocess-popen will follow up with PR soon

[2021-10-21 06:48] mjambon commented on #4061
Maybe what I suggested should be called something else, then, like `--assume-lang`.

[2021-10-21 06:55] aryx commented on #3623
Nice!

[2021-10-21 07:01] aryx commented on #3698
Oh good news, seems like there is now an official tree-sitter-elixir! https://github.com/elixir-lang/tree-sitter-elixir

[2021-10-21 07:02] aryx commented on #3698
It's maintained by the elixir team itself!

[2021-10-21 07:06] aryx commented on #3698
@fpmosley just following https://semgrep.dev/docs/contributing/adding-a-language/ and using the official repo  https://github.com/elixir-lang/tree-sitter-elixir should be already a good start!

[2021-10-21 11:52] fpmosley commented on #3698
@aryx Fantastic! I'll swap in the official tree-sitter-elixir repo and resume my testing. I'm already setup from testing out the two non-official ones so I should be able to get this done pretty quickly (probably in the next day or so).  I'll let you know how it goes.

[2021-10-21 19:35] jozseftiborcz opened #4115 "Typescript catch statement matching doesn't work"
test case: https://semgrep.dev/s/gYPy
If I remove the catch part from the pattern it works.

[2021-10-21 19:56] jozseftiborcz opened #4116 "Typescript decorator on class doesn't work"
Test case: https://semgrep.dev/s/Q9xx
Without the @Path line in the pattern it matches.

[2021-10-21 21:47] minusworld opened #4117 "[Bash] metavariable-* clauses are not capturing everything"
**Describe the bug**
When using `metavariable-pattern`, it seems that not everything matched by the specified metavariable is considered. It looks like the metavariable is captured correctly, but it doesn't get considered in `metavariable-pattern` (or `metavariable-regex`).

**To Reproduce**

~~Since there's no Bash on semgrep.dev yet, here are the relevant files.~~

https://semgrep.dev/s/8gog

Th

[2021-10-21 23:39] brendongo commented on #3623
Note when above PR is merged some users might still run into stack exhaustion / overflow if they run semgrep with sufficiently low hard limit for the stack. So for future people who get to this ticket still, the fix will still be to increase the hard limit using `ulimit -s`

[2021-10-22 00:59] mjambon opened #4121 "bash: fix string concatenation"
The following should return a match:
[code]

[2021-10-22 06:32] #4121 closed, assigned to mjambon

[2021-10-22 15:27] jozseftiborcz opened #4129 "Typescript: template string matching cuts trailing two characters"
https://semgrep.dev/s/kr3z

[2021-10-22 16:16] jtormey commented on #3698
Elixir v1.13 has some incredible tooling improvements that should help with projects like this 👏🏻

https://github.com/elixir-lang/elixir/blob/master/CHANGELOG.md

[2021-10-22 16:19] aryx commented on #3698
Well their official support and taking over tree-sitter-elixir is all that we needed.

[2021-10-22 16:33] aryx commented on #3269
new request for this here: https://r2c-community.slack.com/archives/C018NJRRCJ0/p1634870780017000

[2021-10-22 20:54] emjin commented on #3598
Created https://linear.app/r2c/project/clean-up-semgrep-core-cli-87d31ab2eaa8/PA for this.

[2021-10-22 20:56] emjin commented on #3537
It fails quite early on in the medium benchmarks. Last checked: failed at django

[2021-10-22 20:59] brendongo commented on #4060
Hi @vr333dev we don't have control over gitlab pipeline rules and gitlab finding silencing. You might be able to ignore that line by placing a nosem comment https://semgrep.dev/docs/ignoring-findings/ or switching over to using the semgrep-action https://semgrep.dev/docs/semgrep-ci/overview/ that has more rule customization options.

[2021-10-22 21:35] #4104 closed, assigned to nobody

[2021-10-22 21:36] #3623 closed, assigned to brendongo

[2021-10-22 21:57] LewisArdern opened #4130 "Warning Improvement For CLI Due to missing EOF"
**Describe the bug**
If there is no space at the end of the file, semgrep will fail to parse the rule, but the warning is not helpful to figure out what problem exists with the rule itself, for example:

Rule:
[code]
Semgrep.dev error:
[code]
Semgrep  --test folder

[code]

**To Reproduce**
Paste rule into semgrep playground see error

Save semgrep .yaml file
run semgrep --test folder
see error

*

[2021-10-22 22:35] brendongo commented on #4036
The macports version is not maintained by us. Would recommend the homebrew version for now til we make time for this

[2021-10-22 22:54] brendongo commented on #3782
I think this reveals a larger feature gap that the includes/excludes actually cannot target a single file in the top level without also acting as a wildcard for other files with the same name.

Maybe we should switch away from globmatching and just go with regex...

[2021-10-23 11:06] mjambon opened #4134 "AST_to_IL: eliminate List.nth call that raises an exception"
[On this line, there's a call to `List.nth`](https://github.com/returntocorp/semgrep/blob/33c52e4e60ad149b7d2a1e5b64a0f887cbca9769/semgrep-core/src/analyzing/AST_to_IL.ml#L894) which raised an exception on an empty list. I changed it to another exception in an upcoming branch (#4133) but the problem remains. To reproduce, create a ForIn header with an empty list of elements to iterate over. This o

[2021-10-23 21:22] parsiya opened #4135 "The advanced editor in the playground doesn't check the rules for empty values"
**Describe the bug**
The advanced rule editor on the Semgrep playground does not check if the rule has empty values. When we run such a rule, it never returns.

Interestingly, if you have such a rule and then switch to `Simple` and `Back` it's replaced with an empty line and returns an error (or works correctly).

**To Reproduce**

1. Go to https://semgrep.dev/s/parsiya:empty-value.
2. Switch to `

[2021-10-25 19:57] mmcqd commented on #4070
Closing because template strings are in fact considered as taint sinks. The bug was in the rule, not in Semgrep. Fixed rule is here: https://semgrep.dev/s/DzEj

[2021-10-25 19:57] #4070 closed, assigned to nobody

[2021-10-25 20:10] dgryski commented on #3387
This also happens with Go autofix: https://semgrep.dev/s/AX34

Notice how `[]byte{}` is turned into `[]byte` and `[]byte(data)` is turned into `[]byte(data`.

[2021-10-25 23:50] colleend opened #4140 "Kotlin pattern-parsing errors when using ellipsis and metavariables in parentheses"
**Describe the bug**
Kotlin patterns with `(..., $VAR, ...)` do not parse.

**To Reproduce**
https://semgrep.dev/s/lZ6j

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [X] P2: regular bug that should get fixed

[2021-10-26 00:08] colleend opened #4141 "[Kotlin] support ellipsis in class body"
**Describe the bug**
The Kotlin interface syntax (`class x: y {...}`) does not parse as a valid pattern.

**To Reproduce**
https://semgrep.dev/s/oYpN

**Expected behavior**
Would expect this pattern to parse.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [X] P2: regular bug that should get fixed

[2021-10-26 10:06] IagoAbal commented on #3882
I don't understand the issue with the time here. We have a quick benchmark suite that is blocking (you can't merge if it doesn't pass). But this one should not be blocking, right? You should be fine to merge even if the long benchmarks have not completed. And, if they fail, then you'll get some kind of notification and you can look into it later on. So you may want it to be more complete rather th

[2021-10-26 15:54] malexmave opened #4148 "Do not silently ignore files based on --max-target-bytes"
**Describe the bug**
Running a [simple semgrep rule](https://semgrep.dev/s/28O5) on a [massive package-lock.json file](https://github.com/secureCodeBox/documentation/blob/main/package-lock.json) results in no matches and no warnings. Running semgrep with --max-target-bytes 1000000000000000 (i.e., a ridiculously large limit) makes the rule match again. No error messages or warnings are printed in t

[2021-10-26 15:56] malexmave commented on #4148
Whoopsie, duplicate of #3235, closing this in favor of the other one.

[2021-10-26 15:56] #4148 closed, assigned to nobody

[2021-10-26 16:14] nbrahms commented on #4129
Hi @jozseftiborcz!

Thanks for the bug report. Could you tell us what priority this issue is to you? (Blocking you, hard to deal with, or just annoying?)

[2021-10-26 17:07] emjin commented on #3882
It's nice to have the green checkmark before merging imo

[2021-10-26 17:07] emjin commented on #3882
We should really be running the benchmarks in parallel though; that would probably allow us to run way more

[2021-10-26 17:26] jozseftiborcz commented on #4129
It is just annoying. Thanks!

[2021-10-26 18:55] mmcqd opened #4150 "Constant propagation does not understand synchronized construct"
**Describe the bug**
Constant propagation happens even if a variable is reassigned within a `synchronized` block.

**To Reproduce**
https://semgrep.dev/s/rYj0

**Expected behavior**
The returned expression in this function should not be matched.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [ ] P1: important to fix or quite annoying
- [x] P

[2021-10-26 19:21] stephencsnow opened #4151 "Bad settings format; please check or remove ...settings.yaml"
**Describe the bug**
Seeing this error in our github pre-commit action:

[code]

**To Reproduce**
We currently use [this github action](https://github.com/pre-commit/action). Only started seeing this error after 0.70.0 upgrade.

**Expected behavior**
Should not fail CI.

**What is the priority of the bug to you?**

- [ ] P0: blocking your adoption of Semgrep or workflow
- [x] P1: important to fix

[2021-10-26 21:43] emjin commented on #3621
Closing this now that we have a better message; the tarball is the only part that needs to be done

[2021-10-26 21:43] #3621 closed, assigned to nobody

[2021-10-26 22:10] #4087 closed, assigned to nobody

[2021-10-26 22:34] colleend commented on #4140
Another example of this is: https://semgrep.dev/s/krYK

[2021-10-26 22:38] #4072 closed, assigned to nobody

[2021-10-26 23:34] emjin opened #4153 "Running js file gives `Could not resolve label: _label`"
Run `./run-perf-suite` in `semgrep-core/perf`. Probably related to goto

See also: https://returntocorp.slack.com/archives/C01NXGX2EHZ/p1634923263018300

[2021-10-27 00:53] parsiya opened #4154 "Trailing semicolon is not matched for pattern `$VAR = ANYTHNG;` for `Type obj = anything;` statements"
**Describe the bug**
If we have statements in the form of `Type obj = something;` and we try to match it with `$C = whatever;` the trailing semicolon is not matched. But,  if you have `Type obj; obj = something;` then the match includes the semicolon.

It's easier to see it in the context of applying a fix. See https://semgrep.dev/s/parsiya:trailing-semicolon-c for C.
The pattern is `$VAR = $ANYTH